<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
</h:head>


<h:body>


<h:form>


<h:inputText id="nomeStudente" value="#{student.nome}" pt:placeholder="Inserisci il tuo nome"></h:inputText>
<h:inputText id="cognomeStudente" value="#{student.cognome}" pt:placeholder="Inserisci il tuo cognome"></h:inputText>


<h:commandButton value="submit" action="index-response"></h:commandButton>



</h:form>


</h:body>
</html>
