<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.business.enums.IntervalloDisabilitazioneEnum" var="intervalloEnum"  allSuffix="ALL_ENUM_VALUES"/>
	
	<p:panelGrid id="disabilitazione_panelGrid_STSCZ" styleClass="ui-panelgrid-blank"
		 layout="grid" columns="5" columnClasses="ui-grid-col-4, ui-grid-col-2 ui-fluid, ui-grid-col-2 ui-fluid, ui-grid-col-2 ui-fluid, ui-grid-col-2 ui-fluid">
		
		<p:panelGrid styleClass="ui-panelgrid-blank" layout="grid" columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8 ui-fluid">
			<p:outputLabel value="Posta elettronica" for="@next" styleClass="generic_textBold" />
			<p:selectOneMenu value="#{SottoscrizioniBean.disabilitazioneComponent.posta.intervallo}" >
				<p:ajax update="@parent" event="change" />
				<f:selectItems value="#{intervalloEnum.ALL_ENUM_VALUES}" var="fd" itemLabel="#{fd.nome}" />
			</p:selectOneMenu>
		</p:panelGrid>
		
		<p:outputLabel for="@next" value="Disabilitazione notifiche da" styleClass = "generic_textBold" />
       	<p:calendar styleClass="ui-inputgroup" navigator="true" value="#{SottoscrizioniBean.disabilitazioneComponent.posta.dataDa}" showOn="button"  
     		disabled="#{SottoscrizioniBean.disabilitazioneComponent.posta.intervallo ne intervalloEnum.INTERVALLO}"/>

		<p:outputLabel for="@next" value="Disabilitazione notifiche a" styleClass = "generic_textBold" />
       	<p:calendar styleClass="ui-inputgroup" navigator="true" value="#{SottoscrizioniBean.disabilitazioneComponent.posta.dataA}" showOn="button" 
		 	disabled="#{SottoscrizioniBean.disabilitazioneComponent.posta.intervallo ne intervalloEnum.INTERVALLO}"/>
		
		<p:panelGrid styleClass="ui-panelgrid-blank" layout="grid" columns="2" columnClasses="ui-grid-col-4, ui-grid-col-8 ui-fluid">
			<p:outputLabel value="Pannello notifiche" for="@next" styleClass = "generic_textBold" />
			<p:selectOneMenu value="#{SottoscrizioniBean.disabilitazioneComponent.applicativa.intervallo}">
						<p:ajax update="@parent" event="change" />
						<f:selectItems value="#{intervalloEnum.ALL_ENUM_VALUES}" var="fd" itemLabel="#{fd.nome}" />
			</p:selectOneMenu>
		</p:panelGrid>
	
		<p:outputLabel for="@next" value="Disabilitazione notifiche da" styleClass = "generic_textBold"/>
       	<p:calendar styleClass="ui-inputgroup" navigator="true" value="#{SottoscrizioniBean.disabilitazioneComponent.applicativa.dataDa}" showOn="button" 
	       	disabled="#{SottoscrizioniBean.disabilitazioneComponent.applicativa.intervallo ne intervalloEnum.INTERVALLO}"  />
	
		<p:outputLabel for="@next" value="Disabilitazione notifiche a" styleClass = "generic_textBold"/>
       	<p:calendar styleClass="ui-inputgroup" navigator="true" value="#{SottoscrizioniBean.disabilitazioneComponent.applicativa.dataA}" showOn="button" 
    	   	disabled="#{SottoscrizioniBean.disabilitazioneComponent.applicativa.intervallo ne intervalloEnum.INTERVALLO}" />

	</p:panelGrid>
	
</ui:composition>