<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:dataTable id="elencoSottoscrizioni_tbl" var="evento" value="#{SottoscrizioniBean.elencoTab.eventiSottoscrizioneDTH.masters}" rowKey="#{evento.idEvento}"
				 rows="5" paginator="#{fn:length(SottoscrizioniBean.elencoTab.eventiSottoscrizioneDTH.masters) gt 5}" rowsPerPageTemplate="5,10,15"
				 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 filteredValue="#{SottoscrizioniBean.elencoTab.eventiSottoscrizioneDTH.filteredMasters}"
				 emptyMessage="Nessun evento disponibile" paginatorAlwaysVisible="false" paginatorPosition="bottom"
				 styleClass="dataTable generic_textAlignCenter">
		<!-- selezione multipla -->
		<p:column id="selMultiCol_EventiSottoscrizioni" toggleable="false" styleClass="dtSelectAllColumn">
			<f:facet id="selMulti_eventiSottoscriz" name="header">
				<span class="fa fa-check-square-o datatable-select-allCol #{!SottoscrizioniBean.elencoTab.eventiSottoscrizioneDTH.checkAll?'hide':''}" onclick="updateAllCheckAllEventiSottoscrizioni()" title="Deseleziona tutti"/>
				<span class="fa fa-square-o datatable-select-allCol  #{SottoscrizioniBean.elencoTab.eventiSottoscrizioneDTH.checkAll?'hide':''}"  onclick="updateAllCheckAllEventiSottoscrizioni()" title="Seleziona tutti"/>
				<p:remoteCommand actionListener="#{SottoscrizioniBean.elencoTab.handleAllCheckBoxEventiSottoscrizioni}"
								 name="updateAllCheckAllEventiSottoscrizioni" update="elencoSottoscrizioni_tbl" process="@this"/>
            </f:facet>
	  		 <p:selectBooleanCheckbox id="singleSelect_eventiSottoscriz" title="#{evento.selected?'Deseleziona':'Seleziona'} evento #{evento.nomeEvento}" value="#{evento.selected}">
		  		 <p:ajax event="change" listener="#{SottoscrizioniBean.elencoTab.updateCheckEventiSottoscrizioni}" update="elencoSottoscrizioni_tbl" process="@this"/>
	  		 </p:selectBooleanCheckbox>
		</p:column>
		
		<p:column headerText="Tipo Evento" filterBy="#{evento.descrizioneCategoria}">
			<h:outputText value="#{evento.descrizioneCategoria}"/>
		</p:column>
		
		<p:column headerText="Evento" filterBy="#{evento.nomeEvento}">
			<h:outputText value="#{evento.nomeEvento}"/>
		</p:column>
		
		<p:column headerText="Descrizione" filterBy="#{evento.dettaglioEvento}">
			<h:outputText value="#{evento.dettaglioEvento}"/>
		</p:column>
		
		<p:column headerText="Canale">
			<p:selectOneMenu value="#{evento.canaleTrasmissione}" converter="omnifaces.SelectItemsConverter" autoWidth="false" styleClass="textfield_dropdown">
				<p:ajax event="change"/>
				<f:selectItems value="#{SottoscrizioniBean.elencoTab.canaliTrasmissione}" var="canale" itemLabel="#{canale.nome}" itemValue="#{canale}"/>
			</p:selectOneMenu>
		</p:column>
		
		<p:column headerText="Traccia">
			<p:selectOneMenu value="#{evento.tracciamento}" autoWidth="false" styleClass="textfield_dropdown">
				<p:ajax event="change"/>
				<f:selectItem itemLabel="Tutti" itemValue="0"/>
				<f:selectItem itemLabel="Singolo" itemValue="1"/>
			</p:selectOneMenu>
		</p:column>
	</p:dataTable>
</ui:composition>