<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputPanel styleClass="ui-g">
		<p:outputPanel styleClass="ui-g-2"></p:outputPanel>
		<p:outputPanel styleClass="ui-g-8">
			<p:dataTable value="#{SottoscrizioniBean.mailComponent.elementList}" var="mail" rowKey="id"	
						 scrollable="true" emptyMessage="Nessuna email inserita."
						 styleClass=" dataTable generic_maxHeight900px generic_textAlignCenter">
				
				<p:column headerText="Mail" styleClass="generic_width70" >
					<p:inputText placeholder="Inserire email" value="#{mail.data}" styleClass="textfield_input"/>
				</p:column>
				
				<p:column headerText="Modifica" styleClass="generic_width30" >
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-10 generic_marginTop5">
								<p:outputLabel value="Modifica" />
							</div>
							<div class="ui-g-2">
								<p:commandButton icon="fa fa-plus" title="Aggiungi mail"
									action="#{SottoscrizioniBean.mailComponent.addRow()}"
									process="@form:idTab_STSCZ:elencoSottoscrizioni_tab_STSCZ"
									update="@namingcontainer" />
							</div>
						</div>
					</f:facet>
					<p:commandButton  actionListener="#{SottoscrizioniBean.mailComponent.clearRow}" 
						process="@form:idTab_STSCZ:elencoSottoscrizioni_tab_STSCZ"
						update="@namingcontainer" icon="fa fa-eraser" title="Pulisci mail" />
					
					<p:commandButton icon="fa fa-close" title ="Elimina mail"
						actionListener="#{SottoscrizioniBean.mailComponent.removeRow}" ajax="true"
						process="@form:idTab_STSCZ:elencoSottoscrizioni_tab_STSCZ" 
						update="@namingcontainer" />
				</p:column>
				
			    <f:facet name="footer">
			      		Per sospendere la ricezione delle notifiche eventi, eliminare i contatti mail.
			    </f:facet>
			</p:dataTable>
		</p:outputPanel>
	<p:outputPanel styleClass="ui-g-2"></p:outputPanel>
	</p:outputPanel>
</ui:composition>