<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:outputPanel id="aPartireDaNGiorni_notifiche" styleClass="ui-g">
		<p:outputPanel styleClass="ui-g ui-g-6">
			<div class="ui-g-3">
				<p:outputLabel for="aPartireDa_select" value="A partire da" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-9 generic_nomarginLeft" >
				<p:selectOneMenu id="aPartireDa_select" value="#{SottoscrizioniBean.notificheTab.aPartireDaNgiorni}" >
					<p:ajax listener="#{SottoscrizioniBean.notificheTab.update}" update="notificheSottoscrizioni_tbl" />
					<f:selectItems value="#{SottoscrizioniBean.notificheTab.aPartireDa}" />
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g ui-g-6">
		</p:outputPanel>
	</p:outputPanel>
	<p:dataTable widgetVar="notificheDT" id="notificheSottoscrizioni_tbl" var="notifica" value="#{SottoscrizioniBean.notificheTab.notificheDTH.masters}"
				 selection="#{SottoscrizioniBean.notificheTab.current}" selectionMode="single" rowKey="#{notifica.idNotifica}" 
				 emptyMessage="Nessuna notifica" paginatorPosition="bottom" paginatorAlwaysVisible="false"
				 rows="5" paginator="#{fn:length(SottoscrizioniBean.notificheTab.notificheDTH.masters) gt 5}" rowsPerPageTemplate="5,10,15"
				 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 filteredValue="#{SottoscrizioniBean.notificheTab.notificheDTH.filteredMasters}"
				 styleClass="dataTable generic_textAlignCenter">
		<!-- Aggiorno il dettaglio dopo l'evento di selezione -->
		<p:ajax event="rowSelect" update="@form:idTab_STSCZ:idDettaglioNotifiche_STSCZ_content" oncomplete="calculateIframeHeight();$('#centralSectionForm\\:idTab_STSCZ\\:idNotifiche_STSCZ').show()"/>
		<p:ajax event="filter" oncomplete="unselectDatatable('notificheDT', 'centralSectionForm:idTab_STSCZ:idDettaglioNotifiche_STSCZ');"/>
		<p:ajax event="sort" oncomplete="unselectDatatable('notificheDT', 'centralSectionForm:idTab_STSCZ:idDettaglioNotifiche_STSCZ');"/>
		
		<!--  comandi tabella -->
		<f:facet id="tabActions_notificheSottoscrizioni" name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-6 generic_textAlignLeft">
					<p:commandButton icon="fa fa-check" value="Contrassegna Selezionati"
									 actionListener="#{SottoscrizioniBean.notificheTab.contrassegna}" title="Contrassegna"
									 disabled="#{fn:length(SottoscrizioniBean.notificheTab.notificheDTH.selectedMasters) le 0}"
									 update="notificheSottoscrizioni_tbl" process="@this"/>
					<p:commandButton icon="fa fa-remove" value="Rimuovi Selezionati"
									 actionListener="#{SottoscrizioniBean.notificheTab.rimuovi}" title="Rimuovi" 
									 disabled="#{fn:length(SottoscrizioniBean.notificheTab.notificheDTH.selectedMasters) le 0}"
									 update="notificheSottoscrizioni_tbl" process="@this" />
				</div>
				<div class="ui-g-6 generic_textAlignRight">
					<p:commandButton icon="fa fa-refresh" action="#{SottoscrizioniBean.notificheTab.update}"
									 title="Aggiorna" update="notificheSottoscrizioni_tbl" process="@this" />
				</div>
			</p:outputPanel>
		</f:facet>
		<!-- selezione multipla -->
		<p:column id="selMultiCol_notificheSottoscrizioni" toggleable="false" styleClass="dtSelectAllColumn">
			<f:facet id="selMulti_notificheSottoscrizioni" name="header">
				<span class="fa fa-check-square-o datatable-select-allCol #{!SottoscrizioniBean.notificheTab.notificheDTH.checkAll?'hide':''}" onclick="updateAllCheckAllNotificheSottoscrizioni()" title="Deseleziona tutti"/>
				<span class="fa fa-square-o datatable-select-allCol #{SottoscrizioniBean.notificheTab.notificheDTH.checkAll?'hide':''}"  onclick="updateAllCheckAllNotificheSottoscrizioni()" title="Seleziona tutti"/>
				<p:remoteCommand actionListener="#{SottoscrizioniBean.notificheTab.handleAllCheckBoxNotificheSottoscrizioni}"
								 name="updateAllCheckAllNotificheSottoscrizioni" update="notificheSottoscrizioni_tbl"  process="@this"/>
            </f:facet>
	  		 <p:selectBooleanCheckbox id="singleSelect_notificheSottoscrizioni" title="#{notifica.selected?'Deseleziona':'Seleziona'}" value="#{notifica.selected}" >
		  		 <p:ajax event="change" listener="#{SottoscrizioniBean.notificheTab.updateCheckNotificheSottoscrizioni}" update="notificheSottoscrizioni_tbl"/>
	  		 </p:selectBooleanCheckbox>
		</p:column>
		
		<p:column headerText="Data Evento" filterBy="#{notifica.dataEvento}">
			<h:outputText value="#{notifica.dataEvento}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:outputText>
		</p:column>
		
		<p:column headerText="Data Scadenza Doc" filterBy="#{notifica.dataScadenzaDocumento}">
			<h:outputText value="#{notifica.dataScadenzaDocumento}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:outputText>
		</p:column>
		
		<p:column headerText="Tipologia notifica" filterBy="#{notifica.descrizioneEvento}">
			<h:outputText value="#{notifica.descrizioneEvento}" />
		</p:column>
		
		<p:column headerText="ID Documento" filterBy="#{notifica.numeroDocumento}">
			<h:outputText value="#{notifica.numeroDocumento}" />
		</p:column>
		
		<p:column headerText="Oggetto" filterBy="#{notifica.oggettoDocumento}">
			<h:outputText value="#{SottoscrizioniBean.getShortColumn(notifica.oggettoDocumento,30)}" title="#{notifica.oggettoDocumento}"/>
		</p:column>
		
		<p:column id="actionColumn_notifiche" headerText="Azioni" styleClass="buttonsDiv buttonsLayout generic_width8perc">
			<p:commandButton icon="fa fa-bell" actionListener="#{SottoscrizioniBean.notificheTab.contrassegnaSingolo}" title="Contrassegna come letto" 
				rendered="#{notifica.visualizzato eq 0}" update="notificheSottoscrizioni_tbl" process="@this"/>
			<p:commandButton icon="fa fa-bell-o" title="Letto" rendered="#{notifica.visualizzato eq 1}" process="@this"/>
			<p:commandButton icon="fa fa-remove" actionListener="#{SottoscrizioniBean.notificheTab.rimuoviSingolo}" title="Rimuovi" update="@this, notificheSottoscrizioni_tbl" process="@this"/>
		</p:column>
	</p:dataTable>
	
</ui:composition>