<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dataTable var="pt"
				 filteredValue="#{SottoscrizioniBean.tracciatiTab.filteredMasters}"
				 selection="#{SottoscrizioniBean.tracciatiTab.current}" selectionMode="single" rowKey="#{pt.data.idDocumento}"
				 value="#{SottoscrizioniBean.tracciatiTab.masters}"
				 emptyMessage="Nessun procedimento presente"
				 rows="5" paginator="#{fn:length(SottoscrizioniBean.tracciatiTab.masters) gt 5}" rowsPerPageTemplate="5,10,15" paginatorPosition="bottom" paginatorAlwaysVisible="false"
				 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 widgetVar="tracciati_table_STSCZ" styleClass="generic_textAlignCenter">
		
		<p:ajax event="rowSelect" update="@form:idTab_STSCZ:idDettaglioProcedimento_STSCZ_content" oncomplete="calculateIframeHeight();$('#centralSectionForm\\:idTab_STSCZ\\:idProcedimenti_STSCZ').show();" process="@this"/>
		<p:ajax event="filter" oncomplete="unselectDatatable('tracciati_table_STSCZ', 'centralSectionForm:idTab_STSCZ:idDettaglioProcedimento_STSCZ');"/>
		<p:ajax event="sort" oncomplete="unselectDatatable('tracciati_table_STSCZ', 'centralSectionForm:idTab_STSCZ:idDettaglioProcedimento_STSCZ');"/>
		
		<p:column styleClass="dtSelectAllColumn">
			<f:facet name="header">
				<span class="fa fa-check-square-o datatable-select-allCol #{! SottoscrizioniBean.tracciatiTab.allSelected ?'hide':''}"
					onclick="selectAll()" title="Deseleziona tutti" />
				<span class="fa fa-square-o generic_padding4 datatable-select-allCol #{ SottoscrizioniBean.tracciatiTab.allSelected ?'hide':''}"
					onclick="selectAll()" title="Seleziona tutti" />
				<p:remoteCommand
					actionListener="#{SottoscrizioniBean.tracciatiTab.selectAll}"
					name="selectAll" update="@namingcontainer" process="@this"/>
			</f:facet>
			<p:selectBooleanCheckbox
				title="#{pt.selected?'Deseleziona':'Seleziona'}"
				value="#{pt.selected}">
				<p:ajax event="change" update="@namingcontainer" />
			</p:selectBooleanCheckbox>
		</p:column>

		<p:column filterBy="#{pt.data.numeroDocumento}" styleClass="generic_width100px"
			headerText="ID Documento" filterMatchMode="contains">
			<h:outputText value="#{pt.data.numeroDocumento}" />
		</p:column>

		<p:column filterBy="#{pt.data.oggetto}" headerText="Oggetto"
			filterMatchMode="contains">
			<h:outputText value="#{pt.data.oggetto}" />
		</p:column>

		<p:column filterBy="#{pt.data.tipoProcedimento}"
			headerText="Tipo procedimento" filterMatchMode="equals">
			<f:facet name="filter">
				<p:selectOneMenu onchange="PF('tracciati_table_STSCZ').filter()">
					<f:selectItem itemLabel="Seleziona" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems
						value="#{SottoscrizioniBean.tracciatiTab.procedimenti}" />
				</p:selectOneMenu>
			</f:facet>
			<h:outputText value="#{pt.data.tipoProcedimento}" />
		</p:column>

		<p:column headerText="Azioni" styleClass="buttonsDiv buttonsLayout generic_width40px" >
			<p:commandButton
				action="#{SottoscrizioniBean.tracciatiTab.remove(pt)}"
				update="@namingcontainer" icon="fa fa-remove"
				title="Elimina procedimento"
				label="Elimina procedimento"
				process="@this"/>
		</p:column>

		<f:facet name="footer">
			<p:commandButton icon="fa fa-remove" value="Elimina Selezionati"
				action="#{SottoscrizioniBean.tracciatiTab.removeSelected()}"
				update="@namingcontainer" process="@this"/>
			<p:commandButton icon="fa fa-refresh" value="Ricarica la lista"
				action="#{SottoscrizioniBean.tracciatiTab.init()}"
				update="@namingcontainer" process="@this"/>
		</f:facet>
	</p:dataTable>

</ui:composition>