<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<p:panel id="sottoscrizioniPnl" styleClass="generic_noborder generic_nobackground" rendered="#{SottoscrizioniBean.active}">
		<!-- Tab section -->
		<p:tabView id ="idTab_STSCZ" styleClass="generic_height100" onTabShow="calculateIframeHeight();">
			<!-- < p:ajax event="tabChange" listener="# { SottoscrizioniBean.updateDocumentDetail}" 
				update="@this" oncomplete="calculateIframeHeight();"/>
			 -->

			<p:tab id="elencoSottoscrizioni_tab_STSCZ" title="Sottoscrizioni">
				
				<p:fieldset legend="Contatti mail" toggleable="true" toggleSpeed="500" styleClass="generic_margin-vertical05">
					<ui:include src="mailSottoscrizioni.xhtml"/>
				</p:fieldset>
				
			  	<p:fieldset id="disabilitazione_STSCZ" legend="Disabilita invio notifiche" toggleable="true" toggleSpeed="500"  styleClass="generic_margin-vertical05">
					<ui:include src="disabilitazioneSottoscrizioni.xhtml"/>
			    </p:fieldset>
				
				<ui:include src="elencoSottoscrizioniTab.xhtml"/>
				
				<!--  Buttons -->
				<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
					<p:commandButton icon="fa fa-pencil" value="Registra" 
									 process="@form:idTab_STSCZ:elencoSottoscrizioni_tab_STSCZ"
									 actionListener="#{SottoscrizioniBean.registra}" 
									 update="@form:idTab_STSCZ"
									/>
				</p:outputPanel>
			</p:tab>
			
			<p:tab id="procedimentiTracciati_tab_STSCZ" title="#{SottoscrizioniBean.procedimentiTracciatiTitle}">
				
				<p:outputPanel id="idMasterProcedimento_STSCZ" styleClass="ui-g-8 generic_height100">
					<ui:include src="procedimentiTracciatiSottoscrizioniTab.xhtml" />
				</p:outputPanel>
				<p:outputPanel id="idDettaglioProcedimento_STSCZ"  styleClass="ui-g-4">
					<p:outputPanel id="idDettaglioProcedimento_STSCZ_content"  styleClass="generic_height100">
						<p:outputPanel id="idProcedimenti_STSCZ" rendered="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.visibleDetail}" styleClass="generic_padding0 generic_margin0 generic_height100">
								<div class="ui-g-11 generic_padding0 generic_margin0 generic_height100">
								    <p:tabView id="tabDetails-procedimenti"  styleClass="generic_height100 generic_no_background" 
								    	activeIndex="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.activeTab}"
								    	>
								    	
								    	<p:ajax event="tabChange" listener="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.setDetail()}"  process="@this"
		    								update="@form:idTab_STSCZ:procedimentiTracciati_tab_STSCZ:idDettaglioProcedimento_STSCZ" oncomplete="calculateIframeHeight();" 
		    								disabled="#{not SottoscrizioniBean.tracciatiTab.documentDetailComponent.introPreviewActive}" />
								    	
										<p:tab title="Preview" id="idTabPreview_PRC">
							    			<dd:dettaglioDocumentoTabPreview documentCmp="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.previewComponent}" 
							    			isDocumentoIngresso="#{SottoscrizioniBean.tracciatiTab.current.data.categoriaDocumentoId}" 
							    			idTipoAssegnazione="#{SottoscrizioniBean.tracciatiTab.current.data.tipoFirma}"
							    			idTipologiaDocumento="#{SottoscrizioniBean.tracciatiTab.current.data.tipologiaDocumento}"
							    			idUfficioCreatore="#{SottoscrizioniBean.tracciatiTab.current.data.idUfficioCreatore}"
							    			showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}" />
								    	</p:tab>
										<p:tab id="dettaglio" title="Dettaglio">
											<p:outputPanel rendered="#{not SottoscrizioniBean.tracciatiTab.documentDetailComponent.introPreviewActive}">
												<dd:dettaglioDocumentoTabDettaglioComponent	documentCmp="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.documentCmp}"
												bean="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent}" />
											</p:outputPanel>
										</p:tab>
							    		<p:tab title="Storico" id="tabStorico_NSTS" >
							    			<p:outputPanel rendered="#{not SottoscrizioniBean.tracciatiTab.documentDetailComponent.introPreviewActive}">
												<dd:dettaglioDocumentoTabStorico bean="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent.storico}"/>
											</p:outputPanel>
										</p:tab>
								    </p:tabView>
								</div>
						
								<div class="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith">
									<dd:dettaglioDocumentoEastButtonsNoResp 
										bean="#{SottoscrizioniBean.tracciatiTab.documentDetailComponent}" 
										onCompleteModificaDocumentoId="dlgManageDocument_RM" 
										updateModificaDocumentoId="idDettagliEstesiForm:idPanelDocumentManager"
										updateMenuAllegati="@form:idTab_STSCZ:tabDetails-procedimenti"
										onCompleteMenuAllegati="calculateIframeHeight();"
								 	/>
								</div>
						</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel>
			</p:tab>
			
			<p:tab id="notifiche_tab_STSCZ" title="#{SottoscrizioniBean.notificheTitle}">
				<p:outputPanel id="idMasterNotifiche_STSCZ" styleClass="ui-g-8">
					<ui:include src="notificheSottoscrizioniTab.xhtml" />
				</p:outputPanel>
				<p:outputPanel id="idDettaglioNotifiche_STSCZ"  styleClass="ui-g-4">
					<p:outputPanel id="idDettaglioNotifiche_STSCZ_content"  styleClass="generic_height100">
						<p:outputPanel id="idNotifiche_STSCZ" rendered="#{SottoscrizioniBean.notificheTab.documentDetailComponent.visibleDetail}" styleclass="ui-g generic_padding0 generic_margin0 generic_height100"> 
							<div class="generic_padding0 generic_margin0 generic_height100 ui-g-11">
							    <p:tabView id="tabDetails-notifiche"  styleClass="generic_height100 generic_no_background"
							    	activeIndex="#{SottoscrizioniBean.notificheTab.documentDetailComponent.activeTab}"
							    	rendered="#{SottoscrizioniBean.notificheTab.documentDetailComponent.documentCmp != null and SottoscrizioniBean.notificheTab.documentDetailComponent.documentCmp.detail != null}">
									
									<p:ajax event="tabChange" listener="#{SottoscrizioniBean.notificheTab.documentDetailComponent.setDetail()}" process="" 
										oncomplete="calculateIframeHeight();"
	    								update="@form:idTab_STSCZ:notifiche_tab_STSCZ:idDettaglioNotifiche_STSCZ" disabled="#{not SottoscrizioniBean.notificheTab.documentDetailComponent.introPreviewActive}" />
									
									<p:tab title="Preview"  id="idTabPreview_NST" >
						    			<dd:dettaglioDocumentoTabPreview documentCmp="#{SottoscrizioniBean.notificheTab.documentDetailComponent.previewComponent}" 
						    			isDocumentoIngresso="#{SottoscrizioniBean.notificheTab.current.idCategoriaDocumento}" 
						    			idTipoAssegnazione="#{SottoscrizioniBean.notificheTab.current.tipoFirma}"
						    			idTipologiaDocumento="#{SottoscrizioniBean.notificheTab.current.tipologiaDocumentoId}"
							    		idUfficioCreatore="#{SottoscrizioniBean.notificheTab.current.ufficioCreatoreId}"
						    			showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
							    	</p:tab>
									<p:tab title="Dettaglio">
										<p:outputPanel rendered="#{not SottoscrizioniBean.notificheTab.documentDetailComponent.introPreviewActive}">
											<dd:dettaglioDocumentoTabDettaglioComponent	documentCmp="#{SottoscrizioniBean.notificheTab.documentDetailComponent.documentCmp}"
											bean="#{SottoscrizioniBean.notificheTab.documentDetailComponent}" />
										</p:outputPanel>
									</p:tab>
						    		<p:tab title="Storico" id="tabStorico_NSTS" >
						    			<p:outputPanel rendered="#{not SottoscrizioniBean.notificheTab.documentDetailComponent.introPreviewActive}">
											<dd:dettaglioDocumentoTabStorico bean="#{SottoscrizioniBean.notificheTab.documentDetailComponent.storico}"  />
										</p:outputPanel>
									</p:tab>
							    </p:tabView>
							</div>
					
							<p:outputPanel class="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith " >
								<dd:dettaglioDocumentoEastButtonsNoResp 
									bean="#{SottoscrizioniBean.notificheTab.documentDetailComponent}" 
									onCompleteModificaDocumentoId="dlgManageDocument_RM" 
									updateModificaDocumentoId="idDettagliEstesiForm:idPanelDocumentManager"
									updateMenuAllegati="@form:idTab_STSCZ:tabDetails-notifiche"
									onCompleteMenuAllegati="calculateIframeHeight();"
							 	/>
							</p:outputPanel>
						</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel>
			</p:tab>
		</p:tabView>
<!--========================================================== Dettaglio/Modifica/Creazione documento DIALOG start ==========================================================-->
		<p:dialog header="Gestisci documento" widgetVar="dlgManageDocument"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			closable="true" id="idPanelDocumentManager" onShow="dlgOnShow(this.jqId);PF('dlgManageDocument').initPosition();onShowForClosableDlg('dlgManageDocument')" dynamic="true"
			styleClass="generic_padding0 generic_margin0 ddocumento-dlg " position="top" appendTo="@form" responsive="true"
			draggable="false" >
			<p:panel rendered="#{SottoscrizioniBean.atLeastOneDetailActiveForPopUp and DocumentManagerBean.detail != null}" id="idPanelContainerDocumentManager_NST"
				styleClass="generic_padding0 generic_margin0 generic_height100 generic_width100 ddocumento-dlg-panel">
				<ui:include  src="../documento/documentManager.xhtml"><!-- DocumentManagerBean --></ui:include>
			</p:panel>
			<iframe class="cover" src="about:blank" title="Frame gestisci documento"></iframe>
		</p:dialog>
<!--========================================================== Dettaglio/Modifica/Creazione documento DIALOG end ============================================================-->

<!--========================================================== Visualizza Preview Dialog ==========================================================-->
		<p:dialog  widgetVar="dlgVisualizzaDocumenti"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumenti')"
			  resizable="false" closable="true" modal="true" onHide="PF('dlgVisualizzaDocumenti').toggleMaximize();" >
			
			<p:outputPanel id="visualizzaDoc_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
				<dd:dialogVisualizzaDocumentoComponent bean="#{SottoscrizioniBean.documentDetail.viewDettaglioDoc}" dettagliodto="#{SottoscrizioniBean.documentDetail.documentCmp.detail}" />
			</p:outputPanel>
			<p:outputPanel styleClass="generic_textAlignRight">
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocumenti').hide();" styleClass="uniqueCloseButton"></p:commandButton>
			</p:outputPanel>
		</p:dialog>
	
		
	</p:panel>
</ui:composition>
