<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:importEnum type="it.ibm.red.business.enums.TipoProtocolloEnum" var="TipoProtocolloEnum" allSuffix="ALL_ENUM_VALUES"/>

	<p:tab title="Dettaglio">
       	<div class="generic_height100 generic_width100 generic_overflow">
			<p:accordionPanel styleClass="DD_accordionContent titleCollapsableDetail generic_padding0 generic_margin0">
				<p:tab title="Dati Sintetici" styleClass="DD_accordionContent generic_padding0 generic_margin0">
					
					<div class="ui-g generic_padding0 generic_margin0">
						<h:panelGroup rendered="#{DettaglioDocumentoRicercaBean.protocollo}" styleClass="ui-g-6">
							<p:outputLabel value="Protocollo: " styleClass="DD_labelTitoletto"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.numeroProtocollo}" styleClass="DD_textTitoletto"/>
							<p:outputLabel value=" / " styleClass="DD_textTitoletto"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.annoProtocollo}" styleClass="DD_textTitoletto"/>
							<p:outputLabel value=" - #{DettaglioDocumentoRicercaBean.detail.numeroDocumento}" styleClass="DD_textTitoletto"/>
						</h:panelGroup>
						<h:panelGroup rendered="#{!DettaglioDocumentoRicercaBean.protocollo}" styleClass="ui-g-6">
							<p:outputLabel value="Documento: " styleClass="DD_labelTitoletto"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.numeroDocumento}" styleClass="DD_textTitoletto"/>
							<p:outputLabel value=" / " styleClass="DD_textTitoletto"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.annoDocumento}" styleClass="DD_textTitoletto"/>
						</h:panelGroup>
						
						<div class="ui-g-6">
							<p:outputLabel value="Formato: " styleClass="DD_labelNormale"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.formatoDocumentoEnum}" styleClass="DD_textNormale"/>
						</div>
					</div>
					<hr/>
					<div class="ui-g">
						<div class="ui-g-6">
							<p:outputLabel value="Tipologia documento:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.descTipologiaDocumento}" styleClass="DD_textNormale"/>
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo procedimento:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.descTipoProcedimento}" styleClass="DD_textNormale"/>
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="Entrata" rendered="#{DettaglioDocumentoRicercaBean.detail.tipoProtocollo == TipoProtocolloEnum.ENTRATA.getId()}" styleClass="DD_textNormale"/>
							<p:outputLabel value="Uscita" rendered="#{DettaglioDocumentoRicercaBean.detail.tipoProtocollo == TipoProtocolloEnum.USCITA.getId()}" styleClass="DD_textNormale"/>
							<p:outputLabel value="-" rendered="#{DettaglioDocumentoRicercaBean.detail.tipoProtocollo == null}" styleClass="DD_textNormale"/>
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="Oggetto: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.oggetto}" styleClass="DD_textNormale generic_textAlignJustify"/>
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoRicercaBean.detail.iterApprovativoSemaforo != null}">
							<p:outputLabel value="Iter approvativo:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.iterApprovativoSemaforo}" styleClass="DD_textNormale"/>
						</h:panelGroup>
						<p:outputPanel styleClass="ui-g-6" rendered="#{DettaglioDocumentoRicercaBean.detail.momentoProtocollazioneEnum != null}">
							<p:outputLabel value="Protocollazione:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.momentoProtocollazioneEnum}" styleClass="DD_textNormale"/>
						</p:outputPanel>
						<div class="ui-g-6">
							<p:outputLabel value="Ufficio mittente:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.ufficioMittente.aoo.codiceAoo} - " styleClass="DD_textNormale"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.ufficioMittente.descrizione}" styleClass="DD_textNormale"/>
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoRicercaBean.detail.dataScadenza != null}">
							<p:outputLabel value="Data scadenza: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.dataScadenza}" styleClass="DD_textNormale">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:outputLabel>
						</h:panelGroup>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoRicercaBean.detail.barcode != null}">
							<p:outputLabel value="Barcode: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.barcode}"  
								styleClass="DD_textNormale"/>
						</h:panelGroup>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoRicercaBean.detail.urgente || DettaglioDocumentoRicercaBean.detail.riservato == 1}">
							<p:outputLabel value="Urgente" rendered="#{DettaglioDocumentoRicercaBean.detail.urgente}" styleClass="DD_textNormale generic_displayBlock"/>
							<p:outputLabel value="Riservato" rendered="#{DettaglioDocumentoRicercaBean.detail.riservato == 1}" styleClass="DD_textNormale"/>
						</h:panelGroup>
					</div>
			    </p:tab>
				
				<p:tab title="Fascicoli" rendered="#{fn:length(DettaglioDocumentoRicercaBean.detail.fascicoli) gt 1}">
		        	<p:dataTable var="fas" value="#{DettaglioDocumentoRicercaBean.detail.fascicoli}">
					    <p:column headerText="Nome"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.idFascicolo}"/>
					    </p:column>
					    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
					        <p:outputLabel value="#{fn:substring(fas.descrizione, 0, 20)}..." title="#{fas.descrizione}"/>
					    </p:column>
					    <p:column headerText="Indice di classificazione" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.indiceClassificazione}"/>
					    </p:column>
					    <p:column headerText="Data" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.dataCreazione}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel>
					    </p:column>
					    <p:column headerText="Faldone" styleClass="generic_textAlignCenter">
					    	<ui:repeat rendered="#{fas.faldoni ne null}" value="#{fas.faldoni}" var="fal">
					    		<div>
						    		<p:outputLabel value="#{fal.name}"/>
						        	-
						        	<p:outputLabel title="#{fal.descrizioneFaldone}" value="#{fn:substring(fal.descrizioneFaldone, 0, 20)}"/>
				        		</div>
					    	</ui:repeat>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        
 				<p:tab title="Faldoni" rendered="#{fn:length(DettaglioDocumentoRicercaBean.detail.faldoni)!=0}">
		        	<p:dataTable var="fal" value="#{DettaglioDocumentoRicercaBean.detail.faldoni}">
					    <p:column headerText="Numero" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fal.name}" />
					    </p:column>
					    <p:column headerText="Oggetto" styleClass="generic_textAlignCenter generic-word-all-break" >
						    <p:outputLabel value="#{fn:substring(fal.oggettoPadre, 0,40)}" title="#{fal.oggettoPadre}" rendered="#{fal.oggettoPadre != null}"/>
							<p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance"/>
					        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,20)}" title="#{fal.oggetto}"	/>
			        	</p:column>
					    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0,20)}" 
					        	title="#{fal.descrizioneFaldone}"/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        
		        <p:tab title="Allacci" rendered="#{fn:length(DettaglioDocumentoRicercaBean.detail.allacci)!=0}">
		        	<p:dataTable var="a" value="#{DettaglioDocumentoRicercaBean.detail.allacci}">
		        		<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo != null}" styleClass="">
							<p:outputLabel value="Protocollo: "/>
							<p:outputLabel value="#{a.document.numeroProtocollo}"/>
							<p:outputLabel value=" / "/>
							<p:outputLabel value="#{a.document.annoProtocollo}"/>
							<p:outputLabel value=" - #{a.document.numeroDocumento}"/>
						</p:column>
						<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo == null}" styleClass="">
							<p:outputLabel value="Documento: "/>
							<p:outputLabel value="#{a.document.numeroDocumento}"/>
							<p:outputLabel value=" / "/>
							<p:outputLabel value="#{a.document.annoDocumento}"/>
						</p:column>
						<p:column headerText="Oggetto" styleClass="">
							<p:outputLabel title="#{a.document.oggetto}" value="#{fn:substring(a.document.oggetto, 0,20)}"  styleClass=""/>
						</p:column>
						<p:column headerText="Ufficio" styleClass="">
							<p:outputLabel value="#{a.document.ufficioMittente.descrizione}"  styleClass=""/>
						</p:column>
<!-- 								<p:column headerText="File" styleClass=""> -->
<!-- 									<p:outputLabel title="#{a.document.nomeFile}" value="#{fn:substring(a.document.nomeFile, 0,20)}"  styleClass=""/> -->
<!-- 								</p:column> -->
						<p:column headerText="Tipo Allaccio" styleClass="">
							<p:outputLabel value="#{a.tipoAllaccioEnum}" styleClass=""/>
						</p:column>
					</p:dataTable>
		        </p:tab>
		        
		        <p:tab title="Assegnazioni" rendered="#{fn:length(DettaglioDocumentoRicercaBean.detail.assegnazioni)!=0}">
		        	<p:dataTable var="a" value="#{DettaglioDocumentoRicercaBean.detail.assegnazioni}">
					    <p:column headerText="Tipo" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{a.tipoAssegnazione}" />
					    </p:column>
					    <p:column headerText="Data" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{a.dataAssegnazione}" >
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel>
					    </p:column>
					    <p:column headerText="Motivo" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{a.motivoAssegnazione}"/>
					    </p:column>
					    <p:column headerText="Assegnatario" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{a.descrizioneAssegnatario} "/>
					    </p:column>
					    <p:column headerText="Ufficio" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{a.ufficio.descrizione}"/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        <p:tab title="Mittente / Destinatari">
		        	<h:panelGroup class="ui-g" rendered="#{DettaglioDocumentoRicercaBean.detail.mittente != null}">
			        	<div class="ui-g-6">
							<p:outputLabel value="Mittente: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel rendered="#{DettaglioDocumentoRicercaBean.detail.mittenteContatto != null}"
								value="#{DettaglioDocumentoRicercaBean.detail.mittenteContatto.aliasContatto}" styleClass="DD_textNormale"/>
			        	</div>
			        	<div class="ui-g-6">
			        		<p:outputLabel value="Ufficio: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.ufficioMittente.aoo.codiceAoo}" styleClass="DD_textNormale"/>
							-
							<p:outputLabel value="#{DettaglioDocumentoRicercaBean.detail.ufficioMittente.descrizione}" styleClass="DD_textNormale"/>
			        	</div>
					</h:panelGroup>
					
					<p:dataTable var="d" value="#{DettaglioDocumentoRicercaBean.detail.destinatari}" 
						rendered="#{DettaglioDocumentoRicercaBean.detail.destinatari != null}">
						<f:facet name="header">
				            Destinatari
				        </f:facet>
					    <p:column headerText="Nome" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{d.contatto.aliasContatto}" />
					    </p:column>
					    <p:column headerText="Mezzo" styleClass="generic_textAlignCenter generic_width3em" >
					        <p:outputLabel value="#{fn:substring(d.mezzoSpedizioneEnum, 0,1)}" title="#{d.mezzoSpedizioneEnum}"  rendered="#{d.mezzoSpedizioneEnum != null}"/>
					        <p:outputLabel value="-" rendered="#{d.mezzoSpedizioneEnum == null}"/>
					    </p:column>
					    <p:column headerText="Interno / esterno" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{d.tipologiaDestinatarioEnum}"/>
					    </p:column>
					    <p:column headerText="Tipo" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{d.modalitaDestinatarioEnum}"/>
					    </p:column>
					    <p:column headerText="Email" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{d.contatto.mail}" rendered="#{d.contatto != null}"/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        <p:tab title="Contributi" rendered="#{fn:length(DettaglioDocumentoRicercaBean.detail.contributi)!=0}">
		        	<p:dataTable var="c" value="#{DettaglioDocumentoRicercaBean.detail.contributi}">
					    <p:column headerText="Ufficio/utente" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{c.descUfficio}" />
					        <p:outputLabel value="- #{c.descUtente}" rendered="#{c.descUtente != null}"/>
					    </p:column>
					    <p:column headerText="data" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{c.dataContributo}"/>
					    </p:column>
					    <p:column headerText="Testo" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{c.nota}"/>
					    </p:column>
					    <p:column headerText="File" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{c.filename}"/>
					    </p:column>
					    <p:column headerText="Interno / Esterno" styleClass="generic_textAlignCenter">
					        <p:outputLabel rendered="#{c.flagEsterno == true}" value="Esterno"/>
					        <p:outputLabel rendered="#{c.flagEsterno == false}" value="Interno"/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
			</p:accordionPanel>
		</div>
	</p:tab>

</ui:composition>