<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:tab title="Storico">
		<p:tabView id="storico_DDTSR">
			<p:tab title="Visuale" rendered="#{DettaglioDocumentoRicercaBean.documentCmp.detail.showStoricoVisuale}">
				<p:panel id="timelinePanel_DDTSR">
					<div id="timeline-container-basic-DDTSR" class="imATimeline"></div>
				</p:panel>
			</p:tab>
			<p:tab title="Testuale">
				<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel collapseMoreInfo" cellpadding="10" columnClasses="ui-grid-col-12">
					<p:dataList value="#{DettaglioDocumentoRicercaBean.documentCmp.detail.storico}" var="row" type="unordered" styleClass="dataList generic_no_backgroundImp" >
						<p:outputLabel title="Data e ora operazione" value="#{row.dataOperazione} - #{row.tipoOperazione}" styleClass="detailValuegeneric_textBold"  /> 
						<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel collapseMoreInfo" cellpadding="10" columnClasses="ui-grid-col-12">
							<p:outputLabel title="Dati assegnante" value="ASSEGNANTE: #{row.ufficioAssegnante}/#{row.utenteAssegnante}" styleClass="detailValue"/> 
							<p:outputLabel title="Dati assegnatario" value="ASSEGNATARIO: #{row.ufficioAssegnatario}/#{row.utenteAssegnatario}" styleClass="detailValue"/> 
							<p:outputLabel title="Motivo assegnazione" value="MOTIVAZIONE: #{row.motivoAssegnazione}" styleClass="detailValue"/>
						</p:panelGrid>
					</p:dataList>
				</p:panelGrid>
			</p:tab>
			<p:tab title="Approvazioni" rendered="#{not empty DettaglioDocumentoRicercaBean.documentCmp.detail.approvazioni}">
				<div class="ui-g-12">
					<div id="timeline-container-basic-approvazioni-DDTSR" class="imATimeline" ></div>
				</div>
			</p:tab>
		</p:tabView>       			        
	</p:tab>
	        
</ui:composition>