<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:panel id="ricercaAnnullaDocument_RRAD" styleClass="generic_noborder generic_no_background generic_width510px" > 
		<div class="ui-g-4">
			<p:outputLabel for="idAnnullaDocumentoMessage" value="Messaggio annullamento"/>
		</div>
		
		<div class="ui-g-8 ">
			<p:inputTextarea id="idAnnullaDocumentoMessage" rows="3" maxlength="1000" styleClass="generic_input98"
				value="#{RicercaAnnullaProcedimentoBean.motivazione}"/>
		</div>
	
		<div class="ui-g-4">
			<p:outputLabel for="@next" value="Provvedimento Annullamento"  rendered="#{RicercaAnnullaProcedimentoBean.tipoProcedimentoNps}"/>
		</div>
		<div class="ui-g-8 ">
			<p:inputTextarea rows="3" maxlength="1000"  styleClass="generic_input98"
				value="#{RicercaAnnullaProcedimentoBean.provvedimento}" rendered="#{RicercaAnnullaProcedimentoBean.tipoProcedimentoNps}" />
		</div>
		<p:outputPanel class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-pencil" value="Registra" action="#{RicercaAnnullaProcedimentoBean.registra()}"  oncomplete="PF('wdgAnnullaDocumento').hide()" 
				update="@form:ricercaAnnullaDocument_RRAD, @form:idTabsRisultati_RR:idRisDoc_RR, @form:idDettaglio_RR " 
				/>
			<p:commandButton icon="fa fa-times" value="Annulla" action="#{RicercaAnnullaProcedimentoBean.close()}" onclick="PF('wdgAnnullaDocumento').hide()" update="@form:ricercaAnnullaDocument_RRAD"/>
		</p:outputPanel>
		
	</p:panel>
</ui:composition>