<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu" />

<!-- 		DIALOG RICERCA MANAGER START  -->
	<p:dialog header="Ricerca" widgetVar="wdgRicercaManager_DRM"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			  closable="true" id="idRicercaManager_DRM" onShow="dlgOnShow(this.jqId);PF('wdgRicercaManager_DRM').toggleMaximize();PF('wdgRicercaManager_DRM').initPosition();" 
			  dynamic="true" styleClass="drm-dialog" position="top" draggable="false" responsive="true" >
		
		<p:ajax event="close" update="@form:idRicercaManager_DRM, @form:idPanelContainer_DRM, @form:idRedPanel_DRM, @form:idFepaPanel_DRM, @form:idProtPanel_DRM, @form:idProtPanel_DRM, @form:idAccPanel_RRD:idTabsAvanzata_RR, @form:idAccPanel_RRD:idAccTabRicercaRapida_RRD, @form:idAccPanel_RRD:idTabsAvanzata_RR:idPnlContainer_RRA" 
			listener="#{RicercaManagerBean.settaDialogRicercaNONVisibile}" onstart="PF('wdgTabsRisultati_RR').select(0); PF('wdgAccPanel_RRD').select(0);" 
			process="@this"	/>
		
		<p:outputPanel styleClass="ui-g generic_padding0 generic_height100" id="idPanelContainer_DRM" >
			<div class="ui-g-12 generic_textAlignCenter">
				<p:selectOneButton value="#{RicercaManagerBean.ricercaSelected}" >
					<p:ajax event="change" update="idPanelContainer_DRM"/>
		            <f:selectItems  var="r" itemLabel="#{r.displayName}" itemValue="#{r.value}" value="#{SessionBean.ricercheDisponibili}" />
		        </p:selectOneButton> 
			</div>
		
			<p:outputPanel id="idRedPanel_DRM" rendered="#{RicercaManagerBean.ricercaSelected == 'red'}" styleClass="ui-g-12 generic_textAlignLeft generic_padding0 generic_height100">
				<ui:include src="ricercaRed.xhtml"/>
			</p:outputPanel>
			<p:outputPanel id="idFepaPanel_DRM" rendered="#{RicercaManagerBean.ricercaSelected == 'fepa'}" styleClass="ui-g-12 generic_textAlignLeft generic_padding0 generic_height100">
				<ui:include src="fepa/ricercaFepa.xhtml"/>
			</p:outputPanel>
			<p:outputPanel id="idProtPanel_DRM" rendered="#{RicercaManagerBean.ricercaSelected == 'protocollo'}" styleClass="ui-g-12 generic_textAlignLeft generic_padding0 generic_height100">
				<ui:include src="ricercaProtocollo.xhtml"/>			
			</p:outputPanel>
			<p:outputPanel id="idSigiPanel_DRM" rendered="#{RicercaManagerBean.ricercaSelected == 'sigi'}" styleClass="ui-g-12 generic_textAlignLeft generic_padding0 generic_height100">
				<ui:include src="ricercaSIGI.xhtml"/>			
			</p:outputPanel>
		</p:outputPanel>
		
	</p:dialog>  
<!-- DIALOG RICERCA MANAGER END  -->	
</ui:composition>