<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">


	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-8, ui-grid-col-4">
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Report Monitoraggio Estratti Conto CCVT UCB"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRipetiButton" value="Ripeti ricerca" action="#{RicercaEstrattiContoCCVTBean.ripetiRicercaEstrattiContoUcb}" 
				oncomplete="repeatSearches('UCB', 'Estratti Conto Trimestrali CCVT');" styleClass="datatableButtons" icon="fa fa-refresh" title="Ripeti Ricerca" 
				update="idTabRicerche:idTabRicercaUCB:ricercaEstrattiContoUCBForm:esercizio, 
						idTabRicerche:idTabRicercaUCB:ricercaEstrattiContoUCBForm:trimestre"/>
		</p:outputPanel>
	</p:panelGrid>
	
	<p:tabView id="idTabEstrattiContoCCVT" scrollable="true" widgetVar="wdgTabEstrattiContoCCVT">
		<p:tab title="Report" id="idTabReportEstrattiContoCCVT">
		
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
	        	<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" value="Esporta" title="Esporta Excel" ajax="false" >
	              	<p:dataExporter type="xls" target="estrattoContoDT" fileName="#{RicercaEstrattiContoCCVTBean.nomeFileExport}" />
				</p:commandButton>
			</p:outputPanel>
			
			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaEstrattiContoCCVTBean.result.risultatiRicerca)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="estrattoContoDT" emptyMessage="Nessun Documento Trovato" widgetVar="estrattoContoWdg" var="estrattoConto" 
						 value="#{RicercaEstrattiContoCCVTBean.result.risultatiRicerca}" sortMode="multiple"
						 filteredValue="#{RicercaDocumentiRedBean.documentiRedDTH.filteredMasters}" paginatorAlwaysVisible="true">
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.esercizio}" filterBy="#{estrattoConto.esercizio}" filterMatchMode="contains" 
					headerText="Esercizio" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.esercizio}" value="#{estrattoConto.esercizio}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.trimestre}" filterBy="#{estrattoConto.trimestre}" filterMatchMode="contains" 
					headerText="Trimestre" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.trimestre}" value="#{estrattoConto.trimestre}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.codiceSedeEstera}" filterBy="#{estrattoConto.codiceSedeEstera}" filterMatchMode="contains" 
					headerText="Codice Sede Estera" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.codiceSedeEstera}" value="#{estrattoConto.codiceSedeEstera}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.sedeEstera}" filterBy="#{estrattoConto.sedeEstera}" filterMatchMode="contains" 
					headerText="Descrizione Sede Estera" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.sedeEstera}" value="#{estrattoConto.sedeEstera}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.codiceValuta}" filterBy="#{estrattoConto.codiceValuta}" filterMatchMode="contains" 
					headerText="Codice Valuta" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.codiceValuta}" value="#{estrattoConto.codiceValuta}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.cambio}" filterBy="#{estrattoConto.cambio}" filterMatchMode="contains" 
					headerText="Cambio" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.cambio}" value="#{estrattoConto.cambio}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.saldoCCVT1}" filterBy="#{estrattoConto.saldoCCVT1}" filterMatchMode="contains" 
					headerText="Saldo CCVT I T." styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.saldoCCVT1}" value="#{estrattoConto.saldoCCVT1}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.saldoCCVT2}" filterBy="#{estrattoConto.saldoCCVT2}" filterMatchMode="contains" 
					headerText="Saldo CCVT II T." styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.saldoCCVT2}" value="#{estrattoConto.saldoCCVT2}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.saldoCCVT3}" filterBy="#{estrattoConto.saldoCCVT3}" filterMatchMode="contains" 
					headerText="Saldo CCVT III T." styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.saldoCCVT3}" value="#{estrattoConto.saldoCCVT3}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{estrattoConto.saldoCCVT4}" filterBy="#{estrattoConto.saldoCCVT4}" filterMatchMode="contains" 
					headerText="Saldo CCVT IV T." styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{estrattoConto.saldoCCVT4}" value="#{estrattoConto.saldoCCVT4}"/>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>