<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:dataTable var="flusso" value="#{RicercaFlussiUcbBean.result}" id="dtFlussi"
		styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" sortMode="multiple" rows="10"
		emptyMessage="Nessun Flusso Presente">

		<p:column headerText="Num. Pratica" style="width: 90px;" sortBy="#{flusso.numPratica}" filterBy="#{flusso.numPratica}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.numPratica}" />
		</p:column>

		<p:column headerText="Descrizione" sortBy="#{flusso.descrizione}" filterBy="#{flusso.descrizione}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.descrizione}" />
		</p:column>

		<p:column headerText="Apertura" style="width: 64px;" sortBy="#{flusso.dataApertura}" filterBy="#{flusso.dataApertura}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.dataApertura}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>

		<p:column headerText="Chiusura" style="width: 64px;" sortBy="#{flusso.dataChiusura}" filterBy="#{flusso.dataChiusura}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.dataChiusura}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>

		<p:column headerText="Stato" sortBy="#{flusso.stato.nome}" filterBy="#{flusso.stato.nome}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.stato.nome}" />
		</p:column>

		<p:column headerText="Ultimo Evento" sortBy="#{flusso.descrizioneUltimoEvento}" filterBy="#{flusso.descrizioneUltimoEvento}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.descrizioneUltimoEvento}" />
		</p:column>

		<p:column headerText="Data Evento" style="width: 82px;" sortBy="#{flusso.dataUltimoEvento}" filterBy="#{flusso.dataUltimoEvento}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.dataUltimoEvento}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>

		<p:column headerText="ID Provvedimento" sortBy="#{flusso.idProvvedimento}" filterBy="#{flusso.idProvvedimento}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.idProvvedimento}" />
		</p:column>

		<p:column headerText="Protocollo Mittente" sortBy="#{flusso.numeroProtocolloMittente} #{flusso.dataProtocolloMittente}" filterBy="#{flusso.numeroProtocolloMittente} #{flusso.dataProtocolloMittente}" filterMatchMode="contains" filterStyle="display:inline">
			<p:outputLabel value="#{flusso.numeroProtocolloMittente}" /> - 
			<p:outputLabel value="#{flusso.dataProtocolloMittente}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>

		<p:column headerText="AZIONI" style="width: 92px;">
	 		<p:commandButton icon="fa fa-folder-o" title="Gestisci Fascicolo"  
	 				oncomplete="PF('dlgManageFascicolo_DF').show();" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
					actionListener="#{RicercaFlussiUcbBean.apriDialogFascicolo}" />
	 		<p:commandButton icon="fa fa-gear" title="Visualizza Eventi Associati" oncomplete="PF('wdgStoricoDocDlg').show()" update="centralSectionForm:dtStorico" actionListener="#{RicercaFlussiUcbBean.visualizzaStoricoDocumento}"/>
	 		<p:commandButton icon="fa fa-close" title="Chiudi Fascicolo" actionListener="#{RicercaFlussiUcbBean.chiudiFascicolo}" disabled="#{flusso.stato.id == 1}" update="dtFlussi">
				<p:confirm header="Conferma Chiusura Fascicolo" message="Vuoi procedere con la chiusura del fascicolo?" icon="pi pi-exclamation-triangle" />
	 		</p:commandButton>
		</p:column>

	</p:dataTable>
	
	
	<p:dialog widgetVar="wdgStoricoDocDlg" header="Storico Documento" resizable="false" closable="true" modal="true" fitViewport="true" showEffect="fade" hideEffect="fade" draggable="false" width="90%">

		<p:dataTable id="dtStorico" var="row" value="#{RicercaFlussiUcbBean.storico}"
			styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" sortMode="multiple" rows="10" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
			paginatorTemplate="TOT : #{fn:length(RicercaFlussiUcbBean.storico)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			emptyMessage="Nessun evento nello storico">

			<p:column headerText="Data Operazione" sortBy="#{row.dataOperazione}" filterBy="#{row.dataOperazione}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.dataOperazione}" />
			</p:column>
	
			<p:column headerText="Tipo Operazione" sortBy="#{row.tipoOperazione}" filterBy="#{row.tipoOperazione}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.tipoOperazione}" />
			</p:column>
	
			<p:column headerText="Ufficio Assegnante" sortBy="#{row.ufficioAssegnante}" filterBy="#{row.ufficioAssegnante}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.ufficioAssegnante}" />
			</p:column>
	
			<p:column headerText="Utente Assegnante" sortBy="#{row.utenteAssegnante}" filterBy="#{row.utenteAssegnante}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.utenteAssegnante}" />
			</p:column>
	
			<p:column headerText="Ufficio Assegnatario" sortBy="#{row.ufficioAssegnatario}" filterBy="#{row.ufficioAssegnatario}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.ufficioAssegnatario}" />
			</p:column>
	
			<p:column headerText="Utente Assegnatario" sortBy="#{row.utenteAssegnatario}" filterBy="#{row.utenteAssegnatario}" filterMatchMode="contains" filterStyle="display:inline">
				<p:outputLabel value="#{row.utenteAssegnatario}" />
			</p:column>

		</p:dataTable>

	</p:dialog>
	
</ui:composition>