<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
				
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Stampa Registro"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRepeteButton" action="#{RicercaStampaRegistroBean.ripetiRicercaStampaRegistro}" oncomplete="repeatSearches('Sistema di Protocollo', 'Stampa Registro');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercaStampaRegistro:ricercaStampaRegistroForm" value="Ripeti ricerca"/>		
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel>
		
	</p:panelGrid>

	<p:columnToggler datasource="centralSectionForm:idTabRicercaStampaRegistro:registri" trigger="centralSectionForm:idTabRicercaStampaRegistro:idTogglerRegistri">
		<p:ajax event="toggle" listener="#{RicercaStampaRegistroBean.onColumnToggleReg}" update="centralSectionForm:idTabRicercaStampaRegistro:registri"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaStampaRegistro" scrollable="true" widgetVar="wdgTabRicercaStampaRegistroMasters">
		<p:tab title="Registri" id="idTabDocumentiRicercaStampaRegistro">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="registri" fileName="#{RicercaStampaRegistroBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerRegistri" styleClass="datatableButtons" type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
			</p:outputPanel>
			
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaStampaRegistroBean.registriDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="registri" emptyMessage="Nessun Registro Trovato" widgetVar="registroDT" var="registro" rowKey="#{registro.guid}" value="#{RicercaStampaRegistroBean.registriDTH.masters}" 
						 selectionMode="single" selection="#{RicercaStampaRegistroBean.registriDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaStampaRegistroBean.registriDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">
		
				<p:ajax event="rowSelect" listener="#{RicercaStampaRegistroBean.rowSelectorRegistri}" update="eastSectionForm:eastSectionPanelId" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaStampaRegistroBean.registriDTH.rowUnselector}"/>
				<p:ajax event="filter" oncomplete="unselectDatatable('registroDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('registroDT', 'eastSection');"/>
				
				<p:column exportable="#{RicercaStampaRegistroBean.regColumns[0]}" toggleable="true" visible="#{RicercaStampaRegistroBean.regColumns[0]}" headerText="ANNO REGISTRO" styleClass="dtTextCenter" filterBy="#{registro.annoProtocollo}" filterMatchMode="contains" sortBy="#{registro.annoProtocollo}" >
					<h:outputText title="#{registro.annoProtocollo}" value="#{registro.annoProtocollo}"/>
				</p:column>
		
				<p:column exportable="true" toggleable="false" visible="#{RicercaStampaRegistroBean.regColumns[1]}" headerText="DATA GENERAZIONE REGISTRO" styleClass="dtTextCenter" filterBy="#{registro.dataProtocollo}" filterMatchMode="contains" sortBy="#{registro.dataProtocollo}">
					<h:outputText title="#{registro.dataProtocollo}" value="#{registro.dataProtocollo}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
		
				<p:column exportable="#{RicercaStampaRegistroBean.regColumns[2]}" toggleable="true" visible="#{RicercaStampaRegistroBean.regColumns[2]}" headerText="DATA TRASMISSIONE REGISTRO" styleClass="dtTextCenter" filterBy="#{registro.dataElencoTrasmissione}" filterMatchMode="contains" sortBy="#{registro.dataElencoTrasmissione}">
					<h:outputText title="#{registro.dataElencoTrasmissione}" value="#{registro.dataElencoTrasmissione}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
		
				<p:column exportable="#{RicercaStampaRegistroBean.regColumns[3]}" toggleable="true" visible="#{RicercaStampaRegistroBean.regColumns[3]}" headerText="NOME FILE" styleClass="dtTextCenter" filterBy="#{registro.nomeFile}" filterMatchMode="contains" sortBy="#{registro.nomeFile}">
					<h:outputText title="#{registro.nomeFile}" value="#{RicercaStampaRegistroBean.getShortColumn(registro.nomeFile)}"/>
				</p:column>
				
				<p:column exportable="false" toggleable="false" visible="true" headerText="DOWNLOAD" styleClass="dtInfoCol">
					<p:commandButton title="Scarica Registro" ajax="false" icon="fa fa-download" >
		   				<p:fileDownload value="#{RicercaStampaRegistroBean.scaricaRegistro(registro)}" />
					</p:commandButton>
				</p:column>
					
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>