<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum"/>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum"/>

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
		
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Rapida"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" icon="fa fa-refresh" action="#{RicercaRapidaBean.ripetiRicerca}" oncomplete="repeatSearches('Generica', null);" styleClass="datatableButtons"  title="Ripeti Ricerca" update="idTabRicerche:ricercaRapidaForm"/>
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaRapida:documenti" trigger="centralSectionForm:idTabRicercaRapida:idTogglerDoc" >
		<p:ajax event="toggle" listener="#{RicercaRapidaBean.onColumnToggleDocumenti}" update="centralSectionForm:idTabRicercaRapida:documenti"/>			        
	</p:columnToggler>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaRapida:fascicoli" trigger="centralSectionForm:idTabRicercaRapida:idTogglerFasc" >
		<p:ajax event="toggle" listener="#{RicercaRapidaBean.onColumnToggleFascicoli}" update="centralSectionForm:idTabRicercaRapida:fascicoli"/>			        
	</p:columnToggler>

	<p:tabView id="idTabRicercaRapida" activeIndex="#{RicercaRapidaBean.indexRicercaAttiva}" scrollable="true" onTabChange="switchSearchDetail();" widgetVar="wdgTabRicercaRapida">
		<p:tab title="Documenti" id="idTabDocumentiRicercaRapida" rendered="#{(entityEnum.DOCUMENTI eq RicercaRapidaBean.formRicerca.ricercaBEntityEnum) or (entityEnum.DOCUMENTI_FASCICOLI eq RicercaRapidaBean.formRicerca.ricercaBEntityEnum)}">
			
				<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
			        
	 				<p:commandButton onclick="resetDlgAnnullaDocumento();" oncomplete="PF('wdgAnnullaDocumento').show()" title="Annulla documento" value="Annulla Documento" icon="fa fa-times" rendered="#{RicercaRapidaBean.annullaDocumentoVisibile}"/>
					<red:dlgAnnullaDocumento bean="#{RicercaRapidaBean.annullaComponent}" widgetVar="wdgAnnullaDocumento" dlgTitle="Annulla Documento" update="eastSectionForm:idDetailDocRicercaRapida"/>
		 			<p:commandButton onclick="resetDlgRegistraAnnulla();" oncomplete="PF('wdgRiattivaProcedimentoRicerca').show()" rendered="#{RicercaRapidaBean.riattivaProcedimento}" title="Riattiva Procedimento" icon="fa fa-undo" value="Riattiva Procedimento"/>
					<red:dlgMessageRegistraAnnulla bean="#{RicercaRapidaBean.riattivaComponent}" widgetVar="wdgRiattivaProcedimentoRicerca" messageTitle="Messaggio Riattivazione" registraUpdate="" dlgTitle="Riattiva procedimento"/>
		 			
			        <p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
		              	<p:dataExporter type="xls" target="documenti" fileName="#{RicercaRapidaBean.nomeFileExportCoda}" />
					</p:commandButton>
		        	
		        	<p:commandButton id="idTogglerDoc" styleClass="datatableButtons" type="button" icon="fa fa-filter" title="Gestisci colonne tabella" value="Filtri" />
						
				</p:outputPanel>
	
			
			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaRapidaBean.documentiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="filtriSchiacciatiInBasso datatable" id="documenti" emptyMessage="Nessun Documento Trovato" widgetVar="documentiDT" var="documento" rowKey="#{documento.documentTitle}-#{documento.wobNumber}-#{documento.allegatoDocumentTitle}" value="#{RicercaRapidaBean.documentiDTH.masters}" 
						 selectionMode="single" selection="#{RicercaRapidaBean.documentiDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaRapidaBean.documentiDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">

				<p:ajax event="rowSelect" listener="#{RicercaRapidaBean.rowSelector}"  update="eastSectionForm:idDetailDocRicercaRapida @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaRapidaBean.documentiDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
		
				<p:column id="idDocColInfo" exportable="false" toggleable="false" visible="#{RicercaRapidaBean.docColumns[0]}" styleClass="dtInfoCol" headerText="INFO">
					<span class="DD_labelTitoletto"  title="#{documento.titleTipoCategoriaDoc.concat(' - ').concat(documento.sottoCategoriaDocumentoUscita.descrizione)}">
						#{documento.charTipoCategoriaDoc}
					</span>
					<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione?'hide':''}" title="#{documento.motivazioneAssegnazione}"/>
					<span class="fa fa-credit-card #{!documento.flagFirmaDig?'hide':''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
					<span class="fa fa-paperclip #{!documento.bAttachmentPresent?'hide':''}" title="Allegati Presenti"/>
					<span class="fa fa-folder-open-o #{!documento.hasContributi?'hide':''}" title="Contributi Presenti"/>
					<span class="fa fa-exclamation-circle crimson #{!documento.urgente?'hide':''}" title="Documento Urgente"/>
					<span class="fa fa-flag shadowflags #{empty documento.nota.contentNota?'hide':''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
					<span class="fa fa-user-secret #{(documento.idUtenteDestinatario eq SessionBean.utente.id and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma')?'hide':''}" title="Firma Delegato"/>
					<span title="Documento riservato" class="#{not documento.flagRiservato ? 'hide' : 'DD_labelTitoletto'}">R</span>
					<span title="Allegato" class="#{empty documento.allegatoDocumentTitle ? 'hide' : 'DD_labelTitoletto'}">A</span>
					<span class="fa fa-info-circle generic_prop_hidden" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}"/>
				</p:column>
				
				<p:column id="idDocColDesc" exportable="#{RicercaRapidaBean.docColumns[1]}" exportFunction="#{RicercaRapidaBean.columnDescrizione}" toggleable="false" visible="#{RicercaRapidaBean.docColumns[1]}" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
				
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Apri fascicolo procedimentale" styleClass="cmdbtn-coda-apri-fascicolo"
						action="#{RicercaRapidaBean.openFascicoloProcedimentale()}" process="@this" 
		  		 		disabled="#{documento.documentTitle ne RicercaRapidaBean.documentiDTH.currentMaster.documentTitle}">
		  		 	</p:commandButton>
					
					<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo==NULL?'ID:'.concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento) :''}" rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"  styleClass="textBold-detail"/>
					<h:outputText title="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)?'PROT:'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)}" value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"  styleClass="textBold-detail" />
					<h:outputText title="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)?'PROT:'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)}" value="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold" />
					<h:outputText title="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true?'RR'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true}" value="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
		
					<h:outputText value="#{fn:length(documento.oggetto) gt 150?fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}" data-export="#{documento.oggetto}"/>
					
				</p:column>
				
				<p:column id="idDocColProc" exportable="#{RicercaRapidaBean.docColumns[2]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[2]}" sortBy="#{documento.tipoProcedimento}" filterBy="#{documento.tipoProcedimento}" filterMatchMode="contains" headerText="PROCEDIMENTO" styleClass="generic-break-word" >
					<h:outputText title="#{documento.tipoProcedimento}" value="#{documento.tipoProcedimento}"/>
				</p:column>
				
				<p:column id="idDocColDC" exportable="#{RicercaRapidaBean.docColumns[3]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[3]}" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="CREAZIONE" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word" >
					<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
					</h:outputText>
				</p:column>
				<p:column id="idDocColDS" exportable="#{RicercaRapidaBean.docColumns[4]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[4]}" sortBy="#{documento.dataScadenza}" filterBy="#{documento.dataScadenza}" filterMatchMode="contains" headerText="SCADENZA" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.dataScadenza}" value="#{documento.dataScadenza}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column id="idDocColMit" exportable="#{RicercaRapidaBean.docColumns[5]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[5]}" sortBy="#{documento.mittente}" filterBy="#{documento.mittente}" filterMatchMode="contains" headerText="MITTENTE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.mittente}" value="#{RicercaRapidaBean.getShortColumn(documento.mittente,60)}"/>
				</p:column>
				
				<p:column id="idDocColDest" exportable="#{RicercaRapidaBean.docColumns[6]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[6]}" sortBy="#{documento.destinatari}" filterBy="#{documento.destinatari}" filterMatchMode="contains" headerText="DESTINATARI" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.destinatari}" value="#{RicercaRapidaBean.getShortColumn(documento.destinatari,60)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaRapidaBean.docColumns[7]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[7]}" sortBy="#{documento.dataProtocollazione}" filterBy="#{documento.dataProtocollazione}" filterMatchMode="contains" headerText="PROTOCOLLAZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.dataProtocollazione}" value="#{documento.dataProtocollazione}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="#{RicercaRapidaBean.docColumns[8]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[8]}" sortBy="#{documento.tipoSpedizione}" filterBy="#{documento.tipoSpedizione}" filterMatchMode="contains" headerText="SPEDIZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.flagEntrata?'':documento.tipoSpedizione}" value="#{documento.flagEntrata?'':documento.tipoSpedizione}"/>
				</p:column>
				
				<p:column exportable="#{RicercaRapidaBean.docColumns[9]}" toggleable="true" visible="#{RicercaRapidaBean.docColumns[9]}" sortBy="#{documento.flagRiservato}" filterBy="#{documento.flagRiservato ? 'RIS' : ''}" filterMatchMode="contains" headerText="RISERVATO" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText value="#{documento.flagRiservato ? 'RIS' : ''}"/>
				</p:column>
				
			</p:dataTable>
				
		</p:tab>
		
		<p:tab title="Fascicoli" id="idTabFascicoliRicercaRapida" rendered="#{(entityEnum.FASCICOLI eq RicercaRapidaBean.formRicerca.ricercaBEntityEnum) or (entityEnum.DOCUMENTI_FASCICOLI eq RicercaRapidaBean.formRicerca.ricercaBEntityEnum)}" >
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
		       	<p:commandButton value="Esporta" icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false">
	              	<p:dataExporter type="xls" target="fascicoli" fileName="#{RicercaRapidaBean.nomeFileExportCodaFascicoli}" />
				</p:commandButton>
				<p:commandButton id="idTogglerFasc" styleClass="datatableButtons"  type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
			</p:outputPanel>
		
			<!-- vedi i risultati dell'attuale tabella dei fascicoli -->
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaRapidaBean.fascicoliDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable dettaglioFascicoloForUpdatePurpose" id="fascicoli" emptyMessage="Nessun Fascicolo Trovato" widgetVar="fascicoliDT" var="fascicolo" rowKey="#{fascicolo.idFascicolo}" value="#{RicercaRapidaBean.fascicoliDTH.masters}" 
						 selectionMode="single" selection="#{RicercaRapidaBean.fascicoliDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaRapidaBean.fascicoliDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">

		
				<p:ajax event="rowSelect" listener="#{RicercaRapidaBean.fasRowSelector}" update="@([id$=idDetailFascRicercaRapida])" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaRapidaBean.fascicoliDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('fascicoliDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('fascicoliDT', 'eastSection');"/>
		
				<p:column exportable="false" toggleable="true" visible="#{RicercaRapidaBean.fascColumns[0]}" styleClass="dtInfoCol" headerText="INFO">
					<h:outputText  styleClass="fa fa-folder-open-o" rendered="#{fascicolo.stato eq 'Aperto'}" title="#{fascicolo.stato}" />
					<h:outputText  styleClass="fa fa-folder-o" rendered="#{fascicolo.stato ne 'Aperto'}" title="#{fascicolo.stato}" />
				</p:column>
				
				<p:column exportable="#{RicercaRapidaBean.fascColumns[1]}" toggleable="true" visible="#{RicercaRapidaBean.fascColumns[1]}" headerText="DESCRIZIONE" styleClass="lf_tableColumn2" sortBy="#{fascicolo.descrizione}" filterBy="#{fascicolo.nomeDocumento} #{fascicolo.anno} #{fascicolo.descrizione}" filterMatchMode="contains">
					<p:outputLabel value="#{fascicolo.nomeDocumento}" styleClass="generic_grassetto generic_corsivo" />
					<p:outputLabel value="/"  styleClass="generic_grassetto generic_corsivo" />
					<p:outputLabel value="#{fascicolo.anno}"  styleClass="generic_grassetto generic_corsivo" />
					<p:outputLabel value=" - " />
					<p:outputLabel value="#{RicercaRapidaBean.getShortColumn(fascicolo.descrizione,150)}" title="#{fascicolo.descrizione}"/>
				</p:column>
				
				<p:column exportable="#{RicercaRapidaBean.fascColumns[2]}" toggleable="true" visible="#{RicercaRapidaBean.fascColumns[2]}" headerText="CLASSIFICAZIONE" sortBy="#{fascicolo.indiceClassificazione}" filterBy="#{fascicolo.indiceClassificazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter lf_tableColumn3">
					<h:outputText rendered="#{fascicolo.descrizioneTitolario != null}" value="#{RicercaRapidaBean.getShortColumn(fascicolo.indiceClassificazione,60)} - #{fascicolo.descrizioneTitolario}"/>
					<h:outputText rendered="#{fascicolo.descrizioneTitolario == null}" value="#{RicercaRapidaBean.getShortColumn(fascicolo.indiceClassificazione,60)}"/>
				</p:column>
				     
				<p:column exportable="true" toggleable="true" visible="#{RicercaRapidaBean.fascColumns[3]}" headerText="CREAZIONE" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter lf_tableColumn4">
					<p:outputLabel value="#{fascicolo.dataCreazione}" >
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:outputLabel>
				</p:column>
			
			</p:dataTable>
			
		</p:tab>
		
	</p:tabView>

</ui:composition>