<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-12, ui-grid-col-4">
		
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca UCB Documenti"/> 
		</p:panel>
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRepeteUcbButton" value="Ripeti ricerca" action="#{RicercaDocumentiUcbBean.ripetiRicercaUcb}" oncomplete="repeatSearches('UCB', '#{RicercaDocumentiUcbBean.ricercaKey}')" styleClass="datatableButtons" icon="fa fa-refresh" 
			update="idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_1, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_2, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_3, 
			idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_4, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_5, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_6, 
			idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_7, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:pnlGridRicDocUCB_11, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:panelToRender,
			idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idTitolarioRicercaUCB, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idCompetenzaUCB, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idProtocollatoreUCB, 
			idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idUfficioAssegnanteUCB, idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idUfficioFirmatarioUCB, 
			
			idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:modalitaRicercaAssegnazioneUCBEnum, idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:descAssegnazioneRicercaUCB, idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:pnlGridRicAssUCB_2, 
			idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:pnlGridRicAssUCB_3, idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:pnlGridRicAssUCB_4, idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:pnlGridRicAssUCB_5" title="Ripeti Ricerca"/>
			<red:resizeSectionButton sectionId="eastSection"/>
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:tabView id="idTabRicercaAvanzataUcb" scrollable="true" widgetVar="wdgTabRicercaAvanzataDocumenti">
		<p:tab title="Documenti" id="idTabDocumentiRicercaAvanzataDocumenti">
	
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
		        <p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" value="Esporta" title="Esporta Excel" ajax="false" >
	              	<p:dataExporter type="xls" target="documenti" fileName="#{RicercaDocumentiUcbBean.nomeFileExportCoda}"/>
				</p:commandButton>
			</p:outputPanel>

			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaDocumentiUcbBean.documentiUcb.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="documenti" emptyMessage="Nessun Documento Trovato" widgetVar="documentiUcbDT" var="documento" rowKey="#{documento.documentTitle}-#{documento.wobNumber}-#{documento.allegatoDocumentTitle}" 
						 value="#{RicercaDocumentiUcbBean.documentiUcb.masters}" selectionMode="single" selection="#{RicercaDocumentiUcbBean.documentiUcb.currentMaster}" sortMode="multiple" 
						 filteredValue="#{RicercaDocumentiUcbBean.documentiUcb.filteredMasters}" paginatorAlwaysVisible="true">
						 
				<p:ajax event="rowSelect" listener="#{RicercaDocumentiUcbBean.rowSelector}" update="eastSectionForm:eastSectionUcbPanelId @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaDocumentiUcbBean.documentiUcb.rowUnselector}"/>

				<p:ajax event="filter" oncomplete="unselectDatatable('documentiUcbDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('documentiUcbDT', 'eastSection');"/>
		
				<p:column exportable="false" toggleable="false" visible="true" styleClass="dtInfoCol" headerText="INFO">
					<span class="DD_labelTitoletto"  title="#{documento.titleTipoCategoriaDoc}">
						#{documento.charTipoCategoriaDoc}
					</span>
					<span class="fa fa-info-circle generic_prop_hidden" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}"/>
					<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione ? 'hide' : ''}" title="#{documento.motivazioneAssegnazione}"/>
					<span class="fa fa-credit-card #{!documento.flagFirmaDig ? 'hide' : ''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
					<span class="fa fa-paperclip #{!documento.bAttachmentPresent ? 'hide' : ''}" title="Allegati Presenti"/>
					<span class="fa fa-folder-open-o #{!documento.hasContributi ? 'hide' : ''}" title="Contributi Presenti"/>
					<span class="fa fa-exclamation-circle crimson #{!documento.urgente ? 'hide':''}" title="Documento Urgente"/>
					<span class="fa fa-flag shadowflags #{empty documento.nota.contentNota?' hide' : ''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
					<span class="fa fa-user-secret #{(documento.idUtenteDestinatario eq SessionBean.utente.id and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma')?'hide':''}" title="Firma Delegato"/>
					<span title="Documento riservato" class="#{!(documento.flagRiservato) ? 'hide' : 'DD_labelTitoletto'}">R</span>
					<span title="Allegato" class="#{empty documento.allegatoDocumentTitle ? 'hide' : 'DD_labelTitoletto'}">A</span>
				</p:column>
				
				<p:column exportable="true" exportFunction="#{RicercaDocumentiUcbBean.columnDescrizione}" toggleable="false" visible="true" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word"  filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
					
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Apri fascicolo procedimentale"  process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
						action="#{RicercaDocumentiUcbBean.openFascicoloProcedimentale()}"
		  		 		disabled="#{documento.documentTitle ne RicercaDocumentiUcbBean.documentiUcb.currentMaster.documentTitle or documento.wobNumber ne RicercaDocumentiUcbBean.documentiUcb.currentMaster.wobNumber}">
		  		 	</p:commandButton>					
					
					<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"   styleClass="textBold-detail"/>
					<h:outputText title="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)}" value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="textBold-detail"/>
					<h:outputText title="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)}" value="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold" />
					<h:outputText title="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true}" value="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
					
					<h:outputText value="#{fn:length(documento.oggetto) gt 150 ? fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}" data-export="#{documento.oggetto}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="DATA CREAZIONE" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{documento.tipoProcedimento}" filterBy="#{documento.tipoProcedimento}" filterMatchMode="contains" headerText="PROCEDIMENTO" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{documento.tipoProcedimento}" value="#{documento.tipoProcedimento}"/>
				</p:column>
				
				
				<p:columns value="#{RicercaDocumentiUcbBean.columns}" var="column" headerText="#{column.header}" sortBy="#{column.value}" filterBy="#{column.value}" filterMatchMode="contains" exportable="true" styleClass="generic_textAlignCenter">
					<f:facet name="header">
		                <h:outputText value="#{fn:toUpperCase(column.header)}"/>
		            </f:facet>
					<h:outputText value="#{documento.metadatiEstesi[column.header]}" title="#{documento.metadatiEstesi[column.header]}"/>
				</p:columns>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>
	
	
</ui:composition>