<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
				
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Sigi"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaSigiBean.ripetiRicercaSigi}" oncomplete="repeatSearches('Sigi', null);" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:ricercaSigiForm"/>		
			<red:resizeSectionButton sectionId="eastSection"/>
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaSigi:documenti" trigger="centralSectionForm:idTabRicercaSigi:idTogglerDoc">
		<p:ajax event="toggle" listener="#{RicercaSigiBean.onColumnToggleSigi}" update="centralSectionForm:idTabRicercaSigi:documenti"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaSigi" scrollable="true" widgetVar="wdgTabRicercaSigi">
		<p:tab title="Documenti" id="idTabDocumentiRicercaSigi">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="documenti" fileName="#{RicercaSigiBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerDoc" styleClass="datatableButtons" value="Filtri"  type="button" icon="fa fa-filter" title="Gestisci colonne tabella"/>
			</p:outputPanel>
	
			
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaSigiBean.documentiSigiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="documenti" emptyMessage="Nessun Documento Trovato" widgetVar="documentiDT" var="docSigi" rowKey="#{docSigi.idDocumento}" value="#{RicercaSigiBean.documentiSigiDTH.masters}" 
						 selectionMode="single" selection="#{RicercaSigiBean.documentiSigiDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaSigiBean.documentiSigiDTH.filteredMasters}"
						 paginatorAlwaysVisible="true" >
		
				<p:ajax event="rowSelect" listener="#{RicercaSigiBean.rowSelector}" update="eastSectionForm:eastSectionPanelId" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaSigiBean.documentiSigiDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
		
				<p:column exportable="#{RicercaSigiBean.sigiColumns[0]}" toggleable="false" visible="#{RicercaSigiBean.sigiColumns[0]}" headerText="ID" styleClass="dtTextCenter" filterBy="#{docSigi.idDocumento}" filterMatchMode="contains" sortBy="#{docSigi.idDocumento}" >
					<h:outputText title="#{docSigi.idDocumento}" value="#{docSigi.idDocumento}"/>
				</p:column>
		
				<p:column exportable="#{RicercaSigiBean.sigiColumns[1]}" toggleable="true" visible="#{RicercaSigiBean.sigiColumns[1]}" headerText="OGGETTO" styleClass="dtTextCenter" filterBy="#{docSigi.oggetto}" filterMatchMode="contains" sortBy="#{docSigi.oggetto}">
					<h:outputText title="#{docSigi.oggetto}" value="#{RicercaSigiBean.getShortColumn(docSigi.oggetto)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaSigiBean.sigiColumns[2]}" toggleable="true" visible="#{RicercaSigiBean.sigiColumns[2]}" headerText="NUMERO PROTOCOLLO" styleClass="dtTextCenter" filterBy="#{docSigi.numeroProtocollo}" filterMatchMode="contains" sortBy="#{docSigi.numeroProtocollo}">
					<h:outputText title="#{docSigi.numeroProtocollo}" value="#{docSigi.numeroProtocollo}" />
				</p:column>
		
				<p:column exportable="#{RicercaSigiBean.sigiColumns[3]}" toggleable="true" visible="#{RicercaSigiBean.sigiColumns[3]}" headerText="ANNO PROTOCOLLO" styleClass="dtTextCenter" filterBy="#{docSigi.annoProtocollo}" filterMatchMode="contains" sortBy="#{docSigi.annoProtocollo}">
					<h:outputText title="#{docSigi.annoProtocollo}" value="#{docSigi.annoProtocollo}"/>
				</p:column>
				
				<p:column exportable="false" toggleable="true" visible="#{RicercaSigiBean.sigiColumns[4]}" headerText="ANNULLATO" styleClass="dtTextCenter">
					<h:outputText styleClass="fa fa-ban" rendered="#{docSigi.flagAnnullato}" title="#{RicercaSigiBean.getDateAsString(docSigi.dataAnnullato,'dd/MM/YYYY')} -  #{docSigi.motivoAnnullato}"/>
				</p:column>
				
				<p:column exportable="false" toggleable="false" visible="#{RicercaSigiBean.sigiColumns[5]}" headerText="DOWNLOAD" styleClass="dtTextCenter"> 
					<p:commandButton title="Scarica Registro" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
		   				<p:fileDownload value="#{RicercaSigiBean.scaricaDocSigi(docSigi)}"  />
					</p:commandButton>
				</p:column>
			
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>