<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />
  
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4"> 
	 
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
	 	
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca NSD Fascicoli"/> 
		</p:panel> 
		
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaFascicoliPregressiNsdBean.ripetiRicercaFascicoliPregressiNsd}" oncomplete="repeatSearches('Ricerca Nsd', 'Fascicoli Nsd');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercaNsd:ricercaFascicoliPregressiDfForm" />		
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel> 
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaAvanzataFascicoliNsd:fascicoliNsd" trigger="centralSectionForm:idTabRicercaAvanzataFascicoliNsd:idTogglerFasc">
		<p:ajax event="toggle" listener="#{RicercaFascicoliPregressiNsdBean.onColumnToggleFascicoliNsd}" update="centralSectionForm:idTabRicercaAvanzataFascicoliNsd:fascicoliNsd"/>			        
	</p:columnToggler>
	 
	<p:tabView id="idTabRicercaAvanzataFascicoliNsd" scrollable="true" widgetVar="wdgTabRicercaAvanzataFascicoliNsd">
		<p:tab title="Fascicoli Nsd" id="idTabFascicoliRicercaAvanzataFascicoli">
	  
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="fascicoliNsd" fileName="#{RicercaFascicoliPregressiNsdBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerFasc" styleClass="datatableButtons" value="Filtri" type="button" icon="fa fa-filter" title="Gestisci colonne tabella" />
			</p:outputPanel>
			  
			<p:remoteCommand name="refreshFooter" update="centralSectionForm"/>
		
			<p:dataTable var="fascicoloNsd" paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index"
			 			 rows="#{SessionBean.maxRowPageFascicoliNsd}" paginatorPosition="bottom" rowsPerPageTemplate="10,15,#{SessionBean.templateMaxRowPageFascicoli}" value="#{RicercaFascicoliPregressiNsdBean.fascicoliNsdDTH.masters}" 
						 paginatorTemplate="TOT : #{fn:length(RicercaFascicoliPregressiNsdBean.fascicoliNsdDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable dettaglioFascicoloForUpdatePurpose" id="fascicoliNsd" emptyMessage="Nessun Fascicolo Trovato" widgetVar="fascicoliNsdDT"  rowKey="#{fascicoloNsd.idFascicolo}" 
						 selectionMode="single" selection="#{RicercaFascicoliPregressiNsdBean.fascicoliNsdDTH.currentMaster}" sortMode="multiple" 
						 filteredValue="#{RicercaFascicoliPregressiNsdBean.fascicoliNsdDTH.filteredMasters}"   paginatorAlwaysVisible="true" >
		          
		   		<p:ajax event="rowSelect" listener="#{RicercaFascicoliPregressiNsdBean.rowSelectorFascicoli}" update="@([id$=eastSectionPanelId]), @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="filter" oncomplete="unselectDatatable('fascicoliNsdDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('fascicoliNsdDT', 'eastSection');"/>
		    	<p:ajax event="page" listener="#{RicercaFascicoliPregressiNsdBean.pageListener}" oncomplete="refreshFooter();"/>
		    
				
				<p:column exportable="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[0]}" toggleable="true" visible="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[0]}" headerText="Num. Fascicolo" sortBy="#{fascicoloNsd.numFascicolo}" styleClass="generic_textAlignCenter generic-break-word" filterBy="#{fascicoloNsd.numFascicolo}" filterMatchMode="contains">
					<h:outputText  value="#{fascicoloNsd.numFascicolo}" title = "#{fascicoloNsd.numFascicolo}"/>
				</p:column>
				
				<p:column exportable="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[1]}" toggleable="true" visible="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[1]}" headerText="Nome Fascicolo" sortBy="#{fascicoloNsd.descrizioneFascicolo}" styleClass="generic_textAlignCenter generic-break-word" filterBy="#{fascicoloNsd.descrizioneFascicolo}" filterMatchMode="contains">
					<h:outputText  value="#{fascicoloNsd.nomeCartella}" title = "#{fascicoloNsd.nomeCartella}"/>
				</p:column>
				  
				<p:column exportable="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[2]}"  toggleable="true" visible="#{RicercaFascicoliPregressiNsdBean.fascColumnsNsd[2]}" sortBy="#{fascicoloNsd.descrizioneUffProprietarioFascicolo}" headerText="Descr.Uff Proprietario" styleClass="generic_textAlignCenter generic-break-word" filterBy="#{fascicoloNsd.descrizioneUffProprietarioFascicolo}" filterMatchMode="contains">
					<h:outputText  value="#{fascicoloNsd.descrizioneUffProprietarioFascicolo}" title = "#{fascicoloNsd.descrizioneUffProprietarioFascicolo}"/>
				</p:column> 
				   	
			</p:dataTable>
			
		</p:tab>
	</p:tabView>
	 
</ui:composition>   