<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">


	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-8, ui-grid-col-4">
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Report Elenco Notifiche e Conti Consuntivi"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRipetiButton" value="Ripeti ricerca" action="#{RicercaContiConsuntiviBean.ripetiRicercaContiConsuntiviUcb()}" 
				oncomplete="repeatSearches('UCB', 'Elenco Notifiche e Conti Consuntivi');" styleClass="datatableButtons" icon="fa fa-refresh" title="Ripeti Ricerca" 
				update="idTabRicerche:idTabRicercaUCB:ricercaContiConsuntiviUCBForm:esercizio"/>
		</p:outputPanel>
	</p:panelGrid>
	
	<p:tabView id="idTabContiConsuntivi" scrollable="true" widgetVar="wdgTabContiConsuntivi">
		<p:tab title="Report" id="idTabReportContiConsuntivi">
		
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
	        	<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" value="Esporta Excel" title="Esporta Excel" ajax="false" >
	              	<p:dataExporter type="xls" target="contoConsuntivoDT" fileName="#{RicercaContiConsuntiviBean.nomeFileExport}" />
				</p:commandButton>
				
				<p:commandButton value="Esporta Pdf" icon="fa fa-file-pdf-o" title="Esporta Pdf" ajax="false" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" >
					<p:fileDownload value="#{RicercaContiConsuntiviBean.downloadPdf()}"/>
				</p:commandButton>
			</p:outputPanel>
			
			
			
			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaContiConsuntiviBean.result.risultatiRicerca)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="contoConsuntivoDT" emptyMessage="Nessun Documento Trovato" widgetVar="contoConsuntivoWdg" var="contoConsuntivo" 
						 value="#{RicercaContiConsuntiviBean.result.risultatiRicerca}" sortMode="multiple"
						 filteredValue="#{RicercaDocumentiRedBean.documentiRedDTH.filteredMasters}" paginatorAlwaysVisible="true">
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.codiceSedEstera}" filterBy="#{contoConsuntivo.codiceSedEstera}" filterMatchMode="contains" 
					headerText="Codice Sede Estera" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.codiceSedEstera}" value="#{contoConsuntivo.codiceSedEstera}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.descrizioneSedeEstera}" filterBy="#{contoConsuntivo.descrizioneSedeEstera}" filterMatchMode="contains" 
					headerText="Descrizione Sede Estera" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.descrizioneSedeEstera}" value="#{contoConsuntivo.descrizioneSedeEstera}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.esercizio}" filterBy="#{contoConsuntivo.esercizio}" filterMatchMode="contains" 
					headerText="Esercizio" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.esercizio}" value="#{contoConsuntivo.esercizio}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.dataNotifica}" filterBy="#{contoConsuntivo.dataNotifica}" filterMatchMode="contains" 
					headerText="Data Prot. RGS Notifica" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<p:outputLabel title="#{contoConsuntivo.dataNotifica}" value="#{contoConsuntivo.dataNotifica}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:outputLabel>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.numeroNotifica}" filterBy="#{contoConsuntivo.numeroNotifica}" filterMatchMode="contains" 
					headerText="Num. Prot. RGS Notifica" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.numeroNotifica}" value="#{contoConsuntivo.numeroNotifica}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.dataDocumento}" filterBy="#{contoConsuntivo.dataDocumento}" filterMatchMode="contains" 
					headerText="Data Prot. RGS Documento" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<p:outputLabel title="#{contoConsuntivo.dataDocumento}" value="#{contoConsuntivo.dataDocumento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:outputLabel>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.numeroDocumento}" filterBy="#{contoConsuntivo.numeroDocumento}" filterMatchMode="contains" 
					headerText="Num. Prot. RGS Documento" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.numeroDocumento}" value="#{contoConsuntivo.numeroDocumento}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.descrizioneAssegnatario}" filterBy="#{contoConsuntivo.descrizioneAssegnatario}" filterMatchMode="contains" 
					headerText="Assegnatario" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.descrizioneAssegnatario}" value="#{contoConsuntivo.descrizioneAssegnatario}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.stato}" filterBy="#{contoConsuntivo.stato}" filterMatchMode="contains" 
					headerText="Stato" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.stato}" value="#{contoConsuntivo.stato}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.controlloUcb}" filterBy="#{contoConsuntivo.controlloUcb}" filterMatchMode="contains" 
					headerText="Programma Controllo UCB" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{contoConsuntivo.controlloUcb}" value="#{contoConsuntivo.controlloUcb}"/>
				</p:column>
				
				<p:column exportable="true" toggleable="true" visible="true" sortBy="#{contoConsuntivo.dataChiusura}" filterBy="#{contoConsuntivo.dataChiusura}" filterMatchMode="contains" 
					headerText="Data Chiusura" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<p:outputLabel title="#{contoConsuntivo.dataChiusura}" value="#{contoConsuntivo.dataChiusura}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:outputLabel>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>