<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
		
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Fepa" /> 
		</p:panel>
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" action="#{RicercaDocumentiFepaBean.ripetiRicercaRedFepa}" oncomplete="repeatSearches('Fepa', null);" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:ricercaFepaForm" value="Ripeti ricerca" />		
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaFepa:documenti" trigger="centralSectionForm:idTabRicercaFepa:idToggleFepa">
		<p:ajax event="toggle" listener="#{RicercaDocumentiFepaBean.onColumnToggleFepa}" update="centralSectionForm:idTabRicercaFepa:documenti"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaFepa" scrollable="true" widgetVar="wdgTabRicercaFepa">
		<p:tab title="Documenti" id="idTabDocumentiRicercaFepa">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
		        	
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="documenti" fileName="#{RicercaDocumentiFepaBean.nomeFileExportCoda}" />
				</p:commandButton>
				
				<p:commandButton id="idToggleFepa" styleClass="datatableButtons"  type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
						
			</p:outputPanel>
			
			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaDocumentiFepaBean.documentiFepaDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="documenti" emptyMessage="Nessun Documento Trovato" widgetVar="documentiDT" var="documento" rowKey="#{documento.documentTitle}-#{documento.wobNumber}" value="#{RicercaDocumentiFepaBean.documentiFepaDTH.masters}" 
						 selectionMode="single" selection="#{RicercaDocumentiFepaBean.documentiFepaDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaDocumentiFepaBean.documentiFepaDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">
		
				<p:ajax event="rowSelect" listener="#{RicercaDocumentiFepaBean.rowSelector}" update="eastSectionForm:eastSectionPanelId" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaDocumentiFepaBean.documentiFepaDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>

		
				<p:column exportable="false" toggleable="false" visible="#{RicercaDocumentiFepaBean.fepaColumns[0]}" styleClass="dtInfoCol" headerText="INFO">
					<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione?'hide':''}" title="#{documento.motivazioneAssegnazione}"/>
					<span class="fa fa-credit-card #{!documento.flagFirmaDig?'hide':''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
					<span class="fa fa-paperclip #{!documento.bAttachmentPresent?'hide':''}" title="Allegati Presenti"/>
					<span class="fa fa-folder-open-o #{!documento.hasContributi?'hide':''}" title="Contributi Presenti"/>
					<span class="fa fa-exclamation-circle crimson #{!documento.urgente?'hide':''}" title="Documento Urgente"/>
					<span class="fa fa-flag shadowflags #{empty documento.nota.contentNota?'hide':''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
					<span class="fa fa-user-secret #{(documento.idUtenteDestinatario eq SessionBean.utente.id and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma')?'hide':''}" title="Firma Delegato"/>
					<span title="Documento riservato" class="#{!(documento.flagRiservato) ? 'hide' : 'DD_labelTitoletto'}">R</span>
					<span class="fa fa-info-circle generic_prop_hidden" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[1]}" exportFunction="#{RicercaDocumentiFepaBean.columnDescrizione}" toggleable="false" visible="#{RicercaDocumentiFepaBean.fepaColumns[1]}" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Apri fascicolo procedimentale" styleClass="cmdbtn-coda-apri-fascicolo"
					action="#{RicercaDocumentiFepaBean.openFascicoloProcedimentale()}" process="@this" 
			 		disabled="#{documento.documentTitle ne RicercaDocumentiFepaBean.documentiFepaDTH.currentMaster.documentTitle}" />
		  		 	
					
					<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento} "  styleClass="textBold-detail" />
					<h:outputText title="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" rendered="#{documento.numeroProtocollo!=NULL}" data-export="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"  styleClass="textBold-detail" />
					<h:outputText value="#{fn:length(documento.oggetto) gt 150?fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}" data-export="#{documento.oggetto}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[2]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[2]}" sortBy="#{documento.tipoProcedimento}" filterBy="#{documento.tipoProcedimento}" filterMatchMode="contains" headerText="PROCEDIMENTO" styleClass="generic-break-word" >
					<h:outputText title="#{documento.tipoProcedimento}" value="#{documento.tipoProcedimento}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[3]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[3]}" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="CREAZIONE" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word" >
					<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
					</h:outputText>
				</p:column>
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[4]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[4]}" sortBy="#{documento.dataScadenza}" filterBy="#{documento.dataScadenza}" filterMatchMode="contains" headerText="SCADENZA" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.dataScadenza}" value="#{documento.dataScadenza}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[5]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[5]}" sortBy="#{documento.mittente}" filterBy="#{documento.mittente}" filterMatchMode="contains" headerText="MITTENTE" styleClass="generic_textAlignCenter" >
					<h:outputText title="#{documento.mittente}" value="#{RicercaDocumentiFepaBean.getShortColumn(documento.mittente)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[6]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[6]}" sortBy="#{documento.destinatari}" filterBy="#{documento.destinatari}" filterMatchMode="contains" headerText="DESTINATARI" styleClass="generic_textAlignCenter" >
					<h:outputText title="#{documento.destinatari}" value="#{RicercaDocumentiFepaBean.getShortColumn(documento.destinatari)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[7]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[7]}" sortBy="#{documento.dataProtocollazione}" filterBy="#{documento.dataProtocollazione}" filterMatchMode="contains" headerText="PROTOCOLLAZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.dataProtocollazione}" value="#{documento.dataProtocollazione}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[8]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[8]}" sortBy="#{documento.tipoSpedizione}" filterBy="#{documento.tipoSpedizione}" filterMatchMode="contains" headerText="SPEDIZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.flagEntrata?'':documento.tipoSpedizione}" value="#{documento.flagEntrata?'':documento.tipoSpedizione}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiFepaBean.fepaColumns[9]}" toggleable="true" visible="#{RicercaDocumentiFepaBean.fepaColumns[9]}" sortBy="#{documento.flagRiservato}" filterBy="#{documento.flagRiservato ? 'RIS' : ''}" filterMatchMode="contains" headerText="RISERVATO" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText value="#{documento.flagRiservato ? 'RIS' : ''}"/>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>