<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
	
		<p:outputLabel/>
				
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Registrazioni Ausiliarie"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton value="Ripeti ricerca" action="#{RisultatiRicercaRegAusiliarieBean.ripetiRicerca}" oncomplete="repeatSearches('Sistema di Protocollo', 'Registrazioni Ausiliarie');" 
				styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercaStampaRegistro:ricercaRegistrazioniAusiliarieForm"/>
		</p:outputPanel>
		
	</p:panelGrid>

	<p:columnToggler datasource="centralSectionForm:tabRicercaRegistrazioniAusiliarie:registrazioniAusiliarie" trigger="centralSectionForm:tabRicercaRegistrazioniAusiliarie:idTogglerRegistrazioneAusiliaria">
		<p:ajax event="toggle" listener="#{RisultatiRicercaRegAusiliarieBean.onColumnToggle}" update="centralSectionForm:tabRicercaRegistrazioniAusiliarie:registrazioniAusiliarie"/>			        
	</p:columnToggler>
	
	<p:tabView id="tabRicercaRegistrazioniAusiliarie" scrollable="true" widgetVar="wdgTabRicercaRegistrazioniAusiliarie">
		<p:tab title="Registrazioni Ausiliarie" id="tabRegistrazioniAusiliarie">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="registrazioniAusiliarie" fileName="#{RisultatiRicercaRegAusiliarieBean.nomeFileExportCoda}"/>
				</p:commandButton>
				<p:commandButton id="idTogglerRegistrazioneAusiliaria" styleClass="datatableButtons" type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
			</p:outputPanel>
			
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" paginatorAlwaysVisible="true"
						 paginatorTemplate="TOT : #{fn:length(RisultatiRicercaRegAusiliarieBean.registrazioniAusiliarieDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="registrazioniAusiliarie" emptyMessage="Nessuna Registrazione Ausiliaria trovata" widgetVar="registrazioniAusiliarieDT" var="registrazioneAusiliaria" 
						 rowKey="#{registrazioneAusiliaria.numeroregistrazioneAusiliariaAnnoregistrazioneAusiliaria}" value="#{RisultatiRicercaRegAusiliarieBean.registrazioniAusiliarieDTH.masters}"
						 sortMode="multiple" filteredValue="#{RisultatiRicercaRegAusiliarieBean.registrazioniAusiliarieDTH.filteredMasters}">
		
				<p:column exportable="#{RisultatiRicercaRegAusiliarieBean.columns[0]}" toggleable="false" visible="#{RisultatiRicercaRegAusiliarieBean.columns[0]}" headerText="REGISTRO" styleClass="dtTextCenter" 
					filterBy="#{registrazioneAusiliaria.codiceRegistro}" filterMatchMode="contains" sortBy="#{registrazioneAusiliaria.codiceRegistro}">
					<h:outputText title="#{registrazioneAusiliaria.codiceRegistro}" value="#{registrazioneAusiliaria.codiceRegistro}"/>
				</p:column>
				
				<p:column exportable="#{RisultatiRicercaRegAusiliarieBean.columns[1]}" toggleable="false" visible="#{RisultatiRicercaRegAusiliarieBean.columns[1]}" headerText="NUMERO" styleClass="dtTextCenter" 
					filterBy="#{registrazioneAusiliaria.numeroRegistrazione}" filterMatchMode="contains" sortBy="#{registrazioneAusiliaria.numeroRegistrazione}" width="10%">
					<h:outputText title="#{registrazioneAusiliaria.numeroRegistrazione}" value="#{registrazioneAusiliaria.numeroRegistrazione}"/>
				</p:column>
				
				<p:column exportable="#{RisultatiRicercaRegAusiliarieBean.columns[2]}" toggleable="true" visible="#{RisultatiRicercaRegAusiliarieBean.columns[2]}" headerText="DATA" styleClass="dtTextCenter" 
					filterBy="#{registrazioneAusiliaria.dataRegistrazione}" filterMatchMode="contains" sortBy="#{registrazioneAusiliaria.dataRegistrazione}" width="8%">
					<h:outputText title="#{registrazioneAusiliaria.dataRegistrazione}" value="#{registrazioneAusiliaria.dataRegistrazione}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
		
				<p:column exportable="#{RisultatiRicercaRegAusiliarieBean.columns[3]}" toggleable="true" visible="#{RisultatiRicercaRegAusiliarieBean.columns[3]}" headerText="OGGETTO" styleClass="dtTextCenter" 
					filterBy="#{registrazioneAusiliaria.oggetto}" filterMatchMode="contains" sortBy="#{registrazioneAusiliaria.oggetto}">
					<h:outputText title="#{registrazioneAusiliaria.oggetto}" value="#{RisultatiRicercaRegAusiliarieBean.getShortColumn(registrazioneAusiliaria.oggetto)}"/>
				</p:column>
				
				<p:column exportable="#{RisultatiRicercaRegAusiliarieBean.columns[4]}" toggleable="true" visible="#{RisultatiRicercaRegAusiliarieBean.columns[4]}" headerText="TIPOLOGIA DOCUMENTO" styleClass="dtTextCenter" 
					filterBy="#{registrazioneAusiliaria.descrizioneTipologiaDocumento}" filterMatchMode="contains" sortBy="#{registrazioneAusiliaria.descrizioneTipologiaDocumento}">
					<h:outputText title="#{registrazioneAusiliaria.descrizioneTipologiaDocumento}" value="#{RisultatiRicercaRegAusiliarieBean.getShortColumn(registrazioneAusiliaria.descrizioneTipologiaDocumento)}"/>
				</p:column>
				
				<p:column exportable="false" toggleable="true" visible="#{RisultatiRicercaRegAusiliarieBean.columns[5]}" headerText="ANNULLATO" styleClass="dtTextCenter">
					<h:outputText styleClass="fa fa-ban" rendered="#{registrazioneAusiliaria.annullato}" 
						title="#{RisultatiRicercaRegAusiliarieBean.getDateAsString(registrazioneAusiliaria.dataAnnullamento, 'dd/MM/YYYY')} - #{registrazioneAusiliaria.motivoAnnullamento}"/>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>