<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
				
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca RED Faldoni"/> 
		</p:panel>
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" action="#{RicercaFaldoniRedBean.ripetiRicercaRedFaldoni}" oncomplete="repeatSearches('Avanzata', 'Faldoni');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercheRed:ricercaFaldoniRedForm" value="Ripeti ricerca" />
			<red:resizeSectionButton sectionId="eastSection" />		
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaAvanzataFaldoni:faldoni" trigger="centralSectionForm:idTabRicercaAvanzataFaldoni:idTogglerFaldoni">
		<p:ajax event="toggle" listener="#{RicercaFaldoniRedBean.onColumnToggleFaldoni}" update="centralSectionForm:idTabRicercaAvanzataFaldoni:faldoni"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaAvanzataFaldoni" scrollable="true" widgetVar="wdgTabRicercaAvanzataFaldoni">
		<p:tab title="Faldoni" id="idTabFaldoniRicercaAvanzataFaldoni">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="faldoni" fileName="#{RicercaFaldoniRedBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerFaldoni" styleClass="datatableButtons"  type="button" icon="fa fa-filter" title="Gestisci colonne tabella" value="Filtri"/>
			</p:outputPanel>
	
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaFaldoniRedBean.faldoniRedDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="faldoni" emptyMessage="Nessun Faldone Trovato" widgetVar="faldoneDT" var="faldone" rowKey="#{faldone.nomeFaldone}" value="#{RicercaFaldoniRedBean.faldoniRedDTH.masters}" 
						 selectionMode="single" selection="#{RicercaFaldoniRedBean.faldoniRedDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaFaldoniRedBean.faldoniRedDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">
		
				<p:ajax event="rowSelect" listener="#{RicercaFaldoniRedBean.rowSelectorFaldoni}" update="eastSectionForm:eastSectionPanelId" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaFaldoniRedBean.faldoniRedDTH.rowUnselector}" />

				<p:ajax event="filter" oncomplete="unselectDatatable('faldoneDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('faldoneDT', 'eastSection');"/>

		        
		        <p:column exportable="#{RicercaFaldoniRedBean.faldColumns[0]}" toggleable="true" visible="#{RicercaFaldoniRedBean.faldColumns[0]}" headerText="PERCORSO" sortBy="#{faldone.oggetto}" filterBy="#{faldone.descrizioneFaldone}" filterMatchMode="contains"  >
			        <h:outputText value="#{fn:length(faldone.gerarchiaPath) gt 70 ? fn:substring(faldone.gerarchiaPath,0,70).concat('...') : faldone.gerarchiaPath}" title="#{faldone.gerarchiaPath}" />
		        </p:column>
		        
		        <p:column exportable="#{RicercaFaldoniRedBean.faldColumns[1]}" toggleable="false" visible="#{RicercaFaldoniRedBean.faldColumns[1]}" headerText="OGGETTO" sortBy="#{faldone.oggetto}" filterBy="#{faldone.oggetto}" filterMatchMode="contains"  >
			        <h:outputText value="#{fn:length(faldone.oggetto) gt 70 ? fn:substring(faldone.oggetto,0,70).concat('...') : faldone.oggetto}" title="#{faldone.oggetto}"/>
		        </p:column>
		        
		        <p:column exportable="#{RicercaFaldoniRedBean.faldColumns[2]}" toggleable="true" visible="#{RicercaFaldoniRedBean.faldColumns[2]}" headerText="DESCRIZIONE" sortBy="#{faldone.descrizioneFaldone}" filterBy="#{faldone.descrizioneFaldone}" filterMatchMode="contains"  >
			        <h:outputText value="#{fn:length(faldone.descrizioneFaldone) gt 70 ? fn:substring(faldone.descrizioneFaldone,0,70).concat('...') : faldone.descrizioneFaldone}" title="#{faldone.descrizioneFaldone}"/>
		        </p:column>
		        		        
		
		        <p:column exportable="#{RicercaFaldoniRedBean.faldColumns[3]}" toggleable="false" visible="#{RicercaFaldoniRedBean.faldColumns[3]}" headerText="DATA" sortBy="#{faldone.dateCreated}" filterBy="#{faldone.dateCreated}" filterMatchMode="contains" styleClass="dtDataCol" >
			        <h:outputText value="#{faldone.dateCreated}">
			        	<f:convertDateTime pattern="dd/MM/yyyy" />
			        </h:outputText>
		        </p:column>
			
			</p:dataTable>
			
		</p:tab>
	</p:tabView>
		
</ui:composition>