<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
		
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca RED Documenti"/> 
		</p:panel>
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaDocumentiRedBean.ripetiRicercaRedDoc}" oncomplete="repeatSearches('Avanzata', 'Documenti');selectSearchFullText();PF('wdgAccordionUlterioriFiltri').unselect(0);" styleClass="datatableButtons" icon="fa fa-refresh" title="Ripeti Ricerca" 
				update="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idFiltriPrincipaliPnl, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssePerOpe, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssegnatarioPerAssegn, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idBasePnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idCatPnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idRisPnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idFascPnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idSpedPnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAvanzatePnlGrid, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoAssegnazione, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoOpe, 
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idGridProtEmerg,
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelAssegnazione,
				idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelOperazione"/>
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaAvanzataDocumenti:documenti" trigger="centralSectionForm:idTabRicercaAvanzataDocumenti:idToggleDocRed">
		<p:ajax event="toggle" listener="#{RicercaDocumentiRedBean.onColumnToggleDocumenti}" update="centralSectionForm:idTabRicercaAvanzataDocumenti:documenti"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaAvanzataDocumenti" scrollable="true" widgetVar="wdgTabRicercaAvanzataDocumenti">
		<p:tab title="Documenti" id="idTabDocumentiRicercaAvanzataDocumenti">
	
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
	        	<p:commandButton onclick="resetDlgAnnullaDocumento();" oncomplete="PF('wdgAnnullaDocumentoAvanzata').show()" title="Annulla documento" value="Annulla Documento" icon="fa fa-times" rendered="#{RicercaDocumentiRedBean.annullaDocumentoVisibile}"/>
				<red:dlgAnnullaDocumento bean="#{RicercaDocumentiRedBean.annullaComponent}" widgetVar ="wdgAnnullaDocumentoAvanzata"  dlgTitle="Annulla Documento" update="eastSectionForm:eastSectionPanelId" />
	 			<p:commandButton onclick="PF('wdgRiattivaProcedimentoRicercaAvanzata').show()" ajax="false" type="button" rendered="#{RicercaDocumentiRedBean.riattivaProcedimento}" title="Riattiva Procedimento" icon="fa fa-undo" value="Riattiva Procedimento"/>
				<red:dlgMessageRegistraAnnulla bean="#{RicercaDocumentiRedBean.riattivaComponent}" widgetVar="wdgRiattivaProcedimentoRicercaAvanzata" messageTitle="Messaggio Riattivazione" registraUpdate="@namingcontainer" dlgTitle="Riattiva procedimento" />
		        <p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" value="Esporta" title="Esporta Excel" ajax="false" >
	              	<p:dataExporter type="xls" target="documenti" fileName="#{RicercaDocumentiRedBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idToggleDocRed" styleClass="datatableButtons"  type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
			</p:outputPanel>
	
			
			<p:dataTable paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaDocumentiRedBean.documentiRedDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="documenti" emptyMessage="Nessun Documento Trovato" widgetVar="documentiDT" var="documento" rowKey="#{documento.documentTitle}-#{documento.wobNumber}-#{documento.allegatoDocumentTitle}" 
						 value="#{RicercaDocumentiRedBean.documentiRedDTH.masters}" selectionMode="single" selection="#{RicercaDocumentiRedBean.documentiRedDTH.currentMaster}" sortMode="multiple" 
						 filteredValue="#{RicercaDocumentiRedBean.documentiRedDTH.filteredMasters}" paginatorAlwaysVisible="true">
						 
				<p:ajax event="rowSelect" listener="#{RicercaDocumentiRedBean.rowSelector}" update="eastSectionForm:eastSectionPanelId @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaDocumentiRedBean.documentiRedDTH.rowUnselector}" />

				<p:ajax event="filter" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('documentiDT', 'eastSection');"/>
		
				<p:column exportable="false" toggleable="false" visible="#{RicercaDocumentiRedBean.docColumns[0]}" styleClass="dtInfoCol" headerText="INFO">
					<span class="DD_labelTitoletto"  title="#{documento.titleTipoCategoriaDoc.concat(' - ').concat(documento.sottoCategoriaDocumentoUscita.descrizione)}">
						#{documento.charTipoCategoriaDoc}
					</span>
					<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione ? 'hide' : ''}" title="#{documento.motivazioneAssegnazione}"/>
					<span class="fa fa-credit-card #{!documento.flagFirmaDig ? 'hide' : ''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
					<span class="fa fa-paperclip #{!documento.bAttachmentPresent ? 'hide' : ''}" title="Allegati Presenti"/>
					<span class="fa fa-folder-open-o #{!documento.hasContributi ? 'hide' : ''}" title="Contributi Presenti"/>
					<span class="fa fa-exclamation-circle crimson #{!documento.urgente ? 'hide':''}" title="Documento Urgente"/>
					<span class="fa fa-flag shadowflags #{empty documento.nota.contentNota?' hide' : ''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
					<span class="fa fa-user-secret #{(documento.idUtenteDestinatario eq SessionBean.utente.id and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma')?'hide':''}" title="Firma Delegato"/>
					<span title="Documento riservato" class="#{!(documento.flagRiservato) ? 'hide' : 'DD_labelTitoletto'}">R</span>
					<span title="Allegato" class="#{empty documento.allegatoDocumentTitle ? 'hide' : 'DD_labelTitoletto'}">A</span>
					<span class="fa fa-info-circle generic_prop_hidden" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[1]}" exportFunction="#{RicercaDocumentiRedBean.columnDescrizione}" toggleable="false" visible="#{RicercaDocumentiRedBean.docColumns[1]}" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
					
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Apri fascicolo procedimentale" styleClass="cmdbtn-coda-apri-fascicolo"
					action="#{RicercaDocumentiRedBean.openFascicoloProcedimentale()}" process="@this" 
			 		disabled="#{documento.documentTitle ne RicercaDocumentiRedBean.documentiRedDTH.currentMaster.documentTitle}" />
					
					<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo==NULL?'ID:'.concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento): ''}" rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"   styleClass="textBold-detail"/>
					<h:outputText title="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)?'PROT:'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)}" value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="textBold-detail"/>
					<h:outputText title="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)?'PROT:'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)}" value="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold" />
					<h:outputText title="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true?'RR'.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento):''}" rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true}" value="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
					
					<h:outputText value="#{fn:length(documento.oggetto) gt 150?fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}" data-export="#{documento.oggetto}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[2]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[2]}" sortBy="#{documento.tipoProcedimento}" filterBy="#{documento.tipoProcedimento}" filterMatchMode="contains" headerText="PROCEDIMENTO" styleClass="generic-break-word">
					<h:outputText title="#{documento.tipoProcedimento}" value="#{documento.tipoProcedimento}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[3]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[3]}" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="CREAZIONE / PROTOCOLLO" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
					<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
					</h:outputText>
				</p:column>
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[4]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[4]}" sortBy="#{documento.dataScadenza}" filterBy="#{documento.dataScadenza}" filterMatchMode="contains" headerText="SCADENZA" styleClass="generic_textAlignCenter generic-break-word">
					<h:outputText title="#{documento.dataScadenza}" value="#{documento.dataScadenza}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[5]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[5]}" sortBy="#{documento.mittente}" filterBy="#{documento.mittente}" filterMatchMode="contains" headerText="MITTENTE" styleClass="generic_textAlignCenter">
					<h:outputText title="#{documento.mittente}" value="#{RicercaDocumentiRedBean.getShortColumn(documento.mittente)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[6]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[6]}" sortBy="#{documento.destinatari}" filterBy="#{documento.destinatari}" filterMatchMode="contains" headerText="DESTINATARI" styleClass="generic_textAlignCenter">
					<h:outputText title="#{documento.destinatari}" value="#{RicercaDocumentiRedBean.getShortColumn(documento.destinatari)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[7]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[7]}" sortBy="#{documento.nomeFile}" filterBy="#{documento.nomeFile}" filterMatchMode="contains" headerText="NOME FILE" styleClass="generic_textAlignCenter">
					<h:outputText title="#{documento.nomeFile}" value="#{RicercaDocumentiRedBean.getShortColumn(documento.nomeFile)}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[8]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[8]}" sortBy="#{documento.dataProtocollazione}" filterBy="#{documento.dataProtocollazione}" filterMatchMode="contains" headerText="PROTOCOLLAZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.dataProtocollazione}" value="#{documento.dataProtocollazione}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>	
					</h:outputText>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[9]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[9]}" sortBy="#{documento.tipoSpedizione}" filterBy="#{documento.tipoSpedizione}" filterMatchMode="contains" headerText="SPEDIZIONE" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText title="#{documento.flagEntrata?'':documento.tipoSpedizione}" value="#{documento.flagEntrata?'':documento.tipoSpedizione}"/>
				</p:column>
				
				<p:column exportable="#{RicercaDocumentiRedBean.docColumns[10]}" toggleable="true" visible="#{RicercaDocumentiRedBean.docColumns[10]}" sortBy="#{documento.flagRiservato}" filterBy="#{documento.flagRiservato ? 'RIS' : ''}" filterMatchMode="contains" headerText="RISERVATO" styleClass="generic_textAlignCenter generic-break-word" >
					<h:outputText value="#{documento.flagRiservato ? 'RIS' : ''}"/>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>