<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
				
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca Dati Protocollo"/> 
		</p:panel>
		
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaDatiProtocolloBean.ripetiRicercaDatiProt}" oncomplete="repeatSearches('Sistema di Protocollo', 'Dati Protocollo');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercaStampaRegistro:ricercaDatiProtocolloForm" />
			<red:resizeSectionButton sectionId="eastSection" />		
		</p:outputPanel>
		
	</p:panelGrid>

	<p:columnToggler datasource="centralSectionForm:idTabRicercaDatiProtocollo:protocolli" trigger="centralSectionForm:idTabRicercaDatiProtocollo:idTogglerDatiProt" >
		<p:ajax event="toggle" listener="#{RicercaDatiProtocolloBean.onColumnToggleDP}" update="centralSectionForm:idTabRicercaDatiProtocollo:protocolli"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaDatiProtocollo" scrollable="true" widgetVar="wdgTabRicercaDatiProtocollo">
		<p:tab title="Protocolli" id="idTabDocumentiRicercaDatiProtocollo">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton id="predisponiDocumentoNps" value="Predisponi" action="#{RicercaDatiProtocolloBean.predisponiDocumenti}" styleClass="datatableButtons" icon="fa fa-refresh"  title="Predisponi" rendered="#{SessionBean.utente.showAllaccioNps}" />		
				
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="protocolli" fileName="#{RicercaDatiProtocolloBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerDatiProt" styleClass="datatableButtons"  type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
			</p:outputPanel>
			
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaDatiProtocolloBean.protocolliDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable" id="protocolli" emptyMessage="Nessun Protocollo Trovato" widgetVar="protocolliDT" var="protocollo" rowKey="#{protocollo.numeroProtocolloAnnoProtocollo}" value="#{RicercaDatiProtocolloBean.protocolliDTH.masters}" 
						 selectionMode="single" selection="#{RicercaDatiProtocolloBean.protocolliDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaDatiProtocolloBean.protocolliDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">
		
				<p:ajax event="rowSelect" listener="#{RicercaDatiProtocolloBean.rowSelectorDatiProtocollo}" update="eastSectionForm:eastSectionPanelId"  oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaDatiProtocolloBean.protocolliDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('protocolliDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('protocolliDT', 'eastSection');"/>
				
				<p:column exportable="false" toggleable="false" visible="#{RicercaDatiProtocolloBean.protColumns[0]}" styleClass="dtSelectAllColumn" rendered="#{SessionBean.utente.showAllaccioNps}" >
					 <p:selectBooleanCheckbox rendered="#{protocollo.entrataProtocollo and protocollo.sistemaProduttore ne 'RED'}" title="#{protocollo.selected ? 'Deseleziona' : 'Seleziona'}" value="#{protocollo.selected}" >
				  		<p:ajax event="change" listener="#{RicercaDatiProtocolloBean.updateCheck}" update="@(.refreshEastButton), centralSectionForm" />
			  		 </p:selectBooleanCheckbox>
		   		</p:column>
		   		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[1]}" toggleable="true" visible="#{RicercaDatiProtocolloBean.protColumns[1]}" headerText="DATA" styleClass="dtTextCenter" filterBy="#{protocollo.dataProtocollo}" filterMatchMode="contains" sortBy="#{protocollo.dataProtocollo}">
					<h:outputText title="#{protocollo.dataProtocollo}" value="#{protocollo.dataProtocollo}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[2]}" toggleable="false" visible="#{RicercaDatiProtocolloBean.protColumns[2]}" headerText="NUM. PROTOCOLLO" styleClass="dtTextCenter" filterBy="#{protocollo.numeroProtocolloAnnoProtocollo}" filterMatchMode="contains" sortBy="#{protocollo.numeroProtocolloAnnoProtocollo}">
					<h:outputText title="#{protocollo.numeroProtocolloAnnoProtocollo}" value="#{protocollo.numeroProtocolloAnnoProtocollo}"/>
				</p:column>
		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[3]}" toggleable="false" visible="#{RicercaDatiProtocolloBean.protColumns[3]}" headerText="TIPO PROTOCOLLO" styleClass="dtTextCenter" filterBy="#{protocollo.tipoProtocollo}" filterMatchMode="contains" sortBy="#{protocollo.tipoProtocollo}">
					<h:outputText title="#{protocollo.tipoProtocollo}" value="#{protocollo.tipoProtocollo}"/>
				</p:column>
		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[4]}" toggleable="true" visible="#{RicercaDatiProtocolloBean.protColumns[4]}" headerText="MITTENTE" styleClass="dtTextCenter" filterBy="#{protocollo.mittenteString}" filterMatchMode="contains" sortBy="#{protocollo.mittenteString}">
					<h:outputText title="#{protocollo.mittenteString}" value="#{RicercaDatiProtocolloBean.getShortColumn(protocollo.mittenteString)}"/>
				</p:column>
		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[5]}" toggleable="true" visible="#{RicercaDatiProtocolloBean.protColumns[5]}" headerText="DESTINATARIO" styleClass="dtTextCenter" filterBy="#{protocollo.destinatariString}" filterMatchMode="contains" sortBy="#{protocollo.destinatariString}">
					<h:outputText title="#{protocollo.destinatariString}" value="#{RicercaDatiProtocolloBean.getShortColumn(protocollo.destinatariString)}"/>
				</p:column>
		
				<p:column exportable="#{RicercaDatiProtocolloBean.protColumns[6]}" toggleable="true" visible="#{RicercaDatiProtocolloBean.protColumns[6]}" headerText="OGGETTO" styleClass="dtTextCenter" filterBy="#{protocollo.oggetto}" filterMatchMode="contains" sortBy="#{protocollo.oggetto}">
					<h:outputText title="#{protocollo.oggetto}" value="#{RicercaDatiProtocolloBean.getShortColumn(protocollo.oggetto)}"/>
				</p:column>
					
				<p:column exportable="true" toggleable="true" visible="#{RicercaDatiProtocolloBean.protColumns[7]}" headerText="SISTEMA PRODUTTORE" styleClass="dtTextCenter" filterBy="#{protocollo.sistemaProduttore}" filterMatchMode="contains" sortBy="#{protocollo.sistemaProduttore}">
					<h:outputText title="#{protocollo.sistemaProduttore}" value="#{RicercaDatiProtocolloBean.getShortColumn(protocollo.sistemaProduttore)}"/>
				</p:column>
				
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>