<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>
		
		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca RED Fascicoli"/> 
		</p:panel>
		<p:outputPanel styleClass="textAlignRight" >
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaFascicoliRedBean.ripetiRicercaRedFascicoli}" oncomplete="repeatSearches('Avanzata', 'Fascicoli');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idDescPnlGrid, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idFilterPnlGrid, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idStatoFaldSelect, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idAssFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idChiusuraDaFald, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idChiusuraAFald, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectAssFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idTipoDocFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectProcFasc" />		
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel>
		
	</p:panelGrid>
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaAvanzataFascicoli:fascicoli" trigger="centralSectionForm:idTabRicercaAvanzataFascicoli:idTogglerFasc">
		<p:ajax event="toggle" listener="#{RicercaFascicoliRedBean.onColumnToggleFascicoli}" update="centralSectionForm:idTabRicercaAvanzataFascicoli:fascicoli"/>			        
	</p:columnToggler>
	
	<p:tabView id="idTabRicercaAvanzataFascicoli" scrollable="true" widgetVar="wdgTabRicercaAvanzataFascicoli">
		<p:tab title="Fascicoli" id="idTabFascicoliRicercaAvanzataFascicoli">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="fascicoli" fileName="#{RicercaFascicoliRedBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerFasc" styleClass="datatableButtons" value="Filtri" type="button" icon="fa fa-filter" title="Gestisci colonne tabella" />
			</p:outputPanel>
			
			<!-- Ho utilizzaato la classe dettaglioFascicoloForUpdatePurpose per eseguire update dal dettaglioesteso del fascicolo -->
			<p:dataTable paginator="true" scrollable="true" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" 
						 paginatorTemplate="TOT : #{fn:length(RicercaFascicoliRedBean.fascicoliRedDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 styleClass="datatable dettaglioFascicoloForUpdatePurpose" id="fascicoli" emptyMessage="Nessun Fascicolo Trovato" widgetVar="fascicoliDT" var="fascicolo" rowKey="#{fascicolo.idFascicolo}" value="#{RicercaFascicoliRedBean.fascicoliRedDTH.masters}" 
						 selectionMode="single" selection="#{RicercaFascicoliRedBean.fascicoliRedDTH.currentMaster}" sortMode="multiple" filteredValue="#{RicercaFascicoliRedBean.fascicoliRedDTH.filteredMasters}" 
						 paginatorAlwaysVisible="true">
		
				<p:ajax event="rowSelect" listener="#{RicercaFascicoliRedBean.rowSelectorFascicoli}" update="@([id$=eastSectionPanelId]), @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaFascicoliRedBean.fascicoliRedDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('fascicoliDT', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('fascicoliDT', 'eastSection');"/>
		
				<p:column exportable="false" toggleable="false" visible="#{RicercaFascicoliRedBean.fascColumns[0]}" styleClass="dtInfoCol" headerText="INFO">
					<h:outputText  styleClass="fa fa-folder-open-o" rendered="#{fascicolo.stato eq 'Aperto'}" title="#{fascicolo.stato}" />
					<h:outputText  styleClass="fa fa-folder-o" rendered="#{fascicolo.stato ne 'Aperto'}" title="#{fascicolo.stato}" />
				</p:column>
				
				<p:column exportable="#{RicercaFascicoliRedBean.fascColumns[1]}" exportFunction="#{RicercaFascicoliRedBean.columnDescrizione}" toggleable="false" visible="#{RicercaFascicoliRedBean.fascColumns[1]}" headerText="DESCRIZIONE" styleClass="lf_tableColumn2" sortBy="#{fascicolo.descrizione}" filterBy="#{fascicolo.nomeDocumento} #{fascicolo.anno} #{fascicolo.descrizione}" filterMatchMode="contains">
					<p:outputLabel value="#{fascicolo.nomeDocumento}" styleClass="generic_grassetto generic_corsivo" data-export="#{fascicolo.nomeDocumento}"/>
						<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Visualizza fascicolo"
					 				 oncomplete="PF('dlgManageFascicolo_DF').show();" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
					 				 action="#{DettaglioFascicoloRicercaBean.openDialogFascicolo}"  process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
  		 							 disabled="#{fascicolo.documentTitle ne DettaglioFascicoloRicercaBean.fascicoloCmp.detail.documentTitle}">
  		 				</p:commandButton>
						<p:outputLabel value="_"  styleClass="generic_grassetto generic_corsivo" />
						<p:outputLabel value="#{fascicolo.anno}"  styleClass="generic_grassetto generic_corsivo" data-export="_#{fascicolo.anno}" />
						<p:outputLabel value="_" />
					<p:outputLabel value="#{fn:length(fascicolo.descrizione) gt 150?fn:substring(fascicolo.descrizione,0,150).concat('...'):fascicolo.descrizione}" title="#{fascicolo.descrizione}" data-export="_#{fascicolo.descrizione}"/>
				</p:column>
				
				<p:column exportable="#{RicercaFascicoliRedBean.fascColumns[2]}" toggleable="true" visible="#{RicercaFascicoliRedBean.fascColumns[2]}" headerText="CLASSIFICAZIONE" sortBy="#{fascicolo.indiceClassificazione}" filterBy="#{fascicolo.indiceClassificazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter lf_tableColumn3">
					<h:outputText rendered="#{fascicolo.descrizioneTitolario != null}" value="#{fascicolo.indiceClassificazione} - #{fascicolo.descrizioneTitolario}"/>
					<h:outputText rendered="#{fascicolo.descrizioneTitolario == null}" value="#{fascicolo.indiceClassificazione}"/>
				</p:column>
				     
				<p:column exportable="#{RicercaFascicoliRedBean.fascColumns[3]}" toggleable="true" visible="#{RicercaFascicoliRedBean.fascColumns[3]}" headerText="CREAZIONE" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter lf_tableColumn4">
					<p:outputLabel value="#{fascicolo.dataCreazione}" >
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:outputLabel>
				</p:column>
			
			</p:dataTable>
			
		</p:tab>
	</p:tabView>

</ui:composition>