<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />
 
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
	 	 
		<p:commandButton id="btnTornaA" value="Torna a: #{SessionBean.getSimpleTitlePage()}" icon="fa fa-arrow-left" action="#{SessionBean.gotoPage(SessionBean.lastPageInfo)}" styleClass="datatableButtons"  title="Torna alla pagina precedente" update="centralSectionForm"/>

		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel styleClass="label-risultati-ricerca" value="Ricerca NSD Protocolli"/> 
		</p:panel>
		 
		<p:outputPanel styleClass="textAlignRight" > 
			<p:commandButton id="idRepeteButton" value="Ripeti ricerca" action="#{RicercaProtocolliPregressiNsdBean.ripetiRicercaProtocolliPregressiNsd}" oncomplete="repeatSearches('Ricerca Nsd', 'Protocolli Nsd');" styleClass="datatableButtons" icon="fa fa-refresh"  title="Ripeti Ricerca" update="idTabRicerche:idTabRicercaNsd:ricercaProtocolliPregressiDfForm" />		
			<red:resizeSectionButton sectionId="eastSection" />
		</p:outputPanel> 
		
	</p:panelGrid> 
	
	<p:columnToggler datasource="centralSectionForm:idTabRicercaAvanzataProtocolliNsd:protocolliNsd" trigger="centralSectionForm:idTabRicercaAvanzataProtocolliNsd:idTogglerProt">
		<p:ajax event="toggle" listener="#{RicercaProtocolliPregressiNsdBean.onColumnToggleProtocolliNsd}" update="centralSectionForm:idTabRicercaAvanzataProtocolliNsd:protocolliNsd"/>			        
	</p:columnToggler>
	 
	
	<p:tabView id="idTabRicercaAvanzataProtocolliNsd" scrollable="true" widgetVar="wdgTabRicercaAvanzataFascicoli">
		<p:tab title="Documenti Nsd" id="idTabDocumentiNsd">
			
			<p:outputPanel styleClass="ui-widget-header btn-header-table textAlignRight">
				<p:commandButton id="predisponiDocumentoNsd" value="Predisponi" action="#{RicercaProtocolliPregressiNsdBean.predisponiDocumenti}" styleClass="datatableButtons" icon="fa fa-refresh"  title="Predisponi"/>		
				 
				 <p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
	              	<p:dataExporter type="xls" target="protocolliNsd" fileName="#{RicercaProtocolliPregressiNsdBean.nomeFileExportCoda}" />
				</p:commandButton>
				<p:commandButton id="idTogglerProt" styleClass="datatableButtons" value="Filtri" type="button" icon="fa fa-filter" title="Gestisci colonne tabella" />
			</p:outputPanel>
			
		    <p:remoteCommand name="refreshFooter" update="centralSectionForm"/>
			 
		 	<p:dataTable var="protocolloNsd" paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index"
		 				 rows="#{SessionBean.maxRowPageProtocolliNsd}" paginatorPosition="bottom" rowsPerPageTemplate="10,15,#{SessionBean.templateMaxRowPageProtocolli}" value="#{RicercaProtocolliPregressiNsdBean.protocolliNsdDTH.masters}" 
		 				 paginatorTemplate="TOT : #{fn:length(RicercaProtocolliPregressiNsdBean.protocolliNsdDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 				 styleClass="datatable dettaglioFascicoloForUpdatePurpose" id="protocolliNsd" emptyMessage="Nessun Documento Trovato" widgetVar="protocolliNsdDT" rowKey="#{protocolloNsd.dataTableKey}"       
						 selectionMode="single" selection="#{RicercaProtocolliPregressiNsdBean.protocolliNsdDTH.currentMaster}" 
						 filteredValue="#{RicercaProtocolliPregressiNsdBean.protocolliNsdDTH.filteredMasters}" paginatorAlwaysVisible="true">
		    
		   		<p:ajax event="rowSelect" listener="#{RicercaProtocolliPregressiNsdBean.rowSelectorProtocolli}" update="@([id$=eastSectionPanelId]), @this" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="rowUnselect" listener="#{RicercaProtocolliPregressiNsdBean.protocolliRedDTH.rowUnselector}" />
				<p:ajax event="filter" oncomplete="unselectDatatable('protocolliNsdDT', 'eastSection');"/>
				<p:ajax event="page" listener="#{RicercaProtocolliPregressiNsdBean.pageListener}" oncomplete="refreshFooter();"/>
		    
		   		<p:column exportable="false" toggleable="false" visible="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[0]}" styleClass="dtSelectAllColumn" >
					 <p:selectBooleanCheckbox rendered="#{protocolloNsd.modalita eq 'INGRESSO'}" title="#{protocolloNsd.selected ? 'Deseleziona' : 'Seleziona'} protocollo #{protocolloNsd.idProtocollo}" value="#{protocolloNsd.selected}" >
				  		<p:ajax event="change" listener="#{RicercaProtocolliPregressiNsdBean.updateCheck}" update="@(.refreshEastButton), centralSectionForm" />
			  		 </p:selectBooleanCheckbox>
		   		</p:column>
		   		   
		    	<p:column exportable="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[1]}" toggleable="true" visible="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[1]}" headerText="N.Protocollo" styleClass="generic_textAlignCenter generic-break-word generic_width15" filterBy="#{protocolloNsd.idProtocollo}" filterMatchMode="contains">
					<h:outputText value="#{protocolloNsd.idProtocollo}" title = "#{protocolloNsd.idProtocollo}"/>
				</p:column>
				  
				<p:column exportable="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[2]}" toggleable="true" visible="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[2]}" headerText="Oggetto" styleClass="generic_textAlignCenter generic-break-word generic_width70"  filterBy="#{protocolloNsd.descOggetto}" filterMatchMode="contains">
					<h:outputText value="#{protocolloNsd.descOggetto}" title = "#{protocolloNsd.descOggetto}"/>
				</p:column>
				
				<p:column rendered="false" exportable="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[3]}" toggleable="true" visible="#{RicercaProtocolliPregressiNsdBean.protColumnsNsd[3]}" headerText="Protocollatore" sortBy="#{protocolloNsd.descProtocollatore}" styleClass="generic_textAlignCenter generic-break-word generic_width15" >
					<h:outputText value="#{protocolloNsd.descProtocollatore}" title = "#{protocolloNsd.descProtocollatore}"/>
				</p:column>
				  
				<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic-break-word" exportable="false">
					<p:commandButton icon="fa fa-download" title="Download #{protocolloNsd.descFileName}" ajax="false" disabled="#{protocolloNsd.originalDocId eq null}" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)">
							<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(protocolloNsd.originalDocId)}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			
		</p:tab>
	</p:tabView>
	 
</ui:composition>