<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.FilenetStatoFascicoloEnum" var="FilenetStatoFascicoloEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaFascRedForm">
				
		<p:panelGrid id="idDescPnlGrid" layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" >
        	<p:outputLabel value="Descrizione" styleClass="generic_textBold"/>
        	<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliRed.descrizioneFascicolo}" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width97" />
		</p:panelGrid>
		<p:outputPanel id="idFilterPnlGrid">
			<p:panelGrid id="idFilterPnlGrid0" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici">
	        	<p:outputLabel for="numFascicolo" value="Numero" styleClass="generic_textBold"/>
	        	<p:inputNumber id="numFascicolo" value="#{SessionBean.ricercaFormContainer.fascicoliRed.numeroFascicolo}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" /> 
		        <p:outputPanel>
		        	<p:outputLabel value="Anno creazione" styleClass="generic_textBold"/>
		        	<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
		        </p:outputPanel>
	        	<p:inputNumber value="#{SessionBean.ricercaFormContainer.fascicoliRed.annoFascicolo}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" styleClass="input-number-obbligatorio obbligatorio"
	        		disabled="#{SessionBean.ricercaFormContainer.fascicoliRed.annoFascicoloDisabled}" id="idAnnoFascicolo_RF" /> 
	
	        	<p:outputLabel value="Data creazione Da" styleClass="generic_textBold" />
	        	<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliRed.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-fasc" id="idFasDataDa" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFascicoliDataDaA('dataCreazioneDa')}" update="idFasDataA, idFilterPnlGrid0" />
	       		</p:calendar>
	        	<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>
	        	<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliRed.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-fasc-a" id="idFasDataA" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFascicoliDataDaA('dataCreazioneA')}" update="idFasDataDa, idFilterPnlGrid0" />
	       		</p:calendar>
	
			</p:panelGrid>
			<p:panelGrid id="idFilterPnlGrid1" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici">
	        	<p:outputLabel value="Faldonato" styleClass="generic_textBold"/>
				<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.fascicoliRed.faldonato}">
					<f:selectItem itemValue="#{null}" itemLabel="Tutti" />
					<f:selectItem itemValue="#{true}" itemLabel="Faldonati" />
					<f:selectItem itemValue="#{false}" itemLabel="Non faldonati" />
				</p:selectOneMenu>
	        	<p:outputLabel value="Indice di classificazione" styleClass="generic_textBold"/>
	        	<p:outputPanel styleClass="ui-inputgroup">
	        		<p:inputText id="idTitolarioRicercaFasc" value="#{SessionBean.descrizioneTitolario}" title="#{SessionBean.descrizioneTitolario}" styleClass="generic_nominWidth generic_width147px" readonly="true" />
	        		<p:commandButton id="idButtonTitolario" icon="fa fa-sitemap" title="Titolario" type="button"  />
	        	</p:outputPanel>
			</p:panelGrid>
		</p:outputPanel>
		
		<p:remoteCommand id="idRemoteLoadFiltriFasc" name="loadUlterioriFiltriFasc" action="#{SessionBean.loadUlterioriFiltriRicercaFascicoli}"  
						 update="idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectAssFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idTipoDocFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectProcFasc" 
						 /> <!-- Vanno fatti degli update puntuali altrimenti il btn del tree assegnatario non funziona -->
	    <p:accordionPanel id="idAccordionUlterioriFiltriFasc" widgetVar="wdgAccordionUlterioriFiltriFasc" onTabChange="isLoadedUlterioriFiltriFasc();" activeIndex="-1" styleClass="ulteriori-filtri-style" > 
	    	<p:tab title="Ulteriori Filtri">
		    	<p:outputPanel id="idPanelUlterioriFiltriFasc" >
		    		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" >
			        	<p:outputLabel value="Data Chiusura Da" styleClass="generic_textBold" />
			        	<p:calendar navigator="true" id="idChiusuraDaFald" value="#{SessionBean.ricercaFormContainer.fascicoliRed.dataChiusuraDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-da-fasc"/>
			        	<p:outputLabel value="Data Chiusura A" styleClass="generic_textBold"/>
			        	<p:calendar navigator="true" id="idChiusuraAFald" value="#{SessionBean.ricercaFormContainer.fascicoliRed.dataChiusuraA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-a-fasc"/>
			        	<p:outputLabel value="Tipo Documento" styleClass="generic_textBold"/>
						<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.fascicoliRed.descrizioneTipologiaDocumento}" id="idTipoDocFasc" widgetVar="wdgTipoDocFasc" styleClass="generic_nominWidth generic_width159px" >
							<p:ajax event="change" listener="#{SessionBean.onChangeTipologiaDocumentoFasc}" update="idSelectProcFasc"/>
							<f:selectItems value="#{SessionBean.formFascicoli.comboTipologieDocumento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}"/>
						</p:selectOneMenu>
			        	<p:outputLabel value="Tipo Procedimento" styleClass="generic_textBold"/>
						<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.fascicoliRed.descrizioneTipoProcedimento}" id="idSelectProcFasc" styleClass="generic_nominWidth generic_width162px" >
							<f:selectItems value="#{SessionBean.formFascicoli.comboTipiProcedimento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}" />
						</p:selectOneMenu>
					</p:panelGrid>
					
					<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank generic_width100" >
			        	<p:outputLabel value="Tipo Assegnazione" styleClass="generic_textBold"/>
						<p:selectOneMenu id="idSelectAssFasc" value="#{SessionBean.ricercaFormContainer.fascicoliRed.tipoAssegnazione}" widgetVar="wdgAssegnFasc" >
							<p:ajax listener="#{SessionBean.onChangeComboTipoAssegnazioneFasc}" oncomplete="onOffTreeBtnAssegnFascicoli();" update="idAssFasc, idTabRicerche:idTabRicercheRed:idOrgAssFascForm:idAssFascTree" />
							<f:selectItem itemLabel="-" itemValue="#{null}" />
							<f:selectItems value="#{SessionBean.formFascicoli.comboTipoAssegnazione}" />
						</p:selectOneMenu>
						
			        	<p:outputLabel value="Assegnatario" styleClass="generic_textBold"/>
			        	<p:outputPanel styleClass="ui-inputgroup">
			        		<p:inputText id="idAssFasc" value="#{SessionBean.descrAssegnatariofasc}" readonly="true" />
			        		<p:commandButton id="idBtnAssFasc" widgetVar="wdgBtnAssFasc" icon="fa fa-sitemap" title="Assegnatario" disabled="true" type="button"  />
			        	</p:outputPanel>
			        	
			        	<p:outputLabel value="Stato" styleClass="generic_textBold"/>
						<p:selectOneMenu id="idStatoFaldSelect" value="#{SessionBean.ricercaFormContainer.fascicoliRed.statoFascicolo}" styleClass="generic_nominWidth generic_width159px" >
							<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.APERTO}" itemLabel="Aperto" />
							<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.CHIUSO}" itemLabel="Chiuso" />
						</p:selectOneMenu>
					</p:panelGrid>	
		    	
		    	</p:outputPanel>
			</p:tab>
	    </p:accordionPanel>
	    
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaFascicoliRedBtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.ricercaFascicoliRed}" />
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaRedFascicoli}" oncomplete="onOffTreeBtnAssegnFascicoli();" 
				update="ricercaFascRedForm:idDescPnlGrid, ricercaFascRedForm:idFilterPnlGrid, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idStatoFaldSelect, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idAssFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idChiusuraDaFald, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idChiusuraAFald, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectAssFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idTipoDocFasc, idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idSelectProcFasc"/>
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaFascicoliRedBtn" scope="@form" />
		</p:panelGrid>	
					
	</h:form>
					

	<p:overlayPanel widgetVar="idTitolarioOverlay" for="ricercaFascRedForm:idButtonTitolario"  >
	  <h:form id="idTitolarioForm">	
	  	<p:scrollPanel id="idOrgTitolarioFascScrlPnl" mode="native" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width320px generic_height250px" >
	  	
	  		<p:tree value="#{SessionBean.rootTitolarioRicerca}" var="t" id="idTitolarioTree" selectionMode="single" styleClass="dmd-tree" dynamic="true" >
	  			
	  			<p:ajax event="expand" listener="#{SessionBean.onTitolarioNodeExpandRicerca}" />
				<p:ajax event="select" listener="#{SessionBean.onTitolarioNodeSelect}" update="idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idTitolarioRicercaFasc" />
				
				<p:treeNode >
					<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em" alt="icona per indice classificazione" title="indice classificazione"  />
					<p:outputLabel value="#{t.indiceClassificazione} " />
					<p:outputLabel value="#{t.descrizione}" />
				</p:treeNode>					
	  		
	  		</p:tree>
	  	
	  	</p:scrollPanel>
	  </h:form>
	  <iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>

	<p:overlayPanel widgetVar="wdgAssFascOverlay" for="idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idBtnAssFasc"  >
		<h:form id="idOrgAssFascForm">
			<p:scrollPanel id="idOrgAssFascScrlPnl" mode="native" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width320px generic_height250px" >
				<p:tree value="#{SessionBean.rootAssegnazionefasc}" var="node" id="idAssFascTree" selectionMode="single" styleClass="dmd-tree " dynamic="true">
										
					<p:ajax event="expand" listener="#{SessionBean.onOpenTreeAssFasc}"  />
			        <p:ajax event="select" listener="#{SessionBean.onSelectTreeAssFasc}"  update="idTabRicerche:idTabRicercheRed:ricercaFascRedForm:idAccordionUlterioriFiltriFasc:idAssFasc" />
					
					<p:treeNode >
						<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}" />
					</p:treeNode>
					
				</p:tree>
		  	</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>
	

</ui:composition>