<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="ricercaStampaRegistroForm">
				
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank ricerca-stampa-registro-form" cellpadding="10" columnClasses="ui-g-2,ui-g-4,ui-g-2,ui-g-4" >
	       	
	       	<p:outputLabel for="dataDaReg" value="Data Da" styleClass="generic_textBold">
	       		<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
	       	</p:outputLabel>
	       	
	       	<p:calendar navigator="true" id="dataDaReg" value="#{SessionBean.ricercaFormContainer.registroProtocollo.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" 
	       		styleClass="calendar-obbligatorio obbligatorio generic_width110px" >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaRegDataDaA('dataCreazioneDa')}" update="dataAReg" />
       		</p:calendar>
	       	
	       	<p:outputLabel for="dataAReg" value="Data A" styleClass="generic_textBold">
	       		<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
	       	</p:outputLabel>
	       	
	       	<p:calendar navigator="true" id="dataAReg" value="#{SessionBean.ricercaFormContainer.registroProtocollo.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-obbligatorio obbligatorio generic_width110px" >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaRegDataDaA('dataCreazioneA')}" update="dataDaReg" />
       		</p:calendar>
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaStampaRegistroBtn" value="Cerca" icon="fa fa-search" styleClass="generic_width100" action="#{SessionBean.ricercaStampaRegistro}"/>	
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_width100" action="#{SessionBean.pulisciRicercaStampaRegistro}" update="ricercaStampaRegistroForm"/>
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaStampaRegistroBtn" scope="@form"/>
		</p:panelGrid>
					
	</h:form>
	
</ui:composition>