<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
 
	<p:tabView id="idTabRicercaNsd" widgetVar="wdgTabRicercaNsd" scrollable="true" styleClass="tab-ricerca-red">
		
		<p:tab title="Protocolli Nsd">
			 <ui:include src="ricercaProtocolliPregressiDfTab.xhtml"/>
		</p:tab>
			
		<p:tab title="Fascicoli Nsd">
			<ui:include src="ricercaFascicoliPregressiDfTab.xhtml"/>
		</p:tab>
		
	</p:tabView>

</ui:composition>