<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.RicercaAssegnanteAssegnatarioEnum" var="ModRicAssegnazioneEnum" allSuffix="ALL_ENUM_VALUES" />

	<h:form id="ricercaAssegnazioneUCBForm">
	
		<!--
			NON FARE UPDATE CHE COINVOLGANO IL PULSANTE DEL TREE ("btnAssegnazioneRicercaUCB"), ALTRIMENTI NON FUNZIONA. 
			QUINDI NO UPDATE SU FORM INTERO O SU TUTTO IL PRIMO PANEL GRID.
		-->
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank generic_marginTop10" 
			columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
			
			<p:outputPanel>
				<p:outputLabel value="Tipo ricerca" for="modalitaRicercaAssegnazioneUCBEnum"/>
				<p:outputLabel for="modalitaRicercaAssegnazioneUCBEnum" value="*" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
       		<p:selectOneButton widgetVar="wdgModalitaRicercaAssegnazioneUCBEnum" id="modalitaRicercaAssegnazioneUCBEnum" 
       				value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.tipoRicerca}">
       			<f:selectItems value="#{ModRicAssegnazioneEnum.ALL_ENUM_VALUES}"/>
   			</p:selectOneButton>
   			
   			<p:outputPanel>
   				<p:outputLabel id="labelOrgAssegnazione" styleClass="capitalize" for="descAssegnazioneRicercaUCB" value="Struttura"/>
				<p:outputLabel for="descAssegnazioneRicercaUCB" value="*" styleClass="generic_textBold generic_redStar"/>
   			</p:outputPanel>
   			<p:outputPanel class="ui-inputgroup obbligatorio">
 			   	<p:inputText id="descAssegnazioneRicercaUCB" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.descrizioneAssegnatario}" readonly="true"/>
				<p:commandButton id="btnAssegnazioneRicercaUCB" type="button" icon="fa fa-sitemap"/>
   			</p:outputPanel>
		
		</p:panelGrid>
		
		<p:panelGrid id="pnlGridRicAssUCB_2" columns="4" layout="grid" styleClass="ui-panelgrid-blank" 
			columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
		
       		<p:outputLabel value="Data creazione Da" styleClass="generic_textBold"/>
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.dataCreazioneDa}" maxdate="#{SessionBean.today}" 
       			widgetVar="wdgDataCreazioneDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc">
       		</p:calendar>
       		<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.dataCreazioneA}" maxdate="#{SessionBean.today}" 
       			widgetVar="wdgDataCreazioneA" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc">
       		</p:calendar>
       		
       	</p:panelGrid>
       	
		<p:panelGrid id="pnlGridRicAssUCB_3" columns="4" layout="grid" styleClass="ui-panelgrid-blank" 
			columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
       		
       		<p:outputLabel value="Data scadenza Da" styleClass="generic_textBold"/>
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.dataScadenzaDa}" maxdate="#{SessionBean.today}" 
       			widgetVar="wdgDataScadenzaDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc">
       		</p:calendar>
       		<p:outputLabel value="Data scadenza A" styleClass="generic_textBold"/>
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.dataScadenzaA}" maxdate="#{SessionBean.today}" 
       			widgetVar="wdgDataScadenzaA" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc">
       		</p:calendar>
       		
       	</p:panelGrid>
       	
		<p:panelGrid id="pnlGridRicAssUCB_4" columns="4" layout="grid" styleClass="ui-panelgrid-blank"
			columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">

			<p:outputLabel value="Anno protocollo" styleClass="generic_textBold"/>
        	<p:inputNumber id="annoProtocollo" value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.annoProtocollo}" 
        		minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" styleClass="anno-input-number-ricerca-doc"/>
        		
        	<p:outputLabel/>
    		<p:outputLabel/>
    		
    	</p:panelGrid>
    	
		<p:panelGrid id="pnlGridRicAssUCB_5" columns="4" layout="grid" styleClass="ui-panelgrid-blank"
			columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
        		
			<p:outputLabel value="Protocollo Da" styleClass="generic_textBold"/>
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.numeroProtocolloDa}"
				minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="calendar-ricerca-data-a-doc"/>
			<p:outputLabel value="Protocollo A" styleClass="generic_textBold"/>
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.assegnazioneUCB.numeroProtocolloA}" 
				minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="calendar-ricerca-data-a-doc"/>

		</p:panelGrid>

		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" 
			columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" layout="grid">
			<p:commandButton id="btnRicercaAssegnazioneUCB" value="Ricerca" title="Ricerca" icon="fa fa-search" styleClass="generic_nominWidth generic_width100" 
				action="#{SessionBean.ricercaUCB.ricercaAssegnazioneUCB}"/>
			<p:commandButton value="Pulisci" title="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_width100" 
				action="#{SessionBean.ricercaUCB.pulisciRicercaAssegnazioneUCB}"
				update="modalitaRicercaAssegnazioneUCBEnum, descAssegnazioneRicercaUCB, pnlGridRicAssUCB_2, pnlGridRicAssUCB_3, pnlGridRicAssUCB_4, pnlGridRicAssUCB_5,
				idTabRicerche:idTabRicercaUCB:orgCmpRicercaAssUCB:formOrganigramma:treeOrganigramma"/>
			<ui:include src="closeButtonRicerca.xhtml"/>
			<p:defaultCommand target="@form:btnRicercaAssegnazioneUCB" scope="@form"/>
		</p:panelGrid>
			
	</h:form>
	
	<red:overlayOrganigrammaComponent id="orgCmpRicercaAssUCB" organigrammaCmp="#{SessionBean.ricercaUCB.assegnatarioOrgComponent}" 
		organigrammaBtnId="idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:btnAssegnazioneRicercaUCB" 
		updateOnSelect="idTabRicerche:idTabRicercaUCB:ricercaAssegnazioneUCBForm:descAssegnazioneRicercaUCB"
		customActionOnSelect="#{SessionBean.ricercaUCB.impostaAssegnatario()}"/>
	
</ui:composition>