<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.ModalitaRicercaAvanzataTestoEnum" var="mratEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaDocRedForm">
		<p:outputPanel id="idFiltriPrincipaliPnl">
			
			<p:panelGrid layout="grid" columns="6" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale">
	           	<p:outputPanel>
	           		<p:outputLabel for="annoDocumento" value="Anno creazione" styleClass="generic_textBold"/>
		       		<p:outputLabel for="annoDocumento" value="*" styleClass="generic_textBold generic_redStar"/>
	           	</p:outputPanel>
	        	<p:inputNumber id="annoDocumento" value="#{SessionBean.ricercaFormContainer.documentiRed.annoDocumento}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" styleClass="anno-input-number-ricerca-doc obbligatorio" 
	        		disabled="#{SessionBean.ricercaFormContainer.documentiRed.annoDocumentoDisabled}"/> 
		    </p:panelGrid>
		    
		    <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       		<p:outputLabel for="dataDaDoc" value="Data creazione Da" styleClass="generic_textBold" />
	       		<p:calendar id="dataDaDoc" navigator="true" value="#{SessionBean.ricercaFormContainer.documentiRed.dataCreazioneDa}" maxdate="#{SessionBean.today}" widgetVar="wdgDataCreazioneDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataCreazioneDa')}" update="dataADoc, annoDocumento" />
	       		</p:calendar>
	       		<p:outputLabel for="dataADoc" value="Data creazione A" styleClass="generic_textBold"/>
	       		<p:calendar id="dataADoc" navigator="true" value="#{SessionBean.ricercaFormContainer.documentiRed.dataCreazioneA}" maxdate="#{SessionBean.today}" widgetVar="wdgDataCreazioneA" showOn="button" pattern="dd/MM/yyyy"  styleClass="calendar-ricerca-data-a-doc" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataCreazioneA')}" update="dataDaDoc, annoDocumento" />
	       		</p:calendar>
			</p:panelGrid>
		
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				
				<p:outputLabel value="Protocollo Da" styleClass="generic_textBold" />
				<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiRed.numeroProtocolloDa}" widgetVar="wdgProtDa" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
				<p:outputLabel value="Protocollo A" styleClass="generic_textBold" />
				<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiRed.numeroProtocolloA}" widgetVar="wdgProtA" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
				
				<p:outputLabel value="Data Prot. Da" styleClass="generic_textBold" />
				<p:calendar id="dataProtDaDoc" navigator="true" widgetVar="wdgDataProtDa" value="#{SessionBean.ricercaFormContainer.documentiRed.dataProtocolloDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" >
					<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataProtocolloDa')}" update="dataProtADoc, annoDocumento" />
				</p:calendar>
			    <p:outputLabel value="Data Prot. A" styleClass="generic_textBold"/>    
				<p:calendar id="dataProtADoc" navigator="true" widgetVar="wdgDataProtA" value="#{SessionBean.ricercaFormContainer.documentiRed.dataProtocolloA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" >
					<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataProtocolloA')}" update="dataProtDaDoc, annoDocumento" />
				</p:calendar>
			</p:panelGrid>
			
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank generic_width100" >
				<p:outputLabel value="Oggetto" styleClass="generic_textBold"/>
				<p:inputText value="#{SessionBean.ricercaFormContainer.documentiRed.oggetto}" widgetVar="wdgOggetto" styleClass="generic_nominWidth generic_width100"/>
			</p:panelGrid>
			
			<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank generic_width100">
		        	<p:outputLabel value="Full-Text" styleClass="generic_textBold"/>
					<p:selectOneMenu widgetVar="wdgEntityFullText" value="#{SessionBean.ricercaFormContainer.documentiRed.modalitaRicercaTesto}" onchange="selectSearchFullText()" styleClass="generic_nominWidth generic_width110px generic_nominWidth">
			            <f:selectItem itemLabel="-" itemValue="#{null}" />
			            <f:selectItem itemLabel="Tutte le parole" itemValue="#{mratEnum.TUTTE_LE_PAROLE}" />
			            <f:selectItem itemLabel="Una delle parole" itemValue="#{mratEnum.UNA_DELLE_PAROLE}"	/>
					</p:selectOneMenu>
		        	<p:outputLabel for="idFieldFullText" value="Parole Full-Text" styleClass="generic_textBold"/>
		        	<p:inputText id="idFieldFullText"  widgetVar="wdgFieldFullText" value="#{SessionBean.ricercaFormContainer.documentiRed.paroleRicercaTesto}" styleClass="ui-state-disabled generic_nominWidth generic_width100" />
			</p:panelGrid>
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel ricerca-red-documenti-form-numerici" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
		        	<p:outputLabel for="identificativoRicerca" value="Identificativo" styleClass="generic_textBold"/>
		        	<p:selectOneMenu id="identificativoRicerca" widgetVar="wdgFilterIdentificativo" onchange="selectIdentificativoRicerca()" styleClass="generic_nominWidth generic_width110px generic_nominWidth">
			            <f:selectItems value="#{SessionBean.formDocumenti.comboTipiDocumento}" var="t" itemValue="#{t.value}" itemLabel="#{t.description}" />
					</p:selectOneMenu>
		        	<p:outputLabel for="rifProtocolloMittente" value="Prot. Mittente" styleClass="generic_textBold"/>
		        	<p:inputNumber id="rifProtocolloMittente" value="#{SessionBean.ricercaFormContainer.documentiRed.rifProtocolloMittente}" widgetVar="wdgProtMitt" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="anno-input-number-prot-mit" /> 
		        	
		        	<p:outputLabel for="idFieldNumberDoc" value="Numero/ID" styleClass="generic_textBold"/>
		        	<p:inputNumber id="idFieldNumberDoc" widgetVar="wdgNumberDoc" value="#{SessionBean.ricercaFormContainer.documentiRed.numeroDocumento}"  onblur="disableByNumDoc();" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="numero-id-ricerca-doc" /> 
		        	<p:outputLabel for="idFieldBarcode" value="Barcode" styleClass="generic_textBold"/>
		        	<p:inputText value="#{SessionBean.ricercaFormContainer.documentiRed.barcode}"  id="idFieldBarcode" widgetVar="wdgBarcode"  styleClass="generic_nominWidth generic_width100"/> 
			</p:panelGrid>
			<p:panelGrid id="idMittDestPnlGrid" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank" >
				<p:outputLabel value="Destinatario" styleClass="generic_textBold"/>
	        	<p:inputText widgetVar="wdgDest" value="#{SessionBean.ricercaFormContainer.documentiRed.destinatario}" styleClass="generic_nominWidth generic_width162px"/> 
	        	<p:outputLabel value="Mittente" styleClass="generic_textBold"/>
	        	<p:inputText widgetVar="wdgMitt" value="#{SessionBean.ricercaFormContainer.documentiRed.mittente}" styleClass="generic_nominWidth generic_width100"/>
	        </p:panelGrid>
		</p:outputPanel>
				
    	<p:remoteCommand id="idRemoteLoadFiltri" name="loadUlterioriFiltri" action="#{SessionBean.loadUlterioriFiltriRicercaDocumenti}" oncomplete="disableAllChk();onOffTreeBtnAssegnazione();"
    					 update="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idBasePnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idCatPnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idRisPnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idFascPnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idSpedPnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAvanzatePnlGrid, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoAssegnazione, 
    					 idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoOpe"       
    					 />  <!-- Vanno fatti degli update puntuali su i PanelGrid altrimenti i btn dei tree non funzionano --> 
	    <br/>
	    <p:accordionPanel id="idAccordionUlterioriFiltri" widgetVar="wdgAccordionUlterioriFiltri" activeIndex="-1"  onTabChange="isLoadedUlterioriFiltri();onOffTreeBtnAssegnazione();disableAllChk();"  styleClass="ulteriori-filtri-style" >
	    	
	    	<p:tab id="idTabUlterioriFiltri" title="Ulteriori Filtri" >
	    		<p:outputPanel id="idPanelUlterioriFiltri" rendered="true" >
					<p:panelGrid id="idBasePnlGrid" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" >
			        	<p:outputLabel value="Numero RDP" styleClass="generic_textBold"/>
			        	<p:inputNumber id="idFieldNumberRdp" widgetVar="wdgNumberRdp" disabled="true" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="numero-id-ricerca-doc" /> 
			        	<p:outputLabel value="Legislatura" styleClass="generic_textBold"/>
			        	<p:selectOneMenu widgetVar="wdgSelectLegislatura" disabled="true" styleClass="style-legislatura" >
				            <f:selectItems value="#{SessionBean.formDocumenti.comboLegislatura}" var="t" itemValue="#{t.numero}" itemLabel="#{t.descrizione}" />
						</p:selectOneMenu>
					</p:panelGrid>		    		

					<p:panelGrid id="idCatPnlGrid" layout="grid" columns="3" columnClasses="ui-grid-col-2,ui-grid-col-5,ui-grid-col-5" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
			        	<p:outputLabel for="categorieSelezionate" value="Categoria" styleClass="generic_textBold" />
				        <p:outputPanel id="categorieSelezionate">
				        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.tutto}" itemLabel="Tutto" onchange="onOffCategoriaTutto();" id="idTuttoCat" widgetVar="wdgTuttoCat"/>
				        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.entrata}" itemLabel="Entrata" onchange="manageCmpToDisable();" id="idEntrataCat" widgetVar="wdgEntrataCat"/>
				        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.uscita}"  itemLabel="Uscita" onchange="manageCmpToDisable();" id="idUscitaCat" widgetVar="wdgUscitaCat"/>
				        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.interno}" itemLabel="Interno" id="idInternoCat" widgetVar="wdgInternoCat" />
				        </p:outputPanel>
				        <p:outputPanel id="idRisPnlGrid" styleClass="generic_textAlignRight">
				        	<p:selectBooleanCheckbox id="chkRiservato" value="#{SessionBean.ricercaFormContainer.documentiRed.riservato}" itemLabel="Riservato" />
				        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.urgente}" itemLabel="Urgente" />
						    <p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiRed.annullati}" itemLabel="Annullati" />
				        </p:outputPanel>
					</p:panelGrid>
					
		        	<p:outputPanel id="idFascPnlGrid">
			        	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
			        		<p:outputLabel for="nomeFascicolo" value="Nome Fascicolo" styleClass="generic_textBold"/>
			        		<p:inputText id="nomeFascicolo" value="#{SessionBean.ricercaFormContainer.documentiRed.nomeFascicolo}"/> 
			        	</p:panelGrid>
						
						<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
				        	<p:outputLabel for="tipoDocRicercaDoc" value="Tipo Documento" styleClass="generic_textBold"/>
				        	<p:selectOneMenu id="tipoDocRicercaDoc" value="#{SessionBean.ricercaFormContainer.documentiRed.descrizioneTipologiaDocumento}" widgetVar="wdgTipoDocRicercaDoc" styleClass="generic_nominWidth generic_width146px">
				        		<p:ajax event="change" listener="#{SessionBean.onChangeTipologiaDocumento}" update="idComboTipoProcedimento"/>
					           	<f:selectItems value="#{SessionBean.formDocumenti.comboTipologieDocumento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}"/>
							</p:selectOneMenu>
				        	<p:outputLabel for="idComboTipoProcedimento" value="Tipo Procedimento" styleClass="generic_textBold"/>
				        	<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.documentiRed.descrizioneTipoProcedimento}" id="idComboTipoProcedimento" styleClass="generic_input91" >
					            <f:selectItems value="#{SessionBean.formDocumenti.comboTipiProcedimento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}"/>
							</p:selectOneMenu>
						</p:panelGrid>
		        	</p:outputPanel>
		        	
					<p:panelGrid id="idSpedPnlGrid" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
			        	<p:outputLabel value="Mezzo ricezione" styleClass="generic_textBold"/>
			        	<p:selectOneMenu widgetVar="wdgRice" value="#{SessionBean.ricercaFormContainer.documentiRed.idMezzoRicezione}" styleClass="generic_nominWidth generic_width177px">
				            <f:selectItems value="#{SessionBean.formDocumenti.comboMezziRicezione}" var="t" itemValue="#{t.idMezzoRicezione}" itemLabel="#{t.descrizione}" />
			            </p:selectOneMenu>
			         	
			         	<p:outputLabel for="idTipoRegistro" value="Tipo Registro" styleClass="generic_textBold"/>
						<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.documentiRed.descrizioneRegistroRepertorio}" id="idTipoRegistro" styleClass="generic_input91" >
						    <f:selectItems value="#{SessionBean.formDocumenti.comboRegistroRepertorio}" var="t" itemValue="#{t.descrizioneRegistroRepertorio}" itemLabel="#{t.descrizioneRegistroRepertorio}"/>
						</p:selectOneMenu>       
					</p:panelGrid>
				 
					
					<p:outputPanel id="idAvanzatePnlGrid">
						<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
				        	<p:outputLabel for="noteDoc" value="Note" styleClass="generic_textBold"/>
				        	<p:inputText id="noteDoc" value="#{SessionBean.ricercaFormContainer.documentiRed.note}"/> 
				         </p:panelGrid>
				         <p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri"  >
				        	<p:outputLabel for="dataScadenzaDa" value="Data Scadenza Da" styleClass="generic_textBold" />
				        	<p:calendar navigator="true" id="dataScadenzaDa" value="#{SessionBean.ricercaFormContainer.documentiRed.dataScadenzaDa}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-da-doc" />
				        	<p:outputLabel for="dataScadenzaA" value="Data Scadenza A" styleClass="generic_textBold"/>
				        	<p:calendar navigator="true" id="dataScadenzaA" value="#{SessionBean.ricercaFormContainer.documentiRed.dataScadenzaA}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-a-doc" />
						</p:panelGrid>
					</p:outputPanel>
						
						
					<p:panelGrid id="idAssPnlGrid" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
				        <p:outputLabel for="idColumnTipoAssegnazione" value="Tipo assegnazione" styleClass="generic_textBold"/>
				        <p:outputPanel id="idColumnTipoAssegnazione" >
				          	<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.documentiRed.tipoAssegnazione}" id="idTipoAssegnazione" widgetVar="wdgTipoAssegnazione" styleClass="generic_nominWidth generic_width137px" >
					        	<p:ajax listener="#{SessionBean.onChangeComboTipoAssegnazione}" oncomplete="onOffTreeBtnAssegnazione();" update="idTipoOpe, idAssePerOpe, idTabRicerche:idTabRicercheRed:idOrgAssForm:idAssegnatarioTree, panelOperazione, panelAssegnazione"/>
								<f:selectItem itemLabel="-" itemValue="#{null}" />
								<f:selectItems value="#{SessionBean.formDocumenti.comboTipoAssegnazione}" />
							</p:selectOneMenu>
				        </p:outputPanel>
				        
				        <p:outputPanel id="panelAssegnazione">
				        	<p:outputLabel value="Assegnatario" styleClass="generic_textBold"/>
				        	<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{SessionBean.ricercaFormContainer.documentiRed.tipoAssegnazione ne null and SessionBean.ricercaFormContainer.documentiRed.tipoAssegnazione.id gt 0}"/>
		        		</p:outputPanel>
				        
				        <p:outputPanel id="idColumnAssegn" styleClass="generic_nominWidth generic_width1106px cell-grid-no-padding-right" >
				        	<!-- Component per la selezione dell'assegnatario -->
				        	<p:outputPanel class="ui-inputgroup">
								<p:inputText id="idAssegnatarioPerAssegn" widgetVar="wdgAssegnatarioPerAssegn" value="#{SessionBean.descrAssegnatario}" readonly="true" styleClass="obbligatorio generic_nominWidth generic_width160px"/>
								<p:commandButton id="idButtonTipoAssegnazione" widgetVar="wdgButtonTipoAssegnazione" disabled="true" icon="fa fa-sitemap" type="button" />
							</p:outputPanel>
							
							<!-- Component per la selezione dell'assegnatario MA PER IL TIPO ASSEGNAZIONE COPIA CONFORME -->
							<p:selectOneMenu value="#{SessionBean.assegnatarioCopiaConforme}"  styleClass="generic_nominWidth generic_width175px" widgetVar="wdgSelectPerCopiaConf">
								<f:selectItems value="#{SessionBean.formDocumenti.comboResponsabileCopiaConforme}" var="r" itemLabel="#{r.descrizioneNodo} - #{r.nome} #{r.cognome}" itemValue="#{r.idNodo} #{r.idUtente}" />
							</p:selectOneMenu>
				        </p:outputPanel>
					</p:panelGrid>
					<p:panelGrid id="idOpePnlGrid" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-ulteriori-filtri" >
			        	<p:outputLabel for="idTipoOpe" value="Tipo operazione" styleClass="generic_textBold"/>
			        	<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.documentiRed.idTipoOperazione}" id="idTipoOpe" widgetVar="wdgTipoOpe" styleClass="generic_nominWidth generic_width137px" >
			        		<p:ajax  listener="#{SessionBean.onChangeComboTipoOperazione}" oncomplete="onOffTreeBtnAssegnOpe();"  update="idTipoAssegnazione, idAssegnatarioPerAssegn, idAssePerOpe, idTabRicerche:idTabRicercheRed:idOrgOperazioneForm:idAssOpeTree, panelOperazione, panelAssegnazione"/>
							<f:selectItems value="#{SessionBean.formDocumenti.comboTipiOperazione}" var="t" itemLabel="#{t.descrizione}" itemValue="#{t.idTipoEvento}" />
						</p:selectOneMenu>
			        	
			        	<p:outputPanel id="panelOperazione">
			        		<p:outputLabel value="Struttura" styleClass="generic_textBold"/>
			        		<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{SessionBean.ricercaFormContainer.documentiRed.idTipoOperazione ne null and SessionBean.ricercaFormContainer.documentiRed.idTipoOperazione gt 0}"/>
			        	</p:outputPanel>
			        	
			        	<p:outputPanel class="ui-inputgroup">
							<p:inputText id="idAssePerOpe" value="#{SessionBean.descrAssegnatarioOperazione}"  readonly="true" styleClass="obbligatorio"/>
							<p:commandButton id="idButtonTipoOperazione" widgetVar="wdgButtonTipoAssegnOpe"  disabled="true" icon="fa fa-sitemap" type="button" />
						</p:outputPanel>
					</p:panelGrid>		    		

					<p:panelGrid id="idGridProtEmerg" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
						
						<p:outputLabel value="Protocollo Emergenza Da" styleClass="generic_textBold" />
						<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiRed.numeroProtocolloEmergenzaDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
						<p:outputLabel value="Protocollo Emergenza A" styleClass="generic_textBold" />
						<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiRed.numeroProtocolloEmergenzaA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
						
						<p:outputLabel value="Data Prot. Emergenza Da" styleClass="generic_textBold" />
						<p:calendar value="#{SessionBean.ricercaFormContainer.documentiRed.dataProtocolloEmergenzaDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />
					    <p:outputLabel value="Data Prot. Emergenza A" styleClass="generic_textBold"/>    
						<p:calendar value="#{SessionBean.ricercaFormContainer.documentiRed.dataProtocolloEmergenzaA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />
						
					</p:panelGrid>

	    		</p:outputPanel>
			</p:tab>



	    </p:accordionPanel>
	    
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="5" columnClasses="ui-grid-col-3,ui-grid-col-2,ui-grid-col-3,ui-grid-col-2,ui-grid-col-2" layout="grid" >
			<p:commandButton id="ricercaDocRedBtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.ricercaDocumentiRed}" />
			<p:commandButton value="Salva" icon="fa fa-save" styleClass="generic_nominWidth generic_width100"  onclick="PF('wdgScegliNomeSalvaRicerca').show()"/>
			<p:commandButton value="Mostra salvate" icon="fa fa-list" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.caricaRicercheSalvate}" oncomplete="PF('wdgRicercheSalvate').show();" update="formRicercheSalvate"/>
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaRedDoc}" 
							  oncomplete="disableByNumDoc();disableAllChk();onOffTreeBtnAssegnazione();onOffTreeBtnAssegnOpe();" 
							  update="ricercaDocRedForm:idFiltriPrincipaliPnl, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idBasePnlGrid,
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idCatPnlGrid, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idRisPnlGrid, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idFascPnlGrid, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idSpedPnlGrid, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAvanzatePnlGrid, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoAssegnazione, 
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssegnatarioPerAssegn,
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoOpe,
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssePerOpe,
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelAssegnazione,
							  idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelOperazione"/>
		  	<ui:include src="closeButtonRicerca.xhtml" />
		  	<p:defaultCommand target="@form:ricercaDocRedBtn" scope="@form" />
		</p:panelGrid>
		
					
	</h:form>

	<p:overlayPanel id="idOverlay" widgetVar="wdgAssegnazioneOverlay" for="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idButtonTipoAssegnazione" appendToBody="true" dynamic="true" >
		<h:form id="idOrgAssForm">	
			<p:scrollPanel id="idOrgAssScrlPnl" mode="native" styleClass="generic_height250px generic_nominWidth generic_width320px" >
				<p:tree value="#{SessionBean.rootAssegnazione}" var="node" id="idAssegnatarioTree" selectionMode="single" styleClass="dmd-tree " dynamic="true">
			
					<p:ajax event="expand" listener="#{SessionBean.onOpenTreeAss}"/>
			        <p:ajax event="select" listener="#{SessionBean.onSelectTreeAss}" update="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssegnatarioPerAssegn" oncomplete="PF('wdgAssegnazioneOverlay').hide()"/>
			        	
					<p:treeNode>
						<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}" />
					</p:treeNode>

				</p:tree>
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>
	

	<p:overlayPanel widgetVar="wdgOperazioneOverlay" for="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idButtonTipoOperazione" dynamic="true" >
		<h:form id="idOrgOperazioneForm">
			<p:scrollPanel id="idOrgOpeScrlPnl" mode="native" styleClass="generic_height250px generic_nominWidth generic_width320px" >
				
				<p:tree value="#{SessionBean.rootAssegnazioneOperazione}" var="node" id="idAssOpeTree" selectionMode="single" styleClass="dmd-tree " dynamic="true">
					
					<p:ajax event="expand" listener="#{SessionBean.onOpenTreeAssOperazione}"  />
			        <p:ajax event="select" listener="#{SessionBean.onSelectTreeAssOperazione}" update="idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssePerOpe" oncomplete="PF('wdgOperazioneOverlay').hide()"/>
			        	
					<p:treeNode >
						<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
						<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}" />
					</p:treeNode>
					
				</p:tree>
				
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>
	
	
</ui:composition>