<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaSigiForm">
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_marginTop" columns="4" columnClasses="ui-g-2,ui-g-4 ui-fluid,ui-g-2,ui-g-4 ui-fluid" layout="grid">
			<p:outputLabel for="tipoDocSigi" value="Tipologia Documento" styleClass="generic_textBold"/>
			<p:inputText id="tipoDocSigi" disabled="true" value="DOCUMENTO_SIGI" />
			<p:outputLabel for="idDocSigi" value="ID Documento" styleClass="generic_textBold" />
			<p:inputNumber id="idDocSigi" value="#{SessionBean.ricercaFormContainer.sigi.numeroDocumento}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank" columns="2" columnClasses="ui-g-2,ui-g-10" layout="grid">
			<p:outputLabel for="@next" value="Solo Annullati" styleClass="generic_textBold" />
			<p:selectBooleanCheckbox  value="#{SessionBean.ricercaFormContainer.sigi.annullati}" />
				
        	<p:outputLabel for="@next" value="Oggetto" styleClass="generic_textBold"/>
        	<p:inputTextarea value="#{SessionBean.ricercaFormContainer.sigi.oggetto}" styleClass="generic_input99" rows="2" />
		</p:panelGrid>
		
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_marginTop" columns="4" columnClasses="ui-g-2,ui-g-4 ui-fluid,ui-g-2,ui-g-4 ui-fluid" layout="grid">
			<p:outputLabel for="@next" value="Data creazione Da" styleClass="generic_textBold" />
			<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.sigi.dataCreazioneDa}" showOn="button" pattern="dd/MM/yyyy"  id="dataDaDoc" >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaSigiDataDaA('dataCreazioneDa')}" update="dataADoc" />
       		</p:calendar>
			<p:outputLabel for="@next" value="Data creazione A" styleClass="generic_textBold" />
	    	<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.sigi.dataCreazioneA}" showOn="button" pattern="dd/MM/yyyy"  id="dataADoc"  >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaSigiDataDaA('dataCreazioneA')}" update="dataDaDoc" />
       		</p:calendar>
	    	
        	<p:outputLabel for="@next" value="Prot. Da" styleClass="generic_textBold" />
        	<p:inputNumber value="#{SessionBean.ricercaFormContainer.sigi.numeroProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
        	<p:outputLabel for="@next" value="Prot. A" styleClass="generic_textBold"/>
        	<p:inputNumber value="#{SessionBean.ricercaFormContainer.sigi.numeroProtocolloA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
	    	
	       	<p:outputLabel for="@next" value="Anno Prot. Da" styleClass="generic_textBold" />
	       	<p:inputNumber value="#{SessionBean.ricercaFormContainer.sigi.annoProtocolloDa}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" />
	       	<p:outputLabel for="@next" value="Anno Prot. A" styleClass="generic_textBold"/>
	       	<p:inputNumber value="#{SessionBean.ricercaFormContainer.sigi.annoProtocolloA}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" />
	    	
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaSigiBtn" value="Cerca" icon="fa fa-search" styleClass="generic_width100" action="#{SessionBean.ricercaSigi}"  />
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_width100" action="#{SessionBean.pulisciRicercaSigi}" update="ricercaSigiForm"/>
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaSigiBtn" scope="@form" />
		</p:panelGrid>
					
	</h:form>
	

</ui:composition>