<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
							
	<h:form id="ricercaRegistrazioniAusiliarieForm">
	
		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2, ui-grid-col-2 ui-fluid, ui-grid-col-2, ui-grid-col-6 ui-fluid" styleClass="ui-panelgrid-blank generic_marginTop10">
		
        	<p:outputLabel for="annoRicercaRegAusiliarie" value="Anno creazione" styleClass="generic_textBold">
	        	<p:outputLabel for="annoRicercaRegAusiliarie" value="*" styleClass="generic_textBold generic_redStar"/>
        	</p:outputLabel>
        	<p:inputNumber id="annoRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.anno}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" styleClass="obbligatorio"
        		thousandSeparator="" padControl="false"/>
    		
    		<p:outputLabel for="cmbRegistriRicercaRegAusiliarie" value="Registro ausiliario" styleClass="generic_textBold">
	        	<p:outputLabel for="cmbRegistriRicercaRegAusiliarie" value="*" styleClass="generic_textBold generic_redStar"/>
			</p:outputLabel>
			<p:selectOneMenu id="cmbRegistriRicercaRegAusiliarie" autoWidth="false" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.codiceRegistro}" 
				disabled="#{empty SessionBean.ricercaRegistrazioniAusiliarie.form.registri}" styleClass="obbligatorio">
				<f:selectItems value="#{SessionBean.ricercaRegistrazioniAusiliarie.form.registri}" var="t" itemValue="#{t.nome}" itemLabel="#{t.nome}"/>
			</p:selectOneMenu>
		
		</p:panelGrid>

		<p:panelGrid layout="grid" columns="6" columnClasses="ui-grid-col-2, ui-grid-col-2 ui-fluid, ui-grid-col-2, ui-grid-col-2 ui-fluid, ui-grid-col-2, ui-grid-col-2 ui-fluid"
			styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici">
			
        	<p:outputLabel for="numRegistrazioneDaRicercaRegAusiliarie" value="Numero Da" styleClass="generic_textBold"/>
        	<p:inputNumber id="numRegistrazioneDaRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.numeroRegistrazioneDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"/>
        	
        	<p:outputLabel for="numRegistrazioneARicercaRegAusiliarie" value="Numero A" styleClass="generic_textBold"/>
        	<p:inputNumber id="numRegistrazioneARicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.numeroRegistrazioneA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"/>
    		
    		<p:outputLabel/>
    		<p:outputLabel/>
    		
        	<p:outputLabel for="dataDaRegRicercaRegAusiliarie" value="Data registrazione Da" styleClass="generic_textBold"/>
        	<p:calendar navigator="true" id="dataDaRegRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.dataRegistrazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy">
       			<p:ajax event="dateSelect" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataRegistrazioneDa')}" update="dataARegRicercaRegAusiliarie"/>
       			<p:ajax event="change" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataRegistrazioneDa')}" update="dataARegRicercaRegAusiliarie"/>
       		</p:calendar>
        	<p:outputLabel for="dataARegRicercaRegAusiliarie" value="Data registrazione A" styleClass="generic_textBold"/>
        	<p:calendar navigator="true" id="dataARegRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.dataRegistrazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy">
       			<p:ajax event="dateSelect" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataRegistrazioneA')}" update="dataDaRegRicercaRegAusiliarie"/>
       			<p:ajax event="change" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataRegistrazioneA')}" update="dataDaRegRicercaRegAusiliarie"/>
       		</p:calendar>
       		
    		<p:outputLabel/>
    		<p:outputLabel/>
			
       		<p:outputLabel for="dataDaAnnullamentoRicercaRegAusiliarie" value="Data annullamento Da" styleClass="generic_textBold"/>
        	<p:calendar navigator="true" id="dataDaAnnullamentoRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.dataAnnullamentoDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy">
       			<p:ajax event="dateSelect" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataAnnullamentoDa')}" 
       				update="dataAAnnullamentoRicercaRegAusiliarie, checkRegistrazioniAusiliarieAnnullate"/>
      			<p:ajax event="change" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataAnnullamentoDa')}" 
       				update="dataAAnnullamentoRicercaRegAusiliarie, checkRegistrazioniAusiliarieAnnullate"/>
       		</p:calendar>
        	<p:outputLabel for="dataAAnnullamentoRicercaRegAusiliarie" value="Data annullamento A" styleClass="generic_textBold"/>
        	<p:calendar navigator="true" id="dataAAnnullamentoRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.dataAnnullamentoA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy">
       			<p:ajax event="dateSelect" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataAnnullamentoA')}"
       				update="dataDaAnnullamentoRicercaRegAusiliarie, checkRegistrazioniAusiliarieAnnullate"/>
       			<p:ajax event="change" listener="#{SessionBean.ricercaRegistrazioniAusiliarie.onChangeRicercaRegAusiliarieDateDaA('dataAnnullamentoA')}"
       				update="dataDaAnnullamentoRicercaRegAusiliarie, checkRegistrazioniAusiliarieAnnullate"/>
       		</p:calendar>
       		
       		<p:outputLabel value="Registrazioni annullate" styleClass="generic_textBold"/>
			<p:selectBooleanCheckbox id="checkRegistrazioniAusiliarieAnnullate" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.annullato}"/>
			
		</p:panelGrid>
		
		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank">
		
    	   	<p:outputLabel for="cmbTipoDocRicercaRegAusiliarie" value="Tipologia Documento" styleClass="generic_textBold"/>
			<p:selectOneMenu id="cmbTipoDocRicercaRegAusiliarie" autoWidth="false" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.codiceTipologiaDocumento}" 
				disabled="#{empty SessionBean.ricercaRegistrazioniAusiliarie.form.tipologieDocumento}">
				<f:selectItems value="#{SessionBean.ricercaRegistrazioniAusiliarie.form.tipologieDocumento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}"/>
			</p:selectOneMenu>
			
	       	<p:outputLabel for="oggettoRicercaRegAusiliarie" value="Oggetto" styleClass="generic_textBold"/>
    	   	<p:inputText id="oggettoRicercaRegAusiliarie" value="#{SessionBean.ricercaFormContainer.registrazioniAusiliarie.oggetto}" styleClass="generic_nominWidth generic_input99"/>
			
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="cercaRegistrazioniAusiliarieBtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_nominWidth generic_width100" 
				action="#{SessionBean.ricercaRegistrazioniAusiliarie.ricerca}"/>
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.ricercaRegistrazioniAusiliarie.pulisciRicerca}" 
				update="ricercaRegistrazioniAusiliarieForm"/>
			<ui:include src="closeButtonRicerca.xhtml"/>
			<p:defaultCommand target="@form:cercaRegistrazioniAusiliarieBtn" scope="@form"/>
		</p:panelGrid>
					
	</h:form>
	

</ui:composition>