<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.ModalitaRicercaAvanzataTestoEnum" var="ModalitaRicercaAvanzataTestoEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<p:tabView id="idTabRicercaUCB" widgetVar="wdgTabRicercaUCB" scrollable="true" styleClass="tab-ricerca-red generic_maxHeight450px">

		<p:tab title="Avanzata" id="tabAvanzataUCB">
			<ui:include src="ricercaAvanzataUCBTab.xhtml"/>
		</p:tab>

		<p:tab title="Assegnante/Assegnatario" id="tabAssegnazioneUCB">
			<ui:include src="ricercaAssegnazioneUCBTab.xhtml"/>
		</p:tab>

		<p:tab title="Esiti" id="tabEsitiUCB">
			<ui:include src="ricercaEsitiUCBTab.xhtml"/>
		</p:tab>

		<p:tab title="Flussi" id="tabFlussiUCB">
			<ui:include src="ricercaFlussiUCBTab.xhtml"/>
		</p:tab>
		
		<p:tab title="Estratti Conto Trimestrali CCVT" id="tabEstrattiContoUCB" rendered="#{SessionBean.estrattiContoVisibile}">
			<ui:include src="ricercaEstrattiContoUCBTab.xhtml"/>
		</p:tab>
		
		<p:tab title="Elenco Notifiche e Conti Consuntivi" id="tabContiConsuntiviUCB" rendered="#{SessionBean.contiConsuntiviVisibile}">
			<ui:include src="ricercaContiConsuntiviUCBTab.xhtml"/>
		</p:tab>

	</p:tabView>
	
</ui:composition>