<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaRapidaForm">
		<div class="ui-fluid">
			<!-- Campo Ricerca -->
			<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col12">
				<p:inputText id="key" value="#{SessionBean.ricercaFormContainer.rapida.key}" styleClass="inputSearchType" placeholder="Testo da ricercare..."/>
			</p:panelGrid>
		</div>
		
		
		<!-- Filtri Ricerca -->
		<p:panelGrid  columns="5" layout="grid" styleClass="ui-panelgrid-blank ricerca-rapida-form" cellpadding="10" columnClasses="ui-g-1,ui-g-3,ui-g-1,ui-g-2,ui-g-3" >
			
			<p:outputLabel value="Entità" styleClass="generic_textBold"/>
			<p:selectOneMenu widgetVar="wdgEntita" value="#{SessionBean.ricercaFormContainer.rapida.ricercaBEntityEnum}" styleClass="generic_nominWidth generic_width160px generic_nominWidth" > 
	            <f:selectItem itemLabel="Documenti e Fascicoli" itemValue="#{entityEnum.DOCUMENTI_FASCICOLI}" />
	            <f:selectItem itemLabel="Documenti" itemValue="#{entityEnum.DOCUMENTI}" />
	            <f:selectItem itemLabel="Fascicoli" itemValue="#{entityEnum.FASCICOLI}" />
			</p:selectOneMenu>
			
			<p:spacer />

			<p:outputLabel value="Anno creazione" styleClass="generic_textBold"/>
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.rapida.anno}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" inputStyleClass="generic_width110px"/> 
			
			<p:outputLabel value="Trova" styleClass="generic_textBold"/>
			<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.rapida.type}"  styleClass="generic_nominWidth generic_width160px generic_nominWidth" >
	            <f:selectItem itemLabel="Tutte le parole" itemValue="#{typeEnum.TUTTE}" />
	            <f:selectItem itemLabel="Qualsiasi parola" itemValue="#{typeEnum.QUALSIASI}" />
	            <f:selectItem itemLabel="Frase esatta" itemValue="#{typeEnum.ESATTA}" />
			</p:selectOneMenu>
			
			<p:spacer/>

			<p:outputLabel value="Full-Text" styleClass="generic_textBold"/>
			<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.rapida.flagFullText}" widgetVar="wdgFullText" onchange="onOffFullText()"/>
			
		</p:panelGrid>

		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid" >
			<p:commandButton id="ricercaRapidaBtn" icon="fa fa-search" value="Cerca" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.ricercaRapida}"   />
			<p:commandButton icon="fa fa-eraser" value="Pulisci" styleClass="generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaRapida}" update="ricercaRapidaForm" />
			<ui:include src="closeButtonRicerca.xhtml"/>
			<p:defaultCommand target="@form:ricercaRapidaBtn" scope="@form"/>
		</p:panelGrid>
	</h:form>

</ui:composition>