<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<h:form id="ricercaEstrattiContoUCBForm">
	
		<p:panelGrid id="pnlGridEstrattiContoUCB" layout="grid" columns="6" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" 
			columnClasses="ui-grid-col-1, ui-grid-col-3 ui-fluid, ui-grid-col-1, ui-grid-col-3 ui-fluid, ui-grid-col-1, ui-grid-col-3 ui-fluid">
			
			<p:outputPanel>	
				<p:outputLabel value="Esercizio" styleClass="generic_textBold" />
				<p:outputLabel for="esercizio" value="*" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>	
			<p:inputNumber id="esercizio" value="#{SessionBean.ricercaFormContainer.estrattiContoUCB.esercizio}" maxValue="9999" thousandSeparator="" padControl="false" styleClass = "obbligatorio" />
		
			<p:outputLabel value="Trimestre" styleClass="generic_textBold" />
			<p:inputNumber id="trimestre" value="#{SessionBean.ricercaFormContainer.estrattiContoUCB.trimestre}" maxValue="9" thousandSeparator="" padControl="false"/>
		
			<p:outputLabel value="Sede Estera" styleClass="generic_textBold" />
			<p:selectOneMenu style="width:220px;" id="idComboSediEstere" value="#{SessionBean.ricercaFormContainer.estrattiContoUCB.sedeEstera}" >
            	<f:selectItem itemLabel="-" itemValue="#{null}" />
            	<f:selectItems value="#{RicercaEstrattiContoCCVTBean.sediEstere}" var="sedeEstera"
            		itemLabel="#{sedeEstera.description}" itemValue="#{sedeEstera.value}" />
            </p:selectOneMenu>
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid" layout="grid" >
			<p:commandButton value="Ricerca" title="Ricerca" icon="fa fa-search" action="#{SessionBean.ricercaUCB.searchEstrattiContoUCB}" />
			<p:commandButton value="Pulisci" title="Pulisci" icon="fa fa-eraser" action="#{SessionBean.ricercaUCB.pulisciRicercaEstrattiContoUCB}" styleClass="generic_nominWidth generic_width100"
				update="@parent:esercizio, @parent:trimestre, @parent:idComboSediEstere" />
			<ui:include src="closeButtonRicerca.xhtml" />
		</p:panelGrid>
	</h:form>
</ui:composition>