<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="ricercaProtocolliPregressiDfForm">
		<p:outputPanel id="idFiltriProtocolliPregressiPnl">

			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale">
				<p:outputLabel for="oggettoProtNsd" value="Oggetto" styleClass="generic_textBold" />
				<p:inputText id="oggettoProtNsd" value="#{SessionBean.ricercaFormContainer.protocolliDF.oggetto}" styleClass="generic_nominWidth generic_input99" />
			</p:panelGrid>

			<p:panelGrid columns="6" layout="grid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" columnClasses="ui-grid-col-2,ui-grid-col-2 ui-fluid,ui-grid-col-2,ui-grid-col-2 ui-fluid,ui-grid-col-2,ui-grid-col-2 ui-fluid ">

				<p:outputLabel for="idRegistro" value="Tipo Registro" styleClass="generic_textBold" />
				<p:selectOneMenu id="idRegistro" value="#{SessionBean.ricercaFormContainer.protocolliDF.idRegistro}" styleClass="obbligatorio" style="min-width:50px!important"> 
					<f:selectItems value="#{SessionBean.tipologiaRegistroNsd}" var="tpReg" itemValue="#{tpReg.valore}" itemLabel="#{tpReg.label}"/>
				</p:selectOneMenu>
 
				<p:outputLabel for="modalita" value="Modalità" styleClass="generic_textBold" />
				<p:selectOneMenu id="modalita" value="#{SessionBean.ricercaFormContainer.protocolliDF.modalita}" styleClass="obbligatorio">
					<f:selectItem itemLabel="TUTTI" itemValue="" />
					<f:selectItem itemLabel="INGRESSO" itemValue="I" />
					<f:selectItem itemLabel="USCITA" itemValue="U" /> 
				</p:selectOneMenu>

				<p:outputLabel for="tipologiaDocumento" value="Tipologia Doc." styleClass="generic_textBold" />
				<p:selectOneMenu id="tipologiaDocumento" value="#{SessionBean.ricercaFormContainer.protocolliDF.tipologiaDocumento}" style="min-width:142px!important;"> 
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItems value="#{SessionBean.tipologiaDocumentoNsd}" var="tpDoc" itemValue="#{tpDoc.valore}" itemLabel="#{tpDoc.label}"/>
				</p:selectOneMenu>
				  
				<p:outputLabel for="numProtocolloDa" value="N. Protocollo Da" styleClass="generic_textBold" />
				<p:inputNumber id="numProtocolloDa" value="#{SessionBean.ricercaFormContainer.protocolliDF.numProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />
				<p:outputLabel for="numProtocolloA" value="N. Protocollo A" styleClass="generic_textBold" />
				<p:inputNumber id="numProtocolloA" value="#{SessionBean.ricercaFormContainer.protocolliDF.numProtocolloA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />

				<p:outputPanel>
					<p:outputLabel for="annoProtocollo" value="Anno Protocollazione" styleClass="generic_textBold" />
					<p:outputLabel for="annoProtocollo" value="*" styleClass="generic_textBold generic_redStar" />
				</p:outputPanel>
				<p:inputNumber id="annoProtocollo" value="#{SessionBean.ricercaFormContainer.protocolliDF.annoProtocollo}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" styleClass="anno-input-number-ricerca-doc obbligatorio" disabled="#{SessionBean.ricercaFormContainer.protocolliDF.annoProtocolloDisabled}" />

				<p:outputLabel for="dataDaProt" value="Data protocollazione da" styleClass="generic_textBold" />
				<p:calendar id="dataDaProt" navigator="true" value="#{SessionBean.ricercaFormContainer.protocolliDF.dataProtocollazioneDa}" maxdate="#{SessionBean.today}" widgetVar="wdgDataProtocollazioneDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc obbligatorio">
					<p:ajax event="dateSelect" listener="#{SessionBean.onChangeProtocolliPregressiDataDaA('dataDaProt')}" update="dataAProt, annoProtocollo" />
				</p:calendar>
				<p:outputLabel for="dataAProt" value="Data protocollazione a" styleClass="generic_textBold" />
				<p:calendar id="dataAProt" navigator="true" value="#{SessionBean.ricercaFormContainer.protocolliDF.dataProtocollazioneA}" maxdate="#{SessionBean.today}" widgetVar="wdgDataProtocollazioneA" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc obbligatorio">
					<p:ajax event="dateSelect" listener="#{SessionBean.onChangeProtocolliPregressiDataDaA('dataAProt')}" update="dataDaProt, annoProtocollo" />
				</p:calendar>
 
 	 
			</p:panelGrid>

			<p:accordionPanel id="idAccordionMittenteDestinatario" widgetVar="wdgAccordionMittenteDestinatario" activeIndex="-1" onTabChange="isLoadedUlterioriFiltri();onOffTreeBtnAssegnazione();disableAllChk();" styleClass="ulteriori-filtri-style">

				<p:tab id="idTabUlterioriFiltri" title="Mittente/Destinatario">
					<p:outputPanel id="idPanelUlterioriFiltri" rendered="true">
						  
						<p:panelGrid id="mittDestOP" columns="4" layout="grid" styleClass="ui-panelgrid-blank" 
							columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
							 	<p:outputLabel for="numProtocolloMitt" value="N. Protocollo Mittente" styleClass="generic_textBold" />
								<p:inputText  id="numProtocolloMitt" value="#{SessionBean.ricercaFormContainer.protocolliDF.mittDestProtocolloNsdDTO.nProtMittente}" />

								<p:outputLabel for="idMittDest" value="Mittente/Destinatario" styleClass="generic_textBold" />
								<p:inputText id="idMittDest"  value="#{SessionBean.ricercaFormContainer.protocolliDF.mittDestProtocolloNsdDTO.mittDest}" />
 
								<p:outputLabel for="cFpIvaId" value="CF/P.Iva Mittente/Destinatario" styleClass="generic_textBold" />
								<p:inputText id="cFpIvaId" value="#{SessionBean.ricercaFormContainer.protocolliDF.mittDestProtocolloNsdDTO.cFpIva}" />

							</p:panelGrid>
					</p:outputPanel>
				</p:tab>
			</p:accordionPanel> 
		</p:outputPanel>

		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid">
			<p:commandButton id="ricercaProtocolliPregressiDfBtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.ricercaProtocolliPregressiDF}" />
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaProtocolliPregressiDf}" update="ricercaProtocolliPregressiDfForm:idFiltriProtocolliPregressiPnl" />

			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaProtocolliPregressiDfBtn" scope="@form" />
		</p:panelGrid>
	</h:form>
</ui:composition>