<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">


	<h:form id="ricercaAvanzataUCBForm">
		
		<p:panelGrid id="pnlGridRicDocUCB_1" layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale">
					
			<p:outputLabel value="Oggetto" styleClass="generic_textBold"/>
				<p:inputText value="#{SessionBean.ricercaFormContainer.documentiUCB.oggetto}" widgetVar=""/>
			
				<p:outputLabel value="Destinatario" styleClass="generic_textBold"/>
				<p:inputText widgetVar="#{SessionBean.ricercaFormContainer.documentiUCB.destinatario}" value="" /> 
					
		</p:panelGrid>

		<p:panelGrid id="pnlGridRicDocUCB_2" layout="grid" columns="8" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid, ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale">
					
			<p:outputLabel value="Mittente" styleClass="generic_textBold"/>
        		<p:inputText widgetVar="#{SessionBean.ricercaFormContainer.documentiUCB.mittente}" value="" styleClass="generic_nominWidth generic_width200px"/>
				        		
				<p:outputPanel>
					<p:outputLabel value="Anno creazione" styleClass="generic_textBold"/>
					<p:outputLabel for="annoDocumento" value="*" styleClass="generic_textBold generic_redStar"/>
				</p:outputPanel>
					
			<p:inputNumber id="annoDocumento" value="#{SessionBean.ricercaFormContainer.documentiUCB.annoDocumento}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" styleClass="anno-input-number-ricerca-doc obbligatorio "/> 
											
		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_3" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
       		<p:outputLabel value="Data creazione Da" styleClass="generic_textBold" />
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.documentiUCB.dataCreazioneDa}" maxdate="#{SessionBean.today}" 
       		widgetVar="wdgDataCreazioneDa" showOn="button" pattern="dd/MM/yyyy" >
       		</p:calendar>

       		<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>
       		<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.documentiUCB.dataCreazioneA}" maxdate="#{SessionBean.today}" 
       		widgetVar="wdgDataCreazioneA" showOn="button" pattern="dd/MM/yyyy" >
       		</p:calendar>
			
		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_4" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Protocollo Da" styleClass="generic_textBold"/>
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiUCB.numeroProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />

			<p:outputLabel value="Protocollo A" styleClass="generic_textBold"/>
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiUCB.numeroProtocolloA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />

		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_5" columns="6" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
        	<p:outputLabel value="Note" styleClass="generic_textBold"/>
       		<p:inputText value="#{SessionBean.ricercaFormContainer.documentiUCB.note}" styleClass = "generic_nominWidth generic_width200px"/> 

        	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiUCB.riservato}" itemLabel="Riservato" />
		   	<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.documentiUCB.annullati}" itemLabel="Annullati" />
		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_6" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Protocollo Emergenza Da" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiUCB.numeroProtocolloEmergenzaDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"
				styleClass="anno-input-number-ricerca-doc"/>

			<p:outputLabel value="Protocollo Emergenza A" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.documentiUCB.numeroProtocolloEmergenzaA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"
				styleClass="anno-input-number-ricerca-doc"/>
			
		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_7" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Data Prot. Emergenza Da" styleClass="generic_textBold" />
			<p:calendar value="#{SessionBean.ricercaFormContainer.documentiUCB.dataProtocolloEmergenzaDa}" maxdate="#{SessionBean.today}" 
			showOn="button" pattern="dd/MM/yyyy" />

		   	<p:outputLabel value="Data Prot. Emergenza A" styleClass="generic_textBold"/>    
			<p:calendar value="#{SessionBean.ricercaFormContainer.documentiUCB.dataProtocolloEmergenzaA}" maxdate="#{SessionBean.today}" 
			showOn="button" pattern="dd/MM/yyyy" />

		</p:panelGrid>
		
		<p:panelGrid id="pnlGridRicDocUCB_8" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Indice di classificazione" styleClass="generic_textBold" />
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText id="idTitolarioRicercaUCB"	value="#{SessionBean.ricercaFormContainer.documentiUCB.descrizioneTitolario}" title="#{SessionBean.ricercaFormContainer.documentiUCB.descrizioneTitolario}"  />
				<p:commandButton id="idButtonTitolario" icon="fa fa-sitemap" title="Titolario" type="button" />
			</p:outputPanel>
			
			<p:outputLabel value="Ufficio competente" styleClass="generic_textBold"/>
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText id="idCompetenzaUCB" value="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioComp}" title="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioComp}"  />
				<p:commandButton id="idButtonCompetenza" icon="fa fa-sitemap" title="Uffici" type="button" />
			</p:outputPanel>			
				
		</p:panelGrid>
			
		<p:panelGrid id="pnlGridRicDocUCB_9" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Protocollatore" styleClass="generic_textBold" />
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText id="idProtocollatoreUCB" value="#{SessionBean.ricercaFormContainer.documentiUCB.protocollatore}" title="#{SessionBean.ricercaFormContainer.documentiUCB.protocollatore}" styleClass="generic_nominWidth generic_width147px"  />
				<p:commandButton id="idButtonProtocollatore" icon="fa fa-sitemap" title="Uffici" type="button" />
			</p:outputPanel>

			<p:outputLabel value="Ufficio assegnante" styleClass="generic_textBold" />
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText id="idUfficioAssegnanteUCB" value="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioAss}" title="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioAss}" styleClass="generic_nominWidth generic_width147px"  />
				<p:commandButton id="idButtonUfficioAssegnante" icon="fa fa-sitemap" title="Uffici" type="button" />
			</p:outputPanel>

		</p:panelGrid>

		<p:panelGrid id="pnlGridRicDocUCB_10" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Ufficio firmatario" styleClass="generic_textBold" />
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText id="idUfficioFirmatarioUCB" value="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioFirm}" title="#{SessionBean.ricercaFormContainer.documentiUCB.descrUfficioFirm}" styleClass="generic_nominWidth generic_width147px"  />
				<p:commandButton id="idButtonUfficioFirmatario" icon="fa fa-sitemap" title="Uffici" type="button" />
			</p:outputPanel>
											
			
		</p:panelGrid>

		<p:panelGrid id="pnlGridRicDocUCB_11" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Tipo Documento" />
			<p:selectOneMenu style="width:300px;" id="idComboTipoDocUcb" value="#{SessionBean.ricercaFormContainer.documentiUCB.descrizioneTipologiaDocumento}" >
				<p:ajax event="change" listener="#{SessionBean.ricercaUCB.onChangeTipologiaDocumento}" update="ricercaAvanzataUCBForm:idComboTipoProcUcb, ricercaAvanzataUCBForm:panelToRender" />
				<f:selectItems value="#{SessionBean.ricercaUCB.formDocumenti.comboTipologieDocumento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}" />
			</p:selectOneMenu>
	       	
			<p:outputLabel value="Tipo Procedimento" />  
			<p:selectOneMenu id="idComboTipoProcUcb" value="#{SessionBean.ricercaFormContainer.documentiUCB.descrizioneTipoProcedimento}" >
				<p:ajax event="change" listener="#{SessionBean.ricercaUCB.onChangeTipoProcedimento}" update="ricercaAvanzataUCBForm:panelToRender" />
				<f:selectItems value="#{SessionBean.ricercaUCB.formDocumenti.comboTipiProcedimento}" var="t" itemValue="#{t.descrizione}" itemLabel="#{t.descrizione}" />
			</p:selectOneMenu>
			
		</p:panelGrid>
		
		<p:outputPanel id = "panelToRender"> 
			<p:fieldset legend="Attributi Estesi" style="margin-bottom:20px" id="metadatiPnl" rendered="#{SessionBean.ricercaFormContainer.documentiUCB.descrizioneTipologiaDocumento != null and (not empty SessionBean.ricercaUCB.formDocumenti.listaMetadatiEstesi) }">
				<c:forEach var="metadato" items="#{SessionBean.ricercaUCB.formDocumenti.listaMetadatiEstesi}" >
			 
					<div class="ui-panelgrid-cell ui-grid-col-2">
						<p:outputLabel value="#{metadato.displayNameView}"/>  
					</div>
					<div class="ui-panelgrid-cell ui-grid-col-4" style="padding-bottom: 5px;">
						<p:inputText rendered="#{metadato.type.code eq 'S'}" value="#{metadato.selectedValue}" styleClass="valoreMetadatoEsteso" maxlength="#{metadato.dimension}"/>
						<p:inputNumber rendered="#{metadato.type.code eq 'I'}" value="#{metadato.selectedValue}" thousandSeparator="" padControl="false" styleClass="valoreMetadatoEsteso" maxValue="#{SessionBean.getMaxValue(metadato.dimension)}"/>
						<p:inputNumber rendered="#{metadato.type.code eq 'U'}" value="#{metadato.selectedValue}" styleClass="valoreMetadatoEsteso" decimalSeparator="." thousandSeparator="" decimalPlaces="2"/>
		     			<p:calendar inputStyle="width:250px" rendered="#{metadato.type.code eq 'D'}" navigator="true" value="#{metadato.selectedValue}" showOn="button" pattern="dd/MM/yyyy" />
						<red:lookupTableComponent rendered="#{metadato.type.code eq 'L'}" lookupDto="#{metadato}"/>
						<red:anagraficaDipendentiComponent rendered="#{metadato.type.code eq 'P'}" anagDto="#{metadato}" cssDialog="anagDipPanelRicerca"/>
						<red:capitoliComponent rendered="#{metadato.type.code eq 'C'}" capDto="#{metadato}" cssDialog="capitoliPanelRicerca" />
					</div>
				</c:forEach>
			</p:fieldset>
		</p:outputPanel>
		<p:panelGrid styleClass="ui-panelgrid-blank" columns="2" columnClasses="ui-grid-col-6 ui-fluid,ui-grid-col-6 ui-fluid" layout="grid" >
			<p:commandButton value="Ricerca" title="Ricerca" icon="fa fa-search" action="#{SessionBean.ricercaUCB.searchAvanzataUCB}"/>
			<ui:include src="closeButtonRicerca.xhtml" />
		</p:panelGrid>
			
	</h:form>


		<p:overlayPanel widgetVar="wdgTitolarioUCBOverlay" for="ricercaAvanzataUCBForm:idButtonTitolario" oncomplete = "PF('idTitolarioUCBOverlay').hide;" >
		  <h:form id="idTitolarioUCBForm">	
		  	<p:scrollPanel id="idOrgTitolarioUcbScrlPnl" mode="native" styleClass="generic_nominWidth generic_width320px generic_height250px" >

		  		<p:tree value="#{SessionBean.rootTitolarioRicerca}" var="t" id="idTitolarioUCBTree" selectionMode="single" styleClass="dmd-tree" dynamic="true" >

		  			<p:ajax event="expand" listener="#{SessionBean.ricercaUCB.onTitolarioUCBNodeExpandRicerca}" />
					<p:ajax event="select" listener="#{SessionBean.ricercaUCB.onTitolarioUCBNodeSelect}" update = "idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idTitolarioRicercaUCB" oncomplete="PF('wdgTitolarioUCBOverlay').hide()"/>

					<p:treeNode >
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel value=" #{t.descrizione}" />
						
					</p:treeNode>

		  		</p:tree>

		  	</p:scrollPanel>
		  </h:form>
		  <iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
		</p:overlayPanel>

	<p:overlayPanel widgetVar="wdgUfficiCompetenza"	for="ricercaAvanzataUCBForm:idButtonCompetenza" >
		<h:form id="idCompetenzaUCBForm">
			<p:scrollPanel id="idOrgCompetenzaUcbScrlPnl" mode="native"	styleClass="generic_nominWidth generic_width320px generic_height250px">
				<p:tree value="#{SessionBean.ricercaUCB.rootAssegnazione}" var="node" id="idAssegnatarioTree" selectionMode="single" styleClass="dmd-tree" dynamic="true">

				<p:ajax event="expand" listener="#{SessionBean.ricercaUCB.onOpenTreeAss}"/>
			    <p:ajax event="select" listener="#{SessionBean.ricercaUCB.onSelectTreeAss}" update="idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idCompetenzaUCB" oncomplete="PF('wdgUfficiCompetenza').hide()"/>

					<p:treeNode>
						<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
						<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}"/>
						
						<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}"/>
						<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}"/>
						
					</p:treeNode>
					
				</p:tree>
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>

	<p:overlayPanel widgetVar="wdgProtocollatore" for="ricercaAvanzataUCBForm:idButtonProtocollatore" >
		<h:form id="idProtocolloUCBForm">
			<p:scrollPanel id="idOrgCompetenzaUcbScrlPnl" mode="native"	styleClass="generic_nominWidth generic_width320px generic_height250px">
				<p:tree value="#{SessionBean.ricercaUCB.rootProtocollatore}" var="node" id="idProtocollatoreTree" selectionMode="single" styleClass="dmd-tree" dynamic="true">

				<p:ajax event="expand" listener="#{SessionBean.ricercaUCB.onOpenTreeProt}"/>
			    <p:ajax event="select" listener="#{SessionBean.ricercaUCB.onSelectTreeProt}"  update="idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idProtocollatoreUCB" oncomplete="PF('wdgProtocollatore').hide()"/>

					<p:treeNode>
						<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}" />
					</p:treeNode>
					
				</p:tree>
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame UCB Test"></iframe>
	</p:overlayPanel>

	<p:overlayPanel widgetVar="wdgUfficioAssegnante" for="ricercaAvanzataUCBForm:idButtonUfficioAssegnante" >
		<h:form id="idUffAssUCBForm">
			<p:scrollPanel id="idOrgUffAssUcbScrlPnl" mode="native"	styleClass="generic_nominWidth generic_width320px generic_height250px">
				<p:tree value="#{SessionBean.ricercaUCB.rootAssegnazione}" var="node" id="idUfficioAssegnanteTree" selectionMode="single" styleClass="dmd-tree" dynamic="true">

				<p:ajax event="expand" listener="#{SessionBean.ricercaUCB.onOpenTreeAss}"  />
			    <p:ajax event="select" listener="#{SessionBean.ricercaUCB.onSelectTreeUfficioAss}" update="idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idUfficioAssegnanteUCB" oncomplete="PF('wdgUfficioAssegnante').hide()"/>

					<p:treeNode>
						<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}" />
						
					</p:treeNode>
					
				</p:tree>
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>
	
	<p:overlayPanel widgetVar="wdgUfficioFirmatario" for="ricercaAvanzataUCBForm:idButtonUfficioFirmatario" >
		<h:form id="idUffFirmUCBForm">
			<p:scrollPanel id="idOrgUffFirmUcbScrlPnl" mode="native" styleClass="generic_nominWidth generic_width320px generic_height250px">
				<p:tree value="#{SessionBean.ricercaUCB.rootAssegnazione}" var="node" id="idUfficioFirmatarioTree" selectionMode="single" styleClass="dmd-tree" dynamic="true">

				<p:ajax event="expand" listener="#{SessionBean.ricercaUCB.onOpenTreeAss}"  />
			    <p:ajax event="select" listener="#{SessionBean.ricercaUCB.onSelectTreeUfficioFirm}" update="idTabRicerche:idTabRicercaUCB:ricercaAvanzataUCBForm:idUfficioFirmatarioUCB" oncomplete="PF('wdgUfficioFirmatario').hide()" />

					<p:treeNode>
						<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}" />
						
						<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}" />
						<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}" />
						
					</p:treeNode>
					
				</p:tree>
			</p:scrollPanel>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame ricerca avanzata ucb"></iframe>
	</p:overlayPanel>

</ui:composition>