<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaFaldoniRedForm">
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid">
	       	<p:outputLabel value="Descrizione" styleClass="generic_textBold"/>
	       	<p:inputText value="#{SessionBean.ricercaFormContainer.faldoniRed.descrizioneFaldone}"/>
		</p:panelGrid>
		
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	<p:outputLabel value="Data creazione Da" styleClass="generic_textBold" />
        	<p:calendar navigator="true"  value="#{SessionBean.ricercaFormContainer.faldoniRed.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-faldoni" id="idFaldDataDa" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFaldoniDataDaA('dataCreazioneDa')}" update="idFaldDataA" />
	       		</p:calendar>
        	<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>
        	<p:calendar navigator="true"  value="#{SessionBean.ricercaFormContainer.faldoniRed.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-faldoni" id="idFaldDataA" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFaldoniDataDaA('dataCreazioneA')}" update="idFaldDataDa" />
	       		</p:calendar>
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaFaldoniRedBtn" value="Cerca" styleClass="generic_nominWidth generic_width100"  action="#{SessionBean.ricercaFaldoniRed}" icon="fa fa-search"  />
			<p:commandButton value="Pulisci" styleClass="generic_nominWidth generic_width100" icon="fa fa-eraser" action="#{SessionBean.pulisciRicercaRedFaldoni}" update="ricercaFaldoniRedForm"/>
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaFaldoniRedBtn" scope="@form" />
		</p:panelGrid>
					
	</h:form>
	

</ui:composition>