<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
 		
	<h:form id="ricercaFascicoliPregressiDfForm">
		<p:outputPanel id="idFiltriFascicoliPregressiPnl">
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				<p:outputLabel for="nomeFascicolo" value="Nome Fascicolo" styleClass="generic_textBold" />
				<p:inputText id="nomeFascicolo" value="#{SessionBean.ricercaFormContainer.fascicoliDF.nomeFascicolo}"  />
				<p:outputLabel value="Descrizione" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.descrizioneFascicolo}"/>
			</p:panelGrid>
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				<p:outputLabel value="Responsabile" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.responsabileFascicolo}" />
				<p:outputLabel value="Stato" styleClass="generic_textBold" />
					<p:selectOneMenu id="idStatoFasc" value="#{SessionBean.ricercaFormContainer.fascicoliDF.statoFascicolo}"> 
						<f:selectItem itemLabel="seleziona" itemValue="" />
						<f:selectItem itemLabel="APERTO" itemValue="1" />
						<f:selectItem itemLabel="CHIUSO" itemValue="2" />
						<f:selectItem itemLabel="CONGELATO" itemValue="3" />
					</p:selectOneMenu>
			</p:panelGrid>
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				<p:outputLabel value="Codice Titolario" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.codiceTitolarioFascicolo}" />
				<p:outputLabel value="N. Fascicolo" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.numeroFascicolo}"/>
			</p:panelGrid>
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				<p:outputLabel value="N. Protocollo" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.numeroProtocolloFascicolo}" />
				<p:outputLabel value="Anno Protocollo" styleClass="generic_textBold"/>
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.annoProtocolloFascicolo}" styleClass="obbligatorio" />
			 </p:panelGrid> 
			 
			 <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
				<p:outputLabel value="Uff. Proprietario" styleClass="generic_textBold" />
				<p:inputText value="#{SessionBean.ricercaFormContainer.fascicoliDF.ufficioProprietarioFascicolo}" />
				
				<p:outputLabel for="idRegistroFasc" value="Tipo Registro" styleClass="generic_textBold" />
				<p:selectOneMenu id="idRegistroFasc" value="#{SessionBean.ricercaFormContainer.fascicoliDF.idRegistroFascicolo}"> 
					<f:selectItem itemLabel="seleziona" itemValue="" />
					<f:selectItems value="#{SessionBean.tipologiaRegistroNsd}" var="tpRegFasc" itemValue="#{tpRegFasc.valore}" itemLabel="#{tpRegFasc.label}"/>
				</p:selectOneMenu>
			</p:panelGrid>
			 
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       		<p:outputLabel for="dataAperturaDa" value="Data apertura da" styleClass="generic_textBold" />
	       		<p:calendar id="dataAperturaDa" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataAperturaDa}" maxdate="#{SessionBean.today}" widgetVar="wdgDataAperturaDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataAperturaDa')}" update="dataAperturaA" />
	       		</p:calendar>
	       		<p:outputLabel for="dataAperturaA" value="Data apertura a" styleClass="generic_textBold"/>
	       		<p:calendar id="dataAperturaA" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataAperturaA}" maxdate="#{SessionBean.today}" widgetVar="wdgDataAperturaA" showOn="button" pattern="dd/MM/yyyy"  styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataAperturaA')}" update="dataAperturaDa" />
	       		</p:calendar>
	       		 
			</p:panelGrid> 
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       		<p:outputLabel for="dataChiusuraDa" value="Data chiusura da" styleClass="generic_textBold" />
	       		<p:calendar id="dataChiusuraDa" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataChiusuraDa}" maxdate="#{SessionBean.today}" widgetVar="wdgDataChiusuraDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataChiusuraDa')}" update="dataChiusuraA" />
	       		</p:calendar>
	       		<p:outputLabel for="dataChiusuraA" value="Data chiusura a" styleClass="generic_textBold"/>
	       		<p:calendar id="dataChiusuraA" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataChiusuraA}" maxdate="#{SessionBean.today}" widgetVar="wdgDataChiusuraA" showOn="button" pattern="dd/MM/yyyy"  styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataChiusuraA')}" update="dataChiusuraDa" />
	       		</p:calendar>
			</p:panelGrid> 
			
			<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       		<p:outputLabel for="dataScadenzaDa" value="Data scadenza da" styleClass="generic_textBold" />
	       		<p:calendar id="dataScadenzaDa" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataScadenzaDa}" widgetVar="wdgDataScadenzaDa" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataScadenzaDa')}" update="dataScadenzaA" />
	       		</p:calendar>
	       		<p:outputLabel for="dataScadenzaA" value="Data scadenza a" styleClass="generic_textBold "/>
	       		<p:calendar id="dataScadenzaA" navigator="true" value="#{SessionBean.ricercaFormContainer.fascicoliDF.dataScadenzaA}" widgetVar="wdgDataScadenzaA" showOn="button" pattern="dd/MM/yyyy"  styleClass="calendar-ricerca-data-a-doc obbligatorio" >
	       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeFascicoliPregressiDataDaA('dataScadenzaA')}" update="dataScadenzaDa"/>
	       		</p:calendar>
			</p:panelGrid>  
			
			
		</p:outputPanel>  
		 
			
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaFascicoliPregressiDfBtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.ricercaFascicoliPregressiDF}" />
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaFascicoliPregressiDf}" 
							 update="ricercaFascicoliPregressiDfForm:idFiltriFascicoliPregressiPnl"/>

			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaFascicoliPregressiDfBtn" scope="@form" />
		</p:panelGrid>		
	</h:form>
 
</ui:composition>