<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.ModalitaRicercaAvanzataTestoEnum" var="ModalitaRicercaAvanzataTestoEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<p:tabView id="idTabRicercheRed" widgetVar="wdgTabRicercaRed"  scrollable="true" styleClass="tab-ricerca-red" >
		
		<p:tab title="Documenti" >
			<ui:include src="ricercaDocumentiRedTab.xhtml"/>
		</p:tab>
		
		<p:tab title="Fascicoli" >
			<ui:include src="ricercaFascicoliRedTab.xhtml"/>
		</p:tab>
		
		<p:tab title="Faldoni" >
			<ui:include src="ricercaFaldoniRedTab.xhtml"/>
		</p:tab>
		 
	</p:tabView>

</ui:composition>