<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.ModalitaRicercaAvanzataTestoEnum" var="ModalitaRicercaAvanzataTestoEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<p:tabView id="idTabRicercaStampaRegistro" widgetVar="wdgTabRicercaStampaRegistro" scrollable="true" styleClass="tab-ricerca-red">
		
		<p:tab title="Dati Protocollo" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.RICERCANPS)}" >
			<ui:include src="ricercaDatiProtocolloTab.xhtml"/>
		</p:tab>
		
		<p:tab id="idTabStampaReg" title="Stampa Registro" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.STAMPAREGISTRO)}" >
			<ui:include src="ricercaStampaRegistroTab.xhtml"/>
		</p:tab>
		
		<p:tab title="Registrazioni Ausiliarie" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.RICERCA_REGISTRAZIONI_AUSILIARIE)}">
			<ui:include src="ricercaRegistrazioniAusiliarieTab.xhtml"/>
		</p:tab>
		
	</p:tabView>

</ui:composition>