<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">


	<h:form id="ricercaEsitiUCBForm">
		<p:importEnum type="it.ibm.red.business.enums.SottoCategoriaDocumentoUscitaEnum" var="cdu" allSuffix="ALL_ENUM_VALUES" />
		
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel ricerca-red-documenti-form-testuale" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Tipologia Esito" />  
			<p:selectOneMenu id="idComboTipoEsitoUcb" value="#{SessionBean.ricercaFormContainer.esitiVistiOss.tipoEsito}" >
	            <f:selectItem itemLabel="Visti" itemValue="#{cdu.VISTO}" />
	            <f:selectItem itemLabel="Osservazioni" itemValue="#{cdu.OSSERVAZIONE}" />
			</p:selectOneMenu>
	       	
		</p:panelGrid>
			
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Numero Protocollo Da" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.esitiVistiOss.numeroProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass = "anno-input-number-ricerca-doc" />

			<p:outputLabel value="Numero Protocollo A" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.esitiVistiOss.numeroProtocolloA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass = "anno-input-number-ricerca-doc" />
			
		</p:panelGrid>
			
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
			<p:outputLabel value="Data creazione Da" styleClass="generic_textBold" />
			<p:calendar value="#{SessionBean.ricercaFormContainer.esitiVistiOss.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

		   	<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>    
			<p:calendar value="#{SessionBean.ricercaFormContainer.esitiVistiOss.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid" layout="grid" >
			<p:commandButton action="#{SessionBean.ricercaUCB.searchEsitiUCB}" value="Ricerca" title="Ricerca" icon="fa fa-search" />
			<p:commandButton value="Pulisci" title="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_width100"/>
			<ui:include src="closeButtonRicerca.xhtml" />
		</p:panelGrid>
			
	</h:form>
	
	
</ui:composition>