<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.RicercaGenericaTypeEnum" var="typeEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.RicercaPerBusinessEntityEnum" var="entityEnum" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaFepaForm">
				
		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" >
	        <p:outputPanel>
	        	<p:outputLabel value="Anno creazione" styleClass="generic_textBold"/>
	        	<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
	        </p:outputPanel>
	       	<p:inputNumber value="#{SessionBean.ricercaFormContainer.fepa.annoDocumento}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" 
	       		padControl="false" styleClass="anno-input-number-ricerca-fepa input-number-obbligatorio obbligatorio" id="annoDocumento" disabled="#{SessionBean.ricercaFormContainer.fepa.annoDocumentoDisabled}" /> 
	       	<p:outputLabel value="Tipo Documento" styleClass="generic_textBold"/>
			<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.fepa.descrizioneTipologiaDocumento}" styleClass="generic_nominWidth generic_nominWidth generic_width77px"  >
				<f:selectItem itemValue="1" itemLabel="DSR" />
				<f:selectItem itemValue="2" itemLabel="Decreto Dirigenziale" />
			</p:selectOneMenu>
		</p:panelGrid>
		
		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank generic_width100">
	       	<p:outputLabel value="Numero/ID" styleClass="generic_textBold"/>
	       	<p:inputNumber value="#{SessionBean.ricercaFormContainer.fepa.numeroDocumento}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="number-ricerca-fepa" /> 
			<div></div>
			<div></div>
		</p:panelGrid>
		
		<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici">
	       	<p:outputLabel value="Data creazione Da" styleClass="generic_textBold" />
	       	<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.fepa.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" id="dataDaDoc" >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFepaDataDaA('dataCreazioneDa')}" update="dataADoc, annoDocumento" />
       		</p:calendar>
	       	<p:outputLabel value="Data creazione A" styleClass="generic_textBold"/>
        	<p:calendar navigator="true" value="#{SessionBean.ricercaFormContainer.fepa.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" id="dataADoc" >
       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaFepaDataDaA('dataCreazioneA')}" update="dataDaDoc, annoDocumento" />
       		</p:calendar>
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton id="ricercaFEPABtn" value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.ricercaFepa}" />
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaFepa}" update="ricercaFepaForm" />
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:ricercaFEPABtn" scope="@form" />
		</p:panelGrid>
					
	</h:form>
	

</ui:composition>