<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.TipoProtocolloEnum" var="tpe" allSuffix="ALL_ENUM_VALUES" />
						
	<h:form id="ricercaDatiProtocolloForm">
				
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale" >
	       	<p:outputLabel for="oggettoDatiProt" value="Oggetto" styleClass="generic_textBold"/>
    	   	<p:inputText id="oggettoDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.oggetto}" styleClass="generic_nominWidth generic_input99" />
		</p:panelGrid>
		
		<p:panelGrid layout="grid" columns="6" columnClasses="ui-grid-col-2,ui-grid-col-2 ui-fluid,ui-grid-col-2,ui-grid-col-2 ui-fluid,ui-grid-col-2,ui-grid-col-2 ui-fluid" styleClass="ui-panelgrid-blank ricerca-red-documenti-form-numerici">
		        	<p:outputLabel for="annoProtocolloDatiProt" value="Anno creazione" styleClass="generic_textBold" />
		        	<p:inputNumber id="annoProtocolloDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.annoProtocollo}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" 
		        		thousandSeparator="" padControl="false" disabled="#{SessionBean.ricercaFormContainer.datiProtocollo.annoProtocolloDisabled}"/> 
		        	<p:outputLabel for="statoDatiProt" value="Stato" styleClass="generic_textBold"/>
					<p:selectOneMenu id="statoDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.stato}" >
						<f:selectItem itemLabel="" itemValue=""  />
						<f:selectItem itemLabel="AGLI ATTI" itemValue="AGLI_ATTI"  />
						<f:selectItem itemLabel="CHIUSO" itemValue="CHIUSO"  />
						<f:selectItem itemLabel="DA ASSEGNARE" itemValue="DA_ASSEGNARE"  />
						<f:selectItem itemLabel="DA SPEDIRE" itemValue="DA_SPEDIRE"  />
						<f:selectItem itemLabel="IN LAVORAZIONE" itemValue="IN_LAVORAZIONE"  />
						<f:selectItem itemLabel="INVIATO" itemValue="INVIATO"  />
						<f:selectItem itemLabel="SPEDITO" itemValue="SPEDITO"  />
					</p:selectOneMenu>
		        	<p:outputLabel for="destinatarioDatiProt" value="Destinatario" styleClass="generic_textBold"/>
					<p:inputText id="destinatarioDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.destinatario}" />
		    
		        	<p:outputLabel for="dataDaDatiProt" value="Data creazione Da" styleClass="generic_textBold" />
		        	<p:calendar navigator="true" id="dataDaDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.dataProtocolloDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" >
		       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDatiProtDataDaA('dataCreazioneDa')}" update="dataADatiProt, annoProtocolloDatiProt" />
		       		</p:calendar>
		        	<p:outputLabel for="dataADatiProt" value="Data creazione A" styleClass="generic_textBold"/>
		        	<p:calendar navigator="true" id="dataADatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.dataProtocolloA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" >
		       			<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDatiProtDataDaA('dataCreazioneA')}" update="dataDaDatiProt, annoProtocolloDatiProt" />
		       		</p:calendar>
		       		
		        	<p:outputLabel for="mittenteDatiProt" value="Mittente" styleClass="generic_textBold"/>
		        	<p:inputText id="mittenteDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.mittente}"/>

		        	<p:outputLabel for="numProtDaDatiProt" value="Prot. Da" styleClass="generic_textBold" />
		        	<p:inputNumber id="numProtDaDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.numeroProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />
		        	<p:outputLabel for="numProtADatiProt" value="Prot. A" styleClass="generic_textBold"/>
		        	<p:inputNumber id="numProtADatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.numeroProtocolloA}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" />
			
		        	<p:outputLabel for="tipoProtDatiProt" value="Tipo Prot." styleClass="generic_textBold"/>
					<p:selectOneMenu id="tipoProtDatiProt" value="#{SessionBean.ricercaFormContainer.datiProtocollo.tipoProtocollo}">
						<f:selectItem itemLabel="" itemValue="#{null}"  />
						<f:selectItem itemLabel="ENTRATA" itemValue="#{tpe.ENTRATA}"  />
						<f:selectItem itemLabel="USCITA" itemValue="#{tpe.USCITA}"  />
					</p:selectOneMenu>
		        	<p:outputLabel for="idCmbTipoDoc" value="Tipologia Documento" styleClass="generic_textBold"/>
					<p:selectOneMenu id="idCmbTipoDoc" autoWidth="false" value="#{SessionBean.ricercaFormContainer.datiProtocollo.tipologiaDocumento}" >
						<f:selectItem itemLabel="" itemValue=""  />
						<f:selectItems value="#{SessionBean.listaTipoDocumentoNPS}" var="t" itemValue="#{t.key}" itemLabel="#{t.value}"/>
					</p:selectOneMenu>
					<p:outputLabel value="Protocolli Annullati" styleClass="generic_textBold"/>
					<p:selectBooleanCheckbox value="#{SessionBean.ricercaFormContainer.datiProtocollo.flagAnnullato}"/>
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" layout="grid" >
			<p:commandButton  id="cercaDatiProtocolloBtn"  value="Cerca" icon="fa fa-search" styleClass="generic_nominWidth generic_nominWidth generic_width100"  action="#{SessionBean.ricercaDatiProtocollo}"/>
			<p:commandButton value="Pulisci" icon="fa fa-eraser" styleClass="generic_nominWidth generic_nominWidth generic_width100" action="#{SessionBean.pulisciRicercaDatiProtocollo}" update="ricercaDatiProtocolloForm"/>
			<ui:include src="closeButtonRicerca.xhtml" />
			<p:defaultCommand target="@form:cercaDatiProtocolloBtn" scope="@form" />
		</p:panelGrid>
					
	</h:form>
	

</ui:composition>