<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:importEnum type="it.ibm.red.business.enums.FilenetStatoFascicoloEnum" var="FilenetStatoFascicoloEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.AmbitoTemporaleEnum" var="AmbitoTemporaleEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.TipoContestoProceduraleEnum" var="TipoContestoProceduraleEnum" allSuffix="ALL_ENUM_VALUES" />

	<h:form id="ricercaFlussiUCBForm" style="margin-top: 10px;">
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
        	<p:outputLabel value="Flusso" styleClass="generic_textBold"/>
			<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.flussiUCB.flusso}">
				<p:ajax event="change" update="ricercaFlussiUCBForm" listener="#{SessionBean.updateFormRicercaFlussi()}"/>
				<f:selectItems value="#{TipoContestoProceduraleEnum.ALL_ENUM_VALUES}" var="flusso" itemValue="#{flusso}" itemLabel="#{flusso.id}" />
			</p:selectOneMenu>

        	<p:outputLabel value="Ambito Temporale" styleClass="generic_textBold"/>
			<p:selectOneMenu value="#{SessionBean.ricercaFormContainer.flussiUCB.ambitoTemporale}">
				<f:selectItem itemValue="#{AmbitoTemporaleEnum.ULTIMA_SETTIMANA}" itemLabel="Ultima Settimana" />
				<f:selectItem itemValue="#{AmbitoTemporaleEnum.ULTIMO_MESE}" itemLabel="Ultimo Mese" />
				<f:selectItem itemValue="#{AmbitoTemporaleEnum.ULTIMO_TRIMESTRE}" itemLabel="Ultimo Trimestre" />
			</p:selectOneMenu>

        	<p:outputLabel value="Stato" styleClass="generic_textBold"/>
			<p:selectOneMenu id="idStatoFaldSelect" value="#{SessionBean.ricercaFormContainer.flussiUCB.statoFascicolo}">
				<f:selectItem itemLabel="Seleziona..." itemValue="#{null}" />
				<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.APERTO}" itemLabel="Aperto" />
				<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.CHIUSO}" itemLabel="Chiuso" />
			</p:selectOneMenu>

			<p:spacer/>
			<p:spacer/>

			<p:outputLabel value="Descrizione" styleClass="generic_textBold"/>
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.descrizioneFascicolo}"/>
			
			<p:outputLabel value="Numero Pratica" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.flussiUCB.numeroPratica}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass = "anno-input-number-ricerca-doc" />
			
			<p:outputLabel value="ID Provvedimento" styleClass="generic_textBold" />
			<p:inputNumber value="#{SessionBean.ricercaFormContainer.flussiUCB.idProvvedimento}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass = "anno-input-number-ricerca-doc" />
			
			<p:spacer/>
			<p:spacer/>

			<p:outputLabel value="Data Apertura Da" styleClass="generic_textBold" />
			<p:calendar value="#{SessionBean.ricercaFormContainer.flussiUCB.dataAperturaDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

		   	<p:outputLabel value="Data Apertura A" styleClass="generic_textBold"/>    
			<p:calendar value="#{SessionBean.ricercaFormContainer.flussiUCB.dataAperturaA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

			<p:outputLabel value="Data Creazione Da" styleClass="generic_textBold" />
			<p:calendar value="#{SessionBean.ricercaFormContainer.flussiUCB.dataCreazioneDa}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

		   	<p:outputLabel value="Data Creazione A" styleClass="generic_textBold"/>    
			<p:calendar value="#{SessionBean.ricercaFormContainer.flussiUCB.dataCreazioneA}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

        	<p:outputLabel value="Numero Prot. Mittente" styleClass="generic_textBold"/>
        	<p:inputNumber value="#{SessionBean.ricercaFormContainer.flussiUCB.numProtMittente}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="anno-input-number-prot-mit" /> 

		   	<p:outputLabel value="Data Prot. Mittente" styleClass="generic_textBold"/>    
			<p:calendar value="#{SessionBean.ricercaFormContainer.flussiUCB.dataProtMittente}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

			<p:outputLabel value="Ordine pagamento" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.ordinePagamento}" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />

			<p:outputLabel value="Camicia" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.camicia}" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />

			<p:outputLabel value="Capitolo" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.capitolo}" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	
        	<p:outputLabel value="Decreto liquidazione" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.decretoLiquidazione}" rendered="#{TipoContestoProceduraleEnum.SICOGE eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	
        	<p:outputLabel value="Tipologia" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:selectOneMenu id="idComboTipoCont" value="#{SessionBean.ricercaFormContainer.flussiUCB.tipoCont}" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" >
            	<f:selectItem itemLabel="-" itemValue="#{null}" />
            	<f:selectItems value="#{SessionBean.ricercaFormContainer.flussiUCB.tipologieContabili}" var="tipologiaContabile"
            		itemLabel="#{tipologiaContabile.description}" itemValue="#{tipologiaContabile.value}" />
            </p:selectOneMenu>
            
            <p:outputLabel value="Agente Contabile" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:selectOneMenu id="idComboAgeCont" value="#{SessionBean.ricercaFormContainer.flussiUCB.ageCont}" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" >
            	<f:selectItem itemLabel="-" itemValue="#{null}" />
            	<f:selectItems value="#{SessionBean.ricercaFormContainer.flussiUCB.agentiContabili}" var="agenteContabile"
            		itemLabel="#{agenteContabile.description}" itemValue="#{agenteContabile.value}" />
            </p:selectOneMenu>
        	
        	<p:outputLabel value="Esercizio" styleClass="generic_textBold" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	<p:inputText value="#{SessionBean.ricercaFormContainer.flussiUCB.esercizio}" rendered="#{TipoContestoProceduraleEnum.FLUSSO_CG2 eq SessionBean.ricercaFormContainer.flussiUCB.flusso}" />
        	        	        	
		</p:panelGrid>
		
		<p:panelGrid styleClass="ui-panelgrid-blank generic_noborder generic_marginTop" columns="3" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid" layout="grid" >
			<p:commandButton action="#{SessionBean.ricercaUCB.searchFlussiUCB}" value="Ricerca" title="Ricerca" icon="fa fa-search" />
			<p:commandButton value="Pulisci" title="Pulisci" icon="fa fa-eraser" action="#{SessionBean.pulisciRicercaFlussi}" update="ricercaFlussiUCBForm"/>
			<ui:include src="closeButtonRicerca.xhtml" />
		</p:panelGrid>
			
	</h:form>
	
	
</ui:composition>