<ui:composition 
	template="/views/template/template2.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:df="http://java.sun.com/jsf/composite/custom">

	<ui:define name="centralSectionContent">
		<ui:include src="mastersRicercaFascicoliPregressiDfTab.xhtml"/>
	</ui:define>

	<ui:define name="eastSectionContent"> 
		<p:panel id="eastSectionPanelId" styleClass="generic_noborder">
			<p:panel rendered="#{DettaglioFascicoloRicercaNsdBean.fascicoloCmp.detail ne null}"  styleClass="generic_noborder">
				<df:dettaglioFascicoloNsd fascicoloCmpNsd="#{DettaglioFascicoloRicercaNsdBean.fascicoloCmp}" />
			</p:panel>
		</p:panel> 
	</ui:define>
	 
</ui:composition>