<ui:composition template="/views/template/template2.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:df="http://java.sun.com/jsf/composite/custom"
	>

	<ui:define name="centralSectionContent">
		<ui:include src="mastersRicercaRapida.xhtml"/>
		
		<!-- Questo pannello serve a non far andar in errore il pannello del dettaglio esteso per fepa DSR serve quando il dettaglio esteso viene aperto come reposnse -->
		<p:outputPanel id="idDlgShowResult"></p:outputPanel>
	</ui:define>

	<ui:define name="eastSectionContent">
		<p:panel id="idDetailDocRicercaRapida"  visible="#{RicercaRapidaBean.toggleDetail}"  styleClass="generic_height100 generic_height100-panel generic_noborder">
	       <ui:include src="#{RicercaRapidaBean.dettaglioDaCaricare.dettaglioDocFile}"/>
		</p:panel>
	
		<!-- Attenzione quando vengono toccati questi id bisogna anche modificare il base js switchSearchDetail() 
			ATTENZIONE se si esegue per qualche ragione l'update di qualcosa che sta sopra non dovrebbe più vedersi quello che sta dentro
		-->
		<p:panel id="idDetailFascRicercaRapida" visible="#{!RicercaRapidaBean.toggleDetail}" styleClass="generic_noborder">
			<df:dettaglioFascicoloShared
				fascicoloCmp="#{DettaglioFascicoloRicercaBean.fascicoloCmp}"
				openDialogFascicolo="#{DettaglioFascicoloRicercaBean.openDialogFascicolo}"
				updateEsteso="idDettagliEstesiForm:idPanelFascicoloManager_DF"
			/>
		</p:panel>
		
	</ui:define>

</ui:composition>
