<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centralSectionContent">
		<ui:include src="mastersRicercaContiConsuntiviUcb.xhtml"/>	
	</ui:define>

</ui:composition>