<ui:composition template="/views/template/template2.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:df="http://java.sun.com/jsf/composite/custom">

	<ui:define name="centralSectionContent">
		<ui:include src="mastersRicercaFepa.xhtml"/>
		
		<!-- Questo pannello serve a non far andar in errore il pannello del dettaglio esteso per fepa DSR serve quando il dettaglio esteso viene aperto come reposnse -->
		<p:outputPanel id="idDlgShowResult"></p:outputPanel>
	</ui:define>

	<ui:define name="eastSectionContent">
		<p:outputPanel id="eastSectionPanelId" styleClass="generic_height100">
			<ui:include src="#{RicercaDocumentiFepaBean.dettaglioDaCaricare.dettaglioDocFile}"/>
		</p:outputPanel>
	</ui:define>

</ui:composition>