<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="RedBatchWeb-1.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <dependent-module archiveName="RedBusiness-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/RedBusiness/RedBusiness">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="RedBatchWeb"/>
        <property name="java-output-path" value="/RedBatchWeb/target/classes"/>
    </wb-module>
</project-modules>
