<!DOCTYPE html>
<html
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
		<title>Login Page</title>
		<link rel="shortcut icon" href="../resources/images/mini_logo_sogei.png"/>
		<link rel="stylesheet" type="text/css" href="../resources/css/login.css"/>
	</head>
	<body>
		<p:importEnum type="it.ibm.red.business.enums.ConfigurazioneFirmaOAMEnum" var="ConfigurazioneFirmaOAMEnum" allSuffix="ALL_ENUM_VALUES"/>
		
		<div class="loginWrapper">
			<div class="appTitle">
				<h1>Red</h1>
				<h2>Sistema Unico Documentale</h2>
			</div>
			<div class="loginDiv">
				<form id="loginForm" method="POST" action="../views/homepage.jsf">
					<div class="loginPanel">
						<label>USERNAME</label>
						<h:inputText title="Nome utente" id="redevo_username"/>
					</div>
					
					<div class="loginPanel">
						<label>CONFIGURAZIONE FIRMA</label>
			        	<h:selectOneMenu id="DISP">
							<f:selectItems value="#{ConfigurazioneFirmaOAMEnum.ALL_ENUM_VALUES}" var="configFirmaOAM" itemValue="#{configFirmaOAM.codice}" itemLabel="#{configFirmaOAM.descrizione}"/>
						</h:selectOneMenu>
					</div>
					
					<div class="loginPanel">
						<label>HANDLER DI FIRMA</label>
			        	<h:selectOneMenu id="ENV_FR">
			        		<f:selectItem itemValue="" itemLabel="Utilizzare le configurazioni dell'AOO"/>
							<f:selectItems value="#{LoginBean.pkHandlerUrlList}"/>
						</h:selectOneMenu>
					</div>
					
					<h:commandButton id="btnLogin" title="Pulsante di accesso" value="SUBMIT" class="submit" type="submit"/>
				</form>   
			</div>
		</div>
	</body>
</html>