<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:importEnum type="it.ibm.red.business.enums.PeriodoReportEnum" var="periodoEnum"  allSuffix="ALL_ENUM_VALUES"/>

<p:outputPanel styleClass="ui-g" id="idContainerReport_MR">
	
<!-- 		FORM CONTAINER START -->
	<p:outputPanel id="idMascheraReport_MR" styleClass="ui-g-12 report-form-maxwidth generic_centra ui-widget-content noborder" >
	
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0  ui-fluid" rendered="#{!ReportBean.maschera.filtriElencoDivisionaleRendered}">
			<div class="ui-g-2">
				<p:outputLabel value="Anno" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar " />
			</div>
			<div class="ui-g-4 obbligatorio">
				<p:inputMask value="#{ReportBean.maschera.anno}" mask="9999" disabled="#{ReportBean.disabilitaAnno}"/>
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Periodo" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</div>
			<div class="ui-g-4 obbligatorio">
				<p:selectOneMenu value="#{ReportBean.maschera.periodo}" disabled="#{ReportBean.maschera.codiceTipoOperazioneSelected == 'UTE_PROT_INEVASI_COMPETENZA'}" >
					<p:ajax listener="#{ReportBean.onChangePeriodo()}" process="idMascheraReport_MR" update="idMascheraReport_MR" />
					<f:selectItems value="#{ReportBean.maschera.comboPeriodi}" itemLabel="#{p.label}" var="p" />
				</p:selectOneMenu>
			</div>
			
		</p:outputPanel>

<!-- 			RIGA  -->

<!-- 				DATE PERSONALIZZATE START -->
		<p:outputPanel styleClass="ui-g-12 generic_padding0  ui-fluid" rendered="#{ReportBean.maschera.datePersonalizzateRendered}">
			<c:choose>
				<c:when test="#{ReportBean.maschera.codiceTipoOperazioneSelected != 'UTE_PROT_INEVASI_COMPETENZA'}">
					<p:outputPanel styleClass="ui-g-2" >
						<p:outputLabel value="Da" styleClass="generic_margin05 generic_textBold"  />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar generic_margin05"  />
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-4 obbligatorio" >
						<p:calendar navigator="true" value="#{ReportBean.maschera.dataDa}" showOn="button" pattern="dd/MM/yyyy" readonlyInput="true" />
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-2" >
						<p:outputLabel value="A" styleClass="generic_margin05 generic_textBold"  />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
					</p:outputPanel>
		
					<p:outputPanel styleClass="ui-g-4 obbligatorio" >
						<p:calendar navigator="true" value="#{ReportBean.maschera.dataA}" showOn="button" pattern="dd/MM/yyyy" readonlyInput="true" />
					</p:outputPanel>
				</c:when>
				<c:otherwise>
					<p:outputPanel styleClass="ui-g-2" >
						<p:outputLabel value="Data elaborazione" styleClass="generic_margin05 generic_textBold"  />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
					</p:outputPanel>
		
					<p:outputPanel styleClass="ui-g-4 obbligatorio" >
						<p:calendar navigator="true" value="#{ReportBean.maschera.dataA}" showOn="button" pattern="dd/MM/yyyy" readonlyInput="true" />
					</p:outputPanel>
				</c:otherwise>
			</c:choose>
		</p:outputPanel>
<!-- 				DATE PERSONALIZZATE END -->
		
<!-- 			RIGA  -->

		<div class="ui-g-12 generic_padding0 ui-fluid">
			<div class="ui-g-2">
				<p:outputLabel value="Dettaglio report" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</div>
			<div class="ui-g-4 obbligatorio">
				<p:selectOneMenu value="#{ReportBean.maschera.codiceDettaglioSelected}" >
					<p:ajax listener="#{ReportBean.onChangeDettaglioReport()}" process="idMascheraReport_MR" update="idMascheraReport_MR" />
					<f:selectItems value="#{ReportBean.maschera.comboDettaglioReport}" var="dr" itemLabel="#{dr.descrizione}" itemValue="#{dr.codice}" />
				</p:selectOneMenu>
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Tipo operazione" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</div>
			<div class="ui-g-4 obbligatorio">
				<p:selectOneMenu value="#{ReportBean.maschera.codiceTipoOperazioneSelected}" >
					<p:ajax listener="#{ReportBean.onChangeTipoOperazione()}"  process="idMascheraReport_MR" update="idMascheraReport_MR" />
					<f:selectItems value="#{ReportBean.maschera.comboTipiOperazione}" var="to" itemLabel="#{to.descrizione}" itemValue="#{to.codice}" />
				</p:selectOneMenu>
			</div>
		</div>

<!-- 			RIGA  -->

		<div class="ui-g-12 generic_padding0">
			<div class="ui-g-2">
				<p:commandButton id="idStrutturaReport_MR" icon="fa fa-sitemap" type="button" value="Struttura" styleClass="generic_margin05"/>
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
				<p:overlayPanel widgetVar="wdgStrutturaReport_MR" id="idPanelStrutturaReport_MR" 
								for="idStrutturaReport_MR" styleClass="dmd-tree-panel"
								hideEffect="fade" showEffect="fade"   >
					<p:tree value="#{ReportBean.maschera.rootSelected}" var="node" selectionMode="single" styleClass="dmd-tree " dynamic="true">
						
						<p:ajax event="expand" update="@this" listener="#{ReportBean.onOpenTree}" />
				        <p:ajax event="select" update="@parent:idChipsStruttura_MR" listener="#{ReportBean.onSelectTree}"/>
				        	
						<p:treeNode >
							<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
							<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}"/>
							
							<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
							<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}"/>
							<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}"/>
						</p:treeNode>
						
					</p:tree>
					<iframe class="cover" src="about:blank" title="Frame report"></iframe>
				</p:overlayPanel>
			</div>
			<p:outputPanel styleClass="ui-g-10 generic_textAlignJustify" id="idChipsStruttura_MR">
				<p:repeat value="#{ReportBean.maschera.nodiSelected}" var="nodo" >
					<p:commandButton value="#{nodo.descrizioneNodo.concat(' ').concat(nodo.cognomeUtente).concat(' ').concat(nodo.nomeUtente)}" 
						action="#{ReportBean.onRemoveNodo(nodo)}" update="@form:idChipsStruttura_MR" title="#{'Elimina '.concat(nodo.descrizioneNodo).concat(' ').concat(nodo.cognomeUtente).concat(' ').concat(nodo.nomeUtente)}"
						icon="fa fa-times" iconPos="right" process="@this" styleClass="report-chip" />
				</p:repeat>
			</p:outputPanel>
		</div>
		
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{ReportBean.maschera.codeRendered}">
			<div class="ui-g-2">
				<p:outputLabel value="Code di lavoro" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</div>
			<div class="ui-g-10 obbligatorio">
				<p:selectOneMenu value="#{ReportBean.maschera.codiceCodaDiLavoroSelected}"  >
					<p:ajax  />
					<f:selectItems value="#{ReportBean.maschera.codeDiLavoro}" var="cd" itemLabel="#{cd.descrizione}" itemValue="#{cd.codice}" />
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{ReportBean.maschera.ruoliRendered}">
			<div class="ui-g-2">
				<p:outputLabel value="Ruoli" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</div>
			<div class="ui-g-10 ui-fluid generic_textAlignJustify obbligatorio">
				<p:selectCheckboxMenu value="#{ReportBean.maschera.ruoliSelected}" multiple="true" filter="true" filterMatchMode="startsWith" >
			    
				    <f:selectItems value="#{ReportBean.maschera.comboRuoli}" var="ruolo" itemLabel="#{ruolo.nomeRuolo}" itemValue="#{ruolo.idRuolo}" />
				    
				</p:selectCheckboxMenu>
			</div>
		</p:outputPanel>
		
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{ReportBean.maschera.codiceTipoOperazioneSelected == 'UFF_ELENCO_DIVISIONALE'}">
			<p:outputPanel styleClass="ui-g-2" >
				<p:selectBooleanCheckbox value="#{ReportBean.maschera.cercaSottouffici}" itemLabel="Cerca nei sottouffici" styleClass="generic_margin05 generic_textBold">
				</p:selectBooleanCheckbox>
			</p:outputPanel>
		</p:outputPanel>
		
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0  ui-fluid" rendered="#{ReportBean.maschera.filtriElencoDivisionaleRendered}">
			<p:outputPanel styleClass="ui-g-2" >
				<p:outputLabel value="Data assegnazione" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</p:outputPanel>

			<p:outputPanel styleClass="ui-g-4 obbligatorio" >
				<p:calendar navigator="true" value="#{ReportBean.maschera.dataAssegnazione}" showOn="button" pattern="dd/MM/yyyy" readonlyInput="true" />
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-2" >
				<p:outputLabel value="Tipo assegnazione" styleClass="generic_margin05 generic_textBold"  />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar "  />
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-4 obbligatorio" >
				<p:selectOneMenu value="#{ReportBean.maschera.tipoAssegnazione}"  >
			        <p:ajax  />
					<f:selectItem itemLabel="Competenza" itemValue="Competenza" />
					<f:selectItem itemLabel="Conoscenza" itemValue="Conoscenza" />
				</p:selectOneMenu>
			</p:outputPanel>
		</p:outputPanel>
		
<!-- 			RIGA  -->

		<p:outputPanel styleClass="ui-g-12 generic_padding0  ui-fluid" rendered="#{ReportBean.maschera.filtriElencoDivisionaleRendered}">
			<p:outputPanel styleClass="ui-g-2" >
				<p:outputLabel value="Numero protocollo da" styleClass="generic_margin05 generic_textBold"  />
			</p:outputPanel>

			<p:outputPanel styleClass="ui-g-4" >
				<p:inputNumber value="#{ReportBean.maschera.numeroProtocolloDa}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-2" >
				<p:outputLabel value="Tipo documento" styleClass="generic_margin05 generic_textBold"  />
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-4" >
				<p:selectOneMenu value="#{ReportBean.maschera.idTipologiaDocumentoSelected}"  >
					<p:ajax  />
					<f:selectItems value="#{ReportBean.maschera.comboTipologieDocumento}" var="td" itemLabel="#{td.descrizione}" itemValue="#{td.idTipologiaDocumento}" />
				</p:selectOneMenu>
			</p:outputPanel>
		</p:outputPanel>
		
<!-- 			RIGA  -->

		<div class="generic_textAlignCenter generic_padding1">
			<p:commandButton value="Crea Report" action="#{ReportBean.creaReport()}" process="idMascheraReport_MR" ajax="true" update="idRisultati_MR, @parent:idChipsStruttura_MR" />
		</div>

	</p:outputPanel>
<!-- 		FORM CONTAINER END -->

<!-- 		 RISULTATI START-->

	<p:outputPanel id="idRisultati_MR" styleClass="ui-g-12 report-form-maxwidth generic_centra">
	
		<p:outputPanel rendered="#{ReportBean.risultati ne null}" >
			<ui:include src="risultatiReportManager.xhtml"/>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{ReportBean.risultatiRuolo ne null}" >
			<ui:include src="risultatiRuoloReportManager.xhtml"/>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{ReportBean.risultatiStatisticheUffici ne null}" >
			<ui:include src="risultatiStatisticheUfficiReportManager.xhtml"/>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{ReportBean.risultatiProtocolliPerCompetenza ne null}" >
			<ui:include src="risultatiProtocolliPerCompetenzaReportManager.xhtml"/>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{ReportBean.risultatiElencoDivisionale ne null}" >
			<ui:include src="risultatiElencoDivisionaleReportManager.xhtml"/>
		</p:outputPanel>
	
	</p:outputPanel>

<!-- 		 RISULTATI END-->
	
</p:outputPanel>	

</ui:composition>