<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

<p:panelGrid id="idRicercaAvanzata" styleClass="pnlgrid_noborder generic_width100" >
	<p:row>
		<p:column>
			<p:outputLabel value="Dettaglio report" for="@namingcontainer:idCurrentDettaglio_RRA" styleClass = "generic_textBold" />
		</p:column>
		<p:column >
			<p:selectOneMenu id="idCurrentDettaglio_RRA" value="#{ReportBean.dettaglio.currentDettaglio}" styleClass="generic_input96" >
				<p:ajax update="@namingcontainer:idRicercaAvanzata" listener="#{ReportBean.dettaglio.onChangeComboDettaglioReport()}" process="@this" />
				<f:selectItems value="#{ReportBean.dettaglio.comboDettaglio}" var="fd" itemLabel="#{fd.descrizione}" itemValue="#{fd.idDettaglio}" />
			</p:selectOneMenu>
		</p:column>
		<p:column >
			<p:outputLabel value="Tipo operazione" for="@namingcontainer:idCurrentOperaizone_RRA" styleClass = "generic_textBold" />
		</p:column>
		<p:column >
			<p:selectOneMenu id="idCurrentOperaizone_RRA" value="#{ReportBean.dettaglio.tipoOperazione.currentTipoOperazione}"  >
				<p:ajax update="@namingcontainer:idRicercaAvanzata" ignoreAutoUpdate="true"/>
				<f:selectItems value="#{ReportBean.dettaglio.tipoOperazione.form.dettaglioReport.tipiOperazione}" var="to" itemLabel="#{to.descrizione}" itemValue="#{to.codice}" />
			</p:selectOneMenu>
		</p:column>
	</p:row>
	<p:row>
		<p:column colspan="2" >	
			<p:tree id="idOrganigrammaSelezionaNodo_ORM"  value="#{ReportBean.dettaglio.organigramma.root}" var="node" dynamic="true"  styleClass="generic_width100 org_maxHeight300"  selectionMode="multiple" >
				
				<p:ajax event="expand"	listener="#{ReportBean.dettaglio.organigramma.onOpenTree}"
					update="@this"
				/>
			     <p:ajax event="select" listener="#{ReportBean.dettaglio.organigramma.onSelectTree}"
			     	update = "@this" 
			   	/>
			
				<p:treeNode >
					<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
					<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
					
					<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente" />
					<p:outputLabel rendered="#{node.idUtente != null}" value="#{node.cognomeUtente} " />
					<p:outputLabel rendered="#{node.idUtente != null}" value="#{node.nomeUtente}" />
				</p:treeNode>
			
			</p:tree>
		</p:column>
		
		<p:column >
			<p:outputLabel value = "Coda Di lavoro" for="@namingcontainer:idCurrentCodaDiLavoro_RRA" styleClass = "generic_textBold"  rendered = "#{ReportBean.dettaglio.tipoOperazione.codaDilavoro}"/>
			
			<p:outputLabel value = "Ruolo" for="@namingcontainer:idCurrentRuoli_RRA" styleClass = "generic_textBold" rendered = "#{ReportBean.dettaglio.tipoOperazione.isRuoloUtente()}"/>
		</p:column>
		<p:column >
			<p:selectOneMenu id="idCurrentCodaDiLavoro_RRA" value="#{ReportBean.dettaglio.tipoOperazione.currentCodaDiLavoro}" 
				rendered = "#{ReportBean.dettaglio.tipoOperazione.codaDilavoro}"  >
				
				<f:selectItems value="#{ReportBean.dettaglio.tipoOperazione.form.dettaglioReport.codeDiLavoro}" var="codeDiLavoro" itemLabel="#{codeDiLavoro.descrizione}" itemValue="#{codeDilavoro.codice}" />
			</p:selectOneMenu>
			
			<p:selectCheckboxMenu id="idCurrentRuoli_RRA" value="#{ReportBean.dettaglio.tipoOperazione.currentRuoli}" multiple="true" filter="true" filterMatchMode="startsWith"
				 styleClass="generic_maxwidth300px"
				rendered = "#{ReportBean.dettaglio.tipoOperazione.isRuoloUtente()}">
			    
			    <f:selectItems value="#{ReportBean.dettaglio.tipoOperazione.comboRuoli}" var = "ruolo" itemLabel="#{ruolo.nomeRuolo}" itemValue="#{ruolo.idRuolo}" />
			</p:selectCheckboxMenu>
		</p:column>
	</p:row>
</p:panelGrid>



</ui:composition>