<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

	<p:importEnum type="it.ibm.red.business.enums.TipoStatisticaUfficioReportEnum" var="TipoEstrazioneEnum" allSuffix="ALL_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.business.enums.TargetNodoReportEnum" var="TipoStrutturaEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<p:dataTable var="master" styleClass="generic_marginBottom"
		 value="#{ReportBean.risultatiStatisticheUffici.masterList}"
		 emptyMessage="Nessun risultato trovato"
		 rows="5" paginator="#{fn:length(ReportBean.risultatiStatisticheUffici.masterList) gt 5}" rowsPerPageTemplate="5,10,15"
		 paginatorPosition="bottom" 
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
	>	
		<f:facet name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-11">
					<h:outputText value="#{ReportBean.risultatiStatisticheUffici.descrizioneOperazione}" />
				</div>
				<div class="ui-g-1">
					<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
		              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{'Anteprima_'.concat(ReportBean.exportString)}" />
					</p:commandButton>
				</div>	
			</p:outputPanel>
		</f:facet>
		
		<p:columnGroup type="header">
            <p:row>
                <p:column rowspan="2" headerText="Ufficio" width="20%" />
                <p:column rowspan="2" rendered="#{ReportBean.risultatiStatisticheUffici.tipoStruttura eq TipoStrutturaEnum.UTENTE}" headerText="Utente" width="20%" />
                <p:column colspan="7" headerText="Documenti in Ingresso" />
                <p:column colspan="3" headerText="Documenti in Uscita" />
            </p:row>
            <p:row>
                <p:column headerText="Totale" />
                <p:column headerText="In Lavorazione" />
                <p:column headerText="In Sospeso" />
                <p:column headerText="In Scadenza" />
                <p:column headerText="Scaduti" />
                <p:column headerText="Agli Atti" />
                <p:column headerText="Chiusi con Risposta" />
                <p:column headerText="Totale" />
                <p:column headerText="In Lavorazione" />
                <p:column headerText="Spediti" />
            </p:row>
        </p:columnGroup>
		
		<p:column filterBy="#{master.ufficio.descrizione}" styleClass="generic_textAlignCenter" filterMatchMode="contains" headerText="Ufficio">
			<h:outputText value="#{master.ufficio.descrizione}" />
		</p:column>
		
		<p:column rendered="#{ReportBean.risultatiStatisticheUffici.tipoStruttura eq TipoStrutturaEnum.UTENTE}" styleClass="generic_textAlignCenter" filterMatchMode="contains" headerText="Utente">
			<h:outputText value="#{master.utente.cognome} #{master.utente.nome}" />
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Totale (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_TUTTI)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="In Lavorazione (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiInLavorazioneIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_IN_LAVORAZIONE)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiInLavorazioneIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="In Sospeso (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiInSospesoIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_IN_SOSPESO)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiInSospesoIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="In Scadenza (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiInScadenzaIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_IN_SCADENZA)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiInScadenzaIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Scaduti (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiScadutiIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_SCADUTI)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiScadutiIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Atti (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiAttiIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_ATTI)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiAttiIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Risposta (ingresso)">
			<p:commandLink value="#{master.numeroDocumentiRispostaIngresso}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.INGRESSO_RISPOSTA)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiRispostaIngresso eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Totale (uscita)">
			<p:commandLink value="#{master.numeroDocumentiUscita}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.USCITA_TUTTI)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiUscita eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="In Lavorazione (uscita)">
			<p:commandLink value="#{master.numeroDocumentiInLavorazioneUscita}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.USCITA_IN_LAVORAZIONE)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiInLavorazioneUscita eq 0}"/>
		</p:column>
		
		<p:column styleClass="generic_textAlignCenter" headerText="Spediti (uscita)">
			<p:commandLink value="#{master.numeroDocumentiSpeditiUscita}" title="Dettaglio" 
				action="#{ReportBean.risultatiStatisticheUffici.showDetail(master, TipoEstrazioneEnum.USCITA_SPEDITI)}" 
				update="@namingcontainer:@parent:idTabellaDettaglio_RRRR" process="@this" disabled="#{master.numeroDocumentiSpeditiUscita eq 0}"/>
		</p:column>

	</p:dataTable>
	
	<p:outputPanel id = "idTabellaDettaglio_RRRR">	
		<p:dataTable var="detail" 
			 value="#{ReportBean.risultatiStatisticheUffici.detailList}"
			 emptyMessage="Errore nessun dettaglio trovato"
			 paginatorPosition="bottom" 
			 rows="5" paginator="#{fn:length(ReportBean.risultatiStatisticheUffici.detailList) gt 5}" rowsPerPageTemplate="5,10,15"
			 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			 rendered = "#{not empty ReportBean.risultatiStatisticheUffici.detailList}"
			 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
		>	
		
			<f:facet name="header">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-11">
						<h:outputText value="#{ReportBean.risultatiStatisticheUffici.detailTableHeader}" />
					</div>
					<div class="ui-g-1">
						<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
			              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{(ReportBean.risultatiStatisticheUffici.descrizioneOperazione).concat('_').concat(ReportBean.exportString)}" />
						</p:commandButton>
					</div>
				</p:outputPanel>
			</f:facet>
			
			<p:columnGroup type="header">
            
            <p:row>
                <p:column rowspan="2" headerText="Num. Prot. - ID - RR" />
                <p:column rowspan="2" headerText="Data Protocollo" />
                <p:column rowspan="2" headerText="Data Creazione" />
                <p:column rowspan="2" headerText="Oggetto" />
                <p:column colspan="2" headerText="Assegnante" />
                <p:column colspan="2" headerText="Assegnatario" />
            </p:row>
            <p:row>
                <p:column headerText="Ufficio"/>
                <p:column headerText="Utente" />
                <p:column headerText="Ufficio"/>
                <p:column headerText="Utente" />
            </p:row>
            <p:row>
                <p:column filterBy="#{detail.numeroDocumento}" filterMatchMode="contains" />
                <p:column filterBy="#{detail.dataProtocollo}" filterMatchMode="contains" />
                <p:column filterBy="#{detail.dataCreazione}" filterMatchMode="contains" />
                <p:column filterBy="#{detail.oggetto}" filterMatchMode="contains" />
                <p:column filterBy="#{detail.ufficioAssegnante.descrizione}" filterMatchMode="contains" />
                <p:column filterBy="#{(detail.utenteAssegnante.cognome).concat(detail.utenteAssegnante.nome)}" filterMatchMode="contains" />
                <p:column filterBy="#{detail.ufficioAssegnatario.descrizione}" filterMatchMode="contains" />
                <p:column filterBy="#{(detail.utenteAssegnatario.cognome).concat(detail.utenteAssegnatario.nome)}" filterMatchMode="contains" />
            </p:row>
        </p:columnGroup>
			
			<p:column styleClass="generic_textAlignCenter" headerText="Num. Prot. - ID - RR">
				<p:outputLabel rendered="#{not empty detail.numeroProtocollo}" value="#{detail.numeroProtocollo}" />
				<p:outputLabel rendered="#{not empty detail.numeroProtocollo}" value="/" styleClass="dmd-distance" />
				<p:outputLabel rendered="#{not empty detail.numeroProtocollo}"   value="#{detail.dataProtocollo}" >
					<f:convertDateTime pattern="yyyy" />
				</p:outputLabel>
				<p:outputLabel rendered="#{not empty detail.numeroProtocollo}"   value="#{' - '}"  />
				
				<p:outputLabel value="#{detail.numeroDocumento}" />
				
				<p:outputLabel rendered="#{empty detail.numeroProtocollo}" value="#{' - '}"   />
				<p:outputLabel rendered="#{empty detail.numeroProtocollo}" value="#{detail.annoDocumento}" >
				    <f:convertDateTime pattern="yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column styleClass="generic_textAlignCenter" headerText="Data Protocollo">
				<p:outputLabel value="#{detail.dataProtocollo eq null ? '-' : detail.dataProtocollo}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
	
			<p:column styleClass="generic_textAlignCenter" headerText="Data Creazione">
				<p:outputLabel value="#{detail.dataCreazione}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Oggetto">
				<h:outputText value="#{detail.oggetto eq null ? '-' : detail.oggetto}" />
			</p:column>
			
			<p:column headerText="Ufficio Assegnante">
				<h:outputText value="#{detail.ufficioAssegnante eq null ? '-' : detail.ufficioAssegnante.descrizione}" />
			</p:column>
			
			<p:column headerText="Utente Assegnante">
				<h:outputText value="#{detail.utenteAssegnante eq null ? '-' : (detail.utenteAssegnante.nome).concat(' ').concat(detail.utenteAssegnante.cognome)}" />
			</p:column>
			
			<p:column headerText="Ufficio Assegnatario">
				<h:outputText value="#{detail.ufficioAssegnatario eq null ? '-' : detail.ufficioAssegnatario.descrizione}" />
			</p:column>
			
			<p:column headerText="Utente Assegnatario">
				<h:outputText value="#{detail.utenteAssegnatario eq null ? '-' : (detail.utenteAssegnatario.nome).concat(' ').concat(detail.utenteAssegnatario.cognome)}" />
			</p:column>
			
		</p:dataTable>
	</p:outputPanel>

</ui:composition>