<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

	<p:dataTable id="idTabellaDettaglioElencoDivisionale" var="detail" styleClass="generic_marginBottom"
		 value="#{ReportBean.risultatiElencoDivisionale.detailList}"
		 emptyMessage="Nessun risultato trovato"
		 paginatorPosition="bottom"
		 rows="5" paginator="#{fn:length(ReportBean.risultatiElencoDivisionale.detailList) gt 5}" rowsPerPageTemplate="5,10,15"
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
	>	 
		<f:facet name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-9">
					<h:outputText value="#{ReportBean.risultatiElencoDivisionale.detailTableHeader}" />
				</div>	
				<div class="ui-g-3">
					<p:commandButton value="Esporta Excel" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false" styleClass="generic_margin05" process="@this">
		              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{ReportBean.exportString}" />
					</p:commandButton>
					
					<p:commandButton disabled="#{empty ReportBean.risultatiElencoDivisionale.detailList}" value="Esporta Pdf" icon="fa fa-file-pdf-o" title="Esporta Pdf" ajax="false" styleClass="generic_textAlignRight" process="@this">
						<p:fileDownload value="#{ReportBean.downloadPdf()}"/>
					</p:commandButton>
				</div>
			</p:outputPanel>
		</f:facet>
		
		<p:column filterBy="#{detail.numeroElenco}" styleClass="generic_textAlignCenter" headerText="Numero / Anno Protocollo" filterMatchMode="contains" width="10%">
			<h:outputText value="#{detail.numeroElenco eq null ? '-' : detail.numeroElenco}" />
			<h:outputText value="/" styleClass="dmd-distance" />
			<h:outputText value="#{detail.annoElenco eq null ? '-' : detail.annoElenco}" />
		</p:column>
		
		<p:column filterBy="#{detail.dataProtocollo}" styleClass="generic_textAlignCenter" headerText="Data Protocollo" filterMatchMode="contains" width="10%">
			<p:outputLabel value="#{detail.dataProtocollo eq null ? '-' : detail.dataProtocollo}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>
		
		<p:column filterBy="#{detail.descrizioneMittente}" styleClass="generic_textAlignCenter" headerText="Mittente" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.descrizioneMittente eq null ? '-' : detail.descrizioneMittente}" />
		</p:column>
		
		<p:column filterBy="#{detail.descrizioneTitolario}" styleClass="generic_textAlignCenter" headerText="Classificazione" filterMatchMode="contains" width="20%">
			<h:outputText value="#{detail.descrizioneTitolario eq null ? '-' : detail.descrizioneTitolario}" />
		</p:column>
		
		<p:column filterBy="#{detail.utenteAssegnatario}" styleClass="generic_textAlignCenter" headerText="Utente Assegnatario" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.utenteAssegnatario eq ' ' ? '-' : detail.utenteAssegnatario}" />
		</p:column>
		
		<p:column filterBy="#{detail.oggetto}" styleClass="generic_textAlignCenter" headerText="Oggetto" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.oggetto eq null ? '-' : detail.oggetto}" />
		</p:column>
		
		<p:column filterBy="#{detail.tipologiaDocumento}" styleClass="generic_textAlignCenter" headerText="Tipo Documento" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.tipologiaDocumento eq null ? '-' : detail.tipologiaDocumento}" />
		</p:column>

	</p:dataTable>
	
</ui:composition>