<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

	<p:dataTable var="master" styleClass="generic_marginBottom"
		 value="#{ReportBean.risultati.masterList}"
		 emptyMessage="Nessun risultato trovato"
		 paginatorPosition="bottom"
		 rows="5" paginator="#{fn:length(ReportBean.risultati.masterList) gt 5}" rowsPerPageTemplate="5,10,15"
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
	>	 
		<f:facet name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-11">
					<h:outputText value="#{ReportBean.risultati.descrizioneOperazione}" />
				</div>	
				<div class="ui-g-1">
					<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false" styleClass="generic_textAlignRight" process="@this">
		              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{'Anteprima_'.concat(ReportBean.exportString)}"  />
					</p:commandButton>
				</div>
			</p:outputPanel>
		</f:facet>
		
		<p:column filterBy="#{master.ufficio}" styleClass="generic_textAlignCenter"   
			headerText="Nome ufficio" filterMatchMode="contains">
			<h:outputText value="#{master.ufficio}" />
		</p:column>

		<p:column rendered="#{ReportBean.risultati.ricercaPerUtente}" styleClass="generic_textAlignCenter"
			headerText="Nome utente" filterMatchMode="contains">
			<h:outputText value="#{master.username}" />
		</p:column>

		<p:column headerText="Num. documenti" styleClass="generic_textAlignCenter">
			<h:outputText value="#{master.numeroDocumenti} " />
		</p:column>
		
		<p:column exportable="false" width="10%" styleClass="generic_textAlignCenter">
				<p:commandButton action="#{ReportBean.risultati.showDetail(master)}" update="@namingcontainer:@parent:idTabellaDettaglio_RR" icon="fa fa-search" title="Dettaglio" label="Dettaglio" process="@this" />
		</p:column>

	</p:dataTable>
	
	<p:outputPanel id="idTabellaDettaglio_RR">	
		<p:dataTable var="detail" styleClass="generic_textAlignCenter" value="#{ReportBean.risultati.detailList}" emptyMessage="Nessun dettaglio trovato" paginatorPosition="bottom" rows="5" paginator="#{fn:length(ReportBean.risultati.detailList) gt 5}" rowsPerPageTemplate="5,10,15"
			 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			 rendered = "#{not empty ReportBean.risultati.detailList or ReportBean.risultati.showTabellaRisultati}"
			 onRowClick="event.preventDefault(); event.stopPropagation(); return false;">	
		
			<f:facet name="header">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-11">
						<h:outputText value="#{ReportBean.risultati.detailTableHeader}" />
					</div>
					<div class="ui-g-1">
						<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false" styleClass="generic_textAlignRight">
              				<p:dataExporter type="xls" target="@namingcontainer" fileName="#{ReportBean.exportString}"  />
						</p:commandButton>
					</div>
				</p:outputPanel>
			</f:facet>
			
			<p:column filterBy="#{detail.numeroProtocollo}"   styleClass="generic_textAlignCenter" headerText="Num. Protocollo" filterMatchMode="contains">
				<h:outputText value="#{detail.numeroProtocollo eq null ? '-' : detail.numeroProtocollo}" />
			</p:column>
	
			<p:column filterBy="#{detail.numeroDocumento}"   styleClass="generic_textAlignCenter" headerText="Num. Documento" filterMatchMode="contains">
				<h:outputText value="#{detail.numeroDocumento eq null ? '-' : detail.numeroDocumento}" />
			</p:column>
	
			<p:column filterBy="#{detail.numeroFascicolo}"   styleClass="generic_textAlignCenter" headerText="Num. Fascicolo" filterMatchMode="contains">
				<h:outputText value="#{detail.numeroFascicolo eq null ? '-' : detail.numeroFascicolo}" />
			</p:column>
			
			<p:column filterBy="#{detail.annoDocumento}"   styleClass="generic_textAlignCenter" headerText="Anno documento" filterMatchMode="contains">
				<h:outputText value="#{detail.annoDocumento eq null ? '-' : detail.annoDocumento}" />
			</p:column>
			
			<p:column filterBy="#{detail.oggetto}"  width="45%" headerText="Oggetto" filterMatchMode="contains">
				<h:outputText value="#{detail.oggetto eq null ? '-' : detail.oggetto}" />
			</p:column>
			
			<p:column filterBy="#{detail.dataCreazione}"   styleClass="generic_textAlignCenter" headerText="Data" filterMatchMode="contains" rendered="#{not ReportBean.risultati.codaDilavoro}" visible="false" exportable="true">
				<p:outputLabel value="#{detail.dataCreazione}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column filterBy="#{detail.utenteCreatore}"   styleClass="generic_textAlignCenter" headerText="Utente ultima modifica" filterMatchMode="contains" width="15%" rendered="#{not ReportBean.risultati.codaDilavoro}" visible="false" exportable="true">
				<h:outputText value="#{detail.utenteCreatore eq null ? '-' : detail.utenteCreatore}" />
			</p:column>
			
			
			<p:column filterBy="#{detail.dataCreazione}"   styleClass="generic_textAlignCenter" headerText="Data" filterMatchMode="contains" rendered="#{not ReportBean.risultati.codaDilavoro}" exportable="false">
				<f:facet name="header">
				     <h:outputText value="Data" />
				     <span class="fa fa-info-circle" title="La data fa riferimento alla data di ultima modifica del procedimento. Nel caso di documento in ingresso si riferisce alla data di creazione o di annullamento del protocollo"/>
				</f:facet> 
				<p:outputLabel value="#{detail.dataCreazione}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column filterBy="#{detail.utenteCreatore}"   styleClass="generic_textAlignCenter" headerText="Utente ultima modifica" filterMatchMode="contains" width="15%" rendered="#{not ReportBean.risultati.codaDilavoro}" exportable="false">
				<f:facet name="header">
				     <h:outputText value="Utente ultima modifica" />
				     <span class="fa fa-info-circle" title="Il campo fa riferimento all'ultimo utente cha modificato del procedimento. Nel caso di documento in ingresso si riferisce all'utente che ha creato/protocollato o annullato il procedimento"/>
				</f:facet> 
				<h:outputText value="#{detail.utenteCreatore eq null ? '-' : detail.utenteCreatore}" />
			</p:column>
			
			<p:column filterBy="#{detail.tipoAssegnazione}" styleClass="generic_textAlignCenter" headerText="Tipo assegnazione" filterMatchMode="contains" rendered="#{ReportBean.risultati.codaDilavoro}" >
				<h:outputText value="#{detail.tipoAssegnazione eq null ? '-' : detail.tipoAssegnazione}" />
			</p:column>
			
			<p:column filterBy="#{detail.dataAssegnazione}" styleClass="generic_textAlignCenter" headerText="Data Assegnazione" filterMatchMode="contains" rendered="#{ReportBean.risultati.codaDilavoro}" >
				<p:outputLabel value="#{detail.dataAssegnazione}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
	
		</p:dataTable>
	</p:outputPanel>
</ui:composition>