<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

	<p:dataTable var="master" styleClass="generic_marginBottom"
		 value="#{ReportBean.risultatiRuolo.masterList}"
		 emptyMessage="Nessun risultato trovato"
		 rows="5" paginator="#{fn:length(ReportBean.risultatiRuolo.masterList) gt 5}" rowsPerPageTemplate="5,10,15"
		 paginatorPosition="bottom" 
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
	>	
		<f:facet name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-11">
					<h:outputText value="#{ReportBean.risultatiRuolo.descrizioneOperazione}" />
				</div>
				<div class="ui-g-1">
					<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
		              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{'Anteprima_'.concat(ReportBean.exportString)}" />
					</p:commandButton>
				</div>	
			</p:outputPanel>
		</f:facet>
		
		<p:column filterBy="#{master.ufficio}"   styleClass="generic_textAlignCenter"
			headerText="Ufficio" filterMatchMode="contains">
			<h:outputText value="#{master.ufficio}" />
		</p:column>
		
		<p:column filterBy="#{master.ruolo}"   styleClass="generic_textAlignCenter"
			headerText="Ruolo" filterMatchMode="contains">
			<h:outputText value="#{master.ruolo}" />
		</p:column>

		<p:column headerText="Num. utenti" styleClass="generic_textAlignCenter">
			<h:outputText value="#{master.count} " />
		</p:column>
		
		<p:column exportable="false" width="10%" styleClass="generic_textAlignCenter">
			<p:commandButton
				action="#{ReportBean.risultatiRuolo.showDetail(master)}"
				update="@namingcontainer:@parent:idTabellaDettaglio_RRR" icon="fa fa-search"
				title="Dettaglio"
				label="Dettaglio"
				process="@this" 
			/>
		</p:column>

	</p:dataTable>
	
	<p:outputPanel id = "idTabellaDettaglio_RRR">	
		<p:dataTable var="detail" 
			 value="#{ReportBean.risultatiRuolo.detailList}"
			 emptyMessage="Errore nessun dettaglio trovato"
			 paginatorPosition="bottom" 
			 rows="5" paginator="#{fn:length(ReportBean.risultatiRuolo.detailList) gt 5}" rowsPerPageTemplate="5,10,15"
			 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			 rendered = "#{not empty ReportBean.risultatiRuolo.detailList}"
			 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
		>	
		
			<f:facet name="header">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-11">
						<h:outputText value="#{ReportBean.risultatiRuolo.detailTableHeader}" />
					</div>
					<div class="ui-g-1">
						<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
			              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{ReportBean.risultati.exportString}" />
						</p:commandButton>
					</div>
				</p:outputPanel>
			</f:facet>
			
			<p:column filterBy="#{detail.ufficio}"   
				headerText="Ufficio" filterMatchMode="contains" styleClass="generic_textAlignCenter">
				<h:outputText value="#{detail.ufficio eq null ? '-' : detail.ufficio}" />
			</p:column>
	
			<p:column filterBy="#{detail.nome}"   
				headerText="Nome" filterMatchMode="contains" styleClass="generic_textAlignCenter">
				<h:outputText value="#{detail.nome eq null ? '-' : detail.nome}" />
			</p:column>
	
			<p:column filterBy="#{detail.cognome}"   
				headerText="Cognome" filterMatchMode="contains" styleClass="generic_textAlignCenter">
				<h:outputText value="#{detail.cognome eq null ? '-' : detail.cognome}" />
			</p:column>
	
			<p:column filterBy="#{detail.ruolo}"   
				headerText="Ruolo" filterMatchMode="contains" styleClass="generic_textAlignCenter">
				<h:outputText value="#{detail.ruolo eq null ? '-' : detail.ruolo}" />
			</p:column>
			
		</p:dataTable>
	</p:outputPanel>

</ui:composition>