<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
>

	<p:dataTable id="idTabellaDettaglioCompetenza" var="detail" styleClass="generic_marginBottom"
		 value="#{ReportBean.risultatiProtocolliPerCompetenza.detailList}"
		 emptyMessage="Nessun risultato trovato"
		 paginatorPosition="bottom"
		 rows="5" paginator="#{fn:length(ReportBean.risultatiProtocolliPerCompetenza.detailList) gt 5}" rowsPerPageTemplate="5,10,15"
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		 onRowClick="event.preventDefault(); event.stopPropagation(); return false;"
	>	 
		<f:facet name="header">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-11">
					<h:outputText value="#{ReportBean.risultatiProtocolliPerCompetenza.descrizioneOperazione}" />
				</div>	
				<div class="ui-g-1">
					<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false" styleClass="generic_textAlignRight" process="@this">
		              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{ReportBean.exportString}" />
					</p:commandButton>
				</div>
			</p:outputPanel>
		</f:facet>
		
		<p:column filterBy="#{detail.numeroProtocollo}" styleClass="generic_textAlignCenter" headerText="Numero / Anno Protocollo" filterMatchMode="contains" width="10%">
			<h:outputText value="#{detail.numeroProtocollo eq null ? '-' : detail.numeroProtocollo}" />
			<h:outputText value="/" styleClass="dmd-distance" />
			<h:outputText value="#{detail.annoDocumento eq null ? '-' : detail.annoDocumento}" />
		</p:column>
		
		<p:column filterBy="#{detail.dataProtocollo}" styleClass="generic_textAlignCenter" headerText="Data Protocollo" filterMatchMode="contains">
			<p:outputLabel value="#{detail.dataProtocollo eq null ? '-' : detail.dataProtocollo}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>
		
		<p:column filterBy="#{detail.oggetto}" styleClass="generic_textAlignCenter" headerText="Oggetto" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.oggetto eq null ? '-' : detail.oggetto}" />
		</p:column>
		
		<p:column filterBy="#{detail.tipologiaDocumento}" styleClass="generic_textAlignCenter" headerText="Tipo Documento" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.tipologiaDocumento eq null ? '-' : detail.tipologiaDocumento}" />
		</p:column>
		
		<p:column filterBy="#{detail.ufficioAssegnatario}" styleClass="generic_textAlignCenter" headerText="Ufficio Assegnatario" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.ufficioAssegnatario eq null ? '-' : detail.ufficioAssegnatario}" />
		</p:column>
		
		<p:column filterBy="#{detail.utenteAssegnatario}" styleClass="generic_textAlignCenter" headerText="Utente Assegnatario" filterMatchMode="contains" width="15%">
			<h:outputText value="#{detail.utenteAssegnatario eq null ? '-' : detail.utenteAssegnatario}" />
		</p:column>
		
		<p:column filterBy="#{detail.dataChiusura}" styleClass="generic_textAlignCenter" headerText="Data Chiusura" filterMatchMode="contains">
			<p:outputLabel value="#{detail.dataChiusura eq null ? '-' : detail.dataChiusura}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>

		<p:column filterBy="#{detail.tipoChiusura}" styleClass="generic_textAlignCenter" headerText="Tipo Chiusura" filterMatchMode="contains">
			<h:outputText value="#{detail.tipoChiusura eq null ? '-' : detail.tipoChiusura}" />
		</p:column>
		
		<p:column filterBy="#{detail.stato}" styleClass="generic_textAlignCenter" headerText="Stato" filterMatchMode="contains">
			<h:outputText value="#{detail.stato eq null ? '-' : detail.stato}" />
		</p:column>

	</p:dataTable>
	
</ui:composition>