<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:importEnum type="it.ibm.red.business.enums.PeriodoReportEnum" var="periodoEnum"  allSuffix="ALL_ENUM_VALUES"/>

<p:panelGrid columns="8" styleClass="generic_width100 pnlgrid_noborder" >
	
	<p:outputLabel value="Anno" for="@next" styleClass = "generic_textBold" />
	<p:inputNumber value ="#{ReportBean.temporali.form.anno}" maxValue="#{ReportBean.temporali.maxAnno}" decimalPlaces="0" thousandSeparator="" padControl="false"/>
	
	<p:outputLabel value="Periodo" for="@next" styleClass = "generic_textBold generic_centerelement" />
	<p:selectOneMenu widgetVar="wdgReportSelectionMenu" value="#{ReportBean.temporali.form.periodo}" >
		<p:ajax update="@parent" ignoreAutoUpdate="true" partialSubmit="true" />
		<f:selectItems value="#{ReportBean.temporali.comboPeriodo}" var="fd" itemLabel="#{fd.label}" />
	</p:selectOneMenu>
	
	<p:outputLabel for="@next" value="Da" styleClass = "generic_textBold generic_centerelement"/>
   	<p:calendar navigator="true" id="idPeriodoPersonalizzatoDa_TRM"  value="#{ReportBean.temporali.form.dataDa}" showOn="button" 
      	disabled="#{ReportBean.temporali.form.periodo ne periodoEnum.PERSONALE}"  />

	<p:outputLabel for="@next" value="A" styleClass = "generic_textBold generic_centerelement"/>
   	<p:calendar navigator="true" id="idPeriodoPersonalizzatoA_TRM" value="#{ReportBean.temporali.form.dataA}" showOn="button" 
  	   	disabled="#{ReportBean.temporali.form.periodo ne periodoEnum.PERSONALE}" />
	
</p:panelGrid>
	
</ui:composition>