<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" 
	xmlns:nps="http://java.sun.com/jsf/composite/nps">



	<p:dialog header="Dettaglio fascicolo Nps" widgetVar="dlgDettaglioFascicoloNps" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true"
		id="dlgDettaglioFascicoloNpsId" onShow="dlgOnShowFixed(this.jqId);onShowForClosableDlg('dlgDettaglioFascicoloNps');"
		dynamic="true" position="center" appendTo="@form" draggable="false" style="max-width:50%;min-width: 50%;overflow: auto;">
 		
 		 <p:tabView id="tabDetailsFascicoloNps" styleClass="generic_no_background" >
		    	<p:tab title="Dettaglio" rendered="#{SessionBean.preferenze.fullDetailEnable}">
		    		<nps:dettaglioNpsTabDettaglioComponent dto="#{FascicoloManagerBean.protocolloNpsDTO}"/>
		    	</p:tab>
		    	<p:tab title="Documenti" rendered="#{SessionBean.preferenze.fullDetailEnable}">
		    		<nps:dettaglioNpsTabDocumentiComponent bean="#{FascicoloManagerBean.dettaglioDocNps}"/>
		    	</p:tab>
		    	<p:tab title="Storico" rendered="#{SessionBean.preferenze.fullDetailEnable}" >
					<nps:dettaglioNpsTabStorico dto="#{FascicoloManagerBean.protocolloNpsDTO}"/>
				</p:tab>
		 </p:tabView>

		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('dlgDettaglioFascicoloNps').hide()" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>


</ui:composition>