<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<!-- 		DIALOG INSERISCI DOCUMENTO INTERNO START  -->
	<p:dialog widgetVar="wdgDocumentoInterno_DDI" dynamic="true" id="idDocumentoInterno_DDI"  appendTo="@form"
		hideEffect="fade"  showEffect="fade" draggable="false" position="top left" modal="true"
		styleClass="generic_maxwidth1200px"  closeOnEscape="false" showHeader="true" closable="true"
		resizable="false" header="Inserisci documento" minHeight="400" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgDocumentoInterno_DDI')" >
		
		<div class="ui-g">
			<div class="ui-g-12 generic_textAlignCenter">
				<p:outputLabel value="Fascicolo" styleClass="generic_grassetto generic_margin05"/>
				<p:outputLabel value="#{FascicoloManagerBean.detail.nomeFascicolo}" styleClass="generic_margin05"/>
				<p:outputLabel value="/" styleClass="dmd-distance " />
				<p:outputLabel value="#{FascicoloManagerBean.detail.anno}" styleClass="generic_marginRight"/>

				<p:outputLabel value="Descrizione" styleClass="generic_grassetto generic_marginRight"/>
				<p:outputLabel value="#{FascicoloManagerBean.detail.oggettoNoNumeroAnno}" styleClass="generic_marginRight"/>

				<p:outputLabel value="Stato" styleClass="generic_grassetto generic_marginRight"/>
				<p:outputLabel value="#{FascicoloManagerBean.detail.stato}" styleClass="generic_marginRight"/>
			</div>
			<div class="ui-g-12">
				<hr />
			</div>
		   	<div class="ui-g-2 ">
		   		<p:outputLabel styleClass="generic_grassetto" value="Tipologia documento"/>
		   		<p:outputLabel styleClass="generic_redStar" value="*"/>
		   	</div>
		   	<div class="ui-g-4 ui-fluid obbligatorio">
		   		<p:selectOneMenu id="idTipologiaDocumento_DDI" value="#{FascicoloManagerBean.nuovoDocumentoInterno.idTipologiaDocumento}" 
		   			styleClass="campoObbligatorio">
					<f:selectItems value="#{FascicoloManagerBean.comboTipologiaDocumento}"
						var="td" itemValue="#{td.idTipologiaDocumento}" itemLabel="#{td.descrizione}" />
				</p:selectOneMenu>
		   		
		   	</div>
		   	<div class="ui-g-2 generic_textAlignRight">
		   		<p:outputLabel styleClass="generic_grassetto" value="File"/>
		   		<p:outputLabel styleClass="generic_redStar" value="*"/>
		   	</div>
		   	<p:outputPanel styleClass="ui-g-4 ui-fluid" id="idDocInternoPanel_DDI">
				<p:outputPanel styleClass="ui-inputgroup obbligatorio">
					<p:inputText readonly="true" update="idDocInternoPanel_DDI" value="#{FascicoloManagerBean.nuovoDocumentoInterno.nomeFile}" styleClass="obbligatorio-readonly"/>
			   		<p:fileUpload id="idDocumentoInternoFileUpload_DDI"
						fileUploadListener="#{FascicoloManagerBean.handleDocInternoFileUpload}"
						value="#{FascicoloManagerBean.docInterno}"
						auto="true" label="Sfoglia"
						mode="advanced" skinSimple="true"
						dragDropSupport="false"
						styleClass="dmd-fileUpload dmd-fileUpload3"
						rendered="#{FascicoloManagerBean.nuovoDocumentoInterno.nomeFile == null}"
						update="idDocInternoPanel_DDI"
						onstart="PF('statusDialog').show();"
						oncomplete="PF('statusDialog').hide();"
						/>
						<p:commandButton action="#{FascicoloManagerBean.rimuoviFile}" icon="fa fa-close"
							rendered="#{FascicoloManagerBean.nuovoDocumentoInterno.nomeFile != null}" 
							ajax="true" title="Rimuovi il documento" update="idDocInternoPanel_DDI" />
			   		
			   	</p:outputPanel>
		   	</p:outputPanel>
		   	<div class="ui-g-12  ui-fluid obbligatorio">
		   		<p:outputLabel styleClass="generic_grassetto generic_marginBottom" value="Oggetto"/>
		   		<p:outputLabel styleClass="generic_redStar generic_marginBottom" value="*"/>
		   		<p:inputTextarea rows="4" styleClass="campoObbligatorio generic_displayBlock obbligatorio" value="#{FascicoloManagerBean.nuovoDocumentoInterno.oggetto}" />
		   	</div>
		   	<div class="ui-g-12 generic_textAlignCenter">
		   	<!-- Eseguo l'update in java di tutto quello che ha la classe dettaglioFascicoloForUpdatePurpose ovvero i dettagli e la ricerca  -->
		   		<p:commandButton icon="fa fa-plus" ajax="true" action="#{FascicoloManagerBean.inserisciDocumento}" value="Inserisci" title="Inserisci documento" update="@form:idTabs_FM:idDocumentiFasTable_DF"  />
		   		<p:commandButton icon="fa fa-times" type="button" value="Chiudi" title="Chiudi" onclick="PF('wdgDocumentoInterno_DDI').hide()" styleClass="uniqueCloseButton" />
		   	</div>
		</div>
		
	</p:dialog>  
<!-- 		DIALOG INSERISCI DOCUMENTO INTERNO END  -->	
</ui:composition>