<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>


<!-- 		DIALOG FALDONATURA FASCICOLO START  -->

<p:dialog widgetVar="wdgFaldonaFascicolo_DLGFALD" dynamic="true" id="idFaldonaFascicolo_FM" 
	hideEffect="fade" showEffect="fade" draggable="true" position="center" appendTo="@form" 
	onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgFaldonaFascicolo_DLGFALD')" 
	onHide="PF('wgdTabsFaldonaCmp').select(0);" styleClass="generic_maxwidth1200px" closeOnEscape="false" showHeader="true" 
	closable="true" modal="true" resizable="false" header="Faldona fascicolo" rendered="#{FascicoloManagerBean.dlgFaldonaturaRendered}">
					 
	<dd:pnlFaldonaComponent faldonaCmp="#{FascicoloManagerBean.faldonaCmp}"/>
					 
	<div class="ui-g-12 generic_textAlignCenter">
		<p:commandButton icon="fa fa-pencil" value="Registra" action="#{FascicoloManagerBean.faldona}" />
		<p:commandButton icon="fa fa-times" value="Chiudi" action="#{FascicoloManagerBean.closeDlgFaldonatura}"
			onclick="PF('wgdTabsFaldonaCmp').select(0);" update="@form:idTabs_FM:idFaldonaFascicolo_FM" 
			oncomplete="PF('wdgFaldonaFascicolo_DLGFALD').hide()" styleClass="uniqueCloseButton"/>
	</div>

	
</p:dialog>  


</ui:composition>