<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >


<!-- 		DIALOG SPOSTA / COPIA DOCUMENTO START  -->
	<p:dialog widgetVar="wdgSpostaCopiaDocumento_FM" dynamic="true" id="idSpostaCopiaDocumento_FM" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgSpostaCopiaDocumento_FM')"
		hideEffect="fade" showEffect="fade" draggable="true" modal="true" appendTo="@form" position="center" width="1100" onHide="refreshPageDataTable('resultTreeTableWV')"
		styleClass="generic_maxwidth1200px"  closeOnEscape="false" showHeader="true" closable="true" fitViewport="true" resizable="false" header="Fascicola documento" minHeight="400">
		
		<p:tabView id="viewTabsFascicola">
			<p:tab title="Ricerca Fascicolo">
				<div class="ui-g">
					<div class="ui-g-12 generic_textAlignCenter">
						<p:outputLabel value="Num. Prot. - ID - RR" styleClass="generic_grassetto generic_margin05"/>
						<p:outputLabel value="#{FascicoloManagerBean.documentoSelected.numeroProtocollo}" />
						<p:outputLabel rendered="#{FascicoloManagerBean.documentoSelected.numeroProtocollo != null}" value="/" styleClass="dmd-distance"/>
						<p:outputLabel value="#{FascicoloManagerBean.documentoSelected.numeroDocumento}" styleClass="generic_marginRight"/>
			
						<p:outputLabel value="Tipologia documento" styleClass=" generic_grassetto generic_margin05"/>
						<p:outputLabel value="#{FascicoloManagerBean.documentoSelected.tipoDocumento}" styleClass="generic_marginRight"/>
						
						<p:outputLabel value="Oggetto" styleClass="generic_grassetto generic_margin05"/>
						<p:outputLabel value="#{FascicoloManagerBean.documentoSelected.oggetto}" styleClass="generic_marginRight"/>
						
					</div>
					<div class="ui-g-12">
						<hr />
					</div>
				   	<div class="ui-g-1">
				   		<p:outputLabel styleClass="generic_grassetto" value="Anno"/>
				   	</div>
				   	<div class="ui-g-2">
				   		<p:inputText value="#{FascicoloManagerBean.ricercaFascicoliAnno}"   />
				   	</div>
				   	<div class="ui-g-1 generic_textAlignRight">
				   		<p:outputLabel styleClass="generic_grassetto" value="Descrizione"/>
				   	</div>
				   	<div class="ui-g-7">
				   		<p:inputText styleClass="generic_input90" value="#{FascicoloManagerBean.ricercaFascicoliParval}" />
				   	</div>
				   	<div class="ui-g-1 generic_textAlignRight">
				   		<p:commandButton ajax="true" action="#{FascicoloManagerBean.ricercaFascicolo}" id="ricercaFascicoloBtnSpostaCopiaId" value="Cerca" title="Cerca" icon="fa fa-search" 
				   			update="@namingcontainer:idListaFascicoli_Pnl, @form:actionButtons"/>
				   	</div>
				    <p:defaultCommand target="@namingcontainer:ricercaFascicoloBtnSpostaCopiaId" scope="@form:idSpostaCopiaDocumento_FM"></p:defaultCommand>
				   	<p:outputPanel id="idListaFascicoli_Pnl">
				   		<p:outputPanel id="idListaFascicoli_PnlCont" styleClass="ui-g-12" rendered="#{FascicoloManagerBean.flagRicercaFascicolo}">
							<p:dataTable widgetVar="wdgListaFascicoli_FM" id="idListaFascicoli_FM" var="fascicolo" 
								value="#{FascicoloManagerBean.fascicoliCercati}" rowKey="#{fascicolo.nomeDocumento}"
								selection="#{FascicoloManagerBean.fascicoloSelected}" rowIndexVar="index"
								styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="10" 
						 		sortMode="multiple" emptyMessage="Nessun fascicolo trovato" paginatorAlwaysVisible="false">  
										
								<p:column selectionMode="single" styleClass="generic_width16px generic_textAlignCenter" />
								<p:column headerText="INFO" sortBy="#{fascicolo.nomeDocumento}" filterBy="#{fascicolo.nomeDocumento}" filterMatchMode="contains"  
									styleClass="generic_textAlignCenter lf_tableColumn1">
									<h:outputText styleClass="fa fa-folder-open-o" rendered="#{fascicolo.stato eq 'Aperto'}" title="#{fascicolo.stato}" />
									<h:outputText styleClass="fa fa-folder-o" rendered="#{fascicolo.stato ne 'Aperto'}" title="#{fascicolo.stato}" />
								</p:column>
								     
								<p:column headerText="Descrizione" sortBy="#{fascicolo.descrizione}" filterBy="#{fascicolo.nomeDocumento}/#{fascicolo.anno} - #{fascicolo.descrizione}" filterMatchMode="contains"  
									styleClass="lf_tableColumn2">
									<p:outputLabel value="#{fascicolo.nomeDocumento}" styleClass="generic_grassetto generic_corsivo"/>
									<p:outputLabel value="/" styleClass="generic_grassetto generic_corsivo"/>
									<p:outputLabel value="#{fascicolo.anno}" styleClass="generic_grassetto generic_corsivo"/>
									<p:outputLabel value=" - "/>
									<h:outputText value="#{FascicoloManagerBean.getShortColumn(fascicolo.descrizione, 150)}" title="#{fascicolo.descrizione}"/>
								</p:column>
								   
								 <!--   
								<p:column headerText="Stato" sortBy="#{fascicolo.stato}" filterBy="#{fascicolo.stato}" filterMatchMode="contains" >
									<p:outputLabel value="#{fascicolo.stato}"  styleClass="generic_grassetto generic_corsivo" />  
								</p:column>
								-->
								
								<p:column headerText="Indice di Classificazione" sortBy="#{fascicolo.indiceClassificazione}" filterBy="#{fascicolo.indiceClassificazione}" filterMatchMode="contains"  
									styleClass="generic_textAlignCenter lf_tableColumn3">
									<h:outputText rendered="#{fascicolo.descrizioneTitolario != null}" title="#{fascicolo.indiceClassificazione} - #{fascicolo.descrizioneTitolario}"
										value="#{fascicolo.indiceClassificazione} - #{FascicoloManagerBean.getShortColumn(fascicolo.descrizioneTitolario, 25)}"/>
									<h:outputText rendered="#{fascicolo.descrizioneTitolario == null}" value="#{fascicolo.indiceClassificazione}"/>
								</p:column>
								     
								<p:column headerText="Data Creazione" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains"  
									styleClass="generic_textAlignCenter lf_tableColumn4">
									<p:outputLabel value="#{fascicolo.dataCreazione}" >
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</p:outputLabel>
								</p:column>
								     
							</p:dataTable>
				   		</p:outputPanel>
				   	</p:outputPanel>
				</div>
		</p:tab>
			<p:tab title="Ricerca per documento">
				<red:ricercaFascicoliDaDocumentiComponent component="#{FascicoloManagerBean.tabRicercaDoc}" updateOnSelect="@form:actionButtons" widgetVarDlg="'wdgSpostaCopiaDocumento_FM'" closeDialogOnSelect="false" />
			</p:tab>
		</p:tabView>
   		<p:outputPanel id="actionButtons" styleClass="buttonsDiv buttonsLayout">
		   	<p:commandButton icon="fa fa-folder-open-o" action="#{FascicoloManagerBean.spostaDocumentoCheck}" value="Sposta" 
		   		process="idSpostaCopiaDocumento_FM" title="Sposta" disabled="#{not FascicoloManagerBean.flagRicercaFascicolo}"
		   		update="@(.dettaglioFascicoloForUpdatePurpose), @form:idFascicoloManagerContent_FM" oncomplete="PF('wdgSpostaCopiaDocumento_FM').hide()" styleClass="generic_marginRight"/>
		   	
		   	<p:commandButton icon="fa fa-copy" action="#{FascicoloManagerBean.copiaDocumento}" value="Copia" title="Copia"
	   			 update="@(.dettaglioFascicoloForUpdatePurpose), @form:idFascicoloManagerContent_FM, @this" disabled="#{not FascicoloManagerBean.flagRicercaFascicolo}" styleClass="generic_marginRight"/>
	   		 
		   	<p:commandButton icon="fa fa-times" action="#{FascicoloManagerBean.resetDlgSpCp}" title="Chiudi" value="Chiudi" oncomplete="PF('wdgSpostaCopiaDocumento_FM').hide();"
		   		styleClass="uniqueCloseButton" update="idSpostaCopiaDocumento_FM"/>
	   	</p:outputPanel>
	</p:dialog>  
	
	<p:dialog widgetVar="wdgDlgSpostaDocEcancellaFascicoloConfirm_DF" dynamic="true" id="idWdgDlgSpostaDocEcancellaFascicoloConfirm_DF" 
		hideEffect="fade" showEffect="fade" draggable="false" position="top left" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgDlgSpostaDocEcancellaFascicoloConfirm_DF')"
		styleClass="" closeOnEscape="false" showHeader="true" closable="true" appendTo="@form" resizable="false" header="Attenzione!" minHeight="400">
		
		<div class="ui-g ui-fluid">
			<p:outputLabel value="Se si sposta il documento il fascicolo sarà cancellato perché non contiene altri documenti. Proseguire con l'operazione?"/>
		</div>
		<div class="generic_textAlignCenter">
			<p:commandButton ajax="true" title="Sposta" icon="fa fa-folder-open-o" action="#{FascicoloManagerBean.spostaDocumentoCheckPostConfirmCancellazione()}" value="Sposta" 
			   	update="@(.dettaglioFascicoloForUpdatePurpose), @form:idFascicoloManagerContent_FM, @form:idTabs_FM:idDocumentiFasTable_DF" styleClass="generic_margin05" 
			   	oncomplete="PF('wdgDlgSpostaDocEcancellaFascicoloConfirm_DF').hide();PF('dlgManageFascicolo_DF').hide();"/>
			<p:commandButton type="button" title="Chiudi" icon="fa fa-times" value="Chiudi" styleClass="generic_margin05 uniqueCloseButton" onclick="PF('wdgDlgSpostaDocEcancellaFascicoloConfirm_DF').hide();" />
		</div>
	</p:dialog>
	
	<p:dialog widgetVar="wdgDlgRichiestePendentiCopiaConfirm_DF" dynamic="true" id="idWdgDlgRichiestePendentiCopiaConfirm_DF" 
		hideEffect="fade" showEffect="fade" draggable="false" position="top left" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgDlgRichiestePendentiCopiaConfirm_DF')"
		styleClass="" closeOnEscape="false" showHeader="true" closable="true" appendTo="@form" resizable="false" header="Attenzione!" minHeight="400">
		
		<div class="ui-g ui-fluid">
			<p:outputLabel value="Il documento ha delle richieste di contributo associate, pertanto non è possibile spostarlo in un altro fascicolo. Proseguire con la copia del documento?"/>
		</div>
		<div class="generic_textAlignCenter">
			<p:commandButton value="Copia" title="Copia" ajax="true" icon="fa fa-copy" action="#{FascicoloManagerBean.copiaDocumento}" 
				update="@(.dettaglioFascicoloForUpdatePurpose), @form:idFascicoloManagerContent_FM" oncomplete="PF('wdgDlgRichiestePendentiCopiaConfirm_DF').hide();"/>
			<p:commandButton value="Chiudi" type="button" title="Chiudi" icon="fa fa-times" styleClass="generic_margin05 uniqueCloseButton" onclick="PF('wdgDlgRichiestePendentiCopiaConfirm_DF').hide();"/>
		</div>
	</p:dialog>
	
<!-- 		DIALOG SPOSTA / COPIA DOCUMENTO END  -->	
</ui:composition>