<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<!-- 	       DIALOG TITOLARIO START -->
    <p:dialog widgetVar="dlgTitolarioPan_DT" dynamic="true" id="idTitolarioPan_DT" modal="true"
		hideEffect="fade"  showEffect="fade" draggable="true" position="top left"
		styleClass="dmd-tree-panel generic_textAlignRight"  closeOnEscape="true" showHeader="true" closable="true"
		resizable="false" header="Titolario" appendTo="@form"  onShow="dlgOnShow(this.jqId);PF('wdgButtonSalvaIndice').disable();onShowForClosableDlg('dlgTitolarioPan_DT')">
	        
	   	<p:tree value="#{FascicoloManagerBean.rootTitolario}" var="t" id="idTitolarioTree_FM" 
			selectionMode="single"	selection="#{FascicoloManagerBean.titolarioNodoSelected}"  
			styleClass="dmd-tree generic_textAlignLeft generic_noborder" dynamic="true"
			onNodeClick="PF('wdgButtonSalvaIndice').enable()"
		>
			<p:ajax event="expand" update="@this" listener="#{FascicoloManagerBean.onTitolarioNodeExpand}" />
	        
			<p:treeNode >
				<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em"  title="indice di classificazione" alt="icona per indice di classificazione" /> 
				<p:outputLabel value="#{t.indiceClassificazione} " />
				<p:outputLabel value="#{t.descrizione}" />
			</p:treeNode>
		</p:tree>
		<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
			<p:commandButton id="idSalvaTitolarioBtn_DT" widgetVar="wdgButtonSalvaIndice"
				styleClass="generic_width100" icon="fa fa-save" value="Salva indice"  
				action="#{FascicoloManagerBean.salvaTitolario}" ajax="true"
				process="idTitolarioTree_FM"
		        oncomplete="PF('dlgTitolarioPan_DT').hide();" update=" @form:idFascicoloManagerContent_FM"  />
		    <p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgTitolarioPan_DT').hide();" styleClass="generic_width100 uniqueCloseButton"/>
		</p:panelGrid>
	</p:dialog>  
<!-- 	       DIALOG TITOLARIO END -->

</ui:composition>