<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:dd="http://java.sun.com/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="CategoriaDocumentoEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:outputPanel id="idFascicoloManagerContent_FM"
		styleClass="ui-g generic_padding0 generic_maxHeight900px  generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
		
		<div class="ui-g-2">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Fascicolo"/>
			<p:outputLabel styleClass="" value="#{FascicoloManagerBean.detail.nomeFascicolo}"/>
			<p:outputLabel styleClass="dmd-distance" value="/" />
			<p:outputLabel styleClass="generic_marginRight" value="#{FascicoloManagerBean.detail.anno}"/>
		</div>
		<div class="ui-g-2 generic_textAlignRight">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Data creazione"/>
		</div>
		<div class="ui-g-1">
			<p:outputLabel value="#{FascicoloManagerBean.detail.dataCreazione}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</p:outputLabel>
		</div>
		<div class="ui-g-2 generic_textAlignRight">
			<p:outputPanel>
				<p:outputLabel value="Indice di classificazione" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
		</div>
		<div class="ui-g-5 ui-fluid">
			<div class="ui-inputgroup">
				<p:autoComplete id="ac_titolario" value="#{FascicoloManagerBean.titolarioNodoSelectedDTO}" completeMethod="#{FascicoloManagerBean.titolarioAutocomplete}"
					var="t" itemLabel="#{t.indiceClassificazione} - #{t.descrizione}" itemValue="#{t}" converter="titolarioConverter" forceSelection="true" 
					maxResults="5" minQueryLength="3" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" disabled="#{SessionBean.utente.gestioneApplicativa or !FascicoloManagerBean.disableApriFascicolo}">
					<p:ajax event="itemSelect" listener="#{FascicoloManagerBean.onTitolarioAutocompleteSelect}" update="@this"/>        
				</p:autoComplete>
				
				<p:commandButton styleClass="white-button" ajax="true" icon="fa fa-sitemap" type="button"   
					id="idTitolarioBtn_FM" onclick="PF('dlgTitolarioPan_DT').show()" disabled="#{SessionBean.utente.gestioneApplicativa or not FascicoloManagerBean.disableApriFascicolo}"/>
			</div>
		</div>
		
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_grassetto" value="Stato"/>
		</div>
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_corsivo" value="#{FascicoloManagerBean.detail.stato}" id="idStatoFascicolo_FM"/>
		</div>
		<div class="ui-g-2 ">
			<p:commandButton value="Apri fascicolo" disabled="#{SessionBean.utente.gestioneApplicativa or FascicoloManagerBean.disableApriFascicolo}" 
				action="#{FascicoloManagerBean.apriFascicolo}" update="@parent"/>
		</div>
		<div class="ui-g-2 ">
			<red:fascicoloFepaComponent bean="#{FascicoloFepaBean}"/>
		</div>
		<div class="ui-g-12" >
			<p:outputLabel styleClass="generic_grassetto generic_displayBlock generic_marginBottom05" value="Descrizione" />
			<p:outputLabel styleClass="generic_textAlignJustify" value="#{FascicoloManagerBean.detail.oggettoNoNumeroAnno}" title="#{FascicoloManagerBean.detail.oggettoNoNumeroAnno}"/>
		</div>
		<div class="ui-g-12" >
			<hr />
		</div>
		
		<p:tabView id="idTabs_FM" >
			<p:tab title="Documenti">
				<div class="ui-g-12 generic_textAlignRight" >
					<p:commandButton value="Inserisci documento" icon="fa fa-plus" ajax="true" action="#{FascicoloManagerBean.apriInserisciDocumento}"
						oncomplete="PF('wdgDocumentoInterno_DDI').show()" update="@form:idDocumentoInterno_DDI"  disabled="#{SessionBean.utente.gestioneApplicativa or FascicoloManagerBean.disableApriFascicolo eq false}" />
					<p:commandButton value="Dowload documenti" title="Download documenti" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						<p:fileDownload value="#{FascicoloManagerBean.downloadZipAllDocument()}" />
					</p:commandButton>
				</div>
				<div class="ui-g-12" >
					<p:dataTable id="idDocumentiFasTable_DF" widgetVar="wdgDocumentiFasTable_DF"
						value="#{FascicoloManagerBean.detail.documenti}" var="d" 
						rowKey="#{d.documentTitle}" rowIndexVar="index"
						rows="5" 
						emptyMessage="Nessun documento" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" 
						>
						<p:column headerText="Num. Prot. - ID - RR" styleClass="generic_textAlignCenter" sortBy="#{d.numeroDocumento}">
							<p:outputLabel rendered="#{not empty d.numeroProtocollo}" value="#{d.numeroProtocollo}" />
							<p:outputLabel rendered="#{not empty d.numeroProtocollo}" value="/" styleClass="dmd-distance" />
							<p:outputLabel rendered="#{not empty d.annoProtocollo}"   value="#{d.annoProtocollo}"  />
							<p:outputLabel rendered="#{not empty d.annoProtocollo}"   value="#{' - '}"  />
							
							<p:outputLabel value="#{d.numeroDocumento}" />
							
							<p:outputLabel rendered="#{empty d.numeroProtocollo}" value="#{' - '}"   />
							<p:outputLabel rendered="#{empty d.numeroProtocollo}" value="#{d.dataCreazione}" >
							    <f:convertDateTime pattern="yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Tipo" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{FascicoloManagerBean.getCharEntrata(d)}" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ENTRATA.getIds()[0]}" styleClass="DD_textNormale" title="Entrata" />
							<p:outputLabel value="#{FascicoloManagerBean.getCharUscita(d)}" rendered="#{d.idCategoria == CategoriaDocumentoEnum.USCITA.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="-" rendered="#{d.idCategoria == null}" styleClass="DD_textNormale" />
						</p:column>
						<p:column headerText="Tipologia documento" sortBy="#{d.tipoDocumento}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.tipoDocumento}" />
						</p:column>
						<p:column headerText="Oggetto" sortBy="#{d.oggetto}">
							<p:outputLabel title="#{d.oggetto}" value="#{FascicoloManagerBean.getShortColumn(d.oggetto,20)}"/>
						</p:column>
						<p:column headerText="Data creazione" sortBy="#{d.dataCreazione}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.dataCreazione}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Azioni" styleClass="generic_textAlignCenter">
							<!--  <p:commandButton title="Download" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						        <p:fileDownload value="#{FascicoloManagerBean.downloadDocSelected(index)}" />
						    </p:commandButton>
							< p:commandButton type="submit" icon="fa fa-pencil-square" title="Modifica documento" ajax="true"
								action="# {FascicoloManagerBean.openDocumentPopup(index)}" rendered=" # {d.modificabile}" 
								update="eastSectionForm:idPanelDocumentManager_DF, eastSectionForm:idDocumentManagerContent_DMD" />
							-->
							<p:commandButton styleClass="white-button" ajax="true" icon="fa fa-folder" 
								action="#{FascicoloManagerBean.apriSpostaCopiaDocumento(index)}" update="@form:idSpostaCopiaDocumento_FM"
								id="idSpostaCopiaDocumentoBtn_FM" oncomplete="PF('wdgSpostaCopiaDocumento_FM').show()" 
								title="Fascicolazione documento" disabled="#{SessionBean.utente.gestioneApplicativa or FascicoloManagerBean.disableApriFascicolo eq false}"/>

							<p:commandButton title="Apri dettaglio" icon="fa fa-search" action="#{FascicoloManagerBean.openDocumentView(index)}" ajax="true" 
								rendered="#{FascicoloManagerBean.detailOpenable(d)}"/>
								
							<p:commandButton styleClass="" ajax="true" icon="fa fa-close"
								action="#{FascicoloManagerBean.eliminaDocInterno(index)}" title="Elimina il documento"
								update="@namingcontainer:@namingcontainer:idDocumentiFasTable_DF" rendered="#{d.idCategoria == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" 
								disabled="#{FascicoloManagerBean.disableApriFascicolo == false}">
								<p:confirm header="Conferma Eliminazione" message="Si desidera eliminare l'elemento selezionato?"></p:confirm>
								</p:commandButton>
						</p:column>
						<p:column headerText="Documento" styleClass="generic_textAlignCenter">
							<p:commandButton title="Download #{d.nomeFile}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        	<p:fileDownload value="#{FascicoloManagerBean.downloadDocSelected(index)}" />
					    	</p:commandButton>
					    	<p:commandButton  type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumentiFascicoli').show();PF('dlgVisualizzaDocumentiFascicoli').toggleMaximize();"
                                              action="#{FascicoloManagerBean.openVisualizzaDocumento(index)}" process="@this" update="@form:visualizzaDocFas_opnl" />
					
							<p:commandButton id="numAllegati" type="button" icon="fa fa-paperclip" rendered="#{d.numAllegati gt 0}"/>
							<p:overlayPanel id="infoNumAllegati" for="numAllegati" rendered="#{d.numAllegati gt 0}" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn" my="right top" at="right bottom">
								<h:outputText value="Nel documento #{d.numAllegati gt 1? 'sono presenti':'è presente'} #{d.numAllegati} allegat#{(d.numAllegati gt 1 or d.numAllegati eq 0)? 'i':'o'}"/>
								<iframe title="Frame fascicolo manager" class="cover" src="about:blank"></iframe>
							</p:overlayPanel>
						</p:column>
						
				
					</p:dataTable>
					
					<p:dataTable var="rifStoricoNsd"  style="margin-top:15px;" value="#{FascicoloManagerBean.detail.rifStoricoNsd}" emptyMessage="Nessun riferimento storico presente" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rendered="#{FascicoloManagerBean.utente.showRiferimentoStorico}">
					   	<f:facet name="header">
							<h:outputText value="Riferimento Storico Nsd" />
						</f:facet>
					    <p:column headerText="Num. Prot. - ID - RR - RED"  styleClass="generic_textAlignCenter" sortBy="#{rifStoricoNsd.idDocUscita}">
					        <p:outputLabel value="#{rifStoricoNsd.idDocUscita}"  />
					        
					        <p:outputLabel rendered="#{empty rifStoricoNsd.idDocUscita}" value="#{' - '}"   />
							<p:outputLabel rendered="#{empty rifStoricoNsd.idDocUscita}" value="#{rifStoricoNsd.idDocUscita.dataCreazione}" >
							    <f:convertDateTime pattern="yyyy" />
							</p:outputLabel>
					    </p:column>
					    <p:column headerText="Num. Prot. NSD"  styleClass="generic_textAlignCenter" sortBy="#{rifStoricoNsd.nProtocolloNsd}" >
					        <p:outputLabel value="#{rifStoricoNsd.nProtocolloNsd}"  />
					    </p:column>
					    <p:column headerText="Anno protocollo"  styleClass="generic_textAlignCenter" sortBy="#{rifStoricoNsd.annoProtocollo}" >
					        <p:outputLabel value="#{rifStoricoNsd.annoProtocollo}"  />
					    </p:column>
					     <p:column headerText="Oggetto" sortBy="#{rifStoricoNsd.oggetto}" >
					        <p:outputLabel value="#{rifStoricoNsd.oggetto}"  />
					    </p:column>
				    
				  		<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic-break-word">
					        <p:commandButton icon="fa fa-search" title="Dettaglio esteso fascicolo" actionListener="#{FascicoloManagerBean.getDettaglioRiferimentoStoricoNsd(rifStoricoNsd.nProtocolloNsd,rifStoricoNsd.annoProtocollo)}" oncomplete="PF('dlgDettaglioFascicoloNsd').show();" update="@form:idTabs_FM:idTabsNsd"/>
							<p:commandButton icon="fa fa-download" title="Download" ajax="false" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)" disabled="#{rifStoricoNsd.idFilePrincipale eq null}">
								<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(rifStoricoNsd.idFilePrincipale)}" />
							</p:commandButton>
						</p:column>
				  	</p:dataTable> 
				  	 
				  	 <p:dataTable rendered="#{FascicoloManagerBean.utente.showAllaccioNps}" var="rifAllaccioNps"  style="margin-top:15px;" value="#{FascicoloManagerBean.detail.rifAllaccioNps}" emptyMessage="Nessun riferimento presente" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" >
					   	<f:facet name="header">
							<h:outputText value="Riferimento Nps" />
						</f:facet>
					    
					     <p:column headerText="Num. Prot. - ID - RR - RED"  styleClass="generic_textAlignCenter" sortBy="#{rifAllaccioNps.idDocumentoUscita}">
					        <p:outputLabel value="#{rifAllaccioNps.idDocumentoUscita}"  />
					        
					        <p:outputLabel rendered="#{empty rifAllaccioNps.idDocumentoUscita}" value="#{' - '}"   />
							<p:outputLabel rendered="#{empty rifAllaccioNps.idDocumentoUscita}" value="#{rifAllaccioNps.idDocumentoUscita.dataCreazione}" >
							    <f:convertDateTime pattern="yyyy" />
							</p:outputLabel>
					    </p:column>
					    
					    <p:column headerText="Num. Prot. Nps"  styleClass="generic_textAlignCenter" sortBy="#{rifAllaccioNps.numeroProtocolloNps}" >
					        <p:outputLabel value="#{rifAllaccioNps.numeroProtocolloNps}"  />
					    </p:column>
					     
					    <p:column headerText="Anno protocollo"  styleClass="generic_textAlignCenter" sortBy="#{rifAllaccioNps.annoProtocolloNps}" >
					        <p:outputLabel value="#{rifAllaccioNps.annoProtocolloNps}"  />
					    </p:column>
					     <p:column headerText="Oggetto" sortBy="#{rifAllaccioNps.oggettoProtocolloNps}" >
					        <p:outputLabel value="#{rifAllaccioNps.oggettoProtocolloNps}"  />
					    </p:column>
				    
				  		<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic-break-word">
					        <p:commandButton icon="fa fa-search" title="Dettaglio esteso fascicolo nps" actionListener="#{FascicoloManagerBean.calcolaDetailNps(rifAllaccioNps.annoProtocolloNps,rifAllaccioNps.numeroProtocolloNps)}" oncomplete="PF('dlgDettaglioFascicoloNps').show();" />
							<p:commandButton icon="fa fa-download" title="Download" ajax="false" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)" disabled="#{rifAllaccioNps.idDocumentoDownload eq null}" >
								<p:fileDownload value="#{FascicoloManagerBean.downloadFileNps(rifAllaccioNps.idDocumentoDownload)}" />
							</p:commandButton>
						</p:column>
				  	</p:dataTable> 
				</div>
				
				<p:dialog header="Dettaglio fascicolo NSD" widgetVar="dlgDettaglioFascicoloNsd" modal="true" showEffect="fade" hideEffect="fade" resizable="false"
					closable="true" id="dlgDettaglioFascicoloNsdId" onShow="dlgOnShowFixed(this.jqId);onShowForClosableDlg('dlgDettaglioFascicoloNsd'); PF('tabViewDettaglioFascicoloNsd').select(0);" 
					dynamic="true" position="center" appendTo="@form" draggable="false" style="max-height:45%; max-width:55%;min-height:45%; min-width:55%;"> 
		
					<div class="ui-fluid generic_marginTop">
						<p:tabView styleClass="ui-g-12" id="idTabsNsd" activeIndex="0" widgetVar="tabViewDettaglioFascicoloNsd" >
				
					<p:tab title="Dettaglio">
						<div class="ui-fluid generic_marginTop">
						<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
							    <p:outputLabel value="N. Prot" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Protocollatore" styleClass="DD_labelNormale"/>
							    <p:outputLabel value="Descr. Ufficio" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Descr Oggetto" styleClass="DD_labelNormale"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.idProtocollo}" readonly="true"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.descProtocollatore}" title="#{FascicoloManagerBean.protocolloByID.descProtocollatore}" readonly="true" styleClass="ellipsis"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.descUfficio}" title="#{FascicoloManagerBean.protocolloByID.descUfficio}" readonly="true" styleClass="ellipsis"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.descOggetto}" title="#{FascicoloManagerBean.protocolloByID.descOggetto}" readonly="true" styleClass="ellipsis"/> 
							   </p:panelGrid>
					<p:panelGrid rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'INGRESSO' or FascicoloManagerBean.protocolloByID.modalita eq 'USCITA'}" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
							    <p:outputLabel value="Data protocollo" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Mittente" styleClass="DD_labelNormale" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'INGRESSO'}"/>
								<p:outputLabel value="Destinatario" styleClass="DD_labelNormale" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'USCITA'}"/>
								<p:outputLabel value="Desc tipo doc" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Modalita" styleClass="DD_labelNormale" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'INGRESSO' or FascicoloManagerBean.protocolloByID.modalita eq 'USCITA'}"/> 
		
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.dataProtocollo}" readonly="true">
									<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
								</p:inputText>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.mittente}" title="#{FascicoloManagerBean.protocolloByID.mittente}" readonly="true" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'INGRESSO'}" styleClass="ellipsis"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.destinatario}" title="#{FascicoloManagerBean.protocolloByID.destinatario}" readonly="true" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'USCITA'}" styleClass="ellipsis"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.tipoDocumento}" title="#{FascicoloManagerBean.protocolloByID.tipoDocumento}" readonly="true"/>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.modalita}" readonly="true" rendered="#{FascicoloManagerBean.protocolloByID.modalita eq 'INGRESSO' or FascicoloManagerBean.protocolloByID.modalita eq 'USCITA'}" styleClass="ellipsis"/> 
					  </p:panelGrid>
					  	<p:panelGrid rendered="#{FascicoloManagerBean.protocolloByID.modalita ne 'INGRESSO' and FascicoloManagerBean.protocolloByID.modalita ne 'USCITA'}" columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							    <p:outputLabel value="Data protocollo" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Desc tipo doc" styleClass="DD_labelNormale"/>
							
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.dataProtocollo}" readonly="true">
									<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
								</p:inputText>
								<p:inputText value="#{FascicoloManagerBean.protocolloByID.tipoDocumento}" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">	  
							  	<p:outputLabel value="Chiuso" styleClass="DD_labelNormale"/>
								<p:selectBooleanCheckbox  value="#{FascicoloManagerBean.protocolloByID.flagChiuso}" disabled="true"/>
								<p:outputLabel value="Annullato" styleClass="DD_labelNormale"/>  
								<p:selectBooleanCheckbox  value="#{FascicoloManagerBean.protocolloByID.flagAnnullato}" disabled="true"/>
							 </p:panelGrid>
  
						</div> 
					</p:tab>
					
					<p:tab title="Documento">
						<div class="ui-fluid generic_marginTop">
							 <p:dataTable id="docPrincipaleNsdDT" value="#{FascicoloManagerBean.protocolloByID}" var="protocolloById">
								<p:column headerText="Documento Principale">
									<h:outputText value="#{protocolloById.descFileName}"/>
								</p:column>
								
								<p:column width="20%" styleClass="buttonsDiv buttonsLayout" headerText="Download" rendered="#{FascicoloManagerBean.protocolloByID.originalDocId ne null}">
									<p:commandButton icon="fa fa-download" title="Download #{FascicoloManagerBean.protocolloByID.descFileName}" ajax="false" >
										<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(FascicoloManagerBean.protocolloByID.originalDocId)}" />
									</p:commandButton>
								</p:column>
							</p:dataTable> 
							
							<p:dataTable id="allegatiNsdDT" value="#{FascicoloManagerBean.protocolloByID.listaAllegati}" var="allegato">
								<p:column headerText="Allegato">
									<h:outputText value="#{allegato.nomeFile}"/>
								</p:column>
								
								<p:column width="20%" styleClass="buttonsDiv buttonsLayout" headerText="Download">
									<p:commandButton icon="fa fa-download" title="Download #{allegato.nomeFile}" ajax="false" >
										<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(allegato.idDocumentale)}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div> 
					</p:tab>
					 
					 
				</p:tabView> 	  
						</div>  
						<p:outputPanel styleClass="buttonsDiv buttonsLayout">
					        <p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('dlgDettaglioFascicoloNsd').hide()" styleClass="uniqueCloseButton"/>
						</p:outputPanel>  
					</p:dialog>
				
				<ui:include src="dettaglioFascicoloNPS.xhtml"/>
				
			</p:tab>
			<p:tab title="Faldoni" >
				<div class="ui-g-12 generic_textAlignRight" >
					<p:commandButton value="Faldona" icon="fa fa-folder-open" ajax="true" action="#{FascicoloManagerBean.apriFaldonaFascicolo}"
						oncomplete="PF('wdgFaldonaFascicolo_DLGFALD').show()" update="@parent, @namingcontainer" disabled="#{SessionBean.utente.gestioneApplicativa}" />
					<ui:include src="../fascicoli/dlgFaldonatura.xhtml"><!-- FaldonaBean --></ui:include>
				</div>
				<div class="ui-g-12" >
					<p:dataTable id="idFaldoniTable_FM" 
						var="fal" value="#{FascicoloManagerBean.detail.faldoni}"  
						rowIndexVar="index" rowKey="#{fal.name}"
						rows="10"  
						emptyMessage="Nessun faldone" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" >
						
					    <p:column headerText="Numero"  styleClass="generic_textAlignCenter" rendered="false">
					        <p:outputLabel value="#{fal.nomeFaldone}"  />
					    </p:column>
					    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.oggettoPadre, 0,40)}" title="#{fal.oggettoPadre}" rendered="#{fal.oggettoPadre != null}"/>
					        <p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance" />
					        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,40)}" title="#{fal.oggetto}"	/>
			        	</p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0,40)}" title="#{fal.descrizioneFaldone}"	/>
					        <p:outputLabel value="..." rendered="#{fal.descrizioneFaldone.length() > 40}" />
					    </p:column>
					    <p:column headerText="Azioni"  styleClass="generic_textAlignCenter generic_width10" >
					        <p:commandButton ajax="true" action="#{FascicoloManagerBean.dissociaFaldone(index)}" icon="fa fa-times"
					        	update="idFaldoniTable_FM" />
					    </p:column>
					</p:dataTable>
				</div>
			</p:tab>
			<p:tab title="Assegnazioni">
				<dd:dettaglioDataDatatableAssegnazioni assegnazioni="#{FascicoloManagerBean.detail.assegnazioni}" />
			</p:tab>
			<p:tab title="Storico">
				<p:dataTable var="s" value="#{FascicoloManagerBean.detail.storico}" rows="10"  
					emptyMessage="Nessuna azione presente" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
				    <p:column headerText="Id"  styleClass="generic_textAlignCenter generic_width50px" filterMatchMode="contains" filterBy="#{s.idDocumento}" sortBy="#{s.idDocumento}" >
				        <p:outputLabel value="#{s.idDocumento}"  />
				    </p:column>
				    <p:column headerText="Ufficio mittente" styleClass=" generic_width120px generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.ufficioAssegnante}" sortBy="#{s.ufficioAssegnante}">
				        <p:outputLabel value="#{s.ufficioAssegnante}"  />
				    </p:column>
				    <p:column headerText="Utente mittente"  styleClass="generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.utenteAssegnante}" sortBy="#{s.utenteAssegnante}">
				        <p:outputLabel value="#{s.utenteAssegnante}"  />
				    </p:column>
				    <p:column headerText="Ufficio destinatario"  styleClass="generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.ufficioAssegnatario}" sortBy="#{s.ufficioAssegnatario}">
				        <p:outputLabel value="#{s.ufficioAssegnatario}"  />
				    </p:column>
				    <p:column headerText="Utente destinatario"  styleClass="generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.utenteAssegnatario}" sortBy="#{s.utenteAssegnatario}">
				        <p:outputLabel value="#{s.utenteAssegnatario}"  />
				    </p:column>
				    <p:column headerText="Data ora operazione"  styleClass="generic_textAlignCenter" sortBy="#{s.dataOperazione}" filterMatchMode="contains" filterBy="#{s.dataOperazione}">
				        <p:outputLabel value="#{s.dataOperazione}"  >
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
						</p:outputLabel>
				    </p:column>
				    <p:column headerText="Tipo operazione"  styleClass="generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.tipoOperazione}" sortBy="#{s.tipoOperazione}" >
				        <p:outputLabel value="#{s.tipoOperazione}"  />
				    </p:column>
				    <p:column headerText="Motivo assegnazione"  styleClass="generic_textAlignCenter" filterMatchMode="contains" filterBy="#{s.motivoAssegnazione}" sortBy="#{s.motivoAssegnazione}">
				        <p:outputLabel value="#{s.motivoAssegnazione}"  />
				    </p:column>
				</p:dataTable>
				
				
			</p:tab> 
		</p:tabView>

	</p:outputPanel>
	
	<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog  widgetVar="dlgVisualizzaDocumentiFascicoli"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumentiFascicoli', 'chiudiFascicoloManager_WV')"
		  resizable="false" closable="true" modal="true" appendTo="@form" onHide="PF('dlgVisualizzaDocumentiFascicoli').toggleMaximize();" >
		
		<p:outputPanel id="visualizzaDocFas_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{FascicoloManagerBean.viewDettaglioDoc}" dettagliodto="#{FascicoloManagerBean.documentoDto}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" widgetVar="chiudiFascicoloManager_WV" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocumentiFascicoli').hide();" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>

</ui:composition>