<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="westSectionContent">
		<ui:include src="../template/verticalMenu.xhtml" />
	</ui:define>

	<ui:define name="centralSectionContent">

  		<p:outputPanel styleClass="generic_overflowX" id="idOutSX_Center" >
  			<p:panelGrid id="labelFaldoni" styleClass="pnlgrid_noborder dettaglioFascicoloForUpdatePurpose" columns="2" layout="grid" columnClasses="ui-grid-col-9, ui-grid-col-3">
  			
				<h:outputText  rendered="#{FascicoliBean.nonClassificati and fn:length(FascicoliBean.rootFascicoli.children)>0 and !FascicoliBean.nessunaSelezione}"
					value="Sono presenti #{fn:length(FascicoliBean.rootFascicoli.children)} fascicoli non classificati." />
				<h:outputText rendered="#{FascicoliBean.nonClassificati and fn:length(FascicoliBean.rootFascicoli.children)==0 and !FascicoliBean.nessunaSelezione}"
					value="Non sono presenti fascicoli non classificati." />
					
	            <h:outputText  rendered="#{FascicoliBean.nonClassificati == false and fn:length(FascicoliBean.rootFascicoli.children)>0 and !FascicoliBean.nessunaSelezione}"
					value="Sono presenti #{fn:length(FascicoliBean.rootFascicoli.children)} fascicoli classificati." />
				<h:outputText rendered="#{FascicoliBean.nonClassificati == false and fn:length(FascicoliBean.rootFascicoli.children)==0 and !FascicoliBean.nessunaSelezione}"
					value="Non sono presenti fascicoli classificati." />
				
  			</p:panelGrid>
  			<p:panel id="gridtreeFaldoniId" styleClass="noBorderGrid">
				<p:tree id="treeFaldoni" value="#{FascicoliBean.rootFascicoli}" var="element"
					selectionMode="single" selection="#{FascicoliBean.selectedFascicolo}"
					dynamic="true" styleClass=" generic_input99 generic_no_background generic_noborder generic_height100 generic_width100 dettaglioFascicoloForUpdatePurpose"
					draggable="true" droppable="false" dragdropScope="demo" rendered="#{!FascicoliBean.nessunaSelezione}"
					filterBy="#{element.id} #{element.oggetto} #{element.documento.numeroDocumento} #{element.documento.numeroProtocollo} #{element.documento.annoProtocollo} #{element.documento.oggetto}"  filterMatchMode="contains">
					
			        <p:ajax event="select" listener="#{FascicoliBean.onFascicoloSelect}" update="eastSectionForm:idDettaglioDoc_Fas centralSectionForm:treeFaldoni"/>
					<p:ajax event="expand" listener="#{FascicoliBean.onExpandFascicolo}" />
					
					<p:treeNode type="dummy"/>
					<p:treeNode type="fascicolo" expandedIcon="ui-icon-folder-open"	collapsedIcon="ui-icon-folder-collapsed" styleClass="generic_width100" >				
						<!-- Asynchronus aggiunto per evitare la doppia rotella -->
						<p:commandButton icon="fa fa-pencil-square"	title="Visualizza dettaglio esteso"  async="true"
						 action="#{FascicoliBean.openDettaglioEstesoConAzioneAlCloseDialog(element)}" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
						 oncomplete="PF('dlgManageFascicolo_DF').show();" />
						<h:outputText value="#{element.id} - #{fn:length(element.oggetto) gt 70?fn:substring(element.oggetto,0,67).concat('...'):element.oggetto}" title="#{element.id} - #{element.oggetto}" >
						</h:outputText>
						
					</p:treeNode>
					<p:treeNode type="documento" icon="ui-icon-document" >
					   	<h:outputText title="Numero e Protocollo documento" value="ID: #{element.documento.numeroDocumento} - PROT: #{element.documento.numeroProtocollo}/#{element.documento.annoProtocollo}" 
					   		rendered="#{element.documento.numeroProtocollo!=null}"/> 
						<h:outputText title="#{element.documento.numeroDocumento}" value="ID: #{element.documento.numeroDocumento}" rendered="#{element.documento.numeroProtocollo==null}"/> 
						<h:outputText value=" - #{fn:length(element.documento.oggetto) gt 50?fn:substring(element.documento.oggetto,0,47).concat('...'):element.documento.oggetto}" title="#{element.documento.oggetto}" />
					</p:treeNode>
					
				</p:tree>
			</p:panel>
		</p:outputPanel>

	</ui:define>

	<ui:define name="eastSectionContent">
		<p:outputPanel styleClass="generic_padding0 generic_margin0 generic_height100" id="idDettaglioDoc_Fas" >
			<ui:include src="../documento/dettaglioDocumento.xhtml" />
		</p:outputPanel>
		
	</ui:define>

</ui:composition>
