<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:df="http://java.sun.com/jsf/composite/custom">

	<ui:define name="westSectionContent">
		<ui:include src="../template/verticalMenu.xhtml" />
	</ui:define>

	<ui:define name="centralSectionContent">

  		<p:outputPanel styleClass="generic_overflowX" id="idOutSX_Center" >
  			<p:outputPanel id="labelContentFascicoli" styleClass="pnlNomeCoda">
  				<h:outputText value="Fascicoli non Classificati" rendered="#{FascicoliBean.nonClassificati}"  />
  				<h:outputText value="#{FascicoliBean.selectedIndiceDiClassificazione}" rendered="#{!FascicoliBean.nonClassificati}"  />
  			</p:outputPanel>
  			<p:panelGrid id="labelFaldoni" styleClass="pnlgrid_noborder dettaglioFascicoloForUpdatePurpose" columns="2" layout="grid" columnClasses="ui-grid-col-9, ui-grid-col-3">
  			
				<h:outputText  rendered="#{FascicoliBean.nonClassificati and fn:length(FascicoliBean.fascicoli.masters)>0 and !FascicoliBean.nessunaSelezione}"
					value="Sono presenti #{fn:length(FascicoliBean.fascicoli.masters)} fascicoli non classificati." />
				<h:outputText rendered="#{FascicoliBean.nonClassificati and fn:length(FascicoliBean.fascicoli.masters)==0 and !FascicoliBean.nessunaSelezione}"
					value="Non sono presenti fascicoli non classificati." />
					
	            <h:outputText  rendered="#{FascicoliBean.nonClassificati == false and fn:length(FascicoliBean.fascicoli.masters)>0 and !FascicoliBean.nessunaSelezione}"
					value="Sono presenti #{fn:length(FascicoliBean.fascicoli.masters)} fascicoli classificati." />
				<h:outputText rendered="#{FascicoliBean.nonClassificati == false and fn:length(FascicoliBean.fascicoli.masters)==0 and !FascicoliBean.nessunaSelezione}"
					value="Non sono presenti fascicoli classificati." />
				
  			</p:panelGrid>
  			<p:outputPanel id="gridtreeFaldoniId" styleClass="noBorderGrid">
				
				<p:dataTable id="treeFaldoni" rendered="true" 
							 value="#{FascicoliBean.fascicoli.masters}" var="element" rowKey="#{element.id}" 
							 selectionMode="single" selection="#{FascicoliBean.fascicoli.currentMaster}"
							 styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="10,20,30" rows="10"  rowIndexVar="index"
							 filterDelay="#{SessionBean.preferenze.autocompleteDelay}"  >
					
					<p:ajax event="rowSelect" listener="#{FascicoliBean.onFascicoloSelect}" update="eastSectionForm:idDettaglioDoc_Fas, @this"/>
					<p:ajax event="filter" listener="#{FascicoliBean.hideDocument}" update="eastSectionForm:idDettaglioDoc_Fas, @this" />
					<p:ajax event="sort" listener="#{FascicoliBean.hideDocument}" update="eastSectionForm:idDettaglioDoc_Fas, @this" />
					
					<p:column name="Fascicolo" headerText="Descrizione" sortBy="#{element.oggetto}" filterBy="#{element.id} #{element.oggetto}" filterMatchMode="contains">
					 		<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Visualizza fascicolo"
					 						 oncomplete="PF('dlgManageFascicolo_DF').show();" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
					 						 action="#{FascicoliBean.dettaglioFascicolo.openDialogFascicolo}"  process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
  		 									 disabled="#{element.oggetto ne FascicoliBean.fascicoli.currentMaster.oggetto}">
  		 					</p:commandButton>
					 		<h:outputText value="#{FascicoliBean.getShortColumn(element.oggetto, 50)}" title="#{element.oggetto}"/>
			        </p:column>
			        
			        <p:column headerText="Creazione" sortBy="#{element.dataCreazione}" filterBy="#{element.dataCreazione}" filterMatchMode="contains"  
						styleClass="generic_textAlignCenter fald-column-data">
						<p:outputLabel value="#{element.dataCreazione}" >
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:outputLabel>
					</p:column>
					
				</p:dataTable>
				
			</p:outputPanel>
		</p:outputPanel>

	</ui:define>

	<ui:define name="eastSectionContent">
		<p:outputPanel styleClass="generic_padding0 generic_margin0 generic_height100" id="idDettaglioDoc_Fas" >
			<df:dettaglioFascicoloShared
				fascicoloCmp="#{FascicoliBean.dettaglioFascicolo.fascicoloCmp}"
				openDialogFascicolo="#{FascicoliBean.dettaglioFascicolo.openDialogFascicolo}"
				updateEsteso="idDettagliEstesiForm:idPanelFascicoloManager_DF"
			/>
		</p:outputPanel>
		
	</ui:define>

</ui:composition>
