<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>



Pet Type: #{yourPet.type}


	<br></br>
	<br></br>

Pet Name: #{yourPet.name}

	<br></br>
	<br></br>


Favourite Toys: 


<ul>
		<ui:repeat var="#{yourPet.favouriteToy}" value="temp">

			<li>#{temp}</li>
		</ui:repeat>

	</ul>




</h:body>
</html>
