<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>


	<h:form>

		Your Pet Type: <h:inputText id="petType" value="#{yourPet.type}"
					pt:placeholder="Insert your pet type here"></h:inputText>
		
				<br></br>
				<br></br>
		Your Pet Name: <h:inputText id="petName" value="#{yourPet.name}"
					pt:placeholder="Insert your pet name here"></h:inputText>
		
				<br></br>
				<br></br>
		
				Favourite pet toys: <h:selectManyCheckbox
					value="#{yourPet.favouriteToy}">
		
					<f:selectItems value="#{yourPet.favouriteToys}"></f:selectItems>
		
				</h:selectManyCheckbox>
				<br></br>
				<br></br>
		
		"
		<h:commandButton value="submit" action="index-response"></h:commandButton>
		

	</h:form>






</h:body>
</html>
