<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

	<h:form>

Nome: <h:inputText id="inputUser" value="#{student.name}"
			pt:placeholder="Insert your name here"></h:inputText>

		<br></br>
		<br></br>
Cognome: <h:inputText id="inputEmail" value="#{student.surname}"
			pt:placeholder="Insert your surname here"></h:inputText>

		<br></br>
		<br></br>
Email: <h:inputText id="inpuPassword" value="#{student.email}"
			pt:placeholder="Insert your email here"></h:inputText>

		<br></br>
		<br></br>
		
		<!-- Inseriamo un menu a tendina con il genere musicale -->
		
		Scelta genere musicale preferito: 
		<h:selectOneMenu value="#{student.favoureMusicGenre}">
			<f:selectItem itemValue="House" itemLabel="House"></f:selectItem>
			<f:selectItem itemValue="Indie" itemLabel="Indie"></f:selectItem>
			<f:selectItem itemValue="Metal" itemLabel="Metal"></f:selectItem>
			<f:selectItem itemValue="Punk Rock" itemLabel="Punk Rock"></f:selectItem>
			<f:selectItem itemValue="Country" itemLabel="Country"></f:selectItem>
			<f:selectItem itemValue="Trap" itemLabel="Trap"></f:selectItem>



		</h:selectOneMenu>


	<br></br>
	<br></br>
<h:commandButton value="submit" action="student-response"></h:commandButton>





	</h:form>


</h:body>
</html>
