<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

	<cc:interface>
		<cc:attribute name="anagDto" type="it.ibm.red.business.dto.AnagraficaDipendentiComponentDTO" required="true"/>
		<cc:attribute name="rendered" type="java.lang.Boolean"/>
		<cc:attribute name="anagDetailFieldName" type="java.lang.String" default="@(.clsAnagDetail)"/>
		<cc:attribute name="anagMastersFieldName" type="java.lang.String" default="@(.clsAnagMasters)"/>
		<cc:attribute name="pnlIndirizzoFieldName" type="java.lang.String" default="@(.clsPnlIndirizzo)"/>
		<cc:attribute name="pnlSearchAnagraficheFieldName" type="java.lang.String" default="@(.pnlSearchAnagrafiche)"/>
		<cc:attribute name="pnlSelectedValuesFieldName" type="java.lang.String" default="@(.pnlSelectedValues)"/>
		<cc:attribute name="pnlSelectedValuesDialog" type="java.lang.String" default="@(.listAnagDipPanel)"/>
		<cc:attribute name="inputTextStyle" type="java.lang.String"/>
		<cc:attribute name="cssDialog" type="java.lang.String" required="false" default="anagDipPanel"/>
		<cc:attribute name="disabled" type="java.lang.Boolean" default="false"/>
	</cc:interface>

	<cc:implementation>
		<p:outputPanel styleClass="generic_width93 ui-inputgroup pnlSelectedValues">
			<p:inputText id="selValues" value="ANAGRAFICHE SELEZIONATE: #{fn:length(cc.attrs.anagDto.selectedValues)}" readonly="true" styleClass="#{cc.attrs.inputTextStyle} generic_input100"/>
			<p:commandButton icon="fa fa-external-link" onclick="$('.accAnagDip-#{cc.attrs.anagDto.name}').css('display', 'block');" type="button" title="Apri dialog di selezione" disabled="#{cc.attrs.disabled}"/>
			<p:commandButton icon="fa fa-list" onclick="$('.listAnagDip-#{cc.attrs.anagDto.name}').css('display', 'block');" type="button" title="Mostra dettagli anagrafiche selezionate" disabled="#{cc.attrs.disabled or empty cc.attrs.anagDto.selectedValues}"/>
			<p:commandButton icon="fa fa-eraser" title="Cancella valore" action="#{AnagraficaDipendentiBean.resetSelection}" update="#{cc.attrs.pnlSelectedValuesFieldName}" disabled="#{cc.attrs.disabled}"/>
		</p:outputPanel>
		
		<p:panel styleClass="listAnagDip-#{cc.attrs.anagDto.name} modalPanel ui-widget-overlay" />
		<p:panel header="Valori selezionati per l'attributo [#{cc.attrs.anagDto.name}]" styleClass="listAnagDip-#{cc.attrs.anagDto.name} listAnagDipPanel ui-shadow">
		
			<p:outputPanel styleClass="pnlAnagDatalist" >
				<p:dataList value="#{cc.attrs.anagDto.selectedValues}" var="value" type="definition" styleClass="dlSelections">
			    	<div class="tpSelAnag">
				        [#{value.codiceFiscale}] #{value.nome} #{value.cognome}
			    	</div>
			    </p:dataList>
			</p:outputPanel>
			
			<p:outputPanel styleClass="buttonsDiv buttonsLayout generic_marginBottom5" >
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="$('.listAnagDip-#{cc.attrs.anagDto.name}').css('display', 'none');" title="Chiudi" type="button" />
			</p:outputPanel>
			
		</p:panel>

		<p:panel styleClass="accAnagDip-#{cc.attrs.anagDto.name} modalPanel ui-widget-overlay" />
		<p:panel header="Seleziona un valore per l'attributo [#{cc.attrs.anagDto.displayNameView}]" styleClass="accAnagDip-#{cc.attrs.anagDto.name} #{cc.attrs.cssDialog} ui-shadow">

			<div class="firstDivPanel" />
			<p:outputPanel styleClass="pnlSearchAnagrafiche">
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-6, ui-grid-col-6 ui-fluid"
						rendered="#{!AnagraficaDipendentiBean.newMode and !AnagraficaDipendentiBean.editAddrMode and !AnagraficaDipendentiBean.editMode}">
					<p:outputLabel value="Nome" />
					<p:inputText value="#{AnagraficaDipendentiBean.ricercaDTO.nome}" styleClass="generic_width95" />
					<p:outputLabel value="Cognome"/>
					<p:inputText value="#{AnagraficaDipendentiBean.ricercaDTO.cognome}" styleClass="generic_width95"/>
					<p:outputLabel value="Codice Fiscale" />
					<p:inputText value="#{AnagraficaDipendentiBean.ricercaDTO.codiceFiscale}" styleClass="generic_width95" />
				</p:panelGrid>
				<p:outputPanel styleClass="buttonsDiv buttonsLayout generic_marginBottom5" rendered="#{!AnagraficaDipendentiBean.newMode and !AnagraficaDipendentiBean.editAddrMode and !AnagraficaDipendentiBean.editMode}">
					<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid,ui-grid-col-4 ui-fluid"> 
						<p:commandButton icon="fa fa-search" value="Cerca" action="#{AnagraficaDipendentiBean.ricerca}" update="#{cc.attrs.anagMastersFieldName}" />
						<p:commandButton icon="fa fa-plus-square-o" value="Nuova" action="#{AnagraficaDipendentiBean.newAnagrafica}" update="#{cc.attrs.anagMastersFieldName} #{cc.attrs.pnlSearchAnagraficheFieldName}" />
						<p:commandButton icon="fa fa-times" value="Chiudi" onclick="$('.accAnagDip-#{cc.attrs.anagDto.name}').css('display', 'none');" title="Chiudi dialog" action="#{AnagraficaDipendentiBean.close}" update="#{cc.attrs.anagMastersFieldName} #{cc.attrs.pnlSearchAnagraficheFieldName}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel styleClass="clsAnagMasters">
				<p:outputPanel rendered="#{not empty AnagraficaDipendentiBean.dth.masters}">

					<p:dataTable rendered="#{!AnagraficaDipendentiBean.editAddrMode and !AnagraficaDipendentiBean.editMode}" widgetVar="wgdAnag" selection="#{AnagraficaDipendentiBean.dth.selectedMasters}"
							id="dtAnagrafiche" var="anagItem" styleClass="dtAnagrafiche" value="#{AnagraficaDipendentiBean.dth.masters}" rowKey="#{anagItem.id}" emptyMessage="Nessuna Anagrafica" paginator="true" 
							paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorTemplate="TOT #{fn:length(AnagraficaDipendentiBean.dth.masters)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorAlwaysVisible="false">
						<p:ajax event="rowSelect" listener="#{AnagraficaDipendentiBean.dth.rowSelector}" update="#{cc.attrs.anagDetailFieldName}" />
						<p:column selectionMode="multiple" styleClass="dtSelectionAnagrafiche" />
						<p:column headerText="CODICE" sortBy="#{anagItem.codice}" filterBy="#{anagItem.codice}" filterMatchMode="contains">
							<h:outputText value="#{anagItem.codice}" />
						</p:column>

						<p:column headerText="CODICE FISCALE" sortBy="#{anagItem.codiceFiscale}" filterBy="#{anagItem.codiceFiscale}" filterMatchMode="contains">
							<h:outputText value="#{anagItem.codiceFiscale}" />
						</p:column>

						<p:column headerText="NOME" sortBy="#{anagItem.nome}" filterBy="#{anagItem.nome}" filterMatchMode="contains">
							<h:outputText value="#{anagItem.nome}" />
						</p:column>

						<p:column headerText="COGNOME" sortBy="#{anagItem.cognome}" filterBy="#{anagItem.cognome}" filterMatchMode="contains">
							<h:outputText value="#{anagItem.cognome}" />
						</p:column>

						<p:column headerText="AZIONI" styleClass="azioniDT">
							<p:commandButton icon="fa fa-edit" title="Modifica" actionListener="#{AnagraficaDipendentiBean.editAnagrafica}" update="#{cc.attrs.anagMastersFieldName} #{cc.attrs.pnlSearchAnagraficheFieldName}" />
							<p:commandButton icon="fa fa-times" title="Elimina" actionListener="#{AnagraficaDipendentiBean.removeAnagrafica}" update="dtAnagrafiche #{cc.attrs.anagDetailFieldName}">
								<p:confirm header="Conferma Eliminazione Anagrafica" message="Vuoi procedere con l'eleminazione dell'anagrafica?" icon="pi pi-exclamation-triangle" />
							</p:commandButton>
						</p:column>

						<f:facet name="footer">
							<div class="generic_textAlignRight">
								<p:commandButton icon="fa fa-check" value="Seleziona e Chiudi" update="#{cc.attrs.pnlSelectedValuesFieldName} #{cc.attrs.pnlSelectedValuesDialog} #{cc.attrs.anagMastersFieldName} #{cc.attrs.pnlSearchAnagraficheFieldName}" action="#{AnagraficaDipendentiBean.selectClose}" onclick="$('.accAnagDip-#{cc.attrs.anagDto.name}').css('display', 'none');" />
							</div>
						</f:facet>

					</p:dataTable>

					<p:outputPanel styleClass="clsAnagDetail">

						<p:outputPanel rendered="#{AnagraficaDipendentiBean.dth.renderDetail}">

							<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid" rendered="#{!AnagraficaDipendentiBean.editMode}">
								<p:outputLabel value="Codice" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.codice}" readonly="true" />
								<p:outputLabel value="Codice Fiscale" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.codiceFiscale}" readonly="true" />
								<p:outputLabel value="Nome" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.nome}" readonly="true" />
								<p:outputLabel value="Cognome" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.cognome}" readonly="true" />

								<p:outputLabel value="Sesso" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.flagMaschio?'MASCHIO':'FEMMINA'}" readonly="true" />

								<p:outputLabel value="Data Nascita" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.dataNascita}" readonly="true">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>

								<p:outputLabel value="Comune di Nascita" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.comuneNascita}" readonly="true" />

								<p:outputLabel value="Provincia di Nascita" />
								<p:selectOneMenu value="#{AnagraficaDipendentiBean.dth.currentDetail.codiceProvinciaNascita}" disabled="true" styleClass="cbDisabled">
									<f:selectItem itemLabel="-" itemValue="" />
									<f:selectItems value="#{AnagraficaDipendentiBean.elencoProvincie}" var="provItem" itemValue="#{provItem.value}" itemLabel="#{provItem.description}" />
								</p:selectOneMenu>

								<p:outputLabel value="Stato Civile" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.flagCelibe?'CELIBE/NUBILE':'SPOSATO/A'}" readonly="true" />

								<p:outputLabel value="Pensione" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.flagPensione?'SI':'NO'}" readonly="true" />

								<p:outputLabel value="Ufficio emittente" />
								<p:inputText value="#{AnagraficaDipendentiBean.dth.currentDetail.ufficioMittente}" readonly="true" />

							</p:panelGrid>

							<p:dataTable var="addrItem" id="datatableIndirizzi" styleClass="dtIndirizzi generic_marginTop10" rowKey="#{addrItem.id}" rendered="#{!AnagraficaDipendentiBean.editAddrMode and !AnagraficaDipendentiBean.editMode}"
									emptyMessage="Nessun Indirizzo" value="#{AnagraficaDipendentiBean.dthIndirizzi.masters}" selectionMode="single" selection="#{AnagraficaDipendentiBean.dthIndirizzi.currentMaster}"
									paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorTemplate="TOT : {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorAlwaysVisible="false">

								<p:ajax event="rowSelect" update="#{cc.attrs.pnlIndirizzoFieldName}" listener="#{AnagraficaDipendentiBean.dthIndirizzi.rowSelector}" />

								<f:facet name="header">
									<div class="generic_textAlignLeft lblIndirizzi">Indirizzi</div>
									<div class="generic_textAlignRight">
										<p:commandButton icon="fa fa-plus" value="Aggiungi Indirizzo" action="#{AnagraficaDipendentiBean.addIndirizzo}" update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.pnlIndirizzoFieldName} #{cc.attrs.anagMastersFieldName}" />
									</div>
								</f:facet>
								<p:column headerText="DUG" sortBy="#{addrItem.descrizioneDug}" filterBy="#{addrItem.descrizioneDug}" filterMatchMode="contains">
									<h:outputText value="#{addrItem.descrizioneDug}" />
								</p:column>

								<p:column headerText="TOPONIMO" sortBy="#{addrItem.toponimo}" filterBy="#{addrItem.toponimo}" filterMatchMode="contains">
									<h:outputText value="#{addrItem.toponimo}" />
								</p:column>

								<p:column headerText="CIVICO" sortBy="#{addrItem.civico}" filterBy="#{addrItem.civico}" filterMatchMode="contains">
									<h:outputText value="#{addrItem.civico}" />
								</p:column>

								<p:column headerText="COMUNE" sortBy="#{addrItem.comune}" filterBy="#{addrItem.comune}" filterMatchMode="contains">
									<h:outputText value="#{addrItem.comune}" />
								</p:column>

								<p:column headerText="AZIONI" styleClass="azioniDT">
									<p:commandButton icon="fa fa-edit" title="Modifica" actionListener="#{AnagraficaDipendentiBean.editIndirizzo}" update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.pnlIndirizzoFieldName} #{cc.attrs.anagMastersFieldName}"/>
									<p:commandButton icon="fa fa-times" title="Elimina" actionListener="#{AnagraficaDipendentiBean.removeIndirizzo}" update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.pnlIndirizzoFieldName} #{cc.attrs.anagMastersFieldName}">
										<p:confirm header="Conferma Eliminazione Indirizzo" message="Vuoi procedere con l'eleminazione dell'indirizzo?" icon="pi pi-exclamation-triangle" />
									</p:commandButton>
							 	</p:column>

							</p:dataTable>

							<p:outputPanel styleClass="clsPnlIndirizzo">
								<p:outputPanel rendered="#{!AnagraficaDipendentiBean.editAddrMode and AnagraficaDipendentiBean.dthIndirizzi.renderDetail and !AnagraficaDipendentiBean.editMode}">

									<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid">

										<p:outputLabel value="Dug" />
										<p:selectOneMenu value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.codiceDug}" disabled="true">
											<f:selectItem itemLabel="-" itemValue="" />
											<f:selectItems value="#{AnagraficaDipendentiBean.elencoDug}" var="dugItem" itemValue="#{dugItem.value}" itemLabel="#{dugItem.description}" />
										</p:selectOneMenu>

										<p:outputLabel value="Toponimo" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.toponimo}" readonly="true" />

										<p:outputLabel value="Civico" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.civico}" readonly="true" />

										<p:outputLabel value="Cap" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.cap}" readonly="true" />

										<p:outputLabel value="Provincia" />
										<p:selectOneMenu value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.codiceProvincia}" disabled="true">
											<f:selectItem itemLabel="-" itemValue="" />
											<f:selectItems value="#{AnagraficaDipendentiBean.elencoProvincie}" var="provItem" itemValue="#{provItem.value}" itemLabel="#{provItem.description}" />
										</p:selectOneMenu>

										<p:outputLabel value="Comune" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.comune}" readonly="true" />

										<p:outputLabel value="Telefono" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.telefono}" readonly="true" />

										<p:outputLabel value="Fax" />
										<p:inputText value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.fax}" readonly="true" />

									</p:panelGrid>

									<div class="generic_textAlignCenter">
										<div class="generic_textAlignLeft">
											<p:outputLabel value="Note" styleClass="labelNote" />
										</div>
										<p:inputTextarea value="#{AnagraficaDipendentiBean.dthIndirizzi.currentDetail.note}" readonly="true" styleClass="generic_width98" />
									</div>

								</p:outputPanel>
								<p:outputPanel rendered="#{AnagraficaDipendentiBean.editAddrMode}">

									<p:separator />

									<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid">

										<p:outputPanel>
											<p:outputLabel value="Dug" />
											<p:outputLabel value="*" styleClass="generic_redStar"/>
										</p:outputPanel>
										<p:selectOneMenu value="#{AnagraficaDipendentiBean.newIndirizzo.codiceDug}">
											<f:selectItem itemLabel="-" itemValue="" />
											<f:selectItems value="#{AnagraficaDipendentiBean.elencoDug}" var="dugItem" itemValue="#{dugItem.value}" itemLabel="#{dugItem.description}" />
										</p:selectOneMenu>
										<p:outputPanel>
											<p:outputLabel value="Toponimo" />
											<p:outputLabel value="*" styleClass="generic_redStar"/>
										</p:outputPanel>
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.toponimo}" styleClass="obbligatorio ui-inputfield" />
										<p:outputLabel value="Civico" />
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.civico}" />
										<p:outputLabel value="Cap" />
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.cap}" />
										<p:outputLabel value="Provincia" />
										<p:selectOneMenu value="#{AnagraficaDipendentiBean.newIndirizzo.codiceProvincia}">
											<f:selectItem itemLabel="-" itemValue="" />
											<f:selectItems value="#{AnagraficaDipendentiBean.elencoProvincie}" var="provItem" itemValue="#{provItem.value}" itemLabel="#{provItem.description}" />
										</p:selectOneMenu>
										<p:outputPanel>
											<p:outputLabel value="Comune" />
											<p:outputLabel value="*" styleClass="generic_redStar"/>
										</p:outputPanel>
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.comune}" styleClass="obbligatorio ui-inputfield" />

										<p:outputLabel value="Telefono" />
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.telefono}" />

										<p:outputLabel value="Fax22" />
										<p:inputText value="#{AnagraficaDipendentiBean.newIndirizzo.fax}" />

									</p:panelGrid>

									<div class="generic_textAlignCenter">
										<div class="generic_textAlignLeft">
											<p:outputLabel value="Note" styleClass="labelNote" />
										</div>
										<p:inputTextarea value="#{AnagraficaDipendentiBean.newIndirizzo.note}" styleClass="generic_width98" />
									</div>

									<p:outputPanel styleClass="buttonsDiv buttonsLayout">
										<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="width: 80%;margin: 0 22%" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid">
											<p:commandButton icon="fa fa-check" value="Conferma" action="#{AnagraficaDipendentiBean.saveIndirizzo}" rendered="#{AnagraficaDipendentiBean.editAddrMode}" update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.pnlIndirizzoFieldName} #{cc.attrs.anagMastersFieldName}" />
											<p:commandButton icon="fa fa-times" value="Chiudi" action="#{AnagraficaDipendentiBean.closeIndirizzo}" update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.pnlIndirizzoFieldName} #{cc.attrs.anagMastersFieldName}" />
										</p:panelGrid>
									</p:outputPanel>

								</p:outputPanel>

							</p:outputPanel>

						</p:outputPanel>

					</p:outputPanel>

				</p:outputPanel>

				<p:outputPanel rendered="#{AnagraficaDipendentiBean.editMode or AnagraficaDipendentiBean.newMode}">
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputLabel value="Codice" />
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.codice}" styleClass="generic_width95" />
						<p:outputPanel> 
							<p:outputLabel value="Codice Fiscale" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.codiceFiscale}" styleClass="generic_width95 obbligatorio ui-inputfield" />
						<p:outputPanel>
							<p:outputLabel value="Nome" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.nome}" styleClass="generic_width95 obbligatorio ui-inputfield" />
						<p:outputPanel>
							<p:outputLabel value="Cognome" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.cognome}" styleClass="generic_width95  obbligatorio ui-inputfield" />

						<p:outputLabel value="Sesso" />
						<p:selectOneButton value="#{AnagraficaDipendentiBean.newAnagrafica.flagMaschio}">
							<f:selectItem itemLabel="MASCHIO" itemValue="true" />
							<f:selectItem itemLabel="FEMMINA" itemValue="false" />
						</p:selectOneButton>

						<p:outputLabel value="Data Nascita" />
						<p:calendar value="#{AnagraficaDipendentiBean.newAnagrafica.dataNascita}" maxdate="#{SessionBean.today}" showOn="button" pattern="dd/MM/yyyy" />

						<p:outputLabel value="Comune di Nascita" />
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.comuneNascita}" styleClass="generic_width95" />

						<p:outputLabel value="Provincia di Nascita" />
						<p:selectOneMenu value="#{AnagraficaDipendentiBean.newAnagrafica.codiceProvinciaNascita}">
							<f:selectItem itemLabel="-" itemValue="" />
							<f:selectItems value="#{AnagraficaDipendentiBean.elencoProvincie}" var="provItem" itemValue="#{provItem.value}" itemLabel="#{provItem.description}" />
						</p:selectOneMenu>

						<p:outputLabel value="Stato Civile" />
						<p:selectOneButton value="#{AnagraficaDipendentiBean.newAnagrafica.flagCelibe}">
							<f:selectItem itemLabel="CELIBE/NUBILE" itemValue="true" />
							<f:selectItem itemLabel="SPOSATO/A" itemValue="false" />
						</p:selectOneButton>

						<p:outputLabel value="Pensione" />
						<p:selectOneButton value="#{AnagraficaDipendentiBean.newAnagrafica.flagPensione}">
							<f:selectItem itemLabel="SI" itemValue="true" />
							<f:selectItem itemLabel="NO" itemValue="false" />
						</p:selectOneButton>

						<p:outputLabel value="Ufficio emittente" />
						<p:inputText value="#{AnagraficaDipendentiBean.newAnagrafica.ufficioMittente}" styleClass="generic_width95" />

					</p:panelGrid>

					<p:outputPanel styleClass="buttonsDiv buttonsLayout">
						<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid">
						
						<p:commandButton icon="fa fa-check" value="Salva" disabled="#{!AnagraficaDipendentiBean.newMode}"
							update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.anagMastersFieldName}"
							action="#{AnagraficaDipendentiBean.salvaAnagrafica}" />
						<p:commandButton icon="fa fa-check" value="Modifica" disabled="#{not AnagraficaDipendentiBean.editMode}"
							update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.anagMastersFieldName}"
							actionListener="#{AnagraficaDipendentiBean.modificaAnagrafica}" />
						<p:commandButton icon="fa fa-times" value="Chiudi"
							update="#{cc.attrs.pnlSearchAnagraficheFieldName} #{cc.attrs.anagMastersFieldName}"
							action="#{AnagraficaDipendentiBean.close}" />
						</p:panelGrid>
					</p:outputPanel>
					
				</p:outputPanel>

			</p:outputPanel>

		</p:panel>

	</cc:implementation>

</ui:composition>