<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<cc:interface>
		<cc:attribute name="assegnazioneOrganigrammaCmp" type="it.ibm.red.web.mbean.interfaces.IAssOrganigrammaComponent" required="true"/>
		<cc:attribute name="labelSize" type="java.lang.String" default="ui-g-4" required="false"></cc:attribute>
		<cc:attribute name="inputPanelSize" type="java.lang.String" default="ui-g-8" required="false"></cc:attribute>
		<cc:attribute name="withForm" type="java.lang.Boolean" default="true" required="false"></cc:attribute>
	</cc:interface>
	
	<cc:implementation>
		
		<p:outputPanel id="pnlAssegnatario" class="ui-g">
				
			<p:outputPanel styleClass="#{cc.attrs.labelSize}">
				<p:outputLabel value="Assegnatario" styleClass="generic_textBold"/>
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</p:outputPanel>
			
			<p:outputPanel styleClass="#{cc.attrs.inputPanelSize} ui-inputgroup obbligatorio">
				<p:inputText id="descAssegnatarioAssAuto" readonly="true" styleClass="obbligatorio-readonly textfield_input"
					value="#{cc.attrs.assegnazioneOrganigrammaCmp.descrizioneAssegnatario}"/>
					
				<p:commandButton id="btnOrgAssegnazione" icon="fa fa-sitemap" title="Organigramma" type="button"/>
				<p:commandButton id="btnPulisciAssegnazione" icon="fa fa-eraser" title="Pulisci Selezione" process="@this"
					actionListener="#{cc.attrs.assegnazioneOrganigrammaCmp.pulisciSelezioneAssegnatario}" update="#{cc.clientId}:descAssegnatarioAssAuto"/>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{cc.attrs.withForm}">
				<red:overlayOrganigrammaComponent organigrammaCmp="#{cc.attrs.assegnazioneOrganigrammaCmp}" organigrammaBtnId="#{cc.clientId}:btnOrgAssegnazione" updateOnSelect="#{cc.clientId}:descAssegnatarioAssAuto"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{!cc.attrs.withForm}">
				<red:overlayOrganigrammaNoFormComponent organigrammaCmp="#{cc.attrs.assegnazioneOrganigrammaCmp}" organigrammaBtnId="#{cc.clientId}:btnOrgAssegnazione" updateOnSelect="#{cc.clientId}:descAssegnatarioAssAuto"/>
			</p:outputPanel>
			
		</p:outputPanel>
		
	</cc:implementation>

</ui:composition>