<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

	<cc:interface>
		<cc:attribute name="capDto" type="it.ibm.red.business.dto.CapitoloSpesaMetadatoDTO" required="true"/>
		<cc:attribute name="selectedValueFieldName" type="java.lang.String" default="@(.selectedValue)"/>
		<cc:attribute name="searchPanelFieldName" type="java.lang.String" default="@(.pnlSearch)"/>
		<cc:attribute name="searchResultFieldName" type="java.lang.String" default="@(.pnlResult)"/>
		<cc:attribute name="inputPanelStyle" type="java.lang.String" default="generic_width93"/>
		<cc:attribute name="inputTextStyle" type="java.lang.String"/>
		<cc:attribute name="searchHeader" type="java.lang.String" default="Seleziona un valore per l'attributo [#{cc.attrs.capDto.displayNameView}]"/>
		<cc:attribute name="disabled" type="java.lang.Boolean" default="false"/>
		<cc:attribute name="cssDialog" type="java.lang.String" required="false" default="capitoliPanel"/>
	</cc:interface>

	<cc:implementation>
	
		<p:outputPanel id="idPnlValueSelected" styleClass="ui-inputgroup #{cc.attrs.inputPanelStyle}">
			<p:inputText value="#{cc.attrs.capDto.capitoloSelected}" readonly="true" styleClass="selectedValue generic_input100 #{cc.attrs.inputTextStyle}"/>
			<p:commandButton icon="fa fa-external-link" onclick="$('.dialogCapitolo-#{cc.attrs.capDto.name}').css('display', 'block');" type="button" title="Apri dialog di selezione"
				disabled="#{cc.attrs.disabled}"/>
			<p:commandButton icon="fa fa-eraser" title="Cancella valore" action="#{CapitoloSpesaBean.resetSelection}" update="#{cc.attrs.selectedValueFieldName}"
				disabled="#{cc.attrs.disabled}"/>
		</p:outputPanel>

		<p:panel styleClass="dialogCapitolo-#{cc.attrs.capDto.name} modalPanel ui-widget-overlay"/>

		<p:panel header="#{cc.attrs.searchHeader}" styleClass="dialogCapitolo-#{cc.attrs.capDto.name} #{cc.attrs.cssDialog} ui-shadow">

			<div class="firstDivPanel"/>

			<p:outputPanel style="width:90%; margin: 0 auto" styleClass="pnlSearch">
				<p:panelGrid columns="5" layout="grid" styleClass="ui-panelgrid-blank" 
					columnClasses="ui-grid-col-1, ui-grid-col-4,ui-grid-col-2, ui-grid-col-1, ui-grid-col-4">
					<p:outputLabel value="Codice"/>
					<p:inputText value="#{CapitoloSpesaBean.ricercaDTO.codice}" styleClass="generic_width100"/>
					<p:spacer/>
					<p:outputLabel value="Descrizione"/>
					<p:inputText value="#{CapitoloSpesaBean.ricercaDTO.descrizione}" styleClass="generic_width100"/>
				</p:panelGrid>
				<p:outputPanel styleClass="buttonsDiv buttonsLayout generic_marginBottom5">
					
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="width: 80%;margin: 0 22%" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid">
						<p:commandButton icon="fa fa-search" value="Cerca" action="#{CapitoloSpesaBean.ricerca}" update="#{cc.attrs.searchResultFieldName}"/>
						<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi dialog" action="#{CapitoloSpesaBean.close}" update="#{cc.attrs.searchResultFieldName} #{cc.attrs.searchResultFieldName}" onclick="$('.dialogCapitolo-#{cc.attrs.capDto.name}').css('display', 'none');"/>
					</p:panelGrid>
					
				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel styleClass="pnlResult">
			
				<p:dataTable 
							rendered="#{fn:length(CapitoloSpesaBean.dth.masters)>0}"
							var="capitolo" styleClass="dtAnagrafiche"
							value="#{CapitoloSpesaBean.dth.masters}"
							selectionMode="single"
							rowKey="#{capitolo.codice}" emptyMessage="Nessun Capitolo di Spesa"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="5"
							paginatorTemplate="TOT #{fn:length(CapitoloSpesaBean.dth.masters)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginatorAlwaysVisible="false">
	
					<p:ajax event="rowSelect" listener="#{CapitoloSpesaBean.rowSelector}" update="#{cc.attrs.searchPanelFieldName} #{cc.attrs.searchResultFieldName} #{cc.attrs.selectedValueFieldName}" oncomplete="$('.dialogCapitolo-#{cc.attrs.capDto.name}').css('display', 'none');"/>
				
					<p:column headerText="ANNO" sortBy="#{capitolo.anno}" filterBy="#{capitolo.anno}" filterMatchMode="contains">
						<h:outputText value="#{capitolo.anno}" />
					</p:column>
				
					<p:column headerText="CODICE" sortBy="#{capitolo.codice}" filterBy="#{capitolo.codice}" filterMatchMode="contains">
						<h:outputText value="#{capitolo.codice}" title="#{capitolo.descrizione}" />
					</p:column>
				
					<p:column headerText="UFFICIO COMPETENTE" sortBy="#{capitolo.ufficioCompetente}" filterBy="#{capitolo.ufficioCompetente}" filterMatchMode="contains">
						<h:outputText value="#{capitolo.ufficioCompetente}" />
					</p:column>
				
				</p:dataTable>			
			</p:outputPanel>

		</p:panel>

	</cc:implementation>

</ui:composition>