<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
> 

	<cc:interface>
		<cc:attribute name="fascicoloCmpNsd" type="it.ibm.red.web.document.mbean.component.DettaglioFascicoloNsdComponent"></cc:attribute>
		<cc:attribute name="updateEsteso" type="java.lang.String" />
	</cc:interface>

	<cc:implementation>
		<p:outputPanel id="idDettaglioFascicoloNsd_DF" styleClass="ui-g generic_padding0 generic_margin0 generic_height100 dettaglioFascicoloForUpdatePurpose">
			
			<div class="ui-g-12 generic_padding0 generic_margin0">
				<p:tabView styleClass="ui-g-12" id="idTabsNsd">
				
					<p:tab title="Dettaglio">
						<div class="ui-fluid generic_marginTop">
							<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel generic_marginBottom" cellpadding="10" columnClasses="ui-grid-col-12">
								<p:outputLabel value="#{fn:length(cc.attrs.fascicoloCmp.detail.oggetto) gt 65 ? 'Fascicolo: '.concat(fn:substring(cc.attrs.fascicoloCmp.detail.oggetto, 0, 65).concat('...')) : 'Fascicolo: '.concat(cc.attrs.fascicoloCmp.detail.oggetto)}" 
									title="#{cc.attrs.fascicoloCmp.detail.oggetto}" styleClass="DD_labelTitoletto"/>
							</p:panelGrid>
							
							  
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Num.Fascicolo" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Descrizione Fascicolo" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.numeroFascicolo}" title="#{cc.attrs.fascicoloCmpNsd.detail.numeroFascicolo}" readonly="true"/>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.descrizione}" title="#{cc.attrs.fascicoloCmpNsd.detail.descrizione}" readonly="true" styleClass="ellipsis"/> 
								
								<p:outputLabel value="Descr. Ufficio Proprietario" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Descrizione Titolario" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.descrUffProprietario}" title="#{cc.attrs.fascicoloCmpNsd.detail.descrUffProprietario}" readonly="true" styleClass="ellipsis"/>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.classificazione}" title="#{cc.attrs.fascicoloCmpNsd.detail.classificazione}" readonly="true" styleClass="ellipsis"/>
								
							</p:panelGrid>
							
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Data Apertura" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Nome Fascicolo" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.dataApertura}" title="#{cc.attrs.fascicoloCmpNsd.detail.dataApertura}" readonly="true">
									<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
								</p:inputText>
								<p:inputText value="#{cc.attrs.fascicoloCmpNsd.detail.nomeCartella}" title="#{cc.attrs.fascicoloCmpNsd.detail.nomeCartella}" readonly="true" styleClass="ellipsis"/> 
							</p:panelGrid>
						</div> 
					</p:tab>
					
					<p:tab title="Documenti">
					<p:treeTable id="fascDocTreeTable" widgetVar="fascDocTreeTableWV" value="#{cc.attrs.fascicoloCmpNsd.root}" var="fascDoc" emptyMessage="Il fascicolo non contiene documenti" paginator="false"
						 selectionMode="single" >
		 				
		 					<p:column headerText="Documenti e Fascicoli" styleClass="ellipsis">
						       	<span class="#{fascDoc.fascicolo ?'fa fa-folder-o':'fa fa-file'}" title="#{fascDoc.fascicolo ?'Fascicolo':'Documento'}"></span>
						       	<h:outputText title="#{fascDoc.nomeCartella}" value="#{fascDoc.nomeCartella}" styleClass="generic_textBold" style="margin-left:5px"/>
								<h:outputText title="#{fascDoc.nome}" value="#{fascDoc.nome}" styleClass="generic_textBold"/>
					        		 
						    		<p:commandButton icon="fa fa-download" title="Download #{fascDoc.nome}" ajax="false" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)" style="float:right;" rendered="#{fascDoc.nomeCartella eq null}">
										<p:fileDownload value="#{cc.attrs.fascicoloCmpNsd.downloadFilePrincipaleAllegato(fascDoc.iChronicleId)}" />
									</p:commandButton>
					        </p:column>
						</p:treeTable> 			 
					</p:tab>
					 
				</p:tabView>
			</div> 
		</p:outputPanel> 
	</cc:implementation>

</ui:composition>