<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="CategoriaDocumentoEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<cc:interface>
		<cc:attribute name="documentCmp" type="it.ibm.red.web.document.mbean.component.DetailDocumentRedComponent"></cc:attribute>
		<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.IDettaglioDocumentoEastButtonNoResp" />
	</cc:interface>

	<cc:implementation>
	<!-- 		<p:tab title="Dettaglio"> -->
		<div class="generic_height100 generic_width100 generic_overflow" >
			<p:accordionPanel styleClass="DD_accordionContent titleCollapsableDetail generic_padding0 generic_margin0 dettaglioFascicoloForUpdatePurpose" >
				<p:tab title="Dati sintetici" styleClass="DD_accordionContent generic_padding0 generic_margin0" >
					<div class="ui-fluid noborder">
						<p:outputPanel styleClass="documento-label">
							<p:outputPanel rendered="#{cc.attrs.documentCmp.detail.visualizzaInformativaRR and cc.attrs.documentCmp.detail.numeroProtocollo eq null}" styleClass="ui-g-12">
								<span class="fa fa-info " style="color: #2779aa;" ></span>
								<p:outputLabel value=" Il documento verrà repertoriato all'interno del registro #{cc.attrs.documentCmp.detail.descrizioneRegistroRepertorio}" styleClass="DD_labelTitoletto check-red" />
							</p:outputPanel>
							<p:outputPanel rendered="#{cc.attrs.documentCmp.detail.visualizzaInformativaRR and cc.attrs.documentCmp.detail.numeroProtocollo ne null}" styleClass="ui-g-12">
								<span class="fa fa-info " style="color: #2779aa;" ></span>
								<p:outputLabel value="Registro di Repertorio: #{cc.attrs.documentCmp.detail.descrizioneRegistroRepertorio}" styleClass="DD_labelTitoletto check-red" />
							</p:outputPanel>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-10 label_margin_top,ui-grid-col-2">
								<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.numeroProtocollo ne null and (cc.attrs.documentCmp.detail.numeroProtocollo ne cc.attrs.documentCmp.detail.numeroProtocolloEmergenza )  and (cc.attrs.documentCmp.detail.isModalitaRegistroRepertorio eq null or cc.attrs.documentCmp.detail.isModalitaRegistroRepertorio eq false)}" value="Documento: ID: #{cc.attrs.documentCmp.detail.numeroDocumento} - PROT: #{cc.attrs.documentCmp.detail.numeroProtocollo}/#{cc.attrs.documentCmp.detail.annoProtocollo} del #{cc.attrs.documentCmp.detail.dataProtocolloString}" styleClass="DD_labelTitoletto generic_displayBlock"/>
								<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.numeroProtocollo ne null and (cc.attrs.documentCmp.detail.numeroProtocollo eq cc.attrs.documentCmp.detail.numeroProtocolloEmergenza and cc.attrs.documentCmp.detail.annoProtocollo eq cc.attrs.documentCmp.detail.annoProtocolloEmergenza)}" value="Documento: ID: #{cc.attrs.documentCmp.detail.numeroDocumento} - PROT: RE #{cc.attrs.documentCmp.detail.numeroProtocollo}/#{cc.attrs.documentCmp.detail.annoProtocollo} del #{cc.attrs.documentCmp.detail.dataProtocolloString}" styleClass="DD_labelTitoletto generic_displayBlock" />
								<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.numeroProtocollo eq null}" value="Documento: ID: #{cc.attrs.documentCmp.detail.numeroDocumento}" styleClass="DD_labelTitoletto generic_textBold " />
								<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.numeroProtocollo ne null and (cc.attrs.documentCmp.detail.numeroProtocollo ne cc.attrs.documentCmp.detail.numeroProtocolloEmergenza ) and cc.attrs.documentCmp.detail.isModalitaRegistroRepertorio eq true}" value="Documento: ID: #{cc.attrs.documentCmp.detail.numeroDocumento} - RR #{cc.attrs.documentCmp.detail.numeroProtocollo}/#{cc.attrs.documentCmp.detail.annoProtocollo} del #{cc.attrs.documentCmp.detail.dataProtocolloString}" styleClass="DD_labelTitoletto generic_displayBlock" />
							    
							    <p:commandButton actionListener="#{cc.attrs.documentCmp.getDownloadEtichette(null)}" rendered="#{cc.attrs.documentCmp.master.idProtocollo ne null and cc.attrs.documentCmp.utente.stampaEtichetteResponse and cc.attrs.documentCmp.master.stampaEtichette}" styleClass="generic_floatRight" title="Stampa etichette" icon="fa fa-print" />
									 
							</p:panelGrid>
						</p:outputPanel>
		
						<p:panelGrid columns="2" rendered="#{cc.attrs.documentCmp.detail.numeroProtocolloEmergenza ne null and (cc.attrs.documentCmp.detail.numeroProtocollo ne cc.attrs.documentCmp.detail.numeroProtocolloEmergenza)}" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4 label_margin_top,ui-grid-col-8">
							<p:outputLabel value="Protocollo Emergenza" styleClass="DD_labelNormale"/>
							<p:inputText value="RE #{cc.attrs.documentCmp.detail.numeroProtocolloEmergenza} / #{cc.attrs.documentCmp.detail.annoProtocolloEmergenza} del #{cc.attrs.documentCmp.detail.dataProtocolloEmergenzaString}" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid columns="2" rendered="#{cc.attrs.documentCmp.detail.flagEntrata}" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Tipo" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Formato" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipoCategoriaDoc}" readonly="true"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.formatoDocumentoEnum}" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid columns="2" rendered="#{cc.attrs.documentCmp.detail.descFlusso != null}" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Flusso" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Procedimento" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descFlusso}" readonly="true"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.idProcedimento}" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid columns="2" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata}"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4 label_margin_top,ui-grid-col-8">
							<p:outputLabel value="Tipo" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipoCategoriaDoc}" readonly="true"/>
						</p:panelGrid>
						<hr />
						<p:panelGrid rendered="#{cc.attrs.documentCmp.detail.flagEntrata}" columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Tipologia documento" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Tipo procedimento" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipologiaDocumento}" readonly="true"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipoProcedimento}" readonly="true"/>
							<p:outputLabel value="Mittente" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Mezzo di ricezione" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.mittenteContatto.aliasContatto}" readonly="true"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.mezzoRicezioneDTO.descrizione}" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid rendered="#{!cc.attrs.documentCmp.detail.flagEntrata}" columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Tipologia documento" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Tipo procedimento" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipologiaDocumento}" readonly="true"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.descTipoProcedimento}" readonly="true"/>
						</p:panelGrid>
						<br/>
					<p:dataTable var="d"  styleClass="no_body_overflow_x generic_width100" scrollable="true" id="destinatari" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata}" value="#{cc.attrs.documentCmp.detail.destinatari}" emptyMessage="Nessun destinatario" rowIndexVar="index" paginator="false">
						<p:column headerText="Destinatario">
							<p:outputLabel id="dest" value="#{d.contatto.aliasContatto}" />
							 <p:tooltip for="dest" shared="true" atPosition="top center" myPosition="bottom center" showDelay="500">
								<p:panelGrid columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4, ui-grid-col-8">
									<p:outputLabel value="Alias" styleClass="generic_textBold" />
									<p:outputLabel value="#{d.contatto.aliasContatto}" />
									<p:outputLabel value="Nome" styleClass="generic_textBold" />
									<p:outputLabel value="#{d.contatto.nome} #{d.contatto.cognome}" />
									<p:outputLabel value="PEO" styleClass="generic_textBold generic_marginRight50" />
									<p:outputLabel value="#{d.contatto.mail}" />
									<p:outputLabel value="PEC" styleClass="generic_textBold generic_marginRight50" />
									<p:outputLabel value="#{d.contatto.mailPec}" />
									<p:outputLabel value="Cell" styleClass="generic_textBold" />
									<p:outputLabel value="#{d.contatto.cellulare}" />
								</p:panelGrid>
				            </p:tooltip>
						</p:column>
						
						<p:column headerText="Mezzo" styleClass="generic_textAlignCenter">
							<p:outputLabel rendered="#{!cc.attrs.documentCmp.detail.elettronicoViaSistemaAusiliarioNPS}" value="#{d.mezzoSpedizioneEnum}" />
							<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.elettronicoViaSistemaAusiliarioNPS}" value="#{'Elettronico via '.concat(cc.attrs.documentCmp.detail.sistemaAusiliarioNPS)}" />
						</p:column>
	
						<p:column headerText="Int/Est" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.tipologiaDestinatarioEnum}" />
						</p:column>
	
						<p:column headerText="To/Cc" styleClass="generic_textAlignCenter generic_padding-right20" >
							<p:outputLabel value="#{d.modalitaDestinatarioEnum}" />
						</p:column>
						
					</p:dataTable>
						<p:panelGrid columns="1"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
							<p:outputLabel value="Oggetto:" styleClass="DD_labelNormale"/>
							<p:inputTextarea readonly="true" value="#{cc.attrs.documentCmp.detail.oggetto}" rows="5"/>
						</p:panelGrid>
						<p:panelGrid columns="3"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel no_right_padding" 
							columnClasses="ui-grid-col-8,ui-grid-col-3 label_margin_top, ui-grid-col-3 generic_no-padding-right" >
							<p:outputPanel styleClass="generic_marginTop5">
								<p:selectBooleanCheckbox itemLabel="Riservato" value="#{cc.attrs.documentCmp.detail.riservato==1}" disabled="true"/>
								<p:selectBooleanCheckbox itemLabel="Urgente" value="#{cc.attrs.documentCmp.detail.urgente}" disabled="true"/>
								<p:selectBooleanCheckbox itemLabel="Integrazione Dati" value="#{cc.attrs.documentCmp.detail.integrazioneDati}" rendered="#{cc.attrs.documentCmp.integrazioneDatiVisible}" disabled="true"/>
							</p:outputPanel>
							<p:outputLabel value="Data Scadenza" styleClass="DD_labelNormale"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.dataScadenza}" readonly="true">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</p:panelGrid>	
						<hr />
						<p:panelGrid columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4 label_margin_top,ui-grid-col-8">
							<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.flagEntrata}" value="Protocollo mittente" styleClass="DD_labelNormale"/>
							<p:inputText rendered="#{cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.protocolloMittente ne null}" value="#{cc.attrs.documentCmp.detail.protocolloMittente} / #{cc.attrs.documentCmp.detail.annoProtocolloMittente}" readonly="true"/>
							<p:inputText rendered="#{cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.protocolloMittente eq null}" value="" readonly="true"/>
							<p:outputLabel rendered="#{cc.attrs.documentCmp.detail.flagEntrata}" value="Assegnatario per competenza" styleClass="DD_labelNormale"/>
							<p:inputText rendered="#{cc.attrs.documentCmp.detail.flagEntrata}" value="#{cc.attrs.documentCmp.detail.assegnatarioCompetenza}" readonly="true"/>
							
							<p:outputLabel value="Iter approvativo" styleClass="DD_labelNormale" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo!=null}"/>
							<p:inputText value="#{cc.attrs.documentCmp.detail.iterApprovativoSemaforo}" readonly="true" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo!=null}"/>

							<p:outputLabel value="Iter approvativo" styleClass="DD_labelNormale" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo==null and cc.attrs.documentCmp.detail.wobNumberPrincipale != null}"/>
							<p:inputText value="MANUALE" readonly="true" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo==null and cc.attrs.documentCmp.detail.wobNumberPrincipale != null}"/>
							
							<p:outputLabel value="Iter approvativo" styleClass="DD_labelNormale" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo==null}" />
							<p:inputText  value="Assegnazione per #{cc.attrs.documentCmp.detail.assegnazioni[0].tipoAssegnazione.descrizione}" readonly="true" rendered="#{!cc.attrs.documentCmp.detail.flagEntrata and cc.attrs.documentCmp.detail.iterApprovativoSemaforo==null}" />
						
							
							<p:outputLabel value="Indice di classificazione" styleClass="DD_labelNormale"/>
							<p:inputText rendered="#{cc.attrs.documentCmp.detail.descrizioneTitolarioFascicoloProcedimentale!=null}" value="#{cc.attrs.documentCmp.detail.indiceClassificazioneFascicoloProcedimentale} - #{cc.attrs.documentCmp.detail.descrizioneTitolarioFascicoloProcedimentale}" readonly="true"/>
							<p:inputText rendered="#{cc.attrs.documentCmp.detail.descrizioneTitolarioFascicoloProcedimentale==null}" value="#{cc.attrs.documentCmp.detail.indiceClassificazioneFascicoloProcedimentale}" readonly="true"/>
							<p:outputLabel value="Nome fascicolo" styleClass="DD_labelNormale"/>
							<p:outputPanel>
								<div class="ui-inputgroup">
									<span class="ui-inputgroup-addon fascicolo-prefisso" >#{cc.attrs.documentCmp.detail.prefixFascicoloProcedimentale}</span>
									<p:inputText value="#{cc.attrs.documentCmp.detail.descrizioneFascicoloProcedimentale}" readonly="true"/>
								</div>
							</p:outputPanel>
						</p:panelGrid>
					</div>				
				</p:tab>
				
				<p:tab title="Fascicoli" rendered="#{fn:length(cc.attrs.documentCmp.detail.fascicoli) gt 0}">
				  	<div class="alignRightAndPadding3px" >
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" value=" Apri fascicolo procedimentale" title="Apri fascicolo procedimentale" action="#{cc.attrs.bean.openFascicoloProcedimentale()}" process="@this"/>
  		 			
					</div>
		        	<p:dataTable var="fas" value="#{cc.attrs.documentCmp.detail.fascicoli}" rowIndexVar="index" rows="10" 
						emptyMessage="Nessun fascicolo" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
					    <p:column headerText="Nome" styleClass="generic_textAlignCenter generic_width15">
					        <p:commandLink value="#{fas.idFascicolo}" title="Apri fascicolo" action="#{cc.attrs.documentCmp.openFascicoloView(index)}" process="@this"/>
					        <p:outputLabel value="*" title="Fascicolo Procedimentale" rendered="#{fas.idFascicolo eq cc.attrs.documentCmp.detail.idFascicoloProcedimentale}" />
					    </p:column>
					    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
					        <p:outputLabel value="#{(fn:length(fas.descrizione) gt 60) ? fn:substring(fas.descrizione, 0, 60).concat('...') : fas.descrizione}" 
					        	title="#{fas.descrizione}"/>
					    </p:column>
					    <p:column headerText="Indice di classificazione" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.indiceClassificazione} - #{fas.descrizioneTitolario}" title="#{fas.descrizioneTitolario}"/>
					    </p:column>
					    <p:column headerText="Data" styleClass="generic_textAlignCenter generic_width20">
					        <p:outputLabel value="#{fas.dataCreazione}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel>
					    </p:column>
					    <p:column headerText="Faldone" styleClass="generic_textAlignCenter">
					    	<ui:repeat rendered="#{fas.faldoni ne null}" value="#{fas.faldoni}" var="fal">
					    		<div>
						    		<p:outputLabel value="#{fal.name}"/>
						        	-
						        	<p:outputLabel title="#{fal.descrizioneFaldone}" value="#{fn:substring(fal.oggetto, 0, 20)}"/>
				        		</div>
					    	</ui:repeat>
					    </p:column>
					</p:dataTable>
		        </p:tab>
				        
				<p:tab title="Faldoni" rendered="#{fn:length(cc.attrs.documentCmp.detail.faldoni) ne 0}">
		        	<p:dataTable var="fal" emptyMessage="Nessun faldone" value="#{cc.attrs.documentCmp.detail.faldoni}"  paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5"  paginatorAlwaysVisible="false">
					    <p:column headerText="Numero"  styleClass="generic_textAlignCenter" visible="false">
					        <p:outputLabel value="#{fal.name}"  />
					    </p:column>
					    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
					    	<p:outputLabel value="#{fn:substring(fal.oggettoPadre, 0,40)}" title="#{fal.oggettoPadre}" rendered="#{fal.oggettoPadre != null}"/>
							<p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance" />
					        <p:outputLabel value="#{fn:length(fal.oggetto) gt 30?fn:substring(fal.oggetto, 0,30).concat('...'):fal.oggetto}" title="#{fal.oggetto}"	/>
			        	</p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:length(fal.descrizioneFaldone) gt 30?fn:substring(fal.descrizioneFaldone, 0,30).concat('...'):fal.descrizioneFaldone}" 
					        	title="#{fal.descrizioneFaldone}"	/>
					    </p:column>
					</p:dataTable>
	        	</p:tab>
				        
		        <p:tab title="Allacci" rendered="#{fn:length(cc.attrs.documentCmp.detail.allacci) ne 0}">
		        	<p:dataTable var="a" value="#{cc.attrs.documentCmp.detail.allacci}" emptyMessage="Nessun allaccio"
		        		 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5"  paginatorAlwaysVisible="false">
		        		<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo != null}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="Protocollo: " />
							<p:outputLabel value="#{a.document.numeroProtocollo}" />
							<p:outputLabel value=" / " />
							<p:outputLabel value="#{a.document.annoProtocollo}" />
							<p:outputLabel value=" - #{a.document.numeroDocumento}" />
						</p:column>
						<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo == null}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="Documento: " />
							<p:outputLabel value="#{a.document.numeroDocumento}" />
							<p:outputLabel value=" / " />
							<p:outputLabel value="#{a.document.annoDocumento}" />
						</p:column>
						<p:column headerText="Oggetto" styleClass="generic_textAlignCenter">
							<p:outputLabel title="#{a.document.oggetto}" value="#{fn:substring(a.document.oggetto, 0,20)}"/>
						</p:column>
						<p:column headerText="Ufficio" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{a.document.ufficioMittente.descrizione}"/>
						</p:column>
	<!-- 								<p:column headerText="File" styleClass=""> -->
	<!-- 									<p:outputLabel title="#{a.document.nomeFile}" value="#{fn:substring(a.document.nomeFile, 0,20)}"  styleClass="" /> -->
	<!-- 								</p:column> -->
						<p:column headerText="Tipo Allaccio" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{a.tipoAllaccioEnum}"/>
						</p:column>
					</p:dataTable>
		        </p:tab>
				        
		        <p:tab title="Assegnazioni" rendered="#{fn:length(cc.attrs.documentCmp.detail.assegnazioni)!=0}" disabled="#{cc.attrs.documentCmp.detail.wobNumberSelected eq null}">					
					<dd:dettaglioDataDatatableAssegnazioni assegnazioni="#{cc.attrs.documentCmp.detail.assegnazioni}" />
		        </p:tab>
	
		        <p:tab title="Contributi" rendered="#{fn:length(cc.attrs.documentCmp.detail.contributi)!=0}">
		        	<p:dataTable var="c" value="#{cc.attrs.documentCmp.detail.contributi}" rowIndexVar="index" emptyMessage="Nessun contributo" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5"  paginatorAlwaysVisible="false" >
					    <p:column headerText="Data" styleClass="generic_textAlignCenter generic_width65px">
					        <p:outputLabel value="#{c.dataContributo}" />
					    </p:column>
					    <p:column headerText="Ufficio" styleClass="generic_textAlignCenter generic_width30px">
					        <p:outputLabel value="#{c.descUfficio}"  />
					    </p:column>
					    <p:column headerText="Utente" styleClass="generic_textAlignCenter generic_width30px" >
					        <p:outputLabel value="#{c.descUtente}" />
					    </p:column>
					    <p:column headerText="Testo" styleClass="generic_textAlignCenter generic_width40px" >
					        <p:outputLabel value="#{c.abstractNota}" title="#{c.nota}"/>
					    </p:column>
					    <p:column headerText=""  styleClass="generic_textAlignCenter generic_width32px">
					        <p:commandButton title="Download #{c.filename}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						        <p:fileDownload value="#{cc.attrs.documentCmp.downloadContributo(index)}" />
						    </p:commandButton>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        
		        <p:tab title="Attributi Estesi" rendered="#{not empty cc.attrs.documentCmp.detail.metadatiEstesi}">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4,ui-grid-col-8">
						<c:forEach var="metadato" items="#{cc.attrs.documentCmp.detail.metadatiEstesi}">
							<p:outputLabel value="#{metadato.displayNameView}" styleClass="DD_labelNormale"/>
							<p:inputText value="#{metadato.selectedValue}" title="#{metadato.selectedValue}" readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'S' or metadato.type.code eq 'I'}"/>
							<p:inputText value="#{metadato.selectedValue}" title="#{metadato.selectedValue}" readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'U'}">
								<f:convertNumber pattern="0.00"/>
							</p:inputText>
							<p:inputText value="#{metadato.selectedValue}" title="#{metadato.selectedValue}" readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'D'}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>  
							</p:inputText>
							<p:inputText value="#{metadato.capitoloSelected}" title="#{metadato.capitoloSelected}"  readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'C'}"/>
							<p:inputText value="#{metadato.lookupValueSelected.description}" title="#{metadato.lookupValueSelected.description}" readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'L'}"/>
							<p:inputText value="ANAGRAFICHE SELEZIONATE: #{fn:length(metadato.selectedValues)}" readonly="true" style="width:100%" rendered="#{metadato.type.code eq 'P'}">
								<p:tooltip for="@parent" style="color: black;">
									<p:dataList value="#{metadato.selectedValues}" var="value" type="definition" styleClass="dlSelections">
										<div class="tpSelAnag">
											[#{value.codiceFiscale}] #{value.nome} #{value.cognome}
										</div>
									</p:dataList>			
								</p:tooltip>
							</p:inputText>
						</c:forEach>
					</p:panelGrid>
		        </p:tab>
		        
		        
			</p:accordionPanel>
			
			<p:outputPanel styleClass="ui-g buttonsDiv buttonsLayout" rendered="#{cc.attrs.bean != null}">
				<div class="ui-g-4">
					<dd:openDocumentoEstesoButton bean="#{cc.attrs.bean}" valueEsteso="true" />
				</div>
				<div class="ui-g-4">
					<p:commandButton type="submit" icon="fa fa-expand" value="Visualizza Documenti" title="Visualizza Documenti" styleClass="generic_width100" action="#{cc.attrs.bean.openVisualizzaDocumento}" process="@this" update="@form:visualizzaDoc_opnl" oncomplete="PF('dlgVisualizzaDocumenti').show();PF('dlgVisualizzaDocumenti').toggleMaximize();" />
				</div>
				<div class="ui-g-4">
					<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" value="Fasc. Procedimentale" title="Apri fascicolo procedimentale" action="#{cc.attrs.bean.openFascicoloProcedimentale()}" process="@this" />
				</div>
			</p:outputPanel>
		</div>
		
<!-- 		</p:tab> -->
		
	</cc:implementation>
</ui:composition>