<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	 

	<cc:implementation>
		<p:outputPanel styleClass="pdfViewer generic_padding0 generic_margin0">
			<iframe title="Frame tab stampa" onload="clickPrintButton()" id="pdfPreviewStampa" class="pdfViewer generic_minHeight600px generic_padding0 generic_margin0 generic_noborder" src="#{request.contextPath}/pdfjs/web/viewer.html?printDocument=true" />
		</p:outputPanel>
	</cc:implementation>

</ui:composition>