<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<cc:interface>
		<cc:attribute name="documentCmp" type="it.ibm.red.web.document.mbean.interfaces.IDetailPreviewComponent"></cc:attribute>
		<cc:attribute name="isDocumentoIngresso" type="java.lang.Integer" required="false" default="-1"></cc:attribute>
		<cc:attribute name="idTipoAssegnazione" type="java.lang.Integer" required="false" default="-1" ></cc:attribute>
		<cc:attribute name="idTipologiaDocumento" type="java.lang.Integer" required="false" default="-1" ></cc:attribute>
		<cc:attribute name="idUfficioCreatore" type="java.lang.Integer" required="false" default="-1" ></cc:attribute>
		<cc:attribute name="showAnnotation" type="java.lang.Boolean" required="true" ></cc:attribute>
	</cc:interface>

	<cc:implementation>
	
		<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable and not empty cc.attrs.documentCmp.cryptoId}" styleClass="pdfViewer generic_height99 generic_padding0 generic_margin0">
			<iframe title="Frame tab preview" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
			src="#{request.contextPath}/DownloadContentServlet?params=#{cc.attrs.documentCmp.cryptoId}&amp;_=#{session.lastAccessedTime}&amp;isDocumentoIngresso=#{cc.attrs.isDocumentoIngresso}&amp;idTipoAssegnazione=#{cc.attrs.idTipoAssegnazione}&amp;idTipologiaDocumento=#{cc.attrs.idTipologiaDocumento}&amp;idUfficioCreatore=#{cc.attrs.idUfficioCreatore}&amp;contentLibroFirma=#{cc.attrs.showAnnotation}"></iframe>
		</p:outputPanel>

		<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable and not empty cc.attrs.documentCmp.cryptoId}" styleClass="pdfViewer generic_height99 generic_padding0 generic_margin0">
			<iframe title="Frame tab preview" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" id="pdfViewerRicerca" 
			src="#{request.contextPath}/pdfjs/web/viewer.html?file=#{cc.attrs.documentCmp.cryptoId}&amp;_=#{session.lastAccessedTime}&amp;isDocumentoIngresso=#{cc.attrs.isDocumentoIngresso}&amp;idTipoAssegnazione=#{cc.attrs.idTipoAssegnazione}&amp;idTipologiaDocumento=#{cc.attrs.idTipologiaDocumento}&amp;idUfficioCreatore=#{cc.attrs.idUfficioCreatore}&amp;contentLibroFirma=#{cc.attrs.showAnnotation}"/>
		</p:outputPanel>

	</cc:implementation>

</ui:composition>