<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
> 

	<cc:interface>
		<cc:attribute name="protocolloCmpNsd" type="it.ibm.red.web.document.mbean.component.DettaglioProtocolloNsdComponent"></cc:attribute>
		<cc:attribute name="updateEsteso" type="java.lang.String" />
	</cc:interface>

	<cc:implementation>
		<p:outputPanel id="idDettaglioProtocolloNsd_DF" styleClass="ui-g generic_padding0 generic_margin0 generic_height100 dettaglioFascicoloForUpdatePurpose" >
			
			<div class="ui-g-12 generic_padding0 generic_margin0">
				<p:tabView styleClass="ui-g-12" id="idTabsNsd">
				
					<p:tab title="Dettaglio">
						<div class="ui-fluid generic_marginTop">
							 
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Descr. Protocollatore" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Descr. Ufficio" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.descProtocollatore}" readonly="true"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.descUfficio}" readonly="true" styleClass="ellipsis" title="#{cc.attrs.protocolloCmpNsd.detail.descUfficio}"/>
								
								<p:outputLabel value="Descr Oggetto" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Data protocollo" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.descOggetto}" readonly="true"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.dataProtocollo}" readonly="true">
									<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
								</p:inputText>
							</p:panelGrid>
							  
							  
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Mittente" styleClass="DD_labelNormale" rendered="#{cc.attrs.protocolloCmpNsd.detail.modalita eq 'INGRESSO'}"/>
								<p:outputLabel value="Destinatario" styleClass="DD_labelNormale" rendered="#{cc.attrs.protocolloCmpNsd.detail.modalita eq 'USCITA'}"/>
								<p:outputLabel value="Desc tipo doc" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.mittente}" readonly="true" rendered="#{cc.attrs.protocolloCmpNsd.detail.modalita eq 'INGRESSO'}" styleClass="ellipsis" title="#{cc.attrs.protocolloCmpNsd.detail.mittente}"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.destinatario}" readonly="true" rendered="#{cc.attrs.protocolloCmpNsd.detail.modalita eq 'USCITA'}" styleClass="ellipsis" title="#{cc.attrs.protocolloCmpNsd.detail.destinatario}"/>
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.tipoDocumento}" readonly="true"/>
							</p:panelGrid>
							
							<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Modalita" styleClass="DD_labelNormale"/> 
								<p:inputText value="#{cc.attrs.protocolloCmpNsd.detail.modalita}" readonly="true"/> 
							</p:panelGrid>
							 
							<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4,ui-grid-col-2,ui-grid-col-4,ui-grid-col-2">
								<p:outputLabel value="Chiuso" styleClass="DD_labelNormale"/>
								<p:selectBooleanCheckbox  value="#{cc.attrs.protocolloCmpNsd.detail.flagChiuso}" disabled="true"/>
								<p:outputLabel value="Annullato" styleClass="DD_labelNormale"/>  
								<p:selectBooleanCheckbox  value="#{cc.attrs.protocolloCmpNsd.detail.flagAnnullato}" disabled="true"/>
							 </p:panelGrid>
  
						</div> 
					</p:tab>
					
					<p:tab title="Documento">
						<div class="ui-fluid generic_marginTop">
							 <p:dataTable id="docPrincipaleNsdDT" value="#{cc.attrs.protocolloCmpNsd.detail}" var="filePrincipale" emptyMessage="File principale non presente">
			
								<p:column headerText="Documento Principale">
									<h:outputText value="#{filePrincipale.descFileName}"/>
								</p:column>
								
								<p:column width="20%" styleClass="buttonsDiv buttonsLayout" headerText="Download">
									<p:commandButton disabled="#{cc.attrs.protocolloCmpNsd.detail.originalDocId eq null}" icon="fa fa-download" title="Download #{cc.attrs.protocolloCmpNsd.detail.descFileName}" ajax="false" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)" >
										<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(cc.attrs.protocolloCmpNsd.detail.originalDocId)}" />
									</p:commandButton>
								</p:column>
							</p:dataTable> 
							
							<p:dataTable id="allegatiNsdDT" value="#{cc.attrs.protocolloCmpNsd.detail.listaAllegati}" var="allegato" emptyMessage="Nessun allegato presente">	
								<p:column headerText="Allegato">
									<h:outputText value="#{allegato.nomeFile}"/>
								</p:column>
								
								<p:column width="20%" styleClass="buttonsDiv buttonsLayout" headerText="Download">
									<p:commandButton icon="fa fa-download" title="Download #{allegato.nomeFile}" ajax="false" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)">
										<p:fileDownload value="#{RicercaProtocolliPregressiNsdBean.downloadFilePrincipaleAllegato(allegato.idDocumentale)}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div> 
					</p:tab>
					 
					 
				</p:tabView>
			</div> 
		</p:outputPanel> 
	</cc:implementation>

</ui:composition>