<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
<cc:interface>
	<cc:attribute name="assegnazioni" type="java.util.Collection"></cc:attribute>
</cc:interface>


<cc:implementation>

	<p:dataTable var="a" value="#{cc.attrs.assegnazioni}" emptyMessage="Nessun assegnazione" styleClass="generic_textAlignCenter"
      		 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5"  paginatorAlwaysVisible="false" >
	    <p:column headerText="Utente"  >
	        <p:outputLabel value="#{a.utente.cognome} " rendered="#{not empty a.utente and not empty a.utente.cognome}" />
	        <p:outputLabel value="#{a.utente.nome} " rendered="#{not empty a.utente and not empty a.utente.nome}" />
	        <p:outputLabel value="-" rendered="#{empty a.utente or empty a.utente.nome}" />
	    </p:column>
	    <p:column headerText="Ufficio" >
	        <p:outputLabel value="#{a.ufficio.descrizione}" rendered="#{not empty a.ufficio.descrizione}" />
	        <p:outputLabel value="-"  rendered="#{empty a.ufficio.descrizione}" />
	    </p:column>
	    <p:column headerText="Tipo" >
	        <p:outputLabel value="#{fn:toUpperCase(a.tipoAssegnazione.descrizione)}"  />
	    </p:column>
	    <p:column headerText="Motivo" >
	        <p:outputLabel value="#{a.motivoAssegnazione}" rendered="#{not empty a.motivoAssegnazione}" />
	        <p:outputLabel value="-"  rendered="#{empty a.motivoAssegnazione}" />
	    </p:column>
	    <p:column headerText="Data" >
	        <p:outputLabel value="#{a.dataAssegnazione}"  >
	        	<f:convertDateTime pattern="dd/MM/yyyy" />
	        </p:outputLabel>
	    </p:column>
	</p:dataTable>
		
</cc:implementation>
	
</ui:composition>