<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	>
	
	<p:importEnum type="it.ibm.red.business.enums.FormatoAllegatoEnum" var="FormatoAllegatoEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<cc:interface>
		<cc:attribute name="documentCmp" type="it.ibm.red.web.document.mbean.component.DetailDocumentRedComponent"></cc:attribute>
	</cc:interface>

	<cc:implementation>
       	<p:outputPanel styleClass="ui-g generic_centra">
			<div class="ui-g-12">
				<h3>Documento Principale - #{cc.attrs.documentCmp.detail.nomeFile}</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable var="v" value="#{cc.attrs.documentCmp.detail.versioni}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorAlwaysVisible="false">
				    <p:column headerText="Tipo" styleClass="generic_textAlignCenter" width="60">
				        <span class="#{v.iconaExt.path} icon-dimension-middle" title="#{v.mimeType}"/>
				    </p:column>
				    <p:column headerText="Nome file" styleClass="generic_textAlignCenter">
				        <span class="generic_centra fa fa-check generic_marginRight4px #{!v.currentVersion ? 'hide' : ''};" title="Versione corrente"/>
				        <p:outputLabel title="#{v.fileName}" value="#{fn:length(v.fileName) gt 15 ? fn:substring(v.fileName, 0, 15).concat('...') : v.fileName}"/>
				    </p:column>
				    <!-- p:column headerText="Numero"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.versionNumber}"  />
				    </p:column -->
				    
				    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.dateCheckedIn}">
				        	<f:convertDateTime pattern="dd/MM/yyyy"/>
				        </p:outputLabel>
				    </p:column>
				    <p:column headerText="Creato da" styleClass="generic_textAlignCenter">
			        	<p:outputLabel title="#{v.creatore}" value="#{fn:length(v.creatore) gt 15 ? fn:substring(v.creatore, 0, 15).concat('...') : v.creatore}"/>
			    	</p:column>
				    <p:column headerText="" styleClass="generic_textAlignCenter" width="30">
				        <p:commandButton title="Download documento #{v.fileName}" ajax="false" icon="fa fa-download" process="@this" rendered="#{not empty v.fileName}" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{cc.attrs.documentCmp.downloadVersioneDocumentoPrincipale(index)}"/>
					    </p:commandButton>
				    </p:column>
				    
				</p:dataTable>
			</div>
			<div class="ui-g-12">
				<h3>Allegati</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable var="a" value="#{cc.attrs.documentCmp.detail.allegati}" rowIndexVar="index" styleClass="generic_table-maxHeight" 
					 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorAlwaysVisible="false" emptyMessage="Non sono presenti allegati">
				
					<p:column styleClass="generic_width16px" >
			            <p:rowToggler rendered="#{a.formatoSelected ne FormatoAllegatoEnum.NON_SPECIFICATO and a.formatoSelected ne FormatoAllegatoEnum.CARTACEO }"/>
			        </p:column>
				
				    <p:column headerText="Nome" styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{fn:length(a.nomeFile) gt 15 ? fn:substring(a.nomeFile, 0, 15).concat('...') : a.nomeFile}" title="#{a.nomeFile}"/>
				    </p:column>
				
				    <p:column headerText="Oggetto" styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{fn:length(a.oggetto) gt 15 ? fn:substring(a.oggetto, 0, 15).concat('...') : a.oggetto}" title="#{a.oggetto}"/>
				    </p:column>
				
				    <p:column headerText="Tipologia" styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{a.tipologia}"/>
				    </p:column>

					<p:rowExpansion >
						<p:dataTable var="v" value="#{a.versions}" rowIndexVar="index" styleClass="generic_table-maxHeight" rows="5">
						    <p:column headerText="Numero" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.versionNumber}"/>
						    </p:column>
						    <p:column headerText="Nome file" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.fileName}"/>
						    </p:column>
						    <p:column headerText="Content type" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.mimeType}"/>
						    </p:column>
						    <p:column headerText="Data" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.dateCheckedIn}">
						        	<f:convertDateTime pattern="dd/MM/yyyy"/>
						        </p:outputLabel>
						    </p:column>
						    <p:column headerText="Versione corrente" styleClass="generic_textAlignCenter">
						        <h:outputLabel rendered="#{v.currentVersion}" styleClass="generic_centra fa fa-check"/>
						    </p:column>
						    <p:column headerText="" styleClass="generic_textAlignCenter">
						        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" process="@this" disabled="#{SessionBean.utente.gestioneApplicativa}">
							        <p:fileDownload value="#{cc.attrs.documentCmp.downloadVersioneDocumentoAllegato(index, a.guid)}"/>
							    </p:commandButton>
						    </p:column>
						</p:dataTable>
					
					</p:rowExpansion>
				</p:dataTable>
			</div>
		
		</p:outputPanel>
       	
	</cc:implementation>
	
</ui:composition>