<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
>
	
	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="CategoriaDocumentoEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<cc:interface>
		<cc:attribute name="fascicoloCmp" type="it.ibm.red.web.document.mbean.component.DettaglioFascicoloRedComponent"></cc:attribute>
		<cc:attribute name="openDialogFascicolo" method-signature="void action()"></cc:attribute>
		<cc:attribute name="updateEsteso" type="java.lang.String" />
	</cc:interface>

	<cc:implementation>
		<p:outputPanel id="idDettaglioFascicolo_DF" styleClass="ui-g generic_padding0 generic_margin0 generic_height100 dettaglioFascicoloForUpdatePurpose" rendered="#{cc.attrs.fascicoloCmp.detail != null}">
			
			<div class="ui-g-12 generic_padding0 generic_margin0">
				<p:tabView styleClass="ui-g-12" id="idTabs_DF">
				
					<p:tab title="Dettaglio">
						<div class="ui-fluid generic_marginTop">
							<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel generic_marginBottom" cellpadding="10" columnClasses="ui-grid-col-12">
								<p:outputLabel value="#{fn:length(cc.attrs.fascicoloCmp.detail.oggetto) gt 65 ? 'Fascicolo: '.concat(fn:substring(cc.attrs.fascicoloCmp.detail.oggetto, 0, 65).concat('...')) : 'Fascicolo: '.concat(cc.attrs.fascicoloCmp.detail.oggetto)}" 
									title="#{cc.attrs.fascicoloCmp.detail.oggetto}" styleClass="DD_labelTitoletto"/>
							</p:panelGrid>
							
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:outputLabel value="Stato" styleClass="DD_labelNormale"/>
								<p:outputLabel value="Data creazione" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.fascicoloCmp.detail.stato}" readonly="true"/>
								<p:inputText value="#{cc.attrs.fascicoloCmp.detail.dataCreazione}" readonly="true">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</p:inputText>
							</p:panelGrid>
						
							<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
								<p:outputPanel >
									<p:outputLabel value="Indice di classificazione" styleClass="generic_textBold"/>
									<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
								</p:outputPanel>
								<p:inputText value="#{cc.attrs.fascicoloCmp.detail.titolario}" readonly="true"/>
								<p:outputLabel value="Descrizione" styleClass="DD_labelNormale"/>
								<p:inputText value="#{cc.attrs.fascicoloCmp.detail.oggettoNoNumeroAnno}" readonly="true"/>
							</p:panelGrid>
						</div>
												
						<p:outputPanel styleClass="ui-g buttonsDiv buttonsLayout">
							<div class="ui-g-3"></div>
							<div class="ui-g-6">
								<p:commandButton icon="fa fa-pencil-square" ajax="true" type="submit" value="Visualizza Fascicolo" title="Visualizza Fascicolo" 
									action="#{cc.attrs.openDialogFascicolo}" styleClass="generic_width100" oncomplete="PF('dlgManageFascicolo_DF').show();" update="#{cc.attrs.updateEsteso}"/>
							</div>
						</p:outputPanel>
					</p:tab>
					
					<p:tab title="Documenti">
						
						<p:dataTable id="idDocumentiFasTable_DF" widgetVar="wdgDocumentiFasTable_DF"
							value="#{cc.attrs.fascicoloCmp.detail.documenti}" var="d" rowKey="#{d.documentTitle}" rowIndexVar="index"
							rows="10" 
							emptyMessage="Nessun documento" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" 
							>
							<p:column headerText="Num. Prot. - ID - RR" styleClass="generic_textAlignCenter df_table-doc-col1">
								<p:outputLabel value="#{d.numeroProtocollo}" />
								<p:outputLabel rendered="#{d.numeroProtocollo != null}" value="/" styleClass="dmd-distance" />
								<p:outputLabel value="#{d.numeroDocumento}" />
								<p:outputLabel value="#{' - '}"/>
								<p:outputLabel value="#{d.annoProtocollo}" rendered="#{d.annoProtocollo != null and d.annoProtocollo != ''}" />
								<p:outputLabel value="#{d.dataCreazione}" rendered="#{d.annoProtocollo == null or d.annoProtocollo == ''}">
								    <f:convertDateTime pattern="yyyy" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="Tipo" styleClass="generic_textAlignCenter df_table-doc-col2">
								<p:outputLabel value="E" rendered="#{d.idCategoria == CategoriaDocumentoEnum.DOCUMENTO_ENTRATA.getIds()[0]}" styleClass="DD_textNormale"/>
								<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.DOCUMENTO_USCITA.getIds()[0] || d.idCategoria == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}" styleClass="DD_textNormale" />
								<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" styleClass="DD_textNormale"/>
								<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}" styleClass="DD_textNormale"/>
								
								<p:outputLabel value="-" rendered="#{d.idCategoria == null}" styleClass="DD_textNormale" />
							</p:column>
							<p:column headerText="Tipologia documento" styleClass="generic_textAlignCenter df_table-doc-col3">
								<p:outputLabel title="#{d.tipoDocumento}" value="#{fn:length(d.tipoDocumento) gt 10?fn:substring(d.tipoDocumento, 0,10).concat('...'):d.tipoDocumento}"/>
								<p:outputLabel value="..." rendered="#{d.tipoDocumento.length() > 10}" />
							</p:column>
							<p:column headerText="Descrizione" styleClass="df_table-doc-col4 generic_textAlignCenter">
								<p:outputLabel title="#{d.oggetto}" value="#{fn:length(d.oggetto) gt 20?fn:substring(d.oggetto, 0,20).concat('...'):d.oggetto}"/>
								<p:outputLabel value="..." rendered="#{d.tipoDocumento.length() > 20}" />
							</p:column>
							<p:column headerText="Data creazione" styleClass="generic_textAlignCenter df_table-doc-col5">
								<p:outputLabel value="#{d.dataCreazione}" >
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="Azioni" styleClass="generic_textAlignCenter df_table-doc-col7">
								<p:commandButton title="Download #{d.nomeFile}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
							        <p:fileDownload value="#{cc.attrs.fascicoloCmp.downloadDocSelected(index)}"/>
							    </p:commandButton>
							    <p:commandButton title="Apri dettaglio" icon="fa fa-search" action="#{cc.attrs.fascicoloCmp.openDocumentView(index)}" ajax="true"
							    	rendered="#{cc.attrs.fascicoloCmp.detailOpenable(d)}"/>
							    <p:commandButton type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumentiFascicoliShared').show();PF('dlgVisualizzaDocumentiFascicoliShared').toggleMaximize();"
                                    action="#{cc.attrs.fascicoloCmp.openVisualizzaDocumento(index)}" process="@this" update="#{cc.clientId}:visualizzaDocFas_Shared_opnl" />
							</p:column>
						</p:dataTable>
					</p:tab>
					
					<p:tab title="Faldoni" disabled="#{cc.attrs.fascicoloCmp.detail.faldoni == null}">
						<p:dataTable var="fal" value="#{cc.attrs.fascicoloCmp.detail.faldoni}" emptyMessage="Nessun faldone" 
							paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="10"  
							>
						    <p:column headerText="Numero"  styleClass="generic_textAlignCenter" rendered="false">
						        <p:outputLabel value="#{fal.name}"  />
						    </p:column>
						    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break">
						    	<p:outputLabel value="#{fn:substring(fal.oggettoPadre, 0,40)}" title="#{fal.oggettoPadre}" rendered="#{fal.oggettoPadre != null}"/>
								<p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance"/>
						        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,20)}" title="#{fal.oggetto}"/>
						        <p:outputLabel value="..." rendered="#{fal.oggetto.length() > 20}"/>
						        <p:outputLabel value="..." rendered="#{fal.oggetto.length() > 20}"/>
				        	</p:column>
						    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
						        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0,20)}" title="#{fal.descrizioneFaldone}"/>
						        <p:outputLabel value="..." rendered="#{fal.descrizioneFaldone.length() > 20}"/>
						    </p:column>
						</p:dataTable>
					</p:tab>
					
					<p:tab title="Assegnazioni">
						<dd:dettaglioDataDatatableAssegnazioni assegnazioni="#{cc.attrs.fascicoloCmp.detail.assegnazioni}" />
					</p:tab>
					
					<p:tab title="Storico">
						<p:dataTable var="s" value="#{cc.attrs.fascicoloCmp.detail.storico}" emptyMessage="Nessuna azione presente" 
							paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="10"  
							 >
						    <p:column headerText="Id"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{s.idDocumento}"/>
						    </p:column>
						    <p:column headerText="Mittente"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{fn:length(s.ufficioAssegnante.concat(' ').concat(s.utenteAssegnante)) gt 8?fn:substring(s.ufficioAssegnante.concat(' ').concat(s.utenteAssegnante), 0,8).concat('...'):s.ufficioAssegnante.concat(' ').concat(s.utenteAssegnante)}" title="#{s.ufficioAssegnante.concat(' ').concat(s.utenteAssegnante)}"/>
						    </p:column>
						    <p:column headerText="Destinatario"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{fn:length(s.ufficioAssegnatario.concat(' ').concat(s.utenteAssegnatario)) gt 8 ?fn:substring(s.ufficioAssegnatario.concat(' ').concat(s.utenteAssegnatario), 0,8).concat('...'):s.ufficioAssegnatario.concat(' ').concat(s.utenteAssegnatario)}" title="#{s.ufficioAssegnatario.concat(' ').concat(s.utenteAssegnatario)}"/>
						    </p:column>
						    <p:column headerText="Data ora operazione"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{s.dataOperazione}" title="#{s.dataOperazione}" >
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
								</p:outputLabel>
						    </p:column>
						    <p:column headerText="Tipo operazione"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{fn:length(s.tipoOperazione) gt 8?fn:substring(s.tipoOperazione, 0,8).concat('...'):s.tipoOperazione}" title="#{s.tipoOperazione}" />
						    </p:column>
						    <p:column headerText="Motivo assegnazione"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{fn:length(s.motivoAssegnazione) gt 8 ? fn:substring(s.motivoAssegnazione, 0,8).concat('...'):s.motivoAssegnazione}" title="#{s.motivoAssegnazione}" />
						    </p:column>
						</p:dataTable>
					</p:tab>
				</p:tabView>
			</div>
			
<!-- 			<p:outputPanel id="tabDetailsMenu" styleClass="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith"> -->
<!-- 				<p:commandButton icon="fa fa-pencil-square" ajax="true" type="submit" title="Visualizza Fascicolo" action="#{cc.attrs.openDialogFascicolo}"  -->
<!-- 					oncomplete="PF('dlgManageFascicolo_DF').show();" update="#{cc.attrs.updateEsteso}"/> -->
<!-- 			</p:outputPanel> -->
			
		</p:outputPanel>
		<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog  widgetVar="dlgVisualizzaDocumentiFascicoliShared"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumentiFascicoliShared')"
		  resizable="false" closable="true" modal="true" appendTo="@form" onHide="PF('dlgVisualizzaDocumentiFascicoliShared').toggleMaximize();" >
		
		<p:outputPanel id="visualizzaDocFas_Shared_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{cc.attrs.fascicoloCmp.viewDettaglioDoc}" dettagliodto="#{cc.attrs.fascicoloCmp.documentoDto}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocumentiFascicoliShared').hide();" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>
	</cc:implementation>

</ui:composition>