<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<cc:interface>
		<cc:attribute name="faldoneCmp" type="it.ibm.red.web.document.mbean.component.DettaglioFaldoneRedComponent" ></cc:attribute>
		<cc:attribute name="onopenEsteso" type="java.lang.String" default="PF('dlgManageFascicolo_DF').show();" required="false"></cc:attribute>
		<cc:attribute name="updateEsteso" type="java.lang.String" default="idDettagliEstesiForm:fascicoloMng_pnl" required="false" ></cc:attribute>
	</cc:interface>

	<cc:implementation>
		<p:outputPanel id="idPanelDettaglioFaldone_DFC" styleClass="ui-g generic_padding0 generic_margin0 generic_height100 " rendered="#{cc.attrs.faldoneCmp.detail != null}">
			<!-- <div class="ui-g-6">
				
				< p :outputLabel value="Numero"  styleClass="generic_grassetto generic_marginRight "/>
				< p :outputLabel value="#{cc.attrs.faldoneCmp.detail.nomeFaldone}" />
				
			</div>
			<div class="ui-g-6 generic_textAlignRight">
				<p:outputLabel value="Data creazione"  styleClass="generic_grassetto generic_marginRight "/>
				<p:outputLabel value="#{cc.attrs.faldoneCmp.detail.dateCreated}" styleClass="">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</div>
			<div class="ui-g-12 ">
				<hr />
			</div>
			<div class="ui-g-12 ">
				<p:outputLabel value="Oggetto" styleClass="generic_grassetto generic_marginRight "/>
				<p:outputLabel value="#{cc.attrs.faldoneCmp.detail.oggettoPadre}" rendered="#{cc.attrs.faldoneCmp.detail.nomePadre != null}"/>
				<p:outputLabel value="\" rendered="#{cc.attrs.faldoneCmp.detail.nomePadre != null}" styleClass="dmd-distance"/>
				<p:outputLabel value="#{cc.attrs.faldoneCmp.detail.oggetto}" />
			</div>
			<div class="ui-g-12">
				<p:outputLabel value="Descrizione" styleClass="generic_grassetto generic_marginRight "/>
				<p:outputLabel value="#{cc.attrs.faldoneCmp.detail.descrizioneFaldone}" />
			</div> -->
			<p:tabView styleClass="ui-g-12" id="idTabs_DFC">
				<p:tab title="Fascicoli">
				<!-- Questa classe serve a triggerare l'update dal dettaglio esteso dei fascicoli -->
					<p:dataTable var="fas" styleClass="dettaglioFascicoloForUpdatePurpose" value="#{cc.attrs.faldoneCmp.fascicoli}" rowIndexVar="index" emptyMessage="Nessun fascicolo"
						paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5"  paginatorAlwaysVisible="false">
					    <p:column headerText="Nome"  styleClass="generic_textAlignCenter">
					        <p:commandLink value="#{fas.idFascicolo}" title="Apri fascicolo" 
					        	action="#{cc.attrs.faldoneCmp.openFascicoloView(index)}" update="#{cc.attrs.updateEsteso}" oncomplete="#{cc.attrs.onopenEsteso}" />
					    </p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break">
					        <p:outputLabel value="#{fn:substring(fas.descrizione, 0,20)}..." 
					        	title="#{fas.descrizione}"	/>
					    </p:column>
					    <p:column headerText="Indice di classificazione"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.indiceClassificazione}"  />
					    </p:column>
					    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.dataCreazione}"  >
					        	<f:convertDateTime pattern="dd/MM/yyyy" />
					        </p:outputLabel>
					    </p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Faldoni" titletip="Faldoni contenuti nel faldone selezionato" disabled="#{fn:length(cc.attrs.faldoneCmp.faldoniFigli) eq 0}">
					<p:dataTable var="fal" value="#{cc.attrs.faldoneCmp.faldoniFigli}" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" emptyMessage="Nessun faldone"  paginatorAlwaysVisible="false" >
					    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,20)}" title="#{fal.oggetto}"	/>
					        <p:outputLabel value="..." rendered="#{fal.oggetto.length() > 20}"	/>
			        	</p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0,20)}" title="#{fal.descrizioneFaldone}"	/>
					        <p:outputLabel value="..." rendered="#{fal.descrizioneFaldone.length() > 20}"	/>
					    </p:column>
					</p:dataTable>
				</p:tab>
			</p:tabView>
			
					
		</p:outputPanel>
		
	</cc:implementation>

</ui:composition>