<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	

<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.component.DettaglioDocumentoStoricoComponent"></cc:attribute>
</cc:interface>

<cc:implementation>
	
	<p:tabView>
		<p:tab title="Visuale" rendered="#{cc.attrs.bean.detail.showStoricoVisuale}">
			<div class="generic_marginTop5"/>
			<p:panel rendered="#{not empty cc.attrs.bean.detail.storico}">
				<div id="timeline-container-basic-#{cc.attrs.bean.idSuffix}" class="imATimeline"></div>
			</p:panel>
			<p:panel rendered="#{empty cc.attrs.bean.detail.storico}">
				<div class="generic_padding05em">Non è presente nessuno storico.</div>
			</p:panel>
		</p:tab>
		<p:tab title="Standard">
			<div class="generic_marginTop5"/>
		    <p:dataTable var="row" value="#{cc.attrs.bean.listaStorico}" rowIndexVar="index" styleClass="generic_textAlignCenter" emptyMessage="Non è presente nessuno storico">
				
		        <p:column headerText="Assegnante" >
		            <h:outputText rendered="#{empty row.storico.ufficioAssegnante}" value=" - " />
		            <h:outputText rendered="#{not empty row.storico.ufficioAssegnante and not empty row.storico.utenteAssegnante}" 
		             value="#{cc.attrs.bean.getShortColumn(row.storico.ufficioAssegnante.concat(' / ').concat(row.storico.utenteAssegnante), 25)}"
		             title="#{cc.attrs.bean.getColumnTooltip(row.storico.ufficioAssegnante.concat(' / ').concat(row.storico.utenteAssegnante), 25)}"
		             />
		            <h:outputText rendered="#{not empty row.storico.ufficioAssegnante and empty row.storico.utenteAssegnante}"
		             value="#{cc.attrs.bean.getShortColumn(row.storico.ufficioAssegnante, 25)}"
		             title="#{row.storico.ufficioAssegnante}"
		              />
		        </p:column>
		        
		        <p:column headerText="Assegnatario" > 
		            <h:outputText rendered="#{empty row.storico.ufficioAssegnatario}" value=" - " />
		            <h:outputText rendered="#{not empty row.storico.ufficioAssegnatario and not empty row.storico.utenteAssegnatario}"  
		            value="#{cc.attrs.bean.getShortColumn(row.storico.ufficioAssegnatario.concat(' / ').concat(row.storico.utenteAssegnatario), 25)}"
		             title="#{cc.attrs.bean.getColumnTooltip(row.storico.ufficioAssegnatario.concat(' / ').concat(row.storico.utenteAssegnatario), 25)}"/>
		            <h:outputText rendered="#{not empty row.storico.ufficioAssegnatario and empty row.storico.utenteAssegnatario}"  
					 value="#{cc.attrs.bean.getShortColumn(row.storico.ufficioAssegnatario, 25)}"
		             title="#{cc.attrs.bean.getColumnTooltip(row.storico.ufficioAssegnatario, 25)}"/>
		        </p:column>

		        <p:column headerText="Data operazione">
		            <h:outputText value="#{row.storico.dataOperazione}" />
		        </p:column>

		        <p:column headerText="Tipo operazione" >
		            <h:outputText value="#{row.storico.tipoOperazione}"
		             title="#{row.storico.tipoOperazione}"/>
		        </p:column>

		        <p:column headerText="Motivo assegnazione">
					
		         	<p:panelGrid columns="2" styleClass="ui-panelgrid-blank" layout="grid" columnClasses="ui-g-1 generic_paddingLR0 centerItems, ui-g-11 generic_paddingLR0">
		         		<p:column>
			            	<p:commandButton id="infoMotivoAssBtn" icon="fa fa-info" type="button" title="info" styleClass="generic_no_background generic_noborder2 generic_widthAuto" rendered="#{not empty row.storico.motivoAssegnazione}">
								<p:overlayPanel id="infoMotivoAss" for="infoMotivoAssBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width20" appendToBody="true">
									<p:outputPanel styleClass="ui-g">
										<p:outputLabel value="Motivo assegnazione : #{row.storico.motivoAssegnazione}" styleClass="generic_textBold" />
									</p:outputPanel>
									<iframe title="Frame tab storico" class="cover" src="about:blank"></iframe>
								</p:overlayPanel>
							</p:commandButton>
						</p:column>
						
		          		<p:column>
		            		<h:outputText value="#{cc.attrs.bean.getShortColumn(row.storico.motivoAssegnazione, 30)}" title="#{cc.attrs.bean.getColumnTooltip(row.storico.motivoAssegnazione, 30)}"/>
						</p:column>
		        	</p:panelGrid>
		        	
		        	<p:commandButton rendered="#{row.attivitaDownloadable}" ajax="false" icon="fa fa-download" title="Visualizza lo storico delle attività"> 
						<p:fileDownload value="#{cc.attrs.bean.getActivityContent(index)}"/>
	            	</p:commandButton>
	            	
		        </p:column>
		    </p:dataTable>

		</p:tab>
		<p:tab title="Approvazioni" rendered="#{not empty cc.attrs.bean.detail.approvazioni}">
			<p:commandButton styleClass="generic_floatRight" ajax="false" value="Stampa approvazioni" title="Stampa approvazioni" icon="fa fa-print" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)">
					<p:fileDownload value="#{cc.attrs.bean.stampiglia}"/>
			</p:commandButton>
			
			<div class="ui-g-12">
				<div id="timeline-container-basic-approvazioni-#{cc.attrs.bean.idSuffix}" class="imATimeline" ></div>
			</div>
			 
			
		</p:tab>
	</p:tabView>

</cc:implementation>
	
</ui:composition>