<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="testoMail" type="java.lang.String" default="Nessun testo per la mail corrente"></cc:attribute>
	</cc:interface>
	<cc:implementation>
		<p:outputPanel id="testoMaiProtocollalCmp">
			<p:textEditor id="testoMailProtocolla" value="#{cc.attrs.testoMail}" escape="false" readonly="true" styleClass="hideToolbarTextEditor generic_textAlignJustifyImp generic_width100 bk-white"  >
				<f:facet name="toolbar">
					<span class="ql-formats">
	           		</span>
				</f:facet>
			</p:textEditor>
		</p:outputPanel>
	</cc:implementation>

</ui:composition>