<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.IDettaglioDocumentoEastButtonNoResp"></cc:attribute>
	<cc:attribute name="onCompleteModificaDocumentoId" type="java.lang.String"></cc:attribute>
	<cc:attribute name="updateModificaDocumentoId" type="java.lang.String"></cc:attribute>
	<cc:attribute name="onCompleteMenuAllegati" type="java.lang.String" default="" required="false"></cc:attribute>
	<cc:attribute name="updateMenuAllegati" type="java.lang.String"></cc:attribute>
</cc:interface>

<cc:implementation>
<!-- 	VISUALIZZA DETTAGLIO ESTESO -->
	
	<dd:openDocumentoEstesoButton bean="#{cc.attrs.bean}" updateModificaDocumentoId="#{cc.attrs.updateModificaDocumentoId}" onCompleteModificaDocumentoId="#{cc.attrs.onCompleteModificaDocumentoId}"/>

	<p:commandButton type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumenti').show();PF('dlgVisualizzaDocumenti').toggleMaximize();" 
		action="#{cc.attrs.bean.openVisualizzaDocumento}" process="@this" update="@form:visualizzaDoc_opnl"/>
	
	<dd:menuAllegatiButtonAndMenu bean="#{cc.attrs.bean}" toUpdateAfterIntro="@(.updatableIntroPreviewDeactivate) #{cc.attrs.updateMenuAllegati}" onComplete="#{cc.attrs.onCompleteMenuAllegati}"/>
	
	<dd:goToCodaButtonAndPanel bean="#{cc.attrs.bean}" idPanel="idAccessoCode_DD" toUpdateAfterIntro="#{cc.attrs.updateMenuAllegati} @(.updatableIntroPreviewDeactivate)" onComplete="#{cc.attrs.onCompleteMenuAllegati}"/>
	
</cc:implementation>

</ui:composition>