<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	xmlns:cc="http://java.sun.com/jsf/composite">

	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IVisualizzaDocumentoComponent"/>
		<cc:attribute name="dettagliodto" type="it.ibm.red.business.dto.DetailDocumentRedDTO"/>
		<cc:attribute name="soloPrincipale" type="java.lang.Boolean" required="false" default="false"/>
	</cc:interface>
	
	<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnumVisual" allSuffix="ALL_ENUM_VALUES"/>
	
	
	<p:outputPanel id="listaDocs_pnl" rendered="#{cc.attrs.bean.docpDTH.masters ne null}" styleClass="ui-g-3 generic_height100">
		<!--  Intestazione  -->
		<p:outputPanel id="intestazione" styleClass="generic_top10">
			<p:outputLabel rendered="#{cc.attrs.dettagliodto.numeroProtocollo ne null}" 
				value="Documento: ID: #{cc.attrs.dettagliodto.numeroDocumento} - PROT: #{cc.attrs.dettagliodto.numeroProtocollo}/#{cc.attrs.dettagliodto.annoProtocollo} del #{cc.attrs.dettagliodto.dataProtocolloString}" 
				styleClass="DD_labelTitoletto dtTextCenter generic_displayBlock"/>
			<p:outputLabel rendered="#{cc.attrs.dettagliodto.numeroProtocollo eq null and cc.attrs.dettagliodto.numeroDocumento ne null}" 
				value="Documento: ID: #{cc.attrs.dettagliodto.numeroDocumento}" styleClass="DD_labelTitoletto generic_displayBlock dtTextCenter" />
		</p:outputPanel>
		<!-- tabella doc principale -->
		<p:dataTable id="listaDocs_DocPrincipale_tbl" value="#{cc.attrs.bean.docpDTH.masters}" var="docPrinc"
					 selectionMode="single" selection="#{cc.attrs.bean.docpDTH.currentMaster}" rowKey="#{docPrinc.documentTitle}">
			<p:ajax event="rowSelect" listener="#{cc.attrs.bean.rowSelectorDocPrincipale}" update="@parent:previewDoc_pnl, @parent:listaDocs_allegati_tbl, @parent:listaDocs_contributi_tbl"/>
			<p:column headerText="Documento Principale">
				<h:outputText value="#{docPrinc.nomeFile}"/>
			</p:column>
			<p:column width="20%" headerText="Info Firma" styleClass="textAlignCenter">
				<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_OK eq docPrinc.valueMetaadatoVerificaFirmaEnum}" title="Firma valida" style="color:green;" styleClass="fa fa-check-circle" />
				<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_KO eq docPrinc.valueMetaadatoVerificaFirmaEnum}" title="Firma non Valida" style="color:red;" styleClass="fa fa-exclamation-circle" />
				<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE eq docPrinc.valueMetaadatoVerificaFirmaEnum}"/>
				<p:commandButton rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_VERIFICATA eq docPrinc.valueMetaadatoVerificaFirmaEnum}" update="listaDocs_DocPrincipale_tbl" styleClass="cambia-ufficio-button" title="Firma non verificata" actionListener="#{cc.attrs.bean.verificaFirmaDocPrinc}" icon="fa fa-pencil-square-o" process="@this" />
			</p:column>
			<p:column width="35%" styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-download" title="Download #{docPrinc.nomeFile}" ajax="false" disabled="#{SessionBean.utente.gestioneApplicativa}">
					<p:fileDownload value="#{cc.attrs.bean.downloadDoc()}"/>
				</p:commandButton>
				<p:commandButton ajax="false" icon="fa fa-envelope-o" title="Invia email" process="@this"> 
					<p:fileDownload value="#{cc.attrs.bean.inviaDocEmail()}"/>
				</p:commandButton>
	 			<p:commandButton rendered="#{not SessionBean.preferenze.nativeReaderPDFEnable}" type="submit" icon="fa fa-print" title="Stampa documento" oncomplete="PF('dlgStampaDocumentoPrincWV').show();PF('dlgStampaDocumentoPrincWV').toggleMaximize();"
				action="#{cc.attrs.bean.openStampaDocumento()}" process="@this" />
			</p:column>
		</p:dataTable>
		
		<p:outputPanel rendered="#{!cc.attrs.soloPrincipale}">
			<!--  tabella allegati -->
			<p:dataTable id="listaDocs_allegati_tbl" value="#{cc.attrs.bean.allegatiDTH.masters}" var="allegato"
						 expandableRowGroups="true" sortBy="#{allegato.daFirmare}" rowIndexVar="index" 
						 rowKey="#{allegato.idDocumento}-#{allegato.documentTitle}" 
						 selectionMode="single" selection="#{cc.attrs.bean.allegatiDTH.currentMaster}"
						 styleClass="generic_noborder hideHeader" rendered="#{not empty cc.attrs.bean.allegatiDTH.masters}">
				<p:ajax event="rowSelect" listener="#{cc.attrs.bean.rowSelectorAllegati}" update="@parent:previewDoc_pnl, @parent:listaDocs_DocPrincipale_tbl, @parent:listaDocs_contributi_tbl"/>
				<p:headerRow>
					<p:column colspan="3">
						<h:outputText value="#{(allegato.daFirmare ne null and allegato.daFirmare eq 1) ? 'Allegati da firmare':'Allegati da non firmare'}"/>
					</p:column>
				</p:headerRow>
				<p:column>
					<h:outputText value="#{allegato.formato == 1 ? 'Allegato cartaceo' : allegato.nomeFile}" />
				</p:column>
				 
				<p:column width="20%" styleClass="textAlignCenter" >
					<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_OK eq allegato.valueMetaadatoVerificaFirmaEnum}" title="Firma valida" style="color:green;" styleClass="fa fa-check-circle" />
					<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_KO eq allegato.valueMetaadatoVerificaFirmaEnum}" title="Firma non Valida" style="color:red;" styleClass="fa fa-exclamation-circle" />
					<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE eq allegato.valueMetaadatoVerificaFirmaEnum}"/>
					<p:commandButton rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_VERIFICATA eq allegato.valueMetaadatoVerificaFirmaEnum}" update="@this" styleClass="cambia-ufficio-button" title="Firma non verificata" actionListener="#{cc.attrs.bean.verificaFirmaAllegato(index)}" icon="fa fa-pencil-square-o" process="@this" />
				</p:column>
			
				<p:column width="35%" styleClass="buttonsDiv buttonsLayout" >
					<p:commandButton icon="fa fa-download" ajax="false" title="Download #{allegato.nomeFile}" disabled="#{SessionBean.utente.gestioneApplicativa or allegato.formato == 1}">
						<p:fileDownload value="#{cc.attrs.bean.downloadAllegato(index)}"></p:fileDownload>
					</p:commandButton>
					<p:commandButton ajax="false" icon="fa fa-envelope-o" title="Invia email" process="@this"> 
					<p:fileDownload value="#{cc.attrs.bean.inviaDocEmailAllegato(index)}"/>
				</p:commandButton>
	 			<p:commandButton rendered="#{not SessionBean.preferenze.nativeReaderPDFEnable}" type="submit" icon="fa fa-print" title="Stampa documento" oncomplete="PF('dlgStampaDocumentoPrincWV').show();PF('dlgStampaDocumentoPrincWV').toggleMaximize();"
				action="#{cc.attrs.bean.openStampaDocumentoAllegato(index)}" process="@this" />
				<p:commandButton rendered="#{cc.attrs.bean.isFlussoSipad() and cc.attrs.bean.canBeTransformed(index)}" type="submit" icon="fa fa-file-pdf-o" title="Visualizza in PDF" action="#{cc.attrs.bean.generaPdf(index)}" process="@this" update="@parent:@parent:@parent:previewDoc_pnl" />
				</p:column>
			</p:dataTable>
		
			<!--  tabella contributi -->
			<p:dataTable id="listaDocs_contributi_tbl" value="#{cc.attrs.bean.contributiDTH.masters}" var="contributo"
						 expandableRowGroups="true" sortBy="#{contributo.flagEsterno}" rowIndexVar="index"
						 rowKey="#{contributo.idContributo}-#{contributo.idDocumento}-#{contributo.documentTitle}" 
						 selectionMode="single" selection="#{cc.attrs.bean.contributiDTH.currentMaster}"
						 styleClass="generic_noborder hideHeader" rendered="#{not empty cc.attrs.bean.contributiDTH.masters}">
				<p:ajax event="rowSelect" listener="#{cc.attrs.bean.rowSelectorContributi}" update="@parent:previewDoc_pnl, @parent:listaDocs_DocPrincipale_tbl, @parent:listaDocs_allegati_tbl"/>
				<p:headerRow>
					<p:column colspan="3">
						<h:outputText value="#{(contributo.flagEsterno ne null and contributo.flagEsterno) ? 'Contributi Esterni':'Contributi Interni'}"/>
					</p:column>
				</p:headerRow>
				<p:column width="10%">
					<h:outputText value="#{contributo.indiceContr}"/>
				</p:column>
				<p:column width="55%">
					<h:outputText value="#{contributo.filename}"/>
				</p:column>
				<p:column width="35%" styleClass="buttonsDiv buttonsLayout">
					<p:commandButton icon="fa fa-download" ajax="false" title="Download #{contributo.filename}" disabled="#{SessionBean.utente.gestioneApplicativa}"> 
						<p:fileDownload value="#{cc.attrs.bean.downloadContributo(index)}"/>
					</p:commandButton>
						<p:commandButton ajax="false" icon="fa fa-envelope-o" title="Invia email" process="@this"> 
					<p:fileDownload value="#{cc.attrs.bean.inviaDocEmailContributo(index)}"/>
				</p:commandButton>
	 			<p:commandButton rendered="#{not SessionBean.preferenze.nativeReaderPDFEnable}" type="submit" icon="fa fa-print" title="Stampa documento" oncomplete="PF('dlgStampaDocumentoPrincWV').show();PF('dlgStampaDocumentoPrincWV').toggleMaximize();"
				action="#{cc.attrs.bean.openStampaDocumentoContributo(index)}" process="@this" />
				</p:column>
			</p:dataTable>
	 	</p:outputPanel>
	
	</p:outputPanel>
	<p:outputPanel id="previewDoc_pnl" styleClass="ui-g-9">
		<p:outputPanel rendered="#{cc.attrs.bean.previewVisibile}" styleClass="pdfViewer generic_padding0 generic_margin0">
			<iframe title="Trasformazione xml" class="pdfViewer generic_minHeight600px generic_padding0 generic_margin0 generic_noborder" 
					src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true}"/>
		</p:outputPanel>
		
		<dd:dettaglioDocumentoTabPreview rendered="#{not cc.attrs.bean.previewVisibile}" documentCmp="#{cc.attrs.bean.previewComponent}" isDocumentoIngresso="#{cc.attrs.bean.docpDTH.masters[0].idCategoriaDocumento}" 
					idTipoAssegnazione="#{cc.attrs.bean.docpDTH.masters[0].tipoFirma}" idTipologiaDocumento="#{cc.attrs.bean.docpDTH.masters[0].idTipologiaDocumento}" 
					idUfficioCreatore="#{cc.attrs.bean.docpDTH.masters[0].idUfficioCreatore}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnumVisual.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnumVisual.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnumVisual.LIBRO_FIRMA_DELEGATO}" />
	</p:outputPanel>

</ui:composition>