<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.ricerca.mbean.RicercaAnnullaProcedimentoBean" required="true"/>
		<cc:attribute name="widgetVar" type="java.lang.String" default="wdgAnnullaDocumento"/>
		<cc:attribute name="update" type="java.lang.String" default="eastSectionForm"/>
		<cc:attribute name="dlgTitle" type="java.lang.String" default="Annulla Documento"/>
	</cc:interface>
	<cc:implementation>
	
	<p:dialog id="dlgAnnullaDocumento" widgetVar="#{cc.attrs.widgetVar}" header="#{cc.attrs.dlgTitle}" rendered="#{cc.attrs.bean != null}" 
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('#{cc.attrs.widgetVar}')"
			appendTo="@form" modal="true" responsive="true" fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true">
		
		<p:remoteCommand name="resetDlgAnnullaDocumento" action="#{cc.attrs.bean.close()}" update="@this:ricercaAnnullaDocument_RRAD"/>
		
		<p:outputPanel id="ricercaAnnullaDocument_RRAD" styleClass="generic_noborder generic_no_background ui-g generic_width510px" > 			
			<div class="ui-g-4">
				<p:outputLabel for="idAnnullaDocumentoMessage" value="Messaggio annullamento" styleClass="generic_textBold"/>
			</div>
			
			<div class="ui-g-8">
				<p:inputTextarea id="idAnnullaDocumentoMessage" value="#{cc.attrs.bean.motivazione}" rows="3" styleClass="generic_input97"/>
			</div>
							
			<div class="ui-g-4">
				<p:outputLabel for="@next" value="Provvedimento Annullamento" styleClass="generic_textBold" rendered="#{cc.attrs.bean.tipoProcedimentoNps}" />
			</div>
			<div class="ui-g-8 ">
				<p:inputTextarea rows="3" maxlength="1000"  styleClass="generic_input98"
					 value="#{cc.attrs.bean.provvedimento}" rendered="#{cc.attrs.bean.tipoProcedimentoNps}" />
			</div>
		</p:outputPanel>
			
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-6">
				<p:commandButton icon="fa fa-pencil" value="Registra" action="#{cc.attrs.bean.registra()}"
					 update="#{cc.clientId}:ricercaAnnullaDocument_RRAD, #{cc.attrs.update}" oncomplete="PF('#{cc.attrs.widgetVar}').hide()" styleClass="generic_width100"/>
			</div>
			<div class="ui-g-6">
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('#{cc.attrs.widgetVar}').hide()" type="button" styleClass="generic_width100 uniqueCloseButton" />
			</div>
		</p:outputPanel>
	
	
	</p:dialog>
	
	</cc:implementation>
</ui:composition>