<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="component" type="it.ibm.red.web.document.mbean.component.AggiungiModificaContributoEstComponent" required="true"/>
		<cc:attribute name="registraUpdate" type="java.lang.String" required="false" default="''"/>
	</cc:interface>
	
	<cc:implementation>
		<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgAggiungiModificaContributoEst')" widgetVar="dlgAggiungiModificaContributoEst" 
			header="#{cc.attrs.component.nuovoContributo ? 'Inserisci Contributo Esterno' : 'Aggiorna Contributo Esterno'}" fitViewport="true" 
			draggable="false" resizable="false" closable="true" modal="true">
			
			<p:panel id="pnlAggiungiModificaContributoEsterno" styleClass="generic_noborder generic_no_background generic_width446px">
				<p:outputPanel class="ui-g-12">
					<div class="ui-g-4">
						<p:outputLabel value="Mittente" styleClass="generic_textBold"/>
						<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
					</div>
					<div class="ui-g-8 obbligatorio">
						<p:inputText styleClass="textfield_input" value="#{cc.attrs.component.contributo.mittente}"/>
					</div>
				</p:outputPanel>
				<p:outputPanel class="ui-g-12">
					<div class="ui-g-4">
						<p:outputLabel value="Testo contributo" styleClass="generic_textBold"/>
						<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
					</div>
					<div class="ui-g-8 obbligatorio">
						<p:inputTextarea styleClass="textfield_input" value="#{cc.attrs.component.contributo.nota}" rows="4"/>
					</div>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{cc.attrs.component.nuovoContributo}">
					<p:outputPanel class="ui-g-12">
						<div class="ui-g-4">
							<p:outputLabel value="File contributo" styleClass="generic_textBold"/>
						</div>
						<div class="ui-g-8">
							<p:fileUpload styleClass="dmd-fileUploadNew" fileUploadListener="#{cc.attrs.component.handleFileUpload}"
								auto="true" label="Sfoglia"	mode="advanced" skinSimple="true" dragDropSupport="false"
								update="#{cc.clientId}:pnlDtDocContributo" process="@this, #{cc.clientId}:pnlDtDocContributo"
								onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"/>
						</div>
					</p:outputPanel>
					<p:outputPanel class="ui-g-12" id="pnlDtDocContributo">
						<p:dataTable id="dtDocContributo" value="#{cc.attrs.component.fileContributoList}" var="docContributo" rowIndexVar="index" emptyMessage="Nessun file">
							
							<p:column headerText="Nome file" styleClass="generic_input80">
								<p:outputLabel value="#{docContributo.fileName}"/>
							</p:column>
							
							<p:column headerText="Elimina" styleClass="generic_textAlignCenter dtInfoCol">
								<p:commandButton title="Elimina" icon="fa fa-times" action="#{cc.attrs.component.rimuoviDoc(index)}" process="@this" 
									update="#{cc.clientId}:pnlDtDocContributo"/>
							</p:column>
							
						</p:dataTable>
					</p:outputPanel>
				</p:outputPanel>
			
				<p:outputPanel class="ui-g-12">
					<div class="generic_textAlignCenter">
						<p:commandButton icon="fa fa-pencil" value="Registra" action="#{cc.attrs.component.registra()}" 
							process="#{cc.clientId}:pnlAggiungiModificaContributoEsterno"
							update="#{cc.attrs.registraUpdate}"/>
						<p:commandButton icon="fa fa-times" styleClass="uniqueCloseButton" value="Chiudi" type="button" ajax="false" process="@this"
							onclick="PF('dlgAggiungiModificaContributoEst').hide()"/>
					</div>
				</p:outputPanel>
			</p:panel>
		</p:dialog>
		
	</cc:implementation>
	
</ui:composition>