<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface >
		<cc:attribute name="dto" type="it.ibm.red.business.dto.ProtocolloEmergenzaDocDTO" required="true"/>
		<cc:attribute name="widgetVar" type="java.lang.String" default="wdgProtEmergenza"/>
		<cc:attribute name="confirmButton" type="java.lang.String" default="" required="true" />
<!-- 		<cc:attribute name="update" type="java.lang.String" default="eastSectionForm"/> -->
		<cc:attribute name="dlgTitle" type="java.lang.String" default="Inserisci Protocollo di Emergenza"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:dialog id="dlgProtEmergenza" widgetVar="#{cc.attrs.widgetVar}" header="#{cc.attrs.dlgTitle}"
				onShow="dlgOnShow(this.jqId);onShowForClosableDlg('#{cc.attrs.widgetVar}')"
				appendTo="@form" modal="true" responsive="false" fitViewport="false" showEffect="fade" hideEffect="fade" resizable="false" closable="true">
		
			<p:outputPanel style="text-align: center;">
				<div>
					<span class="fa fa-info-circle" title="Info registro di emergenza" style="padding-right: 5px;"/>
					<p:outputLabel value="Attenzione! Per valorizzare il numero di protocollo di emergenza, contattare il Responsabile di Protocollo." styleClass="generic_textBold"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel  styleClass="ui-fluid generic_padding25" style="padding: 25px;">
				<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col-1,ui-grid-col-5,ui-grid-col-1,ui-grid-col-5">
					
					<p:outputPanel style="text-align: center;">
						<p:outputLabel value="RE" />
					</p:outputPanel>

					<p:inputNumber widgetVar="wdgProtEmergNumber" value="#{cc.attrs.dto.numeroProtocolloEmergenza}" minValue="1" thousandSeparator="" padControl="false" onkeyup="checkInsertProtEmergenza();"/>

					<p:outputPanel style="text-align: center;">
	 					<p:outputLabel value="/" />
					</p:outputPanel>

					<p:inputNumber value="#{cc.attrs.dto.annoProtocolloEmergenza}" disabled="true" thousandSeparator="" padControl="false"/>
				
				</p:panelGrid>
			</p:outputPanel>
						
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton widgetVar="wdgProtEmergBtn" icon="fa fa-pencil" value="Conferma" action="#{cc.attrs.confirmButton}" onclick="PF('wdgProtEmergenza').hide()" />
				<p:commandButton icon="fa fa-times" value="Annulla" styleClass="uniqueCloseButton" type="button" onclick="PF('wdgProtEmergenza').hide()" />	
			</p:outputPanel>
	
		</p:dialog>
		
	</cc:implementation>
	
	
</ui:composition>