<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<cc:interface>
		<cc:attribute name="component" type="it.ibm.red.web.mbean.interfaces.ICercaFascicoloComponent" required="true"/>
		<cc:attribute name="updateOnSelect" type="java.lang.String" required="false" default="''"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:dialog widgetVar="wdgCercaFascicolo" id="wdgCercaFascicolo" modal="true" draggable="true" position="center" appendTo="@form" 
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCercaFascicolo')" styleClass="dmd-panel-ricercaFascicolo" closeOnEscape="true" showHeader="true"
			closable="true" resizable="false" header="Cerca un fascicolo" onHide="rcResetRicerca(); PF('cercaFascicoloTabs').select(0);" width="800">
			
			<p:remoteCommand name="rcResetRicerca" action="#{cc.attrs.component.resetRicerca()}" update="#{cc.clientId}:idCercaFascicoloTabs"/>
			
			<p:tabView widgetVar="cercaFascicoloTabs" id="idCercaFascicoloTabs" styleClass="generic_maxHeight580px">
				<p:tab title="Ricerca Generica">
					<p:outputPanel class="ui-g">
						<p:outputPanel class="ui-g-1">
							<p:outputLabel value="Anno" styleClass="generic_textBold"/>
						</p:outputPanel>
						<p:outputPanel class="ui-g-2 ui-fluid">
							<p:inputNumber id="idAnnoRicercaFascicolo" value="#{cc.attrs.component.ricercaFascicoloAnno}" maxlength="4" minValue="0" thousandSeparator="" 
								padControl="false"/>
						</p:outputPanel>
						<p:outputPanel class="ui-g-1"></p:outputPanel>
						
						<p:outputPanel class="ui-g-1">
							<p:outputLabel value="Modalità" styleClass="generic_textBold"/>
						</p:outputPanel>
						<p:outputPanel class="ui-g-7 ui-fluid">
							<p:selectOneMenu id="idModalitaRicercaFascicolo" styleClass="" value="#{cc.attrs.component.ricercaFascicoloModalita}">
								<p:ajax update="@this" event="change"/>
								<f:selectItems value="#{cc.attrs.component.comboRicercaFascicoloModalita}"/>
							</p:selectOneMenu>
						</p:outputPanel>
						
						<p:outputPanel class="ui-g-1">
							<p:outputLabel value="Parole" styleClass="generic_textBold"/>
						</p:outputPanel>
						<p:outputPanel class="ui-g-11 ui-fluid">
							<p:inputText id="idParoleRicercaFascicolo" value="#{cc.attrs.component.ricercaFascicoloKey}"/>
						</p:outputPanel>
						<p:outputPanel class="ui-g-12 generic_textAlignCenter">
							<p:commandButton value="Cerca" title="Cerca fascicolo" icon="fa fa-search" action="#{cc.attrs.component.cercaFascicolo()}" 
								process="@this, #{cc.clientId}:idHiddenVarCercaFascicoloCmp, #{cc.clientId}:idCercaFascicoloTabs:idAnnoRicercaFascicolo, 
								#{cc.clientId}:idCercaFascicoloTabs:idModalitaRicercaFascicolo, #{cc.clientId}:idCercaFascicoloTabs:idParoleRicercaFascicolo,idDettagliEstesiForm:idTabs_DMD:idprotMittERisp_DMDTD" 
								update="#{cc.clientId}:idCercaFascicoloTabs:pnlTableRicercaFascicolo"/>
							<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button"	onclick="PF('wdgCercaFascicolo').hide()" 
								styleClass="uniqueCloseButton"/>
						</p:outputPanel>
						
						<p:outputPanel id="pnlTableRicercaFascicolo" class="ui-g-12">
							<p:dataTable value="#{cc.attrs.component.ricercaFascicoliResults}" var="f" id="idTableRicercaFascicolo" widgetVar="tableRicercaFascicolo"
								 filteredValue="#{cc.attrs.component.ricercaFascicoliResultsFiltered}" paginatorAlwaysVisible="false" selectionMode="single" rowKey="#{f.idFascicolo}"
								 emptyMessage="Nessun fascicolo trovato" rendered="#{not empty cc.attrs.component.ricercaFascicoliResults}"
								 rows="5" rowsPerPageTemplate="5,10" paginator="true" paginatorPosition="bottom" rowIndexVar="index" styleClass="generic_textAlignCenter"
								 filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
								
								<p:ajax event="rowSelect" listener="#{cc.attrs.component.selectFascicolo}" oncomplete="PF('wdgCercaFascicolo').hide()"
									update="#{cc.attrs.updateOnSelect}, #{cc.clientId}:idCercaFascicoloTabs"/>
							
								
								<p:column styleClass="dtInfoCol" headerText="INFO">
									<h:outputText styleClass="#{f.stato eq 'Aperto' ? 'fa fa-folder-open-o' : 'fa fa-folder-o'}" title="#{f.stato}"/>
								</p:column>
								<p:column headerText="Descrizione" filterBy="#{f.nomeDocumento} #{f.anno} #{f.descrizione}" filterMatchMode="contains" styleClass="generic_textAlignJustify">
									<p:outputLabel value="#{f.nomeDocumento}" styleClass="generic_grassetto generic_corsivo"/>
										<p:outputLabel value="_"  styleClass="generic_grassetto generic_corsivo"/>
										<p:outputLabel value="#{f.anno}" styleClass="generic_grassetto generic_corsivo"/>
										<p:outputLabel value="_"/>
									<p:outputLabel value="#{cc.attrs.component.getShortColumn(f.descrizione, 110)}" title="#{f.descrizione}"/>
								</p:column>
								
								<p:column headerText="Titolario" filterBy="#{f.indiceClassificazione} #{f.descrizioneTitolario}" filterMatchMode="contains" 
									styleClass="generic_textAlignCenter lf_tableColumn3">
									<h:outputText rendered="#{f.descrizioneTitolario ne null}" title="#{f.indiceClassificazione} - #{f.descrizioneTitolario}"
									 	value="#{f.indiceClassificazione} - #{cc.attrs.component.getShortColumn(f.descrizioneTitolario, 25)}"/>
									<h:outputText rendered="#{f.descrizioneTitolario eq null}" value="#{f.indiceClassificazione}"/>
								</p:column>
								
								<p:column headerText="Data" filterBy="#{f.dataCreazione}" filterMatchMode="contains" styleClass="generic_width80px">
									<p:outputLabel value="#{f.dataCreazione}">
										<f:convertDateTime pattern="dd/MM/yyyy"/>
									</p:outputLabel>
								</p:column>
								
								
							</p:dataTable>
						</p:outputPanel>
					</p:outputPanel>
				</p:tab>
				<p:tab id="ricercaPerTitolario" title="Ricerca per titolario">
					<p:outputPanel id="titolarioTreePanel" class="dmd-tree-panel ui-g">
						<p:outputPanel id="treeIndiciClassificazione_pnl" style="width:100%" >
							<p:tree id="treeIndiciClassificazione" value="#{cc.attrs.component.indiceDiClassificazione.rootTitolario}" var="element" widgetVar="wdgTreeIndiciClass_Creaz"
								selectionMode="single" selection="#{cc.attrs.component.indiceDiClassificazione.selectedNode}" dynamic="true" styleClass="generic_input99 generic_noborder">
								<p:ajax event="expand" listener="#{cc.attrs.component.indiceDiClassificazione.onTitolarioNodeExpand}"/>
								<p:ajax event="select" process="#{cc.clientId}:idCercaFascicoloTabs:treeIndiciClassificazione_pnl,idDettagliEstesiForm:idTabs_DMD:idprotMittERisp_DMDTD" onstart="PF('tableFascicoliDelTitolario').clearFilters()" 
									listener="#{cc.attrs.component.fascicoliPerTitolario.onNodeSelect}" update="#{cc.clientId}:idCercaFascicoloTabs:treeFascicoliDelTitolario_div"/>
					        			
								<p:treeNode>
									<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em" alt="icona ufficio" title="ufficio"/> 
									<h:outputText value="#{element.indiceClassificazione} - "/>
									<h:outputText value="#{fn:length(element.descrizione) gt 80 ? fn:substring(element.descrizione, 0, 24).concat('...') : element.descrizione}" 
										title="#{element.indiceClassificazione} - #{element.descrizione}"/>
								</p:treeNode>
							</p:tree>
						</p:outputPanel> 
						
						<p:outputPanel id="treeFascicoliDelTitolario_div" >
							<p:dataTable id="idTableFascicoliDelTitolario" widgetVar="tableFascicoliDelTitolario" var="element" selectionMode="single" rowKey="#{element.id}" 
								value="#{cc.attrs.component.fascicoliPerTitolario.fascicoliPerTitolarioDTH.masters}" emptyMessage="Nessun fascicolo"
								selection="#{cc.attrs.component.fascicoliPerTitolario.selectedFascicolo}" rows="10" rowsPerPageTemplate="10,15,20" 
  								paginatorAlwaysVisible="false" paginator="true" paginatorPosition="bottom" rowIndexVar="index" 
								styleClass="generic_textAlignCenter">
							  	<p:ajax event="rowSelect" listener="#{cc.attrs.component.selectFascicoloDelTitolario}" oncomplete="PF('wdgCercaFascicolo').hide()"
									update="#{cc.attrs.updateOnSelect}, #{cc.clientId}:idCercaFascicoloTabs"/>
								
								<f:facet name="header">
									<h:outputText value="Fascicoli #{(cc.attrs.component.fascicoliPerTitolario.nonClassificati) ? '' : 'con indice di classificazione '.concat(cc.attrs.component.fascicoliPerTitolario.indiceDiClassificazione)} "/>
								</f:facet>
								 
								<p:column headerText="Info" styleClass="dtInfoCol generic_textAlignCenter">
									<h:outputText styleClass="#{element.statoFascicolo eq 'Aperto' ? 'fa fa-folder-open-o' : 'fa fa-folder-o'}" title="#{element.statoFascicolo}"/>
								</p:column>
								<p:column headerText="Descrizione" styleClass="generic_width70 generic_textAlignJustify" filterBy="#{element.id} #{element.oggetto}" filterMatchMode="contains"  >
								 	<h:outputText value="#{fn:length(element.oggetto) gt 10 ? fn:substring(element.oggetto, 0, 10) : element.oggetto}" title="#{element.id} - #{element.oggetto}" styleClass="generic_grassetto generic_corsivo"/>
									<h:outputText value="#{fn:length(element.oggetto) gt 100 ? fn:substring(element.oggetto, 10, 96).concat('...') : fn:substring(element.oggetto, 10, fn:length(element.oggetto))}" title="#{element.id} - #{element.oggetto}"/>
								</p:column>
								<p:column headerText="Data Creazione" styleClass="generic_width20" filterBy="#{element.dataCreazione}" filterMatchMode="contains">
									<p:outputLabel value="#{element.dataCreazione}">
							  			<f:convertDateTime pattern="dd/MM/yyyy" />
									</p:outputLabel>
								</p:column> 
						 
							</p:dataTable>
						</p:outputPanel>
					</p:outputPanel>
					<p:outputPanel class="buttonsDiv textAlignRight">
						<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('wdgCercaFascicolo').hide()" type="button" styleClass="uniqueCloseButton"/>
					</p:outputPanel>
				</p:tab>
				
				<p:tab id="ricercaDocumenti" title="Ricerca per documenti">
					<red:ricercaFascicoliDaDocumentiComponent component="#{cc.attrs.component.tabRicercaDoc}" updateOnSelect="#{cc.attrs.updateOnSelect}" widgetVarDlg="'wdgCercaFascicolo'" closeDialogOnSelect="true"/>
				</p:tab>
			</p:tabView>
			
			<p:inputText widgetVar="hiddenVarCercaFascicoloCmp" type="hidden" id="idHiddenVarCercaFascicoloCmp" value="#{cc.attrs.component.fullComponentId}"/>
			
			<script>
				setTimeout(function() {	
					var fullComponentId = $(PrimeFaces.widgets['hiddenVarCercaFascicoloCmp'].jqId).attr('id').split(':idHiddenVarCercaFascicoloCmp')[0];
					$(PrimeFaces.widgets['hiddenVarCercaFascicoloCmp'].jqId).val(fullComponentId);
				}, 500);
			</script>
		</p:dialog>
		
	</cc:implementation>
	
</ui:composition>
