<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IMessaggioRegistraAnnullaComponent" required="true"/>
		<cc:attribute name="widgetVar" type="java.lang.String"  required="true"/>
		<cc:attribute name="registraUpdate" type="java.lang.String" default=""/>
		<cc:attribute name="messageTitle" type="java.lang.String" default=""/>
		<cc:attribute name="dlgTitle" type="java.lang.String" default=""/>
	</cc:interface>
	<cc:implementation>
	
		<p:dialog widgetVar="#{cc.attrs.widgetVar}" header="#{cc.attrs.dlgTitle}" rendered="#{cc.attrs.bean != null}" 
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('#{cc.attrs.widgetVar}')" appendTo="@form" modal="true" responsive="true" fitViewport="true" 
			showEffect="fade" hideEffect="fade" resizable="false" closable="true" onHide="resetCampiByWidget('messaggio')">
			
			<p:remoteCommand name="resetDlgRegistraAnnulla" action="#{cc.attrs.bean.close()}" update="#{cc.clientId}:idRiattivaPanel"/>
			<p:panel id="idRiattivaPanel" styleClass="generic_noborder generic_no_background"> 
				<div class="ui-g">
					<div class="ui-g-5">
						<p:outputLabel value="#{cc.attrs.messageTitle}" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-7">
						<p:inputTextarea widgetVar="messaggio" value="#{cc.attrs.bean.messaggio}" rows="4" cols="37"/>
					</div>
				</div>
		
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="6" columnClasses="ui-grid-col-6,ui-grid-col-6">
					<p:commandButton icon="fa fa-pencil" value="Registra" action="#{cc.attrs.bean.registra()}" oncomplete="PF('#{cc.attrs.widgetVar}').hide()" 
						update="#{cc.attrs.registraUpdate}" styleClass="generic_width100"/>
					<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('#{cc.attrs.widgetVar}').hide()" type="button" ajax="false" 
						styleClass="generic_width100 uniqueCloseButton"/>
				</p:panelGrid>
			</p:panel>
		</p:dialog>
	
	</cc:implementation>
</ui:composition>