<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.AbstractRubricaBean" required="false" default="#{RubricaBean}"/>
		<cc:attribute name="widgetVar" type="java.lang.String" required="true"/>
		<cc:attribute name="dlgTitle" type="java.lang.String" required="true"/>
		<cc:attribute name="confirmBtnTitle" type="java.lang.String" required="true"/>
		<cc:attribute name="confirmBtnOperation" type="java.lang.String" required="true"/>
		<cc:attribute name="confirmBtnUpdate" type="java.lang.String" required="true"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:dialog id="#{cc.attrs.widgetVar}_ID" widgetVar="#{cc.attrs.widgetVar}" header="#{cc.attrs.dlgTitle}" resizable="false" draggable="false"
			appendTo="@form" styleClass="rub-max-width" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('#{cc.attrs.widgetVar}')" closable="true">
		
			<p:outputPanel class="ui-g-12 ui-fluid rub-max-width">
			
				<p:outputPanel class="ui-g-12 generic_textAlignCenter">
					<p:outputLabel value="Dettaglio Contatto" rendered="#{not empty cc.attrs.bean.contattoConsiderato}" styleClass="generic_textBold"/>
				</p:outputPanel>
				
		<!-- 			RIGA -->
				<p:outputPanel class="ui-g-12 generic_padding0">
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Tipo Contatto" styleClass="generic_textBold"/>  
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_TIPO_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:selectOneMenu value="#{cc.attrs.bean.contattoConsiderato.tipoPersona}" rendered="#{cc.attrs.bean.modeFlag}" lazy="true" autoWidth="false" disabled="true">
							<f:selectItem itemLabel="Fisica" itemValue="F"/>
							<f:selectItem itemLabel="Giuridica" itemValue="G"/>
				        </p:selectOneMenu>
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-2 rub-padding-left-label" rendered = "#{cc.attrs.bean.contattoConsiderato.tipoPersona eq 'F'}">
						<p:outputLabel value="Titolo" styleClass="generic_textBold"/> 
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_TITOLO_CONTATTO.tipoOperazione ? 'red_input_border' : ''}" rendered = "#{cc.attrs.bean.contattoConsiderato.tipoPersona eq 'F'}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.titolo}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_TITOLO_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}"/>
					</p:outputPanel>

					<p:outputPanel class="ui-g-2 rub-padding-left-label" rendered = "#{cc.attrs.bean.contattoConsiderato.tipoPersona eq 'G'}">
						<p:outputLabel value="Denominazione Ente/Società" styleClass="generic_textBold" />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_TITOLO_CONTATTO.tipoOperazione ? 'red_input_border' : ''}" rendered = "#{cc.attrs.bean.contattoConsiderato.tipoPersona eq 'G'}">
						<p:inputText styleClass="textfield_input obbligatorio"  value="#{cc.attrs.bean.contattoConsiderato.nome}" />
					</p:outputPanel>

				</p:outputPanel>
				
		<!-- 				RIGA -->
				<p:outputPanel class="ui-g-12 generic_padding0" rendered = "#{cc.attrs.bean.contattoConsiderato.tipoPersona eq 'F'}">
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Ragione Sociale/Nome*" styleClass="generic_textBold" /> 
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_NOME_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.nome}"
							readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_NOME_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}"/>
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Cognome*" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_COGNOME_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.cognome}"
							readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_COGNOME_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}"/>
					</p:outputPanel>
					 
				</p:outputPanel>
		
		<!-- 				RIGA -->
				<p:outputPanel class="ui-g-12 generic_padding0">
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Descrizione/Alias" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_DESCRIZIONE_ALIAS_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.aliasContatto}"
							readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_DESCRIZIONE_ALIAS_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" />
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Indirizzo" styleClass="generic_textBold"/> 
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_INDIRIZZO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.indirizzo}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_INDIRIZZO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}"/>
					</p:outputPanel>
				</p:outputPanel>
				
		<!-- 				RIGA -->
				<p:outputPanel class="ui-g-12 generic_padding0">
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="CAP" styleClass="generic_textBold"/> 
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_CAP_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.CAP}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_CAP_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}"/>
					</p:outputPanel>
					 
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Provincia:" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_PROVINCIA_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						 	
					<p:autoComplete value="#{cc.attrs.bean.contattoConsiderato.provinciaObj}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_PROVINCIA_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{cc.attrs.bean.loadProvinceAddCreazione}" var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter" rendered="#{cc.attrs.bean.modeFlag}" forceSelection="true" styleClass="textfield_input" >
						<p:ajax event="itemSelect" listener="#{cc.attrs.bean.updateProvinceOnSelectAddCreazioneDlg}" update="comuneInsertAutocomplete_RubRic" />
						<p:ajax event="clear" listener="#{cc.attrs.bean.updateProvinceOnSelectAddCreazioneDlg}" update="comuneInsertAutocomplete_RubRic" />
					</p:autoComplete>
							
					</p:outputPanel>
				</p:outputPanel>
				
		<!-- 				RIGA -->
				<p:outputPanel class="ui-g-12 generic_padding0">
					 <p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Comune:" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_COMUNE_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:autoComplete readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_COMUNE_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione or (cc.attrs.bean.contattoConsiderato.provinciaObj.idProvincia eq null)}" value="#{cc.attrs.bean.contattoConsiderato.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{cc.attrs.bean.loadComuniAddCreazioneDlg}" var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" rendered="#{cc.attrs.bean.modeFlag}" forceSelection="true" id="comuneInsertAutocomplete_RubRic" styleClass="textfield_input">
							<p:ajax event="itemSelect" listener="#{cc.attrs.bean.updateComuniOnSelectAddCreazioneDlg}"  />
							<p:ajax event="clear" listener="#{cc.attrs.bean.updateComuniOnSelectAddCreazioneDlg}" />
						</p:autoComplete>
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Mail PEO" styleClass="generic_textBold" />
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_MAILPEO_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.mail}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_MAILPEO_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" />
					</p:outputPanel>
					
				</p:outputPanel>
				
				<p:outputPanel class="ui-g-12 generic_padding0">
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Mail PEC" styleClass="generic_textBold" />
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_MAILPEC_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.mailPec}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_MAILPEC_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" />
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Telefono" styleClass="generic_textBold" />
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_TELEFONO_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.telefono}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_TELEFONO_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" />
					</p:outputPanel>
					
				</p:outputPanel>
				
				<p:outputPanel class="ui-g-2 rub-padding-left-label">
						<p:outputLabel value="Cellulare" styleClass="generic_textBold" />
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 #{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata eq operazione.MODIFICA_CELLULARE_CONTATTO.tipoOperazione ? 'red_input_border' : ''}">
						<p:inputText value="#{cc.attrs.bean.contattoConsiderato.cellulare}" readonly="#{cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.MODIFICA_CELLULARE_CONTATTO.tipoOperazione and cc.attrs.bean.notificaPerOperazione.operazioneEffettuata ne operazione.RICHIESTA_CREAZIONE_CONTATTO.tipoOperazione}" />
					</p:outputPanel>
  
			</p:outputPanel>
			
			<p:outputPanel class="ui-g-12 generic_textAlignCenter">
			
				<p:commandButton icon="fa fa-check" title="#{cc.attrs.confirmBtnTitle}" value="#{cc.attrs.confirmBtnTitle}" actionListener="#{cc.attrs.confirmBtnOperation}" 
					oncomplete="PF('#{cc.attrs.widgetVar}').hide();" update="#{cc.attrs.confirmBtnUpdate}" process="#{cc.attrs.widgetVar}_ID" />
				
				<p:commandButton icon="fa fa-times" title="Chiudi" value="Chiudi" onclick="PF('#{cc.attrs.widgetVar}').hide();" styleClass="uniqueCloseButton"/>
				
			</p:outputPanel>
		</p:dialog>
		
	</cc:implementation>
	
</ui:composition>
