<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<cc:interface> 
		<cc:attribute name="fromRubrica" type="java.lang.Boolean" required="false" default="false"/>
	</cc:interface>
	
	<cc:implementation> 
		<p:dialog id="contattiNelGruppoID" header="Contatti Nel Gruppo" widgetVar="contattiNelGruppoWV" position="center" showEffect="fade" hideEffect="fade" appendTo="@form" resizable="false" closable="true" styleClass="generic_maxwidth1200px" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('contattiNelGruppoWV')">
			<p:dataTable widgetVar="contattiNelGruppoDT_WV" id="contattiNelGruppoDT_ID" var="contattoNelGruppo" value="#{cc.attrs.bean.contattiNelGruppo}" rowKey="#{contattoNelGruppo.contattoID}" styleClass="dataTable" paginator="true" paginatorPosition="bottom" rows="5" sortMode="multiple" emptyMessage="Nessun contatto">
				<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width10" rendered="#{cc.attrs.fromRubrica}">
					<p:commandButton icon="fa fa-close" actionListener="#{RubricaBean.rimuoviContattoDaGruppoNew(contattoNelGruppo)}" update="contattiNelGruppoDT_ID" disabled="#{RubricaBean.disabiitaDeleteGruppiContNonUff}"/>
				</p:column>
				 
				<p:column headerText="Descrizione/Alias" sortBy="#{contattoNelGruppo.nome}" filterBy="#{contattoNelGruppo.nome}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
					<h:outputText value="#{contattoNelGruppo.aliasContatto}" title="#{contattoNelGruppo.aliasContatto}" />
				</p:column>

				<p:column headerText="Categoria" sortBy="#{contattoNelGruppo.tipoPersona}" filterBy="#{contattoNelGruppo.tipoPersona}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
					<h:outputText value="#{contattoNelGruppo.tipoPersona}" title="#{contattoNelGruppo.tipoPersona}" />
				</p:column>

				<p:column headerText="PEO" sortBy="#{contattoNelGruppo.mail}" filterBy="#{contattoNelGruppo.mail}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
					<h:outputText value="#{contattoNelGruppo.mail}" title="#{contattoNelGruppo.mail}" />
				</p:column>

				<p:column headerText="PEC" sortBy="#{contattoNelGruppo.mailPec}" filterBy="#{contattoNelGruppo.mailPec}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
					<h:outputText value="#{contattoNelGruppo.mailPec}" title="#{contattoNelGruppo.mailPec}" />
				</p:column>
			</p:dataTable>
			<div class="buttonsDiv generic_textAlignRight">
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('contattiNelGruppoWV').hide();" styleClass="uniqueCloseButton" />
			</div>
		</p:dialog>

		<p:dialog modal="true" appendTo="@form" header="Richiesta Eliminazione" widgetVar="dialogRichEliminazioneVW" id="idDialogRichEliminazioneId" resizable="false" draggable="false" closable="true" hideEffect="fade" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRichEliminazioneVW')">
			<div class="ui-g generic_width600px">
				<div class="ui-g-12">
					<p:outputLabel value="Motivo" for="@next" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
				</div>
				<div class="ui-g-12 ui-fluid">
					<p:inputTextarea id="notaRichiestaEliminazioneID" value="#{cc.attrs.bean.notaRichiestaEliminazione}" rows="4" styleClass="obbligatorio" />
				</div>
				<div class="ui-g-12 generic_textAlignCenter">
					<span class="generic_textBold">Sara' inviata una richiesta al Gestore della Rubrica per il contatto selezionato</span>
				</div>
				<div class="ui-g-12 generic_textAlignCenter">
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
						<p:commandButton value="Esegui" title="Esegui" icon="fa fa-check" actionListener="#{cc.attrs.bean.inviaNotificaEliminazione}" oncomplete="PF('dialogRichEliminazioneVW').hide()" styleClass="generic_width100" process="notaRichiestaEliminazioneID" />
						<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('dialogRichEliminazioneVW').hide();" type="button" styleClass="generic_width100 uniqueCloseButton" />
					</p:panelGrid>
				</div>
			</div>
		</p:dialog>


		<p:dialog modal="true" appendTo="@form" header="Richiesta Creazione" widgetVar="dialogRichCreazioneVW" id="idDialogRichCreazioneID" closable="true" resizable="false" hideEffect="fade" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRichCreazioneVW')" draggable="false">
			<div class="ui-g generic_width600px hideClassPerProtocolla">
				<div class="ui-g-12">
					<p:outputLabel value="Motivo" for="@next" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
				</div>
				<div class="ui-g-12 ui-fluid">
					<p:inputTextarea id="notaRichiestaCreazioneID" value="#{cc.attrs.bean.notaRichiestaCreazione}" rows="4" styleClass="obbligatorio" />
				</div>
				<div class="ui-g-12 generic_textAlignCenter">
					<span class="generic_textBold">Sara' inviata una richiesta al Gestore della Rubrica per il contatto</span>
				</div>
				<div class="ui-g-12 generic_textAlignCenter">
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
						<p:commandButton value="Esegui" title="Esegui" icon="fa fa-check" actionListener="#{cc.attrs.bean.inviaNotificaCreazione}" styleClass="generic_width100" process="@form,notaRichiestaCreazioneID" />
						<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('dialogRichCreazioneVW').hide();" type="button" styleClass="generic_width100 uniqueCloseButton" />
					</p:panelGrid>
				</div>
			</div>
		</p:dialog>

		<p:dialog modal="true"  appendTo="@form" header="Richiesta Modifica" widgetVar="dialogRichModificaWV" id="idDialogRichModificaID" closable="true" resizable="false" hideEffect="fade" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRichModificaWV')" draggable="false">
			<div class="ui-g generic_width600px">
				<div class="ui-g-12">
					<p:outputLabel value="Motivo" for="@next" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
				</div>
			</div>

			<div class="ui-g-12 ui-fluid">
				<p:inputTextarea id="notaRichiestaModificaID" value="#{cc.attrs.bean.notaRichiestaModifica}" rows="4" styleClass="obbligatorio" />
			</div>
			<div class="ui-g-12 generic_textAlignCenter">
				<span class="generic_textBold">Sara' inviata una richiesta al Gestore della Rubrica per il contatto selezionato</span>
			</div>
			<div class="ui-g-12 generic_textAlignCenter">
				<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
					<p:commandButton value="Esegui" title="Esegui" icon="fa fa-check" actionListener="#{cc.attrs.bean.inviaNotificaModifica}" oncomplete="PF('dialogRichModificaWV').hide();" styleClass="generic_width100" process="@form,notaRichiestaModificaID" />
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('dialogRichModificaWV').hide();" type="button" styleClass="generic_width100 uniqueCloseButton" />
				</p:panelGrid>
			</div>
		</p:dialog>

	</cc:implementation>

</ui:composition>