<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.DocumentiAllegabiliSelectableInterface"/>
		<cc:attribute name="downloader" type="it.ibm.red.web.document.mbean.interfaces.IDocumentoAllegabileDownloader" required="false" />
		<cc:attribute name="hideCounter" type="java.lang.Boolean" default="true" required="false" />
		<cc:attribute name="updateCounter" type="java.lang.String" default="" required="false" />
	</cc:interface>
	
	<cc:implementation>
	
	<red:pnlInfoFirmaComponent id="pnlInfoFirmaTabAllegati" bean="#{cc.attrs.bean.allegato}" verificaFirma="true"></red:pnlInfoFirmaComponent>
	<div class="ui-g-12" style="height:400px!important">
		<p:dataTable id="documentiAllegabiliDatatable" styleClass="generic_textAlignCenter"
			 var="d" value="#{cc.attrs.bean.documentiAllegabili}" rowIndexVar="index" 
			 rowSelector="false" selection="#{cc.attrs.bean.selectedAllegabili}" rowKey="#{d.documentTitle}" disabledSelection="#{d.disabled}"
			 scrollRows="5" 
			 scrollable="true" paginatorAlwaysVisible="false" emptyMessage="Nessun documento allegabile."
			 rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom">
			<f:facet name="header">
				<h:outputText value="Procedimenti presenti nel fascicolo #{cc.attrs.bean.fascicolo.nomeDocumento}/#{cc.attrs.bean.fascicolo.anno}" />
			</f:facet>
			<p:ajax disabled="#{cc.attrs.hideCounter and fn:length(cc.attrs.updateCounter) eq 0}" event="toggleSelect" update="idFooter_DAST #{cc.attrs.updateCounter}" />
			<p:ajax disabled="#{cc.attrs.hideCounter and fn:length(cc.attrs.updateCounter) eq 0}" event="rowSelectCheckbox" update="idFooter_DAST  #{cc.attrs.updateCounter}" />
			<p:ajax disabled="#{cc.attrs.hideCounter and fn:length(cc.attrs.updateCounter) eq 0}" event="rowUnselectCheckbox" update="idFooter_DAST  #{cc.attrs.updateCounter}" />
		
			<p:column selectionMode="multiple" headerText="Seleziona" width="6%" />
		
			<p:column headerText="Num. Prot./ID/RR">
				<div class="ellipsis">
					<h:outputText value="#{d.numProtId}" title="#{d.numProtId}"/>
				</div>
			</p:column>
		
			<p:column headerText="Oggetto">
				<div class="ellipsis">
					<h:outputText value="#{d.oggetto}" title="#{d.oggetto}"/>
				</div>
			</p:column>
		
			<p:column headerText="Nome file">
				<div class="ellipsis">
					<h:outputText value="#{d.nomeFile}" title="#{d.nomeFile}" />
				</div>
			</p:column>
		
			<p:column headerText="Tipo file">
				<div class="ellipsis">
					<h:outputText value="#{d.allegatoNonSbustato ? 'ALL. NON SBUSTATO' : d.tipo}" title="#{d.tipo}"/>
				</div>
			</p:column>
			
			<p:column headerText="Dimensione">
				<h:outputText value="#{d.dimensione} KB" title="#{d.dimensione} KB" />
			</p:column>
			
			<p:column headerText="Verifica firma" styleClass="generic_textAlignCenter">
				<p:commandButton rendered="#{d.visualizzaInfoVerificaFirma and d.valoreVerificaFirma ne ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
				       	styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle"
				       	action="#{cc.attrs.bean.aggiornaVerificaFirmaAllegato(d)}" 
				       	oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')"
				       	update="#{cc.clientId}:pnlInfoFirmaTabAllegati:idPnlInfoFirma, #{cc.clientId}:documentiAllegabiliDatatable "/>
				<h:outputLabel rendered="#{d.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
				     	styleClass="generic_centra fa fa-pencil-square no-sign-found icon-dimension-middle" 
				        title="Attenzione, sul file non sono presenti firme digitali."/>
			</p:column>
			
			<p:column id="validitaFirmaIcon" headerText="Validità firma" styleClass="generic_textAlignCenter" >
				<h:outputLabel rendered="#{d.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_OK}" styleClass="generic_centra fa fa-check-circle check-green" title="firma valida" />
				<h:outputLabel rendered="#{d.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_KO}" styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
			</p:column>
			
			<p:column rendered="#{cc.attrs.downloader ne null}" headerText="Download">
				<p:commandButton icon="fa fa-download" ajax="false" disabled="#{SessionBean.utente.gestioneApplicativa}">
			        <p:fileDownload value="#{cc.attrs.downloader.download(d)}" />
			    </p:commandButton>
			</p:column>
			
			<f:facet name="footer">
				<p:outputPanel rendered="#{not cc.attrs.hideCounter}" id="idFooter_DAST" >
					<red:documentiAllegabiliSizeCounter bean="#{cc.attrs.bean}" />
				</p:outputPanel> 
			</f:facet>
				
		</p:dataTable>
	</div>
		
	</cc:implementation>
</ui:composition>