<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"> 
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IDocumentManagerDataTabDocumenti" required="true"/>
		<cc:attribute name="verificaFirma" type="java.lang.Boolean" required="false" default="true"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
		<p:importEnum type="it.ibm.red.business.enums.FormatoAllegatoEnum" var="FormatoAllegatoEnum" allSuffix="ALL_ENUM_VALUES" />
	
		<!-- =============================== MANAGER DOCUMENTO DATA START ================================================================ -->
		<red:pnlInfoFirmaComponent id="pnlInfoFirmaTabDocumenti" bean="#{cc.attrs.bean}" verificaFirma="#{cc.attrs.verificaFirma}"></red:pnlInfoFirmaComponent>
		
		<p:outputPanel styleClass="ui-g generic_centra">
			<div class="ui-g-12">
				<h3>Documento Principale</h3>
			</div>
			<div class="ui-g-12">
				<p:accordionPanel>
					<p:tab title="Documento Principale #{not empty cc.attrs.bean.nomeFile ? '' : '- '.concat(cc.attrs.bean.nomeFile)}">
						<p:dataTable var="v" value="#{cc.attrs.bean.versioni}" rowIndexVar="index" styleClass="generic_table-maxHeight"
							paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10" rows="5" paginatorAlwaysVisible="false" emptyMessage="">
						   <p:column headerText="N." styleClass="generic_textAlignCenter" width="60">
						        <p:outputLabel value="#{v.versionNumber}" title="#{v.versionNumber}"/>
						    </p:column>
						    <p:column headerText="Tipo" styleClass="generic_textAlignCenter" width="60">
								 <span class="#{v.iconaExt.path} icon-dimension-middle" title="#{v.mimeType}" />
							</p:column>
						    <p:column headerText="Nome file" styleClass="generic_textAlignCenter">
						         <p:outputPanel styleClass="ellipsis">
						        	<p:outputLabel title="#{v.fileName}" value="#{v.fileName}"/>
						        </p:outputPanel>
						    </p:column>
						    <p:column headerText="Data" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.dateCheckedIn}">
						        	<f:convertDateTime pattern="dd/MM/yyyy"/>
						        </p:outputLabel>
						    </p:column>
						    <!-- <p:column headerText="Versione corrente" styleClass="generic_textAlignCenter">
						        <h:outputLabel rendered="#{v.currentVersion}" styleClass="generic_centra fa fa-check"/>
						    </p:column> -->
						   <p:column headerText="Verifica firma" styleClass="generic_textAlignCenter" rendered="#{cc.attrs.verificaFirma}">
						        <p:commandButton rendered="#{v.visualizzaInfoVerificaFirma and v.valoreVerificaFirma ne ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
						        	styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle" 
						        	action="#{cc.attrs.bean.aggiornaVerificaFirma(v)}" 
						        	oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')"
						        	update="@namingcontainer, #{cc.clientId}:pnlInfoFirmaTabDocumenti:idPnlInfoFirma"/>
				        		 <h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
				        		 	styleClass="generic_centra fa fa-pencil-square no-sign-found icon-dimension-middle" 
				        		 	title="Attenzione, sul file non sono presenti firme digitali."/>
						    </p:column>
						    <p:column headerText="Validità firma" styleClass="generic_textAlignCenter" rendered="#{cc.attrs.verificaFirma}">
								<h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_OK}" 
									styleClass="generic_centra fa fa-check-circle check-green" title="firma valida"/>
								<h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_KO}" 
									styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
						    </p:column>
						    <p:column headerText="Creato da" styleClass="generic_textAlignCenter">
						        <p:outputLabel title="#{v.creatore}" value="#{cc.attrs.bean.getShortColumn(v.creatore,15)}"/>
						    </p:column>
						    <p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="30" >
							    <p:commandButton title="Download documento #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}" rendered="#{not empty v.fileName and not empty v.mimeType}" >
							        <p:fileDownload value="#{cc.attrs.bean.downloadVersioneDocumentoPrincipale(v)}"/>
							    </p:commandButton>
						    </p:column>
						</p:dataTable>
					</p:tab>
				</p:accordionPanel>
			</div>
			
			<p:outputPanel styleClass="ui-g-12" rendered="#{fn:length(cc.attrs.bean.allegati) ne 0}">
				<h3>Allegati</h3>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-12" rendered="#{fn:length(cc.attrs.bean.allegati) ne 0}">
			
				<p:accordionPanel var="allegato" value="#{cc.attrs.bean.allegati}">
			
					<p:tab title="Allegato #{allegato.id} - #{allegato.data.formato eq FormatoAllegatoEnum.CARTACEO.id ? '(cartaceo)' : allegato.data.nomeFile}">
					
						<p:dataTable var="v" value="#{allegato.data.versions}" rowIndexVar="index" styleClass="generic_table-maxHeight"
							paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorAlwaysVisible="false" emptyMessage="">
							
			
							<p:column headerText="N." styleClass="generic_textAlignCenter" width="60">
						    	   <p:outputLabel value="#{v.versionNumber}" title="#{v.versionNumber}"/>
						    </p:column>
						
						    <p:column headerText="Tipo" styleClass="generic_textAlignCenter"  width="60" >
						    	<span class="#{v.iconaExt.path} icon-dimension-middle" title="#{v.mimeType}"/>
						    </p:column>
				    	
						    <p:column headerText="Nome file" styleClass="generic_textAlignCenter" >
						        <p:outputPanel styleClass="ellipsis">
						        	<p:outputLabel value="#{v.fileName}" title="#{v.fileName}"/>
						        </p:outputPanel>
						    </p:column>
						    
						    <p:column headerText="Data" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.dateCheckedIn}">
						        	<f:convertDateTime pattern="dd/MM/yyyy"/>
						        </p:outputLabel>
						    </p:column>
						    
						    <p:column headerText="Verifica firma" styleClass="generic_textAlignCenter" rendered="#{cc.attrs.verificaFirma}" >
						        <p:commandButton rendered="#{v.visualizzaInfoVerificaFirma and v.valoreVerificaFirma ne ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
						        	styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle" 
						        	action="#{cc.attrs.bean.aggiornaVerificaFirmaAllegato(v)}" 
						        	oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')"
						        	update="@namingcontainer, #{cc.clientId}:pnlInfoFirmaTabDocumenti:idPnlInfoFirma"/>
				        		 <h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
				        		 	styleClass="generic_centra fa fa-pencil-square no-sign-found icon-dimension-middle" 
				        		 	title="Attenzione, sul file non sono presenti firme digitali."/>
						    </p:column>
						    <p:column headerText="Validità firma" styleClass="generic_textAlignCenter" rendered="#{cc.attrs.verificaFirma}">
								<h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_OK}" 
									styleClass="generic_centra fa fa-check-circle check-green" title="firma valida"/>
								<h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_KO}" 
									styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
						    </p:column>
						    
						    <p:column headerText="Creato da" styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.creatore}"/>
						    </p:column>
						    
						 	 <p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="30">
						    	<p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa or allegato.data.formato eq FormatoAllegatoEnum.CARTACEO.id}">
							        <p:fileDownload value="#{cc.attrs.bean.downloadVersioneDocumentoAllegato(v)}" />
							    </p:commandButton>
			   				</p:column>
						</p:dataTable>						
										
					</p:tab>
			
				</p:accordionPanel>
					
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.utente.fileNonSbustato and fn:length(DocumentManagerBean.listAllegatiNonSbustati) ne 0}">
				<h3>Allegati non sbustati</h3>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-12" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.utente.fileNonSbustato and fn:length(DocumentManagerBean.listAllegatiNonSbustati) ne 0}">
			<ui:include src="documentManagerDataTabAllNonSbustato.xhtml"></ui:include>
			</p:outputPanel>
		</p:outputPanel>

	</cc:implementation>
	
</ui:composition>