<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	> 
	
<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IInserisciNota"  required="true"/>
	<cc:attribute name="multiNota" type="java.lan.Boolean" required="false" default="true" />
	<cc:attribute name="updateDlg" type="java.lang.String" />
	<cc:attribute name="onCompleteAction" type="java.lang.String" />
	<cc:attribute name="showElimina" type="java.lang.Boolean" required="false" default="true" />
</cc:interface>

<cc:implementation>
	
	<div class="ui-g">
		<div class="ui-g-3">
			<p:outputLabel value="Nota" styleClass="generic_textBold" for="taNota"/>
			<h:outputText rendered="#{not cc.attrs.multiNota}" styleClass="fa fa-info-circle"  title="Attenzione: la nota sarà visibile solo nello step di processo corrente."/>
		</div>
		<div class="ui-g-9">
			<p:inputTextarea id="taNota" value="#{cc.attrs.bean.testoNota}" rows="4" styleClass="generic_input95" />
		</div>
	</div>
	<div class="ui-fluid">
		<p:selectOneRadio id="colorRadio" value="#{cc.attrs.bean.coloreNota}" layout="custom">
			<f:selectItem itemLabel="Nero" itemValue="0"  />
			<f:selectItem itemLabel="Rosso" itemValue="1" />
			<f:selectItem itemLabel="Giallo" itemValue="2" />
			<f:selectItem itemLabel="Verde" itemValue="3" />
			<f:selectItem itemLabel="Arancione" itemValue="4" />
			<f:selectItem itemLabel="Blu" itemValue="5" />
		</p:selectOneRadio>
		
		<div id="divFlags" class="ui-g generic_textAlignCenter">
			<div class="ui-g-4">
	            <h:outputLabel for="opt0" title="Nero" styleClass="generic_marginRight" ><span class="fa fa-flag black"  /></h:outputLabel>
	            <p:radioButton id="opt0" for="colorRadio" itemIndex="0" />
			</div>
			<div class="ui-g-4">
	            <h:outputLabel for="opt1" title="Rosso" styleClass="generic_marginRight" ><span class="fa fa-flag red"  /></h:outputLabel>
	            <p:radioButton id="opt1" for="colorRadio" itemIndex="1" />
			</div>
			<div class="ui-g-4">
	            <h:outputLabel for="opt2" title="Giallo" styleClass="generic_marginRight" ><span class="fa fa-flag yellow" /></h:outputLabel>
	            <p:radioButton id="opt2" for="colorRadio" itemIndex="2" />
			</div>
			<div class="ui-g-4">
	            <h:outputLabel for="opt3" title="Verde" styleClass="generic_marginRight" ><span class="fa fa-flag green" /></h:outputLabel>
	            <p:radioButton id="opt3" for="colorRadio" itemIndex="3" />
			</div>
			<div class="ui-g-4">
	            <h:outputLabel for="opt4" title="Arancione" styleClass="generic_marginRight" ><span class="fa fa-flag orange" /></h:outputLabel>
	            <p:radioButton id="opt4" for="colorRadio" itemIndex="4" />
			</div>
			<div class="ui-g-4">
	            <h:outputLabel for="opt5" title="Blu" styleClass="generic_marginRight" ><span class="fa fa-flag blue" /></h:outputLabel>
	            <p:radioButton id="opt5" for="colorRadio" itemIndex="5" />
			</div>
		</div>
	</div>
	
	<div class="ui-g">
		<div class="ui-g-4">
			<p:commandButton id="btnInserisciNota" icon="fa fa-pencil" value="Inserisci"
					action="#{cc.attrs.bean.inserisciNotaResponse}"
					update="#{cc.attrs.updateDlg}"
					styleClass="generic_width100"
					/>
		</div>
		<div class="ui-g-4">
			<p:commandButton icon="fa fa-trash" value="Elimina" rendered="#{cc.attrs.showElimina}"
				action="#{cc.attrs.bean.eliminaNota}"
				update="#{cc.attrs.updateDlg}"
				styleClass="generic_width100" />
		</div>
		<div class="ui-g-4">
			<p:commandButton icon="fa fa-times" value="Chiudi"
				action="#{cc.attrs.bean.close()}"
				update="#{cc.attrs.updateDlg}"
				oncomplete="#{cc.attrs.onCompleteAction}"
				styleClass="generic_width100 uniqueCloseButton" />
		</div>
		<p:defaultCommand target="btnInserisciNota" scope="#{cc.clientId}" />
	</div>
</cc:implementation>

</ui:composition>