<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite"
>

<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IDocumentiAllegabiliSizeCounter" />
</cc:interface>

<cc:implementation>
	<h:outputText  value="Dimensione dei file selezionati: #{cc.attrs.bean.dimensioneSelected}/#{cc.attrs.bean.dimensioneTotale} KB" />
	
	<h:outputText rendered="#{cc.attrs.bean.dimensioneSuperata}" styleClass="fa fa-warning" 
		title="Dimensione massima superata: l'operazione richiederà più tempo del previsto e potrebbe non essere consentita." />
		
	<h:outputText rendered="#{not cc.attrs.bean.dimensioneSuperata}" styleClass="fa fa-check"	title="Dimensione massima OK." />
</cc:implementation>

</ui:composition>