<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	> 
	
	<p:importEnum type="it.ibm.red.business.enums.FormatoAllegatoEnum" var="FormatoAllegatoEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.ITabAllegatiBean" required="true"/>
		<cc:attribute name="allaccio" type="it.ibm.red.web.document.mbean.interfaces.IAllegatiDaAllacciInitializer" required="false"/>
	</cc:interface>
	<cc:implementation>
	
	<p:dialog header="Allegati da allaccio" resizable="false" widgetVar="wdgAllegatiDaAllacci" position="top" closable="true" modal="true" appendTo="@form"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgAllegatiDaAllacci')" draggable="true" >
		<p:outputPanel id="idAllegatiAllacci" rendered="#{cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist}" >
			<red:documentManagerDataTabAllegatiDaAllacci bean="#{cc.attrs.allaccio.allegatiDaAllacci}"/>
    		
    		<div class="ui-g generic_textAligncenter ui-fluid">
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" icon="ui-icon-check" action="#{cc.attrs.allaccio.registraAllegatiDaAllacci()}" process="@this #{cc.clientId}:idTabAllegati_DMD" 
	    				update="#{cc.clientId}:idTabAllegati_DMD #{cc.clientId}:idAllegatiAllacci"/>
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Chiudi" title="Chiudi" icon="ui-icon-close" styleClass="uniqueCloseButton"
	    			 	action="#{cc.attrs.allaccio.closeAllegatiDaAllacci()}" process="@this" update="#{cc.clientId}:idAllegatiAllacci" oncomplete="PF('wdgAllegatiDaAllacci').hide();"/>
	    		</div>
    		</div>	
		</p:outputPanel>
	</p:dialog>

	<p:outputPanel id="buttonPanelAllegatiId" styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist ? 'generic_textAlignRight generic_marginBottom generic_marginTop5 ui-g': 'generic_textAlignRight generic_marginBottom generic_marginTop5'}">
		
		<p:outputPanel styleClass="ui-g-8" rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist}" style="padding-top:11px;">
			<p:commandButton rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist}" icon="fa fa-files-o" value="Aggiungi allegato dagli allacci" 
		 		process="#{cc.clientId}" action="#{cc.attrs.allaccio.openAllegatiDaAllacci()}" update="#{cc.clientId}:idAllegatiAllacci" oncomplete="PF('wdgAllegatiDaAllacci').show()"/>
	 	</p:outputPanel>
	 	
	 	<p:outputPanel styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist ? 'ui-g-4' : 'ui-g'}">
			
			<p:fileUpload fileUploadListener="#{cc.attrs.bean.gestisciUploadAllegati}" auto="true" multiple="true"
						  label="Aggiungi allegati" 
						  rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and DocumentManagerBean.mode eq 'Elettronico'}"
						  styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist ? 'ui-g-5 dmd-fileUploadNew' : 'ui-g-10 dmd-fileUploadNew'}" 
						  mode="advanced" skinSimple="true" dragDropSupport="false" 
						  sequential="true" update="#{cc.clientId}:idTabAllegati_DMD, #{cc.clientId}:idTableAllegati_DMD, @form:idDimensioneContent"
						  onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();">
			</p:fileUpload> 
			
			<p:outputPanel  styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist?'ui-g-5':'ui-g-10'}" rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and DocumentManagerBean.mode eq 'Cartaceo'}" >
				<p:commandButton icon="fa fa-plus" ajax="true" value="Aggiungi allegato" rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and DocumentManagerBean.mode eq 'Cartaceo'}"
					action="#{cc.attrs.bean.addAllegatoCartaceo}" update="#{cc.clientId}:idTabAllegati_DMD, @form:idActionManagerPanel, @form:idDimensioneContent" process="idTabAllegati_DMD"/>
			 </p:outputPanel>
			 
			<p:selectOneRadio rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili}" id="opzioni_gestione_contatto" value="#{DocumentManagerBean.mode}" 
				styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and cc.attrs.allaccio ne null and cc.attrs.allaccio.allacciExist ? 'ui-g-7 generic_paddingBottom10px' : 'ui-g-2 generic_paddingBottom10px'}" 
				style="padding-left:0;padding-right:0">
				<p:ajax update="buttonPanelAllegatiId"/>
				<f:selectItem itemLabel="Elettronico" itemValue="Elettronico"/>
			    <f:selectItem itemLabel="Cartaceo" itemValue="Cartaceo"/>
			</p:selectOneRadio>
			
		</p:outputPanel>
		
	</p:outputPanel>
	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel id="idTabAllegati_DMD" styleClass="generic_centra">
		<p:remoteCommand name="processInputTextAllegati" process="#{cc.clientId}:idTableAllegati_DMD" update="@this, idTableAllegati_DMD"/>
		<p:dataTable var="al" value="#{cc.attrs.bean.allegati}" rowIndexVar="index" id="idTableAllegati_DMD"  
			emptyMessage="Nessun allegato" rendered="#{fn:length(cc.attrs.bean.allegati) gt 0}"	paginator="false" scrollable="false">
			<p:column headerText="Allegato">
				<h3 class="generic_marginTop0">
					<h:outputText rendered="#{al.documentTitleDocumentoProvenienza eq null}" value="Allegato  n°#{index + 1}"/>
					
					<h:outputText rendered="#{al.documentTitleDocumentoProvenienza ne null}" value="Allegato  [#{al.nomeFile}] | prelevato dal fascicolo #{al.descrizioneFascicoloProvenienza}"/>
					<h:outputText rendered="#{al.documentTitleDocumentoProvenienza ne null and al.documentTitleAllegatoProvenienza ne null}" value="(allegato del documento "/>
					<h:outputText rendered="#{al.documentTitleDocumentoProvenienza ne null and al.documentTitleAllegatoProvenienza eq null}" value="(documento "/>
					<h:outputText rendered="#{al.documentTitleDocumentoProvenienza ne null}" value="#{al.descrizioneDocumentoProvenienza})"/> 
				</h3>
				<p:outputPanel id="idAllegato" class="ui-g dmd-allegato-td" >
				
					<div class="ui-g-2">
						<p:outputLabel for="formatoDigitaleDoc_DMD" value="Formato allegato" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:selectOneMenu id="formatoDigitaleDoc_DMD" value="#{al.formatoSelected}" styleClass="" 
							disabled="#{al.inModifica or al.daProtocollaMail or al.daCensisciCartaceo or al.documentTitleDocumentoProvenienza ne null or al.daPredisponi}"> 
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.onChangeComboFormatoAllegato(index)}" process="#{cc.clientId}:idTableAllegati_DMD" />
							<f:selectItems value="#{cc.attrs.bean.documentManagerDTO.comboFormatiAllegato}"
								var="f" itemValue="#{f.formatoAllegato}" itemLabel="#{fn:substring(f.descrizione, 0,30)}#{fn:length(f.descrizione) gt 30? '...':''}" />
						</p:selectOneMenu>
					</div>
					<div class="ui-g-2">
						<p:outputLabel for="tipologiaDocumento_DMD" value="Tipologia documento" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:selectOneMenu id="tipologiaDocumento_DMD" value="#{al.idTipologiaDocumento}" styleClass=""
							disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.daCensisciCartaceo or al.daPredisponi}">
							<p:ajax update="@this, idTableAllegati_DMD" process="#{cc.clientId}:idTableAllegati_DMD" />
							<f:selectItems value="#{al.comboTipologieDocumentoAllegati}"
								var="td" itemValue="#{td.idTipologiaDocumento}" itemLabel="#{fn:substring(td.descrizione, 0,30)}#{fn:length(td.descrizione) gt 30? '...': ''}" />
						</p:selectOneMenu>
					</div>
					
					<div class="ui-g-2">
						<p:outputLabel for="oggettoDoc_DMD" value="Oggetto" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:inputText id="oggettoDoc_DMD" value="#{al.oggetto}" disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.daPredisponi}" onchange="processInputTextAllegati();"/>
					</div>
					
					<p:outputPanel rendered="#{al.checkMantieniFormatoOriginaleVisible or al.checkDaFirmareVisible or al.checkCopiaConformeVisible}" class="ui-g-2">
						<p:outputLabel for="oggettoDoc_DMD" value="Azioni" styleClass="generic_textBold"/>
					</p:outputPanel>
<!-- 					CHECKBOXES START -->
					<p:outputPanel class="ui-g-4" rendered="#{al.checkMantieniFormatoOriginaleVisible or al.checkDaFirmareVisible or al.checkCopiaConformeVisible}">
						<p:selectBooleanCheckbox id="checkboxMantieniFormatoOg" value="#{al.formatoOriginale}" itemLabel="Mantieni formato originale" 
							rendered="#{al.checkMantieniFormatoOriginaleVisible}" disabled="#{al.inModifica or al.copiaConforme or al.checkMantieniFormatoOriginaleDisable}">
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.clickCheckMantieniFormatoOriginale(index)}" process="#{cc.clientId}:idTableAllegati_DMD"/>
						</p:selectBooleanCheckbox>
						
						<p:selectBooleanCheckbox value="#{al.daFirmareBoolean}" itemLabel="Da Firmare" rendered="#{al.checkDaFirmareVisible}"
							disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.copiaConforme or al.daPredisponi}">
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.clickCheckDaFirmare(index)}" 
								process="#{cc.clientId}:idTableAllegati_DMD"/>
						</p:selectBooleanCheckbox>
						
						<div class="ui-g-5" style="padding: 0px;">
							<p:selectBooleanCheckbox value="#{al.firmaVisibile}" itemLabel="Firma Visibile" rendered="#{al.checkFirmaVisibileVisible}" disabled="#{al.formatoOriginale or al.inModifica}" styleClass="infoCheckBoxMarginRight2px">
								<p:ajax update="@this idTableAllegati_DMD" listener="#{cc.attrs.bean.clickCheckFirmaVisibile(index)}" 
									process="#{cc.clientId}:idTableAllegati_DMD"/>
							</p:selectBooleanCheckbox>
							
							
							<h:outputLabel id="infoFirmaVisibile" class="fa fa-info-circle" title="Informazioni su Firma Visibile" rendered="#{al.checkFirmaVisibileVisible}"/>
							<p:tooltip for="infoFirmaVisibile" position="top" styleClass="generic_maxwidth250px generic_marginRight1px" rendered="#{al.checkFirmaVisibileVisible}">
								<h:outputText value="Selezionando firma visibile verrà apposto il campo firma in fase di conversione 
							    				per i procedimenti ad iter di firma automatica o manuale singola 
							    				seguendo le stesse regole applicate per il documento principale." 
							    			styleClass="black"/>
							</p:tooltip>
						</div>
						    
						<p:selectBooleanCheckbox value="#{al.copiaConforme}" itemLabel="Invio copia conforme" rendered="#{al.checkCopiaConformeVisible}"
							disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.inModifica or al.checkCopiaConformeDisabled or al.daPredisponi}">
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.clickCheckInvioCopiaConforme(index)}" process="#{cc.clientId}:idTableAllegati_DMD"/>
						</p:selectBooleanCheckbox>
					 
						<p:selectBooleanCheckbox rendered="#{SessionBean.utente.stampigliaAllegatiVisible and (cc.attrs.bean.documentManagerDTO.checkStampigliaturaSiglaVisible and al.checkStampigliaturaSiglaVisible)}" disabled="#{al.inModifica}" value="#{al.stampigliaturaSigla}" itemLabel="Abilita Segno Grafico"  >
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.clickCheckStampigliaSigla(index)}" 
								process="#{cc.clientId}:idTableAllegati_DMD"/>
						</p:selectBooleanCheckbox>
					 
						<p:selectBooleanCheckbox rendered="#{SessionBean.utente.timbroUscitaAoo and (not cc.attrs.bean.documentManagerDTO.inCreazioneIngresso and not cc.attrs.bean.documentManagerDTO.inModificaIngresso)}" 
												 disabled="#{al.inModifica or al.checkTimbroUscitaAooDisabled}" value="#{al.timbroUscitaAoo}" itemLabel="Timbro protocollo Uscita"  >
								<p:ajax update="@this, idTableAllegati_DMD"  process="#{cc.clientId}:idTableAllegati_DMD"/>				 
						</p:selectBooleanCheckbox> 
<!-- 						rendered="#{SessionBean.utente.timbroUscitaAoo}" timbroUscitaAoo checkTimbroUscitaAooDisabled -->
					</p:outputPanel>
<!-- 					CHECKBOXES END -->
					
<!-- 					BARCODE START -->
					<p:outputPanel class="ui-g-2" rendered="#{al.barcodeVisible}">
						<p:outputLabel value="Barcode" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 ui-fluid" rendered="#{al.barcodeVisible}">
						<p:inputText value="#{al.barcode}" styleClass="" disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.daPredisponi}" onchange="processInputTextAllegati();"/>
					</p:outputPanel>
<!-- 					BARCODE END -->
					
					<!-- 						UPLOAD FILE START -->
					<p:outputPanel styleClass="ui-g-2" rendered="#{al.uploadFileVisible}">
						<p:outputLabel value="Caricamento file" styleClass="generic_textBold"/>
						<p:outputLabel value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-4 ui-fluid" rendered="#{al.uploadFileVisible}">
						<p:outputPanel styleClass="ui-inputgroup " >
							<p:inputText readonly="true" update="idTableAllegati_DMD" value="#{al.nomeFile}" styleClass="obbligatorio-readonly"
								disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.daPredisponi}"/>
							<p:fileUpload 
								fileUploadListener="#{cc.attrs.bean.handleFileUploadAllegato}"
								auto="true"
								label="Sfoglia"
								mode="advanced" skinSimple="true"
								dragDropSupport="false"
								styleClass="dmd-fileUploadNew" 
								rendered="#{al.nomeFile eq null}"
								update="idTableAllegati_DMD"
								process="#{cc.clientId}:idTableAllegati_DMD"
								onstart="PF('statusDialog').show();"
								oncomplete="PF('statusDialog').hide();">
								<f:attribute name="index" value="#{index}"/>
							</p:fileUpload>
							<p:commandButton action="#{cc.attrs.bean.rimuoviFileAllegato(index)}" icon="fa fa-close"
								rendered="#{al.nomeFile != null}" disabled="#{al.inModifica}"
								ajax="true" title="Rimuovi il documento" update="idTableAllegati_DMD, @form:idDimensioneContent, idDimensionePanel"
								process="#{cc.clientId}:idTableAllegati_DMD"
								/>
						</p:outputPanel>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-2" rendered="#{al.uploadFileVisible eq false and al.nomeFile ne null}">
						<p:outputLabel value="Nome file" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-4" rendered="#{al.uploadFileVisible eq false and al.nomeFile ne null}">
						<p:outputLabel value="#{al.nomeFile}"/>
					</p:outputPanel>
<!-- 						UPLOAD FILE END -->

<!-- 				COMBO RESPONSABILE COPIA CONFORME START					 -->
					<p:outputPanel class="ui-g-2" rendered="#{al.copiaConforme}">
						<p:outputLabel value="Responsabile copia conforme" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 ui-fluid" rendered="#{al.copiaConforme}">
						<p:selectOneMenu value="#{al.idCopiaConforme}" disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.inModifica or al.daPredisponi}" autoWidth="false">
							<p:ajax update="@this, idTableAllegati_DMD" listener="#{cc.attrs.bean.onChangeResponsabileCopiaConformeAllegato(index)}" process="#{cc.clientId}:idTableAllegati_DMD"/>
							<f:selectItems value="#{cc.attrs.bean.documentManagerDTO.comboResponsabileCopiaConforme}"
								var="r" itemLabel="#{r.descrizioneNodo} - #{r.nome} #{r.cognome}" itemValue="#{r.idNodo} #{r.idUtente}"/>
						</p:selectOneMenu>
					</p:outputPanel>
<!-- 				COMBO RESPONSABILE COPIA CONFORME END					 -->					

<!-- 					POSIZIONE START -->
					<p:outputPanel class="ui-g-2" rendered="#{al.posizioneVisible}">
						<p:outputLabel value="Posizione" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel class="ui-g-4 ui-fluid" rendered="#{al.posizioneVisible}">
						<p:inputText value="#{al.posizione}" styleClass="" disabled="#{not cc.attrs.bean.documentManagerDTO.allegatiModificabili or al.daPredisponi}">
							<p:ajax update="@this, idTableAllegati_DMD" process="@this" onstart="chiudiStatusDialog();"/>
						</p:inputText>
					</p:outputPanel>
<!-- 					POSIZIONE END -->

<!-- 					DIMENSIONE START -->
					<p:outputPanel id="idDimensionePanel" class="ui-g-2" rendered="#{cc.attrs.bean.documentManagerDTO.isInCreazioneUscita() or cc.attrs.bean.documentManagerDTO.isInModificaUscita()}">
						<p:outputLabel value="#{al.contentSize} Mb" rendered="#{DocumentManagerBean.detail.maxSizeContent ne null and al.contentSize ne null}"/>
					</p:outputPanel>
<!-- 					DIMENSIONE END -->
				</p:outputPanel>
			</p:column>
			
			<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width70px">
				<div class="ui-g">
					<p:outputPanel styleClass="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and not al.daPredisponi ? 'ui-g-6' : 'ui-g-12'}">
						<p:commandButton icon="fa fa-download" title="Download #{al.nomeFile}" ajax="false"
							disabled="#{SessionBean.utente.gestioneApplicativa or al.newAllegato or al.formatoSelected eq FormatoAllegatoEnum.NON_SPECIFICATO or al.formatoSelected eq FormatoAllegatoEnum.CARTACEO}">
							<p:fileDownload value="#{cc.attrs.bean.downloadAllegato(index)}"/>
						</p:commandButton>
					</p:outputPanel>
					<p:outputPanel class="ui-g-6" rendered="#{cc.attrs.bean.documentManagerDTO.allegatiModificabili and not al.daPredisponi}">
						<p:commandButton icon="fa fa-remove" update="#{cc.clientId}:idTabAllegati_DMD, @form:idActionManagerPanel, @form:idDimensioneContent" title="Rimuovi" action="#{cc.attrs.bean.rimuoviAllegato(index)}" 
							disabled="#{cc.attrs.bean.documentManagerDTO.disabilitaButtonProtSemi}" ajax="true"/>
					</p:outputPanel>
				</div>
			</p:column>

		</p:dataTable>
		
		<p:dialog header="Allegato Protetto" resizable="false" widgetVar="wdgConfirmUpload" position="center" closable="true" modal="true" appendTo="@form" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgAllegatiDaAllacci')" >
			
			<p:outputPanel id="idPanelFileProtetto" styleClass="confirm-allegato-protetto">
				<p:outputLabel value="Attenzione! Il file appena caricato risulta protetto. Confermando l'operazione il file non verrà convertito." styleClass="generic_textBold"/>
			</p:outputPanel>
			
			
			<div class="ui-g generic_textAligncenter ui-fluid">
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" action="#{cc.attrs.bean.confirmUploadAllegato()}" icon="ui-icon-check" process="@this #{cc.clientId}:idTabAllegati_DMD" update="#{cc.clientId}:idTabAllegati_DMD" />
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Annulla" onclick="PF('wdgConfirmUpload').hide();" title="Annulla" icon="ui-icon-close" type="button" />
	    		</div>
    		</div>
		
		</p:dialog>
		
	</p:outputPanel>
	
</cc:implementation>
</ui:composition>
