<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.FormatoAllegatoEnum" var="FormatoAllegatoEnum" allSuffix="ALL_ENUM_VALUES" />
		 
		<p:accordionPanel var="allegato" value="#{DocumentManagerBean.listAllegatiNonSbustati}">
			<p:tab title="Allegati non sbustati">
 				<p:dataTable var="v" value="#{allegato.versions}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10" rows="5" paginatorAlwaysVisible="false" emptyMessage="">
					<p:column headerText="Tipo" styleClass="generic_textAlignCenter" width="60">
						<span class="fa fa-file-archive-o icon-dimension-middle" title="#{v.mimeType}" />
					</p:column>

					<p:column headerText="Nome file" styleClass="generic_textAlignCenter" >
						  <p:outputPanel styleClass="ellipsis">
						       	<p:outputLabel value="#{v.fileName}" title="#{v.fileName}"/>
						  </p:outputPanel>
					</p:column>
					
					<p:column headerText="Data" styleClass="generic_textAlignCenter">
					       <p:outputLabel value="#{v.dateCheckedIn}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					       </p:outputLabel>
					</p:column>

					<p:column headerText="Verifica firma" styleClass="generic_textAlignCenter" >
					       <p:commandButton rendered="#{v.visualizzaInfoVerificaFirma and v.valoreVerificaFirma ne ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}"  styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle"  
					        action="#{DocumentManagerBean.aggiornaVerificaFirmaAllegato(v)}" oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')" update="@namingcontainer, #{cc.clientId}:pnlInfoFirmaTabDocumenti:idPnlInfoFirma"/>
				     	   <h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}"  styleClass="generic_centra fa fa-pencil-square no-sign-found icon-dimension-middle"  title="Attenzione, sul file non sono presenti firme digitali."/>
					</p:column>
								
					<p:column headerText="Validità firma" styleClass="generic_textAlignCenter">
						   <h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_OK}" styleClass="generic_centra fa fa-check-circle check-green" title="firma valida"/>
						   <h:outputLabel rendered="#{v.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_KO}" styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
					</p:column>
					 
					<p:column headerText="Creato da" styleClass="generic_textAlignCenter">
					       <p:outputLabel value="#{v.creatore}"/>
					</p:column>
					
					<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="30">
							<p:commandButton onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)" title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}" rendered="#{not empty v.fileName and not empty v.mimeType}">
								<p:fileDownload value="#{DocumentManagerBean.downloadAllegatoNonSbustato(index)}" />
							</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:tab>
		</p:accordionPanel> 
</ui:composition> 