<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
>

<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.IAllegatiDaAllacci" required="true"/>
</cc:interface>
 	
 <cc:implementation>
 
 	<p:outputPanel id="idCounterAllegabiliSize" styleClass="ui-g">
		<div class="ui-g-3">
			<p:outputLabel value= "Dimensione dei file selezionati: "/>
		</div>
		<div class="ui-g-2 generic_textAlignRight" >
			<h:outputText value="#{cc.attrs.bean.dimensioneSelected}" styleClass="generic_textBold"/>
			<h:outputText value=" KB" styleClass="generic_textBold"/>
		</div>
 	</p:outputPanel>
 	
 	<p:accordionPanel var="allegabile" value="#{cc.attrs.bean.allegabiliDatatable}" styleClass="generic_width1200px" activeIndex="-1" >
 		<p:tab titleStyle="generic_textBold" 
 		 	title="Fascicolo #{allegabile.fascicolo.nomeDocumento}_#{allegabile.fascicolo.anno} - #{allegabile.fascicolo.descrizione} #{allegabile.fascicolo.descrizioneDocumentoProvenienza}">
			<red:documentiAllegabiliSelectableTable bean="#{allegabile}" updateCounter="#{cc.clientId}:idCounterAllegabiliSize" downloader="#{cc.attrs.bean}" />
 		</p:tab>
 	</p:accordionPanel>
 	
 </cc:implementation>
	
</ui:composition>