<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

	<cc:interface>
		<cc:attribute name="bean" required="true"/>
		<cc:attribute name="dfcName" type="java.lang.String" default="@(.docFascCollegato)"/>
		
	</cc:interface>

	<cc:implementation>
	
		<p:commandButton update="dlgFascFepa" rendered="#{cc.attrs.bean.mode ne null and cc.attrs.bean.mode.code != 'O'}" value="#{cc.attrs.bean.mode.btnValue}" action="#{cc.attrs.bean.loadData}" oncomplete="PF('wdgFascFepa').show()"/>

		<p:dialog	appendTo="@form" widgetVar="wdgFascFepa" header="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.descrizioneTipoFascicolo}" modal="true" showEffect="fade" hideEffect="fade" resizable="false" fitViewport="true" closable="true" 
					id="dlgFascFepa" position="top" draggable="false" styleClass="generic_maxwidth80 generic_maxHeight85"
					onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgFascFepa');">

			<p:outputPanel rendered="#{cc.attrs.bean.mode.code == 'S'}">
				<!-- GESTIONE SICOGE -->
				<h3>Dati #{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.descrizioneTipoFascicolo}</h3>		
		
				<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
					<p:outputLabel value="Data Creazione" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.dataCreazione}" readonly="true" styleClass="generic_width95">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<p:outputLabel value="Data Aggiornamento" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.dataAggiornamento}" readonly="true" styleClass="generic_width95">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<p:outputLabel value="Sistema Produttore" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.sistemaProduttore}" readonly="true" styleClass="generic_width95"/>
					<p:outputLabel value="Tipo Fasicolo" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.descrizioneTipoFascicolo}" readonly="true" styleClass="generic_width95"/>
					<p:outputLabel value="Descrizione" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.descrizione}" readonly="true" styleClass="generic_width95"/>
					<p:outputLabel value="Stato" />
					<p:inputText value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.statoFascicoloDocumentale}" readonly="true" styleClass="generic_width95"/>
				</p:panelGrid>
		
				<h3>Documenti contenuti nel #{cc.attrs.bean.fascicoloFEPAInfo.fascicoloPrincipale.descrizioneTipoFascicolo}</h3>		
						
				<p:dataTable var="doc" value="#{cc.attrs.bean.fascicoloFEPAInfo.listaDocumenti}" rowIndexVar="index" styleClass="generic_table-maxHeight" emptyMessage="Nessun documento"
					rows="5" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" paginatorAlwaysVisible="false"
					paginatorTemplate="TOT #{fn:length(cc.attrs.bean.fascicoloFEPAInfo.listaDocumenti)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:column headerText="Nome File" styleClass="generic_textAlignCenter" width="64%">
						<p:outputLabel value="#{doc.fileName}"/> 
				    </p:column>
				 	<p:column headerText="Numero Protocollo" styleClass="generic_textAlignCenter" width="15%">
				        <p:outputLabel value="#{doc.numeroProtocollo ne null ? doc.numeroProtocollo : '-'}"/>
				    </p:column>
				   	<p:column headerText="Data Protocollo" styleClass="generic_textAlignCenter" width="15%">
				        <p:outputLabel value="#{doc.dataProtocollo ne null ? doc.dataProtocollo : '-'}">
				        	<f:convertDateTime pattern="dd/MM/yyyy"/>
				        </p:outputLabel> 
				    </p:column>
				   	<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="6%">	
				    <p:commandButton title="Download #{doc.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						<p:fileDownload value="#{cc.attrs.bean.downloadDocumentoSICOGE(index)}" />
				    </p:commandButton>
					        
					</p:column>
				</p:dataTable>
		
				<h3>Fascicoli fattura collegati</h3>		
		
				<p:dataTable var="fasc" value="#{cc.attrs.bean.fascicoloFEPAInfo.fascicoliContenuti}" rowIndexVar="index" styleClass="generic_table-maxHeight" emptyMessage="Nessun fascicolo"
					rowKey="#{fasc.idFascicolo}" selectionMode="single" 
					rows="5" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" paginatorAlwaysVisible="false"
					paginatorTemplate="TOT #{fn:length(cc.attrs.bean.fascicoloFEPAInfo.fascicoliContenuti)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				   	<p:ajax event="rowSelect" listener="#{cc.attrs.bean.fascCollegatoSelector}" update="#{cc.attrs.dfcName}"/>
		
				   	<p:column headerText="Data Creazione" styleClass="generic_textAlignCenter" width="10%">
				        <p:outputLabel value="#{fasc.dataCreazione ne null ? fasc.dataCreazione : '-'}">
				        	<f:convertDateTime pattern="dd/MM/yyyy"/>
				        </p:outputLabel> 
				    </p:column>
					<p:column headerText="Descrizione" styleClass="generic_textAlignCenter" width="55%">
						<h:outputText value="#{fasc.descrizione}"/> 
				    </p:column>
					<p:column headerText="Tipo" styleClass="generic_textAlignCenter" width="25%">
						<h:outputText value="#{fasc.descrizioneTipoFascicolo}"/> 
				    </p:column>
					<p:column headerText="Stato" styleClass="generic_textAlignCenter" width="10%">
						<h:outputText value="#{fasc.statoFascicoloDocumentale}"/> 
				    </p:column>
				</p:dataTable>
		
				<br/>
		
				<p:outputPanel styleClass="docFascCollegato">  
					<p:dataTable var="doc" rendered="#{fn:length(cc.attrs.bean.listaDocumentiFascCollegato)>0}" value="#{cc.attrs.bean.listaDocumentiFascCollegato}" rowIndexVar="index" styleClass="generic_table-maxHeight" emptyMessage="Nessun documento"
						rows="5" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" paginatorAlwaysVisible="false"
						paginatorTemplate="TOT #{fn:length(cc.attrs.bean.listaDocumentiFascCollegato)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
			
					    <f:facet name="header">
							Documenti nel Fascicolo fattura collegato selezionato
					    </f:facet>
						<p:column headerText="Nome File" styleClass="generic_textAlignCenter" width="64%">
							<p:outputLabel value="#{doc.fileName}"/> 
					    </p:column>
					 	<p:column headerText="Numero Protocollo" styleClass="generic_textAlignCenter" width="15%">
					        <p:outputLabel value="#{doc.numeroProtocollo ne null ? doc.numeroProtocollo : '-'}"/>
					    </p:column>
					   	<p:column headerText="Data Protocollo" styleClass="generic_textAlignCenter" width="15%">
					        <p:outputLabel value="#{doc.dataProtocollo ne null ? doc.dataProtocollo : '-'}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel> 
					    </p:column>
					   	<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="6%">	
					    <p:commandButton title="Download #{doc.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
							<p:fileDownload value="#{cc.attrs.bean.downloadDocumentoSICOGEFascCollegato(index)}" />
					    </p:commandButton>
						        
						</p:column>
					</p:dataTable>
				</p:outputPanel>				
			</p:outputPanel>
			
			<p:outputPanel rendered="#{cc.attrs.bean.mode.code == 'B' or cc.attrs.bean.mode.code == 'R'}" styleClass="generic_padding0 generic_margin0">

				<!-- GESTIONE NON SICOGE -->

				<p:dataTable var="document" value="#{cc.attrs.bean.documentiFepaList}" rowIndexVar="index" styleClass="generic_table-maxHeight" emptyMessage="Nessun documento"
					rows="5" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" paginatorAlwaysVisible="false"
					paginatorTemplate="TOT #{fn:length(cc.attrs.bean.documentiFepaList)}: {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="Nome File" styleClass="generic_textAlignCenter" width="100">
						<p:outputLabel value="#{document.fileName}"/> 
				    </p:column>
				 	<p:column headerText="Numero Protocollo" styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{document.numeroProtocollo ne null ? document.numeroProtocollo : '-'}"/>
				    </p:column>
				   	<p:column headerText="Data Protocollo" styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{document.dataProtocollo ne null ? document.dataProtocollo : '-'}">
				        	<f:convertDateTime pattern="dd/MM/yyyy"/>
				        </p:outputLabel> 
				    </p:column>
				   	<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="100">	
				    <p:commandButton title="Download #{document.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						<p:fileDownload value="#{cc.attrs.bean.downloadDocumentoBeIGF(index)}" />
				    </p:commandButton>
				        
				    </p:column>
				</p:dataTable>
				
			</p:outputPanel>
			
			<p:outputPanel class="buttonsDiv generic_textAlignCenter" style="margin-bottom: 25px;">
				<p:commandButton onclick="PF('wdgFascFepa').hide()" value="Chiudi" title="Chiudi" icon="fa fa-times" action="#{cc.attrs.bean.resetData}" styleClass="uniqueCloseButton"/>
			</p:outputPanel>

		</p:dialog>		

	</cc:implementation>
	
</ui:composition>