<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IGoToCodaComponent" required="true"/>
		<cc:attribute name="widgetVar" type="java.lang.String"  required="true"/>
		<cc:attribute name="idUpdatePanel" type="java.lang.String"  required="true"/>
	</cc:interface>
	<cc:implementation >
	
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="DocumentQueueEnum" allSuffix="ALL_ENUM_VALUES" />

	<!--========================================================== OVERLAY NAVIGAZIONE CODE DA RICERCA ==========================================================-->
	<p:overlayPanel widgetVar="#{cc.attrs.widgetVar}" showEffect="fade" hideEffect="fade" dismissable="true" showCloseIcon="false" styleClass="generic_width200px generic_overflow"  my="right top" at="right bottom">
		<p:panel id="#{cc.attrs.idUpdatePanel}" styleClass="ui-panelgrid-blank datatableActionButtons generic_noborder generic_overflow" >
			<p:repeat value="#{cc.attrs.bean.codeCount}" var="queue" emptyMessage="Nessuna coda trovata">
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-grid-col-9,ui-grid-col-3">
					<p:panel styleClass="actionMenuText">
						<p:commandLink  rendered="#{queue.key != DocumentQueueEnum.NESSUNA_CODA}"
							disabled="#{queue.key.name eq 'Non_Censito_Servizio'}" value="#{queue.key.displayName}" 
							action="#{cc.attrs.bean.goToCoda(queue.key)}"  icon="#{queue.key.displayIcon}" title="La coda contiene: #{queue.value} elemento/i" />
						<h:outputText rendered="#{queue.key == DocumentQueueEnum.NESSUNA_CODA}" value="#{queue.key.displayName}"/>
					</p:panel>
					<span class="fa fa-info-circle #{queue.key.name eq 'Non_Censito_Servizio'?'hide':''}"  title="Il Documento selezionato è presente nella coda '#{queue.key.displayName}'  #{queue.value} volta/e"/>
					<span class="fa fa-warning #{queue.key.name eq 'Non_Censito_Servizio'?'':'hide'}" title="Il Documento selezionato non è presente in una coda conosciuta"/>
					<span class="fa fa-warning #{queue.key.name eq 'Non_Censito_Servizio'?'':'hide'}" title="Il Documento selezionato si trova in una o piu code non censite dall'applicazione  ( #{cc.attrs.bean.listaCodeNonCensite} )"/>
				</p:panelGrid>
			</p:repeat>		
		</p:panel>
		<iframe class="cover" src="about:blank" title="Frame go to coda"></iframe>
	</p:overlayPanel>


	</cc:implementation>
</ui:composition>