<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IGoToCodaButtonComponent" required="true"/>
		<cc:attribute name="idPanel" type="java.lang.String" required="false" default="idAccessoCode_DD"></cc:attribute>
		<!-- String dell'update per gestire il meccanismo della preview -->
		<cc:attribute name="toUpdateAfterIntro" type="java.lang.String" required="false" default="@(.updatableIntroPreviewDeactivate)"></cc:attribute>
		<cc:attribute name="onComplete" type="java.lang.String" required="false" default=""></cc:attribute>
	</cc:interface>
	<cc:implementation >
	
	<!-- updatableIntroPreviewDeactivate questa classe viene utilizzata per permettere di aggiornare anche gli altri pulsanti -->
	<p:outputPanel id="#{cc.attrs.idPanel}" styleClass="generic_displayBlock updatableIntroPreviewDeactivate" rendered="#{SessionBean.notActivePageCoda}" >
		
		<p:commandButton  title="Accesso code 1" icon="fa fa-th-list" rendered="#{cc.attrs.bean.introPreviewActive}" process="@this"
				action="#{cc.attrs.bean.loadAfterIntroPreview()}" update='#{cc.attrs.idPanel} #{cc.attrs.toUpdateAfterIntro}' oncomplete="PF('queueWidget_#{cc.id}').show();#{cc.attrs.onComplete}"/>
	
		<p:commandButton id="idQueueDetail" title="Accesso code" icon="fa fa-th-list" type="button" rendered="#{not cc.attrs.bean.introPreviewActive}" />
		
		<p:overlayPanel for="idQueueDetail" widgetVar="queueWidget_#{cc.id}" my="right top" at="right bottom"
		 dismissable="true" showCloseIcon="false" showEffect="fade" hideEffect="fade" styleClass="generic_width170" rendered="#{not cc.attrs.bean.introPreviewActive}">
			<p:panel id="pnlQueueList" styleClass="ui-panelgrid-blank datatableActionButtons generic_noborder">
				<p:repeat value="#{cc.attrs.bean.codeCount}" var="queue">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-grid-col-9,ui-grid-col-3">
						<p:panel styleClass="actionMenuText">
							<p:commandLink value="#{queue.key.displayName}" action="#{cc.attrs.bean.goToCoda(queue.key)}"  icon="#{queue.key.displayIcon}" title="La coda contiene: #{queue.value} elemento/i" oncomplete="PF('statusDialog').show();" />
						</p:panel>
						<span class="fa fa-info-circle #{(queue.key.name eq 'In_Nessuna_Coda_Sevizio') or (queue.key.name eq 'Non_Censito_Servizio')?'hide':''}"  title="Il Documento selezionato è presente nella coda '#{queue.key.displayName}'  #{queue.value} volta/e"/>
						<span class="fa fa-warning #{queue.key.name eq 'In_Nessuna_Coda_Sevizio'?'':'hide'}" title="Il Documento selezionato non è presente in nessuna coda"/>
						<span class="fa fa-warning #{queue.key.name eq 'Non_Censito_Servizio'?'':'hide'}" title="Il Documento selezionato si trova in una o piu code non censite dall'applicazione  ( #{cc.attrs.bean.listaCodeNonCensite} )"/>
					</p:panelGrid>
				</p:repeat>		
				<h:outputText value="Il documento non è presente in alcuna coda per il ruolo/ufficio dell'utente di riferimento" rendered="#{fn:length(cc.attrs.bean.codeCount) eq 0}"/>
			</p:panel>
			<iframe class="cover" src="about:blank" title="Frame go to coda"></iframe>
		</p:overlayPanel>
		
	</p:outputPanel>

	</cc:implementation>
</ui:composition>