<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	>
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.humantask.AbstractAssociazioniDecretiResponse" required="true" />
	</cc:interface>
	
	<cc:implementation>
	
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-g-3,ui-g-3,ui-g-3,ui-g-3">
		
			<p:outputLabel  value="Data Dichiarazione" styleClass="generic_textBold" />
			<p:outputLabel value="#{cc.attrs.bean.dataDichiarazione}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		
			<p:outputLabel value="Nome File" styleClass="generic_textBold" />
			<p:outputLabel	value="#{cc.attrs.bean.nomeFile}" />
		</p:panelGrid>
		
		<!-- Tab Decreti -->
		<div id="tabsAssegn" class="generic_padding0 generic_noborder">
			<p:tabView id="tabDecreti" styleClass="generic_borderTabs generic_minHeight330px">
				<p:tab id="tabDecretiDisponibili" title="Elenco Decreti Disponibili">
					<p:dataTable id="iElencoDecretiDisponibiliTable" value="#{cc.attrs.bean.decretiDisponibiliTab.decretiDTH.masters}"
								 var="decreto" scrollable="true"
								 paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10"  
								 paginatorTemplate="TOT : #{fn:length(cc.attrs.bean.decretiDisponibiliTab.decretiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								 emptyMessage="Nessun decreto disponibile" >
						
						<!-- selezione multipla -->
						<p:column id="selMultiCol" toggleable="false" styleClass="dtSelectAllColumn">
							<f:facet id="selMulti" name="header">
								<span class="fa fa-check-square-o datatable-select-allCol #{!cc.attrs.bean.decretiDisponibiliTab.decretiDTH.checkAll?'hide':''}" onclick="updateAllCheckAllAssDecreti()" title="Deseleziona tutti"/>
								<span class="fa fa-square-o datatable-select-allCol #{cc.attrs.bean.decretiDisponibiliTab.decretiDTH.checkAll?'hidden':''}" onclick="updateAllCheckAllAssDecreti()" title="Seleziona tutti"/>
								<p:remoteCommand actionListener="#{cc.attrs.bean.decretiDisponibiliTab.handleAllCheckBoxDecretiDisponibili}"
												 name="updateAllCheckAllAssDecreti"	update="iElencoDecretiDisponibiliTable" />
				            </f:facet>
					  		 <p:selectBooleanCheckbox id="chk_dec" title="#{decreto.selected?'Deseleziona':'Seleziona'} il documento #{decreto.numeroDocumento}" value="#{decreto.selected}" >
						  		 <p:ajax event="change" listener="#{cc.attrs.bean.decretiDisponibiliTab.updateCheckDecretiDisponibili}" update="iElencoDecretiDisponibiliTable"/>
					  		 </p:selectBooleanCheckbox>
						</p:column>
						
						 <p:column headerText="Num. Prot. - ID" filterBy="#{(decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0)? decreto.annoProtocollo/decreto.numeroProtocollo - decreto.numeroDocumento : decreto.numeroDocumento - decreto.annoDocumento}" filterMatchMode="contains" sortBy="#{(decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0)? decreto.annoProtocollo/decreto.numeroProtocollo - decreto.numeroDocumento : decreto.numeroDocumento - decreto.annoDocumento}" styleClass="generic_width120px">
						 	<h:outputText value="#{decreto.annoProtocollo}/#{decreto.numeroProtocollo} - "
						 				  rendered="#{decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0}"/>
						 	<h:outputText value="#{decreto.numeroDocumento}" />
						 	<h:outputText value=" - #{decreto.annoDocumento}"  rendered="#{not (decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0)}" />
						 </p:column>
						 
						 <p:column headerText="Tipologia documento" filterBy="#{decreto.tipologiaDocumento}" filterMatchMode="contains" sortBy="#{decreto.tipologiaDocumento}" styleClass="generic_width250px">
						 	<h:outputText value="#{decreto.tipologiaDocumento}" />
						 </p:column>
						 
						 <p:column headerText="Oggetto" sortBy="#{decreto.oggetto}" filterBy="#{decreto.oggetto}" filterMatchMode="contains">
						 	<h:outputText value="#{decreto.oggetto}" />
						 </p:column>
						 
						 <p:column headerText="Data creazione" sortBy="#{decreto.dataCreazione}" filterBy="#{decreto.dataCreazione}" filterMatchMode="contains" styleClass="generic_width120px generic_textAlignCenter">
						 	<h:outputText value="#{decreto.dataCreazione}">
						 		<f:convertDateTime pattern="dd/MM/yyyy" />
						 	</h:outputText>
						 </p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Elenco Decreti in Firma/Firmati" >
					<p:dataTable id="iElencoDecretiInFirmaOFirmatiTable"  value="#{cc.attrs.bean.decretiInFirmaOFirmatiTab.decretiDTH.masters}"
					 var="decreto" scrollable="true" paginatorAlwaysVisible="false"
					  paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10"  
					  paginatorTemplate="TOT : #{fn:length(cc.attrs.bean.decretiDisponibiliTab.decretiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					 emptyMessage="Nessun decreto disponibile" >

			
			 			<p:column headerText="Num. Prot. - ID" filterBy="#{(decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0)? decreto.annoProtocollo/decreto.numeroProtocollo - decreto.numeroDocumento : decreto.numeroDocumento - decreto.annoDocumento}" sortBy="#{(decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0)? decreto.annoProtocollo/decreto.numeroProtocollo - decreto.numeroDocumento : decreto.numeroDocumento - decreto.annoDocumento}" styleClass="generic_width120px">
						 	<h:outputText value="#{decreto.annoProtocollo}/#{decreto.numeroProtocollo} - "
						 				  rendered="#{decreto.annoProtocollo gt 0 and decreto.numeroProtocollo gt 0}"/>
						 	<h:outputText value="#{decreto.numeroDocumento}" />
						 </p:column>
						 
						 <p:column headerText="Tipologia documento" filterBy="#{decreto.tipologiaDocumento}" filterMatchMode="contains" sortBy="#{decreto.tipologiaDocumento}" styleClass="generic_width250px">
						 	<h:outputText value="#{decreto.tipologiaDocumento}" />
						 </p:column>
						 
						 <p:column headerText="Oggetto" sortBy="#{decreto.oggetto}" filterBy="#{decreto.oggetto}" filterMatchMode="contains">
						 	<h:outputText value="#{decreto.oggetto}" />
						 </p:column>
						 
						 <p:column headerText="Data creazione" sortBy="#{decreto.dataCreazione}" filterBy="#{decreto.dataCreazione}" filterMatchMode="contains" styleClass="generic_width120px generic_textAlignCenter" >
						 	<h:outputText value="#{decreto.dataCreazione}">
						 		<f:convertDateTime pattern="dd/MM/yyyy" />
						 	</h:outputText>
						 </p:column>
						 
						  <p:column headerText="Data Firma"  sortBy="#{decreto.dataProtocollazione}" filterBy="#{decreto.dataProtocollazione}" filterMatchMode="contains" styleClass="generic_width120px generic_textAlignCenter">
						  	<h:outputText value="#{decreto.dataProtocollazione}">
						  		<f:convertDateTime pattern="dd/MM/yyyy" />
						 	</h:outputText>
						 </p:column>
						 
					</p:dataTable>
				</p:tab>
			</p:tabView>
		</div>
	</cc:implementation>
</ui:composition>