<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

	<cc:interface>
		<cc:attribute name="lookupDto" type="it.ibm.red.business.dto.LookupTableDTO" required="true"/>
		<cc:attribute name="rendered" type="java.lang.Boolean"/>
		<cc:attribute name="inputStyle" type="java.lang.String"/>
		<cc:attribute name="disabled" type="java.lang.Boolean" default="false"/>
		<cc:attribute name="panelValueFieldName" type="java.lang.String" default="@(.pnlValues)"/>
		<cc:attribute name="conversioneMap" type="java.util.Map" required="false"/>
	</cc:interface>

	<cc:implementation>
    	<p:outputPanel rendered="#{cc.attrs.rendered}">

			<p:importEnum type="it.ibm.red.business.enums.LookupTablePresentationModeEnum" var="ltpme"/>

			<p:outputPanel rendered="#{cc.attrs.lookupDto.lookupTableMode eq ltpme.COMBOBOX}" styleClass="#{cc.attrs.inputStyle}">
				<!-- Panel che contiene la SelectOneMenu -->
				<p:selectOneMenu converter="omnifaces.SelectItemsConverter" value="#{cc.attrs.lookupDto.lookupValueSelected}" styleClass="generic_width85" disabled="#{cc.attrs.disabled}">
					<f:selectItem itemLabel="-" itemValue="#{null}"/>
					<f:selectItems value="#{cc.attrs.lookupDto.lookupValues}" var="lookupItem" itemValue="#{lookupItem}" 
						itemLabel="#{cc.attrs.lookupDto.metadatoValutaFlag eq false ? lookupItem.description : lookupItem.description.concat(' - ').concat(cc.attrs.conversioneMap[lookupItem.description])}" />
				</p:selectOneMenu>
			</p:outputPanel>

			<p:outputPanel rendered="#{cc.attrs.lookupDto.lookupTableMode eq ltpme.DATATABLE}" >
			<!-- Panel che contiene l'InputText non editabile con pulsante per aprire la Dialog -->
				<p:outputPanel id="idPnlValueSelected" styleClass="ui-inputgroup generic_width94">
					<p:inputText value="#{cc.attrs.lookupDto.metadatoValutaFlag eq false ? cc.attrs.lookupDto.lookupValueSelected.description : cc.attrs.lookupDto.lookupValueSelected.description.concat(' - ').concat(cc.attrs.conversioneMap[cc.attrs.lookupDto.lookupValueSelected.description])}" 
						readonly="true" styleClass="generic_input100 #{cc.attrs.inputStyle}" widgetVar="#{cc.attrs.lookupDto.lookupWidgetVar}"/>
					<p:commandButton icon="fa fa-external-link" onclick="$('.CSS_#{cc.attrs.lookupDto.name}').css('display', 'block');" type="button" disabled="#{cc.attrs.disabled}" title="Apri dialog di selezione"/>
					<p:commandButton icon="fa fa-eraser" action="#{cc.attrs.lookupDto.resetValueSelected}" title="Cancella valore" onclick="resetCampoByWidgetVar('#{cc.attrs.lookupDto.lookupWidgetVar}')" disabled="#{cc.attrs.disabled}" update="#{cc.attrs.panelValueFieldName}"/>
				</p:outputPanel>

				<p:panel styleClass="modalPanel pnlLookupTable ui-widget-overlay CSS_#{cc.attrs.lookupDto.name}"/>
				
				<p:panel header="Seleziona un valore per l'attributo [#{cc.attrs.lookupDto.displayNameView}]" styleClass="pnlValues lookupTablePanel pnlLookupTable ui-shadow CSS_#{cc.attrs.lookupDto.name}">

					 <p:dataTable var="lookupItem" value="#{cc.attrs.lookupDto.lookupValues}" selection="#{cc.attrs.lookupDto.lookupValueSelected}" rowKey="#{lookupItem.value}" styleClass="lookupDT"
				        		  emptyMessage="Nessun elemento" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" 
				        		  paginatorTemplate="TOT : #{fn:length(cc.attrs.lookupDto.lookupValues)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
	
	 					<p:column selectionMode="single" style="width:16px;text-align:center"/>
	
				        <p:column headerText="DESCRIZIONE" sortBy="#{lookupItem.description}" filterBy="#{lookupItem.description}" filterMatchMode="contains">
				            <h:outputText value="#{lookupItem.description}"/>
				        </p:column>
				        
				        <p:column headerText="CAMBIO" sortBy="#{lookupItem.description}" filterBy="#{cc.attrs.conversioneMap[lookupItem.description]}" filterMatchMode="contains"
				        	rendered="#{cc.attrs.lookupDto.metadatoValutaFlag}">
				            <h:outputText value="#{cc.attrs.conversioneMap[lookupItem.description]}"/>
				        </p:column>
				        
				    </p:dataTable>
					
					<p:outputPanel styleClass="buttonsDiv buttonsLayout">
						<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="width: 80%;margin: 0 22%" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid">
							<p:commandButton id="btnSelect" styleClass="selectBtn" icon="fa fa-pencil" value="Conferma" update="idPnlValueSelected" onclick="$('.pnlLookupTable').css('display', 'none');"/>
							<p:commandButton icon="fa fa-times" value="Chiudi senza selezionare" type="button" onclick="$('.pnlLookupTable').css('display', 'none');"/>
						</p:panelGrid>
					</p:outputPanel>

				</p:panel>

			</p:outputPanel>
		
     	</p:outputPanel>
	
	</cc:implementation>
	
</ui:composition>