<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IMenuAllegatiButtonAndPanelComponent" required="true"/>
		<cc:attribute name="idPanel" type="java.lang.String" required="false" default="idMenuAllegatiPanel_DD"></cc:attribute>
		<!-- String dell'update per gestire il meccanismo della preview -->
		<cc:attribute name="toUpdateAfterIntro" type="java.lang.String" required="false" default="@(.updatableIntroPreviewDeactivate)"></cc:attribute>
		<cc:attribute name="onComplete" type="java.lang.String" required="false" default=""></cc:attribute>
	</cc:interface>
	<cc:implementation >
	
	<!-- updatableIntroPreviewDeactivate questa classe viene utilizzata per permettere di aggiornare anche gli altri pulsanti -->
	<p:outputPanel id="#{cc.attrs.idPanel}" styleClass="generic_displayBlock updatableIntroPreviewDeactivate" >

		<p:commandButton id="idMenuAllegati_DD" icon="fa fa-paperclip" title="Documenti" rendered="#{cc.attrs.bean.introPreviewActive}" 
			action="#{cc.attrs.bean.loadAfterIntroPreview()}" update="#{cc.attrs.toUpdateAfterIntro}" oncomplete="PF('menuAllegati_#{cc.id}').show('#{component.clientId}');#{cc.attrs.onComplete}"/>
		<p:commandButton id="idMenuAllegatiTriggered_DD" icon="fa fa-paperclip" title="Documenti" type="button" rendered="#{not cc.attrs.bean.introPreviewActive}" />
		<p:menu trigger="idMenuAllegatiTriggered_DD" id="menuAllegatiPanel" widgetVar="menuAllegati_#{cc.id}" overlay="true" my="left top" at="left bottom" model="#{cc.attrs.bean.menuAllegatiDetailModel}" styleClass="generic_width300px" ></p:menu>

	</p:outputPanel>

	</cc:implementation>
</ui:composition>