<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="multiAssegnazioneBean" type="it.ibm.red.web.mbean.humantask.MultiAssegnazioneBean" required="true"/>
		<cc:attribute name="single" type="java.lang.Boolean" default="false"/>
		<cc:attribute name="obbligatorio" type="java.lang.Boolean" default="false"/>
	</cc:interface>
	<cc:implementation>
	<p:dataTable var="ac" value="#{cc.attrs.multiAssegnazioneBean.elementList}" rowKey="id" id="multi_tabella_assegnazione"
		styleClass="TabellaAddOrganigramma generic_noborder pnlgrid_noborder generic_maxwidth600px" scrollable="true"
		rendered="#{cc.attrs.multiAssegnazioneBean.elementList ne null}">

		<p:column styleClass="generic_textAlignLeft">
			<p:outputPanel styleClass="ui-inputgroup">
				<p:inputText readonly="true" value="#{ac.data.descrizioneNodo}" styleClass="textfield_input #{cc.attrs.obbligatorio ?'obbligatorio' : ''}"/> 
				
				<p:commandButton icon="fa fa-sitemap" title="Organigramma"  oncomplete="PF('#{cc.clientId}').show('#{component.clientId}')" 
					actionListener="#{cc.attrs.multiAssegnazioneBean.setCurrentListElement}"	 
					update="#{cc.clientId}:multi_assegnazione_tree_form" ajax="true"/>
				<p:commandButton icon="fa fa-eraser"
					actionListener="#{cc.attrs.multiAssegnazioneBean.clearRow}" update="@namingcontainer" title="Pulisci Selezione"/>
				<p:commandButton icon="fa fa-plus" 
					actionListener="#{cc.attrs.multiAssegnazioneBean.addRow}" update="@namingcontainer" rendered="#{ac.id eq 0 and !cc.attrs.single}"/>
				
				<p:commandButton icon="fa fa-close" 
					actionListener="#{cc.attrs.multiAssegnazioneBean.removeRow}" ajax="true" update="@namingcontainer" rendered="#{ac.id ne 0 and !cc.attrs.single}"/>
			</p:outputPanel>
		</p:column>

	</p:dataTable>

	<p:overlayPanel widgetVar="#{cc.clientId}" appendToBody="true">
      	<h:form id="multi_assegnazione_tree_form">
      	<div class="dmd-tree-panel textAlignLeft" >
			<p:tree value="#{cc.attrs.multiAssegnazioneBean.root}" var="node" dynamic="true" selectionMode="single" styleClass="dmd-tree" id="idMultiAssTree_DMD">
				
				<p:ajax event="expand" listener="#{cc.attrs.multiAssegnazioneBean.onOpenTree}" update="@this"/>
		        <p:ajax event="select" listener="#{cc.attrs.multiAssegnazioneBean.onSelectTreeNode}" update="#{cc.clientId}:multi_tabella_assegnazione"
		        	 oncomplete="PF('#{cc.clientId}').hide()"/>
		        	
				<p:treeNode>
					<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
					<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}"/>
					
					<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
					<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente} "/>
					<p:outputLabel rendered="#{node.idUtente != null}" value="#{node.nomeUtente}"/>
				</p:treeNode>
				
			</p:tree>	
		</div>
		</h:form>
		<iframe class="cover" src="about:blank" title="Frame multi assegnazione"></iframe>
	</p:overlayPanel>
	
	</cc:implementation>

</ui:composition>