<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.mbean.component.OggettoTestoMailComponent" required="true"/>
</cc:interface>
<cc:implementation>

	<div class="ui-g-12">
		<!-- Testo predefinito -->
		<div class="ui-g-2">
			<p:outputLabel for="@next" value="Testo predefinito" styleClass="generic_textBold"/>
		</div>
		<div class="ui-g-10">
			<p:selectOneMenu value="#{cc.attrs.bean.idTestoPredefinito}" >
				<p:ajax event="change" listener="#{cc.attrs.bean.onChangeTestoPredefinito()}" update="#{cc.clientId}:idOggetto_MCA #{cc.clientId}:idTesto_MCA" />
				<f:selectItem itemValue="-1" itemLabel=" " />
				<f:selectItems value="#{cc.attrs.bean.testiPredefinitiList}" var="t" itemValue="#{t.idTestoPredefinito}" itemLabel="#{t.descrizione}" />
			</p:selectOneMenu>
		</div>
	</div>
		
	<div class="ui-g-12">
		<!-- Oggetto -->
		<div class="ui-g-2">
			<p:outputLabel for="idOggetto_MCA" value="Oggetto" styleClass="generic_textBold"/>
			<p:outputLabel for="idOggetto_MCA" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-10">
			<p:inputText id="idOggetto_MCA" value="#{cc.attrs.bean.oggetto}" styleClass="obbligatorio" />
		</div>
	</div>
	
	<div class="ui-g-12">	
		<!-- Mail body -->
		<div class="ui-g-12">
			<p:outputLabel for="idTesto_MCA" value="Testo" styleClass="generic_textBold"/>
			<p:outputLabel for="idTesto_MCA" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-12 ">
			<p:inputTextarea rows="4" id="idTesto_MCA" styleClass="obbligatorio bk-lightYellowImp" value="#{cc.attrs.bean.body}" />
		</div>
	</div>


</cc:implementation>
</ui:composition>