<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<!-- Questo component è utilizzato per gestire il fatto che il pulsante verrà duplicato in tutti i dettagli del documento -->
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IOpenDettaglioEstesoButtonComponent" required="true"/>
		<cc:attribute name="updateModificaDocumentoId" type="java.lang.String" default="idDettagliEstesiForm:idPanelDocumentManager" required="false"></cc:attribute>
		<cc:attribute name="onCompleteModificaDocumentoId" type="java.lang.String" default="dlgManageDocument_RM" ></cc:attribute>
		<cc:attribute name="valueEsteso" type="java.lang.Boolean" default="false" />
	</cc:interface>
	<cc:implementation >
	
	
	<p:commandButton icon="fa fa-pencil-square" title="Visualizza Dettagli" value="#{cc.attrs.valueEsteso ? 'Visualizza Dettagli' : null}"
		actionListener="#{cc.attrs.bean.openDocumentPopup}" 
		update="#{cc.attrs.updateModificaDocumentoId}" process="@this" styleClass="#{cc.attrs.valueEsteso ? 'generic_width100' : ''}" />
		
		
	<p:dialog id="sbloccaDocumentoDlg" widgetVar="sbloccaDocumentoDlg_WV" header="Sblocca Documento" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
 		<p:outputLabel value="Si desidera sbloccare il documento in carico all'utente #{cc.attrs.bean.nomeUtenteLockatore}" escape="false" styleClass="black" />
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{cc.attrs.bean.showDettaglioAfterLock}" oncomplete="PF('sbloccaDocumentoDlg_WV').hide();" icon="ui-icon-check" update="centralSectionForm"/>
			<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaDocumentoDlg_WV').hide()" icon="ui-icon-close" type="button"/>
		</p:outputPanel>
	</p:dialog>
	</cc:implementation>
</ui:composition>