<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<!-- 
		N.B. QUESTO COMPOSITE COMPONENT (CC) IMPLEMENTA SOLO L'OVERLAY PANEL CON L'ORGANIGRAMMA MA SENZA FORM.
		SE NECESSARIO, ESISTE ANCHE IL CC CHIAMATO "assegnazioneOrganigrammaComponent" CHE IMPLEMENTA:
		- INPUT TEXT READ ONLY PER DESCRIZIONE ASSEGNATARIO 
		- PULSANTE APERTURA ORGANIGRAMMA
		- PULSANTE PULIZIA SELEZIONE
		- OVERLAY PANEL CON ORGANIGRAMMA
	  -->
	<cc:interface>
		<cc:attribute name="organigrammaCmp" type="it.ibm.red.web.mbean.interfaces.IAssOrganigrammaComponent" required="true"/>
		<cc:attribute name="organigrammaBtnId" type="java.lang.String" required="true"></cc:attribute>
		<cc:attribute name="updateOnSelect" type="java.lang.String" required="true"></cc:attribute>
		<cc:attribute name="customActionOnSelect" type="java.lang.String" required="false" default=""></cc:attribute>
	</cc:interface>
	
	<cc:implementation>
		
		
		<p:overlayPanel widgetVar="wdgOverlayOrgAssegnazione_#{cc.clientId}" for="#{cc.attrs.organigrammaBtnId}">
			<p:remoteCommand name="customActionOnNodeSelect" actionListener="#{cc.attrs.customActionOnSelect}" update="#{cc.attrs.updateOnSelect}"/>
				
        	<p:outputPanel class="dmd-tree-panel generic_textAlignLeft">
        		
        		<p:tree id="treeOrganigramma" value="#{cc.attrs.organigrammaCmp.rootOrganigramma}" var="nodo" dynamic="true" 
        			selectionMode="single" styleClass="dmd-tree">
					<p:ajax event="expand" listener="#{cc.attrs.organigrammaCmp.onOpenNodo}" update="treeOrganigramma"/>
			    	<p:ajax event="select" listener="#{cc.attrs.organigrammaCmp.onSelectNodo}"
			    		oncomplete="customActionOnNodeSelect(); PF('wdgOverlayOrgAssegnazione_'.concat('#{cc.clientId}')).hide()"/>
			    	
			       	<p:treeNode type="UFF">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
						<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
					</p:treeNode>
					
					<p:treeNode type="USER">
						<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}"/>
					</p:treeNode>
				</p:tree>
				
        	</p:outputPanel>
	        <iframe class="cover" src="about:blank" title="Frame organigramma"></iframe>
		</p:overlayPanel>
		
	</cc:implementation>

</ui:composition>