<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<cc:interface>
		<cc:attribute name="contatto" type="it.ibm.red.business.persistence.model.Contatto"></cc:attribute>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.AbstractBean"></cc:attribute>
	</cc:interface>

	<cc:implementation>
		<p:panel id="infoRubrOlp" styleClass="generic_margin3px" >
			<p:outputPanel styleClass="ui-g generic_displayBlock" >
				<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-4 generic_textBold,ui-grid-col-8" styleClass="pnlgrid_noborder generic_displayBlock">
					<p:outputLabel for="idTipoRubrica" value="Rubrica" />
					<h:outputText id="idTipoRubrica" value="#{cc.attrs.contatto.tipoRubrica}"/>
					
					<p:outputLabel for="idRubrInfo" value="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO' ? 'ID Contatto' : 'ID Gruppo'}" />
					<h:outputText id="idRubrInfo" value="#{cc.attrs.contatto.contattoID}"/>
					
					<p:outputLabel for="tipoContattoRubrInfo" value="Tipo Contatto" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}" />
					<h:outputText id="tipoContattoRubrInfo" value="#{cc.attrs.contatto.tipoPersona}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="titoloContattoRubrInfo" value="Titolo" rendered="#{cc.attrs.contatto.tipoRubrica eq 'RED'}"/>
					<h:outputText id="titoloContattoRubrInfo" rendered="#{cc.attrs.contatto.tipoRubrica eq 'RED'}" value="#{cc.attrs.contatto.titolo}"/>
					
					<p:outputLabel for="nomeContattoRubrInfo" value="Nome" />
					<h:outputText id="nomeContattoRubrInfo" value="#{cc.attrs.contatto.nome}"/>
					
					<p:outputLabel for="cognomeContattoRubrInfo" value="Cognome" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="cognomeContattoRubrInfo" value="#{cc.attrs.contatto.cognome}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="descAliasContattoRubrInfo" value="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO' ? 'Descr/Alias' : 'Descrizione'}" />
					<h:outputText id="descAliasContattoRubrInfo" value="#{cc.attrs.contatto.aliasContatto}"/>
					
					<p:outputLabel for="indirizzoRubrInfo" value="Indirizzo" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="indirizzoRubrInfo" value="#{cc.attrs.contatto.indirizzo}" title="#{cc.attrs.contatto.indirizzo}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="capRubrInfo" value="Cap" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="capRubrInfo" value="#{cc.attrs.contatto.CAP}" title="#{cc.attrs.contatto.CAP}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="comuneRubrInfo" value="Comune" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="comuneRubrInfo" value="#{cc.attrs.contatto.comune}" title="#{cc.attrs.contatto.comune}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="provinciaRubrInfo" value="Provincia" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="provinciaRubrInfo" value="#{cc.attrs.contatto.provincia}" title="#{cc.attrs.contatto.provincia}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					

					<p:outputLabel for="mailPEORubrInfo" value="Mail PEO" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}" />
					<h:outputText id="mailPEORubrInfo" value="#{cc.attrs.contatto.mail}" title="#{cc.attrs.contatto.mail}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="mailPECRubrInfo" value="Mail PEC" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="mailPECRubrInfo" value="#{cc.attrs.contatto.mailPec}" title="#{cc.attrs.contatto.mailPec}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
									<p:outputLabel for="telefonoRubrInfo" value="Telefono" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="telefonoRubrInfo" value=" #{cc.attrs.contatto.telefono}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="cellulareRubrInfo" value="Cellulare" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<h:outputText id="cellulareRubrInfo" value="#{cc.attrs.contatto.cellulare}" title="#{cc.attrs.contatto.cellulare}" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					
					<p:outputLabel for="aggiuntoAiRubrInfo" value="Aggiunto Da" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}"/>
					<p:outputPanel id="aggiuntoAiRubrInfo" rendered="#{cc.attrs.contatto.tipoRubrica ne 'GRUPPO'}">
						<h:outputText value="#{cc.attrs.contatto.utenteCheHaAggiuntoAiPreferiti}" title="#{cc.attrs.contatto.utenteCheHaAggiuntoAiPreferiti}" />
						<h:outputText value=" - " />
						<p:outputLabel  value="#{cc.attrs.contatto.dataDiAggiuntaAiPreferiti}" title="#{cc.attrs.contatto.dataDiAggiuntaAiPreferiti}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:outputLabel> 
					</p:outputPanel>
					
					<p:outputLabel for="creatoDa" value="Creato Da" rendered="#{cc.attrs.contatto.tipoRubrica eq 'GRUPPO'}"/>
					<p:outputPanel id="creatoDa" rendered="#{cc.attrs.contatto.tipoRubrica eq 'GRUPPO'}">
						<h:outputText value="#{cc.attrs.contatto.gruppoCreatoDa}" title="#{cc.attrs.contatto.gruppoCreatoDa}" />
						<h:outputText value=" - " />
						<p:outputLabel  value="#{cc.attrs.contatto.dataCreazioneGruppo}" title="#{cc.attrs.contatto.dataCreazioneGruppo}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:outputLabel> 
					</p:outputPanel>
					
				</p:panelGrid>
			</p:outputPanel> 
		</p:panel>
	</cc:implementation>
	
</ui:composition>