<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<cc:interface>
		<cc:attribute name="contatto" type="it.ibm.red.business.persistence.model.Contatto" ></cc:attribute>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IDatatableUtils" ></cc:attribute>
	</cc:interface>

	<cc:implementation >			
		<p:panel styleClass="ui-g generic_displayBlock" >
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="aliasInfo" value="Descrizione/Alias " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="aliasInfo" value="#{cc.attrs.bean.getShortColumn(cc.attrs.contatto.aliasContatto, 50)}" title="#{cc.attrs.contatto.aliasContatto}"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="nomeInfo" value="Nome e cognome " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="nomeInfo" styleClass="generic_displayBlock" value="#{cc.attrs.bean.getShortColumn((cc.attrs.contatto.nome).concat(' '.concat(cc.attrs.contatto.cognome)), 50)} " title="#{cc.attrs.contatto.nome} #{cc.attrs.contatto.cognome}"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{cc.attrs.contatto.tipoRubrica eq 'IPA'}">
				<div class="ui-g-3">
					<p:outputLabel for="nomeRiferimento" value="Riferimento " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="nomeRiferimento" styleClass="generic_displayBlock" value="#{cc.attrs.bean.getShortColumn(cc.attrs.contatto.riferimento, 50)} " title="#{cc.attrs.contatto.riferimento}"/>
				</div>
			</p:outputPanel>
			
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">	
				<div class="ui-g-3">
					<p:outputLabel for="mailInfo" value="Mail " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="mailInfo" styleClass="generic_displayBlock" value="#{cc.attrs.bean.getShortColumn(cc.attrs.contatto.mail, 50)}" title="#{cc.attrs.contatto.mail}"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="mailPECInfo" value="Mail PEC " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="mailPECInfo" styleClass="generic_displayBlock" value="#{cc.attrs.bean.getShortColumn(cc.attrs.contatto.mailPec, 50)}" title="#{cc.attrs.contatto.mailPec}"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">						
				<div class="ui-g-3">
					<p:outputLabel for="tipoPersonaInfo" value="Tipo " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="tipoPersonaInfo" styleClass="generic_displayBlock" value="#{cc.attrs.contatto.tipoPersona}"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="indirizzoInfo" value="Indirizzo " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="indirizzoInfo" styleClass="generic_displayBlock" value="#{cc.attrs.bean.getShortColumn(cc.attrs.contatto.indirizzo, 50)}" title="#{cc.attrs.contatto.indirizzo}" />
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">	
				<div class="ui-g-3">
					<p:outputLabel for="capInfo" value="CAP " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="capInfo" value="#{not empty cc.attrs.contatto.CAP ? cc.attrs.contatto.CAP : '-'}" />
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="telefonoInfo" value="Telefono " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="telefonoInfo" styleClass=" generic_displayBlock" value="#{not empty cc.attrs.contatto.telefono ? cc.attrs.contatto.telefono : '-'}" />
				</div>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="cellulareInfo" value="Cellulare " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="cellulareInfo" styleClass=" generic_displayBlock" value="#{not empty cc.attrs.contatto.cellulare ? cc.attrs.contatto.cellulare : '-'}" />
				</div>
			</p:outputPanel>
			
			<p:outputPanel styleClass="ui-g-12 generic_padding0">
				<div class="ui-g-3">
					<p:outputLabel for="faxInfo" value="Fax " styleClass="generic_textBold" />
				</div>
				<div class="ui-g-9">
					<h:outputText id="faxInfo" value="#{not empty cc.attrs.contatto.fax ? cc.attrs.contatto.fax : '-'} " />
				</div>
			</p:outputPanel>
			
		</p:panel>
	</cc:implementation>
</ui:composition>
