<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
<!-- 	< p : importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="CategoriaDocumentoEnum" allSuffix="ALL_ENUM_VALUES" /> -->
	
	<cc:interface>
		<cc:attribute name="faldonaCmp" type="it.ibm.red.web.document.mbean.component.DialogFaldonaComponent"></cc:attribute>
	</cc:interface>

	<cc:implementation>
		<p:panel id="panelFalCmp" styleClass="faldonaCmp-panel">
			<div class="ui-g-2">
				<p:outputLabel value="Fascicolo" styleClass="generic_textBold" rendered="#{cc.attrs.faldonaCmp.fascicolo.descrizione ne null}"/>
			</div>
			<div class="ui-g-7">
				<p:outputLabel value="#{cc.attrs.faldonaCmp.fascicolo.descrizione}"/>
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Stato Fascicolo" styleClass="generic_textBold" rendered="#{cc.attrs.faldonaCmp.fascicolo.descrizione ne null}"/>
			</div>
			<div class="ui-g-1">
				<p:outputLabel value="#{cc.attrs.faldonaCmp.fascicolo.stato}"/>
			</div>
			
			<p:outputPanel id="idPanelFaldonaCmp">
				<p:tabView id="idTabFaldonaCmp" widgetVar="wgdTabsFaldonaCmp" cache="false"
					styleClass="generic_no_background" activeIndex="#{cc.attrs.faldonaCmp.activeTabIndex}">
					<p:ajax event="tabChange" listener="#{cc.attrs.faldonaCmp.resetValues}" update="@parent" process="@this"/>
					
					<p:tab id="inserimentoFaldoneEsistenteId" title="Inserisci in faldone esistente" >
					</p:tab>
					<p:tab id="inserimentoFaldoneNuovoId" title="Inserisci in nuovo faldone">
						<div class="ui-g-12" >
							<p:selectOneRadio value="#{cc.attrs.faldonaCmp.tipoCreazione}" >
								<p:ajax listener="#{cc.attrs.faldonaCmp.resetValues(false)}" update="@parent:@parent:@parent:idPanelFaldonaCmp" />
								<f:selectItem itemLabel="Crea nuovo faldone" itemValue="#{cc.attrs.faldonaCmp.getCreaNuovoFaldone()}" />
								<f:selectItem itemLabel="Crea un nuovo faldone all'interno di un faldone" itemValue="#{cc.attrs.faldonaCmp.getCreaNuovoSottofaldone()}" />
							</p:selectOneRadio>
							</div>
						<div class="ui-g-12" >
							<p:selectBooleanCheckbox value="#{cc.attrs.faldonaCmp.canBeDuplicate}" itemLabel="Nel caso di oggetto duplicato proseguire con la creazione" />
						</div>
					</p:tab>
					<p:tab id="faldoniAssociatiId" title="Faldoni associati" disabled="#{not cc.attrs.faldonaCmp.esistonoFaldoniAssociati}">
						<p:spacer/>
						<p:dataTable var="fal" value="#{cc.attrs.faldonaCmp.faldoni}" paginatorAlwaysVisible="false" rowIndexVar="index" emptyMessage="Nessun faldone presente">
						    <p:column headerText="Numero"  styleClass="generic_textAlignCenter" rendered="false">
						        <p:outputLabel value="#{fal.name}" />
						    </p:column>
						    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
						    	<p:outputLabel value="#{fal.oggettoPadre}" title="#{fal.oggetto}" rendered="#{fal.oggettoPadre != null}" />
								<p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance" />
						        <p:outputLabel value="#{fal.oggetto}" title="#{fal.oggetto}" />
				        	</p:column>
						    <p:column headerText="Fascicolo" styleClass="generic_textAlignCenter generic-word-all-break">
						        <p:outputLabel value="#{fal.fascicoloSelezionato.oggetto}" title="#{fal.fascicoloSelezionato.oggetto}"
						        			rendered="#{fal.fascicoloSelezionato.oggetto != null}" />
						    </p:column>
						    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break">
						        <p:outputLabel value="#{fn:length(fal.descrizioneFaldone) gt 30?fn:substring(fal.descrizioneFaldone, 0,30).concat('...'):fal.descrizioneFaldone}" 
						        	title="#{fal.descrizioneFaldone}" />
						    </p:column>
						</p:dataTable>
					</p:tab>
				</p:tabView>
				<p:panelGrid id="idFaldonaCmpPanelGrid" styleClass="hiddenBackground" layout="grid" columns="3" 
					columnClasses="ui-grid-col-5, generic_widthAuto centerItems, ui-grid-col-6" rendered="#{cc.attrs.faldonaCmp.activeTabIndex ne 2}">
					<p:outputPanel id="idFaldonaPanelSx" styleClass="#{cc.attrs.faldonaCmp.activeTabIndex eq 0 ? 'gradient' : ''} generic_minHeight20em">
						<p:outputPanel id="idPanelRisultatiTree_pnlF" rendered="#{(cc.attrs.faldonaCmp.activeTabIndex eq 0) or (cc.attrs.faldonaCmp.tipoCreazione eq cc.attrs.faldonaCmp.getCreaNuovoSottofaldone())}">
							<div class="ui-g-2 no_left_padding">
								<p:outputLabel value="Cerca Faldone" styleClass="generic_textBold"/>
							</div>
							<div class="ui-g-8 ui-fluid">
								<p:inputText value="#{cc.attrs.faldonaCmp.testoRicerca}"/>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="Cerca" styleClass="widthCercaFaldoniBtn" action="#{cc.attrs.faldonaCmp.creaTree}" update="@parent:idFaldonaCmpPanelGrid"/>
							</div>
							<p:outputPanel id="idPanelTreeF" styleClass="ui-g-12" style="padding-right: 0px;padding-left: 0px;padding-top: 0px;" rendered="#{cc.attrs.faldonaCmp.faldoniTrovati ne null}">
								<h:outputText rendered="#{fn:length(cc.attrs.faldonaCmp.faldoniTrovati) eq 0}" value="Nessun faldone trovato"/>
								<p:scrollPanel mode="native" styleClass="faldona-scrollpane-dim">
									<p:tree rendered="#{fn:length(cc.attrs.faldonaCmp.faldoniTrovati) gt 0}" value="#{cc.attrs.faldonaCmp.root}" var="element" selectionMode="single" dynamic="true">
						
										<p:ajax event="select" listener="#{cc.attrs.faldonaCmp.onTreeNodeSelect}" update="@parent:idFaldonaCmpPanelGrid" process="@this"/>
										
										<p:treeNode type="ufficio">
											<h:outputText value="#{cc.attrs.faldonaCmp.getShortColumn(element.name, 45) }" title="#{element.name}"/>
										</p:treeNode>
						
										<p:treeNode type="faldone" expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
											<h:outputText value="#{cc.attrs.faldonaCmp.getShortColumn(element.oggetto, 45) }" title="#{element.oggetto}"/>
										</p:treeNode>
						
										<p:treeNode type="fittizio" expandedIcon="ui-icon-alert" collapsedIcon="ui-icon-alert">
											<h:outputText value="#{cc.attrs.faldonaCmp.getShortColumn(element.oggetto, 45) }" title="#{element.oggetto}"/>
										</p:treeNode>
									</p:tree>
								</p:scrollPanel>
							</p:outputPanel>
						</p:outputPanel>
						
						<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2 generic_paddingLR0, ui-grid-col-10" rendered="#{(cc.attrs.faldonaCmp.activeTabIndex eq 1) and (cc.attrs.faldonaCmp.faldoniTrovati eq null)}">
						
							<p:outputLabel for="oggettoPadreNuovoFaldoneInFaldone" value="Faldone padre"  styleClass="generic_textBold" rendered="#{cc.attrs.faldonaCmp.tipoCreazione eq cc.attrs.faldonaCmp.getCreaNuovoSottofaldone()}"/>
							<p:inputTextarea id="oggettoPadreNuovoFaldoneInFaldone" value="#{cc.attrs.faldonaCmp.oggettoFaldoneSelezionato}" disabled="true" rendered="#{cc.attrs.faldonaCmp.tipoCreazione eq cc.attrs.faldonaCmp.getCreaNuovoSottofaldone()}" styleClass="generic_input100" rows="1"/>
	
							<p:outputLabel for="descrizionePadreNuovoFaldoneInFaldone" value="Descrizione"  styleClass="generic_textBold" rendered="#{cc.attrs.faldonaCmp.tipoCreazione eq cc.attrs.faldonaCmp.getCreaNuovoSottofaldone()}"/>
							<p:inputTextarea id="descrizionePadreNuovoFaldoneInFaldone" value="#{cc.attrs.faldonaCmp.descrizioneFaldoneSelezionato}" disabled="true" rendered="#{cc.attrs.faldonaCmp.tipoCreazione eq cc.attrs.faldonaCmp.getCreaNuovoSottofaldone()}" styleClass="generic_input100" rows="1"/>
							
							<p:outputPanel>
								<p:outputLabel for="oggettoNuovoFaldoneInFaldone" value="Oggetto " styleClass="generic_textBold"/>
								<p:outputLabel value="*" class="generic_redStar generic_textBold" rows="1"/>
							</p:outputPanel>
							<p:inputTextarea id="oggettoNuovoFaldoneInFaldone" value="#{cc.attrs.faldonaCmp.oggettoNuovoFaldone}" styleClass="generic_input100 obbligatorio"/>
	
							<p:outputLabel for="descrizioneNuovoFaldoneInFaldone" value="Descrizione"  styleClass="generic_textBold" />
							<p:inputTextarea id="descrizioneNuovoFaldoneInFaldone" value="#{cc.attrs.faldonaCmp.descrizioneNuovoFaldone}" styleClass="generic_input100"/>
						</p:panelGrid>
					</p:outputPanel>
					
					<p:outputPanel id="idAggiungiBtn" styleClass="#{cc.attrs.faldonaCmp.activeTabIndex eq 0 ? 'generic_width8em' : '' }">
            			<p:commandButton id="aggiungiNuovoId" value="Aggiungi" title="Aggiungi nuovo faldone" icon="fa fa-chevron-right" iconPos="right" 
            			actionListener="#{cc.attrs.faldonaCmp.aggiungiNuovoFaldone}" update="idFaldonaCmpPanelGrid" rendered="#{cc.attrs.faldonaCmp.activeTabIndex ne 0}"/>
					</p:outputPanel>
					
					<p:outputPanel id="idPanelElencoFaldoni">
						<p:dataTable widgetVar="wdgFaldoniSelezionati" id="idFaldoniSelezionati"
							var="faldone" value="#{cc.attrs.faldonaCmp.faldoniScelti}" rowKey="#{faldone.name}"
							paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" rows="5" 
							rowIndexVar="index" disabledSelection="true" emptyMessage="Nessun faldone scelto" paginatorAlwaysVisible="false">  

							<f:facet name="header"> Elenco faldoni </f:facet>

					        <p:column headerText="Descrizione" styleClass="generic_textAlignCenter">
						        <h:outputText value="#{cc.attrs.faldonaCmp.getShortColumn(faldone.descrizioneFaldone, 45)}"/>
					        </p:column>	        
					        <p:column headerText="Oggetto" styleClass="generic_textAlignCenter">
						        <h:outputText value="#{cc.attrs.faldonaCmp.getShortColumn(faldone.oggetto, 45)}"/>
					        </p:column>
					        <p:column headerText="Azioni" styleClass="generic_textAlignCenter">
						      	<p:commandButton icon="fa fa-remove" title="Deseleziona" id="idDeselezionaButton" 
						      		actionListener="#{cc.attrs.faldonaCmp.deselezionaFaldone(faldone)}"
						      		update="idFaldoniSelezionati"/>
					 		</p:column>
						</p:dataTable>
					</p:outputPanel>
				</p:panelGrid>
			</p:outputPanel>
		</p:panel>
	</cc:implementation>
</ui:composition>