<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"> 
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IVerificaFirmaComponent" required="true"/>
		<cc:attribute name="verificaFirma" type="java.lang.Boolean" required="false" default="true"/>
		<cc:attribute name="posizioneMy" type="java.lang.String" required="false" default="right center"/>
		<cc:attribute name="posizioneAt" type="java.lang.String" required="false" default="left bottom"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
		<p:importEnum type="it.ibm.red.business.enums.EsitoVerificaFirmaEnum" var="EsitoVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	
		<p:overlayPanel widgetVar="pnlInfoFirma" id="idPnlInfoFirma" my="#{cc.attrs.posizioneMy}" at="#{cc.attrs.posizioneAt}" styleClass="overlay-panel-info-firma"
			rendered="#{cc.attrs.verificaFirma}" showCloseIcon="true">
			<ui:param name="infoFirma" value="#{cc.attrs.bean.infoFirma}"/> 
			<p:outputPanel rendered="#{infoFirma ne null}" styleClass="overlay-panel-info-firma-overflow">
				<p:outputPanel styleClass="generic_textAlignCenter" rendered="#{infoFirma.esito == EsitoVerificaFirmaEnum.ERRORE_CONNESSIONE_PK}">
					<h:outputText styleClass="generic_textBold" value="Attenzione, il servizio di verifica firma non è disponibile"/>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{infoFirma.esito == EsitoVerificaFirmaEnum.ERRORE_ENVELOPE}">
					<h:outputText styleClass="generic_textAlignCenter generic_textBold" value="Attenzione, la busta non è valida"/>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{infoFirma.esito == EsitoVerificaFirmaEnum.ERRORE_GENERICO_PK}">
					<h:outputText styleClass="generic_textAlignCenter generic_textBold" value="Attenzione, si è verificato un errore generico in fase di verifica della firma"/>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{infoFirma.metadatoValiditaFirma == ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}">
					<h:outputText styleClass="generic_textAlignCenter generic_textBold" value="Attenzione, sul file non sono presenti firme digitali"/>
				</p:outputPanel>
			
				<p:outputPanel rendered="#{infoFirma.esito == EsitoVerificaFirmaEnum.OK and infoFirma.firmatari ne null and fn:length(infoFirma.firmatari) > 0}">
					<p:outputPanel styleClass="generic_textAlignCenter generic_textBold">
						<h:outputText value="INFORMAZIONI SULLA FIRMA DEL DOCUMENTO"/>
					</p:outputPanel>
					<div class="ui-g-5">
						<h:outputText styleClass="generic_textBold" value="Numero di firme:"/>
					</div>
					<div class="ui-g-4">
						<h:outputText value="#{fn:length(infoFirma.firmatari)}"/>
					</div>
					<ui:repeat value="#{infoFirma.firmatari}" var="varFirmatario">
						<div class="ui-g-5">
							<h:outputText styleClass="generic_textBold" value="Dettaglio firmatario:"/>
						</div>
						<div class="ui-g-7">
							<ui:repeat value="#{fn:split(varFirmatario.dettaglioFirmatario, ',')}" var="varDettaglioFirmatario">
								<h:outputText value="#{varDettaglioFirmatario}"/><br/>
							</ui:repeat>
						</div>
						<div class="ui-g-5">
							<h:outputText styleClass="generic_textBold" value="Tipo di firma:"/>
						</div>
						<div class="ui-g-7">
							<h:outputText value="#{varFirmatario.tipoFirma}"/>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Motivo:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="#{varFirmatario.motivo}"/>
							</div>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Firma valida:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="Sì" rendered="#{varFirmatario.valid}"/>
								<h:outputText value="No" rendered="#{!varFirmatario.valid}"/>
							</div>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Data apposizione firma:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="#{varFirmatario.dataFirma}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
								</h:outputText>
							</div>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Stato del certificato:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="#{varFirmatario.statoCertificato}"/>
							</div>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Data inizio validità certificato:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="#{varFirmatario.dataInizioValidita}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
								</h:outputText>
							</div>
						</div>
						<div class="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<h:outputText styleClass="generic_textBold" value="Data fine validità certificato:"/>
							</div>
							<div class="ui-g-7">
								<h:outputText value="#{varFirmatario.dataFineValidita}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
								</h:outputText>
							</div>
						</div>
					</ui:repeat>
					
					<p:outputPanel styleClass="generic_textAlignCenter">
						<p:commandButton process="@this" value="Esporta" title="Esporta" ajax="false" icon="fa fa-download">
			     			<p:fileDownload value="#{cc.attrs.bean.downloadExportVerificaFirma()}"/>
						</p:commandButton>
					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>
			<iframe class="cover" src="about:blank" title="Frame info firma"></iframe>
		</p:overlayPanel>
		
	</cc:implementation>
	
</ui:composition>
