<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://java.sun.com/jsf/composite/custom"
	>
	
	<cc:interface>
		<cc:attribute name="predisponiBean" type="it.ibm.red.web.mbean.AbstractPredisponiDaRegistroAusiliarioBean" required="true"/>
		<cc:attribute name="dlgToHide" type="java.lang.String" required="true"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:outputPanel styleClass="generic_noborder generic_minHeight530px generic_no_background">
			<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank  generic_width1390px generic_height800_top pnlgrid-generic-100perc" columnClasses="ui-grid-col-6 generic_heigth100important, ui-grid-col-6 generic_heigth100important">
				<p:outputPanel styleClass="generic_heigth100important">
					
					<p:outputPanel>
						<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-12">
							<p:outputPanel>
								<p:outputLabel value="Nome File" styleClass="generic_textBold"/>
								<p:outputLabel value="*" styleClass="generic_redStar"/>
							</p:outputPanel>
							<p:inputText value="#{cc.attrs.predisponiBean.nomeFile}" styleClass="obbligatorio ui-inputfield" style="width: 98%;"/>
						</p:panelGrid>
						<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-12 ui-fluid">
							<p:outputLabel value="Registro" styleClass="generic_textBold"/>
							<p:selectOneMenu value="#{cc.attrs.predisponiBean.idRegistro}">
								<f:selectItem itemLabel="-" itemValue="#{null}"/>
								<f:selectItems value="#{cc.attrs.predisponiBean.listaRegistri}" var="t" itemValue="#{t.value}" itemLabel="#{t.description}" />
								<p:ajax event="itemSelect" update="#{cc.clientId}:metadatiRegistroPnl, #{cc.clientId}:metadatiRegistroHeavyPnl" listener="#{cc.attrs.predisponiBean.loadMetadatiRegistro}"/>
								<p:ajax event="change" update="#{cc.clientId}:previewTemplatePredisponi" listener="#{cc.attrs.predisponiBean.setPreviewHidden}"/>
							</p:selectOneMenu>
						</p:panelGrid>
					</p:outputPanel>
					
					<p:outputPanel id="metadatiRegistroPnl">
						<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-6 ui-fluid, ui-grid-col-6 ui-fluid">
						
							<c:forEach var="metadato" items="#{cc.attrs.predisponiBean.listaMetadatiRegistroLight}">
	
								<c:set var="editable" value="#{(metadato.editability.code eq 'S') or (metadato.editability.code eq 'E') or (metadato.editability.code eq 'U')}"/>
		 						<c:set var="mandatory" value="#{(metadato.obligatoriness.code eq 'E') or (metadato.obligatoriness.code eq 'U') or (metadato.obligatoriness.code eq 'S')}"/>
								<c:set var="visible" value="#{metadato.visibility.code eq 'S'}"/>
							
								<c:if test="#{visible}">
									<p:outputPanel>
										<p:outputPanel styleClass="ui-panelgrid-cell">
											<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" value="#{metadato.displayName}" styleClass="generic_textBold"/>
											<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" rendered="#{mandatory}" value="*" styleClass="generic_redStar generic_textBold"/>
										</p:outputPanel>
		
										<p:outputPanel id="valoreMetadatoEstesoPnl_#{metadato.name}" styleClass="ui-panelgrid-cell">
											<p:inputText disabled="#{not editable}" rendered="#{metadato.type.code eq 'S'}" title="#{metadato.selectedValue eq null ? '' : metadato.selectedValue}" value="#{metadato.selectedValue}"  readonly="#{metadato.selectedValue eq null ? 'false' : not editable}" styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio disabledStile' : '')} generic_input90" />
											<p:inputNumber disabled="#{not editable}" rendered="#{metadato.type.code eq 'I'}" value="#{metadato.selectedValue}" padControl="false" thousandSeparator="" styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio disabledStile' : '')} generic_input90" readonly="#{not editable}"/>
											<p:inputText disabled="#{not editable}" rendered="#{metadato.type.code eq 'U'}" title="#{metadato.selectedValue eq null ? '' : metadato.selectedValue}" value="#{metadato.selectedValue}" styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio disabledStile' : '')} generic_input90" readonly="#{not editable}"/>
				     						<p:calendar disabled="#{not editable}" rendered="#{metadato.type.code eq 'D'}" navigator="true" value="#{metadato.selectedValue}" styleClass="#{mandatory ? 'obbligatorio' : ''} generic_inputCalendar82" showOn="button" pattern="dd/MM/yyyy"/>
										</p:outputPanel>
								 	</p:outputPanel>
								</c:if>
							</c:forEach>
						
						</p:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="metadatiRegistroHeavyPnl">
						<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-12 ui-fluid">
						
							<c:forEach var="metadato" items="#{cc.attrs.predisponiBean.listaMetadatiRegistroHeavy}">
	
								<c:set var="editable" value="#{(metadato.editability.code eq 'S') or (metadato.editability.code eq 'E') or (metadato.editability.code eq 'U')}"/>
		 						<c:set var="mandatory" value="#{(metadato.obligatoriness.code eq 'E') or (metadato.obligatoriness.code eq 'U') or (metadato.obligatoriness.code eq 'S')}"/>
								<c:set var="visible" value="#{metadato.visibility.code eq 'S'}"/>
							
								<c:if test="#{visible}">
							
									<p:outputPanel styleClass="ui-panelgrid-cell">
										<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" value="#{metadato.displayName}" styleClass="generic_textBold"/>
										<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" value="*" styleClass="generic_redStar generic_textBold" rendered="#{mandatory}"/>
									</p:outputPanel>
	
									<p:outputPanel id="valoreMetadatoEstesoPnl_#{metadato.name}" styleClass="ui-panelgrid-cell">
										<p:inputTextarea rows="3" rendered="#{metadato.type.code eq 'T'}" title="#{metadato.selectedValue eq null ? '' : metadato.selectedValue}" value="#{metadato.selectedValue}"  readonly="#{metadato.selectedValue eq null ? 'false' : not editable}" styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio-readonly' : '')} generic_input90 text-area-registro" />
										<red:lookupTableComponent style="width:100px;" rendered="#{metadato.type.code eq 'L'}" lookupDto="#{cc.attrs.predisponiBean.motivazioni}" inputStyle="#{mandatory ? 'obbligatorio' : ''}"/>
										<red:anagraficaDipendentiComponent rendered="#{metadato.type.code eq 'P'}" anagDto="#{metadato}" inputTextStyle="#{mandatory ? 'obbligatorio-readonly' : ''}"/>
										<red:capitoliComponent rendered="#{metadato.type.code eq 'C'}" capDto="#{metadato}" inputTextStyle="#{mandatory ? 'obbligatorio-readonly' : ''}" searchHeader="Selezionare un capitolo di spesa" cssDialog="capitoliPanelPredisponi" />
									</p:outputPanel>
									
								</c:if>
								
							</c:forEach>
						
						</p:panelGrid>
					</p:outputPanel>
					
					<p:outputPanel styleClass="buttonsDiv buttonsLayout" >
						<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-4 ui-fluid,ui-grid-col-4 ui-fluid"> 
							<p:commandButton icon="fa fa-plus-square-o" value="Aggiorna Anteprima" action="#{cc.attrs.predisponiBean.aggiornaAnteprima}" update="#{cc.clientId}:previewTemplatePredisponi"/>
							<p:commandButton icon="fa fa-search" value="Predisponi" action="#{cc.attrs.predisponiBean.predisponi}"/>
							<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{cc.attrs.predisponiBean.chiudi}" onclick="PF('#{cc.attrs.dlgToHide}').hide()" styleClass="uniqueCloseButton"/>
						</p:panelGrid>
					</p:outputPanel>
					
					<p:outputPanel id="infoPanel">
						<h:outputText value="I metadati evidenziati all'interno del template contengono valori esemplificativi; 
						il loro contenuto sarà modificato con valori consistenti all'atto della firma del documento." />
					</p:outputPanel>
				</p:outputPanel>
	
				<p:outputPanel id="previewTemplatePredisponi" styleClass="generic_heigth100important">
					<p:outputPanel rendered="#{cc.attrs.predisponiBean.visualizzaAnteprima}" styleClass="generic_heigth100important">
						<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame predisponi visto" class="pdfViewer generic_minHeight600px generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/HighlightSignFieldServlet?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true}"/>
			  			</p:outputPanel>
	
						<p:outputPanel rendered="#{not SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame predisponi visto" class="pdfViewer generic_minHeight600px generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true}"/>
			   			</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel>
				
			</p:panelGrid>
		</p:outputPanel>
		
	</cc:implementation>

</ui:composition>