<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<cc:interface>
		<cc:attribute name="message" type="java.lang.String"/>
		<cc:attribute name="interfaceInstance" type="it.ibm.red.web.mbean.interfaces.IPopupComponent" required="true"/>
		<cc:attribute name="widgetVarDialog" type="java.lang.String"/>
		<cc:attribute name="confirmButtonLabel" type="java.lang.String" default="Ok"/>
		<cc:attribute name="updateOnConfirm" type="java.lang.String" default=""/>
		<cc:attribute name="actionOnCancel" type="java.lang.Boolean" default="true"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:outputPanel id="idPanelConfirmComponent" styleClass="generic_noborder generic_no_background pnl-message-minwidth pnl-message-maxwidth generic_paddingTLR5">
			<p:outputPanel styleClass="pnl-message-minwidth">
				<p:outputLabel value="#{cc.attrs.message}" styleClass="generic_textAlignJustify"/>
			</p:outputPanel>
	
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-g-6, ui-g-6" styleClass="ui-panelgrid-blank pnlgrid_noborder buttonsDiv">
				<p:commandButton value="#{cc.attrs.confirmButtonLabel}" title="Conferma" icon="fa fa-pencil" action="#{cc.attrs.interfaceInstance.conferma}" 
					styleClass="newButton generic_width100"	update="#{cc.attrs.updateOnConfirm}" onclick="PF('#{cc.attrs.widgetVarDialog}').hide()"/>
				
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" rendered="#{cc.attrs.actionOnCancel}" 
					styleClass="newButton generic_width100 uniqueCloseButton"
					action="#{cc.attrs.interfaceInstance.annulla}" onclick="PF('#{cc.attrs.widgetVarDialog}').hide()"/>
					
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" rendered="#{not cc.attrs.actionOnCancel}" 
					styleClass="newButton generic_width100 uniqueCloseButton"
					type="button" onclick="PF('#{cc.attrs.widgetVarDialog}').hide()"/>
			</p:panelGrid>
			
		</p:outputPanel>
		
	</cc:implementation>
	
</ui:composition>