<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="sectionId" type="java.lang.String" required="true"/>
	</cc:interface>
	
	<cc:implementation>
		
		<p:commandButton id="closeEastButton" icon="fa fa-angle-right" title="Chiudi dettaglio" type="button" 
		 	styleClass="datatableButtons resize_#{cc.attrs.sectionId}_button resize_button_close" onclick="toggleDiv('#{cc.attrs.sectionId}')"/>
		
		<p:commandButton id="openEastButton" icon="fa fa-angle-left" title="Apri dettaglio" type="button" 
		 	styleClass="datatableButtons resize_#{cc.attrs.sectionId}_button resize_button_open" onclick="toggleDiv('#{cc.attrs.sectionId}')"/>
	
	</cc:implementation>

</ui:composition>