<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="component" type="it.ibm.red.web.mbean.component.RicercaFascicoloDaDocumentoComponent" required="true"/>
		<cc:attribute name="updateOnSelect" type="java.lang.String" required="false" default=""/>
		<cc:attribute name="widgetVarDlg" type="java.lang.String" required="false" default="'wdgCercaFascicolo'"/>
		<cc:attribute name="closeDialogOnSelect" type="java.lang.Boolean" required="false" default="true"/>
	</cc:interface>
	<cc:implementation>
		<!-- Anno -->
		<p:panelGrid layout="grid" columns="6"
			columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid"
			styleClass="ui-panelgrid-blank ricerca-red-documenti-form-testuale">
			<p:outputPanel>
				<p:outputLabel for="annoDocumento_fas" value="Anno creazione"
					styleClass="generic_textBold" />
				<p:outputLabel for="annoDocumento_fas" value="*"
					styleClass="generic_textBold generic_redStar" />
			</p:outputPanel>
			<p:inputNumber id="annoDocumento_fas"
				value="#{cc.attrs.component.documenti.annoDocumento}"
				minValue="0" maxValue="#{SessionBean.maxYearForSearch}"
				thousandSeparator="" padControl="false"
				styleClass="anno-input-number-ricerca-doc obbligatorio"
				 />
		    <p:outputLabel for="idFieldNumberDoc_fas" value="Numero/ID" styleClass="generic_textBold"/>
	    	<p:inputNumber id="idFieldNumberDoc_fas" widgetVar="wdgNumberDoc_fas" value="#{cc.attrs.component.documenti.numeroDocumento}"  onblur="disableByNumDoc();" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" styleClass="numero-id-ricerca-doc" />
		</p:panelGrid>
		
		<!-- Data Da e Data A -->
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	     	<p:outputLabel for="dataDaDoc_fas" value="Data creazione Da" styleClass="generic_textBold" />
	     	<p:calendar id="dataDaDoc_fas" navigator="true" value="#{cc.attrs.component.documenti.dataCreazioneDa}" maxdate="#{SessionBean.today}" widgetVar="wdgDataCreazioneDa_fas" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-data-a-doc" >
	     		<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataCreazioneDa')}" update="dataADoc_fas, annoDocumento_fas" />
	     	</p:calendar>
	     	<p:outputLabel for="dataADoc_fas" value="Data creazione A" styleClass="generic_textBold"/>
	     	<p:calendar id="dataADoc_fas" navigator="true" value="#{cc.attrs.component.documenti.dataCreazioneA}" maxdate="#{SessionBean.today}" widgetVar="wdgDataCreazioneA_fas" showOn="button" pattern="dd/MM/yyyy"  styleClass="calendar-ricerca-data-a-doc" >
	     		<p:ajax event="dateSelect" listener="#{SessionBean.onChangeRicercaDocDataDaA('dataCreazioneA')}" update="dataDaDoc_fas, annoDocumento_fas" />
	     	</p:calendar>
		</p:panelGrid>
		
		<!-- Num. Protocollo Da/A-->
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
			<p:outputLabel value="Protocollo Da" styleClass="generic_textBold" />
			<p:inputNumber value="#{cc.attrs.component.documenti.numeroProtocolloDa}" widgetVar="wdgProtDa_fas" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
			<p:outputLabel value="Protocollo A" styleClass="generic_textBold" />
			<p:inputNumber value="#{cc.attrs.component.documenti.numeroProtocolloA}" widgetVar="wdgProtA_fas" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"  />
		</p:panelGrid>
		
		<!-- Oggetto -->
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid" styleClass="ui-panelgrid-blank generic_width100" >
			<p:outputLabel value="Oggetto" styleClass="generic_textBold"/>
			<p:inputText value="#{cc.attrs.component.documenti.oggetto}" widgetVar="wdgOggetto_fas" styleClass="generic_nominWidth generic_width100"/>
		</p:panelGrid>
		
		<p:outputPanel id="tabRicercaPerDocumentiBtns" styleClass="buttonsDiv buttonsLayout">
			<p:commandButton id="cercaDocumenti" icon="fa fa-search" value="Cerca" actionListener="#{cc.attrs.component.ricercaDocumenti}" update="resultPnl" />
			<p:commandButton id="chiudiDlg" value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF(#{cc.attrs.widgetVarDlg}).hide()" rendered="#{cc.attrs.component.mBeanChiamante ne 'FascicoloManagerBean'}" styleClass="uniqueCloseButton"/>
		</p:outputPanel>
		
		<!-- Risultati Ricerca -->
		<p:outputPanel id="resultPnl">
			<p:treeTable widgetVar="resultTreeTableWV2" value="#{cc.attrs.component.root}" var="doc" emptyMessage="Nessun documento trovato" paginator="true"
						 paginatorTemplate="TOT : #{fn:length(cc.attrs.component.risultatiRicercaDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 paginatorPosition="bottom" rows="5" rowsPerPageTemplate="5,10" selectionMode="single" rendered="#{cc.attrs.component.renderRicerca and !cc.attrs.closeDialogOnSelect}" >
				 	<p:ajax event="expand" listener="#{cc.attrs.component.attribuisciFascicoliAlDocumento}" update="@this"/>
				 	<p:ajax event="select" listener="#{cc.attrs.component.selectFascicoloDelDocumento}" 
										update="#{cc.attrs.updateOnSelect}" ></p:ajax>
			        <p:column headerText="Documenti e Fascicoli" styleClass="ellipsis">
				       		<span class="#{doc.tipo eq 'fascicolo'?'fa fa-folder-o':'fa fa-file'}"
				       			  title="#{doc.tipo eq 'fascicolo'?'Fascicolo':'Documento'}"></span>
				       		<h:outputText value=" "/>
				       		<h:outputText title="ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" value="ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo eq null}" styleClass="generic_textBold"/>
							<h:outputText title="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo ne null}" value="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" styleClass="generic_textBold"/>
							
							<h:outputText value="#{doc.oggetto}" title="#{doc.oggetto}" rendered="#{doc.oggetto ne null}"/>
			        </p:column>
			</p:treeTable>
			<p:treeTable widgetVar="resultTreeTableWV" value="#{cc.attrs.component.root}" var="doc" emptyMessage="Nessun documento trovato" paginator="true"
						 paginatorTemplate="TOT : #{fn:length(cc.attrs.component.risultatiRicercaDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 paginatorPosition="bottom" rows="5" rowsPerPageTemplate="5,10" selectionMode="single" rendered="#{cc.attrs.component.renderRicerca and cc.attrs.closeDialogOnSelect}" >
				 	<p:ajax event="expand" listener="#{cc.attrs.component.attribuisciFascicoliAlDocumento}" update="@this"/>
				 	<p:ajax event="select" listener="#{cc.attrs.component.selectFascicoloDelDocumento}" 
										update="#{cc.attrs.updateOnSelect}" oncomplete="PF(#{cc.attrs.widgetVarDlg}).hide()"></p:ajax>
			        <p:column headerText="Documenti e Fascicoli" styleClass="ellipsis">
				       		<span class="#{doc.tipo eq 'fascicolo'?'fa fa-folder-o':'fa fa-file'}"
				       			  title="#{doc.tipo eq 'fascicolo'?'Fascicolo':'Documento'}"></span>
				       		<h:outputText value=" "/>
				       		<h:outputText title="ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" value="ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo eq null}" styleClass="generic_textBold"/>
							<h:outputText title="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo ne null}" value="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" styleClass="generic_textBold"/>
							
							<h:outputText value="#{doc.oggetto}" title="#{doc.oggetto}" rendered="#{doc.oggetto ne null}"/>
			        </p:column>
			</p:treeTable>
		</p:outputPanel>
	</cc:implementation>
</ui:composition>