<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

	<cc:interface>
		<cc:attribute name="component" type="it.ibm.red.web.document.mbean.component.AbstractIndiceDiClassificazioneComponent" required="true"/>
		<cc:attribute name="autoCompleteId" type="java.lang.String" required="false" default="idAutoCompleteTitolario"/>
		<cc:attribute name="autoCompleteStyleClass" type="java.lang.String" required="false" default="''"/>
		<cc:attribute name="commandButtonId" type="java.lang.String" required="false" default="idCommandButtonTitolario"/>
		<cc:attribute name="commandButtonDisabled" type="java.lang.Boolean" required="false" default="false"/>
		<cc:attribute name="commandButtonStyleClass" type="java.lang.String" required="false" default="''"/>
		<cc:attribute name="updateOnSelect" type="java.lang.String" required="false" default="#{cc.clientId}:#{cc.attrs.autoCompleteId}"/>
	</cc:interface>
	
	<cc:implementation>
	
		<p:autoComplete id="#{cc.attrs.autoCompleteId}" value="#{cc.attrs.component.titolarioNodoSelected}" 
			completeMethod="#{cc.attrs.component.titolarioAutocomplete}" var="t" itemLabel="#{t.indiceClassificazione} #{t.descrizione}" 
			itemValue="#{t}" converter="titolarioConverter" forceSelection="true" maxResults="5" minQueryLength="3" 
			queryDelay="#{SessionBean.preferenze.autocompleteDelay}" styleClass="#{cc.attrs.autoCompleteStyleClass}" 
			title="#{cc.attrs.component.titolarioNodoSelected.indiceClassificazione} #{cc.attrs.component.titolarioNodoSelected.descrizione}"
			disabled="#{cc.attrs.commandButtonDisabled}">
			
			<p:ajax event="itemSelect" listener="#{cc.attrs.component.onTitolarioAutocompleteSelect}" update="@this"/>        
		</p:autoComplete>
	         
		<p:commandButton id="#{cc.attrs.commandButtonId}" icon="fa fa-sitemap" type="button" onclick="PF('wdgTitolario').show()" 
			disabled="#{cc.attrs.commandButtonDisabled}" styleClass="#{cc.attrs.commandButtonStyleClass}"/>
	
		<p:dialog widgetVar="wdgTitolario" dynamic="true" id="idWdgTitolario" hideEffect="fade" showEffect="fade" draggable="true" position="center" 
			modal="true" appendTo="@form" closeOnEscape="true" showHeader="true" closable="true" resizable="false" header="Titolario" 
			onShow="dlgOnShow(this.jqId); onShowForClosableDlg('wdgTitolario')">
			
			<p:scrollPanel mode="native" styleClass="generic-scrollpane-dim" rendered="#{not empty cc.attrs.component.rootTitolario }">
			   	<p:tree id="idTitolarioCreaTree" value="#{cc.attrs.component.rootTitolario}" var="t" dynamic="true" selectionMode="single" 
			   		styleClass="dmd-tree generic_noborder">
			   		
					<p:ajax event="expand" update="@this" listener="#{cc.attrs.component.onTitolarioNodeExpand}"/>
			        <p:ajax event="select" listener="#{cc.attrs.component.onTitolarioNodeSelect}" 
			        	update="#{cc.clientId}:#{cc.attrs.autoCompleteId}, #{cc.attrs.updateOnSelect}" oncomplete="PF('wdgTitolario').hide()"/>
			        	
					<p:treeNode>
						<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em" alt="Icona indice classificazione" 
							title="Indice classificazione"/> 
						<h:outputText value="#{t.indiceClassificazione} "/>
						<h:outputText value="#{t.descrizione}"/>
					</p:treeNode>
					
				</p:tree>
			</p:scrollPanel>
			<p:outputPanel rendered="#{empty cc.attrs.component.rootTitolario}" styleClass="generic_padding2  generic_textBold">
				Nessun titolario disponibile 
			</p:outputPanel>
			
			<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="ui-panelgrid-blank pnlgrid_noborder">
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('wdgTitolario').hide();" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>
		</p:dialog>
		
	</cc:implementation>
	
</ui:composition>
