<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.business.dto.TrasmissioneDTO"  required="true"/>
		<cc:attribute name="downloader" type="it.ibm.red.web.document.mbean.component.DocumentManagerDataTabTrasmissioneComponent"  required="false" default="#{null}"/>
	</cc:interface>
	<cc:implementation >
		
		<p:panelGrid columns="4" columnClasses="ui-g-2,ui-g-4,ui-g-2,ui-g-4" styleClass="pnlgrid_noborder generic_width100 gridinputreadonly" >
		 	<p:outputLabel styleClass="generic_textBold" for="@next" value="Mittente" />
		 	<p:inputText styleClass="generic_width100" readonly="true" value="#{cc.attrs.bean.from}"/>
		 	
		 	<p:outputLabel styleClass="generic_centerelement generic_textBold" for="@next" value="Data"/>
		 	<p:inputText styleClass="generic_width100"  readonly="true" value="#{cc.attrs.bean.dataRicezione}">
		 		<f:convertDateTime pattern="dd/MM/yyyy" />
		 	</p:inputText>
		 </p:panelGrid>
		 
		 <p:panelGrid columns="2" columnClasses="ui-g-2,ui-g-10" styleClass="pnlgrid_noborder generic_width100 gridinputreadonly" >
		 	<p:outputLabel styleClass="generic_textBold" for="@next" value="Destinatari"/>
		 	<p:inputText styleClass="generic_width100" readonly="true"  value="#{cc.attrs.bean.to}"/>
		 	
		 	<p:outputLabel styleClass="generic_textBold" for="@next" value="Destinatari CC"/>
		 	<p:inputText styleClass="generic_width100" readonly="true"  value="#{cc.attrs.bean.cc}"/>
		 	
		 	<p:outputLabel styleClass="generic_textBold" for="@next" value="Oggetto"/>
		 	<p:inputText styleClass="generic_width100" readonly="true"  value="#{cc.attrs.bean.oggetto}"/>
		 </p:panelGrid>
		 
		 <p:panelGrid columns="1" columnClasses="ui-g-12" styleClass="pnlgrid_noborder generic_width100 generic_no_opacity textAlignRight">
			 <p:commandButton icon="fa fa-download" ajax="false" value="Download Eml Originale" disabled="#{cc.attrs.downloader.flagEmlDisable}"  >
			 	<p:fileDownload value="#{cc.attrs.downloader.downloadEmlOriginale}"/>
			 </p:commandButton>
		 </p:panelGrid>
		 
		 <p:panelGrid columns="1" styleClass="pnlgrid_noborder generic_width100 generic_no_opacity" >
		 	<p:outputLabel styleClass="generic_textBold" for="@next" value="Testo"/>
		 	<p:panel id="testoDelMessaggioPnl">
				<p:textEditor id="testoDelMessaggio" toolbarVisible="false" value="#{cc.attrs.bean.testo}" escape="false" height="200" styleClass="generic_textAlignJustifyImp" >
				</p:textEditor>
			</p:panel>
			
			<p:outputLabel styleClass="generic_textBold" for="@next" value="Allegati"/>
			<p:dataTable id="detailTrasmissioneID" var="trasmissione" value="#{cc.attrs.bean.allegati}"  
				styleClass="dataTable" emptyMessage="Nessun allegato"
				paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" sortMode="multiple"	paginatorAlwaysVisible="false">  
			 	<p:column headerText="Nome File" styleClass="#{cc.attrs.downloader ne null ? 'ui-grid-col-10' : ''}">
	      		  <p:outputLabel value="#{trasmissione.nomeFile}" />
        		</p:column>
        		
        		<p:column headerText="Azioni" styleClass="ui-grid-col-2 generic_textAlignCenter" rendered="#{cc.attrs.downloader ne null}">
        			<p:commandButton title="Download #{trasmissione.nomeFile}" ajax="false" icon="fa fa-download" styleClass="dettaglio-download" process="@this" disabled="#{SessionBean.utente.gestioneApplicativa}">
			        	<p:fileDownload value="#{cc.attrs.downloader.getDownload(trasmissione)}"/>
			   		</p:commandButton> 
        		</p:column>
		 	</p:dataTable>
		 </p:panelGrid>	

	</cc:implementation>
</ui:composition>