<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<!-- Questo component è utilizzato per gestire il fatto che il pulsante verrà duplicato in tutti i dettagli del documento -->
	<cc:interface >
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.interfaces.IOpenDettaglioEstesoButtonComponent" required="true"/>
		<cc:attribute name="updateModificaDocumentoId" type="java.lang.String" default="idDettagliEstesiForm:idPanelDocumentManager" required="false"></cc:attribute>
		<cc:attribute name="onCompleteModificaDocumentoId" type="java.lang.String" default="dlgManageDocument_RM" ></cc:attribute>
		<cc:attribute name="valueEsteso" type="java.lang.Boolean" default="false" />
	</cc:interface>
	<cc:implementation >
	
	<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<p:commandButton id="firmeNonValideBtn" rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE ne cc.attrs.bean.firmeValidePrincAllegato}" title="#{(ValoreVerificaFirmaEnum.FIRMA_KO eq cc.attrs.bean.firmeValidePrincAllegato ? 'Almeno una firma non valida' : (ValoreVerificaFirmaEnum.FIRMA_OK eq cc.attrs.bean.firmeValidePrincAllegato ? 'Firme Valide': 'Firme Da Validare'))}" actionListener="#{cc.attrs.bean.verificaFirmaDocPrincipaleAllegati}"  style="#{ValoreVerificaFirmaEnum.FIRMA_KO eq cc.attrs.bean.firmeValidePrincAllegato ? 'color:red' : (ValoreVerificaFirmaEnum.FIRMA_OK eq cc.attrs.bean.firmeValidePrincAllegato ? 'color:green':'')}" icon="#{(ValoreVerificaFirmaEnum.FIRMA_KO eq cc.attrs.bean.firmeValidePrincAllegato ? 'fa fa-exclamation-circle' : (ValoreVerificaFirmaEnum.FIRMA_OK eq cc.attrs.bean.firmeValidePrincAllegato ? 'fa fa-check-circle':  'fa fa-pencil-square-o'))}" update="eastSectionForm:tabDetailsMenu" process="@this" styleClass="#{cc.attrs.valueEsteso ? 'generic_width100' : ''}" oncomplete="PF('pnlInfoFirmaPrincAllegato').show()" />
	<p:commandButton id="firmeNonPresentiBtn" title="Firme Non Presenti" actionListener="#{cc.attrs.bean.verificaFirmaDocPrincipaleAllegati}" oncomplete="PF('pnlInfoFirmaPrincAllegato').show()" rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE eq cc.attrs.bean.firmeValidePrincAllegato}" value=" - " update="eastSectionForm:tabDetailsMenu" process="@this" styleClass="#{cc.attrs.valueEsteso ? 'generic_width100' : ''}" />
	 
    <p:overlayPanel widgetVar="pnlInfoFirmaPrincAllegato" for="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE eq cc.attrs.bean.firmeValidePrincAllegato ? 'firmeNonPresentiBtn':'firmeNonValideBtn'}" id="idPnlInfoFirmaPrincAllegato" my="left top" at="right bottom" styleClass="overlay-panel-info-firma-new" showCloseIcon="true" >
			<p:outputPanel styleClass="overlay-panel-info-firma-overflow">
				<p:outputPanel>
					<p:outputPanel styleClass="generic_textAlignCenter generic_textBold">
						<h:outputText value="INFORMAZIONI FIRMA" />
					</p:outputPanel>
				</p:outputPanel>
				 
				<ui:repeat value="#{cc.attrs.bean.listVerificaFirmaPrincAll}" var="verFirmaPrincAll">
					<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-1,ui-grid-col-9 ellipsis,ui-grid-col-1">
						<h:outputText styleClass="#{verFirmaPrincAll.principale ? 'fa fa-file-o' : 'fa fa-paperclip'}" title="#{verFirmaPrincAll.principale ? 'principale' : 'allegato'}"/>
						<h:outputText value="#{verFirmaPrincAll.nomeFile}" title="#{verFirmaPrincAll.nomeFile}"  /> 
						<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_OK eq verFirmaPrincAll.valoreVerificaFirma}" styleClass="fa fa-check-circle" title="Firma Valida" style="color:green;"/>
						<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_KO eq verFirmaPrincAll.valoreVerificaFirma}" styleClass="fa fa-exclamation-circle" title="Firma Non Valida" style="color:red;"/>
						<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_VERIFICATA eq verFirmaPrincAll.valoreVerificaFirma}" title="Firma Non Verificata" styleClass="fa fa-pencil-square-o"/>
						<h:outputText rendered="#{ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE eq verFirmaPrincAll.valoreVerificaFirma}" title="Firma Non Verificata" value=" - "/>
					</p:panelGrid>
				</ui:repeat>
				 
			</p:outputPanel>
			<iframe class="cover" src="about:blank" title="Frame verifica firma"></iframe>
		</p:overlayPanel>	
	</cc:implementation>
</ui:composition>