<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	xmlns:cc="http://java.sun.com/jsf/composite" >

	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.VisualizzaDettaglioFilesComponent"/>
	</cc:interface>

	<p:outputPanel id="listaFiles_pnl" rendered="#{cc.attrs.bean.docprincDTH.masters ne null}" styleClass="ui-g-3 generic_height100">

		<!-- tabella doc principale -->
		<p:dataTable id="listaDocs_DocPrincipale_tbl" value="#{cc.attrs.bean.docprincDTH.masters}" var="docPrinc"
				 selectionMode="single" selection="#{cc.attrs.bean.docprincDTH.currentMaster}"
				 rowKey="#{docPrinc.uuid}" rendered="#{not empty cc.attrs.bean.docprincDTH.masters}">
			<p:ajax event="rowSelect" listener="#{cc.attrs.bean.rowSelectorDocPrincipale}" update="@parent:previewDoc_pnl, @parent:listaDocs_allegati_tbl"/>
			<p:column headerText="Documento Principale">
				<h:outputText value="#{docPrinc.fileName}" title="#{docPrinc.fileName}"/>
			</p:column>
			<p:column headerText="Campo Firma" width="20%" styleClass="generic_textAlignCenter" rendered="#{not DocumentManagerBean.documentManagerDTO.inCreazioneIngresso}">
				<p:outputLabel title="L'anteprima generata avrà il campo firma visibile" rendered="#{docPrinc.campoFirma}">
					<span title="L'anteprima generata avrà il campo firma visibile" class="fa fa-pencil-square-o"></span>
				</p:outputLabel>
			</p:column>
			<p:column width="30%" headerText="Azioni" styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-search" title="Genera Anteprima" action="#{cc.attrs.bean.generaAnteprimaDocPrinc()}" 
					update="@namingcontainer:@namingcontainer:previewDoc_pnl, @namingcontainer:@namingcontainer:listaDocs_allegati_tbl, @namingcontainer:@namingcontainer:listaFiles_pnl" />
				<p:commandButton icon="fa fa-download" title="Download #{docPrinc.fileName}" ajax="false" disabled="#{SessionBean.utente.gestioneApplicativa}">
					<p:fileDownload value="#{cc.attrs.bean.downloadDoc()}"/>
				</p:commandButton>
			</p:column>
		</p:dataTable>
		
		<!--  tabella allegati -->
		<p:dataTable id="listaDocs_allegati_tbl" value="#{cc.attrs.bean.allegatiDTH.masters}" var="allegato" 
				 expandableRowGroups="true" sortBy="#{allegato.daFirmare}" rowIndexVar="index" 
				 rowKey="#{allegato.idDocumento}-#{allegato.documentTitle}"
				 selectionMode="single" selection="#{cc.attrs.bean.allegatiDTH.currentMaster}"
				 styleClass="generic_noborder hideHeader" rendered="#{not empty cc.attrs.bean.allegatiDTH.masters}">
			<p:ajax event="rowSelect" listener="#{cc.attrs.bean.rowSelectorAllegati}" update="@parent:previewDoc_pnl, @parent:listaDocs_DocPrincipale_tbl"/>
			<p:headerRow>
				<p:column colspan="#{(DocumentManagerBean.documentManagerDTO.inCreazioneIngresso) ? 2 : 3}">
					<h:outputText value="#{(allegato.daFirmare ne null and allegato.daFirmare eq 1) ? 'Allegati da firmare':'Allegati da non firmare'}"/>
				</p:column>
			</p:headerRow>
			<p:column headerText="Allegati">
				<h:outputText value="#{allegato.formato == 1 ? 'Allegato cartaceo' : allegato.nomeFile}" title="#{allegato.daFirmareBoolean ? allegato.nomeFile.concat(' da firmare') : allegato.nomeFile.concat(' da non firmare')}"/>
			</p:column>
			<p:column headerText="Campo Firma" width="20%" styleClass="generic_textAlignCenter" rendered="#{not DocumentManagerBean.documentManagerDTO.inCreazioneIngresso}">
				<p:outputLabel title="L'anteprima generata avrà il campo firma visibile" rendered="#{allegato.campoFirma}">
					<span title="L'anteprima generata avrà il campo firma visibile" class="fa fa-pencil-square-o"></span>
				</p:outputLabel>
			</p:column>
			<p:column width="30%" headerText="Azioni" styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-search" title="Genera Anteprima" actionListener="#{cc.attrs.bean.generaAnteprimaAllegato(index)}" disabled="#{allegato.generaAnteprimaDisabled}" 
					update="@namingcontainer:@namingcontainer:previewDoc_pnl, @namingcontainer:@namingcontainer:listaDocs_allegati_tbl, @namingcontainer:@namingcontainer:listaFiles_pnl"/>
				<p:commandButton icon="fa fa-download" title="Download #{allegato.nomeFile}" ajax="false" disabled="#{SessionBean.utente.gestioneApplicativa or allegato.formato eq 1}">
					<p:fileDownload value="#{cc.attrs.bean.downloadAllegato(index)}"/>
				</p:commandButton>
			</p:column>
		</p:dataTable>
		
	</p:outputPanel>
	<p:outputPanel id="previewDoc_pnl" styleClass="ui-g-9">
		<!-- Box per visualizzazione doc frame -->
		<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_height100 generic_padding0 generic_margin0">
			<iframe title="Frame visualizza documento" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
				src="#{request.contextPath}/HighlightSignFieldServlet?parameters={idAoo:#{cc.attrs.bean.utente.idAoo},conCampoFirma:#{cc.attrs.bean.conCampoFirma},converti:#{cc.attrs.bean.converti},inModifica:#{cc.attrs.bean.inModifica},formatoOriginale:#{cc.attrs.bean.formatoOriginale},convertibile:#{cc.attrs.bean.convertibile},inEntrata:#{cc.attrs.bean.inIngresso},firmaMultipla:#{cc.attrs.bean.firmaMultipla},principale:#{cc.attrs.bean.principale},daNonProtocollare:#{cc.attrs.bean.daNonProtocollare},stampigliaturaSigla:#{cc.attrs.bean.stampigliaturaSigla},idSiglatario:#{cc.attrs.bean.idSiglatario},idUffCreatore:#{cc.attrs.bean.idUffCreatore},idTipoDoc:#{cc.attrs.bean.idTipoDoc},daFirmare:#{cc.attrs.bean.daFirmare}}"></iframe>
   		</p:outputPanel>

		<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_height100 generic_padding0 generic_margin0">
			<iframe title="Frame visualizza documento" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" id="pdfViewerRicerca" 
				src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{cc.attrs.bean.utente.idAoo},conCampoFirma:#{cc.attrs.bean.conCampoFirma},converti:#{cc.attrs.bean.converti},inModifica:#{cc.attrs.bean.inModifica},formatoOriginale:#{cc.attrs.bean.formatoOriginale},convertibile:#{cc.attrs.bean.convertibile},inEntrata:#{cc.attrs.bean.inIngresso},firmaMultipla:#{cc.attrs.bean.firmaMultipla},principale:#{cc.attrs.bean.principale},daNonProtocollare:#{cc.attrs.bean.daNonProtocollare},stampigliaturaSigla:#{cc.attrs.bean.stampigliaturaSigla},idSiglatario:#{cc.attrs.bean.idSiglatario},idUffCreatore:#{cc.attrs.bean.idUffCreatore},idTipoDoc:#{cc.attrs.bean.idTipoDoc},daFirmare:#{cc.attrs.bean.daFirmare}}"/>
   		</p:outputPanel>
	
	</p:outputPanel>

</ui:composition>