<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	 
 	<div style="max-height: 210px;overflow-y:auto;margin-top: 10px;" >
    	 <p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"> 
    	 		<p:outputLabel for="idNodoAttuale" value="Nodo" styleClass="DD_labelTitoletto" />
    	 		<p:inputText id="idNodoAttuale" value="#{AdminToolBean.nodoAttuale}" title="#{AdminToolBean.nodoAttuale}" readonly="true" style="width:100%;"/>
    	 		<p:outputLabel for="sessionID" value="Session Id" styleClass="DD_labelTitoletto"/>
    	 		<p:outputPanel>
    	 			<p:inputText id="sessionID" value="#{AdminToolBean.sessionID}" title="#{AdminToolBean.sessionID}" readonly="true" style="width:85%" />
    	 			<p:commandButton icon="fa fa-trash" action="#{AdminToolBean.invalidaSessione}" title="Invalida Sessione" />
    	 		</p:outputPanel>
    	 </p:panelGrid>
    	 
    	 <p:tabView id="adminToolTW" widgetVar="adminTool_WV" >
			 	<p:tab id="memoriaTab" title="Memoria"> 
					   <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
					            <h:graphicImage value="/resources/images/gear3.png" /> 
					 
					            <p:outputPanel>
					                <h:panelGrid id="memoriaPanel" columns="3" cellpadding="5" style="float:left!important;">
					                    <h:outputText value="Memoria Allocata:" />
					                    <h:outputText value="#{AdminToolBean.memoriaAllocata}" style="font-weight: bold"/>
					 					<h:outputText styleClass="fa fa-info" title="La memoria allocata è uguale alla memoria usata più la memoria libera "/>
					 					
					                    <h:outputText value="Memoria Allocata In Uso:" />
					                    <h:outputText value="#{AdminToolBean.memoriaAllocataInUso}" style="font-weight: bold"/>
									 	<h:outputText styleClass="fa fa-info" title="La memoria allocata in uso è la quantità di memoria allocata utilizzata"/>
					 					
					                    <h:outputText value="Memoria Totale In Uso:" />
					                    <h:outputText value="#{AdminToolBean.memoriaTotaleInUso}" style="font-weight: bold"/>
					               		<h:outputText styleClass="fa fa-info" title="Memoria in uso rispetto alla massima memoria disponibile sia spazio allocato che non allocato"/>
					               		
					               		<h:outputText value="Uso CPU:" />
					                    <h:outputText value="#{AdminToolBean.cpuUsata}" style="font-weight: bold"/>
					               		<h:outputText styleClass="fa fa-info" title="Restituisce il tempo di cpu utilizzato dal processo su cui la jvm è in esecuzione in ns"/>
					 				</h:panelGrid>
						                
						            <p:outputPanel styleClass="btn-group-vertical">
							            <p:commandButton icon="fa fa-trash" value="Garbage Collector" styleClass="buttonAdmin btn-primary btn-outline generic_width30" action="#{AdminToolBean.freeMemory}" update="memoriaPanel" title="esegui garbage collector">
							            	<p:confirm header="Esegui Garbage Collector" message="Attenzione, si sta per eseguire il garbage collector. Se si desidera continuare cliccare su 'OK', altrimenti Annullare l'operazione" />
							           </p:commandButton>
				  				 		<p:commandButton icon="fa fa-refresh" value="Refresh" styleClass="buttonAdmin btn-primary btn-outline generic_width30" action="#{AdminToolBean.calcolaMemoria}" update="memoriaPanel" title="esegui ricalcolo memoria"/>
					            	</p:outputPanel>
					            </p:outputPanel>
        					</h:panelGrid>
				</p:tab>
			 	
		        <p:tab title="Log"> 
		         	 <h:panelGrid id="logPG" columns="1" cellpadding="5" columnClasses="ui-grid-col-12">
					      <p:outputPanel style="float:left;" >
					      		<p:outputLabel value="Livello Root:" for="livelloRootId" style="font-size:13px;" />
					     		<p:inputText id="livelloRootId" value="#{AdminToolBean.livelloRoot}" title="#{AdminToolBean.livelloRoot}" style="font-weight: bold;margin-left:5px;" readonly="true"/>
						  		<p:commandButton icon="fa fa-refresh" update="logPG" action="#{AdminToolBean.refreshLivelloRoot}" title="refresh livello root"/>
					      </p:outputPanel>
					       	
					      <p:outputPanel styleClass="button-group-admin">
						      	<p:commandButton value="ALL" action="#{AdminToolBean.setLevelRoot('ALL')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'ALL' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="DEBUG" action="#{AdminToolBean.setLevelRoot('DEBUG')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'DEBUG' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="ERROR" action="#{AdminToolBean.setLevelRoot('ERROR')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'ERROR' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="INFO" action="#{AdminToolBean.setLevelRoot('INFO')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'INFO' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="OFF" action="#{AdminToolBean.setLevelRoot('OFF')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'OFF' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="TRACE" action="#{AdminToolBean.setLevelRoot('TRACE')}" styleClass="buttonAdmin btn-primary btn-outline #{AdminToolBean.livelloRoot eq 'TRACE' ? 'ui-state-highlight' : ''}" update="logPG"/>
						      	<p:commandButton value="WARN" action="#{AdminToolBean.setLevelRoot('WARN')}" styleClass="buttonAdmin btn-primary btn-outline  #{AdminToolBean.livelloRoot eq 'WARN' ? 'ui-state-highlight' : ''}" update="logPG"/>
					      </p:outputPanel>
					      
					      
					      <p:outputPanel id="pnlTrackID" style="float:left;">
					      		<p:outputLabel for="trackID" value="Track ID:" style="font-size:13px;" />
						        <p:inputText id="trackID" value="#{AdminToolBean.trackId}" title="#{AdminToolBean.trackId}" readonly="true" style="font-weight: bold;margin-left:5px;"/>
					     		<p:commandButton icon="fa fa-refresh" action="#{AdminToolBean.generaTrackId}" update="pnlTrackID" title="Genera track id" >
					     			<p:confirm header="Genera track id" message="Attenzione, verrà generato un id univoco per essere tracciato nei log utilizzabile una sola volta. Se si desidera continuare fare click su OK altrimenti annullare l'operazione" />
					     		</p:commandButton>
					     		 <span class="#{(AdminToolBean.trackId eq null) ? '' : 'fa fa-close'}" style="color:#{(AdminToolBean.trackId eq null) ? '' : 'red'}"/>
					     		 
					     </p:outputPanel>
					  </h:panelGrid>
					 
				</p:tab>
		        
		        <p:tab title="Property">
		       		 <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
					            <h:graphicImage value="/resources/images/tools.png" /> 
					 
					            <p:outputPanel>
					                <h:panelGrid columns="2" cellpadding="5" style="float:left!important;">
					                    <h:outputText value="Ultimo Refresh:" />
					                    
					                    <h:outputText id="ultimoRefreshID" value="#{AdminToolBean.ultimoRefresh}" style="font-weight: bold">
					 						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
					 					</h:outputText>
					                   <p:commandButton value="Refresh" icon="fa fa-refresh" action="#{AdminToolBean.ultimoRefresh}" update="ultimoRefreshID" styleClass="buttonAdmin btn-primary btn-outline"/>
			    	 				   <p:commandButton value="Run Refresh" icon="fa fa-play" action="#{AdminToolBean.runRefreshPropertyServlet}" update="ultimoRefreshID	" styleClass="buttonAdmin btn-primary btn-outline" title="Esegui Refresh Property Servlet"/>
			    	 			
					                    
					                </h:panelGrid>
						                
					            </p:outputPanel>
        					</h:panelGrid>
		        	 
	    	    </p:tab>
		</p:tabView>
    </div>
	 
</ui:composition>



 