<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
  <div style="max-height: 210px;overflow-y:auto;margin-top: 10px;">
  <div class="ui-g-12">
	<div class="ui-g-4"> 
		<p:commandButton value="Nuovo" action="#{CalendarioBean.onCreateEvent}" oncomplete="PF('wdgCreationDialog').show()" icon="fa fa-calendar-plus-o" title="Nuovo" style="float: right;margin-left: 10px; font-size:9px;"/>	             
		<p:schedule id="myscheduleWidget" timeFormat=" " style="font-size: 2px!important; width: 100%" value="#{CalendarioBean.lazyEventModel}" clientTimeZone="local" slotEventOverlap="false" locale="it" draggable="false" showHeader="true" aspectRatio="15" centerHeaderTemplate="title" rightHeaderTemplate=" ">
	 		<p:ajax event="dateSelect" listener="#{CalendarioBean.onDateSelect}" update="centralSectionForm:eventiCalendarioDS" />
		</p:schedule>
	 </div>
	<div class="ui-g-8">
		<p:dataScroller id="eventiCalendarioDS" value="#{CalendarioBean.eventiDTH.masters}" var="evento" chunkSize="10">
	 		<f:facet name="header">	
				<p:panelGrid columns="5" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-2,ui-grid-col-2,ui-grid-col-3,ui-grid-col-2">
					<p:outputLabel value="TIPOLOGIA" styleClass="generic_textBold"/>
					<p:outputLabel value="INIZIO" styleClass="generic_textBold"/>
					<p:outputLabel value="SCADENZA" styleClass="generic_textBold"/>
					<p:outputLabel value="TITOLO" styleClass="generic_textBold"/>
					<p:outputLabel value="MODIFICA" styleClass="generic_textBold"/>  
				</p:panelGrid>
			</f:facet>
		 
		  	<p:panelGrid columns="5" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-2,ui-grid-col-2,ui-grid-col-3,ui-grid-col-2" style="border-bottom: 1px solid; border-color:#aed0ea; ">
				<h:outputText value="#{evento.tipologia.description}" />
				 
				<h:outputText value="#{evento.dataInizio}" >
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
				
				<h:outputText value="#{evento.dataScadenza}" >
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText> 
				
				<p:outputLabel value="#{evento.titolo}" />  
 				
 				<p:panelGrid id="comandiCalendarioWdg" columns="2" columnClasses="ui-grid-col-6, ui-grid-col-6" layout="grid" styleClass="generic_textAlignCenter pnlgrid_noborder">	 	
	 				<p:commandLink  action="#{CalendarioBean.modificaEventoSelezionatoWidget}" disabled="#{!evento.isModificabileWdg}">
						<span class="fa fa-pencil"/>
						<f:setPropertyActionListener value="#{evento}" target="#{CalendarioBean.eventoWidget}"/>
					</p:commandLink>
	 			 	<p:commandLink  action="#{CalendarioBean.visualizzaEventoSelezionatoWidget}">
						<span class="fa fa-search"/>
						<f:setPropertyActionListener value="#{evento}" target="#{CalendarioBean.eventoWidget}"/>
					</p:commandLink> 
 			 </p:panelGrid>
			</p:panelGrid>
	    <p:outputLabel value="NESSUN EVENTO PRESENTE" rendered="#{empty CalendarioBean.eventiDTH.masters}"/>
		
	    </p:dataScroller>
		</div>
		
		
		</div>
		</div>
		<!-- END DETTAGLI EVENTO AL CLICK SULLA DATATABLE -->
	<ui:include src="../calendarioDialog.xhtml"></ui:include>
</ui:composition>