<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>

	<p:dataTable var="notifica" value="#{SottoscrizioniWidgetBean.notificheDTH.masters}" rowKey="#{notifica.idNotifica}" 
				 emptyMessage="Nessuna notifica" paginatorPosition="bottom" paginatorAlwaysVisible="false"
				 rows="5" paginator="#{fn:length(SottoscrizioniWidgetBean.notificheDTH.masters) gt 5}" rowsPerPageTemplate="5,10,15"
				 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 filteredValue="#{SottoscrizioniWidgetBean.notificheDTH.filteredMasters}"
				 styleClass="dataTable generic_textAlignCenter" style="max-height: 200px;margin: 10px;">

		<p:column headerText="Data Evento" filterBy="#{notifica.dataEvento}">
			<h:outputText value="#{notifica.dataEvento}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:outputText>
		</p:column>
		
		<p:column headerText="Data Scadenza Doc" filterBy="#{notifica.dataScadenzaDocumento}">
			<h:outputText value="#{notifica.dataScadenzaDocumento}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:outputText>
		</p:column>
		
		<p:column headerText="Tipologia notifica" filterBy="#{notifica.descrizioneEvento}">
			<h:outputText value="#{notifica.descrizioneEvento}" />
		</p:column>
		
		<p:column headerText="ID Documento" filterBy="#{notifica.numeroDocumento}">
			<h:outputText value="#{notifica.numeroDocumento}" />
		</p:column>
		
		<p:column headerText="Oggetto" filterBy="#{notifica.oggettoDocumento}">
			<h:outputText value="#{fn:length(notifica.oggettoDocumento) gt 30 ? fn:substring(notifica.oggettoDocumento,0,30).concat('...') : notifica.oggettoDocumento}" title="#{notifica.oggettoDocumento}" />
		</p:column>
	</p:dataTable>
	

</ui:composition>