<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="DocumentQueueEnum" allSuffix="ALL_ENUM_VALUES"/>
	 
	<div style="max-height: 200px;margin-top: 10px; overflow-y: auto;" >	
		<!-- START CONTATORE DA LAVORARE -->
		<p:outputPanel class="widget-stats bg-gradient-teal contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{not SessionBean.utente.ucb}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-suitcase fa-fwCont" />
				<p:outputPanel styleClass="stats-conent">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Da Lavorare"/>
					</p:outputPanel>
							
					
				<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
					<p:outputPanel styleClass="stats-numberCont">
						<p:outputLabel value="Coda" styleClass="stats-numberCont generic-font-size14"/>
					</p:outputPanel>
	            
	            	<p:commandLink action="#{SessionBean.gotoDaLavorare}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                  		<h:outputText value="#{SessionBean.count.daLavorare}"/>
                   	</p:commandLink>
                   	
                   	<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                	<p:outputLabel value="Scad."/>
	              	</p:outputPanel>
               		
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.daLavorare le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.DA_LAVORARE)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.daLavorare}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE DA LAVORARE -->
		
		<!-- START CONTATORE DA LAVORARE UCB -->
		<p:outputPanel class="widget-stats bg-gradient-teal contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{SessionBean.utente.ucb}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-suitcase fa-fwCont" />
				<p:outputPanel styleClass="stats-conent">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Da Lavorare"/>
					</p:outputPanel>
							
					
				<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
					<p:outputPanel styleClass="stats-numberCont">
						<p:outputLabel value="Coda" styleClass="stats-numberCont generic-font-size14"/>
					</p:outputPanel>
	            
	            	<p:commandLink action="#{SessionBean.gotoDaLavorareUCB}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                  		<h:outputText value="#{SessionBean.count.daLavorareUCB}"/>
                   	</p:commandLink>
                   	
                   	<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                	<p:outputLabel value="Scad."/>
	              	</p:outputPanel>
               		
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.daLavorareUCB le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.DA_LAVORARE_UCB)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.daLavorareUCB}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE DA LAVORARE UCB -->
		
		<!-- START CONTATORE IN LAVORAZIONE UCB -->
		<p:outputPanel class="widget-stats bg-gradient-teal contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{SessionBean.utente.ucb}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-wrench fa-fwCont" />
				<p:outputPanel styleClass="stats-conent">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="In Lavorazione"/>
					</p:outputPanel>
							
				<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
					<p:outputPanel styleClass="stats-numberCont">
						<p:outputLabel value="Coda" styleClass="stats-numberCont generic-font-size14"/>
					</p:outputPanel>
	            
	            	<p:commandLink action="#{SessionBean.gotoInLavorazioneUCB}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                  		<h:outputText value="#{SessionBean.count.inLavorazioneUCB}"/>
                   	</p:commandLink>
                   	
                   	<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                	<p:outputLabel value="Scad."/>
	              	</p:outputPanel>
               		
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.inLavorazioneUCB le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.IN_LAVORAZIONE_UCB)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.inLavorazioneUCB}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE IN LAVORAZIONE UCB -->
		
		<!-- START CONTATORE IN SOSPESO -->
			<p:outputPanel class="widget-stats bg-gradient-blue contatoriWidget ui-g-4" style="margin-left:15px;">
			<h:outputText class="stats-icon stats-icon-lg fa fa-hourglass-half fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="In Sospeso"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda"/>
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoInSospeso}" styleClass="default_linkWidget generic-font-size15" oncomplete="PF('statusDialog').show();">
                      		<h:outputText value="#{SessionBean.count.sospeso}"/>
					</p:commandLink>
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Scad." />
	              		</p:outputPanel>	
               		<p:commandLink disabled="#{SessionBean.countDocInScadenza.sospeso le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.SOSPESO)}" oncomplete="PF('statusDialog').show();">
		            	<h:outputText value="#{SessionBean.countDocInScadenza.sospeso}"/>
		            </p:commandLink>
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE IN SOSPESO -->
		
		<!-- START CONTATORE LIBRO FIRMA -->
			<p:outputPanel class="widget-stats bg-gradient-purple contatoriWidget ui-g-4" style="margin-left:15px;">
			<h:outputText class="stats-icon stats-icon-lg fa fa-pencil-square-o fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Libro Firma" />
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
						</p:outputPanel>	
						
						<p:commandLink action="#{SessionBean.gotoLibroFirma}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   			<h:outputText value="#{SessionBean.count.libroFirma}"/>
                   		</p:commandLink>
	                   	
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Scad."/>
	              		</p:outputPanel>
               			
               			<p:commandLink disabled="#{SessionBean.countDocInScadenza.libroFirma le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.NSD)}" oncomplete="PF('statusDialog').show();">
							<h:outputText value="#{SessionBean.countDocInScadenza.libroFirma}"/>
		        		</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE LIBRO FIRMA -->
							
		<!-- START CORRIERE --> 
		<p:outputPanel class="widget-stats bg-gradient-black contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and not (SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta)}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-truck fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Corriere" />
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoCorriere}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corriere}"/>
					</p:commandLink>
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Scad."/>
	              		
               		</p:outputPanel>
               		<p:commandLink disabled="#{SessionBean.countDocInScadenza.corriere le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corriere}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CORRIERE  -->
		
		<!-- START CORRIERE DIRETTO --> 
		<p:outputPanel class="widget-stats bg-gradient-black contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-truck fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Corriere" />
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoCorriereDiretto}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corrierediretto}"/>
					</p:commandLink>
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Scad."/>
	              		
               		</p:outputPanel>
               		<p:commandLink disabled="#{SessionBean.countDocInScadenza.corrierediretto le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE_DIRETTO)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corrierediretto}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CORRIERE DIRETTO  -->
		
		<!-- START CORRIERE INDIRETTO --> 
		<p:outputPanel class="widget-stats bg-gradient-black contatoriWidget ui-g-4" style="margin-left:15px;" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}">
			<h:outputText class="stats-icon stats-icon-lg fa fa-truck fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Da Assegnare" />
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoCorriereIndiretto}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corriereindiretto}"/>
					</p:commandLink>
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Scad."/>
	              		
               		</p:outputPanel>
               		<p:commandLink disabled="#{SessionBean.countDocInScadenza.corriereindiretto le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE_INDIRETTO)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corriereindiretto}"/>
					</p:commandLink>	
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CORRIERE INDIRETTO -->
		
		<!-- START CONTATORE STORNATI -->
		<p:outputPanel class="widget-stats bg-gradient-orange contatoriWidget ui-g-4" style="margin-left:15px;">
			<h:outputText class="stats-icon stats-icon-lg fa fa-legal fa-fwCont" />
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Stornati" />
					</p:outputPanel>
					 
					<p:panelGrid columns="2" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col7">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoCorriere}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corriere}"/>
					</p:commandLink>
                   	 	
				</p:panelGrid> 
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE STORNATI -->
		
		<!-- START CONTATORE IN SPEDIZIONE -->
		<p:outputPanel class="widget-stats bg-pink contatoriWidget ui-g-4" style="margin-left:15px;">
			<span class="stats-icon stats-icon-lg fa fa-send fa-fwCont" />
			
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Spedizione"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Coda" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoInSpedizione}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.spedizione}"/>
					</p:commandLink>
                   		<p:outputPanel styleClass="stats-numberCont generic-font-size14">
	                		<p:outputLabel value="Errore"/>
	              		
               		</p:outputPanel>	
               		<p:commandLink disabled="#{SessionBean.count.spedizioneErrore le 0}" styleClass="default_linkWidget generic-font-size14" action="#{CalendarioBean.goToCodaInSpedizioneDocInErrore}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.count.spedizioneErrore}" />
					</p:commandLink>
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		<!-- END CONTATORE IN SPEDIZIONE-->
	 </div>  
	 
</ui:composition>