<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	
	<div style="max-height: 200px;overflow-y: auto;margin-top: 10px;">
	
		<p:chart type="bar" rendered="#{InApprovazionePerStrutturaWidgetBean.listaUffici ne null and fn:length(InApprovazionePerStrutturaWidgetBean.listaUffici) lt 11}" model="#{InApprovazionePerStrutturaWidgetBean.animatedBarChartModel}" style="width:97%; height:190px" />
		
		<p:chart type="bar" rendered="#{InApprovazionePerStrutturaWidgetBean.listaUffici ne null and fn:length(InApprovazionePerStrutturaWidgetBean.listaUffici) gt 10 and fn:length(InApprovazionePerStrutturaWidgetBean.listaUffici) lt 16}" model="#{InApprovazionePerStrutturaWidgetBean.animatedBarChartModel}" style="width:97%; height:380px" />
		
		<p:chart type="bar" rendered="#{InApprovazionePerStrutturaWidgetBean.listaUffici ne null and fn:length(InApprovazionePerStrutturaWidgetBean.listaUffici) gt 15}" model="#{InApprovazionePerStrutturaWidgetBean.animatedBarChartModel}" style="width:97%; height:600px" />
	</div>
	

</ui:composition>