<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom">

	<div style="max-height: 200px;margin-top: 10px;">	
		<div class="ui-g-4">
		 	<p:chart type="donut" model="#{InApprovazionePerDirigenteWidgetBean.model}" style="height:200px;" >
		  		<p:ajax event="itemSelect" listener="#{InApprovazionePerDirigenteWidgetBean.itemSelect}" />
		    </p:chart>
	 	</div>
	 	<div class="ui-g-8" style="max-height: 200px;overflow-y: auto;margin-top: 10px; ">
			<p:dataScroller id="legendaDS" value="#{InApprovazionePerDirigenteWidgetBean.listaUffici}" var="ufficio" chunkSize="10" mode="inline">
				 <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" style="border-bottom: 1px solid; border-color:#aed0ea; ">
					<span class="fa fa-circle icon-bordered"  style="color:#{ufficio.coloreUfficio};" />
  					
  					<p:commandLink  update="@namingcontainer:@namingcontainer" action="#{InApprovazionePerDirigenteWidgetBean.gotoLibroFirma}">
						<h:outputText value="#{ufficio.descrizione}"/>
						<f:setPropertyActionListener value="#{ufficio}" target="#{InApprovazionePerDirigenteWidgetBean.nodoSelezionato}"/>
					</p:commandLink> 
					<p:commandLink  update="@namingcontainer:@namingcontainer" action="#{InApprovazionePerDirigenteWidgetBean.gotoLibroFirma}">
						<h:outputText value="#{ufficio.countUfficio}"/>
						<f:setPropertyActionListener value="#{ufficio}" target="#{InApprovazionePerDirigenteWidgetBean.nodoSelezionato}"/>
					</p:commandLink>
					 
				</p:panelGrid>
		    </p:dataScroller>
		</div>
	 </div> 
	
</ui:composition>