<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	
	<script>
	$( document ).ready(function(){
		$('#centralSectionForm\\:widgCarousel').mouseover(function(){PF('wdgCarousel').stopAutoplay()});
		$('#centralSectionForm\\:widgCarousel').mouseleave(function(){PF('wdgCarousel').startAutoplay()});
	
	})
	</script>

	<div style="max-height: 210px;overflow-y:auto;margin-top: 10px;">
    	<p:carousel rendered="#{not empty NewsWidgetBean.news}" id="widgCarousel" var="item" itemStyle="width:97%;" value="#{NewsWidgetBean.news}" numVisible="1"  widgetVar="wdgCarousel" autoPlayInterval="10000" circular="true" >
	        <p:panelGrid columns="2" layout="grid" style="border-bottom: none; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-9">
					<p:outputPanel style="text-align:center;font-size:60px;padding-bottom:5px; padding-right:0px; padding-left:0px; padding-top:5px;">
	 					<i class="fa fa-info"></i>
	 				</p:outputPanel>  
	 				<p:panelGrid columns="1" layout="grid"> 
	 					<p:outputPanel> 
	 					 
		           			<p:outputLabel value="#{item.dataInizio}" style="font-size:1.5em;font-weight:bold;padding-top:0px; float:left; padding-right:4px;" >
		           				<f:convertDateTime pattern="dd/MM/yyyy"/>
		           			</p:outputLabel>
		           		 
		           			<p:outputLabel value=" - #{item.titolo}"  style="font-size:1.5em;font-weight:bold;padding-top:0px; float:left;" />
		           				 
		           			<p:commandButton ajax="false" icon="fa fa-paperclip" styleClass="generic-widget-button-noBorder" title="Download #{item.nomeAllegato}" rendered="#{item.nomeAllegato != null}" style="font-size:1.3em;font-weight:bold; float:left;" > 
								<f:setPropertyActionListener value="#{item}" target="#{NewsWidgetBean.selectedAllegato}"></f:setPropertyActionListener>		           				 	
		           			 	<p:fileDownload value="#{NewsWidgetBean.downloadFromDetail()}" />
		           			</p:commandButton>
						 
		           		
		           		</p:outputPanel>
		           		<p:outputLabel value="#{fn:length(item.contenuto) gt 900 ? fn:substring(item.contenuto, 0,894).concat('...'):item.contenuto}" title="#{item.contenuto}" style="float:left;padding-bottom:5px; padding-right:0px; padding-left:0px; padding-top:5px; text-align:left;"  escape="false"/>
	 				</p:panelGrid>
	 		</p:panelGrid>
	 	</p:carousel> 
	
		<p:outputLabel value="NESSUNA NEWS PRESENTE" rendered="#{empty NewsWidgetBean.news}"/>
	</div>
	 
</ui:composition>



 