<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:red="http://java.sun.com/jsf/composite/custom">
	
	<p:outputPanel style="max-height: 200px;margin-top: 10px;">	
		<p:importEnum type="it.ibm.red.business.enums.TipoOperazioneEnum" var="operazione" allSuffix="ALL_OP_ENUM_VALUES"/>
		<p:importEnum type="it.ibm.red.business.enums.StatoNotificaContattoEnum" var="stato" allSuffix="ALL_STATO_ENUM_VALUES"/>
	  
		<p:panelGrid columns="3" styleClass="noBorderGrid">
			<p:outputLabel value="A partire da:"  styleClass="generic_textBold"/>  
			<p:selectOneMenu id="richieste_APartireDA" value="#{WidgetRubricaBean.numGiorni}"
   				 lazy="true" autoWidth="false" styleClass="textfield_dropdown">
   				 <f:selectItem itemLabel="Ultimi 10 giorni" itemValue="10"/>
   				 <f:selectItem itemLabel="Ultimi 30 giorni" itemValue="30"/>
   				 <f:selectItem itemLabel="Ultimi 60 giorni" itemValue="60"/>
   				 <p:ajax event="change" update="richieste_RGRT" listener="#{WidgetRubricaBean.loadTabNotificheRichieste}"/>
			</p:selectOneMenu>
			<div></div>
		</p:panelGrid> 
	 
		<p:dataScroller id="richieste_RGRT" widgetVar="GestioneRichieste_RGRT" value="#{WidgetRubricaBean.notificheContattiDTH.masters}" var="notifica">	
			<f:facet name="header">	
				<p:panelGrid columns="5" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" 
					columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-3,ui-grid-col-2,ui-grid-col-2">
					<p:outputLabel value="DATA" styleClass="generic_textBold"/>
					<p:outputLabel value="UTENTE" styleClass="generic_textBold"/>
					<p:outputLabel value="TIPO RICHIESTA" styleClass="generic_textBold"/> 
					<p:outputLabel value="VECCHIO VALORE" styleClass="generic_textBold"/>  
					<p:outputLabel value="COMANDI" styleClass="generic_textBold"/>
				</p:panelGrid>
			</f:facet>
		 
		 	<p:panelGrid columns="5" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" 
		 		columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-3,ui-grid-col-2,ui-grid-col-2">
		    
				<h:outputText value="#{notifica.dataOperazione}">
		        	<f:convertDateTime pattern="dd/MM/yyyy"/>
		        </h:outputText>
		        	
		        <h:outputText value="#{notifica.utente}"/>
		        	
		        <h:outputText value="#{notifica.operazioneEffettuata}"/>
				 
				<h:outputText value="#{notifica.vecchioValore}"/> 
			
				<p:panelGrid id="operazioniRichieste" columns="3" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" layout="grid" styleClass="generic_textAlignCenter pnlgrid_noborder">
					
					<p:commandButton icon="fa fa-check" rendered="#{notifica.operazioneEnum ne operazione.CREAZIONE_AUTOMATICA_CONTATTO}" 
						title="Esegui Richiesta" styleClass="generic_width32px generic_verticalAlign_textTop generic-widget-button-noBorder"  
						actionListener="#{WidgetRubricaBean.gestisciNotifica}" oncomplete="PF('dettagliModificaContattoWidgetWV').show()" 
						update="centralSectionForm:dettagliModificaEliminaContattoWidgetDlg_RGRT"/>
			 
					<p:commandButton icon="fa fa-close" rendered="#{notifica.operazioneEnum ne operazione.CREAZIONE_AUTOMATICA_CONTATTO}" id="rifRichiesta" 
						title="Rifiuta Richiesta" styleClass="generic_width32px generic_verticalAlign_textTop generic-widget-button-noBorder"
						actionListener="#{WidgetRubricaBean.gestisciNotifica}" oncomplete="PF('dialogRifiuta').show()"/>
						
					<p:commandButton icon="#{notifica.stato eq stato.PRESA_VISIONE ? 'fa fa-bell' : 'fa fa-bell-o'}" rendered="#{notifica.operazioneEnum eq operazione.CREAZIONE_AUTOMATICA_CONTATTO}" 
	    				title="Presa Visione" styleClass="generic_width32px generic_verticalAlign_textTop generic-widget-button-noBorder"  
	    				actionListener="#{WidgetRubricaBean.gestisciNotifica}" oncomplete="PF('dettagliPresaVisioneContattoWidgetWV').show()" 
	    				update="centralSectionForm:dettagliPresaVisioneContattoWidgetDlg_RGRT"/>
						
	   	        	<p:commandButton id="infoBtnRichieste" icon="fa fa-info" type="button" title="Info" styleClass="generic-widget-button-noBorder">
		        		<p:overlayPanel id="infoPnlRichieste" for="infoBtnRichieste" appendToBody="true" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width15">
				        	<p:panel id="infoGestRic" styleClass="generic_margin3">
				        		<p:outputPanel styleClass="ui-g generic_displayBlock">	
				        			<div class="ui-g-5">
				        				<p:outputLabel for="aliasGestRic" value="Alias" styleClass="generic_textBold"/>
				        			</div>
				        			<div class="ui-g-7">
				        				<h:outputText id="aliasGestRic" value="#{notifica.alias}"/>
				        			</div>
				        		</p:outputPanel>
				        		
				        		<p:outputPanel styleClass="ui-g generic_displayBlock">	
				        			<div class="ui-g-5">
						        		<p:outputLabel for="nomeGestRic" value="Nome" styleClass="generic_textBold"/>
				        			</div>
				        			<div class="ui-g-7">
				        				<h:outputText id="nomeGestRic" value="#{notifica.nome}"/>
				        			</div>
				        		</p:outputPanel>
				        		<p:outputPanel styleClass="ui-g generic_displayBlock">	
				        			<div class="ui-g-5">
				        				<p:outputLabel for="cognomeGestRic" value="Cognome" styleClass="generic_textBold"/>
				        			</div>
				        			<div class="ui-g-7">
				        				<h:outputText id="cognomeGestRic" value="#{notifica.cognome}"/>
				        			</div>
				        		</p:outputPanel>
				        	</p:panel>
				        	<iframe class="cover" src="about:blank" title="Frame widget rubrica"></iframe>
				        </p:overlayPanel>
					</p:commandButton>
				</p:panelGrid>		
			</p:panelGrid>
		</p:dataScroller>
	
		<p:dialog header="Rifiuta richiesta" widgetVar="dialogRifiuta" id="idDialogRifiuta" for="rifRichiesta" hideEffect="fade" resizable="false"
			onHide="clearTextAreaByWidget('wdgNotaRichiestaRifiuta_RGCT')" appendTo="@form" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRifiuta')" closable="true">
			<div class="ui-g generic_width600px">
				<div class="ui-g-12">
					<p:outputLabel value="Note" for="@next"/>
				</div>
				<div class="ui-g-12 ui-fluid">
					<p:inputTextarea value="#{WidgetRubricaBean.notaRifiutaRichiesta}" rows="4" widgetVar="wdgNotaRichiestaRifiuta_RGCT"/>
				</div>
			</div>
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
				<p:commandButton icon="fa fa-check" value="Esegui" title="Esegui" actionListener="#{WidgetRubricaBean.rifiutaRichiesta}" update="richieste_RGRT" oncomplete="PF('dialogRifiuta').hide();" styleClass="generic_width100"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi" onclick="PF('dialogRifiuta').hide();" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>
		</p:dialog>
	
	
		<p:outputPanel id="dettagliModificaEliminaContattoWidgetDlg_RGRT">
			<red:dlgOperazioneNotificaContattoComponent bean="#{WidgetRubricaBean}" widgetVar="dettagliModificaContattoWidgetWV" dlgTitle="Esegui richiesta" confirmBtnTitle="Esegui" 
				confirmBtnOperation="#{WidgetRubricaBean.checkOperazioneEDati()}" confirmBtnUpdate="@form:richieste_RGRT">
			</red:dlgOperazioneNotificaContattoComponent>
		</p:outputPanel>
		
		<p:outputPanel id="dettagliPresaVisioneContattoWidgetDlg_RGRT">
			<red:dlgOperazioneNotificaContattoComponent bean="#{WidgetRubricaBean}" widgetVar="dettagliPresaVisioneContattoWidgetWV" dlgTitle="Presa visione" confirmBtnTitle="Presa visione" 
				confirmBtnOperation="#{WidgetRubricaBean.presaVisioneNotificaContatto()}" confirmBtnUpdate="@form:richieste_RGRT">
			</red:dlgOperazioneNotificaContattoComponent>
		</p:outputPanel>
		
		<p:dialog widgetVar="dialogCheckElimina_RGGT" id="idDialogCheckElimina_RGGT" for="checkRichiesta" hideEffect="fade" resizable="false"
			modal="true" header="Attenzione" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogCheckElimina_RGGT')" closable="true">
			<div class="generic_textAlignCenter">
				<h:outputText value="Attenzione, ci sono delle notifiche in sospeso associate a questo contatto. Procedere lo stesso?"/>
			</div>
			<div class="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-check" value="Sì" title="Sì" actionListener="#{WidgetRubricaBean.eseguiRichiesta}" 
					update="@form:RubricaTab:prefRubrica_RG, @form:RubricaTab:ricRubrica_RG , richieste_RGRT" 
					oncomplete="PF('dialogCheckElimina_RGGT').hide()" rendered="#{SessionBean.renderRubrica}"/>
				<p:commandButton icon="fa fa-check" value="Sì" title="Sì" actionListener="#{WidgetRubricaBean.eseguiRichiesta}" update="centralSectionForm:dettagliModificaEliminaContattoWidgetDlg_RGRT" 
					oncomplete="PF('dialogCheckElimina_RGGT').hide()" rendered="#{not SessionBean.renderRubrica}"/>
			
				<p:commandButton icon="fa fa-times" value="No" title="no" onclick="PF('dialogCheckElimina_RGGT').hide()" type="button" styleClass="uniqueCloseButton"/>
			</div>
		</p:dialog>
	</p:outputPanel>  
	 
</ui:composition>