<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>

	<div style="max-height: 200px;overflow-y: auto;margin-top: 10px;">
		<p:dataScroller value="#{SottoscrizioniWidgetBean.notificheDTH.masters}" var="notifica" chunkSize="10" rendered="#{not empty SottoscrizioniWidgetBean.notificheDTH.masters}">
			<f:facet name="header">	
				<p:panelGrid columns="6" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-4,ui-grid-col-1,ui-grid-col-2,ui-grid-col-2">
					<p:outputLabel value="ICONA" styleClass="generic_textBold"/>
					<p:outputLabel value="DATA EVENTO" styleClass="generic_textBold"/>
					<p:outputLabel value="TIPO EVENTO" styleClass="generic_textBold"/>
					<p:outputLabel value="ID" styleClass="generic_textBold"/>
					<p:outputLabel value="SCADENZA" styleClass="generic_textBold"/>
					<p:outputLabel value="AZIONI" styleClass="generic_textBold"/>
				</p:panelGrid>
			</f:facet>
			<p:panelGrid id="sottoscrizioniPG" columns="6" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-4,ui-grid-col-1,ui-grid-col-2,ui-grid-col-2">
				<h:outputText styleClass="#{notifica.iconaSottoscrizione}" />
			
					
				<h:outputText value="#{notifica.dataEvento}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
				
				<h:outputText value="#{notifica.descrizioneEvento}"/>
					
				<p:commandLink update="@namingcontainer:@namingcontainer," action="#{SottoscrizioniWidgetBean.goToNotifiche}" styleClass="default_link" oncomplete="calculateIframeHeight();">
				  <h:outputText value="#{notifica.numeroDocumento}" title="#{notifica.oggettoDocumento}"/>
				  <f:setPropertyActionListener value="#{notifica.idNotifica}" target="#{SottoscrizioniWidgetBean.idNotificaSelezionata}"/>
				</p:commandLink>
				
				<h:outputText value="#{notifica.dataScadenzaDocumento}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
				
				<p:column id="actionColumn_notifiche" headerText="Azioni" styleClass="buttonsDiv buttonsLayout generic_width8perc">
					<p:commandButton icon="fa fa-bell" actionListener="#{SottoscrizioniWidgetBean.contrassegnaSingolo}"
							 title="Contrassegna come letto" rendered="#{notifica.visualizzato eq 0}"
							 update="sottoscrizioniPG" process="@this" styleClass="generic-widget-button-noBorder" />
					
					<p:commandButton icon="fa fa-bell-o" title="Letto" rendered="#{notifica.visualizzato eq 1}" process="@this" styleClass="generic-widget-button-noBorder"/>
			
					<p:commandButton icon="fa fa-remove" actionListener="#{SottoscrizioniWidgetBean.rimuoviSingolo}" title="Rimuovi" process="@this" styleClass="generic-widget-button-noBorder" update="sottoscrizioniPG"/>
				</p:column>
			</p:panelGrid>
	    </p:dataScroller>
	</div>
	
	<p:outputLabel value="NESSUNA SOTTOSCRIZIONE PRESENTE" rendered="#{empty SottoscrizioniWidgetBean.notificheDTH.masters}"/>

</ui:composition>