<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
>
	<p:outputPanel style="max-height: 200px;overflow-y: auto;margin-top: 10px;"  id="widgetSpedizioniId" >
	   	
	   	<p:outputPanel class="widget-stats bg-pink contatoriWidget ui-g-4" style="margin-left:15px;">
			<span class="stats-icon stats-icon-lg fa fa-send fa-fwCont" />
			
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Da Spedire"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Documenti" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoInSpedizione}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.spedizione}"/>
					</p:commandLink>
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel class="widget-stats bg-gradient-green contatoriWidget ui-g-4" style="margin-left:15px;">
			<span class="stats-icon stats-icon-lg fa fa-send fa-fwCont" />
			
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="Spediti (ultimi 15 gg)"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Documenti" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{SessionBean.gotoInSpedizione}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                   			<h:outputText value="#{SpedizioniWidgetBean.numInSpediti eq null? 0: SpedizioniWidgetBean.numInSpediti}"/>
                   		</p:commandLink>
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel class="widget-stats bg-gradient-yellow contatoriWidget ui-g-4" style="margin-left:15px;">
			<span class="stats-icon stats-icon-lg fa fa-send fa-fwCont" />
			
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="In Attesa di Riconciliazione"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Documenti" />
							
	                   	</p:outputPanel>
	                 <p:commandLink action="#{SessionBean.gotoInSpedizione}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                  		<h:outputText value="#{SpedizioniWidgetBean.numInAttesaDiRiconciliazione eq null? 0 : SpedizioniWidgetBean.numInAttesaDiRiconciliazione}"/>
                   	</p:commandLink>
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel>
		 
		<p:outputPanel class="widget-stats bg-gradient-red contatoriWidget ui-g-4" style="margin-left:15px;">
			<span class="stats-icon stats-icon-lg fa fa-send fa-fwCont" />
			
				<p:outputPanel styleClass="stats-content">
 					<p:outputPanel styleClass="stats-titleCont generic-font-size14 ui-g-12">
						<p:outputLabel value="In Errore"/>
					</p:outputPanel>
							
					<p:panelGrid columns="4" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col5 ui-grid-col1 ui-grid-col5 ui-grid-col1">
						<p:outputPanel styleClass="stats-numberCont generic-font-size14">
							<p:outputLabel value="Documenti" />
							
	                   	</p:outputPanel>
	                   	<p:commandLink action="#{CalendarioBean.goToCodaInSpedizioneDocInErrore}" styleClass="default_linkWidget generic-font-size14" oncomplete="PF('statusDialog').show();">
                  		<h:outputText value="#{SpedizioniWidgetBean.numInErrore eq null? 0: SpedizioniWidgetBean.numInErrore}"/>
                   	</p:commandLink>
                    
				</p:panelGrid>
			</p:outputPanel>
		</p:outputPanel> 
	 </p:outputPanel> 	
</ui:composition>