<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.mbean.component.DestinatariInputComponent" required="true" />
	</cc:interface>
	<cc:implementation>

		<div class="ui-g-12">
			<div class="ui-g-1">
				<p:outputLabel value="Destinatari" styleClass="generic_textBold" />
				<p:outputLabel value="*" class="generic_redStar generic_textBold" />
			</div>
			<div class="ui-g-11  generic_textAlignRight ">
				<p:commandButton id="selezionaDaRubricaId" icon="fa fa-leanpub" oncomplete="PF('wdgCercaPreferitoInoltraMailDest').show();" styleClass="generic-with-auto" ajax="true" action="#{cc.attrs.bean.openRubricaDestinatari(cc.clientId)}" update="wdgPreferitiTableInoltraMailDest_DMD" process="@this" title="Apri Rubrica" />
			</div>
		</div>
		<div class="ui-g-12 generic_padding0">
			<p:dataTable var="d" value="#{cc.attrs.bean.destinatariInModificaPuliti}" rowIndexVar="index" id="idDestinatari_DMD" styleClass="generic_tableWidth100 generic_marginBottom" scrollable="true" paginatorAlwaysVisible="false" emptyMessage="Nessun destinatario." rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom">

				<p:column headerText="Destinatario" styleClass="generic_textAlignCenter">
					<p:outputLabel value="#{d.contatto.aliasContatto}" />
				</p:column>

				<p:column id="tipoDestinatarioCol" headerText="Tipo destinatario" filterable="true" styleClass="generic_textAlignCenter generic_width100px">
					<p:selectOneButton value="#{d.modalitaDestinatarioEnum}" disabled="true">
						<f:selectItems value="#{cc.attrs.bean.comboModalitaDestinatario}" var="t" itemLabel="#{t.label}" />
					</p:selectOneButton>
				</p:column>

				<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width100px">
					<p:commandButton id="infobtnCol" disabled="#{empty d.contatto.aliasContatto}" update="#{cc.clientId}:idWdgDetailDestinatario_DMD" oncomplete="PF('wdgDetailDestinatario').show('#{component.clientId}')" process="@this #{cc.clientId}:idWdgDetailDestinatario_DMD" icon="fa fa-info" title="Dettaglio contatto" action="#{cc.attrs.bean.selectDestinatarioDaVisualizzare(d)}" ajax="true" rendered="#{d ne null}" style="width: 30px;" />
					<p:commandButton icon="fa fa-close" update="@namingcontainer" action="#{cc.attrs.bean.eliminaDestinatario(index)}" ajax="true" rendered="#{d ne null}" style="width: 30px;" />
					
					<p:commandButton icon="fa fa-eraser" update="@namingcontainer" process="@this" action="#{cc.attrs.bean.deleteGruppoDaSingoloContatto(d.contatto)}" ajax="true" rendered="#{d ne null and d.contatto.idGruppoSelected ne null and d.contatto.onTheFly ne 1}" title="Cancella intero gruppo #{d.contatto.nomeGruppoSelected}"/>
					
				</p:column>

			</p:dataTable>
			<p:overlayPanel id="idWdgDetailDestinatario_DMD" widgetVar="wdgDetailDestinatario" dismissable="true" showCloseIcon="false" my="right top" at="right bottom" styleClass="generic_width19 biggerPanel">

				<infopanel:panelInfoMittenteDestinatario contatto="#{cc.attrs.bean.contattoDaVisualizzare.contatto}" bean="#{cc.attrs.bean}" />
				<iframe title="Frame tab destinatari" class="cover" src="about:blank"></iframe>
			</p:overlayPanel>
		</div>

		<p:dialog appendTo="@form" id="wdgPreferitiTableInoltraMailDest_DMD" header="Rubrica" widgetVar="wdgCercaPreferitoInoltraMailDest" position="center" showEffect="fade" hideEffect="fade" resizable="false" closable="true" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCercaPreferitoInoltraMailDest')">
			<p:tabView id="preferitoTabInoltraMailDestV" widgetVar="preferitoTabInoltraMailDestV" styleClass="generic_width1200px">
				<p:tab title="Rubrica Ufficio">
					<p:dataTable value="#{cc.attrs.bean.contattiPreferiti}" var="c" paginatorAlwaysVisible="false" emptyMessage="Nessun contatto preferito" widgetVar="contattiPreferiti_WV" id="contattiPreferitiTbl" rows="5" rowsPerPageTemplate="5,10,15" paginatorTemplate="TOT : #{fn:length(cc.attrs.bean.contattiPreferiti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" paginatorPosition="bottom" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
						<p:column headerText="Azioni" styleClass="textAlignCenter generic_width10">
							<p:commandButton id="menuRubricaDestBtn" type="button" icon="fa fa-ellipsis-v" />
							<p:menu overlay="true" trigger="menuRubricaDestBtn" my="left top" at="left bottom" style="width: 15%;">
								<p:submenu label="Azioni" styleClass="hiddenBackground">
									<p:menuitem icon="fa fa-plus" ajax="true" title="Aggiungi" value="Aggiungi" action="#{cc.attrs.bean.addDestinatarioEsterno(c.contattoID)}" rendered="#{c.tipoRubrica ne 'GRUPPO'}" update="#{cc.clientId}:idDestinatari_DMD"/>
									<p:menuitem icon="fa fa-plus" ajax="true" title="Aggiungi Destinatari" action="#{cc.attrs.bean.addContattiGruppo(c)}" value="Aggiungi Destinatari" disabled="#{c.disabilitaElemento}" process="@this" rendered="#{c.tipoRubrica eq 'GRUPPO'}" update="#{cc.clientId}:idDestinatari_DMD"/>
									<p:menuitem icon="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA'}" disabled="#{(c.tipoPersona eq 'AMM' or c.tipoRubrica ne 'IPA')}" title="Gerarchia OU" value="Mostra alberatura ipa" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.showAlberaturaContattoIPA}" onstart="PF('alberaturaIpaWV').hide();" oncomplete="PF('alberaturaIpaWV').show();" process="@this" update="#{cc.clientId}:preferitoTabInoltraMailDestV:alberaturaIpaID" />
									<p:menuitem value="#{cc.attrs.bean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" icon="fa fa-pencil" ajax="true" actionListener="#{cc.attrs.bean.modificaDestinatario(c)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED'}" process="@this" update="#{cc.clientId}:preferitoTabInoltraMailDestV" />
									<p:menuitem icon="fa fa-eye" id="infoBtnGruppo" title="Ispeziona gruppo" value="Ispeziona gruppo" rendered="#{c.tipoRubrica eq 'GRUPPO'}" actionListener="#{cc.attrs.bean.ricercaContattiNelGruppo(c)}" oncomplete="PF('contattiNelGruppoWV').show();" update="#{cc.clientId}:panelContattiGruppoInoltraMailDest"/>
									<p:menuitem icon="fa fa-trash" ajax="true" title="Elimina" value="Elimina" rendered="#{c.tipoRubrica eq 'RED' and DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" actionListener="#{cc.attrs.bean.eliminaContatto(c,false)}" update="#{cc.clientId}:preferitoTabInoltraMailDestV" />
									<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica eq 'RED' and !DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" oncomplete="PF('dialogRichEliminazioneVW').show()" actionListener="#{cc.attrs.bean.impostaContattoDaEliminare}"/>
								</p:submenu>
							</p:menu>

						</p:column>
						<p:column headerText="Tipo Elemento" styleClass="generic_textAlignCenter" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" width="10%" sortBy="#{c.tipoRubrica}">
							<h:outputText title="GRUPPO" styleClass="fa fa-group" rendered="#{c.tipoRubrica eq 'GRUPPO'}" />
							<h:outputText styleClass="fa fa-user" rendered="#{c.tipoRubrica eq 'RED' or c.tipoRubrica eq 'MEF'}" title="#{c.tipoRubrica eq 'RED' ? 'RED' : 'MEF'}" />
							<h:outputText styleClass="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
							<h:outputText styleClass="fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
							<h:outputText styleClass="fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
						</p:column>

						<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" sortBy="#{c.denominazione}">
							<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} " title=" #{c.denominazione} " />
						</p:column>
						<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
							<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} " title=" #{c.aliasContatto} " />
						</p:column>
						<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mail}">
							<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}" />
						</p:column>
						<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mailPec}">
							<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}" />
						</p:column>
						<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" sortBy="#{c.indirizzo}">
							<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0? c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
						</p:column>
					</p:dataTable>
				</p:tab>

				<p:tab title="Ricerca" >
					<ui:include src="documentManagerDataRicercaContatto.xhtml" />
				</p:tab>
				<p:tab title="Gestione Contatto">
					<ui:include src="documentManagerDataCreaContatto.xhtml" />
				</p:tab>
			</p:tabView>
			<div class="buttonsDiv generic_textAlignRight">
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('wdgCercaPreferitoInoltraMailDest').hide();" action="#{cc.attrs.bean.inizializzaTab}" styleClass="uniqueCloseButton" />
			</div>

		</p:dialog>
		
		<p:panel id="panelContattiGruppoInoltraMailDest">
			<red:dlgRubrica bean="#{InoltraMailDaCodaAttivaBean.destinatariComponent}"/>
		</p:panel>
	</cc:implementation>

</ui:composition>