<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom">

	<p:outputPanel id="idRicercaContattoInoltraMailDest" styleClass="ui-g">
		
 
		<p:outputPanel styleClass="ui-g-12 generic_marginTop15">
			<div class="ui-g-2">
				<p:outputLabel value="Ricerca" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:inputText styleClass="textfield_input" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.queryRicerca}" />
			</div>

			<div class="ui-g-6">
				<p:outputLabel for="ricercaRED" value="Rubrica RED" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRED" styleClass="generic_marginRight" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaRED}">
					<p:ajax update="idRicercaContattoInoltraMailDest" process="ricercaRED" />
					<p:ajax update="idRicercaContattoInoltraMailDest" process="idRicercaContattoInoltraMailDest" />
				</p:selectBooleanCheckbox>
				<p:outputLabel for="ricercaIPA" value="Rubrica IPA" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaIPA" styleClass="generic_marginRight" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaIPA}">
					<p:ajax update="idRicercaContattoInoltraMailDest" process="ricercaIPA" />
					<p:ajax update="idRicercaContattoInoltraMailDest" process="idRicercaContattoInoltraMailDest" />
				</p:selectBooleanCheckbox>

				<p:outputLabel for="ricercaRubricaUfficio" value="Rubrica Ufficio" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRubricaUfficio" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaRubricaUfficio}" styleClass="generic_marginRight">
					<p:ajax update="idRicercaContattoInoltraMailDest" process="ricercaRubricaUfficio" />
					<p:ajax update="idRicercaContattoInoltraMailDest" process="idRicercaContattoInoltraMailDest" />
				</p:selectBooleanCheckbox>
			</div>
		</p:outputPanel>
		<!-- 		SOLO RICERCA RED END -->


		<div class="buttonsDiv generic_textAlignCenter ui-g-12">
			<p:commandButton id="idCerca_DMDRC" icon="fa fa-search" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.cercaContattoRubrica}" value="Cerca" 
				update="idResults_DMDRC, idRicercaContattoInoltraMailDest"  process="idResults_DMDRC, idRicercaContattoInoltraMailDest" disabled="#{not InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaRubricaUfficio and not InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaIPA and
				not InoltraMailDaCodaAttivaBean.destinatariComponent.ricercaRED}"  />
		</div>

		<p:outputPanel id="idResults_DMDRC" styleClass="ui-g-12" rendered="#{!InoltraMailDaCodaAttivaBean.destinatariComponent.hiddenTable}">
			<p:dataTable value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.resultRicercaContatti}" var="c" rowIndexVar="index"  paginatorAlwaysVisible="false" emptyMessage="Nessun contatto preferito" widgetVar="wdgRicRubrica_DMDRC" id="idRicRubrica_DMDRC" rows="5" rowsPerPageTemplate="5,10,15" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.resultRicercaContatti != null}" paginatorTemplate="TOT : #{fn:length(InoltraMailDaCodaAttivaBean.destinatariComponent.resultRicercaContatti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" paginatorPosition="bottom">

				<p:column headerText="Azioni" styleClass="generic_width10 textAlignCenter">
					<p:outputPanel>
						<p:commandButton id="menuRubricaRicBtn" type="button" icon="fa fa-ellipsis-v" />
						<p:menu overlay="true" trigger="menuRubricaRicBtn" my="left top" at="left bottom" style="width: 15%;">
							<p:submenu label="Azioni" styleClass="hiddenBackground">
								<p:separator></p:separator>
								<p:menuitem icon="fa fa-star" rendered="#{c.isPreferito and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.rimuoviPreferito}" title="Rimuovi da rubrica ufficio" value="Rimuovi da rubrica ufficio" process="@this" />
								<p:menuitem icon="fa fa-star-o" rendered="#{(c.isPreferito eq null or !c.isPreferito) and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.aggiungiPreferito}" title="Aggiungi a rubrica ufficio" value="Aggiungi a rubrica ufficio" process="@this" />
								<p:menuitem icon="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA'}" disabled="#{(c.tipoPersona eq 'AMM' or c.tipoRubrica ne 'IPA')}" title="Gerarchia OU" value="Mostra alberatura IPA" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.showAlberaturaContattoIPA}" onstart="PF('alberaturaIpaWV').hide();" oncomplete="PF('alberaturaIpaWV').show();" process="@this" update="#{cc.clientId}:preferitoTabInoltraMailDestV:alberaturaIpaID" />
								<p:menuitem icon="fa fa-plus" ajax="true" title="Aggiungi" value="Aggiungi" rendered="#{c.tipoRubrica ne 'GRUPPO'}" process="@this" action="#{InoltraMailDaCodaAttivaBean.destinatariComponent.addDestinatarioFromRicercaRubrica(index)}" update="#{cc.clientId}:idDestinatari_DMD" />
								<p:menuitem icon="fa fa-plus" ajax="true" title="Aggiungi Contatti Del Gruppo" action="#{InoltraMailDaCodaAttivaBean.destinatariComponent.addContattiGruppo(c)}" value="Aggiungi contatti del gruppo" rendered="#{c.tipoRubrica eq 'GRUPPO'}" process="@this" update="#{cc.clientId}:idDestinatari_DMD" />
								<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.modificaDestinatario(c)}" title="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED'}" update="#{cc.clientId}:preferitoTabInoltraMailDestV" process="@this" />
								<p:menuitem icon="fa fa-trash" ajax="true" action="#{InoltraMailDaCodaAttivaBean.destinatariComponent.eliminaContatto(c,true)}"  value="Elimina" title="Elimina" rendered="#{c.tipoRubrica eq 'RED'}" process="@this" update="#{cc.clientId}:preferitoTabInoltraMailDestV:idResults_DMDRC" />
								<p:menuitem icon="fa fa-trash" title="Richiedi Eliminazione" value="Richiedi Eliminazione" rendered="#{c.tipoRubrica ne 'GRUPPO' and !InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show();" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.impostaContattoDaEliminare}" process="@this" />
							</p:submenu>
						</p:menu>
					</p:outputPanel>

				</p:column>
				<p:column headerText="Tipo Elemento" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" styleClass="generic_textAlignCenter" width="10%" sortBy="#{c.tipoRubrica}">

					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'RED'}" title="RED" />
					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'MEF'}" title="MEF" />
					<h:outputText styleClass="generic_displayBlock fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
					<h:outputText styleClass="generic_displayBlock fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
					<h:outputText styleClass="generic_displayBlock fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
					<h:outputText styleClass="generic_displayBlock fa fa-users" rendered="#{c.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" />
				</p:column>

				<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" styleClass="generic_width20" sortBy="#{c.denominazione}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} " title=" #{c.denominazione} " />
				</p:column>

				<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} " title=" #{c.aliasContatto} " />
				</p:column>
				<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mail}">
					<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}" />
				</p:column>
				<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mailPec}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}" />
				</p:column>
				<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.indirizzo}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
				</p:column>

			</p:dataTable>

		</p:outputPanel>

	</p:outputPanel>

	<p:dialog id="alberaturaIpaID" header="Alberatura IPA" closeOnEscape="true" widgetVar="alberaturaIpaWV" position="center" showEffect="fade" styleClass="dmd-tree-panel" hideEffect="fade" appendTo="@form" resizable="false" closable="true" dynamic="true" modal="false">
		<div class="dmd-tree-panel generic_textAlignLeft">
			<p:tree value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">

				<p:treeNode type="AMM">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>

				<p:treeNode type="AOO">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>

				<p:treeNode type="OU">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>

			</p:tree>
		</div>
	</p:dialog> 


</ui:composition>
