<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	>
	 
	<p:outputPanel id="idCreaContattoInoltraMailDest" >
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Tipo Contatto" styleClass="generic_textBold" />  
			</div>
			<div class="ui-g-4">
				<p:selectOneMenu id="tipoPersona_creaContatto" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.tipoPersona}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
					<f:selectItem itemLabel="Fisica" itemValue="F"  />
					<f:selectItem itemLabel="Giuridica" itemValue="G" />
					<p:ajax update="idCreaContattoInoltraMailDest" async="true"  process="idCreaContattoInoltraMailDest"  />
		        </p:selectOneMenu>
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Titolo" styleClass="generic_textBold"/>  
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.titolo}" styleClass="textfield_input"/>
			</div>
		</div>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Ragione Sociale / Nome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.nome}" styleClass="textfield_input obbligatorio" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Cognome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.tipoPersona eq 'F' or InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.tipoPersona eq null}"/>
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.cognome}" styleClass="#{(InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.tipoPersona eq 'F' or InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }"/>
			</div>
		</div>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Descrizione / Alias" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.aliasContatto}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Indirizzo" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.indirizzo}" styleClass="textfield_input"/>
			</div>
		</div>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="CAP" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.CAP}" styleClass="textfield_input" />
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Provincia" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{InoltraMailDaCodaAttivaBean.destinatariComponent.loadProvince}" var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter" forceSelection="true" id="provinciaInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.onSelectProvincia}" update="idCreaContattoInoltraMailDest"  process="idCreaContattoInoltraMailDest"  />
					<p:ajax event="clear" listener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.onSelectProvincia}" update="idCreaContattoInoltraMailDest"  process="idCreaContattoInoltraMailDest" />
				</p:autoComplete>
			</div>
		</div>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Comune" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete disabled="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.provinciaObj eq null}" value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{InoltraMailDaCodaAttivaBean.destinatariComponent.loadComuni}" var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" forceSelection="true" id="comuneInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.onSelectComune}" update="idCreaContattoInoltraMailDest" process="idCreaContattoInoltraMailDest" />
					<p:ajax event="clear" listener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.onSelectComune}" update="idCreaContattoInoltraMailDest"  process="idCreaContattoInoltraMailDest" />
				</p:autoComplete>
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEO" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.mail}" styleClass="textfield_input"  />
			</div>
		</div>
		
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEC" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.mailPec}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Telefono" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.telefono}" styleClass="textfield_input"  />
			</div>
		</div>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Cellulare" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.cellulare}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2" style="padding-left:0px;">
				<p:outputLabel for="addPreferiti" value="Aggiungi a Rubrica Ufficio" styleClass="generic_textBold generic_formPnl3" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}"/>
			</div>
			<div class="ui-g-4">
				<p:selectBooleanCheckbox id="addPreferiti" label="Aggiungi a Rubrica Ufficio" styleClass="generic_formPnl4"  value="#{InoltraMailDaCodaAttivaBean.destinatariComponent.inserisciContattoItem.isPreferito}" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}"/>						
			</div>
		</div>
	 
		 
		<div class="ui-g-12">
			<div class="ui-g-2">
			</div>
			<div class="ui-g-4">
			</div>
			
		</div>

		<div class="buttonsDiv generic_textAlignCenter">
			<p:commandButton id="aggiungiBtn" icon="fa fa-plus" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.validaEInserisciContatto}" value="Crea" process="idCreaContattoInoltraMailDest" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}" update="#{cc.clientId}:idDestinatari_DMD,#{cc.clientId}:preferitoTabInoltraMailDestV:idCreaContattoInoltraMailDest" />
			<p:commandButton id="richiediAggiungiBtn" icon="fa fa-plus" value="Richiedi Creazione" rendered="#{!InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichCreazioneVW').show()" />
			
			<p:commandButton id="modificaBtn" icon="fa fa-pencil" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.modificaContatto}" rendered="#{InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}" disabled="#{!InoltraMailDaCodaAttivaBean.destinatariComponent.inModifica}" value="Modifica" process="idCreaContattoInoltraMailDest" update="idCreaContattoInoltraMailDest"/>
			<p:commandButton id="richiediModificaBtn" icon="fa fa-pencil" value="Richiedi Modifica" rendered="#{!InoltraMailDaCodaAttivaBean.destinatariComponent.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichModificaWV').show()" disabled="#{!InoltraMailDaCodaAttivaBean.destinatariComponent.inModifica}" />
			
			<p:commandButton id="pulisciBtn" icon="fa fa-eraser" actionListener="#{InoltraMailDaCodaAttivaBean.destinatariComponent.pulisciUtente}" value="Pulisci" process="idCreaContattoInoltraMailDest" update="idCreaContattoInoltraMailDest"/>
		</div> 
	</p:outputPanel>
	
	
	
</ui:composition>
