<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<cc:interface>
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.IDsrPresentazioneBean" required="true"/>
	<cc:attribute name="idFascicolo" type="java.lang.String" required="false" dafault="''"/>
</cc:interface>
<cc:implementation>

	<!-- MITTENTE START -->
	<p:outputPanel styleClass="ui-g generic_centra generic_padding0 generic_margin0" rendered="#{cc.attrs.bean.canRegisterMittente}">
		<div class="ui-g-12">
			<p:outputLabel for="idMittenteAuto_DSR" value="Mittente" styleClass="generic_textBold"/>
			<p:outputLabel for="idMittenteAuto_DSR" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-12">
			<p:outputPanel class="ui-inputgroup obbligatorio ui-fluid">
				<p:inputText id="idMittenteAuto_DSR" value="#{cc.attrs.bean.detail.mittenteContatto.aliasContatto}" styleClass="cbDisabled" disabled="true" />
				<p:commandButton id="infobtnMittente_Pres_DMD" disabled="#{empty cc.attrs.bean.detail.mittenteContatto.contattoID}" update="@form:infobtnMittenteOvrly_Pres_DMD" 
					icon="fa fa-info" title="Dettaglio contatto" type="button" styleClass="infobtn-maxwidth">
				</p:commandButton>
			</p:outputPanel>
		</div>
	</p:outputPanel>
	<!-- MITTENTE END -->
	<!-- OGGETTO START -->
	<div class="ui-g generic_width100" >
		<div class="ui-g-12">
			<p:outputLabel for="oggetto_DSR" value="Oggetto" styleClass="generic_textBold"/>
			<p:outputLabel for="oggetto_DSR" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-12 generic_padding0 generic_margin0 obbligatorio generic_width100" >
			<p:inputTextarea rows="6" id="oggetto_DSR" styleClass="generic_input99 campoObbligatorio" value="#{cc.attrs.bean.detail.oggetto}" readonly="#{!cc.attrs.bean.canRegisterOggetto}">
				<p:ajax event="change" listener="#{cc.attrs.bean.onChangeOggetto}" update="#{cc.attrs.idFascicolo}" async="true"/>
			</p:inputTextarea>
		</div>
	</div>
	<!-- OGGETTO END -->
	
	<p:overlayPanel id="infobtnMittenteOvrly_Pres_DMD" for="infobtnMittente_Pres_DMD" howEffect="fade" hideEffect="fade" dismissable="true" showCloseIcon="false"
					my="right top" at="right bottom" styleClass="generic_width21">
					
					<p:panel  styleClass="ui-g" >
						<p:outputPanel styleClass="ui-g-12 generic_padding0">
							<div class="ui-g-5">
								<p:outputLabel for="aliasInfo_MITT" value="Descrizione/Alias " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="aliasInfo_MITT" value="#{cc.attrs.bean.detail.mittenteContatto.aliasContatto}" />
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.nome or not empty cc.attrs.bean.detail.mittenteContatto.cognome}">
							<div class="ui-g-5">
								<p:outputLabel for="nomeInfo_MITT" value="Nome e cognome " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="nomeInfo_MITT" styleClass="generic_displayBlock" value="#{cc.attrs.bean.detail.mittenteContatto.nome} #{cc.attrs.bean.detail.mittenteContatto.cognome} "/>
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.mail}">	
							<div class="ui-g-5">
								<p:outputLabel for="mailInfo_MITT" value="Mail " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="mailInfo_MITT" styleClass="generic_displayBlock"  value="#{cc.attrs.bean.detail.mittenteContatto.mail}"/>
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.mailPec}">
							<div class="ui-g-5">
								<p:outputLabel for="mailPECInfo_MITT" value="Mail PEC " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="mailPECInfo_MITT" styleClass="generic_displayBlock"  value="#{cc.attrs.bean.detail.mittenteContatto.mailPec}"/>
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.tipoPersona}">						
							<div class="ui-g-5">
								<p:outputLabel for="tipoPersonaInfo_MITT" value="Tipo " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="tipoPersonaInfo_MITT" styleClass="generic_displayBlock"  value="#{cc.attrs.bean.detail.mittenteContatto.tipoPersona}"/>
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.indirizzo}">
							<div class="ui-g-5">
								<p:outputLabel for="indirizzoInfo_MITT" value="Indirizzo " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="indirizzoInfo_MITT" styleClass="generic_displayBlock" value="#{cc.attrs.bean.detail.mittenteContatto.indirizzo}" />
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.CAP}">	
							<div class="ui-g-5">
								<p:outputLabel for="capInfo_MITT" value="CAP " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="capInfo_MITT" value=" #{cc.attrs.bean.detail.mittenteContatto.CAP}" />
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.cellulare}">
							<div class="ui-g-5">
								<p:outputLabel for="cellulareInfo_MITT" value="Cellulare " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="cellulareInfo_MITT" styleClass="generic_displayBlock" value="#{cc.attrs.bean.detail.mittenteContatto.cellulare}" />
							</div>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty cc.attrs.bean.detail.mittenteContatto.fax}">
							<div class="ui-g-5">
								<p:outputLabel for="faxInfo_MITT" value="Fax " styleClass="generic_textBold" />
							</div>
							<div class="ui-g-7">
								<h:outputText id="faxInfo_MITT" value=" #{cc.attrs.bean.detail.mittenteContatto.fax} " />
							</div>
						</p:outputPanel>
						
					</p:panel>
					<iframe class="cover" src="about:blank" title="Frame protocolla DSR"></iframe>
				</p:overlayPanel>
		
</cc:implementation>

</ui:composition>
