<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<cc:interface >
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.DsrDataTabGeneraleBean"  required="true"/>
</cc:interface>
<cc:implementation >

	<p:outputPanel class="ui-g" id="idTabGeneralContent_DSR" >	
	
	<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0">
	<!-- DOCUMENTO PRINCIPALE START-->
		<p:outputPanel styleClass="ui-g-2" >
			<p:outputLabel  value="Documento principale" styleClass="generic_textBold"/>
			<p:outputLabel  value="*" styleClass="generic_redStar generic_textBold" />
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g-4 ui-fluid" id="idDocPrincipalePanel_DSR" >
			<div class="ui-inputgroup obbligatorio">
				<p:inputText rendered="#{cc.attrs.bean.detail.nomeFile != null}" update="#{cc.clientId}:idDocPrincipalePanel_DSR"	value="#{cc.attrs.bean.detail.nomeFile}" readonly="true" styleClass="textfield_input obbligatorio-readonly"/>
				<p:fileUpload id="idDocumentoPrincipale"
					fileUploadListener="#{cc.attrs.bean.uploadDocumento.handleMainFileUpload}"
					value="#{cc.attrs.bean.uploadDocumento.docPrincipale}"
					auto="true" label="Sfoglia"
					onstart="PF('statusDialog').show();"
					oncomplete="PF('statusDialog').hide();"
					mode="advanced" skinSimple="true"
					dragDropSupport="false"
					styleClass="dmd-fileUploadNew"
					update="#{cc.clientId}:idDocPrincipalePanel_DSR"/>
			</div>
		</p:outputPanel>
		<!-- DOCUMENTO PRINCIPALE END-->
		
		<!-- ASSEGNAZIONE ORGANIGRAMMA -->
		<p:outputPanel class="ui-g-6 generic_padding0 generic_margin0" >
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idAssegnatarioPerComp_DSR" value="Assegnatario per competenza" styleClass="generic_textBold"/>
				<p:outputLabel for="idAssegnatarioPerComp_DSR" value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-8 ui-fluid">
				<p:inputText id="idAssegnatarioPerComp_DSR" styleClass="obbligatorio-readonly" value="#{cc.attrs.bean.descrAssegnatarioPerCompetenza}" readonly="true" />
			</p:outputPanel>
		</p:outputPanel>
		<!-- ASSEGNAZIONE ORGANIGRAMMA END -->
	</p:outputPanel>
	
<!-- INDICE DI CLASSIFICAZIONE - NOME FASCICOLO START -->
	<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0" id="idIndiceClassificazionePanel_DSR">
		<!-- INDICE DI CLASSIFICAZIONE -->
		<p:outputPanel class="ui-g-2">
			<p:outputLabel for="idTitolario_DSR" value="Indice di classificazione" styleClass="generic_textBold" />
			<p:outputLabel for="idTitolario_DSR" value="*" class="generic_redStar generic_textBold"  />
		</p:outputPanel>
		<p:outputPanel class="ui-g-4 obbligatorio ui-fluid" >			
			<p:inputText id="idTitolario_DSR" value="#{cc.attrs.bean.indiceDiClassificazione.descrizioneTitolario}" styleClass="obbligatorio-readonly" readonly="true" />
		</p:outputPanel>
<!-- END  INDICE DI CLASSIFICAZIONE -->	
		
<!-- NOME FASCICOLO -->		
		<p:outputPanel class="ui-g-6 generic_margin0 generic_padding0 dmd-paddingRight05em" id="idfasicoloInfo_DSR">
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idFascicolo_DSR" value="Nome del fascicolo" styleClass="generic_textBold"/>
				<p:outputLabel for="idFascicolo_DSR" value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>
			<p:outputPanel class="ui-g-8">
				<div class="ui-inputgroup obbligatorio ui-fluid">
					<p:outputLabel for="idFascicolo_DSR" value="#{cc.attrs.bean.nomefascicolo.detail.prefixFascicoloProcedimentale}" styleClass="ui-inputgroup-addon fascicolo-prefisso" />
					<p:inputText id="idFascicolo_DSR" value="#{cc.attrs.bean.nomefascicolo.detail.descrizioneFascicoloProcedimentale}" title="#{cc.attrs.bean.nomefascicolo.detail.descrizioneFascicoloProcedimentale}" />
				</div>	 
			</p:outputPanel>
			<!-- DIALOG RICERCA FASCICOLO PROCEDIMENTALE END			 -->

		</p:outputPanel>
<!-- NOME FASCICOLO END -->		
		
		
	</p:outputPanel>
		
</p:outputPanel>
		
</cc:implementation>

</ui:composition>
