<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	> 
	
<p:importEnum type="it.ibm.red.business.enums.FormatoAllegatoEnum" var="FormatoAllegatoEnum" allSuffix="ALL_ENUM_VALUES" />
	
<cc:interface >
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.ITabAllegatiBean"  required="true"/>
</cc:interface>
<cc:implementation>
	<p:outputPanel styleClass="generic_textAlignRight generic_marginBottom generic_marginTop5">
		<p:commandButton icon="fa fa-plus" ajax="true" value="Aggiungi allegato" rendered="#{cc.attrs.bean.documentManagerDTO.inModificaIngresso and
	  		cc.attrs.bean.documentManagerDTO.allegatiModificabili}"	action="#{cc.attrs.bean.addAllegato}" update="#{cc.clientId}:idTableAllegati_DSR" />
	</p:outputPanel>
	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel id="idTabAllegati_DSR" styleClass="generic_centra">
		
		<p:dataTable var="al" value="#{cc.attrs.bean.allegati}" rowIndexVar="index"
			id="idTableAllegati_DSR" 
			paginatorAlwaysVisible="false" emptyMessage="Nessun allegato presente"
			scrollable="true"  paginator="false" paginatorPosition="bottom"
			>
			<p:column headerText="Allegato" style="width: 90%">
				<h3 class="generic_marginTop0" >Allegato  n°#{index +1 }</h3>
				<div class="ui-g dmd-allegato-td" >
					<div class="ui-g-2">
						<p:outputLabel for="formatoDigitaleDoc_DSR" value="Formato allegato" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<!--  p:inputText id="formatoDigitaleDoc_DSR" value="#{al.formatoSelected}" styleClass="textfield_input" disabled="true" / -->
						<p:selectOneMenu id="formatoDigitaleDoc_DSR" value="#{al.formatoSelected}" styleClass="" disabled="#{al.inModifica or !(cc.attrs.bean.documentManagerDTO.inModificaIngresso and
	  		cc.attrs.bean.documentManagerDTO.allegatiModificabili)}" > 
							<p:ajax update="@this, idTableAllegati_DSR" listener="#{cc.attrs.bean.onChangeComboFormatoAllegato(index)}" />
							<f:selectItems value="#{cc.attrs.bean.documentManagerDTO.comboFormatiAllegato}"
								var="f" itemValue="#{f.formatoAllegato}" itemLabel="#{fn:substring(f.descrizione, 0,30)}#{fn:length(f.descrizione) gt 30? '...':''}" />
						</p:selectOneMenu>
						
					</div>
					<div class="ui-g-2">
						<p:outputLabel for="tipologiaDocumento_DSR" value="Tipologia documento" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:selectOneMenu  id="tipologiaDocumento_DSR" value="#{al.idTipologiaDocumento}" styleClass="" disabled="#{!(cc.attrs.bean.documentManagerDTO.inModificaIngresso and
	  		cc.attrs.bean.documentManagerDTO.allegatiModificabili)}">
							<f:selectItems value="#{cc.attrs.bean.documentManagerDTO.comboTipologiaDocumento}"
								var="td" itemValue="#{td.idTipologiaDocumento}" itemLabel="#{fn:substring(td.descrizione, 0,30)}#{fn:length(td.descrizione) gt 30? '...':''}" />
						</p:selectOneMenu>
						
						
					</div>
					
					<div class="ui-g-2">
						<p:outputLabel for="oggettoDoc_DSR" value="Oggetto" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:inputText id="oggettoDoc_DSR" value="#{al.oggetto}" styleClass=""  disabled="#{!(cc.attrs.bean.documentManagerDTO.inModificaIngresso and
	  		cc.attrs.bean.documentManagerDTO.allegatiModificabili)}"> 
							<p:ajax update="@this, idTableAllegati_DSR" />
						</p:inputText>
					</div>
					
					<!-- 						UPLOAD FILE START -->
					<p:outputPanel styleClass="ui-g-2" rendered="#{al.uploadFileVisible}">
						<p:outputLabel value="Caricamento file" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-4 ui-fluid" rendered="#{al.uploadFileVisible}">
						<p:fileUpload 
							fileUploadListener="#{cc.attrs.bean.handleFileUploadAllegato}"
							auto="true"
							label="Sfoglia"
							mode="advanced" skinSimple="true"
							dragDropSupport="false"
							styleClass="dmd-fileUpload"
							rendered="#{al.nomeFile == null}"
							update="idTableAllegati_DSR,idDettagliEstesiForm:idDimensioneContent"
							>
							<f:attribute name="index" value="#{index}" />
						</p:fileUpload>
						<p:outputPanel styleClass="ui-inputgroup " rendered="#{al.nomeFile != null}">
<!-- 								<p:outputLabel rendered=" # {al.nomeFile != null}" -->
<!-- 									update="idTableAllegati_DSR"  -->
<!-- 									value=" # {  al.nomeFile}" /> -->
							<p:inputText readonly="true" update="idTableAllegati_DSR" value="#{al.nomeFile}" styleClass="obbligatorio-readonly"/>
							<p:commandButton action="#{cc.attrs.bean.rimuoviFileAllegato(index)}" icon="fa fa-close"
								rendered="#{al.nomeFile != null}" styleClass="dmd-distance" disabled="#{al.inModifica}"
								ajax="true" title="Rimuovi il documento" update="idTableAllegati_DSR" />
						</p:outputPanel>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-2" rendered="#{al.uploadFileVisible == false and al.nomeFile != null}">
						<p:outputLabel value="Nome file" styleClass="generic_textBold"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-4" rendered="#{al.uploadFileVisible == false and al.nomeFile != null}">
						<p:inputText value="#{al.nomeFile}" readonly="true" styleClass="generic_width97 obbligatorio-readonly" />
					</p:outputPanel>
<!-- 						UPLOAD FILE END -->
					
				</div>
			</p:column>
			
			<p:column headerText="Azioni" styleClass="generic_textAlignCenter " >
				<div class="ui-g">
					<div class="ui-g-6">
						<p:commandButton icon="fa fa-download" title="Download #{al.nomeFile}" ajax="false"
						disabled="#{SessionBean.utente.gestioneApplicativa or al.newAllegato or al.formatoSelected == FormatoAllegatoEnum.NON_SPECIFICATO or al.formatoSelected == FormatoAllegatoEnum.CARTACEO }">
							<p:fileDownload value="#{cc.attrs.bean.downloadAllegato(index)}" />
						</p:commandButton>
					</div>
					<div class="ui-g-6">
						<p:commandButton icon="fa fa-remove" update="idTableAllegati_DSR" title="Rimuovi" rendered="#{cc.attrs.bean.documentManagerDTO.inModificaIngresso and
	  		cc.attrs.bean.documentManagerDTO.allegatiModificabili}"  action="#{cc.attrs.bean.rimuoviAllegato(index)}" ajax="true" />
					</div>
				</div>
			</p:column>

		</p:dataTable>
	
	</p:outputPanel>
	
</cc:implementation>
</ui:composition>
