<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	
<cc:interface >
	<cc:attribute name="bean" type="it.ibm.red.web.document.mbean.interfaces.ITabFascicoliBean"  required="true"/>
</cc:interface>
<cc:implementation >

	<p:outputPanel styleClass="ui-g generic_centra" id="idTabFascicoliPanel_#{cc.clientId}" >

		<div class="ui-g-12">
			<p:dataTable id="idTabFascicoliTable_#{cc.clientId}" var="fas" value="#{cc.attrs.bean.fascicoli}" emptyMessage="Fascicolo non presente"
						 paginatorAlwaysVisible="false" rowIndexVar="index">
			    <p:column headerText="Nome"  styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.idFascicolo}"  />
			    </p:column>

			    <p:column headerText="Anno"  styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.anno}"  />
			    </p:column>
			    
			    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.oggetto}"  />
			    </p:column>
			    
			    <p:column headerText="Indice di classificazione"  styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.indiceClassificazione}"  />
			    </p:column>
			</p:dataTable>
		</div>
	
	</p:outputPanel>
		
</cc:implementation>

</ui:composition>
