<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>



Nome: #{lavoratore.nome}

<br></br>
<br></br>

Cognome: #{lavoratore.cognome}

<br></br>
<br></br>
Email: #{lavoratore.email}

<br></br>
<br></br>

Codice Fiscale:  #{lavoratore.codiceFiscale}



</h:body>
</html>
