<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	
	<h:head>
	
	<style>
	.error{
		margin-left:10px;
		text-align:center;
		color:red;	
		  }
	</style>
	</h:head>

<h:form style="margin-bottom:30px;">


Nome: <h:inputText id="inputName" value="#{lavoratore.nome}"
		pt:placeholder="Insert your name here" label="Nome" required="true" requiredMessage="A bellooo devi inserire il tuo nome!"></h:inputText>
	 <h:message styleClass="error" for="inputName"></h:message>
	<br></br>
	<br></br>
	

Cognome: <h:inputText id="inputCognome" value="#{lavoratore.cognome}"
		pt:placeholder="Insert your surname here" label="Cognome" required="true" requiredMessage="Inserisci il tuo cognome. Questo campo è obbligatorio">></h:inputText>
 <h:message for="inputCognome" styleClass="error"></h:message>
	<br></br>
	<br></br>
Email: <h:inputText id="inputEmail" value="#{lavoratore.email}"
		pt:placeholder="Insert your email here"></h:inputText>

	<br></br>
	<br></br>
	
	
Indice di Gradimento del sito (da 0 a 10): 
<h:inputText id="inputIndiceGradimento" value="#{lavoratore.indiceDiGradimento}"
		pt:placeholder="Insert your rate here" label="Error!!">
		<f:validateLongRange minimum="0" maximum="10"></f:validateLongRange>
		</h:inputText>
		<h:message styleClass="error" for="inputIndiceGradimento"></h:message>


    <br></br>
	<br></br>
Codice Fiscale: <h:inputText id="inputCodiceFiscale" value="#{lavoratore.codiceFiscale}"
		pt:placeholder="Insert your tax code here" label="Error!">
	<f:validateLength minimum="16" maximum="16"></f:validateLength>
	</h:inputText>
	<h:message styleClass="error" for="inputCodiceFiscale"></h:message>
	<br></br>
	<br></br>

Data di nascita: <h:inputText id="inputDataNascita" value="#{lavoratore.birthDate}"
		pt:placeholder="Insert your birth date here" label="Error!" validatorMessage="BE CAREFUL!! THAT'S NOT A VALID DATE FORMAT.
		VALID DATE FORMATS ARE:
		1. GG-MM-AAAA
		2. GG/MM/AAAA
		3. G/M/AAAA">
	<f:validateRegex pattern="^([0]?[1-9]|[1|2][0-9]|[3][0|1])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$"></f:validateRegex> 
	</h:inputText>

	
	<br></br>
	<br></br>

<h:commandButton value="submit" action="index-response"></h:commandButton>
</h:form>




<h:message styleClass="error" style="text-align:center; margin-top:35px;" for="inputDataNascita"></h:message>


</html>
