<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank menuWidthSize" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" role="presentation">

		<p:panel styleClass="menuGridPanel">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/desk.png" title="Attività"/>
				<h:outputText value="Scrivania" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}" styleClass="noBorderGrid">
					<span class="fa fa-pencil-square-o"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}" styleClass="noBorderGrid">
			 	   <p:commandLink value="Libro Firma" styleClass="menuGridLink" action="#{SessionBean.gotoLibroFirma}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<span class="fa fa-suitcase"/>
			    <p:commandLink value="Da Lavorare" styleClass="menuGridLink" action="#{SessionBean.gotoDaLavorare}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-hourglass-half"/>
			    <p:commandLink value="Sospeso" styleClass="menuGridLink" action="#{SessionBean.gotoInSospeso}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-legal"/>
			    <p:commandLink value="Stornati" styleClass="menuGridLink" action="#{SessionBean.gotoStornati}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-tasks"/>
			    <p:commandLink value="Procedimenti Attivi" styleClass="menuGridLink" action="#{SessionBean.gotoProcedimentiAttivi}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<p:panel rendered="false" styleClass="noBorderGrid">
				<span class="fa fa-envelope-o"/>
				</p:panel>
				<p:panel rendered="false" styleClass="noBorderGrid"> <!-- atterrare su la prima casella disponibile cartella inbox -->
			    <p:commandLink value="Mail" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoMail}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel"  rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUUFFICIO)}">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/corriere.png" title="Ufficio"/>
				<h:outputText value="Ufficio" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE)}" styleClass="noBorderGrid">
					<span class="fa fa-truck"/>
			    </p:panel>
			   	<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE)}" styleClass="noBorderGrid">
			   	    <p:commandLink value="Corriere" styleClass="menuGridLink" action="#{SessionBean.gotoCorriere}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ASSEGNATE)}" styleClass="noBorderGrid">
					<span class="fa fa-user"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ASSEGNATE)}" styleClass="noBorderGrid">
			  	  <p:commandLink value="Assegnate" styleClass="menuGridLink" action="#{SessionBean.gotoAssegnate}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CHIUSE)}" styleClass="noBorderGrid">
					<span class="fa fa-close"/>
			    </p:panel>
			    <p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CHIUSE)}" styleClass="noBorderGrid">
			  	  <p:commandLink value="Chiuse" styleClass="menuGridLink" action="#{SessionBean.gotoChiuse}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.GIROVISTI)}" styleClass="noBorderGrid">
					<span class="fa fa-spinner"/>
			  	</p:panel>
			  	<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.GIROVISTI)}" styleClass="noBorderGrid">
			  	  <p:commandLink value="Giro Visti" styleClass="menuGridLink" action="#{SessionBean.gotoGiroVisti}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.SPEDIZIONE)}" styleClass="noBorderGrid">
					<span class="fa fa-road"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.SPEDIZIONE)}" styleClass="noBorderGrid">
			    	<p:commandLink value="Spedizione" styleClass="menuGridLink" action="#{SessionBean.gotoInSpedizione}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel" rendered="false">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/paper.png" title="Cartacei"/>
				<h:outputText value="Cartacei" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<span class="fa fa-copy"/>
			    <p:commandLink value="Acquisizione" disabled="true" styleClass="menuGridLink" action="#{SessionBean.gotoInAcquisizione}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-inbox"/>
			    <p:commandLink value="Acquisiti" disabled="true" styleClass="menuGridLink" action="#{SessionBean.gotoAcquisiti}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-trash"/>
			    <p:commandLink value="Eliminati" disabled="true" styleClass="menuGridLink" action="#{SessionBean.gotoEliminati}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-desktop"/>
			    <p:commandLink value="Precensiti" disabled="true" styleClass="menuGridLink" action="#{SessionBean.gotoPrecensiti}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/storage.png" title="Archivio"/>
				<h:outputText value="Archivio" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<span class="fa fa-archive"/>
			    <p:commandLink value="Atti" styleClass="menuGridLink" action="#{SessionBean.gotoAtti}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-mail-forward"/>
			    <p:commandLink value="Risposta" styleClass="menuGridLink" action="#{SessionBean.gotoRisposta}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MOZIONE)}" styleClass="noBorderGrid">
					<span class="fa fa-bank"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MOZIONE)}" styleClass="noBorderGrid">
			    	<p:commandLink value="Mozione" styleClass="menuGridLink" action="#{SessionBean.gotoMozione}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
<!-- 				<span class="fa fa-folder-open-o"/> -->
<!-- 			    < p : commandLink value="Faldoni" disabled="false" styleClass="menuGridLink" action=" # { SessionBean.gotoFaldoni}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/> -->
				<span class="fa fa-barcode"/>
			    <p:commandLink value="Classificazione Fascicoli" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoFascicoli}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panelGrid>
		</p:panel>
		
		<p:panel styleClass="menuGridPanel" rendered="#{not SessionBean.utente.gestioneApplicativa and SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUCREAZIONE)}">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/protocollo.png" title="Creazione"/>
				<h:outputText value="Creazione" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCINGRESSO)}" styleClass="noBorderGrid">
					<span class="fa fa-hand-o-right"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCINGRESSO)}" styleClass="noBorderGrid">
			  	   <p:commandLink value="Doc Ingresso" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoCreazioneDocIngresso}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUSCITA)}" styleClass="noBorderGrid">
					<span class="fa fa-hand-o-left"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUSCITA)}" styleClass="noBorderGrid">
			    	<p:commandLink value="Doc Uscita" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoCreazioneDocUscita}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
			</p:panelGrid>
		</p:panel>		

		<p:panel styleClass="menuGridPanel">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/search.png" title="Ricerca"/>
				<h:outputText value="Ricerca" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
			
				<span class="fa fa-file-text-o"/>
			    <p:commandLink value="Avanzata" disabled="false" styleClass="menuGridLink" onclick="PF('quickMenu').hide();PF('wdgRicercaManager_DRM').show();"/>
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENURUBRICA)}">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/rubrica.png" title="Rubrica"/>
				<h:outputText value="Rubrica" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<span class="fa fa-users"/>
			    <p:commandLink disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoRubrica}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();">
			    	<h:outputText value="Rubrica" />
			    	<h:outputText value="#{NotificheBean.countRubrica}" rendered="#{NotificheBean.countRubrica gt 0}" styleClass="notify-number" />
			    </p:commandLink>
			<!-- 	<span class="fa fa-th-large"/>
			    <p:commandLink value="Ricerca" disabled="true" styleClass="menuGridLink"  onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-star-o"/>
			    <p:commandLink value="Inserisci" disabled="true" styleClass="menuGridLink"  onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/> -->
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/event.png" title="Eventi"/>
				<h:outputText value="Eventi" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<span class="fa fa-calendar"/>
				<p:commandLink value="Calendario" styleClass="menuGridLink" action="#{SessionBean.gotoCalendario}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				<span class="fa fa-bullseye"/>
				<p:commandLink disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoSottoscrizioni}"  onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();" >
					<h:outputText value="Sottoscrizioni" />
			    	<h:outputText value="#{NotificheBean.countSottoscrizioni}" rendered="#{NotificheBean.countSottoscrizioni gt 0}" styleClass="notify-number" />
				</p:commandLink>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.REPORT)}" styleClass="noBorderGrid">
					<span class="fa fa-bar-chart"/>
				</p:panel>
		  		<p:commandLink value="Report" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoReport}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"
					rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.REPORT)}"/>
			</p:panelGrid>
		</p:panel>		

		<p:panel styleClass="menuGridPanel" rendered="false">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/todo.png" title="Utility"/>
				<h:outputText value="Consulta" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ORGANIGRAMMA)}" styleClass="noBorderGrid">
					<span class="fa fa-sitemap"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ORGANIGRAMMA)}" styleClass="noBorderGrid">
					<p:commandLink value="Organigramma" disabled="true" styleClass="menuGridLink" action="#{SessionBean.gotoOrganigramma}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
				</p:panel>
				<span class="fa fa-barcode"/>
			    <p:commandLink value="Classificazione Fascicoli" disabled="false" styleClass="menuGridLink" action="#{SessionBean.gotoFascicoli}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panelGrid>
		</p:panel>
		
		<p:panel styleClass="menuGridPanel">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/user.png" title="Utenti"/>
				<h:outputText value="Utente" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CAMBIOUFFICIO)}" styleClass="noBorderGrid">
				<span class="fa fa-exchange"/>
				</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CAMBIOUFFICIO)}" styleClass="noBorderGrid">
			    <p:commandLink value="Ufficio" styleClass="menuGridLink" onclick="PF('quickMenu').hide();PF('dlgCambioUfficio').show(); return false;" />
			</p:panel>
				<span class="fa fa-gears"/>
			    <p:commandLink value="Personalizza" styleClass="menuGridLink" onclick="PF('quickMenu').hide();PF('dlgPersonalizza').show(); return false;" />
				<span class="fa fa-question-circle-o"/>
			    <p:commandLink value="Help online" styleClass="menuGridLink" onclick="PF('quickMenu').hide();PF('bar').show(); return false;"/>
				<span class="fa fa-sign-out"/>
			    <p:commandLink value="Logout" styleClass="menuGridLink" action="#{SessionBean.logout()}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panelGrid>
		</p:panel>
				
		<p:panel styleClass="menuGridPanel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUFEPA)}">
			<p:panelGrid columns="2" role="presentation" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/fattura.png" title="Fepa"/>
				<h:outputText value="Fepa" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="followGridSize">
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" styleClass="noBorderGrid">
				<span class="fa fa fa-suitcase"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" styleClass="noBorderGrid">
			    <p:commandLink value="Fatture - Da Lavorare" styleClass="menuGridLink" action="#{SessionBean.gotoFattureDaLavorare}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" styleClass="noBorderGrid">
				<span class="fa fa-file-o"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" styleClass="noBorderGrid">
			    <p:commandLink value="Fatture - In Lavorazione" styleClass="menuGridLink" action="#{SessionBean.gotoFattureInLavorazione}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI)}" styleClass="noBorderGrid">
				<span class="fa fa-suitcase"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI)}" styleClass="noBorderGrid">
			    <p:commandLink value="DD - Da Lavorare"  styleClass="menuGridLink" action="#{SessionBean.gotoDecretiDaLavorare}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI)}" styleClass="noBorderGrid">
				<span class="fa fa-pencil-square-o"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI)}" styleClass="noBorderGrid">
			    <p:commandLink value="DD - In Firma"  styleClass="menuGridLink" action="#{SessionBean.gotoDecretiInFirma}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE)}" styleClass="noBorderGrid">
				<span class="fa fa-pencil-square-o"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE)}" styleClass="noBorderGrid">
			    <p:commandLink value="DD - Da Firmare"  styleClass="menuGridLink" action="#{SessionBean.gotoDecretiDaFirmare}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) or SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE)}" styleClass="noBorderGrid">
				<span class="fa fa-check-square-o"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) or SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE)}" styleClass="noBorderGrid">
			    <p:commandLink value="DD - Firmati"  styleClass="menuGridLink" action="#{SessionBean.gotoDecretiFirmati}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DSR)}" styleClass="noBorderGrid">
				<span class="fa fa-list-ul"/>
			</p:panel>
			<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DSR)}" styleClass="noBorderGrid">
			    <p:commandLink value="DSR"  styleClass="menuGridLink" action="#{SessionBean.gotoDSR}" onclick="PF('quickMenu').hide();PF('statusDialog').show();" oncomplete="PF('statusDialog').show();"/>
			</p:panel>	
			</p:panelGrid>
		</p:panel>

		<p:panel styleClass="menuGridPanel" rendered="false">
			<p:commandLink styleClass="generic_floatRight generic_positionRelative" >
				<span class="fa fa-refresh"/>
			</p:commandLink>
			<p:panelGrid columns="3" role="presentation" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2">
				<p:graphicImage styleClass="menuGridImage" value="/resources/images/dashboard_black.png" title="Dashboard"/>
				<h:outputText value="Dashboard" styleClass="menuGridTitle"/>
			</p:panelGrid>
			<p:panelGrid columns="2" role="presentation" styleClass="subPanelDashboard">
				<p:outputLabel value="Da Lavorare"/>
				<p:panel styleClass="generic_textAlignRight generic_no_background no-bk-color" >
					<p:outputLabel value="331"/>
				</p:panel>
				<p:outputLabel value="In Sospeso"/>
				<p:panel  styleClass="generic_textAlignRight generic_no_background no-bk-color" >
					<p:outputLabel value="331"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}" styleClass="noBorderGrid">
					<p:outputLabel value="Libro Firma"/>
				</p:panel>
				<p:panel styleClass="generic_textAlignRight generic_no_background no-bk-color"  rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}">
					<p:outputLabel value="331"/>
				</p:panel>
				<p:panel rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE)}" styleClass="noBorderGrid">
					<p:outputLabel value="Corriere"/>
				</p:panel>
				<p:panel styleClass="generic_textAlignRight generic_no_background no-bk-color"  rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE)}">
					<p:outputLabel value="331"/>
				</p:panel>
				<p:outputLabel value="Stornati"/>
				<p:panel styleClass="generic_textAlignRight generic_no_background no-bk-color" >
					<p:outputLabel value="331"/>
				</p:panel>				
			</p:panelGrid>

		</p:panel>

	</p:panelGrid>

</ui:composition>