<ui:composition template="/views/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="dContent">
		
		<div id="centralSection" class="centralSection generic_width100Imp generic_displayBlock">
			<a href="#westSection"/>
			<div class="cenCont">
   				<h:form id="centralSectionForm" enctype="multipart/form-data">
					<ui:insert name="centralSectionContent"/>
				</h:form>
			</div>
		</div>
	
	</ui:define>
	
</ui:composition>
