<ui:composition template="/views/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="dContent">
		<!-- 
		<div id="westSection" class="westSection generic_nowidth hide">
			<a href="#centralSection"/>
			
		</div>
		-->
		<div id="centralSection" class="centralSection generic_input60Templ generic_displayBlock" >
			<a href="#westSection"/>
			<div class="cenCont">
   				<h:form id="centralSectionForm" enctype="multipart/form-data">
					<ui:insert name="centralSectionContent"/>
				</h:form>
			</div>
		</div>
		<div id="eastSection" class="eastSection generic_input40Templ generic_displayBlock">
			<p:commandButton id="closeZoom" styleClass="eastSectionButton hideCloseZoom" icon="fa fa-arrows-alt" title="Modifica dimensione sezione destra" onclick="toogleZoomedForm();g_resize_all();" global="false"/>
			<h:form id="eastSectionForm" styleClass="eastSectionForm" enctype="multipart/form-data">
				<p:outputPanel id="divEastSectionContent">
					<ui:insert name="eastSectionContent"/>
				</p:outputPanel>
			</h:form>			    	
		</div>
	
	</ui:define>

	<ui:define name="sectionButtonsContent">
		<p:commandButton styleClass="openEastButton" id="openEastButton" type="button" icon="fa fa-chevron-left" title="Apri sezione destra" onclick="openDiv('eastSection');g_resize_all();" global="false" />
		<p:commandButton styleClass="closeEastButton" id="closeEastButton" type="button" icon="fa fa-chevron-right" title="Chiudi sezione destra" onclick="closeDiv('eastSection');g_resize_all();" global="false" />
	</ui:define>

	
</ui:composition>
