<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/functions"
	xmlns:custom="http://java.sun.com/jsf/composite/custom" >
	
	<h:head>
        <link href="#{request.contextPath}/resources/images/mini_logo_sogei.png" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
        <title>#{SessionBean.activePageInfo.titlePage}</title>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/tipiDatoUCB.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/help.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/template.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/resizeButtons.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/gridMenu.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/annotation.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/progress_bar.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/shortcut.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/overridePF.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/widget.css"/>
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/wizardStyle.css"/>
        
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/text_size#{SessionBean.preferenze.textSize}.css"/>
        
        <script type="text/javascript" src="#{request.contextPath}/resources/js/base.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/autoResize.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/resizeButtons.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/CMApplet.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/sessionTimerUpdate.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/disabilitaInvio.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/pdfManager.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/tabViewUtils.js"></script>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/widget.js"></script>
        
<!--         TIMELINE START -->
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/jquery.timelineMe.css"/>
        <script type="text/javascript" src="#{request.contextPath}/resources/js/jquery.timelineMe.js"></script>
<!--         TIMELINE END	-->
        
        <meta name="viewport" content="initial-scale=1"/>
        
        <script type="text/javascript">
        	var nativeReaderPDFEnable = #{SessionBean.preferenze.nativeReaderPDFEnable};
		    $(function() {initSched();});
	        
		    // Attaching the event listener function to window's resize event
		    window.addEventListener("resize", hidePreviewMailProtocol);
		    window.addEventListener("resize", hidePreviewDetailFepaDsr);
		    window.addEventListener("resize", hidePreviewProtocollaDsr);
		    window.addEventListener("resize", hidePreviewSottoscrizione); 
		    
		 
		    function startStatusDialogDownload() {   
		    	PF('statusDialog').show();
			}  
		
		    function hideStatusDialogDownload() { 
		    	PF('statusDialog').hide();
		    }  
		
        </script>
    </h:head>
    <h:body class="scroller">
    
		<form>
			<div id="appletdiv"></div>
		</form>
				
		<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="afe" />
		<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="nte" allSuffix="ALL_ENUM_VALUES"/>
		<!--======================================================== MESSAGING ========================================================-->
		<p:growl globalOnly="true" widgetVar="stickyGrowl" severity="error, warn" showDetail="true" showSummary="false" sticky="true" escape="false">
			<p:autoUpdate/>
		</p:growl>
		<p:growl globalOnly="true" widgetVar="infoGrowl" severity="info" showDetail="true" showSummary="false" life="3000">
			<p:autoUpdate/>
		</p:growl>
		<p:growl for="inoltraConProtocollo" widgetVar="infoGrowlLonger" severity="info" showDetail="true" showSummary="false" life="10000">
			<p:autoUpdate/>
		</p:growl>
		<!--===========================================================================================================================-->
 
		<!--======================================== MONITOR INATTIVITA' ========================================-->

		<p:dialog header="Sessione in scadenza." widgetVar="idleDialog" modal="true" showEffect="fade" hideEffect="fade" 
			resizable="false" responsive="true" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('idleDialog')">
			 <f:facet name="header">
				<span class="fa fa-info-circle" />
				<span>Sessione in scadenza</span>
    		 </f:facet>
			
			<p:outputLabel value="La sessione sta per terminare a causa della prolungata inattività. "/>
			<p:outputPanel>
				<p:outputLabel value="Scade alle ore "><span id="scadenza"></span></p:outputLabel> 
			</p:outputPanel>

			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<h:form>
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
						<p:commandButton title="Prolunga sessione" value="Prolunga" icon="fa fa-check" onclick="PF('idleDialog').hide();" actionListener="#{SessionBean.rinnovaSessione}" styleClass="generic_width100"/>   
						<p:commandButton title="Chiudi sessione" value="Chiudi" icon="fa fa-close" onclick="PF('idleDialog').hide();" type="button" styleClass="generic_width100 uniqueCloseButton"/>  
					</p:panelGrid>
				</h:form>
			</p:outputPanel>
		</p:dialog> 
		
		<p:dialog header="Sessione scaduta" widgetVar="sessionExpiredDialog" modal="true" showEffect="fade" 
			hideEffect="fade" resizable="false" responsive="true" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('sessionExpiredDialog')">
			<f:facet name="header">
				<span class="fa fa-info-circle" />
				<span>Sessione scaduta</span>
    		 </f:facet>
			<p:outputPanel styleClass="generic_padding5">
				<p:outputLabel value="La sessione è terminata a causa della prolungata inattività"/> 
			</p:outputPanel>
			
			<p:button title="Vai alla Homepage" value="HomePage" icon="fa fa-home" href="/views/homepage.jsf" styleClass="generic_width100 uniqueCloseButton"/>   
		</p:dialog> 
		
		
		<p:dialog header="Rubrica" widgetVar="wdgSelezionaDaRubrica" showEffect="fade" hideEffect="fade" modal="true" id="wdgSelezionaDaRubrica_T"
			styleClass="generic_padding0 generic_margin0 ddocumento-dlg-rubrica" position="center" draggable="false" closable="true" resizable="false" fitViewport="true"  
				onHide="PF('wdgRubricaTab_TG').select(0);"
				onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgSelezionaDaRubrica','chiudiRubr_WV')" >
		 	<h:form id="rubricaAsDialogForm">
		 	<p:panel id="panelRubInterno" styleClass="noBorderGrid">
				<p:panel rendered="#{SessionBean.showRubrica}" styleClass="noBorderGrid">
					<ui:include src="../rubrica/rubricaGeneric.xhtml"/>
				</p:panel>
			</p:panel>
			</h:form>
	    </p:dialog>
	    	
		<!--===========================================================================================================================-->
	
		<!--================================================== WAITING SCREEN ==================================================-->
		
		<p:ajaxStatus onstart="onStartAjaxRequest();" onsuccess="onSuccessAjaxRequest();" onerror="onErrorAjaxRequest(xhr, status, exception);"/>

		<p:dialog title="Errore" widgetVar="errorDialog" modal="true" draggable="false" closable="true" resizable="false" showHeader="false" styleClass="loadingDialog"
				   onShow="onShowForClosableDlg('errorDialog')" id="dlgWaiting">
			<h:form>
				<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col12">
					<p:outputPanel>
						<span id="idSpanError" class="fa fa-info generic_marginRight5px"/>
						<p:outputLabel value="La richiesta ha restituito un esito non previsto."/>
					</p:outputPanel>
					<p:commandButton styleClass="generic_width100Imp uniqueCloseButton" value="Torna alla homepage" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoCustomHomepage}" title="Clicca per tornare alla homepage"/>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		
		<p:dialog title="Processamento in corso..." id="statusDialog" widgetVar="statusDialog" modal="true" draggable="false" 
			closable="false" resizable="false" showHeader="false" styleClass="loadingDialog" onShow="dlgOnShow(this.jqId);" >
			<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col12">
			    <img class="generic_marginTop10" src="#{request.contextPath}/resources/images/ajaxloadingbar.gif" alt="Attendere prego" title="Attendere prego"/>
				<p:commandButton id="idBtnCancelAjaxReq" styleClass="generic_width100Imp hide" value="Cancella la richiesta" onclick="onCancelAjaxRequest();" type="button" title="Clicca per cancellare la richiesta"/>
			</p:panelGrid>
		</p:dialog>
		
		<!--===========================================================================================================================-->
 
		<!--======================================== NOTIFICATION BAR ========================================-->
		
		<p:notificationBar title="Barra di notifica" position="top" effect="slide" widgetVar="bar" styleClass="notificationBar">
			<h:form style="	overflow: auto;height: 100%;">
				<p:remoteCommand name="refreshHelpPagePanel" update="helpPagePanel" action="#{SessionBean.showHelpPage}"/>
			
				<p:outputPanel id="helpPagePanel">
					<p:outputPanel rendered="#{SessionBean.showHelpPage}">
						<span id="idSpanHelpPage"/>
						<ui:include src="#{SessionBean.activePageInfo.helpPage}"/> 
					</p:outputPanel>
				</p:outputPanel>
			
				<div class="generic_textAlignCenter notificationBarDivButton" >
					<p:commandButton value="Chiudi" onclick="PF('bar').hide()" type="button" styleClass="" title="Clicca per chiudere la barra informativa"/>
				</div>
				<iframe class="cover" src="about:blank" title="Frame template"></iframe>
			</h:form>			
		</p:notificationBar>
		<!--===========================================================================================================================-->

		<!--======================================================== HEADER ========================================================-->
		<div id="header" class="head ui-widget-header">

			<div>
			<p:outputLabel value="#{SessionBean.utente.idTipoProtocollo eq tprote.EMERGENZANPS.id ? 'Attenzione! Il sistema sta operando in modalità di emergenza' : ''}" styleClass="protocolloEmergenzaHeader" rendered="false"/>
				<p:graphicImage styleClass="#{SessionBean.logoMEF.cssClass} generic_floatLeft" value="#{SessionBean.logoMEF.relativePath}" title="#{SessionBean.logoMEF.title}" alt="logo MEF" />
				<span>
					<p:graphicImage value="/resources/images/noone.png" class="imageUserMyRedEvo" onclick="PF('dlgMyRedEvo').show()"/>
				</span>
				<div class="generic_marginRight5px generic_marginRight10px generic_marginTop5 generic_floatRight">
					<p:outputLabel value="#{SessionBean.utente.cognome} #{SessionBean.utente.nome}" styleClass="generic_displayBlock"  />
					<p:outputLabel value="#{SessionBean.utente.descrizioneEnte} - #{SessionBean.utente.codiceAoo}" styleClass="generic_displayBlock"  />
					<p:outputLabel value="#{SessionBean.utente.nodoDesc} - #{SessionBean.utente.ruoloDesc}" styleClass="generic_displayBlock" rendered="#{fn:length(SessionBean.listaUffici) le 1 and fn:length(SessionBean.listaRuoli) le 1 }" />
					<p:outputLabel value="#{SessionBean.utente.nodoDesc} - #{SessionBean.utente.ruoloDesc}" styleClass="generic_displayBlock generic_underline" onclick="PF('dlgMyRedEvo').show()" rendered="#{fn:length(SessionBean.listaUffici) gt 1 or fn:length(SessionBean.listaRuoli) gt 1 }" />
				</div>
			</div>	
			
			 <!--======================================================== NOTIFICATION PANEL ========================================================-->            

	        <p:overlayPanel widgetVar="notificationPnl" for="notificationBtn" appendToBody="true" showEffect="fade" hideEffect="fade" showCloseIcon="false" dismissable="true" styleClass="overlay_nopadding animated flipInY" onShow="$('#annotationForm\\:annotationsUpdate').click();">
				<p:outputPanel id="idTabNotifiche" >
					<p:outputLabel value="Notifiche" styleClass="notifiche-title"/> 
		            	<h:form id="formNotifiche"> 
							<p:dataTable id="notificheUtente"  widgetVar="notificheUtenteWV" rowIndexVar="index" var="notificheDT" value="#{SessionBean.notificheUtente}" selectionMode="single"  rowKey="#{notificheDT.rowKey}" rowStyleClass="nascondiHighlightNotifiche" emptyMessage="Non ci sono notifiche da mostrare" styleClass="ulAnnotation generic_displayBlock hiddenOverflowNotifiche" >
							 
 							<p:ajax event="rowSelect" listener="#{SessionBean.segnaNotificaLetta}" process="@this"/>
						
							<p:column rendered="#{notificheDT.notificheCalendario ne null and notificheDT.notificheCalendario.statoNotificaCalendario ne 2}" styleClass="generic_overflow">
								<p:panelGrid columns="3" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-1 #{notificheDT.notificheCalendario.daLeggere ? 'notificaDaLeggere' : 'notificaLetta'},ui-grid-col-2 img-notifica,ui-grid-col-9">
										<span/>
										
										<p:panel>
											<span class="fa fa-3x fa-calendar-plus-o #{notificheDT.notificheCalendario.tipoCalendario.tipoEnum.value eq 'D'? '' : 'hide'}" title="Documento in scadenza" />
											<span class="fa fa-3x fa-bullhorn #{notificheDT.notificheCalendario.tipoCalendario.tipoEnum.value eq 'C'? '' : 'hide'}" title="Evento comunicazione" />
											<span class="fa fa-3x fa-newspaper-o #{notificheDT.notificheCalendario.tipoCalendario.tipoEnum.value eq 'N'? '' : 'hide'}" title="News" />
											<span class="fa fa-3x fa fa-bullseye #{notificheDT.notificheCalendario.tipoCalendario.tipoEnum.value eq 'U'? '' : 'hide'}" title="Evento Utente" />
										</p:panel>
										<p:panel> 
											<h:outputText value="#{notificheDT.notificheCalendario.tipoCalendario.tipoEnum.description}" styleClass="generic_floatLeft" />
											<div class="dataNotificaStyleCalendario">
												<h:outputText value="#{notificheDT.notificheCalendario.dataInizio}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
												<h:outputText value=" - " />
												<h:outputText value="#{notificheDT.notificheCalendario.dataScadenza}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</div>
											<h:outputText title="#{notificheDT.notificheCalendario.titolo}" value="#{(fn:length(notificheDT.notificheCalendario.titolo) gt 47)? fn:substring(notificheDT.notificheCalendario.titolo, 0, 47).concat('...'):notificheDT.notificheCalendario.titolo}" styleClass="annotationTitle ellipsis" />
											<p:panelGrid columns="2" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-10 headerNotificaStyle,ui-grid-col-2">
												<h:outputText title="#{notificheDT.notificheCalendario.contenuto}" value="#{(fn:length(notificheDT.notificheCalendario.contenuto) gt 40)? fn:substring(notificheDT.notificheCalendario.contenuto, 0, 40).concat('...'):notificheDT.notificheCalendario.contenuto}" styleClass="annotationText ellipsis" />
												
												<p:commandButton icon="fa fa-remove" action="#{SessionBean.deleteNotificaUtente}" styleClass="btnNotificaStyle generic-widget-button-noBorder" oncomplete="removeNotifica(#{index})" >
													<f:setPropertyActionListener value="#{notificheDT}" target="#{SessionBean.deleteNotificaTarget}"/>
												</p:commandButton>
											</p:panelGrid>
										</p:panel> 
									</p:panelGrid>
								</p:column>

						<p:column rendered="#{notificheDT.notificheRubrica ne null and notificheDT.notificheRubrica.statoNotificaRubrica ne 2}" styleClass="generic_overflow">
							<p:panelGrid columns="3" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-1 #{notificheDT.notificheRubrica.daLeggere ? 'notificaDaLeggere' : 'notificaLetta'},ui-grid-col-2,ui-grid-col-9">
								<span />
								<p:panel>
									<span class="fa fa-3x fa-leanpub" title="Evento Utente" />
								</p:panel>

								<p:panel>
									<p:panelGrid columns="2" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-6 headerNotificaStyle,ui-grid-col-6 dataNotificaStyle">
										<h:outputText value="#{notificheDT.notificheRubrica.alias}" styleClass="generic_floatLeft" />
										<h:outputText value="#{notificheDT.notificheRubrica.dataOperazione}" styleClass="dataNotificaStyle">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:panelGrid>
									<h:outputText value="#{o:capitalize(notificheDT.notificheRubrica.tipoNotifica)}: #{notificheDT.notificheRubrica.operazioneEffettuata}" styleClass="annotationTitle" />
									
									<p:panelGrid columns="2" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-10 headerNotificaStyle,ui-grid-col-2">
										<p:outputPanel >
											<h:outputText value="#{fn:replace(notificheDT.notificheRubrica.stato, '_', ' ')}" styleClass="annotationText" />
											<h:outputText value=" - #{notificheDT.notificheRubrica.motivoRifiuto}" rendered="#{notificheDT.notificheRubrica.stato eq 'RIFIUTATA'}"  styleClass="annotationText"/>
										</p:outputPanel>
	
										<p:commandButton icon="fa fa-remove" action="#{SessionBean.deleteNotificaUtente}" styleClass="btnNotificaStyle generic-widget-button-noBorder" oncomplete="removeNotifica(#{index})">
											<f:setPropertyActionListener value="#{notificheDT}" target="#{SessionBean.deleteNotificaTarget}" />
										</p:commandButton>
									</p:panelGrid>
								</p:panel>

							</p:panelGrid>
						</p:column>

						<p:column rendered="#{notificheDT.notificheSottoscrizioni ne null and notificheDT.notificheSottoscrizioni.statoNotifica ne 2}" styleClass="generic_overflow">
								<p:panelGrid columns="3" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-1 #{notificheDT.notificheSottoscrizioni.daLeggere ? 'notificaDaLeggere' : 'notificaLetta'},ui-grid-col-2,ui-grid-col-9">
										<span />
										<p:panel>
											<span class="fa fa-3x fa-newspaper-o" title="Evento Sottoscrizione" />
										</p:panel>
										<p:panel>
											<p:panelGrid columns="2" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-6 headerNotificaStyle,ui-grid-col-6 dataNotificaStyle">
											<p:outputPanel>
												<h:outputText value="ID: #{notificheDT.notificheSottoscrizioni.numeroDocumento} del #{notificheDT.notificheSottoscrizioni.annoDocumento}" styleClass="generic_floatLeft" rendered="#{notificheDT.notificheSottoscrizioni.numeroProtocollo eq null}" />
												<h:outputText value="PROT. #{notificheDT.notificheSottoscrizioni.numeroProtocollo}/#{notificheDT.notificheSottoscrizioni.annoProtocollo}" styleClass="generic_floatLeft" rendered="#{notificheDT.notificheSottoscrizioni.numeroProtocollo ne null}" />
											</p:outputPanel>
												<h:outputText value="#{notificheDT.notificheSottoscrizioni.dataEvento}" styleClass="dataNotificaStyle">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:panelGrid>
											<h:outputText title="#{notificheDT.notificheSottoscrizioni.descrizioneEvento}" value="#{notificheDT.notificheSottoscrizioni.descrizioneEvento}" styleClass="annotationTitle ellipsis" />
											<p:panelGrid columns="2" layout="grid" styleClass="liAnnotationGrid ui-panelgrid-blank pnlgrid_noborder" cellspacing="10" cellpadding="10" columnClasses="ui-grid-col-10 headerNotificaStyle,ui-grid-col-2">
												<h:outputText styleClass="ellipsis" title="#{notificheDT.notificheSottoscrizioni.oggettoDocumento}" value="#{(fn:length(notificheDT.notificheSottoscrizioni.oggettoDocumento) gt 40)? fn:substring(notificheDT.notificheSottoscrizioni.oggettoDocumento, 0, 40).concat('...'):notificheDT.notificheSottoscrizioni.oggettoDocumento}" />
												
												<p:commandButton icon="fa fa-remove" action="#{SessionBean.deleteNotificaUtente}" styleClass="btnNotificaStyle generic-widget-button-noBorder" oncomplete="removeNotifica(#{index})" >
													<f:setPropertyActionListener value="#{notificheDT}" target="#{SessionBean.deleteNotificaTarget}"/>
												</p:commandButton>
											</p:panelGrid>
										</p:panel>
									</p:panelGrid>
							</p:column> 
						</p:dataTable>
					</h:form> 
				</p:outputPanel>

				<p:outputPanel styleClass="annotationPanelUpdate">
					<p:outputPanel id="pbAnn" class="progress-bar">
						<span class="bar">
							<span id="pbAnnValue" class="value-bar"/>
						</span>
					</p:outputPanel>
					<p:outputPanel id="labelAnn">
						<p:outputLabel styleClass="annotationPanelUpdateTitle">
			            	<p:outputLabel value="Ultimo aggiornamento: "/>
			                <p:outputLabel value="#{SessionBean.dataSincronizzazione}" id="idOrarioNotifiche">
			                	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
			                </p:outputLabel>
		            	</p:outputLabel>			
		            	<h:form id="annotationForm">
			                <p:commandLink global="true" styleClass="annotationPanelUpdateBtn" process="@this" action="#{SessionBean.caricaNotificheUtente}"  id="annotationsUpdate" update="idOrarioNotifiche, idTabNotifiche,notificationAction" onstart="startPB();" oncomplete="stopPB();">
		                		<h:outputText class="fa fa-refresh"/>   
			                </p:commandLink>
			           	</h:form>
			           	
			        </p:outputPanel>
					<p:outputPanel id="notificationAction">
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-11 dialog-close-button,ui-grid-col-1 dialog-close-button" styleClass="pnlgrid_noborder">
						<p:outputLabel value="Marca tutti come letti" styleClass="annotationPanelUpdateTitle" />
						<h:form id="segnaTuttiComeLettiForm">
							<p:commandLink global="true" styleClass="annotationPanelUpdateBtn" process="@this" action="#{SessionBean.segnaNotificheLette}" update="idTabNotifiche,notificationAction">
								<h:outputText class="fa fa-check" title="Segna tutte le notifiche come lette" style="color:#{SessionBean.notificheNonLette eq 0 ? 'green' : 'black'}" />
							</p:commandLink>
						</h:form>
						<p:outputLabel value="Elimina tutti" styleClass="annotationPanelUpdateTitle" />
						<h:form>
							<p:commandLink global="true" styleClass="annotationPanelUpdateBtn" process="@this" action="#{SessionBean.deleteNotificheUtente}" update="idTabNotifiche,notificationAction">
								<h:outputText class="fa fa-trash" title="Elimina tutti" />
							</p:commandLink>
						</h:form>
					</p:panelGrid>
				</p:outputPanel>
					 
			</p:outputPanel>	
				<iframe class="cover" src="about:blank" title="Frame template"></iframe>	
	        </p:overlayPanel>
			
			<!--======================================================== SEARCH PANEL ========================================================-->			
			<p:dialog header="Ricerca" id="idDialogRicerche" widgetVar="dlgRicercaGenerica" styleClass="ricerca-dialog" 
				responsive="false" fitViewport="false" modal="true" showEffect="fade" hideEffect="fade" draggable="false" 
				resizable="false" closable="true" onShow="dlgOnShowFixed(this.jqId);onShowForClosableDlg('dlgRicercaGenerica')" >

				
				<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="afe" />
				<p:importEnum type="it.ibm.red.business.enums.TipologiaProtocollazioneEnum" var="tprote" />
				
				<p:tabView id="idTabRicerche" widgetVar="wdgTabRicerche" scrollable="true" styleClass="ricerca-avanzata-dialog">
					<p:tab title="Generica" >
						<ui:include src="../ricerca/ricercaRapidaTab.xhtml"/>
					</p:tab>
					
					<p:tab title="Avanzata" id="idRicercaRedTab"  >
						<ui:include src="../ricerca/ricercaRedTab.xhtml"/>
					</p:tab>
					
					<p:tab title="Fepa" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.RICERCAFEPA)}" > 
						<ui:include src="../ricerca/ricercaFepaTab.xhtml"/>
					</p:tab>
					
					<p:tab title="Sigi" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.RICERCASIGI)}" >
						<ui:include src="../ricerca/ricercaSigiTab.xhtml"/>
					</p:tab>
					
					<p:tab title="Sistema di Protocollo" id="idTabRegProt" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO)}" 
						disabled="#{tprote.EMERGENZANPS.id eq SessionBean.utente.idTipoProtocollo}">
						<ui:include src="../ricerca/ricercaRegistroProtocolloTab.xhtml"/>
					</p:tab>
					
					<p:tab title="Ricerca Nsd" rendered="#{SessionBean.utente.showRicercaNsd}">
						<ui:include src="../ricerca/ricercaNsdTab.xhtml"/>
					</p:tab>
					
					<p:tab title="UCB" id="idTabUCB" rendered="#{SessionBean.utente.ucb}" >
						<ui:include src="../ricerca/ricercaUCBTab.xhtml"/>
					</p:tab>
					
				</p:tabView>
				
			
			</p:dialog>
			
			<p:dialog header="Salva Ricerca" widgetVar="wdgScegliNomeSalvaRicerca" modal="true" showEffect="fade" 
				hideEffect="fade" resizable="false" closable="true" id="wdgScegliNomeSalvaRicercaId" draggable="true" 
				onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgScegliNomeSalvaRicerca')" >
				<h:form>
					<p:panel styleClass="generic_noborder generic_no_background" > 			
						<!-- Blocco per l'inserimento di una eventuale motivazione -->		
						<div class="ui-g">
							<div class="ui-g-12" >
								<p:outputLabel value="Inserire il nome con cui si vuole salvare la ricerca" />
								<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
							</div>
						</div>
						<div class="ui-g">
							<div class="ui-g-12 obbligatorio" >
								<p:inputText value="#{SessionBean.nomeRicercaAvanzata}" styleClass="generic_input96 obbligatorio" id="nomeRicerca"/>
							</div>
						</div>
				
						<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
							<p:commandButton value="Salva" title="Salva la ricerca" icon="fa fa-save" action="#{SessionBean.salvaFormRicercaDocumentiRed}" oncomplete="PF('wdgScegliNomeSalvaRicerca').hide()" styleClass="generic_width100" update="nomeRicerca"/>
							<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('wdgScegliNomeSalvaRicerca').hide()" type="button" styleClass="generic_width100 uniqueCloseButton"/>
						</p:panelGrid>
					</p:panel>
				</h:form>
			</p:dialog>
			
			<p:dialog header="Ricerche Salvate" widgetVar="wdgRicercheSalvate"  modal="true" showEffect="fade" hideEffect="fade" resizable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgRicercheSalvate');"
					  id="wdgRicercheSalvateId" closable="true" styleClass="generic_padding0 generic_margin0 ricerca-salvata-dlg generic_maxwidth50 generic_maxHeight50" position="center" draggable="true" responsive="true" >

				<h:form id="formRicercheSalvate">
					<p:panel styleClass="generic_noborder generic_no_background ricerca-salvata-dlg-pnl" > 			
						<p:dataTable  var="ricSalvata" widgetVar="ricercheSalvateTbl_WV" emptyMessage="Nessuna Ricerca Salvata" paginatorAlwaysVisible="false" style=""
									  id="ricercheSalvateTbl" value="#{SessionBean.ricercheSalvateDTH.masters}" rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" >
									 
							<p:column headerText="Nome Ricerca" filterBy="#{ricSalvata.nome}" filterMatchMode="contains" >
								<p:outputLabel styleClass="generic_displayBlock"  value="#{fn:length(ricSalvata.nome) gt 30 ?fn:substring(ricSalvata.nome, 0, 30).concat('...'):ricSalvata.nome}" title="#{ricSalvata.nome}"></p:outputLabel>
							</p:column>
							<p:column headerText="Data" filterBy="#{ricSalvata.dataCreazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter generic_width140px" >
								<p:outputLabel styleClass="generic_displayBlock"  value="#{ricSalvata.dataCreazione}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="Azioni" styleClass="generic_textAlignCenter lf_tableColumn1">
								<p:outputPanel styleClass="buttonsDiv buttonsLayout">
									<p:commandButton icon="fa fa-sliders" actionListener="#{SessionBean.caricaFormRicercaAvanzata}" title="Carica" oncomplete="PF('wdgRicercheSalvate').hide();onOffTreeBtnAssegnazione();manageCmpToDisable();disableAllChk();" 
										update=" 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idFiltriPrincipaliPnl, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssePerOpe, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAssegnatarioPerAssegn, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idBasePnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idCatPnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idRisPnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idFascPnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idSpedPnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idAvanzatePnlGrid, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoAssegnazione, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idTipoOpe, 
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:idGridProtEmerg,
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelAssegnazione,
											idTabRicerche:idTabRicercheRed:ricercaDocRedForm:idAccordionUlterioriFiltri:panelOperazione"/>
								
									<p:commandButton icon="fa fa-remove" actionListener="#{SessionBean.eliminaRicercaAvanzata}" title="Elimina Ricerca" update="ricercheSalvateTbl" />
								</p:outputPanel>
					  		</p:column>
						</p:dataTable>
					</p:panel>
				</h:form>
				<div class="buttonsDiv buttonsLayout">
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('wdgRicercheSalvate').hide()" type="button" styleClass="uniqueCloseButton"/>
				</div>
			</p:dialog>		   
		   
    	</div>

		<!--===========================================================================================================================-->


		<h:form id="menuBar" prependId="false" styleClass="menuBar">  
		    <p:menubar>
				<p:menuitem value="Homepage" icon="fa fa-home" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoHomepage}" styleClass="#{SessionBean.activePageInfo eq nte.HOMEPAGE ? 'selected-menu-bar' : ''} "/>
				<p:menuitem value="Scrivania" icon="fa fa-pencil-square" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoScrivania}" styleClass="#{SessionBean.activePageInfo eq nte.SCRIVANIA ? 'selected-menu-bar' : ''} "/>
				<p:submenu label="Creazione" icon="fa fa-file-o" rendered="#{not SessionBean.utente.gestioneApplicativa and SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUCREAZIONE)}">
				    <p:menuitem rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCINGRESSO)}"
						action="#{SessionBean.gotoCreazioneDocIngresso}" >
						<span class="DD_labelTitoletto">E</span>
						<span> - Entrata</span>
					</p:menuitem>
				    <p:menuitem rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUSCITA)}" 
				    	action="#{SessionBean.gotoCreazioneDocUscita}" >
				    	<span class="DD_labelTitoletto">U</span>
						<span> - Uscita</span>
					</p:menuitem>
				</p:submenu>
				<p:menuitem value="Rubrica" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENURUBRICA)}" icon="fa fa-leanpub" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoRubrica}" styleClass="rubricaItem #{SessionBean.activePageInfo eq nte.RUBRICA ? 'selected-menu-bar' : ''} " />
				<p:menuitem value="Eventi" icon="fa fa-bullseye" action="#{SessionBean.gotoSottoscrizioni}" oncomplete="PF('statusDialog').show();" styleClass="#{SessionBean.activePageInfo eq nte.SOTTOSCRIZIONI ? 'selected-menu-bar' : ''} " />
				<p:menuitem value="Report" icon="fa fa-bar-chart" action="#{SessionBean.gotoReport}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.REPORT)}" oncomplete="PF('statusDialog').show();" styleClass="reportItem #{SessionBean.activePageInfo eq nte.REPORT ? 'selected-menu-bar' : ''} "/>
				<p:menuitem value="Dashboard" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DASHBOARD)}" icon="fa fa-dashboard" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoDashboard}" styleClass="#{SessionBean.activePageInfo eq nte.DASHBOARD ? 'selected-menu-bar' : ''} "/> 
				<p:menuitem value="Deleghe"  icon="fa fa-user-secret" action="#{SessionBean.gotoDeleghe}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ASSEGNAZIONE_DELEGHE)}" oncomplete="PF('statusDialog').show();" styleClass="rubricaItem #{SessionBean.activePageInfo eq nte.DELEGHE ? 'selected-menu-bar' : ''} "/>

				<p:menuitem value="Flussi" icon="fa fa-dashboard" rendered=""/>

				<p:submenu label="Wizard" icon="fa fa-magic" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.WIZARD_UCB)}" styleClass="#{SessionBean.activePageInfo eq nte.WIZARD_TIPO_DOC ? 'selected-menu-bar' : ''}">
					<p:menuitem value="Tipo Documento" icon="fa fa-tag" action="#{SessionBean.gotoWizardTipoDoc}"/>
					<p:submenu label="Automatismi" icon="fa fa-play">
						<p:submenu label="Assegnazioni" icon="fa fa-inbox">
							<p:menuitem value="Capitoli di spesa" action="#{SessionBean.gotoWizardAssegnazioniAuto}" />
							<p:menuitem value="Tipi Documento" action="#{SessionBean.gotoAssegnazioneMetadati}" />
						</p:submenu>
					</p:submenu>
				</p:submenu>

				<p:submenu label="Utility" icon="fa fa-wrench" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.WIZARD_UCB)}">
					<p:menuitem value="Accordo Servizio" icon="fa fa-users" action="#{SessionBean.gotoAccordoServizio}"/>
					<p:menuitem value="Carica Liste utenti" icon="fa fa-upload" action="#{SessionBean.gotoCaricamentoMassivo}" />
				</p:submenu>
				 
		        <f:facet name="options">
		            <p:commandButton icon="fa fa-search" value="Ricerca" title="Apri pannello di ricerca" onclick="PF('dlgRicercaGenerica').show();PF('wdgAccordionUlterioriFiltri').unselect(0)" styleClass="generic_no_background white" type="button"/>
			    	<p:spacer styleClass="generic_marginRight10px" />
					<p:commandButton icon="fa fa-bookmark" title="Pagina Preferita" oncomplete="PF('statusDialog').show();" action="#{SessionBean.gotoHomepagePersonalizzata}" styleClass="generic_no_background generic_noborder2 white generic_noborder2"/>
					<p:commandButton icon="fa fa-info" type="button" title="Info" onclick="openHelpPage()" styleClass="generic_no_background white generic_noborder2" />
					<p:commandButton id="notificationBtn" icon="fa fa-bell" type="button" styleClass="generic_no_background generic_noborder2 white" title="Notifiche" />
					<p:outputLabel id="contatoreNotificheId" styleClass="contatoreNotifiche" value="#{SessionBean.notificheNonLette}" style="#{SessionBean.notificheNonLette > 0 ? '':'visibility:hidden;'}" />
					<p:spacer styleClass="generic_marginRight10px" />
		            <p:commandButton id="btnLogout" value="Logout" icon="fa fa-sign-out" action="#{SessionBean.logout()}" process="@this" styleClass="generic_no_background generic_noborder2 white" />
		        </f:facet>
		    </p:menubar>
		</h:form>

		<!--======================================================== DYNAMIC CONTENT ========================================================-->

		<div id="container" class="container ui-widget-content">

			<ui:insert name="dContent"/>

		</div>
    
		<!--===========================================================================================================================-->
		
    	<!--========================================================== CONFIRM DIALOG ==========================================================-->
    	
    	<p:confirmDialog id="confDlg" widgetVar="" global="true" showEffect="fade" hideEffect="fade" styleClass="confirm-dialog" closable="false">
			<h:form>
				<p:outputPanel class="ui-fluid pnl-message-minwidth">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-6, ui-grid-col-6">
				        <p:commandButton value="Prosegui" styleClass="ui-confirmdialog-yes" icon="fa fa-pencil" title="Conferma operazione"/>
				        <p:commandButton value="Annulla" styleClass="ui-confirmdialog-no" icon="fa fa-times" title="Annulla operazione"/>
					</p:panelGrid>
				</p:outputPanel>
			</h:form>
		</p:confirmDialog>
    	
		<!--===========================================================================================================================-->
	
		<!--========================================================== MY RED DIALOG ==========================================================-->


		<p:dialog styleClass="my-red-dialog" responsive="false" fitViewport="false" header="My Red" widgetVar="dlgMyRedEvo" 
			modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true"  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgMyRedEvo')">
		
			<h:form>

				<p:tabView styleClass="generic_width650px">
					<p:tab title="Cambia Anagrafica" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CAMBIOUFFICIO)}" id="cambiaAnagrafica">
						<div class="ui-fluid">
							<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col12">
								<p:outputLabel value="AOO" styleClass="generic_textBold"/> 
								<p:selectOneMenu id="listaAooDialog" effect="fade" value="#{SessionBean.idNuovoAoo}" >
									<f:selectItems value="#{SessionBean.listaAOO}" var="item" itemLabel="#{item.descrizione}" itemValue="#{item.idAoo}" />
									<p:ajax event="change" listener="#{SessionBean.caricaUffici}" update="listaUfficiDialog,listaRuoliDialog"/>
								</p:selectOneMenu>
							
								<p:outputLabel value="Ufficio" styleClass="generic_textBold"/> 
								<p:selectOneMenu  id="listaUfficiDialog" effect="fade" value="#{SessionBean.idNuovoUfficio}" >
									<f:selectItems value="#{SessionBean.listaUffici}" var="item" itemLabel="#{item.descrizione}" itemValue="#{item.idNodo}" />
									<p:ajax event="change" listener="#{SessionBean.caricaRuoli}" update="listaRuoliDialog"/>
								</p:selectOneMenu>
				
								<p:outputLabel value="Ruolo" styleClass="generic_textBold"/> 
								<p:selectOneMenu id="listaRuoliDialog" effect="fade" value="#{SessionBean.idNuovoRuolo}" filterMatchMode="contains">
									<f:selectItems value="#{SessionBean.listaRuoli}" var="item" itemLabel="#{item.nomeRuolo}" itemValue="#{item.idRuolo}"/>
								</p:selectOneMenu>
							</p:panelGrid>					
						</div>
		
						<div class="ui-fluid buttonsDiv">
							<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4">
						        <p:commandButton icon="fa fa-save" title="Applica la modifica" value="Cambia" action="#{SessionBean.cambia}" onclick="PF('dlgMyRedEvo').hide()" oncomplete="PF('statusDialog').show();" process="cambiaAnagrafica"/>
						        <p:commandButton icon="fa fa-refresh" title="Ripristina l'attuale anagrafica" value="Ripristina" action="#{SessionBean.syncUtente}" update="listaAooDialog, listaUfficiDialog,listaRuoliDialog" process="cambiaAnagrafica"/>
						        <p:commandButton icon="fa fa-times" title="Chiudi il dialog" value="Chiudi" type="button" onclick="PF('dlgMyRedEvo').hide()" styleClass="uniqueCloseButton"/>
							</p:panelGrid>
						</div>				
					</p:tab>

					<p:tab title="Personalizzazioni">

						<p:tabView id="idTabPersonalizza" styleClass="my-red-tab-content tab-view-height" >
							<p:tab title="Componenti" >
								<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col6,ui-grid-col6">
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="temi" value="Tema" styleClass="generic_textBold"/>
											<p:themeSwitcher id="temi" effect="fade" var="t" valueChangeListener="#{SessionBean.changeUserTheme}">
											    <f:selectItems value="#{SessionBean.themes}" var="tema" itemLabel="#{tema.displayName}" itemValue="#{tema}" />
											    <p:ajax event="change"/>
											    <p:column>
											    	<p:graphicImage value="/resources/images/themes/#{t}.png" title="Tema #{t}" alt="#{t}"/>
											    </p:column>
											    <p:column>
											    	#{t}
											    </p:column>
										    </p:themeSwitcher>
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="homepage" value="Pagina Iniziale" styleClass="generic_textBold" />
								           	<p:selectOneMenu id="homepage" value="#{SessionBean.preferenze.homepage}" effect="fade">
								               <f:selectItems  var="item" itemLabel="#{item.label}" itemValue="#{item.value}" value="#{SessionBean.homePages}" />
								           	</p:selectOneMenu>
										</div>	
									</p:panel>	
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="autocompleteDelay" value="Velocità Autocomplete" styleClass="generic_textBold" />
										    <p:selectOneButton id="autocompleteDelay"  value="#{SessionBean.preferenze.autocompleteDelay}" unselectable="false">
									            <f:selectItem itemLabel="Lento" itemValue="1200" />
									            <f:selectItem itemLabel="Medio" itemValue="900" />
									            <f:selectItem itemLabel="Veloce" itemValue="600" />
									        </p:selectOneButton>
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel value="Grandezza Carattere" styleClass="generic_textBold" />
									        <p:selectOneButton value="#{SessionBean.preferenze.textSize}" unselectable="false">
									            <f:selectItem itemLabel="Piccolo" itemValue="1" />
									            <f:selectItem itemLabel="Medio" itemValue="2" />
									            <f:selectItem itemLabel="Grande" itemValue="3" />
									        </p:selectOneButton>
										</div>	
									</p:panel>
		
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="paginaPreferita" value="Pagina Preferita" styleClass="generic_textBold" />
								           	<p:selectOneMenu id="paginaPreferita" value="#{SessionBean.preferenze.paginaPreferita}" effect="fade">
								               <f:selectItem itemLabel="[Seleziona Pagina...]" itemValue="" noSelectionOption="true" />
								               <f:selectItems  var="item" itemLabel="#{item.label}" itemValue="#{item.value}" value="#{SessionBean.homePages}" />
								           	</p:selectOneMenu>
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:selectBooleanCheckbox itemLabel="base 64" value="#{SessionBean.preferenze.base64}" disabled="true" rendered="false" />
											<p:selectBooleanCheckbox itemLabel="no crypt" value="#{SessionBean.preferenze.noCrypt}" disabled="true" rendered="false"/>
											<p:selectBooleanCheckbox itemLabel="url encoding" value="#{SessionBean.preferenze.urlEncoding}"/>
											
										 </div>	
									</p:panel>
									
								</p:panelGrid>
								
							</p:tab>
							
							<p:tab title="Menù">
								<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col6,ui-grid-col6">
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="idArchivioBtn" value="Archivio" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idArchivioBtn" value="#{SessionBean.preferenze.groupArchivio}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUUFFICIO)}"  >
										<div class="ui-fluid" >
											<p:outputLabel for="idUfficioBtn" value="Ufficio" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idUfficioBtn" value="#{SessionBean.preferenze.groupUfficio}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MAIL)}" >
										<div class="ui-fluid" >
											<p:outputLabel for="idMailBtn" value="Mail" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idMailBtn" value="#{SessionBean.preferenze.groupMail}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="#{SessionBean.fattElettEnable}">
										<div class="ui-fluid" >
											<p:outputLabel for="idFatEletBtn" value="Fatturazione Elettronica" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idFatEletBtn" value="#{SessionBean.preferenze.groupFatElettronica}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ORGANIGRAMMA)}" >
										<div class="ui-fluid" >
											<p:outputLabel for="idOrgBtn" value="Organigramma" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idOrgBtn" value="#{SessionBean.preferenze.groupOrganigrama}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background">
										<div class="ui-fluid" >
											<p:outputLabel for="idNativePDFBtn" value="Visualizzatore PDF" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idNativePDFBtn" value="#{SessionBean.preferenze.nativeReaderPDFEnable}" onLabel="Nativo" offLabel="PDF.js"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="false">
										<div class="ui-fluid" >
											<p:outputLabel for="idFullDetailBtn" value="Full Detail" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idFullDetailBtn" value="#{SessionBean.preferenze.fullDetailEnable}" onLabel="Attivo" offLabel="Non Attivo"  />
										</div>	
									</p:panel>
									
									<p:panel styleClass="generic_noborder generic_no_background" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}">
										<div class="ui-fluid" >
											<p:outputLabel for="idFirmaRemotaSingMulti" value="Shorcut Firma (singola/multi)" styleClass="generic_textBold" />
								           	<p:selectBooleanButton id="idFirmaRemotaSingMulti" value="#{SessionBean.preferenze.firmaRemotaFirst}" onLabel="1. Remota, 2. Smartcard" offLabel="1. Smartcard, 2. Remota"  />
										</div>	
									</p:panel>
									
								</p:panelGrid>
							</p:tab>
 
					</p:tabView>	
							
						<div class="ui-fluid buttonsDiv">
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
								<p:commandButton icon="fa fa-save" title="Salva impostazioni" value="Salva" action="#{SessionBean.salva}" oncomplete="PF('statusDialog').show();"/>
								<p:commandButton icon="fa fa-times" title="Chiudi" value="Chiudi" type="button" onclick="PF('dlgMyRedEvo').hide()" styleClass="uniqueCloseButton"/>
							</p:panelGrid>
						</div>

					</p:tab>
				</p:tabView>
			</h:form>
		</p:dialog>
		
		<!--===========================================================================================================================-->

		<!--======================================================== FOOTER ========================================================-->
	    <div id="foot" class="foot" onclick="openHelpPage()">
			<div class="footerDivSogeiLogo">
				<img src="#{request.contextPath}/resources/images/logo_sogei.png" alt="Logo Sogei" />
			</div>
			<div class="footerDivAppName">
				<p:outputLabel value="Red Versione 18 - Nodo : #{SessionBean.nodoServer}" title="v18.28 - Nodo : #{SessionBean.nodoServer}"/>

			</div>
	    </div>
		<!--===========================================================================================================================-->

		<h:form id="idDettagliEstesiForm" styleClass="drm-form">
			<!--  <ui : include src="../ricerca/dlgRicercaManager.xhtml"/> -->
			<!--==================================== MODIFICA DOCUMENTO DIALOG -> START ==========================================================-->
			<p:dialog header="#{DocumentManagerBean.dialogHeader}" widgetVar="dlgManageDocument_RM"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				closable="true" id="idPanelDocumentManager" onShow="dlgOnShowFixed(this.jqId);PF('dlgManageDocument_RM').initPosition();onShowForClosableDlg('dlgManageDocument_RM','wdgChiudiDocumentoBtn_DMD');PF('wdgTabs_DMD').select(0);wrapAddEventListener(#{DocumentManagerBean.documentManagerDTO.inModifica});TabViewUtils.changeTab('wdgTabs_DMD');" 
				dynamic="true" styleClass="generic_padding0 generic_margin0 ddocumento-dlg" position="center" appendTo="@form" responsive="true" draggable="false" onHide="wrapRemoveEventListener(#{DocumentManagerBean.documentManagerDTO.inModifica});">
				<p:ajax event="close" listener="#{DocumentManagerBean.aggiornaDettaglio}" update="@this"></p:ajax>
				
				<p:outputLabel value="#{SessionBean.utente.idTipoProtocollo eq tprote.EMERGENZANPS.id ? 'Attenzione! Il sistema sta operando in modalità di emergenza' : ''}" styleClass="protocolloEmergenzaHeader" rendered="false"/>
				
				<p:panel rendered="#{DocumentManagerBean.detail ne null}" id="idPanelContainerDocumentManager_T"
					styleClass="generic_padding0 generic_margin0 generic_height100 generic_width100 ddocumento-dlg-panel generic_noborder">
					<ui:include src="../documento/documentManager.xhtml"><!-- DocumentManagerBean --></ui:include>
				</p:panel>
				
				
			</p:dialog>

			<!-- Dialog check Destinatari Registro Repertorio -->					
			<p:dialog id="idDlgConfirmDestinatari" widgetVar="dlgConfirmDestinatariSelection" header="Conferma Destinatari"
					  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgConfirmDestinatariSelection')" styleClass="confirm-destinatari-repertorio"
					  appendTo="@form" modal="true" responsive="false" fitViewport="false" showEffect="fade" hideEffect="fade" resizable="false" closable="true">
			
				<p:outputPanel id="idMsgRepertorio" styleClass="ui-fluid generic_padding25" style="padding: 15px;">
					<h:outputText value="#{DocumentManagerBean.msgChkRepertorio}" />
				</p:outputPanel>
							
				<p:outputPanel styleClass="buttonsDiv buttonsLayout" >
					<p:commandButton icon="fa fa-pencil" value="Conferma" action="#{DocumentManagerBean.removeDestinatariEsterni}" rendered="#{DocumentManagerBean.detail.numeroProtocollo eq null }" update="idDettagliEstesiForm:idDestinatariPanel_DMD, idDettagliEstesiForm:idTabs_DMD:idTabSpedizioneContainer_DMD, idDettagliEstesiForm:idTabs_DMD" oncomplete="PF('dlgConfirmDestinatariSelection').hide();"/>
					<p:commandButton icon="fa fa-times" value="Annulla" action="#{DocumentManagerBean.restoreTipologiaDocumento}" update="idDettagliEstesiForm:idTipologiaDocumento_DMD, idDettagliEstesiForm:tipoProcedimento_DMD, idDettagliEstesiForm:idDestinatariPanel_DMD, @form:idDocumentManagerContent_DMD" oncomplete="PF('dlgConfirmDestinatariSelection').hide();" styleClass="uniqueCloseButton"  />	
				</p:outputPanel>
		
			</p:dialog>
			
			<!--======================================== MODIFICA DOCUMENTO FROM RICERCA DIALOG -> END ===========================================-->
			<!--====================================== Dettaglio/Modifica/Creazione documento DIALOG -> START =================================== -->
			<p:dialog header="Gestisci fascicolo" widgetVar="dlgManageFascicolo_DF"  modal="true" resizable="false" appendTo="@form"
				styleClass="generic_maxwidth1200px generic_maxHeight900px" position="center" draggable="true"
				id="idPanelFascicoloManager_DF" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgManageFascicolo_DF', 'closeDlgFascicolo')">
				
				<p:outputPanel id="fascicoloMng_pnl">
					<p:panel rendered="#{FascicoloManagerBean.dialogFascicoloVisible}" 
						styleClass="generic_padding0 generic_margin0 generic_height100 generic_noborder generic_width100 ddocumento-dlg-panel">
						<ui:include  src="../fascicoli/fascicoloManager.xhtml"><!-- FascicoloManagerBean --></ui:include>
					</p:panel>
				</p:outputPanel>
				<div class="buttonsDiv generic_textAlignRight">
					<p:commandButton widgetVar="closeDlgFascicolo" icon="fa fa-times" title="Chiudi" value="Chiudi" styleClass="uniqueCloseButton"
					 action="#{FascicoloManagerBean.closeDialog}" update="@(.dettaglioFascicoloForUpdatePurpose)" onclick="PF('dlgManageFascicolo_DF').hide();" />
				</div>
			
			</p:dialog>
			
			<!--========================================================== Visualizza Preview Dialog ==========================================================-->
			<p:dialog id="visualizzaDocEAllegati" widgetVar="dlgVisualizzaDocEAllegati" header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);"
				  resizable="false" closable="true" modal="true" appendTo="@form" onHide="PF('dlgVisualizzaDocEAllegati').toggleMaximize();onShowForClosableDlg('dlgVisualizzaDocEAllegati')">
				
				<p:outputPanel id="visualizzaDocEAllegati_opnl" styleClass="ui-g generic_height100 generic_maxHeight96" 
					rendered="#{(DocumentManagerBean.mainDocForSignFieldPreview ne null) or (fn:length(DocumentManagerBean.tabAllegati.allegati) gt 0)}">
					<custom:visualizzaFilesComponent bean="#{DocumentManagerBean.viewFilesPreview}" />
				</p:outputPanel>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocEAllegati').hide();" styleClass="uniqueCloseButton"></p:commandButton>
				</p:outputPanel>
			</p:dialog>
			
			<!--========================================================== Esito da Response Dialog ==========================================================-->
			<ui:include src="../documento/dlgEsitoCreaDocDaResponse.xhtml"/>
			<!--==================================== Dettaglio/Modifica/Creazione documento DIALOG -> END ====================================== -->
				
			<ui:include src="../fascicoli/dlgSpostaCopiaDocumento.xhtml"><!-- FascicoloManagerBean --></ui:include>
			<ui:include src="../fascicoli/dlgDocumentoInterno.xhtml"><!-- FascicoloManagerBean --></ui:include>
			<ui:include src="../fascicoli/dlgTitolario.xhtml"><!-- FascicoloManagerBean --></ui:include>
			
			<!--===================== DIALOG VISUALIZZAZIONE DOCUMENTI CONTRIBUTO ESTERNO ========================================-->
			<ui:include src="../documento/dlgVisualizzaDocContributoEst.xhtml"/>
			
			<!--===================== DIALOG INSERIMENTO/MODIFICA CONTRIBUTO ESTERNO =============================================-->
			<ui:include src="../documento/pnlDlgAggiungiModificaContributoEst.xhtml"/>
			
			<!-- ========== DIALOG TEMPLATE DOC USCITA ========== -->
			<ui:include src="../documento/dlgTemplateDocUscita.xhtml"/>
			
			<!-- ========== DIALOG TEMPLATE PREDISPONI (VISTO, OSSERVAZIONE, RICHIESTA INTEGRAZIONI) ========== -->
			<ui:include src="../documento/dlgTemplatePredisponi.xhtml"/>
		</h:form>

    </h:body>
</html>