<ui:composition template="/views/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="dContent">
		<div id="westSection" class="westSection hide">
            <a href="#centralSection"/>
            <h:form id="westSectionForm">
                <ui:insert name="westSectionContent"/>
            </h:form>
        </div>
		<div id="centralSection" class="centralSection generic_input60Templ generic_displayBlock generic_width100Imp" style="height: 100%; background: linear-gradient(to bottom,#d0e2f5 0%,#d4dee6 100%)!important;">
			<a href="#westSection"/>
			<div class="cenCont">
   				<h:form id="centralSectionForm" enctype="multipart/form-data">
					<ui:insert name="centralSectionContent"/>
				</h:form>
			</div>
		</div>
		<div id="eastSection" class="eastSection generic_input40Templ generic_displayBlock hide">
			<h:form id="eastSectionForm" styleClass="eastSectionForm" enctype="multipart/form-data">
				<p:outputPanel id="divEastSectionContent">
				</p:outputPanel>
			</h:form>	
		</div>	
	
	</ui:define>

</ui:composition>
