<ui:composition template="/views/template/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="dContent">

		<div id="westSection" class="westSection generic_nowidth hide" >
			<h:form id="westSectionForm">
			</h:form>
		</div>
		<div id="centralSection" class="centralSection generic_width100Imp generic_displayBlock" >
			<div class="cenCont">
   				<h:form id="centralSectionForm" enctype="multipart/form-data">
					<ui:insert name="centralSectionContent"/>
				</h:form>
			</div>
		</div>
		<div id="eastSection" class="eastSection generic_nowidth hide">
			<p:commandButton id="closeZoom" styleClass="eastSectionButton hideCloseZoom" icon="fa fa-arrows-alt" title="Modifica dimensione sezione destra" onclick="toogleZoomedForm();g_resize_all();" global="false"/>
			<h:form id="eastSectionForm" styleClass="eastSectionForm" enctype="multipart/form-data">
				<p:outputPanel id="divEastSectionContent">
				</p:outputPanel>
			</h:form>			    	
		</div>
	
	</ui:define>


</ui:composition>
