<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.web.enums.TileEnum" var="tileEnum" />
	<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu" />
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="nte" />
	<p:importEnum type="it.ibm.red.business.enums.StatoMailGUIEnum" var="statoMailEnum" />
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="dqe" />

	<script type="text/javascript">
        $(
        	function() {
        		setTitleMail();
        		//Funzione per rendere visibile l'elemento del vertical menu selezionato al caricamento.
        		if (#{SessionBean.activePageInfo.id == 43}) {
        			//Organigramma aperto
	        		$('.westSection').scrollTop($('#westSectionForm\\:idTabMain_LeftAside\\:idAccPanOrgUtente_VM').find('.ui-state-highlight').position().top);
        		} else if (#{SessionBean.activePageInfo.id == 8}) {
        			//Posta elettronica aperto
	        		$('.westSection').scrollTop($('#westSectionForm\\:idTabMain_LeftAside\\:idMenuLeftAside\\:idMenuMail').find('.ui-state-highlight').position().top);
        		} else if (#{SessionBean.activePageInfo.id == 21}) {
        			//Faldoni aperto
	        		$('.westSection').scrollTop($('#westSectionForm\\:idTabMain_LeftAside\\:idAccPanFaldoni_VM\\:treeFaldoni').find('.ui-state-highlight').position().top);
        		} else if (#{SessionBean.activePageInfo.id == 24}) {
        			//Fascicoli aperto
	        		$('.westSection').scrollTop($('#westSectionForm\\:idTabMain_LeftAside\\:idAccPanFascicoli_VM\\:treeIndici').find('.ui-state-highlight').position().top);
        		} 
			}
        );
	</script>
						
	<p:tabView id="idTabMain_LeftAside" activeIndex="#{SessionBean.activeIndexTabView}" scrollable="true" >
		<p:tab id="idTabCodeUtente" title="#{SessionBean.utente.cognome} #{SessionBean.utente.nome}" >
			<div class="generic_marginTop5"/>
			
			<p:accordionPanel widgetVar="acOrganigramma" activeIndex="#{SessionBean.activeIndexOrgMenu}" styleClass="org-scrivania" 
				onTabChange="handleAccordion(['acScrivania', 'acFaldoni','acFascicoli']); updateOrg(#{SessionBean.activePageInfo.id == 43}); hideCentralEastSection();" id="idAccPanOrgUtente_VM" 
				rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ORGANIGRAMMA) and SessionBean.preferenze.groupOrganigrama}" onTabShow="">
				<p:tab title="Organigramma">

					<script type="text/javascript">
					    function initDND() {
					        $('.draggableIcon').draggable({
					           scope: 'tabletotree',
					           helper: function() {
					               var icon = $(this);
									return icon.clone();
					           }
					        });
					
					        $('.droppablePoint').droppable({
					            helper: 'clone',
					            scope: 'tabletotree',
					            activeClass: 'ui-state-active',
					            hoverClass: 'ui-state-highlight',
					            tolerance: 'pointer',
					            drop: function(event, ui) {           
					            	var wob_number = $(ui.draggable[0]).find('p').text();
					            	var id_nodo = $(event.target).find('p').text();
					            	dndOrganigramma([{name: 'wob_number', value:  wob_number} , {name: 'id_nodo', value:  id_nodo}]);
					            }
					         });
					        
					    }
					    $(function() {
					        initDND();
					    });
					</script>
					<p:remoteCommand name="dndOrganigramma" oncomplete="initDND()" process="@this" action="#{ListaDocumentiBean.dndOrganigramma}"/>
					
					<p:commandButton id="btnOrgRefresh" icon="fa fa-refresh" styleClass="refresh-menu-button" action="#{SessionBean.loadOrgUtente}" update="westSectionForm:idTabMain_LeftAside:idAccPanOrgUtente_VM:idOrgUtente"/>
					<div class="ui-fluid">
			        	<p:tree value="#{SessionBean.root}" var="nodo" dynamic="true" selection="#{SessionBean.nodeSelected}" selectionMode="single" id="idOrgUtente" widgetVar="wdgRootOrg">
							<p:ajax event="select" listener="#{SessionBean.onSelectNode}" oncomplete="PF('statusDialog').show();"/>
							<p:ajax event="expand" listener="#{SessionBean.onOpenNode}"/>
									
							<p:treeNode type="ROOT" id="idRootOrg">
								<span class="fa fa-sitemap"/>
								<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
							</p:treeNode>
						
							<p:treeNode type="CODA" expandedIcon="ui-icon-folder-collapsed">
								<span class="fa fa-truck #{nodo.queue eq dqe.CORRIERE ? '' : 'hide'}"/>
								<span class="fa fa-truck #{nodo.queue eq dqe.CORRIERE_DIRETTO ? '' : 'hide'}"/>
								<span class="fa fa-truck #{nodo.queue eq dqe.CORRIERE_INDIRETTO ? '' : 'hide'}"/>
								<span class="fa fa-user #{nodo.queue eq dqe.ASSEGNATE ? '' : 'hide'}"/>
								<span class="fa fa-close #{nodo.queue eq dqe.CHIUSE ? '' : 'hide'}"/>
								<span class="fa fa-spinner #{nodo.queue eq dqe.GIRO_VISTI ? '' : 'hide'}"/>
								<span class="fa fa-road #{nodo.queue eq dqe.SPEDIZIONE ? '' : 'hide'}"/>
								<p:outputLabel value=" #{nodo.queue.displayName} (#{nodo.count})" rendered="#{nodo.count > 0}"/>
								<p:outputLabel value=" #{nodo.queue.displayName}" rendered="#{nodo.count eq 0}"/>
							</p:treeNode>
			
							<p:treeNode type="UFF">
								<div class="droppablePoint">
									<span class="fa fa-sitemap"/>
									<p:outputLabel value=" #{nodo.descrizioneNodo} #{nodo.nomeUtente} (#{nodo.countOrg})" rendered="#{nodo.countOrg > 0}"/>
									<p:outputLabel value=" #{nodo.descrizioneNodo} #{nodo.nomeUtente}" rendered="#{nodo.countOrg eq 0}"/>
									<p class="hide">#{nodo.idNodo}</p>
								</div>
							</p:treeNode>
							<p:treeNode type="USER">
								<div class="droppablePoint">
									<span class="fa fa-user-o"/>
									<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente} (#{nodo.countOrg})" rendered="#{nodo.countOrg > 0}"/>
									<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}" rendered="#{nodo.countOrg eq 0}"/>
									<p class="hide">#{nodo.idNodo}_#{nodo.idUtente}</p>
								</div>
							</p:treeNode>
						</p:tree>
						<p:commandButton id="btnCaricaUffici" styleClass="carica-menu-button" icon="#{SessionBean.iconOrganigramma}" value="#{SessionBean.caricaOrganigramma ? 'Nascondi strutture': 'Carica altre strutture'}" action="#{SessionBean.caricaUfficiBtn}"  update="btnCaricaUffici,westSectionForm:idTabMain_LeftAside:idAccPanOrgUtente_VM:idOrgUtente" rendered="#{SessionBean.nodiFigliExist}"/>
					 </div>
			       
		        </p:tab >
		       	
		  	</p:accordionPanel>
		   
			<p:remoteCommand process="idInputActiveIndexVerticalMenu_VM" update="idMenuLeftAside" name="refreshActiveIndex" async="true" global="true" oncomplete="PF('statusDialog').show();"/>
			<p:inputText value="#{SessionBean.activeIndexVerticalMenu}" widgetVar="wdgInputActiveIndexVerticalMenu_VM" id="idInputActiveIndexVerticalMenu_VM" type="hidden"/>
			<p:accordionPanel styleClass="org-scrivania" id="idMenuLeftAside" onTabChange="handleAccordion(['acOrganigramma', 'acFaldoni','acFascicoli']); hideCentralEastSection();" 
				widgetVar="acScrivania" activeIndex="#{SessionBean.activeIndexVerticalMenu}" >
				
				<p:ajax event="tabChange" listener="#{SessionBean.gestioneContatori}" update="idMenuMail"/>
				 
				<p:tab title="Attività" rendered="#{SessionBean.attivitaEnable}" id="idTabAttivita">
					<p:commandButton action="#{SessionBean.countMenuAttivita}" update="westSectionForm:idTabMain_LeftAside:idMenuLeftAside:idMenuAttivita" title="Ricarica Contatori" icon="fa fa-refresh" styleClass="refresh-menu-button"/>
					
					<p:menu id="idMenuAttivita" styleClass="mail-left-aside" toggleable="true">
						<p:submenu label="Scrivania" rendered="#{SessionBean.preferenze.groupScrivania}">
							<p:menuitem action="#{SessionBean.gotoDaLavorare}" rendered="#{not SessionBean.utente.ucb}" icon="fa fa-suitcase" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.DA_LAVORARE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Lavorare"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.daLavorare}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoDaLavorareUCB}" rendered="#{SessionBean.utente.ucb}" icon="fa fa-suitcase" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.DA_LAVORARE_UCB ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Lavorare"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.daLavorareUCB}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoInLavorazioneUCB}" rendered="#{SessionBean.utente.ucb}" icon="fa fa-wrench" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.IN_LAVORAZIONE_UCB ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Lavorazione"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.inLavorazioneUCB}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoInSospeso}" icon="fa fa-hourglass-half" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.IN_SOSPESO ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Sospeso"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.sospeso}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoStornati}" icon="fa fa-legal" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.STORNATI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Stornati"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.stornati}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoLibroFirma}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}" icon="fa fa-pencil-square-o" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.LIBROFIRMA ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Libro Firma"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.libroFirma}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoPreparazioneSpedizione}" rendered="#{SessionBean.utente.gestioneApplicativa}" icon="fa fa-pencil-square-o" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.PREPARAZIONE_ALLA_SPEDIZIONE ? 'selected-menu-item' : ''}">
								<p:outputLabel value="Preparazione alla Spedizione"/>
								<p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.preparazioneSpedizione}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoProcedimentiAttivi}" icon="fa fa-tasks" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.PROCEDIMENTI_ATTIVI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Procedimenti Attivi"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.procedimenti}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoInRichiamaDocumenti}" icon="fa fa-reply-all" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.RICHIAMA_DOCUMENTI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Richiama documenti"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.richiamaDocumenti}"/>
							</p:menuitem>
						</p:submenu>
						
						<p:submenu label="Archivio" rendered="#{SessionBean.preferenze.groupArchivio}">
							<p:menuitem action="#{SessionBean.gotoAtti}" icon="fa fa-archive" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.ATTI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Atti" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.atti}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoRisposta}" icon="fa fa-mail-forward"  oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.RISPOSTA ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Risposta"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.risposta}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoMozione}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MOZIONE)}" icon="fa fa-bank" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.MOZIONE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Mozione"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.mozione}"/>
							</p:menuitem>
						</p:submenu>
						
						<p:submenu label="Documenti cartacei" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUMENTI_CARTACEI)}">
							<p:menuitem action="#{SessionBean.gotoInAcquisizione}" icon="fa fa-file" oncomplete="PF('statusDialog').show();" 
								containerStyleClass="#{SessionBean.activePageInfo eq nte.IN_ACQUISIZIONE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Acquisizione"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.inAcquisizione}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoAcquisiti}" icon="fa fa-upload" oncomplete="PF('statusDialog').show();" 
								rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUMENTI_CARTACEI_ACQUISITI_ELIMINATI)}" 
								containerStyleClass="#{SessionBean.activePageInfo eq nte.ACQUISITI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Acquisiti"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.acquisiti}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoEliminati}" icon="fa fa-trash" oncomplete="PF('statusDialog').show();"
								rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUMENTI_CARTACEI_ACQUISITI_ELIMINATI)}" 
								containerStyleClass="#{SessionBean.activePageInfo eq nte.ELIMINATI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Eliminati"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.eliminati}"/>
							</p:menuitem>
						</p:submenu>
						
						<p:submenu label="#{SessionBean.utente.nodoDesc}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUUFFICIO) and SessionBean.preferenze.groupUfficio}">
							<p:menuitem action="#{SessionBean.gotoCorriere}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and not (SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta)}" icon="fa fa-truck" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.CORRIERE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Corriere"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.corriere}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoCorriereDiretto}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}" icon="fa fa-truck" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.CORRIERE_DIRETTO ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Corriere"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.corrierediretto}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoCorriereIndiretto}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}" icon="fa fa-truck" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.CORRIERE_INDIRETTO ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Assegnare"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.corriereindiretto}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoAssegnate}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.ASSEGNATE)}" icon="fa fa-user" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.ASSEGNATE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Assegnate"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.assegnate}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoChiuse}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CHIUSE)}" icon="fa fa-close" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.CHIUSE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Chiuse"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.chiuse}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoGiroVisti}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.GIROVISTI)}" icon="fa fa-spinner" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.GIRO_VISTI ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Al Giro Visti"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.giroVisti}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoInSpedizione}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.SPEDIZIONE)}" icon="fa fa-road" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.IN_SPEDIZIONE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Spedizione"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.spedizione}"> <span style="color: red" title="Spedizioni in errore"> (#{SessionBean.count.spedizioneErrore})</span> </p:outputLabel>
							</p:menuitem>
						</p:submenu>
						
						<p:submenu label="#{SessionBean.dirigenteDelegante}" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMADELEGATO)}" >
							<p:menuitem action="#{SessionBean.gotoLibroFirmaDelegato}" icon="fa fa-pencil-square-o" oncomplete="PF('statusDialog').show();"  containerStyleClass="#{SessionBean.activePageInfo eq nte.LIBRO_FIRMA_DELEGATO ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Libro Firma"/>
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.count.libroFirmaDelegato}"/>
							</p:menuitem>
						</p:submenu>
					</p:menu>
					
				</p:tab>
				
				<p:tab id="idTabMail" title="Posta Elettronica" rendered="#{(SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MAIL) and SessionBean.preferenze.groupMail) or SessionBean.activePageInfo eq nte.MAIL or SessionBean.utente.gestioneApplicativa}" >
					<p:commandButton action="#{SessionBean.createSubMenuMail}" title="Ricarica Contatori" icon="fa fa-refresh" update="westSectionForm:idTabMain_LeftAside:idMenuLeftAside:idMenuMail" styleClass="refresh-menu-button"/>
					<!-- #{(SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MAIL) and SessionBean.preferenze.groupMail) or SessionBean.activePageInfo eq nte.MAIL} -->
					<p:menu id="idMenuMail" model="#{SessionBean.menuCasellePosta}" styleClass="mail-left-aside" toggleable="true" tabindex="-0" >
					</p:menu>
					<!-- Creato Programmaticamente al momento del Login -->
		        </p:tab>
		        
				<p:tab id="idTabFepa" title="Fatturazione Elettronica" rendered="#{(SessionBean.preferenze.groupFatElettronica and SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MENUFEPA)) or SessionBean.utente.gestioneApplicativa}">
					<p:commandButton action="#{SessionBean.countMenuFepa}" update="idMenuFepa" title="Ricarica Contatori" icon="fa fa-refresh" styleClass="refresh-menu-button"/>
					
					<p:menu id="idMenuFepa" toggleable="true" styleClass="mail-left-aside" tabindex="-0">
						<p:submenu label="Fatture" expanded="true" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE) and not SessionBean.utente.gestioneApplicativa}"  >
							<p:menuitem action="#{SessionBean.gotoFattureDaLavorare}" icon="fa fa-suitcase" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" oncomplete="PF('statusDialog').show();"  containerStyleClass="#{SessionBean.activePageInfo eq nte.FATTURE_DA_LAVORARE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Lavorare" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.daLavorareFatt}" />
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoFattureInLavorazione}" icon="fa fa-file-o" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.FATTURE)}" oncomplete="PF('statusDialog').show();"  containerStyleClass="#{SessionBean.activePageInfo eq nte.FATTURE_IN_LAVORAZIONE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Lavorazione" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.lavorazioneFatt}" />
							</p:menuitem>
						</p:submenu>
						<p:submenu label="Decreti Dirigenziali" expanded="true" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) or SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE) or SessionBean.utente.gestioneApplicativa}" >
							<p:menuitem action="#{SessionBean.gotoDecretiDaLavorare}" icon="fa fa-suitcase" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) and not SessionBean.utente.gestioneApplicativa}" oncomplete="PF('statusDialog').show();"  containerStyleClass="#{SessionBean.activePageInfo eq nte.DD_DA_LAVORARE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Lavorare" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.daLavorareDD}" />
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoDecretiInFirma}" icon="fa fa-pencil-square-o" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) and not SessionBean.utente.gestioneApplicativa}" oncomplete="PF('statusDialog').show();"  containerStyleClass="#{SessionBean.activePageInfo eq nte.DD_IN_FIRMA ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="In Firma" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.firmaDD}" />
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoPreparazioneSpedizioneFepa}" icon="fa fa-pencil-square-o" rendered="#{SessionBean.utente.gestioneApplicativa}" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.PREPARAZIONE_ALLA_SPEDIZIONE_FEPA ? 'selected-menu-item' : ''}">
								<p:outputLabel value="Preparazione alla Spedizione"/>
								<p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.preparazioneSpedizione}"/>
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoDecretiDaFirmare}" icon="fa fa-pencil-square-o" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE) and not SessionBean.utente.gestioneApplicativa}" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.DD_DA_FIRMARE ? 'selected-menu-item' : ''}">
					            <p:outputLabel value="Da Firmare" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.daFirmareDD}" />
							</p:menuitem>
							<p:menuitem action="#{SessionBean.gotoDecretiFirmati}" icon="fa fa-check-square-o" rendered="#{(SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI) or SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DECRETI_DIRIGENTE)) and not SessionBean.utente.gestioneApplicativa}" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.DD_FIRMATI ? 'selected-menu-item' : ''}" >
					            <p:outputLabel value="Firmati" />
					            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.firmatiDD}" />
							</p:menuitem>
						</p:submenu>
						<p:separator />
						<p:separator />
						<p:menuitem action="#{SessionBean.gotoDSR}" icon="fa fa-list-ul" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DSR)}" oncomplete="PF('statusDialog').show();" containerStyleClass="#{SessionBean.activePageInfo eq nte.DSR ? 'selected-menu-item' : ''}">
				            <p:outputLabel value="DSR" styleClass="font-bold" />
				            <p:outputLabel styleClass="menuCounter" value="#{SessionBean.countFepa.dsr}" />
						</p:menuitem>
					</p:menu>	
					<!-- Da completare con le altre code -->
					
		        </p:tab>
		        
		    </p:accordionPanel>
		    
		    <p:accordionPanel id="idAccPanFaldoni_VM"  widgetVar="acFaldoni" activeIndex="#{SessionBean.activeIndexFaldoni}" styleClass="fald-eastsection"
	    					  onTabShow="handleAccordion(['acOrganigramma', 'acScrivania', 'acFascicoli']); hideCentralEastSection();" 
	    					  rendered="#{ not SessionBean.utente.gestioneApplicativa }">
		    	
		    	<p:ajax event="tabChange" listener="#{SessionBean.gestioneContatori}" update="westSectionForm:idTabMain_LeftAside:idAccPanFaldoni_VM:treeFaldoni, westSectionForm:idTabMain_LeftAside:idAccPanFaldoni_VM:idPnlFaldoni"/>
		    	
		    	<p:tab id="idTabFald" title="Faldoni"  >
			    	<p:outputPanel id="idPnlFaldoni" styleClass="generic_margin0 generic_padding0"  >
				    	<div id="idDivFaldEastSection_VMFald" >
							<p:commandButton value="Ricerca fascicoli" icon="fa fa-folder" action="#{SessionBean.gotoFaldoni}" oncomplete="PF('statusDialog').show();"/>
							
						    <p:tree id="treeFaldoni" value="#{SessionBean.rootFald}" var="element" selectionMode="single" selection="#{SessionBean.selectedNode}" dynamic="true" 
						    	styleClass="fald-tree"> 
						    	<p:ajax event="select" listener="#{SessionBean.faldoneSelectGotoPage}" />
						        <p:ajax event="expand" listener="#{SessionBean.onNodeExpand}"/>
					       
						        <p:treeNode type="dummy"/>
						        <p:treeNode type="ufficio" icon="ui-icon-person">
						            <h:outputText value="#{element.name}" title="#{element.descrizione}"/>
						        </p:treeNode>
						        <p:treeNode type="ufficioNoMenu" icon="ui-icon-person">
						            <h:outputText value="#{element.name}" title="#{element.descrizione}"/>
						        </p:treeNode>
						        <p:treeNode type="faldone" expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed" >
						            <h:outputText value="#{element.name}" title="#{(element.name ne null and element.name ne '') ? 'Ogg.: '.concat(element.name):''}#{(element.descrizione ne null and element.descrizione ne '') ? '&#10;Descr.: '.concat(element.descrizione):''}"/>
						        </p:treeNode>
						         <p:treeNode type="faldoneNoMenu" expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed" >
						            <h:outputText value="#{element.name}" title="#{(element.name ne null and element.name ne '') ? 'Ogg.: '.concat(element.name):''}#{(element.descrizione ne null and element.descrizione ne '') ? '&#10;Descr.: '.concat(element.descrizione):''}"/>
						        </p:treeNode>
						        <p:treeNode>
						            <h:outputText value="#{element.name}" title="#{element.descrizione}"/>
						        </p:treeNode>
						    </p:tree>
						</div>
					    
						<p:contextMenu for="treeFaldoni" nodeType="faldone" rendered="#{SessionBean.rootFald != null}" >
					        <p:menuitem value="Crea" icon="fa fa-plus" action="#{SessionBean.setupDialog('C')}" onclick="PF('dlgFaldonatura_WV').show()" />
					        <p:menuitem value="Modifica" icon="fa fa-edit" action="#{SessionBean.setupDialog('U')}" onclick="PF('dlgFaldonatura_WV').show()" />
					        <p:menuitem value="Elimina" icon="fa fa-close" action="#{SessionBean.setupDialog('D')}" onclick="PF('dlgFaldonatura_WV').show()" />
					    </p:contextMenu>
						<p:contextMenu for="treeFaldoni" nodeType="root" rendered="#{SessionBean.rootFald != null}" >
					        <p:menuitem value="Crea" icon="fa fa-plus" action="#{SessionBean.setupDialog('C')}" onclick="PF('dlgFaldonatura_WV').show()" />
					    </p:contextMenu>
						<p:contextMenu for="treeFaldoni" nodeType="ufficio" rendered="#{SessionBean.rootFald != null}" >
					        <p:menuitem value="Crea" icon="fa fa-plus" action="#{SessionBean.setupDialog('C')}" onclick="PF('dlgFaldonatura_WV').show()" />
					    </p:contextMenu>
			    	</p:outputPanel>
		    	</p:tab>
		    	
		    	
		    	
		    </p:accordionPanel>
		   
		   <!-- Classificazione Fascicoli -->
		    <p:accordionPanel id="idAccPanFascicoli_VM"  widgetVar="acFascicoli"  activeIndex="#{SessionBean.activeIndexFascicoli}"
		    	onTabShow="handleAccordion(['acOrganigramma', 'acScrivania', 'acFaldoni']); hideCentralEastSection();" styleClass="fald-eastsection" 
		    	rendered="#{ not SessionBean.utente.gestioneApplicativa }" >
		    	
		    	<p:ajax event="tabChange" listener="#{SessionBean.gestioneContatori}" update="idBtnNC"/>
		    	
		    	<p:tab id="idTabFasc" title="Classificazione Fascicoli"  >
    		  		<p:outputPanel styleClass="generic_overflowX" id="idOutSX_Fas" rendered="true" >
			  			<p:commandButton id="idBtnNC" value="Non classificati (#{SessionBean.counterNumeroNonClassificati})" icon="fa fa-folder"  
			  				action="#{SessionBean.loadFascicoliNC}" styleClass="dettaglioFascicoloForUpdatePurpose" oncomplete="$('.ui-treenode-selected').addClass('ui-treenode-unselected').removeClass('ui-treenode-selected');"
			  				update="@this, idOutSX_Fas" onsuccess="PF('statusDialog').show();"/>
						<p:tree id="treeIndici" value="#{SessionBean.rootTitolario}" var="element" widgetVar="wdgTreeIndici_Fas"
							selectionMode="single" dynamic="true" styleClass="generic_input99 generic_noborder" draggable="false" droppable="true" dragdropScope="demo" >
							
							<p:ajax event="expand" listener="#{SessionBean.onTitolarioNodeExpand}" update="@this" />
							<p:ajax event="dragdrop" />
							<p:ajax event="select" listener="#{SessionBean.titolarioSelectGotoPage}" />
			
							<p:treeNode >
								<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em" alt="icona per indice classificazione" title="indice classificazione"  />
								<h:outputText value="#{element.indiceClassificazione} - " />
								<h:outputText value="#{fn:length(element.descrizione) gt 27?fn:substring(element.descrizione,0,24).concat('...'):element.descrizione}" title="#{element.indiceClassificazione} - #{element.descrizione}" />
							</p:treeNode>
						</p:tree>
			
					</p:outputPanel>
				</p:tab>
			</p:accordionPanel>
			
			
		</p:tab>
		
		<!-- I due tab per le azioni Massive vengono gestiti in modo separato per non andare in conflitto tra di loro -->
		<p:tab id="idTabAzioniMassive" title="Azioni Massive"  titletip="Azioni Massive Documenti" rendered="#{SessionBean.activePageInfo.token eq 'coda_tok'}" disabled="#{empty ListaDocumentiBean.responsesMulti}"> <!-- 'rendered' e 'disabled' possono coesistere. ListaDocumentiBean non parte se il rendered è a false -->
			<div class="generic_marginTop5"/>
			<p:dataGrid id="responsePanelLeftMenu" rendered="true" value="#{ListaDocumentiBean.responsesMulti}" var="response" columns="1" layout="grid" styleClass="generic_noborder_andson, generic_no_background" emptyMessage="Non sono presenti azioni comuni per i documenti selezionati">
				<p:commandButton value="#{response.displayName}" action="#{ListaDocumentiBean.goToExecute(response)}" icon="#{response.icon}" styleClass="generic_width100" update="centralSectionForm:idDlgGeneric" disabled="#{SessionBean.utente.gestioneApplicativa and not (SessionBean.activePageInfo eq nte.PREPARAZIONE_ALLA_SPEDIZIONE or SessionBean.activePageInfo eq nte.PREPARAZIONE_ALLA_SPEDIZIONE_FEPA)}"/> 
			</p:dataGrid>
			<p:outputPanel rendered="#{not empty ListaDocumentiBean.responsesIssue}" >
				<span class="fa fa-warning" title="E' stata caricata una o piu response non Censite dall'applicativo (#{ListaDocumentiBean.responsesIssue})"/>
			</p:outputPanel>
		</p:tab>

		<p:tab id="idTabAzioniMassiveMail" titletip="Azioni Massive Mail" title="Azioni Massive" rendered="#{SessionBean.activePageInfo.token eq 'mail_tok'}" disabled="#{empty MailBean.mailDTH.selectedMasters}"> <!-- 'rendered' e 'disabled' possono coesistere. MailBean non parte se il rendered è a false -->
			<p:panelGrid id="idSingleActionPanelInArrivo" columns="1" layout="grid" cellpadding="5" rendered="#{(fn:length(MailBean.mailDTH.selectedMasters) eq 1) and (statoMailEnum.INARRIVO.value eq MailBean.selectedState)}" >
				<p:commandButton value="Inserisci Nota" icon="fa fa-edit" action="#{MailBean.inizializzaNota('true')}" oncomplete="PF('inserisciNotaMultiDlg_WV').show()" title="Aggiorna Nota"  update="centralSectionForm,centralSectionForm:inserisciNotaMultiDlg" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Inoltra" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltroMng('true')}" oncomplete="PF('inoltraDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraPnl, eastSectionForm:testoDelMessaggioPnl, eastSectionForm:opzioniInoltro" styleClass="generic_width100" rendered="#{MailBean.abilitazioneInoltra}" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Rifiuta" icon="fa fa-ban" actionListener="#{MailBean.rifiutaMng('true')}" oncomplete="PF('rifiutaDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:rifiutaPnl, eastSectionForm:testoMailPnl, eastSectionForm:motivoRifiutoPnl, eastSectionForm:motivoRifiuto, eastSectionForm:aggiungiContattoDlg, eastSectionForm:rifiutaDlg" styleClass="generic_width100" rendered="#{MailBean.abilitazioneRifiuta}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				<p:commandButton value="Inoltra con firma" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltraConProtocolloMng('true')}" oncomplete="PF('inoltraProtDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraProtScrollPnl, eastSectionForm:opzioniInoltro" styleClass="generic_width100" rendered="#{MailBean.abilitazioneInoltraConProtocollo}" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Rifiuta con firma" icon="fa fa-ban" actionListener="#{MailBean.rifiutaConProtocolloMng('true')}" oncomplete="PF('rifiutaProtDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:motivoRifiutoPnl, eastSectionForm:motivoRifiuto, eastSectionForm:rifiutaDlg" styleClass="generic_width100" rendered="#{MailBean.abilitazioneRifiutaConProtocollo}" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Elimina" icon="fa fa-trash" onclick="PF('eliminaMailMultiDlg_WV').show()" title="Elimina e-mail selezionate" type="button"	styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Protocolla" icon="fa fa-file-powerpoint-o" actionListener="#{MailBean.clickOnProtocollaButton('true')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Protocolla DSR" icon="fa fa-file-powerpoint-o" actionListener="#{MailBean.clickOnProtocollaDsrButton('true')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla" styleClass="generic_width100" rendered="#{MailBean.permessoProtocollaDSR}" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Ispeziona Mail" icon="fa fa-eye" actionListener="#{MailBean.clickOnIspezionaMail('true')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla, eastSectionForm:contattiProtocollaTbl_Pnl" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
			</p:panelGrid>

			<p:panelGrid id="idMultiActionPanelInArrivo" columns="1" layout="grid" cellpadding="5"  rendered="#{(fn:length(MailBean.mailDTH.selectedMasters) gt 1) and (statoMailEnum.INARRIVO.value eq MailBean.selectedState)}">
				<p:commandButton value="Inserisci Nota" icon="fa fa-edit" action="#{MailBean.inizializzaNota('true')}" oncomplete="PF('inserisciNotaMultiDlg_WV').show()" title="Aggiorna Nota"  update="centralSectionForm:inserisciNotaMultiDlg" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				<p:commandButton value="Elimina" icon="fa fa-trash" onclick="PF('eliminaMailMultiDlg_WV').show()" title="Elimina e-mail selezionate" type="button" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
			</p:panelGrid>

			<p:panelGrid id="idMultiActionPanelEliminate" columns="1" layout="grid" cellpadding="5"  rendered="#{(not empty MailBean.mailDTH.selectedMasters) and (statoMailEnum.ELIMINATA.value eq MailBean.selectedState)}">
				<p:commandButton value="Ripristina" icon="fa fa-edit" actionListener="#{MailBean.multiRipristina}" update="centralSectionForm, centralSectionForm:filtriPnl, eastSectionForm, westSectionForm:idTabMain_LeftAside" styleClass="generic_width100" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
			</p:panelGrid>
		</p:tab>
	</p:tabView>
	
	<ui:include src="../faldoni/dlgFaldonatura.xhtml"/>
	
</ui:composition>