<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>

</h:head>



<h:body>


<h2> Benvenuto #{userName}!!! </h2>

<p> #{userName}, ti ricordiamo che la tua email è  #{LaTuaEmail} e la tua password è #{LaTuaPassword} </p>

</h:body>



</html>
