<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>

<title>La tua età!</title>
</h:head>

<h:body>

<h:form>
<h:inputText id="inputEta" value="#{laTuaEta}" pt:placeholder="Insert here"></h:inputText>
<h:commandButton  value="submit" action="eta"></h:commandButton>




</h:form>

</h:body>

</html>
