<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>



Nome: #{student.name}

<br></br>
<br></br>

Cognome: #{student.surname}

<br></br>
<br></br>
Email: #{student.email}

<br></br>
<br></br>

Genere musicale preferito: #{student.genereMusicale}


</h:body>
</html>
