<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	
	<p:outputPanel id="idDettaglioFaldone_DFR" class="ui-g generic_padding0 generic_margin0 generic_height100">
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0 generic_height100" rendered="#{DettaglioFaldoneRicercaBean.faldoneCmp.detail != null}" >
			
			<dd:dettaglioFaldoneComponent faldoneCmp="#{DettaglioFaldoneRicercaBean.faldoneCmp}" />
				
		</p:outputPanel>
		
	</p:outputPanel>
	

</ui:composition>