<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

   	<p:dialog widgetVar="dlgFaldonatura_WV" header="Gestione Faldone" resizable="false" modal="true" closable="true" 
   		id="idDlgFaldonatura_WV" draggable="false"
   		appendTo="@form" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgFaldonatura_WV')">
    	<p:panel id="dlgFaldonaturaPnl" class="generic_noborder generic_width350px">
    		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
    			<h:outputText value="#{FaldonaturaBean.mode.displayName}" styleClass="generic_textBold"/>
    		</p:panelGrid>
			<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
				<p:outputLabel value="Faldone Padre" styleClass="generic_textBold" rendered="#{FaldonaturaBean.faldonePadre ne null and fn:length(FaldonaturaBean.faldonePadre) gt 0}"/>  
				<p:inputText value="#{FaldonaturaBean.faldonePadre}" readonly="true" disabled="#{fn:length(FaldonaturaBean.faldonePadre) eq null or fn:length(FaldonaturaBean.faldonePadre) eq 0}" styleClass="generic_width96" rendered="#{FaldonaturaBean.faldonePadre ne null and fn:length(FaldonaturaBean.faldonePadre) gt 0}" />
				
				<p:outputPanel styleClass="">
					<p:outputLabel value="Oggetto" styleClass="generic_textBold"  />
					<p:outputLabel value="*" styleClass="generic_redStar generic_textBold"  />
				</p:outputPanel>
				<p:inputText value="#{FaldonaturaBean.faldoneOggetto}" readonly="true" styleClass="generic_width96 obbligatorio-readonly" rendered="#{FaldonaturaBean.mode.type == 'D'}"/>
				<p:inputText value="#{FaldonaturaBean.faldoneOggetto}" styleClass="generic_width96 obbligatorio" rendered="#{FaldonaturaBean.mode.type != 'D'}"/>

				<p:outputLabel value="Descrizione" styleClass="generic_textBold"  />  
				<p:inputTextarea value="#{FaldonaturaBean.faldoneDescrizione}" rows="3" readonly="true" styleClass="generic_width96" rendered="#{FaldonaturaBean.mode.type == 'D'}"/>
				<p:inputTextarea value="#{FaldonaturaBean.faldoneDescrizione}" rows="3" styleClass="generic_width96" rendered="#{FaldonaturaBean.mode.type != 'D'}"/>
				
				
		        <p:outputLabel rendered="#{FaldonaturaBean.mode.type eq 'C'}" value="Nel caso di oggetto duplicato proseguire con la creazione" />
		        <p:outputLabel rendered="#{FaldonaturaBean.mode.type eq 'U'}" value="Nel caso di oggetto duplicato proseguire con la modifica" />
		        <p:selectBooleanCheckbox rendered="#{FaldonaturaBean.mode.type eq 'U' or FaldonaturaBean.mode.type eq 'C'}" value="#{FaldonaturaBean.canBeDuplicate}">
		        </p:selectBooleanCheckbox>

			</p:panelGrid>
			<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:commandButton icon="fa fa-pencil" value="Registra" rendered="#{FaldonaturaBean.mode.type eq 'C'}" action="#{FaldonaturaBean.creaFaldone}"  styleClass="generic_width100"
					update="westSectionForm:idTabMain_LeftAside:idAccPanFaldoni_VM:treeFaldoni"/>
				<p:commandButton icon="fa fa-pencil" value="Registra" rendered="#{FaldonaturaBean.mode.type eq 'U'}" action="#{FaldonaturaBean.modificaFaldone}"  styleClass="generic_width100"
					update="westSectionForm:idTabMain_LeftAside:idAccPanFaldoni_VM:treeFaldoni"/>
				<p:commandButton icon="fa fa-pencil" value="Registra" rendered="#{FaldonaturaBean.mode.type eq 'D'}" action="#{FaldonaturaBean.eliminaFaldone}"  styleClass="generic_width100"
					onclick="PF('dlgFaldonatura_WV').hide()" update="westSectionForm:idTabMain_LeftAside:idAccPanFaldoni_VM:treeFaldoni"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('dlgFaldonatura_WV').hide()" type="button" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>
    	</p:panel>
	</p:dialog>

</ui:composition>