<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

	<ui:define name="westSectionContent">

		<ui:include src="../template/verticalMenu.xhtml"/>
		
	</ui:define>

	<ui:define name="centralSectionContent">
	
		<p:outputPanel  id="idLabelFaldoni_Fald">
			<h3 class="fald-h3">
				<h:outputText value="Faldone: #{FaldoniBean.nomeFaldoneSelected}" rendered="#{!FaldoniBean.modalitaRicercaFascicoli and (FaldoniBean.selectedNode.type ne 'ufficio' and FaldoniBean.selectedNode.type ne 'ufficioNoMenu')}"/>
				<h:outputText value="Ricerca Fascicoli" rendered="#{FaldoniBean.modalitaRicercaFascicoli}"/>
			</h3>
		</p:outputPanel>
		
		<p:outputPanel id="idContainerFaldoniEricercaFascicoli" styleClass="fald-container-ric-e-fascicoli">
			
			<p:panel id="idRicFascicoli_Fald" class="generic_noborder ui-g" rendered="#{FaldoniBean.modalitaRicercaFascicoli}" >
				<div class="ui-g-12 generic_padding0">
					<p:outputPanel class="ui-g-5" >
						<p:outputLabel value="Numero" styleClass="generic_displayBlock generic_marginBottom05" />
						<p:inputText value="#{FaldoniBean.parametri.numeroFascicolo}" styleClass="" />
					</p:outputPanel>
					<div class="ui-g-4">
						<p:outputLabel value="Stato" styleClass="generic_displayBlock generic_marginBottom05"  />
						<p:selectOneMenu styleClass="" value="#{FaldoniBean.parametri.statoFascicolo}"  >
							<f:selectItem itemValue="" itemLabel="Tutti" />
							<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.APERTO}" itemLabel="Aperto" />
							<f:selectItem itemValue="#{FilenetStatoFascicoloEnum.CHIUSO}" itemLabel="Chiuso" />
						</p:selectOneMenu>
					</div>
					<div class="ui-g-3 ui-fluid">
						<p:outputLabel value="Faldonato"  styleClass="generic_displayBlock generic_marginBottom05" />
						<p:selectOneMenu styleClass="" value="#{FaldoniBean.parametri.faldonato}"  >
							<f:selectItem itemValue="#{false}" itemLabel="Non faldonati" />
							<f:selectItem itemValue="#{true}" itemLabel="Faldonati" />
							<f:selectItem itemValue="#{null}" itemLabel="Tutti" />
						</p:selectOneMenu>
					</div>
				</div>
					
				<div class="ui-g-12 generic_padding0">
					<div class="ui-g-5">
						<p:outputLabel value="Data creazione da" styleClass="generic_displayBlock generic_marginBottom05"  />
						<p:calendar navigator="true" value="#{FaldoniBean.parametri.dataCreazioneDa}" showOn="button" pattern="dd/MM/yyyy" />
					</div>
					<div class="ui-g-4 ">
						<p:outputLabel value="Data creazione a"  styleClass="generic_displayBlock generic_marginBottom05" />
						<p:calendar navigator="true" value="#{FaldoniBean.parametri.dataCreazioneA}" showOn="button" pattern="dd/MM/yyyy" />
					</div>
					<div class="ui-g-3 ui-fluid">
						<p:outputLabel value="Anno" />
						<p:inputMask value="#{FaldoniBean.parametri.annoFascicolo}" mask="9999" styleClass="" />
					</div>
				</div>
				<div class="ui-g-12 generic_padding0">
					<div class="ui-g-12  ui-fluid">
						<p:outputLabel value="Descrizione"  styleClass="generic_displayBlock generic_marginBottom05" />
						<p:inputText value="#{FaldoniBean.parametri.descrizioneFascicolo}" styleClass=""/>
					</div>
				</div>
					
				<div class="ui-g-12 generic_textAlignCenter generic_marginTop" >
					<p:commandButton value="Cerca" action="#{FaldoniBean.ricercaFascicoli}"  ajax="true" 
						update="@form:idDivRisultatiFaldoni_Fald, eastSectionForm:idDettaglioDoc" type="submit"/>
				</div>
				
				<p:outputPanel styleClass="ui-g-12 " id="idDivRisultatiFaldoni_Fald" >
					<p:dataTable widgetVar="wdgRisFascicoli_Fald" id="idRisFascicoli_Fald" var="fascicolo" 
						value="#{FaldoniBean.fascicoliRicerca.masters}" rowKey="#{fascicolo.nomeDocumento}" 
						styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" 
						selection="#{FaldoniBean.fascicoliRicerca.currentMaster}" rowIndexVar="index" selectionMode="single"
				 		sortMode="multiple" emptyMessage="Nessun risultato trovato" paginatorAlwaysVisible="true"
				 		rendered="#{fn:length(FaldoniBean.fascicoliRicerca.masters) > 0}">  
						
				        <f:facet name="header">
				            Fascicoli
				        </f:facet>
						
						<p:ajax event="rowSelect" listener="#{FaldoniBean.fascicoloSelector}" update="eastSectionForm:idDettaglioDoc, @this" />
 						<p:ajax event="filter" listener="#{FaldoniBean.unsetAllDetail()}" update="eastSectionForm:idDettaglioDoc, idRisFascicoli_Fald" />
						<p:ajax event="sort" listener="#{FaldoniBean.unsetAllDetail()}" update="eastSectionForm:idDettaglioDoc, idRisFascicoli_Fald" />

				        <p:column styleClass="generic_width16px generic_textAlignCenter">
					        <f:facet name="header">
								<span class="fa fa-check-square-o datatable-select-allCol #{!FaldoniBean.fascicoliDTH.checkAll?'hide':''}" onclick="updateAllCheckBoxRicerca()" title="Deseleziona tutti"/>
								<span class="fa fa-square-o datatable-select-allCol #{FaldoniBean.fascicoliDTH.checkAll?'hide':''}"  onclick="updateAllCheckBoxRicerca()" title="Seleziona tutti"/>
								<p:remoteCommand actionListener="#{FaldoniBean.handleAllCheckBoxRicerca}" name="updateAllCheckBoxRicerca" update="idRisFascicoli_Fald" />
				            </f:facet>
					  		<p:selectBooleanCheckbox id="chk_mailInbox" title="#{fascicolo.selected?'Deseleziona':'Seleziona'}" value="#{fascicolo.selected}" >
						  		<p:ajax event="change" listener="#{FaldoniBean.updateCheckRicerca}" update="@this"/>
					  		</p:selectBooleanCheckbox>
				 		</p:column>
						<p:column headerText="Descrizione" sortBy="#{fascicolo.descrizione}" filterBy="#{fascicolo.nomeDocumento} #{fascicolo.anno} #{fascicolo.descrizione}" filterMatchMode="contains"  
							>
							<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Visualizza fascicolo"
					 					 oncomplete="PF('dlgManageFascicolo_DF').show();" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
					 					 action="#{DettaglioFascicoloRicercaBean.openDialogFascicolo}"  process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
  		 								 disabled="#{fascicolo.documentTitle ne DettaglioFascicoloRicercaBean.fascicoloCmp.detail.documentTitle}">
  		 					</p:commandButton>
							<h:outputText value="#{fascicolo.nomeDocumento}_#{fascicolo.anno}" />
							<h:outputText value="_" />
							<h:outputText value="#{FaldoniBean.getShortColumn(fascicolo.descrizione, 150)}" title="#{fascicolo.descrizione}"/>
							
							
							
						</p:column>
						     
						<p:column headerText="Creazione" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains"  
							styleClass="generic_textAlignCenter fald-column-data">
							<p:outputLabel value="#{fascicolo.dataCreazione}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
						</p:column>
					</p:dataTable>
					
					<p:commandButton value="Faldona" icon="fa fa-folder-open" ajax="true" action="#{FaldoniBean.apriFaldonaFascicolo}"
						update="idDlgFaldonatura_Fald" rendered="#{fn:length(FaldoniBean.fascicoliRicerca.masters) > 0}" />
				</p:outputPanel>
			</p:panel>
			

			<p:panel id="fascicoliPnl" class="generic_noborder" rendered="#{FaldoniBean.modalitaRicercaFascicoli == false and (FaldoniBean.selectedNode.type ne 'ufficio' and FaldoniBean.selectedNode.type ne 'ufficioNoMenu')}">
				<h:outputText rendered="#{fn:length(FaldoniBean.fascicoliDTH.masters)==0 and FaldoniBean.selectedNode!=NULL}" value="Il faldone #{FaldoniBean.selectedNode.data.name} non contiene alcun fascicolo."/>
				<h:outputText rendered="#{fn:length(FaldoniBean.fascicoliDTH.masters)==0 and FaldoniBean.selectedNode==NULL}" value="Nessun faldone selezionato."/>
			
				<p:dataTable 	paginator="true" rows="20" paginatorPosition="bottom" rowsPerPageTemplate="20,30,40" rendered="#{fn:length(FaldoniBean.fascicoliDTH.masters)>0}"
								paginatorTemplate="TOT : #{fn:length(FaldoniBean.fascicoliDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								id="fascicoli" emptyMessage="Nessun Fascicolo Presente" widgetVar="fascicoliDT" var="fascicolo" rowKey="#{fascicolo.id}" 
								value="#{FaldoniBean.fascicoliDTH.masters}" selection="#{FaldoniBean.fascicoliDTH.currentMaster}" selectionMode="single" 
								sortMode="multiple" >
					<p:ajax event="rowToggle" listener="#{FaldoniBean.onRowToggle}" update="@this" /> 
					<p:ajax event="rowSelect" listener="#{FaldoniBean.fascicoloMasterSelector}" update="eastSectionForm:idDettaglioDoc, @this" />
					
					<p:ajax event="filter" listener="#{FaldoniBean.unsetAllDetail()}" update="eastSectionForm:idDettaglioDoc, fascicoli" />
					<p:ajax event="sort" listener="#{FaldoniBean.unsetAllDetail()}" update="eastSectionForm:idDettaglioDoc, fascicoli" />
					
				<p:column styleClass="generic_width16px generic_textAlignCenter">
					<f:facet name="header">
						<span class="fa fa-check-square-o datatable-select-allCol #{!FaldoniBean.fascicoliDTH.checkAll?'hide':''}" onclick="updateAllCheckBox()" title="Deseleziona tutti"/>
						<span class="fa fa-square-o datatable-select-allCol #{FaldoniBean.fascicoliDTH.checkAll?'hide':''}"  onclick="updateAllCheckBox()" title="Seleziona tutti"/>
						<p:remoteCommand actionListener="#{FaldoniBean.handleAllCheckBox}" name="updateAllCheckBox" update="fascicoli" />
		            </f:facet>
			  		<p:selectBooleanCheckbox id="chk_mailInbox" title="#{fascicolo.selected?'Deseleziona':'Seleziona'}" value="#{fascicolo.selected}" >
				  		<p:ajax event="change" listener="#{FaldoniBean.updateCheck}" update="@this"/>
			  		</p:selectBooleanCheckbox>
	  			</p:column>
					<!-- AGGIUNGERE QUESTO PEZZO SE OCCORRE IL DOCUMENTO NEL ROWEXSTENSION
			        <p:column style="width:16px">
			            <p:rowToggler/>
			        </p:column>
			        -->
		
			        <p:column headerText="Descrizione" sortBy="#{fascicolo.oggetto}" filterBy="#{fascicolo.oggetto}" filterMatchMode="contains"  >
						<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Visualizza fascicolo"
					 					 oncomplete="PF('dlgManageFascicolo_DF').show();" update="idDettagliEstesiForm:idPanelFascicoloManager_DF"
					 					 action="#{DettaglioFascicoloRicercaBean.openDialogFascicolo}"  process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
  		 								 disabled="#{fascicolo.oggetto ne DettaglioFascicoloRicercaBean.fascicoloCmp.detail.oggetto}">
  		 				</p:commandButton>
						<h:outputText value="#{FaldoniBean.getShortColumn(fascicolo.oggetto, 150)}" title="#{fascicolo.oggetto}"/>
			        </p:column>
			        
			        <p:column headerText="Creazione" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains"  
						styleClass="generic_textAlignCenter fald-column-data">
						<p:outputLabel value="#{fascicolo.dataCreazione}" >
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:outputLabel>
					</p:column>
					
					<!-- 
					AGGIUNGERE QUESTO PEZZO SE OCCORRE IL DOCUMENTO NEL ROWEXSTENSION
					
			        <p:rowExpansion>
						<p:dataTable id="documenti" emptyMessage="Nessun Documento Presente" widgetVar="documentiDT" var="documento" rowKey="#{documento.documentTitle}" value="#{fascicolo.documenti}">
							<p:column headerText="Documento" >
							   	<h:outputText title="Numero e Protocollo documento" value="ID: #{documento.numeroDocumento} - PROT: #{documento.numeroProtocollo}/#{documento.annoProtocollo}" rendered="#{documento.numeroProtocollo!=null}"/> 
								<h:outputText title="Numero e Protocollo documento" value="ID: #{documento.numeroDocumento}" rendered="#{documento.numeroProtocollo==null}"/> 
							</p:column>			
							
							<p:column sortBy="#{documento.oggetto}" headerText="Oggetto" >
								<h:outputText title="Oggetto Documento" value="#{documento.oggetto}"/>
							</p:column>			
							<p:column style="width: 28px;">
								<p:commandButton icon="fa fa-search" actionListener="#{FaldoniBean.documentRowSelector}" update="eastSectionForm:idDettaglioDoc"/>
							</p:column>			
						</p:dataTable>
		
			        </p:rowExpansion>
					
					-->
					 
				</p:dataTable>		    
				<p:outputPanel styleClass="ui-g generic_textAlignCenter generic_margin05" id="idBtnMassiviDlg_Fald" rendered="#{fn:length(FaldoniBean.fascicoliDTH.masters)>0}">
					<p:commandButton value="Sposta/Copia" icon="fa fa-folder-open" ajax="true" action="#{FaldoniBean.apriFaldonaFascicolo}"
							update="idDlgFaldonatura_Fald" process="idContainerFaldoniEricercaFascicoli"/>
					<p:commandButton value="Rimuovi" icon="fa fa-close" ajax="true" action="#{FaldoniBean.dissociaFaldoni}"
							update="idContainerFaldoniEricercaFascicoli" process="idContainerFaldoniEricercaFascicoli"/>
				</p:outputPanel>
			</p:panel>
			
			<p:outputPanel styleClass="ui-g generic_textAlignCenter generic_margin05" id="idDlgFaldonatura_Fald">
						
				<p:dialog widgetVar="wdgFaldonaFascicolo_Fald" dynamic="true" id="idFaldonaFascicolo_FM" draggable="true"
					hideEffect="fade"  showEffect="fade" appendTo="@form" styleClass="generic_maxwidth1200px" 
					closeOnEscape="false" showHeader="true" closable="true" modal="true" resizable="false" header="Faldona fascicolo"
					rendered="#{FaldoniBean.dlgFaldonaturaRendered}" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgFaldonaFascicolo_Fald')">
									 
					<dd:pnlFaldonaComponent faldonaCmp="#{FaldoniBean.faldonaCmp}"/>
									 
					<p:panelGrid columns="#{not FaldoniBean.modalitaRicercaFascicoli ? '3' : '2'}" styleClass="generic_width100 ui-panelgrid-blank generic_textAlignCenter" 
						columnClasses="#{not FaldoniBean.modalitaRicercaFascicoli ? 'ui-g-4, ui-g-4, ui-g-4' : 'ui-g-6, ui-g-6'}">
						<p:commandButton icon="fa fa-pencil" value="#{not FaldoniBean.modalitaRicercaFascicoli ? 'Copia':'Registra'}" styleClass="generic_width100" action="#{FaldoniBean.faldona}"/>
						<p:commandButton icon="fa fa-pencil" value="Sposta" styleClass="generic_width100" rendered="#{not FaldoniBean.modalitaRicercaFascicoli}" action="#{FaldoniBean.spostaMassivo}"/>
						<p:commandButton icon="fa fa-times" type="button" styleClass="generic_width100 uniqueCloseButton" onclick="PF('wdgFaldonaFascicolo_Fald').hide()" value="Chiudi"/>
					</p:panelGrid>
					
				</p:dialog>  
								
			</p:outputPanel>
		
		</p:outputPanel>
		
	</ui:define>

	<ui:define name="eastSectionContent">
		<p:outputPanel styleClass="generic_padding0 generic_margin0 generic_height100" id="idDettaglioDoc" >
			<p:outputPanel rendered="#{FaldoniBean.isDettaglioDocumentoActive()}" styleClass="generic_padding0 generic_margin0 generic_height100" >
				<ui:include src="../documento/dettaglioDocumento.xhtml"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{not FaldoniBean.isDettaglioDocumentoActive()}" styleClass="generic_padding0 generic_margin0 generic_height100">
				<dd:dettaglioFascicoloShared
					fascicoloCmp="#{DettaglioFascicoloRicercaBean.fascicoloCmp}"
					openDialogFascicolo="#{DettaglioFascicoloRicercaBean.openDialogFascicolo}"
					updateEsteso="idDettagliEstesiForm:idPanelFascicoloManager_DF"
				/>
			</p:outputPanel>
		</p:outputPanel>
	</ui:define>

</ui:composition>
