<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
<cc:interface>
	<cc:attribute name="dto" type="it.ibm.red.business.dto.ProtocolloNpsDTO" ></cc:attribute>
</cc:interface>

<cc:implementation>

	<p:panel>
		<p:dataTable styleClass="" paginator="true" var="storicoDoc" value="#{cc.attrs.dto.storicoList}"  
					 paginatorPosition="bottom" rows="10" paginatorAlwaysVisible="false" emptyMessage="Nessun elemento trovato">
		
			<p:column headerText="Data Operazione" styleClass="dtDataCol"   >
				<h:outputText  value="#{storicoDoc.dataOperazione}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				</h:outputText>
			</p:column>

			<p:column headerText="Descrizione" styleClass="dtTextCenter" colspan="2" >
				<h:outputText rendered="#{fn:length(storicoDoc.descrizione) gt 30}" title="#{storicoDoc.descrizione}" value="#{fn:substring(storicoDoc.descrizione, 0, 30)}..."/>
				<h:outputText rendered="#{fn:length(storicoDoc.descrizione) le 30}" value="#{storicoDoc.descrizione}" />
			</p:column>

			<p:column headerText="Tipo Operazione" styleClass="dtTextCenter"   >
				<h:outputText  value="#{storicoDoc.tipoOperazione}"/>
			</p:column>

			<p:column headerText="Operatore" styleClass="dtTextCenter"   >
				<h:outputText  value="#{storicoDoc.operatore.utente.nome} #{storicoDoc.operatore.utente.cognome}"/>
			</p:column>

		</p:dataTable>
	</p:panel>

</cc:implementation>
	
</ui:composition>