<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	>
	
	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="CategoriaDocumentoEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<cc:interface>
		<cc:attribute name="dto" type="it.ibm.red.business.dto.ProtocolloNpsDTO" ></cc:attribute>
	</cc:interface>

	<cc:implementation>
		 
	<!-- 		<p:tab title="Dettaglio"> -->
		<div class="generic_height100 generic_width100 generic_overflow">
			<p:accordionPanel styleClass="DD_accordionContent titleCollapsableDetail generic_padding0 generic_margin0">
				<p:tab title="Dati Sintetici" styleClass="DD_accordionContent generic_padding0 generic_margin0">
					<div class="ui-fluid ui-widget-content noborder">
						<br/>
						<p:outputLabel value="PROT: #{cc.attrs.dto.numeroProtocolloAnnoProtocollo} #{not empty cc.attrs.dto.utenteAnnullatore?'- Annullato':'' }" styleClass="DD_labelTitoletto generic_displayBlock dtTextCenter" />
						<br/>
						
						<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Data" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Titolario" styleClass="DD_labelNormale"/>
							<p:inputText readonly="true" value="#{cc.attrs.dto.dataProtocollo}" styleClass="generic_width100" >
								<f:convertDateTime pattern="dd/MM/yyyy"/> 
							</p:inputText>
							<p:inputText readonly="true" value="#{cc.attrs.dto.descrizioneTitolario}"/>
						</p:panelGrid>
						<hr />
						<p:panelGrid columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
							<p:outputLabel value="Stato" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Tipologia Documento" styleClass="DD_labelNormale"/>
							<p:inputText readonly="true" value="#{cc.attrs.dto.statoProtocollo}"/>
							<p:inputText readonly="true" value="#{cc.attrs.dto.descrizioneTipologiaDocumento}"/>
							<p:outputLabel value="Destinatario" styleClass="DD_labelNormale"/>
							<p:outputLabel value="Mittente" styleClass="DD_labelNormale"/>
							<p:inputText readonly="true" value="#{cc.attrs.dto.destinatariString}"/>
							<p:inputText readonly="true" value="#{cc.attrs.dto.mittenteString}"/>
						</p:panelGrid>
						<br/>
						<p:panelGrid columns="1"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
							<p:outputLabel value="Oggetto" styleClass="DD_labelNormale"/>
							<p:inputTextarea readonly="true" value="#{cc.attrs.dto.oggetto}" rows="5"/>
						</p:panelGrid>
					</div>
				</p:tab>
			
		        <p:tab title="Assegnazioni"  rendered="#{cc.attrs.dto.tipoProtocollo eq 'ENTRATA' }">
		        	<p:dataTable var="assegnaDoc" value="#{cc.attrs.dto.assegnatariList}" emptyMessage="Assegnatari non disponibili"
		        		 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorAlwaysVisible="false" >
    					<p:column headerText="Data Assegnazione" styleClass="dtDataCol">
							<h:outputText value="#{assegnaDoc.dataAssegnazione}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>
	
						<p:column headerText="Assegnatario" styleClass="dtTextCenter">
							<h:outputText rendered="#{assegnaDoc.assegnatario.isUtente}" value="#{assegnaDoc.assegnatario.descrizioneNodo} - #{assegnaDoc.assegnatario.nome} #{assegnaDoc.assegnatario.cognome}"/>
							<h:outputText rendered="#{not assegnaDoc.assegnatario.isUtente}" value="#{assegnaDoc.assegnatario.descrizioneNodo}"/>
						</p:column>

						<p:column headerText="Assegnante" styleClass="dtTextCenter">
							<h:outputText rendered="#{assegnaDoc.assegnante.isUtente}" value="#{assegnaDoc.assegnante.descrizioneNodo} - #{assegnaDoc.assegnante.nome} #{assegnaDoc.assegnante.cognome}"/>
							<h:outputText rendered="#{not assegnaDoc.assegnante.isUtente}" value="#{assegnaDoc.assegnante.descrizioneNodo}"/>
						</p:column>

						<p:column headerText="Competenza" styleClass="dtTextCenter">
							<h:outputText value="#{assegnaDoc.competenza}"/>
						</p:column> 
					</p:dataTable>
		        </p:tab>
				        
		        <p:tab title="Allacci">
		        	<p:dataTable var="allacciDoc" value="#{cc.attrs.dto.allacciList}"  emptyMessage="Nessun allaccio trovato"
		        		 paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" paginatorAlwaysVisible="false">
						<p:column headerText="Data Registrazione" styleClass="dtDataCol">
							<h:outputText  value="#{allacciDoc.dataRegistrazione}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>
	
						<p:column headerText="Numero Protocollo" styleClass="dtTextCenter">
							<h:outputText  value="#{allacciDoc.numeroProtocollo}"/>
						</p:column>

						<p:column headerText="Oggetto" styleClass="dtTextCenter">
							<h:outputText  value="#{allacciDoc.oggetto}"/>
						</p:column>

						<p:column headerText="Stato" styleClass="dtTextCenter">
							<h:outputText  value="#{allacciDoc.stato}"/>
						</p:column>

					</p:dataTable>
		        </p:tab>
	
		        <p:tab title="Dati annullamento" rendered="#{not empty cc.attrs.dto.utenteAnnullatore}">
		        	<p:dataTable  styleClass="" paginator="true" paginatorPosition="bottom" rows="10" paginatorAlwaysVisible="false" emptyMessage="Nessun elemento trovato"
							  value="#{cc.attrs.dto}" var="annullato">
					
						<p:column headerText="Utente" styleClass="dtTextCenter">
							<h:outputText value="#{annullato.utenteAnnullatore}"/>
						</p:column>
	
						<p:column headerText="Motivo" styleClass="dtTextCenter">
							<h:outputText value="#{annullato.motivoAnnullamento}"/>
						</p:column>
	
						<p:column headerText="Provvedimento" styleClass="dtTextCenter">
							<h:outputText value="#{annullato.provvedimentoAnnullamento}"/>
						</p:column>
		
						<p:column headerText="Data" styleClass="dtDataCol">
							<h:outputText value="#{annullato.dataAnnullamento}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>
					
					</p:dataTable>	
		        </p:tab>
		        
			</p:accordionPanel>
		</div>
<!-- 		</p:tab> -->
		
	</cc:implementation>

</ui:composition>