<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	>
	
	    
	<cc:interface>
		<cc:attribute name="bean" type="it.ibm.red.web.nps.component.DetailNpsComponent" ></cc:attribute>
	</cc:interface>

	<cc:implementation>
       	<p:outputPanel styleClass="ui-g generic_centra" >
			<div class="ui-g-12">
				<h3>Documento Principale - #{cc.attrs.bean.detail.documentoPrincipale == null ? 'documento principale non trovato' : cc.attrs.bean.detail.documentoPrincipale.nomeFile}</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable styleClass="" var="mainDoc" value="#{cc.attrs.bean.detail.documentoPrincipale}" emptyMessage="Nessun elemento trovato">

					<p:column headerText="Data Creazione" styleClass="dtDataCol"   >
						<h:outputText value="#{mainDoc.dataCreazione}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Nome File" styleClass="dtTextCenter"   >
						<h:outputText value="#{mainDoc.nomeFile}"/>
					</p:column>

					<p:column headerText="Oggetto" styleClass="dtTextCenter"   >
						<h:outputText value="#{mainDoc.oggetto}"/>
					</p:column>

					<p:column headerText="Originale" styleClass="dtInfoCol"   >
						<p:commandButton title="Scarica Originale" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
  								<p:fileDownload value="#{cc.attrs.bean.downloadContent(mainDoc.guid)}"  />
						</p:commandButton>
					</p:column>

					<p:column headerText="Ultima Versione" styleClass="dtInfoCol"   >
						<p:commandButton title="Scarica Ultima Versione" ajax="false" icon="fa fa-download" rendered="#{not empty mainDoc.guidLastVersion}" disabled="#{SessionBean.utente.gestioneApplicativa}">
  								<p:fileDownload value="#{cc.attrs.bean.downloadContent(mainDoc.guidLastVersion)}"  />
						</p:commandButton>
					</p:column>

				</p:dataTable>  		
			</div>
			<div class="ui-g-12">
				<h3>Allegati</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable styleClass="" paginator="true" var="attachDoc" value="#{cc.attrs.bean.detail.allegatiList}"
							 paginatorPosition="bottom" rows="10" paginatorAlwaysVisible="false" emptyMessage="Nessun elemento trovato">

					<p:column headerText="Data Creazione" styleClass="dtDataCol"   >
						<h:outputText value="#{attachDoc.dateCreated}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Nome File" styleClass="dtTextCenter"   >
						<h:outputText  value="#{attachDoc.nomeFile}" />
					</p:column>

					<p:column headerText="Oggetto" styleClass="dtTextCenter"   >
						<h:outputText value="#{attachDoc.oggetto}" />
					</p:column>

					<p:column headerText="Originale" styleClass="dtInfoCol"   >
						<p:commandButton title="Scarica Originale" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
  								<p:fileDownload value="#{cc.attrs.bean.downloadContent(attachDoc.guid)}"  />
						</p:commandButton>
					</p:column>

					<p:column headerText="Ultima Versione" styleClass="dtInfoCol" >
						<p:commandButton title="Scarica Originale" ajax="false" icon="fa fa-download"  rendered="#{not empty attachDoc.guidLastVersion}" disabled="#{SessionBean.utente.gestioneApplicativa}" >
  								<p:fileDownload value="#{cc.attrs.bean.downloadContent(attachDoc.guidLastVersion)}"  />
						</p:commandButton>
					</p:column>

				</p:dataTable> 
			</div>
		
		</p:outputPanel>
       	
	</cc:implementation>
	
</ui:composition>