<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>

<title>Log in</title>
</h:head>

<h:body>

<h2>LOG IN </h2>
<h:form>

Username: <h:inputText id="inputUser" value="#{userName}" pt:placeholder="Insert your username here"></h:inputText>

<br></br>
<br></br>
Email: <h:inputText id="inputEmail" value="#{LaTuaEmail}" pt:placeholder="Insert your email here"></h:inputText>

<br></br>
<br></br>
Password: <h:inputSecret id="inpuPassword" value="#{LaTuaPassword}" pt:placeholder="Insert your password here"></h:inputSecret>

<br></br>
<br></br>

"
<h:commandButton  value="submit" action="benvenuto"></h:commandButton>




</h:form>

</h:body>
</html>
