<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	
	<red:goToCodaPanel id="idScadenziarioGoToPanel" idUpdatePanel="idPanel" bean = "#{ScadenziarioBean.docScadenzatiComponent.goToCodaPanel}" widgetVar="wdgDocScadenziarioPanel" />
	<p:outputPanel  >
		<p:dataTable id="Documenti_in_scadenza" var="master"  value="#{ScadenziarioBean.docScadenzatiComponent.dth.masters}" rows="5"  rowsPerPageTemplate="5,10,15" paginator="true" rowIndexVar="index"
		 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorAlwaysVisible="false" paginatorPosition="bottom"
		 styleClass="generic_textAlignCenter" emptyMessage="Non sono presenti documenti visibili dall'utente" >
		 	<f:facet name="header">
				<p:outputPanel class="generic_textAlignRight">
						<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
			              	<p:dataExporter type="xls" target="@namingcontainer" fileName="#{ScadenziarioBean.docScadenzatiComponent.nomeExport}"  />
						</p:commandButton>
				</p:outputPanel>
			</f:facet>
		 	
			<p:column headerText="Documento" filterBy="#{master.documento}" filterMatchMode="contains" sortBy="#{master.documento}" styleClass="generic_width14"  >
				<p:outputLabel value="#{master.documento}" />
			</p:column>
			
			
			<p:column headerText="Data creazione"  filterBy="#{master.ce.dataCreazione}" filterMatchMode="contains" sortBy="#{master.ce.dataCreazione}" styleClass="generic_width14"  >
				<p:outputLabel value="#{master.ce.dataCreazione}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Data scadenza"  filterBy="#{master.pe.dataScadenza}" filterMatchMode="contains" sortBy="#{master.pe.dataScadenza}" styleClass="generic_width14"  >
				<p:outputLabel value="#{master.pe.dataScadenza}" >
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Ufficio/Utente assegnatario " filterBy="#{master.destinatario}" filterMatchMode="contains" sortBy="#{master.destinatario}" styleClass="generic_width19" >
				<p:outputLabel value="#{master.destinatario}" />
			</p:column>
			
			<p:column headerText="Tipo Assegnazione"  filterBy="#{master.tipoAssegnazione}" filterMatchMode="contains" sortBy="#{master.tipoAssegnazione}" styleClass="generic_width14" >
				<p:outputLabel value="#{master.tipoAssegnazione}" />
			</p:column>
			
			<p:column headerText="Coda di lavoro"  filterBy="#{master.pe.queue.displayName}" filterMatchMode="contains" sortBy="#{master.pe.queue.displayName}" styleClass="generic_width15" >
						<p:outputLabel value="#{master.pe.queue.displayName}" />
			</p:column>
					
			<p:column exportable="false" headerText="Azioni" styleClass="generic_width10" >
			<p:commandButton action="#{ScadenziarioBean.docScadenzatiComponent.goToCoda(master.ce)}" styleClass="generic_marginLeft" icon="fa fa-th-list" title="Vai alla coda" 
							update = "@namingcontainer:@namingcontainer:idScadenziarioGoToPanel:idPanel" oncomplete="PF('wdgDocScadenziarioPanel').show('#{component.clientId}')" />
				<p:commandButton process="@this" icon="fa fa-pencil-square" title="Visualizza Dettaglio Esteso" ajax="true"
					action="#{ScadenziarioBean.docScadenzatiComponent.openDocumentPopup(index)}"  
					update="idDettagliEstesiForm:idPanelDocumentManager" 
				/>
			</p:column>
		</p:dataTable>
	</p:outputPanel>
	

</ui:composition>