<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:tabView id="idScadenziarioTab" activeIndex="#{ScadenziarioBean.activeTabIndex}" styleClass="generic_no_opacity" dynamic="true" cache="true" >
		<p:tab title="Elenco ispettorati" rendered="#{ScadenziarioBean.segreteriaComponent ne null}" styleClass="generic_width100">
			
			<p:dataGrid var="ufficio" value = "#{ScadenziarioBean.segreteriaComponent.ufficioList}" styleClass="generic_textAlignCenter" paginatorAlwaysVisible="false" layout="grid">
				<p:panel styleClass="generic_noborder">
					<p:commandLink  update="@namingcontainer:@namingcontainer" disabled="#{ufficio.count le 0}" ajax="true" styleClass="#{ufficio.selected ? 'default_link_visited' : 'default_link'}">
						 <h:outputText value="#{ufficio.data.descrizione} (#{ufficio.count})"/>
						 <f:setPropertyActionListener value="#{ufficio}" target="#{ScadenziarioBean.segreteriaComponent.selected}"/>
					</p:commandLink>
				</p:panel>
			</p:dataGrid>
		</p:tab>
		
		<p:tab title="Elenco Uffici" rendered="#{ScadenziarioBean.ispettoratoComponent ne null}">
			<div class="generic_textAlignRight generic_padding05">
				<p:commandButton process="@this" value="Esporta" title="Esporta uffici" ajax="false" icon="fa fa-download">
	     			<p:fileDownload value="#{ScadenziarioBean.ispettoratoComponent.downloadExportScadenzario()}"/>
				</p:commandButton>
			</div>
			<p:dataGrid var="ufficio" value="#{ScadenziarioBean.ispettoratoComponent.ufficioList}" styleClass="generic_textAlignLeft" paginatorAlwaysVisible="false" layout="grid">
				<p:panel styleClass="generic_noborder">
					<p:commandLink update="@namingcontainer:@namingcontainer" disabled="#{ufficio.count le 0}" ajax="true" styleClass="#{ufficio.selected ? 'default_link_visited' : 'default_link'}">
						 <h:outputText value="#{ufficio.data.descrizione} (#{ufficio.count})"/>
						 <f:setPropertyActionListener value="#{ufficio}" target="#{ScadenziarioBean.ispettoratoComponent.selected}"/>
					</p:commandLink>
				</p:panel>
			</p:dataGrid>
		</p:tab>
		
		<p:importEnum type="it.ibm.red.business.enums.PeriodoScadenzaEnum" var="periodoEnum" />
		
		<p:tab title="Scadenze #{ScadenziarioBean.ispettoratoComponent.selected.data.descrizione}" rendered="#{ScadenziarioBean.periodoComponent ne null}">
			<p:dataTable var="periodo" value="#{ScadenziarioBean.periodoComponent.periodi}" styleClass="generic_tableNoHeader generic_tableNoBorder" paginator="false">
				
				<p:column styleClass="generic_width30 generic_textAlignLeft">
					<p:graphicImage stream="false" url="/resources/images/ana_#{periodo.data.ordinal()}.gif" alt="periodo scadenza" title="Scadenza: #{periodo.data} "/>
				</p:column>
				
				<p:column styleClass="generic_textAlignLeft">
					<p:commandLink title="Apri documenti in scadenza" update="@namingcontainer:@namingcontainer:@namingcontainer" oncomplete="PF('wdgDialogScadenziario').show()" disabled="#{periodo.count le 0}" styleClass="#{periodo.selected ? 'default_link_visited' : 'default_link'}">
						 <h:outputText rendered="#{periodoEnum.SCADUTO eq periodo.data}" value="documento scaduto"/>
						 <h:outputText rendered="#{periodoEnum.MINORE_5 eq periodo.data}" value="documento con scadenza &lt;= 5"/>
						 <h:outputText rendered="#{periodoEnum.MINORE_10 eq periodo.data}" value="documento con scadenza &lt;= 10"/>
						 <h:outputText rendered="#{periodoEnum.MAGGIORE_11 eq periodo.data}" value="documento con scadenza &gt;= 11"/>
				 		 <f:setPropertyActionListener value="#{periodo}" target="#{ScadenziarioBean.periodoComponent.periodoSelezionato}"/>
					</p:commandLink>
				</p:column>
				
				<p:column styleClass="generic_width8perc">
					<h:outputText value="#{periodo.count}"/>
				</p:column>
			</p:dataTable>
		</p:tab>
	</p:tabView>	
	
	<p:dialog id="idDialogScadenziario" header="Documenti in scadenza" widgetVar="wdgDialogScadenziario" appendTo="@namingcontainer" closable="true" draggable="false"
	 modal="true" responsive="true" fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgDialogScadenziario')" styleClass="generic_width90imp">
		<ui:include src="dlgDocumentiScadenzati.xhtml"/>
		<div class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi" onclick="PF('wdgDialogScadenziario').hide()" type="button" styleClass="uniqueCloseButton" />
		</div>
	</p:dialog>

</ui:composition>