<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite">

	<p:outputPanel id="dettagliContattoPnl_RGT_inc" visible="#{!RubricaBean.modeFlag}" styleClass="generic_formPnl" >
		<p:panel id="dettagliContattoInPnl_RGT"  visible="#{RubricaBean.flagContattoSelezionato}" header="Dettaglio Contatto" widgetVar="rubModContWdg_HideShow">
			<p:panelGrid id="dettagliContattoPnlG" columns="6" cellpadding="10"
						 layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-3,ui-grid-col-1, ui-grid-col-3,ui-grid-col-1, ui-grid-col-3"
						 styleClass="ui-panelgrid-blank centeredPanel generic_padding20">
				
				<p:outputPanel>
					<p:outputLabel value="Rag. Sociale/Nome" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
				</p:outputPanel>
				<p:inputText value="#{RubricaBean.modificaContattoItem.nome}"  styleClass="textfield_input obbligatorio"/>
				
				<p:outputPanel>
					<p:outputLabel value="Cognome" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{(RubricaBean.modificaContattoItem.tipoPersona eq 'F' or RubricaBean.modificaContattoItem.tipoPersona eq null)}"/>
				</p:outputPanel>
				<p:inputText value="#{RubricaBean.modificaContattoItem.cognome}" styleClass="#{(RubricaBean.modificaContattoItem.tipoPersona eq 'F' or RubricaBean.modificaContattoItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }"/>
				
				<p:outputLabel value="Descr./Alias" styleClass="generic_textBold"/>
				<p:inputText value="#{RubricaBean.modificaContattoItem.aliasContatto}" styleClass="textfield_input" />
				
				<p:outputLabel value="Mail PEO"  styleClass="generic_textBold"/> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.mail}" styleClass="textfield_input" />
				
				<p:outputLabel value="Mail PEC"  styleClass="generic_textBold" /> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.mailPec}" styleClass="textfield_input" />
				
				<p:outputPanel>
					<p:outputLabel value="Tipo Contatto"  styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
				</p:outputPanel>  
				<p:selectOneMenu id="tipoPersona_modificaContatto" value="#{RubricaBean.modificaContattoItem.tipoPersona}"
		        				 lazy="true" autoWidth="false" styleClass="textfield_dropdown obbligatorio">
		        				 <f:selectItem itemLabel="Fisica" itemValue="F" />
		        				 <f:selectItem itemLabel="Giuridica" itemValue="G" />
		        				 <p:ajax event="itemSelect" listener="#{RubricaBean.onItemSelect}" process="dettagliContattoPnlG" update="dettagliContattoPnlG"></p:ajax>
		        </p:selectOneMenu>
		
				<p:outputLabel value="Telefono"  styleClass="generic_textBold"/> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.telefono}" styleClass="textfield_input"/>

				<p:outputLabel value="Cellulare"  styleClass="generic_textBold"/> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.cellulare}" styleClass="textfield_input"/>
									
				<p:outputLabel value="Fax"  styleClass="generic_textBold" /> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.fax}" styleClass="textfield_input" />
				 
				<p:outputLabel value="Indirizzo"  styleClass="generic_textBold"/> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.indirizzo}" styleClass="textfield_input"/>
				
				<p:outputLabel value="CAP"  styleClass="generic_textBold" /> 
				<p:inputText value="#{RubricaBean.modificaContattoItem.CAP}" styleClass="textfield_input" />
				
				<p:outputLabel value="Regione"  styleClass="generic_textBold" />
				<p:autoComplete  value="#{RubricaBean.modificaContattoItem.regioneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadRegioni}"
					var="regioni" itemLabel="#{regioni.denominazione}" itemValue="#{regioni.idRegione}"	converter="regioneConverter" forceSelection="true"
					id="regioneUpdateAutocomplete_Rub" styleClass="textfield_input" >
					<p:ajax event="itemSelect" listener="#{RubricaBean.updateRegioniOnSelectAddModifica}" update="provinciaUpdateAutocomplete_Rub,comuneUpdateAutocomplete_Rub"  />
					<p:ajax event="clear" listener="#{RubricaBean.updateRegioniOnSelectAddModifica}" update="provinciaUpdateAutocomplete_Rub,comuneUpdateAutocomplete_Rub" />
				</p:autoComplete>
				
						
				<p:outputLabel value="Provincia"  styleClass="generic_textBold" />
				<p:autoComplete value="#{RubricaBean.modificaContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadProvinceAddModifica}"
					var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter"
					forceSelection="true" id="provinciaUpdateAutocomplete_Rub" styleClass="textfield_input" disabled="#{empty RubricaBean.modificaContattoItem.regioneObj.idRegione}">
					<p:ajax event="itemSelect" listener="#{RubricaBean.updateProvinceOnSelectAddModifica}" update="comuneUpdateAutocomplete_Rub" />
					<p:ajax event="clear" listener="#{RubricaBean.updateProvinceOnSelectAddModifica}" update="comuneUpdateAutocomplete_Rub" />
				</p:autoComplete>
				
				
				<p:outputLabel value="Comune"  styleClass="generic_textBold" />
				<p:autoComplete value="#{RubricaBean.modificaContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadComuniAddModifica}"
					var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" forceSelection="true"
					id="comuneUpdateAutocomplete_Rub" styleClass="textfield_input" disabled="#{empty RubricaBean.modificaContattoItem.provinciaObj.idProvincia}">
					<p:ajax event="itemSelect" listener="#{RubricaBean.updateComuniOnSelectAddModifica}" update="dettagliContattoPnlG" />
					<p:ajax event="clear" listener="#{RubricaBean.updateComuniOnSelectAddModifica}" update="dettagliContattoPnlG" />
				</p:autoComplete>
				  					
		</p:panelGrid>
		<p:outputPanel id="btnsModificaContatto" styleClass="buttonsDiv buttonsLayout_for24PnlG generic_paddingBottom12px" >
			<p:commandButton icon="fa fa-plus" title="Crea" value="Crea" actionListener="#{RubricaBean.creaDaContatto}" rendered="#{not empty RubricaBean.modificaContattoItem}" update="@form:modificaContattoSection"/>
			<p:commandButton icon="fa-pencil-square-o" value="Modifica" title="Modifica" actionListener="#{RubricaBean.modificaContatto}"  rendered="#{not empty RubricaBean.modificaContattoItem and RubricaBean.permessoUtente}" styleClass="" update="@form:RubricaTab:prefRubrica_RG,@form:RubricaTab:ricRubrica_RG,@form:RubricaTab:ricercaGestioneContatti_RGT,@form:RubricaTab:ricercaRubricaTabGruppi_RGGT,@form:RubricaTab:contattiNelGruppoTabGruppi, @form:panelDataTableCreaContattiDaAltraPagina, @form:modificaContattoSection" />
			
			<p:commandButton id="richModifica" value="Richiedi Modifica" icon="fa fa-pencil-square-o" title="Richiedi Modifica"
							 rendered="#{not empty RubricaBean.modificaContattoItem and !RubricaBean.permessoUtente}"
							 onclick="PF('dialogRichModifica').show()"/>
				
			<p:commandButton id="richEliminazione" title="Richiedi Eliminazione" icon="fa fa-trash-o" value="Richiedi Eliminazione" rendered="#{not empty RubricaBean.modificaContattoItem and !RubricaBean.permessoUtente}" onclick="PF('dialogRichEliminazione').show()"/>
			
		</p:outputPanel>
	  </p:panel>
	</p:outputPanel>

</ui:composition>