<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui">
	
	<p:panelGrid columns="5" styleClass="noBorderGrid">
		<p:outputLabel for="notificheRub_APartireDA" value="A partire da:"  styleClass="generic_textBold" />
		<p:selectOneMenu id="notificheRub_APartireDA" value="#{RubricaBean.numGiorniNotifiche}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
			<f:selectItem itemLabel="Ultimi 10 giorni" itemValue="10" />
			<f:selectItem itemLabel="Ultimi 30 giorni" itemValue="30" />
			<f:selectItem itemLabel="Ultimi 60 giorni" itemValue="60" />
			<p:ajax event="change" update="notificheRub_NR" listener="#{RubricaBean.loadTabNotificheRubrica}" />
		</p:selectOneMenu>
		
		<div></div>
		<p:outputLabel for="notificheRub_NumElem" value="Numero di elementi visualizzati:"  styleClass="generic_textBold" />
		<p:selectOneMenu id="notificheRub_NumElem" value="#{RubricaBean.numElementiNotifiche}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
			<f:selectItem itemLabel="10" itemValue="10" />
			<f:selectItem itemLabel="25" itemValue="25" />
			<f:selectItem itemLabel="50" itemValue="50" />
			<f:selectItem itemLabel="100" itemValue="100" />
			<p:ajax event="change" update="notificheRub_NR" listener="#{RubricaBean.loadTabNotificheRubrica}" />
		</p:selectOneMenu>

		
	  </p:panelGrid>
	  
	  <p:dataTable widgetVar="NotificheRubrica_NR" id="notificheRub_NR" var="notifica" value="#{RubricaBean.notificheRichiesteDTH.masters}" rowKey="#{notifica.idNotificaContatto}" 
					styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="15" sortMode="multiple" emptyMessage="Nessuna richiesta"  
					paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">  
				
				<f:facet name="footer">
		            <h:outputText value="TOT : #{fn:length(RubricaBean.notificheRichiesteDTH.masters)}"/>
		        </f:facet>
				 
		      	<p:column headerText="Data" sortBy="#{notifica.dataOperazione}" filterBy="#{notifica.dataOperazione}" filterMatchMode="contains" >
			        <h:outputText value="#{notifica.dataOperazione}">
			        <f:convertDateTime pattern="dd/MM/yyyy" />
			        </h:outputText>
		        </p:column>
		        
	  			<p:column headerText="Utente" sortBy="#{notifica.utente}" filterBy="#{notifica.utente}" filterMatchMode="contains" >
			       <h:outputText value="#{notifica.utente}"/>
		        </p:column>
	
		        <p:column headerText="Tipo Richiesta" sortBy="#{notifica.operazioneEffettuata}" filterBy="#{notifica.operazioneEffettuata}" filterMatchMode="contains" >
			        <h:outputText value="#{notifica.operazioneEffettuata}"/>
		        </p:column>
		        	        
				<p:column headerText="ID - Descrizione" sortBy="#{notifica.alias}" filterBy="#{notifica.alias}" filterMatchMode="contains" >
			        <h:outputText value="#{notifica.idContatto} - #{notifica.alias}"/>
		        </p:column>
		        
		        <p:column headerText="Vecchio Valore" sortBy="#{notifica.vecchioValore}" filterBy="#{notifica.vecchioValore}" filterMatchMode="contains" >
			        <h:outputText value="#{notifica.vecchioValore}" title="#{notifica.vecchioValore}"/>
		        </p:column>
		        
		        <p:column headerText="Nuovo Valore" sortBy="#{notifica.nuovoValore}" filterBy="#{notifica.nuovoValore}" filterMatchMode="contains" >
			        <h:outputText value="#{notifica.nuovoValore}" title="#{notifica.nuovoValore}"/>
		        </p:column>
		        
<!-- 		        < p :column headerText="Motivo Rifiuto" sortBy="# {notifica.motivoRifiuto}" filterBy="# {notifica.motivoRifiuto}" filterMatchMode="contains" > -->
<!-- 			        <h:outputText value=" # {notifica.motivoRifiuto}" title="# {notifica.motivoRifiuto}"/> -->
<!-- 		        </ p :column> -->
		        
		        <p:column headerText="Stato" sortBy="#{notifica.stato}" filterBy="#{notifica.stato}" filterMatchMode="contains" styleClass="generic_textAlignCenter generic_width8perc" >
			        <h:outputText styleClass="fa fa-lg fa-hourglass generic_margin05 yellow2" title="#{fn:replace(notifica.stato,'_',' ')}" rendered="#{notifica.stato == 'IN_ATTESA'}" />
			        <h:outputText styleClass="fa fa-lg fa-check generic_margin05 lightgreen" title="#{fn:replace(notifica.stato,'_',' ')}" rendered="#{notifica.stato == 'ESEGUITA'}"  />
			        <h:outputText styleClass="fa fa-lg fa-times-circle generic_margin05 darkred" title="#{fn:replace(notifica.stato,'_',' ')}" rendered="#{notifica.stato == 'RIFIUTATA'}" />
			        <h:outputText id="motivoR_NR" styleClass="fa fa-lg fa-tag generic_margin05 yellow2" rendered="#{not empty notifica.motivoRifiuto}" title="#{notifica.motivoRifiuto}" />
			        <h:outputText styleClass="fa fa-lg fa-check generic_margin05 lightgreen" title="APPROVATO CON MODIFICHE" rendered="#{notifica.stato == 'APPROVATO_CON_MODIFICHE'}"  />
		        </p:column>
		        
			</p:dataTable>
</ui:composition>