<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:dataTable widgetVar="ricercaRubrica_RG" id="ricRubrica_RG" var="contatto" value="#{RubricaBean.contattiRicercaDTH.masters}" rowKey="#{contatto.contattoID}" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
		rendered="#{RubricaBean.ricercaEffettuataFlag}" styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="15,30" rows="15" sortMode="multiple" emptyMessage="Nessun contatto" paginatorAlwaysVisible="false">

		<f:facet name="footer">
			<h:outputText value="TOT : #{fn:length(RubricaBean.contattiRicercaDTH.masters)}" />
		</f:facet>

		<!-- selezione multipla -->
		<p:column toggleable="false" styleClass="dtSelectAllColumn">
			<f:facet name="header">
				<span class="fa fa-check-square-o datatable-select-allCol  #{!RubricaBean.contattiRicercaDTH.checkAll?'hide':''}" onclick="updateAllCheckRicerca()" title="Deseleziona tutti" />
				<span class="fa fa-square-o datatable-select-allCol #{RubricaBean.contattiRicercaDTH.checkAll?'hide':''}" onclick="updateAllCheckRicerca()" title="Seleziona tutti" />
				<p:remoteCommand actionListener="#{RubricaBean.handleAllCheckBoxRicerca}" name="updateAllCheckRicerca" update="@form:RubricaTab:ricRubrica_RG, @form:contAltrePag_RG, rubricaAsDialogForm:aggiungiContattiBtn" />
			</f:facet>
			<p:selectBooleanCheckbox id="chk_rub" title="#{contatto.selected ? 'Deseleziona':'Seleziona'} contatto #{contatto.aliasContatto}" value="#{contatto.selected}" rendered="#{contatto.tipoRubrica ne 'GRUPPO'}">
				<p:ajax event="change" listener="#{RubricaBean.updateCheckRicerca}" update="centralSectionForm:RubricaTab:aggiungiContattiAGruppiBtnId" />
			</p:selectBooleanCheckbox>
		</p:column>

		<p:column headerText="Azioni" id="op_rub" styleClass="generic_textAlignCenter generic_width6perc">
			<p:commandButton id="menuRubricaRicercaBtn" type="button" icon="fa fa-ellipsis-v" />
			<p:menu overlay="true" trigger="menuRubricaRicercaBtn" my="left top" at="left bottom" style="width: 15%;">
				<p:submenu label="Azioni" styleClass="hiddenBackground">
					<p:separator></p:separator>
					<p:menuitem icon="fa fa-star" rendered="#{contatto.isPreferito}" actionListener="#{RubricaBean.rimuoviPreferito}" value="Rimuovi da Rubrica Ufficio" title="Rimuovi da Rubrica Ufficio" update="@form:RubricaTab:prefRubrica_RG,ricRubrica_RG " />
					<p:menuitem icon="fa fa-star-o" rendered="#{!contatto.isPreferito or contatto.isPreferito eq null}" actionListener="#{RubricaBean.aggiungiAiPreferiti}" value="Aggiungi a Rubrica Ufficio" title="Aggiungi a Rubrica Ufficio" update="@form:RubricaTab:prefRubrica_RG,ricRubrica_RG " />
					<p:menuitem value="Aggiungi/Rimuovi da Gruppi" icon="fa fa-users" rendered="#{contatto.tipoRubrica ne 'GRUPPO'}" oncomplete="PF('aggiungiContattoaGruppo_ricrubWV').show();" actionListener="#{RubricaBean.tuttiGruppi(contatto)}" update="centralSectionForm:aggiungiContattoaGruppo_ricrub_RG" process="@this" />
					<p:menuitem value="Mostra alberatura IPA" icon="fa fa-sitemap" actionListener="#{RubricaBean.showAlberaturaContattoIPA}" onstart="PF('alberaturaContattoIpaWV').hide()" oncomplete="PF('alberaturaContattoIpaWV').show()" process="@this" rendered="#{contatto.tipoRubrica eq 'IPA'}" disabled="#{contatto.tipoPersona eq 'AMM'}" title="Gerarchia OU" update="centralSectionForm:alberaturaContattoIpaID" />
					<p:menuitem value="#{RubricaBean.permessoUtente ? 'Modifica' : 'Richiedi Modifica'}" title="#{RubricaBean.permessoUtente ? 'Modifica' : 'Richiedi Modifica'}" icon="fa fa-pencil" rendered="#{contatto.tipoRubrica eq 'RED'}" process="@this" oncomplete="PF('creaModificaContattoDlg_WV').show();" actionListener="#{RubricaBean.clickOnModificaContatto}" update="centralSectionForm:panelContattiGruppoRub,centralSectionForm:creaModificaContattoDlg_ID"/>
					<p:menuitem value="Elimina" title="Elimina" icon="fa fa-trash" rendered="#{contatto.tipoRubrica ne 'GRUPPO' and contatto.tipoRubrica ne 'IPA' and contatto.tipoRubrica ne 'MEF' and RubricaBean.permessoUtente}" actionListener="#{RubricaBean.eliminaContatto}" process="@this" update="centralSectionForm:RubricaTab:ricRubrica_RG" />
					<p:menuitem value="Richiedi Eliminazione" title="Richiedi Eliminazione" icon="fa fa-trash" rendered="#{contatto.tipoRubrica ne 'GRUPPO' and contatto.tipoRubrica ne 'IPA' and contatto.tipoRubrica ne 'MEF' and not RubricaBean.permessoUtente}" oncomplete="PF('dialogRichEliminazioneVW').show();" process="@this" actionListener="#{RubricaBean.impostaContattoDaEliminare}" update="centralSectionForm:panelContattiGruppoRub" />
				</p:submenu>
			</p:menu>

		</p:column>

		<p:column id="tiporubrica_rub" headerText="Contatto" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains" width="6%" styleClass="generic_textAlignCenter">
			<p:commandButton id="infoBtnGroup" icon="fa fa-group" rendered="#{contatto.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlGroup" appendToBody="true" for="infoBtnGroup" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura gruppo"></iframe>
				</p:overlayPanel>
			</p:commandButton>

			<p:commandButton id="infoBtnUser" icon="fa fa-user" rendered="#{contatto.tipoRubrica eq 'MEF'}" title="MEF" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlUser" appendToBody="true" for="infoBtnUser" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura mef"></iframe>
				</p:overlayPanel>
			</p:commandButton>

			<p:commandButton id="infoBtnIpaAmm" icon="fa fa-sitemap" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AMM'}" title="IPA - AMM" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlIpaAmm" appendToBody="true" for="infoBtnIpaAmm" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
				</p:overlayPanel>
			</p:commandButton>

			<p:commandButton id="infoBtnIpaAoo" icon="fa fa-bank" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AOO'}" title="IPA - AOO" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlIpaAoo" appendToBody="true" for="infoBtnIpaAoo" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
				</p:overlayPanel>
			</p:commandButton>

			<p:commandButton id="infoBtnIpaOu" icon="fa fa-building" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'OU'}" title="IPA - OU" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlIpaOu" appendToBody="true" for="infoBtnIpaOu" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
				</p:overlayPanel>
			</p:commandButton>

			<p:commandButton id="infoBtnRed" icon="fa fa-user" rendered="#{contatto.tipoRubrica eq 'RED'}" title="RED" type="button" styleClass="generic-button-noBorder">
				<p:overlayPanel id="infoPnlRed" appendToBody="true" for="infoBtnRed" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
					<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
					<iframe class="cover" src="about:blank" title="Frame alberatura red"></iframe>
				</p:overlayPanel>
			</p:commandButton>
		</p:column>

		<p:column id="tipocontatto_rub" headerText="Tipo contatto" sortBy="#{contatto.tipoPersona}" filterBy="#{contatto.tipoPersona}" filterMatchMode="contains" width="7%" styleClass="generic_textAlignCenter">
			<h:outputText value="#{contatto.tipoRubrica eq 'MEF' ? contatto.tipoPersona : (contatto.tipoPersona eq 'F' ? 'Fisica' : 'Giuridico')}" title="#{contatto.tipoRubrica eq 'MEF' ? contatto.tipoPersona : (contatto.tipoPersona eq 'F' ? 'Fisica' : 'Giuridico')}" />
		</p:column>


		<p:column id="aliascontatto_rub" headerText="Descrizione/Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains">
			<div>
				<h:outputText value="#{contatto.aliasContatto}" title="#{contatto.aliasContatto}" />
			</div>
		</p:column>

		<p:column id="nome_rub" headerText="Nome" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains">
			<div class="ellipsis">
				<h:outputText value="#{contatto.nome}" title="#{contatto.nome}" />
			</div>
		</p:column>

		<p:column id="cognome_rub" headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains">
			<div class="ellipsis">
				<h:outputText value="#{contatto.cognome}" title="#{contatto.cognome}" />
			</div>
		</p:column>

		<p:column id="ammaooou_rub" headerText="AMM-AOO-OU" sortBy="#{contatto.riferimento}" filterBy="#{contatto.riferimento}" filterMatchMode="contains">
			<h:outputText value="#{contatto.riferimento}" title="#{contatto.riferimento}" />
		</p:column>

		<p:column id="peo_rub" headerText="PEO" sortBy="#{contatto.mail}" filterBy="#{contatto.mail}" filterMatchMode="contains">
			<div class="ellipsis">
				<h:outputText value="#{contatto.mail}" title="#{contatto.mail}" />
			</div>
		</p:column>

		<p:column id="pec_rub" headerText="PEC" sortBy="#{contatto.mailPec}" filterBy="#{contatto.mailPec}" filterMatchMode="contains">
			<div class="ellipsis">
				<h:outputText value="#{contatto.mailPec}" title="#{contatto.mailPec}" />
			</div>
		</p:column>

	</p:dataTable>

</ui:composition>


