<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.TipoOperazioneEnum" var="operazione" allSuffix="ALL_OP_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.business.enums.StatoNotificaContattoEnum" var="stato" allSuffix="ALL_STATO_ENUM_VALUES"/>
	  
	<p:panelGrid columns="4" styleClass="noBorderGrid">
		<p:outputLabel value="A partire da:" styleClass="generic_textBold" />  
		<p:selectOneMenu id="richieste_APartireDA" value="#{RubricaBean.numGiorni}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
			<f:selectItem itemLabel="Ultimi 10 giorni" itemValue="10"/>
			<f:selectItem itemLabel="Ultimi 30 giorni" itemValue="30"/>
			<f:selectItem itemLabel="Ultimi 60 giorni" itemValue="60"/>
			<p:ajax event="change" update="richieste_RGRT" listener="#{RubricaBean.loadTabNotificheRichieste}"/>
		</p:selectOneMenu>
		<div></div>
       <p:commandButton icon="fa fa-refresh" actionListener="#{RubricaBean.loadTabNotificheRichieste}" process="richieste_APartireDA" update="richieste_RGRT"/>
	</p:panelGrid> 
	
	<p:dataTable widgetVar="GestioneRichieste_RGRT" id="richieste_RGRT" var="notifica" value="#{RubricaBean.notificheContattiDTH.masters}" rowKey="#{notifica.idNotificaContatto}" 
		styleClass="dataTable generic_padding2 rubricaBody" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="15" sortMode="multiple" emptyMessage="Nessuna richiesta"   
		paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">  
		
		<f:facet name="footer">
            <h:outputText value="TOT : #{fn:length(RubricaBean.notificheContattiDTH.masters)}"/>
        </f:facet>

		<p:column styleClass="generic_textAlignCenter generic_width6perc">
			<p:commandButton id="menuRubricaRichiesteBtn" type="button" icon="fa fa-ellipsis-v" />
			<p:menu overlay="true" trigger="menuRubricaRichiesteBtn" my="left top" at="left bottom" style="width: 15%;">
				<p:submenu label="Azioni" styleClass="hiddenBackground">
					<p:separator></p:separator>
					<p:menuitem id="checkRichiesta" oncomplete="PF('dettagliModificaContattoWV').show()" actionListener="#{RubricaBean.gestisciNotifica}" update="@form:RubricaTab:prefRubrica_RG, @form:RubricaTab:ricRubrica_RG, richieste_RGRT, @form:RubricaTab:dettagliModificaContattoDlg_RGRT" title="Esegui Richiesta" value="Esegui Richiesta" rendered="#{notifica.operazioneEnum ne operazione.CREAZIONE_AUTOMATICA_CONTATTO}" icon="fa fa-check" />
					<p:menuitem id="rifRichiesta" title="Rifiuta Richiesta" oncomplete="PF('dialogRifiuta').show()" rendered="#{notifica.operazioneEnum ne operazione.CREAZIONE_AUTOMATICA_CONTATTO}" actionListener="#{RubricaBean.gestisciNotifica}" value="Rifiuta Richiesta" icon="fa fa-trash" />
				</p:submenu>
			</p:menu>
		</p:column>

		<p:column headerText="Data" sortBy="#{notifica.dataOperazione}" filterBy="#{notifica.dataOperazione}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.dataOperazione}">
	        <f:convertDateTime pattern="dd/MM/yyyy" />
	        </h:outputText>
        </p:column>
        
 			<p:column headerText="Utente" sortBy="#{notifica.utente}" filterBy="#{notifica.utente}" filterMatchMode="contains" >
	       <h:outputText value="#{notifica.utente}"/>
        </p:column>
        
         <p:column headerText="Tipo Richiesta" sortBy="#{notifica.operazioneEffettuata}" filterBy="#{notifica.operazioneEffettuata}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.operazioneEffettuata}"/>
        </p:column>
        
		<p:column headerText="ID - Descrizione" sortBy="#{notifica.alias}" filterBy="#{notifica.alias}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.idContatto} - #{notifica.alias}"/>
        </p:column>
        
        <p:column headerText="Vecchio Valore" sortBy="#{notifica.vecchioValore}" filterBy="#{notifica.vecchioValore}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.vecchioValore}"/>
        </p:column>
        
        <p:column headerText="Nuovo Valore" sortBy="#{notifica.nuovoValore}" filterBy="#{notifica.nuovoValore}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.nuovoValore}"/>
        </p:column>
        
         <p:column headerText="Note" sortBy="#{notifica.note}" filterBy="#{notifica.note}" filterMatchMode="contains" >
	        <h:outputText value="#{notifica.note}"/>
        </p:column>
        
	</p:dataTable>
	
	<p:outputPanel id="dettagliModificaContattoDlg_RGRT">
		<red:dlgOperazioneNotificaContattoComponent widgetVar="dettagliModificaContattoWV" dlgTitle="Esegui richiesta" confirmBtnTitle="Esegui"
			confirmBtnOperation="#{RubricaBean.checkOperazioneEDati()}" confirmBtnUpdate="@form:RubricaTab:richieste_RGRT">
		</red:dlgOperazioneNotificaContattoComponent>
	</p:outputPanel>
	
	<p:outputPanel id="dettagliPresaVisioneContattoDlg_RGRT">
		<red:dlgOperazioneNotificaContattoComponent widgetVar="dettagliPresaVisioneContattoWV" dlgTitle="Presa visione" confirmBtnTitle="Presa visione"
			confirmBtnOperation="#{RubricaBean.presaVisioneNotificaContatto()}" confirmBtnUpdate="@form:RubricaTab:richieste_RGRT">
		</red:dlgOperazioneNotificaContattoComponent>
	</p:outputPanel>

	<p:dialog header="Rifiuta richiesta" widgetVar="dialogRifiuta" id="idDialogRifiuta" for="rifRichiesta" hideEffect="fade" resizable="false"
		onHide="clearTextAreaByWidget('wdgNotaRichiestaRifiuta_RGCT')" appendTo="@form" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRifiuta')" closable="true">
		<div class="ui-g generic_width600px">
			<div class="ui-g-12">
				<p:outputLabel value="Note" for="@next" />
			</div>
			<div class="ui-g-12 ui-fluid">
				<p:inputTextarea value="#{RubricaBean.notaRifiutaRichiesta}" rows="4" widgetVar="wdgNotaRichiestaRifiuta_RGCT" />
			</div>
		</div>
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
			<p:commandButton icon="fa fa-check" value="Esegui" title="Esegui" actionListener="#{RubricaBean.rifiutaRichiesta}" update="richieste_RGRT" oncomplete="PF('dialogRifiuta').hide();" 
				styleClass="generic_width100" />
			<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi" onclick="PF('dialogRifiuta').hide();" styleClass="generic_width100 uniqueCloseButton"/>
		</p:panelGrid>
	</p:dialog>
			
	<p:dialog widgetVar="dialogCheckElimina_RGGT" id="idDialogCheckElimina_RGGT" for="checkRichiesta" hideEffect="fade" resizable="false"
		modal="true" header="Attenzione" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogCheckElimina_RGGT')" closable="true">
		<div class="generic_textAlignCenter">
			<h:outputText value="Attenzione, ci sono delle notifiche in sospeso associate a questo contatto. Procedere lo stesso?"/>
		</div>
		<div class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-check" value="Si" title="si" actionListener="#{RubricaBean.eseguiRichiesta}" 
				update="@form:RubricaTab:prefRubrica_RG, @form:RubricaTab:ricRubrica_RG , richieste_RGRT" 
				oncomplete="PF('dialogCheckElimina_RGGT').hide()" rendered="#{SessionBean.renderRubrica}"/>
			<p:commandButton icon="fa fa-check" value="Si" title="si" actionListener="#{RubricaBean.eseguiRichiesta}" update="@form:RubricaTab:dettagliModificaContattoDlg_RGRT" 
				oncomplete="PF('dialogCheckElimina_RGGT').hide()" rendered="#{not SessionBean.renderRubrica}" />
		
			<p:commandButton icon="fa fa-times" value="No" title="no" onclick="PF('dialogCheckElimina_RGGT').hide()" type="button" styleClass="uniqueCloseButton"/>
		</div>
	</p:dialog>
	
</ui:composition>