<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui">
<p:panel>

	<p:panel id="genericFormGestioneContatti_id" styleClass="noBorderGrid generic_formPnl">	
		
		<p:selectOneRadio id="opzioni_gestione_contatto" value="#{RubricaBean.mode}" styleClass="generic_paddingBottom10px" >
			<p:ajax listener="#{RubricaBean.resetAllFields}" update="gestioneContatto, ricercaGestioneContattiPnl, ricercaGestioneContatti_RGT, @form:hiddenfield, @form:modificaContattoSection" />
			<p:ajax listener="#{RubricaBean.impostaModalita}" update="gestioneContatto, ricercaGestioneContattiPnl, ricercaGestioneContatti_RGT, @form:modificaContattoSection" />
			<f:selectItem itemLabel="Crea Nuovo contatto" itemValue="crea" />
		    <f:selectItem itemLabel="Modifica/Elimina contatto" itemValue="modifica" />
		</p:selectOneRadio>
		
		<h:panelGroup id="gestioneContatto">
			<p:panelGrid rendered="#{RubricaBean.modeFlag}" id="gestioneContattoPnlG" columns="4" cellpadding="10" layout="grid" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" styleClass="ui-panelgrid-blank centeredPanel">
					<p:outputLabel value="Tipo Contatto" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold" />  
					<p:selectOneMenu id="tipoPersona_creaContatto" value="#{RubricaBean.inserisciContattoItem.tipoPersona}" rendered="#{RubricaBean.modeFlag}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
			        	<f:selectItem itemLabel="Fisica" itemValue="F"  />
			        	<f:selectItem itemLabel="Giuridica" itemValue="G" />
			        	<p:ajax event="itemSelect" listener="#{RubricaBean.onItemSelect}" process="gestioneContattoPnlG" update="gestioneContattoPnlG"></p:ajax>
			        </p:selectOneMenu>
					
					<p:outputLabel value="Mail PEO" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding"/> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.mail}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />
					
					<p:outputPanel >
						<p:outputLabel value="Ragione Sociale / Nome" styleClass="generic_textBold" rendered="#{RubricaBean.modeFlag}" />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{RubricaBean.modeFlag}" />
					</p:outputPanel>
					<p:inputText value="#{RubricaBean.inserisciContattoItem.nome}" styleClass="textfield_input obbligatorio" rendered="#{RubricaBean.modeFlag}"/>
					<p:inputText value="#{RubricaBean.ricercaContattoModificaObj.nome}" styleClass="textfield_input " rendered="#{!RubricaBean.modeFlag}" />
					
					<p:outputLabel value="Mail PEC" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" /> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.mailPec}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />

					<p:outputPanel>
						<p:outputLabel value="Cognome" styleClass="generic_textBold" />
						<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{RubricaBean.modeFlag and (RubricaBean.inserisciContattoItem.tipoPersona eq 'F' or RubricaBean.inserisciContattoItem.tipoPersona eq null)}"/>
					</p:outputPanel>	
					<p:inputText value="#{RubricaBean.inserisciContattoItem.cognome}" styleClass="#{(RubricaBean.inserisciContattoItem.tipoPersona eq 'F' or RubricaBean.inserisciContattoItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }" rendered="#{RubricaBean.modeFlag}"/>
					<p:inputText value="#{RubricaBean.ricercaContattoModificaObj.cognome}" styleClass="textfield_input " rendered="#{!RubricaBean.modeFlag}" />
					
					<p:outputLabel value="Telefono" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding"/> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.telefono}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}"/>
					
					<p:outputLabel value="Descrizione / Alias" styleClass="generic_textBold"/>
					<p:inputText value="#{RubricaBean.inserisciContattoItem.aliasContatto}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />
					<p:inputText value="#{RubricaBean.ricercaContattoModificaObj.aliasDescrizione}" styleClass="textfield_input" rendered="#{!RubricaBean.modeFlag}" />
					
					<p:outputLabel value="Cellulare" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" /> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.cellulare}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />

					<p:outputLabel value="PEC/PEO" styleClass="generic_textBold"
								     rendered="#{!RubricaBean.modeFlag}" />
					<p:inputText value="#{RubricaBean.ricercaContattoModificaObj.mail}" styleClass="textfield_input"
									rendered="#{!RubricaBean.modeFlag}" />
					
					<p:outputLabel value="Indirizzo" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold"/> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.indirizzo}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}"/>
					
					<p:outputLabel value="Fax" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" /> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.fax}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />
					
					<p:outputLabel value="CAP" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold" /> 
					<p:inputText value="#{RubricaBean.inserisciContattoItem.CAP}" styleClass="textfield_input" rendered="#{RubricaBean.modeFlag}" />

					<p:outputLabel value="Regione" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" />
					<p:autoComplete value="#{RubricaBean.inserisciContattoItem.regioneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadRegioni}" 
						var="regioni" itemLabel="#{regioni.denominazione}" itemValue="#{regioni.idRegione}"	converter="regioneConverter"
						rendered="#{RubricaBean.modeFlag}" forceSelection="true" id="regioneInsertAutocomplete_Rub"
						styleClass="textfield_input">
						<p:ajax event="itemSelect" listener="#{RubricaBean.updateRegioniOnSelectAddCreazione}" update="provinciaInsertAutocomplete_Rub,comuneInsertAutocomplete_Rub" />
						<p:ajax event="clear" listener="#{RubricaBean.updateRegioniOnSelectAddCreazione}" update="provinciaInsertAutocomplete_Rub,comuneInsertAutocomplete_Rub" />
					</p:autoComplete>
					
					<div></div>
					<p:panelGrid columns="2" id="aggiungiAiPreferitiPnl" columnClasses="ui-grid-col-10,ui-grid-col-1" styleClass="generic_textAlignRight generic_input50 generic_formPnl2" rendered="#{RubricaBean.modeFlag}" layout="grid">
							<p:outputLabel for="addPreferiti" value="Aggiungi ai preferiti" styleClass="generic_textBold generic_formPnl3"/>
							<p:selectBooleanCheckbox id="addPreferiti" label="Aggiungi ai Preferiti" styleClass="generic_formPnl4"  value="#{RubricaBean.inserisciContattoItem.isPreferito}" />						
					</p:panelGrid>
				
					<p:outputLabel value="Provincia" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" />
					<p:autoComplete value="#{RubricaBean.inserisciContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadProvinceAddCreazione}"
						var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter"
						rendered="#{RubricaBean.modeFlag}" forceSelection="true" id="provinciaInsertAutocomplete_Rub" 
						styleClass="textfield_input" disabled="#{empty RubricaBean.inserisciContattoItem.regioneObj.idRegione}">
						<p:ajax event="itemSelect" listener="#{RubricaBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub" />
						<p:ajax event="clear" listener="#{RubricaBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub" />
					</p:autoComplete>
					
					<p:outputPanel></p:outputPanel>
						<p:panelGrid columns="2" columnClasses="ui-grid-col-10,ui-grid-col-1" styleClass="generic_textAlignRight generic_input50 generic_formPnl2" rendered="#{RubricaBean.modeFlag}" layout="grid">
							<p:outputLabel for="addTabella" value="Inserisci contatto da aggiungere" styleClass="generic_textBold generic_formPnl3" rendered="#{RubricaBean.chiamataDaAltraPagina}"/>
					 		<p:selectBooleanCheckbox id="addTabella" label="Inserisci contatto da aggiungere" styleClass="generic_formPnl4" value="#{RubricaBean.inserisciContattoItem.isAddTable}" rendered="#{RubricaBean.chiamataDaAltraPagina}" />			
						</p:panelGrid>	
					<p:outputLabel value="Comune" rendered="#{RubricaBean.modeFlag}" styleClass="generic_textBold generic_labelPadding" />
					<p:autoComplete value="#{RubricaBean.inserisciContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadComuniAddCreazione}"
						var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter"
						rendered="#{RubricaBean.modeFlag}" forceSelection="true" id="comuneInsertAutocomplete_Rub" disabled="#{empty RubricaBean.inserisciContattoItem.provinciaObj.idProvincia}"
						styleClass="textfield_input">
						<p:ajax event="itemSelect" listener="#{RubricaBean.updateComuniOnSelectAddCreazione}"  />
						<p:ajax event="clear" listener="#{RubricaBean.updateComuniOnSelectAddCreazione}" />
					</p:autoComplete>
					
			</p:panelGrid>
			
			<p:outputPanel id="datiRicercaModOP" rendered="#{not RubricaBean.modeFlag}">
				<p:outputLabel value="Ricerca" for="queryRicercaModID" styleClass="DD_labelTitoletto"/>
				<p:inputText id="queryRicercaModID" value="#{RubricaBean.queryRicerca}" placeholder="Cerca..." style="width:30%;margin-left:5px;" />
			</p:outputPanel>
			
			
			<p:outputPanel id="btnOpPnl" class="buttonsDiv buttonsLayout_for24PnlG">
				<p:commandButton id="aggiungiBtn" icon="fa fa-plus" actionListener="#{RubricaBean.validaEInserisci}" value="Crea" styleClass="centeredPanel button #{RubricaBean.permessoUtente ? 'generic_width80px' : ''}"

					rendered="#{RubricaBean.permessoUtente and RubricaBean.modeFlag}" process = "@form:RubricaTab:gestioneContatto" update="@form:RubricaTab:prefRubrica_RG, @form:contAltrePag_RG, @form:aggiungiContattiBtn, gestioneContatto" />
				<p:commandButton id="richiediAggiungiBtn" value="Richiedi Creazione" icon="fa fa-plus" title="Richiedi Creazione" rendered="#{!RubricaBean.permessoUtente and RubricaBean.modeFlag}" onclick="PF('dialogRichCreazione1').show()" />

				
				
				<p:commandButton id="ricercaBtn" icon="fa fa-search" actionListener="#{RubricaBean.ricercaModificaContattoRed}" value="Cerca" styleClass="centeredPanel button" rendered="#{!RubricaBean.modeFlag}"
					update="ricercaGestioneContatti_RGT, ricercaGestioneContattiPnl, gestioneContatto, @form:modificaContattoSection"/>
			<p:defaultCommand></p:defaultCommand>
				
				<p:commandButton id="pulisciBtn" icon="fa fa-eraser" 
								 actionListener="#{RubricaBean.resetAllFields}" value="Pulisci"
								 styleClass="centeredPanel button generic_width80px" 
								 update="gestioneContatto" />
					
				
				
			</p:outputPanel>
			<p:dialog header="Richiesta Creazione" widgetVar="dialogRichCreazione1" id="idDialogRichCreazione1" closable="true" resizable="false"
				hideEffect="fade"  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRichCreazione1')" draggable="false" >
				<div class="ui-g generic_width600px">
					<div class="ui-g-12">
						<p:outputLabel value="Note" for="@next" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-12 ui-fluid">
						<p:inputTextarea value="#{RubricaBean.notaRichiestaCreazione}" rows="4" />
					</div>
					<div class="ui-g-12 generic_textAlignCenter">
						<span class="generic_textBold">Sara' inviata una richiesta al Gestore della Rubrica per il contatto</span> 
					</div>
					<div class="ui-g-12 generic_textAlignCenter">
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
						<p:commandButton value="Esegui" title="Esegui" icon="fa fa-check" process="idDialogRichCreazione1" actionListener="#{RubricaBean.validaERichiediInserimento}" update="@form:RubricaTab:richieste_RGRT, idDialogRichCreazione1" oncomplete="PF('dialogRichCreazione1').hide()" styleClass="generic_width100"/>
						<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('dialogRichCreazione1').hide()" type="button" styleClass="generic_width100 uniqueCloseButton"/>
					</p:panelGrid>
					</div>
				</div>
			</p:dialog>
		</h:panelGroup>
	</p:panel>
	<p:panel id="ricercaGestioneContattiPnl" styleClass="noBorderGrid">
		<p:dataTable id="ricercaGestioneContatti_RGT" widgetVar="ricercaGestioneContatti_WV"
					 rendered="#{!RubricaBean.modeFlag and RubricaBean.ricercaEffettuataFlag}" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
					 var="contatto" value="#{RubricaBean.contattiModificaDTH.masters}" rowKey="#{contatto.contattoID}" 
					 styleClass="dataTable  generic_formPnl" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15,20" rows="15"
					 sortMode="multiple" emptyMessage="Nessun contatto trovato"  paginatorAlwaysVisible="false" >    
					
					<f:facet name="footer">
			            <h:outputText value="TOT : #{fn:length(RubricaBean.contattiModificaDTH.masters)}"/>
			        </f:facet>
					
					<p:column id="op_gestCont" headerText="Azioni" styleClass="#{!RubricaBean.permessoUtente?'generic_width60px':'generic_width120px'} generic_textAlignCenter">
			        	<p:panelGrid id="operazioniPnlg" columns="#{!RubricaBean.permessoUtente?'2':'3'}" columnClasses="#{!RubricaBean.permessoUtente?'ui-grid-6 generic_paddingLR0,ui-grid-6 generic_paddingLR0':'ui-grid-4 generic_paddingLR0,ui-grid-4 generic_paddingLR0,ui-grid-4 generic_paddingLR0'}" layout="grid" styleClass="generic_textAlignCenter pnlgrid_noborder">
							<p:commandButton icon="fa fa-remove" actionListener="#{RubricaBean.eliminaContatto}" title="Elimina contatto" update="@form:RubricaTab:prefRubrica_RG,@form:RubricaTab:ricRubrica_RG,ricercaGestioneContatti_RGT,  @form:panelDataTableCreaContattiDaAltraPagina" rendered="#{RubricaBean.permessoUtente}" />
							<p:commandButton icon="fa fa-star" rendered="#{contatto.isPreferito}" actionListener="#{RubricaBean.rimuoviPreferito}"  title="Rimuovi dai preferiti" update="@form:RubricaTab:prefRubrica_RG,@form:RubricaTab:ricRubrica_RG,ricercaGestioneContatti_RGT" />
							<p:commandButton icon="fa fa-star-o" rendered="#{!contatto.isPreferito or contatto.isPreferito eq null}" actionListener="#{RubricaBean.aggiungiAiPreferiti}" title="Aggiungi ai Preferiti"  update="@form:RubricaTab:prefRubrica_RG,@form:RubricaTab:ricRubrica_RG,ricercaGestioneContatti_RGT"  />
							<p:commandButton id="modificaContattoBtn" icon="fa fa-pencil" actionListener="#{RubricaBean.clickOnModificaContatto}" title="Modifica Contatto" update="@form:modificaContattoSection"/>
						</p:panelGrid>
					</p:column>
					
			      	<p:column id="tiporubrica_gestCont" headerText="Rubrica" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains" width="6%" styleClass="generic_textAlignCenter" >
				        <h:outputText value="#{contatto.tipoRubrica}"/>
			        </p:column>
			        
			        <p:column id="tipocontatto_rub" headerText="Tipo contatto" sortBy="#{contatto.tipoPersona}" filterBy="#{contatto.tipoPersona}" filterMatchMode="contains" width="7%" styleClass="generic_textAlignCenter" >
					        <h:outputText value="#{contatto.tipoPersona}"/>
				   </p:column>
			        
    				<p:column id="aliascontatto_gestCont" headerText="Descrizione / Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains" >
				        <h:outputText value="#{contatto.aliasContatto}"/>
			        </p:column>
			        
					<p:column id="nome_gestCont" headerText="Nome" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains" >
				        <h:outputText value="#{contatto.nome}"/>
			        </p:column>
			        
			        <p:column id="cognome_gestCont" headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains" >
				        <h:outputText value="#{contatto.cognome}"/>
			        </p:column>
			        <p:column id="peo_gestCont" headerText="PEO" sortBy="#{contatto.mail}" filterBy="#{contatto.mail}" filterMatchMode="contains" >
				        <div class="ellipsis">
				        	<h:outputText value="#{contatto.mail}" title="#{contatto.mail}"/>
				        </div>
			        </p:column>
			        
			        <p:column id="pec_gestCont" headerText="PEC" sortBy="#{contatto.mailPec}" filterBy="#{contatto.mailPec}" filterMatchMode="contains" >
			        	<div class="ellipsis">
				        	<h:outputText value="#{contatto.mailPec}" title="#{contatto.mailPec}"/>
				        </div>
			        </p:column>
			        
			</p:dataTable>
		</p:panel>
		<br/>
	</p:panel>
</ui:composition>