<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:inputText widgetVar="wdgRubricaFormName" value="#{RubricaBean.formName}" type="hidden" id="hiddenfieldFormNameId" />
	
	<script>
		setTimeout(function() {
			var formValue = $(PrimeFaces.widgets['wdgRubricaFormName'].jqId) .closest('form').attr('id');
			$(PrimeFaces.widgets['wdgRubricaFormName'].jqId).val(formValue); 
			}, 500);
	</script>

	<div class="generic_marginTop5" />

	<p:tabView id="RubricaTab" widgetVar="wdgRubricaTab_TG" styleClass="generic-overflow-hidden " activeIndex="#{RubricaBean.activeIndex}" >
		<p:spacer></p:spacer>

		<p:tab id="preferiti_RG" title="Contatti" titleStyleClass="#{RubricaBean.permessoUtente ? '' : 'generic_prop_hidden'}">
			<div class="generic_marginTop5" />
			<p:outputPanel>
				<p:outputPanel styleClass="ui-g-12 no_left_padding">
					<p:selectOneRadio id="modeRicerca" value="#{RubricaBean.ricercaRED}">
						<f:selectItem itemLabel="Rubrica Red" itemValue="true" />
						<f:selectItem itemLabel="Indice PA" itemValue="false" />
					</p:selectOneRadio>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-12 no_left_padding">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="padding-left: 0px;" columnClasses="ui-grid-col11,ui-grid-col1">
						<p:inputText style="width:100%" placeholder="Cerca..." value="#{RubricaBean.queryRicerca}" id="queryRicercaID" />
						<p:outputPanel>
							<p:commandButton icon="fa fa-eraser" actionListener="#{RubricaBean.cleanQueryRicerca}" update="centralSectionForm:RubricaTab:queryRicercaID" title="Pulisci" />
							<p:commandButton icon="fa fa-search" actionListener="#{RubricaBean.ricercaContattoNew}" update="risultatiRubricaOP,centralSectionForm:RubricaTab:ricRubrica_RG" async="true" process="queryRicercaID,modeRicerca" onsuccess="refreshPageDataTable('ricercaRubrica_RG');" title="Cerca" />
						</p:outputPanel>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<p:outputPanel id="risultatiRubricaOP">
				<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6 generic_floatLeft no_left_padding,ui-grid-col-6 generic_no-padding-rightImp" styleClass="pnlgrid_noborder">
					<p:outputPanel styleClass="generic_floatLeft">
						<p:outputLabel value="Rubrica Ufficio #{RubricaBean.utente.ufficioDesc}" styleClass="rubrica-title" rendered="#{not RubricaBean.ricercaEffettuataFlag}"/>
						<p:outputLabel value="Risultati Ricerca #{RubricaBean.ricercaRED ? 'RED' : 'Indice PA'}" styleClass="rubrica-title" rendered="#{RubricaBean.ricercaEffettuataFlag}"/>
					</p:outputPanel>
					<p:outputPanel styleClass="generic_floatRight">
						<p:commandButton value="Torna alla rubrica dell'ufficio" title="Torna alla rubrica dell'ufficio" icon="fa fa-arrow-left" actionListener="#{RubricaBean.ritornaARubricaUfficio}" update="risultatiRubricaOP,centralSectionForm:RubricaTab:queryRicercaID" rendered="#{RubricaBean.ricercaEffettuataFlag}"/>
						<p:commandButton value="#{RubricaBean.permessoUtente ? 'Nuovo Contatto' : 'Richiedi Nuovo Contatto'}" title="#{RubricaBean.permessoUtente ? 'Nuovo Contatto' : 'Richiedi Nuovo Contatto'}" icon="fa fa-plus" actionListener="#{RubricaBean.inizializzaContattoPerCreazione}" oncomplete="PF('creaModificaContattoDlg_WV').show();" update="centralSectionForm:creaModificaContattoDlg_ID" />
						<p:commandButton id="aggiungiContattiAGruppiBtnId" value="Aggiungi contatti a gruppi" title="Aggiungi contatti a gruppi" icon="fa fa-plus" disabled="#{!(fn:length(RubricaBean.contattiPreferitiDTH.selectedMasters) > 0 ) and !(fn:length(RubricaBean.contattiRicercaDTH.selectedMasters) > 0 )}" actionListener="#{RubricaBean.tuttiGruppi}" oncomplete="PF('aggiungiContattoaGruppo_ricrubWV').show();" update="@form:aggiungiContattoaGruppo_ricrub_RG"/>
					</p:outputPanel>
				</p:panelGrid>

				<p:dataTable rendered="#{not RubricaBean.ricercaEffettuataFlag}" widgetVar="preferitiRubrica_RG" id="prefRubrica_RG" var="contatto" value="#{RubricaBean.contattiPreferitiDTH.masters}" rowKey="#{contatto.contattoID}" styleClass="dataTable generic_floatLeft" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="15,30" rows="15" sortMode="multiple" emptyMessage="Nessun contatto presente nella rubrica ufficio" paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
					<!-- selezione multipla -->
					<p:column toggleable="false" styleClass="dtSelectAllColumn">
						<f:facet name="header">
							<span class="fa fa-check-square-o datatable-select-allCol #{!RubricaBean.contattiPreferitiDTH.checkAll?'hide':''}" onclick="updateAllCheckPreferiti()" title="Deseleziona tutti" />
							<span class="fa fa-square-o datatable-select-allCol  #{RubricaBean.contattiPreferitiDTH.checkAll?'hide':''}" onclick="updateAllCheckPreferiti()" title="Seleziona tutti" />
							<p:remoteCommand actionListener="#{RubricaBean.handleAllCheckBoxPreferiti}" name="updateAllCheckPreferiti" update="@form:RubricaTab:prefRubrica_RG, centralSectionForm:RubricaTab:aggiungiContattiAGruppiBtnId" />
						</f:facet>
						<p:selectBooleanCheckbox id="chk_rub_pref" value="#{contatto.selected}" title="#{contatto.selected ? 'Deseleziona':'Seleziona'} #{contatto.aliasContatto}" rendered="#{contatto.tipoRubrica ne 'GRUPPO'}" >
							<p:ajax event="change" listener="#{RubricaBean.updateCheckRubricaUfficio}" update="centralSectionForm:RubricaTab:aggiungiContattiAGruppiBtnId" />
						</p:selectBooleanCheckbox>
					</p:column>
					<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width6perc">
						<p:commandButton id="menuRubricaBtn" type="button" icon="fa fa-ellipsis-v" />
						<p:menu overlay="true" trigger="menuRubricaBtn" my="left top" at="left bottom" style="width: 15%;">
							<p:submenu label="Azioni" styleClass="hiddenBackground">
								<p:separator></p:separator>
								<p:menuitem actionListener="#{RubricaBean.rimuoviPreferito}" value="Rimuovi da Rubrica Ufficio" title="Rimuovi da Rubrica Ufficio" icon="fa fa-star" update="@form:RubricaTab:prefRubrica_RG" rendered="#{contatto.tipoRubrica ne 'GRUPPO'}" />
								<p:menuitem value="Aggiungi/Rimuovi da Gruppi" icon="fa fa-users" rendered="#{contatto.tipoRubrica ne 'GRUPPO'}" oncomplete="PF('aggiungiContattoaGruppo_ricrubWV').show();" actionListener="#{RubricaBean.tuttiGruppi(contatto)}" update="centralSectionForm:aggiungiContattoaGruppo_ricrub_RG" process="@this"/>
								<p:menuitem value="#{RubricaBean.permessoUtente ? 'Modifica' : 'Richiedi Modifica'}" title="#{RubricaBean.permessoUtente ? 'Modifica' : 'Richiedi Modifica'}" icon="fa fa-pencil" rendered="#{contatto.tipoRubrica eq 'RED'}" process="@this" oncomplete="PF('creaModificaContattoDlg_WV').show();" actionListener="#{RubricaBean.clickOnModificaContatto}" update="centralSectionForm:panelContattiGruppoRub,centralSectionForm:creaModificaContattoDlg_ID"/>
								<p:menuitem value="Elimina" title="Elimina" icon="fa fa-trash" rendered="#{contatto.tipoRubrica eq 'RED' and RubricaBean.permessoUtente}" actionListener="#{RubricaBean.eliminaContatto}" process="@this" update="prefRubrica_RG"/>
								<p:menuitem value="Richiedi Eliminazione" title="Richiedi Eliminazione" icon="fa fa-trash" rendered="#{contatto.tipoRubrica eq 'RED' and not RubricaBean.permessoUtente}" oncomplete="PF('dialogRichEliminazioneVW').show();" process="@this" actionListener="#{RubricaBean.impostaContattoDaEliminare}" update="centralSectionForm:panelContattiGruppoRub"/>
								<p:menuitem value="Ispeziona Gruppo" rendered="#{contatto.tipoRubrica eq 'GRUPPO'}" icon="fa fa-eye" actionListener="#{RubricaBean.ricercaContattiNelGruppo(contatto)}" oncomplete="PF('contattiNelGruppoWV').show();" update="centralSectionForm:panelContattiGruppoRub" />
								<p:menuitem value="Elimina Gruppo" rendered="#{contatto.tipoRubrica eq 'GRUPPO'}" icon="fa fa-trash" actionListener="#{RubricaBean.eliminaGruppo(contatto)}" update="@form:RubricaTab:prefRubrica_RG" disabled="#{contatto.disabiitaDeleteGruppiNonUff}" />
								<p:menuitem value="Mostra alberatura IPA" icon="fa fa-sitemap" actionListener="#{RubricaBean.showAlberaturaContattoIPA}" onstart="PF('alberaturaContattoIpaWV').hide()" oncomplete="PF('alberaturaContattoIpaWV').show()" process="@this" rendered="#{contatto.tipoRubrica eq 'IPA'}"  disabled="#{contatto.tipoPersona eq 'AMM'}" title="Gerarchia OU" update="centralSectionForm:alberaturaContattoIpaID" />
							</p:submenu>
						</p:menu> 
					</p:column>

					<p:column headerText="Contatto" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains" width="8%" styleClass="generic_textAlignCenter">
						<p:commandButton id="infoBtnGroup" icon="fa fa-group" rendered="#{contatto.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlGroup" appendToBody="true" for="infoBtnGroup" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura gruppo"></iframe>
							</p:overlayPanel>
						</p:commandButton>

						<p:commandButton id="infoBtnUser" icon="fa fa-user" rendered="#{contatto.tipoRubrica eq 'MEF'}" title="MEF" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlUser" appendToBody="true" for="infoBtnUser" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura mef"></iframe>
							</p:overlayPanel>
						</p:commandButton>

						<p:commandButton id="infoBtnIpaAmm" icon="fa fa-sitemap" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AMM'}" title="IPA - AMM" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlIpaAmm" appendToBody="true" for="infoBtnIpaAmm" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
							</p:overlayPanel>
						</p:commandButton>

						<p:commandButton id="infoBtnIpaAoo" icon="fa fa-bank" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AOO'}" title="IPA - AOO" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlIpaAoo" appendToBody="true" for="infoBtnIpaAoo" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
							</p:overlayPanel>
						</p:commandButton>

						<p:commandButton id="infoBtnIpaOu" icon="fa fa-building" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'OU'}" title="IPA - OU" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlIpaOu" appendToBody="true" for="infoBtnIpaOu" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura ipa"></iframe>
							</p:overlayPanel>
						</p:commandButton>

						<p:commandButton id="infoBtnRed" icon="fa fa-user" rendered="#{contatto.tipoRubrica eq 'RED'}" title="RED" type="button" styleClass="generic-button-noBorder">
							<p:overlayPanel id="infoPnlRed" appendToBody="true" for="infoBtnRed" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
								<infopanel:panelInfoContatto contatto="#{contatto}" bean="#{RubricaBean}" />
								<iframe class="cover" src="about:blank" title="Frame alberatura red"></iframe>
							</p:overlayPanel>
						</p:commandButton>
					</p:column>

					<p:column headerText="Descrizione/Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains">
						<div class="ellipsis">
							<h:outputText value="#{contatto.aliasContatto}" title="#{contatto.aliasContatto}" />
						</div>
					</p:column>

					<p:column headerText="Denominazione - Nome Contatto/Gruppo" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains">
						<div class="ellipsis">
							<h:outputText value="#{contatto.nome}" title="#{contatto.nome}" />
						</div>
					</p:column>

					<p:column headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains">
						<div class="ellipsis">
							<h:outputText value="#{contatto.cognome}" title="#{contatto.cognome}" />
						</div>
					</p:column>
					<p:column headerText="PEO" sortBy="#{contatto.mail}" filterBy="#{contatto.mail}" filterMatchMode="contains">
						<div class="ellipsis">
							<h:outputText value="#{contatto.mail}" title="#{contatto.mail}" />
						</div>
					</p:column>

					<p:column headerText="PEC" sortBy="#{contatto.mailPec}" filterBy="#{contatto.mailPec}" filterMatchMode="contains">
						<div class="ellipsis">
							<h:outputText value="#{contatto.mailPec}" title="#{contatto.mailPec}" />
						</div>
					</p:column>
					<f:facet name="footer">
						<h:outputText value="TOT : #{fn:length(RubricaBean.contattiPreferitiDTH.masters)}" />
					</f:facet>
				</p:dataTable>

				<!-- RICERCA -->
				<ui:include src="ricercaRubrica.xhtml"></ui:include>
			</p:outputPanel>
			<!-- END -->
		
		</p:tab>
 		<p:tab title="Notifiche Rubrica" rendered="false">
			<div class="generic_marginTop5" />
			<ui:include src="notificheRubrica.xhtml"></ui:include>
		</p:tab>
		
		<p:tab title="Gestione Richieste" rendered="#{RubricaBean.permessoUtente}">
			<div class="generic_marginTop5" />
			<ui:include src="rubricaGestioneRichiesteTab.xhtml"></ui:include>
		</p:tab>

	</p:tabView>
 	 
	<p:panel rendered="#{RubricaBean.chiamataDaAltraPagina}" styleClass="margin-Top2Percent noBorderGrid" widgetVar="contattiPanelAltrePagineRubricaWdgVar" id="panelDataTableCreaContattiDaAltraPagina">
		<p:outputLabel rendered="#{RubricaBean.chiamataDaAltraPagina}" value="#{RubricaBean.messaggioRubricaDaAltraPagina}" styleClass="generic_textBold"></p:outputLabel>
		<p:dataTable widgetVar="contattiDaAltrePagine_RG" id="contAltrePag_RG" var="contatto" value="#{RubricaBean.contattiDaAltrePagineDTH.masters}" selectionMode="single" rowKey="#{index}" rowIndexVar="index" styleClass="dataTable" paginator="true" paginatorPosition="bottom"
			rowsPerPageTemplate="5,10,15" rows="5" sortMode="multiple" emptyMessage="Nessun Contatto" paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">

			<f:facet name="footer">
				<h:outputText value="TOT : #{fn:length(RubricaBean.contattiDaAltrePagineDTH.masters)}" />
			</f:facet>

			<p:column headerText="Rubrica" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains">
				<h:outputText value="#{contatto.tipoRubrica}" />
			</p:column>

			<p:column headerText="Descrizione/Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains">
				<h:outputText value="#{contatto.aliasContatto}" />
			</p:column>

			<p:column headerText="Nome" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains">
				<h:outputText value="#{contatto.nome}" />
			</p:column>

			<p:column headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains">
				<h:outputText value="#{contatto.cognome}" />
			</p:column>
			
			<p:column headerText="Mail" sortBy="#{contatto.mailSelected}" filterBy="#{contatto.mailSelected}" filterMatchMode="contains" styleClass="ui-fluid">
				<p:selectOneMenu id="mailSel" value="#{contatto.mailSelected}" panelStyleClass="hideDisabled" rendered="#{not empty contatto.mailPec or not empty contatto.mail}">
					<f:selectItem itemLabel="#{contatto.mailPec}" itemValue="#{contatto.mailPec}" itemDisabled="#{empty contatto.mailPec}" />
					<f:selectItem itemLabel="#{contatto.mail}" itemValue="#{contatto.mail}" itemDisabled="#{empty contatto.mail}" />
					<p:ajax event="itemSelect" listener="#{RubricaBean.updateMailSelected}" />
				</p:selectOneMenu>

			</p:column>
			
			<p:column headerText="" styleClass="generic_width4">
				<p:commandButton icon="fa fa-remove" actionListener="#{RubricaBean.rimuoviDaiDestinatari}" title="Elimina contatto" update="@form:contAltrePag_RG" />
			</p:column>
		</p:dataTable>
	</p:panel>
	
	<p:panel rendered="#{RubricaBean.chiamataDaAltraPagina}" styleClass="margin-Top2Percent noBorderGrid" widgetVar="RegistraAnnullaDaPagineRubricaWdgVar">
		<p:outputPanel styleClass="buttonsDiv generic_textAlignRight generic_paddingBottom2em generic_marginRight">
			<p:commandButton id="aggiungiContattiBtn" value="Aggiungi contatti" icon="fa fa-pencil" disabled="#{empty RubricaBean.contattiDaAltrePagineDTH.masters}" actionListener="#{RubricaBean.registraModifiche}" title="Registra"
				process="@this, @form:hiddenfield,@form:hiddenfieldFormNameId" update="panelRubInterno" />
			<p:commandButton widgetVar="chiudiRubr_WV" id="chiudiRubr" value="Chiudi" icon="fa fa-times" actionListener="#{RubricaBean.annullaModifiche}" title="Chiudi" process="@this, @form:hiddenfield,@form:hiddenfieldFormNameId" styleClass="uniqueCloseButton" update="panelRubInterno" />
		</p:outputPanel>
	</p:panel>

	<p:dialog id="aggiungiContattoaGruppo_ricrub_RG" widgetVar="aggiungiContattoaGruppo_ricrubWV" closable="true" header="Aggiungi a gruppo" styleClass="generic_maxwidth650px generic_maxHeight530px" modal="true" resizable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('aggiungiContattoaGruppo_ricrubWV')">
		<p:panelGrid id="creaNuovoGruppoPG" layout="grid" columns="2" columnClasses="ui-grid-col-8,ui-grid-col-4 #{not RubricaBean.creaNuovoGruppoClicked ? 'no_right_padding' : ''}" styleClass="pnlgrid_noborder">
			<p:outputPanel rendered="#{RubricaBean.creaNuovoGruppoClicked}" >
				<p:panelGrid  layout="grid" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8 ui-fluid" styleClass="pnlgrid_noborder">
					<p:outputPanel>
						<p:outputLabel value="Nome" styleClass="generic_textBold" />
						<p:outputLabel value="*" styleClass="generic_textBold" style="color:red!important;" />
					</p:outputPanel>
					<p:inputText value="#{RubricaBean.inserisciGruppo.nome}" styleClass="obbligatorio"/>
					<p:outputLabel value="Descrizione/Alias"  styleClass="generic_textBold"/>
					<p:inputText value="#{RubricaBean.inserisciGruppo.aliasContatto}" styleClass="obbligatorio"/>
				</p:panelGrid>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{RubricaBean.creaNuovoGruppoClicked}" >
				<p:panelGrid  layout="grid" columns="1" columnClasses="ui-grid-col-12" styleClass="pnlgrid_noborder">
					<p:commandButton value="Registra" styleClass="generic_width100" actionListener="#{RubricaBean.salvaNuovoGruppo}" update="centralSectionForm:RubricaTab,creaNuovoGruppoPG,centralSectionForm:RubricaTab:prefRubrica_RG,centralSectionForm:ricercaGruppiTabGruppi_ricrub"/>
					<p:commandButton value="Annulla" styleClass="generic_width100" actionListener="#{RubricaBean.creaNuovoGruppoClick}" update="centralSectionForm:creaNuovoGruppoPG"/>
				</p:panelGrid>
			</p:outputPanel>
			
			<p:spacer rendered="#{not RubricaBean.creaNuovoGruppoClicked}"/>
			<p:commandButton value="Nuovo Gruppo" icon="fa fa-plus" rendered="#{not RubricaBean.creaNuovoGruppoClicked}" update="centralSectionForm:creaNuovoGruppoPG" actionListener="#{RubricaBean.creaNuovoGruppoClick}" styleClass="generic_floatRight"/>
		</p:panelGrid>
		
		
		
		<p:dataTable id="ricercaGruppiTabGruppi_ricrub" var="gruppo" value="#{RubricaBean.gruppiDTH.masters}" rowKey="#{gruppo.contattoID}" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="5" sortMode="multiple" emptyMessage="Nessun gruppo" paginatorAlwaysVisible="false" widgetVar="wdg_ricercaGruppiTabGruppi_ricrub">
			<f:facet name="footer">
				<h:outputText value="TOT : #{fn:length(RubricaBean.gruppiDTH.masters)}" />
			</f:facet>

			<!-- selezione multipla -->
			<p:column toggleable="false" styleClass="dtSelectAllColumn">
				<f:facet name="header">
					<span class="fa fa-check-square-o datatable-select-allCol #{!RubricaBean.gruppiDTH.checkAll?'hide':''}" onclick="updateAllCheckGruppi()" title="Deseleziona tutti" />
					<span class="fa fa-square-o datatable-select-allCol #{RubricaBean.gruppiDTH.checkAll?'hide':''}" onclick="updateAllCheckGruppi()" title="Seleziona tutti" />
					<p:remoteCommand actionListener="#{RubricaBean.handleAllCheckBoxGruppi}" name="updateAllCheckGruppi" update="@form:ricercaGruppiTabGruppi_ricrub" />
				</f:facet>
				<p:selectBooleanCheckbox id="chkaddagruppi_rub" title="#{gruppo.selected?'Deseleziona':'Seleziona'} gruppo #{gruppo.nome}" value="#{gruppo.selected}">
					<p:ajax event="change" listener="#{RubricaBean.updateCheckGruppi}" update="@form:RubricaTab:prefRubrica_RG" />
				</p:selectBooleanCheckbox>
			</p:column>

			<p:column id="nome_gruppo" headerText="Nome" sortBy="#{gruppo.nome}" filterBy="#{gruppo.nome}" filterMatchMode="contains">
				<h:outputText value="#{gruppo.nome}" />
			</p:column>

			<p:column id="descrizione_gruppo" headerText="Descrizione" sortBy="#{gruppo.aliasContatto}" filterBy="#{gruppo.aliasContatto}" filterMatchMode="contains">
				<h:outputText value="#{gruppo.aliasContatto}" />
			</p:column>
		</p:dataTable>

		<p:panelGrid id="addContatGruppiMng" layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
			<p:commandButton value="Registra" title="registra" icon="fa fa-pencil" actionListener="#{RubricaBean.aggiungiContattiaGruppi}" oncomplete="PF('aggiungiContattoaGruppo_ricrubWV').hide()" styleClass="generic_width100" />
			<p:commandButton id="chiudiAggContAGruppo" value="Chiudi" title="chiudi" icon="fa fa-times" onclick="PF('aggiungiContattoaGruppo_ricrubWV').hide()" styleClass="generic_width100 uniqueCloseButton" actionListener="#{RubricaBean.resetCheckBoxGruppi}" />
		</p:panelGrid>
	</p:dialog>


	 <p:dialog header="Richiesta Creazione" widgetVar="dialogRichCreazione" id="idDialogRichCreazione" closable="true" resizable="false"
			hideEffect="fade" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dialogRichCreazione')" draggable="false" >
		<div class="ui-g generic_width600px">
			<div class="ui-g-12">
				<p:outputLabel value="Note" for="@next" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-12 ui-fluid">
				<p:inputTextarea value="#{RubricaBean.notaRichiestaCreazione}" rows="4"/>
			</div>
			<div class="ui-g-12 generic_textAlignCenter">
				<span class="generic_textBold">Sara' inviata una richiesta al Gestore della Rubrica per il contatto</span> 
			</div>
			<div class="ui-g-12 generic_textAlignCenter">
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder buttonsDiv">
				<p:commandButton value="Esegui" title="Esegui" icon="fa fa-check" actionListener="#{RubricaBean.creaDaContatto}" update="@form:RubricaTab:richieste_RGRT, idDialogRichCreazione" oncomplete="PF('dialogRichCreazione').hide()" styleClass="generic_width100"/>
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('dialogRichCreazione').hide()" type="button" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>
			</div>
		</div>
	</p:dialog>

	<p:dialog showHeader="true" header="Alberatura IPA" closeOnEscape="true" hideEffect="fade" id="alberaturaContattoIpaID" widgetVar="alberaturaContattoIpaWV" closable="true" styleClass="dmd-tree-panel" dynamic="true" modal="false" resizable="false" draggable="true">
		<div class="dmd-tree-panel generic_textAlignLeft">
			<p:tree value="#{RubricaBean.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">
				<p:treeNode type="AMM">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>

				<p:treeNode type="AOO">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>

				<p:treeNode type="OU">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
					<p:outputLabel value="#{nodo.aliasContatto}" />
				</p:treeNode>
			</p:tree>

		</div>
	</p:dialog>

	<p:panel id="panelContattiGruppoRub">
		<red:dlgRubrica bean="#{RubricaBean}" fromRubrica="true" />
	</p:panel>

	<!-- CREAZIONE NUOVO CONTATTO -->
		<p:dialog  id="creaModificaContattoDlg_ID" header="#{RubricaBean.inModifica ? 'Modifica Contatto' : 'Nuovo Contatto'}" widgetVar="creaModificaContattoDlg_WV" position="center" showEffect="fade" hideEffect="fade" appendTo="@form" resizable="false" closable="true" styleClass="generic_width90imp" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('creaModificaContattoDlg_WV')">
			<p:panelGrid id="gestioneContattoPnlG" columns="6" cellpadding="5" layout="grid" columnClasses="ui-grid-col-2,ui-grid-col-2 ,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2 ,ui-grid-col-2" styleClass="ui-panelgrid-blank centeredPanel">
				<p:outputPanel>
					<p:outputLabel value="Tipo Contatto" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
				</p:outputPanel>
				<p:selectOneMenu id="tipoPersona_creaContatto" value="#{RubricaBean.inserisciContattoItem.tipoPersona}" autoWidth="false" styleClass="textfield_dropdown obbligatorio ui-fluid removeRightPadding ">
					<f:selectItem itemLabel="Fisica" itemValue="F" />
					<f:selectItem itemLabel="Giuridica" itemValue="G" />
					<p:ajax event="itemSelect" listener="#{RubricaBean.onItemSelect}" update="gestioneContattoPnlG"></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel value="Titolo" rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}" styleClass="generic_textBold" />
				<p:inputText  styleClass="textfield_input" rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}" value="#{RubricaBean.inserisciContattoItem.titolo}" />
				
				<p:outputPanel rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'G'}">
					<p:outputLabel value="Denominazione Ente/Società" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
				</p:outputPanel>
				<p:inputText  styleClass="textfield_input obbligatorio" rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'G'}" value="#{RubricaBean.inserisciContattoItem.nome}" />
				
				<p:outputPanel rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}">
					<p:outputLabel value="Nome" styleClass="generic_textBold" rendered="#{RubricaBean.modeFlag}" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{RubricaBean.modeFlag}" />
				</p:outputPanel>
				<p:inputText value="#{RubricaBean.inserisciContattoItem.nome}" styleClass="textfield_input obbligatorio" rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}" />
				
				<p:outputPanel rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}">
					<p:outputLabel value="Cognome" styleClass="generic_textBold" rendered="#{RubricaBean.modeFlag}" />
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{RubricaBean.modeFlag}" />
				</p:outputPanel>
				<p:inputText value="#{RubricaBean.inserisciContattoItem.cognome}" styleClass="textfield_input obbligatorio " rendered="#{RubricaBean.inserisciContattoItem.tipoPersona eq 'F'}" />
				
				<p:outputLabel value="Descr/Alias" styleClass="generic_textBold" />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.aliasContatto}" styleClass="textfield_input" />
				
				<p:outputLabel value="Indirizzo" styleClass="generic_textBold" />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.indirizzo}" styleClass="textfield_input" />
				
				<p:outputLabel value="CAP" styleClass="generic_textBold" />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.CAP}" styleClass="textfield_input"/>
				 
				<p:outputLabel value="Provincia" styleClass="generic_textBold" />
				<p:autoComplete value="#{RubricaBean.inserisciContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadProvinceAddCreazione}" var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter" rendered="#{RubricaBean.modeFlag}" forceSelection="true" id="provinciaInsertAutocomplete_Rub" styleClass="textfield_input" >
						<p:ajax event="itemSelect" listener="#{RubricaBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub" />
						<p:ajax event="clear" listener="#{RubricaBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub" />
				</p:autoComplete>
					
				<p:outputLabel value="Comune" styleClass="generic_textBold"/>
				<p:autoComplete disabled="#{RubricaBean.inserisciContattoItem.provinciaObj eq null}" value="#{RubricaBean.inserisciContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{RubricaBean.loadComuniAddCreazione}" var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" rendered="#{RubricaBean.modeFlag}" forceSelection="true" id="comuneInsertAutocomplete_Rub" styleClass="textfield_input">
						<p:ajax event="itemSelect" listener="#{RubricaBean.updateComuniOnSelectAddCreazione}"  />
						<p:ajax event="clear" listener="#{RubricaBean.updateComuniOnSelectAddCreazione}" />
				</p:autoComplete>
				      
				<p:outputLabel value="Mail PEO" styleClass="generic_textBold " />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.mail}" styleClass="textfield_input " />

				<p:outputLabel value="Mail PEC" styleClass="generic_textBold " />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.mailPec}" styleClass="textfield_input" />
				
				<p:outputLabel value="Telefono" styleClass="generic_textBold " />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.telefono}" styleClass="textfield_input " />

				<p:outputLabel value="Cellulare" styleClass="generic_textBold " />
				<p:inputText value="#{RubricaBean.inserisciContattoItem.cellulare}" styleClass="textfield_input" />

				<p:outputLabel value="Aggiungi a rubrica ufficio" styleClass="generic_textBold" rendered="#{RubricaBean.permessoUtente}" />
				<p:selectBooleanCheckbox value="#{RubricaBean.addPreferiti}" rendered="#{RubricaBean.permessoUtente}" />

			</p:panelGrid>
			
			<div class="buttonsDiv generic_textAlignCenter">
				<p:commandButton value="#{RubricaBean.permessoUtente ? 'Crea Contatto' : 'Richiedi creazione'}" title="#{RubricaBean.permessoUtente ? 'Crea Contatto' : 'Richiedi creazione'}" icon="fa fa-pencil" actionListener="#{RubricaBean.validaEInserisciNew}" rendered="#{!RubricaBean.inModifica}" update="centralSectionForm:RubricaTab:prefRubrica_RG" />
				<p:commandButton value="Modifica Contatto" title="Modifica Contatto" icon="fa fa-pencil" actionListener="#{RubricaBean.modificaContatto}" rendered="#{RubricaBean.permessoUtente and RubricaBean.inModifica}" update="centralSectionForm:RubricaTab:prefRubrica_RG,centralSectionForm:RubricaTab:ricRubrica_RG" oncomplete="PF('creaModificaContattoDlg_WV').hide();" />
				<p:commandButton value="Richiedi modfica contatto" title="Richiedi modfica contatto" icon="fa fa-pencil" rendered="#{!RubricaBean.permessoUtente and RubricaBean.inModifica}" oncomplete="PF('dialogRichModificaWV').show()"/>
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('creaModificaContattoDlg_WV').hide();" styleClass="uniqueCloseButton" />
			</div>
		</p:dialog>
		<!-- CREAZIONE NUOVO CONTATTO -->

</ui:composition>
