.liAnnotationGrid {
	padding: 0;
}

.annotationTitle {
	display: block;
	clear: both;
	font-weight: normal;
	font-style: italic;
}

.annotationText {
	font-weight: normal
}

.liAnnotation {
	border: 1px solid #E9E9E9;
	border-bottom: 0px;
}

.ulAnnotation {
	width: 345px;
	height: 350px!important;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto;
	height: 70%;
}

.divAnnotationSelOneBtn {
	text-align: center;
}

.annotationSelOneBtn {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.annotationSelOneBtn > div {
	width: 30%;
}

.animated {
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom:60px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
0% {
-webkit-transform: perspective(400px) rotateY(90deg);
opacity: 0;
}
40% {
-webkit-transform: perspective(400px) rotateY(-10deg);
}
70% {
-webkit-transform: perspective(400px) rotateY(10deg);
}
100% {
-webkit-transform: perspective(400px) rotateY(0deg);
opacity: 1;
}
}

@keyframes flipInY {
	0% {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotateY(-10deg);
	}
	70% {
		transform: perspective(400px) rotateY(10deg);
	}
	100% {
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}

.notifiche-button {
	background: transparent !important;
	border: none !important;
}

.annotationPanelUpdate {
	width: 100%;
	min-height: 28px;
	clear: both;
	border-top: solid lightgray 1px;
}

.annotationPanelUpdateTitle {
	float: left;
	margin: 5px;
	font-weight: normal;
	font-style: italic;
}

.annotationPanelUpdateBtn {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}