/****************************************************************************************************************************************************************************
	MENU'
*************************************************************************************************************************************************************************** */

.menuCounter {
	position: absolute;
    right: 20px;
}

.menuGridPanel .fa {
	margin-right: 5px;
	margin-top: 1px;
}

.menu {
	width: 99%; 
	border: none;
	margin-left: 0px;
}

.menu > ul > li {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.menuGridPanel > div > table > tbody > tr > td {
	padding: 0.2em!important;
}

.menuGridOverlay {
	/*width:95%;*/
	width:50%;
}

.menuGridLink {
	text-decoration:none; 
	font-weight:normal;
}

.menuGridTitle {
	font-size: 1.15em;
}

.menuGridImage {
	height:32px;
}

.menuGridPanel {
	width:100%;
	height:100%;
}

.menuGridOverlay .ui-panelgrid-cell {
    padding-bottom: 10px;
}


/****************************************************************************************************************************************************************************
	DASHBOARD
*************************************************************************************************************************************************************************** */

.subPanelDashboard {
	width: 100%;
	font-weight: normal;
}    

.subPanelDashboard div {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}    
