.helpMainDiv {
	margin-bottom:30px;
}

.helpDivUl {
	list-style-type: none;
}
 
.helpDivH1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.helpDivH3 {
    font-size: 1.5em;
    font-weight: bold;
}
 
.helpDivImage {
	float: left;
    margin: 15px 15px 0 0;
    width: 45px;
}
 
.helpDivLi {
	padding: 10px;
	overflow: auto;
}
