/****************************************************************************************************************************************************************************
	MESSAGE
*************************************************************************************************************************************************************************** */

.ui-growl-warn {
	display: block;
    background: white;
    border: lightgrey;
    opacity: 0.97;
    border-left: solid 5px orange;
}
	
.ui-growl-error {
	display: block;
    background: white;
    border: lightgrey;
    opacity: 0.97;
    border-left: solid 5px red;
}
	
.ui-growl-info {
	display: block;
    background: white;
    border: lightgrey;
    opacity: 0.97;
    border-left: solid 5px blue;
}

.ui-messages-warn {
	background: white;
	border-color: #fbeed5;
	color: black;
}

.ui-confirm-dialog .ui-dialog-footer {
	border-width: 0;
}
/****************************************************************************************************************************************************************************
*************************************************************************************************************************************************************************** */

.ui-columntoggler {
	height:auto!important;	
}

.ui-datascroller-content {
	border:0px;	
}

.ui-dashboard .ui-widget-header {
	border:0px;	
}
	
.ui-menu .ui-menuitem {
	margin-right: 10px;
}

.fc-day-grid {
	font-size: 1.2em;
}

.ui-corner-all {
	border-radius:3px;
}

.ui-widget-overlay {
	opacity:  0.4!important;
	background: #eeeeee!important;
}

.ui-tooltip .ui-tooltip-text {
	background-color: white;
}

.ui-tooltip-right .ui-tooltip-arrow {
    border-right-color: white;
}

.ui-fileupload-content {
	height: 100%;
}


.ui-panel {  
	padding:0px;
}
.ui-panel-content {  
	padding:0px!important;
}

.fc-scroller {
    overflow: hidden!important;
    height: auto!important;
}

.cell-grid-no-padding-right {
	padding-right: 0px !important;
}

/****************************************************************************************************************************************************************************
	WIDGET
*************************************************************************************************************************************************************************** */

.smallest-text-size {  
	font-size: 0.5em!important; /* 8px!important; */
}

.smaller-text-size {  
	font-size: 0.625em!important; /* 10px!important; */
}

.normal-text-size {  
	font-size: 0.75em!important;/* 12px!important; */
}

.bigger-text-size {  
	font-size: 0.875!important; /* 14px!important; */
}

.biggest-text-size {  
	font-size: 1em!important; /* 16px!important; */
}

.label-risultati-ricerca {
	font-size: 1.3em!important;
}

/****************************************************************************************************************************************************************************
	MENU'
*************************************************************************************************************************************************************************** */   

.menu .ui-menu {
	background:transparent!important;
	border-radius: 0px;
}

.ui-menu .ui-menuitem-link {
    width: 97%;
}
/****************************************************************************************************************************************************************************
	ACCORDION
****************************************************************************************************************************************************************************/
.ui-accordion-content {
    background: transparent;
}

/****************************************************************************************************************************************************************************
	TAB-PANEL
*************************************************************************************************************************************************************************** */

.ui-tabs-panel {
	padding:0px!important;	
	height: 100%;
}

.ui-tabs-panels {
	height: 100%;
	border: 0px;
}

.ui-tabs-nav {
	background: none;
	border-bottom: 1px solid lightblue;
}

.ui-tabs {
	border:none
}   

/****************************************************************************************************************************************************************************
	FOCUS SUGLI INPUTFIELD
*************************************************************************************************************************************************************************** */

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
	.ui-widget-header .ui-inputfield.ui-state-focus {
	-moz-box-shadow: 0px 0px 13px #74b2e2, inset 0 2px 2px #8f8f8f!important;
	-webkit-box-shadow: 0px 0px 13px #74b2e2, inset 0 2px 2px #8f8f8f!important;
	box-shadow: 0px 0px 13px #74b2e2, inset 0 2px 2px #8f8f8f!important;
	/* background-color: #fafafa; */
} 