.progress-bar {
    margin-top: 13px;
	width: 100%;
    border-radius: 60px;
    overflow: hidden;
}

.bar {
	width: 100%;
	background: rgba(0,0,0,0.075);
	display: block;
}

.value-bar{
	display: block;
	background: #62bbe8;
	color: #fff;
	padding: 5px;
	width: 0;
	animation: loader 8s ease forwards;
}

.value-bar-full{
	display: block;
	background: #62bbe8;
	color: #fff;
	padding: 5px;
	width: 100%;
}

@keyframes loader {
	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;
    
	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}

}

@-webkit-keyframes loader {
	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;
    
	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}
}