.overlay_menu {
	width: 100%;
}

.overlay_menu > div {
	padding: 0px;
}

.itemCheck {
	float: right;
	font-size: 1.25em; /* 20px; */
}

.newMenuItem {
	border: 1px solid #c7dfef;
	transition: transform .2s;
	margin-right: 2px;
	display: inline-block;
	width: 85px;
	height: 85px;
	text-align: center;
	margin-bottom: 5px;
}

.newMenuItem:hover {
	transform: scale(1.1);
}

.newMenuDiv {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	background-color: rgba(51, 48, 47, 0.38823529411764707);
	z-index: 907;
	color: #fff;
}

.newMenuUl {
	padding: 15px 20px 10px;
	list-style: none;
	margin: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

.newMenuI {
	display: block;
	margin: 15px;
}

.newMenuLiIngresso {
	background-color: #57889c !important;
}

.newMenuLiUscita {
	background-color: rgb(165, 114, 37);
}

.newMenuLiMail {
	background-color: #6e587a;
}

.newMenuLiRubrica {
	background-color: #4c4f53 !important;
}

.newMenuLiFatturazione {
	background-color: #71843f !important;
}

.newMenuLiFaldoni {
	background-color: #57889c !important;
}

.newMenuLiClassificazione {
	background-color: #ada13d !important;
}

.newMenuLiEventi {
	background-color: #599c8f !important;
}

.newMenuLiReport {
	background-color: #a7514a !important;
}

.newMenuLiLogout {
	background-color: #797670 !important;
}

.newMenuSelectable {
	background-image: url(../images/triangle.png);
	background-repeat: no-repeat;
	background-position: top right;
}