/** SCROLLBAR **/

* {
	scrollbar-color: #74A6CA #F5F5F5;
	scrollbar-width: thin;
}

html,body{
    scrollbar-face-color:rgb(117, 166, 202);
    scrollbar-arrow-color:rgb(117, 166, 202);
    scrollbar-track-color:#f5f5f5;
}

/** Definizione scrollbar **/
::-webkit-scrollbar {
    width: 6px;
} 

/** Definizione thumb: parte scrollabile **/
::-webkit-scrollbar-thumb {
    background-color: #757575;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 166, 202);
}

/** Definizione thumb: percorso su cui scorre il thumb **/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.rotate180 {
   transform: rotate(180deg);
}

.menuBar span.ui-icon-triangle-1-s:hover {
    background-image: url(../images/icons/ui-icons_000000_256x240.png)!important;
}

.menuBar .ui-icon-triangle-1-s {
    background-image: url(../images/icons/ui-icons_ffffff_256x240.png)!important;
}

#menuBar a .ui-icon {
    margin-right: 5px;
}

#menuBar > div{
	background: #133F80;
}   

#menuBar   a {
    color: white;
}
    
#menuBar .ui-state-hover a:hover {
    color: black;
}
    
#menuBar .ui-state-hover {
    color: black;
}
    
#menuBar li ul .ui-menuitem-link{
    color: black;
}

.hideCloseZoom {
	display:none;
}

.displayCloseZoom {
	display:block;
    float: right;
    z-index: 2;
    top: 5px;
    position: absolute;
    right: 5px;
}


.divSpinner {
	display:inline;
	padding-right: 5px;
}

.divHead {
	text-align:center;
}

.qsLov {
    background: transparent!important;
        border: 0px!important;
    min-width: 0px!important;
   }
    
.qsLov div {
    background: transparent!important;
        border: 0px!important;
}

.qsLov label {
    background: transparent!important;
    box-shadow: none!important;
    line-height: 10px!important;
    border-bottom: 1px solid!important;
    }

.qsSpinner{
	    margin-top: -1.4em!important
}    
.qsSpinner > input{
    width: 35px!important;
	background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid!important;
}

.searchOverlay {
	border-radius: 0px!important;
    width: 45%;
	margin-left:20%;
	margin-right:20%;
	margin-top:-15px;
	padding: 20px;	
}


.searchOverlayParDiv{
	text-align:center;
	margin-top: 20px!important;
}

.searchOverlayPar {
	display: inline;
	margin-right: 7px;
	font-weight: bold;	
}

.qsButton {
	width: 100%;
}

.qsPanelButton {
	text-align:center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.min-width {
	min-width: 560px;
}


/****************************************************************************************************************************************************************************
	FONT-FACE
*************************************************************************************************************************************************************************** */

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(./font-face/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(./font-face/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(./font-face/anMUvcNT0H1YN4FII8wpr-y7CP8YvcHYdGV61pt7QTE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(./font-face/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/****************************************************************************************************************************************************************************
	HTML / BODY
****************************************************************************************************************************************************************************/

html, body {
	margin: 0;
	padding: 0;
	min-height: 100% !important;
	height: 100%;
	overflow: hidden;
}
   
body {
	font-family: 'Titillium Web', sans-serif !important;
}

/****************************************************************************************************************************************************************************
	WAITING SCREEN
*************************************************************************************************************************************************************************** */

.loadingDialog {
	background:white;
}

/****************************************************************************************************************************************************************************
	NOTIFICATION BAR
*************************************************************************************************************************************************************************** */

.notificationBarDivButton {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.notificationBarButton {
	width: 100%;
	bottom: 0px;
	position:absolute;
	left: 0;
	right: 0;
}

.notificationBar {
    z-index: 100;
	left: 0px;
	top: 0px;
	padding: 0px;
	opacity: .95;
	height: 70%;
}		

.notificationBar > div{
	overflow: auto;
	height: 100%;
}
		
.notificationBar .notificationBarDivButton {
    border: 1px solid lightgray;
    border-image: none;
    height: 2.5em;
    background-color: #F0F0F0;
    padding-top: 0.5em;
}

/****************************************************************************************************************************************************************************
	HEADER
****************************************************************************************************************************************************************************/

.head{
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 67px;
}

.headerImageLeft {
	height: 116px;
	top: -25px;
	position: absolute;
	left: -13px;
}

.headerImageLeftRGS {
	height: 60px;
	top: 5px;
	position: absolute;
	left: 7px;
}

.headerImageLeftDAG {
	height: 61px;
	top: 3px;
	position: absolute;
	left: 8px;
}

.headerImageLeftRL {
	height: 63px;
	top: 4px;
	position: absolute;
	left: 9px;
}

.headerQuickSearch {
	width:100%;
}

.headerQuickSearch div {
	padding:0px;
}

.panelQuickSearch {
	width:100%;
	background: transparent;
	border: none;text-align: center;
}

.selectSearchType {
	width:95px;
	position: relative;
	top: -10px;
}

.inputSearchType {
	width:98%;
	margin-top: 15px;
}

.quickSearch {
	width:28px;
}

.userInfo {
	width:100%; 
	text-align:right
}

.headerImageRight {
	top: 12px;
	position: absolute;
	right: 12px;
}

.headerImageRight > img{
	height: 40px;
}

.menuGridOverlay {
	width:95%;
	text-align:left;
}

/****************************************************************************************************************************************************************************
	DYNAMIC CONTENT
****************************************************************************************************************************************************************************/

.container{
	height: 85%;
	margin: 0;
	padding: 0;
}

.westSection{
	transition: 0.1s;
	overflow-x:hidden;
	border:0px;
	height: 100%;
	width: 17%;
	float: left;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	box-shadow: 1px 0px 0px 0px #dddddd;
}
    
.centralSection{
	transition: 0.1s;
	background: transparent url("../images/m2_opacity.png") no-repeat center;
	height: 98%;
	width: 43%;
	float: left;
	text-align: justify;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	box-shadow: 1px 0px 0px 0px #dddddd;
}

.eastSection{
	transition: 0.1s;
	height: 100%;
	width: 40%;
	float: right;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	box-shadow: 1px 0px 0px 0px #dddddd;
}
    
.cenCont{
	padding: 0.5em;
}
    
.centralSectionButtons {
	text-align: right;
	margin-top: 5px;
}

.centralSectionButtons>div:first-child {
	margin-right: 14px;
}

.closeWestButton {
    margin-left: 10px;
}

.openWestButton {
	display:none;
    margin-left: 10px;
}

.toggleCentralButton {
}

.openEastButton {
	display:none;
}

.closeEastButton {
}
    
.eastSectionForm {
	/*padding: 0.5em;*/
	padding-top: 0.5em;
	padding-left: 0.5em;
}     


.divEastSectionButtons {
	margin-top: 5px;
	text-align: right;
}

.eastSectionButton {
    margin-left: 4px;
}

.zoomedForm {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 99%;
	height: 100%;
	z-index: 1;
}


/****************************************************************************************************************************************************************************
	FOOTER
****************************************************************************************************************************************************************************/

.foot{
	background-color: #133F80;
	height: 25px;
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	clear: both;
	margin: 0;
	padding: 0;
}
    
.footerDivAppName {
	float: right;
	padding-right: 4px;
	color: white;
}

.footerDivSogeiLogo {
	float: left;
	padding-left: 4px;
}			

.footerDivSogeiLogo > img{
	width:40px;
	height:16px;
}
	
.generic_input60Templ {
	width: 60%;
}

	
.generic_input40Templ {
	width: 40%;
}