.valoreMetadatoEsteso {
	width: 90%;
}

.valoreMetadatoEsteso > input{
	width: 90%;
}


.modalPanel {
	display:none;
	z-index:1
}

.firstDivPanel {
	margin-top: 30px;
}

.cbDisabled {
	opacity: 1;
	width: 90%;
}

.cbDisabled label {
    border: 1px solid lightgray !important;
    background-color: #e9e9e9 !important;
    box-shadow: none !important;
    outline: none !important;
}


/******************************************************************************************************************************
													COMPONENTE LOOKUP TABLE
*******************************************************************************************************************************/
.lookupTablePanel {
	height: auto;
	position: fixed;
	display:none;
	left: 25%;
	top: 5%;
	width: 50%;
	z-index: 9000;
}

.lookupDT {
	padding-left: 10px;
	padding-top: 10px;
	margin: 0 auto;
	padding-right: 10px;
}

.lookupCombobox {
}

/******************************************************************************************************************************
												COMPONENTE ANAGRAFICA DIPENDENTI
*******************************************************************************************************************************/

.anagDipPanel {
	max-height: 600px;
	min-height: fit-content;
	display:none;
	position: fixed;
	left: 15%;
	top: 5%;
	width: 70%;
	z-index: 9000;
	overflow: auto;
}

.anagDipPanelRicerca {
	max-height: 500px;
	min-height: fit-content;
	display:none;
	position: fixed;
	left: 28%;
	top: 5%;
	width: 45%;
	z-index: 9000;
	overflow: auto;
}

.accAnagDip > .ui-widget-header {
    position: fixed;
    top: 5%;
    z-index: 1100;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -1px;
}

.accAnagDip > .ui-widget-header > span{
    margin-left: 0.5em;
}

.labelNote {
	margin-left: 5px;
	text-align: left;
}

.dtIndirizzi {
	width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.titleIndirizzi {
	margin-left: 10px;
}

.azioniDT {
	width: 65px;
	text-align: center;
}

.dtAnagrafiche {
	width: 98%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pnlSearchAnagrafiche {
	padding-top: 15px;
}

.dtSelectionAnagrafiche {
	width:16px;
	text-align:center
}

.dlSelections div {
	background: transparent;
	border: none;
}

.lblIndirizzi {
	float: left;
	margin-top: 5px;
}

.tpSelAnag {
	padding-left:10px;
	padding-right:10px;
}


.listAnagDipPanel {
/* 	max-height: 230px; */
	min-height:210px;
	display:none;
	position: absolute;
	position: fixed;
	left: 38%;
	top: 5%;
/* 	width: 70%; */
	z-index: 9000;
/* 	overflow: auto; */
}

.pnlAnagDatalist {
	min-height: 160px;
	max-height: 190px;
	min-width:180px;
	overflow: auto;
}

/******************************************************************************************************************************
												COMPONENTE CAPITOLI
*******************************************************************************************************************************/

.capitoliPanel {
	max-height: 600px;
	min-height: fit-content;
	display: none;
	position: fixed;
	left: 15%;
	top: 5%;
	width: 70%;
	z-index: 9000;
	overflow: auto;
}

.capitoliPanelRicerca {
	max-height: 600px;
	min-height: fit-content;
	display: none;
	position: fixed;
	left: 20%;
	top: 5%;
	width: 60%;
	z-index: 9000;
	overflow: auto;
}

.capitoliPanelPredisponi {
	max-height: 600px;
	min-height: fit-content;
	display: none;
	position: fixed;
	left: 20%;
	top: 25%;
	width: 60%;
	z-index: 9000;
	overflow: auto;
}

.capitoliPanel > .ui-widget-header {
    position: fixed;
    top: 5%;
    z-index: 1100;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -1px;
}

.capitoliPanel > .ui-widget-header > span{
    margin-left: 0.5em;
}


