.widget-container{
	text-align: center;
    margin-left: 1%;
}

.widget { 
	float:left;
}

.one{
	width: 47%;
} 

.two{	
	width: 96%;
} 

/************
LIGHT WIDGET
*************/
/*START VI UIKIT*/ 
.contatoriMef-wgd{ 
    display: inline-block;
    margin-bottom: px;
    background: #fff;
    border: 10px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 10px 10px rgba(0,0,0,.15);
    border-radius: 20px;
}
.contatoriMef-wgd .widget-header-light {
	background-color: #0a2644; 
    color: #fff !important;
}
.contatoriMef-wgd .ui-widget{
	font-family:"Open Sans",sans-serif!important;
}
 
.sottoscrizioniMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
.sottoscrizioniMef-wgd .ui-widget{
	font-family:"Open Sans",sans-serif!important;
}

.newsMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
.newsMef-wgd .ui-widget{
	font-family:"Open Sans",sans-serif!important;
}

.calendarioMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
.calendarioMef-wgd .ui-widget { 
	font-family:"Open Sans",sans-serif!important;
}

.spedizioniMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
.spedizioniMef-wgd .ui-widget { 
	font-family:"Open Sans",sans-serif!important;
} 

.inApprovazioneMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
 
.rubricaMef-wgd .widget-header-light { 
	background-color: #0a2644; 
    color: #fff !important;
}
.rubricaMef-wgd .ui-widget { 
	font-family:"Open Sans",sans-serif!important;
} 

.contatori-wgd .widget-header-light {
	background-color: #00a65a;
    color: #fff !important;
}

.carichi-wgd .widget-header-light {
	background-color: #f39c12;
    color: #fff !important;
}

.sottoscrizioni-wgd .widget-header-light {
	background-color: #dd4b39;
    color: #fff !important;
}

.news-wgd .widget-header-light {
	background-color: #9c27b0;
    color: #fff !important;
}

.calendario-wgd .widget-header-light {
	background-color: #00c0ef;
    color: #fff !important;
} 

.widget-footer-light span {
	margin-top: 5px;
	margin-right: 5px;
	text-align: left;
	cursor: pointer;
}

.widget-header-light {
	height:35px;  
	text-align: left;
    padding-left: 10px;
    font-family: "Open Sans",san serif;
}

.widget-light:hover {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: 10px 10px 7px -5px rgba(84,138,140,1);
    -moz-box-shadow: 10px 10px 7px -5px rgba(84,138,140,1);
    box-shadow: 10px 10px 7px -5px rgb(119, 119, 119);
  
}
	
.widget-light:hover .widget-icon-light {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	color: white;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
	
}

.widget-light:hover .widget-footer-light {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	color: black;
}
	
/*START VI*/	
.widget-light{
	background: white;   
    visibility: hidden;
    height: 294px; 
    border: 1px solid #f4f4f4;    
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; 
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1em;
    margin-bottom: 10px;
    position: relative;
    color:white;
}

.fc-day.ui-widget-content{
	max-height:3px!important;
}
.widget-body-light{
	height: 210px;
	color: black;
}

.widget-footer-light{
	height: 25px!important;
	border-top: 1px solid #f4f4f4;
    color: rgba(0,0,0,0.16);
        text-align: right;
}

/* .widget-title-light{ */
/* 	font-size: 25px; */
/*     font-variant: small-caps; */
/* 		padding: 10px; */
/*     font-weight: bold; */
/*     margin: 0 0 10px 0; */
/*     white-space: nowrap; */
/*     padding: 0; */
/* } */

.widget-title-light{
	font-size: 25px; 
	padding: 10px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.widget-icon-light {
    top: -1px;
    font-size: 25px;	
    right: 6px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    z-index: 0;
    color: rgba(255,255,255,1);
    padding-top:4px;
}
				
/* .widget-icon-light { */
/*     top: 2px; */
/*     font-size: 25px;	 */
/*     right: 6px; */
/* 	-webkit-transition: all .3s linear; */
/*     -o-transition: all .3s linear; */
/*     transition: all .3s linear; */
/*     position: absolute; */
/*     z-index: 0; */
/*     color: rgba(0,0,0,0.16); */
/* } */

/************
GLASS WIDGET
*************/

.widget-glass{
	background: rgba(0, 234, 252, 0.18);
	display: none;
	height: 270px;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1em;
	margin-bottom: 10px;
	position: relative;
	color:white;
	border: 1px solid #d1fdff;
	border-radius: 10px;
	border-top-right-radius: 0px;
}

.widget-title-div-glass{
	font-variant: small-caps;
	text-align: left;
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
} 

.widget-glass:hover > .widget-title-div-glass{
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;		
	text-decoration: underline;
}

.widget-conf-glass{
	position: absolute;
	content: "";
	display: block;
	width: 12em;
	height: 5em;
	right: 0px;
	border-radius: 20px;
	top: -8px;
	opacity: 0.5;
}

.widget-conf-glass i{
	color: #fff;
}

.widget-glass:hover > .widget-conf-glass{
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.widget-glass:hover{
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: 10px 10px 7px -5px rgba(84,138,140,1);
	-moz-box-shadow: 10px 10px 7px -5px rgba(84,138,140,1);
	box-shadow: 10px 10px 7px -5px rgba(84,138,140,1);
}

.widget-conf-img-glass{
    width: 193px;
    margin-left: -170px;
    margin-top: 0px;
    float: right;
}

.widget-conf-gear-glass {
    width: 32px;
    margin-left: -5px;
    margin-top: 7px;
    cursor: pointer;
    cursor: pointer;
    float: right;
}

/************
DARK WIDGET
*************/

.widget-dark{
	background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgb(171, 169, 169) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 20%, rgb(90, 87, 87) 43%, rgb(142, 142, 142) 100%);
	display: none;
	height: 270px;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1em;
	margin-bottom: 10px;
	position: relative;
	color:white;

	border: 3px solid #ffffff;

	border-style: ridge;
	border-radius: 10px;
	padding-bottom: 10px;
}

.widget-title-div-dark {
	font-variant: small-caps;
	text-align: left;
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.widget-dark:hover > .widget-title-div-dark {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;		
	color: black;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.widget-dark:hover {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: 10px 10px 7px -5px rgb(29, 28, 28);
	box-shadow: 10px 10px 7px -5px rgb(29, 28, 28);
}

.widget-title-highligth-dark {
	width: 100px;
    height: 5px;
    background: #FFEB3B;
    margin-left: -5px;
    margin-top: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.widget-conf-img-dark {
	float: right;
	width: 27px;
	margin-right: 5px;
	opacity: 0.5;
	margin-top: 5px;
	cursor: pointer;
}

.widget-dark:hover > .widget-conf-img-dark {
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.widget-wrench-dark {
	float: right;
    margin-right: -22px;
    opacity: 0.5;
    margin-top: 8px;
    cursor: pointer;
    color: black;
}
/* .widget-light .fc-scroller {  */
/*     overflow-y: scroll!important; */
/*     max-height: 17em!important; */
/* } */

.fc-ltr.fc-basic-view.fc-day-number{
	font-size: 15px!important;
}
.widget-body-light .fc-basic-view .fc-day-number {
	padding: 0 12px;
    font-size: 14px;
} 
 
#body_Rubrica {
	overflow-y: scroll!important;
}
.dataTable.rubricaBody{
	overflow-y: hidden;
}
.calendarDialogAlign{
	float: left;
}
.calendarioMef-wgd .ui-corner-all.hasDatepicker{
	float: left;
}
 
.fc-day-grid .fc-unselectable{
	height: 250px;
}
 
/*START CALENDAR*/
.fc-head-container .ui-widget-header{
	font-size: 10px;
}
.widget-body-light .fc-basic-view .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.colore_utente{
/* 	width: 7px; */
/*     height: 7px; */
/*     background: green; */
/*     border-radius: 50%; */
/*     bottom : 17px */
  background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
 color: white;
/*     background: #3B5A97; */
    text-shadow: 0 0 2px #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}
  
.widget-stats, .widget.widget-stats {
    position: relative;
    color: #fff;
    padding: 10px; 
    border-radius: 6px;
}

.widget-stats .stats-icon.stats-icon-lg, .widget.widget-stats .stats-icon.stats-icon-lg {
    font-size: 70px;
    top: 15px;
    right: 0;
    color: #fff;
    width: 12px;
    height: 50px;
    line-height: 50px;
    text-shadow: 3px 7px rgba(0,0,0,.25);
    opacity: .15;
    float: right; 
    margin-right: 60px;
    position:absolute;
}
.bg-gradient-yellow {
    background: #f59c1a!important;
    background: -moz-linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    background: -webkit-linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    background: linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-green {
    background: #20af4f!important;
    background: -moz-linear-gradient(to bottom,#20af4f 0%,#eb900a 100%)!important;
    background: -webkit-linear-gradient(to bottom,#20af4f 0%,#eb900a 100%)!important;
    background: linear-gradient(to bottom,#0ee833 0%,#124605 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-red {
    background: #20af4f!important;
    background: -moz-linear-gradient(to bottom,#20af4f 0%,#eb900a 100%)!important;
    background: -webkit-linear-gradient(to bottom,#20af4f 0%,#eb900a 100%)!important;
    background: linear-gradient(to bottom,#ff0000b8 0%,#ff0000 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.stats-number {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.stats-title {
    position: relative;
    margin: 0 0 2px;
    font-size: 12px;
    color: rgba(255,255,255,.7);
}
.bg-gradient-teal {
    background: #00acac!important;
    background: -moz-linear-gradient(to bottom,#00dfdf 0%,#009393 100%)!important;
    background: -webkit-linear-gradient(to bottom,#00dfdf 0%,#009393 100%)!important;
    background: linear-gradient(to bottom,#00dfdf 0%,#009393 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-blue {
    background: #348fe2!important;
    background: -moz-linear-gradient(to bottom,#61a8e8 0%,#2083dd 100%)!important;
    background: -webkit-linear-gradient(to bottom,#61a8e8 0%,#2083dd 100%)!important;
    background: linear-gradient(to bottom,#61a8e8 0%,#2083dd 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-purple {
    background: #727cb6!important;
    background: -moz-linear-gradient(to bottom,#949bc7 0%,#616cad 100%)!important;
    background: -webkit-linear-gradient(to bottom,#949bc7 0%,#616cad 100%)!important;
    background: linear-gradient(to bottom,#949bc7 0%,#616cad 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-black {
    background: #000!important;
    background: -moz-linear-gradient(to bottom,#1a1a1a 0%,black 100%)!important;
    background: -webkit-linear-gradient(to bottom,#1a1a1a 0%,black 100%)!important;
    background: linear-gradient(to bottom,#1a1a1a 0%,#000 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-gradient-orange {
    background: #f59c1a!important;
    background: -moz-linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    background: -webkit-linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    background: linear-gradient(to bottom,#f7b14b 0%,#eb900a 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($value, 10%)', endColorstr='darken($value, 5%)',GradientType=0 )!important;
}
.bg-pink {
    background-color: #fb5597!important;
}	
.fa-fwCont {
    text-align: center;
    width: 1.25em;
}
.stats-numberCont {
    position: relative;
    margin: 0 0 2px;
    font-size: 12px;
    color: rgba(255,255,255,.7);
    float: left;
}
.stats-titleCont {
    margin-bottom: 15px;
    font-weight: 600;
    float: left;
   	margin-bottom: 5px;
}
.contatori-panel-title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.stats-content{
	position: relative;
}
.col-lg-3 {
    flex:33.33333%;
    max-width: 33.33333%;
} 

.height-sm {
    height: 300px!important;
}

.ui-widget-content .fc td{
	border-width : 0px;
}
.stats-titleSpedizioni {
    position: absolute;
    margin: 0 0 2px;
    font-size: 20px;
    color: rgba(255,255,255,.7);
} 
.stats-numberSpedizioni {
    font-size: 24px;
    margin-bottom: 15px; 
    letter-spacing: 1px;
}
.widget-body-light .ui-widget-header{
	background: none;
	border:none;
}
.widget-body-light .fc-center {
	font-size:7px;
}
.widget-body-light .fc-button-group{
	font-size:7px;
}
.generic-font-size14{
	font-size:14px!important;
}
.default_linkWidget.ui-commandlink {
	color: #FFF;
}
.spedizioniWidget { 
	margin-bottom: 15px; 
    margin-right: 15px;
    display: inline-block; 
    width: 29%;
    height: 13em;
    font-size: 20px;
}
.contatoriWidget { 
	margin-bottom: 15px; 
    margin-right: 15px;
    display: inline-block; 
    width: 29%;
    height: 6.5em;
}
.generic-font-size20{
	font-size:20px!important;
}
.generic-font-size18{
	font-size:18px!important;
}
.generic-font-size16{
	font-size:16px!important;
}
.jqplot-grid-canvas{
	display:none;
}
.jqplot-xaxis{
	display:none;
}
.ui-carousel-item.ui-widget-content.ui-corner-all {
	border: none!important;
}

.ui-carousel-header.ui-widget-header.ui-corner-all {
	border: none!important;
	background: none!important;
	padding-bottom: 0px!important;

}
.calendarioMef-wgd .fc-today-button{
	display:none;
}
.generic-widget-button-noBorder{
	border : none!important;
	background : none!important;
	color : #362b36!important;
} 
  
.buttonAdmin{ 
 display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem; 
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 .dashboard-btn {
	padding: 3px 9px;
	margin-right: 4.5%;
	background-color: #ffffff!important;
	color: #0a2644!important;
	border-radius: 6px!important;
	-webkit-box-shadow: 0;
    box-shadow: 0;	
}	
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary.btn-outline {
    color: #007AFF;
}
.btn-group-vertical {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
}
 