.display-center{
	display: block;
	text-align: center;
}

.width-80 {
	width: 80%;
}

.width-60{
	width: 60px;
}

.width-100 {
	width: 100%;
}

.width-800{
	max-width: 800px;
	margin: 0 auto;
}

.text-format {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.margin-right-10{
	margin-right: 10px;
}