<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:faces="jakarta.faces"
    xmlns:ui="jakarta.faces.facelets"
    xmlns:f="jakarta.faces.core"
    xmlns:h="jakarta.faces.html"
    xmlns:pt="jakarta.faces.passthrough"
    xmlns:cc="jakarta.faces.composite"
    xmlns:my="jakarta.faces.component">
	
	
	
	
	<h:head>
	
	<title> La tua birth date</title>
	</h:head>
<h:body>


<h1>LA TUA DATA DI NASCITA!</h1>

<h3>Sei nato il #{laTuaDataDiNascita}</h3>

</h:body>

</html>
