<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	
	<h:head>
	
	<style>
	.error{
		
		text-align:center;
		color:red;	
		  }
	</style>
	</h:head>

<h:form>

<h:messages styleClass="error"></h:messages>
Nome: <h:inputText id="inputName" value="#{lavoratore.nome}"
		pt:placeholder="Insert your name here" label="Nome" required="true"></h:inputText>

	<br></br>
	<br></br>
Cognome: <h:inputText id="inputCognome" value="#{lavoratore.cognome}"
		pt:placeholder="Insert your surname here" label="Cognome" required="true">></h:inputText>

	<br></br>
	<br></br>
Email: <h:inputText id="inputEmail" value="#{lavoratore.email}"
		pt:placeholder="Insert your email here"></h:inputText>

	<br></br>
	<br></br>

Codice Fiscale: <h:inputText id="inputCodiceFiscale" value="#{lavoratore.codiceFiscale}"
		pt:placeholder="Insert your tax code here"></h:inputText>

	<br></br>
	<br></br>


<h:commandButton value="submit" action="index-response"></h:commandButton>
</h:form>


</html>
