<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:outputPanel id="campiDiRicercaFepaPnl">
		<div class="ui-g">
			<div class="ui-g-2">	
				<p:outputLabel for="annoCreazione_Fepa" value="Anno Creazione" styleClass="generic_labelPadding" />
			</div>
			<div class="ui-g-2">
				<p:inputNumber id="annoCreazione_Fepa" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false" value="#{RicercaFepaBean.annoCreazione}" />
			</div>
			
			<div class="ui-g-2">	
				<p:outputLabel for="tipologiaDocumento_Fepa" value="Tipologia Documento" styleClass="generic_labelPadding"/>
			</div>
			<div class="ui-g-2">
				<p:selectOneMenu id="tipologiaDocumento_Fepa" value="#{RicercaFepaBean.tipologiaDocumentoSelected}" >
					<f:selectItem itemValue="1" itemLabel="DSR" />
					<f:selectItem itemValue="2" itemLabel="Decreto Dirigenziale" />
				</p:selectOneMenu>
			</div>
			
			<div class="ui-g-2">	
				<p:outputLabel for="numeroId_Fepa" value="Numero/ID" styleClass="generic_labelPadding" />
			</div>
			<div class="ui-g-2 generic_marginLeft-80" >
				<p:inputNumber id="numeroId_Fepa" value="#{RicercaFepaBean.numeroId}" minValue="0" maxValue="2147483648" thousandSeparator="" padControl="false"/>
			</div>
		</div>
		
		<div class="ui-g">
			<div class="ui-g-2">
				<p:outputLabel for="annoCreazioneDa" value="Data Creazione Da" styleClass="generic_labelPadding" />
			</div>
			<div class="ui-g-2">
				<p:calendar navigator="true" id="annoCreazioneDa"  value="#{RicercaFepaBean.dataCreazioneDa}"
							pattern="dd/MM/yyyy" mode="popup" showOn="button" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel for="annoCreazioneA" value="Data Creazione A" styleClass="generic_labelPadding" />
			</div>
			<div class="ui-g-2">
				<p:calendar navigator="true" id="annoCreazioneA"  value="#{RicercaFepaBean.dataCreazioneA}"
							pattern="dd/MM/yyyy" mode="popup" showOn="button"/>
			</div>
			<div class="ui-g-4"></div>
		</div>
		<div class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-search" value="Cerca"
				action="#{RicercaFepaBean.ricercaFepa}" update="idPannelloRisultatiDettaglio_RF"
				/>
			<p:commandButton icon="fa fa-eraser" value="Pulisci"
				action="#{RicercaFepaBean.reset}" update="campiDiRicercaFepaPnl, idPannelloRisultatiDettaglio_RF" />
		</div>
	</p:outputPanel>
	
	<p:outputPanel id="operazioniDocFepa" class="generic_textAlignRight">
		<p:commandButton value="Annulla Procedimento" icon="fa fa-undo" onclick="PF('annullaProcedimento_WV').show()"
						 disabled="#{fn:length(RicercaFepaBean.documentiDTH.selectedMasters) le 0}"
						 rendered="#{RicercaFepaBean.permessoAnnullamentoProcedimento}"/>
		<p:commandButton value="Annulla Protocollo (NPS)" icon="fa fa-times" action="#" rendered="#{RicercaFepaBean.permessoAnnullaProtocollo}"/>
		<!-- h:commandLink id="exportExcel">
			  <p:graphicImage library="images" url="/resources/images/mime_types/xls.png" width="34" title="Esporta" />
		</h:commandLink -->
	</p:outputPanel>
	
	<p:outputPanel class="generic_textAlignLeft generic_padding0 generic_height100" id="idPannelloRisultatiDettaglio_RF">
		<p:outputPanel class="ui-g-12" rendered="#{RicercaFepaBean.flagRicercaFepa}">
			<h3>Risultati</h3>
			<hr />
			<p:dataTable widgetVar="wdgRisDoc_RF" id="idRisDoc_RF" var="documento" 
						rowKey="#{documento.documentTitle}-#{documento.wobNumber}" value="#{RicercaFepaBean.documentiDTH.masters}"
						selection="#{RicercaFepaBean.documentiDTH.currentMaster}"  	
						selectionMode="single"
						styleClass="" sortMode="multiple"
						paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="15" paginatorAlwaysVisible="false"
						emptyMessage="Nessun risultato trovato" >  
						
				<f:facet name="header">
			      				
					<p:outputPanel id="operazioniDocFepa" class="generic_textAlignRight">
						<p:commandButton value="Esporta" icon="fa fa-file-excel-o" title="Esporta Excel" ajax="false">
			              	<p:dataExporter type="xls" target="idRisDoc_RF" fileName="#{RicercaFepaBean.nomeFileExportCoda}" />
						</p:commandButton>
					</p:outputPanel>
							
	    		</f:facet> 
		
						
				<p:ajax event="rowSelect" listener="#{RicercaFepaBean.docRowSelector}" />
				<p:ajax event="rowUnselect" listener="#{RicercaFepaBean.documentiDTH.rowUnselector}" />
		
				<p:column styleClass="dtInfoCol" headerText="INFO" exportable="false">
					<span class="fa fa-circle crimson #{!documento.bTrasfPdfErrore?'hide':''}" title="#{documento.errorMessage}"/>
					<span class="fa fa-circle orange #{!documento.bTrasfPdfWarning?'hide':''}" title="#{documento.warningMessage}"/>
					<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione?'hide':''}"  title="#{documento.motivazioneAssegnazione}"/>
					<span class="fa fa-credit-card #{!documento.flagFirmaDig?'hide':''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
					<span class="fa fa-paperclip #{!documento.bAttachmentPresent?'hide':''}" title="Allegati Presenti"/>
					<span class="fa fa-folder-open-o #{!documento.hasContributi?'hide':''}"  title="Contributi Presenti"/>
					<span class="fa fa-exclamation-circle crimson #{!documento.urgente?'hide':''}" title="Documento Urgente"/>
					<span class="fa fa-flag #{empty documento.nota.contentNota?'hide':''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
					<span class="fa fa-user-secret #{(documento.idUtenteDestinatario eq SessionBean.utente.id and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma')?'hide':''}" title="Firma Delegato"/>
					<p:graphicImage library="images" value="/resources/images/riservato.png" alt="Documento riservato" title="Documento riservato" rendered="#{documento.flagRiservato}"/>
					<span class="fa fa-info-circle generic_prop_hidden" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}"/>
				</p:column>
				
				
				<p:column headerText="DESCRIZIONE" styleClass="dtDescCol" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
					<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="textBold-detail" />
					<h:outputText title="ID: #{documento.numeroDocumento} - PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento}" rendered="#{documento.numeroProtocollo!=NULL}" value="ID: #{documento.numeroDocumento} - PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento}"  styleClass="textBold-detail"/>
					<p:outputLabel value="#{fn:length(documento.oggetto) gt 150?fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}"/>
				</p:column>
				
				<p:column styleClass="dtInfoCol" headerText="CODE" exportable="false" >
					<p:commandButton  title="Visualizza code di appartenenza per il documento #{documento.numeroDocumento}" actionListener="#{RicercaManagerBean.showQueueDocument}" icon="fa fa-th-list"  oncomplete="PF('overlayQueueBtn_Fepa').show('#{component.clientId}');" update="@form:idOverlayNavCodeRicerca_Fepa" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>
	</p:outputPanel>
	
	<p:dialog id="annullaProcedimento" widgetVar="annullaProcedimento_WV" header="Motivazione Annullamento" 
		resizable="false" draggable="false" onShow="dlgOnShow(this.jqId);" closable="false">
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel for="messaggioAnnull" value="Messaggio Annullamento"/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="messaggioAnnull" cols="40" value="#{RicercaFepaBean.motivazioneAnnullamento}"/>
			</div>
		</p:outputPanel>
		<p:outputPanel>
			<div class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-save" value="Registra" title="Registra"
				action="#{RicercaFepaBean.annullaDocumento}" oncomplete="PF('annullaProcedimento_WV').hide()" />
			<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi"
							 onclick="PF('annullaProcedimento_WV').hide()" />
		</div>
		</p:outputPanel>
	</p:dialog>
	
	
	<!--========================================================== OVERLAY NAVIGAZIONE CODE DA RICERCA ==========================================================-->
	<p:overlayPanel widgetVar="overlayQueueBtn_Fepa" dismissable="true" showCloseIcon="false" showEffect="fade" hideEffect="fade" styleClass="generic_width170px" id="idOverlayNavCodeRicerca_Fepa">
		<p:panel id="pnlQueueList_RR" styleClass="ui-panelgrid-blank datatableActionButtons generic_noborder">
		
			<p:repeat value="#{RicercaManagerBean.codeCount}" var="queue">
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-grid-col-9,ui-grid-col-3">
					<p:panel styleClass="actionMenuText">
						<p:commandLink value="#{queue.key.displayName}" action="#{RicercaManagerBean.goToCoda(queue.key)}"  icon="#{queue.key.displayIcon}" title="La coda contiene: #{queue.value} elemento/i" />
					</p:panel>
					<span class="fa fa-info-circle #{(queue.key.name eq 'In_Nessuna_Coda_Servizio') or (queue.key.name eq 'Non_Censito_Servizio')?'hide':''}"  title="Il Documento selezionato è presente nella coda '#{queue.key.displayName}'  #{queue.value} volta/e"/>
					<span class="fa fa-warning #{queue.key.name eq 'In_Nessuna_Coda_Servizio'?'':'hide'}" title="Il Documento selezionato non è presente in nessuna coda"/>
					<span class="fa fa-warning #{queue.key.name eq 'Non_Censito_Servizio'?'':'hide'}" title="Il Documento selezionato si trova in una o piu code non censite dall'applicazione  ( #{RicercaManagerBean.listaCodeNonCensite} )"/>
				</p:panelGrid>
			</p:repeat>		
			<h:outputText value="Il documento non è presente in alcuna coda per il ruolo/ufficio dell'utente di riferimento" rendered="#{fn:length(RicercaManagerBean.codeCount) eq 0}"/>
		</p:panel>
		<iframe class="cover" src="about:blank" title="Frame ricerca fepa"></iframe>
	</p:overlayPanel> 
	
</ui:composition>