 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:outputPanel class="helpMainDiv">
		<h1 class="helpDivH1">Coda</h1>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 3}">
			LIBROFIRMA
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 4}">
			DA_LAVORARE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 5}">
			IN_SOSPESO
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 6}">
			STORNATI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 7}">
			PROCEDIMENTI_ATTIVI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 9}">
			CORRIERE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 10}">
			ASSEGNATE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 11}">
			CHIUSE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 12}">
			GIRO_VISTI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 13}">
			IN_SPEDIZIONE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 18}">
			ATTI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 19}">
			RISPOSTA
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 20}">
			MOZIONE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 50}">
			ACQUISITI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 51}">
			ELIMINATI
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 60}">
			CORRIERE DIRETTO
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 61}">
			CORRIERE INDIRETTO
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 64}">
			DA LAVORARE
		</p:panel>
		<p:panel rendered="#{SessionBean.activePageInfo.id eq 65}">
			IN LAVORAZIONE
		</p:panel>
	</p:outputPanel>

</ui:composition>