 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<div class="helpMainDiv">
		<ul class="helpDivUl">
	    	 
	    	
	    	<li class="helpDivLi">
	      		<img class="helpDivImage" alt="Dashboard" src="#{request.contextPath}/resources/images/dashboard.png" />
	      		<h3 class="helpDivH3">Dashboard</h3>
	      		 
	    	</li>
	
		  </ul>
	</div>

</ui:composition>