 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<div class="helpMainDiv">
		<h1 class="helpDivH1">Shortcut</h1>
		<ul class="helpDivUl">
	    	<li class="helpDivLi">
	      		<h3 class="helpDivH3">Ricerca Rapida</h3>
	      		Per questa funzionalità saranno presi in considerazione le seguenti informazioni:
	      		<br/>
	      		<ul>
		      		<li>Numero Documento</li>
		      		<li>Barcode</li>
		      		<li>Oggetto</li>
		      		<li>Numero Protocollo</li>
	      		</ul>
	    	</li>
	    	
	    	<li class="helpDivLi">
	      		<img class="helpDivImage" alt="Scrivania" src="#{request.contextPath}/resources/images/desk.png" />
	      		<h3 class="helpDivH3">Scrivania</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere le principali code di lavoro attorno alle quali si articola la sua attività quotidiana.
	      		<br/>Nello specifico saranno accessibili le seguenti code
	      		<ul>
		      		<li>Da lavorare: contenente i procedimenti in attesa di essere lavorati;</li>
		      		<li>In Sospeso: contenente i procedimenti per cui si è in attesa di contributi esterni;</li>
		      		<li>Stornati: contenente i procedimenti che sono stati reindirizzati ad altri utenti;</li>
		      		<li>Procedimenti attivi: contenente i procedimenti attivi.</li>
	      		</ul>
	    	</li>
	
		    <li class="helpDivLi">
				<img class="helpDivImage" alt="Scrivania Ufficio" src="#{request.contextPath}/resources/images/corriere.png" />
		      	<h3 class="helpDivH3">Scrivania Ufficio</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere le principali code di lavoro attorno alle quali si articolano le attività del proprio ufficio di appartenenza.
	      		<br/>Nello specifico saranno accessibili le seguenti code
	      		<ul>
		      		<li>Corriere: contenente i procedimenti in attesa di essere smistati verso l'opportuno utente dell'ufficio;</li>
		      		<li>Assegnate: contenente i procedimenti assegnati;</li>
		      		<li>Chiuse: contenente i procedimenti chiusi;</li>
		      		<li>Al Giro Visti: contenente i procedimenti al giro visti.</li>
		      		<li>In Spedizione: contenente i procedimenti in spedizione.</li>
	      		</ul>
		    </li>
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Libro Firma" src="#{request.contextPath}/resources/images/libro_firma.png" />
				<h3 class="helpDivH3">Libro Firma</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere il proprio libro firma in cui saranno contenuti i documenti sottoposti alla sua attenzione e che sono in attesa di firma, visto o sigla.
			</li>
	
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Cartacei" src="#{request.contextPath}/resources/images/paper.png" />
				<h3 class="helpDivH3">Cartacei</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere le principali code di lavoro attorno alle quali si articolano le attività associate ai documenti cartacei.
	      		<br/>Nello specifico saranno accessibili le seguenti code
	      		<ul>
		      		<li>In Acquisizione: contenente i procedimenti cartacei in fase di acquisizione;</li>
		      		<li>Acquisiti: contenente i procedimenti cartacei acquisiti;</li>
		      		<li>Eliminati: contenente i procedimenti cartacei eliminati;</li>
		      		<li>Precensiti: contenente i procedimenti cartacei precensiti.</li>
	      		</ul>
			</li>
			
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Mail" src="#{request.contextPath}/resources/images/mail.png" />
				<h3 class="helpDivH3">Mail</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere le principali code di lavoro attorno alle quali si articolano le attività associate alla gestione delle mail pervenute sugli account configurati.
	      		<br/>Nello specifico saranno accessibili le seguenti code
	      		<ul>
		      		<li>Inbox: contenente le mail ricevute;</li>
		      		<li>Rifiutate/Inoltrate: contenente le mail che sono state rifiutate o inoltrate ad altri account di posta;</li>
		      		<li>Eliminate: contenente le mail elminate;</li>
	      		</ul>
			</li>
	
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Archivio" src="#{request.contextPath}/resources/images/storage.png" />
				<h3 class="helpDivH3">Archivio</h3>
	      		Questa sezione dell'applicativo consente all'utente di raggiungere le principali code in cui sono classificati i documenti archiviati.
	      		<br/>Nello specifico saranno accessibili le seguenti code
	      		<ul>
		      		<li>Atti: contenente i procedimenti messi agli atti;</li>
		      		<li>Risposta: contenente i procedimenti per cui si è fornita una risposta;</li>
		      		<li>Mozione: contenente le mozioni;</li>
		      		<li>Faldoni: contenente i faldoli;</li>
	      		</ul>
			</li>
	
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Creazione" src="#{request.contextPath}/resources/images/protocollo.png" />
				<h3 class="helpDivH3">Creazione</h3>
	      		Questa sezione dell'applicativo consente all'utente di creare entità documentali.
	      		<br/>Nello specifico sarà possibile creare
	      		<ul>
		      		<li>Documenti in ingresso;</li>
		      		<li>Documenti in uscita;</li>
		      		<li>Faldoni;</li>
	      		</ul>
			</li>
	
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Ricerca" src="#{request.contextPath}/resources/images/search.png" />
				<h3 class="helpDivH3">Ricerca</h3>
	      		Questa sezione dell'applicativo consente all'utente di ricercare entità documentali.
	      		<br/>Nello specifico sarà possibile ricercare
	      		<ul>
		      		<li>Documenti e Fascioli attraverso la ricerca generica;</li>
		      		<li>Documenti;</li>
		      		<li>Fascicoli;</li>
		      		<li>Faldoni.</li>
	      		</ul>
			</li>	    
	
			<li class="helpDivLi">
				<img class="helpDivImage" alt="Rubrica" src="#{request.contextPath}/resources/images/rubrica.png" />
				<h3 class="helpDivH3">Rubrica</h3>
	      		Questa sezione dell'applicativo consente all'utente di accedere alla rubrica applicativa.
	      		<br/>Nello specifico sarà possibile
	      		<ul>
		      		<li>Ricercare elementi della rubrica;</li>
		      		<li>Inserire dei nuovi elementi nella rubrica;</li>
	      		</ul>
			</li>
	
			<li class="helpDivLi">
				<img alt="event" class="helpDivImage" src="#{request.contextPath}/resources/images/event.png" />
				<h3 class="helpDivH3">Eventi</h3>
	      		Questa sezione dell'applicativo consente all'utente di gestire gli eventi applicativi.
	      		<br/>Nello specifico sarà possibile gestire
	      		<ul>
		      		<li>Gli eventi di calendario;</li>
		      		<li>Le sottoscrizioni agli eventi applicativi;</li>
		      		<li>Le notifiche degli eventi per ci si è sottoscritti.</li>
	      		</ul>
			</li>
	
			<li class="helpDivLi">
				<img alt="user" class="helpDivImage" src="#{request.contextPath}/resources/images/user.png" />
				<h3 class="helpDivH3">Utenti</h3>
	      		Questa sezione dell'applicativo consente all'utente di gestire la sessione utente.
	      		<br/>Nello specifico sarà possibile gestire
	      		<ul>
		      		<li>Il cambio ufficio;</li>
		      		<li>Il logout.</li>
	      		</ul>
			</li>	    
	
			<li class="helpDivLi">
				<img alt="tools" class="helpDivImage" src="#{request.contextPath}/resources/images/tools.png" />
				<h3 class="helpDivH3">Utility</h3>
	      		Questa sezione dell'applicativo consente all'utente di accedere alle funzioni di utilità:
	      		<ul>
		      		<li>Consultazione organigramma;</li>
		      		<li>Classificazione fascicoli: per ispezionare la classificazione dei fascicoli</li>
		      		<li>Personalizzazione: per customizzare la propria esperienza utente su <abbr title="Registro Elettronico Documentale">Red</abbr><abbr title="Evolution">Evo</abbr></li>
		      		<li>Help online: per accedere alla pagina di help contestuale</li>
	      		</ul>
			</li>
		</ul>
	</div>

</ui:composition>