 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="helpMainDiv">
		
		<ul class="helpDivUl">
		<li class="helpDivLi">
	      		<img class="helpDivImage" alt="Mail" src="#{request.contextPath}/resources/images/mail.png" />
	      		<h3 class="helpDivH3">Mail</h3>
	      		In questa sezione saranno illustrate le principali caratteristiche delle icone:
	      		<br/>
 
	    </li>
		  
	    	 <p:dataTable var="iconaHelp" value="#{MailBean.iconeHelpPageMail}" styleClass="generic_width90imp">
			    <p:column headerText="Icona" styleClass="generic_width10 generic_textAlignCenter"  >
			        <h:outputLabel styleClass="#{iconaHelp.icon}" title="#{iconaHelp.title}" style="color:#{iconaHelp.colore}"/> 
			    </p:column>
			 
			    <p:column headerText="Descrizione" styleClass="generic_width90imp">
			        <h:outputText value="#{iconaHelp.descrizione}" title="#{iconaHelp.title}" />
			    </p:column>
			
			</p:dataTable>
		</ul>
	</div>

</ui:composition>