 <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<div class="helpMainDiv">
		<h1 class="helpDivH1">Retry</h1>
	</div>

</ui:composition>