<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:panel styleClass="pnlNomeCoda">
		<h3> Deleghe Libro Firma </h3> 
	</p:panel>
	
	<p:outputPanel styleClass="btn-deleghe-panel">
		<p:commandButton id="idBtnCleanAssegnazione" icon="fa fa-plus" action="#{DelegaLibroFirmaBean.pulisciDelegato}" update="eastSectionForm, centralSectionForm" value="Nuova Delega" title="Nuova Delega"  style="margin-right: 5px;"/>
		<p:commandButton id="idBtnRemoveAssegnazione" icon="fa fa-trash" action="#{DelegaLibroFirmaBean.removeAssegnazioni}" disabled="#{empty DelegaLibroFirmaBean.delegheDTH.selectedMasters}" update="centralSectionForm" value="Rimuovi Delega" title="Rimuovi Delega" />
	</p:outputPanel>

	<p:dataTable var="delega" paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index"
				 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30"
				 paginatorTemplate="TOT : #{fn:length(DelegaLibroFirmaBean.delegheDTH.filteredMasters) > 0 ? fn:length(DelegaLibroFirmaBean.delegheDTH.filteredMasters) : fn:length(DelegaLibroFirmaBean.delegheDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 value="#{DelegaLibroFirmaBean.delegheDTH.masters}" 
				 id="deleghe" emptyMessage="Nessun Delega Presente" widgetVar="delegheDT" styleClass="datatable dt-lista-doc" 
				 rowKey="#{delega.idUtente}-#{delega.idNodo}" selectionMode="single" selection="#{DelegaLibroFirmaBean.delegheDTH.currentMaster}" sortMode="multiple"  
				 paginatorAlwaysVisible="true" >

		<p:ajax event="rowSelect" listener="#{DelegaLibroFirmaBean.rowSelector}" update="eastSectionForm"/>
		
  		<p:column exportable="false" toggleable="false"  styleClass="dtSelectAllColumn">
			<f:facet name="header">
				<span class="fa fa-check-square-o datatable-select-all #{!DelegaLibroFirmaBean.allElementCheckbox ? 'hide' : ''}"  onclick="updateAllCheck()" title="Deseleziona tutti"/>
				<span class="fa fa-square-o datatable-select-all #{DelegaLibroFirmaBean.allElementCheckbox ? 'hide' : ''}" onclick="updateAllCheck()" title="Seleziona tutti"/>
				<p:remoteCommand actionListener="#{DelegaLibroFirmaBean.handleAllCheckBox}" name="updateAllCheck" update="deleghe, centralSectionForm:idBtnRemoveAssegnazione"/>
            </f:facet>
	  		<p:selectBooleanCheckbox id="chk" title="#{delega.selected ? 'Deseleziona' : 'Seleziona'} delega " value="#{delega.selected}">
		  		<p:ajax event="change" listener="#{DelegaLibroFirmaBean.updateCheck}" update="deleghe, centralSectionForm:idBtnRemoveAssegnazione" />
	  		</p:selectBooleanCheckbox>
		</p:column>
		
		<p:column headerText="UFFICIO" sortBy="#{delega.descrizioneNodo}" filterBy="#{delega.descrizioneNodo}" filterMatchMode="contains" styleClass="dtDescCol generic-break-word" >
			<h:outputText value="#{delega.descrizioneNodo}" title="#{delega.descrizioneNodo}"/>
		</p:column>

		<p:column headerText="DELEGATO" sortBy="#{delega.cognomeUtente} #{delega.nomeUtente}" filterBy="#{delega.cognomeUtente} #{delega.nomeUtente}" filterMatchMode="contains" styleClass="dtDescCol generic-break-word" >
			<h:outputText value="#{delega.cognomeUtente} #{delega.nomeUtente}" title="#{delega.nomeUtente} #{delega.nomeUtente}" />
		</p:column>
		
		<p:column headerText="DATA INIZIO" sortBy="#{delega.dataAttivazione}" filterBy="#{delega.dataAttivazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word">
			<h:outputText value="#{delega.dataAttivazione}" >
				<f:convertDateTime pattern="dd/MM/yyyy"/>	
			</h:outputText>
		</p:column>

		<p:column headerText="DATA FINE" sortBy="#{delega.dataDisattivazione}" filterBy="#{delega.dataDisattivazione}" filterMatchMode="contains" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word">
			<h:outputText value="#{delega.dataDisattivazione}" >
				<f:convertDateTime pattern="dd/MM/yyyy"/>	
			</h:outputText>
		</p:column>
		
		<p:column headerText="MOTIVO" sortBy="#{delega.motivoDelega}" filterBy="#{delega.motivoDelega}" filterMatchMode="contains" styleClass="dtDescCol generic-break-word" >
			<h:outputText value="#{fn:length(delega.motivoDelega) gt 25 ? fn:substring(delega.motivoDelega, 0, 25).concat('...') : delega.motivoDelega}" title="#{delega.motivoDelega}"/>
			
		</p:column>
		
		
	</p:dataTable>

</ui:composition>