<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<p:panel styleClass="pnlNomeCoda">
		<h3> Inserisci Deleghe </h3> 
	</p:panel>


	<p:fieldset legend="Delega Libro Firma" style="margin-bottom:20px">
	
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid" style="margin-top: 20px;">
      		
      		<p:outputLabel for="idDelegante" value="Delegante" styleClass="generic_textBold" />
      		
      		<p:outputPanel styleClass="ui-inputgroup">
	        	<p:inputText id="idDelegante" widgetVar="wdgInputDelegante" value="#{DelegaLibroFirmaBean.deleganteSelezionato.descrizioneNodo}  #{DelegaLibroFirmaBean.deleganteSelezionato.cognomeUtente} #{DelegaLibroFirmaBean.deleganteSelezionato.nomeUtente}" title="#{DelegaLibroFirmaBean.deleganteSelezionato.descrizioneNodo}  #{DelegaLibroFirmaBean.deleganteSelezionato.cognomeUtente} #{DelegaLibroFirmaBean.deleganteSelezionato.nomeUtente}" styleClass="generic_nominWidth generic_width147px" readonly="true" />
	        	<p:commandButton id="idButtonDelegante" icon="fa fa-sitemap" title="Delegante" type="button" disabled="#{DelegaLibroFirmaBean.disableBtnDelegante}" />
	        </p:outputPanel>
      		
      		<p:outputLabel for="idDelegato" value="Delegato" styleClass="generic_textBold"/>
      		
      		<p:outputPanel id="idPnlDelegaOrg" styleClass="ui-inputgroup">
	        	<p:inputText id="idDelegato" value="#{DelegaLibroFirmaBean.delegatoSelezionato.descrizioneNodo}  #{DelegaLibroFirmaBean.delegatoSelezionato.cognomeUtente} #{DelegaLibroFirmaBean.delegatoSelezionato.nomeUtente}" title="#{DelegaLibroFirmaBean.delegatoSelezionato.descrizioneNodo}  #{DelegaLibroFirmaBean.delegatoSelezionato.cognomeUtente} #{DelegaLibroFirmaBean.delegatoSelezionato.nomeUtente}" styleClass="generic_nominWidth generic_width147px" readonly="true" />
	        	<p:commandButton id="idButtonDelegato" widgetVar="wdgButtonDelegato" icon="fa fa-sitemap" title="Delegato" type="button" disabled="#{DelegaLibroFirmaBean.disableBtnDelegato}" />
	        </p:outputPanel>
	        
	        <p:outputLabel for="idPeriodoDelegaDal" value="Dal" styleClass="generic_textBold"/>
	        
	        <p:calendar navigator="true" id="idPeriodoDelegaDal" value="#{DelegaLibroFirmaBean.dataAttivazione}" mindate="#{SessionBean.today}" readonlyInput="true" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-da-fasc">
				<p:ajax event="dateSelect" listener="#{DelegaLibroFirmaBean.onChangeDelegaDa}" update="idPeriodoDelegaAl" />
	       	</p:calendar>
	       	
	        <p:outputLabel for="idPeriodoDelegaAl" value="Fino al" styleClass="generic_textBold"/>
	        
	        <p:calendar  navigator="true" id="idPeriodoDelegaAl" value="#{DelegaLibroFirmaBean.dataDisattivazione}" mindate="#{DelegaLibroFirmaBean.minDateDisattivazione}" readonlyInput="true" showOn="button" pattern="dd/MM/yyyy" styleClass="calendar-ricerca-scadenza-da-fasc"/>

		</p:panelGrid>

		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2,ui-grid-col-10 ui-fluid," style="margin-top: 20px;">
	
	      	<p:outputLabel for="idMotivoDelega" value="Motivo" styleClass="generic_textBold"/>
	      	<p:inputText id="idMotivoDelega" widgetVar="wdgInputMotivo" value="#{DelegaLibroFirmaBean.motivoDelega}" title="#{DelegaLibroFirmaBean.motivoDelega}" styleClass="generic_nominWidth generic_width147px" maxlength="200" />
    
      	</p:panelGrid>
      		
		
		<p:outputPanel id="idPnlMessageAssDeleghe" >
			<p:messages for="pnlAssegnazioniDeleghe" showDetail="true" closable="false" styleClass="messages-dmanager" >
		        <p:autoUpdate />
		    </p:messages>
		</p:outputPanel>
		
		<p:outputPanel styleClass="pnl-pulsanti-delega">
			<p:commandButton id="idBtnInsertDelega" icon="fa fa-pencil" action="#{DelegaLibroFirmaBean.assegnaRuoloDelegato}" disabled="#{DelegaLibroFirmaBean.disableBtnAssegnaDelega}" update="centralSectionForm" value="Assegna Delega" title="Inserisci Delega" />
		</p:outputPanel>
	
	</p:fieldset>
	
	
	<p:overlayPanel widgetVar="idDeleganteOverlay" for="eastSectionForm:idButtonDelegante"  >
	  	<p:scrollPanel id="idDeleganteScrlPnl" mode="native" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width320px generic_height250px" >
	  		
	  		<p:tree value="#{DelegaLibroFirmaBean.rootDelegante}" var="nodo" dynamic="true"  selectionMode="single" id="idOrgDelegante" widgetVar="wdgRootDelegante">
	  		
	  			<p:ajax event="select" listener="#{DelegaLibroFirmaBean.onDeleganteNodeSelection}" oncomplete="onOffTreeBtnAssegnaDelegato();" update="eastSectionForm:idDelegante, eastSectionForm:idDelegato, eastSectionForm:idOrgDelegato" />
	  			<p:ajax event="expand" listener="#{DelegaLibroFirmaBean.onDeleganteNodeExpand}"/>

		  		<p:treeNode type="ROOT" id="idRootDelegante">
					<span class="fa fa-sitemap"/>
					<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
				</p:treeNode>
				
				<p:treeNode type="UFF">
					<span class="fa fa-sitemap"/>
					<p:outputLabel value=" #{nodo.descrizioneNodo} #{nodo.nomeUtente}" />
				</p:treeNode>
				
				<p:treeNode type="USER">
					<span class="fa fa-user-o"/>
					<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}" />
				</p:treeNode>
	  		
	  		</p:tree>
	  		
	  	
	  	</p:scrollPanel>
	</p:overlayPanel>
	
	<p:overlayPanel widgetVar="idDelegatoOverlay" for="eastSectionForm:idButtonDelegato"  >
	  	<p:scrollPanel id="idDelegatoScrlPnl" mode="native" styleClass="generic_nominWidth generic_nominWidth generic_nominWidth generic_nominWidth generic_width320px generic_height250px" >
	  		
	  		<p:tree value="#{DelegaLibroFirmaBean.rootDelegato}" var="nodo" dynamic="true"  selectionMode="single" id="idOrgDelegato" widgetVar="wdgRootDelegato">
	  		
	  			<p:ajax event="select" listener="#{DelegaLibroFirmaBean.onDelegatoSelection}" update="eastSectionForm:idDelegato" />

		  		<p:treeNode type="ROOT" id="idRootDelegato">
					<span class="fa fa-sitemap"/>
					<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
				</p:treeNode>
				
				<p:treeNode type="USER">
					<span class="fa fa-user-o"/>
					<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}" />
				</p:treeNode>
	  		
	  		</p:tree>
	  	
	  	</p:scrollPanel>
	</p:overlayPanel>
	

</ui:composition>