<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
		<script type='text/javascript' src='#{request.contextPath}/resources/js/deployJava.js'></script>
		<script type='text/javascript' src='#{request.contextPath}/resources/js/printApplet.js'></script>
		<script type='text/javascript'>
		window.onload = function() {
		 var url_string = window.location.href; 
	    var msg = url_string.split("=")[1];
			printApplet(msg);
		};
		
		</script>
	</h:head>

    <h:body>
	</h:body>
</html>