<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">

	<ui:define name="westSectionContent">
		<ui:include src="../template/verticalMenu.xhtml"/>
	</ui:define>

	<ui:define name="centralSectionContent">
		<ui:include src="pulsantiListaCartaceiAcquisiti.xhtml"/>
		<ui:include src="listaCartaceiAcquisiti.xhtml"/>
	</ui:define>


	<ui:define name="eastSectionContent">
		<ui:include src="../documento/dettaglioDocumentoCartaceo.xhtml"/>
	</ui:define>

</ui:composition>
