<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dataTable var="ac" value="#{MultiAssegnazioneBean.elementList}" rowKey="id" id = "multi_assegnazione_table"
		styleClass="TabellaAddOrganigramma generic_noborder pnlgrid_noborder generic_maxwidth1200px" scrollable="true">

		<p:column styleClass="ui-grid-col-8" >
			 
			<p:inputText readonly="true" value="#{ac.data.descrizioneAssegnatario}" /> 
		</p:column>
		<p:column styleClass="ui-grid-col-2">
			<p:commandButton  icon="fa fa-sitemap" title="Organigramma"  onclick="PF('wdgMultiAssegnazioneResponse_DMD').show('#{component.clientId}')" 
				actionListener="#{MultiAssegnazioneBean.setCurrentListElement}"	 ajax="true" />
		</p:column>
		<p:column styleClass="ui-grid-col-1">	
			<p:commandButton  actionListener="#{MultiAssegnazioneBean.clearRow}" 
				update="@this" icon="fa fa-eraser" title="Pulisci Selezione" />
		</p:column>
		<p:column styleClass="ui-grid-col-1">									
			<p:commandButton icon="fa fa-plus" 
				actionListener="#{MultiAssegnazioneBean.addRow}"
				update="@this" 
				rendered="#{ac.id eq 0}" />
			
			<p:commandButton icon="fa fa-close" update="@this"
				actionListener="#{MultiAssegnazioneBean.removeRow}" ajax="true" 
				rendered="#{ac.id ne 0}" />
		</p:column>
	</p:dataTable>

	<p:overlayPanel widgetVar="wdgMultiAssegnazioneResponse_DMD"  >
      	<h:form id="multi_assegnazione_tree_form">
      	<div class="dmd-tree-panel"  >
			<p:tree value="#{MultiAssegnazioneBean.root}" var="node" 
				selectionMode="single" styleClass="dmd-tree " >
				
				<p:ajax event="expand" update="@this" listener="#{MultiAssegnazioneBean.onOpenTree}"  />
		        <p:ajax event="select" update="@parent:multi_assegnazione_table"
		        	listener="#{MultiAssegnazioneBean.onSelectTreeNode}" 
		        	oncomplete="PF('wdgMultiAssegnazioneResponse_DMD').hide()"
		        	/>
		        	
				<p:treeNode >
					<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
					<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
					
					<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
					<p:outputLabel rendered="#{node.idUtente != null}" value="#{node.cognomeUtente}" />
					<p:outputLabel rendered="#{node.idUtente != null}" value="#{node.nomeUtente}" />
				</p:treeNode>
				
			</p:tree>	
		</div>
		</h:form>
		<iframe title="Frame tab assegnazione" class="cover" src="about:blank"></iframe>
	</p:overlayPanel>
	
</ui:composition>
