<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.ResponsesRedEnum" var="respRedEnum"/>

	<p:dialog id="idDlgGeneric" header="#{(respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse) ? 'Assegna - Valorizzare almeno una tipologia di assegnazione' : ListaDocumentiBean.selectedResponse.displayName}" styleClass="generic_pnlMaxWidth95" 
			  widgetVar="dlgGeneric" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgGeneric')"
			  responsive="true" fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true">
		
		<!-- Import dei panel per la gestione delle response -->
		<p:panel rendered="#{respRedEnum.INSERISCI_NOTA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInserisciNota.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.SPEDITO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlSpedito.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.INVIA_UFFICIO_PROPONENTE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlUfficioProponente.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.STORNA_UTENTE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlStornaAUtente.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.STORNA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlStorna.xhtml"/>
		</p:panel>
		
		<!-- <p:panel rendered="#{respRedEnum.ASSEGNA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlAssegna.xhtml"/>
		</p:panel> -->
		
		<p:panel rendered="#{(respRedEnum.RIFIUTA eq ListaDocumentiBean.selectedResponse 
							or respRedEnum.ANNULLA_VISTO eq ListaDocumentiBean.selectedResponse
							or respRedEnum.ANNULLA_OSSERVAZIONE eq ListaDocumentiBean.selectedResponse
							or respRedEnum.ANNULLA_RICHIESTA_INTEGRAZIONI eq ListaDocumentiBean.selectedResponse
							or respRedEnum.ANNULLA_RELAZIONE_POSITIVA eq ListaDocumentiBean.selectedResponse
							or respRedEnum.ANNULLA_RELAZIONE_NEGATIVA eq ListaDocumentiBean.selectedResponse
							or respRedEnum.RIFIUTATA eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRifiuta.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.SIGLA_E_INVIA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlSigla.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.MODIFICA_ITER eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlModificaIter.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RIFIUTA_SPEDIZIONE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRifiutaSpedizione.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RIATTIVA_PROCEDIMENTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRiattivaProcedimento.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.ATTI eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlAtti.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{(respRedEnum.INVIO_IN_SIGLA eq ListaDocumentiBean.selectedResponse 
							or respRedEnum.INVIO_IN_FIRMA eq ListaDocumentiBean.selectedResponse 
							or respRedEnum.INVIO_IN_VISTO eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInvioIn.xhtml"/>
		</p:panel>

		<p:panel rendered="#{respRedEnum.INOLTRA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInoltra.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RIASSEGNA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRiassegna.xhtml"/>
		</p:panel>
		
		<!-- <p:panel rendered="#{respRedEnum.METTI_IN_CONOSCENZA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlMettiInConoscenza.xhtml"/>
		</p:panel> -->

		<p:panel rendered="#{(respRedEnum.PREDISPONI_DOCUMENTO eq ListaDocumentiBean.selectedResponse or respRedEnum.RISPONDI_INGRESSO eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlPredisponiDocumento.xhtml"/>
		</p:panel>
		<p:panel rendered="#{respRedEnum.FIRMA_AUTOGRAFA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlFirmaAutografa.xhtml"/>
		</p:panel>
		<p:panel rendered="#{respRedEnum.STAMPA_PROTOCOLLO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlStampaProtocollo.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.FALDONA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlFaldona.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_VISTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediVisti.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{(respRedEnum.RICHIESTA_VISTI eq ListaDocumentiBean.selectedResponse or respRedEnum.RICHIESTA_VISTI_2 eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiestaVisti.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_VISTO_ISPETTORE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediVistoIspettore.xhtml"/>
		</p:panel>
		
		<!-- <p:panel rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediContributo.xhtml"/>
		</p:panel> -->
		
		<p:panel rendered="#{respRedEnum.RICHIESTA_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiestaContributo.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO_INTERNO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediContributoInterno.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO_UTENTE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediContributoUtente.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{(respRedEnum.RICHIEDI_VISTO_UFFICIO eq ListaDocumentiBean.selectedResponse or respRedEnum.RICHIEDI_VISTO_INTERNO eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediVistoUfficio.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{((respRedEnum.INSERISCI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse) or (respRedEnum.INSERISCI_CONTRIBUTO_2 eq ListaDocumentiBean.selectedResponse)) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInserisciContributo.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.VALIDA_CONTRIBUTI eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlValidaContributi.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.VALIDAZIONE_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlValidazioneContributo.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.VISTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlVisto.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.SIGLA_RICHIEDI_VISTI eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlSiglaERichiediVisti.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_VERIFICA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediVerifica.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.VERIFICATO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlVerificato.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.NON_VERIFICATO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlNonVerificato.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.INVIO_DECRETO_FIRMA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInvioDecretoFirma.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.ASSOCIA_DECRETI eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlAssociaDecreti.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.MODIFICA_ASSOCIAZIONI eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlModificaAssociazioni.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.CHIUDI_SENZA_ASSOCIAZIONE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlChiudiSenzaAssociazione.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.PREDISPONI_DICHIARAZIONE eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson " >
			<ui:include src="pnlPredisponiDichiarazione.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.PREDISPOSIZIONE_FIRMA_AUTOGRAFA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlPredisposizioneFirmaAutografa.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RICHIEDI_SOLLECITO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRichiediSollecito.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.COLLEGA_CONTRIBUTO_ESTERNO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlCollegaContributo.xhtml"/>
		</p:panel>
		
		<p:panel id="idInoltraMailDaCodaAttiva" rendered="#{respRedEnum.INOLTRA_DA_CODA_ATTIVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson ">
			<ui:include src="pnlInoltraMailDaCodaAttiva.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.APRI_RDS_SIEBEL eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson generic_maxHeight580px">
			<ui:include src="pnlApriRdsSiebel.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.INVIO_IN_FIRMA_MULTIPLA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlInviaInFirmaMultipla.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RECALL eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRecall.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.STORNA_AL_CORRIERE eq ListaDocumentiBean.selectedResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlStornaACorriere.xhtml"/>
		</p:panel>

		<p:panel rendered="#{(respRedEnum.PREDISPONI_RESTITUZIONE eq ListaDocumentiBean.selectedResponse or respRedEnum.PREDISPONI_VISTO eq ListaDocumentiBean.selectedResponse or respRedEnum.PREDISPONI_OSSERVAZIONE eq ListaDocumentiBean.selectedResponse or respRedEnum.RICHIESTA_INTEGRAZIONI eq ListaDocumentiBean.selectedResponse) or respRedEnum.PREDISPONI_RELAZIONE_POSITIVA eq ListaDocumentiBean.selectedResponse or respRedEnum.PREDISPONI_RELAZIONE_NEGATIVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" 
			styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlPredisponiVisto.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{(respRedEnum.RITIRO_AUTOTUTELA eq ListaDocumentiBean.selectedResponse or respRedEnum.ASSOCIA_INTEGRAZIONE_DATI eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlSelezionaDocumento.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{(respRedEnum.ASSEGNA eq ListaDocumentiBean.selectedResponse or respRedEnum.METTI_IN_CONOSCENZA eq ListaDocumentiBean.selectedResponse or respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse or respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}" 
			styleClass="generic_noborder generic_no_background generic_noborder_andson" style="max-width:700px;">
			<ui:include src="pnlAssegnaNuova.xhtml"/>
		</p:panel>
		
		<p:panel rendered="#{respRedEnum.RETRY eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}" 
			styleClass="generic_noborder generic_no_background generic_noborder_andson">
			<ui:include src="pnlRetry.xhtml"/>
		</p:panel>
		
		<!-- <ui:include src=".\......xhtml"/>
		<ui:include src=".\......xhtml"/>
		<ui:include src=".\......xhtml"/>
		<ui:include src=".\......xhtml"/>
		<ui:include src=".\......xhtml"/>
		<ui:include src=".\......xhtml"/> -->
			
	</p:dialog>

</ui:composition>