<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


  <p:dataTable widgetVar="listaFaldoni" id="FaldoniListId" var="faldone" value="#{ListaFaldoniBean.faldoniDTH.masters}" rowKey="#{faldone.nomeFaldone}" 
					styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="15" sortMode="multiple" emptyMessage="Nessun faldone corrispondente ai criteri">  
			
<!-- 		      	<p:column headerText="Nome Faldone" sortBy="#{faldone.nomeFaldone}" filterBy="#{faldone.nomeFaldone}" filterMatchMode="contains" styleClass="generic_width10 generic_textAlignCenter"  > -->
<!-- 			        <h:outputText value="#{faldone.nomeFaldone}"/> -->
<!-- 		        </p:column> -->
		        
		        <p:column headerText="Descrizione" sortBy="#{faldone.descrizioneFaldone}" filterBy="#{faldone.descrizioneFaldone}" filterMatchMode="contains" styleClass="generic_width50" >
			        <h:outputText value="#{faldone.descrizioneFaldone}"/>
		        </p:column>
		        
		        		        
		        <p:column headerText="Oggetto" sortBy="#{faldone.oggetto}" filterBy="#{faldone.oggetto}" filterMatchMode="contains" styleClass="generic_width50" >
			        <h:outputText value="#{faldone.oggetto}"/>
		        </p:column>

		        <p:column headerText="Data Creazione" sortBy="#{faldone.dateCreated}" filterBy="#{faldone.dateCreated}" filterMatchMode="contains" styleClass="generic_textAlignCenter generic_width10" >
			        <p:outputLabel value="#{faldone.dateCreated}">
			        	<f:convertDateTime pattern="dd/MM/yyyy" />
			        </p:outputLabel>
		        </p:column>
		        
<!-- 		        <p:column headerText="Azioni" sortBy="#{faldone.nomeFaldone}" style="width:10%; text-align: center;"  filterBy="#{faldone.nomeFaldone}" filterMatchMode="contains" > -->
<!-- 			    	<p:commandButton id="dettaglioBtn" title="Visualizza dettaglio per il faldone #{faldone.nomeFaldone}" icon="fa fa-search"/>	 -->
<!-- 		        </p:column> -->
		</p:dataTable>
 

</ui:composition>
