<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:dataTable widgetVar="listaFascicoli" id="FascicoliListId" var="fascicolo" 
		value="#{ListaFascicoliBean.fascicoliDTH.masters}" rowKey="#{fascicolo.nomeDocumento}" 
		styleClass="dataTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15" rows="15" 
		selectionMode="single" selection="#{ListaFascicoliBean.fascicoliDTH.currentMaster}" rowIndexVar="index"
 		sortMode="multiple" emptyMessage="Nessun fascicolo" paginatorAlwaysVisible="false">  
				
		<p:ajax event="rowSelect" listener="#{ListaFascicoliBean.rowSelector}" update="eastSectionForm:idDettaglioFascicolo_DF"/>
		<p:ajax event="rowUnselect" listener="#{ListaFascicoliBean.fascicoliDTH.rowUnselector}" update="eastSectionForm:idDettaglioFascicolo_DF"/>
				
		<p:column headerText="INFO" sortBy="#{fascicolo.nomeDocumento}" filterBy="#{fascicolo.nomeDocumento}" filterMatchMode="contains"  
			styleClass="generic_textAlignCenter lf_tableColumn1">
			<h:outputText styleClass="fa fa-folder-open-o" rendered="#{fascicolo.stato eq 'Aperto'}" title="#{fascicolo.stato}"/>
			<h:outputText styleClass="fa fa-folder-o" rendered="#{fascicolo.stato ne 'Aperto'}" title="#{fascicolo.stato}"/>
		</p:column>
		     
		<p:column headerText="Descrizione" sortBy="#{fascicolo.descrizione}" filterBy="#{fascicolo.descrizione}" filterMatchMode="contains"  
			styleClass="lf_tableColumn2">
			<p:outputLabel value="#{fascicolo.nomeDocumento}" styleClass="generic_grassetto generic_corsivo" />
			<p:outputLabel value="/"  styleClass="generic_grassetto generic_corsivo" />
			<p:outputLabel value="#{fascicolo.anno}"  styleClass="generic_grassetto generic_corsivo" />
			<p:outputLabel value=" - " />
			<h:outputText value="#{fascicolo.descrizione}"/>
		</p:column>
		     
		<p:column headerText="Indice di Classificazione" sortBy="#{fascicolo.indiceClassificazione}" filterBy="#{fascicolo.indiceClassificazione}" filterMatchMode="contains"  
			styleClass="generic_textAlignCenter lf_tableColumn3">
			<h:outputText value="#{fascicolo.indiceClassificazione}"/>
		</p:column>
		     
		<p:column headerText="Data Creazione" sortBy="#{fascicolo.dataCreazione}" filterBy="#{fascicolo.dataCreazione}" filterMatchMode="contains"  
			styleClass="generic_textAlignCenter lf_tableColumn4">
			<p:outputLabel value="#{fascicolo.dataCreazione}" >
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</p:column>
		     
<!-- 		< p:column headerText="Azioni" sortBy=" # {fascicolo.nomeDocumento}"  filterBy=" # {fascicolo.nomeDocumento}" filterMatchMode="contains" > -->
<!-- 			<p:commandButton id="dettaglioBtn" title="Visualizza dettaglio per il fascicolo # {fascicolo.nomeDocumento}" icon="fa fa-search"/>	 -->
<!-- 		</ p:column> -->
	</p:dataTable>
 

</ui:composition>
