<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="DCE" allSuffix="ALL_QUEUE_ENUM_VALUES"/>
	
	<p:remoteCommand name="refreshFooterCartaceiAcquisiti" update="centralSectionForm:documentiCartaceiAcquisiti"/>
	
	<p:outputPanel id="pnlListaCartaceiAcquisiti">
	
		<p:selectOneRadio id="radioBtnDocPrincipale" value="#{ListaCartaceiAcquisitiBean.idDocSelectedForResponse}" layout="custom">
			<p:ajax event="change" listener="#{ListaCartaceiAcquisitiBean.onSelectDocumentoPrincipale()}"/>
	    	<f:selectItems value="#{ListaCartaceiAcquisitiBean.currentMasters}" var="doc" itemValue="#{doc.documentTitle}" itemLabel="#{doc.barcode}"/>
		</p:selectOneRadio>
		
		<p:dataTable var="documento" paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index"
			 rows="30" paginatorPosition="bottom" rowsPerPageTemplate="15,30" value="#{ListaCartaceiAcquisitiBean.documentiDTH.masters}" 
			 paginatorTemplate="TOT : #{fn:length(ListaCartaceiAcquisitiBean.documentiDTH.filteredMasters) > 0 ? fn:length(ListaCartaceiAcquisitiBean.documentiDTH.filteredMasters) : fn:length(ListaCartaceiAcquisitiBean.documentiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			 styleClass="datatable" id="documentiCartaceiAcquisiti" emptyMessage="Nessun Documento Presente" widgetVar="documentiCartaceiAcquisitiDT" 
			 rowKey="#{documento.documentTitle}" selectionMode="single" selection="#{ListaCartaceiAcquisitiBean.documentiDTH.currentMaster}" sortMode="multiple" 
			 filteredValue="#{ListaCartaceiAcquisitiBean.documentiDTH.filteredMasters}" paginatorAlwaysVisible="true">
			
			<p:ajax event="rowSelect" listener="#{ListaCartaceiAcquisitiBean.onRowSelect}" process="@this" ignoreAutoUpdate="true" 
				update="@form:pnlListaCartaceiAcquisiti, eastSectionForm:eastSectionPanelId" oncomplete="$('#eastSection').show();"/>
			<p:ajax event="rowUnselect" ignoreAutoUpdate="true" process="@this"/>
			<p:ajax event="page" oncomplete="refreshFooterCartaceiAcquisiti();"/>
			<p:ajax event="filter" oncomplete="unselectDatatable('documentiCartaceiAcquisitiDT', 'eastSection');"/>
			<p:ajax event="sort" oncomplete="unselectDatatable('documentiCartaceiAcquisitiDT', 'eastSection');"/>
			
			<p:column exportable="false" visible="#{ListaCartaceiAcquisitiBean.columns[0]}" styleClass="dtSelectAllColumn">
				<f:facet name="header">
		 			<span class="fa fa-file datatable-select-all generic_margin0" title="Seleziona documento principale"/>
		 		</f:facet>
				
				<p:radioButton for="@form:radioBtnDocPrincipale" itemIndex="#{index}"/>
			</p:column>
			
	  		<p:column exportable="false" visible="#{ListaCartaceiAcquisitiBean.columns[1]}" styleClass="dtSelectAllColumn">
				<f:facet name="header">
					<span class="fa fa-paperclip datatable-select-all generic_margin0" title="Seleziona allegato"/>
	            </f:facet>
	            
		  		<p:selectBooleanCheckbox title="#{documento.selectedAsAllegato ? 'Deseleziona' : 'Seleziona come allegato'} documento #{documento.barcode}" 
		  			value="#{documento.selectedAsAllegato}">
			  		<p:ajax event="change" listener="#{ListaCartaceiAcquisitiBean.updateSelectedAsAllegato(documento.documentTitle)}" update="@form:pnlListaCartaceiAcquisiti"/>
		  		</p:selectBooleanCheckbox>
			</p:column>
	        	
	        <p:column exportable="false" visible="#{ListaCartaceiAcquisitiBean.columns[2]}" styleClass="dtBtnCol">
	            <p:menuButton icon="fa fa fa-ellipsis-v" menuStyleClass="response-single-style" title="Azioni Documento: #{documento.barcode}" 
            		disabled="#{documento.documentTitle ne ListaCartaceiAcquisitiBean.idDocSelectedForResponse}"
            		model="#{ListaCartaceiAcquisitiBean.calcolaReponseMenuModelPerDocumento(documento.barcode)}">
	            </p:menuButton>
			</p:column>
	
			<p:column exportable="true" visible="#{ListaCartaceiAcquisitiBean.columns[3]}" headerText="BARCODE" styleClass="dtDescCol generic-break-word" 
				sortBy="#{documento.barcode}" filterBy="#{documento.barcode}" filterMatchMode="contains">
				<h:outputText title="Barcode: #{documento.barcode}" value="#{documento.barcode}" styleClass="table"/>
			</p:column>
	
			<p:column exportable="true" visible="#{ListaCartaceiAcquisitiBean.columns[4]}" headerText="CREAZIONE" 
				styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word" sortBy="#{documento.dataCreazione}" 
				filterBy="#{documento.dataCreazione}" filterMatchMode="contains">
				<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
				</h:outputText>
			</p:column>
			
			<p:column exportable="true" visible="#{ListaCartaceiAcquisitiBean.columns[5]}" headerText="TIPOLOGIA" 
				styleClass="dtDescCol generic-break-word" sortBy="#{documento.barcodePrincipale}" filterBy="#{documento.barcodePrincipale}" filterMatchMode="contains">
				<h:outputText rendered="#{documento.barcodePrincipale eq null}" title="Principale" value="Principale" styleClass="table"/>
				<h:outputText rendered="#{documento.barcodePrincipale ne null}" title="Allegato a: #{documento.barcodePrincipale}" 
					value="Allegato a: #{documento.barcodePrincipale}" styleClass="table"/>
			</p:column>
			
		</p:dataTable>
		
	</p:outputPanel>
		
	<!-- DIALOG ESITO OPERAZIONE -->
	<p:dialog id="idDlgShowResultCartaceiAcquisiti" class="showResultDiv" header="Esito Operazione" dynamic="true" widgetVar="dlgShowResultCartaceiAcquisiti" modal="true" showEffect="fade" 
		hideEffect="fade" resizable="false" responsive="false" styleClass="marginBottom" closable="true" 
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgShowResultCartaceiAcquisiti')">
		
		<f:facet name="header">
			<span class="fa fa-info-circle"/>
			<span>Esito Operazione#{(': ').concat(ListaCartaceiAcquisitiBean.responseSelezionataLabel)}</span>
 		</f:facet>
 		
		<p:outputPanel class="ui-fluid">
			<p:outputPanel styleClass="generic_width350px">
			   
				<p:outputPanel styleClass="ui-g" rendered="#{ListaCartaceiAcquisitiBean.esitoOperazione.esito}">
			   		<p:outputPanel styleClass="ui-g-2">
			   			<h:outputLink id="docOkCartacei" value="#" styleClass="txt-decoration-none">
			   				<h:outputText><span class="fa fa-thumbs-o-up fa-stack-2x iconaEsitoOperazioneOk"/></h:outputText>
			   			</h:outputLink>
			   			<p:tooltip for="docOkCartacei" position="left" styleClass="generic_textAlignCenter generic_noborder generic_width150px"
			   				rendered="#{ListaCartaceiAcquisitiBean.esitoOperazione.nomeDocumento ne null}">	
							<p:outputLabel value="Barcode: #{ListaCartaceiAcquisitiBean.esitoOperazione.nomeDocumento}" styleClass="black"/>
				    	</p:tooltip>
			   		</p:outputPanel>
			   		<p:outputPanel styleClass="ui-g-10">
			   			<p:outputLabel value="#{ListaCartaceiAcquisitiBean.esitoOperazione.note}" styleClass="ui-g-12"/>
			   		</p:outputPanel>
				</p:outputPanel>
			   
			   <p:outputPanel styleClass="ui-g" rendered="#{not ListaCartaceiAcquisitiBean.esitoOperazione.esito}">
					<p:outputPanel styleClass="ui-g-2">
						<span class="fa fa-thumbs-o-down fa-stack-2x iconaEsitoOperazioneKo"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-10">
						<p:outputLabel value="Operazione fallita." styleClass="ui-g-12"/>
					</p:outputPanel>
				</p:outputPanel>
				
		    	<p:outputPanel styleClass="ui-g generic_width100 generic_marginBottom" rendered="#{not ListaCartaceiAcquisitiBean.esitoOperazione.esito}">
		    		<p:outputPanel class="ui-g-8 generic_labelPadding25" rendered="#{ListaCartaceiAcquisitiBean.esitoOperazione.nomeDocumento ne null}">
			    		<p:outputLabel value="Barcode: #{ListaCartaceiAcquisitiBean.esitoOperazione.nomeDocumento}"/>
		    		</p:outputPanel>
		    		
		    		<p:outputPanel class="ui-g-4 generic_textAlignCenter">
			    		<p:commandButton id="infoKOBtn" type="button" styleClass="pnl-btn-info-width generic_centra" icon="fa fa-info"/>
			    		
					    <p:overlayPanel id="infoKOPanel" for="infoKOBtn" hideEffect="fade">
					        <p:outputLabel title="#{esito.note}" value="#{esito.note}" styleClass="detailValue"/>
					        <iframe class="cover" src="about:blank" title="Frame lista cartacei"></iframe>
					    </p:overlayPanel>
		    		</p:outputPanel>
    			</p:outputPanel>
   			   	
			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel class="generic_textAlignCenter">
	    	<p:commandButton styleClass="newButton generic_centra uniqueCloseButton" icon="fa fa-times" title="Chiudi" value="Chiudi" 
	    		onclick="PF('dlgShowResultCartaceiAcquisiti').hide()" action="#{ListaCartaceiAcquisitiBean.refresh}" 
		    	update="centralSectionForm:pnlListaCartaceiAcquisiti, centralSectionForm:loadedLabelCartaceiAcquisiti"/>
		</p:outputPanel>
	</p:dialog>
	
	<!-- DIALOG CONFERMA RIMOZIONE DOCUMENTO CARTACEO ELIMINATO -->
	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgConfirmRimuoviCartaceoEliminato')" widgetVar="dlgConfirmRimuoviCartaceoEliminato" 
		header="Conferma rimozione" draggable="false" resizable="false" closable="true" modal="true" fitViewport="true">
		
		<red:popupConfirmComponent interfaceInstance="#{ListaCartaceiAcquisitiBean}" widgetVarDialog="dlgConfirmRimuoviCartaceoEliminato"
			message="Eliminare definitivamente il documento con barcode #{ListaCartaceiAcquisitiBean.documentiDTH.currentMaster.barcode}?">
		</red:popupConfirmComponent>
			
	</p:dialog>
	
</ui:composition>