<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom" >
	
	<!--========================================================== OVERLAY RESPONSE SINGOLE ==========================================================-->
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.business.enums.SourceTypeEnum" var="QueueTypeEnum"/>
	<p:importEnum type="it.ibm.red.web.enums.GruppiResponseEnum" var="GruppiResponseEnum"/>
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="dqe" />
	<p:importEnum type="it.ibm.red.business.enums.SignTypeEnum" var="signTypeEnum" />
	
	
	<p:remoteCommand name="refreshFooter" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:loadedLabel, centralSectionForm:searchAllBtn"/>
	<p:remoteCommand name="refreshDetail" actionListener="#{ListaDocumentiBean.resetDetailView()}" update="eastSectionForm:tabDetails"/>
	<p:remoteCommand name="refreshForFiltering" update="centralSectionForm:selectedLabel, centralSectionForm:documenti, westSectionForm:idTabMain_LeftAside"/>
	
	<p:dataTable var="documento" paginator="true" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index"
				 rows="#{ListaDocumentiBean.configSizeCoda}" paginatorPosition="bottom" rowsPerPageTemplate="15,25,#{ListaDocumentiBean.templateMaxCoda}"  value="#{ListaDocumentiBean.documentiDTH.masters}" rowStyleClass="#{documento.flagDisabilitato? 'disabled-row' : null}" disabledSelection="#{documento.flagDisabilitato or not documento.flagSelezione}"
				 paginatorTemplate="TOT : #{fn:length(ListaDocumentiBean.documentiDTH.filteredMasters) > 0 ? fn:length(ListaDocumentiBean.documentiDTH.filteredMasters) : fn:length(ListaDocumentiBean.documentiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 styleClass="filtriSchiacciatiInBasso datatable dt-lista-doc" id="documenti" emptyMessage="Nessun Documento Presente" widgetVar="documentiDT" rowKey="#{documento.documentTitle}-#{documento.wobNumber}"
				 selectionMode="single" selection="#{ListaDocumentiBean.documentiDTH.currentMaster}" sortMode="multiple" filteredValue="#{ListaDocumentiBean.documentiDTH.filteredMasters}" 
				 paginatorAlwaysVisible="true" disabledTextSelection="false">

		<p:ajax event="rowSelect" listener="#{ListaDocumentiBean.rowSelector}" process="@this" ignoreAutoUpdate="true" update="@this eastSectionForm:idDettaglioDocumento_DD" oncomplete="$('#eastSection').show();"/>
		
		<p:ajax event="page" listener="#{ListaDocumentiBean.pageListener}" oncomplete="refreshFooter();"/>
		<p:ajax event="filter" oncomplete="unselectDatatable('documentiDT', 'eastSection');makeRowsSelectable('documentiDT');"/>
		<p:ajax event="sort" oncomplete="unselectDatatable('documentiDT', 'eastSection');makeRowsSelectable('documentiDT');"/>
		
  		<p:column exportable="false" toggleable="false" visible="#{ListaDocumentiBean.listaColonneCodeDTO[0].visibilitaColonna}" styleClass="dtSelectAllColumnWithMenu" rendered="#{(ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO or SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE_UCB or SessionBean.activePageInfo eq navTokenEnum.IN_LAVORAZIONE_UCB)}">
			<f:facet name="header">
			    <p:menuButton icon="fa fa-list" menuStyleClass="selectall-menu-style">
			        <p:menuitem value="#{!(ListaDocumentiBean.allElementCheckboxes[ListaDocumentiBean.pageIndex] and (fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0)) ? 'Seleziona' : 'Deseleziona'} tutti" onclick="updateAllCheck()" icon="fa fa-check" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD"/>
			        <p:separator />
			        <p:menuitem value="Seleziona firma" actionListener="#{ListaDocumentiBean.selectAllFirma}" icon="fa fa-pencil" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{(SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			        <p:menuitem value="Seleziona firma multipla" actionListener="#{ListaDocumentiBean.selectAllFirmaMultipla}" icon="fa fa-pencil" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{ListaDocumentiBean.hasLibroFirmaMultipla and (SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			        <p:menuitem value="Seleziona sigla" actionListener="#{ListaDocumentiBean.selectAllSigla}" icon="fa fa-check" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{(SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			        <p:menuitem value="Seleziona visto" actionListener="#{ListaDocumentiBean.selectAllVisto}" icon="fa fa-check" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{ListaDocumentiBean.showSelezionaTuttiVisto and (SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			  	    <p:menuitem value="Seleziona competenza" actionListener="#{ListaDocumentiBean.selectAllCompetenza}" icon="fa fa-users" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{(SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE_UCB or SessionBean.activePageInfo eq navTokenEnum.IN_LAVORAZIONE_UCB or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			        <p:menuitem value="Seleziona contributo" actionListener="#{ListaDocumentiBean.selectAllContributo}" icon="fa fa-bullhorn" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{(SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE_UCB or SessionBean.activePageInfo eq navTokenEnum.IN_LAVORAZIONE_UCB or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			        <p:menuitem value="Seleziona conoscenza" actionListener="#{ListaDocumentiBean.selectAllConoscenza}" icon="fa fa-dropbox" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" rendered="#{(SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE_UCB or SessionBean.activePageInfo eq navTokenEnum.IN_LAVORAZIONE_UCB or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}"/>
			   </p:menuButton>

				<p:remoteCommand actionListener="#{ListaDocumentiBean.handleAllCheckBox}" name="updateAllCheck" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD"/>

            </f:facet>
	  		<p:selectBooleanCheckbox title="#{documento.selected ? 'Deseleziona' : 'Seleziona'} documento #{documento.numeroDocumento}" value="#{documento.selected}" styleClass="#{documento.flagDisabilitato ? 'hide' : ''}">
		  		<p:ajax event="change" listener="#{ListaDocumentiBean.updateCheck}" update="@(.refreshEastButton), centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside"/>
	  		</p:selectBooleanCheckbox>
		</p:column>
		
		<p:column exportable="false" toggleable="false" visible="#{ListaDocumentiBean.listaColonneCodeDTO[0].visibilitaColonna}" styleClass="dtSelectAllColumnWithMenu" rendered="#{!(ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO or SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.CORRIERE or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_DIRETTO or SessionBean.activePageInfo eq navTokenEnum.CORRIERE_INDIRETTO or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE or SessionBean.activePageInfo eq navTokenEnum.DA_LAVORARE_UCB or SessionBean.activePageInfo eq navTokenEnum.IN_LAVORAZIONE_UCB)}">
			<f:facet name="header">
				<span class="fa fa-check-square-o datatable-select-all #{!ListaDocumentiBean.allElementCheckboxes[ListaDocumentiBean.pageIndex] ? 'hide' : ''}"  onclick="updateAllCheck()" title="Deseleziona tutti"/>
				<span class="fa fa-square-o datatable-select-all #{ListaDocumentiBean.allElementCheckboxes[ListaDocumentiBean.pageIndex] ? 'hide' : ''}" onclick="updateAllCheck()" title="Seleziona tutti"/>
				<p:remoteCommand actionListener="#{ListaDocumentiBean.handleAllCheckBox}" name="updateAllCheck" update="centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside eastSectionForm:idDettaglioDocumento_DD" />
            </f:facet>
	  		<p:selectBooleanCheckbox  title="#{documento.selected ? 'Deseleziona' : 'Seleziona'} documento #{documento.numeroDocumento}" value="#{documento.selected}" styleClass="#{documento.flagDisabilitato ? 'hide' : ''}">
		  		<p:ajax event="change" listener="#{ListaDocumentiBean.updateCheck}" update="@(.refreshEastButton), centralSectionForm:documenti, centralSectionForm:selectedLabel, centralSectionForm:idInfoPanel, westSectionForm:idTabMain_LeftAside"/>
	  		</p:selectBooleanCheckbox>
		</p:column>
		
        	
        <p:column exportable="false" toggleable="false" visible="#{ListaDocumentiBean.listaColonneCodeDTO[1].visibilitaColonna}" styleClass="dtBtnCol">
            <p:menuButton model="#{ListaDocumentiBean.model}" id="menuRespList" icon="fa fa fa-ellipsis-v" menuStyleClass="response-single-style" title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : 'Azioni Documento: '.concat(ListaDocumentiBean.documentiDTH.currentMaster.numeroDocumento)}" 
            	disabled="#{documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0}"/>
		</p:column>

		<p:column exportable="false" toggleable="false" rendered="#{((documento.iconaStato.value eq 26 or documento.iconaStato.value eq 2 or documento.iconaStato.value eq 1 or documento.iconaStato.value eq 4) and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}"  visible="#{ListaDocumentiBean.listaColonneCodeDTO[2].visibilitaColonna}" styleClass="dtBtnCol">
			<p:outputPanel rendered="#{(documento.iconaStato.value eq 2 and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}">
				<p:commandLink onmouseover="if(!$(this).hasClass('disabledStile')){$(this).addClass('ui-state-hover')}" onmouseout="$(this).removeClass('ui-state-hover')" styleClass="#{(documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0)? 'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only disabledStile':'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only'}"  style="height:21px;" title="Firma Remota/Firma Digitale" actionListener="#{ListaDocumentiBean.eseguiResponseFirmaGruppo}" >
					 <h:graphicImage style="padding:2px;" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" />
				</p:commandLink>
			</p:outputPanel>
			<p:outputPanel rendered="#{(documento.iconaStato.value eq 26 and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}">
				<p:commandLink onmouseover="if(!$(this).hasClass('disabledStile')){$(this).addClass('ui-state-hover')}" onmouseout="$(this).removeClass('ui-state-hover')" styleClass="#{(documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0)? 'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only disabledStile':'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only'}"  style="height:21px;" title="Firma Multipla Remota/Firma Multipla Digitale" actionListener="#{ListaDocumentiBean.eseguiResponseFirmaMultiplaGruppo}" >
					 <h:graphicImage style="padding:2px;" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" />
				</p:commandLink>
			</p:outputPanel>
			<p:outputPanel rendered="#{(documento.iconaStato.value eq 4 and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}">
				<p:commandLink  onmouseover="if(!$(this).hasClass('disabledStile')){$(this).addClass('ui-state-hover')}" onmouseout="$(this).removeClass('ui-state-hover')" styleClass="#{(documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0)? 'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only disabledStile':'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only'}"    style="height:21px;" title="Sigla" update="centralSectionForm:idDlgGeneric" actionListener="#{ListaDocumentiBean.eseguiResponseSiglaGruppo}">
					 <h:graphicImage style="padding:2px;" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" />
				</p:commandLink>
			</p:outputPanel>
			<p:outputPanel rendered="#{(documento.iconaStato.value eq 1 and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}">
				<p:commandLink onmouseover="if(!$(this).hasClass('disabledStile')){$(this).addClass('ui-state-hover')}" onmouseout="$(this).removeClass('ui-state-hover')" styleClass="#{(documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0)? 'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only disabledStile':'ui-commandlink ui-widget ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only'}"   style="height:21px;" title="Visto" update="centralSectionForm:idDlgGeneric" actionListener="#{ListaDocumentiBean.eseguiResponseVistaGruppo}">
					 <h:graphicImage style="padding-top:2px;padding-right:2px;" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" />
				</p:commandLink>
			</p:outputPanel>
		</p:column>

		<p:column exportable="false" rendered="#{!((documento.iconaStato.value eq 26 or documento.iconaStato.value eq 2 or documento.iconaStato.value eq 1 or documento.iconaStato.value eq 4) and SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA)}" toggleable="false" visible="#{ListaDocumentiBean.listaColonneCodeDTO[2].visibilitaColonna}" styleClass="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA? 'dtBtnCol':'dtImgCol'}">
			<p:outputPanel styleClass="draggableIcon_disabled" rendered="#{(documento.iconaStato.value eq 6) and (SessionBean.activePageInfo eq navTokenEnum.ORG_SCRIVANIA) and (ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_DIRETTO or ListaDocumentiBean.orgObj.queueToGo eq dqe.CORRIERE_INDIRETTO)}">
				<p class="hide" >#{documento.wobNumber}</p>
				<p:graphicImage library="images" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" title="#{documento.iconaStato.title}" rendered="#{documento.iconaStato.filename != null}"/>
			</p:outputPanel>

			<p:outputPanel rendered="#{(documento.iconaStato.value ne 6) or (SessionBean.activePageInfo ne navTokenEnum.ORG_SCRIVANIA) or (ListaDocumentiBean.orgObj.queueToGo ne dqe.CORRIERE and ListaDocumentiBean.orgObj.queueToGo ne dqe.CORRIERE_DIRETTO and ListaDocumentiBean.orgObj.queueToGo ne dqe.CORRIERE_INDIRETTO)}">
				<p:graphicImage library="images" value="/resources/images/#{documento.iconaStato.filename}" alt="#{documento.iconaStato.altText}" title="#{documento.iconaStato.title}" rendered="#{documento.iconaStato.filename != null}"/>
			</p:outputPanel>
		</p:column>
		
		<p:column headerText="INFO" exportable="false" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[3].visibilitaColonna}" filterBy="#{documento.nota.colore}" filterMatchMode="startsWith" styleClass="dtInfoCol disabilitaSortableInfo" sortBy="#{documento.nota.colore}">
			<!-- <p:commandLink rendered="#{documento.flagSiebel}" styleClass="cmdbtn-info-lista-documenti DD_labelTitoletto" title="Siebel" disabled="#{ListaDocumentiBean.documentiDTH.currentMaster eq null or ListaDocumentiBean.documentiDTH.currentMaster.wobNumber ne documento.wobNumber}" oncomplete="TabViewUtils.idTabToChange='idSiebel';" style="height:21px;" update="idDettagliEstesiForm:idPanelDocumentManager" >
				<h:graphicImage value="/resources/images/siebel.png" /></p:commandLink> -->
			<span class="DD_labelTitoletto" title="#{documento.titleTipoCategoriaDoc.concat(' - ').concat(documento.sottoCategoriaDocumentoUscita.descrizione)}">
				#{documento.charTipoCategoriaDoc}
			</span>
			<span class="DD_labelTitoletto" title="#{documento.iconaFlusso.title}" style="color:#{documento.iconaFlusso.colorIcon}">
				#{documento.iconaFlusso ne null ? documento.iconaFlusso.displayName : ''}
			</span>
			<span class="fa fa-info-circle hide" role="link" onclick="copyToClipboard(this.title)" title="ID DOCUMENTO: #{documento.numeroDocumento}&#13;ID UTENTE DESTINATARIO: #{documento.idUtenteDestinatario}&#13;QUEUE: #{documento.queue.name}&#13;DOCUMENT TITLE: #{documento.documentTitle}&#13;WOB NUM: #{documento.wobNumber}" />
			<span class="fa fa-circle icon-bordered #{documento.bTrasfPdfErrore and (SessionBean.activePageInfo.documentQueue.type eq QueueTypeEnum.FILENET) ? '' : 'hide'} semaforo-rosso" title="#{documento.errorMessage}"/>
			<span class="fa fa-circle icon-bordered #{documento.bTrasfPdfWarning and (SessionBean.activePageInfo.documentQueue.type eq QueueTypeEnum.FILENET) ? '' : 'hide'} semaforo-giallo" title="#{documento.warningMessage}"/>
			<span class="fa fa-commenting-o #{empty documento.motivazioneAssegnazione ? 'hide' : ''}" title="#{documento.motivazioneAssegnazione}"/>
			<span class="fa fa-credit-card #{!documento.flagFirmaDig ? 'hide' : ''}" title="Firma digitale Ragioniere Generale dello Stato"/> 
			<span class="fa fa-paperclip #{!documento.bAttachmentPresent ? 'hide' : ''}"  title="Allegati Presenti"/>
			<span class="fa fa-folder-open-o #{!documento.hasContributi ? 'hide' : ''}" title="Contributi Presenti"/>
			<span class="fa fa-exclamation-circle #{!documento.urgente ? 'hide' : ''}" title="Documento Urgente" style="color:red"/>
			<span class="fa fa-flag icon-bordered #{documento.nota.colore == null ? 'hide' : ''}" style="color: #{documento.nota.colore.color};" title="#{documento.nota.contentNota}"/>
			<span class="fa fa-user-secret #{((documento.idUtenteDestinatario eq null or documento.idUtenteDestinatario eq SessionBean.utente.id) and (documento.queue.name eq 'NSD_LibroFirma' or documento.queue.name eq 'FEPA_LibroFirma')) or (documento.queue.name ne 'NSD_LibroFirma' and documento.queue.name ne 'FEPA_LibroFirma') ? 'hide' : ''}" title="Firma Delegato"/>
			<span class="#{!(documento.flagRiservato) ? 'hide' : 'DD_labelTitoletto'}" title="Documento riservato">R</span>
			<span class="fa fa-lock #{!documento.docLocked ? 'hide' : ''}" title="Documento lockato da #{documento.usernameLocked}" style="color:black"/>
			<span class="fa fa-file-o #{!(documento.flagNoContent) ? 'hide' : ''}" title="File non presente"/>
			<span class="fa fa-gear #{documento.info==null ? 'hide' : documento.info.status.sclass}" title="#{documento.info.info}"/>
			<p:commandButton rendered="#{documento.flagSiebel}" styleClass="cmdbtn-info-lista-documenti DD_labelTitoletto" title="Siebel" 
				 disabled="#{ListaDocumentiBean.documentiDTH.currentMaster eq null or ListaDocumentiBean.documentiDTH.currentMaster.wobNumber ne documento.wobNumber}"
				 action="#{ListaDocumentiBean.openDettaglioEsteso()}" update="idDettagliEstesiForm:idPanelDocumentManager" value="S" style="color:red;" oncomplete="TabViewUtils.idTabToChange='idSiebel';"/>
			
			<ui:repeat rendered="#{documento.iconaStato.value eq 2 or (documento.tipoFirma ne null and documento.tipoFirma ne 0)}" value="#{documento.iconaKeySet}" var="iconaKey">
				 <span class="fa #{iconaKey}" title="#{documento.iconaStampigliaturaSegnoGrafico[iconaKey]}" />
			</ui:repeat>
			
		</p:column>
		
		
		<p:column exportable="true" exportFunction="#{ListaDocumentiBean.columnDescrizione}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[4].visibilitaColonna}" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains">
			
			<p:commandButton icon="fa fa-folder-o icon-coda-apri-fascicolo" title="Apri fascicolo procedimentale" action="#{ListaDocumentiBean.openFascicoloProcedimentale()}" process="@this" styleClass="cmdbtn-coda-apri-fascicolo"
  		 		disabled="#{documento.documentTitle ne ListaDocumentiBean.documentiDTH.currentMaster.documentTitle or documento.wobNumber ne ListaDocumentiBean.documentiDTH.currentMaster.wobNumber}">
  		 	</p:commandButton>
	  		 	
			<h:outputText title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : 'ID: '.concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento)}" data-export="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento} " 
				rendered="#{documento.numeroProtocollo eq NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold" />
			
			<h:outputText title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : 'PROT: '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ID: ').concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento)}"
				data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null) ? 'PROT: '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento).concat(' ') : '' }"
				rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)}" value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
			
			<h:outputText title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : 'PROT: RE '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ID: ').concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento)}"
				data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza) ? 'PROT: RE '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento).concat(' ') : '' }" 
				rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)}" value="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
			<h:outputText title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : 'RR '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ID: ').concat(documento.numeroDocumento).concat(' - ').concat(documento.tipologiaDocumento).concat(' - ').concat(documento.descrizioneRegistroRepertorio)}"
			    data-export="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true ? 'RR '.concat(documento.numeroProtocollo).concat(' / ').concat(documento.annoProtocollo).concat(' - ').concat(documento.tipologiaDocumento).concat(' ') : '' }" 
				rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true}" value="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
		
			<h:outputText value="#{fn:length(documento.oggetto) gt 150 ? fn:substring(documento.oggetto, 0, 150).concat('...') : documento.oggetto}" title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : documento.oggetto}"  data-export="#{documento.oggetto}"/>
		
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[5].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[5].visibilitaColonna}" sortBy="#{documento.tipoProcedimento}" filterBy="#{documento.tipoProcedimento}" filterMatchMode="contains" headerText="PROCEDIMENTO" styleClass="generic-break-word">
			<h:outputText title="#{documento.tipoProcedimento}" value="#{ListaDocumentiBean.getShortColumn(documento.tipoProcedimento, 60)}"/>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[6].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[6].visibilitaColonna}" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="CREAZIONE" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word">
			<h:outputText title="#{documento.flagDisabilitato ? 'Elemento già lavorato' : documento.dataCreazione}" value="#{documento.dataCreazione}">
				<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
			</h:outputText>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[7].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[7].visibilitaColonna}" sortBy="#{documento.dataScadenza}" filterBy="#{documento.dataScadenza}" filterMatchMode="contains" headerText="SCADENZA" styleClass="generic_textAlignCenter df_table-doc-col1 generic-break-word">
			<h:outputText title="#{documento.dataScadenza}" value="#{documento.dataScadenza}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>	
			</h:outputText>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[8].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[8].visibilitaColonna}" sortBy="#{documento.mittente}" filterBy="#{documento.mittente}" filterMatchMode="contains" headerText="MITTENTE" styleClass="#{empty documento.mittente? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText title="#{documento.mittente}" value="#{ListaDocumentiBean.getShortColumn(documento.mittente,60)}"/>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[9].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[9].visibilitaColonna}" sortBy="#{documento.destinatari}" filterBy="#{documento.destinatari}" filterMatchMode="contains" headerText="DESTINATARI" styleClass="#{empty documento.destinatari ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText title="#{documento.destinatari}" value="#{ListaDocumentiBean.getShortColumn(documento.destinatari,60)}"/>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[10].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[10].visibilitaColonna}" sortBy="#{documento.assegnatario}" 
			filterBy="#{documento.assegnatario}" filterMatchMode="contains" headerText="ASSEGNANTE" styleClass="#{empty documento.assegnatario ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word" >
			<h:outputText title="#{documento.assegnatario}" value="#{ListaDocumentiBean.getShortColumn(documento.assegnatario,60)}"/>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[11].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[11].visibilitaColonna}" sortBy="#{documento.dataProtocollazione}" filterBy="#{documento.dataProtocollazione}" filterMatchMode="contains" headerText="PROTOCOLLAZIONE" styleClass="generic_textAlignCenter generic-break-word">
			<h:outputText title="#{documento.dataProtocollazione}" value="#{documento.dataProtocollazione}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>	
			</h:outputText>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[12].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[12].visibilitaColonna}" sortBy="#{documento.urgente}" filterBy="#{documento.urgente ? 'URG' : ''}" filterMatchMode="contains" headerText="URGENTE" styleClass="#{empty documento.urgente ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText value="#{documento.urgente ? 'URG' : ''}"/>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[13].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[13].visibilitaColonna}" sortBy="#{documento.tipoSpedizione}" filterBy="#{documento.tipoSpedizione}" filterMatchMode="contains" headerText="SPEDIZIONE" styleClass="#{empty documento.tipoSpedizione ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText title="#{documento.flagEntrata?'':documento.tipoSpedizione}" value="#{documento.flagEntrata?'':documento.tipoSpedizione}"/>
		</p:column>
		
		<p:column exportable="#{ListaDocumentiBean.listaColonneCodeDTO[14].visibilitaColonna}" toggleable="true" visible="#{ListaDocumentiBean.listaColonneCodeDTO[14].visibilitaColonna}" sortBy="#{documento.flagRiservato}" filterBy="#{documento.flagRiservato ? 'RIS' : ''}" filterMatchMode="contains" headerText="RISERVATO" styleClass="#{empty documento.flagRiservato ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText value="#{documento.flagRiservato ? 'RIS' : ''}"/>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[15].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[15].visibilitaColonna}" sortBy="#{documento.tipoAssegnazione.descrizione}" filterBy="#{documento.tipoAssegnazione.descrizione}" filterMatchMode="contains" headerText="ASSEGNAZIONE" styleClass="#{empty documento.tipoAssegnazione.descrizione ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<h:outputText title="#{documento.tipoAssegnazione.descrizione}" value="#{documento.tipoAssegnazione.descrizione}"/>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[16].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[16].visibilitaColonna}" sortBy="#{documento.nota.contentNota}" filterBy="#{documento.nota.contentNota}" filterMatchMode="contains" headerText="NOTA" styleClass="#{empty documento.nota.contentNota ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<p:commandButton id="infoNotaBtn" icon="fa fa-info" type="button" title="info" styleClass="generic_no_background generic_noborder2" rendered="#{not empty documento.nota.contentNota}">
				<p:overlayPanel id="infoNotaOP" for="infoNotaBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn " style="width:12%" my="right top" at="right bottom" appendToBody="true">
					<p:outputPanel styleClass="ui-g">
						<p:outputLabel value="Nota : #{documento.nota.contentNota}" styleClass="generic_textBold" />
					</p:outputPanel>
					<iframe class="cover" src="about:blank" title="Frame lista documenti"></iframe>
				</p:overlayPanel>
			</p:commandButton>
			<h:outputText title="#{documento.nota.contentNota}" value="#{ListaDocumentiBean.getShortColumn(documento.nota.contentNota,60)}"/>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[17].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[17].visibilitaColonna}" sortBy="#{documento.motivazioneAssegnazione}" filterBy="#{documento.motivazioneAssegnazione}" filterMatchMode="contains" headerText="MOTIVAZIONE" styleClass="#{empty documento.motivazioneAssegnazione ? 'generic_textAlignCenter' : 'dtDescCol'} generic-break-word">
			<p:commandButton id="motAssegnazioneBtn" icon="fa fa-info" type="button" title="info" styleClass="generic_no_background generic_noborder2" rendered="#{not empty documento.motivazioneAssegnazione}">
					<p:overlayPanel id="infoMotAssOP" for="motAssegnazioneBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn " style="width:12%" my="right top" at="right bottom" appendToBody="true">
						<p:outputPanel styleClass="ui-g">
							<p:outputLabel value="Motivazione Assegnazione : #{documento.motivazioneAssegnazione}" styleClass="generic_textBold" />
						</p:outputPanel>
						<iframe class="cover" src="about:blank" title="Frame lista documenti"></iframe>
					</p:overlayPanel>
				</p:commandButton>
			<h:outputText title="#{documento.motivazioneAssegnazione}" value="#{ListaDocumentiBean.getShortColumn(documento.motivazioneAssegnazione,60)}"/>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[18].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[18].visibilitaColonna}" sortBy="#{documento.dataAss}" filterBy="#{documento.dataAss}" filterMatchMode="contains" headerText="DATA ASSEGNAZIONE" styleClass="generic_textAlignCenter generic-break-word" rendered="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}">
			<h:outputText title="#{documento.dataAss}" value="#{documento.dataAss}">
				<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
			</h:outputText>
		</p:column>
		
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[19].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET and ListaDocumentiBean.utente.ucb}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[19].visibilitaColonna and ListaDocumentiBean.utente.ucb}" sortBy="#{documento.decretoLiquidazione}" filterBy="#{documento.decretoLiquidazione}" filterMatchMode="contains" headerText="D. LIQUIDAZIONE" styleClass="generic_textAlignCenter generic-break-word" >
			<h:outputText title="#{documento.decretoLiquidazione}" value="#{documento.decretoLiquidazione}">
			</h:outputText>
		</p:column>
		
			
		<p:column exportable="#{(ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET) and ListaDocumentiBean.listaColonneCodeDTO[20].visibilitaColonna}" toggleable="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" visible="#{ListaDocumentiBean.listaColonneCodeDTO[20].visibilitaColonna}" sortBy="#{documento.descUffCreatore}" filterBy="#{documento.descUffCreatore}" filterMatchMode="contains" headerText="UFF. CREATORE" styleClass="generic_textAlignCenter generic-break-word" 
			rendered="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}">
			<h:outputText title="#{documento.descUffCreatore}" value="#{documento.descUffCreatore}" />
		</p:column>
		
		
	</p:dataTable>
		
	<!--========================================================== DIALOG ESITO OPERAZIONE ==========================================================-->
	<p:dialog id="idDlgShowResult" class="showResultDiv" header="Esito Operazione" dynamic="true"
		widgetVar="dlgShowResult" modal="true" showEffect="fade" hideEffect="fade" resizable="false" 
		responsive="false" styleClass="marginBottom" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgShowResult')">
		<f:facet name="header">
			<span class="fa fa-info-circle" />
			<span>Esito Operazione#{(': ').concat(ListaDocumentiBean.selectedResponse.displayName)} </span>
 		</f:facet>	
		<div class="ui-fluid">
			
			<p:outputPanel id="esitoOperazione" style="#{ListaDocumentiBean.mostraDocumentiFirmatiEsito ? 'width: 850px' : 'width: 350px'}">
			   
				<p:outputPanel id="esitoPositivo" styleClass="ui-g" rendered="#{ListaDocumentiBean.countEsitiOperazioneKo eq 0 and ListaDocumentiBean.mostraDocumentiFirmatiEsito eq false}">
			   		<p:outputPanel styleClass="ui-g-2">
			   			<h:outputLink id="docOk" value="#" styleClass="txt-decoration-none">
			   				<h:outputText><span class="fa fa-thumbs-o-up fa-stack-2x iconaEsitoOperazioneOk"/></h:outputText>
			   			</h:outputLink>
			   			<p:tooltip id="numDocsPositivi" for="docOk" position="left" styleClass="generic_textAlignCenter generic_noborder generic_width150px">
					        <p:outputPanel>
					        	<h:outputText value="Documenti andati a buon fine" styleClass="generic_textBold black"/>
					        	 <p:dataList id="idTableEsiti_Tooltip_pos" value="#{ListaDocumentiBean.esitiOperazione}" var="esito" type="definition" styleClass="generic_width100 generic_marginBottom">
					        	 	<p:outputPanel rendered="#{esito.flagEsito != null and esito.flagEsito == true}">
					        	 		<p:outputLabel value="ID: #{esito.idDocumento}" styleClass="detailValue" rendered="#{esito.idDocumento ne null}" />
					    				<p:outputLabel value="N° Protocollo: #{esito.numeroProtocollo}/#{esito.annoProtocollo}" styleClass="detailValue" rendered="#{esito.numeroProtocollo ne null and esito.numeroProtocollo gt 0}"/>
					        		</p:outputPanel>
					        	 </p:dataList>
					        </p:outputPanel>
				    	</p:tooltip>
			   		</p:outputPanel>
			   		<p:outputPanel styleClass="ui-g-10">
			   			<p:outputLabel value="#{ListaDocumentiBean.messaggioEsitoPositivo}" styleClass="ui-g-12"/>
			   			<p:outputLabel value="(#{fn:length(ListaDocumentiBean.esitiOperazione)} #{fn:length(ListaDocumentiBean.esitiOperazione) gt 1 ? 'documenti' : 'documento'})" styleClass="ui-g-12"/>
			   		</p:outputPanel>
				</p:outputPanel>
			   
			   <p:outputPanel id="esitoNegativo" styleClass="ui-g" rendered="#{ListaDocumentiBean.countEsitiOperazioneOk eq 0 and ListaDocumentiBean.mostraDocumentiFirmatiEsito eq false}">
					<p:outputPanel styleClass="ui-g-2">
						<span class="fa fa-thumbs-o-down fa-stack-2x iconaEsitoOperazioneKo" />
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-10">
						<p:outputLabel value="Operazione fallita." styleClass="ui-g-12"/>
						<p:outputLabel value="(#{fn:length(ListaDocumentiBean.esitiOperazione)} #{fn:length(ListaDocumentiBean.esitiOperazione) gt 1 ? 'documenti' : 'documento'})" styleClass="ui-g-12"/>
					</p:outputPanel>
				</p:outputPanel>
				
				<p:outputPanel id="esitoMisto" styleClass="ui-g" rendered="#{ListaDocumentiBean.countEsitiOperazioneKo gt 0 and ListaDocumentiBean.countEsitiOperazioneOk gt 0 and ListaDocumentiBean.mostraDocumentiFirmatiEsito eq false}">
					<p:outputPanel styleClass="ui-g-2">
						<h:outputLink id="docOk_warning" value="#" styleClass="txt-decoration-none">
							<span class="fa fa-exclamation-triangle fa-stack-2x iconaEsitoOperazioneMisto"/>
						</h:outputLink>
						<p:tooltip id="numDocsPositivi_warning" for="docOk_warning" position="left" styleClass="generic_textAlignCenter generic_noborder generic_width150px">
				        	 <h:outputText value="Documenti andati a buon fine" styleClass="generic_textBold black"/>
				        	 <p:dataList id="idTableEsiti_Tooltip_warning" value="#{ListaDocumentiBean.esitiOperazione}" var="esito" type="definition" styleClass="generic_width100 generic_marginBottom">
				        	 	<p:outputPanel rendered="#{esito.flagEsito != null and esito.flagEsito == true}">
				        	 		<p:outputLabel value="ID: #{esito.idDocumento}" styleClass="detailValue" rendered="#{esito.idDocumento ne null}"/>
				    				<p:outputLabel value="N° Protocollo: #{esito.numeroProtocollo}/#{esito.annoProtocollo}" styleClass="detailValue generic_floatRight" rendered="#{esito.numeroProtocollo ne null and esito.numeroProtocollo gt 0}"/>
				        	 	</p:outputPanel>
				        	 </p:dataList>
				    	</p:tooltip>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-10">
						<p:outputLabel value="#{ListaDocumentiBean.messaggioEsitoPositivo}" /><br />
						<p:outputLabel styleClass="generic_textBold" value="Attenzione: operazione fallita su #{ListaDocumentiBean.countEsitiOperazioneKo}/#{fn:length(ListaDocumentiBean.esitiOperazione)} documenti." /><br />
						<p:outputLabel value="(#{fn:length(ListaDocumentiBean.esitiOperazione)} #{fn:length(ListaDocumentiBean.esitiOperazione) gt 1 ? 'documenti' : 'documento'})"/>
					</p:outputPanel>
				</p:outputPanel>
				
			    <p:dataList id="idTableEsiti_LD" value="#{ListaDocumentiBean.esitiOperazione}" var="esito" type="definition" styleClass="generic_width100 generic_marginBottom" rendered="#{ListaDocumentiBean.countEsitiOperazioneKo gt 0 and ListaDocumentiBean.mostraDocumentiFirmatiEsito eq false}" >
			    	<p:outputPanel styleClass="ui-g" rendered="#{esito.flagEsito ne null and not esito.flagEsito}">
			    		<div class="ui-g-8 generic_labelPadding25" >
				    		<p:outputLabel value="ID: #{esito.idDocumento}" styleClass="detailValue" rendered="#{esito.idDocumento ne null}" />
				    		<p:outputLabel value="N° Protocollo: #{esito.numeroProtocollo}/#{esito.annoProtocollo}" styleClass="detailValue generic_floatRight" rendered="#{esito.numeroProtocollo ne null and esito.numeroProtocollo gt 0}"/>
			    		</div>
			    		<div class="ui-g-4 generic_textAlignCenter">
				    		<p:commandButton id="infoKOBtn" type="button" styleClass="pnl-btn-info-width generic_centra" icon="fa fa-info"/>
						    <p:overlayPanel id="infoKOPanel" for="infoKOBtn" hideEffect="fade">
						        <p:outputLabel title="" value="#{esito.note}" styleClass="detailValue"/>
						        <iframe class="cover" src="about:blank" title="Frame lista documenti"></iframe>
						    </p:overlayPanel>
			    		</div>
	    			</p:outputPanel>
			    </p:dataList>
			    
   			   	<p:outputPanel styleClass="ui-g generic_padding1" rendered="#{ListaDocumentiBean.mostraDocumentiFirmatiEsito}">
   			   		<p:outputPanel styleClass="ui-g-12 generic_textAlignCenter generic_textBold">
   			   			<p:outputLabel for="@next" value="Data e ora: " />
   			   			<h:outputText value="#{ListaDocumentiBean.dataEoraEsitoPerTitolo}" />
   			   		</p:outputPanel>
					<p:dataTable id="idTableDocFirmati_LD" var="e" paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5, 15,30" 
						value="#{ListaDocumentiBean.esitiOperazione}" emptyMessage="" paginatorAlwaysVisible="false" rowStyleClass="#{e.esito == false ? 'ui-state-highlight generic_textBold' : ''}">
						<f:facet name="header" >
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-10"></div>
								<div class="ui-g-2">
									<p:commandButton icon="fa fa-file-excel-o" styleClass="generic_marginRight" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
						              	<p:dataExporter type="xls" target="idTableDocFirmati_LD" fileName="#{ListaDocumentiBean.dataEoraEsitoPerNomeFile}" />
									</p:commandButton>
								</div>
							</p:outputPanel>
						</f:facet>
						
						<p:column headerText="" styleClass="" width="5%">
							<h:outputText rendered="#{e.esito}"><span class="fa fa-check iconaEsitoOperazioneOk"/></h:outputText>
							<h:outputText rendered="#{not e.esito}"><span class="fa fa-exclamation-triangle iconaEsitoOperazioneKo"/></h:outputText>
						</p:column>
						<p:column headerText="Num. Prot./ID Doc./RR/Nome allegato" styleClass="" width="35%">
							
							<p:outputLabel title="#{'Prot.: '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale')}" 
								value="#{'Prot.: '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale')}" 
								rendered="#{not e.allegato and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo ne ListaDocumentiBean.protEm.numeroProtocolloEmergenza and not e.registroRepertorio}"/>
							
							<p:outputLabel title="#{'Prot.: '.concat(' RE ').concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale')}" 
								value="#{'Prot.: '.concat(' RE ').concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale') }" 
								rendered="#{not e.allegato and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo eq ListaDocumentiBean.protEm.numeroProtocolloEmergenza}"/>
							
							<p:outputLabel title="#{'RR '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale') }" 
								value="#{'RR '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento).concat(' - Principale') }" 
								rendered="#{not e.allegato and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo ne ListaDocumentiBean.protEm.numeroProtocolloEmergenza and e.registroRepertorio}"/>
							
							<p:outputLabel title="#{'Prot. non ancora definito - ID: '.concat(e.idDocumento).concat(' - Principale')}"
								value="#{'ID: '.concat(e.idDocumento).concat(' - Principale') }"
								rendered="#{not e.allegato and (empty e.numeroProtocollo or e.numeroProtocollo eq 0)}"/>
							
							<p:outputLabel title="#{'ID: '.concat(e.idDocumento).concat(' - File Allegato - ').concat(e.nomeDocumento)}" 
								value="#{'ID: '.concat(e.idDocumento).concat(' - File Allegato - ').concat(e.nomeDocumento) }" 
								rendered="#{e.allegato}" />
						</p:column>
						<p:column headerText="Esito operazione" styleClass="" width="35%">
							<h:outputText rendered="#{e.esito}"><span class="fa fa-thumbs-o-up iconaEsitoOperazioneOk generic_padding-right20"/></h:outputText>
							<h:outputText title="Operazione eseguita con successo" value="Operazione eseguita con successo" rendered="#{e.esito}"/>
							
							<h:outputText rendered="#{not e.esito}"><span class="fa fa-thumbs-o-down iconaEsitoOperazioneKo generic_padding-right20" /></h:outputText>
							<h:outputText title="Errore in fase di esecuzione dell'operazione richiesta" value="Errore in fase di esecuzione dell'operazione richiesta" rendered="#{e.esito == false}"/>
						</p:column>
						<p:column headerText="Note" styleClass="ellipsis" width="30%" >
							<h:outputText title="#{e.note}" value="#{e.note}"/>
						</p:column>
					</p:dataTable>
			   </p:outputPanel>
			</p:outputPanel>
		</div>
		<div class="generic_textAlignCenter">
	    	<p:commandButton id="btnEsitoOp" styleClass="newButton generic_centra uniqueCloseButton" icon="fa fa-times" title="Chiudi" value="Chiudi" onclick="PF('dlgShowResult').hide()" 
		    		action="#{ListaDocumentiBean.postExecute}"
		    		update="centralSectionForm:documenti, idDettagliEstesiForm:idPanelDocumentManager, idDettagliEstesiForm:idDocumentManagerContent_DMD, westSectionForm:idTabMain_LeftAside, centralSectionForm:idInfoPanel, centralSectionForm:idActionFilter"/>
		</div>
	</p:dialog>
	
	<!--========================================================== DIALOG ESITO DETTAGLIATO ==========================================================-->
	
	<p:dialog id="idDlgEsiti" header="Esito Operazione" dynamic="true" closable="true" 
		widgetVar="dlgEsiti" modal="true" showEffect="fade" hideEffect="fade" resizable="false" 
		responsive="false" styleClass="marginBottom generic_maxwidth50" onShow="dlgOnShow(this.jqId); onShowForClosableDlg('dlgEsiti')">
		<f:facet name="header">
			<span class="fa fa-info-circle" />
			<span>Esito Operazione#{(': ').concat(ListaDocumentiBean.selectedResponse.displayName)} </span>
 		</f:facet>	
			<p:outputPanel id="esitoDettagliato">
				<p:dataTable id="idDataTableDettaglio" var="e" paginator="true" rows="#{ListaDocumentiBean.esitiOperazione.size()}" paginatorPosition="bottom" rowsPerPageTemplate="6,18,30"
					value="#{ListaDocumentiBean.esitiOperazione}" emptyMessage="Nessuna operazione eseguita" paginatorAlwaysVisible="false" styleClass="textAlignCenter">
						
					<p:column headerText="Operazione" width="20%">
						<h:outputText title="#{e.note}" value="#{e.note}"/>
					</p:column>
					<p:column headerText="Num. Prot./ID Doc./RR" width="20%">
						<p:outputLabel title="#{'Prot.: '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							value="#{'Prot.: '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							rendered="#{e.allegato == false and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo ne ListaDocumentiBean.protEm.numeroProtocolloEmergenza and not e.registroRepertorio}"/>
						
						<p:outputLabel title="#{'Prot.: '.concat(' RE ').concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							value="#{'Prot.: '.concat(' RE ').concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							rendered="#{e.allegato == false and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo eq ListaDocumentiBean.protEm.numeroProtocolloEmergenza}"/>
						
						<p:outputLabel title="#{'RR '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							value="#{'RR '.concat(e.numeroProtocollo).concat(' / ').concat(e.annoProtocollo).concat(' - ID: ').concat(e.idDocumento)}" 
							rendered="#{e.allegato == false and not empty e.numeroProtocollo and e.numeroProtocollo ne 0 and e.numeroProtocollo ne ListaDocumentiBean.protEm.numeroProtocolloEmergenza and e.registroRepertorio}"/>
						
						<p:outputLabel title="#{'Prot.: - ID: '.concat(e.idDocumento)}"
							value="#{'Prot.: - ID: '.concat(e.idDocumento)}"
							rendered="#{e.allegato == false and (empty e.numeroProtocollo or e.numeroProtocollo eq 0)}" />
					</p:column>
					<p:column headerText="Esito" width="60%">
						<h:outputText rendered="#{e.esito}"><span class="fa fa-thumbs-o-up iconaEsitoOperazioneOk generic_padding-right20"/></h:outputText>
						<h:outputText title="Operazione eseguita con successo" value="Operazione eseguita con successo" rendered="#{e.esito}"/>
						
						<h:outputText rendered="#{e.esito == false}"><span class="fa fa-thumbs-o-down iconaEsitoOperazioneKo generic_padding-right20" /></h:outputText>
						<h:outputText title="Errore in fase di esecuzione dell'operazione richiesta" value="Errore in fase di esecuzione dell'operazione richiesta" rendered="#{e.esito == false}"/>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
		<div class="generic_textAlignCenter">
	    	<p:commandButton id="btnEsitoChiudi" styleClass="newButton generic_centra uniqueCloseButton" icon="fa fa-times" title="Chiudi" value="Chiudi" onclick="PF('dlgEsiti').hide()" 
		    		action="#{ListaDocumentiBean.postExecute}"
		    		update="centralSectionForm:documenti, idDettagliEstesiForm:idPanelDocumentManager, idDettagliEstesiForm:idDocumentManagerContent_DMD, westSectionForm:idTabMain_LeftAside, centralSectionForm:idInfoPanel, centralSectionForm:idActionFilter"/>
		</div>
	</p:dialog>
	
	<!--========================================================== FIRMA REMOTA DIALOG ==========================================================-->
		<p:dialog title="Firma Remota" header="Firma Remota" widgetVar="wdgFirmaRemota" showEffect="fade" hideEffect="fade" modal="true"
				  id="wdgFirmaRemota_id" closable="true" styleClass="resp-dlg-firma-remota" resizable="false" draggable="false" 
				  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgFirmaRemota')" >
		 	<p:panel id="panel_FirmaRemota_id" styleClass="noBorderGrid generic_noborder generic_no_background generic_width450px">
				<p:panel rendered="#{ListaDocumentiBean.showConfirmMessageFirmaApprovazioni}" widgetVar="wdgShowConfirmMessageFirmaRemota" styleClass="noBorderGrid generic_noborder generic_no_background" > 
						<p:outputPanel id="idPanelConfirmComponent" styleClass="generic_noborder generic_no_background pnl-message-minwidth pnl-message-maxwidth generic_paddingTLR5">
								<p:outputPanel styleClass="pnl-message-minwidth">
									<p:outputLabel value="#{ListaDocumentiBean.confirmMessageFirmaApprovazioni}" styleClass="generic_textAlignJustify"/>
								</p:outputPanel>
						</p:outputPanel>
				</p:panel> 
				<p:panel widgetVar="wdgEditPin" rendered="#{ListaDocumentiBean.openFirmaRemotaDialog}" styleClass="noBorderGrid" closable="true" toggleable="true"> 
					<div class="ui-g" >
						<p:outputPanel styleClass="ui-g-4">	
							<p:outputLabel for="idPinFirmaRemota" value="PIN" styleClass="generic_textBold" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-8 obbligatorio">	
							<p:password id="idPinFirmaRemota" redisplay="true" value="#{ListaDocumentiBean.pin}" styleClass="textfield_input campoObbligatorio" />
						</p:outputPanel>
					</div>	
					<div class="ui-g" >
						<p:outputPanel styleClass="ui-g-4">	
							<p:outputLabel value="Memorizza Pin" rendered="#{ListaDocumentiBean.memorizzaPin}" styleClass="generic_textBold"/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-8">	
				     		<p:selectBooleanCheckbox value="#{ListaDocumentiBean.memorizzaPin}" rendered="#{ListaDocumentiBean.memorizzaPin}"/>
				     	</p:outputPanel>
				     </div>
				</p:panel>
				<p:panel rendered="#{ListaDocumentiBean.openFirmaRemotaDialog}" widgetVar="wdgShowConfirmMessageFirmaRemota" styleClass="noBorderGrid generic_marginTop-10"  > 
					<div class="ui-g">
						<p:outputPanel styleClass="ui-g-4">	
							<p:outputLabel for="idOTPFirmaRemota" value="OTP" styleClass="generic_textBold" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-8 obbligatorio">	
							<p:password id="idOTPFirmaRemota" value="#{ListaDocumentiBean.otp}" styleClass="textfield_input campoObbligatorio"/>
						</p:outputPanel>
					</div>
					<div class="ui-g">
						<p:outputPanel styleClass="ui-g-4">	
							<p:outputLabel for="idSelectTipoFirma" value="Tipo di Firma" styleClass="generic_textBold" />
							<span id="infoBtnFirmaRemota" class="fa fa-info-circle" title="Sarà possibile firmare i documenti in modalità pdf (PAdES) solo nel caso in cui tutti i documenti da firmare siano in formato pdf. Sarà sempre possibile firmare in modalità p7m (CAdES)."/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-8">	
							<p:selectOneMenu id="idSelectTipoFirma" value="#{ListaDocumentiBean.selectedSignTypeFirmaRemota}" lazy="true" autoWidth="false" styleClass="textfield_dropdown" >
			       				 	<f:selectItems value="#{ListaDocumentiBean.signTypeList}" var="signType" itemValue="#{signType}"  />
							</p:selectOneMenu>
						</p:outputPanel>
					</div>
					<p:outputPanel class="ui-g" rendered="#{SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}" >
						<p:outputPanel styleClass="ui-g-4">	
							<p:outputLabel for="idSelectGlifo" value="Glifo Firma" styleClass="generic_textBold" />
							<span id="infoSelectGlifo" class="fa fa-info-circle" title="Sarà possibile scegliere il glifo per la firma tra il proprio o quello dell'utente delegante."/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-8">	
							<p:selectOneMenu id="idSelectGlifo" converter="omnifaces.SelectItemsConverter" value="#{ListaDocumentiBean.glifoSelezionatoRemota}" lazy="true" autoWidth="false" styleClass="textfield_dropdown" >
								<p:ajax event="change" listener="#{ListaDocumentiBean.onSelectGlifoFirmaRemota}" update="centralSectionForm:previewGlifoId" />
								<f:selectItems value="#{ListaDocumentiBean.tipologieGlifoFirma.entrySet()}" var="glifoFirma" itemValue="#{glifoFirma.value}" itemLabel="#{glifoFirma.key}" />
							</p:selectOneMenu>
							
						</p:outputPanel>
					</p:outputPanel>
					
					<p:outputPanel id="previewGlifoId" class="ui-g" rendered="#{SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}" >
						<p:outputPanel styleClass="ui-g-4"/>	
						<p:outputPanel styleClass="ui-g-8">	
							<p:graphicImage value="#{SessionBean.previewGlifo}" cache="false" styleClass="previewGlifo"/>								
						</p:outputPanel>
					 	
					</p:outputPanel>
				
					<p:panelGrid layout="grid" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" styleClass="ui-panelgrid-blank pnlgrid_noborder buttonsDiv" rendered="#{ListaDocumentiBean.memorizzaPin}">
						<p:commandButton actionListener="#{ListaDocumentiBean.selezionaFirmaEdEsegui}" title="Registra" icon="fa fa-pencil" value="Registra" styleClass="generic_width100" />
						<p:commandButton onclick="PF('wdgEditPin').show()" title="Modifica Pin" icon="fa fa-pencil-square" value="Modifica PIN" styleClass="generic_width100" update="centralSectionForm:panel_FirmaRemota_id" type="button" />
						<p:commandButton actionListener="#{ListaDocumentiBean.hideDialogFirmaRemota}" title="Chiudi" icon="fa fa-times" value="Chiudi" update="centralSectionForm:panel_FirmaRemota_id" styleClass="generic_width100 uniqueCloseButton" />
					</p:panelGrid>
				
					<p:panelGrid layout="grid" columns="2" columnClasses="ui-g-6,ui-g-6" styleClass="ui-panelgrid-blank pnlgrid_noborder buttonsDiv" rendered="#{not ListaDocumentiBean.memorizzaPin}">
				
						<p:commandButton actionListener="#{ListaDocumentiBean.selezionaFirmaEdEsegui}" 
								title="Registra" icon="fa fa-pencil" value="Registra"
								styleClass="generic_width100"
								/>
						<p:commandButton actionListener="#{ListaDocumentiBean.hideDialogFirmaRemota}"  
								title="Chiudi" icon="fa fa-times" value="Chiudi"
								update="centralSectionForm:panel_FirmaRemota_id"
								styleClass="generic_width100 uniqueCloseButton"
								/>
					</p:panelGrid>
					
				</p:panel> 
					<br/>
				  <p:accordionPanel styleClass="noBorderGrid generic-break-word" widgetVar="wdgHelpPanel" rendered="#{ListaDocumentiBean.openFirmaRemotaDialog}" multiple="true" activeIndex="-1" >
					  <p:tab title="Help">
                   			<p:outputLabel value="I campi PIN e OTP devono essere compilati obbligatoriamente."/>
							<p:separator/>
						<p:panel rendered="#{ListaDocumentiBean.memorizzaPin}"  styleClass="noBorderGrid generic_width300px" >
							<p:outputLabel value="Il codice PIN è scelto dall'utente e può essere memorizzato attraverso il check 'Memorizza PIN'"/> 
							<br/>
							<p:outputLabel value="in modo tale da non dover esser richiesto le volte successive."/>
							<p:separator/>
							<p:outputLabel value="Se si sceglie di memorizzare il PIN, il campo non sarà visualizzato in maschera le volte successive."/>

							<br/>
							<p:outputLabel value="Se si desidera memorizzare il PIN basterà cliccare sul pulsante 'Modifica PIN'. "/>
							<br/>
							<p:outputLabel value="Il campo sarà di nuovo visibile e modificabile."/>
							<p:separator/>
						</p:panel>
							<p:outputLabel value="Se l'utente immette per tre volte consecutive un PIN errato, il sistema lo blocca per motivi di sicurezza "/> 
							<p:outputLabel value="e non sarà possibile effettuare alcuna operazione per un determinato lasso di tempo."/>
							<p:separator/>
							<p:outputLabel value="Il codice OTP è generato dall'applicazione dedicata che l'utente deve installare sul suo smartphone/tablet."/>
							<br/>
							<p:outputLabel value="L'OTP è valido solo una volta e ha una durata limitata nel tempo."/>
							<br/>
							<p:outputLabel value="L'applicazione segnala in tempo reale il tempo di validità del codice."/>
       				
       				 </p:tab>
				</p:accordionPanel>			
			</p:panel>			
	    </p:dialog>
	 	<p:dialog title="Conferma" widgetVar="wdgConfermaFirmaRemota" showEffect="fade" hideEffect="fade" modal="true" 
	 	id="wdgConfermaFirmaRemota_id" closable="true" styleClass="generic_maxwidth600px" resizable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgConfermaFirmaRemota')">
			
			<red:popupConfirmComponent message="#{ListaDocumentiBean.confirmMessageFirmaRemota}" interfaceInstance="#{ListaDocumentiBean.iFirmaRemotaConfirm}" widgetVarDialog="wdgConfermaFirmaRemota"/>
			
		</p:dialog>

	<p:dialog header="Conferma Firma" widgetVar="confirmFirmaRemota_VW" modal="true" resizable="false" appendTo="@form" closable="true" id="confirmFirmaRemota_Dlg"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmFirmaRemota_VW')" styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">

		<p:outputPanel id="confirmFirmaRemota_PNL" styleClass="ui-g ui-fluid generic_noborder generic_no_background">
			<div class="ui-g-12">
				<h:outputText value="#{ListaDocumentiBean.confirmMessageFirmaRemota}" />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Conferma" icon="ui-icon-check" action="#{ListaDocumentiBean.confirmDoFirmaRemotaContinua}" update="centralSectionForm:idDlgShowResult" oncomplete="PF('dlgGeneric').initPosition()" onclick="PF('confirmFirmaRemota_VW').hide();" />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Chiudi" title="Chiudi"
					onclick="PF('confirmFirmaRemota_VW').hide();" icon="ui-icon-close"
					styleClass="uniqueCloseButton" />
			</div>
		</p:outputPanel>
	</p:dialog>
	
	<p:dialog header="Conferma Firma P7M" widgetVar="confirmFirmaRemotaP7M" modal="true" resizable="false" appendTo="@form" closable="true" id="idConfirmFirmaRemotaP7M"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmFirmaRemotaP7M')" styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">

		<p:outputPanel styleClass="ui-g ui-fluid generic_noborder generic_no_background">
			<div class="ui-g-12">
				<h:outputText value="Attenzione per uno o più allegati si è scelto di firmare in modalità 'visibile'. Firmando in modalità p7m la firma non potrà essere apposta nei campi firma creati appositamente." />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Conferma" icon="ui-icon-check" action="#{ListaDocumentiBean.proseguiFirmaRemota}" update="centralSectionForm:idDlgShowResult" oncomplete="PF('dlgGeneric').initPosition()" onclick="PF('confirmFirmaRemotaP7M').hide();" />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Chiudi" title="Chiudi"
					onclick="PF('confirmFirmaRemotaP7M').hide();" icon="ui-icon-close"
					styleClass="uniqueCloseButton" />
			</div>
		</p:outputPanel>
	</p:dialog>

		<p:dialog id="idDlgAvvisoDestInterni"
			widgetVar="wdgDlgAvvisoDestInterni" header="Destinatari non conformi"
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgDlgAvvisoDestInterni')"
			styleClass="confirm-dialog" appendTo="@form" modal="true"
			responsive="false" fitViewport="false" showEffect="fade"
			hideEffect="fade" resizable="false" closable="true">


			<p:outputPanel styleClass="ui-fluid generic_padding25"
				style="padding: 15px;">

				<h:outputText
					value="Attenzione! Il documento o uno dei documenti selezionati risulta come Registri di Repertorio. Questi documenti non possono essere già protocollati o possedere dei destinatari Esterni. " />

			</p:outputPanel>

			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-times" value="Chiudi" type="button"
					onclick="PF('wdgDlgAvvisoDestInterni').hide();"
					styleClass="uniqueCloseButton" />
			</p:outputPanel>

		</p:dialog>
		<!--===========================================================================================================================-->

		<!--========================================================== FIRMA DIGITALE DIALOG ==========================================================-->

		<p:dialog id="idDlgFirmaDig" header="Firma Digitale" widgetVar="dlgFirmaDig" modal="true" showEffect="fade" hideEffect="fade" resizable="false" responsive="false"
			styleClass="marginBottom" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgFirmaDig')">

			<p:outputPanel rendered="#{ListaDocumentiBean.showConfirmMessageFirmaApprovazioni}">
				<p:outputPanel id="idPanelConfirm" styleClass="generic_noborder generic_no_background pnl-message-minwidth pnl-message-maxwidth generic_paddingTLR5">
					<p:outputPanel styleClass="pnl-message-minwidth">
						<p:outputLabel value="#{ListaDocumentiBean.confirmMessageFirmaApprovazioni}" styleClass="generic_textAlignJustify" />
					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>

			<div class="pnl-message-minwidth pnl-message-maxwidth">

				<p:outputPanel id="idPanelFirmaDig" rendered="#{!ListaDocumentiBean.showConfirmMessageFirmaRemota}">

					<p:outputPanel styleClass="ui-g">
						<p:outputPanel styleClass="ui-g-5">
							<p:outputLabel for="idSelectTipoFirmaDIG" value="Tipo di Firma disponibile" />
							<span id="infoBtnFirmaDigitale" class="fa fa-info-circle" title="Sarà possibile firmare i documenti in modalità pdf (PAdES) solo nel caso in cui tutti i documenti da firmare siano in formato pdf. Sarà sempre possibile firmare in modalità p7m (CAdES)." />
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-7">
							<p:selectOneMenu id="idSelectTipoFirmaDIG" label="Tipo di firma disponibile" value="#{ListaDocumentiBean.selectedSignType}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
								<f:selectItems value="#{ListaDocumentiBean.signTypeList}" var="signType" itemValue="#{signType}"/>
								<p:ajax event="change" update="selectGlifoFirmaDigitale" />
							</p:selectOneMenu>
						</p:outputPanel>
					</p:outputPanel>
					
					<p:outputPanel id="selectGlifoFirmaDigitale" class="ui-g" rendered="#{SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}" >
						<p:outputPanel styleClass="ui-g-5">	
							<p:outputLabel for="idSelectGlifoDigitale" value="Glifo Firma" styleClass="generic_textBold" />
							<span id="infoSelectGlifo" class="fa fa-info-circle" title="Sarà possibile scegliere il glifo per la firma tra il proprio o quello dell'utente delegante."/>
						</p:outputPanel>
						<p:outputPanel styleClass="ui-g-7"> 
							<p:selectOneMenu id="idSelectGlifoDigitale" converter="omnifaces.SelectItemsConverter"  value="#{ListaDocumentiBean.glifoSelezionatoDigitale}" lazy="true" autoWidth="false" styleClass="textfield_dropdown" >
								<p:ajax event="change" listener="#{ListaDocumentiBean.onSelectGlifoFirmaDigitale}" update="centralSectionForm:previewGlifoDigId" />
								<f:selectItems value="#{ListaDocumentiBean.tipologieGlifoFirma.entrySet()}" var="glifoFirmaDig" itemValue="#{glifoFirmaDig.value}" itemLabel="#{glifoFirmaDig.key}" />
							</p:selectOneMenu>
						</p:outputPanel>
					</p:outputPanel>
					
					<p:outputPanel id="previewGlifoDigId" class="ui-g" rendered="#{SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}" >
						<p:outputPanel styleClass="ui-g-5"/>	
						<p:outputPanel styleClass="ui-g-7">	
							<p:graphicImage value="#{SessionBean.previewGlifo}" cache="false" styleClass="previewGlifo"/>								
						</p:outputPanel>
					 	
					</p:outputPanel>

					<p:panelGrid columns="2" layout="grid"
						styleClass="ui-panelgrid-blank generic_noborder buttonsDiv"
						columnClasses="ui-grid-col-6,ui-grid-col-6">

						<p:commandButton
							actionListener="#{ListaDocumentiBean.startAppletFirma}"
							onclick="PF('dlgAppletFirma').show();PF('dlgFirmaDig').hide()"
							update="centralSectionForm:signDigPanel"
							styleClass="newButton generic_width100" icon="fa fa-pencil"
							title="Avanza nel processo di firma" value="Registra">
							<p:confirm disabled="#{not ListaDocumentiBean.flagConfermaFirma}"
								header="Protocollo già assegnato"
								message="Attenzione, si stanno per firmare documenti ai quali è già stato assegnato un numero di protocollo in uscita. Tale numero sarà riutilizzato per la firma. Se si desidera continuare cliccare su 'OK', altrimenti Annullare l'operazione e richiedere all'assistenza di invalidare il protocollo."
								icon="fa fa-warning"/>
						</p:commandButton>

						<p:commandButton
							styleClass="newButton generic_width100 uniqueCloseButton"
							icon="fa fa-times" title="Chiudi" value="Chiudi"
							onclick="PF('dlgFirmaDig').hide()" />
					</p:panelGrid>
				</p:outputPanel>
			</div>
		</p:dialog>

		<!-- Dialog gestione applet di firma Locale -->
		<p:dialog id="idDlgAppletFirma" header="Firma Digitale"
			widgetVar="dlgAppletFirma" modal="true" showEffect="fade"
			hideEffect="fade" resizable="false" responsive="false"
			styleClass="marginBottom" closable="true"
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgAppletFirma')">

			<div class="ui-fluid pnl-message-minwidth">

				<p:panel id="signDigPanel">
					<p:panel rendered="#{SESSION_LSH.infoApplet.renderSign}">
						<OBJECT classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
							width="100%" height="100%" align="center"
							standby="Caricamento applet in corso..."
							codebase="http://java.sun.com/products/plugin/autodl/jinstall-1_4_1-windows-i586.cab#Version=1,2,2,0">
							<PARAM NAME="code"
								VALUE="com.intesi.pknet.applet.PkNetApplet.class" />
							<PARAM NAME="codebase" VALUE="#{SESSION_LSH.infoApplet.codebase}" />
							<PARAM NAME="type"
								VALUE="application/x-java-applet;version=1.2.2" />
							<PARAM NAME="Action" VALUE="#{SESSION_LSH.infoApplet.action}" />
							<PARAM NAME="TokenType" VALUE="Cryptoki" />
							<PARAM NAME="AutoSelCredFilter" VALUE="1" />
							<PARAM NAME="CredTypeFilter" VALUE="1" />
							<PARAM NAME="archive"
								VALUE="pknetjappl.jar, pknetj.jar, itext-1.4.jar" />
							<PARAM NAME="cache_archive"
								VALUE="pknetj.jar, itext-1.4.jar, pknetjappl.jar" />
							<PARAM NAME="ImageFile"
								VALUE="#{SESSION_LSH.infoApplet.imageFile}" />
							<PARAM NAME="WorkingDirectory" VALUE="pknetj1.9RED" />
							<PARAM NAME="Message" VALUE="#{SESSION_LSH.msg}" />
							<PARAM NAME="scriptable" VALUE="true" />
							<PARAM NAME="boxmessage" VALUE="Caricamento applet in corso..." />
							<PARAM NAME="progressbar" VALUE="false" />
							<PARAM NAME="HashAlgorithm" VALUE="sha256" />
							<PARAM NAME="DocumentURL"
								VALUE="#{SESSION_LSH.infoApplet.documentURL}" />
							<PARAM NAME="DigestURL"
								VALUE="#{SESSION_LSH.infoApplet.documentURL}" />
							<PARAM NAME="PostURL" VALUE="#{SESSION_LSH.infoApplet.postURL}" />
						</OBJECT>
					</p:panel>
					<p:commandButton value="Chiudi" title="Chiudi" type="button"
						onclick="PF('dlgAppletFirma').hide()"
						styleClass="uniqueCloseButton" />
				</p:panel>


			</div>
		</p:dialog>

		<p:outputPanel id="idPnlProtEmr">
			<red:dlgAcqProtocolloEmergenza dto="#{ListaDocumentiBean.protEm}"
				confirmButton="#{ListaDocumentiBean.switchActionProtEmergenza()}"
				widgetVar="wdgProtEmergenza"
				dlgTitle="Inserisci Protocollo di Emergenza" />
		</p:outputPanel>

	<p:dialog header="Conferma Firma" widgetVar="confirmFirmaDig_VW" modal="true" resizable="false" appendTo="@form" 
		closable="true" id="confirmFirmaDig_Dlg" 
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmFirmaDig_VW')" 
		styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">
			<p:outputPanel id="confirmFirmaDig_PNL"
				styleClass="ui-g ui-fluid generic_noborder generic_no_background">
				<div class="ui-g-12">
					<h:outputText value="#{ListaDocumentiBean.confirmMessageFirmaDig}" />
				</div>
				<div class="ui-g-6">
					<p:commandButton value="Conferma" icon="ui-icon-check"
						action="#{ListaDocumentiBean.continuaFirmaDigitale}"
						update="centralSectionForm:idDlgShowResult"
						oncomplete="PF('dlgGeneric').initPosition()"
						onclick="PF('confirmFirmaDig_VW').hide();" />
				</div>
				<div class="ui-g-6">
					<p:commandButton value="Chiudi" title="Chiudi"
						onclick="PF('confirmFirmaDig_VW').hide();" icon="ui-icon-close"
						styleClass="uniqueCloseButton" />
				</div>
			</p:outputPanel>
		</p:dialog>
		
		<p:dialog header="Conferma Firma P7M" widgetVar="confirmFirmaDigitaleP7M" modal="true" resizable="false" appendTo="@form" closable="true" id="idConfirmFirmaDigitaleP7M"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmFirmaRemotaP7M')" styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">

		<p:outputPanel styleClass="ui-g ui-fluid generic_noborder generic_no_background">
			<div class="ui-g-12">
				<h:outputText value="Attenzione per uno o più allegati si è scelto di firmare in modalità 'visibile'. Firmando in modalità p7m la firma non potrà essere apposta nei campi firma creati appositamente." />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Conferma" icon="ui-icon-check" action="#{ListaDocumentiBean.startLocalSignHelper4Digitale(signTypeEnum.CADES)}" update="centralSectionForm:idDlgShowResult" oncomplete="PF('dlgGeneric').initPosition()" onclick="PF('confirmFirmaDigitaleP7M').hide();" />
			</div>
			<div class="ui-g-6">
				<p:commandButton value="Chiudi" title="Chiudi"
					onclick="PF('confirmFirmaDigitaleP7M').hide();" icon="ui-icon-close"
					styleClass="uniqueCloseButton" />
			</div>
		</p:outputPanel>
	</p:dialog>
	
	<p:dialog id="sbloccaDocumentoFirmaDlg" widgetVar="sbloccaDocumentoFirmaDlg_WV" header="Sblocca Documento" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
	 		<p:outputLabel value="Si desidera sbloccare il documento in carico all'utente #{ListaDocumentiBean.nomeUtenteLockatore} ?" escape="false" styleClass="black" />
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{ListaDocumentiBean.continuaFirmaAfterCheckLock}" oncomplete="PF('sbloccaDocumentoFirmaDlg_WV').hide();" icon="ui-icon-check" />
				<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaDocumentoFirmaDlg_WV').hide()" icon="ui-icon-close" type="button"/>
			</p:outputPanel>
		</p:dialog>
		
		
		
		<p:dialog id="sbloccaDocumentoModificaDlg" widgetVar="sbloccaDocumentoModificaDlg_WV" header="Sblocca Documento" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
	 		<p:outputLabel value="Si desidera sbloccare il documento in carico all'utente #{ListaDocumentiBean.nomeUtenteLockatore} ?" escape="false" styleClass="black" />
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{ListaDocumentiBean.continuaModificaAfterCheckLock}" oncomplete="PF('sbloccaDocumentoModificaDlg_WV').hide();" icon="ui-icon-check" />
				<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaDocumentoModificaDlg_WV').hide()" icon="ui-icon-close" type="button"/>
			</p:outputPanel>
		</p:dialog>
		<!--=============================================================================================================================================-->
</ui:composition>