<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel widgetVar="wdgAssegna" styleClass="generic_noborder generic_no_background generic_padding5"> 
		<!-- Blocco per la nuova assegnazione utilizzando l'organigramma -->
		 <p:outputPanel id="idNuovaAssegnazione" class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse ? 'Assegnazione per competenza' : 'Nuova assegnazione'}" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_redStar" rendered="#{respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse}"/>
			</div>
			<div class="ui-g-8 ui-inputgroup #{(respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse) ? 'obbligatorio' : ''}">
				<p:inputText id="idAssegnatarioAssegna" readonly="true" value="#{AssegnaBean.descrizioneNewAssegnazione}" styleClass="#{(respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse) ? 'obbligatorio-readonly' : ''} textfield_input"/>
				<p:commandButton id="idButtonOrgAssegna" icon="fa fa-sitemap" title="Organigramma" type="button"/>
				<p:commandButton id="idButtonPulisciAssegna" action="#{AssegnaBean.clearAssegnazione}" update="centralSectionForm:idAssegnatarioAssegna" icon="fa fa-eraser" title="Pulisci Selezione"/>
			</div>
		</p:outputPanel>
		
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		 <p:outputPanel class="ui-g" rendered="#{respRedEnum.ASSEGNA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">	
			<div class="ui-g-4">
				<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold"/>
				<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idMotivoAssegna" value="#{AssegnaBean.motivoAssegnazione}" rows="3" styleClass="generic_width97"/>
			</div>
			<div class="ui-g-4 generic_textAlignLeft">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
			</div>
			<div class="ui-g-8">
				<p:selectOneRadio value="#{AssegnaBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder" rendered="#{respRedEnum.ASSEGNA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<p:commandButton id="btnRegistraAssegnazione" icon="fa fa-pencil" value="Registra" action="#{AssegnaBean.checkEResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('AssegnaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:btnRegistraAssegnazione" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	
	<!-- overlay dove renderizzare l'organigramma e che permette la selezione -->
	<p:overlayPanel widgetVar="idOrgOverlayAssegna" for="idButtonOrgAssegna" id="assegnaPanel" >
		<h:form>
        	<div class="dmd-tree-panel generic_textAlignLeft" >
        		
        		<p:tree value="#{AssegnaBean.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">
					<p:ajax event="expand" listener="#{AssegnaBean.onOpenNode}"/>
			    	<p:ajax event="select" update="centralSectionForm:idAssegnatarioAssegna" listener="#{AssegnaBean.onSelectedNode}" oncomplete="PF('idOrgOverlayAssegna').hide()"/>		
			    
			        <p:treeNode type="UFF">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
						<p:outputLabel value=" #{nodo.descrizioneNodo}" />
					</p:treeNode>
					
					<p:treeNode type="USER">
						<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente" />
						<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}" />
					</p:treeNode>
			        	
				</p:tree>
				
        	</div>
		</h:form>
        <iframe class="cover" src="about:blank" title="Frame assegna"></iframe>
	</p:overlayPanel>
	
</ui:composition>