<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:outputPanel id="associaDecretiPnl" widgetVar="wdgAssociaDecreti" styleClass="generic_noborder generic_no_background generic_maxwidth1200px">
		
		<red:iAssociazioniDecretiResponse id="associaDecretiView" bean="#{AssociaDecretiBean}" />
	
		<p:panelGrid columns="2" layout="grid" styleClass="buttonsDiv ui-panelgrid-blank generic_noborder" columnClasses="ui-g-6,ui-g-6">
			<p:commandButton icon="fa fa-pencil" value="Associa" styleClass="generic_width100"
				action="#{AssociaDecretiBean.doResponse}" id="associaBtn"
				oncomplete="PF('dlgShowResult').show()"
				onclick="PF('dlgGeneric').hide()"
				update="centralSectionForm:idDlgShowResult" />
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('AssociaDecretiBean')}"
				onclick="PF('dlgGeneric').hide()" />
			<p:defaultCommand target="@form:associaBtn" scope="@form:idDlgGeneric" ></p:defaultCommand>
		</p:panelGrid>
	</p:outputPanel>

</ui:composition>