<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom">

	<p:outputPanel id="idPnlAtti">
		<p:panel widgetVar="wdgAtti" styleClass="generic_noborder generic_no_background generic_maxwidth900px" rendered="#{!AttiBean.dlgFaldonaturaRendered}"> 
			<div class="ui-g">
				<div class="ui-g-2">
					<p:outputLabel value="Motivazione Atti" styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-10 ui-fluid">
					<p:inputTextarea id="idMotivoAtti" value="#{AttiBean.motivoAtti}" rows="3" styleClass="generic_width97"/>
				</div>
				<div class="ui-g-12 ui-fluid generic_minHeight245px">
					<p:dataTable var="doc" rowIndexVar="index" value="#{AttiBean.documentiDTH.masters}"	id="IdDocLst" styleClass="" 
						paginatorAlwaysVisible="false" scrollable="true" rows="5" paginator="true" paginatorPosition="bottom" >
			
				        <p:column headerText="Numero documento" styleClass="generic_textAlignCenter" width="10%">
					        <p:outputLabel value="#{doc.numeroDoc}"/>
				        </p:column>

				        <p:column headerText="Fascicolo" width="40%">
					        <p:outputLabel rendered="#{doc.fascicoloProc != null}"
					        	value="#{AttiBean.getShortColumn(doc.fascicoloProc.idFascicolo.concat('_').concat(doc.fascicoloProc.anno).concat(' - ').concat(doc.fascicoloProc.descrizione), 75) }" 
					        	title="#{doc.fascicoloProc.idFascicolo.concat('_').concat(doc.fascicoloProc.anno).concat(' - ').concat(doc.fascicoloProc.descrizione) }"/>
				        </p:column>
			
						<p:column headerText="Titolario*" >
							<p:outputPanel id="idTitolarioCreaOutPanel_PNA" styleClass="ui-inputgroup" >
								<p:inputText id="idTitolario_PNA" onchange="" value="#{doc.indiceClassificazioneDescrizione}" styleClass="generic_input99" readonly="true" />
								<p:commandButton id="idTitolarioCreaBtn_PNA" icon="fa fa-sitemap" actionListener="#{AttiBean.currentDoc}" process="@this" 
									onsuccess="PF('wdgDlgTitolario_PNLA').show();" update="@form:otTitolarioAtti_PNLA"/>
							</p:outputPanel>
						</p:column>
					</p:dataTable>
					
					<p:dialog modal="true" appendTo="@form" widgetVar="wdgDlgTitolario_PNLA" draggable="true"
						onShow="dlgOnShow(this.jqId);" position="center center" resizable="false">
						<f:facet name="header">
							<h:outputText id="otTitolarioAtti_PNLA" value="Selezione titolario per il documento:  #{AttiBean.documentiDTH.currentMaster.numeroDoc}"/>
					    </f:facet>
						<p:scrollPanel mode="native" styleClass="generic-scrollpane-dim">
							<p:tree value="#{AttiBean.rootTitolario}" var="t" 
								id="idTitolarioCreaTree_PNA" selectionMode="single"
								styleClass="dmd-tree" dynamic="true">
								<p:ajax event="expand" 
									listener="#{AttiBean.onTitolarioNodeExpand}"
									update="@this" />
								<p:ajax event="select"
									listener="#{AttiBean.onTitolarioNodeSelect}"
									update="centralSectionForm:IdDocLst, centralSectionForm:attiPnlAzioni"
									process="@this"
									onsuccess="PF('wdgDlgTitolario_PNLA').hide();"
									/>
								<p:treeNode>
									<p:graphicImage url="/resources/images/tree-uff.png" styleClass="generic_marginRight05em" alt="icona ufficio" title="ufficio" />
									<p:outputLabel value="#{t.indiceClassificazione} " />
									<p:outputLabel value="#{t.descrizione}" />
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
						<div class="generic_textAlignCenter generic_padding05">
							<p:button value="Chiudi" onclick="PF('wdgDlgTitolario_PNLA').hide(); return false;" />
						</div>
					</p:dialog>
				</div>
			</div>
			
			<p:panelGrid id="attiPnlAzioni" columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:commandButton id="btnAtti" icon="fa fa-pencil" disabled="#{AttiBean.flagDisableRegistraButton}" value="Registra" action="#{AttiBean.atti}" update="idPnlAtti"
					oncomplete="PF('dlgGeneric').initPosition()" styleClass="generic_width100" />
				<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('AttiBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
				<p:defaultCommand target="@form:btnAtti" scope="@form:idDlgGeneric" />
			</p:panelGrid>		
		</p:panel>
		
		<p:panel id="idDlgFaldonaturaDaAtti" widgetVar="dlgFaldonaturaDaAtti" styleClass="generic_maxwidth1200px" rendered="#{AttiBean.dlgFaldonaturaRendered}">
			
			<dd:pnlFaldonaComponent faldonaCmp="#{AttiBean.faldonaCmp}"/>
					
			<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:commandButton id="registraFaldonaAtti" icon="fa fa-pencil" value="Registra" action="#{AttiBean.faldona}" styleClass="generic_width100"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" action="#{AttiBean.closeDlgFaldonatura}" update="idPnlAtti" styleClass="generic_width100"/>
				<p:defaultCommand target="@form:registraFaldonaAtti" scope="@form:idDlgFaldonaturaDaAtti" />
			</p:panelGrid>
		</p:panel>
		
	</p:outputPanel>
	
	<p:dialog header="Conferma Atti" widgetVar="confirmAttiFirma_VW" modal="true" resizable="false" appendTo="@form" closable="true" id="confirmAttiFirma_Dlg"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmAttiFirma_VW')" styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">

	   	<p:outputPanel id="confirmAttiFirma_PNL" styleClass="ui-g ui-fluid generic_noborder generic_no_background" > 
		 	<div class="ui-g-12" >
	    			<h:outputText value="#{AttiBean.confirmMessage}"/>
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" icon="ui-icon-check" action="#{AttiBean.attiResponse}" update="idPnlAtti" oncomplete="PF('dlgGeneric').initPosition()" onclick="PF('confirmAttiFirma_VW').hide();" />	
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Annulla" title="Annulla" onclick="PF('confirmAttiFirma_VW').hide();" icon="ui-icon-close" styleClass="uniqueCloseButton"/>
	    		</div> 
	    </p:outputPanel>
	</p:dialog>
	 	
	<p:dialog id="sbloccaDocumentoAttiDlg" widgetVar="sbloccaDocumentoAttiDlg_WV" header="Sblocca Documento" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
	 		<p:outputLabel value="Si desidera sbloccare il documento in carico all'utente #{AttiBean.nomeUtenteLockatore} ?" escape="false" styleClass="black" />
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{AttiBean.continuaAttiAfterCheckLock}" oncomplete="PF('sbloccaDocumentoAttiDlg_WV').hide();" icon="ui-icon-check" />
				<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaDocumentoAttiDlg_WV').hide()" icon="ui-icon-close" type="button"/>
			</p:outputPanel>
		</p:dialog>
</ui:composition>