<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:rubrica="http://xmlns.jcp.org/jsf/composite/rubrica"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:p="http://primefaces.org/ui">
	
	<div class="ui-g-2">
		<p:outputLabel for="@next"  value="Email alternativa" styleClass="generic_textBold"/>
		<h:outputText title="Indirizzo mail non obbligatorio al quale, se valorizzato, verranno indirizzate le notifiche di aperture e chiusura/annullamento della RdS su Siebel."
		 styleClass="fa fa-info generic_floatRight" />
	</div>
	<div class="ui-g-10 ui-fluid">
		<p:inputText value="#{ApriRdsSiebelBean.mailAlternativa}" />
	</div>
	
	<!-- Tipologia START -->

	<div class="ui-g-2">
		<p:outputLabel for="idTipologia" value="Tipologia" styleClass="generic_textBold"/>
		<p:outputLabel for="idTipologia" value="*" class="generic_redStar generic_textBold"/>
	</div>
	<div class="ui-g-4 ui-fluid obbligatorio">
		<p:selectOneMenu id="idTipologia" value="#{ApriRdsSiebelBean.idTipologia}">
			<p:ajax update="@form:idGruppo" event="change" listener="#{ApriRdsSiebelBean.onChangeTipiSiebelList}"/>
			<f:selectItem itemLabel="Seleziona..." itemValue="#{null}" />
			<f:selectItems value="#{ApriRdsSiebelBean.tipiSiebelList}"
				var="tp" itemValue="#{tp.idTipologia}" itemLabel="#{tp.descrizioneTipologia}"/>
		</p:selectOneMenu>
	</div>
	<!-- Tipologia END -->
	
	<!-- Gruppo START -->
	<div class="ui-g-1">
		<p:outputLabel for="idGruppo" value="Gruppo" styleClass="generic_textBold"/>
		<p:outputLabel for="idGruppo" value="*" class="generic_redStar generic_textBold"/>
	</div>
	<div class="ui-g-5 ui-fluid obbligatorio">
		<p:selectOneMenu id="idGruppo" value="#{ApriRdsSiebelBean.codiceGruppo}">
			<f:selectItems value="#{ApriRdsSiebelBean.gruppiSiebelList}" 
				var="gp" itemValue="#{gp.codiceGruppo}" itemLabel="#{gp.descrizioneGruppo}"/>
		</p:selectOneMenu>
	</div>
	<!-- Gruppo END -->


		<div class="ui-g-2">
		<p:outputLabel for="@next" value="Testo predefinito" styleClass="generic_textBold"/>
	</div>
	<div class="ui-g-10 ui-fluid">
		<p:selectOneMenu value="#{ApriRdsSiebelBean.mailComponent.idTestoPredefinito}" >
			<p:ajax event="change" listener="#{ApriRdsSiebelBean.mailComponent.onChangeTestoPredefinito()}" update="idOggetto_MCA idTesto_MCA" />
			<f:selectItem itemValue="-1" itemLabel=" " />
			<f:selectItems value="#{ApriRdsSiebelBean.mailComponent.testiPredefinitiList}" var="t" itemValue="#{t.idTestoPredefinito}" itemLabel="#{t.descrizione}" />
		</p:selectOneMenu>
	</div>
	
	<!-- Oggetto -->
	<div class="ui-g-2">
		<p:outputLabel for="idOggetto_MCA" value="Oggetto" styleClass="generic_textBold"/>
		<p:outputLabel for="idOggetto_MCA" value="*" class="generic_redStar generic_textBold"/>
	</div>
	<div class="ui-g-3 ui-fluid">
		<p:outputLabel for="idOggetto_MCA" value="#{ApriRdsSiebelBean.mailComponent.defaultPrefissoOggetto}" styleClass="generic_textBold"/>
	</div>
	<div class="ui-g-7 ui-fluid">
		<p:inputText id="idOggetto_MCA" value="#{ApriRdsSiebelBean.mailComponent.oggetto}" alt="Inserisci un suffisso all'oggetto" styleClass="generic_width50" />
	</div>
	
	<!-- Mail body -->
	<div class="ui-g-12">
		<p:outputLabel for="idTesto_MCA" value="Testo" styleClass="generic_textBold"/>
		<p:outputLabel for="idTesto_MCA" value="*" class="generic_redStar generic_textBold"/>
	</div>
	<div class="ui-g-12 ui-fluid">
		<p:inputTextarea rows="4" id="idTesto_MCA" styleClass="obbligatorio bk-lightYellowImp" value="#{ApriRdsSiebelBean.mailComponent.body}" />
		<p:inputTextarea rows="1" styleClass="obbligatorio bk-lightYellowImp" rendered="#{fn:length(ApriRdsSiebelBean.mailComponent.defaultSuffissoTesto) gt 0}" 
		 value="#{ApriRdsSiebelBean.mailComponent.defaultSuffissoTesto}" readonly="true" disabled="true" />
	</div>
	
	<p:outputPanel styleClass="ui-g-12 generic_textBold" rendered="#{fn:length(ApriRdsSiebelBean.recapRdsPrecedente) gt 0 }">
		<!-- Si riportano di seguito i riferimenti dei precedenti ID RDS generati dal prot. N°  -->
		<p:outputLabel value="#{ApriRdsSiebelBean.recapRdsPrecedente}" />
	</p:outputPanel>
	
	<red:documentiAllegabiliSelectableTable bean="#{ApriRdsSiebelBean.allegabiliComponent}" hideCounter="false" />
	
<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
	<p:commandButton id="btnApriRdsSiebel_Registra" icon="fa fa-pencil" value="Registra" action="#{ApriRdsSiebelBean.registra()}" update="@form:idDlgShowResult" styleClass="generic_width100"/>
	<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ApriRdsSiebelBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
	<p:defaultCommand target="@form:btnApriRdsSiebel_Registra" scope="@form:idDlgGeneric" />
</p:panelGrid>
	
</ui:composition>