<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
	
	<p:outputPanel rendered="#{(respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse or respRedEnum.ASSEGNA eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}">
		<ui:include src="pnlAssegna.xhtml"/> 
	</p:outputPanel>
	<p:outputPanel rendered="#{(respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse or respRedEnum.METTI_IN_CONOSCENZA eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}">
		<ui:include src="pnlMettiInConoscenza.xhtml"/>
	</p:outputPanel>
	<p:outputPanel rendered="#{(respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse or respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse) and ListaDocumentiBean.renderResponse}">
		<ui:include src="pnlRichiediContributo.xhtml"/>
	</p:outputPanel>
	
	<p:outputPanel styleClass="ui-g margin-Top2Percent" rendered="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<div class="ui-g-4 ">
			<p:outputLabel value="Contributo urgente" styleClass="generic_textBold" style="padding-left:6px" />
		</div>
		<div class="ui-g-8">
			<p:selectBooleanCheckbox label="Urgente" title="Urgente" value="#{AssegnaNuovaBean.isUrgente}" />
		</div>			
	</p:outputPanel>
	
	<p:outputPanel styleClass="ui-g margin-Top2Percent" rendered="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<div class="ui-g-4">
			<p:outputLabel value="Messaggio" styleClass="generic_textBold" style="padding-left:6px" />
		</div>
		<div class="ui-g-8">
			<p:inputTextarea id="idTxtMessaggio" value="#{AssegnaNuovaBean.messaggio}" rows="3" style="width:97%" />
		</div>
		<div class="ui-g-4">
			<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
		</div>
		<div class="ui-g-8">
			<p:selectOneRadio value="#{AssegnaNuovaBean.alsoStorico}" >
				<f:selectItem itemLabel="Si" itemValue="true"  />
				<f:selectItem itemLabel="No" itemValue="false" />
			</p:selectOneRadio>
		</div>
	</p:outputPanel>
	
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder" rendered="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<p:commandButton id="btnRegistra" icon="fa fa-pencil" value="Registra" action="#{AssegnaNuovaBean.registra}" styleClass="generic_width100" />
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{AssegnaNuovaBean.chiudi}" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:btnRegistra" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	
</ui:composition>