<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog showEffect="fade" hideEffect="fade" widgetVar="confirmAttiFirma_VW" id="confirmAttiFirma_PNL" appendTo="@form" width="550" closable="true" onShow="onShowForClosableDlg('confirmAttiFirma_VW')">
	    	<div class="ui-g ui-fluid">
	    		<div class="ui-g-12" >
	    			<h:outputText value="#{AttiBean.confirmMessage}"/>
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" icon="ui-icon-check"  />	
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Chiudi" title="Chiudi" onclick="PF('confirmAttiFirma_VW').hide();" icon="ui-icon-close" styleClass="uniqueCloseButton"/>
	    		</div>
	    	</div>
	    	
	 </p:dialog>
	 
		
</ui:composition>