<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
	
<p:outputPanel id="chiudiSenzaAssociazionePnl" styleClass="generic_noborder generic_no_background" > 
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-g-4,ui-g-8">
	
		<p:outputLabel for="@next"  value="Dichiarazione del " styleClass="generic_textBold" />
		<p:outputLabel value="#{ChiudiSenzaAssociazioneBean.dataDichiarazione}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
		</p:outputLabel>
		
		<p:outputLabel for="@next" value="Nome File" styleClass="generic_textBold" />
		<h:outputText value="#{ChiudiSenzaAssociazioneBean.nomeFile}" />
		
	</p:panelGrid>
	
	<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-g-12">
		<h:outputText value="Mettere agli atti la Dichiarazione Servizi Resi selezionata?" styleClass="generic_textBold" />
	</p:panelGrid>

	<p:panelGrid columns="2" layout="grid" styleClass="buttonsDiv ui-panelgrid-blank generic_noborder" columnClasses="ui-g-6,ui-g-6">
		<p:commandButton id="registraMettiAtti" icon="fa fa-pencil" value="Metti agli Atti" styleClass="generic_width100"
			action="#{ChiudiSenzaAssociazioneBean.doResponse}"
			oncomplete="PF('dlgShowResult').show()"
			onclick="PF('dlgGeneric').hide()"
			update="centralSectionForm:idDlgShowResult" />

		<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
			actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ChiudiSenzaAssociazioneBean')}"
			onclick="PF('dlgGeneric').hide()" />
		
		<p:defaultCommand target="@form:registraMettiAtti" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</p:outputPanel>
	
</ui:composition>