<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:panel id="collegaContributoPnl" widgetVar="wdgCollegaContributo" styleClass="generic_noborder generic_no_background generic_width446px">
		
		<p:panel styleClass="generic_noborder">
			<p:outputPanel styleClass="ui-g">
				<p:outputPanel styleClass="ui-g-12">
					<p:outputPanel styleClass="ui-g-5">
						<p:outputLabel for="idFascicolo_pnlCollegaContributo" value="Nome del fascicolo" styleClass="generic_textBold"/>
						<p:outputLabel for="idFascicolo_pnlCollegaContributo" value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-7 ui-inputgroup obbligatorio">
						<p:inputText id="idFascicolo_pnlCollegaContributo" value="#{CollegaContributoEsternoBean.fascicolo.idFascicolo}" readonly="true"
							styleClass="obbligatorio-readonly textfield_input"/>
						
						<p:commandButton type="button" icon="fa fa-search" title="Cerca fascicolo" onclick="PF('wdgCercaFascicolo').show()"/>
						
						<red:dlgCercaFascicoloComponent id="dlgCercaFascicoloCmp_pnlCollegaContributo" component="#{CollegaContributoEsternoBean.cercaFascicoloCmp}" 
							updateOnSelect="@form:idFascicolo_pnlCollegaContributo"/>
					</p:outputPanel>
				</p:outputPanel>
				
				<p:outputPanel styleClass="ui-g-12">
					<p:outputPanel styleClass="ui-g-5">
						<p:outputLabel for="@form:titolarioCmp_pnlCollegaContributo:idAutoCompleteTitolario" value="Indice di classificazione" styleClass="generic_textBold"/>
						<p:outputLabel for="@form:titolarioCmp_pnlCollegaContributo:idAutoCompleteTitolario" value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-7 ui-inputgroup obbligatorio">
						<red:titolarioComponent id="titolarioCmp_pnlCollegaContributo" component="#{CollegaContributoEsternoBean.indiceDiClassificazioneCmp}"
							autoCompleteStyleClass="textfield_input"/>
					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>
		
		<p:outputPanel class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-pencil" value="Registra" action="#{CollegaContributoEsternoBean.executeResponse}" update="centralSectionForm:idDlgShowResult"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="uniqueCloseButton"  
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('CollegaContributoEsternoBean')}" onclick="PF('dlgGeneric').hide()"/>
		</p:outputPanel>
	</p:panel>
	
</ui:composition>