<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:outputPanel id="firmaAutografa_PNL" widgetVar="firmaAutografaPnl_VW" styleClass="generic_noborder generic_no_background" > 
		<div class="pnl-message-maxwidth" >
			<p:outputLabel value="#{ListaDocumentiBean.firmaAutografaConfirmMessage}" />
		</div>
	
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder buttonsDiv"	columnClasses="ui-grid-col-6,ui-grid-col-6" >
			<p:commandButton icon="fa fa-pencil" value="Ok" styleClass="generic_width100" onclick="PF('dlgGeneric').hide()" 
				action="#{ListaDocumentiBean.checkStatoProtEmergenza}"  />
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton" onclick="PF('dlgGeneric').hide()" />
		</p:panelGrid>
	
	</p:outputPanel>
	
	
	<p:dialog header="Conferma Firma" widgetVar="confirmFirma_VW" modal="true" resizable="false" appendTo="@form" closable="true" id="confirmFirma_Dlg"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('confirmFirma_VW')" styleClass="generic_width550px generic_maxHeight900px" position="center" draggable="true">
	   	<p:outputPanel id="confirmFirma_PNL" styleClass="ui-g ui-fluid generic_noborder generic_no_background" > 
		 	<div class="ui-g-12" >
	    			<h:outputText value="#{ListaDocumentiBean.firmaAutografaConfirmMessage}"/>
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" icon="ui-icon-check" action="#{ListaDocumentiBean.checkStatoProtEmergenzaContinue}"  update="centralSectionForm:idDlgShowResult" oncomplete="PF('dlgGeneric').initPosition()" onclick="PF('confirmFirma_VW').hide();" />	
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Annulla" title="Annulla" onclick="PF('confirmFirma_VW').hide();" icon="ui-icon-close" styleClass="uniqueCloseButton"/>
	    		</div> 
	    </p:outputPanel>
	</p:dialog>
		
</ui:composition>