<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

	<dd:pnlFaldonaComponent faldonaCmp="#{FaldonaBean.faldonaCmp}"/>
				
	<div class="buttonsDiv buttonsLayout">
		<p:commandButton id="registraFaldona" icon="fa fa-pencil" value="Registra"
				action="#{FaldonaBean.faldonaDaResponse}" />
		<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="uniqueCloseButton"
				onclick="PF('dlgGeneric').hide()" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('FaldonaBean')}"/>
		<p:defaultCommand target="@form:registraFaldona" scope="@form:idDlgGeneric" />
	</div>
	
</ui:composition>