<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:outputPanel>
		<p:panel widgetVar="wdgInviaInFirmaMultipla" styleClass="generic_noborder generic_no_background generic_padding5 generic_width495px"> 
			<!-- Blocco per la nuova assegnazione utilizzando l'organigramma -->
			 <p:outputPanel id="idNuovaAssegnazionePerFirmaMultipla" class="ui-g">	
				<p:outputPanel class="ui-g-4">
					<p:outputLabel value="Nuova assegnazione" styleClass="generic_textBold"/>
					<p:outputLabel value="*" styleClass="generic_redStar"/>
				</p:outputPanel>
				<p:outputPanel class="ui-g-8 ui-inputgroup obbligatorio">
					<p:inputText id="idAssegnatarioInviaInFirmaMultipla" readonly="true" value="#{InviaInFirmaMultiplaBean.descrizioneNewAssegnazione}" styleClass="obbligatorio-readonly textfield_input"/>
					<p:commandButton id="idButtonOrgInviaInFirmaMultipla" icon="fa fa-sitemap" title="Organigramma" type="button"/>
					<p:commandButton id="idButtonPulisciInviaInFirmaMultipla" action="#{InviaInFirmaMultiplaBean.clearAssegnazione}" update="@form:idAssegnatarioInviaInFirmaMultipla" 
						icon="fa fa-eraser" title="Pulisci Selezione"/>
				</p:outputPanel>
			</p:outputPanel>
			
			<!-- Blocco per l'inserimento di una eventuale motivazione -->		
			 <p:outputPanel class="ui-g">
				<p:outputPanel class="ui-g-4">
					<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold"/>
					<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
				</p:outputPanel>
				<p:outputPanel class="ui-g-6">
					<p:inputTextarea id="idMotivoInviaInFirmaMultipla" value="#{InviaInFirmaMultiplaBean.motivoAssegnazione}" rows="3" styleClass="generic_width97"/>
				</p:outputPanel>
				<p:outputPanel class="ui-g-1 generic_textAlignRight">
					<span title="Urgente" class="fa fa-exclamation-circle crimson generic_positionRelative" />
				</p:outputPanel>
				<p:outputPanel class="ui-g-1 generic_marginLeft-6" >
					<p:selectBooleanCheckbox id="idUrgenteInviaInFirmaMultipla" title="Urgente" value="#{InviaInFirmaMultiplaBean.urgente}" />
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>
		
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6, ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
			<p:commandButton id="btnRegistraAssegnazionePerFirmaMultipla" styleClass="generic_width100" icon="fa fa-pencil" value="Registra" action="#{InviaInFirmaMultiplaBean.checkPreResponse}"/>
			<p:commandButton styleClass="generic_width100 uniqueCloseButton" icon="fa fa-times" value="Chiudi" 
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InviaInFirmaMultiplaBean')}" onclick="PF('dlgGeneric').hide()"/>
			<p:defaultCommand target="@form:btnRegistraAssegnazionePerFirmaMultipla" scope="@form:idDlgGeneric"/>
		</p:panelGrid>
		
	</p:outputPanel>
	
	<!-- Overlay dove renderizzare l'organigramma e che permette la selezione -->
	<p:overlayPanel widgetVar="idOrgOverlayInviaInFirmaMultipla" for="idButtonOrgInviaInFirmaMultipla">
		<h:form>
        	<p:outputPanel class="dmd-tree-panel generic_textAlignLeft" >
        		
        		<p:tree value="#{InviaInFirmaMultiplaBean.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">
					<p:ajax event="expand" listener="#{InviaInFirmaMultiplaBean.onOpenNode}"/>
			    	<p:ajax event="select" update="@namingcontainer:@namingcontainer:idAssegnatarioInviaInFirmaMultipla" listener="#{InviaInFirmaMultiplaBean.onSelectedNode}" 
			    		oncomplete="PF('idOrgOverlayInviaInFirmaMultipla').hide()"/>		
			    
			        <p:treeNode type="UFF">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
						<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
					</p:treeNode>
					
					<p:treeNode type="USER">
						<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
						<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}"/>
					</p:treeNode>	
				</p:tree>
				
        	</p:outputPanel>
		</h:form>
        <iframe class="cover" src="about:blank" title="Frame info firma multipla"></iframe>
	</p:overlayPanel>
	
</ui:composition>