<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="inserisciContributoPnl" widgetVar="wdgInserisciContributo" styleClass="generic_noborder generic_no_background generic_maxwidth360px" > 
		<p:outputPanel id="campiConPermesso" rendered="#{InserisciContributoBean.flagPermesso}">
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel for="dataCDC" value="Data CdC" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-10 dataCDCField">
						<p:calendar navigator="true" id="dataCDC"  value="#{InserisciContributoBean.dataCdc}"
									pattern="dd/MM/yyyy" mode="popup" showOn="button" />
					</div>
				</div>
				<div class="ui-g">
					<div class="ui-g-2">	
						<p:outputLabel for="foglio" value="Foglio" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-10">
						<p:inputText id="foglio" value="#{InserisciContributoBean.foglio}" styleClass="generic_input82" />
					</div>
				</div>
				<div class="ui-g">
					<div class="ui-g-2">	
						<p:outputLabel for="registro" value="Registro" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-10">
						<p:inputText id="registro" value="#{InserisciContributoBean.registro}" styleClass="generic_input82" />
					</div>
				</div>
		</p:outputPanel>			
		
		<p:outputPanel id="inserisciContributoMessage" styleClass="ui-g">
			<div class="ui-g-2">
				<p:outputLabel for="idInserisciContributoMessage" value="Testo" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10">
				<p:inputTextarea id="idInserisciContributoMessage" rows="4" value="#{InserisciContributoBean.nota}" styleClass="generic_width97" />
			</div>
		</p:outputPanel>
		
		<p:outputPanel id="inserisciContributoFile" class="ui-g buttonsDiv">
			<div id="labelFile" class="ui-g-2">
				<p:outputLabel for="idInserisciContributoFile" value="File" styleClass="generic_textBold" />
			</div>
			<div id="idInserisciContributoFileDiv" class="ui-g-10 ">
				<p:outputPanel styleClass="ui-inputgroup">
					<p:inputText id="idInserisciContributoFile" readonly="true" value="#{InserisciContributoBean.docPrincipale.fileName}" styleClass="textfield_input"/>
					<span title="Upload file">
						<p:fileUpload id="idInserisciContributoFileUpload"
									  fileUploadListener="#{InserisciContributoBean.handleMainFileUpload}"
									  value="#{InserisciContributoBean.docPrincipale}"
									  auto="true" label="Sfoglia"
									  mode="advanced" skinSimple="true"
									  dragDropSupport="false"
									  styleClass="dmd-fileUpload-old"
									  update="inserisciContributoFile"
									  onstart="PF('statusDialog').show();"
									  oncomplete="PF('statusDialog').hide();"
									/>
					</span>
					<p:commandButton icon="fa fa-eraser"
									 title="Rimuovi file"
									 action="#{InserisciContributoBean.rimuoviFile}"
									 styleClass="generic_widthAuto"
									 update="inserisciContributoFile"/>
				</p:outputPanel>
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid id="inserisciContributo_btn" layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
			<p:commandButton id="registraInsContr" icon="fa fa-pencil" value="Registra" action="#{InserisciContributoBean.checkEResponse}"
							 update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" action="#{ListaDocumentiBean.destroyBeanViewScope('InserisciContributoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
			<p:defaultCommand target="@form:registraInsContr" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>