<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel id="idPanelInoltra" widgetVar="wdgInoltraDocumento" styleClass="generic_noborder generic_no_background generic_padding5 generic_width320px" > 
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		<p:outputPanel class="ui-g">
			<div class="ui-g-4">
				<p:outputLabel value="Messaggio" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idMotivoInoltra" value="#{InoltraBean.motivoAssegnazioneNew}" rows="3" styleClass="generic_width96"/>
			</div>
		</p:outputPanel>
	</p:panel>

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraInoltra" icon="fa fa-pencil" value="Registra" action="#{InoltraBean.inoltraResponse()}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InoltraBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraInoltra" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	
</ui:composition>