<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel id="idPanelInviaIn" widgetVar="wdgInviaIn" styleClass="generic_noborder generic_no_background generic_padding5 generic_width500px" > 
		<!-- Blocco per la nuova assegnazione utilizzando l'organigramma -->
		<p:outputPanel class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Nuova Assegnazione" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-8 ui-inputgroup">
				<p:inputText id="idAssegnatarioInviaIn" readonly="true" value="#{InviaInFirmaSiglaVistoBean.descrizioneNewAssegnazione}" required="true" requiredMessage="Selezionare almeno un assegnatario" styleClass="textfield_input"/>
				<p:commandButton id="idButtonOrgInviaIn" icon="fa fa-sitemap" title="Organigramma" update="centralSectionForm:idOrgInviaInForm:idOrgInviaIn" />
				<p:commandButton id="idButtonPulisciInviaIn" action="#{InviaInFirmaSiglaVistoBean.clearAssegnazione}" update="centralSectionForm:idAssegnatarioInviaIn" icon="fa fa-eraser" title="Pulisci Selezione"/>
			</div>
		</p:outputPanel>
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold"/>
				<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div class="ui-g-6">
				<p:inputTextarea id="idMotivoInviaIn" value="#{InviaInFirmaSiglaVistoBean.motivoAssegnazioneNew}" rows="3" styleClass="generic_width107"/>
			</div>
			<div class="ui-g-1 generic_textAlignRight">
				<span title="Urgente" class="fa fa-exclamation-circle crimson generic_positionRelative"/>
			</div>
			<div class="ui-g-1 generic_marginLeft-6" >
				<p:selectBooleanCheckbox id="idUrgenteInviaIn" title="Urgente" value="#{InviaInFirmaSiglaVistoBean.urgente}" />
			</div>
		</p:outputPanel>
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
			<p:commandButton icon="fa fa-pencil" value="Registra" id="registraInvioIn"
				action="#{InviaInFirmaSiglaVistoBean.inviaInResponse}"
				styleClass="generic_width100"
				update="centralSectionForm:idDlgShowResult" />
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InviaInFirmaSiglaVistoBean')}"
				onclick="PF('dlgGeneric').hide()" />
			<p:defaultCommand target="@form:registraInvioIn" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
	
	<p:overlayPanel widgetVar="idOrgOverlayInviaIn" for="idButtonOrgInviaIn" >
	  <h:form id="idOrgInviaInForm"> 
		<div class="dmd-tree-panel generic_textAlignLeft" >
		  
			<p:tree value="#{InviaInFirmaSiglaVistoBean.root}" var="nodo" dynamic="true" selectionMode="single" id="idOrgInviaIn">
				<p:ajax event="select" update="centralSectionForm:idAssegnatarioInviaIn" listener="#{InviaInFirmaSiglaVistoBean.onSelectNode}" oncomplete="PF('idOrgOverlayInviaIn').hide()"/>		
				<p:ajax event="expand" listener="#{InviaInFirmaSiglaVistoBean.onOpenNode}"  />
			
				<p:treeNode type="ROOT">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
					<p:outputLabel value=" #{nodo.codiceAOO}"/>
				</p:treeNode>

				<p:treeNode type="UFF">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
					<p:outputLabel value=" #{nodo.descrizioneNodo}"/>
				</p:treeNode>
		
				<p:treeNode type="USER">
					<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
					<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}"/>
				</p:treeNode>
		
			</p:tree>
			
		</div>
	  </h:form>
	  <iframe class="cover" src="about:blank" title="Frame invio"></iframe>
	</p:overlayPanel>
	
</ui:composition>