<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="invioDecretoFirmaPnl" widgetVar="wdgInvioDecretoFirma" styleClass="generic_noborder generic_no_background generic_width380px" > 
		<p:outputPanel id="infoUtente" styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel value="Utente Firmatario" styleClass="generic_textBold"/> 
			</div> 
			<div class="ui-g-8 ui-fluid">			
			 <p:outputLabel	value="#{InvioDecretoFirmaBean.utenteFirmatario.nome} #{InvioDecretoFirmaBean.utenteFirmatario.cognome} (#{InvioDecretoFirmaBean.descrizioneUfficioFirma})" />
			</div>
		</p:outputPanel>
		
		<p:outputPanel id="invioDecretoFirmaOggetto" styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel for="idInvioDecretoFirmaOggetto" value="Oggetto" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idInvioDecretoFirmaOggetto" rows="3" value="#{InvioDecretoFirmaBean.oggetto}" styleClass="generic_input94" />
			</div>
		</p:outputPanel>
		
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
				<p:commandButton id="registraInvDecreto" icon="fa fa-pencil" value="Registra" action="#{InvioDecretoFirmaBean.invioDecretoFirmaResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InvioDecretoFirmaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
				<p:defaultCommand target="@form:registraInvDecreto" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>