<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom"
	>
	<!-- il rendered verrà gestito da backend -->
		<p:outputPanel styleClass="generic_width650px ui-g" rendered="#{InserisciNotaBean.hasPermessoAOOMultiNote()}">
			<div class="ui-g-3" >
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold" for="@next"/>
			</div>
			<div class="ui-g-9" >
				<p:selectOneRadio value="#{InserisciNotaBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
		
		<red:documentManagerDataTabNoteStoricoDlgInserisci bean="#{InserisciNotaBean}"
			multiNota="#{InserisciNotaBean.hasPermessoAOOMultiNote()}" 
			updateDlg=""
			onCompleteAction=""
		/>
</ui:composition>