<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:rubrica="http://xmlns.jcp.org/jsf/composite/rubrica"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.web.enums.ModalitaSpedizioneMailEnum" var="moddalitaSpedizioneEnum" allSuffix="ALL_MODALITA_SPEDIZIONE"/>
	
	<p:outputPanel styleClass="ui-fluid ui-g generic_paddingBottom2em">
		<p:outputPanel styleClass="ui-g-12">
			<div class="ui-g-1">
				<p:outputLabel for="idMittente_MCA" value="Mittente" styleClass="generic_textBold"/>
				<p:outputLabel for="idMittente_MCA" value="*" class="generic_redStar generic_textBold"/>
			</div>
			<div class="ui-g-4">
				<p:selectOneMenu id="idMittente_MCA" value="#{InoltraMailDaCodaAttivaBean.mittenteId}" styleClass="obbligatorio">
					<f:selectItems value="#{InoltraMailDaCodaAttivaBean.mittenteList}" var="m" itemValue="#{m.indirizzoEmail}" itemLabel="#{m.indirizzoEmail}" />
				</p:selectOneMenu>
			</div>
			
			<div class="ui-g-1"></div>
			
			<!-- MOdalità di spedizione  -->
			<div class="ui-g-2">
				<p:outputLabel for="idModalitaSpedizione_MCA" value="Modalità di spedizione" styleClass="generic_textBold"/>
				<p:outputLabel for="idModalitaSpedizione_MCA" value="*" class="generic_redStar generic_textBold"/>
			</div>
			<div class="ui-g-4">
				<p:selectOneMenu id="idModalitaSpedizione_MCA" value="#{InoltraMailDaCodaAttivaBean.modalitaSpedizioneMail}" styleClass="obbligatorio">
					<f:selectItems value="#{moddalitaSpedizioneEnum.ALL_MODALITA_SPEDIZIONE}" var="ms" itemValue="#{ms.value}" itemLabel="#{ms.label}" />
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		
		<p:outputPanel id="pnlDestinatari_IMDCA" >
			<rubrica:destinatariInputTable bean="#{InoltraMailDaCodaAttivaBean.destinatariComponent}" />
		</p:outputPanel>
		
		<!-- Testo predefinito -->
		<red:oggettoTestoMail bean="#{InoltraMailDaCodaAttivaBean.mailComponent}" />
		
		<red:documentiAllegabiliSelectableTable bean="#{InoltraMailDaCodaAttivaBean.allegabiliComponent}" hideCounter="false" />
		
		<p:outputPanel styleClass="ui-g-12 buttonsDiv generic_textAlignCenter">
			<p:commandButton id="btnInoltraMailDaCodaLavoro_registra" icon="fa fa-pencil" value="Registra" action="#{InoltraMailDaCodaAttivaBean.registra()}" update="@form:idDlgShowResult" styleClass="generic-with-auto" />
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InoltraMailDaCodaAttivaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="uniqueCloseButton generic-with-auto" />
			<p:defaultCommand target="@form:btnInoltraMailDaCodaLavoro_registra" scope="@form:idDlgGeneric" />
		</p:outputPanel>
		
		
	</p:outputPanel>
</ui:composition>