<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:panel id="idPnlModificaIter" widgetVar="wdgModificaIter" styleClass="generic_noborder generic_no_background generic_width500px generic_padding4px" > 
		
		<!-- panel per la gestione dei flag -->
		<p:panel id="idPanelGetioneChk" styleClass="generic_noborder generic_paddingLeft6px">

			<!-- chk per la gestione iter manuale -->
			<!-- <p:outputLabel value="Manuale" /> -->
			<p:selectBooleanCheckbox value="#{ModificaIterBean.flagIterManuale}" itemLabel="Manuale"  >
				<p:ajax update="centralSectionForm:idPnlModificaIter"/><!-- NB: è senza listener perche' serve solo per fare l'update di tutta la dialog -->
			</p:selectBooleanCheckbox>
			

			<!-- chk per la gestione flag Urgente -->
			<!-- <p:outputLabel value="Urgente" /> -->
			<p:selectBooleanCheckbox value="#{ModificaIterBean.flagUrgente}" itemLabel="Urgente"/>

			<!-- chk per la gestione flag Urgente -->
			<!-- <p:outputLabel value="Firma digitale RGS" rendered="true" /> -->
			<p:selectBooleanCheckbox value="#{ModificaIterBean.flagFirmaDigitaleRGS}" itemLabel="Firma digitale RGS" rendered="#{ModificaIterBean.enableFirmaDigitaleRGS}"/>
		
		</p:panel>
		
		<!-- panel per la gestione cambio iter automatico -->		
		<p:panel id="idPnlIterAuto" rendered="#{!ModificaIterBean.flagIterManuale}" styleClass="generic_noborder generic_nobackground">
			<div class="ui-g">
				<div class="ui-g-4">
					<p:outputLabel for="idSelectIterApprovativo" value="Iter approvativo " styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-8">
					<p:selectOneMenu id="idSelectIterApprovativo" value="#{ModificaIterBean.idIterApprovativoSelected}" styleClass="textfield_dropdown">
						<p:ajax update="centralSectionForm:idPanelGetioneChk, centralSectionForm:idPnlIterAuto" listener="#{ModificaIterBean.onChangeIterApprovativo}"/>
						<f:selectItems value="#{ModificaIterBean.iterApprovativoList}" var="iter" itemValue="#{iter.idIterApprovativo}" itemLabel="#{iter.descrizione}"/>
					</p:selectOneMenu>
				</div>
			</div>
			<p:outputPanel styleClass="ui-g" rendered="#{ModificaIterBean.iterApprovativoSelected.tipoFirma gt 1 and fn:length(ModificaIterBean.coordinatoriList) gt 0}">
				<div class="ui-g-4" >
					<p:outputLabel for="idSelectIterApprovativo" value="Coordinatore " styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-8">
					<p:selectOneMenu id="idSelectCoordinatori" value="#{ModificaIterBean.idCoordinatoreSelected}" styleClass="textfield_dropdown">
						<f:selectItem itemLabel="[Seleziona Coordinatore]" itemValue="" />  
						<f:selectItems value="#{ModificaIterBean.coordinatoriList}" var="coord" itemValue="#{coord.id}" itemLabel="#{coord.nome} #{coord.cognome}"/>
					</p:selectOneMenu>
				</div>
			</p:outputPanel>
		</p:panel>

		<!-- panel per la gestione cambio iter manuale -->
		<p:panel id="idPnlIterManuale" rendered="#{ModificaIterBean.flagIterManuale}" styleClass="generic_noborder">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-4">
					<p:outputLabel for="idSelectTipoAssegnazione" value="Tipo assegnazione" styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-8">
					<p:selectOneMenu id="idSelectTipoAssegnazione" value="#{ModificaIterBean.tipoAssegnazioneSelected}" styleClass="textfield_dropdown" >
						<p:ajax listener="#{ModificaIterBean.changeAssegnazione}" update="centralSectionForm:idPanelGetioneChk, centralSectionForm:idPnlIterAuto, IterManualeRenderInput" />
						<f:selectItems value="#{ModificaIterBean.tipiAssegnazioniList}" var="assgnazione" itemValue="#{assgnazione}" itemLabel="#{assgnazione.descrizione}" />
					</p:selectOneMenu>
				</div>
			</p:outputPanel>
			
			<p:outputPanel id="IterManualeRenderInput">
				<p:outputPanel rendered="#{ModificaIterBean.showOrganigrammaSelection}" styleClass="ui-g">
					<div class="ui-g-4">
						<p:outputLabel for="idSelectTipoAssegnazione" value="Assegnatario" styleClass="generic_textBold"/>
						<p:outputLabel value="*" styleClass="generic_redStar"/>
					</div>
					<div class="ui-g-8">
						<div class="ui-inputgroup obbligatorio">
							<p:inputText id="idAssegnatarioModificaIter" value="#{ModificaIterBean.descrizioneNewAssegnazione}" readonly="true" styleClass="obbligatorio-readonly generic_width72"/>
							<p:commandButton id="idButtonOrgModIter" icon="fa fa-sitemap" ajax="true" action="#{ModificaIterBean.loadTreeAssegnazioneIterManuale}"
								 update="centralSectionForm:idOrgModificaIterForm:idOrgModificaIter"  title="Organigramma"/>
							<p:commandButton id="idButtonPulisciModIter" action="#{ModificaIterBean.clearAssegnazione}" icon="fa fa-eraser" title="Pulisci Selezione" update="idAssegnatarioModificaIter"/>
						</div>
					</div>
				
					<p:overlayPanel widgetVar="idOrgOverlayModificaIter" for="idButtonOrgModIter">
						<h:form id="idOrgModificaIterForm">	
							<div class="dmd-tree-panel generic_textAlignLeft">
								<p:tree value="#{ModificaIterBean.root}" var="nodo" dynamic="true" selectionMode="single" id = "idOrgModificaIter" styleClass="dmd-tree">
								<p:ajax event="select" update="centralSectionForm:idAssegnatarioModificaIter" listener="#{ModificaIterBean.onSelectTreeAssIterManuale}" 
									oncomplete="PF('idOrgOverlayModificaIter').hide()"/>		
								<p:ajax event="expand" listener="#{ModificaIterBean.onOpenTreeAssIterManuale}"/>	        	
									<p:treeNode >
										<p:graphicImage rendered="#{nodo.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
										<p:outputLabel rendered="#{nodo.idUtente == null}" value=" #{nodo.descrizioneNodo}"/>
										
										<p:graphicImage rendered="#{nodo.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
										<p:outputLabel rendered="#{nodo.idUtente != null}" value=" #{nodo.cognomeUtente}"/>
										<p:outputLabel rendered="#{nodo.idUtente != null}" value=" #{nodo.nomeUtente}"/>
									</p:treeNode>
								</p:tree>
							</div>
				 		</h:form>
				 		<iframe class="cover" src="about:blank" title="Frame modifica iter"></iframe>
					</p:overlayPanel>
				</p:outputPanel>
			
				<p:panel rendered="#{ModificaIterBean.showCopiaConforme}" styleClass="generic_noborder ui-g">
					<div class="ui-g-4">
						<p:outputLabel for="idSelectTipoAssegnazione" value="Responsabile" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-8">
						<p:selectOneMenu styleClass="textfield_dropdown" value="#{ModificaIterBean.responsabileCopiaConformeObj}">
							<f:selectItems value="#{ModificaIterBean.comboResponsabileCopiaConforme}" 
								var="r" itemLabel="#{r.descrizioneNodo} - #{r.nome} #{r.cognome}" itemValue="#{r}" />
						</p:selectOneMenu>
					</div>
				</p:panel>
			</p:outputPanel>
		</p:panel>
	</p:panel>
	
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
		<p:commandButton id="registraModIter" icon="fa fa-pencil" value="Registra" action="#{ModificaIterBean.checkEResponse}"  styleClass="generic_width100" />
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ModificaIterBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraModIter" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	

	
</ui:composition>