<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:outputPanel id="modDecretiPnl" widgetVar="wdgmodDecreti" styleClass="generic_noborder generic_no_background generic_width1200px">
		
		<red:iAssociazioniDecretiResponse id="modDecretiView" bean="#{ModificaAssociazioniDecretiBean}" />
	
		<p:panelGrid columns="3" layout="grid" rendered="#{ModificaAssociazioniDecretiBean.flagMettiAgliAtti}"
		 styleClass="buttonsDiv buttonsLayout ui-panelgrid-blank generic_noborder" columnClasses="ui-g-4,ui-g-4,ui-g-4" >
			 <p:commandButton icon="fa fa-pencil" value="Metti Agli Atti" styleClass="generic_width100" 
			  action="#{ModificaAssociazioniDecretiBean.mettiAgliAtti}" oncomplete="PF('dlgGeneric').hide();PF('dlgShowResult').show()" update="centralSectionForm:idDlgShowResult" >
       		 	<p:confirm header="Messa agli atti" message="Chiudere definitivamente la dichiarazione?"  />
    		</p:commandButton>
			<p:commandButton id="modAssBtn0" icon="fa fa-pencil" value="Modifica Associazioni" styleClass="generic_width100"
				action="#{ModificaAssociazioniDecretiBean.doResponse}"
				oncomplete="PF('dlgShowResult').show()"
				onclick="PF('dlgGeneric').hide()"
				update="centralSectionForm:idDlgShowResult" />
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ModificaAssociazioniDecretiBean')}"
				onclick="PF('dlgGeneric').hide()" />
				<p:defaultCommand target="@form:modAssBtn0" scope="@form:idDlgGeneric" />
		</p:panelGrid>
		
		<p:panelGrid columns="2" layout="grid" rendered="#{not ModificaAssociazioniDecretiBean.flagMettiAgliAtti}"
		 styleClass="buttonsDiv buttonsLayout ui-panelgrid-blank generic_noborder" columnClasses="ui-g-6,ui-g-6" >
			<p:commandButton id="modAssBtn" icon="fa fa-pencil" value="Modifica Associazioni" styleClass="generic_width100"
				action="#{ModificaAssociazioniDecretiBean.doResponse}"
				oncomplete="PF('dlgShowResult').show()"
				onclick="PF('dlgGeneric').hide()"
				update="centralSectionForm:idDlgShowResult" />
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ModificaAssociazioniDecretiBean')}"
				onclick="PF('dlgGeneric').hide()" />
			<p:defaultCommand target="@form:modAssBtn" scope="@form:idDlgGeneric" />
		</p:panelGrid>
		
	</p:outputPanel>
	
  
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" rendered="#{ModificaAssociazioniDecretiBean.flagMettiAgliAtti}">
        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes"  />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"  />
    </p:confirmDialog>      

</ui:composition>