<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:panel id="idPanelMettiInConoscenza" widgetVar="wdgMettiInConoscenzaPanel" styleClass="generic_noborder generic_no_background generic_padding5"> 
		 <p:outputPanel class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse ? 'Assegnatari per conoscenza' : 'Aggiungi assegnatari per conoscenza'}" styleClass="generic_textBold generic_textAlignLeft"/>
				<p:outputLabel value="*" class="generic_redStar" rendered="#{respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse}"/>
			</div>
			<div class="ui-g-8 #{(respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse) ? 'obbligatorio' : ''}">
				<red:multiAssegnazione multiAssegnazioneBean="#{MettiInConoscenzaBean.assegnazioneBean}"/>
			</div>
		</p:outputPanel>			
		
		<p:outputPanel class="ui-g" rendered="#{respRedEnum.METTI_IN_CONOSCENZA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">	
			<div class="ui-g-4">			
				<p:outputLabel value="Motivo assegnazione" for="idMotivoMettiInConoscenza" styleClass="generic_textBold"/>
				<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idMotivoMettiInConoscenza" value="#{MettiInConoscenzaBean.motivoAssegnazioneNew}" rows="3" styleClass="generic_width97"/>
			</div>
			<div class="ui-g-4">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
			</div>
			<div class="ui-g-8">
				<p:selectOneRadio value="#{MettiInConoscenzaBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
	</p:panel>	
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder" rendered="#{respRedEnum.METTI_IN_CONOSCENZA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<p:commandButton id="registraMettiInConoscenza" icon="fa fa-pencil" value="Registra" action="#{MettiInConoscenzaBean.checkEResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('dlgGeneric').hide()" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('MettiInConoscenzaBean')}" styleClass="generic_width100 uniqueCloseButton"/>
		<p:defaultCommand target="@form:registraMettiInConoscenza" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>