<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="nonVerificatoPnl" widgetVar="wdgNonVerificato" styleClass="generic_noborder generic_no_background generic_padding5 generic_width380px"> 
		<p:outputPanel id="nonVerificatoMessage" styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel for="idNonVerificatoMessage" value="Messaggio" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idNonVerificatoMessage" rows="4" value="#{NonVerificatoBean.message}" styleClass="generic_width97"/>
			</div>
		</p:outputPanel>
	</p:panel>
	
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraNonVerificato" icon="fa fa-pencil" value="Registra" action="#{NonVerificatoBean.verificatoResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('NonVerificatoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraNonVerificato" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>