<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:outputPanel styleClass="generic_textBold generic_margin3px" >
		<h:outputText value="Selezionare il documento su cui ribaltare i metadati" rendered="#{fn:length(PredisponiDocumentoBean.allacci) gt 1}"/>
	</p:outputPanel>
	
	<p:dataTable var="a" value="#{PredisponiDocumentoBean.allacci}" id="idPredisponiDocTable_DLGP" rowIndexVar="index" 
		rowKey="#{a.idDocumentoAllacciato}" selection="#{PredisponiDocumentoBean.docSelected}" styleClass="generic_maxwidth600px">
		<p:ajax event="rowSelectRadio" listener="#{PredisponiDocumentoBean.onRowSelectRadio}" update="@this"/>
		
		<p:column selectionMode="single" styleClass="generic_width16px generic_textAlignCenter"/>
		
		<p:column headerText="Documento" styleClass="generic_textAlignCenter">
			<p:outputLabel value="#{a.numDocumento}"/>
		</p:column>
		
		<p:column headerText="Anno" styleClass="generic_textAlignCenter">
			<p:outputLabel value="#{a.annoProtocollo}"/>
		</p:column>
 
		<p:column headerText="Numero" styleClass="generic_textAlignCenter">
			<p:outputLabel value="#{a.numeroProtocollo}"/>
		</p:column>

		<p:column headerText="Chiudere" styleClass="generic_textAlignCenter generic_width60px">
			<p:selectBooleanCheckbox value="#{a.documentoDaChiudere}" styleClass="generic_centra" disabled="#{a.disabled}"/>
		</p:column>
	</p:dataTable>

	<div class="buttonsDiv buttonsLayout">
		<p:commandButton icon="fa fa-pencil" value="Ok" action="#{PredisponiDocumentoBean.predisponi}" onclick="PF('dlgGeneric').hide()" oncomplete="PF('dlgManageDocument_RM').show();"/>
		<p:commandButton icon="fa fa-check" value="Chiudi tutti" action="#{PredisponiDocumentoBean.chiudiTutti}" update="@form:idPredisponiDocTable_DLGP"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('PredisponiDocumentoBean')}" onclick="PF('dlgGeneric').hide()" update="idDettagliEstesiForm:idPanelDocumentManager" styleClass="uniqueCloseButton" />
	</div>
	
</ui:composition>