<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>

	<p:outputPanel id="idPanelPredisposizioneFirmaAutografa" widgetVar="wdgPredisposizioneFirmaAutografaPanel" styleClass="generic_noborder generic_no_background generic_width350px" > 
	
		<div class="ui-g">
			<p:outputLabel value="Il documento verrà predisposto per la firma autografa. Premere il tasto Registra per procedere o Chiudi per annullare."/>
		</div>
		
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder buttonsDiv"	columnClasses="ui-grid-col-6,ui-grid-col-6">
			<p:commandButton id="registraPredAutografa" icon="fa fa-pencil" value="Registra" styleClass="generic_width100" 
				action="#{PredisposizioneFirmaAutografaBean.doResponse()}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('PredisposizioneFirmaAutografaBean')}" styleClass="generic_width100 uniqueCloseButton" onclick="PF('dlgGeneric').hide()"/>
			<p:defaultCommand target="@form:registraPredAutografa" scope="@form:idDlgGeneric" />
		</p:panelGrid>
		
	</p:outputPanel>
</ui:composition>