<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/fepa"
	>
	
	<p:panel id="idDocumentManagerContent_PDSR" styleClass="generic_padding0 generic_margin0 generic_noborder generic_height100 ddocumento-dlg-panel">
	
		<!-- DESTINATARI INTERNI -->
	    <p:dataTable var="destinatario" styleClass="generic_marginBottom" value="#{PredisponiDichiarazioneBean.detail.destinatari}" emptyMessage="Nessun destinatario interno">
	        <p:column headerText="Destinatari Interni">
	            <h:outputText value="#{destinatario.contatto.aliasContatto}"/>
	        </p:column>    
	    </p:dataTable>	
		<!-- DESTINATARI INTERNI FINE -->
	
		<!-- OGGETTO END -->
		<div class="generic_padding0 generic_marginBottom generic_marginTop">
			<p:tabView styleClass="generic_borderTabs" id="idTabs_PDSR">
				<p:tab title="Generale">
					<ui:include src="../fepa/dichiarazioneServiziResiPredisponiTabGenerale.xhtml"/>
				</p:tab>
				<!-- 
					Attenzione questo tab non è sempre vuoto ma solo se l'utente che esegue la predisposizione non ha il permesso per vedere il fascicolo.
				 -->
				<p:tab title="Fascicoli" disabled="true">
					<red:tabFascicoli bean="#{PredisponiDichiarazioneBean.tabFascicoli}"/>
				</p:tab>
				<p:tab title="Allegati">
					<red:tabAllegati bean="#{PredisponiDichiarazioneBean.tabAllegati}"/>
				</p:tab>
			</p:tabView>
		</div>
		
		<div class="generic_textAlignRight dmd-marginBottom">
			<p:commandButton id="registraPredDich" action="#{PredisponiDichiarazioneBean.registra}" value="Registra" icon="fa fa-save" validateClient="true" styleClass=""/>
			<p:commandButton value="Chiudi" icon="fa fa-times" action="#{PredisponiDichiarazioneBean.close()}" onclick="PF('dlgGeneric').hide()" styleClass="uniqueCloseButton"/>

		</div>
				
	</p:panel>
	
</ui:composition>