<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
	
	
	<p:panel id="riattivaProcedimentoPnl" widgetVar="wdgRiattivaProcedimento" styleClass="generic_noborder generic_no_background generic_width500px" > 
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-g-5, ui-g-7">
			<p:outputLabel value="Messaggio Riattivazione" styleClass="generic_textBold" />
			<p:inputTextarea id="idRiattivaProcedimento" value="#{RiattivaProcedimentoBean.messaggioRiattivazione}" rows="4" styleClass="text-area"/>
		</p:panelGrid>
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-g-6,ui-g-6">
			<p:commandButton id="riattivaBtn" icon="fa fa-pencil" value="Registra" action="#{RiattivaProcedimentoBean.riattivaProcedimentoResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RiattivaProcedimentoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
			<p:defaultCommand target="@form:riattivaBtn" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>