<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	
<p:importEnum type="it.ibm.red.business.enums.ResponsesRedEnum" var="respRedEnum" />

<p:panel id="richiediContributoPnl" widgetVar="wdgRichiediContributo" styleClass="generic_noborder generic_no_background generic_padding5" > 
	
	<p:outputPanel styleClass="generic_noborder" rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO ne RichiediContributoBean.responseType and (respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse)}">
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel styleClass="generic_textBold" value="#{respRedEnum.RICHIEDI_CONTRIBUTO_INTERNO eq RichiediContributoBean.responseType ? 'Ufficio Responsabile del contributo' : 'Nuova assegnazione per contributo'}" />
				<p:outputLabel value="*" styleClass="generic_redStar" rendered="#{respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse}"/>	
			</div>
			<div class="ui-g-8 #{(respRedEnum.ASSEGNA_NUOVA ne ListaDocumentiBean.selectedResponse) ? 'obbligatorio' : ''}">
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatarioBean}" single="true" />
			</div>
		</p:outputPanel>
	</p:outputPanel>
	
	<p:outputPanel styleClass="generic_noborder">
		<p:outputPanel styleClass="ui-g" rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
			<div class="ui-g-3">	
				<p:outputLabel value="Nuova assegnazione per contributo" styleClass="generic_textBold"/>
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</div>
			<div class="ui-g-9 obbligatorio">
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatarioBean}" single="true" obbligatorio="true" />
			</div>
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g">
			<div class="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse ? 'ui-g-4' : 'ui-g-3'}">
				<p:outputLabel value="Assegnatari per contributo" styleClass="generic_textBold" />	
			</div>
			<div class="#{respRedEnum.ASSEGNA_NUOVA eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse ? 'ui-g-8' : 'ui-g-9'}">
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatariBean}" />
			</div>
		</p:outputPanel>
	</p:outputPanel>
	
	<p:outputPanel styleClass="ui-g margin-Top2Percent" rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<div id="richiediContributoUtente" class="ui-g-2">
			<p:outputLabel for="idRichiediContributoMessage" value="Messaggio" styleClass="generic_textBold" />
		</div>
		<div class="ui-g-10">
			<p:inputTextarea id="idRichiediContributoMessage" value="#{RichiediContributoBean.message}" rows="3" styleClass="generic_width98"  />
		</div>
		<div class="ui-g-1">
			<span title="Urgente" class="fa fa-exclamation-circle crimson generic_positionRelative" />
		</div>
		<div class="ui-g-1" >
			<p:selectBooleanCheckbox label="Urgente" value="#{RichiediContributoBean.isUrgente}" />
		</div>
		<div class="ui-g-4 generic_textAlignRight">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
		</div>
		<div class="ui-g-6">
			<p:selectOneRadio value="#{RichiediContributoBean.alsoStorico}" >
				<f:selectItem itemLabel="Si" itemValue="true"  />
				<f:selectItem itemLabel="No" itemValue="false" />
			</p:selectOneRadio>
		</div>	
	</p:outputPanel>
		
	<p:panelGrid columns="2" layout="grid" styleClass="buttonsDiv buttonsLayout ui-panelgrid-blank generic_noborder" columnClasses="ui-g-6,ui-g-6" rendered="#{respRedEnum.RICHIEDI_CONTRIBUTO eq ListaDocumentiBean.selectedResponse and ListaDocumentiBean.renderResponse}">
		<p:commandButton id="registraRichiediContr" icon="fa fa-pencil" value="Registra" styleClass="generic_width100" action="#{RichiediContributoBean.contributoResponse}" update="centralSectionForm:idDlgShowResult" />
		<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="generic_width100 uniqueCloseButton" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RichiediContributoBean')}" onclick="PF('dlgGeneric').hide()" />
		<p:defaultCommand target="@form:registraRichiediContr" scope="@form:idDlgGeneric"/>
	</p:panelGrid>
	
</p:panel>
	
</ui:composition>