<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	
<!--	ASSEGNATARI PER CONOSCENZA START -->
	<p:panel id="idPanelRichiediVistoIspettore" widgetVar="wdgRichiediVistoIspettorePanel" styleClass="generic_noborder generic_no_background generic_padding5 generic_width400px" > 
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel value="Messaggio" styleClass="generic_textBold" />
				<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea value="#{RichiediVistoIspettoreBean.motivoAssegnazione}" rows="3" styleClass="generic_width96" />
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraRichVistoIsp" icon="fa fa-pencil" value="Registra" action="#{RichiediVistoIspettoreBean.doResponse()}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100" />
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RichiediVistoIspettoreBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton"/>
		<p:defaultCommand target="@form:registraRichVistoIsp" scope="@form:idDlgGeneric" />
	</p:panelGrid>


</ui:composition>
