<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:panel id="richiediSollecitoPnl" widgetVar="wdgRichiediSollecito" styleClass="generic_noborder generic_no_background generic_width380px">
		
		<p:panel styleClass="generic_noborder">
			<p:outputPanel styleClass="ui-g">
				<p:outputPanel styleClass="ui-g-12 textAlignCenter">
					<p:outputLabel for="idDestinatari_pnlRichiediSollecito" styleClass="generic_textBold">ELENCO DESTINATARI</p:outputLabel>
				</p:outputPanel>
				
				<p:outputPanel id="idDestinatari_pnlRichiediSollecito" styleClass="ui-g-12">
					<p:dataTable id="dtDestinariSollecito" var="mapDest" value="#{RichiediSollecitoBean.destinatariContributiDTH.masters}" rowKey="#{mapDest.key}"
						rows="5" paginator="#{fn:length(RichiediSollecitoBean.destinatariContributiDTH.masters) gt 5}" rowsPerPageTemplate="5,10,15"
					 	paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					 	paginatorAlwaysVisible="false" paginatorPosition="bottom" styleClass="dataTable generic_tableNoHeader generic_textAlignCenter"
					 	emptyMessage="Nessun Destinatario Elettronico Presente">
					 	
					 	<p:column id="selMultiColDestinariSollecito" styleClass="dtSelectAllColumn">
					  		 <p:selectBooleanCheckbox id="singleSelectDestinariSollecito" 
								title="#{mapDest.selected ? 'Deseleziona' : 'Seleziona'} destinatario #{mapDest.value.contatto.aliasContatto}" value="#{mapDest.selected}">
								<p:ajax event="change" listener="#{RichiediSollecitoBean.updateSelected}" update="dtDestinariSollecito" process="@this"/>
					  		 </p:selectBooleanCheckbox>
						</p:column>
						
						<p:column headerText="">
							<h:outputText value="#{mapDest.key}"/>
						</p:column>
					</p:dataTable>
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>
		
		<p:outputPanel class="buttonsDiv buttonsLayout">
			<p:commandButton icon="fa fa-pencil" value="Registra" action="#{RichiediSollecitoBean.executeResponse}" update="centralSectionForm:idDlgShowResult"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" styleClass="uniqueCloseButton"  
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RichiediSollecitoBean')}" onclick="PF('dlgGeneric').hide()"/>
		</p:outputPanel>
	</p:panel>
	
</ui:composition>