<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	<p:panel id="richiediVerificaPnl" widgetVar="wdgRichiediVerifica" styleClass="generic_noborder generic_no_background generic_padding5 generic_width380">
		<p:outputPanel id="numDocumentiPerRichiediVerifica" styleClass="generic_textAlignCenter margin-Top2Percent"
					   rendered="#{fn:length(RichiediVerificaBean.documentiSelezionati) gt 1}">
			<span class="fa fa-info-circle generic_marginRight5px" ></span>
			<p:outputLabel value="L'operazione verrà eseguita su #{fn:length(RichiediVerificaBean.documentiSelezionati)} documenti."/>
		</p:outputPanel> 
		<p:outputPanel styleClass="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Assegnatario per verifica" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</div>
			<div class="ui-g-8">
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiediVerificaBean.assegnazioneBean}" single="true" />
			</div>
		</p:outputPanel>

		<p:outputPanel styleClass="ui-g margin-Top2Percent">
			<div id="siglaERichiediVisti" class="ui-g-4">
				<p:outputLabel for="idRichiediVerificaMessage" value="Messaggio" styleClass="generic_textBold"  />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idRichiediVerificaMessage" value="#{RichiediVerificaBean.motivoAssegnazione}" rows="3" styleClass="generic_width96" />
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
			<p:commandButton id="registraRichVerif" icon="fa fa-pencil" value="Registra" action="#{RichiediVerificaBean.checkEResponse}" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" action="#{ListaDocumentiBean.destroyBeanViewScope('RichiediVerificaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton"/>
			<p:defaultCommand target="@form:registraRichVerif" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>
