<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	
<!--	ASSEGNATARI PER CONOSCENZA START -->
	<p:panel id="idPanelRichiediVisti" widgetVar="wdgRichiediVistiPanel" styleClass="generic_noborder generic_no_background generic_width520px generic_padding5"> 
		<div class="ui-g">
			<div class="ui-g-4 generic_textAlignLeft">
				<p:outputLabel value="Assegnatari per visto" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</div>
			<div class="ui-g-8 obbligatorio">		
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiediVistiBean.assegnatariBean}" />
			</div>
		</div>
<!-- 		ASSEGNATARI PER CONOSCENZA END -->

		<p:outputPanel styleClass="ui-g" >
				<div class="ui-g-4">
					<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold" />
					<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
				</div>
				<div class="ui-g-8">
					<p:inputTextarea  value="#{RichiediVistiBean.motivoAssegnazione}" rows="3" styleClass="generic_width97"/>
				</div> 
		</p:outputPanel>
	</p:panel>
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
		<p:commandButton id="registrRichVisti" icon="fa fa-pencil" value="Registra" action="#{RichiediVistiBean.checkEResponse()}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('dlgGeneric').hide()" actionListener="#{RichiediVistiBean.destroyBean()}" styleClass="generic_width100 uniqueCloseButton"/>
		<p:defaultCommand target="@form:registrRichVisti" scope="@form:idDlgGeneric" />
	</p:panelGrid>


</ui:composition>
