<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	<p:panel id="richiediContributoUtentePnl" widgetVar="wdgRichiediContributoUtente" styleClass="generic_noborder generic_no_background widthDialogPanel"> 
		<p:panel styleClass="generic_noborder">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-4">	
					<p:outputLabel value="Nuova assegnazione per contributo" styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_redStar"/>
				</div>
				<div class="ui-g-8 obbligatorio">
					<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatarioBean}" single="true" />
				</div>
			</p:outputPanel>
		
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-4 generic_textAlignLeft">
					<p:outputLabel value="Assegnatario per contributo" styleClass="generic_textBold" />
				</div>
				<div class="ui-g-8">
					<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatariBean}" />
				</div>
			</p:outputPanel>
		</p:panel>
		
		<p:outputPanel styleClass="ui-g margin-Top2Percent">
			<div id="richiediContributoUtente" class="ui-g-4">
				<p:outputLabel for="idRichiediContributoUtenteMessage" value="Messaggio" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idRichiediContributoUtenteMessage" value="#{RichiediContributoBean.message}" rows="3" styleClass="generic_width98"/>
			</div>
			<div class="ui-g-1">
				<span title="Urgente" class="fa fa-exclamation-circle crimson generic_positionRelative" />
			</div>
			<div class="ui-g-1" >
				<p:selectBooleanCheckbox id="urgenteUtenteFlag" label="Urgente" value="#{RichiediContributoBean.isUrgente}" />
			</div>
			<div class="ui-g-4 generic_textAlignRight">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
			</div>
			<div class="ui-g-6">
				<p:selectOneRadio value="#{RichiediContributoBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>	
		</p:outputPanel>
		
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
			<p:commandButton id="registraRichContrUt" icon="fa fa-pencil" value="Registra" action="#{RichiediContributoBean.contributoResponse}" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RichiediContributoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
			<p:defaultCommand target="@form:registraRichContrUt" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>