<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>

	
<!--	ASSEGNATARI PER CONOSCENZA START -->
	<p:panel styleClass="generic_noborder generic_no_background generic_width446px" > 
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-4">
					<p:outputLabel value="Assegnatari per visto " styleClass="generic_textBold" />
					<p:outputLabel value="*" styleClass="generic_redStar"/>
				</div>
				<div class="ui-g-8 obbligatorio">
					<red:multiAssegnazione multiAssegnazioneBean="#{RichiediVistoUfficioBean.assegnazioneBean}" />
				</div>
			</p:outputPanel>
<!-- 		ASSEGNATARI PER CONOSCENZA END -->

			<p:outputPanel styleClass="ui-g" >
				<div class="ui-g-4">
					<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold"/>
					<span class="fa fa-warning" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
				</div>
				<div class="ui-g-8">
					<p:inputTextarea  value="#{RichiediVistoUfficioBean.motivoAssegnazioneNew}" rows="3" styleClass="generic_input95" />
				</div> 
			</p:outputPanel>
		
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
				<p:commandButton id="registraRichVistUfficio" icon="fa fa-pencil" value="Registra" action="#{RichiediVistoUfficioBean.doResponse()}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('dlgGeneric').hide()" action="#{RichiediVistoUfficioBean.destroyBean()}" styleClass="generic_width100 uniqueCloseButton" />
				<p:defaultCommand target="@form:registraRichVistUfficio" scope="@form:idDlgGeneric" />
			</p:panelGrid>
	</p:panel>


</ui:composition>
