<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>

	<p:importEnum type="it.ibm.red.business.enums.BooleanFlagEnum" var="booleanEnum" allSuffix="ALL_ENUM_VALUES" />
	
<!--	ASSEGNATARI PER CONOSCENZA START -->
	<p:panel id="idPanelRichiestaVisti" widgetVar="wdgRichiestaVistiPanel" styleClass="generic_noborder generic_no_background generic_width520px" > 
		<p:outputPanel styleClass="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Assegnatari per visto " styleClass="generic_textBold"/>
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</div>
			<div class="ui-g-8">
				<red:multiAssegnazione multiAssegnazioneBean="#{RichiestaVistiBean.assegnazioneBean}" obbligatorio="true"/>
			</div>
		</p:outputPanel>
<!-- 		ASSEGNATARI PER CONOSCENZA END -->

		<p:outputPanel styleClass="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold" />
				<span class="fa fa-warning" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div id="idMotivoRichiestaVisti" class="ui-g-8">
				<p:inputText  value="#{RichiestaVistiBean.motivoAssegnazioneNew}" styleClass="generic_width96" />
			</div>
		</p:outputPanel>
		<p:outputPanel rendered="#{SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO and ListaDocumentiBean.dataAttivazioneGiroVistiDelegato!=null and RichiestaVistiBean.selectedDocument.dataCreazioneWF gt ListaDocumentiBean.dataAttivazioneGiroVistiDelegato}" styleClass="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Destinatario" styleClass="generic_textBold" />
				<span class="fa fa-info-circle" title="Con questa selezione si dichiara l'utente a cui, al termine del giro visti, tornerà il documento."/>
			</div>
			<div  class="ui-g-8 ui-fluid">
				<p:selectOneMenu widgetVar="wdgDestDelega" value="#{RichiestaVistiBean.isDestDelegato}" styleClass="generic_width96" > 
		            <f:selectItem itemLabel="Libro firma delegante" itemValue="#{booleanEnum.NO}" />
		            <f:selectItem itemLabel="Libro firma delegato" itemValue="#{booleanEnum.SI}" />
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
			<p:commandButton id="registraRichVisti" icon="fa fa-pencil" value="Registra" action="#{RichiestaVistiBean.checkEResponse()}" styleClass="generic_width100" />
			<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('dlgGeneric').hide()" action="#{RichiestaVistiBean.destroyBean()}" styleClass="generic_width100 uniqueCloseButton"/>
			<p:defaultCommand target="@form:registraRichVisti" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>

</ui:composition>
