<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel widgetVar="wdgRifiuta" styleClass="generic_noborder generic_no_background generic_padding5 generic_width380px" > 
		
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		<p:outputPanel styleClass="ui-g">
			<p:outputPanel styleClass="ui-g-4">
				<p:outputLabel for="idMotivoRifiuto" value="Motivazione Rifiuto" styleClass="generic_textBold"/>
				<p:outputLabel for="idMotivoRifiuto" value="*" class="generic_redStar generic_textBold" rendered="#{RifiutaBean.motivoRifiutoObbligatorio}"/>
			</p:outputPanel>
			<p:outputPanel styleClass="#{RifiutaBean.motivoRifiutoObbligatorio ? 'ui-g-8 obbligatorio' : 'ui-g-8'}">
				<p:inputTextarea id="idMotivoRifiuto" value="#{RifiutaBean.motivoRifiuto}" rows="3" 
					styleClass="#{RifiutaBean.motivoRifiutoObbligatorio ? 'generic_width97 campoObbligatorio' : 'generic_width97'}"/>
			</p:outputPanel>
			<div class="ui-g-4  generic_textAlignLeft">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-8">
				<p:selectOneRadio value="#{RifiutaBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
	</p:panel>

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraRifiuta" icon="fa fa-pencil" value="Registra" action="#{RifiutaBean.rifiutaResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RifiutaBean')}" onclick="PF('dlgGeneric').hide()" 
			styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraRifiuta" scope="@form:idDlgGeneric"/>
	</p:panelGrid>
	
</ui:composition>