<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	<p:panel id="richiestaContributoPnl" widgetVar="wdgRichiestaContributo" styleClass="generic_noborder generic_no_background generic_width380" > 
		<p:panel styleClass="generic_noborder">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-3">	
					<p:outputLabel value="Nuova assegnazione per contributo" styleClass="generic_textBold"/>
					<p:outputLabel value="*" styleClass="generic_redStar"/>
				</div>
				<div class="ui-g-9 obbligatorio">
					<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatarioBean}" single="true" obbligatorio="true" />
				</div>
			</p:outputPanel>
			
			<p:outputPanel  styleClass="ui-g">
				<div class="ui-g-3">
					<p:outputLabel value="Assegnatario per contributo" styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-9">
					<red:multiAssegnazione multiAssegnazioneBean="#{RichiediContributoBean.assegnatariBean}" />
				</div>
			</p:outputPanel>
		</p:panel>
		
		<p:outputPanel styleClass="ui-g margin-Top2Percent">
			<div id="richiestaContributo" class="ui-g-2">
				<p:outputLabel for="idRichiestaContributoMessage" value="Messaggio" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10">
				<p:inputText id="idRichiestaContributoMessage" value="#{RichiediContributoBean.message}" styleClass="textfield_input" />
			</div>
			<div class="ui-g-2">
				<p:outputLabel for="urgenteRichiestaFlag" value="Urgente" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-1" >
				<p:selectBooleanCheckbox id="urgenteRichiestaFlag" label="Urgente" value="#{RichiediContributoBean.isUrgente}" />
			</div>
			<div class="ui-g-4 generic_textAlignRight">
			<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
			</div>
			<div class="ui-g-5">
				<p:selectOneRadio value="#{RichiediContributoBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
		
		
		<p:outputPanel class="buttonsDiv buttonsLayout">
				<p:commandButton id="registraRichContr" icon="fa fa-pencil" value="Registra" action="#{RichiediContributoBean.contributoResponse}" update="centralSectionForm:idDlgShowResult"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RichiediContributoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="uniqueCloseButton" />
				<p:defaultCommand target="@form:registraRichContr" scope="@form:idDlgGeneric" />
		</p:outputPanel>
	</p:panel>
</ui:composition>