<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel style="border: none!important;">
		<p:outputLabel value="Il processo di firma ha avuto esito negativo, riprovare?" />
		<p:separator style="visibility:hidden;"/>
		<center>
			<p:commandButton value="Conferma" icon="fa fa-repeat" action="#{RetryBean.riprovaProcessoFirma}"/>
			<p:commandButton value="Annulla" icon="fa fa-times"  onclick="PF('dlgGeneric').hide();" styleClass="uniqueCloseButton" actionListener="#{RetryBean.chiudi}"/>
			
		</center>
	</p:panel>
	
</ui:composition>