<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel widgetVar="wdgRecall" styleClass="generic_noborder generic_no_background generic_padding5 generic_width380px" > 
		
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		<p:outputPanel styleClass="ui-g">
			<p:outputPanel styleClass="ui-g-4">
				<p:outputLabel for="idMotivoRecall" value="Motivazione" styleClass="generic_textBold"/>
				<p:outputLabel for="idMotivoRecall" value="*" class="generic_redStar generic_textBold" rendered="#{RecallBean.motivoRecallObbligatorio}"/>
			</p:outputPanel>
			<p:outputPanel styleClass="#{RecallBean.motivoRecallObbligatorio ? 'ui-g-8 obbligatorio' : 'ui-g-8'}">
				<p:inputTextarea id="idMotivoRecall" value="#{RecallBean.motivoRecall}" rows="3" 
					styleClass="#{RecallBean.motivoRecallObbligatorio ? 'generic_width97 campoObbligatorio' : 'generic_width97'}"/>
			</p:outputPanel>
		</p:outputPanel>
	</p:panel>

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraRecall" icon="fa fa-pencil" value="Registra" action="#{RecallBean.recallResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('RecallBean')}" onclick="PF('dlgGeneric').hide()" 
			styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraRecall" scope="@form:idDlgGeneric"/>
	</p:panelGrid>
	
</ui:composition>