<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	<p:panel id="siglaERichiediVistiPnl" widgetVar="wdgSiglaERichiediVisti" styleClass="generic_noborder generic_no_background generic_width500px" > 
		<p:outputPanel id="numDocumentiPerSiglaERichiediVisti" styleClass="generic_textAlignCenter margin-Top2Percent"
					   rendered="#{fn:length(SiglaERichiediVistiBean.documentiSelezionati) gt 1}">
			<span class="fa fa-info-circle generic_marginRight5px"></span>
			<p:outputLabel value="L'operazione verrà eseguita su #{fn:length(SiglaERichiediVistiBean.documentiSelezionati)} documenti."/>
		</p:outputPanel> 
		<p:outputPanel styleClass="ui-g">	
			<div class="ui-g-3">
				<p:outputLabel value="Assegnatario per visto" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_redStar"/>
			</div>
			<div class="ui-g-9 obbligatorio">
				<red:multiAssegnazione multiAssegnazioneBean="#{SiglaERichiediVistiBean.assegnazioneBean}" />
			</div>
		</p:outputPanel>

		<p:outputPanel styleClass="ui-g margin-Top2Percent">
			<div id="siglaERichiediVisti" class="ui-g-3">
				<p:outputLabel for="idSiglaERichiediVistiMessage" value="Messaggio" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-9">
				<p:inputTextarea id="idSiglaERichiediVistiMessage" value="#{SiglaERichiediVistiBean.motivoAssegnazione}" rows="3" styleClass="generic_input96" />
			</div>
		</p:outputPanel>
		
		
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
				<p:commandButton id="registraSiglaERichVisti" icon="fa fa-pencil" value="Registra" action="#{SiglaERichiediVistiBean.siglaERichiediVistiResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" action="#{ListaDocumentiBean.destroyBeanViewScope('SiglaERichiediVistiBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
				<p:defaultCommand target="@form:registraSiglaERichVisti" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>
