<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:panel widgetVar="wdgSelezionaDoc" styleClass="generic_noborder generic_no_background generic_padding5"> 

		<p:dataTable var="documento" widgetVar="documentiDTresponses" scrollable="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" rowIndexVar="index" 
					 id="idSelezionaDocTable" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="15,25" paginatorAlwaysVisible="true" emptyMessage="Nessun Documento selezionabile trovato." 
					 paginatorTemplate="TOT : #{fn:length(SelezionaDocumentoBean.documentiDTH.filteredMasters) > 0 ? fn:length(SelezionaDocumentoBean.documentiDTH.filteredMasters) : fn:length(SelezionaDocumentoBean.documentiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					 rowKey="#{documento.documentTitle}-#{documento.wobNumber}" selection="#{SelezionaDocumentoBean.documentiDTH.currentMaster}" sortMode="multiple" filteredValue="#{SelezionaDocumentoBean.documentiDTH.filteredMasters}" 
					 value="#{SelezionaDocumentoBean.documentiDTH.masters}" styleClass="generic_maxwidth900px">
			
			<p:ajax event="rowSelectRadio" listener="#{SelezionaDocumentoBean.onRowSelectRadio}" update="@this, centralSectionForm:idBtnConfermaSelect"/>
			
			<p:column selectionMode="single" styleClass="generic_width16px generic_textAlignCenter"  />
			
				
			<p:column exportable="true" toggleable="false" visible="true" sortBy="#{documento.documentTitle}" headerText="DESCRIZIONE" styleClass="dtDescCol generic-break-word" filterBy="#{documento.numeroDocumento} #{documento.oggetto} #{documento.numeroProtocollo} #{documento.annoProtocollo} #{documento.tipologiaDocumento}" filterMatchMode="contains" >
				
				<h:outputText title="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo==NULL}" value="ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}"   styleClass="textBold-detail"/>
				<h:outputText title="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and (documento.isModalitaRegistroRepertorio eq false or documento.isModalitaRegistroRepertorio eq null)}" value="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="textBold-detail"/>
				<h:outputText title="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="PROT: #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo!=NULL and (documento.numeroProtocollo eq documento.numeroProtEmergenza and documento.annoProtocollo eq documento.annoProtEmergenza)}" value="PROT: RE #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold" />
				<h:outputText title="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" data-export="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - #{documento.tipologiaDocumento} " rendered="#{documento.numeroProtocollo ne NULL and (documento.numeroProtocollo ne documento.numeroProtEmergenza) and documento.isModalitaRegistroRepertorio eq true}" value="RR #{documento.numeroProtocollo} / #{documento.annoProtocollo} - ID: #{documento.numeroDocumento} - #{documento.tipologiaDocumento}" styleClass="table generic_textBold"/>
				
				<h:outputText value="#{fn:length(documento.oggetto) gt 150 ? fn:substring(documento.oggetto,0,150).concat('...'):documento.oggetto}" title="#{documento.oggetto}" data-export="#{documento.oggetto}"/>
			</p:column>
			
			<p:column exportable="true" toggleable="true" visible="true" sortBy="#{documento.dataCreazione}" filterBy="#{documento.dataCreazione}" filterMatchMode="contains" headerText="DATA CREAZIONE" styleClass="generic_textAlignCenter df_table-doc-col7 generic-break-word">
				<h:outputText title="#{documento.dataCreazione}" value="#{documento.dataCreazione}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>	
				</h:outputText>
			</p:column>

		</p:dataTable>		
		
	</p:panel>
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
		<p:commandButton id="idBtnConfermaSelect" icon="fa fa-pencil" value="Registra" action="#{SelezionaDocumentoBean.confermaSelezione}" disabled="#{SelezionaDocumentoBean.btnConfirmDisabled}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('SelezionaDocumentoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
	</p:panelGrid>
	
	 
</ui:composition>