<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:panel widgetVar="wdgSigla" styleClass="generic_noborder generic_no_background generic_padding5 generic_width380px"> 
		<!-- Blocco per l'inserimento di una eventuale motivazione -->
		<p:outputPanel styleClass="ui-g">		
			<p:outputPanel class="ui-g-4" >
				<p:outputLabel for="idMotivoSigla" value="Motivazione sigla" styleClass="generic_textBold" />
			</p:outputPanel>
			<p:outputPanel class="ui-g-8" >
				<p:inputTextarea id="idMotivoSigla" value="#{SiglaBean.motivoSigla}" rows="3" styleClass="generic_width96"/>
			</p:outputPanel>
		</p:outputPanel>
	</p:panel>
	
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraSigla" icon="fa fa-pencil" value="Registra" action="#{SiglaBean.siglaResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" 
			update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('SiglaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraSigla" scope="@form:idDlgGeneric"/>
	</p:panelGrid>
	
</ui:composition>