<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panelGrid columns="1" layout="grid" styleClass=" ui-panelgrid-blank centeredPanel" >
	
		<p:outputPanel id="idStampProt">
	        <p:outputPanel rendered="#{ListaDocumentiBean.flagStampaProtocollo}" styleClass="generic_textAlignCenter" >
	            <iframe title="Frame stampa protocollo" class="generic_width100" src="#{request.contextPath}/printapplet/printFrame.jsf?msg=#{ListaDocumentiBean.protocolloDaStampare}"></iframe>
	        </p:outputPanel>
	    </p:outputPanel>
		
		<p:outputLabel value="Inserire un Foglio A4 all'interno della stampante" />
		 
		<p:outputLabel value="Stai per stampare il numero protocollo:" >
			<b>#{ListaDocumentiBean.protocolloDaStampare}</b>
		</p:outputLabel>

		<p:outputPanel styleClass="buttonsDiv generic_textAlignCenter">
			<p:commandButton id="closeStampaProt" icon="fa fa-times" value="Chiudi" styleClass="generic_width50 uniqueCloseButton" 
				actionListener="#{ListaDocumentiBean.destroyBeanViewScope('')}" onclick="PF('dlgGeneric').hide()" />
			<p:defaultCommand target="@form:closeStampaProt" scope="@form:idDlgGeneric" />
		</p:outputPanel>
	</p:panelGrid>
	
	
</ui:composition>