<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:panel widgetVar="wdgStornaACorriere" styleClass="generic_noborder generic_no_background generic_padding5"> 
		<p:outputPanel class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Motivo Storno " styleClass="generic_textBold"/>
				<span class="fa fa-info-circle" />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idMotivoStorno" value="#{StornaACorriereBean.motivoStorno}" rows="3" styleClass="generic_width97"/>
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
		<p:commandButton id="btnRegistraStornaACorr" icon="fa fa-pencil" value="Registra" action="#{StornaACorriereBean.stornaACorriereResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('StornaACorriereBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:btnRegistraStornaACorr" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	
	 
</ui:composition>