<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel widgetVar="wdgSpedito" styleClass="ui-g generic_noborder generic_no_background generic_padding5" > 
		<div class="ui-g-4">
			<p:outputLabel value="Data Spedizione" styleClass="generic_textBold"/>
			<span class="fa fa-info-circle" title="Inserire la data spedizione del documento cartaceo"/>
		</div>
		<!-- Data Spedizione deve essere successiva o uguale alla protocollazione -->
		<div class="ui-g-8 ui-inputgroup">
			<p:calendar navigator="true" id="speditoCalendar" value="#{SpeditoBean.dataSpedito}" readonlyInput="true" pattern="dd-MM-yyyy" mindate="#{SpeditoBean.minDate}" maxdate="#{SpeditoBean.maxDate}" showOn="button"/>		
		</div>
	</p:panel>

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraSpedito" icon="fa fa-pencil" value="Registra" action="#{SpeditoBean.speditoResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('SpeditoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraSpedito" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>