<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:panel widgetVar="wdgStorna" styleClass="generic_noborder generic_no_background generic_padding5"> 
		<!-- Blocco per la nuova assegnazione utilizzando l'organigramma -->
		<p:outputPanel class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Nuova Assegnazione" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar"/>
			</div>
			<div class="ui-g-8 ui-inputgroup obbligatorio">
				<p:inputText id="idAssegnatarioStorna" readonly="true" value="#{StornaBean.descrizioneNewAssegnazione}" styleClass="obbligatorio-readonly textfield_input"/>
				<p:commandButton id="idButtonOrgStorna" icon="fa fa-sitemap" title="Organigramma" type="button" update="centralSectionForm:idOrgStornaForm:idOrgStorna" />
				<p:commandButton id="idButtonPulisciStorna" action="#{StornaBean.clearAssegnazione}" update="centralSectionForm:idAssegnatarioStorna" icon="fa fa-eraser" title="Pulisci Selezione"/>
			</div>
		</p:outputPanel>
		<!-- Blocco per l'inserimento di una eventuale motivazione -->		
		  <p:outputPanel class="ui-g">	
			<div class="ui-g-4">
				<p:outputLabel value="Motivo assegnazione" styleClass="generic_textBold"/>
				<span class="fa fa-info-circle" title="Attenzione: il motivo assegnazione sara' visibile solo nello step di processo successivo."/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idMotivoStorna" value="#{StornaBean.motivoAssegnazione}" rows="3" styleClass="generic_width97"/>
			</div>
			<div class="ui-g-4">
				<p:outputLabel value="Salva nello 'storico note'" styleClass="generic_textBold generic_textAlignCenter"/>
			</div>
			<div class="ui-g-8">
				<p:selectOneRadio value="#{StornaBean.alsoStorico}" >
					<f:selectItem itemLabel="Si" itemValue="true"  />
					<f:selectItem itemLabel="No" itemValue="false" />
				</p:selectOneRadio>
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
		<p:commandButton id="btnStorna" icon="fa fa-pencil" value="Registra" action="#{StornaBean.checkEResponse}" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('StornaBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton"/>
		<p:defaultCommand target="@form:btnStorna" scope="@form:idDlgGeneric" />
	</p:panelGrid>
	
	<p:overlayPanel widgetVar="idOrgOverlayStorna" for="idButtonOrgStorna"  >
	  <h:form id="idOrgStornaForm">	
	  	<p:scrollPanel id="idOrgStornaScrlPnl" mode="native"  styleClass="generic_width320px generic_height250px" >
			<p:tree value="#{StornaBean.root}" var="nodo" dynamic="true" selectionMode="single" id="idOrgStorna">
			<p:ajax event="select" update="centralSectionForm:idAssegnatarioStorna" listener="#{StornaBean.onSelectedNode}" oncomplete="PF('idOrgOverlayStorna').hide()"/>		
			<p:ajax event="expand" listener="#{StornaBean.onOpenNode}" />
			
				<p:treeNode type="ROOT">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
					<p:outputLabel value=" #{nodo.codiceAOO}" />
				</p:treeNode>
	
				<p:treeNode type="UFF">
					<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
					<p:outputLabel value=" #{nodo.descrizioneNodo}" />
				</p:treeNode>
		
				<p:treeNode type="USER">
					<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
					<p:outputLabel value=" #{nodo.cognomeUtente}  #{nodo.nomeUtente}" />
				</p:treeNode>
		
			</p:tree>
		</p:scrollPanel>
	  </h:form>
	  <iframe class="cover" src="about:blank" title="Frame Storna"></iframe>
	</p:overlayPanel>
	
</ui:composition>