<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">


	<p:panel widgetVar="wdgUffProponente" styleClass="generic_noborder generic_no_background" > 
		<div class="ui-g">
			<div class="ui-g-4">
				<p:outputLabel id="idMotivo" value="Motivo assegnazione"  styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-8">
				<p:inputTextarea value="#{UfficioProponenteBean.testoMotivoAssegnazione}" rows="3" styleClass="textfield_input"/>
			</div>
		</div>

		<p:panelGrid columns="2" layout="grid" styleClass="pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
			<p:commandButton id="inviaUffProp" icon="fa fa-pencil" value="Invia" action="#{UfficioProponenteBean.uffProponenteResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('UfficioProponenteBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton"/>
			<p:defaultCommand target="@form:inviaUffProp" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>