<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="vistoPnl" widgetVar="wdgVisto" styleClass="generic_noborder generic_no_background generic_width380px" > 
		
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-g-3, ui-g-9">
			<p:outputLabel for="tipologia" value="Tipologia" styleClass="generic_textBold" />
			<p:selectOneMenu id="tipologia" value="#{VistoBean.tipologiaSelezionata}"
							 autoWidth="false" lazy="true"
							 styleClass="generic_width90imp">
				<f:selectItems value="#{VistoBean.tipologia}" var="tipo" itemLabel="#{tipo.descrizione}" itemValue="#{tipo}" />
			</p:selectOneMenu>
			<p:outputLabel for="idVistoMessage" value="Messaggio" styleClass="generic_textBold"/>
			<p:inputTextarea id="idVistoMessage" rows="4" value="#{VistoBean.message}" styleClass="generic_width96"/>
		</p:panelGrid>
		<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="pnlgrid_noborder">
			<p:commandButton id="registraVisto" icon="fa fa-pencil" value="Registra" action="#{VistoBean.vistoResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
			<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('VistoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
			<p:defaultCommand target="@form:registraVisto" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>