<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:panel id="validazioneContributoPnl" widgetVar="wdgValidazioneContributo" styleClass="generic_noborder generic_no_background generic_padding5 generic_width320px"> 
		<p:outputPanel id="numDocumentiDaValidare" styleClass="generic_textAlignCenter margin-Top2Percent"
					   rendered="#{fn:length(ValidazioneContributoBean.documentiSelezionati) gt 1}">
			<span class="fa fa-info-circle generic_marginRight5px" ></span>
			<p:outputLabel value="L'operazione verrà eseguita su #{fn:length(ValidazioneContributoBean.documentiSelezionati)} documenti."/>
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g margin-Top2Percent">
			<div class="ui-g-4" >
				<p:outputLabel value="Motivo Assegnazione" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-8" >
				<p:inputTextarea id="idMotivoAssegnazioneNew" value="#{ValidazioneContributoBean.motivoAssegnazioneNew}" rows="3" styleClass="generic_width96" />
			</div>
		</p:outputPanel>
	</p:panel>
	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank pnlgrid_noborder" columnClasses="ui-grid-col-6,ui-grid-col-6">
		<p:commandButton id="registraValidazContr" icon="fa fa-pencil" value="Registra" action="#{ValidazioneContributoBean.validazioneContributoResponse}" oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" update="centralSectionForm:idDlgShowResult" styleClass="generic_width100"/>
		<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('ValidazioneContributoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100 uniqueCloseButton" />
		<p:defaultCommand target="@form:registraValidazContr" scope="@form:idDlgGeneric" />
	</p:panelGrid>
</ui:composition>