<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="verificatoPnl" widgetVar="wdgVerificato" styleClass="generic_noborder generic_no_background generic_padding5" > 
		
		<p:outputPanel id="tipologiaVerificatoPnl" styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel for="tipologiaVerificato" value="Tipologia visto"
						styleClass="generic_textBold" />
			</div>
			
			<div class="ui-g-8">
				<p:selectOneMenu id="tipologiaVerificato" value="#{VerificatoBean.tipologiaSelezionata}"
								 autoWidth="false" lazy="true"
								 styleClass="textfield_dropdown">
					<f:selectItems value="#{VerificatoBean.tipologia}" var="tipo" itemLabel="#{tipo.descrizione}" itemValue="#{tipo}" />
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		
		<p:outputPanel id="verificatoMessage" styleClass="ui-g">
			<div class="ui-g-4">
				<p:outputLabel for="idVerificatoMessage" value="Messaggio" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea id="idVerificatoMessage" rows="3" value="#{VerificatoBean.message}" styleClass="generic_width97" />
			</div>
		</p:outputPanel>
		
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-6,ui-grid-col-6">
				<p:commandButton id="registraVerificato" icon="fa fa-pencil" value="Registra" action="#{VerificatoBean.verificatoResponse}" update="centralSectionForm:idDlgShowResult" 
				 oncomplete="PF('dlgShowResult').show()" onclick="PF('dlgGeneric').hide()" styleClass="generic_width100" />
				<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('VerificatoBean')}" onclick="PF('dlgGeneric').hide()"
				 styleClass="generic_width100 uniqueCloseButton" />
				 <p:defaultCommand target="@form:registraVerificato" scope="@form:idDlgGeneric" />
		</p:panelGrid>
	</p:panel>
</ui:composition>