<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<p:panel id="validaContributiPnl" widgetVar="wdgValidaContributi" styleClass="generic_noborder generic_no_background generic_width380px" > 
		<p:outputPanel id="campiConPermesso_ValidaContributi" rendered="#{InserisciContributoBean.flagPermesso}">
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel for="dataCDC_ValidaContributi" value="Data CdC" />
					</div>
					<div class="ui-g-10 dataCDCField">
						<p:calendar navigator="true" id="dataCDC_ValidaContributi"  value="#{InserisciContributoBean.dataCdc}"
									pattern="dd/MM/yyyy" mode="popup" showOn="button" />
					</div>
				</div>
				<div class="ui-g">
					<div class="ui-g-2">	
						<p:outputLabel for="foglio_ValidaContributi" value="Foglio" />
					</div>
					<div class="ui-g-10">
						<p:inputText id="foglio_ValidaContributi" value="#{InserisciContributoBean.foglio}" styleClass="generic_input82"  />
					</div>
				</div>
				<div class="ui-g">
					<div class="ui-g-2">	
						<p:outputLabel for="registro_ValidaContributi" value="Registro" />
					</div>
					<div class="ui-g-10">
						<p:inputText id="registro_ValidaContributi" value="#{InserisciContributoBean.registro}" styleClass="generic_input82" />
					</div>
				</div>
		</p:outputPanel>
		
		<p:outputPanel id="validaContributiMessage" styleClass="ui-g">
			<div class="ui-g-2">
				<p:outputLabel for="idValidaContributiMessage" value="Testo" />
			</div>
			<div class="ui-g-10">
				<p:inputTextarea id="idValidaContributiMessage" rows="4" cols="45" value="#{InserisciContributoBean.nota}" />
			</div>
		</p:outputPanel>
		
		<p:outputPanel id="validaContributiFile" class="ui-g buttonsDiv">
			<div id="labelFile" class="ui-g-2">
				<p:outputLabel for="idValidaContributiFile" value="File" />
			</div>
			<div id="idValidaContributiFileDiv" class="ui-g-10 ">
				<div class="ui-inputgroup">
					<p:inputText id="idValidaContributiFile" disabled="true" value="#{InserisciContributoBean.docPrincipale.fileName}" />
					<p:fileUpload id="idValidaContributiFileUpload"
								  fileUploadListener="#{InserisciContributoBean.handleMainFileUpload}"
								  value="#{InserisciContributoBean.docPrincipale}"
								  auto="true" label="Sfoglia"
								  mode="advanced" skinSimple="true"
								  dragDropSupport="false"
								  styleClass="dmd-fileUpload-old"
								  update="validaContributiFile"
								/>
					<p:commandButton icon="fa fa-eraser"
									 title="Rimuovi file"
									 action="#{InserisciContributoBean.rimuoviFile}"
									 update="validaContributiFile"/>
				</div>
			</div>
		</p:outputPanel>
		
		
		<p:outputPanel id="validaContributi_btn" class="buttonsDiv buttonsLayout">
				<p:commandButton id="registraValidaContr" icon="fa fa-pencil" value="Registra" action="#{InserisciContributoBean.inserisciContributoResponse}"
								 update="centralSectionForm:idDlgShowResult" />
				<p:commandButton icon="fa fa-times" value="Chiudi" actionListener="#{ListaDocumentiBean.destroyBeanViewScope('InserisciContributoBean')}" onclick="PF('dlgGeneric').hide()" styleClass="uniqueCloseButton" />
				<p:defaultCommand target="@form:registraValidaContr" scope="@form:idDlgGeneric" />
		</p:outputPanel>
	</p:panel>
</ui:composition>