<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<ui:include src="dlgGeneric.xhtml"/>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" />
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="docQueueEnum" />

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-5,ui-grid-col-7">
		<p:outputPanel id="idActionFilter" styleClass="textAlignLeft">
			<ui:include src="../resizeVerticalMenuButton.xhtml"/>
	   		
	   		<p:inputText styleClass="listaFilter generic_width65" value="#{ListaDocumentiBean.filterString}" placeholder="Cerca su tutti gli elementi in #{ListaDocumentiBean.nomeCodaAttuale}" title="Cerca su tutti gli elementi in #{ListaDocumentiBean.nomeCodaAttuale}" maxlength="100"/>
	    	<p:commandButton id="searchBtn" icon="fa fa-search" actionListener="#{ListaDocumentiBean.filterMastersSenzaPaginazione}" update="centralSectionForm:documenti, centralSectionForm:searchAllBtn" title="Operazione di filtro"  />
			<p:defaultCommand target="@form:searchBtn" scope="@form:idActionFilter"></p:defaultCommand>
		</p:outputPanel>
		<p:outputPanel styleClass="textAlignRight">
			<p:commandButton rendered="#{not (ListaDocumentiBean.utente.downloadCustomExcel and (ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.DA_LAVORARE.displayName or ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.DA_LAVORARE_UCB.displayName or ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.IN_LAVORAZIONE_UCB.displayName))}" icon="fa fa-file-excel-o" styleClass="datatableButtons" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
		     	<p:dataExporter type="xls" target="documenti" fileName="#{ListaDocumentiBean.nomeFileExportCoda}" />
			</p:commandButton>
			
			<p:commandButton rendered="#{ListaDocumentiBean.utente.downloadCustomExcel and (ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.DA_LAVORARE.displayName or ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.DA_LAVORARE_UCB.displayName or ListaDocumentiBean.nomeCodaAttuale eq docQueueEnum.IN_LAVORAZIONE_UCB.displayName)}" icon="fa fa-file-excel-o" styleClass="datatableButtons" ajax="false" value="Esporta"  title="Per esportare tutti i documenti fare click su carica tutti" onclick="PrimeFaces.monitorDownload(startStatusDialogDownload, hideStatusDialogDownload)">
					<p:fileDownload value="#{ListaDocumentiBean.downloadEExcel()}" />
			</p:commandButton>
			  
			<p:commandButton styleClass="datatableButtons" disabled="#{ListaDocumentiBean.caricaTuttiGliElementi}" id="searchAllBtn" value="Carica tutti" icon="fa fa-plus" actionListener="#{ListaDocumentiBean.loadAllMaster}" 
				update="centralSectionForm:documenti, centralSectionForm:searchAllBtn" title="Carica tutti gli elementi" 
				rendered="#{ListaDocumentiBean.columnSourceType eq QueueTypeEnum.FILENET}" />
			
			<p:commandButton id="saveColBtnId" icon="fa fa-save" actionListener="#{ListaDocumentiBean.salvaColonneScelte}" title="Salva colonne"  />
        	
        	<p:commandButton styleClass="datatableButtons" id="toggler" type="button" icon="fa fa-filter" value="Filtri" title="Gestisci colonne tabella"/>
        	<red:resizeSectionButton sectionId="eastSection"/>
		</p:outputPanel>
	</p:panelGrid>
	
	
	<p:columnToggler datasource="centralSectionForm:documenti" trigger="toggler" >
		<p:ajax event="toggle" listener="#{ListaDocumentiBean.onColumnToggleLaptop}" update="centralSectionForm:documenti" oncomplete="makeRowsSelectable('documentiDT');"/>			        
	</p:columnToggler>
	
	<p:panelGrid id="idInfoPanel" columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_marginBottom7" columnClasses=" ui-grid-col-6, ui-grid-col-6">
		
		<p:panel styleClass="pnlNomeCoda" style="text-align:left">
			<p:outputLabel value="#{ListaDocumentiBean.nomeCodaAttuale}" /> 
		</p:panel> 
		 
		<p:outputPanel styleClass="itemSelectedLabel">
			<p:outputLabel id="loadedLabel" value="#{ListaDocumentiBean.loadedInfo}" style="padding-right:10px"/>
			<p:outputLabel id="selectedLabel" value="#{ListaDocumentiBean.selectedInfo}"/> 
		</p:outputPanel>
	</p:panelGrid>
	
</ui:composition>