<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-8,ui-grid-col-4">
		<p:outputPanel styleClass="textAlignLeft">
			<ui:include src="../resizeVerticalMenuButton.xhtml"/>
		</p:outputPanel>
		
		<p:outputPanel styleClass="textAlignRight">
        	<red:resizeSectionButton sectionId="eastSection"/>
		</p:outputPanel>
	</p:panelGrid>
	
	<p:panelGrid id="idInfoPanelCartaceiAcquisiti" columns="3" layout="grid" styleClass="ui-panelgrid-blank generic_marginBottom7" columnClasses=" ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
		<p:outputPanel styleClass="label_margin_top">
			<p:outputLabel id="loadedLabelCartaceiAcquisiti" value="#{ListaCartaceiAcquisitiBean.labelCaricatiValue}"/> 
		</p:outputPanel>

		<p:panel styleClass="pnlNomeCoda">
			<p:outputLabel value="#{ListaCartaceiAcquisitiBean.nomeCodaAttuale}"/> 
		</p:panel>
	</p:panelGrid>
	
</ui:composition>