<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
    
   <p:repeat value="#{DettaglioDocumentoFepaBean.fatture}" var="fattura">
 	<p:accordionPanel styleClass="DD_accordionContent titleCollapsableDetail generic_padding0 generic_margin0" activeIndex="-0">
    <p:ajax event="tabChange" listener="#{DettaglioDocumentoFepaBean.loadDettaglioFatturaFepa(fattura)}" update="dettaglioFatturaFepaId" />
    <p:tab title="FascicoloFepa - #{fattura.nomeFascicoloDocumentoRed}" styleClass="DD_accordionContent generic_padding0 generic_margin0" >
		<div class="ui-g-12">
				<p:dataTable var="v" value="#{fattura.documentiFattura}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					id="dettaglioFatturaFepaId" emptyMessage="Nessun documento">
				 	<p:column headerText="Tipologia Documento"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.tipologiaDocumento}"  />
				    </p:column>
				     <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter">
				        <p:outputLabel title="#{v.oggetto}" value="#{fn:substring(v.oggetto, 0,20)}..." />
				    </p:column>
				    <p:column headerText="Nome file"  styleClass="generic_textAlignCenter">
				        <p:outputLabel title="#{v.fileName}" value="#{fn:substring(v.fileName, 0,20)}..." />
				    </p:column>
				    <p:column headerText="Data Creazione"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.dataCreazione}"  >
				        	<f:convertDateTime pattern="dd/MM/yyyy" />
				        </p:outputLabel>
				    </p:column>
			 		 <p:column headerText="Operazioni"  styleClass="generic_textAlignCenter">
				        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadDocumentoFascicoloFattura(fattura,index)}" />
					    </p:commandButton>
				    </p:column>
				    
				</p:dataTable>
			</div>
			    </p:tab>
    </p:accordionPanel>
    </p:repeat>
	
</ui:composition>