<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:importEnum type="it.ibm.red.business.enums.TipoProtocolloEnum" var="TipoProtocolloEnum" allSuffix="ALL_ENUM_VALUES"/>

       	<div class="generic_height100 generic_width100 generic_overflow">
			<p:accordionPanel styleClass="DD_accordionContent titleCollapsabledetailFatturaFepa generic_padding0 generic_margin0" id="accordiondetailFatturaFepa">
				<p:tab title="Dati Sintetici" styleClass="DD_accordionContent generic_padding0 generic_margin0">
					<div class="ui-widget-content noborder">
					<div class="ui-g generic_padding0 generic_margin0">
						<h:panelGroup  styleClass="ui-g-6">
							<p:outputLabel value="Documento: " styleClass="DD_labelTitoletto"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.identificativoDocumentoEsteso}" title="#{DettaglioDocumentoFepaBean.detail.identificativoDocumentoEsteso}" styleClass="generic_width55" />
						</h:panelGroup>
						
						<div class="ui-g-6">
							<p:outputLabel value="Formato: " styleClass="DD_labelNormale"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.formatoDocumentoEnum}" title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.formatoDocumentoEnum}" styleClass="generic_input60" />
						</div>
					</div>
					<hr/>
					<div class="ui-g">
						<div class="ui-g-6">
							<p:outputLabel value="Tipologia documento:" styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText  readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.descTipologiaDocumento}" title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.descTipologiaDocumento}" styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo procedimento:"  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.descTipoProcedimento}" title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.descTipoProcedimento}" styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo:"  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="E" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == CategoriaDocumentoEnum.ENTRATA.getIds()[0]}"  title="Entrata"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="U" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == CategoriaDocumentoEnum.USCITA.getIds()[0]}"  title="Uscita"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="U" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}"  title="Uscita"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="I" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" title="Interno"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="I" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}"  title="Interno"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="-" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.idCategoriaDocumento == null}" styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Oggetto: "  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.oggetto}"  title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.oggetto}"  styleClass="generic_input75" />
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.iterApprovativoSemaforo != null}">
							<p:outputLabel value="Iter approvativo:"  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.iterApprovativoSemaforo}"  title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.iterApprovativoSemaforo}" styleClass="generic_input75" />
						</h:panelGroup>
						<p:outputPanel styleClass="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.momentoProtocollazioneEnum != null}">
							<p:outputLabel value="Protocollazione:"  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.momentoProtocollazioneEnum}" title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.momentoProtocollazioneEnum}"  styleClass="generic_input75" />
						</p:outputPanel>
						<div class="ui-g-6">
							<p:outputLabel value="Ufficio mittente:"  styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.ufficioMittente.aoo.codiceAoo} - #{DettaglioDocumentoFepaBean.detailFatturaFepa.ufficioMittente.descrizione}"  title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.ufficioMittente.aoo.codiceAoo} - #{DettaglioDocumentoFepaBean.detailFatturaFepa.ufficioMittente.descrizione}" styleClass="generic_input75" />
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.dataScadenza != null}">
							<p:outputLabel value="Data scadenza: " styleClass="DD_labelNormale generic_displayBlock"/>
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.dataScadenza}" title="#{DettaglioDocumentoFepaBean.detailFatturaFepa.dataScadenza}"  styleClass="generic_input75">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:inputText>
						</h:panelGroup>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.urgente || DettaglioDocumentoFepaBean.detailFatturaFepa.riservato == 1}">
							<p:outputLabel value="Urgente" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.urgente}"/>
							<p:inputText readonly="true"  value="Riservato" rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa.riservato == 1}" title="Riservato" styleClass="generic_input75" />
						</h:panelGroup>
					</div>
					</div>
			    </p:tab>
			    
			    <p:tab title="Fascicoli" rendered="#{fn:length(DettaglioDocumentoFepaBean.detailFatturaFepa.fascicoli) gt 1}">
		        	<p:dataTable var="fas" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.fascicoli}" rowIndexVar="index" emptyMessage="Nessun fascicolo">
					    <p:column headerText="Nome" styleClass="generic_textAlignCenter">
						    <p:commandLink value="#{fas.idFascicolo}" title="Apri fascicolo" action="#{DettaglioDocumentoFepaBean.openDialogFascicoloFattura(index)}" 
						    	update="@form:idPanelFascicoloManager_DF_Fattura, @form:idFascicoloManagerContent_Fattura_FM"/>
					        <p:outputLabel value="*" title="Fascicolo Procedimentale" 
					        	rendered="#{fas.idFascicolo eq DettaglioDocumentoFepaBean.detailFatturaFepa.idFascicoloProcedimentale}"/>
					    </p:column>
					    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
					        <p:outputLabel value="#{fn:substring(fas.descrizione, 0, 20)}..." title="#{fas.descrizione}"/>
					    </p:column>
					    <p:column headerText="Indice di classificazione"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.indiceClassificazione}"/>
					    </p:column>
					    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.dataCreazione}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel>
					    </p:column>
					    <p:column headerText="Faldone" styleClass="generic_textAlignCenter">
					    	<ui:repeat rendered="#{fas.faldoni ne null}" value="#{fas.faldoni}" var="fal">
					    		<div>
						    		<p:outputLabel value="#{fal.name}"/>
						        	-
						        	<p:outputLabel title="#{fal.descrizioneFaldone}" value="#{fn:substring(fal.descrizioneFaldone, 0,20)}"/>
				        		</div>
					    	</ui:repeat>
					    </p:column>
					</p:dataTable>
		        </p:tab>
	
 				<p:tab title="Faldoni" rendered="#{fn:length(DettaglioDocumentoFepaBean.detailFatturaFepa.faldoni)!=0}">
		        	<p:dataTable var="fal" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.faldoni}" emptyMessage="Nessun faldone">
					    <p:column headerText="Numero"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fal.name}"/>
					    </p:column>

					    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.oggetto, 0, 20)}" 
					        	title="#{fal.oggetto}"/>
			        	</p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0, 20)}" 
					        	title="#{fal.descrizioneFaldone}"/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        
		        <p:tab title="Allacci" rendered="#{fn:length(DettaglioDocumentoFepaBean.detailFatturaFepa.allacci)!=0}">
		        	<p:dataTable var="a" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.allacci}" emptyMessage="Nessun allaccio">
		        		<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo != null}" >
							<p:outputLabel value="Protocollo: "/>
							<p:outputLabel value="#{a.document.numeroProtocollo}"/>
							<p:outputLabel value=" / "/>
							<p:outputLabel value="#{a.document.annoProtocollo}"/>
							<p:outputLabel value=" - #{a.document.numeroDocumento}"/>
						</p:column>
						<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo == null}" >
							<p:outputLabel value="Documento: "/>
							<p:outputLabel value="#{a.document.numeroDocumento}"/>
							<p:outputLabel value=" / "/>
							<p:outputLabel value="#{a.document.annoDocumento}"/>
						</p:column>
						<p:column headerText="Oggetto" >
							<p:outputLabel title="#{a.document.oggetto}" value="#{fn:substring(a.document.oggetto, 0,20)}"  />
						</p:column>
						<p:column headerText="Ufficio" >
							<p:outputLabel value="#{a.document.ufficioMittente.descrizione}"  />
						</p:column>

						<p:column headerText="Tipo Allaccio" >
							<p:outputLabel value="#{a.tipoAllaccioEnum}" />
						</p:column>
					</p:dataTable>
		        </p:tab>
		        
	
			</p:accordionPanel>
		</div>
	
</ui:composition>