<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:tab title="Preview" id="tabPdfViewer"  >
		<p:outputPanel styleClass="pdfViewer generic_height97 generic_padding0 generic_margin0">
				<iframe title="Frame tab fepa" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" id="pdfViewer" 
	    			src="#{request.contextPath}/pdfjs/web/viewer.html?file=#{DettaglioDocumentoFepaBean.cryptoId}&amp;_=#{session.lastAccessedTime}"/>
   		</p:outputPanel>
	</p:tab>


</ui:composition>