<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:tab title="Documenti Aggiuntivi" id="docAggId_OP" rendered="#{DettaglioDocumentoFepaBean.dettaglioDD}">
		<div class="ui-g-12">
			<p:dataTable var="v" value="#{DettaglioDocumentoFepaBean.listaAllegatiOP}" rowIndexVar="index" styleClass="generic_table-maxHeight generic-overflowY"
					id="dettaglioListaAllegatiOPId" emptyMessage="Nessun Documento Aggiuntivo" >
				 	<p:column headerText="ID"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.idDocumentoAllegatoOp}"  />
				    </p:column>
				 	<p:column headerText="Tipologia Documento"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.tipologiaDocumentoDescrizione}"  />
				    </p:column>
				 	<p:column headerText="Oggetto"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.oggetto}"  />
				    </p:column>
				 	<p:column headerText="Nome File"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.nomeDocumento}"  />
				    </p:column>
				 	<p:column headerText="Data Creazione"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.dataCreazione}" >
				        	<f:convertDateTime pattern="dd/MM/yyyy" />
				        </p:outputLabel>
				    </p:column>
				    <p:column headerText="Azioni"  styleClass="generic_textAlignCenter">
				    
				    <p:commandButton title="Download #{v.nomeDocumento}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadVersioneDocumentoAllegatoOP(v.guid)}" />
				    </p:commandButton>
				    
				    <p:commandButton icon="fa fa-remove" ajax="true"  rendered="#{DettaglioDocumentoFepaBean.permessoAddRemoveDoc}"
								title="Elimina" action="#{DettaglioDocumentoFepaBean.deleteAllegatiOP(v.guid)}" update="dettaglioListaAllegatiOPId">
								<p:confirm header="Conferma Eliminazione" message="Si desidera eliminare l'elemento selezionato?"></p:confirm>
					</p:commandButton>
								
				    <p:commandButton icon="fa fa-search" ajax="true"  
								title="Associazione O.P. Fascicolo Fepa" action="#{DettaglioDocumentoFepaBean.openDialogFascicoloOpFEPA(index)}" update="@form:idDlgFascOPFepa_DF" />
				    </p:column>
				</p:dataTable>
				
			</div>
		<div class="buttonsDiv generic_textAlignRight">
			 		 <p:commandButton ajax="true" rendered="#{DettaglioDocumentoFepaBean.permessoAssociareOpDoc and not empty DettaglioDocumentoFepaBean.ordiniDiPagamento}" 
								 icon="fa fa-plus" value="Aggiungi Documento" action="#{DettaglioDocumentoFepaBean.inizializzaAggiungiDocAllegatoOP}" update="@form:idDlgAgg_Allegato_OP_DF" />
		</div>
       	
    </p:tab>
    

    
	
</ui:composition>