<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	
	
	<p:commandButton type="submit" icon="fa fa-pencil-square" title="Visualizza Dettaglio DSR" ajax="true"
		action="#{DettaglioDocumentoFepaBean.openDocumentPopupDSRPredisposta}" 
		update="@form:idPanelDocumentManager, @form:idDocumentManagerContent_DMD, @form:docInEntrataProtocollaDsrScrlPnl"></p:commandButton>
<!-- 		oncomplete="PF('dett_DSR_FEPA').show();PF('dett_DSR_FEPA').toggleMaximize()"  -->
	
	<red:menuAllegatiButtonAndMenu  bean="#{DettaglioDocumentoFepaBean}" toUpdateAfterIntro=" @(.updatableIntroPreviewDeactivate)" />
	
	<p:commandButton type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumentiFepa').show();PF('dlgVisualizzaDocumentiFepa').toggleMaximize();"
					 action="#{DettaglioDocumentoFepaBean.openVisualizzaDocumento}" process="@this" update="@form:visualizzaDocFepa_opnl" />
	
	<p:outputPanel id="responseSingole_btn">
		<p:menuButton model="#{ListaDocumentiBean.model}" id="menuRespListEast" icon="fa fa fa-ellipsis-v" menuStyleClass="response-single-style" title="Azioni Documento: #{ListaDocumentiBean.documentiDTH.currentMaster.numeroDocumento}" disabled="#{empty DettaglioDocumentoFepaBean.responseDetail or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0}" rendered="#{SessionBean.activePageInfo.documentQueue != null and SessionBean.activePageInfo.documentQueue.codaOperativa}"  styleClass="generic_displayBlock"/>
	</p:outputPanel>
	
	<p:commandButton ajax="false" icon="fa fa-envelope-o" title="Invia email"> 
			<p:fileDownload value="#{DettaglioDocumentoFepaBean.inviaDocPrincipaleEmail}"/>
	 </p:commandButton>
</ui:composition>