<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	    
    <p:tab title="Documenti">
       	<p:outputPanel styleClass="ui-g generic_centra" >
			<div class="ui-g-12">
				<h3>Documento Principale - #{DettaglioDocumentoFepaBean.detail.nomeFile}</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable var="v" value="#{DettaglioDocumentoFepaBean.detail.versioni}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					rows="5" >
				    <!--  p:column headerText="Numero"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.versionNumber}"  />
				    </p:column -->
				     <p:column headerText="Tipo"  styleClass="generic_textAlignCenter" width="60">
						 <span class="#{v.iconaExt.path} icon-dimension-middle" title="#{v.mimeType}" />
					</p:column>
				    <p:column headerText="Nome file"  styleClass="generic_textAlignCenter">
				     <h:outputLabel rendered="#{v.currentVersion}" title="Versione corrente" styleClass="generic_centra fa fa-check generic_marginRight4px" />
				        <p:outputLabel title="#{v.fileName}" value="#{DettaglioDocumentoFepaBean.getShortColumn(v.fileName,20)}" />
				    </p:column>
				   <!--  <p:column headerText="Content type"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.mimeType}"  />
				    </p:column> -->
				    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.dateCheckedIn}"  >
				        	<f:convertDateTime pattern="dd/MM/yyyy" />
				        </p:outputLabel>
				    </p:column>
				   <!--  <p:column headerText="Versione corrente"  styleClass="generic_textAlignCenter">
				        <h:outputLabel rendered="#{v.currentVersion}" styleClass="generic_centra fa fa-check"  />
				    </p:column> -->
				    <p:column headerText="Creato da" styleClass="generic_textAlignCenter">
			        	<p:outputLabel title="#{v.creatore}" value="#{DettaglioDocumentoFepaBean.getShortColumn(v.creatore, 20)}"/>
			    	</p:column>
				    <p:column headerText=""  styleClass="generic_textAlignCenter" width="30">
				        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadVersioneDocumentoPrincipale(index)}" />
					    </p:commandButton>
				    </p:column>
				    
				</p:dataTable>
			</div>
			<div class="ui-g-12">
				<h3>Allegati</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable var="a" value="#{DettaglioDocumentoFepaBean.detail.allegati}" rowIndexVar="index" styleClass="generic_table-maxHeight" rows="5" emptyMessage="Nessun allegato">
				
					<p:column styleClass="generic_width16px" >
			            <p:rowToggler />
			        </p:column>
				
				    <p:column headerText="Nome"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{fn:substring(a.nomeFile, 0,20)}..." title="{a.nomeFile}"  />
				    </p:column>
				
				    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{fn:substring(a.oggetto, 0,20)}..." title="{a.oggetto}" />
				    </p:column>
				
				    <p:column headerText="Tipologia"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{a.tipologia}"  />
				    </p:column>
				    
					<p:rowExpansion>
						<p:dataTable var="v" value="#{a.versions}" rowIndexVar="index" styleClass="generic_table-maxHeight" rows="5" >
						    <p:column headerText="Numero"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.versionNumber}"  />
						    </p:column>
						    <p:column headerText="Nome file"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.fileName}"  />
						    </p:column>
						    <p:column headerText="Content type"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.mimeType}"  />
						    </p:column>
						    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
						        <p:outputLabel value="#{v.dateCheckedIn}"  >
						        	<f:convertDateTime pattern="dd/MM/yyyy" />
						        </p:outputLabel>
						    </p:column>
						    <p:column headerText="Versione corrente"  styleClass="generic_textAlignCenter">
						        <h:outputLabel rendered="#{v.currentVersion}" styleClass="generic_centra fa fa-check"  />
						    </p:column>
						    <p:column headerText=""  styleClass="generic_textAlignCenter">
						        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
							        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadVersioneDocumentoAllegato(index, a.guid)}" />
							    </p:commandButton>
						    </p:column>
						</p:dataTable>
					
					</p:rowExpansion>
				</p:dataTable>
			</div>
		
		</p:outputPanel>
       	
    </p:tab>
	
</ui:composition>