<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	    
    <p:tab title="Documenti">
       	<p:outputPanel styleClass="ui-g generic_centra" >
			<div class="ui-g-12">
				<h3>Documento Principale - #{DettaglioDocumentoFepaBean.detailFatturaFepa.nomeFile}</h3>
			</div>
			<div class="ui-g-12">
				<p:dataTable var="v" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.versioni}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					rows="5" >
				    <p:column headerText="Numero"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.versionNumber}"  />
				    </p:column>
				    <p:column headerText="Nome file"  styleClass="generic_textAlignCenter">
				        <p:outputLabel title="#{v.fileName}" value="#{fn:substring(v.fileName, 0,20)}..." />
				    </p:column>
				    <p:column headerText="Content type"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.mimeType}"  />
				    </p:column>
				    <p:column headerText="Data"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.dateCheckedIn}"  >
				        	<f:convertDateTime pattern="dd/MM/yyyy" />
				        </p:outputLabel>
				    </p:column>
				    <p:column headerText="Versione corrente"  styleClass="generic_textAlignCenter">
				        <h:outputLabel rendered="#{v.currentVersion}" styleClass="generic_centra fa fa-check"  />
				    </p:column>
				    <p:column headerText=""  styleClass="generic_textAlignCenter">
				        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadVersioneDocumentoPrincipaleFattura(index)}" />
					    </p:commandButton>
				    </p:column>
				    
				</p:dataTable>
			</div>
	
		
		</p:outputPanel>
       	
    </p:tab>
	
</ui:composition>