<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	    
    <p:tab title="Ordini di Pagamento" rendered="#{DettaglioDocumentoFepaBean.dettaglioDD}">
			<div class="ui-g-12">
				<p:dataTable var="v" value="#{DettaglioDocumentoFepaBean.ordiniDiPagamento}" rowIndexVar="index" styleClass="generic_table-maxHeight generic-overflowY"
					id="dettaglioOrdiniDiPagamentoId" emptyMessage="Nessun Ordine di Pagamento">
				 	<p:column headerText="Numero O.P."  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.numeroOP}"  />
				    </p:column>
				 	<p:column headerText="Stato"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.statoOP}"  />
				    </p:column>
				 	<p:column headerText="Data Emissione"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.dataEmissioneOP}">
				        	<f:convertDateTime pattern="dd/MM/yyyy" />
				        </p:outputLabel>
				    </p:column>
				 	<p:column headerText="Esercizio"  styleClass="generic_textAlignCenter">
				        <p:outputLabel value="#{v.esercizio}"  />
				    </p:column>
				 	<p:column headerText="Amministrazione"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.amministrazione}"  />
				    </p:column>
				 	<p:column headerText="Codice Ragioneria"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.codiceRagioneria}"  />
				    </p:column>
				 	<p:column headerText="Capitolo"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.capitoloNumeriSIRGS}"  />
				    </p:column>
				    <p:column headerText="PG"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.pianoGestione}"  />
				    </p:column>
				    <p:column headerText="Beneficiario"  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{v.beneficiario}"  />
				    </p:column>
				        <p:column headerText="Id Fascicolo O.P."  styleClass="generic_textAlignCenter" >
				        <p:outputLabel value="#{(v.idFascicoloFEPA eq null or v.idFascicoloFEPA eq '')? 'Non Disponibile' : v.idFascicoloFEPA}"  />
				    </p:column>
				    <p:column headerText="Fascicolo"  styleClass="generic_textAlignCenter" >
					    	<p:commandButton icon="fa fa-folder" ajax="true" type="submit" rendered="#{v.statoOP eq 'Inviato' and v.idFascicoloFEPA ne null and v.idFascicoloFEPA ne '' }"
								title="Fascicolo" action="#{DettaglioDocumentoFepaBean.openFascicoloOP(index)}" />
							 <p:outputLabel value="-" rendered="#{v.idFascicoloFEPA eq null or v.idFascicoloFEPA eq ''}"  />
				    </p:column>
				</p:dataTable>
			</div>
       	
    </p:tab>
	
</ui:composition>