<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:importEnum type="it.ibm.red.business.enums.TipoProtocolloEnum" var="TipoProtocolloEnum" allSuffix="ALL_ENUM_VALUES" />

	<p:tab title="Dettaglio">
       	<div class="generic_height100 generic_width100 generic_overflow">
			<p:accordionPanel styleClass="DD_accordionContent titleCollapsabledetail generic_padding0 generic_margin0" id="accordiondetail" >
				<p:tab title="Dati Sintetici" styleClass="DD_accordionContent generic_padding0 generic_margin0" >
					<div class="ui-widget-content noborder">
					<div class="ui-g generic_padding0 generic_margin0">
						<h:panelGroup  styleClass="ui-g-6">
							<p:outputLabel value="Documento: " styleClass="DD_labelTitoletto" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.identificativoDocumentoEsteso}" title="#{DettaglioDocumentoFepaBean.detail.identificativoDocumentoEsteso}" styleClass="generic_width55" />
						</h:panelGroup>
						
						<div class="ui-g-6">
							<p:outputLabel value="Formato: " styleClass="DD_labelNormale" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.formatoDocumentoEnum}" title="#{DettaglioDocumentoFepaBean.detail.formatoDocumentoEnum}" styleClass="generic_input60" />
						</div>
					</div>
					<hr />
					<div class="ui-g">
						<div class="ui-g-6">
							<p:outputLabel value="Tipologia documento:" styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText  readonly="true" value="#{DettaglioDocumentoFepaBean.detail.descTipologiaDocumento}" title="#{DettaglioDocumentoFepaBean.detail.descTipologiaDocumento}" styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo procedimento:"  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.descTipoProcedimento}" title="#{DettaglioDocumentoFepaBean.detail.descTipoProcedimento}" styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Tipo:"  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="E" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == CategoriaDocumentoEnum.ENTRATA.getIds()[0]}"  title="Entrata"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="U" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == CategoriaDocumentoEnum.USCITA.getIds()[0]}"  title="Uscita"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="U" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}"  title="Uscita"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="I" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" title="Interno" styleClass="generic_input75" />
							<p:inputText readonly="true" value="I" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}"  title="Interno"  styleClass="generic_input75" />
							<p:inputText readonly="true" value="-" rendered="#{DettaglioDocumentoFepaBean.detail.idCategoriaDocumento == null}"   styleClass="generic_input75" />
						</div>
						<div class="ui-g-6">
							<p:outputLabel value="Oggetto: "  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.oggetto}"  title="#{DettaglioDocumentoFepaBean.detail.oggetto}" styleClass="generic_input75" />
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detail.iterApprovativoSemaforo != null}">
							<p:outputLabel value="Iter approvativo:"  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.iterApprovativoSemaforo}"  title="#{DettaglioDocumentoFepaBean.detail.iterApprovativoSemaforo}"  styleClass="generic_input75" />
						</h:panelGroup>
						<p:outputPanel styleClass="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detail.momentoProtocollazioneEnum != null}">
							<p:outputLabel value="Protocollazione:"  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.momentoProtocollazioneEnum}" title="#{DettaglioDocumentoFepaBean.detail.momentoProtocollazioneEnum}"  styleClass="generic_input75" />
						</p:outputPanel>
						<div class="ui-g-6">
							<p:outputLabel value="Ufficio mittente:"  styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.ufficioMittente.aoo.codiceAoo} - #{DettaglioDocumentoFepaBean.detail.ufficioMittente.descrizione}"  title="#{DettaglioDocumentoFepaBean.detail.ufficioMittente.aoo.codiceAoo} - #{DettaglioDocumentoFepaBean.detail.ufficioMittente.descrizione}"  styleClass="generic_input75" />
						</div>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detail.dataScadenza != null}" >
							<p:outputLabel value="Data scadenza: " styleClass="DD_labelNormale generic_displayBlock" />
							<p:inputText readonly="true" value="#{DettaglioDocumentoFepaBean.detail.dataScadenza}" title="#{DettaglioDocumentoFepaBean.detail.dataScadenza}"  styleClass="generic_input75"  >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</h:panelGroup>
						<h:panelGroup class="ui-g-6" rendered="#{DettaglioDocumentoFepaBean.detail.urgente || DettaglioDocumentoFepaBean.detail.riservato == 1}">
							<p:outputLabel value="Urgente" rendered="#{DettaglioDocumentoFepaBean.detail.urgente}" />
							<p:inputText readonly="true"  value="Riservato" rendered="#{DettaglioDocumentoFepaBean.detail.riservato == 1}" title="Riservato"   styleClass="generic_input75" />
						</h:panelGroup>
					</div>
					</div>
			    </p:tab>
			    
			    <p:tab title="Fascicoli" rendered="#{fn:length(DettaglioDocumentoFepaBean.detail.fascicoli) gt 1}">
		        	<p:dataTable var="fas" value="#{DettaglioDocumentoFepaBean.detail.fascicoli}" rowIndexVar="index">
					  	<p:column headerText="Nome" styleClass="generic_textAlignCenter">
						    <p:commandLink value="#{fas.idFascicolo}" title="Apri fascicolo" action="#{DettaglioDocumentoFepaBean.openDialogFascicolo(index)}" 
						    	update="@form:idPanelFascicoloManager_DF, @form:idFascicoloManagerContent_FM"/>
					        <p:outputLabel value="*" title="Fascicolo Procedimentale" 
					        	rendered="#{fas.idFascicolo eq DettaglioDocumentoFepaBean.detail.idFascicoloProcedimentale}"/>
					    </p:column>
					    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
					        <p:outputLabel value="#{fn:substring(fas.descrizione, 0, 20)}..." 
					        	title="#{fas.descrizione}"/>
					    </p:column>
					    <p:column headerText="Indice di classificazione" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.indiceClassificazione}"/>
					    </p:column>
					    <p:column headerText="Data" styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fas.dataCreazione}">
					        	<f:convertDateTime pattern="dd/MM/yyyy"/>
					        </p:outputLabel>
					    </p:column>
					    <p:column headerText="Faldone" styleClass="generic_textAlignCenter">
					    	<ui:repeat rendered="#{fas.faldoni ne null}" value="#{fas.faldoni}" var="fal">
					    		<div>
						    		<p:outputLabel value="#{fal.name}"/>
						        	-
						        	<p:outputLabel title="#{fal.descrizioneFaldone}" value="#{fn:substring(fal.descrizioneFaldone, 0, 20)}"/>
				        		</div>
					    	</ui:repeat>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		       
 				<p:tab title="Faldoni" rendered="#{fn:length(DettaglioDocumentoFepaBean.detail.faldoni)!=0}">
		        	<p:dataTable var="fal" value="#{DettaglioDocumentoFepaBean.detail.faldoni}" >
					    <p:column headerText="Numero"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{fal.name}"  />
					    </p:column>
					    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,20)}" 
					        	title="#{fal.oggetto}"	/>
			        	</p:column>
					    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break" >
					        <p:outputLabel value="#{fn:substring(fal.descrizioneFaldone, 0,20)}" 
					        	title="#{fal.descrizioneFaldone}"	/>
					    </p:column>
					</p:dataTable>
		        </p:tab>
		        
		        <p:tab title="Allacci" rendered="#{fn:length(DettaglioDocumentoFepaBean.detail.allacci)!=0}">
		        	<p:dataTable var="a" value="#{DettaglioDocumentoFepaBean.detail.allacci}" >
		        		<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo != null}" styleClass="">
							<p:outputLabel value="Protocollo: " />
							<p:outputLabel value="#{a.document.numeroProtocollo}" />
							<p:outputLabel value=" / " />
							<p:outputLabel value="#{a.document.annoProtocollo}" />
							<p:outputLabel value=" - #{a.document.numeroDocumento}" />
						</p:column>
						<p:column headerText="Protocollo / Documento" rendered="#{a.document.numeroProtocollo == null}" styleClass="">
							<p:outputLabel value="Documento: " />
							<p:outputLabel value="#{a.document.numeroDocumento}" />
							<p:outputLabel value=" / " />
							<p:outputLabel value="#{a.document.annoDocumento}" />
						</p:column>
						<p:column headerText="Oggetto" styleClass="">
							<p:outputLabel title="#{a.document.oggetto}" value="#{fn:substring(a.document.oggetto, 0,20)}"  styleClass="" />
						</p:column>
						<p:column headerText="Ufficio" styleClass="">
							<p:outputLabel value="#{a.document.ufficioMittente.descrizione}"  styleClass="" />
						</p:column>
						<p:column headerText="Tipo Allaccio" styleClass="">
							<p:outputLabel value="#{a.tipoAllaccioEnum}" styleClass="" />
						</p:column>
					</p:dataTable>
		        </p:tab>

		 
			</p:accordionPanel>
		</div>
	</p:tab>
	
</ui:composition>