<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:importEnum type="it.ibm.red.business.enums.TipoAssegnazioneEnum" var="tipoAssegnazioneEnum" />

<p:outputPanel  id="idTabGeneralContent_PDSR" >	
	<p:outputPanel class="ui-g generic_padding0 generic_margin0">
	<!-- DOCUMENTO PRINCIPALE START-->
		<p:outputPanel styleClass="ui-g-2" >
			<p:outputLabel  value="Documento principale" styleClass="generic_textBold"/>
			<p:outputLabel  value="*" class="generic_redStar generic_textBold" />
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g-4" id="idDocPrincipalePanel_PDSR" >
			<div class="ui-inputgroup obbligatorio">
				<p:inputText readonly="true" styleClass="textfield_input obbligatorio-readonly" rendered="#{PredisponiDichiarazioneBean.tabGenerale.uploadDocumento.detail.nomeFile != null}" 
					update="idDocPrincipalePanel_PDSR"	value="#{PredisponiDichiarazioneBean.tabGenerale.uploadDocumento.detail.nomeFile}" />
				<p:fileUpload id="idDocumentoPrincipale"
					fileUploadListener="#{PredisponiDichiarazioneBean.tabGenerale.uploadDocumento.handleMainFileUpload}"
					value="#{PredisponiDichiarazioneBean.tabGenerale.uploadDocumento.docPrincipale}"
					auto="true" label="Sfoglia"
					onstart="PF('statusDialog').show();"
					oncomplete="PF('statusDialog').hide();"
					mode="advanced" skinSimple="true"
					dragDropSupport="false"
					styleClass="dmd-fileUploadNew"
					update="idDocPrincipalePanel_PDSR"
				/>
				<p:commandButton title="Download documento" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
			        <p:fileDownload value="#{PredisponiDichiarazioneBean.tabGenerale.uploadDocumento.download}" />
			    </p:commandButton>
			</div> 
		</p:outputPanel>
		<!-- DOCUMENTO PRINCIPALE END-->
		
		<!-- Protocollo in entrata -->
		<p:outputPanel class="ui-g-6 generic_margin0 generic_padding0 dmd-paddingRight05em" id="idRiferimentoProtocolloEntrata_PDSR">
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idFascicolo_PDSR" value="Riferimento al protocollo in entrata (anno / numero):" styleClass="generic_textBold"/>
				<p:outputLabel for="idFascicolo_PDSR" value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>
			<p:outputPanel class="ui-g-8">
				<div class="ui-inputgroup obbligatorio">
					<p:inputText id="idRiferimentoProtocolloEntrataAnno_PDSR" value="#{PredisponiDichiarazioneBean.tabGenerale.rispostaAllaccio.annoProtocollo}" styleClass="ui-g-5 campoObbligatorio"  
						title="Anno" readonly="true" />
					<p:outputLabel for="idRiferimentoProtocolloEntrataAnno_PDSR" value=" / " styleClass="generic_grassetto generic_corsivo dmd-numeroanno generic_textAlignCenter ui-g-1" />
					<p:inputText id="idRiferimentoProtocolloEntrataNumero_PDSR" value="#{PredisponiDichiarazioneBean.tabGenerale.rispostaAllaccio.numeroProtocollo}" styleClass="ui-g-6 campoObbligatorio"
						title="Numero" readonly="true"/>
				</div>	 
			</p:outputPanel>
		</p:outputPanel>
		<!-- Protocollo in entrata END -->	
	</p:outputPanel>
	
	<p:outputPanel class="ui-g generic_padding0 generic_margin0" id="idIndiceClassificazionePanel_PDSR">
	<!-- INDICE DI CLASSIFICAZIONE -->
		<p:outputPanel class="ui-g-2">
			<p:outputLabel for="idTitolario_PDSR" value="Indice di classificazione" styleClass="generic_textBold" />
			<p:outputLabel for="idTitolario_PDSR" value="*" class="generic_redStar generic_textBold"  />
		</p:outputPanel>
		<p:outputPanel class="ui-g-4" >
			<div class="ui-inputgroup obbligatorio">
				<p:inputText id="idTitolario_PDSR" value="#{PredisponiDichiarazioneBean.tabGenerale.indiceDiClassificazione.descrizioneTitolario}" styleClass="generic_input100" readonly="true" />
			</div>
		</p:outputPanel>
	<!-- END  INDICE DI CLASSIFICAZIONE -->	
		
	<!-- NOME FASCICOLO -->		
		<p:outputPanel class="ui-g-6 generic_margin0 generic_padding0 dmd-paddingRight05em" id="idfasicoloInfo_PDSR">
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idFascicolo_PDSR" value="Nome del fascicolo" styleClass="generic_textBold"/>
				<p:outputLabel for="idFascicolo_PDSR" value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>
			<p:outputPanel class="ui-g-8">
				<div class="ui-inputgroup obbligatorio">
				<!-- Modificare il rpefix del fascicolo adesso è un valore recuperato dal fascicolo (ANNO NUMERO) -->
					<p:outputLabel for="idFascicolo_PDSR" value="#{PredisponiDichiarazioneBean.tabGenerale.detail.prefixFascicoloProcedimentale}" styleClass="generic_grassetto generic_corsivo dmd-numeroanno" />
					<p:inputText id="idFascicolo_PDSR" value="#{PredisponiDichiarazioneBean.tabGenerale.detail.descrizioneFascicoloProcedimentale}" styleClass="generic_input100" readonly="true"
						title="#{PredisponiDichiarazioneBean.tabGenerale.detail.descrizioneFascicoloProcedimentale}" />
				</div>	 
			</p:outputPanel>
			<!-- DIALOG RICERCA FASCICOLO PROCEDIMENTALE END			 -->

		</p:outputPanel>
	<!-- NOME FASCICOLO END -->		
	</p:outputPanel>
	
	<p:outputPanel class="ui-g generic_padding0 generic_margin0 dmd-paddingRight05em">
		<!-- ASSEGNAZIONE ORGANIGRAMMA -->
		<p:outputPanel class="ui-g-6 generic_padding0 generic_margin0" >
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idAssegnatarioPerComp_PDSR" value="Assegnatario per competenza" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-8">
				<div class="ui-inputgroup">
					<p:inputText id="idAssegnatarioPerComp_PDSR" styleClass="generic_input100" value="#{PredisponiDichiarazioneBean.tabGenerale.getDescrAssegnatario(tipoAssegnazioneEnum.COMPETENZA)}" readonly="true" />
				</div>
			</p:outputPanel>
		</p:outputPanel>
		<!-- ASSEGNAZIONE ORGANIGRAMMA END -->
		
		<!-- ASSEGNAZIONE ORGANIGRAMMA -->
		<p:outputPanel class="ui-g-6 generic_padding0 generic_margin0" >
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idAssegnatarioPerFirma_PDSR" value="Assegnatario per firma" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-8">
				<div class="ui-inputgroup">
					<p:inputText id="idAssegnatarioPerFirma_PDSR" styleClass="generic_input100" value="#{PredisponiDichiarazioneBean.tabGenerale.getDescrAssegnatario(tipoAssegnazioneEnum.FIRMA)}" readonly="true" />
				</div>
			</p:outputPanel>
		</p:outputPanel>
		<!-- ASSEGNAZIONE ORGANIGRAMMA END -->
	</p:outputPanel>
		
</p:outputPanel>
	

</ui:composition>