<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/fepa"
	>

	<p:outputPanel id="idDocumentManagerContent_DSR" 
		styleClass=" generic_padding0 generic_maxHeight900px  generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
		<!-- MITTENTE START -->
	
		<red:dsrPresentazione bean="#{DsrManagerBean.presentazione}" idFascicolo="@form:idTabs_DSR:DSR:idFascicolo_DSR"/>
		
		<!-- OGGETTO END -->
		<div class=" generic_padding0">
			<p:tabView styleClass="generic_borderTabs" id="idTabs_DSR" widgetVar="wdgTabs_DSR">
				<p:tab title="Generale">
					<red:dsrTabGenerale id="DSR" bean="#{DsrManagerBean.tabGenerale}"/>
				</p:tab>
				<p:tab title="Fascicoli">
					<red:tabFascicoli bean="#{DsrManagerBean.tabFascicoli}"/>
				</p:tab>
				<p:tab title="Allegati">
					<red:tabAllegati bean="#{DsrManagerBean.tabAllegati}"/>
				</p:tab>
			</p:tabView>
		</div>
		
		<div class="buttonsDiv generic_textAlignRight">
			<p:commandButton action="#{DsrManagerBean.registra}" value="Registra" icon="fa fa-save" validateClient="true" styleClass=""/>
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('protocollaMail_WV').hide()" type="button" styleClass="uniqueCloseButton"/>
		</div>	
	
	</p:outputPanel>
	
</ui:composition>