<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:dd="http://java.sun.com/jsf/composite/custom">

	<div class="ui-g generic_padding0 generic_margin0 generic_heigth95 generic_overflow">
		<!--  Tabs per l'anteprima del protocolla -->		
		<p:tabView id="previewTabsDSR" styleClass="ui-g-12 generic_margin0 generic_centra">
			<p:tab id="previewDocDSRTab" title="Preview" >
	<!-- ========================== VISUALIZZATORE DOCUMENTO START ================================================================-->
				<iframe title="Frame protocolla DSR" src="#{request.contextPath}/pdfjs/web/viewer.html?file=#{DsrManagerBean.cryptoId}&amp;_=#{session.lastAccessedTime}" class="pdfViewer generic_height100 generic_padding0 generic_margin0" id="pdfViewer"/>
	<!-- ========================== VISUALIZZATORE DOCUMENTO END ==================================================================-->
			</p:tab>
			<p:tab id="testoMailPreviewTab" title="Testo mail" rendered="#{MailBean.currentmail ne null}">
				<dd:dettaglioTestoMailComponent testoMail="#{MailBean.currentmail.testo}" />
			</p:tab>
		</p:tabView>
	</div>
	
</ui:composition>