<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="categoria" allSuffix="ALL_ENUM_VALUES"></p:importEnum>
	
	<p:outputPanel id="idFascicoloManagerContent_FM"
		styleClass="ui-g generic_padding0 generic_maxHeight900px  generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
		
		<div class="ui-g-2">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Fascicolo" />
			<p:outputLabel styleClass="" value="#{FascicoloManagerBean.detail.nomeFascicolo}" />
			<p:outputLabel styleClass="dmd-distance" value="/" />
			<p:outputLabel styleClass="generic_marginRight" value="#{FascicoloManagerBean.detail.anno}" />
		</div>
		<div class="ui-g-2 generic_textAlignRight">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Data creazione" />
		</div>
		<div class="ui-g-1 ">
			<p:outputLabel value="#{FascicoloManagerBean.detail.dataCreazione}"  >
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</div>
		<div class="ui-g-2 generic_textAlignRight" >
			<p:outputPanel >
				<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Indice di classificazione" />
				<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
		</div>
		<div class="ui-g-5 ui-fluid" >
  		   <p:inputText value="#{FascicoloManagerBean.detail.titolario}" readonly="true"  styleClass="generic_input98" />
		</div>
		
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_grassetto" value="Stato"/>
		</div>
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_corsivo" value="#{FascicoloManagerBean.detail.stato}"/>
		</div>

		<div class="ui-g-12" >
			<p:outputLabel styleClass="generic_grassetto generic_displayBlock generic_marginBottom05" value="Descrizione" />
			<p:outputLabel styleClass="generic_textAlignJustify" value="#{FascicoloManagerBean.detail.oggettoNoNumeroAnno}" title="#{FascicoloManagerBean.detail.oggettoNoNumeroAnno}"/>
		</div>
		<div class="ui-g-12" >
			<hr />
		</div>
		
		<p:tabView id="idTabs_FM" widgetVar="wdgTabs_FM"  onTabChange="#{DettaglioDocumentoFepaBean.storico.javascriptStandalone}"> 
			<p:tab title="Documenti">
				<div class="ui-g-12" >
					<p:dataTable id="idDocumentiFasTable_DF" widgetVar="wdgDocumentiFasTable_DF"
						value="#{FascicoloManagerBean.detail.documenti}" var="d" 
						rowKey="#{d.documentTitle}" rowIndexVar="index"
						rows="10" 
						emptyMessage="Nessun documento" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" 
						>
						<p:column headerText="Num. Prot. - ID - RR" styleClass="generic_textAlignCenter" sortBy="#{d.numeroDocumento}">
							<p:outputLabel value="#{d.numeroProtocollo}" />
							<p:outputLabel rendered="#{d.numeroProtocollo != null}" value="/" styleClass="dmd-distance" />
							<p:outputLabel value="#{d.numeroDocumento}" />
							<p:outputLabel value="#{' - '}" />
							<p:outputLabel value="#{d.annoProtocollo}" rendered="#{d.annoProtocollo != null and d.annoProtocollo != ''}" />
							<p:outputLabel value="#{d.dataCreazione}" rendered="#{d.annoProtocollo == null or d.annoProtocollo == ''}">
							    <f:convertDateTime pattern="yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Tipo" styleClass="generic_textAlignCenter">
							<p:outputLabel value="E" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ENTRATA.getIds()[0]}" styleClass="DD_textNormale" title="Entrata" />
							<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.USCITA.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="-" rendered="#{d.idCategoria == null}" styleClass="DD_textNormale" />
						</p:column>
						<p:column headerText="Tipologia documento" sortBy="#{d.tipoDocumento}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.tipoDocumento}" rendered="#{d.tipoDocumento != null}"/>
							<p:outputLabel value="ALLEGATO" rendered="#{d.tipoDocumento == null}"/>
						</p:column>
						<p:column sortBy="#{d.oggetto}" headerText="Oggetto">
							<p:outputLabel title="#{d.oggetto}" value="#{FascicoloManagerBean.getShortColumn(d.oggetto,30)}"/>
						</p:column>
						<p:column headerText="Data creazione" sortBy="#{d.dataCreazione}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.dataCreazione}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Azioni" styleClass="generic_textAlignCenter">
							<p:commandButton title="Download #{d.nomeFile}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						        <p:fileDownload value="#{FascicoloManagerBean.downloadDocSelected(index)}" />
						    </p:commandButton>
						   
						    <p:commandButton rendered="#{d.idCategoria ne categoria.INTERNO.ids[0] and !DettaglioDocumentoFepaBean.dettaglioDD}" type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumentiFascicoliDSR').show();PF('dlgVisualizzaDocumentiFascicoliDSR').toggleMaximize();"
                                              action="#{FascicoloManagerBean.openVisualizzaDocumento(index)}" process="@this" update="@form:idDlgVisualizzaDocumentiFascicoliDSR" />
                                              
							<p:commandButton icon="fa fa-remove" ajax="true" rendered="#{d.tipoDocumento == null}" 
								 title="Elimina Allegato dal Fascicolo" action="#{FascicoloManagerBean.eliminaAllegatoFattura(index)}" update="idDocumentiFasTable_DF" >
								<p:confirm header="Conferma Eliminazione" message="Si desidera eliminare l'elemento selezionato?"/>
							</p:commandButton> 
						</p:column>
						<p:column headerText="Fascicolo" styleClass="generic_textAlignCenter" rendered="#{DettaglioDocumentoFepaBean.dettaglioDD}">
							<p:commandButton icon="fa fa-folder" ajax="true" rendered="#{d.tipoDocumento eq 'FATTURA FEPA'}" 
								 title="Visualizza Fascicolo Fepa" action="#{DettaglioDocumentoFepaBean.openDialogFascicoloFatturaDecreto(index)}" update="@form:idPanelFascicoloManager_DF_Fattura, @form:idFascicoloManagerContent_Fattura_FM"/>
							<p:outputLabel value="-" rendered="#{d.tipoDocumento ne 'FATTURA FEPA'}"></p:outputLabel>
							</p:column>
					</p:dataTable>
				</div>
				
			</p:tab>
				        
			<p:tab title="Assegnazioni"  rendered="#{DettaglioDocumentoFepaBean.dettaglioDD}">
				<dd:dettaglioDataDatatableAssegnazioni assegnazioni="#{DettaglioDocumentoFepaBean.detail.assegnazioni}" />
	        </p:tab> 
			<p:tab title="Storico" rendered="#{DettaglioDocumentoFepaBean.dettaglioDD}" >
			 	
				<div class="ui-datatable generic_noborder"  >
					<table class="empty-table generic_noborder" >
				 		<tr> <td class="generic_noborder" > </td> </tr>
				 	</table>
		    		<dd:dettaglioDocumentoTabStorico bean="#{DettaglioDocumentoFepaBean.storico}"/>
				</div>
				 
	    	</p:tab>
		   	<ui:include src="../fepa/dettaglioDocumentoTabOrdiniDiPagamento_DD.xhtml" />
		   	<ui:include src="../fepa/dettaglioDocumentoTabDocumentiAggiuntivi_DD.xhtml" />
			
		</p:tabView>
		
	</p:outputPanel>
	
<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog id="idDlgVisualizzaDocumentiFascicoliDSR"  widgetVar="dlgVisualizzaDocumentiFascicoliDSR"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumentiFascicoliDSR')"
		  resizable="false" closable="true" modal="true" appendTo="@form" onHide="PF('dlgVisualizzaDocumentiFascicoliDSR').toggleMaximize();" >
		
		<p:outputPanel id="visualizzaDocFasDsr_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{FascicoloManagerBean.viewDettaglioDoc}" dettagliodto="#{FascicoloManagerBean.documentoDto}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="submit" onclick="PF('dlgVisualizzaDocumentiFascicoliDSR').hide();" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>
 	 	
<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG start ==========================================================-->
<p:dialog header="Gestisci fascicolo" widgetVar="dlgManageFascicolo_DF_FEPA_Fattura"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idPanelFascicoloManager_DF_Fattura" 
	onShow="dlgOnShow(this.jqId);PF('dlgManageFascicolo_DF_FEPA_Fattura').initPosition();onShowForClosableDlg('dlgManageFascicolo_DF_FEPA_Fattura');selectFirstTabByTabsWidgetName('wdgTabs_Fattura_FM');" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth80 generic_maxHeight70" position="center" 
	draggable="true"  appendTo="@form">
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloVisible}" 
		styleClass="generic_padding0 generic_margin0 generic_noborder" id="idPanelFascicoloManager_DF_Fattura_Panel">
		<ui:include  src="../fepa/fascicoloFEPAFatturaManager.xhtml" ></ui:include>
	</p:panel>
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton icon="fa fa-folder" action="#{DettaglioDocumentoFepaBean.loadDettaglioFatturaFepa}" title="Visualizza Fascicolo Fepa" value="Visualizza Fascicolo Fepa" update="@form:idPaneldlgManageFascicolo_Fattura_FEPA"/>
		<p:commandButton icon="fa fa-plus" action="#{FascicoloFatturaManagerBean.inizializzaAggiungiDocAllegatoFattura()}" update="idPanelAllegatoFascFatt, @form:idDlgAgg_Allegato_FascFatt_DF" value="Aggiungi Documento" title="Aggiungi Documento"/>
		<p:commandButton icon="fa fa-times" action="#{DettaglioDocumentoFepaBean.chiudiFascicoloFattura()}" onclick="PF('dlgManageFascicolo_DF_FEPA_Fattura').hide()" value="Chiudi" title="Chiudi" update="@form:idPanelFascicoloManager_DF_Fattura, @form:idDlgAgg_Allegato_FascFatt_DF" styleClass="uniqueCloseButton" />
	</div>
</p:dialog>


<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG end ============================================================-->
	
 	 	
</ui:composition>