<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.business.enums.CategoriaDocumentoEnum" var="categoria" allSuffix="ALL_ENUM_VALUES"></p:importEnum>
	
	<p:outputPanel id="idFascicoloManagerContent_Fattura_FM"
		styleClass="ui-g generic_padding0 generic_maxHeight900px  generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
		
		<div class="ui-g-2">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Fascicolo" />
			<p:outputLabel styleClass="" value="#{FascicoloFatturaManagerBean.detail.nomeFascicolo}" />
			<p:outputLabel styleClass="dmd-distance" value="/" />
			<p:outputLabel styleClass="generic_marginRight" value="#{FascicoloFatturaManagerBean.detail.anno}" />
		</div>
		<div class="ui-g-2 generic_textAlignRight">
			<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Data creazione" />
		</div>
		<div class="ui-g-1 ">
			<p:outputLabel value="#{FascicoloFatturaManagerBean.detail.dataCreazione}"  >
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</p:outputLabel>
		</div>
		<div class="ui-g-2 generic_textAlignRight" >
			<p:outputPanel >
				<p:outputLabel styleClass="generic_grassetto generic_marginRight" value="Indice di classificazione" />
				<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
		</div>
		<div class="ui-g-5 ui-fluid" >
  		   <p:inputText value="#{FascicoloFatturaManagerBean.detail.titolario}" readonly="true" styleClass="generic_input98" />
		</div>
		
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_grassetto" value="Stato"/>
		</div>
		<div class="ui-g-1 ">
			<p:outputLabel styleClass="generic_corsivo" value="#{FascicoloFatturaManagerBean.detail.stato}" />
		</div>

		<div class="ui-g-12" >
			<p:outputLabel styleClass="generic_grassetto generic_displayBlock generic_marginBottom05" value="Descrizione" />
			<p:outputLabel styleClass="generic_textAlignJustify" value="#{FascicoloFatturaManagerBean.detail.oggettoNoNumeroAnno}" title="#{FascicoloFatturaManagerBean.detail.oggettoNoNumeroAnno}"/>
		</div>
		<div class="ui-g-12" >
			<hr />
		</div>
		
		
		
		<p:tabView id="idTabs_Fattura_FM" widgetVar="wdgTabs_Fattura_FM">
			<p:tab title="Documenti">
				<div class="ui-g-12" >
					<p:dataTable id="idDocumentiFasTable_Fattura_DF" widgetVar="wdgDocumentiFasTable_DF"
						value="#{FascicoloFatturaManagerBean.detail.documenti}" var="d" 
						rowKey="#{d.documentTitle}" rowIndexVar="index"
						rows="10" 
						emptyMessage="Nessun Documento" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" 
						>
						<p:column headerText="Num. Prot. - ID - RR" styleClass="generic_textAlignCenter" sortBy="#{d.numeroDocumento}">
							<p:outputLabel value="#{d.numeroProtocollo}" />
							<p:outputLabel rendered="#{d.numeroProtocollo != null}" value="/" styleClass="dmd-distance" />
							<p:outputLabel value="#{d.numeroDocumento}" />
							<p:outputLabel value="#{' - '}" />
							<p:outputLabel value="#{d.annoProtocollo}" rendered="#{d.annoProtocollo != null and d.annoProtocollo != ''}" />
							<p:outputLabel value="#{d.dataCreazione}" rendered="#{d.annoProtocollo == null or d.annoProtocollo == ''}">
							    <f:convertDateTime pattern="yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Tipo" styleClass="generic_textAlignCenter">
							<p:outputLabel value="E" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ENTRATA.getIds()[0]}" styleClass="DD_textNormale" title="Entrata" />
							<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.USCITA.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="U" rendered="#{d.idCategoria == CategoriaDocumentoEnum.MOZIONE.getIds()[0]}" styleClass="DD_textNormale" title="Uscita"/>
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.INTERNO.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="I" rendered="#{d.idCategoria == CategoriaDocumentoEnum.ASSEGNAZIONE_INTERNA.getIds()[0]}" styleClass="DD_textNormale" title="Interno" />
							<p:outputLabel value="-" rendered="#{d.idCategoria == null}" styleClass="DD_textNormale" />
						</p:column>
						<p:column headerText="Tipologia documento" sortBy="#{d.tipoDocumento}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.tipoDocumento}" rendered="#{d.tipoDocumento != null}"/>
							<p:outputLabel value="ALLEGATO" rendered="#{d.tipoDocumento == null}"/>
						</p:column>
						<p:column headerText="Oggetto" sortBy="#{d.oggetto}">
							<p:outputLabel title="#{d.oggetto}" value="#{FascicoloFatturaManagerBean.getShortColumn(d.oggetto,35)}"/>
						</p:column>
						<p:column headerText="Data creazione" sortBy="#{d.dataCreazione}" styleClass="generic_textAlignCenter">
							<p:outputLabel value="#{d.dataCreazione}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Azioni" styleClass="generic_textAlignCenter">
							<p:commandButton title="Download #{d.nomeFile}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						        <p:fileDownload value="#{FascicoloFatturaManagerBean.downloadDocSelected(index)}" />
						    </p:commandButton>
						    
						    
							<p:commandButton icon="fa fa-remove" ajax="true" rendered="#{d.tipoDocumento == null}" 
								 title="Elimina Allegato dal Fascicolo" action="#{FascicoloFatturaManagerBean.eliminaAllegatoFattura(index)}" update="idDocumentiFasTable_Fattura_DF" >
								 <p:confirm header="Conferma Eliminazione" message="Si desidera eliminare l'elemento selezionato?"></p:confirm>
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
				
			</p:tab>
			
		</p:tabView>
		
	</p:outputPanel>
 	 
 	
 	
 	
 	 	
 	<p:dialog header="Fascicolo Fepa" widgetVar="dlgManageFascicolo_Fattura_FEPA"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="iddlgManageFascicolo_Fattura_FEPA" onShow="dlgOnShow(this.jqId);PF('dlgManageFascicolo_Fattura_FEPA').initPosition();onShowForClosableDlg('dlgManageFascicolo_Fattura_FEPA')" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth50 generic_maxHeight55 generic-overflowY" position="center" 
	draggable="false"  appendTo="@form">
		<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloVisible or  DettaglioDocumentoFepaBean.dialogFascicoloFatturaVisible}" 
			styleClass="generic_padding0 generic_margin0 generic_noborder"  id="idPaneldlgManageFascicolo_Fattura_FEPA">
			<p:dataTable var="v" value="#{DettaglioDocumentoFepaBean.detailFatturaFepa.documentiFepa}" rowIndexVar="index" styleClass="generic_table-maxHeight"
						id="dettaglioFatturaFepaId" emptyMessage="Nessun Documento" scrollable="false"
						paginator="true" paginatorAlwaysVisible="false" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15"
						paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:column headerText="Tipologia Documento"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{v.tipologiaDocumento}"  />
					    </p:column>
					     <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter">
					        <p:outputLabel title="#{v.descrizione}" value="#{fn:substring(v.descrizione, 0,20)}..." />
					    </p:column>
					    <p:column headerText="Nome file"  styleClass="generic_textAlignCenter">
					        <p:outputLabel title="#{v.fileName}" value="#{fn:substring(v.fileName, 0,20)}..." />
					    </p:column>
					    <p:column headerText="Data Creazione"  styleClass="generic_textAlignCenter">
					        <p:outputLabel value="#{v.dataCreazione}"  >
					        	<f:convertDateTime pattern="dd/MM/yyyy" />
					        </p:outputLabel>
					    </p:column>
				 		 <p:column headerText="Operazioni"  styleClass="generic_textAlignCenter">
					        <p:commandButton title="Download #{v.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
						        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadDocumentoFascicoloFattura(index)}" />
						    </p:commandButton>
					    </p:column>
					    
				</p:dataTable>
				<div class="buttonsDiv buttonsLayout">
					<p:commandButton value="Chiudi" icon="fa fa-times" title="Chiudi Fascicolo Fepa" type="button" onclick="PF('dlgManageFascicolo_Fattura_FEPA').hide();" styleClass="uniqueCloseButton"/>
				</div>
		</p:panel>
	</p:dialog>
 	 	
 	 		
<!--========================================================== Aggiungi Allegato Facicolo Fattura DIALOG start ==========================================================-->
<p:dialog header="Aggiungi Allegato Fascicolo Fattura" widgetVar="dlgAgg_Allegato_FascFatt_DF"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idDlgAgg_Allegato_FascFatt_DF" onShow="dlgOnShow(this.jqId);PF('dlgAgg_Allegato_FascFatt_DF').initPosition();onShowForClosableDlg('dlgAgg_Allegato_FascFatt_DF')" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth50 generic_maxHeight50" position="center" 
	draggable="false" appendTo="@form">
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloVisible or DettaglioDocumentoFepaBean.dialogFascicoloFatturaVisible}"  
		styleClass="generic_padding0 generic_margin0 generic_noborder" id="idPanelAllegatoFascFatt">
	
				<div class="ui-g">
				
					<p:outputPanel styleClass="ui-g-2">
							<p:outputLabel value="Nome file" styleClass="generic_textBold"/>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-7">
								<p:inputText value="#{FascicoloFatturaManagerBean.allegatoFattura.nomeFile}" disabled="true" styleClass="generic_input99 generic-opacity" />
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-3">
								<p:commandButton action="#{FascicoloFatturaManagerBean.rimuoviFileAllegatoFattura}" rendered="#{FascicoloFatturaManagerBean.allegatoFattura.nomeFile != null}" icon="fa fa-close"  styleClass="dmd-distance" 
									ajax="true" title="Rimuovi il documento" update="idPanelAllegatoFascFatt"/>
									<p:fileUpload 
									fileUploadListener="#{FascicoloFatturaManagerBean.handleFileUploadAllegatoFattura}"
									auto="true"
									label="Sfoglia"
									mode="advanced" skinSimple="true"
									dragDropSupport="false"
									styleClass="dmd-fileUpload"
									update="idPanelAllegatoFascFatt"
									onstart="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();"
									rendered="#{FascicoloFatturaManagerBean.allegatoFattura.nomeFile == null}"
									process="@this, oggettoDoc_Fasc_Fatt"
									>
									<f:attribute name="index" value="#{index}" />
								</p:fileUpload>
							</p:outputPanel>
						
						<div class="ui-g-2">
							<p:outputLabel for="oggettoDoc_Fasc_Fatt" value="Oggetto" styleClass="generic_textBold"/>
						</div>
						<div class="ui-g-10">
							<p:inputTextarea id="oggettoDoc_Fasc_Fatt" value="#{FascicoloFatturaManagerBean.allegatoFattura.oggetto}" styleClass="generic_input90" />
						</div>
					</div>
	</p:panel>
	<div class="ui-g">
		<div class="ui-g-6">
			<p:commandButton icon="fa fa-save" title="Salva" ajax="true" type="submit" value="Salva" action="#{FascicoloFatturaManagerBean.aggiungiDocumentoAllegatoFattura}" oncomplete="PF('dlgAgg_Allegato_FascFatt_DF').hide()" update="@form:idPanelFascicoloManager_DF_Fattura_Panel" styleClass="generic_width100"/>
		</div>
		<div class="ui-g-6">
			<p:commandButton icon="fa fa-times" onclick="PF('dlgAgg_Allegato_FascFatt_DF').hide()" title="Chiudi" value="Chiudi" styleClass="generic_width100 uniqueCloseButton" />
		</div>
	</div>
</p:dialog>
<!--========================================================== Aggiungi Allegato O.P. DIALOG end ============================================================-->


<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog id="idDlgVisualizzaDocumentiFascicoliFatturaDSR"  widgetVar="dlgVisualizzaDocumentiFascicoliFatturaDSR"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumentiFascicoliFatturaDSR')"
		  resizable="false" closable="true" modal="true" appendTo="@form" onHide="PF('dlgVisualizzaDocumentiFascicoliFatturaDSR').toggleMaximize();" >
		
		<p:outputPanel id="visualizzaDocFasFatturaDsr_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{FascicoloFatturaManagerBean.viewDettaglioDoc}" dettagliodto="#{FascicoloFatturaManagerBean.documentoDto}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="submit" onclick="PF('dlgVisualizzaDocumentiFascicoliFatturaDSR').hide();" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>

	
		
	

</ui:composition>