<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:redCustom="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

<p:outputPanel id="idDocumentManagerContent_PDSR"
		styleClass="ui-g generic_padding0 generic_maxHeight900px  generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
	
	<!-- DESTINATARI INTERNI -->
    <p:dataTable var="destinatario" value="#{DettaglioDichiarazioneBean.detail.destinatari}" rendered="#{DettaglioDichiarazioneBean.canRegisterDestinatari}" emptyMessage="Nessun destinatario">
        <p:column headerText="Destinatari Interni">
            <h:outputText value="#{destinatario.contatto.aliasContatto}" />
        </p:column>    
    </p:dataTable>	
	<!-- DESTINATARI INTERNI FINE -->
	
	<!-- MITTENTE START -->
	<red:dsrPresentazione bean = "#{DettaglioDichiarazioneBean.presentazione}" />
	
	<!-- OGGETTO END -->
	<div class="ui-g-12 generic_padding0">
		<p:tabView styleClass="generic_borderTabs" id="idTabs_PDSR" widgetVar="wdgTabs_PDSR" onTabChange="#{DettaglioDichiarazioneBean.storico.javascriptStandalone}" >
			<p:tab title="Generale" >
				<ui:include src="../fepa/dichiarazioneServiziResiPredisponiTabGenerale_DSR.xhtml" />
			</p:tab>
			<p:tab title="Fascicoli" >
				<red:tabFascicoli bean="#{DettaglioDichiarazioneBean.tabFascicoli}" />
			</p:tab>
			<p:tab title="Allegati">
				<red:tabAllegati bean = "#{DettaglioDichiarazioneBean.tabAllegati}" />
			</p:tab>
		   <p:tab title="Documenti">
		   		<dd:documentManagerDataTabDocumenti bean="#{DettaglioDocumentoFepaBean.versioniAllegato}"  verificaFirma="false" />
			</p:tab>		
				<!-- < ui:include src="../fepa/dettaglioDocumentoTabDocumenti_DSR.xhtml" /> -->
			<p:tab rendered="#{DettaglioDichiarazioneBean.showTabTrasmissione}" id="trasmissioneId" title="Trasmissione">
				<redCustom:trasmissioneDettaglio bean="#{DettaglioDichiarazioneBean.trasmissioneDetail}" />	  
			</p:tab>
	        <p:tab title="Storico">
	    		<dd:dettaglioDocumentoTabStorico bean="#{DettaglioDichiarazioneBean.storico}"/>
	    	</p:tab>
		</p:tabView>
	</div>
	
	<div class="ui-g-12 generic_textAlignRight dmd-marginBottom">
		<p:commandButton action="#{DettaglioDichiarazioneBean.registra}" value="Registra" icon="fa fa-save" rendered="#{DettaglioDichiarazioneBean.canRegister}"
			   			 validateClient="true" styleClass="" title="Registra" id="registraPredDoc"
			   			 oncomplete="PF('dett_DSR_FEPA').hide()" update=" @form:docInEntrataProtocollaDsrScrlPnl" />
		<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" action="#{DettaglioDocumentoFepaBean.closePopupDSRPredispostaNoEdit()}" oncomplete="PF('dett_DSR_FEPA').hide()" udpate="@form:docInEntrataProtocollaDsrScrlPnl" styleClass="uniqueCloseButton" />

	</div>	
	
</p:outputPanel>
	
</ui:composition>