<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<script type='text/javascript' src='#{request.contextPath}/resources/js/treeTable.js'></script>
	
	<p:importEnum type="it.ibm.red.business.enums.MailOperazioniEnum" var="mailOperazioniEnum"/>
	<p:importEnum type="it.ibm.red.web.enums.MailActionEnum" var="MailActionEnum"></p:importEnum>
	<p:importEnum type="it.ibm.red.business.enums.TipoRubricaEnum" var="tipoRubricaEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<p:outputPanel id="contenutoPosta" styleClass="">
		<p:panelGrid columns="2" layout="grid" cellpadding="10"  columnClasses="ui-grid-col-2, ui-grid-col-10" styleClass="mailRecipients, header-mail">
			<p:outputLabel value="Da:" styleClass="generic_textAlignRight generic_textBold"/>
			<h:outputText value="#{MailBean.mailDTH.currentDetail.mittenteSplit}"/>
			<p:outputLabel value="A:"  styleClass="generic_textAlignRight generic_textBold"/>
			<h:outputText value="#{MailBean.mailDTH.currentDetail.destinatarioSplit}"/>
			<p:outputLabel rendered="#{!empty MailBean.mailDTH.currentDetail.destinatarioCC}" value="CC: " styleClass="generic_textBold"/>
			<h:outputText rendered="#{!empty MailBean.mailDTH.currentDetail.destinatarioCC}" value="#{MailBean.mailDTH.currentDetail.destinatarioCCSplit}"/>
			<p:outputLabel value="Oggetto: " styleClass="generic_textBold"/>
			<h:outputText value="#{MailBean.mailDTH.currentDetail.oggetto}"/>
			<p:outputLabel value="Data:" styleClass="generic_textAlignRight generic_textBold"/>
			<h:outputText value="#{MailBean.mailDTH.currentDetail.dataArrivo}" rendered="#{MailBean.mailDTH.currentDetail.statoMail.status eq statoMail.INARRIVO.value or MailBean.mailDTH.currentDetail.statoMail.status eq statoMail.ELIMINATA.value or MailBean.mailDTH.currentDetail.statoMail.status eq -1 and empty MailBean.mailDTH.currentDetail.dataInvio}"/>
			<h:outputText value="#{MailBean.mailDTH.currentDetail.dataInvio}" rendered="#{MailBean.mailDTH.currentDetail.statoMail.status eq statoMail.INOLTRATA.value or MailBean.mailDTH.currentDetail.statoMail.status eq statoMail.RIFIUTATA.value or MailBean.mailDTH.currentDetail.statoMail.status eq -1 and not empty MailBean.mailDTH.currentDetail.dataInvio}"/>
		</p:panelGrid>
		
		<!-- Allegati -->
		<p:panel styleClass="ui-widget-content generic_no_background" rendered="#{fn:length(MailBean.mailDTH.currentDetail.allegati) ne 0}">
			<h3 class="generic_marginLeft18 darkgray">Allegati</h3>
			<p:scrollPanel mode="native" styleClass="scroll-allegati generic_noborder">
				<p:repeat var="allegato" value="#{MailBean.mailDTH.currentDetail.allegati}">
					<p:panelGrid columns="2" layout="grid" cellpadding="10" 
						columnClasses="#{fn:length(MailBean.mailDTH.currentDetail.erroriValidazioneInterop) gt 0 ? 'ui-grid-col-2, ui-grid-col-10' : 'ui-grid-col-1, ui-grid-col-11'}">
						
						<p:outputPanel>
							<p:commandButton styleClass="allegatoBtn generic_marginLeft4" style=" background-size: contain;" ajax="false" icon="#{allegato.iconaExt.path}" title="Download #{allegato.documentTitle}" disabled="#{SessionBean.utente.gestioneApplicativa}">
								<f:setPropertyActionListener target="#{MailBean.selectedAllegatoId}" value="#{allegato.id}"/>
								<p:fileDownload value="#{MailBean.fileAllegato}"/>
							</p:commandButton>
							
							<p:commandButton rendered="#{fn:toLowerCase(allegato.documentTitle) eq 'segnatura.xml' and fn:length(MailBean.mailDTH.currentDetail.erroriValidazioneInterop) gt 0}" styleClass="allegatoBtn generic_marginLeft4" 
								style="background-size: contain;" type="button" icon="fa fa-arrows-h" title="Dettaglio interoperabilità" 
								update="eastSectionForm:errorInterop_DT" process="@this" onclick="PF('validitaInteroperabilita_WV').show();"/>
						</p:outputPanel>
						
						<p:panelGrid columns="2" layout="grid" cellpadding="10" columnClasses="ui-grid-col-1, ui-grid-col-11">
							<h:outputLabel id="info" class="fa fa-info-circle" title="Nome"/>
							<h:outputText value="#{allegato.documentTitle}"/>
						</p:panelGrid>
					</p:panelGrid>
					
					<p:tooltip for="info" shared="true" atPosition="top center" myPosition="bottom center" showDelay="500">
						<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-8, ui-grid-col-4">
							<p:outputLabel value="Dimensione" styleClass="generic_textBold"/>
							<p:outputLabel value="#{allegato.dimension}"/>
							
							<p:outputLabel value="Firme" styleClass="generic_textBold"/>
							<p:outputLabel value="#{allegato.fullSign}"/>
							
							<p:outputLabel value="Campi Firma" styleClass="generic_textBold generic_marginRight50px"/>
							<p:outputLabel value="#{allegato.blankSign}"/>
						</p:panelGrid>
					</p:tooltip>
				</p:repeat>
			</p:scrollPanel>
		</p:panel>
		
		<div class="bodyMail">
			<h3 class="darkgray">Testo mail</h3>
			<p:outputLabel value="L'utente non ha i privilegi per visualizzare il contenuto della mail" styleClass="generic_textAlignJustifyImp" rendered="#{SessionBean.utente.gestioneApplicativa}"/>
			<h:outputText id="prova2" value="#{MailBean.mailDTH.currentDetail.testo}" escape="false" styleClass="generic_textAlignJustifyImp" rendered="#{not SessionBean.utente.gestioneApplicativa}"/>
		</div>
	</p:outputPanel>
	
	<!-- Dialog Inoltra -->
	<p:dialog id="inoltraDlg" widgetVar="inoltraDlg_WV" header="Inoltra" resizable="false" modal="true" position="center" closable="true" fitViewport="true" 
		styleClass="width-dialogMail generic_top25" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('inoltraDlg_WV')">
		<p:scrollPanel id="inoltraScrollPnl" mode="native" styleClass="maxHeigth-scroll-dialogMail">
			<p:panelGrid id="inoltraPnl" columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-9 no_left_padding, ui-grid-col-3">

				<p:panel id="dettagliInoltro" styleClass="borderRightForMail" rendered="#{MailBean.renderInoltra}">

					<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-10">
					
						<p:outputLabel value="Da:" styleClass="generic_textBold"/>
						
						<p:inputText value="#{MailBean.cpAttiva}" disabled="true" styleClass="generic_input100 generic_floatRight"/>
						
						<p:outputLabel value="Destinatari:" styleClass="generic_textBold"/>
						
						<p:outputPanel styleClass="generic_floatRight">
							<p:commandButton icon="fa fa-plus" actionListener="#{MailBean.aggiungiDestinatarioNew}" update="eastSectionForm:inoltraPnl" process="@this" title="Aggiungi Nuovo Destinatario" />
							<p:commandButton id="wdgCercaPreferitoBtn_dest" ajax="true" icon="fa fa-leanpub" action="#{MailBean.openRubricaPreferiti}" oncomplete="PF('scegliContattoProtocollaDlg_WV').show();" update="scegliContattoProtocollaScrlPnl" title="Apri Rubrica" process="@this" />
							<p:commandButton id="wdgPulisciDestinatariBtn_dest" ajax="true" icon="fa fa-eraser" action="#{MailBean.pulisciTabellaDestinatari}" update="contattiA_inoltra" title="Pulisci destinatari" />
						</p:outputPanel>
					</p:panelGrid>
					
					<!-- Destinatari -->
					<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12">
						<p:dataTable id="contattiA_inoltra" var="contattoTo" value="#{MailBean.destinatari}" rowKey="#{contattoTo.idAutocomplete}" rowIndexVar="index"
							styleClass="textAlignCenter TabellaAddDestinatari" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
							<p:column headerText="Contatto" styleClass="generic_width25">
								<p:outputPanel styleClass="ui-inputgroup">
									<p:remoteCommand name="remoteUpdateDestinatariMailInoltraAutocomplete" actionListener="#{MailBean.updateInoltraTbl}" process="@this" update="@this" global="false" async="true" />
									<p:autoComplete value="#{MailBean.destinatari[index]}" completeMethod="#{MailBean.caricaRubricaMail}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}"
										widgetVar="autocompleteDestInoltraWidget${index}"
										minQueryLength="0" maxResults="12" var="contattoToSelected" itemLabel="#{contattoToSelected.contatto.aliasContatto}" itemValue="#{contattoToSelected.identificativo}"
										converter="destinatarioMailConverter" styleClass="textfield_input elementDisableAutocompleteInoltra" onblur="remoteUpdateDestinatariMailInoltraAutocomplete();">
										<p:ajax event="itemSelect" update="eastSectionForm:dettagliInoltro" />

										<f:attribute name="rowIndex" value="#{index}" />
										<p:column headerText="Alias/Descrizione" styleClass="ui-tabs.generic_noborderTabs">
											<h:outputText value="#{contattoToSelected.contatto.aliasContatto}" />
										</p:column>
										<p:column headerText="PEO" styleClass="ui-tabs.generic_noborderTabs">
											<h:outputText value="#{contattoToSelected.contatto.mail}" />
										</p:column>
										<p:column headerText="PEC" styleClass="ui-tabs.generic_noborderTabs">
											<h:outputText value="#{contattoToSelected.contatto.mailPec}" />
										</p:column>
									</p:autoComplete>
								</p:outputPanel>
							</p:column>

							<p:column headerText="Mail" id="mailDestinatario" filterable="true">
								<p:remoteCommand global="false" async="true" name="updateDestinatarioMailPecPeoInoltra" process="@form:contattiA_inoltra" update="@form:contattiA_inoltra" />
								<p:inputText id="mailSelectedOnTheFlyInoltraID" value="#{MailBean.destinatari[index].contatto.mailSelected}" styleClass="generic_floatLeft" 
									onchange="changeMailDestinatarioMailAndCreateOnTheFlyInoltra(#{index});updateDestinatarioMailPecPeoInoltra();" 
									disabled="#{(empty MailBean.destinatari[index].contatto.mailPec and empty MailBean.destinatari[index].contatto.mail) and (MailBean.destinatari[index].contatto.aliasContatto eq null) or (MailBean.destinatari[index].contatto.tipoRubricaEnum eq tipoRubricaEnum.GRUPPO.getTipoRubrica())}" />
								<p:selectOneMenu value="#{MailBean.destinatari[index].contatto.tipologiaEmail}" styleClass="generic_floatRight" panelStyleClass="hideDisabled"
									disabled="#{(empty MailBean.destinatari[index].contatto.mailPec and empty MailBean.destinatari[index].contatto.mail) and (MailBean.destinatari[index].contatto.aliasContatto eq null) or (MailBean.destinatari[index].contatto.tipoRubricaEnum eq tipoRubricaEnum.GRUPPO.getTipoRubrica())}">
									<p:ajax event="change" listener="#{MailBean.onChangeTipoEmailDestinatari(MailBean.destinatari[index].contatto)}" update="@this,mailSelectedOnTheFlyInoltraID" process="@this" />
									<f:selectItems value="#{TipologiaIndirizzoEnum.ALL_ENUM_VALUES}" var="f" itemValue="#{f.tipologiaEmail}" itemLabel="#{f.tipologiaEmail}"/>
								</p:selectOneMenu>

								<p:inputText id="creaOnTheFlyDestMailInoltraID" styleClass="generic_prop_hidden" value="#{MailBean.destinatari[index].contatto.onTheFly}" style="width: 0%;" />
							</p:column>

							<p:column id="tipoDestinatario" headerText="Tipo" filterable="true" styleClass="generic_textAlignCenter generic_width16">
								<p:selectOneButton value="#{contattoTo.modalitaDestinatarioEnum}" required="true" unselectable="false">
									<p:ajax update="@this"/>
									<f:selectItems value="#{MailBean.comboModalitaDestinatario}" var="d" itemLabel="#{d.label}" />
								</p:selectOneButton>
							</p:column>
							
							<p:column headerText="Azioni" styleClass="generic_width20">
								<p:commandButton icon='fa fa-close' actionListener="#{MailBean.rimuoviDestinatario}" update="eastSectionForm:inoltraPnl" process="@this" title="Rimuovi destinatario" />
								<p:commandButton id="infoBtn" icon="fa fa-info" type="button" title="info" disabled="#{MailBean.destinatari[index].contatto.aliasContatto eq null and fn:length(MailBean.destinatari[index].contatto.aliasContatto) eq 0 or (MailBean.destinatari[index].contatto.contattoID == null or MailBean.destinatari[index].contatto.onTheFly == 1)}" rendered="#{MailBean.destinatari[index].contatto.tipoRubricaEnum ne tipoRubricaEnum.GRUPPO.getTipoRubrica()}">
						        	<p:overlayPanel id="infoPnl" for="infoBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom" appendToBody="true" >
										<infopanel:panelInfoContatto contatto="#{contattoTo.contatto}" bean="#{MailBean}"/>
										<iframe title="Frame coda mail destra" class="cover" src="about:blank"/>
						        	</p:overlayPanel>
			        			</p:commandButton>

								<p:commandButton id="infoBtnGruppo" icon="fa fa-eye" type="button" title="Contatti nel gruppo" disabled="#{MailBean.destinatari[index].contatto.aliasContatto eq null and fn:length(MailBean.destinatari[index].contatto.aliasContatto) eq 0 }" rendered="#{MailBean.destinatari[index].contatto.tipoRubricaEnum eq tipoRubricaEnum.GRUPPO.getTipoRubrica()}">
									<p:overlayPanel id="infoPnlGruppo" for="infoBtnGruppo" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width50" my="right top" at="right bottom" appendToBody="true">
										<p:outputPanel styleClass="ui-g">
											<p:outputLabel value="Contatti nel gruppo" styleClass="generic_textBold" />
										</p:outputPanel>

										<p:dataScroller var="contattoMail" value="#{MailBean.destinatari[index].contattiGruppo}">
											<f:facet name="header">
												<p:panelGrid columns="4" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
													<p:outputLabel value="Descrizione/Alias" styleClass="generic_textBold" />
													<p:outputLabel value="Categoria" styleClass="generic_textBold" />
													<p:outputLabel value="PEO" styleClass="generic_textBold" />
													<p:outputLabel value="PEC" styleClass="generic_textBold" />
												</p:panelGrid>
											</f:facet>

											<p:panelGrid columns="4" layout="grid" style="border-bottom: 1px solid; border-color:#aed0ea;" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
												<h:outputText value="#{contattoMail.aliasContatto}" />
												<h:outputText value="#{contattoMail.tipoPersona}" />
												<h:outputText value="#{contattoMail.mail}" />
												<h:outputText value="#{contattoMail.mailPec}" />
											</p:panelGrid>
										</p:dataScroller>
										<iframe title="Frame coda mail destra" class="cover" src="about:blank"/>
									</p:overlayPanel>
								</p:commandButton>
								<p:commandButton id="richiediCreazioneContOnTheFlyMailInoltraID" icon="fa fa-user" disabled="#{(MailBean.destinatari[index].contatto.aliasContatto eq null and MailBean.destinatari[index].contatto.mailSelected eq null) or MailBean.destinatari[index].contatto.tipoRubricaEnum eq tipoRubricaEnum.GRUPPO.getTipoRubrica()}" oncomplete="PF('scegliContattoProtocollaDlg_WV').show();" actionListener="#{MailBean.richiediCreazioneContOnTheFlyDestinatario(index)}" process="@this" update="@form:idMittenteMailPrefTabs_DMD" title="Richiedi creazione o modifica contatto"/>
							</p:column>
						</p:dataTable>
					</p:panelGrid>
					
					<p:panelGrid columns="2" id="oggettoIdInoltro" layout="grid" cellpadding="10" columnClasses="ui-grid-col-2, ui-grid-col-10" styleClass="mailRecipients">
						<p:outputLabel value="Oggetto: " styleClass="generic_textBold" />
						<p:inputText value="#{MailBean.currentmail.oggetto}" styleClass="generic_input100 generic_floatRight"/>
						<p:outputLabel value="Data:"  styleClass="generic_textAlignRight generic_textBold" />
						<p:inputText value="#{MailBean.currentmail.dataArrivo}" disabled="true" styleClass="generic_input100 generic_floatRight"/>
					</p:panelGrid>
				</p:panel>
				
				<p:panel id="opzioniInoltro" styleClass="noBorderGridForMail">
					<p:panelGrid columns="1" layout="grid" cellpadding="10" columnClasses="ui-grid-col-12 ui-fluid">
					
						<p:outputLabel for="testo" value="Testo:"  styleClass="generic_textAlignRight generic_textBold"/>
						<p:selectOneMenu id="testo" value="#{MailBean.testoSc}" styleClass="minMaxWidth" >
							<p:ajax listener="#{MailBean.impostaTesto}" update="eastSectionForm:testoDelMessaggioPnl"/>
							<f:selectItem itemLabel="[Seleziona]"/>
							<f:selectItems value="#{MailBean.motiviInoltro}" var="motivo" itemLabel="#{motivo.descrizione}" itemValue="#{motivo.idTestoPredefinito}"/>
						</p:selectOneMenu>
						
						
						<p:outputLabel for="spedizione" value="Modalità di spedizione:"   styleClass="generic_textAlignRight generic_textBold"/>
						<p:selectOneMenu id="spedizione" value="#{MailBean.modalitaSpedizioneSc}" styleClass="generic_width95">
					        <f:selectItem itemLabel="Singola mail per destinatario" itemValue="1"/>
					        <f:selectItem itemLabel="Unica mail per tutti i destinatari" itemValue="2"/>
					    </p:selectOneMenu> 
					</p:panelGrid>
				</p:panel>
				
			</p:panelGrid>
			
			<p:scrollPanel id="testoDelMessaggioPnl" styleClass="generic_noborder generic-overflow-auto generic_maxHeight350px" mode="native">
				<p:textEditor id="testoDelMessaggio" value="#{MailBean.testoMessaggio}" toolbarVisible="false" escape="true" styleClass="generic_width100 generic_textAlignJustifyImp bk-white" >
				</p:textEditor>
				<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
					<p:commandButton icon="ui-icon-check" value="Inoltra" process="@this,@form:oggettoIdInoltro, @form:opzioniInoltro, @form:testoDelMessaggioPnl" title="Inoltra Mail" type="submit" actionListener="#{MailBean.inoltra}"  update="centralSectionForm, westSectionForm:idTabMain_LeftAside"/>
					<p:commandButton icon="ui-icon-close" value="Chiudi" title="Chiudi" styleClass="uniqueCloseButton" type="button" onclick="PF('inoltraDlg_WV').hide()" />
				</p:outputPanel>
			</p:scrollPanel>
				
		</p:scrollPanel>
		
	</p:dialog>
	
	<!-- Dialog InoltraProt -->
	<p:dialog id="inoltraProtDlg" widgetVar="inoltraProtDlg_WV" header="Inoltra" resizable="false" modal="true" position="250,35" closable="true"  
		styleClass="width-dialogMail-prot" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('inoltraProtDlg_WV')">
		<p:scrollPanel id="inoltraProtScrollPnl" mode="native" styleClass="maxHeigth-scroll-dialogMail">
			
			<p:panel id="dettagliInoltroProt" styleClass="borderRightForMail" rendered="#{MailBean.renderInoltraProt}">
				<ui:include src="inoltraMail_Destinatari.xhtml" />
	
				<p:panelGrid columns="1" layout="grid" cellpadding="10" columnClasses="ui-grid-col-12 no_left_padding" styleClass="pnlgrid_noborder">
					<p:outputLabel for="motivoInoltroProt" value="Testo: " styleClass="generic_textAlignRight generic_textBold"/>
					<p:selectOneMenu id="motivoInoltroProt" value="#{MailBean.idTestoInoltroProt}" styleClass="generic_width97">
						<p:ajax listener="#{MailBean.impostaTestoInoltroProt}" update="eastSectionForm:testoInoltraProtPnl"/>
						<f:selectItem itemLabel="[Seleziona]"/>
						<f:selectItems value="#{MailBean.motiviInoltroConProtocollo}" var="motivo" itemLabel="#{motivo.descrizione}" itemValue="#{motivo.idTestoPredefinito}"/>
					</p:selectOneMenu>
				</p:panelGrid>
				
				<p:outputPanel id="testoInoltraProtPnl" styleClass="generic_noborder" mode="native">
					<p:inputTextarea value="#{MailBean.testoInoltroProt}" styleClass="textAreaProt" />
				</p:outputPanel>
			</p:panel>
		</p:scrollPanel>
		
		<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
			<p:commandButton icon="ui-icon-check" value="Inoltra" title="Inoltra Mail" type="submit" actionListener="#{MailBean.inoltraConProtocollo}"  update="centralSectionForm, scegliContattoProtocollaDlg, westSectionForm:idTabMain_LeftAside"/>
			<p:commandButton icon="ui-icon-close" value="Chiudi" title="Chiudi" styleClass="uniqueCloseButton" type="button" onclick="PF('inoltraProtDlg_WV').hide()" />
		</p:outputPanel>
	</p:dialog>
	
	<!-- popup 'già in protocollazione' -->
	<p:dialog id="giaInCaricoInoltraDlg" widgetVar="giaInCaricoInoltraDlg_WV" header="Già in carico" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false">
		<p:outputLabel value="Attenzione, la mail è già stata presa in carico dall'utente #{MailBean.currentmail.descUtenteProtocollatore}.&lt;br/&gt;Si desidera sbloccare la lavorazione?" escape="false" styleClass="black" />
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{MailBean.cambiaUtenteProtocollatore(mailOperazioniEnum.INOLTRO_CON_PROTOCOLLAZIONE)}" oncomplete="PF('giaInCaricoInoltraDlg_WV').hide()" icon="ui-icon-check" />
			<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('giaInCaricoInoltraDlg_WV').hide(); PF('inoltraProtDlg_WV').hide()" icon="ui-icon-close" />
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog Rifiuta -->
	<p:dialog id="rifiutaDlg" widgetVar="rifiutaDlg_WV" header="Rifiuta" resizable="false" modal="true" position="center" closable="true" fitViewport="true"
	 onShow="dlgOnShow(this.jqId);onShowForClosableDlg('rifiutaDlg_WV')" styleClass="width-dialogMail">
		<p:ajax event="close" listener="#{MailBean.clearFormRifiuta}" />
		<p:panelGrid id="rifiutaPnl" columns="2" layout="grid" columnClasses="ui-grid-col-8, ui-grid-col-4" styleClass="pnlgrid_noborder" rendered="#{MailBean.renderRifiuta}">
			<p:panel id="dettagliRifiuta" styleClass="borderRightForMail">
				<p:panelGrid id="destinatarioRifiutaPnlG" columns="2" layout="grid" cellpadding="10" columnClasses="ui-grid-col-1 no_left_padding, ui-grid-col-11" styleClass="noBorderGrid">
					<p:outputLabel value="Da:"  styleClass="generic_textBold"/>
					<p:inputText value="#{MailBean.cpAttiva}" disabled="true" styleClass="generic-opacity generic_input100"/>
					
					<p:outputLabel value="A:"  styleClass="generic_textBold"/>
					<p:inputText value="#{MailBean.currentmail.mittente}" styleClass="generic_input100 generic-opacity" disabled="true"/>
				
					<p:outputLabel value="Oggetto: " styleClass="generic_textBold"/>
					<p:inputText value="#{MailBean.currentmail.oggetto}" styleClass="generic_input100 "/>
					
					<p:outputLabel value="Data:"  styleClass="generic_textBold"/>
					<p:inputText value="#{MailBean.currentmail.dataArrivo}" disabled="true" styleClass="generic-opacity generic_input100"/>
				</p:panelGrid>
			</p:panel>

			<p:panel id="motivoRifiutoPnl" styleClass="noBorderGridForMail">
				<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="noBorderGrid">
				
					<p:outputLabel for="motivoRifiuto" value="Motivo Rifiuto:" styleClass="generic_textBold"/>
					<p:selectOneMenu id="motivoRifiuto" value="#{MailBean.testoRifiutoSc}" styleClass="generic_width90" >
						<p:ajax listener="#{MailBean.impostaTestoRifiuta}" update="eastSectionForm:testoMailPnl"/>
						<f:selectItem itemLabel="[Seleziona]"/>
						<f:selectItems value="#{MailBean.motiviRifiuto}" var="motivo" itemLabel="#{motivo.descrizione}" itemValue="#{motivo.idTestoPredefinito}"/>
					</p:selectOneMenu>
					
					<p:panel styleClass="noBorderGrid">
						<p:outputLabel for="allegatiOriginaliCheckbox" value="Inserisci allegati originali: " styleClass="generic_textBold" />
				       	<p:selectBooleanCheckbox id="allegatiOriginaliCheckbox" value="#{MailBean.inserisciAllegatiOriginaliFlag}">
				           	<p:ajax update="eastSectionForm:testoMailPnl" listener="#{MailBean.inserisciAllegatiOriginali}"/>
				       	</p:selectBooleanCheckbox>
					</p:panel>
				</p:panelGrid>
			</p:panel>
		</p:panelGrid>
		
		<p:scrollPanel id="testoMailPnl" styleClass="generic_noborder generic_maxHeight300px" mode="native" rendered="#{MailBean.renderRifiuta}">
			<p:textEditor id="testoRifiutoMessaggio" value="#{MailBean.testoRifiuto}" toolbarVisible="false" escape="true"  styleClass="generic_textAlignJustifyImp bk-white"/>
			<p:textEditor id="testoMail" value="#{MailBean.currentmail.testo}" toolbarVisible="false" escape="false" readonly="true"  styleClass="generic_textAlignJustifyImp bk-white"/>
		</p:scrollPanel>
		
		<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
			<p:commandButton value="Continua" title="Continua" type="submit" actionListener="#{MailBean.rifiuta}" icon="ui-icon-check" update="centralSectionForm, westSectionForm:idTabMain_LeftAside"/>
			<p:commandButton value="Chiudi" title="Chiudi" type="button" onclick="PF('rifiutaDlg_WV').hide()" styleClass="uniqueCloseButton" icon="ui-icon-close"/>
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog Rifiuta Con Protocollo -->
	<p:dialog id="rifiutaProtDlg" header="Rifiuta con firma" styleClass="width-dialogMail-prot" 
			  widgetVar="rifiutaProtDlg_WV" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('rifiutaProtDlg_WV')"
			  responsive="true" fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" >
		
		<p:panelGrid id="rifiutaProtPnl" columns="1" layout="grid" cellpadding="10" columnClasses="ui-grid-col-12">
			<p:outputLabel for="motivoRifiutoProt" value="Testo Rifiuto: " styleClass="generic_textBold"/>
			<p:selectOneMenu id="motivoRifiutoProt" value="#{MailBean.idTestoRifiutoProt}" styleClass="generic_input96" >
				<p:ajax listener="#{MailBean.impostaTestoRifiutaProt}" update="eastSectionForm:testoRifiutaProtPnl, eastSectionForm:rifiutaProtDlgContinua"/>
				<f:selectItem itemLabel="[Seleziona]"/>
				<f:selectItems value="#{MailBean.motiviRifiutoConProtocollo}" var="motivo" itemLabel="#{motivo.descrizione}" itemValue="#{motivo.idTestoPredefinito}"/>
			</p:selectOneMenu>
		
			<p:scrollPanel id="testoRifiutaProtPnl" styleClass="maxHeigth-scroll-dialogMail" mode="native">
				<p:inputTextarea value="#{MailBean.testoRifiutoProt}" styleClass="textAreaProt"/>
			</p:scrollPanel>
		</p:panelGrid>
		
		<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
			<p:commandButton value="Continua" title="Continua" widgetVar="rifiutaProtDlgContinua_WV" id="rifiutaProtDlgContinua" type="submit" actionListener="#{MailBean.rifiutaConProtocollo}" icon="ui-icon-check" update="centralSectionForm, scegliContattoProtocollaDlg, westSectionForm:idTabMain_LeftAside"/>
			<p:commandButton value="Chiudi" title="Chiudi" type="button" onclick="PF('rifiutaProtDlg_WV').hide()" styleClass="uniqueCloseButton" icon="ui-icon-close"/>
		</p:outputPanel>
	</p:dialog>
	
	<!-- popup 'già in protocollazione' -->
	<p:dialog id="giaInCaricoRifiutaDlg" widgetVar="giaInCaricoRifiutaDlg_WV" header="Già in carico" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false">
		<p:outputLabel value="Attenzione, la mail è già stata presa in carico dall'utente #{MailBean.currentmail.descUtenteProtocollatore}.&lt;br/&gt;Si desidera sbloccare la lavorazione?" escape="false" styleClass="black" />
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{MailBean.cambiaUtenteProtocollatore(mailOperazioniEnum.RIFIUTO_CON_PROTOCOLLAZIONE)}" oncomplete="PF('giaInCaricoRifiutaDlg_WV').hide()" icon="ui-icon-check" />
			<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('giaInCaricoRifiutaDlg_WV').hide(); PF('rifiutaProtDlg_WV').hide()" icon="ui-icon-close" />
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog Elimina -->
	<p:dialog id="eliminaMailDlg" widgetVar="eliminaMailDlg_WV" header="Elimina email" resizable="false" modal="true" closable="true"
		styleClass="generic_zindex1" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('eliminaMailDlg_WV')">
	
		<p:outputPanel id="motivoEliminaMsg" styleClass="ui-g generic_width300px">
			<div class="ui-g-4">
				<p:outputLabel for="@next" value="Motivazione" styleClass="generic_textBold"  />
			</div>
			<div class="ui-g-8">
				<p:inputTextarea  id="testoMotivoElimina" styleClass="generic_width97" value="#{MailBean.motiveDelete}" rows="3" />
			</div>
		</p:outputPanel>
		
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder buttonsDiv"	columnClasses="ui-grid-col-6,ui-grid-col-6">
			<p:commandButton icon="ui-icon-check" value="Elimina" title="Elimina email" type="submit" styleClass="ui-confirmdialog-yes generic_width100" 
			 actionListener="#{MailBean.cancella}"  update="centralSectionForm, eastSectionForm, westSectionForm:idTabMain_LeftAside:idMenuLeftAside"/>
			<p:commandButton icon="ui-icon-close" value="Chiudi" title="Chiudi" type="reset" styleClass="ui-confirmdialog-no generic_width100 uniqueCloseButton" onclick="PF('eliminaMailDlg_WV').hide()" />
		</p:panelGrid>
	</p:dialog>
	
	<!-- Dialog Aggiungi contatto -->
	<p:dialog id="aggiungiContattoDlg" widgetVar="aggiungiContattoDlg_WV" header="Gestione rubrica" closable="true" 
		resizable="false" modal="true" styleClass="generic_maxwidth900px" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('aggiungiContattoDlg_WV')">
		<p:outputPanel id="aggiungiContattoPnl" rendered="#{MailBean.visualizzaCreaContatto}">
			<p:panelGrid id="aggiungiContattoPnlG" columns="4" cellpadding="10" styleClass="ui-panelgrid-blank centeredPanel">
				<p:outputPanel>
					<p:outputLabel value="Tipo Contatto"  styleClass="generic_textBold"/> 
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/> 
				</p:outputPanel>
				<p:selectOneMenu id="tipoPersona_creaContatto" value="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona}"
	        				 lazy="true" autoWidth="false" styleClass="generic_input80 obbligatorio">
			            	 <f:selectItem itemLabel="Fisica" itemValue="F" />
       				 		 <f:selectItem itemLabel="Giuridica" itemValue="G" />
       				 		 <p:ajax event="itemSelect" listener="#{MailBean.onItemSelect}" process="aggiungiContattoPnlG" update="aggiungiContattoPnlG"></p:ajax>
		        </p:selectOneMenu>
		        
		        <p:outputLabel value="Titolo" styleClass="generic_textBold" rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}"/>
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.titolo}" styleClass="textfield_input" rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}"/>
				 
				<p:outputPanel rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'G'}">
					<p:outputLabel value="Denominazione Ente/Società" styleClass="generic_textBold"/>
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
				</p:outputPanel>
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.nome}" styleClass="textfield_input obbligatorio" rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'G'}"/>
				 
				<p:outputPanel rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}">
					<p:outputLabel value="Ragione Sociale / Nome" styleClass="generic_textBold"/>
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
				</p:outputPanel>
				<p:inputText rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}" value="#{MailBean.inserisciContattoCasellaPostaleItem.nome}" styleClass="textfield_input obbligatorio"/>
				
				<p:outputPanel rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}">
					<p:outputLabel value="Cognome" styleClass="generic_textBold "/>
					<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{(MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F' or MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq null)}"/>
				</p:outputPanel>	
				<p:inputText rendered="#{MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F'}" value="#{MailBean.inserisciContattoCasellaPostaleItem.cognome}" styleClass="#{(MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq 'F' or MailBean.inserisciContattoCasellaPostaleItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }"/>
				
				<p:outputLabel value="Descrizione / Alias" styleClass="generic_textBold"/>
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.aliasContatto}" styleClass="textfield_input"/>
				
				<p:outputLabel value="Indirizzo"  styleClass="generic_textBold"/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.indirizzo}" styleClass="textfield_input"/>
		
				<p:outputLabel value="CAP"  styleClass="generic_textBold"/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.CAP}" styleClass="textfield_input" />
				
				<p:outputLabel value="Provincia:"  styleClass="generic_textBold "/>
				<p:autoComplete value="#{MailBean.inserisciContattoCasellaPostaleItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{MailBean.loadProvinceAddCreazione}"
					var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter"
					 forceSelection="true" id="provinciaInsertAutocomplete_Rub" 
					styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{MailBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub"/>
					<p:ajax event="clear" listener="#{MailBean.updateProvinceOnSelectAddCreazione}" update="comuneInsertAutocomplete_Rub"/>
				</p:autoComplete>					
				
				<p:outputLabel value="Comune:"  styleClass="generic_textBold"/>
				<p:autoComplete value="#{MailBean.inserisciContattoCasellaPostaleItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{MailBean.loadComuniAddCreazione}"
					var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter"
					 forceSelection="true" id="comuneInsertAutocomplete_Rub"
					styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{MailBean.updateComuniOnSelectAddCreazione}" />
					<p:ajax event="clear" listener="#{MailBean.updateComuniOnSelectAddCreazione}"/>
				</p:autoComplete>
				 
				<p:outputLabel value="Mail PEO"  styleClass="generic_textBold "/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.mail}" styleClass="textfield_input" />
				
				<p:outputLabel value="Mail PEC" styleClass="generic_textBold"/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.mailPec}" styleClass="textfield_input"/>
				
				<p:outputLabel value="Telefono"  styleClass="generic_textBold "/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.telefono}" styleClass="textfield_input" />
				
				<p:outputLabel value="Cellulare" styleClass="generic_textBold"/> 
				<p:inputText value="#{MailBean.inserisciContattoCasellaPostaleItem.cellulare}" styleClass="textfield_input"/>
			</p:panelGrid>
		</p:outputPanel>
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Crea" icon="fa fa-save" rendered="#{MailBean.permessoUtenteGestioneRichiesteRubrica}" actionListener="#{MailBean.salvaContattoRubricaRED}"/>
			<p:commandButton value="Richiedi Creazione" icon="fa fa-plus" rendered="#{not MailBean.permessoUtenteGestioneRichiesteRubrica}" onclick="PF('dialogRichCreazioneVW').show()"/>
			<p:commandButton value="Chiudi" icon="fa fa-times" actionListener="#{MailBean.chiudiContattoDaAggiungi}" onclick="PF('aggiungiContattoDlg_WV').hide()" update="aggiungiContattoDlg" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog Protocolla/Ispeziona -->
	<p:dialog id="protocollaMail" header="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL ? 'Protocolla Mail' : 'Ispeziona Mail'}" widgetVar="protocollaMail_WV" resizable="false" modal="true" dynamic="true" responsive="true"
		draggable="false" position="center" closable="true" styleClass="#{MailBean.action eq MailActionEnum.ISPEZIONA_MAIL ? 'generic_padding0 generic_margin0 ddocumento-dlgMail': 'generic_padding0 generic_margin0 ddocumento-dlg'}" onHide="wrapRemoveProtMailEventListener();"
		onShow="dlgOnShow(this.jqId);PF('protocollaMail_WV').initPosition();onShowForClosableDlg('protocollaMail_WV'); selectFirstTabByTabsWidgetName('wdgTabs_DMD'); selectFirstTabByTabsWidgetName('wdgTabs_DSR');hidePreviewMailProtocol();">

		<p:outputLabel value="#{SessionBean.utente.idTipoProtocollo eq tprote.EMERGENZANPS.id ? 'Attenzione! Il sistema sta operando in modalità di emergenza' : ''}" rendered="#{SessionBean.utente.idTipoProtocollo eq tprote.EMERGENZANPS.id}" styleClass="protocolloEmergenzaHeader"/>
		<p:outputLabel value="#{MailBean.showWarnMessageMaxSize? 'Attenzione i content allegati superano la dimensione consentita. Pertanto gli archivi di file, se presenti, non saranno aperti' : ''}" styleClass="showWarnMessageMaxSizeStyle" rendered="#{MailBean.showWarnMessageMaxSize}"/>
		
		<p:outputPanel id="protocollaMail_oPnl" styleClass="generic_height100" >
			<p:outputPanel rendered="#{MailBean.renderProtocol and MailBean.renderProtocolla}" styleClass="generic_height100" > 
				<ui:include src="protocollaMail.xhtml"/>
			</p:outputPanel>
			
			<p:outputPanel styleClass="generic_height100" rendered="#{!MailBean.renderProtocol and MailBean.renderProtocolla}">
				<ui:include src="protocollazioneMailManager.xhtml"/>
			</p:outputPanel>	
		</p:outputPanel>
	</p:dialog>

	<ui:include src="dlgEsitoRegistraDaMail.xhtml"/>
	<ui:include src="dlgEsitoRegistraDaProtocolla.xhtml"/>

	<!-- Dialog Protocolla - scegli contatto -->
	<p:dialog id="scegliContattoProtocollaDlg" widgetVar="scegliContattoProtocollaDlg_WV" header="Scegli Contatto" modal="true" 
		 styleClass="generic_maxwidth1200px" resizable="false" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('scegliContattoProtocollaDlg_WV')" closable="true" >
		<p:outputPanel>
			<p:scrollPanel id="scegliContattoProtocollaScrlPnl" mode="native" styleClass="generic-widget-content-no-border generic-widget-content-no-back" >
				<p:panelGrid id="scegliContattoProtocollaScrlPnlG" columns="1" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{MailBean.scegliContattoProt}">
					<p:outputLabel value="L'indirizzo della mail sulla quale si sta eseguendo l'operazione richiesta e' associato ai seguenti contatti nelle rubriche di sistema."/>
					<p:outputLabel value="Scegliere il contatto corretto dall'elenco"/>
				</p:panelGrid>
				<p:outputPanel id="contattiProtocollaTbl_Pnl">
					<p:tabView styleClass="generic_borderTabs" id="idMittenteMailPrefTabs_DMD" widgetVar="idMittenteMailPrefTabs_DMD">
						<p:tab title="Mittente" rendered="#{MailBean.scegliContattoProt}">
							<p:dataTable widgetVar="contattiProtocollaTbl_WV" id="contattiProtocollaTbl" var="contatto" value="#{MailBean.contattiProtocolla}" rowKey="#{contatto.contattoID}" styleClass="dataTable" paginator="true" paginatorPosition="bottom" rows="5" sortMode="multiple" emptyMessage="Nessun contatto" paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" paginatorTemplate="TOT : #{fn:length(MailBean.contattiProtocolla)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
								<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="10%">
									<p:commandButton id="menuRubricaMailProtBtn" type="button" icon="fa fa-ellipsis-v" />
									<p:menu overlay="true" trigger="menuRubricaMailProtBtn" my="left top" at="left bottom" style="width: 15%;">
										<p:submenu label="Azioni" styleClass="hiddenBackground">
											<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.addMittenteProtocolla(contatto.contattoID)}" title="Aggiungi" value="Aggiungi" update="@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl, westSectionForm:idTabMain_LeftAside:idMenuLeftAside:idMenuMail, centralSectionForm" process="@this" rendered="#{MailBean.scegliContattoProt}" />
											<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{MailBean.modificaDestinatario(contatto,2)}" title="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" disabled="#{contatto.disabilitaElemento}" rendered="#{contatto.tipoRubrica eq 'RED'}" update="@form:idMittenteMailPrefTabs_DMD" process="@this" />
											<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{MailBean.richiediOEliminaContatto(contatto,false)}" title="Elimina" value="Elimina" disabled="#{contatto.tipoRubrica ne 'RED'}" rendered="#{MailBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" />
											<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica ne 'GRUPPO' and !MailBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show()" actionListener="#{MailBean.impostaContattoDaEliminare}" process="@this" />
											<p:menuitem icon="fa fa-eye" title="Ispeziona gruppo" value="Ispeziona gruppo" actionListener="#{MailBean.ricercaContattiNelGruppo(c)}" oncomplete="PF('contattiNelGruppoWV').show();" rendered="#{c.tipoRubrica eq 'GRUPPO'}" update="eastSectionForm:panelContattiGruppoMail" />
										</p:submenu>
									</p:menu> 
								</p:column>

								<p:column headerText="Rubrica" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains" width="8%" styleClass="generic_textAlignCenter">
									<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{contatto.tipoRubrica eq 'RED'}" title="RED" />
									<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{contatto.tipoRubrica eq 'MEF'}" title="MEF" />
									<h:outputText styleClass="generic_displayBlock fa fa-sitemap" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AMM'}" title="IPA - AMM" />
									<h:outputText styleClass="generic_displayBlock fa fa-bank" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'AOO'}" title="IPA - AOO" />
									<h:outputText styleClass="generic_displayBlock fa fa-building" rendered="#{contatto.tipoRubrica eq 'IPA' and contatto.tipoPersona eq 'OU'}" title="IPA - OU" />
									<h:outputText styleClass="generic_displayBlock fa fa-users" rendered="#{contatto.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" />
								</p:column>

								<p:column headerText="Descrizione/Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
									<h:outputText value="#{MailBean.getShortColumn(contatto.aliasContatto, 120)}" title="#{contatto.aliasContatto}" />
								</p:column>

								<p:column headerText="Tipo Contatto" sortBy="#{contatto.tipoPersona}" filterBy="#{contatto.tipoPersona}" filterMatchMode="contains" styleClass="generic_textAlignCenter" width="12%">
									<h:outputText value="#{contatto.tipoPersona}" title="#{contatto.tipoPersona}" />
								</p:column>

								<p:column headerText="Nome" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains" styleClass="generic-cell-wordbreak" width="18%">
									<h:outputText value="#{MailBean.getShortColumn(contatto.nome, 75)}" title="#{contatto.nome}" />
								</p:column>

								<p:column headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains" styleClass="generic-cell-wordbreak" width="18%">
									<h:outputText value="#{MailBean.getShortColumn(contatto.cognome, 75)}" title="#{contatto.cognome}" />
								</p:column>

							</p:dataTable>
						</p:tab>
						<p:tab title="Rubrica Ufficio" rendered="#{!MailBean.scegliContattoProt}">

							<p:dataTable value="#{MailBean.contattiPreferiti}" var="c" widgetVar="mittentePref_WV" emptyMessage="Nessun contatto preferito" paginatorAlwaysVisible="false" paginatorTemplate="TOT : #{fn:length(MailBean.contattiPreferiti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" id="idPreferitiMittenti_DMD" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
								<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width10">
									<p:commandButton id="menuRubricaMailBtn" type="button" icon="fa fa-ellipsis-v" />
									<p:menu overlay="true" trigger="menuRubricaMailBtn" my="left top" at="left bottom" style="width: 15%;">
										<p:submenu label="Azioni" styleClass="hiddenBackground">
											<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.aggiungiDestinatarioInoltra}" title="Aggiungi" value="Aggiungi" update="eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt" process="@this" rendered="#{!MailBean.scegliContattoProt and !MailBean.renderInoltraProt}" />
											<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.addContattiGruppo(c)}" title="Aggiungi" value="Aggiungi" update="eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt" process="@this" rendered="#{!MailBean.scegliContattoProt and c.tipoRubrica eq 'GRUPPO' and MailBean.renderInoltraProt}" />
											<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.addMittenteEsterno(c.contattoID)}" title="Aggiungi" value="Aggiungi" update="@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl" process="@this" rendered="#{MailBean.scegliContattoProt}" />
											<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{MailBean.modificaDestinatario(c,2)}" title="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED'}" update="@form:idMittenteMailPrefTabs_DMD" process="@this" />
											<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{MailBean.eliminaContatto(c,false)}" title="Elimina" value="Elimina" rendered="#{c.tipoRubrica eq 'RED' and MailBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" update="eastSectionForm:idMittenteMailPrefTabs_DMD:idPreferitiMittenti_DMD" />
											<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica ne 'GRUPPO' and !MailBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show()" actionListener="#{MailBean.impostaContattoDaEliminare}" process="@this" />
											<p:menuitem icon="fa fa-eye" title="Ispeziona gruppo" value="Ispeziona gruppo" actionListener="#{MailBean.ricercaContattiNelGruppo(c)}" oncomplete="PF('contattiNelGruppoWV').show();" rendered="#{c.tipoRubrica eq 'GRUPPO'}" update="eastSectionForm:panelContattiGruppoMail" />
										</p:submenu>
									</p:menu>
								</p:column>

								<p:column headerText="Tipo Elemento" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" styleClass="generic_textAlignCenter generic_width10" sortBy="#{c.tipoRubrica}">
									<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'RED'}" title="RED" />
									<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'MEF'}" title="MEF" />
									<h:outputText styleClass="generic_displayBlock fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
									<h:outputText styleClass="generic_displayBlock fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
									<h:outputText styleClass="generic_displayBlock fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
									<h:outputText styleClass="generic_displayBlock fa fa-users" rendered="#{c.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" />
								</p:column>

								<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" sortBy="#{c.denominazione}">
									<p:outputLabel styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 16 ? fn:substring(c.denominazione, 0, 16).concat('...') : c.denominazione} " title="#{c.denominazione} " />
								</p:column>

								<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
									<p:outputLabel styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 16 ? fn:substring(c.aliasContatto, 0, 16).concat('...') : c.aliasContatto} " title=" #{c.aliasContatto} " />
								</p:column>

								<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mail}">
									<p:outputLabel styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 16)?fn:substring(c.mail,0,16).concat('...'):c.mail}" title="#{c.mail}" />
								</p:column>

								<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mailPec}">
									<p:outputLabel styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 16?fn:substring(c.mailPec,0,16).concat('...'):c.mailPec}" title="#{c.mailPec}" />
								</p:column>

								<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" sortBy="#{c.indirizzo}">
									<p:outputLabel styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
								</p:column>

							</p:dataTable>
						</p:tab>

						<p:tab title="Ricerca">
			        		<ui:include src="documentManagerDataRicercaContatto.xhtml"/>
			        	</p:tab>
					
						<p:tab title="Gestione Contatto">
				        	<ui:include src="documentManagerDataCreaContatto.xhtml"/>
				        </p:tab>
					
					</p:tabView>
			</p:outputPanel>	
				<div class="buttonsDiv buttonsLayout">
					<p:commandButton value="Chiudi" title="Chiudi" actionListener="#{MailBean.chiudiDialogSceltaContatti}" oncomplete="$('#eastSectionForm\\:idMittenteMailPrefTabs_DMD').find('.ui-column-filter').each(function( index ) {$(this).val('')}); PF('wdgRicRubrica_DMDRC').filter();" onclick="PF('scegliContattoProtocollaDlg_WV').hide();" icon="fa fa-times"  styleClass="uniqueCloseButton"/>
				</div>
			</p:scrollPanel>
		</p:outputPanel>
	</p:dialog>

	<p:panel id="panelContattiGruppoMail">
			<red:dlgRubrica bean="#{MailBean}" />
	</p:panel>
		
	<!-- Popup 'già in protocollazione' -->
	<p:dialog id="giaInCaricoDlg" widgetVar="giaInCaricoDlg_WV" header="Già in carico" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false">
		<p:outputLabel value="Attenzione, la mail è già stata presa in carico dall'utente #{MailBean.currentmail.descUtenteProtocollatore}.&lt;br/&gt;Si desidera sbloccare la lavorazione?" escape="false" styleClass="black" />
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{MailBean.cambiaUtenteProtocollatore}" oncomplete="PF('giaInCaricoDlg_WV').hide();PF('protocollaMail_WV').show()" icon="ui-icon-check" update="scegliContattoProtocollaScrlPnl" process="@this" />
			<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" action="#{MailBean.setRenderProtocol(true)}" oncomplete="PF('giaInCaricoDlg_WV').hide(); PF('protocollaMail_WV').hide()" icon="ui-icon-close" update="preparazioneProtocolla, docInEntrataProtocolla"/>
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog sblocca mail -->
	<p:dialog id="sbloccaMailDlg" widgetVar="sbloccaMailDlg_WV" header="Sblocca Mail" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false">
		<p:outputLabel value="Si desidera sbloccare la mail in carico all'utente #{MailBean.mailDTH.currentDetail.descUtenteProtocollatore}?" escape="false" styleClass="black" />
		<p:outputPanel styleClass="buttonsDiv buttonsLayout">
			<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{MailBean.sbloccaMail}" oncomplete="PF('sbloccaMailDlg_WV').hide();" icon="ui-icon-check" update="centralSectionForm"/>
			<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaMailDlg_WV').hide()" icon="ui-icon-close" type="button"/>
		</p:outputPanel>
	</p:dialog>
	
	<!-- Dialog dettagli errori/warning interoperabilita-->
	<p:dialog header="Validazione interoperabilità" widgetVar="validitaInteroperabilita_WV" modal="true" showEffect="fade" hideEffect="fade" resizable="false"
		closable="true" id="validitaInteroperabilitaDlg" onShow="dlgOnShowFixed(this.jqId);onShowForClosableDlg('validitaInteroperabilita_WV')" 
		dynamic="true" styleClass="generic_pnlMaxWidth95" position="center" draggable="false"> 
		 
		<p:outputPanel id="interoperabilitaPanel" styleClass="generic_noborder generic_width650px" widgetVar="tabValInteroperabilita_WV">
 			<p:dataTable id="errorInterop_DT" var="erroreValidazione" value="#{MailBean.mailDTH.currentDetail.erroriValidazioneInterop}" widgetVar="erroreValidazioneWV" emptyMessage="Nessun errore presente" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
			    <p:column headerText="Descrizione" width="80" styleClass="generic-break-word ellipsis">
			        <h:outputText title="#{erroreValidazione.descrizione}" value="#{erroreValidazione.descrizione}"/>
			    </p:column>
			 
			    <p:column headerText="Severity" width="20" styleClass="generic_textAlignCenter">
	               <h:outputLabel styleClass="fa fa-circle icon-bordered" title="#{erroreValidazione.severity}" style="color:#{erroreValidazione.severity}"/>
	            </p:column>
			</p:dataTable>
			
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">		
				<p:commandButton value="Chiudi" title="Chiudi" type="button" onclick="PF('validitaInteroperabilita_WV').hide()" styleClass="uniqueCloseButton" icon="fa fa-times"/>
			</p:outputPanel>
		</p:outputPanel>
	</p:dialog>
</ui:composition>