
<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	
		<p:importEnum type="it.ibm.red.business.enums.StatoMailGUIEnum" var="statoMail" allSuffix="ALL_ENUM_VALUES" /> 
		<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu" />
		<p:panel id="filtriPnl" styleClass="generic_noborder" >
			<div class="ui-g">
				
				<div id="filtroDiv" class="ui-g-5">
					<p:inputText id="globalFilter" value="#{MailBean.filterString}" placeholder="Cerca su tutti gli elementi in #{MailBean.selectedStateString}" title="Testo filtro mail" styleClass="generic_input80 generic_marginRight1px"  />
			    	<p:commandButton id="searchBtn" icon="fa fa-search" title="Operazione di filtro mail" actionListener="#{MailBean.filterMasters}" update="centralSectionForm, eastSectionForm:contenutoPosta, eastSectionForm:eastPanel, westSectionForm:idTabMain_LeftAside" />
				</div>
				
				<div id="buttonsMng" class="ui-g-7 generic_textAlignRight">
					<p:columnToggler id="inboxToggler" widgetVar="wdgTogglerMail" datasource="inboxMail" trigger="toggler">
						<p:ajax event="toggle" listener="#{MailBean.onColumnToggleMail}" update="inboxMail"/>			        
					</p:columnToggler>
					<p:commandButton icon="fa fa-file-excel-o" onkeydown="PF('statusDialog').show();" title="Esporta Excel" ajax="false" value="Esporta">
		     			<p:dataExporter type="xls" target="inboxMail" fileName="#{MailBean.nomeFileExportCoda}" />
					</p:commandButton>
					<p:commandButton rendered="#{!MailBean.ricercaMail}" disabled="#{MailBean.caricaTuttiGliElementi}" id="searchAllBtn" value="Carica tutti"  icon="fa fa-plus" actionListener="#{MailBean.loadAllMaster}" update="centralSectionForm" title="Carica tutti gli elementi" />
					<p:commandButton icon="fa fa-search" title="Cerca Mail" styleClass="mailDetailButton" actionListener="#{MailBean.resetCampiRicerca}" update="centralSectionForm:ricercaMailDlg" oncomplete="PF('ricercaDlg_WV').show()" value="Ricerca"/>
					<p:commandButton id="toggler" type="button" icon="fa fa-filter" title="Gestisci colonne tabella" value="Filtri"/>
					<p:commandButton icon="fa fa-refresh" rendered="false" actionListener="#{MailBean.refreshFromGUI}" title="Aggiornamento della lista mail" update="centralSectionForm, eastSectionForm, westSectionForm:idTabMain_LeftAside:idMenuLeftAside" />
				</div>
				
			</div>
				
			
			<p:panelGrid id="idInfoPanel" columns="1" layout="grid" styleClass="ui-panelgrid-blank generic_marginBottom7" columnClasses="ui-grid-col-12">
					 
				<p:outputPanel styleClass="itemSelectedLabel">
					<p:outputLabel rendered="#{!MailBean.ricercaMail}" id="loadedLabel" value="#{MailBean.loadedInfo}" style="padding-right:10px"/>
					<p:outputLabel id="selectedLabel" value="#{MailBean.selectedInfo}"/> 
				</p:outputPanel>
			</p:panelGrid>
			
			<div class="ui-g">
				<p:panel visible="false">
				<!-- Vecchi tasti azioni multipli -->
					<div id="multiActionDiv" class="ui-g-3">
						<p:commandButton id="eliminaMulti" icon="fa fa-trash" type="button"	disabled="#{fn:length(MailBean.mailDTH.selectedMasters) eq 0}" onclick="PF('eliminaMailMultiDlg_WV').show()" title="Elimina e-mail selezionate" rendered="#{not (MailBean.selectedState eq statoMail.ELIMINATA.value) and not (MailBean.selectedState eq statoMail.INOLTRATA.value) }" />
						<p:commandButton id="inserisciNotaMulti" icon="fa fa-edit" disabled="#{fn:length(MailBean.mailDTH.selectedMasters) eq 0}" action="#{MailBean.inizializzaNota}" oncomplete="PF('inserisciNotaMultiDlg_WV').show()" title="Aggiorna Nota" rendered="#{not (MailBean.selectedState eq statoMail.ELIMINATA.value) and not (MailBean.selectedState eq statoMail.INOLTRATA.value) }" update="inserisciNotaMultiDlg" />
						<p:commandButton id="ripristinaMulti" icon="fa fa-check" disabled="#{fn:length(MailBean.mailDTH.selectedMasters) eq 0}" actionListener="#{MailBean.multiRipristina}" title="Ripristina mail selezionate" rendered="#{MailBean.selectedState eq statoMail.ELIMINATA.value}" update="centralSectionForm, eastSectionForm" />
					</div>
				</p:panel>
			</div>
			
		</p:panel>
		
		<!-- cp -->
		<p:remoteCommand name="refreshFooter" update="centralSectionForm"/>
		<p:importEnum type="it.ibm.red.business.enums.ColoreNotaEnum" var="ColoreNotaEnum" allSuffix="ALL_ENUM_VALUES" />
		<p:panel id="inbox" widgetVar="inboxWV" styleClass="generic_noborder">			
			<p:dataTable id="inboxMail" var="inboxMail" value="#{MailBean.mailDTH.masters}" widgetVar="inboxMailWV"
						 filteredValue="#{MailBean.mailDTH.filteredMasters}" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
						 selectionMode="single" selection="#{MailBean.mailDTH.currentMaster}" paginatorPosition="bottom"
						 paginator="#{fn:length(MailBean.mailDTH.masters) gt SessionBean.templateMaxCodaMail}" rowsPerPageTemplate="15,#{SessionBean.templateMaxCodaMail}" rows="#{MailBean.rowMailDTH}" rowKey="#{inboxMail.guid}"
                         paginatorTemplate="Tot: #{fn:length(MailBean.mailDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"			
						 emptyMessage="Nessuna mail presente" styleClass="filtriSchiacciatiInBasso">
				<p:ajax event="rowSelect" listener="#{MailBean.rowSelectorPosta}" update="centralSectionForm, eastSectionForm:contenutoPosta, eastSectionForm:eastPanel, centralSectionForm:eliminaMulti" oncomplete="$('#eastSection').show();"/>
				<p:ajax event="filter" oncomplete="unselectDatatable('inboxMailWV', 'eastSection');"/>
				<p:ajax event="sort" oncomplete="unselectDatatable('inboxMailWV', 'eastSection');"/>
				<p:ajax event="page" listener="#{MailBean.pageListener}" oncomplete="refreshFooter();"/>
				
				<f:facet name="header">
					<div class="ui-g">
						<div class="ui-g-12">
							<span class="fa fa-envelope generic_marginRight5px" ></span>
			            	<h:outputLabel for="inboxMail" value="#{MailBean.cartellaMailSelected.casellaMail}" />
			            </div>
					</div>
					<div>
						<p:outputLabel id="ricercalbl" value="Risultati Ricerca: " for="inboxMail" rendered="#{MailBean.ricercaTabFlag}" />
					</div>
        		</f:facet>
				
				<!-- selezione multipla -->
				<p:column exportable="false" toggleable="false" visible="#{MailBean.columns[0]}" styleClass="dtSelectAllColumn" >
					<f:facet name="header">
						<span class="fa fa-check-square-o datatable-select-allCol #{!MailBean.allElementCheckboxes[MailBean.pageIndex]?'hide':''}" onclick="updateAllCheckAllInbox()" title="Deseleziona tutti"/>
						<span class="fa fa-square-o datatable-select-allCol #{MailBean.allElementCheckboxes[MailBean.pageIndex]?'hide':''}"  onclick="updateAllCheckAllInbox()" title="Seleziona tutti"/>
						<p:remoteCommand actionListener="#{MailBean.handleAllCheckBox}" name="updateAllCheckAllInbox" update="@form:inbox, centralSectionForm ,westSectionForm:idTabMain_LeftAside" />
		            </f:facet>
				    <p:selectBooleanCheckbox id="chk_mailInbox" title="#{inboxMail.selected?'Deseleziona':'Seleziona'} email da #{inboxMail.mittente}" value="#{inboxMail.selected}">
				  		<p:ajax event="change" listener="#{MailBean.updateCheckMail}" update="@form:inbox, centralSectionForm:filtriPnl, westSectionForm:idTabMain_LeftAside"/>
			  		</p:selectBooleanCheckbox>
				</p:column>
				
			<p:column exportable="false" toggleable="false" visible="#{MailBean.columns[1]}" styleClass="dtBtnCol" rendered="true">
		           <p:menuButton icon="fa fa-ellipsis-v" disabled="#{inboxMail.guid != MailBean.mailDTH.currentMaster.guid or (not empty MailBean.mailDTH.selectedMasters) or (statoMail.INUSCITA.value eq inboxMail.stato.status)}" rendered="#{(!MailBean.ricercaMail) or (statoMail.INUSCITA.value ne inboxMail.stato.status and MailBean.ricercaMail)}" >
		            	<p:menuitem value="Inserisci Nota" icon="fa fa-edit" action="#{MailBean.inizializzaNota('false')}" oncomplete="PF('inserisciNotaMultiDlg_WV').show()" title="Aggiorna Nota" update="centralSectionForm:inserisciNotaMultiDlg" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
		           		<p:menuitem value="Inoltra" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltroMng('false')}" onsuccess="PF('inoltraDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraPnl, eastSectionForm:testoDelMessaggioPnl" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and MailBean.abilitazioneInoltra and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Rifiuta" icon="fa fa-ban" actionListener="#{MailBean.rifiutaMng('false')}" oncomplete="PF('rifiutaDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:rifiutaPnl, eastSectionForm:testoMailPnl, eastSectionForm:motivoRifiutoPnl, eastSectionForm:motivoRifiuto, eastSectionForm:aggiungiContattoDlg, eastSectionForm:rifiutaDlg" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and MailBean.abilitazioneRifiuta and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Inoltra con firma" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltraConProtocolloMng('false')}" onsuccess="PF('inoltraProtDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraProtScrollPnl, eastSectionForm:testoInoltraProtPnl" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and MailBean.abilitazioneInoltraConProtocollo and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Rifiuta con firma" icon="fa fa-ban" actionListener="#{MailBean.rifiutaConProtocolloMng('false')}" oncomplete="PF('rifiutaProtDlg_WV').show()" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:rifiutaProtDlg, eastSectionForm:aggiungiContattoDlg" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and MailBean.abilitazioneRifiutaConProtocollo and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Elimina" icon="fa fa-trash" onclick="PF('eliminaMailDlg_WV').show()" type="button" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/> 
				        <p:menuitem value="Protocolla" icon="fa fa-file-powerpoint-o" actionListener="#{MailBean.clickOnProtocollaButton('false')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla, eastSectionForm:contattiProtocollaTbl_Pnl" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Protocolla DSR" icon="fa fa-file-powerpoint-o" actionListener="#{MailBean.clickOnProtocollaDsrButton('false')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla, eastSectionForm:contattiProtocollaTbl_Pnl" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.PROTOCOLLA_DSR) and ((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Ripristina" icon="fa fa-edit" actionListener="#{MailBean.ripristina}" update="eastSectionForm, centralSectionForm, westSectionForm:idTabMain_LeftAside:idMenuLeftAside" rendered="#{(inboxMail.stato.status eq statoMail.INOLTRATA.value or inboxMail.stato.status eq statoMail.RIFIUTATA.value or inboxMail.stato.status eq statoMail.ELIMINATA.value or inboxMail.stato.status eq statoMail.IMPORTATA.value or (inboxMail.stato.status eq statoMail.ARCHIVIATA.value and inboxMail.statoPreArchiviazione.status eq statoMail.INOLTRATA.value) or (inboxMail.stato.status eq statoMail.ARCHIVIATA.value and inboxMail.statoPreArchiviazione.status eq statoMail.RIFIUTATA.value) or (inboxMail.stato.status eq statoMail.ARCHIVIATA.value and inboxMail.statoPreArchiviazione.status eq statoMail.ELIMINATA.value)) or (inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
					    <p:menuitem value="Reinoltra" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltroMng('false')}" onsuccess="PF('inoltraDlg_WV').show()" rendered="#{(inboxMail.stato.status eq statoMail.INOLTRATA.value or (inboxMail.stato.status eq statoMail.ARCHIVIATA.value and inboxMail.statoPreArchiviazione.status eq statoMail.INOLTRATA.value)) and MailBean.abilitazioneInoltra and !(inboxMail.attivaRipristinaResponse)}" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraPnl, eastSectionForm:testoDelMessaggioPnl" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
					    <p:menuitem value="Reinoltra con firma" icon="fa fa-mail-forward" actionListener="#{MailBean.inoltraConProtocolloMng('false')}" onsuccess="PF('inoltraProtDlg_WV').show()" rendered="#{(inboxMail.stato.status eq statoMail.INOLTRATA.value or (inboxMail.stato.status eq statoMail.ARCHIVIATA.value and inboxMail.statoPreArchiviazione.status eq statoMail.INOLTRATA.value)) and MailBean.abilitazioneInoltraConProtocollo and !(inboxMail.attivaRipristinaResponse)}" update="eastSectionForm:contenutoPosta, centralSectionForm, eastSectionForm:inoltraProtScrollPnl, eastSectionForm:testoInoltraProtPnl" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
				        <p:menuitem value="Ispeziona Mail" icon="fa fa-eye" actionListener="#{MailBean.clickOnIspezionaMail('false')}" update="eastSectionForm:protocollaMail,eastSectionForm:fileDaProtocollare, eastSectionForm:fileDaProtocollare, eastSectionForm:preparazioneProtocolla, eastSectionForm:contattiProtocollaTbl_Pnl" rendered="#{((statoMail.INARRIVO.value eq inboxMail.stato.status) or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
						<p:menuitem value="Sblocca Mail" icon="fa fa-unlock" oncomplete="PF('sbloccaMailDlg_WV').show()" rendered="false" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
						<p:separator rendered="#{inboxMail.stato.status eq statoMail.INARRIVO.value or inboxMail.stato.status eq statoMail.INOLTRATA.value or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)}"/>
				        <p:menuitem value="Aggiungi Contatto" icon="fa fa-user-plus" action="#{MailBean.openAggiungiContatto}" oncomplete="PF('aggiungiContattoDlg_WV').show()" update="eastSectionForm:aggiungiContattoDlg" rendered="#{(inboxMail.stato.status eq statoMail.INARRIVO.value or inboxMail.stato.status eq statoMail.INOLTRATA.value or (statoMail.IN_FASE_DI_PROTOCOLLAZIONE_MANUALE.value eq inboxMail.stato.status) or (statoMail.INARRIVO_NON_PROTOCOLLABILE_AUTOMATICAMENTE.value eq inboxMail.stato.status)) and !(inboxMail.attivaRipristinaResponse)}" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
		            </p:menuButton>
		            
		            <p:commandButton rendered="#{statoMail.INUSCITA.value eq inboxMail.stato.status and MailBean.ricercaMail}" icon="fa fa-refresh" action="#{MailBean.aggiornaMailAfterResponseRicerca}" title="Mail in uscita in attesa di essere inviata" disabled="#{SessionBean.utente.gestioneApplicativa}"/>
		            
		        </p:column>
				
				
				<p:column headerText="Info" exportable="false" toggleable="true" visible="#{MailBean.columns[2]}" filterBy="#{inboxMail.nota.colore}" filterMatchMode="startsWith" styleClass="dtInfoCol">
					<span class="fa fa-arrows-h icon-bordered #{(inboxMail.esitoValidazioneEnum ne null) ? '' : 'hide'}" title="Interoperabilità" style="color:#{inboxMail.coloreInteroperabilita.color}"/>
					<span class="fa fa-play icon-bordered #{(MailBean.utente.tipoPosta.value ne 0) ? '' : 'hide'}" title="Preassegnatario: #{(empty inboxMail.tooltipPreassegnatario) ? 'Non Presente' : inboxMail.tooltipPreassegnatario }" 
						style="color:#{(empty inboxMail.tooltipPreassegnatario) ? inboxMail.colorePreassegnatario.color : inboxMail.colorePreassegnatario.color}"/>
				  	<span class="fa fa-info-circle #{(fn:length(inboxMail.msgID) lt 1)?'hide':''}" title="Message ID: #{inboxMail.msgID}"/><!--  message id -->
					<span class="fa fa-paperclip #{!inboxMail.hasAllegati ? 'hide' : ''}" title="Allegati Presenti"/>
					<span class="fa fa-flag #{(inboxMail.nota.colore.id ne 0) ? 'icon-bordered' : ''} #{(empty inboxMail.nota.contentNota) ? 'hide': ''}" title="#{inboxMail.nota.contentNota}" style="color:#{inboxMail.nota.colore.color}"/>
					<span class="fa fa-asterisk #{(empty inboxMail.motivoEliminazione) ? 'hide' : ''}"  title="#{inboxMail.motivoEliminazione}"/>
					<span class="fa fa-lock #{!inboxMail.isLocked or (MailBean.selectedState ne statoMail.INARRIVO.value)? 'hide' : ''}" title="#{inboxMail.descUtenteProtocollatore}"/>
					<span class="#{(inboxMail.folderMailInbox eq 'Inbox') ? 'fa fa-inbox' : ''}" title="#{(inboxMail.folderMailInbox eq 'Inbox') ? 'Inbox' : ''}" />
					<span class="#{(inboxMail.folderMailArchiviate eq 'Archiviate') ? 'fa fa-archive' : ''}"  title="#{(inboxMail.folderMailArchiviate eq 'Archiviate') ? 'Archiviate' : ''}" />
					<h:graphicImage value="/resources/images/image_Prot_E_Mantieni.png" style="max-height:13px;max-width:13px;" title="su questa mail è stato eseguito protocolla e mantieni" rendered="#{(MailBean.selectedState eq statoMail.INARRIVO.value and inboxMail.protocollaEMantieni)}"/>
				</p:column>
				 
				
				<p:column headerText="Oggetto" exportable="true" exportFunction="#{MailBean.contenutoCorrettoColonna}" toggleable="false" visible="#{MailBean.columns[3]}" sortBy="#{inboxMail.oggetto}" filterBy="#{inboxMail.oggetto} #{inboxMail.mittente}" filterMatchMode="contains" styleClass="dtDescCol generic-break-word">
					<h:outputLabel for="mittenteMailCoda" value="Mittente:" styleClass="generic_textBold"/>
					<h:outputText id="mittenteMailCoda" value="#{fn:length(inboxMail.mittente) gt 35 ? fn:substring(inboxMail.mittente, 0,35).concat('...'):inboxMail.mittente}" title="#{inboxMail.mittente}" styleClass="generic_padding-right2" data-export="#{inboxMail.mittente} " />
					<h:outputText value="#{fn:length(inboxMail.oggetto) gt 100 ? fn:substring(inboxMail.oggetto, 0,94).concat('...'):inboxMail.oggetto}" title="#{inboxMail.oggetto}" data-export="#{inboxMail.oggetto}" styleClass="generic_textBold table" />
				</p:column>
				
				<p:column headerText="Data" exportable="#{MailBean.columns[4]}" toggleable="true" visible="#{MailBean.columns[4]}" sortBy="#{inboxMail.data}" filterBy="#{MailBean.getDateAsString(inboxMail.data,'dd/MM/yyyy HH:mm')}" filterMatchMode="contains" styleClass="generic_width15"> 
					<h:outputText value="#{inboxMail.data}" title="#{inboxMail.data}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
				</p:column>

				<p:column headerText="Annotazione" exportable="#{MailBean.columns[5]}" exportFunction="#{MailBean.contenutoCorrettoColonna}" toggleable="true" visible="#{MailBean.columns[5]}" sortBy="#{inboxMail.nota.contentNota}" filterBy="#{inboxMail.nota.contentNota} #{inboxMail.tooltipPreassegnatario}" filterMatchMode="contains" styleClass="generic-break-word ellipsis generic_width15 ">
				 	<p:outputPanel >
				 		<p:outputPanel styleClass="ellipsis">
						 	<span class="fa fa-play icon-bordered #{(MailBean.utente.tipoPosta.value ne 0) ? '' : 'hide'}" title="Preassegnatario: #{(empty inboxMail.tooltipPreassegnatario) ? 'Non Presente' : inboxMail.tooltipPreassegnatario }" 
								style="margin-right:3px;color:#{(empty inboxMail.tooltipPreassegnatario) ? inboxMail.colorePreassegnatario.color : inboxMail.colorePreassegnatario.color}"/>
							<h:outputText title="#{inboxMail.tooltipPreassegnatario}" rendered="#{MailBean.utente.tipoPosta.value ne 0}" value=" - #{(empty inboxMail.tooltipPreassegnatario) ? 'N.D.' : inboxMail.tooltipPreassegnatario }" />
					 	</p:outputPanel>
					 	<p:outputPanel styleClass="ellipsis">
						 	<h:outputText title="#{inboxMail.nota.contentNota}" rendered="true" value="#{inboxMail.nota.contentNota}" />
						</p:outputPanel>
						
					</p:outputPanel>
					<h:outputText style="visibility:hidden;" data-export="#{inboxMail.nota.contentNota}"/>
				</p:column>
	
				<p:column headerText="Stato" exportable="#{MailBean.columns[6]}" toggleable="true" visible="#{MailBean.columns[6]}" filterBy="#{inboxMail.stato}" filterMatchMode="contains" sortBy="#{inboxMail.stato}" styleClass="generic_width15 ellipsis">
					<h:outputText title="#{(inboxMail.stato.description eq statoMail.IMPORTATA.label)?'Protocollata':(inboxMail.stato.description).concat(' '.concat((inboxMail.statoPreArchiviazione ne null and inboxMail.stato.status eq statoMail.ARCHIVIATA.value)?fn:toLowerCase(inboxMail.statoPreArchiviazione):''))}" rendered="true" value="#{(inboxMail.stato.description eq statoMail.IMPORTATA.label)?'Protocollata':(inboxMail.stato.description).concat(' '.concat((inboxMail.statoPreArchiviazione ne null and inboxMail.stato.status eq statoMail.ARCHIVIATA.value)?fn:toLowerCase(inboxMail.statoPreArchiviazione):''))}"/>
					<h:outputText value="Mail rispristinata in data: #{inboxMail.dataCambioStato}" rendered="#{inboxMail.dataCambioStato ne null and MailBean.selectedState eq statoMail.INARRIVO.value}" styleClass="generic_fontsize0_9" />
				</p:column>
	
				<p:column headerText="Protocolli" exportable="true" exportFunction="#{MailBean.contenutoCorrettoColonna}" toggleable="true" visible="#{MailBean.columns[7]}" sortBy="#{inboxMail.protocolliGenerati.toString()}" filterBy="#{inboxMail.protocolliGenerati}" filterMatchMode="contains" styleClass="generic_textAlignCenter ellipsis generic_width15">
					<p:outputPanel rendered="#{fn:length(inboxMail.protocolliGenerati) eq 1}">
						
						<p:commandLink action="#{MailBean.goToProtocolloGenerato(inboxMail.protocolliGenerati[0])}" oncomplete="PF('statusDialog').show();" styleClass="default_link">
							<h:outputText title="#{inboxMail.protocolliGenerati[0]}" value="#{inboxMail.protocolliGenerati[0]}" data-export="#{inboxMail.protocolliGenerati[0]}"/>
			   			</p:commandLink>
					</p:outputPanel>
					
					<p:outputPanel rendered="#{fn:length(inboxMail.protocolliGenerati) gt 1}">
			   			<p:commandButton type="button" icon="fa fa-file-powerpoint-o" title="Protocolli generati" id="btnProtocolliGeneratiMail" disabled="#{MailBean.mailDTH.currentMaster.guid ne inboxMail.guid}"></p:commandButton>
			   			
			   			<p:overlayPanel for="btnProtocolliGeneratiMail" dismissable="true" showEffect="fade" hideEffect="fade" my="left" at="right" styleClass="generic_width120px">	
							<p:outputPanel class="ui-g">
								<p:repeat value="#{inboxMail.protocolliGenerati}" var="protocolloGenerato">
									<p:outputPanel class="ui-g-12">
										<p:commandLink action="#{MailBean.goToProtocolloGenerato(protocolloGenerato)}" oncomplete="PF('statusDialog').show();" styleClass="default_link">
											<h:outputText title="#{protocolloGenerato}" value="#{protocolloGenerato}"/>
							   			</p:commandLink>
							   		</p:outputPanel>
								</p:repeat>
							</p:outputPanel>
				    	</p:overlayPanel>
					</p:outputPanel>
					
					<h:outputText style="visibility:hidden;" data-export="#{inboxMail.protocolliGeneratiPlain}"/>
				</p:column>
	
				<p:column headerText="Protocollatore" exportable="#{MailBean.columns[8]}" exportFunction="#{MailBean.contenutoCorrettoColonna}" toggleable="true" visible="#{MailBean.columns[8]}" filterBy="#{inboxMail.descUtenteProtocollatore}" filterMatchMode="contains" sortBy="#{inboxMail.descUtenteProtocollatore}"  styleClass="generic_textAlignCenter ellipsis generic_width15" >
					<h:outputText title="#{inboxMail.descUtenteProtocollatore}" value="#{inboxMail.descUtenteProtocollatore}" data-export="#{inboxMail.descUtenteProtocollatore}" />
				</p:column>
						
				<p:column headerText="Operazione Utente" exportable="#{MailBean.columns[9]}" toggleable="true" visible="#{MailBean.columns[9]}" filterBy="#{inboxMail.operazionePostaElettronica}" filterMatchMode="contains" sortBy="#{inboxMail.operazionePostaElettronica}"  styleClass="generic_textAlignCenter ellipsis generic_width15" >
					<p:commandButton id="infoOpUteBtn" icon="fa fa-info" type="button" title="info" styleClass="generic_no_background generic_noborder2" rendered="#{not empty inboxMail.operazionePostaElettronica}">
						<p:overlayPanel id="infoNotaOP" for="infoOpUteBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn " style="width:12%" my="right top" at="right bottom" appendToBody="true">
							<p:outputPanel styleClass="ui-g-12">
								<p:panelGrid columns="1" columnClasses="ui-g-12" role="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="5">
									<p:outputLabel value="Storico Operazioni :" styleClass="generic_textBold" />
										<ui:repeat var="storicoOperazioni" value="#{inboxMail.listOperazionePostaElettronica}">
							                <p:outputLabel value="#{storicoOperazioni}" styleClass="ui-g-12"/>
								        </ui:repeat> 
								</p:panelGrid>
							</p:outputPanel>
							<iframe title="Frame coda mail centrale" class="cover" src="about:blank"></iframe>
						</p:overlayPanel>
					</p:commandButton>
					<h:outputText title="#{inboxMail.operazionePostaElettronica}" value="#{inboxMail.operazionePostaElettronica}" data-export="#{inboxMail.descUtenteProtocollatore}" />
				</p:column>
				
				<p:column rendered="#{statoMail.INARRIVO.value eq MailBean.cartellaMailSelected.statoMails and MailBean.ricercaMail eq false}" headerText="Data Scarico" exportable="#{MailBean.columns[10]}" toggleable="true" visible="#{MailBean.columns[10]}" sortBy="#{inboxMail.dataScarico}" filterBy="#{MailBean.getDateAsString(inboxMail.dataScarico,'dd/MM/yyyy HH:mm')}" filterMatchMode="contains" styleClass="generic_width15"> 
					<h:outputText value="#{inboxMail.dataScarico}" title="#{inboxMail.dataScarico}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
				</p:column>	
			</p:dataTable>
		</p:panel>
		<!--  indietropnl -->
		
		<!-- Dialog Ricerca -->
		<p:dialog id="ricercaMailDlg" widgetVar="ricercaDlg_WV" header="Cerca" resizable="false" 
			modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('ricercaDlg_WV')" closable="true"
			onHide="resetCampi('centralSectionForm:stringaDiRicercaMail','centralSectionForm:dataDaRicercaMail_input','centralSectionForm:dataARicercaMail_input');">
			<p:panel id="cercaMailPnl" styleClass="generic_noborder generic_width650px">
				<div class="ui-g">
					<div class="ui-g-12">
						<p:outputLabel id="cp" value="#{MailBean.cpAttiva}" styleClass="generic_textBold"/>
					</div>
				</div>
				<p:separator></p:separator>
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel value="Anno" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:inputNumber id="annoDiRicercaMail" value="#{MailBean.annoRicerca}" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" 
							inputStyleClass="generic_width110px" disabled="#{MailBean.searchDataDa ne null or MailBean.searchDataA ne null}"/>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Mittente" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:inputText id="mittenteDiRicercaMail" value="#{MailBean.mittenteRicerca}"/>
					</div>
				</div>
				
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel value="In Arrivo" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-1 ui-fluid">
		              	<p:selectBooleanCheckbox value="#{MailBean.daProtocollareRicerca}"/>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Inoltrate" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-1 ui-fluid">
		              	<p:selectBooleanCheckbox value="#{MailBean.inoltrateRicerca}"/>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Rifiutate" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-1 ui-fluid">
		              	<p:selectBooleanCheckbox value="#{MailBean.rifiutateRicerca}"/>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Eliminate" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-1 ui-fluid">
		              	<p:selectBooleanCheckbox value="#{MailBean.eliminateRicerca}"/>
		            </div>
				</div>
				
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel value="Oggetto" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-10 ui-fluid">
		              	<p:inputText id="oggettoDiRicercaMail" value="#{MailBean.oggettoRicerca}"/>
		            </div>
				</div>
				
				
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel value="Data da" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
		              	<p:calendar navigator="true" id="dataDaRicercaMail" value="#{MailBean.searchDataDa}" mode="popup" pattern="dd/MM/yyyy" showOn="button" maxdate="#{SessionBean.today}">
		              		<p:ajax event="dateSelect" update="annoDiRicercaMail"/>
		              	</p:calendar>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Data a" styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
						<p:calendar navigator="true" id="dataARicercaMail" value="#{MailBean.searchDataA}" mode="popup" pattern="dd/MM/yyyy" showOn="button" maxdate="#{SessionBean.today}">
							<p:ajax event="dateSelect" update="annoDiRicercaMail"/>
		              	</p:calendar>
					</div>
				</div>
					
				<div class="ui-g">
					<div class="ui-g-2">
						<p:outputLabel value="Num. Prot." styleClass="generic_textBold"/>
					</div>
					<div class="ui-g-4 ui-fluid">
		              	<p:inputText id="numeroProtocolloId" value="#{MailBean.numeroProtocolloRicerca}"/>
		            </div>
		            <div class="ui-g-2">
						<p:outputLabel value="Full text" styleClass="generic_textBold" />
					</div>
					<div class="ui-g-4">
						<p:selectBooleanCheckbox value="#{MailBean.isFullTextRicerca}"/>
					</div>
				</div>
			</p:panel>
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder generic_marginTop10">
				<p:commandButton id="cerca" actionListener="#{MailBean.ricerca}" value="Cerca" title="Avvia la ricerca" icon="fa fa-search" styleClass="generic_width100"/>
				<p:commandButton id="chiudiRicercaMail" value="Chiudi" actionListener="#{MailBean.chiudiRicerca}" icon="fa fa-times" title="Chiudi ricerca" type="button" onclick="PF('ricercaDlg_WV').hide();" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>
		</p:dialog>
		
		<!-- Dialog Elimina Multi-->
		<p:dialog id="eliminaMailMultiDlg" widgetVar="eliminaMailMultiDlg_WV" header="Motivo Elimina email" resizable="false" modal="true" closable="true"
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('eliminaMailMultiDlg_WV')" styleClass="generic_width300px">
				<p:panel styleClass="generic_noborder">
					<p:inputTextarea  id="testoMotivoElimina" value="#{MailBean.motiveDelete}" rows="6" styleClass="generic_width95"/>
				</p:panel>
				<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
					<p:commandButton value="Elimina" title="Elimina Selezionate" type="submit" actionListener="#{MailBean.multiCancella}" styleClass="ui-confirmdialog-yes, generic_width100" icon="ui-icon-check" oncomplete="PF('eliminaMailMultiDlg_WV').hide()" update="centralSectionForm:eliminaMulti, eliminaMailMultiDlg, centralSectionForm, eastSectionForm, westSectionForm:idTabMain_LeftAside"/>
					<p:commandButton value="Chiudi" title="Chiudi" type="reset" onclick="PF('eliminaMailMultiDlg_WV').hide()" update="eliminaMailMultiDlg, testoMotivoElimina" styleClass="ui-confirmdialog-no generic_width100 uniqueCloseButton" icon="ui-icon-close" />
				</p:panelGrid>
		</p:dialog>
	
	<!-- Gestione Nota-->
		<p:dialog header="Aggiorna Nota" widgetVar="inserisciNotaMultiDlg_WV" modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			closable="true" id="inserisciNotaMultiDlg" onShow="dlgOnShowFixed(this.jqId);onShowForClosableDlg('inserisciNotaMultiDlg_WV')" 
			dynamic="true" styleClass="width_dialog" position="center" appendTo="@form" draggable="false"> 
		
			<p:panel widgetVar="wdgPreassInter" styleClass="generic_noborder generic_no_background generic_padding5">
				<p:outputPanel styleClass="obbligatorio" style="text-align:center;">
					<p:inputTextarea value="#{MailBean.currentTextNoteMulti}" cols="51" styleClass="obbligatorioNota"/>
				</p:outputPanel>
				
				<div class="ui-fluid">
					<p:selectOneRadio id="colorRadio" value="#{MailBean.currentColorNoteMulti}" layout="custom">
						<f:selectItem itemLabel="Nero" itemValue="0"/>
						<f:selectItem itemLabel="Rosso" itemValue="1"/>
						<f:selectItem itemLabel="Giallo" itemValue="2"/>
					</p:selectOneRadio>
			
					<div id="divFlags" class="ui-g generic_textAlignCenter">
						<div class="ui-g-4">
		           		 	<h:outputLabel for="opt0" title="Nero" styleClass="generic_marginRight"><span class="fa fa-flag black"/></h:outputLabel>
		            		<p:radioButton id="opt0" for="colorRadio" itemIndex="0"/>
						</div>
						<div class="ui-g-4">
		            		<h:outputLabel for="opt1" title="Rosso" styleClass="generic_marginRight"><span class="fa fa-flag red"/></h:outputLabel>
		            		<p:radioButton id="opt1" for="colorRadio" itemIndex="1"/>
						</div>
						<div class="ui-g-4">
		            		<h:outputLabel for="opt2" title="Giallo" styleClass="generic_marginRight"><span class="fa fa-flag yellow"/></h:outputLabel>
		            		<p:radioButton id="opt2" for="colorRadio" itemIndex="2"/>
						</div>
					</div>
				</div>
				<!-- PREASSEGNATARIO PER COMPETENZA -->
				<p:outputPanel class="ui-g" rendered="#{MailBean.isDirigente and MailBean.utente.tipoPosta.value ne 0}">
					<p:outputPanel class="ui-g-2">
						<p:outputLabel value="Preassegnatario per competenza" styleClass="generic_textBold label_margin_top"/>
					</p:outputPanel>
					
					<p:outputPanel class="ui-g-10 ui-inputgroup">
						<p:inputText id="idPreassegnatarioInput" readonly="true" value="#{MailBean.organigrammaInteroperabilita.descrizionePreassegnatario}" style="width:84%;"/>
						<p:commandButton id="idPreassDMD" icon="fa fa-sitemap" type="button"/>
						<p:commandButton id="idButtonPulisciAssegna" action="#{MailBean.organigrammaInteroperabilita.clearAssegnazione}" update="idPreassegnatarioInput" icon="fa fa-eraser" title="Pulisci Selezione"/>
					</p:outputPanel>
				</p:outputPanel>
			</p:panel>
			
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
		       	<p:commandButton value="Registra" title="Registra" actionListener="#{MailBean.multiChangeNote}" icon="fa fa-edit"/>
		       	<p:commandButton value="Elimina" title="Elimina" actionListener="#{MailBean.deleteNote}" oncomplete="PF('inserisciNotaMultiDlg_WV').hide()" icon="fa fa-trash" 
		       		update="eastSectionForm, centralSectionForm"/>
		       	<p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('inserisciNotaMultiDlg_WV').hide()" styleClass="uniqueCloseButton"/>
			</p:outputPanel> 
		
		 	<p:overlayPanel id="idOrgOverlayInteroperabilita" widgetVar="wdgAssegnatarioPerComp_DMD" for="idPreassDMD" hideEffect="fade" my="left bottom" at="right top" 
		 		rendered="#{MailBean.isDirigente and MailBean.utente.tipoPosta.value ne 0}">
		 			
				<p:scrollPanel mode="native" styleClass="generic-scrollpane-dimOrganigrammi">
					<h:form>
						<p:tree value="#{MailBean.organigrammaInteroperabilita.root}" var="node" selectionMode="single" styleClass="dmd-tree" dynamic="true">
								
						<p:ajax event="expand" listener="#{MailBean.organigrammaInteroperabilita.onOpenNode}"/>
						<p:ajax event="select" update="centralSectionForm:idPreassegnatarioInput" listener="#{MailBean.organigrammaInteroperabilita.onSelectedNode}" oncomplete="PF('wdgAssegnatarioPerComp_DMD').hide()"/>
						   	
							<p:treeNode type="UFF">
								<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
								<p:outputLabel value=" #{node.descrizioneNodo}"/>
							</p:treeNode>
								
							<p:treeNode type="USER">	
								<p:graphicImage url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
								<p:outputLabel value=" #{node.cognomeUtente}"/>
								<p:outputLabel value=" #{node.nomeUtente}"/>
							</p:treeNode>
						</p:tree>
					</h:form>
				</p:scrollPanel>
				<iframe title="Frame coda mail centrale" class="cover" src="about:blank"></iframe>
			</p:overlayPanel>
			 
		</p:dialog>

	
</ui:composition>