<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="westSectionContent">
		<ui:include src="../template/verticalMenu.xhtml"/>
	</ui:define>
	
	<ui:define name="centralSectionContent">
		<ui:include src="codaMailCentrale.xhtml" />
	</ui:define>

	<ui:define name="eastSectionContent">
		<p:panel id="eastPanel" visible="#{MailBean.mailDTH.renderDetail and !MailBean.autoselection}" styleClass="generic_noborder">
			<ui:include src="codaMailDestra.xhtml" />
		</p:panel>
	</ui:define>

</ui:composition>