<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog id="idDlgEsitoRegistra_DERDM" header="Esito" widgetVar="wdgEsitoRegistra_DERDM" modal="true" showHeader="true" responsive="true" fitViewport="true" 
		showEffect="fade" hideEffect="fade" resizable="false" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgEsitoRegistra_DERDM')" width="850" appendTo="@form">
		<f:facet name="header">
			<span class="fa fa-info-circle" />
			<span>Esito</span>
 		</f:facet>
		<p:dataList value="#{DocumentManagerBean.messaggioEsitoRegistra}" var="msg" type="definition" itemStyleClass="dlg-esito-row" styleClass="dlg-esito ui-g">
	        	        
	       	<p:outputPanel styleClass="ui-g-12 " rendered="#{empty msg.value}">
				<p:outputLabel for="identificativo" value="#{msg.key}"/>
			</p:outputPanel>
			
	        <p:outputPanel styleClass="ui-g-12 generic_padding0" rendered="#{not empty msg.value}">
		        <div class="ui-g-3">
					<p:outputLabel for="identificativo" value="#{msg.key}"/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="identificativo" value="#{msg.value}" styleClass="generic_textBold"/>
				</div>
			</p:outputPanel>


	    </p:dataList>
		
		<div class="buttonsDiv generic_textAlignCenter"> 
			<p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('wdgEsitoRegistra_DERDM').hide()" styleClass="dlg-btn-maxwidth uniqueCloseButton" />
		</div>
		
	</p:dialog>

</ui:composition>