<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog id="idDlgEsitoRegistra_DERProtocolla" header="Esito" widgetVar="wdgEsitoRegistra_DERProtocolla" modal="true" showHeader="true" responsive="true" 
		fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgEsitoRegistra_DERProtocolla')" width="850">
        <f:facet name="header">
			<span class="fa fa-info-circle" />
			<span>Esito</span>
		</f:facet>
			<p:outputPanel styleClass="ui-g dlg-esito">
			<div class="ui-g-12">
				<p:outputLabel value="Inserimento documento effettuato con successo."/>
			</div>
			<div class="ui-g-12">			
				<div class="ui-g-3">
					<p:outputLabel for="prot" value="Protocollo: " rendered="#{DsrManagerBean.doc.numeroProtocollo ne null and DsrManagerBean.doc.numeroProtocollo gt 0}"/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="prot" value="#{DsrManagerBean.doc.numeroProtocollo} / #{DsrManagerBean.doc.annoProtocollo}" 
						rendered="#{DsrManagerBean.doc.numeroProtocollo ne null and DsrManagerBean.doc.numeroProtocollo gt 0}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">
					<p:outputLabel for="ident" value="Identificativo:"/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="ident" value="#{DsrManagerBean.doc.numeroDocumento} del #{DsrManagerBean.doc.annoDocumento}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">					
					<p:outputLabel for="insFasc" value="Inserito nel fascicolo: "/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="insFasc" value="#{DsrManagerBean.doc.idFascicoloProcedimentale} - #{DsrManagerBean.doc.descrizioneFascicoloProcedimentale}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">					
					<p:outputLabel for="assComp" value="Assegnatari per competenza: "/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="assComp" value="#{DsrManagerBean.doc.assegnatarioCompetenza}" styleClass="generic_textBold"/>
				</div>
			</div>
		</p:outputPanel>
		
		<div class="buttonsDiv generic_textAlignCenter">
			<p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('wdgEsitoRegistra_DERProtocolla').hide()" styleClass="dlg-btn-maxwidth uniqueCloseButton" />
		</div>
		
	</p:dialog>

</ui:composition>