<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:outputPanel id="idCreaContatto_DMDCC" >
	
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Tipo Contatto" styleClass="generic_textBold" />  
			</div>
			<div class="ui-g-4">
				<p:selectOneMenu id="tipoPersona_creaContatto" value="#{MailBean.inserisciContattoItem.tipoPersona}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
					<f:selectItem itemLabel="Fisica" itemValue="F"  />
					<f:selectItem itemLabel="Giuridica" itemValue="G" />
					<p:ajax update="idCreaContatto_DMDCC" async="true"  process="idCreaContatto_DMDCC"  />
		        </p:selectOneMenu>
			</div>
			
			<p:outputPanel styleClass="ui-g-2" rendered="#{MailBean.inserisciContattoItem.tipoPersona eq 'F' or MailBean.inserisciContattoItem.tipoPersona eq null}">
				<p:outputLabel value="Titolo" styleClass="generic_textBold"/>  
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-4" rendered="#{MailBean.inserisciContattoItem.tipoPersona eq 'F' or MailBean.inserisciContattoItem.tipoPersona eq null}">
				<p:inputText value="#{MailBean.inserisciContattoItem.titolo}" styleClass="textfield_input"/>
			</p:outputPanel> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Ragione Sociale / Nome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.nome}" styleClass="textfield_input obbligatorio" />
			</div>
			
			<p:outputPanel styleClass="ui-g-2" rendered="#{MailBean.inserisciContattoItem.tipoPersona eq 'F' or MailBean.inserisciContattoItem.tipoPersona eq null}">
				<p:outputLabel value="Cognome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
			</p:outputPanel> 
			<p:outputPanel styleClass="ui-g-4" rendered="#{MailBean.inserisciContattoItem.tipoPersona eq 'F' or MailBean.inserisciContattoItem.tipoPersona eq null}">
				<p:inputText value="#{MailBean.inserisciContattoItem.cognome}" styleClass="#{(MailBean.inserisciContattoItem.tipoPersona eq 'F' or MailBean.inserisciContattoItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }"/>
			</p:outputPanel> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Descrizione / Alias" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.aliasContatto}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Indirizzo" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.indirizzo}" styleClass="textfield_input"/>
			</div> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="CAP" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.CAP}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Provincia" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete value="#{MailBean.inserisciContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{MailBean.loadProvince}" var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter" forceSelection="true" id="provinciaInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{MailBean.onSelectProvincia}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC"  />
					<p:ajax event="clear" listener="#{MailBean.onSelectProvincia}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC" />
				</p:autoComplete>
			</div> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Comune" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete disabled="#{MailBean.inserisciContattoItem.provinciaObj eq null}" value="#{MailBean.inserisciContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{DocumentManagerBean.loadComuni}" var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" forceSelection="true" id="comuneInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{MailBean.onSelectComune}" update="idCreaContatto_DMDCC" process="idCreaContatto_DMDCC" />
					<p:ajax event="clear" listener="#{MailBean.onSelectComune}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC" />
				</p:autoComplete>
			</div>
			 
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEO" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.mail}" styleClass="textfield_input"  />
			</div>
			 
		  
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEC" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.mailPec}" styleClass="textfield_input" />
			</div>
			<div class="ui-g-2">
				<p:outputLabel value="Telefono" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.telefono}" styleClass="textfield_input"  />
			</div> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Cellulare" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{MailBean.inserisciContattoItem.cellulare}" styleClass="textfield_input" />
			</div>
			<div class="ui-g-2" style="padding-left:0px;">
				<p:outputLabel for="addPreferiti" value="Aggiungi a Rubrica Ufficio" styleClass="generic_textBold generic_formPnl3" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}"/>
			</div>
			<div class="ui-g-4">
				<p:selectBooleanCheckbox id="addPreferiti" label="Aggiungi a Rubrica Ufficio" styleClass="generic_formPnl4"  value="#{MailBean.inserisciContattoItem.isPreferito}" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}"/>						
			</div>
		</div>
		 

		<div class="buttonsDiv generic_textAlignCenter">
			<p:commandButton id="aggiungiBtn" icon="fa fa-plus" actionListener="#{MailBean.validaEInserisciContatto}" value="Crea" process="idCreaContatto_DMDCC" update="eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt, idMittenteMailPrefTabs_DMD" rendered="#{(MailBean.renderInoltra or MailBean.renderInoltraProt) and MailBean.permessoUtenteGestioneRichiesteRubrica and !MailBean.scegliContattoProt}"/>
			<p:commandButton id="richiediAggiungiBtn" icon="fa fa-plus" value="Richiedi Creazione" rendered="#{(MailBean.renderInoltra or MailBean.renderInoltraProt) and !MailBean.permessoUtenteGestioneRichiesteRubrica and !MailBean.scegliContattoProt}" oncomplete="PF('dialogRichCreazioneVW').show()"/>
				
			<p:commandButton id="aggiungiBtn1" icon="fa fa-plus" actionListener="#{MailBean.salvaContattoProtocolla}" value="Crea" process="idCreaContatto_DMDCC"  rendered="#{(MailBean.renderProtocolla or MailBean.renderRifiutaProt or MailBean.renderInoltraProt) and MailBean.scegliContattoProt and MailBean.permessoUtenteGestioneRichiesteRubrica}" update="@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl"/>
			<p:commandButton id="richiediAggiungiBtn1" actionListener="#{MailBean.salvaContattoProtocolla}" icon="fa fa-plus" value="Richiedi Creazione" rendered="#{(MailBean.renderProtocolla or MailBean.renderRifiutaProt or MailBean.renderInoltraProt) and MailBean.scegliContattoProt and !MailBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichCreazioneVW').show()" />


			<p:commandButton id="modificaBtn" icon="fa fa-pencil" actionListener="#{MailBean.modificaORichiediModificaUtente}" disabled="#{!MailBean.inModificaDaShortcut}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" process="idCreaContatto_DMDCC" rendered="#{(MailBean.renderInoltra or MailBean.renderInoltraProt) and MailBean.permessoUtenteGestioneRichiesteRubrica and !MailBean.scegliContattoProt}" update="idMittenteMailPrefTabs_DMD, eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt"/>
			<p:commandButton id="richiediModificaBtn" icon="fa fa-pencil" value="Richiedi Modifica" rendered="#{(MailBean.renderInoltra or MailBean.renderInoltraProt) and !MailBean.permessoUtenteGestioneRichiesteRubrica and !MailBean.scegliContattoProt}" oncomplete="PF('dialogRichModificaWV').show()" disabled="#{!MailBean.inModificaDaShortcut or MailBean.inserisciContattoItem.onTheFly eq 1}"/>

			<p:commandButton id="modificaBtn1" icon="fa fa-pencil" actionListener="#{MailBean.modificaContattoProtocolla}" disabled="#{!MailBean.inModificaDaShortcut}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" process="idCreaContatto_DMDCC" rendered="#{(MailBean.renderProtocolla or MailBean.renderRifiutaProt or MailBean.renderInoltraProt) and MailBean.scegliContattoProt}" update="idCreaContatto_DMDCC,@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl"/>

			<p:commandButton id="pulisciBtn" icon="fa fa-eraser" actionListener="#{MailBean.pulisciUtente}" value="Pulisci" 
				process="idCreaContatto_DMDCC" update="idCreaContatto_DMDCC" />
			 
		</div>

			
	</p:outputPanel>
	
	
	
</ui:composition>
