<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:outputPanel id="idRicercaContatto_DMDRC" styleClass="ui-g" >
		 
<!-- 	SOLO RICERCA MEF START Ricerca Ufficio / Ricerca Personale -->
		<p:outputPanel styleClass="ui-g-12" rendered="#{MailBean.ricercaRubricaDTO.ricercaMEF and (!MailBean.ricercaRubricaDTO.ricercaRED and !MailBean.ricercaRubricaDTO.ricercaIPA and !MailBean.ricercaRubricaDTO.ricercaRubricaUfficio) and MailBean.ricercaRubricaDTO.showUfficioOPersonale}">
			<p:outputLabel for="ufficioOPersonale" styleClass="generic_centra" />
       		<p:selectOneRadio id="ufficioOPersonale" value="#{MailBean.ricercaRubricaDTO.isUfficio}" styleClass="generic_centra">
        		<p:ajax update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC"/>
           		<f:selectItem itemLabel="Ricerca Ufficio" itemValue="true" />
           		<f:selectItem itemLabel="Ricerca Personale" itemValue="false" />
   			</p:selectOneRadio>
		</p:outputPanel>
<!-- 	SOLO RICERCA MEF END Ricerca Ufficio / Ricerca Personale -->
		
		
<!-- 		SOLO RICERCA RED START NOME E COGNOME-->
			<p:outputPanel styleClass="ui-g-12 generic_marginTop15">
				<div class="ui-g-2">
					<p:outputLabel value="Ricerca" styleClass="generic_textBold"  />
				</div>
				<div class="ui-g-4">
					<p:inputText value="#{MailBean.ricercaRubricaDTO.queryRicerca}" styleClass="textfield_input" />
				</div>
			<div class="ui-g-6 ">
				<p:outputLabel for="ricercaRED" value="Rubrica RED" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRED" value="#{MailBean.ricercaRubricaDTO.ricercaRED}" styleClass="generic_marginRight">
					<p:ajax listener="#{MailBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaRED" />
					<p:ajax listener="#{MailBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>
				<p:outputLabel for="ricercaIPA" value="Rubrica IPA" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaIPA" value="#{MailBean.ricercaRubricaDTO.ricercaIPA}" styleClass="generic_marginRight">
					<p:ajax listener="#{MailBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaIPA" />
					<p:ajax listener="#{MailBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>

				<p:outputLabel for="ricercaRubricaUfficio" value="Rubrica Ufficio" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRubricaUfficio" value="#{MailBean.ricercaRubricaDTO.ricercaRubricaUfficio}" styleClass="generic_marginRight">
					<p:ajax listener="#{MailBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaRubricaUfficio" />
					<p:ajax listener="#{MailBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>
			</div>
		</p:outputPanel>
<!-- 		SOLO RICERCA RED END -->
    	
		<div class="buttonsDiv generic_textAlignCenter ui-g-12">
			<p:commandButton id="idCerca_DMDRC" icon="fa fa-search" action="#{MailBean.cercaContattoRubrica}" value="Cerca" 
				update="@form:idMittenteMailPrefTabs_DMD, idResults_DMDRC, idRicercaContatto_DMDRC"  process="@form:idMittenteMailPrefTabs_DMD, idResults_DMDRC, idRicercaContatto_DMDRC"  disabled="#{not MailBean.ricercaRubricaDTO.ricercaRubricaUfficio and not MailBean.ricercaRubricaDTO.ricercaIPA and
				not MailBean.ricercaRubricaDTO.ricercaRED}"/>
		</div>
		
		<p:outputPanel id="idResults_DMDRC" styleClass="ui-g-12" >
			<p:dataTable value="#{MailBean.resultRicercaContatti}" var="c" rowIndexVar="index"
				filteredValue="#{MailBean.resultRicercaContattiFiltered}" 
				paginatorAlwaysVisible="false" emptyMessage="Nessun contatto trovato" widgetVar="wdgRicRubrica_DMDRC" id="idRicRubrica_DMDRC"
				rows="5" rowsPerPageTemplate="5,10,15" rendered="#{MailBean.resultRicercaContatti != null}"
				paginatorTemplate="TOT : #{fn:length(MailBean.resultRicercaContatti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
				paginator="true" paginatorPosition="bottom">
				
				<p:column headerText="Azioni" styleClass="generic_textAlignCenter" width="10%" >
					<p:outputPanel rendered="#{MailBean.renderInoltra or MailBean.renderInoltraProt or MailBean.renderProtocol}" styleClass="generic_textAlignCenter">
						<p:commandButton id="menuRubricaMailRicBtn" type="button" icon="fa fa-ellipsis-v" />
						<p:menu overlay="true" trigger="menuRubricaMailRicBtn" my="left top" at="left bottom" style="width: 15%;">
							<p:submenu label="Azioni" styleClass="hiddenBackground">
								<p:separator></p:separator>
								<p:menuitem icon="fa fa-star" rendered="#{c.isPreferito and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{MailBean.rimuoviPreferito}" title="Rimuovi da rubrica ufficio" value="Rimuovi da rubrica ufficio" process="@this" update="@form:idMittenteMailPrefTabs_DMD:idResults_DMDRC, eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt" />
								<p:menuitem icon="fa fa-star-o" rendered="#{(c.isPreferito eq null or !c.isPreferito) and c.tipoRubrica ne 'GRUPPO'}" process="@this" actionListener="#{MailBean.aggiungiPreferito}" title="Aggiungi a rubrica ufficio" value="Aggiungi a rubrica ufficio" update="@form:idMittenteMailPrefTabs_DMD:idResults_DMDRC, eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt" />
								<p:menuitem icon="fa fa-sitemap" disabled="#{c.tipoPersona eq 'AMM'}" rendered="#{c.tipoRubrica eq 'IPA'}" actionListener="#{MailBean.showAlberaturaContattoIPA}" onstart="PF('alberaturaContattoIpaMailWV').hide()" oncomplete="PF('alberaturaContattoIpaMailWV').show()" process="@this" title="Gerarchia OU" value="Mostra alberatura IPA" update="eastSectionForm:idMittenteMailPrefTabs_DMD:alberaturaContattoIpaMailID" />
								<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.aggiungiDestinatarioInoltra}" title="Aggiungi" value="Aggiungi" rendered="#{(MailBean.renderInoltra or MailBean.renderInoltraProt) and !MailBean.scegliContattoProt}" update="@this, @form:idMittenteAuto_DMD, eastSectionForm:inoltraPnl, eastSectionForm:dettagliInoltroProt" process="@this" />
								<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{MailBean.addMittenteFromRicercaRubrica(index)}" value="Aggiungi" title="Aggiungi" rendered="#{MailBean.renderProtocolla}" update="@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl" process="@this" />
								<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{MailBean.modificaDestinatario(c,2)}" title="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED' and (MailBean.renderInoltra or MailBean.renderInoltraProt)}" update="@form:idOrlyPnlMittForm_DMD, eastSectionForm:idMittenteMailPrefTabs_DMD" process="@this" />
								<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{MailBean.modificaDestinatario(c,2)}" title="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{MailBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{MailBean.renderProtocolla and c.tipoRubrica eq 'RED'}" update="@form:idOrlyPnlMittForm_DMD, eastSectionForm:idMittenteMailPrefTabs_DMD" process="@this" />
								<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{MailBean.eliminaContatto(c,true)}" value="Elimina" title="Elimina" rendered="#{MailBean.permessoUtenteGestioneRichiesteRubrica and c.tipoRubrica eq 'RED'}" process="@this" update="eastSectionForm:idMittenteMailPrefTabs_DMD:idRicRubrica_DMDRC" />
								<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica ne 'GRUPPO' and !MailBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show()" actionListener="#{MailBean.impostaContattoDaEliminare}" process="@this" />
							</p:submenu>
						</p:menu>
					</p:outputPanel>
				</p:column>
				<p:column headerText="Tipo Elemento" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" styleClass="generic_textAlignCenter" width="10%" sortBy="#{c.tipoRubrica}">
					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'RED'}" title="RED" />
					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'MEF'}" title="MEF" />
					<h:outputText styleClass="generic_displayBlock fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
					<h:outputText styleClass="generic_displayBlock fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
					<h:outputText styleClass="generic_displayBlock fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
					<h:outputText styleClass="generic_displayBlock fa fa-users" rendered="#{c.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" />
				</p:column>
				<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" styleClass="generic_width20" sortBy="#{c.denominazione}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} " title=" #{c.denominazione} " />
				</p:column>
				<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.aliasContatto}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} " title=" #{c.aliasContatto} " />
				</p:column>
				<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mail}">
					<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}" />
				</p:column>
				<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mailPec}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}" />
				</p:column>
				<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.indirizzo}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
				</p:column>
			</p:dataTable>

		</p:outputPanel>
		
		<p:dialog draggable="true" dynamic="true" closeOnEscape="true" hideEffect="fade" header="Alberatura IPA" showHeader="true" id="alberaturaContattoIpaMailID" widgetVar="alberaturaContattoIpaMailWV" closable="true" styleClass="dmd-tree-panel" modal="false" resizable="false" >
		    <div class="dmd-tree-panel generic_textAlignLeft">
				<p:tree value="#{MailBean.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">
					<p:treeNode type="AMM">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
						<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>

					<p:treeNode type="AOO">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
						<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>

					<p:treeNode type="OU">
						<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
						<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>
				</p:tree>
			</div>
	</p:dialog>

	</p:outputPanel>
	
	
</ui:composition>
