<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom">

<!-- Destinatari -->
<p:importEnum type="it.ibm.red.business.enums.TipoRubricaEnum" var="tipoRubricaEnum" allSuffix="ALL_ENUM_VALUES"/>
		
	<p:panelGrid id="destinatariLbl" columns="2" layout="grid" columnClasses="ui-grid-col-10 no_left_padding, ui-grid-col-2" styleClass="ui-panelgrid-blank">
		<p:outputLabel value="Destinatari:" styleClass="generic_textBold" />
		<p:outputPanel styleClass="generic_floatRight">
			<p:commandButton icon="fa fa-plus" title="Aggiungi nuovo destinatario" actionListener="#{MailBean.aggiungiDestinatarioNew}" update="eastSectionForm:contattiA_inoltra_prot"  />
			<p:commandButton id="wdgCercaPreferitoBtn_dest_prot" ajax="true" icon="fa fa-leanpub" action="#{MailBean.openRubricaPreferiti}" oncomplete="PF('scegliContattoProtocollaDlg_WV').show();" update="scegliContattoProtocollaScrlPnl" title="Apri Rubrica" process="@this"/>
			<p:commandButton id="wdgPulisciDestinatariBtn_dest_prot" ajax="true" icon="fa fa-eraser" action="#{MailBean.pulisciTabellaDestinatari}" update="contattiA_inoltra_prot" title="Pulisci destinatari"/>	
		</p:outputPanel>
	</p:panelGrid>
	<p:panelGrid id="destinatariInoltro_tbl" columns="1" layout="grid" columnClasses="ui-grid-col-12 no_left_padding" styleClass="ui-panelgrid-blank">
		<p:dataTable id="contattiA_inoltra_prot" var="contattoTo" value="#{MailBean.destinatari}" rowKey="#{contattoTo.idAutocomplete}" rowIndexVar="index" styleClass="textAlignCenter TabellaAddDestinatari_inoltro">
			<p:column headerText="Contatto" styleClass="generic_width25">
				<p:outputPanel styleClass="ui-inputgroup">
					<p:remoteCommand name="remoteUpdateDestinatariMailAutocomplete" actionListener="#{MailBean.updateInoltraProtTbl}" process="@this" update="@this" global="false" async="true"/>
					<p:autoComplete value="#{MailBean.destinatari[index]}" completeMethod="#{MailBean.caricaRubricaMail}" 
					queryDelay="#{SessionBean.preferenze.autocompleteDelay}" minQueryLength="0" maxResults="12" var="contattoToSelected" 
					itemLabel="#{contattoToSelected.contatto.aliasContatto}" itemValue="#{contattoToSelected.identificativo}" 
					converter="destinatarioMailConverter" styleClass="textfield_input elementDisableAutocompleteRifiutaConProt "
					widgetVar="autocompleteRifiutaConProtWV${index}" onblur="remoteUpdateDestinatariMailAutocomplete();">
						<p:ajax event="itemSelect" update="eastSectionForm:destinatariInoltro_tbl" />

						<f:attribute name="rowIndex" value="#{index}" />
						
						<p:column headerText="Alias/Descrizione" styleClass="ui-tabs.generic_noborderTabs">
							<h:outputText value="#{contattoToSelected.contatto.aliasContatto}" />
						</p:column>
						<p:column headerText="PEO" styleClass="ui-tabs.generic_noborderTabs">
							<h:outputText value="#{contattoToSelected.contatto.mail}" />
						</p:column>
						<p:column headerText="PEC" styleClass="ui-tabs.generic_noborderTabs">
							<h:outputText value="#{contattoToSelected.contatto.mailPec}" />
						</p:column>
					</p:autoComplete>
				</p:outputPanel>
			</p:column>
			<p:column headerText="Mail" id="mailDestinatario_prot" filterable="true">
					<p:remoteCommand name="updateDestinatarioMailPecPeo" process="@form:contattiA_inoltra_prot" update="@form:contattiA_inoltra_prot" global="false" async="true"/>
					<p:inputText id="mailSelectedOnTheFlyID" value="#{MailBean.destinatari[index].contatto.mailSelected}" styleClass="generic_floatLeft"
						onchange="changeMailDestinatarioMailAndCreateOnTheFly(#{index});updateDestinatarioMailPecPeo();" disabled="#{(empty MailBean.destinatari[index].contatto.mailPec and empty MailBean.destinatari[index].contatto.mail) and (MailBean.destinatari[index].contatto.aliasContatto eq null)}" />

					<p:selectOneMenu value="#{MailBean.destinatari[index].contatto.tipologiaEmail}" styleClass="generic_floatRight" panelStyleClass="hideDisabled"
						disabled="#{(empty MailBean.destinatari[index].contatto.mailPec and empty MailBean.destinatari[index].contatto.mail) and (MailBean.destinatari[index].contatto.aliasContatto eq null)}">
						<p:ajax event="change" listener="#{MailBean.onChangeTipoEmailDestinatari(MailBean.destinatari[index].contatto)}" update="@this,mailSelectedOnTheFlyID" process="@this"/>
						<f:selectItems value="#{TipologiaIndirizzoEnum.ALL_ENUM_VALUES}" var="f" itemValue="#{f.tipologiaEmail}" itemLabel="#{f.tipologiaEmail}" />
					</p:selectOneMenu>

					<p:inputText id="creaOnTheFlyDestMailID" widgetVar="creaOnTheFlyDestMailWV" styleClass="generic_prop_hidden" value="#{MailBean.destinatari[index].contatto.onTheFly}" style="width: 0%;" />
			</p:column>

			<p:column id="tipoDestinatario_prot" headerText="Tipo" filterable="true" styleClass="generic_textAlignCenter generic_width17">
				<p:selectOneButton value="#{contattoTo.modalitaDestinatarioEnum}" required="true">
					<p:ajax update="@this"></p:ajax>
					<f:selectItems value="#{MailBean.comboModalitaDestinatario}" var="d" itemLabel="#{d.label}" />
				</p:selectOneButton>
			</p:column>

			<p:column headerText="Azioni" styleClass="generic_width20">
				<p:commandButton id="infoBtn_prot" icon="fa fa-info" type="button" title="info" disabled="#{MailBean.destinatari[index].contatto.aliasContatto eq null and fn:length(MailBean.destinatari[index].contatto.aliasContatto) eq 0 or (MailBean.destinatari[index].contatto.contattoID == null or MailBean.destinatari[index].contatto.onTheFly == 1)}" rendered="#{MailBean.destinatari[index].contatto.tipoRubricaEnum ne tipoRubricaEnum.GRUPPO.getTipoRubrica()}">
					<p:overlayPanel id="infoPnl_prot" for="infoBtn_prot" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom" appendToBody="true">
						<infopanel:panelInfoContatto contatto="#{MailBean.destinatari[index].contatto}" bean="#{MailBean}" />
						<iframe class="cover" src="about:blank" title="Frame inoltra mail"></iframe>
					</p:overlayPanel>
				</p:commandButton>

				<p:commandButton icon='fa fa-close' actionListener="#{MailBean.rimuoviDestinatario}" update="eastSectionForm:destinatariInoltro_tbl" process="@this"  title="Rimuovi destinatario"/>
				<p:commandButton icon="fa fa-eraser" update="@form:contattiA_inoltra_prot" process="@this" action="#{MailBean.deleteGruppoDaSingoloContatto(MailBean.destinatari[index].contatto)}" ajax="true" rendered="#{MailBean.destinatari[index] ne null and MailBean.destinatari[index].contatto.idGruppoSelected ne null and MailBean.destinatari[index].contatto.onTheFly ne 1}" title="Cancella intero gruppo #{MailBean.destinatari[index].contatto.nomeGruppoSelected}" />
				<p:commandButton title="Richiedi creazione o modifica contatto" id="richiediCreazioneContOnTheFlyMailID" icon="fa fa-user" disabled="#{MailBean.destinatari[index].contatto.aliasContatto eq null and MailBean.destinatari[index].contatto.mailSelected eq null}" oncomplete="PF('scegliContattoProtocollaDlg_WV').show();" actionListener="#{MailBean.richiediCreazioneContOnTheFlyDestinatario(index)}" process="@this" update="@form:idMittenteMailPrefTabs_DMD"/>
			</p:column>
		</p:dataTable>
	</p:panelGrid>

</ui:composition>