<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
	
	<p:importEnum type="it.ibm.red.web.enums.MailActionEnum" var="mailActionEnum" />
	
	<p:panel id="docInEntrataProtocolla" styleClass="generic_padding0 generic_margin0 generic_height100 generic_width100 ddocumento-dlg-panel">
		<p:scrollPanel id="docInEntrataProtocollaScrlPnl" mode="native" rendered="#{not MailBean.renderProtocol and MailBean.action eq mailActionEnum.PROTOCOLLA}" styleClass="generic_noborder generic_height100">
			<ui:include  src="../documento/documentManager.xhtml"/>
		</p:scrollPanel>
		<p:outputPanel styleClass="generic_height100" id="docInEntrataProtocollaDsrScrlPnl" mode="native" rendered="#{not MailBean.renderProtocol and MailBean.action eq mailActionEnum.PROTOCOLLA_DSR}">	
			<div id="idProtoDsrMetadata" class="ui-g-8 generic_margin0 generic_centra generic_overflow generic_height100" >
			<!-- ==============MANAGER DOCUMENTO START ================================================================ -->
				<ui:include  src="../fepa/dichiarazioneServiziResiManager.xhtml"/>
			<!-- ==============MANAGER DOCUMENTO END ==================================================================		 -->
			</div>
			<div id="idProtoDsrPreview" class="ui-g-4 generic_margin0 generic_centra generic_height100" >
			<!-- ==============VISUALIZZATORE DOCUMENTO START ================================================================ -->
				<ui:include src="../fepa/documentManagerFileViewProtocollaDSR.xhtml"></ui:include>
			<!-- ==============VISUALIZZATORE DOCUMENTO END ================================================================ -->
			</div>	
		</p:outputPanel>
	</p:panel>
	
</ui:composition>