	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.MailActionEnum" var="MailActionEnum" ></p:importEnum>
	
	<red:pnlInfoFirmaComponent id="pnlInfoFirmaProt" bean="#{MailBean.verificaFirmaComponent}" />
	
	<p:outputPanel widgetVar="wdgPrepareProto" id="preparazioneProtocolla" styleClass="generic_noborder metadati-panel-protocolla-mail">
		<p:scrollPanel id="protocollaScrollPnl" mode="native" styleClass="generic_noborder generic-overflow-auto"  >
			<p:panel id="dettagliMailProtocolla" styleClass="generic_noborder">
				<p:panelGrid id="dettagliMailProtocollaPnlG" columns="2" layout="grid" cellpadding="10"
					 columnClasses="ui-grid-col-2, ui-grid-col-10" styleClass="mailRecipients pnlg_noborder">
					
					<p:outputLabel value="Mittente"  styleClass="generic_textAlignRight generic_textBold" />
					<p:inputText value="#{MailBean.currentmail.mittente}" readonly="true" styleClass="ui-corner-all generic_input99 generic-opacity" />
					
					<p:outputLabel value="Destinatari"  styleClass="generic_textAlignRight generic_textBold" />
					<p:inputText value="#{MailBean.currentmail.destinatario}" readonly="true" styleClass="ui-corner-all generic_input99 generic-opacity"/>
					
					<p:outputLabel value="DestinatariCC" styleClass="generic_textAlignRight generic_textBold" />
					<p:inputText value="#{MailBean.currentmail.destinatarioCC}" readonly="true" styleClass="ui-corner-all generic_input99 generic-opacity"/>
					
					<p:outputLabel value="Oggetto" styleClass="generic_textBold"/>
					<p:inputTextarea value="#{MailBean.currentmail.oggetto}" readonly="true" styleClass="ui-corner-all generic_input99 generic-opacity"/>
					
					<p:outputLabel value="Data"  styleClass="generic_textAlignRight generic_textBold" />
					<p:inputText value="#{MailBean.currentmail.dataArrivo}" readonly="true" styleClass="ui-corner-all generic-opacity"/>
					
					<p:outputLabel for="notificaProtocolla" value="Notifica" styleClass="generic_textAlignRight generic_textBold" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}"/>
					<p:selectBooleanCheckbox id="notificaProtocolla" value="#{MailBean.notificaProtocolla}" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}" />
					
					<p:outputLabel for="protocollaEMantieni" value="Protocolla e Mantieni" styleClass="generic_textAlignRight generic_textBold" rendered="#{MailBean.utente.protocollaEMantieni}"/>
					<p:selectBooleanCheckbox id="protocollaEMantieni" value="#{MailBean.protocollaEMantieni}" rendered="#{MailBean.utente.protocollaEMantieni}" />
					
					
					<p:outputLabel for="importazinoeMultiplaProtocolla" value="Importazione Multipla" rendered="false" styleClass="generic_textAlignRight generic_textBold"/>
					<p:selectBooleanCheckbox id="importazinoeMultiplaProtocolla" value="#{MailBean.importazioneMultiplaProtocolla}" rendered="false" immediate="true" onchange="aggiornaSezioneAllegati()" >
					<p:remoteCommand name="aggiornaSezioneAllegati" update="fileDaProtocollare"/>
					</p:selectBooleanCheckbox>
				</p:panelGrid>
				
			</p:panel>
			<p:panel id="testoMaiProtocollalPnl" style="min-height:310px;max-height:310px;overflow-y:auto;background-color:white;background:white;">
				<h:outputText id="testoMailProtocolla" value="#{MailBean.currentmail.testo}" escape="false" readonly="true"  styleClass="generic_textAlignJustifyImp generic_width100 bk-white"  >
				</h:outputText>
			</p:panel>
			
			<p:outputPanel id="fileDaProtocollare" rendered="#{MailBean.treeTableComponent ne null}">
				 
	        	<p:selectOneRadio id="idRadioAllegatoPrincipale" value="#{MailBean.treeTableComponent.selectedPrincipale}" layout="custom">
	        	 	<p:ajax event="change" listener="#{MailBean.treeTableComponent.onSelectPrincipale()}"
	        	 	oncomplete="treeTableStopPropagationAndAlert('treeTableProtocolla', showSingleMessageInfoDeselezione);hidePreviewMailProtocol();" update="eastSectionForm:idPreviewProtMail"/>
		            <f:selectItems value="#{MailBean.treeTableComponent.orderedAllegati}" var="principaleSelezionabile" itemLabel="#{principaleSelezionabile.data.file.name}" itemValue="#{principaleSelezionabile.id}"/>
		        </p:selectOneRadio>
			 	
			 	<p:selectManyCheckbox id="idAllegatiSelectable" value="#{MailBean.treeTableComponent.selectedAllegatiList}" valueChangeListener="#{MailBean.treeTableComponent.selectedItemsChanged}" layout="custom" widgetVar="wdg1" >
			        <f:selectItems value="#{MailBean.treeTableComponent.orderedAllegati}" var="allegatoSelezionabile" itemLabel="#{allegatoSelezionabile.data.file.name}" itemValue="#{allegatoSelezionabile.id}" />
			 		<p:ajax event="change" listener="#{MailBean.treeTableComponent.onSelectAllegato}" update="fileDaProtocollare"/>
			    </p:selectManyCheckbox>
				
				<p:remoteCommand name="showSingleMessageInfoDeselezione" 
					actionListener="#{MailBean.treeTableComponent.showSingleMessage('info', 'Per nascondere gli allegati di un file è necessario prima deselezionarli')}"/>
				<p:remoteCommand name="updateAfterExpand" update="@namingcontainer:fileDaProtocollare" 
				 	oncomplete="treeTableStopPropagationAndAlert('treeTableProtocolla', showSingleMessageInfoDeselezione);"/>
				
							
				<p:commandButton icon="fa fa-pencil-square-o" value="Verifica Firme" title="Verifica le firme di tutti gli allegati" style="float:right" styleClass="generic_textAlignRight"
			        actionListener="#{MailBean.verificaFirmeAllegati()}" update="eastSectionForm:fileDaProtocollare"/>
				<p:treeTable widgetVar="treeTableProtocolla" id="treeTableAllegati" value="#{MailBean.treeTableComponent.root}" var="allegato">
					
				 	<p:ajax event="expand" onsuccess="updateAfterExpand()"/>
				 	<p:ajax event="collapse" onsuccess="updateAfterExpand()"/>
				
				 	<f:facet name="header">
				 		<p:outputLabel for="treeTableAllegati" value="Selezionare gli allegati e il file principale da protocollare" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}"/>
				 		<p:outputLabel for="treeTableAllegati" value="Documenti dell'email" rendered="#{MailBean.action eq MailActionEnum.ISPEZIONA_MAIL}"/>				 		
				 	</f:facet>
				 	
				 	<p:column headerText="Nome">
				 		<h:outputText value="#{allegato.data.file.fileName}" title="#{allegato.data.isAttachmentSelectable() ? '' : 'Per nascondere gli allegati di un file è necessario prima deselezionarli'}" />
				 		<span class="fa fa-exclamation-triangle icon-bordered #{allegato.data.isProtected ? '' : 'hide'} orange generic_floatRight" title="Attenzione il file selezionato risulta protetto. Confermando l'operazione il file manterrà il suo formato originale e non verrà quindi convertito."/>
				 	</p:column>
				 	
				 	<p:column headerText="Verifica firma" styleClass="generic_width80px generic_textAlignCenter">
			       		<p:commandButton styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle"
			        		actionListener="#{MailBean.verificaFirma(allegato.data)}" 
			        		oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')"
						    update="@namingcontainer, eastSectionForm:pnlInfoFirmaProt:idPnlInfoFirma, eastSectionForm:fileDaProtocollare"
			      	 	    rendered="#{allegato.data.firmato}"/>
	        		</p:column>
			    	<p:column headerText="Validità firma" styleClass="generic_width80px generic_textAlignCenter">
			    		<h:outputLabel rendered="#{allegato.data.firmaValida eq null}" 
							value="-" styleClass="generic_centra"/>
						<h:outputLabel rendered="#{allegato.data.firmaValida ne null and allegato.data.firmaValida}" 
							styleClass="generic_centra fa fa-check-circle check-green" title="firma valida"/>
						<h:outputLabel rendered="#{allegato.data.firmaValida ne null and allegato.data.firmaValida eq false}" 
							styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
			    	</p:column>
				 	
				 	<p:column styleClass="generic_width30px" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}" style="text-align:center;">
				 		<f:facet name="header">
				 			<span class="fa fa-file" title="Seleziona documento principale"/>
				 		</f:facet>
				 		<p:radioButton for="@namingcontainer:@namingcontainer:idRadioAllegatoPrincipale" itemIndex="#{allegato.id}" disabled="#{!allegato.data.principalSelectable}"/>
				 	</p:column>
				 	
				 	<p:column styleClass="generic_width30px" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}" style="text-align:center;">
				 		<f:facet name="header">
				 			<span class="fa fa-paperclip" title="Seleziona allegati"/>
				 		</f:facet>
				 		<p:checkbox for="@namingcontainer:@namingcontainer:idAllegatiSelectable" itemIndex="#{allegato.id}"
				 		 disabled="#{allegato.id eq MailBean.treeTableComponent.selectedPrincipale or !allegato.data.isAttachmentSelectable()}" styleClass="generic_marginTop5"/>
				 	</p:column>
				 	
				 	<p:column styleClass="generic_width30px" style="text-align:center;">
			 			<p:commandButton id="downloadBtn" icon="fa fa-download" title="Download #{allegato.data.file.fileName}" ajax="false" 
			 			styleClass="generic_floatRight ddocumento-btn-maxwith" disabled="#{SessionBean.utente.gestioneApplicativa}">
							<p:fileDownload value="#{MailBean.downloadAllegato(allegato.data)}"/>
						</p:commandButton>
					</p:column>

				 	<p:column styleClass="generic_width30px" style="text-align:center;">
						<p:commandButton icon="fa fa-search" action="#{MailBean.selectPreviewAllegato(allegato.data)}" update="eastSectionForm:idPreviewProtMail" disabled="#{(allegato.data.file.tipoFile.estensione eq null or fn:toLowerCase(allegato.data.file.tipoFile.estensione) ne 'pdf')}" title="Visualizza anteprima #{allegato.data.file.name}" oncomplete="hidePreviewMailProtocol();"/> 
				 	</p:column>
				</p:treeTable>
	
			 
				<p:dialog widgetVar="wdgConfirmCollassabile" modal="true" dynamic="true" >
					<red:popupConfirmComponent widgetVarDialog="wdgConfirmCollassabile" interfaceInstance="#{MailBean.treeTableComponent.confirmCollapse}" 
						message="Chiudendo il nodo stai per deselezionare anche tutti i suoi figli, sei sicuro di volerlo fare?"  />
				</p:dialog>
			
				<p:outputPanel id="protocollaMailSection" styleClass="generic_margin15" rendered="#{MailBean.action eq MailActionEnum.PROTOCOLLA}">
					<p:outputLabel value="Nota" styleClass="generic_textBold"/>
				
					<!-- Colore nota -->
					<div class="ui-fluid">
						<p:selectOneRadio id="colorRadioProtocolla" value="#{MailBean.coloreNotaDaIspeziona}" layout="custom">
							<f:selectItem itemLabel="Nero" itemValue="0"/>
							<f:selectItem itemLabel="Rosso" itemValue="1"/>
							<f:selectItem itemLabel="Giallo" itemValue="2"/>
						</p:selectOneRadio>
					
						<div id="divFlags" class="ui-g">
							<div class="generic_marginRight50">
						         <h:outputLabel for="opt0P" title="Nero" styleClass="generic_marginRight"><span class="fa fa-flag black"/></h:outputLabel>
						         <p:radioButton id="opt0P" for="colorRadioProtocolla" itemIndex="0" disabled="true"/>
							</div>
							<div class="generic_marginRight50">
						         <h:outputLabel for="opt1P" title="Rosso" styleClass="generic_marginRight"><span class="fa fa-flag red icon-bordered"/></h:outputLabel>
						         <p:radioButton id="opt1P" for="colorRadioProtocolla" itemIndex="1" disabled="true"/>
							</div>
							<div class="generic_marginRight50">
						         <h:outputLabel for="opt2P" title="Giallo" styleClass="generic_marginRight"><span class="fa fa-flag yellow icon-bordered"/></h:outputLabel>
						         <p:radioButton id="opt2P" for="colorRadioProtocolla" itemIndex="2" disabled="true"/>
							</div>
						</div>
					</div>
					<p:inputTextarea id="notaMailProtocolla" value="#{MailBean.currentTextNoteIspeziona}" styleClass="generic_input99" rows="5" maxlength="247" readonly="true"/>
				</p:outputPanel>
			
				<p:outputPanel id="protocollaButtons" styleClass="ui-g-12 generic_textAlignRight dmd-marginBottom" rendered="#{MailBean.action ne MailActionEnum.ISPEZIONA_MAIL}">
					<p:commandButton icon="fa fa-chevron-right" value="Continua" title="Continua protocollazione" disabled="#{MailBean.treeTableComponent.selectedPrincipale eq null}" actionListener="#{MailBean.continuaProtocol}" update="@form:scegliContattoProtocollaDlg, docInEntrataProtocolla, scegliContattoProtocollaScrlPnl, idMittenteMailPrefTabs_DMD:contattiProtocollaTbl, protocollaMail_oPnl" />
					<p:commandButton icon="fa fa-times" value="Chiudi" title="Chiudi" onclick="PF('protocollaMail_WV').hide()" update="preparazioneProtocolla, @form:docInEntrataProtocolla, scegliContattoProtocollaScrlPnl, centralSectionForm" styleClass="uniqueCloseButton" action = "#{MailBean.sbloccaMail}" />
				</p:outputPanel>

			</p:outputPanel>
				
		</p:scrollPanel>
		
		<!-- Sezione Gestione Nota -->
		<p:outputPanel id="ispezionaMailSection" styleClass="generic_margin15" rendered="#{MailBean.action eq MailActionEnum.ISPEZIONA_MAIL}">
			<p:outputLabel value="Nota" styleClass="generic_textBold"/>
			
			<!-- Colore nota -->
			<div class="ui-fluid">
				<p:selectOneRadio id="colorRadio" value="#{MailBean.coloreNotaDaIspeziona}" layout="custom">
					<f:selectItem itemLabel="Nero" itemValue="0"  />
					<f:selectItem itemLabel="Rosso" itemValue="1" />
					<f:selectItem itemLabel="Giallo" itemValue="2" />
				</p:selectOneRadio>
				
				<div id="divFlags" class="ui-g">
					<div class="generic_marginRight50">
			            <h:outputLabel for="opt0" title="Nero" styleClass="generic_marginRight" ><span class="fa fa-flag black"  /></h:outputLabel>
			            <p:radioButton id="opt0" for="colorRadio" itemIndex="0" />
					</div>
					<div class="generic_marginRight50">
			            <h:outputLabel for="opt1" title="Rosso" styleClass="generic_marginRight" ><span class="fa fa-flag red icon-bordered"  /></h:outputLabel>
			            <p:radioButton id="opt1" for="colorRadio" itemIndex="1" />
					</div>
					<div class="generic_marginRight50">
			            <h:outputLabel for="opt2" title="Giallo" styleClass="generic_marginRight" ><span class="fa fa-flag yellow icon-bordered" /></h:outputLabel>
			            <p:radioButton id="opt2" for="colorRadio" itemIndex="2" />
					</div>
				</div>
			</div>
			
			<p:inputTextarea id="notaMail" value="#{MailBean.currentTextNoteIspeziona}" styleClass="generic_input99" rows="5" maxlength="247" />
			
			<p:outputPanel styleClass="buttonsDiv generic_textAlignRight">
	       		<p:commandButton value="Salva Nota" title="Salva Nota" actionListener="#{MailBean.ispezionaChangeNote}" icon="fa fa-save" />
	       		<p:commandButton value="Elimina Nota" title="Elimina Nota" actionListener="#{MailBean.deleteNote}" icon="fa fa-trash" onclick="PF('protocollaMail_WV').hide()" 
	       			update="eastSectionForm, centralSectionForm"  />
		       	<p:commandButton value="Chiudi" title="Chiudi" type="button" icon="fa fa-times" onclick="PF('protocollaMail_WV').hide()" styleClass="uniqueCloseButton" />
			</p:outputPanel>
		</p:outputPanel>
	</p:outputPanel>

	
	<p:dialog header="Principale Protetto" resizable="false" widgetVar="wdgConfirmSelectPrincipale" position="center" closable="true" modal="true" appendTo="@form" 
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgAllegatiDaAllacci')" >
		
		<p:outputPanel id="idPanelFileProtettoDaMail" styleClass="confirm-allegato-protetto file-principale-mail">
			<h:outputText value="Attenzione il file selezionato come principale risulta protetto. La selezione non verrà presa in considerazione, si consiglia di selezionare come principale il testo della Mail oppure un file non protetto." styleClass="generic_textBold" />
		</p:outputPanel>
		
		<div class=" generic_textAligncenter ui-fluid">
    		<div class="ui-g-12">
    			<p:commandButton value="Chiudi" onclick="PF('wdgConfirmSelectPrincipale').hide();" title="Chiudi" icon="ui-icon-close"  type="button" />
    		</div>
   		</div>
	
	</p:dialog>
	
	<p:dialog header="Allegato Protetto" resizable="false" widgetVar="wdgConfirmUploadAllegato" position="center" closable="true" modal="true" appendTo="@form" 
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgAllegatiDaAllacci')" >
		
		<p:outputPanel id="idPanelFileProtetto" styleClass="confirm-allegato-protetto">
			<p:outputLabel value="Attenzione il file selezionato risulta protetto. Confermando l'operazione il file manterrà il suo formato originale e non verrà quindi convertito." styleClass="generic_textBold"/>
		</p:outputPanel>
		
		
		<div class="ui-g generic_textAligncenter ui-fluid">
    		<div class="ui-g-6">
    			<p:commandButton value="Conferma" onclick="PF('wdgConfirmUploadAllegato').hide();" icon="ui-icon-check"  type="button" />
    		</div>
    		<div class="ui-g-6">
    			<p:commandButton value="Annulla" action="#{MailBean.treeTableComponent.clearAllegato()}" update="fileDaProtocollare" oncomplete="PF('wdgConfirmUploadAllegato').hide();" 
    				title="Annulla" icon="ui-icon-close"  />
    		</div>
   		</div>
	
	</p:dialog>

	<p:dialog header="Allegato Protetto" resizable="false" widgetVar="wdgAllegatoProtected" position="center" closable="true" modal="true" appendTo="@form" 
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgAllegatiDaAllacci')" >
		
		<p:outputPanel id="idPanelFileProtettoAllegato" styleClass="confirm-allegato-protetto file-principale-mail">
			<p:outputLabel value="Attenzione uno o più file allegati risultano protetti. Proseguendo con la protocollazione i file manterranno il loro formato originale e non verranno quindi convertiti." 
				styleClass="generic_textBold"/>
		</p:outputPanel>
		
		
		<div class=" generic_textAligncenter ui-fluid">
    		<div class="ui-g-12">
    			<p:commandButton value="Chiudi" onclick="PF('wdgAllegatoProtected').hide();" title="Chiudi" icon="ui-icon-close"  type="button" />
    		</div>
   		</div>
	
	</p:dialog>
	
	
	<p:outputPanel id="idPreviewProtMail" styleClass="preview-panel-protocolla-mail">
		<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_height100 generic_padding0 generic_margin0">
			<iframe title="Frame protocolla mail" src="#{request.contextPath}/DownloadContentServlet?params=#{MailBean.previewComponent.cryptoId}&amp;_=#{session.lastAccessedTime}" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" />
   		</p:outputPanel>

		<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_height100 generic_padding0 generic_margin0">
			<iframe title="Frame protocolla mail" src="#{request.contextPath}/pdfjs/web/viewer.html?file=#{MailBean.previewComponent.cryptoId}&amp;_=#{session.lastAccessedTime}" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder"  />
   		</p:outputPanel>
	</p:outputPanel>
	
	
</ui:composition>