<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:outputPanel id="infoInteroperabilitaPNL_Id" styleClass="generic_padding0 generic_margin0 generic_noborder">
		<p:dataTable id="NotificheInteroperabilita" value="#{DocumentManagerBean.listaNotificheInteroperabilita}" 
					 var="notificheInteroperabilita"  rows="5" rowsPerPageTemplate="5,10,15" paginator="true" 
					 paginatorPosition="bottom" paginatorAlwaysVisible="false" 
					 emptyMessage="Nessuna notifica trovata" styleClass="generic_maxwidth60em" >
			
			<f:facet name="header">
				<h:outputText value="Numero Protocollo: #{DocumentManagerBean.detail.numeroProtocollo ne null ? ''.concat(DocumentManagerBean.detail.numeroProtocollo).concat('/').concat(DocumentManagerBean.detail.annoProtocollo) : 'Non Presente'}"/>
			</f:facet>
		
			<p:column headerText="Data Ricezione" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{notificheInteroperabilita.dataRicezione}">
				  	<f:convertDateTime pattern="dd/MM/yyyy"/>
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Tipo Notifica" styleClass="generic_textAlignLeft">
				<p:commandLink oncomplete="PF('wdgNotificheInteropTesto').show()" update="@namingcontainer:@namingcontainer:notificaInteropSelectedId">
					<f:setPropertyActionListener value="#{notificheInteroperabilita.testo}" target="#{DocumentManagerBean.notificaInteropSelectedTesto}" />
					<h:outputText value="#{notificheInteroperabilita.tipoNotificaInterop}" title="#{notificheInteroperabilita.tipoNotificaInterop}"/>
				</p:commandLink> 
			</p:column>
			
			<p:column headerText="Mittente" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{notificheInteroperabilita.mittente}" title="#{notificheInteroperabilita.mittente}"/>
			</p:column>
			 
			 <p:column headerText="Oggetto" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{fn:length(notificheInteroperabilita.oggetto) gt 20 ?fn:substring(notificheInteroperabilita.oggetto, 0, 20).concat('...'):notificheInteroperabilita.oggetto}" title="#{notificheInteroperabilita.oggetto}"/>
			</p:column>
		</p:dataTable>
		 
 		<p:panelGrid columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4"  styleClass="ui-panelgrid-blank generic_noborder" layout="grid">
	 	 	<p:commandButton value="Scarica Report" title="Esporta Excel" styleClass="generic_width100" icon="fa fa-file-excel-o"
	 	 		 ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotificheInteroperabilita)==0}">
				<p:dataExporter type="xls" target="NotificheInteroperabilita" fileName="#{DocumentManagerBean.nomeReportDatiDiTrasmissione}" />
			</p:commandButton>
		    <p:commandButton  value="Scarica Notifiche" styleClass="generic_width100" title="Scarica Notifiche"
		     ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotificheInteroperabilita)==0}" icon="fa fa-file-text-o" >
		    	 <p:fileDownload value="#{DocumentManagerBean.downloadDatiDiTrasmissioneZipInteroperabilita()}" />
		    </p:commandButton>
		    <p:commandButton icon="fa fa-close" value="Chiudi" styleClass="generic_width100 uniqueCloseButton" 
		    oncomplete="PF('datiDiTrasmissione_Doc_Dlg').hide()" />
		</p:panelGrid>

	</p:outputPanel>
	
	<p:dialog header="Dettaglio notifica" styleClass="generic_maxwidth600px" widgetVar="wdgNotificheInteropTesto" 
		 dynamic="false" appendTo="@form" closable="true" >
		 	<p:outputPanel styleClass="generic_textAlignCenter" id="notificaInteropSelectedId">
				<h:outputText value="#{DocumentManagerBean.notificaInteropSelectedTesto}" />
		 	</p:outputPanel>
		 	<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-close" value="Chiudi" title="Chiudi" type="button" onclick="PF('wdgNotificheInteropTesto').hide()" />
			</p:outputPanel>
		</p:dialog>
	
</ui:composition>