<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:outputPanel id="infoEmailPNL_Id" styleClass="generic_padding0 generic_margin0 generic_noborder">
		<p:dataTable id="NotifichePosta" value="#{DocumentManagerBean.listaNotifichePEC}" var="notificheEmail"  rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" emptyMessage="Nessuna notifica trovata" styleClass="generic_maxwidth60em" > 
			<p:column headerText="Data" styleClass="generic_textAlignLeft" >
				<p:outputLabel value="#{notificheEmail.dataRicezione}" >
				  <f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
			</p:column>
			<p:column headerText="Tipo Notifica" styleClass="generic_textAlignLeft">
				<p:commandLink oncomplete="PF('wdgNotifichemailTesto').show()" update="@namingcontainer:@namingcontainer:notificaSelectedId">
					<f:setPropertyActionListener value="#{notificheEmail.testo}" target="#{DocumentManagerBean.notificaEmailSelectedTesto}" />
					<h:outputText value="#{fn:length(notificheEmail.statoNotifica) gt 15 ?fn:substring(notificheEmail.statoNotifica, 0, 15).concat('...'):notificheEmail.statoNotifica}" title="#{notificheEmail.statoNotifica}"/>
				</p:commandLink> 
			</p:column>
			<p:column headerText="Mittente" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{fn:length(notificheEmail.mittente) gt 15 ?fn:substring(notificheEmail.mittente, 0, 15).concat('...'):notificheEmail.mittente}" title="#{notificheEmail.mittente}" />
			</p:column>
			<p:column headerText="Oggetto" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{fn:length(notificheEmail.oggetto) gt 15 ?fn:substring(notificheEmail.oggetto, 0, 15).concat('...'):notificheEmail.oggetto}" title="#{notificheEmail.oggetto}"/>
			</p:column>
			<p:column headerText="Destinatario" styleClass="generic_textAlignLeft">
				<p:outputLabel value="#{fn:length(notificheEmail.destinatari) gt 15 ?fn:substring(notificheEmail.destinatari, 0, 15).concat('...'):notificheEmail.destinatari}" title="#{notificheEmail.destinatari}"/>
			</p:column>	
		</p:dataTable>
		
		<p:panelGrid columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4"  styleClass="ui-panelgrid-blank generic_noborder" layout="grid">
 	 	  	<p:commandButton value="Scarica Report" title="Esporta Excel" styleClass="generic_width100" icon="fa fa-file-excel-o"
 	 	  	 ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotifichePEC)==0}">
				  <p:dataExporter type="xls" target="NotifichePosta" fileName="#{DocumentManagerBean.nomeReportDatiDiTrasmissione}" />
			</p:commandButton>
		    <p:commandButton  value="Scarica Notifiche" styleClass="generic_width100" title="Scarica Notifiche"
		     ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotifichePEC)==0}" icon="fa fa-file-text-o" >
		    	 <p:fileDownload value="#{DocumentManagerBean.downloadDatiDiTrasmissioneZip()}" />
		    </p:commandButton>
		    <p:commandButton icon="fa fa-close" value="Chiudi" styleClass="generic_width100 uniqueCloseButton"
		      oncomplete="PF('datiDiTrasmissione_Doc_Dlg').hide()" />
		</p:panelGrid>

	</p:outputPanel>
	
	<p:dialog header="Dettaglio notifica" styleClass="generic_maxwidth600px" widgetVar="wdgNotifichemailTesto" 
		 dynamic="false" appendTo="@form" closable="true" >
		 	<p:outputPanel styleClass="generic_textAlignCenter" id="notificaSelectedId">
				<h:outputText value="#{DocumentManagerBean.notificaEmailSelectedTesto}" />
		 	</p:outputPanel>
		 	<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-close" value="Chiudi" title="Chiudi" type="button" onclick="PF('wdgNotifichemailTesto').hide()" />
			</p:outputPanel>
		</p:dialog>
</ui:composition>