<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centralSectionContent">
		
		<h4 class="generic_centra generic_maxwidth1500px">Inserisci Documento</h4>
		
		<ui:include src="documentManagerData.xhtml"></ui:include>
		
	</ui:define>

</ui:composition>
