<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	

	<p:outputPanel id="idDettaglioDocumento_DD" class="ui-g generic_padding0 generic_margin0 generic_height100">
		<div class="#{SessionBean.notActivePageCoda ? 'ui-g-11' : 'ui-g-12'} generic_padding0 generic_margin0 generic_height100">
		   <p:tabView  id="tabDetails" styleClass="generic_height100 generic_no_background" activeIndex="#{DettaglioDocumentoFepaBean.activeTab}" 
		   rendered="#{DettaglioDocumentoFepaBean.detailFatturaFepa != null or DettaglioDocumentoFepaBean.introPreviewActive}">
		    	
		    	<p:ajax event="tabChange" listener="#{DettaglioDocumentoFepaBean.setDetail()}" process=""
	    		update="@parent:@parent:idDettaglioDocumento_DD" disabled="#{not DettaglioDocumentoFepaBean.introPreviewActive}" />
		    	
		    	<p:tab title="Preview" id="tabPdfViewer"  >
		    		<div class="labelPreview ellipsis">
						<h:outputText id="tooltipNomeFileLabel" value="#{DettaglioDocumentoFepaBean.nomeFile}" styleClass="generic_textBold"/>
					</div>
					<dd:dettaglioDocumentoTabPreview documentCmp="#{DettaglioDocumentoFepaBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
		    	</p:tab>
		    	<p:tab title="Dettaglio">
			    	<p:outputPanel rendered="#{not DettaglioDocumentoFepaBean.introPreviewActive}">S
			    		<ui:include src="../fepa/dettaglioDocumentoTabDettaglio_FatturaFepa.xhtml" />
			    	</p:outputPanel>
		    	</p:tab>
		    </p:tabView>
		</div>
		
		<p:outputPanel rendered="#{SessionBean.notActivePageCoda}" styleClass="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith refreshEastButton">
			<dd:goToCodaButtonAndPanel bean="#{DettaglioDocumentoFepaBean}" toUpdateAfterIntro="@form:idDettaglioDocumento_DD" />
		</p:outputPanel>
		
	</p:outputPanel>
	
	

 	<p:outputPanel id="idMenuAllegatiPanel_DD"/>
 	<p:outputPanel id="idPanelDocumentManager"/>
 	<p:outputPanel id="idDocumentManagerContent_DMD"/>
 	
 	

<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG start ==========================================================-->
<p:dialog header="Gestisci fascicolo" widgetVar="dlgManageFascicolo_DF_FEPA_Fattura"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idPanelFascicoloManager_DF_Fattura" 
	onShow="dlgOnShow(this.jqId);PF('dlgManageFascicolo_DF_FEPA_Fattura').initPosition();onShowForClosableDlg('dlgManageFascicolo_DF_FEPA_Fattura');selectFirstTabByTabsWidgetName('wdgTabs_Fattura_FM');" 
	dynamic="true" styleClass="generic_padding0 generic_margin0 generic_maxwidth80 generic_maxHeight70" position="center" draggable="true" >
	
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloFatturaVisible}" 
		styleClass="generic_padding0 generic_margin0 generic_noborder" id="idPanelFascicoloManager_DF_Fattura_Panel">
		<ui:include  src="../fepa/fascicoloFEPAFatturaManager.xhtml" ></ui:include>
	</p:panel>
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton icon="fa fa-folder" title="Visualizza fascicolo Fepa" action="#{DettaglioDocumentoFepaBean.loadDettaglioFatturaFepa}"  value="Visualizza Fascicolo Fepa" update="@form:idPaneldlgManageFascicolo_Fattura_FEPA"/>
		<p:commandButton icon="fa fa-plus" title="Aggiungi Documento" action="#{FascicoloFatturaManagerBean.inizializzaAggiungiDocAllegatoFattura()}" update="idPanelAllegatoFascFatt, @form:idDlgAgg_Allegato_FascFatt_DF" value="Aggiungi Documento"/>
		<p:commandButton icon="fa fa-times" title="Chiudi" action="#{DettaglioDocumentoFepaBean.chiudiFascicoloFattura()}" onclick="PF('dlgManageFascicolo_DF_FEPA_Fattura').hide()" value="Chiudi" update="@form:idPanelFascicoloManager_DF_Fattura, @form:idDlgAgg_Allegato_FascFatt_DF" styleClass="uniqueCloseButton" />
	</div>
</p:dialog>
<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG end ============================================================-->
	



</ui:composition>