<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
<p:outputPanel id="idDettaglioDocumento_DD" class="ui-g generic_padding0 generic_margin0 generic_height100">

<table class="dd-table-layout">
  <tr>
    <td>
		<div class="ui-g-12 generic_padding0 generic_margin0 generic_height100">
		    <p:tabView  id="tabDetails"     
		    	styleClass="generic_height100 updatableIntroPreviewDeactivate generic_no_background" activeIndex="#{DettaglioDocumentoBean.activeTab}"
		    	
		    	rendered="#{DettaglioDocumentoBean.documentCmp.detail ne null or not empty DettaglioDocumentoBean.previewComponent.cryptoId}">
		    	
		    	<p:ajax event="tabChange" listener="#{DettaglioDocumentoBean.loadStorico()}" process=""
		    		update="@parent:@parent:idDettaglioDocumento_DD" disabled="#{DettaglioDocumentoBean.storicoGiaCaricato}" />
		    	
		    	<p:tab title="Preview" id="tabPdfViewer" styleClass="previewTab">
				    <div class="labelPreview ellipsis">
						<h:outputText id="tooltipNomeFileLabel" value="#{DettaglioDocumentoBean.nomeFile}" styleClass="generic_textBold"/>
					</div>
					<dd:dettaglioDocumentoTabPreview documentCmp="#{DettaglioDocumentoBean.previewComponent}"  isDocumentoIngresso="#{DettaglioDocumentoBean.documentCmp.master.idCategoriaDocumento}" 
					idTipoAssegnazione="#{DettaglioDocumentoBean.documentCmp.master.tipoFirma}" idTipologiaDocumento="#{DettaglioDocumentoBean.documentCmp.master.idTipologiaDocumento}" 
					idUfficioCreatore="#{DettaglioDocumentoBean.documentCmp.master.idUfficioCreatore}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
		    	</p:tab>
		    	<p:tab title="Dettaglio" rendered="#{DettaglioDocumentoBean.dettaglioOpenable and SessionBean.preferenze.fullDetailEnable}">
		    		<p:outputPanel rendered="#{not DettaglioDocumentoBean.introPreviewActive}">
			    		<dd:dettaglioDocumentoTabDettaglioComponent bean="#{DettaglioDocumentoBean}" documentCmp="#{DettaglioDocumentoBean.documentCmp}"/>
		    		</p:outputPanel>
		    	</p:tab>
		    	<!-- 
		    	
		    	< p :tab title="Documenti" rendered="#{SessionBean.preferenze.fullDetailEnable}">
		    		< p :outputPanel rendered="#{not DettaglioDocumentoBean.introPreviewActive}">
			    		< dd :dettaglioDocumentoTabDocumentiComponent	documentCmp="#{DettaglioDocumentoBean.documentCmp}"/ >
		    		< / p :outputPanel>
		    	< / p:tab>
		    	 -->
		    	<p:tab title="Storico" rendered="#{DettaglioDocumentoBean.dettaglioOpenable and DettaglioDocumentoBean.hasTabStorico() and SessionBean.preferenze.fullDetailEnable}">			
					<p:outputPanel rendered="#{ not DettaglioDocumentoBean.introPreviewActive}">
						<dd:dettaglioDocumentoTabStorico bean="#{DettaglioDocumentoBean.storico}"/>
					</p:outputPanel>
				</p:tab>
		    </p:tabView>
		</div>
	</td>
    <td class="dd-table-layout-td2">
		<p:outputPanel id="tabDetailsMenu" rendered="#{DettaglioDocumentoBean.dettaglioOpenable and DettaglioDocumentoBean.documentCmp.detail ne null}" 
			styleClass="generic_padding0 generic_margin0 generic_textAlignCenter refreshEastButton #{DettaglioDocumentoBean.documentCmp.master.idCategoriaDocumento == 6 ? 'disabled-toolbar' : ''}">
			<ui:include src="dettaglioDocumentoEastButtons.xhtml"/>
		</p:outputPanel>
	</td>
  </tr>
</table>


	
	
	

</p:outputPanel>


<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocumenti')" widgetVar="dlgVisualizzaDocumenti" header="Visualizza documenti" draggable="false" resizable="false"
			  closable="true" modal="true" onHide="PF('dlgVisualizzaDocumenti').toggleMaximize();">
		
		<p:outputPanel id="visualizzaDoc_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{DettaglioDocumentoBean.viewDettaglioDoc}" dettagliodto="#{DettaglioDocumentoBean.documentCmp.detail}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocumenti').hide();" styleClass="uniqueCloseButton"></p:commandButton>
		</p:outputPanel>
	</p:dialog>
	
<!--========================================================== Stampa Preview Dialog ==========================================================-->
	<p:dialog id="dlgStampaDocId" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgStampaDocumentoPrincWV','closeBtnStampaDocWV')" widgetVar="dlgStampaDocumentoPrincWV" header="Stampa documento" draggable="false" resizable="false" closable="true" onHide="PF('dlgStampaDocumentoPrincWV').toggleMaximize();">

		<p:outputPanel rendered="#{SessionBean.renderDialogStampa}" id="previewStampaDoc_pnl" styleClass="ui-g-9" style="height:100%!important">
			<dd:dettaglioDocumentoTabStampa documentCmp="#{DettaglioDocumentoBean.previewComponent}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton widgetVar="closeBtnStampaDocWV" value="Chiudi" title="Chiudi" icon="fa fa-times" update="eastSectionForm:dlgStampaDocId" actionListener="#{DettaglioDocumentoBean.chiudiDialogStampa}" onclick="PF('dlgStampaDocumentoPrincWV').hide();" styleClass="uniqueCloseButton" />
		</p:outputPanel>
	</p:dialog>
</ui:composition>