<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:nps="http://java.sun.com/jsf/composite/nps">
	
	<p:outputPanel id="idDettaglioDocumento_DD" class=" generic_padding0 generic_margin0 generic_height100">
		
		<div class=" generic_padding0 generic_margin0 generic_height100">
		    <p:tabView id="tabDetails" styleClass="generic_height100 generic_no_background" rendered="#{DettaglioNpsBean.detail != null}">
		    	<p:tab title="Dettaglio" rendered="#{SessionBean.preferenze.fullDetailEnable}">
		    		<nps:dettaglioNpsTabDettaglioComponent dto="#{DettaglioNpsBean.detail}"/>
		    	</p:tab>
		    	<p:tab title="Documenti" rendered="#{SessionBean.preferenze.fullDetailEnable}">
		    		<nps:dettaglioNpsTabDocumentiComponent bean="#{DettaglioNpsBean.detailComponent}"/>
		    	</p:tab>
		    	<p:tab title="Storico" rendered="#{DettaglioDocumentoBean.hasTabStorico() and SessionBean.preferenze.fullDetailEnable}" >
					<nps:dettaglioNpsTabStorico dto="#{DettaglioNpsBean.detail}"/>
				</p:tab>
		    </p:tabView>
		</div>
	
	</p:outputPanel>

</ui:composition>