<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
<p:outputPanel id="idDettaglioDocumento_DD" class="ui-g generic_padding0 generic_margin0 generic_height100">
	
	<div class="#{SessionBean.notActivePageCoda ? 'ui-g-11' : 'ui-g-12'} generic_padding0 generic_margin0 generic_height100">
	<!-- updatableIntroPreviewDeactivate corrisponde a un div da aggiornare quando viene cliccato fuori dalla preview -->
  	    <p:tabView  id="tabDetails" styleClass="generic_no_background generic_height100 updatableIntroPreviewDeactivate" activeIndex="#{DettaglioDocumentoFepaBean.activeTab}" 
  	    rendered="#{DettaglioDocumentoFepaBean.detail != null or not DettaglioDocumentoFepaBean.previewComponent.cryptoId.isEmpty()}">
	    	
	    	<p:ajax event="tabChange" listener="#{DettaglioDocumentoFepaBean.setDetail()}" process=""
	    		update="@parent:@parent:idDettaglioDocumento_DD" disabled="#{not DettaglioDocumentoFepaBean.introPreviewActive}" />
	    	
	    	<p:tab title="Preview" id="tabPdfViewer" styleClass="previewTab">
		    	<div class="labelPreview ellipsis ">
					<h:outputText id="tooltipNomeFileLabel" value="#{DettaglioDocumentoFepaBean.nomeFile}" styleClass="generic_textBold"/>
				</div> 
		    	<dd:dettaglioDocumentoTabPreview documentCmp="#{DettaglioDocumentoFepaBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
	    	</p:tab>
	    	<p:tab title="Dettaglio">
	    		<p:outputPanel rendered="#{not DettaglioDocumentoFepaBean.introPreviewActive}">
		    		<ui:include src="../fepa/dettaglioDocumentoTabDettaglio_DD.xhtml" />
	    		</p:outputPanel>
	    	</p:tab>
	    </p:tabView>
	</div>
	
		
	<p:outputPanel rendered="#{SessionBean.notActivePageCoda}" styleClass="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith refreshEastButton">
		<dd:goToCodaButtonAndPanel bean="#{DettaglioDocumentoFepaBean}"  />
	</p:outputPanel>
	
</p:outputPanel>


	<p:outputPanel id="idMenuAllegatiPanel_DD"/>
 	<p:outputPanel id="idPanelDocumentManager"/>
 	<p:outputPanel id="idDocumentManagerContent_DMD"/>
 	
 	

<!--========================================================== Dettaglio/Modifica/Creazione documento DIALOG start ==========================================================-->
<p:dialog header="Gestisci fascicolo" widgetVar="dlgManageFascicolo_DF_FEPA"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idPanelFascicoloManager_DF" 
	onShow="dlgOnShow(this.jqId);PF('dlgManageFascicolo_DF_FEPA').initPosition();onShowForClosableDlg('dlgManageFascicolo_DF_FEPA'); selectFirstTabByTabsWidgetName('wdgTabs_FM');" 
	dynamic="true" styleClass="generic_padding0 generic_margin0 generic_maxwidth80 generic_maxHeight70" position="center" 
	draggable="true" >
	<p:ajax event="close" update="@form:idPanelFascicoloManager_DF" async="true" listener="#{DettaglioDocumentoFepaBean.chiudiFascicolo()}" />
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloVisible}" 
		styleClass="generic_padding0 generic_margin0 generic_noborder">
		<ui:include  src="../fepa/fascicoloFEPAManager.xhtml"  ></ui:include>
	</p:panel>
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton icon="fa fa-times" action="#{DettaglioDocumentoFepaBean.chiudiFascicolo()}" onclick="PF('dlgManageFascicolo_DF_FEPA').hide()" value="Chiudi" title="Chiudi" update="@form:idPanelFascicoloManager_DF, @form:idDlgAgg_Allegato_FascFatt_DF" styleClass="uniqueCloseButton" /> 
 	</div>
</p:dialog>
<!--========================================================== Dettaglio/Modifica/Creazione documento DIALOG end ============================================================-->

<!--========================================================== Associazione O.P. Fascicolo Fepa DIALOG start ==========================================================-->
<p:dialog header="Fascicoli Op Fepa" widgetVar="dlgFascOPFepa_DF"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idDlgFascOPFepa_DF" onShow="dlgOnShow(this.jqId);PF('dlgFascOPFepa_DF').initPosition();onShowForClosableDlg('dlgFascOPFepa_DF')" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth50 generic_maxHeight50" position="top" 
	draggable="false" >
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dlgFascOpFepaDfVisible}" 
		styleClass="generic_padding0 generic_margin0">
		<p:dataTable var="OP" value="#{DettaglioDocumentoFepaBean.ordiniDiPagamento}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					id="allegatiOPAssociatiId" emptyMessage="Nessun ordine di pagamento">
					<p:column headerText="Associato"  styleClass="generic_textAlignCenter" width="100">
				     <p:selectBooleanCheckbox value="#{OP.selected}" /> 
				    </p:column>
				 	<p:column headerText="Ordine Pagamento"  styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{OP.numeroOP}"  />
				    </p:column>
		</p:dataTable>
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton  ajax="true" type="submit" rendered="#{DettaglioDocumentoFepaBean.permessoAssociareOpDoc}"
	 	  value="Salva" icon="fa fa-save" title="Salva" action="#{DettaglioDocumentoFepaBean.salvaAssociazioneAllegatoOP}" oncomplete="PF('dlgFascOPFepa_DF').hide()"/>
	 	 <p:commandButton icon="fa fa-times" title="Chiudi" action="#{DettaglioDocumentoFepaBean.closedialogFascicoloOpFEPA}" oncomplete="PF('dlgFascOPFepa_DF').hide()" value="Chiudi" update="idDlgFascOPFepa_DF" styleClass="uniqueCloseButton"/>
	 	 </div>
	</p:panel>
</p:dialog>
<!--========================================================== Associazione O.P. Fascicolo Fepa DIALOG end ============================================================-->

<!--========================================================== Aggiungi Allegato O.P. DIALOG start ==========================================================-->
<p:dialog header="Aggiungi Allegato O.P." widgetVar="dlgAgg_Allegato_OP_DF"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idDlgAgg_Allegato_OP_DF" onShow="dlgOnShow(this.jqId);PF('dlgAgg_Allegato_OP_DF').initPosition();onShowForClosableDlg('dlgAgg_Allegato_OP_DF')" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth50 generic_maxHeight50" position="top" 
	draggable="false" >
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.idDlgAggAllegatoOpDfVisible}"  
		styleClass="generic_padding0 generic_margin0" id="idPanelAllegatoOP">
		
		<div class="ui-g dmd-allegato-td" >
				
					<p:outputPanel styleClass="ui-g-2">
							<p:outputLabel value="Nome file:" styleClass="generic_textBold"/>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-7">
							<p:inputText value="#{DettaglioDocumentoFepaBean.newAllegatoOP.nomeDocumento}" disabled="true" styleClass="generic_input99 generic-opacity" />		
						</p:outputPanel>
							
						<p:outputPanel styleClass="ui-g-3">		
						<p:commandButton action="#{DettaglioDocumentoFepaBean.rimuoviFileAllegato}" icon="fa fa-close"  styleClass="dmd-distance" 
								ajax="true" title="Rimuovi il documento" update="idPanelAllegatoOP"  rendered="#{DettaglioDocumentoFepaBean.newAllegatoOP.nomeDocumento != null}"/>
								<p:fileUpload 
								fileUploadListener="#{DettaglioDocumentoFepaBean.handleFileUploadAllegato}"
								auto="true"
								label="Sfoglia"
								mode="advanced" skinSimple="true"
								dragDropSupport="false"
								styleClass="dmd-fileUpload"
									onstart="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();"
										process="@this,oggettoDoc_DSR,tipologia_All_OP"
								update="idPanelAllegatoOP" rendered="#{DettaglioDocumentoFepaBean.newAllegatoOP.nomeDocumento == null}">
								<f:attribute name="index" value="#{index}" />
								</p:fileUpload>
							</p:outputPanel>
							
						<div class="ui-g-2">
							<p:outputLabel for="oggettoDoc_DSR" value="Oggetto" styleClass="generic_textBold"/>
						</div>
						<div class="ui-g-10">
							<p:inputTextarea id="oggettoDoc_DSR" value="#{DettaglioDocumentoFepaBean.newAllegatoOP.oggetto}" styleClass="generic_input90" />
						</div>
						
						<div class="ui-g-2">
							<p:outputLabel for="tipologia_All_OP" value="Tipo" styleClass="generic_textBold"/>
						</div>
						<div class="ui-g-10">
						<p:selectOneMenu id="tipologia_All_OP" value="#{DettaglioDocumentoFepaBean.idTipologiaDocAggiuntivoSelezionato}" lazy="true" autoWidth="false" styleClass="textfield_dropdown, generic_input90">
							<f:selectItems value="#{DettaglioDocumentoFepaBean.tipologieDocAggiuntivi}" var="item" itemLabel="#{item.descrizione}" itemValue="#{item.idTipologiaDocAggiuntivo}"/>        				  
        				</p:selectOneMenu>
						</div>
						
						
					</div>
		
	
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton  ajax="true" type="submit" icon="fa fa-save" title="Salva" value="Salva" action="#{DettaglioDocumentoFepaBean.aggiungiDocumentoAllegatoOP}" oncomplete="PF('dlgAgg_Allegato_OP_DF').hide()" update="idDlgAgg_Allegato_OP_DF,@form:idPanelFascicoloManager_DF:idTabs_FM:docAggId_OP" />
	 	<p:commandButton icon="fa fa-times" title="Chiudi" action="#{DettaglioDocumentoFepaBean.closedialogFascicoloOpFEPA}" oncomplete="PF('dlgAgg_Allegato_OP_DF').hide()" value="Chiudi" udpate="idDlgAgg_Allegato_OP_DF" styleClass="uniqueCloseButton" />
	 	</div>
	</p:panel>
</p:dialog>
<!--========================================================== Aggiungi Allegato O.P. DIALOG end ============================================================-->
	
	
<!--========================================================== Fascicolo FEPA O.P. start ==========================================================-->
<p:dialog header="Fascicolo Ordine Pagamento" widgetVar="dlgFepaOP_DF"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="DettaglioDocOPFepaId" onShow="dlgOnShow(this.jqId);PF('dlgFepaOP_DF').initPosition();onShowForClosableDlg('dlgFepaOP_DF')" dynamic="true"
	styleClass="generic_padding0 generic_margin0 generic_maxwidth50 generic_maxHeight50" position="top" 
	draggable="false" >
	<p:ajax event="close" update="@form:DettaglioDocOPFepaId" async="true" listener="#{DettaglioDocumentoFepaBean.closeFascicoloOP()}" />
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dlgFepaOpDfVisible}"
		styleClass="generic_padding0 generic_margin0">
		<p:dataTable var="docOP" value="#{DettaglioDocumentoFepaBean.documentiOPFascicoloFepa}" rowIndexVar="index" styleClass="generic_table-maxHeight"
					id="DocOPFepaId" emptyMessage="">
					<p:column headerText="Tipologia Documento"  styleClass="generic_textAlignCenter" width="100">
				     <p:selectBooleanCheckbox value="#{docOP.tipologiaDocumento}" /> 
				    </p:column>
				 	<p:column headerText="Oggetto"  styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{docOP.descrizione}"  />
				    </p:column>
				    <p:column headerText="Nome File"  styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{docOP.fileName}"  />
				    </p:column>
				   	<p:column headerText="Data Creazione"  styleClass="generic_textAlignCenter" width="100">
				        <p:outputLabel value="#{docOP.dataCreazione}"  />
				    </p:column>
				   	<p:column headerText="Azioni"  styleClass="generic_textAlignCenter" width="100">	
				    <p:commandButton title="Download #{docOP.fileName}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
					        <p:fileDownload value="#{DettaglioDocumentoFepaBean.downloadDocumentoFascicoloOP(index)}" />
				    </p:commandButton>
				        
				    </p:column>
		</p:dataTable>
	<div class="buttonsDiv generic_textAlignRight">
	 	 <p:commandButton icon="fa fa-times" title="Chiudi" action="{DettaglioDocumentoFepaBean.closeFascicoloOP()}" oncomplete="PF('dlgFepaOP_DF').hide()" value="Chiudi" update="DettaglioDocOPFepaId" styleClass="uniqueCloseButton" />
	 	 </div>
	</p:panel>
</p:dialog>
<!--========================================================== Associazione O.P. Fascicolo Fepa DIALOG end ============================================================-->
	




</ui:composition>