<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom"
	>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<!-- Questo dettaglio sarà uguale a quello SIGI in generale è un dettaglio con solo la preview essendo SIGI e Stampa registro concettualmente differenti ho preferito non accorparli -->
	<p:outputPanel id="idDettaglioDocumento_DD" class="generic_padding0 generic_margin0 generic_height100">
		<div class="generic_padding0 generic_margin0 generic_height100">
		    <p:tabView id="tabDetails" styleClass="generic_height100 generic_no_background" rendered="#{DettaglioStampaRegistroBean.cryptoId ne null and not empty DettaglioStampaRegistroBean.cryptoId}">
		    	<p:tab title="Preview" id="tabPdfViewer">
		    		<red:dettaglioDocumentoTabPreview documentCmp="#{DettaglioStampaRegistroBean}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessioBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
		    	</p:tab>
		    </p:tabView>
		</div>
	
	</p:outputPanel>

</ui:composition>