<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<dd:openDocumentoEstesoButton bean="#{DettaglioDocumentoBean}" />
	
	<!-- Chi fa una modifica a questo componente si ricordi di utilizzarlo anche per fepa DSR DD e per sottoscrizioni -->
	<dd:menuAllegatiButtonAndMenu bean="#{DettaglioDocumentoBean}" toUpdateAfterIntro=" @(.updatableIntroPreviewDeactivate)" />

	<p:commandButton type="submit" icon="fa fa-expand" title="Visualizza" oncomplete="PF('dlgVisualizzaDocumenti').show();PF('dlgVisualizzaDocumenti').toggleMaximize();"
		action="#{DettaglioDocumentoBean.openVisualizzaDocumento}" process="@this" update="@form:visualizzaDoc_opnl" />
	
	<p:outputPanel id="responseSingole_btn">
		<p:menuButton model="#{ListaDocumentiBean.model}" id="menuRespListEast" icon="fa fa fa-ellipsis-v" 
			menuStyleClass="response-single-style" title="Azioni Documento: #{ListaDocumentiBean.documentiDTH.currentMaster.numeroDocumento}"
			disabled="#{empty DettaglioDocumentoBean.responseDetail or fn:length(ListaDocumentiBean.documentiDTH.selectedMasters) gt 0}"
			rendered="#{SessionBean.showBtnResp ne null and SessionBean.showBtnResp}" styleClass="generic_displayBlock"/>
	</p:outputPanel>
	
	<p:commandButton ajax="false" icon="fa fa-envelope-o" title="Invia email" process="@this"> 
			<p:fileDownload value="#{DettaglioDocumentoBean.inviaDocPrincipaleEmail}"/>
	</p:commandButton>
	 
	<p:commandButton type="submit" icon="fa fa-print" title="Stampa documento" oncomplete="PF('dlgStampaDocumentoPrincWV').show();PF('dlgStampaDocumentoPrincWV').toggleMaximize();"
		action="#{DettaglioDocumentoBean.openStampaDocumento}" process="@this" update="@form:previewStampaDoc_pnl"  />
			
	
	<!-- Questo pannello si aggiorna per idPanel e per classe  updatableIntroPreviewDeactivate -->
	<dd:goToCodaButtonAndPanel bean="#{DettaglioDocumentoBean}" idPanel="idAccessoCode_DD" toUpdateAfterIntro=" @(.updatableIntroPreviewDeactivate)" />
	
	<dd:verificaFirmaButton bean="#{DettaglioDocumentoBean}"/>

</ui:composition>