<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.business.service.asign.step.StatusEnum" var="StatusEnum" allSuffix="ALL_STATUS"/>
	
	<p:outputPanel id="idDettaglioDocumento_DD" class="ui-g-12 generic_margin0 generic_height100" >
		<p:outputPanel id="tabDetails" rendered="#{SessionBean.utente.gestioneApplicativa and DettaglioDocumentoASignBean.detail.aSignItem ne null}" >
			<p:outputPanel styleClass="documento-label">
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-6,ui-grid-col-6">
					<p:outputLabel value="Numero Protocollo" styleClass="DD_labelNormale"/>
					<p:outputLabel value="Anno Protocollo" styleClass="DD_labelNormale"/>
					<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.numeroProtocollo}" readonly="true" styleClass="generic_input100"/>
					<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.annoProtocollo}" readonly="true" styleClass="generic_input100"/>
	
					<p:outputLabel value="Stato Attuale" styleClass="DD_labelNormale"/>
					<p:outputLabel value="Step Attuale" styleClass="DD_labelNormale"/>
					<p:inputText id="statusInputId" value="#{DettaglioDocumentoASignBean.detail.aSignItem.status.displayName}" readonly="true" styleClass="generic_input100"/>
					<p:inputText id="stepInputId" value="#{DettaglioDocumentoASignBean.detail.aSignItem.step.displayName}" readonly="true" styleClass="generic_input100"/>
				
					<p:outputLabel value="Coda di provenienza" styleClass="DD_labelNormale"/>
					<p:outputLabel value="Identificativo AOO" styleClass="DD_labelNormale"/>
					<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.queue.displayName}" readonly="true" styleClass="generic_input100"/>
					<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.idAoo}" readonly="true" styleClass="generic_input100"/>
					
				
				</p:panelGrid>
			</p:outputPanel>

			<p:accordionPanel id="accordionId" >
	
				<p:tab title="Dati sintetici" id="tabDatiSinteticiId">
	
					<div class="ui-fluid noborder" >
						<p:outputPanel styleClass="documento-label">
							<p:panelGrid id="panelGridId" columns="2"  layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-4 label_margin_top,ui-grid-col-8">
								<p:outputLabel value="Identificativo item firma" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.id}" readonly="true"/>
	
								<p:outputLabel value="Document Title" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.documentTitle}" readonly="true"/>
								
								<p:outputLabel value="Numero Documento" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.numeroDocumento}" readonly="true"/>
	
								<p:outputLabel value="Identificativo Ufficio" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.idUfficioFirmatario}" readonly="true"/>
	
								<p:outputLabel value="Identificativo Firmatario" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.idFirmatario}" readonly="true"/>
	
								<p:outputLabel value="Identificativo Ruolo" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.idRuoloFirmatario}" readonly="true"/>
	
								<p:outputLabel value="Priorità" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.priority}" readonly="true"/>
	
								<p:outputLabel value="Numero Retry" styleClass="DD_labelNormale"/>
								<p:inputText id="inputNRetryId"  value="#{DettaglioDocumentoASignBean.detail.aSignItem.nRetry}" readonly="true"/>
	
								<p:outputLabel value="Data Ultimo Retry" styleClass="DD_labelNormale"/>
								<p:inputText id="inputDataUltimoRetryId" value="#{DettaglioDocumentoASignBean.detail.aSignItem.dataUltimoRetry}" readonly="true">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
								</p:inputText>
								<p:outputLabel value="Flag Comunicato" styleClass="DD_labelNormale"/>
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.flagComunicato}" readonly="true"/>

								<p:outputLabel value="Tipo di firma" styleClass="DD_labelNormale" />
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.signType}" readonly="true"/>

								<p:outputLabel value="Modalità di firma" styleClass="DD_labelNormale" />
								<p:inputText value="#{DettaglioDocumentoASignBean.detail.aSignItem.signMode}" readonly="true"/>
								
							</p:panelGrid>
				
							<p:commandButton id="resetBtn" value="Reset Retry" title="Reset Retry" icon="fa fa-refresh" action="#{DettaglioDocumentoASignBean.resetRetry}" disabled="#{DettaglioDocumentoASignBean.detail.aSignItem.status ne StatusEnum.ERRORE}"/>
						
						</p:outputPanel>			    			
					</div>			    			
				</p:tab>
				<p:tab title="Storico Stati">
					<p:dataTable var="stato" value="#{DettaglioDocumentoASignBean.detail.aSignItem.states}" styleClass="generic_textAlignCenter" emptyMessage="Non è presente alcuno stato">
						<p:column headerText="Stato">
							<h:outputText value="#{stato.stato.displayName}" />
						</p:column>
						<p:column headerText="Data Da">
							<h:outputText value="#{stato.dataDa}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
							</h:outputText>
						</p:column>
						<p:column headerText="Data A">
							<h:outputText value="#{stato.dataA}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Storico Step" >
					<p:dataTable var="step" value="#{DettaglioDocumentoASignBean.detail.aSignItem.steps}" styleClass="generic_textAlignCenter" emptyMessage="Non è presente alcuno step">
						<p:column headerText="Step">
							<h:outputText value="#{step.step.displayName}"/>
						</p:column>
						<p:column headerText="Data Da">
							<h:outputText value="#{step.dataDa}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
							</h:outputText>
						</p:column>
						<p:column headerText="Data A">
							<h:outputText value="#{step.dataA}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
							</h:outputText>
						</p:column>
						<p:column headerText="Azioni">
							<p:commandButton value="Dowload log" title="Dowload log" ajax="false" icon="fa fa-download">
									<p:fileDownload value="#{DettaglioDocumentoASignBean.downloadStepLog(step)}" />
							</p:commandButton>
						</p:column>			        				
					</p:dataTable>			    			
				</p:tab>
			</p:accordionPanel>
		
		</p:outputPanel>
	</p:outputPanel>
</ui:composition>