<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:red="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
<!-- 	DA LEVARE TODO -->
	<p:outputPanel id="idDettaglioDocumento_DD" class="generic_padding0 generic_margin0 generic_height100">
		<div class="generic_padding0 generic_margin0 generic_height100">
			<!-- nel tabview modificare l'index se lo storico viene spostato di posizione-->
		    <p:tabView  id="tabDetails" styleClass="generic_height100 generic_no_background" rendered="#{DettaglioSigiBean.cryptoId ne null and not empty DettaglioSigiBean.cryptoId}">
		    	<p:tab title="Preview" id="tabPdfViewer">
		    		<red:dettaglioDocumentoTabPreview documentCmp="#{DettaglioSigiBean}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessioBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
		    	</p:tab>
		    </p:tabView>
		</div>
	</p:outputPanel>

</ui:composition>