<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.DocumentQueueEnum" var="DCE" allSuffix="ALL_QUEUE_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<p:outputPanel id="eastSectionPanelId" styleClass="generic_height100">
		<table class="dd-table-layout">
			<tr>
				<td>
					<p:outputPanel styleClass="generic_padding0 generic_margin0 generic_height100">
						<div class="labelPreview ellipsis"> 
							<h:outputText id="tooltipNomeFileLabel" value="#{ListaCartaceiAcquisitiBean.detailCartaceo.nomeFile}" styleClass="generic_textBold"/>
						</div>
						<red:dettaglioDocumentoTabPreview documentCmp="#{ListaCartaceiAcquisitiBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
					</p:outputPanel>
				</td>
				
				<td class="dd-table-layout-td2">
					<p:outputPanel styleClass="generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith">
						<p:commandButton icon="fa fa-expand" title="Visualizza" process="@this"
							action="#{ListaCartaceiAcquisitiBean.openVisualizzaDocumento()}" update="@form:pnlVisualizzaCartaceo"
							oncomplete="PF('dlgVisualizzaCartaceo').show();PF('dlgVisualizzaCartaceo').toggleMaximize();"/>
					</p:outputPanel>
					
					<p:outputPanel rendered="#{ListaCartaceiAcquisitiBean.codaAttuale eq DCE.ELIMINATI}">
						<p:menuButton icon="fa fa fa-ellipsis-v" menuStyleClass="response-single-style" 
							title="Azioni Documento: #{ListaCartaceiAcquisitiBean.documentiDTH.currentMaster.barcode}"
							model="#{ListaCartaceiAcquisitiBean.calcolaReponseMenuModelPerDocumento(ListaCartaceiAcquisitiBean.documentiDTH.currentMaster.barcode)}">
						</p:menuButton>
					</p:outputPanel>
				</td>
			</tr>
		</table>
	</p:outputPanel>
	
	<!-- =========================================== Visualizza Preview Dialog ===================================================-->
	<p:dialog onShow="dlgOnShow(this.jqId);" widgetVar="dlgVisualizzaCartaceo" header="Visualizza documento" draggable="false" resizable="false"
		closable="true" modal="true" onHide="PF('dlgVisualizzaCartaceo').toggleMaximize();onShowForClosableDlg('dlgVisualizzaCartaceo')">
		
		<p:outputPanel id="pnlVisualizzaCartaceo" styleClass="ui-g generic_height100 generic_maxHeight96">
			<red:dialogVisualizzaDocumentoComponent bean="#{ListaCartaceiAcquisitiBean.visualizzaCartaceoComponent}" 
				dettagliodto="#{ListaCartaceiAcquisitiBean.detailCartaceo}" soloPrincipale="true"/>
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaCartaceo').hide();" 
				styleClass="uniqueCloseButton"></p:commandButton>
		</p:outputPanel>
	</p:dialog>

</ui:composition>
