<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
<p:outputPanel id="idDettaglioDocumento_DD" class="ui-g generic_padding0 generic_margin0 generic_height100">
	<div class="ui-g-11 generic_padding0 generic_margin0 generic_height100">	   
	<p:tabView id="tabDetails" styleClass="generic_height100 generic_no_background"
		activeIndex="#{DettaglioDocumentoFepaBean.activeTab}" rendered="#{DettaglioDocumentoFepaBean.fepaCmp.detail != null or DettaglioDocumentoFepaBean.introPreviewActive}" >
	    	<p:ajax event="tabChange" listener="#{DettaglioDocumentoFepaBean.setDetail()}" process=""
	    		update="@parent:@parent:idDettaglioDocumento_DD" disabled="#{not DettaglioDocumentoFepaBean.introPreviewActive}" />
	    	
	    	<p:tab title="Preview" id="tabPdfViewer" styleClass="previewTab">
		    	<div class="labelPreview ellipsis">
					<h:outputText id="tooltipNomeFileLabel" value="#{DettaglioDocumentoFepaBean.nomeFile}" styleClass="generic_textBold"/>
				</div>
				<dd:dettaglioDocumentoTabPreview documentCmp="#{DettaglioDocumentoFepaBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
	    	</p:tab>
	    	<p:tab title="Dettaglio" >
	    		<p:outputPanel rendered="#{not DettaglioDocumentoFepaBean.introPreviewActive}" >
		    		<dd:dettaglioDocumentoTabDettaglioComponent	documentCmp="#{DettaglioDocumentoFepaBean.fepaCmp}"/>
	    		</p:outputPanel>
	    	</p:tab>
	        <p:tab title="Storico">
	    		<dd:dettaglioDocumentoTabStorico bean="#{DettaglioDocumentoFepaBean.storico}"/>
	    	</p:tab>
	    </p:tabView>
	</div>
	
	<p:outputPanel rendered="#{DettaglioDocumentoFepaBean.detail != null or DettaglioDocumentoFepaBean.introPreviewActive}" styleClass="ui-g-1 generic_padding0 generic_margin0 generic_textAlignCenter ddocumento-btn-maxwith refreshEastButton">
		<ui:include src="../fepa/dettaglioDocumentoEastButtons_DSR.xhtml" />
		<dd:goToCodaButtonAndPanel bean="#{DettaglioDocumentoFepaBean}" />
	</p:outputPanel>
	

 	<p:outputPanel id="idPanelDocumentManager"/>
 	<p:outputPanel id="idDocumentManagerContent_DMD"/>
</p:outputPanel>

<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG start ==========================================================-->
<p:dialog header="Gestisci fascicolo" widgetVar="dlgManageFascicolo_DF_FEPA"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
	closable="true" id="idPanelFascicoloManager_DF" 
	onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgManageFascicolo_DF_FEPA'); selectFirstTabByTabsWidgetName('wdgTabs_FM');" 
	dynamic="true" styleClass="generic_padding0 generic_margin0 generic_maxwidth80 generic_maxHeight96" position="center" 
	draggable="true" >
	<p:ajax event="close" update="@form:idPanelFascicoloManager_DF" async="true" listener="#{DettaglioDocumentoFepaBean.chiudiFascicolo()}" />
	<p:panel  rendered="#{DettaglioDocumentoFepaBean.dialogFascicoloVisible}" 
		styleClass="generic_padding0 generic_margin0 generic_noborder">
		<ui:include  src="../fepa/fascicoloFEPAManager.xhtml"  ></ui:include>
	</p:panel>
	<div class="buttonsDiv generic_textAlignRight">
		<p:commandButton icon="fa fa-times" title="Chiudi" action="#{DettaglioDocumentoFepaBean.chiudiFascicolo()}" onclick="PF('dlgManageFascicolo_DF_FEPA').hide()" value="Chiudi" update="@form:idPanelFascicoloManager_DF, @form:idDlgAgg_Allegato_FascFatt_DF" styleClass="uniqueCloseButton"  /> 
	</div>
</p:dialog> 
<!--========================================================== Dettaglio/Modifica/Creazione fascicolo DIALOG end ============================================================-->
<!--========================================================== Dettaglio/Modifica/Creazione DSR DIALOG START ============================================================-->
<p:dialog  widgetVar="dett_DSR_FEPA" modal="true" resizable="false"  responsive="true"
	closable="true" id="idDett_DSR_FEPA"
	onShow="dlgOnShowFixed(this.jqId);PF('dlgManageDocument_RM').initPosition();onShowForClosableDlg('dett_DSR_FEPA'); selectFirstTabByTabsWidgetName('wdgTabs_PDSR');hidePreviewDetailFepaDsr();" 
	styleClass="generic_padding0 generic_margin0 ddocumento-dlg" onHide="PF('dett_DSR_FEPA').toggleMaximize();" draggable="false" dynamic="true" >
	<p:ajax event="close" update="@form:docInEntrataProtocollaDsrScrlPnl, eastSectionForm:idDettaglioDocumento_DD" async="true" listener="#{DettaglioDocumentoFepaBean.closePopupDSRPredispostaNoEdit()}" />
	<p:outputPanel id="docInEntrataProtocollaDsrScrlPnl">
		<p:panel  rendered="#{DettaglioDocumentoFepaBean.popupDocumentDSRFepaVisible}" 
			styleClass="generic_padding0 generic_margin0 generic_height100 generic_width100 ddocumento-dlg-panel">
			<div class="ui-g generic_padding0 generic_margin0 generic_height100">
			
				<div id="docFepaDsrMetadata" class="ui-g-8 generic_margin0 generic_centra generic_maxHeight900px generic_overflow generic_minHeight780px" >
		<!-- ==============MANAGER DOCUMENTO START ================================================================ -->
					<ui:include  src="../fepa/pnlPredisponiDichiarazioneFepa.xhtml"  />
		<!-- ==============MANAGER DOCUMENTO END ==================================================================		 -->
				</div>
				<div id="docFepaDsrPreview" class="ui-g-4 generic_margin0 generic_centra " >
		<!-- ==============VISUALIZZATORE DOCUMENTO START ================================================================ -->
					<div class="labelPreview ellipsis">
						<h:outputText id="tooltipNomeFileLabel" value="#{DettaglioDocumentoFepaBean.nomeFile}" styleClass="generic_textBold"/>
					</div>
					<dd:dettaglioDocumentoTabPreview documentCmp="#{DettaglioDocumentoFepaBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
		<!-- ==============VISUALIZZATORE DOCUMENTO END ================================================================ -->
				</div>
			</div>
		</p:panel>
	</p:outputPanel>
</p:dialog>
<!--========================================================== Dettaglio/Modifica/Creazione DSR DIALOG end ============================================================-->
<!--========================================================== Visualizza Preview Dialog ==========================================================-->
	<p:dialog  widgetVar="dlgVisualizzaDocumentiFepa"  header="Visualizza documenti" draggable="false" onShow="dlgOnShow(this.jqId);"
		  resizable="false" closable="true" modal="true" onHide="PF('dlgVisualizzaDocumentiFepa').toggleMaximize();onShowForClosableDlg('dlgVisualizzaDocumentiFepa')" >
		
		<p:outputPanel id="visualizzaDocFepa_opnl" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{DettaglioDocumentoFepaBean.viewDettaglioDoc}" dettagliodto="#{DettaglioDocumentoFepaBean.documentCmp.detail}" />
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocumentiFepa').hide();" styleClass="uniqueCloseButton"></p:commandButton>
		</p:outputPanel>
		
	</p:dialog>
	

	
	
</ui:composition>