<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">

  
	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgTemplateDocUscitaConfrontoVisivoWV')" widgetVar="dlgTemplateDocUscitaConfrontoVisivoWV" header="Compara documenti" 
		draggable="false" resizable="false" closable="true" modal="true" fitViewport="true" id="dlgTemplateDocUscitaConfrontoVisivoID" styleClass="generic_heigth100important">

		<p:panel styleClass="generic_noborder generic_no_background generic_heigth100important generic_width1200px">
			<p:outputPanel id="idPnlTemplateDocUscitaConfrontoVisivo" styleClass="ui-g generic_heigth100important generic_width1200px" >
				 
				<p:outputPanel id="pnlTemplateDocUscitaAnteprimaConfrontato" styleClass="ui-g-6"  >
				<p:outputLabel value="Versione : #{DocumentManagerBean.templateDocUscitaComponent.templateConfrontato.version}"/>
					<p:outputPanel styleClass="generic_height100" rendered="#{DocumentManagerBean.templateDocUscitaComponent.visualizzaAnteprima}">
						<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/HighlightSignFieldServlet?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true,posizioneSx:true}"/>
				   		</p:outputPanel>
				
						<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true,posizioneSx:true}"/>
				   		</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel> 
				<p:outputPanel id="pnlTemplateDocUscitaAnteprimaConfrontante" styleClass="ui-g-6"  >
				<p:outputLabel value="Versione : #{DocumentManagerBean.templateDocUscitaComponent.templateConfrontante.version}"/>
					<p:outputPanel styleClass="generic_height100" rendered="#{DocumentManagerBean.templateDocUscitaComponent.visualizzaAnteprima}">
						<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/HighlightSignFieldServlet?parameters={idAoo:#{SessionBean.utente.idAoo},conCampoFirma:false,converti:false,inEntrata:false,formatoOriginale:false,principale:true,posizioneSx:false}"/>
				   		</p:outputPanel>
				
						<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{SessionBean.utente.idAoo},conCampoFirma:false,converti:false,inEntrata:false,formatoOriginale:false,principale:true,posizioneSx:false}"/>
				   		</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel> 
			</p:outputPanel>
			 
		</p:panel>
		<p:outputPanel styleClass="ui-g-12 generic_textAlignRight" >
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" update="@form:dlgTemplateDocUscitaConfrontoVisivoID,@form:idPnlTemplateDocUscita" oncomplete="PF('dlgTemplateDocUscitaConfrontoVisivoWV').hide();" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.resetConfronto}" styleClass="uniqueCloseButton"/>
		</p:outputPanel>
	</p:dialog>

</ui:composition>
