<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">

	 
	<p:dialog header="Confronto Template" widgetVar="dlgTemplateDocUscitaConfrontoWV" modal="true" showEffect="fade" 
		hideEffect="fade" resizable="false" closable="true"	id="dlgTemplateDocUscitaConfrontoID" onShow="dlgOnShowFixed(this.jqId);PF('dlgTemplateDocUscitaConfrontoWV').initPosition();onShowForClosableDlg('dlgTemplateDocUscitaConfrontoWV')" 
		dynamic="true" styleClass="generic_padding0 generic_margin0 ddocumento-dlg" position="center" appendTo="@form"
		responsive="true" draggable="false">

		<p:outputPanel id="idPnlTemplateDocUscitaConfronto" styleClass="ui-g" rendered="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}">
			<p:outputPanel id="idPnlTemplateDocUscitaMetadatiConfronto" styleClass="ui-g-6 ">
				<p:outputPanel styleClass="ui-g-12">
					<p:outputLabel styleClass="generic_textBold" value="Template" />
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-12">
					<p:selectOneMenu value="#{DocumentManagerBean.templateDocUscitaComponent.idTemplateSelected}" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" styleClass="diminuisciOpacity">
						<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTemplate}" update="@form:idPnlTemplateDocUscita" process="@this" />
						<f:selectItem itemValue="#{null}" itemLabel="" />
						<f:selectItems var="template" itemValue="#{template.idTemplate}" itemLabel="#{template.descrizione}" value="#{DocumentManagerBean.templateDocUscitaComponent.templateList}" />
					</p:selectOneMenu>
				</p:outputPanel>

				<p:outputPanel styleClass="ui-g-12">
					<p:outputLabel styleClass="generic_textBold" value="Nome documento" />
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-12">
					<p:inputText disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" styleClass="textfield_input diminuisciOpacity" value="#{DocumentManagerBean.templateDocUscitaComponent.nomeDocumento}" />
				</p:outputPanel>

				<p:repeat var="metadato" value="#{DocumentManagerBean.templateDocUscitaComponent.metadatiViewConfrontante}">
					<p:outputPanel rendered="#{not empty metadato.testiPredefiniti}">
						<p:outputPanel styleClass="ui-g-12">
							<p:outputLabel styleClass="generic_textBold" value="Tipo Lettera" />
						</p:outputPanel>

						<p:outputPanel styleClass="ui-g-12">
							<p:selectOneMenu disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" converter="omnifaces.SelectItemsIndexConverter" value="#{metadato.testoSelected}">
								<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTestoPredefinito(metadato)}" update="idPnlTemplateDocUscitaMetadatoValoreConfronto" />
								<f:selectItem itemValue="#{null}" itemLabel="" />
								<f:selectItems value="#{metadato.testiPredefiniti}" var="testo" itemValue="#{testo}" itemLabel="#{testo.descrizione}" />
							</p:selectOneMenu>
						</p:outputPanel>
					</p:outputPanel>

					<p:outputPanel styleClass="ui-g-12">
						<p:outputLabel styleClass="generic_textBold" value="#{metadato.label.concat(' (massimo ').concat(metadato.maxLength).concat(' caratteri)')}" />
					</p:outputPanel>

					<p:outputPanel id="idPnlTemplateDocUscitaMetadatoValoreConfronto" styleClass="ui-g-12">
						<p:inputText escape="false" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" styleClass="textfield_input diminuisciOpacity #{metadato.sonoDiversi ? 'red_input_borderImportant' : ''}" rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTBOX}" maxlength="#{metadato.maxLength}" value="#{metadato.value}"  />
						<p:textEditor escape="false" height="120" toolbarVisible="false" readonly="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTAREA}" styleClass="textfield_input diminuisciOpacity #{metadato.sonoDiversi ? 'red_input_borderImportant' : ''}" value="#{metadato.value}"/>
					</p:outputPanel>
				</p:repeat>
			</p:outputPanel>

			<p:outputPanel styleClass="ui-g-6">
				<p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:outputLabel styleClass="generic_textBold" value="Template" />
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:selectOneMenu value="#{DocumentManagerBean.templateDocUscitaComponent.idTemplateSelected}" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" styleClass="diminuisciOpacity">
							<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTemplate}" update="@form:idPnlTemplateDocUscita" process="@this" />
							<f:selectItem itemValue="#{null}" itemLabel="" />
							<f:selectItems var="template" itemValue="#{template.idTemplate}" itemLabel="#{template.descrizione}" value="#{DocumentManagerBean.templateDocUscitaComponent.templateList}" />
						</p:selectOneMenu>
					</p:outputPanel>

					<p:outputPanel styleClass="ui-g-12">
						<p:outputLabel styleClass="generic_textBold" value="Nome documento" />
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:inputText styleClass="textfield_input diminuisciOpacity" value="#{DocumentManagerBean.templateDocUscitaComponent.nomeDocumentoConfrontato}" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" />
					</p:outputPanel>

					<p:repeat var="metadato" value="#{DocumentManagerBean.templateDocUscitaComponent.metadatiViewConfrontato}">
						<p:outputPanel rendered="#{not empty metadato.testiPredefiniti}">
							<p:outputPanel styleClass="ui-g-12">
								<p:outputLabel styleClass="generic_textBold" value="Tipo Lettera" />
							</p:outputPanel>

							<p:outputPanel styleClass="ui-g-12">
								<p:selectOneMenu converter="omnifaces.SelectItemsIndexConverter" value="#{metadato.testoSelected}" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}">
									<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTestoPredefinito(metadato)}" update="idPnlTemplateDocUscitaMetadatoValore" />
									<f:selectItem itemValue="#{null}" itemLabel="" />
									<f:selectItems value="#{metadato.testiPredefiniti}" var="testo" itemValue="#{testo}" itemLabel="#{testo.descrizione}" />
								</p:selectOneMenu>
							</p:outputPanel>
						</p:outputPanel>

						<p:outputPanel styleClass="ui-g-12">
							<p:outputLabel styleClass="generic_textBold" value="#{metadato.label.concat(' (massimo ').concat(metadato.maxLength).concat(' caratteri)')}" />
						</p:outputPanel>

						<p:outputPanel id="idPnlTemplateDocUscitaMetadatoValoreConfrontato" styleClass="ui-g-12">
							<p:inputText styleClass="textfield_input diminuisciOpacity #{metadato.sonoDiversi ? 'red_input_borderImportant' : ''}" rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTBOX}" maxlength="#{metadato.maxLength}" value="#{metadato.value}" disabled="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}"  />
							<p:textEditor escape="false" height="120" toolbarVisible="false" readOnly="#{DocumentManagerBean.templateDocUscitaComponent.modalitaConfronto}" rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTAREA}" styleClass="textfield_input diminuisciOpacity #{metadato.sonoDiversi ? 'red_input_borderImportant' : ''}" value="#{metadato.value}" rows="6" />
						</p:outputPanel>
					</p:repeat>
				</p:outputPanel>
			</p:outputPanel>
			
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g-12 generic_textAlignRight dmd-marginBottom"> 
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" update="@form:dlgTemplateDocUscitaConfrontoID,@form:idPnlTemplateDocUscita" oncomplete="PF('dlgTemplateDocUscitaConfrontoWV').hide();" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.resetConfronto}" styleClass="uniqueCloseButton" />
		</p:outputPanel>
		
	</p:dialog>

</ui:composition>
