<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu"/>

	<p:dialog id="idDlgEsitoRegistra_DER" header="Esito" widgetVar="wdgEsitoRegistra_DER" modal="true" width="950" showHeader="true" responsive="true" fitViewport="true" 
		showEffect="fade" hideEffect="fade" resizable="false" closable="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgEsitoRegistra_DER')" appendTo="@form" position="center">
		<f:facet name="header">
			<span class="fa fa-info-circle"/>
			<span>Esito</span>
 		</f:facet>	
		<p:outputPanel styleClass="ui-g dlg-esito">
			<div class="ui-g-12">
				<p:outputLabel value="Inserimento documento effettuato con successo." />
			</div>
			<div class="ui-g-12">			
				<div class="ui-g-3">
					<p:outputLabel for="protocollo" value="Protocollo: " rendered="#{DocumentManagerBean.doc.numeroProtocollo ne null and DocumentManagerBean.doc.numeroProtocollo gt 0}" />
				</div>
				<div class="ui-g-9"> 
					<p:outputLabel id="protocollo" value="#{(DocumentManagerBean.doc.numeroProtocollo eq DocumentManagerBean.doc.numeroProtocolloEmergenza and DocumentManagerBean.doc.annoProtocollo eq DocumentManagerBean.doc.annoProtocolloEmergenza) ? 'RE' : ''} #{DocumentManagerBean.doc.numeroProtocollo} / #{DocumentManagerBean.doc.annoProtocollo}" 
						rendered="#{DocumentManagerBean.doc.numeroProtocollo ne null and DocumentManagerBean.doc.numeroProtocollo gt 0}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">
					<p:outputLabel for="identificativo" value="Identificativo:"/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="identificativo" value="#{DocumentManagerBean.doc.numeroDocumento}  del #{DocumentManagerBean.doc.annoDocumento}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">					
					<p:outputLabel for="insFascicolo" value="Inserito nel fascicolo: "/>
				</div>
				<div class="ui-g-9">
					<p:outputLabel id="insFascicolo" value="#{DocumentManagerBean.doc.idFascicoloProcedimentale} - #{DocumentManagerBean.doc.descrizioneFascicoloProcedimentale}" styleClass="generic_textBold"/>
				</div>
			</div>
			<div class="ui-g-12">
				<p:outputPanel styleClass="ui-g-3" rendered="#{not empty DocumentManagerBean.descrAssegnatarioPerCompetenza}" >
					<p:outputLabel for="assPerComp" value="Assegnatario per competenza: "/>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-9" rendered="#{not empty DocumentManagerBean.descrAssegnatarioPerCompetenza}" >
					<p:outputLabel id="assPerComp" value="#{DocumentManagerBean.descrAssegnatarioPerCompetenza}" styleClass="generic_textBold"/>
				</p:outputPanel>
			</div>
		</p:outputPanel>
		
		<div class="buttonsDiv buttonsLayout">
			<p:commandButton value="Nuovo ingresso" title="Nuovo ingresso" icon="fa fa-sign-in" action="#{SessionBean.gotoCreazioneDocIngresso(true)}" styleClass="btnIngresso cmdbtn-esito-registra" 
				rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCINGRESSO)}" onclick="PF('wdgEsitoRegistra_DER').hide();" />
			<p:commandButton  value="Nuovo uscita" title="Nuovo Uscita" icon="fa fa-sign-out" action="#{SessionBean.gotoCreazioneDocUscita(true)}"  styleClass="btnUscita generic_marginLeft cmdbtn-esito-registra" 
				rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.DOCUSCITA)}" onclick="PF('wdgEsitoRegistra_DER').hide();" />
			<p:commandButton value="Ripeti dati"  title="Ripeti Dati" icon="fa fa-repeat" action="#{DocumentManagerBean.ripetiDati}" 
				styleClass="generic_marginLeft cmdbtn-esito-registra" onclick="PF('wdgEsitoRegistra_DER').hide();" />
<!-- 			<p:commandButton value="Home" action=" # {SessionBean.gotoCalendario}" icon="fa fa-bookmark"  rendered=" # {DocumentManagerBean.documentManagerDTO.inModifica == false}"  -->
<!-- 				styleClass="generic_marginLeft cmdbtn-esito-registra"/> -->
			<p:commandButton id="btnChiudiDocInserito" value="Chiudi" title="Chiudi" onclick="PF('wdgEsitoRegistra_DER').hide();PF('dlgManageDocument_RM').hide();" ajax="true" 
				icon="fa fa-close" styleClass="generic_marginLeft cmdbtn-esito-registra uniqueCloseButton" />
			
			<p:commandButton id="btnStampaEtichetta" rendered="#{DocumentManagerBean.stampaEtichetteButton}" value="Stampa etichetta" title="Stampa etichette" ajax="true" 
				icon="fa fa-print" styleClass="generic_marginLeft cmdbtn-esito-registra uniqueCloseButton" action="#{DocumentManagerBean.getDownloadEtichette(DocumentManagerBean.doc.documentTitle)}" />
		</div>
		
	</p:dialog>
</ui:composition>