<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog id="idDlgEsitoCreaDocDaResponse" header="Esito" widgetVar="dlgEsitoCreaDocDaResponse" modal="true" showHeader="true" responsive="true" 
		fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" width="850"
		onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgEsitoCreaDocDaResponse')">
					
		<f:facet name="header">
			<span class="fa fa-info-circle"/>
			<span>Esito</span>
			</f:facet>
			
		<p:dataList value="#{EsitoCreaDocDaResponseBean.messaggiEsito}" var="msg" type="definition" itemStyleClass="dlg-esito-row ui-g" 
			styleClass="dlg-esito dlg-esito-msgs-width" emptyMessage="">
			<p:outputPanel styleClass="ui-g-3" rendered="#{not empty msg.value}">
				<p:outputLabel for="identificativo" value="#{msg.key}"/>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-12" rendered="#{empty msg.value}">
				<p:outputLabel for="identificativo" value="#{msg.key}"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-9">
				<p:outputLabel id="identificativo" value="#{msg.value}" styleClass="generic_textBold"/>
			</p:outputPanel>
	    </p:dataList>
	    
	    <p:outputPanel class="buttonsDiv buttonsLayout">
	    	<p:commandButton value="Chiudi" title="Chiudi" styleClass="cmdbtn-esito-registra uniqueCloseButton" icon="fa fa-close" 
	    		onclick="PF('dlgEsitoCreaDocDaResponse').hide();" actionListener="#{ListaDocumentiBean.refresh}" 
	    		update="@form:@parent:centralSectionForm" ajax="true" process="@this"/>
	    </p:outputPanel>
	    
	</p:dialog>
	    	
</ui:composition>