<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">
	
	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgTemplatePredisponi')" widgetVar="dlgTemplatePredisponi" header="Modifica" 
		draggable="false" resizable="false" closable="true" modal="true" fitViewport="true">

		<p:outputPanel id="pnlTemplatePredisponi">
			<red:pnlPredisponiVistoOssIntegrazioniComponent predisponiBean="#{PredisponiDaRegistroAusiliarioBean}" dlgToHide="dlgTemplatePredisponi"/>
		</p:outputPanel>
			
	</p:dialog>
	
</ui:composition>