<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://java.sun.com/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.TipoTemplateMetadatoEnum" var="TipoTemplateMetadatoEnum" allSuffix="ALL_ENUM_VALUES"/>

	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgTemplateDocUscita')" widgetVar="dlgTemplateDocUscita" header="Genera documento in uscita da template" 
		draggable="false" resizable="false" closable="true" modal="true" fitViewport="true">

		<p:panel styleClass="generic_noborder generic_no_background generic_height700px generic_width1200px">
			<p:outputPanel id="idPnlTemplateDocUscita" styleClass="ui-g" >
				<p:outputPanel id="idPnlTemplateDocUscitaMetadati" styleClass="ui-g-5 pnlMetadatiDlgTemplateDocUscita">
					<p:outputPanel styleClass="ui-g-12 generic_paddingRight40" >
						<p:dataTable rendered="#{DocumentManagerBean.documentManagerDTO.inModificaUscita}" value="#{DocumentManagerBean.templateDocUscitaComponent.templateVersion}" var="docVersion" emptyMessage="Nessuna versione per il documento" paginatorAlwaysVisible="false" 
							rows="2" paginator="true" paginatorPosition="bottom" id="idVersioniDocumentoID" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" selectionMode="single" selection="#{DocumentManagerBean.templateDocUscitaComponent.templateVersionSelected}" rowKey="#{docVersion.version}">
							 
							<p:ajax event="rowSelect" listener="#{DocumentManagerBean.templateDocUscitaComponent.rowSelectorVersione}" process="@this" ignoreAutoUpdate="true" update="@this,idDettagliEstesiForm:idVersioniDocumentoID,@form:pnlTemplateDocUscitaAnteprima,idDettagliEstesiForm:btnPnlID,@form:idPnlTemplateDocUscita" /> 
							
							<p:column width="25%" headerText="Nome documento" >
								<h:outputText styleClass="generic_displayBlock ellipsis" value="#{docVersion.nomeTemplate}" title="#{docVersion.nomeTemplate}" />
							</p:column>
							<p:column width="20%" headerText="Nome template" >
								<h:outputText styleClass="generic_displayBlock ellipsis" value="#{docVersion.descrizioneTemplate}" title="#{docVersion.descrizioneTemplate}" />
							</p:column>
							<p:column width="20%" headerText="Versione" filterBy="#{docVersion.version}" filterMatchMode="contains">
								<h:outputText styleClass="generic_displayBlock" value="#{docVersion.version}" title="#{docVersion.version}" />
							</p:column>
							<p:column width="35%" headerText="Azioni">
								<p:commandButton icon="fa fa-refresh" title="Modifica" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.caricaMetadatiVersioneCorrente}" process="@this" update="@form:idPnlTemplateDocUscita,idDettagliEstesiForm:btnPnlID,idDettagliEstesiForm:idVersioniDocumentoID" disabled="#{!docVersion.selected}" />
								<p:commandButton icon="fa fa-search" title="Aggiorna Anteprima" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.aggiornaAnteprimaVersione}" update="@form:pnlTemplateDocUscitaAnteprima,idDettagliEstesiForm:idVersioniDocumentoID" disabled="#{!docVersion.selected}"/>
								<p:commandButton icon="fa fa-exchange" title="Compara" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.popolaListaDaConfrontare}" oncomplete="PF('dlgComparaTemplateWV').show();" update="idDettagliEstesiForm:dialogComparazioneID" process="@this" disabled="#{!docVersion.selected}"/>
								<p:commandButton id="infoBtnUtenteCreatore" icon="fa fa-info" title="Utente creatore" type="button" disabled="#{docVersion.utenteCreatore eq null}">
									<p:overlayPanel id="infoPnlUtenteCreatore" appendToBody="true" for="infoBtnUtenteCreatore" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom">
										<p:outputLabel value="Utente Creatore #{docVersion.utenteCreatore}" /> 
										<iframe title="Frame template doc uscita" class="cover" src="about:blank"></iframe>
									</p:overlayPanel>
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:outputLabel styleClass="generic_textBold" value="Template"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:selectOneMenu value="#{DocumentManagerBean.templateDocUscitaComponent.idTemplateSelected}" >
							<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTemplate}" update="@form:idPnlTemplateDocUscita,idDettagliEstesiForm:btnPnlID" process="@this"/>
							<f:selectItem itemValue="#{null}" itemLabel=""/>
							<f:selectItems var="template" itemValue="#{template.idTemplate}" itemLabel="#{template.descrizione}" value="#{DocumentManagerBean.templateDocUscitaComponent.templateList}"/>
						</p:selectOneMenu>
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-12">
						<p:outputLabel styleClass="generic_textBold" value="Nome documento"/>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12">
						<p:inputText styleClass="textfield_input" value="#{DocumentManagerBean.templateDocUscitaComponent.nomeDocumento}"/>
					</p:outputPanel>
					
					
					<p:repeat var="metadato" value="#{DocumentManagerBean.templateDocUscitaComponent.metadatiView}" >
						<p:outputPanel rendered="#{not empty metadato.testiPredefiniti}">
							<p:outputPanel styleClass="ui-g-12">
								<p:outputLabel styleClass="generic_textBold" value="Tipo Lettera"/>
							</p:outputPanel>
							
							<p:outputPanel styleClass="ui-g-12">
								<p:selectOneMenu converter="omnifaces.SelectItemsIndexConverter" value="#{metadato.testoSelected}">
									
									<p:ajax listener="#{DocumentManagerBean.templateDocUscitaComponent.onSelectTestoPredefinito(metadato)}" 
										update="idPnlTemplateDocUscitaMetadatoValore"/>
									
									<f:selectItem itemValue="#{null}" itemLabel=""/>
									<f:selectItems value="#{metadato.testiPredefiniti}" var="testo" itemValue="#{testo}" itemLabel="#{testo.descrizione}"/>
								</p:selectOneMenu>
							</p:outputPanel>
						</p:outputPanel>
						
						<p:outputPanel styleClass="ui-g-12" >
							<p:outputLabel styleClass="generic_textBold" value="#{metadato.label.concat(' (massimo ').concat(metadato.maxLength).concat(' caratteri)')}"/>
						    <span class="fa fa-info-circle"  style="#{metadato.info ne null? '':'display:none'}" title="#{(metadato.info ne null)? metadato.info:''}"/>
	             		</p:outputPanel>
						
						<p:outputPanel id="idPnlTemplateDocUscitaMetadatoValore" styleClass="ui-g-12" >
							<p:inputText styleClass="textfield_input" rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTBOX}" 
								maxlength="#{metadato.maxLength}" value="#{metadato.value}" 
								valueChangeListener="#{DocumentManagerBean.templateDocUscitaComponent.onChangeMetadato()}">
							</p:inputText>
							
							<p:textEditor id="textEditorID"  rendered="#{metadato.tipoMetadato eq TipoTemplateMetadatoEnum.TEXTAREA}" styleClass="textfield_input generic_width435pxImp" value="#{metadato.value}" valueChangeListener="#{DocumentManagerBean.templateDocUscitaComponent.onChangeMetadato()}"  height="200" >
								<f:facet name="toolbar">
									<span class="ql-formats">
										<button class="ql-bold"/>
										<button class="ql-italic"/>
										<button class="ql-underline"  />
										<button class="#{metadato.caseSensitive ? 'ql-list' : ''}" value="bullet"/>
										<button class="#{metadato.caseSensitive ? 'ql-list' : ''}" value="ordered" />
										<p:commandButton actionListener="#{DocumentManagerBean.upperMetadato(metadato)}" icon="fa fa-text-height" title="Maiuscolo" styleClass="ui-button-icon-only ui-corner-all"  rendered="#{metadato.caseSensitive}" update="textEditorID"/>
										<p:commandButton actionListener="#{DocumentManagerBean.lowerMetadato(metadato)}" icon="fa fa-sort-alpha-asc" title="Minuscolo" styleClass="ui-button-icon-only ui-corner-all" rendered="#{metadato.caseSensitive}" update="textEditorID"/>
									</span> 
								</f:facet>
							</p:textEditor>
						</p:outputPanel>
					</p:repeat>
				</p:outputPanel>
				
				<p:outputPanel id="pnlTemplateDocUscitaAnteprima" styleClass="ui-g-7"  >
					<p:outputPanel styleClass="generic_height100" rendered="#{DocumentManagerBean.templateDocUscitaComponent.visualizzaAnteprima}">
						<p:outputPanel rendered="#{SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/HighlightSignFieldServlet?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true}"/>
				   		</p:outputPanel>
				
						<p:outputPanel rendered="#{!SessionBean.preferenze.nativeReaderPDFEnable}" styleClass="pdfViewer generic_padding0 generic_margin0">
							<iframe title="Frame template doc uscita" class="pdfViewer generic_height100 generic_padding0 generic_margin0 generic_noborder" 
								src="#{request.contextPath}/pdfjs/web/viewer.html?parameters={idAoo:#{SessionBean.utente.idAoo},principale:true}"/>
				   		</p:outputPanel>
					</p:outputPanel>
				</p:outputPanel> 
			</p:outputPanel>
			
			
			
		</p:panel> 
			<p:outputPanel styleClass="ui-g-12 generic_textAlignRight" id="btnPnlID" >
				<p:commandButton value="Aggiorna anteprima" title="Aggiorna anteprima" icon="fa fa-file-pdf-o" action="#{DocumentManagerBean.templateDocUscitaComponent.aggiornaAnteprima}" update="@form:pnlTemplateDocUscitaAnteprima" disabled="#{DocumentManagerBean.templateDocUscitaComponent.idTemplateSelected eq null or DocumentManagerBean.templateDocUscitaComponent.idTemplateSelected eq ''}"/>
				<p:commandButton value="Registra" title="Registra" icon="fa fa-pencil" action="#{DocumentManagerBean.templateDocUscitaComponent.registra(false)}" process="@this, @form:idPnlTemplateDocUscita" />
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgTemplateDocUscita').hide();" styleClass="uniqueCloseButton"/>
			</p:outputPanel>
	</p:dialog>
	
	
	<!-- DIALOG CONFERMA REGISTRAZIONE CON MODIFICHE NON VISUALIZZATE IN ANTEPRIMA -->
	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgConfirmTemplateDocUscita')" widgetVar="dlgConfirmTemplateDocUscita" 
		header="Conferma registrazione" draggable="false" resizable="false" closable="true" modal="true" fitViewport="true">
		
		<red:popupConfirmComponent interfaceInstance="#{DocumentManagerBean.templateDocUscitaComponent}" widgetVarDialog="dlgConfirmTemplateDocUscita"
			message="Sono state modificate delle informazioni in maschera non visualizzate in anteprima. Si desidera proseguire o annullare l'operazione?"
			confirmButtonLabel="Prosegui" updateOnConfirm="@form:idTabs_DMD:idDocPrincipalePanel_DMD">
		</red:popupConfirmComponent>
			
	</p:dialog>

	<p:dialog id="dialogComparazioneID" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgComparaTemplateWV','closeBtnComparaWV')" widgetVar="dlgComparaTemplateWV" header="Compara template" draggable="false" resizable="false" closable="true" modal="true" fitViewport="true" width="600px">
		<p:outputPanel id="opComparazioneID" > 
			<p:dataTable filterDelay="#{SessionBean.preferenze.autocompleteDelay}" paginatorPosition="bottom" paginator="true" paginatorAlwaysVisible="false" rows="5" rowsPerPageTemplate="5,10,15" emptyMessage="Nessuna comparazione possibile" 
			 var="templateVersione"  value="#{DocumentManagerBean.templateDocUscitaComponent.templateComparabili}" selection="#{DocumentManagerBean.templateDocUscitaComponent.templateConfrontato}"  
			 rowKey="#{templateVersione.version}" >
				<p:ajax event="rowSelectRadio" listener="#{DocumentManagerBean.templateDocUscitaComponent.rowSelector}" update="idDettagliEstesiForm:pgBtnID" />  
				<p:column  selectionMode="single" style="text-align:center;" width="10%" />
				<p:column width="40%" headerText="Nome documento">
					<p:outputLabel styleClass="generic_displayBlock ellipsis" value="#{templateVersione.nomeTemplate}" title=" #{templateVersione.nomeTemplate} " />
				</p:column>
				<p:column width="30%" headerText="Nome template">
					<p:outputLabel styleClass="generic_displayBlock ellipsis" value="#{templateVersione.descrizioneTemplate}" title=" #{templateVersione.descrizioneTemplate} " />
				</p:column>
				<p:column width="20%" headerText="Versione" filterBy="#{templateVersione.version}" filterMatchMode="contains">
					<p:outputLabel styleClass="generic_displayBlock" value="#{templateVersione.version}" title="#{templateVersione.version}" />
				</p:column>
				  
			</p:dataTable>

			<p:panelGrid id="pgBtnID" layout="grid" columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4" styleClass="ui-panelgrid-blank pnlgrid_noborder buttonsDiv" >
				<p:commandButton value="Compara Metadati" title="Compara Metadati" icon="fa fa-pencil" styleClass="newButton generic_width100" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.confrontaMetadati}" update="idDettagliEstesiForm:dlgTemplateDocUscitaConfrontoID" oncomplete="PF('dlgTemplateDocUscitaConfrontoWV').show();" disabled="#{DocumentManagerBean.templateDocUscitaComponent.disabilitaComparazioneMetadati or DocumentManagerBean.templateDocUscitaComponent.templateConfrontato eq null}" />
				<p:commandButton value="Compara documenti" title="Compara documenti" icon="fa fa-times" styleClass="newButton generic_width100" disabled="#{DocumentManagerBean.templateDocUscitaComponent.templateConfrontato eq null}" actionListener="#{DocumentManagerBean.templateDocUscitaComponent.confrontoAnteprima}" oncomplete="PF('dlgTemplateDocUscitaConfrontoVisivoWV').show();" update="@form:dlgTemplateDocUscitaConfrontoVisivoID"/>
				<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" styleClass="newButton generic_width100" type="button" onclick="PF('dlgComparaTemplateWV').hide();" widgetVar="closeBtnComparaWV" />
			</p:panelGrid>
		</p:outputPanel>
	</p:dialog>

	<ui:include src="dlgConfrontoMetadati.xhtml" />
	<ui:include src="dlgConfrontoVisivo.xhtml" />
	
</ui:composition>