<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:dd="http://java.sun.com/jsf/composite/custom">

	<p:dialog onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgVisualizzaDocContributo')" widgetVar="dlgVisualizzaDocContributo" header="Visualizza documenti" 
		draggable="false" resizable="false" closable="true" modal="true" onHide="PF('dlgVisualizzaDocContributo').toggleMaximize();">
		
		<p:outputPanel id="pnlVisualizzaDocContributo" styleClass="ui-g generic_height100 generic_maxHeight96">
			<dd:dialogVisualizzaDocumentoComponent bean="#{DocumentManagerBean.contributiEsterniTab.viewDettaglioContributo}" 
				dettagliodto="#{DocumentManagerBean.contributiEsterniTab.detailContributo}" soloPrincipale="true"/>
		</p:outputPanel>
		<p:outputPanel styleClass="generic_textAlignRight">
			<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('dlgVisualizzaDocContributo').hide();" 
				styleClass="uniqueCloseButton"/>
		</p:outputPanel>
	</p:dialog>
</ui:composition>