<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" 
	>
	<p:importEnum type="it.ibm.red.business.enums.StatoRdSSiebelEnum" var="StatoSiebel"/>
	
   <p:dataTable var="row" value="#{DocumentManagerBean.rdsList}" styleClass="generic_textAlignCenter" >
    	<p:column headerText="Id RdS">
    		<h:outputText value="#{row.idRdsSiebel}"/>
    	</p:column>

    	<p:column headerText="Data/Ora Apertura RdS">
    		<h:outputText value="#{row.dataAperturaRds}" rendered="#{row.dataAperturaRds ne null}">
    			<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"/>
    		</h:outputText>
    		<h:outputText value="-" rendered="#{row.dataAperturaRds eq null}"/>
    	</p:column>

    	<p:column headerText="Ufficio">
    		<h:outputText title="#{row.nodoAperturaRds}" value="#{DocumentManagerBean.getShortColumn(row.nodoAperturaRds, 30)}"/>
    	</p:column>

    	<p:column headerText="Utente">
    		<h:outputText title="#{row.descrizioneUtenteAperturaRds}" value="#{DocumentManagerBean.getShortColumn(row.descrizioneUtenteAperturaRds, 30)}"/>
    	</p:column>

    	<p:column headerText="Stato RdS">
    		<h:outputText value="#{row.statoRdsSiebel}"/>
    	</p:column>

    	<p:column headerText="Data/Ora Ricezione Info">
    		<h:outputText value="#{row.dataInvioSiebel}" rendered="#{row.dataInvioSiebel ne null}">
 	   			<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"/>
    		</h:outputText>
    		<h:outputText value="-" rendered="#{row.dataInvioSiebel eq null}"/>
    	</p:column>

    	<p:column headerText="Ulteriori info">
    		<p:commandButton update="@namingcontainer:@namingcontainer:idSiebelOverlayPanel_DMDTS" oncomplete="PF('wdgSiebelOverlayPanel_DMDTS').show('#{component.clientId}')" icon="fa fa-search" 
    		 	title="Apri ulteriori informazioni RdS Siebel">
                <f:setPropertyActionListener value="#{row}" target="#{DocumentManagerBean.selectedRds}"/>
            </p:commandButton>
    	</p:column>

   </p:dataTable>
	
	<p:overlayPanel widgetVar="wdgSiebelOverlayPanel_DMDTS" my="bottom" at="right top" dismissable="true" styleClass="generic_maxwidth60" appendToBody="true" >
		<p:outputPanel id="idSiebelOverlayPanel_DMDTS" styleClass="ui-g">
			<!-- Tipologia -->
			<p:outputPanel styleClass="ui-g-2" rendered="#{DocumentManagerBean.selectedRds.descrizioneTipologia ne null}">
				<p:outputLabel value="Tipologia" styleClass="generic_textBold" />
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-10" rendered="#{DocumentManagerBean.selectedRds.descrizioneTipologia ne null}"> 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.descrizioneTipologia}" />
			</p:outputPanel>
			
			<!-- Gruppo -->
			<p:outputPanel styleClass="ui-g-2" rendered="#{DocumentManagerBean.selectedRds.descrizioneGruppo ne null}">
				<p:outputLabel value="Gruppo" styleClass="generic_textBold" />
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-10" rendered="#{DocumentManagerBean.selectedRds.descrizioneGruppo ne null}"> 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.descrizioneGruppo}" />
			</p:outputPanel>
			
			<div class="ui-g-2">
				<p:outputLabel value="Titolo RdS" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10"> 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.titoloRds}" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="File inviati" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10"> 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.elencoFileInviati}"/>
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="File ricevuti" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10"> 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.elencoFileRicevuti}"/>
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Soluzione" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-10" > 
				<p:outputLabel value="#{DocumentManagerBean.selectedRds.soluzione}"/>
			</div>
		</p:outputPanel>
		<iframe title="Frame view siebel" class="cover" src="about:blank"></iframe>
	</p:overlayPanel>	
</ui:composition>