<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:tabView id="idTabsContributi_DMDT" widgetVar="wdgTabsContributi_DMDT" scrollable="true">
		<p:tab title="Contributi Interni">
			<ui:include src="documentManagerDataTabContributiInterni.xhtml"/>
		</p:tab>
		
		<p:tab title="Contributi Esterni" rendered="#{DocumentManagerBean.documentManagerDTO.tabContributiEsterniVisible}">
			<ui:include src="documentManagerDataTabContributiEsterni.xhtml"/>
		</p:tab>
	</p:tabView>
	
</ui:composition>
