<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

<!-- CONTENUTO DEL TAB DETTAGLIO START =================================================================================	 -->
	<p:outputPanel class="ui-g" id="idTabDettaglioContent_DMD" >
	<!-- All'interno di questo outputPanel e' presente tutto il contenuto del tab dettaglio, 
		mi serve per avere un id unico da aggiornare nei vari update dei componenti al suo interno 
		(l'id sul tab non funziona)  -->
		
<!-- START					ITER APPROVATIVO DOC USCITA -->
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0" rendered="#{DocumentManagerBean.documentManagerDTO.iterDocUscitaVisible}">

			<!-- ITER APPROVATIVO	 -->
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idIterApprovativo_DMD" value="Iter approvativo" styleClass="generic_textBold"/>
				<p:outputLabel for="idIterApprovativo_DMD" value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-3 ui-fluid">
				<p:outputPanel class="obbligatorio ui-g">
				<div class="ui-g-10" style="padding:0;">
					<p:selectOneMenu id="idIterApprovativo_DMD" style="border-radius:0;width:101.5%" styleClass="campoObbligatorio" value="#{DocumentManagerBean.detail.idIterApprovativo}" 
						disabled="#{DocumentManagerBean.documentManagerDTO.inModifica}"> 
						<p:ajax update="@this, idTabDettaglioContent_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idIterApprovativoInfoOverlay_DMD" listener="#{DocumentManagerBean.onChangeComboIterApprovativo}" 
							oncomplete="PF('wdgTabs_DMD').select(0)" process="@this, @form:idTabs_DMD"/>
						<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboIterApprovativi}" 
							var="it" itemValue="#{it.idIterApprovativo}" itemLabel="#{it.descrizione}"/>
					</p:selectOneMenu>
			</div>
			<div class="ui-g-2" style="padding-right:0;padding-left:0.95em;padding-top:0;padding-bottom:0;">
					<p:commandButton id="idIterApprovativoInfo_DMD" styleClass="generic_width10" type="button" icon="fa fa-info" title="#{DocumentManagerBean.iterApprovativoInfo}" style="border-radius:0;padding-top:0.1em;"/>
					<p:overlayPanel id="idIterApprovativoInfoOverlay_DMD" for="idIterApprovativoInfo_DMD" hideEffect="fade" dynamic="false"  >
						<p:outputLabel value="#{DocumentManagerBean.iterApprovativoInfo}"/>
						<iframe title="Frame tab dettaglio" class="cover" src="about:blank"></iframe>
					</p:overlayPanel>
				</div>
				</p:outputPanel>
			</p:outputPanel>
			
			<div class="ui-g-1"><!-- VUOTO --></div>
			
			<!-- COMBO COORDINATORI -->
			<p:outputPanel class="ui-g-2">
				<p:outputLabel value="Coordinatore" styleClass="generic_textBold" for="idComboCoordinatori_DMD"
					rendered="#{DocumentManagerBean.documentManagerDTO.comboCoordinatoriVisible}"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-4 ui-fluid">
				<p:selectOneMenu rendered="#{DocumentManagerBean.documentManagerDTO.comboCoordinatoriVisible}" 
					disabled="#{DocumentManagerBean.documentManagerDTO.inModifica}"  styleClass=""
					value="#{DocumentManagerBean.idUtenteCoordinatore}" id="idComboCoordinatori_DMD"> 
					<p:ajax event="change" update="@this" listener="#{DocumentManagerBean.onChangeComboCoordinatori}"/>
					<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboCoordinatori}" 
						var="coo" itemValue="#{coo.idUtenteCoordinatore}" itemLabel="#{coo.nome} #{coo.cognome}"/>
				</p:selectOneMenu>
			</p:outputPanel>
			
			<!-- TIPO ASSEGNAZIONE -->
			<p:outputPanel id="idOutPanelAssegnazione_DMD" styleClass="ui-g-12 generic_padding0 generic_margin0" 
				rendered="#{DocumentManagerBean.documentManagerDTO.comboTipoAssegnazioneVisible}">
				
				<!-- COMBO ASSEGNAZIONE -->
				<p:outputPanel class="ui-g-2">
					<p:outputLabel for="idTipoAssegnazione_DMD" value="Tipologia assegnazione" styleClass="generic_textBold"/>
					<p:outputLabel for="idTipoAssegnazione_DMD" value="*" class="generic_redStar generic_textBold"/>
				</p:outputPanel>
				<p:outputPanel class="ui-g-3 ui-fluid obbligatorio">
					<p:selectOneMenu id="idTipoAssegnazione_DMD" styleClass="campoObbligatorio" value="#{DocumentManagerBean.detail.tipoAssegnazioneEnum}"
						disabled="#{DocumentManagerBean.documentManagerDTO.inModifica}">
						<p:ajax update="@this, idOutPanelAssegnazione_DMD, idTabDettaglioContent_DMD, idTabs_DMD:idAssegnatarioIternMan_DMD_ReadOnly" listener="#{DocumentManagerBean.onChangeComboTipoAssegnazione}"/>
						<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboTipoAssegnazione}" var="t" itemLabel="#{t.descrizione}" itemValue="#{t}"/>
					</p:selectOneMenu>
				</p:outputPanel>
				
				<div class="ui-g-1"><!-- VUOTO --></div>
				
				<!-- ASSEGNAZIONE ORGANIGRAMMA -->
				<p:outputPanel class="ui-g-2">
					<p:outputLabel value="Assegnatario" styleClass="generic_textBold"/>
					<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
				</p:outputPanel>
				<p:outputPanel class="ui-g-4 ui-fluid" rendered="#{DocumentManagerBean.documentManagerDTO.assegnatarioOrganigrammaVisible}" >
					<div class="ui-inputgroup obbligatorio">
						<p:inputText id="idAssegnatarioIternMan_DMD" styleClass="obbligatorio-readonly" readonly="true" value="#{DocumentManagerBean.descrAssegnatarioIterManuale}"/>
	
						<p:commandButton id="idAssegnatarioIternManBtn_DMD" icon="fa fa-sitemap" ajax="true" action="#{DocumentManagerBean.loadTreeAssegnazioneIterManuale}" styleClass=""
							onclick="PF('wdgAssegnatarioIternMan_DMD').show()" update="idAssegnaIterManualeOrganigrammaForm_DMDTD:idAssegnatarioIternManTree_DMD" 
							disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled or (DocumentManagerBean.detail.tipoAssegnazioneEnum eq 'SPEDIZIONE')}"/>
					</div>
					<!-- PANNELLO ORGANIGRAMMA -->
					<p:overlayPanel widgetVar="wdgAssegnatarioIternMan_DMD" id="wdgAssegnatarioIternMan_DMD" 
						for="idAssegnatarioPerCompBtn_DMD" styleClass="dmd-tree-panel" hideEffect="fade" showEffect="fade">
						<h:form id="idAssegnaIterManualeOrganigrammaForm_DMDTD">
							<p:tree value="#{DocumentManagerBean.rootAssegnazioneIterManuale}" var="node" id="idAssegnatarioIternManTree_DMD"
								selectionMode="single" styleClass="dmd-tree" dynamic="true">
								
								<p:ajax event="expand" update="idAssegnatarioIternManTree_DMD" listener="#{DocumentManagerBean.onOpenTreeAssIterManuale}"/>
						        <p:ajax event="select" update="@parent:@parent:@form:idTabs_DMD" 
						        	listener="#{DocumentManagerBean.onSelectTreeAssIterManuale}"/>
						        	
								<p:treeNode >
									<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
									<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}"/>
									
									<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}"/>
								</p:treeNode>
								
							</p:tree>
						</h:form>
						<iframe title="Frame tab dettaglio" class="cover" src="about:blank"></iframe>
					</p:overlayPanel>
				</p:outputPanel>

				<!-- ASSEGNAZIONE COMBO -> RESPONSABILE COPIA CONFORME-->
				<p:outputPanel class="ui-g-4 ui-fluid" rendered="#{DocumentManagerBean.documentManagerDTO.comboResponsabileCopiaConformeVisible}" >
					<p:selectOneMenu styleClass="" disabled="#{DocumentManagerBean.documentManagerDTO.inModifica}"
						value="#{DocumentManagerBean.detail.responsabileCopiaConforme.id}">
						<p:ajax update="@this" listener="#{DocumentManagerBean.onChangeResponsabileCopiaConforme}"/>
						<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboResponsabileCopiaConforme}" 
							var="r" itemLabel="#{r.descrizioneNodo} - #{r.nome} #{r.cognome}" itemValue="#{r.idNodo} #{r.idUtente}"/>
					</p:selectOneMenu>
				</p:outputPanel>
				
			</p:outputPanel>
			
			<div class="ui-g-12"><!-- VUOTO --></div>
			
			<!-- MOMENTO PROTOCOLLAZIONE -->
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idMomentoProtocollazione_DMD" value="Protocollazione" styleClass="generic_textBold"/>
				<p:outputLabel for="idMomentoProtocollazione_DMD" value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-3 ui-fluid obbligatorio">
				<p:selectOneMenu id="idMomentoProtocollazione_DMD" styleClass="campoObbligatorio"
					disabled="#{DocumentManagerBean.documentManagerDTO.comboMomentoProtocollazioneDisabled or DocumentManagerBean.documentManagerDTO.inModifica}" 
					value="#{DocumentManagerBean.detail.momentoProtocollazioneEnum}" >
					<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboMomentoProtocollazione}" var="mp" itemValue="#{mp}" itemLabel="#{mp.descrizione}"/>
					<p:ajax event="change" listener="#{DocumentManagerBean.onChangeMomentoProtocollazione}" update="@this"/>
				</p:selectOneMenu>
			</p:outputPanel>
			
			<div class="ui-g-1"><!-- VUOTO --></div>
			
			<!-- FLAG FIRMA DIGITALE E CORTE DEI CONTI-->
			<p:outputPanel class="ui-g-6" >
				<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.checkFirmaDigitaleRGS}" itemLabel="Firma digitale RGS" 
					rendered="#{DocumentManagerBean.documentManagerDTO.firmaDigitaleRGSVisible}"/>
			
				<!-- FLAG CORTE DEI CONTI -->
				<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.flagCorteConti}" itemLabel="Corte dei conti" 
					rendered="#{DocumentManagerBean.documentManagerDTO.flagCorteContiVisible}"/>
			</p:outputPanel>

		</p:outputPanel>
<!-- END					ITER APPROVATIVO DOC USCITA -->			

		<!-- DOCUMENTO PRINCIPALE START-->
		<p:outputPanel styleClass="ui-g-2" rendered="#{DocumentManagerBean.documentManagerDTO.docPrincipalePanelVisible}">
			<p:outputLabel value="Documento principale" styleClass="generic_textBold"/>
			<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
		</p:outputPanel>
		<p:outputPanel styleClass="ui-g-3 ui-fluid" rendered="#{DocumentManagerBean.documentManagerDTO.docPrincipalePanelVisible}" id="idDocPrincipalePanel_DMD">
			<p:outputPanel styleClass="ui-inputgroup obbligatorio">
				<p:inputText readonly="true" update="idDocPrincipalePanel_DMD" value="#{DocumentManagerBean.detail.nomeFile}" disabled="#{not DocumentManagerBean.detail.modificabile}" styleClass="textfield_input obbligatorio-readonly"/>
				<p:fileUpload id="idDocumentoPrincipale_DMD"
					fileUploadListener="#{DocumentManagerBean.handleMainFileUpload}"
					auto="true" label="Sfoglia"
					mode="advanced" skinSimple="true"
					dragDropSupport="false"
					styleClass="dmd-fileUploadNew"
					disabled="#{not DocumentManagerBean.detail.contentModificabile or not empty DocumentManagerBean.detail.metadatiRegistroAusiliario}"
					rendered="#{DocumentManagerBean.detail.nomeFile eq null}"
					update="@form:idTabs_DMD:sizeDocPrincipaleId,idDocPrincipalePanel_DMD, @form:idTabs_DMD, @form:idDimensioneContent,#{DocumentManagerBean.documentManagerDTO.inModifica ? 'idDettagliEstesiForm:docPreview' : ''}"
					onstart="PF('statusDialog').show();"
					oncomplete="PF('statusDialog').hide();updateNomeFascicolo();"
					process="@this, @form:idTabs_DMD, #{DocumentManagerBean.documentManagerDTO.inModifica ? 'idDettagliEstesiForm:docPreview' : ''}"
					/>
				<p:commandButton id="idTemplateListBtn_DMD" icon="fa fa-download" title="Genera documento"
					process="@form:idDocumentManagerContent_DMD"
					rendered="#{DocumentManagerBean.documentManagerDTO.templateFileListVisible and DocumentManagerBean.detail.nomeFile eq null and empty DocumentManagerBean.detail.metadatiRegistroAusiliario}" disabled="#{not DocumentManagerBean.detail.contentModificabile}"/>
				<p:commandButton id="idTemplateDocUscitaBtn_DMD" action="#{DocumentManagerBean.initTemplateDocUscitaCmp}"
					icon="#{not DocumentManagerBean.documentManagerDTO.generatedByTemplateDocUscita ? 'fa fa-files-o' : 'fa fa-file-text'}"
					title="Template" process="@form:idDocumentManagerContent_DMD" oncomplete="PF('dlgTemplateDocUscita').show()" update="@form:idPnlTemplateDocUscita, @form:btnPnlID"
					rendered="#{DocumentManagerBean.documentManagerDTO.templateDocUscitaVisible and empty DocumentManagerBean.detail.metadatiRegistroAusiliario}" disabled="#{not DocumentManagerBean.detail.contentModificabile}"/>
				
				<p:commandButton id="idTemplatePredisponi_DMD" action="#{DocumentManagerBean.initPnlTemplatePredisponi}" icon="fa fa-file-text" title="Modifica template" 
					process="@form:idDocumentManagerContent_DMD" oncomplete="PF('dlgTemplatePredisponi').show()" update="@form:pnlTemplatePredisponi"
					rendered="#{not empty DocumentManagerBean.detail.metadatiRegistroAusiliario}"
					disabled="#{not DocumentManagerBean.chiamanteOneKindOfPredisponiVistoOssIntegrazioniRest and not DocumentManagerBean.detail.contentModificabile}"/>
				
				<p:commandButton action="#{DocumentManagerBean.rimuoviFile}" icon="fa fa-close"
					rendered="#{DocumentManagerBean.detail.nomeFile ne null and DocumentManagerBean.detail.contentModificabile}"
					title="Rimuovi il documento" update="idDocPrincipalePanel_DMD, idDettagliEstesiForm:idActionManagerPanel, @form:idDimensioneContent,@form:idTabs_DMD:sizeDocPrincipaleId" disabled="#{!DocumentManagerBean.detail.contentModificabile or DocumentManagerBean.disabilitaButtonProtSemi}"/>
				<p:commandButton icon="fa fa-pencil-square-o" title="Verifica firma" action="#{DocumentManagerBean.verificaFirmaDocPrincipale}" update="idDocPrincipalePanel_DMD"
					process="@this, idDocPrincipalePanel_DMD" rendered="#{DocumentManagerBean.documentManagerDTO.verificaFirmaDocPrincipaleVisible}"/>
			</p:outputPanel>
		    <p:overlayPanel for="idTemplateListBtn_DMD" hideEffect="fade" dynamic="false">
		        <h:form>
			        <p:dataTable var="t" value="#{DocumentManagerBean.documentManagerDTO.templateFileList}" rows="5" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false">
			            <p:column headerText="Nome">
			                <h:outputText value="#{t.descrizione}"/>
			            </p:column>
			            <p:column headerText="Download" styleClass="generic_width10" >
			                <p:commandButton action="#{DocumentManagerBean.downloadTemplate(t.idTemplate)}" icon="fa fa-download" process="@this"/>
			            </p:column>
			        </p:dataTable>
		    	</h:form>
				<input type="hidden" id="sessionId" value="#{session.id}"/>
				<iframe title="Frame tab dettaglio" class="cover" src="about:blank"></iframe>
		    </p:overlayPanel>
            <p:remoteCommand action="#{DocumentManagerBean.saveFileTemplateFromApplet}" update="idDocPrincipalePanel_DMD" name="remoteCommandSaveFileTemplateFromApplet"/>

			<p:selectBooleanCheckbox itemLabel="Firma con copia conforme" value="#{DocumentManagerBean.detail.checkFirmaConCopiaConforme}" 
				rendered="#{DocumentManagerBean.documentManagerDTO.checkFirmaConCopiaConformeVisible}" disabled="#{not DocumentManagerBean.detail.modificabile}"/>
				
		</p:outputPanel>
		<p:outputPanel id="sizeDocPrincipaleId" style="margin-top: 8px;">
			<p:outputLabel value="#{DocumentManagerBean.detail.sizeDocPrincipaleMB} Mb" rendered="#{DocumentManagerBean.detail.sizeDocPrincipaleMB ne null and DocumentManagerBean.detail.maxSizeContent ne null}"/>
		</p:outputPanel>
		<!-- DOCUMENTO PRINCIPALE END-->
		<!--
		<div class="ui-g-1"></div> --> <!-- VUOTO -->
		  	
		<!-- CONTRIBUTO ESTERNO START -->
		<p:outputPanel styleClass="ui-g-6 ui-fluid" rendered="#{DocumentManagerBean.documentManagerDTO.contributoNumAnnoEsternoVisible}">
			<p:outputPanel styleClass="ui-g-4 generic_margin0 generic_padding0">
				<p:outputLabel value="Contributo esterno (Numero/Anno)" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-2 generic_margin0 generic_padding0">
				<p:inputText value="#{''.concat(DocumentManagerBean.detail.numeroMittenteContributo).concat('-').concat(DocumentManagerBean.detail.annoMittenteContributo)}" readonly="true"/>
			</p:outputPanel>
		</p:outputPanel>
		<!-- CONTRIBUTO ESTERNO END -->
		

<!-- BARCODE-SCANNER DOCUMENTO APPLET PANEL START -->
		<p:outputPanel id="idBarcodePanel_DMD" styleClass="ui-g-5 generic_padding0 generic_margin0" 
			rendered="#{DocumentManagerBean.documentManagerDTO.barcodePanelVisible}">
			<div class="ui-g-5">
				<p:outputLabel value="Barcode" styleClass="generic_textBold"/>
			</div>
			<p:outputPanel class="ui-g-7 ui-fluid generic_paddingLeft0">
				<p:outputPanel class="ui-inputgroup">
					<p:inputText value="#{DocumentManagerBean.detail.barcode}" styleClass=""/>
					<p:commandButton rendered="false" ajax="true" action="#{DocumentManagerBean.scannerizzaDocumento}" icon="fa fa-barcode" title="Scannerizza documento"/>
				</p:outputPanel>
			</p:outputPanel>
			<div class="ui-g-3"></div>
		</p:outputPanel>
<!-- BARCODE-SCANNER DOCUMENTO APPLET PANEL END -->

		<p:outputPanel class="ui-g-5" rendered="#{DocumentManagerBean.documentManagerDTO.inModificaIngresso == true}" ><!-- VUOTO --></p:outputPanel>
		
		<div class="ui-g-1"><!-- INTENZIONALMENTE VUOTO --></div>

<!-- RDP PANEL - LEGISLATURA START -->
		<p:outputPanel id="idRdpPanel_DMD" styleClass="ui-g-6 generic_padding0 generic_margin0" rendered="#{DocumentManagerBean.documentManagerDTO.rdpPanelVisible}">
			<p:outputPanel class="ui-g-4">
				<p:outputLabel value="Numero RDP" styleClass="generic_textBold"/>
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-8 ui-fluid ui-inputgroup generic_padding0">
				<p:outputPanel styleClass="ui-g-7 generic_padding0">
					<p:inputText value="#{DocumentManagerBean.detail.numeroRDP}" readonly="#{DocumentManagerBean.documentManagerDTO.numeroRdpReadOnly}" 
						styleClass="generic_input50 obbligatorio"/>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-5 generic_padding04">
					<p:outputLabel value="LEGISLATURA " styleClass="generic_textBold"/>
					<p:outputLabel value=" #{DocumentManagerBean.detail.legislatura}" styleClass="generic_textBold"/>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>			
<!-- RDP PANEL - LEGISLATURA END -->

<!-- ASSEGNATARIO PER COMPETENZA DOCUMENTO IN ENTRATA START -->
		<p:outputPanel class="ui-g-6 generic_padding0 generic_margin0" rendered="#{DocumentManagerBean.documentManagerDTO.assegnatarioPerCompetenzaVisible}">
			<p:outputPanel class="ui-g-4">
				<p:outputLabel for="idAssegnatarioPerComp_DMD" value="Assegnatario per competenza" styleClass="generic_textBold"/>
				<p:outputLabel for="idAssegnatarioPerComp_DMD" value="*" styleClass="generic_redStar generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-8 ui-fluid generic_paddingLeft0">
				<p:outputPanel styleClass="ui-inputgroup">
					<p:inputText id="idAssegnatarioPerComp_DMD" readonly="true" value="#{DocumentManagerBean.descrAssegnatarioPerCompetenza}" styleClass="obbligatorio-readonly"/>
	
					<p:commandButton id="idAssegnatarioPerCompBtn_DMD" icon="fa fa-sitemap" type="button" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled or !DocumentManagerBean.detail.modificabile}" styleClass=""/>
					<p:commandButton rendered="#{not empty DocumentManagerBean.assegnatarioDefault}" icon="fa fa-dot-circle-o" title="Imposta assegnatario di default per l'AOO" actionListener="#{DocumentManagerBean.setDefault}" update="idAssegnatarioPerComp_DMD" /> 
				</p:outputPanel>
				<p:overlayPanel widgetVar="wdgAssegnatarioPerComp_DMD" for="idAssegnatarioPerCompBtn_DMD" hideEffect="fade"  my="left bottom" at="right top" >
<!-- 					NB: a priori non si sa dove mette l'overlay panel, nel caso della creazione in pagina lo mette già in un form -->
<!-- 					e due form annidati sono un problema per jsf quindi devo mostrare solo l'albero, nel caso di  -->
<!-- 					PROTOCOLLAZIONE DA MAIL in cui la protocollazione avviene in un documento in ingresso in una dialog il form ci vuole -->
<!-- 					perché l'overlay viene scritto fuori dal form -->
<!-- 					Sse la creazione verrà spostata SEMPRE nella dialog il form che contiente l'albero va eliminato!!!!!!!!!!!!! -->
					<h:form id="idFormOverlayOrganigramma_DMDTD" >
						<p:scrollPanel mode="native" styleClass="generic-scrollpane-dimOrganigrammi">
							<p:tree value="#{DocumentManagerBean.rootAssegnazionePerCompetenza}" var="node" id="idAssegnatarioPerCompTree_DMD"
								selectionMode="single" styleClass="dmd-tree" dynamic="true">
								
								<p:ajax event="expand" update="idAssegnatarioPerCompTree_DMD" listener="#{DocumentManagerBean.onOrgAssPerCompetenzaNodeExpand}" />
						        <p:ajax event="select" update="@parent:@parent:@form:idTabs_DMD:idAssegnatarioPerComp_DMD,  @parent:@parent:@form:idTabs_DMD:idAssegnatarioPerComp_tabAssegnazioni" 
						        	listener="#{DocumentManagerBean.onOrgAssPerCompetenzaSelect}" oncomplete="PF('wdgAssegnatarioPerComp_DMD').hide()"/>
						        	
								<p:treeNode>
									<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
									<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}"/>
									
									<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}"/>
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
					</h:form>
					<iframe title="Frame tab dettaglio" class="cover" src="about:blank"></iframe>
				</p:overlayPanel>
			</p:outputPanel>
		</p:outputPanel>
<!-- ASSEGNATARIO PER COMPETENZA DOCUMENTO IN ENTRATA END -->

<!-- COMBO VISTO - REGISTRO VISTO START-->
<!-- codice morto non lo riporto -->
<!-- COMBO VISTO - REGISTRO VISTO END-->


<!-- INDICE DI CLASSIFICAZIONE - NOME FASCICOLO START -->
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0" id="idIndiceClassificazionePanel_DMD"
			rendered="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneVisible}">
			
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="@form:idTabs_DMD:titolarioCmp_DMD:idTitolario_DMD" value="Indice di classificazione" styleClass="generic_textBold"/>
				<p:outputLabel for="@form:idTabs_DMD:titolarioCmp_DMD:idTitolario_DMD" value="*" class="generic_redStar generic_textBold" 
					rendered="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneRequired}"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-3 ui-fluid">
				<div class="ui-inputgroup #{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneRequired ? 'obbligatorio' : ''}">
					<red:titolarioComponent id="titolarioCmp_DMD" component="#{DocumentManagerBean.indiceDiClassificazione}" autoCompleteId="idTitolario_DMD" 
						autoCompleteStyleClass="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneRequired ? 'campoObbligatorio' : ''}" 
						commandButtonId="idTitolarioCreaBtn_DMD" commandButtonDisabled="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneEFascicoloDisabled or not DocumentManagerBean.detail.modificabile}" 
						commandButtonStyleClass="dmd-indice-classificazione-btn"/>
				</div>
			</p:outputPanel>
			
			<div class="ui-g-1"><!-- INTENZIONALMENTE VUOTO --></div>

			<p:outputPanel class="ui-g-2 generic_margin0 generic_padding0 dmd-paddingRight05em ui-fluid" id="idFasicoloInfoLabel_DMD">
				<p:outputLabel for="idFascicolo_DMD" value="Nome del fascicolo" styleClass="generic_textBold dmd-nomeFascicolo"/>
				<p:outputLabel for="idFascicolo_DMD" value="*" class="generic_redStar generic_textBold dmd-nomeFascicoloStar"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-4 generic_margin0 generic_padding0 dmd-paddingRight05em ui-fluid" id="idFasicoloInfo_DMD">
				<div class="ui-inputgroup obbligatorio">
					<p:outputLabel for="idFascicolo_DMD" value="#{DocumentManagerBean.detail.prefixFascicoloProcedimentale}" styleClass="ui-inputgroup-addon fascicolo-prefisso"/>
					<p:inputText type="hidden" value="#{DocumentManagerBean.detail.idFascicoloProcedimentale}" widgetVar="wdgIdFascicoloProcedimentale_DMD"/>
					<p:inputText id="idFascicolo_DMD" value="#{DocumentManagerBean.detail.descrizioneFascicoloProcedimentale}" widgetVar="wdgFascicolo_DMD" styleClass="campoObbligatorio nome-fascicolo-style"
						disabled="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneEFascicoloDisabled or not DocumentManagerBean.detail.modificabile or DocumentManagerBean.detail.modificaFascicolo}"
						title="#{DocumentManagerBean.detail.descrizioneFascicoloProcedimentale}"/>
					<p:commandButton type="button" icon="fa fa-search" title="Cerca" onclick="PF('wdgCercaFascicolo').show()" 
						disabled="#{DocumentManagerBean.documentManagerDTO.indiceDiClassificazioneEFascicoloDisabled or not DocumentManagerBean.detail.modificabile}"/>
				</div>
				
				<!-- DIALOG RICERCA FASCICOLO PROCEDIMENTALE START			 -->
				<red:dlgCercaFascicoloComponent id="dlgCercaFascicoloCmp_DMD" component="#{DocumentManagerBean.cercaFascicoloComponent}" 
					updateOnSelect="@form:idTabs_DMD"/>
				<!-- DIALOG RICERCA FASCICOLO PROCEDIMENTALE END			 -->
			</p:outputPanel>
		</p:outputPanel>
<!-- INDICE DI CLASSIFICAZIONE - NOME FASCICOLO END -->

<!-- RACCOLTA FAD START compare solo con tipologia ATTO DECRETO -->
		<p:outputPanel id="idRaccoltaFad_DMD" 
			class="ui-g-12 generic_padding0 generic_margin0 dmd-raccoltaFad" rendered="#{DocumentManagerBean.documentManagerDTO.raccoltaFadVisible}">
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idRaccFadAmministrazione_DMD" value="Amministrazione" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-3 ui-fluid" id="idRaccFadAmministrazione_DMD">
				<p:outputPanel rendered="#{not DocumentManagerBean.documentManagerDTO.creaRaccoltaFadDisabled}">
					<p:selectOneMenu value="#{DocumentManagerBean.codiceAmministrazioneSelected}" title="#{DocumentManagerBean.descrizioneAmministrazioneSelected}">
						<p:ajax update="idRaccoltaFad_DMD" event="change" listener="#{DocumentManagerBean.onChangeComboFadAmministrazione}"/>
						<f:selectItem itemLabel="-" itemValue="#{null}"/>
						<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboFadAmministrazioni}" 
							var="fa" itemValue="#{fa.codiceAmministrazione}" 
							itemLabel="#{fn:length(fa.descrizioneAmministrazione) gt 25 ? fn:substring(fa.descrizioneAmministrazione, 0, 25).concat('...') : fa.descrizioneAmministrazione}" 
							itemDescription="#{fa.descrizioneAmministrazione}"/>
					</p:selectOneMenu>
				</p:outputPanel>
				<p:outputPanel rendered="#{DocumentManagerBean.documentManagerDTO.creaRaccoltaFadDisabled}">
					<p:inputText value="#{DocumentManagerBean.descrizioneAmministrazioneSelected}" title="#{DocumentManagerBean.descrizioneAmministrazioneSelected}" readonly="true"/>
				</p:outputPanel>
			</p:outputPanel>
			<div class="ui-g-1"><!-- INTENZIONALMENTE VUOTO --></div>
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idDescRagioneria_DMD" value="UCB" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-4 ui-fluid">
				<p:inputText id="idDescRagioneria_DMD" title="#{DocumentManagerBean.fadRagioneriaSelected.descrizioneRagioneria ne null ? DocumentManagerBean.fadRagioneriaSelected.descrizioneRagioneria : ''}"
					value="#{DocumentManagerBean.fadRagioneriaSelected.descrizioneRagioneria}" readonly="true"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idRaccolta_DMD" value="Identificativo Raccolta" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-3 ui-fluid">
				<p:inputText id="idRaccolta_DMD" value="#{DocumentManagerBean.identificativoRaccolta}" styleClass="" readonly="true"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-7 generic_textAlignRight">
				<p:commandButton ajax="true" action="#{DocumentManagerBean.creaRaccoltaFAD}" disabled="#{DocumentManagerBean.documentManagerDTO.creaRaccoltaFadDisabled}" 
					value="Crea raccolta" update="idRaccoltaFad_DMD"/>
			</p:outputPanel>
		</p:outputPanel>
<!-- RACCOLTA FAD END -->

		<!-- PROTOCOLLO RISPOSTA START -->
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0 " 
			rendered="#{DocumentManagerBean.documentManagerDTO.iterDocUscitaVisible or DocumentManagerBean.detail.getFlagEntrata()}">
			<p:outputPanel class="ui-g-2">
				<c:choose>
				    <c:when test="#{!DocumentManagerBean.detail.getFlagEntrata()}">
				        <p:outputLabel for="idProtocolliRiferimento_DMD" value="Riferimento ai protocolli in entrata" styleClass="generic_textBold"/>
				    </c:when>
				    <c:otherwise>
				        <p:outputLabel for="idProtocolliRiferimento_DMD" value="Riferimento ai protocolli in entrata/uscita" styleClass="generic_textBold"/>
				    </c:otherwise>
				</c:choose>
			</p:outputPanel>
			<p:outputPanel class="ui-g-10">
				<p:dataTable var="a" value="#{DocumentManagerBean.riferimentiProt}" id="idProtocolliRiferimento_DMD" 
					paginatorAlwaysVisible="false" emptyMessage="Nessun riferimento protocollo." rowIndexVar="index" styleClass="dmd-tabellaProtocolliRif">
					<p:column headerText="Anno" styleClass="generic_textAlignCenter generic_width30">
						<p:inputNumber value="#{a.annoProtocollo}" maxValue="#{DocumentManagerBean.documentManagerDTO.maxAnno}" disabled="#{not DocumentManagerBean.detail.modificabile}" 
							thousandSeparator="" padControl="false" rendered="#{not a.verificato}"/>
						<p:outputLabel rendered="#{a.verificato}" value="#{a.annoProtocollo}"/>
					</p:column>

					<p:column headerText="Numero" styleClass="generic_textAlignCenter generic_width30">
						<p:inputNumber value="#{a.numeroProtocollo}"  thousandSeparator="" padControl="false" disabled="#{not DocumentManagerBean.detail.modificabile}" rendered="#{not a.verificato}"/>
						<p:outputLabel rendered="#{a.verificato}" value="#{a.numeroProtocollo}"/>
					</p:column>

					<p:column headerText="Chiudere" styleClass="generic_textAlignCenter generic_width10">
						<c:choose>
						    <c:when test="#{!DocumentManagerBean.detail.getFlagEntrata()}">
						        <p:selectBooleanCheckbox value="#{a.documentoDaChiudere}" styleClass="generic_centra" disabled="#{a.chiusuraDisabled or not DocumentManagerBean.detail.modificabile}"/>
						    </c:when>
						    <c:otherwise>
						        <p:selectBooleanCheckbox value=" " styleClass="generic_centra" disabled="true"/>
						    </c:otherwise>
						</c:choose>
					</p:column>

					<p:column headerText="Verificato" styleClass="generic_textAlignCenter generic_width10">
						<h:outputText rendered="#{a.verificato}" styleClass="generic_centra fa fa-check"/>
					</p:column>
					
					<p:column headerText="Tipo" styleClass="generic_textAlignCenter generic_width10">
						<h:outputText rendered="#{a.verificato}" value="#{a.tipoCategoriaEnum}" styleClass="generic_centra"/>
					</p:column>

					<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width20" >
						<p:commandButton ajax="true" action="#{DocumentManagerBean.checkProtocolloDiRiferimento(index)}" icon="fa fa-check" title="Verifica"
							update="idProtocolliRiferimento_DMD @namingcontainer:@namingcontainer" rendered="#{not a.verificato}" disabled="#{not DocumentManagerBean.detail.modificabile}"/>
						<p:commandButton ajax="true" action="#{DocumentManagerBean.removeProtocolloDiRiferimento(index)}" icon="fa fa-close" title="Elimina"
							update="idProtocolliRiferimento_DMD @namingcontainer:@namingcontainer" rendered="#{not a.disabled}" 
							disabled="#{not DocumentManagerBean.detail.modificabile or ((DocumentManagerBean.documentManagerDTO.inModificaIngresso or DocumentManagerBean.documentManagerDTO.inModificaUscita) 
								and a.idDocumento ne Integer.valueOf(DocumentManagerBean.detail.documentTitle))}"/>
					</p:column>
				</p:dataTable>
				<p:commandButton ajax="true" icon="fa fa-plus" alt="Aggiungi protocollo" styleClass="dmd-tabellaProtocolliRifBtnAdd"
				action="#{DocumentManagerBean.addProtocolloDiRiferimento}" update="idProtocolliRiferimento_DMD" disabled="#{!DocumentManagerBean.detail.modificabile or DocumentManagerBean.documentManagerDTO.inModificaUscita}"/>
			</p:outputPanel>
			
		</p:outputPanel>
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0 " >
			
			<p:outputPanel class="ui-g-2" rendered="#{DocumentManagerBean.utente.showRiferimentoStorico}">
				<p:outputLabel for="idProtocolliRiferimentoNsd_DMD" value="Riferimento ai protocolli in entrata Nsd" styleClass="generic_textBold"/>
			</p:outputPanel>

			<p:outputPanel class="ui-g-10" rendered="#{DocumentManagerBean.utente.showRiferimentoStorico}">
				<p:dataTable  var="rifStoricoNsd" value="#{DocumentManagerBean.riferimentoStoricoNsd}" id="idProtocolliRiferimentoNsd_DMD" 
					paginatorAlwaysVisible="false" emptyMessage="Nessun riferimento protocollo."
					rowIndexVar="index"  styleClass="dmd-tabellaProtocolliRif">
			
					<p:column headerText="Anno" styleClass="generic_textAlignCenter generic_width30">
						<p:inputNumber value="#{rifStoricoNsd.annoProtocolloNsd}" maxValue="#{DocumentManagerBean.documentManagerDTO.maxAnno}" disabled="#{!DocumentManagerBean.detail.modificabile}" 
						thousandSeparator="" padControl="false" rendered="#{not rifStoricoNsd.verificato}"/>
			  			<p:outputLabel rendered="#{rifStoricoNsd.verificato}" value="#{rifStoricoNsd.annoProtocolloNsd}" />
					</p:column>
	
					<p:column headerText="Num. Prot. NSD" styleClass="generic_textAlignCenter generic_width30">
						<p:inputNumber value="#{rifStoricoNsd.numeroProtocolloNsd}"  thousandSeparator="" padControl="false" disabled="#{!DocumentManagerBean.detail.modificabile}" rendered="#{rifStoricoNsd.verificato == false}"/>
						<p:outputLabel rendered="#{rifStoricoNsd.verificato}" value="#{rifStoricoNsd.numeroProtocolloNsd}" />
					</p:column>
	 
					<p:column headerText="Verificato" styleClass="generic_textAlignCenter generic_width20">
						<h:outputText rendered="#{rifStoricoNsd.verificato}" styleClass="generic_centra fa fa-check"/>
					</p:column>
	
					<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width20" >
						<p:commandButton ajax="true" action="#{DocumentManagerBean.verificaProtocolloDiRiferimentoStorico(index)}" icon="fa fa-check" title="Verifica Documento"
							update="idProtocolliRiferimentoNsd_DMD @namingcontainer:@namingcontainer" rendered="#{not rifStoricoNsd.verificato}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
						<p:commandButton ajax="true" action="#{DocumentManagerBean.ribaltaRiferimentoStorico(index)}" icon="fa fa-paste" title="Ribalta Documento"
							update="idProtocolliRiferimentoNsd_DMD @namingcontainer:@namingcontainer idDettagliEstesiForm:oggetto_DMD" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
						<p:commandButton ajax="true" action="#{DocumentManagerBean.removeProtocolloDiRiferimentoStorico(index)}" icon="fa fa-close" title="Elimina Documento"
							update="idProtocolliRiferimentoNsd_DMD @namingcontainer:@namingcontainer" rendered="#{not rifStoricoNsd.disabled}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
					</p:column>
				</p:dataTable>
					<p:commandButton rendered="#{DocumentManagerBean.utente.showRiferimentoStorico}" ajax="true" icon="fa fa-plus" alt="Aggiungi protocollo NSd" styleClass="dmd-tabellaProtocolliRifBtnAdd"
							action="#{DocumentManagerBean.addProtocolloDiRiferimentoStorico}" update="idProtocolliRiferimentoNsd_DMD" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
			</p:outputPanel> 
			<ui:include src="riferimentoAiProtEntrataNPS.xhtml"/>
<!-- 		<p:outputPanel class="ui-g-1"> -->
<!-- 		</p:outputPanel> -->
		</p:outputPanel>
		<!-- PROTOCOLLO RISPOSTA END -->

		
	

		
<!-- 	PROTOCOLLO MITTENTE - IN RISPOSTA AL PROTOCOLLO START-->
		<p:outputPanel id="idprotMittERisp_DMDTD" class="ui-g-12 generic_padding0 generic_margin0 " rendered="#{DocumentManagerBean.documentManagerDTO.protocolloMittenteRispostaVisible}">
			<div class="ui-g-2">
				<p:outputLabel value="In riferimento al protocollo (anno/numero)" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-3 ui-inputgroup">
				<p:inputNumber id="annoProtRisposta" value="#{DocumentManagerBean.detail.annoProtocolloRisposta}" size="4" minValue="0" maxValue="9999" thousandSeparator="" padControl="false" disabled="#{!DocumentManagerBean.detail.modificabile or DocumentManagerBean.disabilitaRispostaProtocollo or (DocumentManagerBean.documentManagerDTO.inModificaIngresso and DocumentManagerBean.detail.annoProtocolloRisposta ne null)}"/>
				<p:outputLabel value=" / " styleClass="dmd-protMittenteSeparator"/> 
				<p:inputText id="numeroProtRisposta" value="#{DocumentManagerBean.detail.numeroProtocolloRisposta}" styleClass="dmd-protMittenteNumeroRisp" maxlength="15" disabled="#{!DocumentManagerBean.detail.modificabile or DocumentManagerBean.disabilitaRispostaProtocollo or (DocumentManagerBean.documentManagerDTO.inModificaIngresso and DocumentManagerBean.detail.numeroProtocolloRisposta ne null)}"/>
				
				<p:commandButton icon="fa fa-search" onclick="PF('wdgRicercaProtRispostaDialog').show()" disabled="#{DocumentManagerBean.disabledRicercaProtocolloRisposta() or !DocumentManagerBean.detail.modificabile or DocumentManagerBean.documentManagerDTO.inModificaIngresso}"/>
				<p:commandButton id="deselezionaProtRisp" icon="fa fa-remove" action="#{DocumentManagerBean.deselezionaProtocolloRisposta}" disabled="#{not DocumentManagerBean.protocolloRispostaModificabile or !DocumentManagerBean.detail.modificabile}" title="Deseleziona protocollo risposta"
								 update="@form:idTabs_DMD:annoProtRisposta, @form:idTabs_DMD:numeroProtRisposta, @form:oggetto_DMD, @form:idTabs_DMD:idAssegnatarioPerComp_DMD, @form:idTabs_DMD:idFasicoloInfo_DMD"/>
			</div>

			<div class="ui-g-2">
				<p:outputLabel value="Protocollo mittente (anno/numero)" styleClass="generic_textBold" id="pnlAnnoDataProtMittID"/>
			</div>
			<div class="ui-g-5 ui-outputpanel">
				<p:inputNumber widgetVar="wdgInputAnnoProtMittente" value="#{DocumentManagerBean.detail.annoProtocolloMittente}" size="4" minValue="0" maxValue="#{SessionBean.maxYearForSearch}" thousandSeparator="" padControl="false" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
				<p:outputLabel value=" / " styleClass="dmd-protMittenteSeparator "/>
				<p:inputNumber value="#{DocumentManagerBean.detail.protocolloMittente}" styleClass="dmd-protMittenteNumero" disabled="#{!DocumentManagerBean.detail.modificabile}" minValue="0" maxValue="999999999" thousandSeparator="" padControl="false"/>
				<p:outputLabel value="Data" styleClass="generic_textBold generic_marginLeft05em generic_marginRight05em"/>
				<p:calendar id="dataProtocolloMittenteIdDoc" navigator="true" widgetVar="wdgDataAnnoProtMittente" value="#{DocumentManagerBean.detail.dataProtocolloMittente}" showOn="button" pattern="dd/MM/yyyy" 
					styleClass="data-protocollo-mittente widthinput22" maxdate="#{DocumentManagerBean.documentManagerDTO.today}" readonlyInput="true" disabled="#{!DocumentManagerBean.detail.modificabile}">
					<p:ajax event="dateSelect" oncomplete="updateAnnoProtocolloMittente()" global="false"/>
				</p:calendar>
				<p:commandButton icon="fa fa-remove" disabled="#{!DocumentManagerBean.detail.modificabile}" actionListener="#{DocumentManagerBean.pulisciDataProtocolloMittente()}" title="pulisci campo" style="margin-top:0.05em;margin-right:0em;float:right;" 
					styleClass="ui-button-icon-only ui-corner-all" update="@form:idTabs_DMD:dataProtocolloMittenteIdDoc" process="@form:idTabs_DMD:dataProtocolloMittenteIdDoc"/>
			</div>

<!-- 	PROTOCOLLO MITTENTE - IN RISPOSTA AL PROTOCOLLO START-->
		</p:outputPanel>

		<!-- PROTOCOLLO di Riferimento START --> 
		<p:outputPanel id="idProtRif_DMDTD" class="ui-g-12 generic_padding0 generic_margin0 " rendered="#{DocumentManagerBean.renderProtRifField}"> <!-- renderizzare solo se è selezionato il tipo documento Riferimento protocollo -->

			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idProtRiferimento_DMD" value="Protocollo di Riferimento" styleClass="generic_textBold"/>
			</p:outputPanel>
			<div class="ui-g-3 ">
				<p:inputText id="idProtRiferimento_DMD" value="#{DocumentManagerBean.protRifFieldValue}"  styleClass="" readonly="true"/>
				<p:commandButton type="button" value="Cerca" onclick="PF('wdgCercaProtRif').show()" icon="fa fa-search" styleClass="generic_marginLeft" />
			</div>
		</p:outputPanel>
		<!-- PROTOCOLLO di Riferimento END --> 

		<!-- NOTE START -->
		<p:outputPanel class="ui-g-2">
			<p:outputLabel for="note" value="Note" styleClass="generic_textBold"/>
		</p:outputPanel>
		<p:outputPanel class="ui-g-10 ui-fluid">
			<p:inputTextarea rows="3" cols="33" id="note" value="#{DocumentManagerBean.detail.note}" styleClass="" disabled="#{!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo)}"/>
		</p:outputPanel>
		<!-- NOTE END -->

	</p:outputPanel><!-- idTabDettaglioContent_DMD @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

	<!-- METADATI DINAMICI - VISUALIZZATI IN MUTUA ESCLUSIONE CON I METADATI ESTESI (VINCONO QUESTI ULTIMI) -->
	<p:outputPanel id="metadatiDinamiciPnl">
		<p:fieldset legend="Metadati dinamici" toggleable="true" toggleSpeed="500" collapsed="true" 
			rendered="#{not empty DocumentManagerBean.detail.metadatiDinamici and empty DocumentManagerBean.detail.metadatiEstesi}">
			<ui:include src="documentManagerDataTabMetadatiDinamici.xhtml"/>
		</p:fieldset>
	</p:outputPanel>
	
<!-- CONTENUTO DEL TAB DETTAGLIO END ===================================================================================	 -->

	<p:dialog widgetVar="wdgCercaProtRif" id="idCercaProtRif" modal="true" draggable="true" position="center" appendTo="@form" 
			  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCercaProtRif')" styleClass="dmd-panel-ricercaFascicolo" closeOnEscape="true" showHeader="true"
			  closable="true" resizable="false" header="Cerca Protocollo Riferimento" width="800">
		
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel ricerca-red-documenti-form-testuale" columnClasses="ui-grid-col-2,ui-grid-col-4 ui-fluid,ui-grid-col-2,ui-grid-col-4 ui-fluid">
	       	
	       	<p:outputPanel >
		       	<p:outputLabel value="Numero Protocollo" styleClass="generic_textBold"/>
		       	<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
	       	</p:outputPanel>
	       	<p:inputNumber value="#{DocumentManagerBean.numProtRicercaRif}" styleClass="anno-input-number-ricerca-doc" minValue="0" maxValue="999999999" thousandSeparator="" padControl="false" />

			<p:outputPanel >
		       	<p:outputLabel value="Anno Protocollo" styleClass="generic_textBold"/>
		       	<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
			</p:outputPanel>
	       	<p:inputNumber value="#{DocumentManagerBean.annoProtRicercaRif}" styleClass="anno-input-number-ricerca-doc"  minValue="0" maxValue="9999" thousandSeparator="" padControl="false" />
	       	
		</p:panelGrid>
		
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel " columnClasses="ui-grid-col-2,ui-grid-col-2" style="padding-left: 37%;">
			<p:commandButton value="Cerca" actionListener="#{DocumentManagerBean.ricercaProtRif}" title="Cerca Protocollo" icon="fa fa-search" update="idProtRifResult" />
			<p:commandButton value="Chiudi" title="Chiudi ricerca" icon="fa fa-times" type="button"	onclick="PF('wdgCercaProtRif').hide()" styleClass="uniqueCloseButton"/>
		</p:panelGrid>
		
		<!-- Risultati Ricerca -->
		<p:outputPanel id="idProtRifResult">
			<p:treeTable id="resultTreeTable" widgetVar="idProtRifTreeTable" emptyMessage="Nessun protocollo trovato" paginator="true"
						 paginatorTemplate="TOT :  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 paginatorPosition="bottom" rows="5" rowsPerPageTemplate="5,10" selectionMode="single" rendered="#{DocumentManagerBean.renderProtRifResult}"
						 value="#{DocumentManagerBean.rootProtRifResult}" var="doc" >
						 
				 	<p:ajax event="expand" listener="#{DocumentManagerBean.attribuisciDocumentiAlFascicolo}" update="@this"/>
				 	<p:ajax event="select" listener="#{DocumentManagerBean.selectDocumentoDelFascicolo}" update="idDettagliEstesiForm:idTabs_DMD:idProtRif_DMDTD, idDettagliEstesiForm:idTabs_DMD:idAssegnatarioPerComp_DMD, idDettagliEstesiForm:idTabs_DMD:idAssegnatarioPerComp_tabAssegnazioni, idDettagliEstesiForm:idTabs_DMD:idAssegnatarioPerCompBtn_DMD" oncomplete="PF('wdgCercaProtRif').hide()"/>
				 	
			        <p:column headerText="Documenti e Fascicoli" styleClass="ellipsis">
			        
				       		<span class="#{doc.tipo eq 'fascicolo'?'fa fa-folder-o':'fa fa-file'}" title="#{doc.tipo eq 'fascicolo' ? 'Fascicolo' : 'Documento'}"></span>
				       		<h:outputText value=" "/>
				       		<h:outputText title="ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" value="ID: #{doc.numeroDocumento} " rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo eq null}" styleClass="generic_textBold"/>
							<h:outputText title="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} - #{doc.tipologiaDocumento}" rendered="#{doc.tipo eq 'documento' and doc.numeroProtocollo ne null}" value="PROT: #{doc.numeroProtocollo} / #{doc.annoProtocollo} - ID: #{doc.numeroDocumento} " styleClass="generic_textBold"/>
							
							<h:outputText value="#{doc.id}" title="#{doc.id}" rendered="#{doc.tipo eq 'fascicolo' and doc.id ne null}"/>
							<h:outputText value=" - #{doc.oggetto}" title="#{doc.oggetto}" rendered="#{doc.oggetto ne null}"/>
			        
			        </p:column>
			</p:treeTable>
		</p:outputPanel>
	</p:dialog>
	
	<!--======== DIALOG RICERCA PROTOCOLLO RISPOSTA ========--> 
	<p:dialog widgetVar="wdgRicercaProtRispostaDialog" id="idRicercaProtRispostaDialog"
			  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgRicercaProtRispostaDialog')"
			  modal="true" position="center" appendTo="@form" resizable="false" closable="true" closeOnEscape="true" 
			  styleClass="dialogs-width-maxHeight no-overflow-x" header="Ricerca Protocollo Risposta" showHeader="true">
		
		<p:panelGrid columns="5" columnClasses="ui-grid-col-1, ui-grid-col-2 ui-fluid, ui-grid-col-2, ui-grid-col-5 ui-fluid, ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank">  
			<p:outputLabel value="Anno" styleClass="generic_textBold"/>
			<p:inputNumber id="annoProtRispDialog" value="#{DocumentManagerBean.annoProtRispDialog}" styleClass=""  minValue="0" maxValue="9999" thousandSeparator="" padControl="false"/>
			
			<p:outputLabel value="Testo ricerca" styleClass="generic_textBold"/>
			<p:inputText id="ricercaProtRispDialog" value="#{DocumentManagerBean.testoRicercaProtRispDialog}" styleClass="" maxlength="9"/>
			
			<p:commandButton value="Cerca" icon="fa fa-search" actionListener="#{DocumentManagerBean.ricercaProtocolloRisposta}" update="idDtProtRisp" disabled="#{DocumentManagerBean.disabledRicercaProtocolloRisposta()}"/>
		</p:panelGrid>
		<p:spacer/>
		<p:outputPanel>
		<p:dataTable widgetVar="wdgDtProtRisp" id="idDtProtRisp" value="#{DocumentManagerBean.ricercaProtRispostaResult}" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5" rows="5" paginatorAlwaysVisible="false"
					 var="prot" selection="#{DocumentManagerBean.protocolloRisposta}" rowKey="#{prot.numeroDocumento}" selectionMode="single" emptyMessage="Nessun protocollo trovato">
			
			<p:ajax event="rowSelect" oncomplete="PF('wdgRicercaProtRispostaDialog').hide()" listener="#{DocumentManagerBean.selezionaProtocolloRisposta}" process="@this"  update="@form:idTabs_DMD:annoProtRisposta, @form:idTabs_DMD:numeroProtRisposta, @form:oggetto_DMD, @form:idTabs_DMD:idAssegnatarioPerComp_DMD, @form:idTabs_DMD:idFasicoloInfo_DMD, @form:idTabs_DMD:deselezionaProtRisp, idDettagliEstesiForm:idTabs_DMD:idRicercaProtRispostaDialog"/>
			
			<p:column headerText="Oggetto" styleClass="generic_textAlignCenter generic_width50">
				<h:outputText value="#{prot.oggetto}"/>
			</p:column>
		
			<p:column headerText="Numero" styleClass="generic_textAlignCenter generic_width15">
				<h:outputText  value="#{prot.numeroDocumento}"/>
			</p:column>
			
			<p:column headerText="Protocollo" styleClass="generic_textAlignCenter generic_width20">
				<h:outputText  value="#{prot.numeroProtocollo}"/>
			</p:column>
				
			<p:column headerText="Anno" styleClass="generic_textAlignCenter generic_width15">
				<h:outputText  value="#{prot.annoProtocollo}"/>
			</p:column>
		</p:dataTable> 
		<p:outputPanel styleClass="ui-panelgrid-blank centerItems2 ">
			<p:commandButton widgetVar="chiudiDlgRicercaProtRisp" icon="fa fa-times" value="Chiudi" title="Chiudi ricerca" oncomplete="PF('wdgRicercaProtRispostaDialog').hide()" actionListener="#{DocumentManagerBean.pulisciCampiRicercaProtRisposta()}" styleClass="uniqueCloseButton" update="idDettagliEstesiForm:idTabs_DMD:idRicercaProtRispostaDialog" />
		</p:outputPanel>
		</p:outputPanel>
	</p:dialog>
</ui:composition>
