<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:custom="http://java.sun.com/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.TipologiaDestinatarioEnum" var="TipologiaDestinatarioEnum" allSuffix="ALL_ENUM_VALUES"/>
	<p:importConstants type="it.ibm.red.business.constants.Constants" var="Constants"/>
	<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu"/>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="NavigationTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.business.enums.TipologiaIndirizzoEmailEnum" var="TipologiaIndirizzoEnum" allSuffix="ALL_ENUM_VALUES" />

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel id="idDocumentManagerContent_DMD"
		styleClass="generic_padding0 generic_maxwidth1500px generic_centra generic_overflowHidden textAlignLeft">
		
		<p:remoteCommand name="aggiornaDimensioneContent" update="@form:idDimensioneContent"/>
		
		<p:messages for="dlgDocumentManager" showDetail="true" closable="true" escape="false" styleClass="messages-dmanager">
	        <p:autoUpdate/>
	    </p:messages>
	    
		<!-- 			MODALITA' UPDATE, DATI DOCUMENTO START-->
		<p:outputPanel id="panelUpadateDocument" rendered="#{DocumentManagerBean.detail.documentTitle ne null}" styleClass="ui-g-12 generic_centra generic_padding0 generic_margin0 ">
			<p:outputPanel rendered="#{DocumentManagerBean.detail.numeroProtocollo ne null}" styleClass="ui-g-6">
				<p:outputLabel value="Protocollo " styleClass="DD_labelTitoletto" rendered="#{not DocumentManagerBean.detail.isModalitaRegistroRepertorio}"/>
				<p:outputLabel value="RE " rendered="#{DocumentManagerBean.detail.numeroProtocollo eq DocumentManagerBean.detail.numeroProtocolloEmergenza and DocumentManagerBean.detail.annoProtocollo eq DocumentManagerBean.detail.annoProtocolloEmergenza}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value="RR " rendered="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value="#{DocumentManagerBean.detail.numeroProtocollo}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value=" / " styleClass="DD_textTitoletto"/>
				<p:outputLabel value="#{DocumentManagerBean.detail.annoProtocollo}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value=" del #{DocumentManagerBean.detail.dataProtocolloString}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value=" ID" styleClass="DD_labelTitoletto"/>
				<p:outputLabel value=" - #{DocumentManagerBean.detail.numeroDocumento}" styleClass="DD_textTitoletto"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{DocumentManagerBean.detail.numeroProtocollo eq null}" styleClass="ui-g-6">
				<p:outputLabel value="Documento " styleClass="DD_labelTitoletto"/>
				<p:outputLabel value="#{DocumentManagerBean.detail.numeroDocumento}" styleClass="DD_textTitoletto"/>
				<p:outputLabel value=" / " styleClass="DD_textTitoletto"/>
				<p:outputLabel value="#{DocumentManagerBean.detail.annoDocumento}" styleClass="DD_textTitoletto"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{DocumentManagerBean.detail.numeroCircolare ne null}" styleClass="ui-g-6">
				<p:outputLabel value="Numero Circolare" styleClass="DD_labelTitoletto"/>
				<p:outputLabel value="#{DocumentManagerBean.detail.numeroCircolare}" styleClass="DD_textTitoletto"/>
			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio and DocumentManagerBean.detail.numeroProtocollo eq null }" styleClass="ui-g-12">
			<span class="fa fa-info " style="color: #2779aa;" ></span>
			<p:outputLabel value=" Il documento verrà repertoriato all'interno del registro #{DocumentManagerBean.detail.descrizioneRegistroRepertorio}" styleClass="DD_labelTitoletto check-red" />
		</p:outputPanel>
		<p:outputPanel rendered="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio and DocumentManagerBean.detail.numeroProtocollo ne null}" styleClass="ui-g-12">
			<span class="fa fa-info " style="color: #2779aa;" ></span>
			<p:outputLabel value="Registro di Repertorio: #{DocumentManagerBean.detail.descrizioneRegistroRepertorio}" styleClass="DD_labelTitoletto check-red" />
		</p:outputPanel>
			
		<!-- 			MODALITA' UPDATE, DATI DOCUMENTO END-->
		
		<!-- REGISTRO D'EMERGENZA -->
		<!-- #{DocumentManagerBean.detail.numeroProtocolloEmergenza ne null and (DocumentManagerBean.detail.numeroProtocollo ne DocumentManagerBean.detail.numeroProtocolloEmergenza and DocumentManagerBean.detail.annoProtocollo ne DocumentManagerBean.detail.annoProtocolloEmergenza)} -->
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and (DocumentManagerBean.detail.numeroProtocolloEmergenza ne null and (DocumentManagerBean.detail.numeroProtocollo ne DocumentManagerBean.detail.numeroProtocolloEmergenza ))}">
			
			<p:outputPanel styleClass="ui-g-6">
				<p:outputLabel value="Protocollo Emergenza " styleClass="DD_labelTitoletto"/>
				<p:outputLabel value=" RE " styleClass="DD_textTitoletto "/>
				<p:outputLabel value="#{DocumentManagerBean.detail.numeroProtocolloEmergenza}" styleClass="DD_textTitoletto "/>
				<p:outputLabel value=" / " styleClass="DD_textTitoletto "/> 
				<p:outputLabel value="#{DocumentManagerBean.detail.annoProtocolloEmergenza}" styleClass="DD_textTitoletto "/>
				<p:outputLabel value=" del #{DocumentManagerBean.detail.dataProtocolloEmergenzaString}" styleClass="DD_textTitoletto "/> 
			</p:outputPanel>
			
		</p:outputPanel>

		<!-- 			FORMATO DOCUMENTO IN ENTRATA START-->
		<p:outputPanel  styleClass="ui-g-12 generic_centra generic_padding0 generic_margin0 " rendered="#{DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso}">
			<div class="ui-g-2">
				<p:outputLabel value="Formato documento in entrata" for="@next" styleClass="generic_textBold" rendered="#{DocumentManagerBean.documentManagerDTO.comboFormatiDocumentoVisible}"></p:outputLabel>
			</div>
			<div class="ui-g-4 ui-fluid">
				<p:selectOneMenu id="idComboFormatoDocumento" styleClass="generic_width90imp" value="#{DocumentManagerBean.idFormatoDocumentoSelected}" 
					disabled="#{DocumentManagerBean.documentManagerDTO.formatoDocumentoDisabled}" rendered="#{DocumentManagerBean.documentManagerDTO.comboFormatiDocumentoVisible}">
					<p:ajax update="@form:idDocumentManagerContent_DMD" event="change" listener="#{DocumentManagerBean.onChangeComboFormatoDocumento}" 
						process="@this, @form:oggetto_DMD, @form:idTabs_DMD"/>
					<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboFormatiDocumento}"
						var="fd" itemValue="#{fd.id}" itemLabel="#{fd.descrizione}"/>
				</p:selectOneMenu>
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel for="idMezziDiRicezione_DMD" value="Mezzo di Ricezione" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-4 ui-fluid">
				<p:selectOneMenu id="idMezziDiRicezione_DMD" styleClass="" value="#{DocumentManagerBean.detail.mezzoRicezioneDescrizione}" disabled="#{!DocumentManagerBean.detail.modificabile}">
					<p:ajax update="@this" event="change" listener="#{DocumentManagerBean.onChangeComboMezzoRicezione}"/>
					<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboMezziRicezione}"
						var="m" itemValue="#{m.descrizione}" itemLabel="#{m.descrizione}"/>
				</p:selectOneMenu>
			</div>
		</p:outputPanel>
		<!-- 			FORMATO DOCUMENTO IN ENTRATA END-->

		<!-- TIPOLOGIA DOCUMENTO START -->
		<div class="ui-g-2">
			<p:outputLabel for="idTipologiaDocumento_DMD" value="Tipologia Documento" styleClass="generic_textBold"/>
			<p:outputLabel for="idTipologiaDocumento_DMD" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-4 ui-fluid obbligatorio">
			<p:selectOneMenu id="idTipologiaDocumento_DMD" value="#{DocumentManagerBean.detail.idTipologiaDocumento}" widgetVar="wdgTipologiaDocumento_DMD" 
				disabled="#{DocumentManagerBean.documentManagerDTO.tipologiaDocumentoDisable or !DocumentManagerBean.detail.modificabile}" styleClass="campoObbligatorio generic_width90imp" style="width:100%">
				<p:ajax update="@form:idDocumentManagerContent_DMD, @form:idTabs_DMD:idMetadatiContent_DMD, @form:idTabs_DMD:metadatiDinamiciPnl" event="change" 
					listener="#{DocumentManagerBean.onChangeComboTipologiaDocumento}" process="@this, @form:idTabs_DMD, @form:oggetto_DMD"/>
				<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboTipologiaDocumento}"
					var="td" itemValue="#{td.idTipologiaDocumento}" itemLabel="#{td.descrizione}"/>
			</p:selectOneMenu>
		</div>
		
		<!-- TIPOLOGIA DOCUMENTO END -->

		<!-- TIPOLOGIA PROCEDIMENTO START -->
		<div class="ui-g-2">
			<p:outputLabel for="tipoProcedimento_DMD" value="Tipologia Procedimento" styleClass="generic_textBold"/>
			<p:outputLabel for="tipoProcedimento_DMD" value="*" class="generic_redStar generic_textBold"/>
		</div>
		<div class="ui-g-4 ui-fluid obbligatorio">
			<p:selectOneMenu id="tipoProcedimento_DMD" value="#{DocumentManagerBean.idTipoProcedimentoSelected}"
				disabled="#{DocumentManagerBean.documentManagerDTO.tipologiaDocumentoDisable or not DocumentManagerBean.detail.modificabile}">
				<p:ajax event="change" listener="#{DocumentManagerBean.onChangeComboTipiProcedimento}" process="@this, @form:idTabs_DMD, @form:oggetto_DMD"
					update="@form:idDocumentManagerContent_DMD" />
				<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboTipiProcedimento}" 
					var="tp" itemValue="#{tp.tipoProcedimentoId}" itemLabel="#{tp.descrizione}"/>
			</p:selectOneMenu>
		</div>
		<!-- TIPOLOGIA PROCEDIMENTO END -->

		<!-- MITTENTE START -->
		<p:outputPanel rendered="#{DocumentManagerBean.documentManagerDTO.mittenteVisible}" styleClass="ui-g-12 generic_centra generic_padding0 generic_margin0" id="idMittentePnl_DMD">
			<div class="ui-g-2">
				<p:outputLabel for="idMittenteAuto_DMD" value="Mittente" styleClass="generic_textBold"/>
				<p:outputLabel for="idMittenteAuto_DMD" value="*" class="generic_redStar generic_textBold"/>
			</div>
			<div class="ui-g-4 ui-fluid">
				<div class="ui-inputgroup obbligatorio generic_width90imp">
			
					<p:remoteCommand name="remoteUpdateInfoBtn"  process="@this" update="@this, @form:infobtnMittente_DMD, @form:infobtnMittenteOvrly_DMD,@form:idTipoEmail,@form:mailOnTheFlyIT,@form:gestContBtnID,@form:creaOnTheFlyID" global="false" async="true" />
					<p:autoComplete widgetVar="autocompleteMittenteWidget" disabled="#{!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo)}" id="idMittenteAuto_DMD" value="#{DocumentManagerBean.detail.mittenteContatto}"
						itemLabel="#{ct.aliasContatto}" itemValue="#{ct}" var="ct" converter="contattoConverter" 
						minQueryLength="0" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" maxResults="12" 
						completeMethod="#{DocumentManagerBean.caricaRubricaMittenti}" styleClass="dmd-input-autocomplete-width72 campoObbligatorio disableTabAutocompleteMittente" onblur="remoteUpdateInfoBtn();">
						
						<p:ajax event="itemSelect" listener="#{DocumentManagerBean.manageItemSelect}" update="@form:idTipoEmail, @form:mailOnTheFlyIT, @form:infobtnMittente_DMD, @form:infobtnMittenteOvrly_DMD,@this,@form:gestContBtnID,@form:creaOnTheFlyID" />
		
						<p:column headerText="Descrizione/Alias" >
							<h:outputText value="#{ct.aliasContatto}"/>
						</p:column>
						<p:column headerText="PEO" >
							<h:outputText value="#{ct.mail}"/>
						</p:column>
						<p:column headerText="PEC" >
							<h:outputText value="#{ct.mailPec}"/>
						</p:column>
					</p:autoComplete>
					
					<p:commandButton id="infobtnMittente_DMD" disabled="#{(empty DocumentManagerBean.detail.mittenteContatto.contattoID) or (DocumentManagerBean.detail.mittenteContatto.onTheFly eq 1)}" update="@form:infobtnMittenteOvrly_DMD" icon="fa fa-info" title="Dettaglio contatto" type="button" />
					<p:commandButton id="idMittenteApriPref_DMD" disabled="#{(!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo))}" title="Apri Rubrica" onclick="PF('wdgCercaPreferitoMitt').show()" type="button" icon="fa fa-leanpub" update="@form:wdgPreferitiTable_DMD"/>
					
				</div>

				<p:overlayPanel id="infobtnMittenteOvrly_DMD" for="infobtnMittente_DMD" howEffect="fade" hideEffect="fade" dismissable="true" showCloseIcon="false" my="right top" at="right bottom" appendToBody="true" styleClass="generic_width19 biggerPanel">
					
					<custom:panelInfoMittenteDestinatario contatto="#{DocumentManagerBean.detail.mittenteContatto}" bean="#{DocumentManagerBean}"/>
					<iframe title="Frame documento" class="cover" src="about:blank"></iframe>
				</p:overlayPanel>
<!-- 				PREFERITI MITTENTE START -->
					
				<p:dialog widgetVar="wdgCercaPreferitoMitt" showEffect="fade" hideEffect="fade" id="wdgPreferitiTableMitt_DMD" header="Rubrica"
						  draggable="true" resizable="false" position="center"
					      modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCercaPreferitoMitt','closeBtnMitt')" appendTo="@form" closable="true">
				 
				 								
					<p:outputPanel id="idOrlyPnlMittForm_DMD" >
						<p:tabView styleClass="generic_width1200px generic_borderTabs" id="idMittentePrefTabs_DMD" widgetVar="wdgMittentiTab">
							<p:tab title="Rubrica Ufficio">
								<p:dataTable value="#{DocumentManagerBean.documentManagerDTO.contattiPreferiti}" var="c" widgetVar="mittentePref_WV" emptyMessage="Nessun contatto preferito" paginatorAlwaysVisible="false" paginatorTemplate="TOT : #{fn:length(DocumentManagerBean.documentManagerDTO.contattiPreferiti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" id="idPreferitiMittenti_DMD" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
									<p:column headerText="Azioni" styleClass="textAlignCenter generic_width10">
										<p:commandButton id="menuRubricaDMDBtn" type="button" icon="fa fa-ellipsis-v" />
										<p:menu overlay="true" trigger="menuRubricaDMDBtn" my="left top" at="left bottom" style="width: 15%;">
											<p:submenu label="Azioni" styleClass="hiddenBackground">
												<p:separator></p:separator>
												<p:menuitem value="Aggiungi" icon="fa fa-plus" ajax="true" actionListener="#{DocumentManagerBean.addMittenteEsterno(c.contattoID)}" title="Aggiungi" update="idDettagliEstesiForm:idMittenteAuto_DMD, idDettagliEstesiForm:idMittentePnl_DMD,idDettagliEstesiForm:idTipoEmail" oncomplete="PF('wdgCercaPreferitoMitt').hide();" process="@this" />
												<p:menuitem value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" icon="fa fa-pencil" ajax="true" actionListener="#{DocumentManagerBean.modificaDestinatario(c,2)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED'}" update="@form:idOrlyPnlMittForm_DMD" process="@this" />
												<p:menuitem value="Elimina" icon="fa fa-trash" ajax="true" actionListener="#{DocumentManagerBean.eliminaContatto(c,false)}" title="Elimina" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica and c.tipoRubrica eq 'RED'}" update="@form:idOrlyPnlMittForm_DMD" process="@this" />
												<p:menuitem value="Richiedi Eliminazione" title="Richiedi Eliminazione" icon="fa fa-trash" rendered="#{!DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica and c.tipoRubrica eq 'RED'}" oncomplete="PF('dialogRichEliminazioneVW').show();" actionListener="#{DocumentManagerBean.impostaContattoDaEliminare}" process="@this"  />
											</p:submenu>
										</p:menu>
									</p:column>
									<p:column headerText="Tipo Elemento" styleClass="generic_textAlignCenter" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" sortBy="#{c.tipoRubrica}">
										<h:outputText title="GRUPPO" styleClass="fa fa-group" rendered="#{c.tipoRubrica eq 'GRUPPO'}" />
										<h:outputText styleClass="fa fa-user" rendered="#{c.tipoRubrica eq 'MEF'}" title="MEF" />
										<h:outputText styleClass="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
										<h:outputText styleClass="fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
										<h:outputText styleClass="fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
										<h:outputText title="RED" styleClass="fa fa-user" rendered="#{c.tipoRubrica eq 'RED'}" />
									</p:column>

									<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" sortBy="#{c.denominazione}">
										<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} " title=" #{c.denominazione} " />
									</p:column>
 
									<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
										<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} " title=" #{c.aliasContatto} " />
									</p:column>

									<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mail}">
										<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}" />
									</p:column>

									<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mailPec}">
										<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}" />
									</p:column>

									<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" sortBy="#{c.indirizzo}"> 
										<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
									</p:column>

								</p:dataTable>
							</p:tab>
							<p:tab title="Ricerca">
					        	<ui:include src="documentManagerDataRicercaContatto.xhtml"/>
					        </p:tab>
					        
							<p:tab title="Gestione Contatto">
					        	<ui:include src="documentManagerDataCreaContatto.xhtml"/>
					        </p:tab>
							
							
						</p:tabView>
						
					</p:outputPanel> 
					<div class="buttonsDiv generic_textAlignRight">
						<p:commandButton widgetVar="closeBtnMitt" value="Chiudi" title="Chiudi" icon="fa fa-times" update="@form:preferitoTabV:idCreaContatto_DMDCC, wdgPreferitiTableMitt_DMD " onclick="PF('wdgCercaPreferitoMitt').hide();PF('mittentePref_WV').clearFilters();" actionListener="#{DocumentManagerBean.inizializzaTab}" styleClass="uniqueCloseButton"/>
					</div>
				</p:dialog>
				
				
				
<!-- 				PREFERITI MITTENTE END -->
			</div>
				
			
			<div class="ui-g-2">
				<p:outputLabel id="indirizzoEmailOlID" for="mailOnTheFlyIT" value="Indirizzo Email" styleClass="generic_textBold" />
				<h:outputText styleClass="fa fa-info" title="Indirizzo email del contatto " style="margin-left:5px;" />
			</div>
			<div class="ui-g-4 ui-fluid" style="padding-left:0px;padding-top: 0px;" >
				<div class="ui-g-8 ui-fluid"> 
					<p:remoteCommand global="false" async="true" name="updateDestinatarioPecPeoMitt" process="@this,@form:idMittentePnl_DMD,@form:idTipoEmail, @form:mailOnTheFlyIT,  @form:infobtnMittente_DMD" update="@this,@form:idMittentePnl_DMD,@form:idTipoEmail, @form:mailOnTheFlyIT,  @form:infobtnMittente_DMD" />
					<p:inputText styleClass="ui-fluid obbligatorio" onchange="changeMailAndCreateOnTheFly();updateDestinatarioPecPeoMitt();" widgetVar="mailSelectedOnTheFlyMittWV" id="mailOnTheFlyIT" value="#{DocumentManagerBean.detail.mittenteContatto.mailSelected}" disabled="#{DocumentManagerBean.detail.mittenteContatto.aliasContatto eq null or (!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo))}"/>
				</div>
				<div class="ui-g-3 ui-fluid">
				<p:selectOneMenu id="idTipoEmail" styleClass="obbligatorio" disabled="#{(DocumentManagerBean.detail.mittenteContatto.aliasContatto eq null or (!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo))) and !DocumentManagerBean.detail.abilitaIlContattoOnTheFlyDaProt}" value="#{DocumentManagerBean.detail.mittenteContatto.tipologiaEmail}">
						<p:ajax event="change" update="@this,mailOnTheFlyIT" listener="#{DocumentManagerBean.onChangeTipoEmailMittente}"/>
						<f:selectItems value="#{TipologiaIndirizzoEnum.ALL_ENUM_VALUES}" var="f" itemValue="#{f.tipologiaEmail}" itemLabel="#{f.tipologiaEmail}" />
				</p:selectOneMenu>
				</div>
				<div class="ui-g-1 ui-fluid" style="padding-right: 0px;"> 
				 	<p:commandButton title="Richiedi creazione o modifica contatto"  id="gestContBtnID" icon="fa fa-user" disabled="#{!DocumentManagerBean.creaORichiediCreazioneFlag or !DocumentManagerBean.detail.modificabile or DocumentManagerBean.detail.mittenteContatto.aliasContatto eq null}" actionListener="#{DocumentManagerBean.richiediCreazioneContOnTheFlyMittente}" oncomplete="PF('wdgCercaPreferitoMitt').show()" process="@form:idMittenteAuto_DMD,@form:mailOnTheFlyIT,@form:idTipoEmail,@form:creaOnTheFlyID" update="@form:mailOnTheFlyIT,@form:idOrlyPnlMittForm_DMD,@form:creaOnTheFlyID"/>
				</div>
			</div>
			 
			<p:inputText id="creaOnTheFlyID" widgetVar="creaOnTheFlyWV" styleClass="generic_prop_hidden" value="#{DocumentManagerBean.detail.mittenteContatto.onTheFly}"/>
		</p:outputPanel>
		
		<!-- INFO FLUSSO -->
		<p:outputPanel rendered="#{DocumentManagerBean.detail.descFlusso != null}" styleClass="ui-g-12 generic_centra generic_padding0 generic_margin0" id="idInfoFlussoPnl_DMD">
			
			<div class="ui-g-2">
				<p:outputLabel for="idFlusso_DMD" value="Flusso" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-3 ui-fluid">
				<p:inputText id="idFlusso_DMD" readonly="true" value="#{DocumentManagerBean.detail.descFlusso}" />
			</div>
			
			<div class="ui-g-1"><!-- VUOTO --></div>
			
			<div class="ui-g-2">
				<p:outputLabel for="idProcedimento_DMD" value="Procedimento" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-4 ui-fluid">
				<p:inputText id="idProcedimento_DMD" readonly="true" value="#{DocumentManagerBean.detail.idProcedimento}" />
			</div>

		</p:outputPanel>
		
		<!-- DESTINATARI START -->
		<p:outputPanel id="idDestinatariPanel_DMD" rendered="#{DocumentManagerBean.documentManagerDTO.destinatariVisible}" styleClass="ui-g-12 generic_centra generic_padding0 generic_margin0">
			<div class="ui-g-1">
				<p:outputLabel value="Destinatari" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar generic_textBold"/>
			</div>
			<div class="ui-g-11 generic_textAlignRight generic_padding0 generic_margin0">
				<p:commandButton icon="fa fa-plus" actionListener="#{DocumentManagerBean.aggiungiDestinatario}"
					update="idDestinatari_DMD" title="Aggiungi Nuovo Destinatario" disabled="#{!DocumentManagerBean.detail.modificabile or DocumentManagerBean.detail.isModalitaRegistroRepertorio}"/>
				 					
				<p:commandButton id="wdgCercaPreferitoBtn" ajax="true" icon="fa fa-leanpub" action="#{DocumentManagerBean.openRubricaPreferiti}"  
					 update="preferitoTabV" title="Apri Rubrica" process="preferitoTabV, @form:idDocumentManagerContent_DMD" onstart="PF('wdgCercaPreferito').hide();" oncomplete="PF('wdgCercaPreferito').show();" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
				<p:commandButton id="wdgPulisciDestinatariBtn" ajax="true" icon="fa fa-eraser" action="#{DocumentManagerBean.pulisciTabellaDestinatari}" update="idDestinatari_DMD" title="Pulisci Destinatari" disabled="#{!DocumentManagerBean.detail.modificabile}" oncomplete="aggiornaDimensioneContent();"/>
				
				<p:dialog id="wdgPreferitiTable_DMD" header="Rubrica" widgetVar="wdgCercaPreferito" position="center"
					showEffect="fade" hideEffect="fade" appendTo="@form" resizable="false" closable="true" 
					modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCercaPreferito')">
					<p:tabView id="preferitoTabV" widgetVar="preferitoTabV" styleClass="generic_width1200px">
						<p:tab title="Destinatario" rendered="#{DocumentManagerBean.scegliContattoRifStorico and !DocumentManagerBean.onlyCreazioneContattoRifStorico}">
								<p:dataTable widgetVar="contattiVerificaRifStoricoTbl_WV" id="contattiVerificaRifStoricoTbl" var="contatto" value="#{DocumentManagerBean.contattiVerificaRifStorico}" rowKey="#{contatto.contattoID}" 
									styleClass="dataTable" paginator="true" paginatorPosition="bottom" rows="5" sortMode="multiple" emptyMessage="Nessun contatto"   
									paginatorAlwaysVisible="false" filterDelay="#{SessionBean.preferenze.autocompleteDelay}"
									paginatorTemplate="TOT : #{fn:length(DocumentManagerBean.contattiVerificaRifStorico)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">  
						      	<p:column headerText="Rubrica" sortBy="#{contatto.tipoRubrica}" filterBy="#{contatto.tipoRubrica}" filterMatchMode="contains" width="8%" styleClass="generic_textAlignCenter">
							        <h:outputText value="#{contatto.tipoRubrica}" title="#{contatto.tipoRubrica}"/>
						        </p:column>
						        
					  			<p:column headerText="Descrizione/Alias" sortBy="#{contatto.aliasContatto}" filterBy="#{contatto.aliasContatto}" filterMatchMode="contains" styleClass="generic-cell-wordbreak">
							       <h:outputText value="#{DocumentManagerBean.getShortColumn(contatto.aliasContatto, 120)}" title="#{contatto.aliasContatto}"/>
						        </p:column>
						        
						        <p:column headerText="Tipo Contatto" sortBy="#{contatto.tipoPersona}" filterBy="#{contatto.tipoPersona}" filterMatchMode="contains" styleClass="generic_textAlignCenter" width="12%">
							        <h:outputText value="#{contatto.tipoPersona}" title="#{contatto.tipoPersona}"/>
						        </p:column>
						        
								<p:column headerText="Nome" sortBy="#{contatto.nome}" filterBy="#{contatto.nome}" filterMatchMode="contains" styleClass="generic-cell-wordbreak" width="18%">
							        <h:outputText value="#{DocumentManagerBean.getShortColumn(contatto.nome, 75)}" title="#{contatto.nome}"/>
						        </p:column>
						        
						        <p:column headerText="Cognome" sortBy="#{contatto.cognome}" filterBy="#{contatto.cognome}" filterMatchMode="contains" styleClass="generic-cell-wordbreak" width="18%">
							        <h:outputText value="#{DocumentManagerBean.getShortColumn(contatto.cognome, 75)}" title="#{contatto.cognome}"/>
						        </p:column>
						        
						        <p:column headerText="Azioni" styleClass="generic_textAlignCenter"  width="12%">
							        <p:outputPanel id="operazioni_contattiVerificaRifStoricoTbl" styleClass="buttonsDiv buttonsLayout">
							        	<p:commandButton icon="fa fa-plus" ajax="true" actionListener="#{DocumentManagerBean.addMittenteProtocolla(contatto.contattoID)}" 
									        	title="Aggiungi" update="@form:protocollaMail_oPnl, @form:docInEntrataProtocolla, @form:scegliContattoProtocollaScrlPnl" oncomplete="aggiornaDimensioneContent();"  
									        	process="@this" rendered="#{DocumentManagerBean.scegliContattoRifStorico}"/>
										
										<p:commandButton icon="fa fa-pencil" ajax="true"
												actionListener="#{DocumentManagerBean.modificaDestinatario(contatto,2)}"
												title="Modifica" disabled="#{contatto.disabilitaElemento}"
												rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica and contatto.tipoRubrica eq 'RED'}"
												update="@form:idMittenteMailPrefTabs_DMD" process="@this" />
										
										<p:commandButton id="infoBtn" icon="fa fa-info" type="button" title="info" disabled="#{contatto.onTheFly eq 1}">
								        	<p:overlayPanel id="infoPnl_contattiVerificaRifStoricoTbl" for="infoBtn" hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right top" at="right bottom" >
								        		<custom:panelInfoContatto contatto="#{contatto}" bean="#{DocumentManagerBean}"/>
												<iframe title="Frame documento" class="cover" src="about:blank"></iframe>
								        	</p:overlayPanel>
								        </p:commandButton>
									</p:outputPanel>
								</p:column>
							</p:dataTable>
						</p:tab>
						<p:tab title="Rubrica Ufficio" disabled="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio}" rendered="#{!DocumentManagerBean.onlyCreazioneContattoRifStorico}">
							<p:dataTable value="#{DocumentManagerBean.documentManagerDTO.contattiPreferitiFiltered}" var="c" paginatorAlwaysVisible="false" emptyMessage="Nessun contatto preferito" widgetVar="contattiPreferiti_WV" id="contattiPreferitiTbl" rows="5" rowsPerPageTemplate="5,10,15" paginatorTemplate="TOT : #{fn:length(DocumentManagerBean.documentManagerDTO.contattiPreferitiFiltered)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" paginatorPosition="bottom" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
								<p:column headerText="Azioni" styleClass="textAlignCenter generic_width10">
									<p:commandButton id="menuRubricaDestBtn" type="button" icon="fa fa-ellipsis-v" />
									<p:menu overlay="true" trigger="menuRubricaDestBtn" my="left top" at="left bottom" style="width: 15%;">
										<p:submenu label="Azioni" styleClass="hiddenBackground">
											<p:separator></p:separator>
											<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addDestinatarioEsterno(c.contattoID)}" title="Aggiungi" value="Aggiungi" disabled="#{c.disabilitaElemento}" update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" rendered="#{c.tipoRubrica ne 'GRUPPO'}" oncomplete="aggiornaDimensioneContent();" />
											<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addContattiGruppo(c)}" title="Aggiungi Destinatari" value="Aggiungi Destinatari" disabled="#{c.disabilitaElemento}" process="@this" update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" rendered="#{c.tipoRubrica eq 'GRUPPO'}" oncomplete="aggiornaDimensioneContent();" />
											<p:menuitem icon="fa fa-pencil" ajax="true" action="#{DocumentManagerBean.modificaDestinatario(c,3)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED'}" update="@form:preferitoTabV" />
											<p:menuitem icon="fa fa-eye" id="infoBtnGruppo" title="Ispeziona gruppo" value="Ispeziona gruppo" actionListener="#{DocumentManagerBean.ricercaContattiNelGruppo(c)}" oncomplete="PF('contattiNelGruppoWV').show();" rendered="#{c.tipoRubrica eq 'GRUPPO'}" update="idDettagliEstesiForm:preferitoTabV:panelContattiGruppoDMD" />
											<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{DocumentManagerBean.eliminaContatto(c,false)}" title="Elimina" value="Elimina" rendered="#{c.tipoRubrica eq 'RED' and DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" update="idDettagliEstesiForm:preferitoTabV" />
											<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica eq 'RED' and !DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show()" actionListener="#{DocumentManagerBean.impostaContattoDaEliminare}" process="@this" update="idDettagliEstesiForm:preferitoTabV:panelContattiGruppoDMD"/>
										</p:submenu>
									</p:menu>

								</p:column>
								<p:column headerText="Tipo Elemento" styleClass="generic_textAlignCenter" sortBy="#{c.tipoRubrica}" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" rendered="#{DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita}" width="10%">
									<h:outputText title="GRUPPO" styleClass="fa fa-group" rendered="#{c.tipoRubrica eq 'GRUPPO'}"/>

									<h:outputText styleClass="fa fa-user" rendered="#{c.tipoRubrica eq 'RED' or c.tipoRubrica eq 'MEF'}" title="#{c.tipoRubrica eq 'RED' ? 'RED' : 'MEF'}" />
									<h:outputText styleClass="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
									<h:outputText styleClass="fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
									<h:outputText styleClass="fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
								</p:column>
								
								<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" sortBy="#{c.denominazione}">
									<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} "  title=" #{c.denominazione} " />
								</p:column>
								<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
									<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} " title=" #{c.aliasContatto} "/>
								</p:column>
								<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mail}">
									<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}"/>
								</p:column>
								<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" sortBy="#{c.mailPec}">
									<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}"/>
								</p:column>							
								<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" sortBy="#{c.indirizzo}">
									<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
								</p:column>
							</p:dataTable>
									<!-- COMPONENT VI -->
									
				        </p:tab>
				        <p:tab title="Destinatari Interni" rendered="#{!DocumentManagerBean.onlyCreazioneContattoRifStorico and !DocumentManagerBean.scegliContattoRifStorico}" >
				        	<div class="dmd-tree-panel generic_textAlignLeft">
<!-- 				        	oncomplete="PF('wdgCercaPreferito').hide()" -->
					        	<p:tree value="#{DocumentManagerBean.rootOrganigrammaComune}" var="node"
									selectionMode="single" styleClass="dmd-tree " dynamic="true">
									<p:ajax event="expand" update="@this" listener="#{DocumentManagerBean.onOpenTreeComune}" />
							        <p:ajax event="select" update="@form:idDestinatari_DMD, @form:idTabs_DMD:idMomentoProtocollazione_DMD" 
							        	listener="#{DocumentManagerBean.onSelectTreeDestinatari}" onsuccess=""/>
							        	
									<p:treeNode>
										<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
										<h:outputText rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}"/>
										
										<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
										<h:outputText rendered="#{node.idUtente ne null}" value="#{node.cognomeUtente}"/>
										<h:outputText rendered="#{node.idUtente ne null}" value="#{node.nomeUtente}" styleClass="dmd-distance"/>
									</p:treeNode>
									
								</p:tree>
				        	</div>
				        </p:tab>
				        <p:tab title="Ricerca" disabled="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio}"  rendered="#{!DocumentManagerBean.onlyCreazioneContattoRifStorico}" >
				        	<ui:include src="documentManagerDataRicercaContatto.xhtml"/>
				        </p:tab>
				        <p:tab title="Gestione Contatto" disabled="#{DocumentManagerBean.detail.isModalitaRegistroRepertorio}"  >
				        	<ui:include src="documentManagerDataCreaContatto.xhtml"/>
				        </p:tab>
				    </p:tabView>
			        <div class="buttonsDiv generic_textAlignRight">
						<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" onclick="PF('contattiPreferiti_WV').clearFilters();PF('wdgCercaPreferito').hide();" 
							styleClass="uniqueCloseButton" actionListener="#{DocumentManagerBean.clearContattoandHideModifica()}" update="wdgPreferitiTable_DMD" process="@this"/>
					</div>
					
			    </p:dialog>
			        
			</div>
			
			<div class="ui-g-12 generic_padding0">
				<p:remoteCommand name="refreshTabSpedizioneFromAutocompleteName" id="refreshTabSpedizioneFromAutocomplete" update="@form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD, @form:idDimensioneContent"></p:remoteCommand>	
				<p:dataTable var="d" value="#{DocumentManagerBean.destinatariInModifica}" rowIndexVar="index"
					id="idDestinatari_DMD" styleClass="generic_tableWidth100" 
					scrollable="true" paginatorAlwaysVisible="false" emptyMessage="Nessun destinatario."
					rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" filterDelay="#{SessionBean.preferenze.autocompleteDelay}">
					
					<p:column headerText="Destinatario" styleClass="generic_textAlignCenter">
						<p:panelGrid columns="1" columnClasses="ui-grid-col-12 ui-fluid" styleClass="pnlgrid_noborder">
						<p:remoteCommand name="remoteUpdateDestinatariAutocomplete" actionListener="#{DocumentManagerBean.updateDataTable}" process="@this" update="@this,@form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" global="false" async="true" oncomplete="aggiornaDimensioneContent();"/>
						<p:autoComplete widgetVar="autocompleteDestWidget${index}" value="#{DocumentManagerBean.destinatariInModifica[index]}" onblur="remoteUpdateDestinatariAutocomplete()"
								completeMethod="#{DocumentManagerBean.caricaRubricaDestinatari}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}"
								var="contattoToSelected" minQueryLength="0" 
								itemLabel="#{contattoToSelected.contatto.aliasContatto}" maxResults="12"
								itemValue="#{contattoToSelected.identificativo}" styleClass="dmd-input-autocomplete-width80 disableTabAutocompleteDestinatario"
								converter="destinatarioConverter" disabled="#{!DocumentManagerBean.detail.modificabile or (TipologiaDestinatarioEnum.INTERNO eq d.tipologiaDestinatarioEnum) or d.nonModificabile or DocumentManagerBean.detail.isModalitaRegistroRepertorio}">
								<p:ajax event="itemSelect" listener="#{DocumentManagerBean.checkDestinatariInterni}" update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD, @form:idDimensioneContent" process="@form:idTabs_DMD:idTabSpedizioneContainer_DMD"/>
					
								<f:attribute name="rowIndex" value="#{index}"/>
								<p:column headerText="Alias/Descrizione" >
									<h:outputText value="#{contattoToSelected.contatto.aliasContatto}"/>
								</p:column>
								<p:column headerText="PEO" >
									<h:outputText value="#{contattoToSelected.contatto.mail}"/>
								</p:column>
								<p:column headerText="PEC" >
									<h:outputText value="#{contattoToSelected.contatto.mailPec}"/>
								</p:column>
							</p:autoComplete>
						</p:panelGrid>
					</p:column>
					
					<p:column headerText="Interno/Esterno" styleClass="generic_textAlignCenter generic_width10" id="internoEsternoCol">
						<p:selectOneButton value="#{d.tipologiaDestinatarioEnum}" disabled="#{d.contatto ne null or DocumentManagerBean.detail.isModalitaRegistroRepertorio}" rendered="#{d ne null}">
							<p:ajax listener="#{DocumentManagerBean.manageDialogPreferitiInternoEsterno(index)}" update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" oncomplete="aggiornaDimensioneContent();"/>
							<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboTipologiaDestinatari}" 
								var="ctd" itemLabel="#{ctd.tipologia}"/>
						</p:selectOneButton>
					</p:column>
					
					<p:column headerText="Mezzo di spedizione" styleClass="generic_textAlignCenter" filterable="true" id="mezzodiSpedCol">
						<p:selectOneMenu styleClass="generic_input80" value="#{d.mezzoSpedizioneEnum}" disabled="#{!DocumentManagerBean.detail.modificabile or d.nonModificabile}" 
							rendered="#{d ne null and d.mezzoSpedizioneVisible}">
							<p:ajax event="change" update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD, tipoDestinatarioCol, mailDestCol" oncomplete="aggiornaDimensioneContent();" 
								listener="#{DocumentManagerBean.onChangeDestinatarioMezzoSpedizione}" process="@this, @form:oggetto_DMD, @form:idTabs_DMD"/>
							<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboMezziSpedizione}" 
								var="cms" itemValue="#{cms}" itemLabel="#{DocumentManagerBean.elettronicoViaSistemaAusiliarioNPS ? 'Elettronico via '.concat(DocumentManagerBean.sistemaAusiliarioNPS) : cms}"/>
						</p:selectOneMenu>
					</p:column>
					
					<p:column headerText="Mail" id="mailDestCol" styleClass="generic_textAlignCenter" filterable="true" >
						<p:remoteCommand global="false" async="true" name="updateDestinatarioPecPeo#{index}" process="@form:idDestinatari_DMD:@row(#{index}),@form:idTabs_DMD:idTabSpedizioneContainer_DMD" update="@form:idDestinatari_DMD,@form:idTabs_DMD:idTabSpedizioneContainer_DMD, @form:idDimensioneContent" />
						<p:inputText onchange="changeMailDestinatarioAndCreateOnTheFly(#{index});updateDestinatarioPecPeo#{index}();" widgetVar="mailSelectedOnTheFlyWV" id="mailSelectedOnTheFlyID" value="#{d.contatto.mailSelected}" rendered="#{d.mezzoSpedizioneEnum eq MezzoSpedizioneEnum.ELETTRONICO}" style="width:55%; float: left;" onkeyup="updateMailTabSpedizione();" disabled="#{!DocumentManagerBean.detail.modificabile or d.nonModificabile}"/>
						
						<p:selectOneMenu value="#{d.contatto.tipologiaEmail}" style="width:20%; float: right;" rendered="#{d.mezzoSpedizioneEnum eq MezzoSpedizioneEnum.ELETTRONICO and ((not empty d.contatto.mailPec or not empty d.contatto.mail) or d.contatto.campoEmailVisible)}" disabled="#{!DocumentManagerBean.detail.modificabile or d.nonModificabile}" styleClass="generic_input80" panelStyleClass="hideDisabled" >
							<p:ajax event="change" listener="#{DocumentManagerBean.onChangeTipoEmailDestinatari(d.contatto)}" update="@this,mailSelectedOnTheFlyID, @form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD, tipoDestinatarioCol" process="@this, @form:oggetto_DMD, @form:idTabs_DMD" oncomplete="aggiornaDimensioneContent();"/>
							<f:selectItems value="#{TipologiaIndirizzoEnum.ALL_ENUM_VALUES}" var="f" itemValue="#{f.tipologiaEmail}" itemLabel="#{f.tipologiaEmail}" />
						</p:selectOneMenu>
						
						<p:inputText rendered="#{d.mezzoSpedizioneEnum eq MezzoSpedizioneEnum.ELETTRONICO}" id="creaOnTheFlyDestID" widgetVar="creaOnTheFlyDestWV" styleClass="generic_prop_hidden" value="#{d.contatto.onTheFly}" style="width: 0%;"/>
						<p:inputText rendered="#{d.mezzoSpedizioneEnum eq MezzoSpedizioneEnum.ELETTRONICO}" id="sbiancaTipPersonaID" widgetVar="sbiancaTipPersonaWV" styleClass="generic_prop_hidden" value="#{d.contatto.sbiancaTipologiaPersona}" style="width: 0%;"/>
					</p:column>
 
					<p:column id="tipoDestinatarioCol" headerText="Tipo destinatario" filterable="true" styleClass="generic_textAlignCenter generic_width10">
						<p:selectOneButton unselectable="false" value="#{d.modalitaDestinatarioEnum}" disabled="#{d.mezzoSpedizioneEnum eq MezzoSpedizioneEnum.CARTACEO or !DocumentManagerBean.detail.modificabile or d.nonModificabile}" rendered="#{d ne null and d.tipologiaDestinatarioEnum == TipologiaDestinatarioEnum.ESTERNO}">
							<p:ajax update="@this, @form:idDestinatari_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" oncomplete="aggiornaDimensioneContent();" />
							<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboModalitaDestinatario}" var="t" itemLabel="#{t.label}"/>
						</p:selectOneButton>
					</p:column>
					
					<p:column  headerText="Azioni" styleClass="generic_textAlignCenter generic_width120px" id="azioniCol">
						<p:commandButton id="infobtnCol" disabled="#{empty DocumentManagerBean.destinatariInModifica[index].contatto.aliasContatto or (DocumentManagerBean.destinatariInModifica[index].contatto.contattoID == null or DocumentManagerBean.destinatariInModifica[index].contatto.onTheFly == 1)}" update="@form:idWdgDetailDestinatario_DMD" 
							oncomplete="PF('wdgDetailDestinatario').show('#{component.clientId}')" process="@this, @form:idTabs_DMD"
							icon="fa fa-info" title="Dettaglio contatto" action="#{DocumentManagerBean.selectDestinatarioDaVisualizzare(index)}" ajax="true"  rendered="#{d ne null}">
			            </p:commandButton>						

						<p:commandButton icon="fa fa-close" update="@form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD" oncomplete="aggiornaDimensioneContent();"
							process="@this, @form:oggetto_DMD, @form:idTabs_DMD" disabled="#{!DocumentManagerBean.detail.modificabile or d.nonModificabile}"
							action="#{DocumentManagerBean.eliminaDestinatario(index)}" ajax="true" rendered="#{d ne null}" title="Rimuovi destinatario"/>
							
						<p:commandButton icon="fa fa-eraser" update="@form:idDestinatari_DMD, @form:idTabs_DMD, @form:idTabs_DMD:idTabSpedizioneContainer_DMD, @form:idDimensioneContent"
							process="@this, @form:oggetto_DMD, @form:idTabs_DMD" disabled="#{!DocumentManagerBean.detail.modificabile}"
							action="#{DocumentManagerBean.deleteGruppoDaSingoloContatto(d.contatto)}" ajax="true" rendered="#{d ne null and d.contatto.idGruppoSelected ne null and d.contatto.onTheFly ne 1}" title="Cancella intero gruppo #{d.contatto.nomeGruppoSelected}"/>
							
						 	
						<p:commandButton title="Richiedi creazione o modifica contatto" id="richiediCreazioneContOnTheFlyID" icon="fa fa-user" disabled="#{DocumentManagerBean.destinatariInModifica[index].contatto eq null or !DocumentManagerBean.detail.modificabile or d.nonModificabile or (TipologiaDestinatarioEnum.INTERNO eq d.tipologiaDestinatarioEnum)}" actionListener="#{DocumentManagerBean.richiediCreazioneContOnTheFlyDestinatario(index)}" oncomplete="PF('wdgCercaPreferito').show();" process="@form:idDestinatari_DMD" update="@form:preferitoTabV"/>
					</p:column>

				</p:dataTable>
				<p:overlayPanel id="idWdgDetailDestinatario_DMD" widgetVar="wdgDetailDestinatario" dismissable="true" showCloseIcon="false"
					my="right top" at="right bottom" styleClass="generic_width19 biggerPanel" >
					
					<custom:panelInfoMittenteDestinatario contatto="#{DocumentManagerBean.contattoDaVisualizzare}" bean="#{DocumentManagerBean}" />
					<iframe title="Frame documento" class="cover" src="about:blank"></iframe>
				</p:overlayPanel>
			</div>

		</p:outputPanel>
		<!-- 				DESTINATARI END -->
		
		
		
		<!-- OGGETTO START -->
		<div class="ui-g-12">
				<p:outputLabel for="oggetto_DMD" value="Oggetto" styleClass="generic_textBold"/>
				<p:outputLabel for="oggetto_DMD" value="*" class="generic_redStar generic_textBold"/>
				<p:commandButton disabled="#{!DocumentManagerBean.detail.modificabile}" id="idUppercaseBtn_DMD" actionListener="#{DocumentManagerBean.upperOggetto}" update="@form:oggetto_DMD " oncomplete="updateNomeFascicolo();" icon="fa fa-text-height" title="maiuscolo" style="margin-top:0.05em; margin-left:1em" styleClass="ui-button-icon-only ui-corner-all"></p:commandButton>
		</div>
		<div class="ui-g-12 generic_padding0 generic_margin0 ui-fluid">
			<p:inputTextarea rows="6" id="oggetto_DMD" styleClass="classeCopiaIncolla obbligatorio bk-lightYellowImp" value="#{DocumentManagerBean.detail.oggetto}" onkeyup="updateNomeFascicolo();" 
				widgetVar="wdgOggetto_DMD" disabled="#{!DocumentManagerBean.detail.modificabile and (!DocumentManagerBean.detail.modificaMetadatiMinimi or !DocumentManagerBean.detail.haWKFAttivo)}"/>
		</div>
		<!-- OGGETTO END -->

		<!-- RIGA CHECKBOXES START 			 -->
		<div class="#{(DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.detail.dataScarico != null)? 'ui-g-4': 'ui-g-8'}">
		
	        <p:selectBooleanCheckbox itemLabel="Riservato" value="#{DocumentManagerBean.documentManagerDTO.riservato}" disabled="#{!DocumentManagerBean.detail.modificabile or  !(DocumentManagerBean.detail.riservatoAbilitato or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inCreazioneUscita)}" >
	       			 <p:ajax update="estendiVisIdCheck" />
	        </p:selectBooleanCheckbox>
			<p:commandButton id="idInfoRiservatezzaBtn_DMD" type="button" icon="fa fa-info" styleClass="dmd-btn-riservato-info" title="Premere per informazioni"/>
		    <p:overlayPanel for="idInfoRiservatezzaBtn_DMD" hideEffect="fade">
		        <ul class="ui-g-12 generic_margin0">
		        	<li>Senza spunta (livello pubblico): Il documento sarà visibile a tutti gli utenti coinvolti nel procedimento e agli uffici di gerarchia superiore.</li>
		        	<li>Con la spunta (livello riservato): Il documento sarà visibile solo agli utenti coinvolti di volta in volta nel procedimento.</li>
		        </ul>
		    </p:overlayPanel>
			<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.urgente}" disabled="#{!DocumentManagerBean.detail.modificabile}" itemLabel="Urgente"/>
			<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.tracciaProcedimento}" itemLabel="Traccia procedimento" 
				rendered="#{DocumentManagerBean.documentManagerDTO.tracciamentoVisible}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
				
			<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.integrazioneDati}" itemLabel="Integrazione Dati" 
				rendered="#{DocumentManagerBean.documentManagerDTO.integrazioneDatiVisible}" 
				disabled="#{!DocumentManagerBean.detail.modificabile}" >
				<p:ajax update="@form:idTabs_DMD:idTabDettaglioContent_DMD" 
					listener="#{DocumentManagerBean.onChangeIntegrazioneDati()}" event="change"/>
			</p:selectBooleanCheckbox>

			<!-- DA NON PROTOCOLLARE -->
    		<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.daNonProtocollare}" itemLabel="Da non protocollare" style="margin-right:-1px;"
    			rendered="#{DocumentManagerBean.documentManagerDTO.daNonProtocollareVisible}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>

			<p:selectBooleanCheckbox id="ribaltaTitolarioID" itemLabel="Titolario in Nota" value="#{DocumentManagerBean.detail.ribaltaTitolario}" rendered="#{DocumentManagerBean.ribaltaTitolarioVisible}"/>

			<!-- REGISTRO RISERVATO -->
    		<p:selectBooleanCheckbox value="#{DocumentManagerBean.detail.registroRiservato}" itemLabel="Registro riservato"
    			rendered="#{DocumentManagerBean.documentManagerDTO.registroRiservatoVisible}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
			
			<p:selectBooleanCheckbox id="estendiVisIdCheck" value="#{DocumentManagerBean.isEstendiVisibilitaChk}" itemLabel="Estendi Visibilità" disabled="#{DocumentManagerBean.documentManagerDTO.riservato}" rendered="#{DocumentManagerBean.utente.isEstendiVisibilita and DocumentManagerBean.chiamantePredisponi}" />
		</div> 
		
		<!-- DATA SCARICO -->
		<p:outputPanel styleClass="ui-g-4 generic_textAlignRight" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.detail.dataScarico != null}">
			<p:outputLabel for="dataScarico" value="Data scarico" styleClass="generic_textBold generic_marginRight" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.detail.dataScarico != null}"/>
			<p:inputText id="dataScarico" value="#{DocumentManagerBean.dataScarico}" style="opacity:1" readonly="true" disabled="true" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.detail.dataScarico != null}"/>
		</p:outputPanel>
		<div class="ui-g-4 generic_textAlignRight">
			<p:outputLabel for="scadenza" value="Data scadenza" styleClass="generic_textBold generic_marginRight" />
			<p:calendar navigator="true" id="scadenza" value="#{DocumentManagerBean.detail.dataScadenza}" showOn="button" pattern="dd/MM/yyyy" readonlyInput="true" mindate="#{DocumentManagerBean.documentManagerDTO.today}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
			<p:commandButton icon="fa fa-remove" disabled="#{!DocumentManagerBean.detail.modificabile}" actionListener="#{DocumentManagerBean.pulisciDataScadenza()}" title="pulisci campo" style="margin-top:0.05em;" styleClass="ui-button-icon-only ui-corner-all" update="@form:scadenza" process="@form:scadenza" />
		</div>
		
		<p:outputPanel styleClass="generic_textAlignRight" id="idDimensioneContent" style="float:right;margin:6px;">
			<p:outputLabel rendered="#{!DocumentManagerBean.showMaxContent and DocumentManagerBean.detail.maxSizeContent ne null}" value="Dimensione : #{DocumentManagerBean.detail.sizeContent} \ #{DocumentManagerBean.detail.maxSizeContent} Mb" title="Dimensione totale di documento ed allegati" styleClass="generic_paddingLeft9px"/>
		</p:outputPanel>
		
		<!-- RIGA CHECKBOXES END -->

		<div class="ui-g-12 generic_padding0">
			<p:remoteCommand name="reloadTabDocumenti" action="#{DocumentManagerBean.reloadTabDocumenti}" async="true" update="@form:idTabs_DMD"/>
			<p:tabView styleClass="generic_borderTabs" id="idTabs_DMD" widgetVar="wdgTabs_DMD" 
			 onTabShow="handleOnTabShow('wdgTabs_DMD', 'Documenti', reloadTabDocumenti); #{DocumentManagerBean.storico.javascriptStandalone}">
				
				<p:tab title="Dettaglio">
					<ui:include src="documentManagerDataTabDettaglio.xhtml"/>
				</p:tab>
				<p:tab id="tabMetadatiEstesi" title="Attributi Estesi" rendered="#{not empty DocumentManagerBean.detail.metadatiEstesi}">
					<ui:include src="documentManagerDataTabMetadatiEstesi.xhtml"/>
				</p:tab>
				<p:tab title="Assegnazioni" disabled="#{DocumentManagerBean.documentManagerDTO.tabAssegnazioniDisabled}">
					<ui:include src="documentManagerDataTabAssegnazioni.xhtml"/>
				</p:tab>
				<p:tab title="Allegati" id="idTabAllegati_DMD">
					<red:documentManagerDataTabAllegati bean="#{DocumentManagerBean.tabAllegati}" allaccio="#{DocumentManagerBean.allegatiDaAllacciInitializer}" />
				</p:tab>
				<p:tab title="Fascicoli">
					<ui:include src="documentManagerDataTabFascicoli.xhtml"/>
				</p:tab>
				<p:tab title="Approvazioni" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.approvazioniTab ne null and DocumentManagerBean.documentManagerDTO.isInModificaUscita()}" disabled="#{not DocumentManagerBean.approvazioniTab.stampigliabile}">
					<ui:include src="documentManagerDataTabApprovazioni.xhtml"/>
				</p:tab>
				<p:tab title="Contributi" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica}">
					<ui:include src="documentManagerDataTabContributi.xhtml"/>
				</p:tab>
				<p:tab title="Documenti" rendered="#{DocumentManagerBean.detail.documentTitle != null}" id="idTabDocumenti_DMD">
					<red:documentManagerDataTabDocumenti id="idTabDocumentiPanel_DMDTD" bean="#{DocumentManagerBean.versioniAllegato}"/>
				</p:tab>
				<p:tab title="Faldone" id="idTabFaldoni_DMD">
					<ui:include src="documentManagerDataTabFaldoni.xhtml"/>
				</p:tab>
				<p:tab id="idTabSpedizione_DMD" title="Spedizione"
					rendered="#{DocumentManagerBean.documentManagerDTO.tabSpedizioneVisible}" 
					disabled="#{DocumentManagerBean.tabSpedDisabled}">
					<ui:include src="documentManagerDataTabSpedizione.xhtml"/>
				</p:tab>
				<p:tab title="Trasmissione"
					rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.trasmissioneTab ne null and DocumentManagerBean.trasmissioneTab.documentoProtocollato}">
					<red:trasmissioneDettaglio bean="#{DocumentManagerBean.trasmissioneTab.trasmissione}" downloader="#{DocumentManagerBean.trasmissioneTab}"/>
				</p:tab>
				<p:tab title="Storico" rendered="#{DocumentManagerBean.storico ne null and DocumentManagerBean.documentManagerDTO.inModifica}">
					<red:dettaglioDocumentoTabStorico bean="#{DocumentManagerBean.storico}"/>
				</p:tab>
				<p:tab id="idSiebel" title="Siebel" rendered="#{DocumentManagerBean.documentManagerDTO.hasRdsSiebel()}">
					<ui:include src="documentManagerDataTabSiebel.xhtml"/>
				</p:tab>
				<p:tab title="Storico note" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica and SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.MULTI_NOTE)}" >
					<ui:include src="documentManagerDataTabStoricoNote.xhtml"/>
				</p:tab>
				 
			</p:tabView>
		</div>

		<p:outputPanel id="idActionManagerPanel" styleClass="ui-g-12 generic_textAlignRight dmd-marginBottom">
			<p:commandButton id="idVisAnteprima" disabled="#{((DocumentManagerBean.mainDocForSignFieldPreview eq null and DocumentManagerBean.detail.nomeFile == null) and (empty DocumentManagerBean.tabAllegati.allegati)) or (SessionBean.utente.gestioneApplicativa)}" 
				 rendered="#{DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or (DocumentManagerBean.documentManagerDTO.inModificaUscita and  DocumentManagerBean.detail.visualizzaAnteprimBtn)}" 
				 icon="fa fa-file-pdf-o" value="Anteprima" oncomplete="PF('dlgVisualizzaDocEAllegati').show();PF('dlgVisualizzaDocEAllegati').toggleMaximize();"
				 action="#{DocumentManagerBean.openPreviewFiles}" update="idDettagliEstesiForm:visualizzaDocEAllegati"/>
			<p:commandButton id="registraDocumentoBtn" action="#{DocumentManagerBean.centroValidazioni}" rendered="#{DocumentManagerBean.detail.modificabile or (DocumentManagerBean.detail.modificaMetadatiMinimi and DocumentManagerBean.detail.haWKFAttivo)}" value="Registra" title="Registra" icon="fa fa-save" 
				update="idWdgDialoConfirm_DMD, @([id$=idDetailFascRicercaRapida]), idWdgConfermaAssegnazione, idErrorMessage" onstart="PF('statusDialog').show()" process="idDocumentManagerContent_DMD"/>
		
			<p:commandButton id="chiudiDocumentoBtn_prot" widgetVar="wdgChiudiDocumentoBtn_DMD" value="Chiudi" icon="fa fa-times" title="Chiudi" onclick="chiudiDialog('dlgManageDocument_RM','dlgManageDocument','protocollaMail_WV');" 
				 styleClass="uniqueCloseButton" action="#{MailBean.sbloccaMail}" update="centralSectionForm, eastSectionForm"
				 rendered="#{SessionBean.activePageInfo eq NavigationTokenEnum.MAIL and MailBean.renderProtocolla}"/>
			<p:commandButton id="chiudiDocumentoBtn" widgetVar="wdgChiudiDocumentoBtn_DMD" value="Chiudi" icon="fa fa-times" title="Chiudi" onclick="chiudiDialog('dlgManageDocument_RM','dlgManageDocument','protocollaMail_WV');" 
				 styleClass="uniqueCloseButton" rendered="#{SessionBean.activePageInfo ne NavigationTokenEnum.MAIL or not MailBean.renderProtocolla}" action="#{DocumentManagerBean.sbloccaDocumento}"/>
		
		</p:outputPanel>
	    
	    <p:dialog showEffect="fade" hideEffect="fade" widgetVar="wdgDialoConfirm_DMD" id="idWdgDialoConfirm_DMD" appendTo="@form" width="550" closable="true" onShow="onShowForClosableDlg('wdgDialoConfirm_DMD')">
	    	<div class="ui-g ui-fluid">
	    		<div class="ui-g-12" >
	    			<h:outputText value="#{DocumentManagerBean.documentManagerDTO.dialogConfirmMessage}"/>
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Conferma" action="#{DocumentManagerBean.confermaRegistra(DocumentManagerBean.documentManagerDTO.dialogConfirmMessage)}" 
		        	icon="ui-icon-check" update="@form:idDocumentManagerContent_DMD" oncomplete="PF('wdgDialoConfirm_DMD').hide()" 
		        	disabled="#{!DocumentManagerBean.detail.modificabile}"/>	
	    		</div>
	    		<div class="ui-g-6">
	    			<p:commandButton value="Chiudi" title="Chiudi" onclick="PF('wdgDialoConfirm_DMD').hide();" icon="ui-icon-close" styleClass="uniqueCloseButton"/>
	    		</div>
	    	</div>
	    	
	    </p:dialog>
<!-- 		DIALOG CONFIRMA DELLA PROTOCOLLAZIONE 							end-->
		
		<!--   DIALOG CONFERMA ASSEGNAZIONE PER COMPETENZA DA AUTOMATISMO	-->
   	 	<p:confirmDialog id="idWdgConfermaAssegnazione" modal="true" widgetVar="wdgConfermaAssegnazione" width="550" closable="true" appendTo="@form" header="Conferma registrazione" severity="alert">
			<center>
				<p:outputLabel value="Assegnatario per competenza modificato da automatismo" />
				<br/>
				<p:outputLabel value="Assegnatario selezionato: #{DocumentManagerBean.descrAssegnatarioPerCompetenza}" />
				<br/>
				<p:outputLabel value="Assegnatario stabilito: #{DocumentManagerBean.descrAssegnatarioDaAutomatismo}" />
				<br/>
				<p:separator/>
				<p:outputLabel rendered="#{not empty DocumentManagerBean.msgPredisponi}" value="Dettagli ATTO_DECRETO" />
				<br/>
				<p:outputLabel value="#{DocumentManagerBean.msgPredisponi}" />
				
				<p:commandButton value="Conferma" icon="fa fa-save" actionListener="#{DocumentManagerBean.registra}" onclick="PF('wdgConfermaAssegnazione').hide()" 
					update="@form:idDocumentManagerContent_DMD" title="Conferma creazione documento utilizzando l'assegnatario prestabilito dall'automatismo"/>
				<p:commandButton value="Annulla" icon="fa fa-close" type="button" onclick="PF('wdgConfermaAssegnazione').hide()" />
			</center>
		</p:confirmDialog>
		<!--   DIALOG CONFERMA ASSEGNAZIONE PER COMPETENZA	END-->

		<!--   DIALOG CONFERMA EPURAZIONE CONTENT-->
		<p:confirmDialog id="idErrorMessage" modal="true" widgetVar="wdgErrorMessage" width="550" closable="true" appendTo="@form" header="Attenzione" severity="alert">
			<center>
				<div class="fa fa-fw fa-warning"/>
				<p:outputLabel value="#{DocumentManagerBean.msgPredisponi}" />
				<br/>
				<br/>
				<p:commandButton value="Conferma" icon="fa fa-save" actionListener="#{DocumentManagerBean.registra}" oncomplete="PF('wdgErrorMessage').hide()" 
					update="@form:idDocumentManagerContent_DMD" title="Conferma"/>
				<p:commandButton value="Annulla" icon="fa fa-close" type="button" onclick="PF('wdgErrorMessage').hide()" />
			</center>
		</p:confirmDialog>
		<!--   DIALOG CONFERMA EPURAZIONE CONTENT END-->
		
		
		<p:outputPanel id="idPnlProtEmrCreazione">
			<red:dlgAcqProtocolloEmergenza dto="#{DocumentManagerBean.protEm}" confirmButton="#{DocumentManagerBean.registra()}" widgetVar="wdgProtEmergenza" dlgTitle="Inserisci Protocollo di Emergenza" />
		</p:outputPanel>

		<ui:include src="dlgEsitoRegistra.xhtml"/>
		
		<p:dialog id="idDlgAvvisoEsito" modal="true" widgetVar="wdgDlgAvvisoEsito" width="550" closable="true"  header="Avviso validazione allegati"  >
			<center>
				<p:outputLabel value="#{DocumentManagerBean.msgPredisponi}" />
				<br/>
				<p:commandButton value="Conferma" icon="fa fa-close" type="button" oncomplete="PF('wdgDlgAvvisoEsito').hide()" />
			</center>
		</p:dialog>

		<p:dialog id="sbloccaDocumentoDMDDlg" widgetVar="sbloccaDocumentoDMDDlg_WV" header="Sblocca Documento" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
	 		<p:outputLabel value="Si desidera sbloccare il documento in carico all'utente #{DocumentManagerBean.nomeUtenteLockatore} ?" escape="false" styleClass="black" />
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Si" title="Si" styleClass="ui-confirmdialog-yes" actionListener="#{DocumentManagerBean.sbloccaLock}" oncomplete="PF('sbloccaDocumentoDMDDlg_WV').hide();" icon="ui-icon-check" />
				<p:commandButton value="No" title="No" styleClass="ui-confirmdialog-no" onclick="PF('sbloccaDocumentoDMDDlg_WV').hide()" icon="ui-icon-close" type="button"/>
			</p:outputPanel>
		</p:dialog>
		
		<p:dialog id="impedisciModificaDocumentoDMDDlg" widgetVar="impedisciModificaDocumentoDMDDlg_WV" header="Documento Non Modificabile" modal="true" onShow="dlgOnShow(this.jqId);" closable="false" resizable="false" appendTo="@form">
	 		<p:outputLabel value="Il documento è stato modificato dall'utente #{DocumentManagerBean.nomeUtenteLockatore}. Per effettuare la modifica occorre riaprire il dettaglio del documento." escape="false" styleClass="black" />
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Chiudi"  styleClass="ui-confirmdialog-no" onclick="PF('impedisciModificaDocumentoDMDDlg_WV').hide()" icon="ui-icon-close" type="button"/>
			</p:outputPanel>
		</p:dialog>
		
		 
	</p:outputPanel>
	<!-- ==============MANAGER DOCUMENTO DATA END ==================================================================-->
	
</ui:composition>
