<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.business.enums.MetadatoDinamicoDataTypeEnum" var="MetadatoDinamicoDataTypeEnum" allSuffix="ALL_ENUM_VALUES" />

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel styleClass="ui-g generic_centra dmd-maxHeight-tab" id="idMetadatiContent_DMD">
		<p:repeat var="md" value="#{DocumentManagerBean.detail.metadatiDinamici}">
			
			<div class="ui-g-2">
				<p:outputLabel value="#{md.displayName}" for="@next" styleClass="generic_textBold"/>
			</div>

			<div class="ui-g-4">
				<p:inputText rendered="#{md.dataTypeEnum == MetadatoDinamicoDataTypeEnum.INPUT_TEXT}"  value="#{md.valore}"  styleClass="generic_input90" maxlength="#{md.maximumLength}" disabled="#{!DocumentManagerBean.detail.modificabile}" />

				<p:calendar navigator="true" rendered="#{md.dataTypeEnum == MetadatoDinamicoDataTypeEnum.DATE}" value="#{md.valore}"  styleClass="" 
					showOn="button" pattern="dd/MM/yyyy" disabled="#{!DocumentManagerBean.detail.modificabile}" maxdate="#{md.maxDate}" readonlyInput="true" />
				<p:commandButton icon="fa fa-remove" disabled="#{!DocumentManagerBean.detail.modificabile}" rendered="#{md.dataTypeEnum == MetadatoDinamicoDataTypeEnum.DATE}" actionListener="#{DocumentManagerBean.pulisciDataMetadatoDinamico(md.chiave)}" title="pulisci campo" style="margin-top:0.05em;" styleClass="ui-button-icon-only ui-corner-all" update="@form:idTabs_DMD:idMetadatiContent_DMD"/>
				
				<p:selectBooleanCheckbox rendered="#{md.dataTypeEnum == MetadatoDinamicoDataTypeEnum.CHECKBOX}" value="#{md.valore}" disabled="#{!DocumentManagerBean.detail.modificabile}" />
				
				<p:selectOneMenu rendered="#{md.dataTypeEnum == MetadatoDinamicoDataTypeEnum.SELECT}"  styleClass="generic_input90" 
					value="#{md.valore}" disabled="#{!DocumentManagerBean.detail.modificabile}"> 
					<p:ajax update="@this" />
					<f:selectItems value="#{md.optionsList}" var="op" itemValue="#{op.value}" itemLabel="#{op.key}" />
				</p:selectOneMenu>
			</div>
			
		</p:repeat>
	
	</p:outputPanel>

</ui:composition>
