<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel styleClass="ui-g generic_centra">

		<div class="ui-g-12">
			<p:dataTable var="c" value="#{DocumentManagerBean.contributiTab.contributoList}" paginatorAlwaysVisible="false" id="pnltabellaContributiInterni_DMDTC" 
				emptyMessage="Nessun Contributo">
   			    <p:column headerText="Data" styleClass="generic_textAlignCenter generic_width65px">
			        <p:outputLabel value="#{c.data.dataContributo}"/>
			    </p:column>
			    <p:column headerText="Ufficio" styleClass="generic_textAlignCenter generic_width30">
			        <p:outputLabel value="#{c.data.descUfficio}"/>
			    </p:column>
			    <p:column headerText="Utente" styleClass="generic_textAlignCenter generic_width30">
			        <p:outputLabel value="#{c.data.descUtente}"/>
			    </p:column>
			    <p:column headerText="Testo" styleClass="generic_textAlignCenter generic_width40">
			        <p:outputLabel value="#{c.data.abstractNota}" title="#{c.data.nota}"/>
			    </p:column>
			    <p:column headerText="File" styleClass="generic_textAlignCenter generic_width40">
			        <p:outputPanel  rendered="#{c.data.guidContributo eq null and c.data.filename eq null}">
			        	-
			        </p:outputPanel>
			        <p:outputPanel  rendered="#{c.data.guidContributo ne null or c.data.filename ne null}">
			        	<p:commandButton title="Download #{c.data.filename}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
				        	<p:fileDownload value="#{DocumentManagerBean.contributiTab.getDownload(c.data)}"/>
					    </p:commandButton>
			        </p:outputPanel>
			    </p:column>
			    <p:column headerText="Azioni" styleClass="generic_textAlignCenter dtInfoCol">
			         <p:outputPanel class="ui-inputgroup" rendered="#{c.editable}">
				        <p:commandButton title="Modifica" icon="fa fa-pencil" action="#{DocumentManagerBean.contributiTab.modifica(c.data)}" 
				        	update="@form:idTabs_DMD:idTabsContributi_DMDT:pnlModificaContributo_DMDTC" oncomplete="PF('wdgModificaContributo').show()"/>
					    <p:commandButton title="Elimina" action="#{DocumentManagerBean.contributiTab.elimina(c.data)}" icon="fa fa-times" update="@namingcontainer"/>
			         </p:outputPanel>
				    <p:outputPanel rendered="#{not c.editable}">
				    	-
				    </p:outputPanel>
			    </p:column>
			</p:dataTable>
		</div>
	</p:outputPanel>	
	
	<p:dialog id="pnlModificaContributo_DMDTC" widgetVar="wdgModificaContributo" appendTo="@form" onHide="closePnlModifica()" closable="true" resizable="false"
	 	styleClass="generic_noborder generic_noborder_andson generic_maxwidth600px" modal="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgModificaContributo')" header="Modifica Contributo">
		<p:remoteCommand name="closePnlModifica" action="#{DocumentManagerBean.contributiTab.closeModificaDialog()}" update="@this @form:idTabs_DMD:idTabsContributi_DMDT:pnltabellaContributiInterni_DMDTC"/>
		<p:panel rendered="#{DocumentManagerBean.contributiTab.uploader ne null}" styleClass="generic_noborder generic_nobackground generic_padding5 generic_width400px">
			<p:outputPanel  styleClass="ui-g">
				<div class="ui-g-2">
					<p:outputLabel for="@next" value="Testo" styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-10">
					<p:inputTextarea rows="4" value="#{DocumentManagerBean.contributiTab.uploader.contributo.nota}" styleClass="generic_width97"/>
				</div>
			</p:outputPanel>
			
			<p:outputPanel id="pnlModificaContributoFile_DMDTC" class="ui-g buttonsDiv">
				<div class="ui-g-2">
					<p:outputLabel for="@next" value="File" styleClass="generic_textBold"/>
				</div>
				<div class="ui-g-10">
					<p:outputPanel styleClass="ui-inputgroup">
						<p:inputText readonly="true" value="#{DocumentManagerBean.contributiTab.uploader.removeContent ? '' : DocumentManagerBean.contributiTab.uploader.contributo.filename}" styleClass="textfield_input"/>
						<p:fileUpload
								rendered="#{DocumentManagerBean.contributiTab.uploader.removeContent}"
								fileUploadListener="#{DocumentManagerBean.contributiTab.uploader.handleMainFileUpload}"
								value="#{DocumentManagerBean.contributiTab.uploader.docPrincipale}"
								auto="true" label="Sfoglia"
								mode="advanced" skinSimple="true"
								dragDropSupport="false"
								styleClass="dmd-fileUploadNew"
								update="@parent"/>
								
						<p:commandButton icon="fa fa-times" title="Rimuovi" action="#{DocumentManagerBean.contributiTab.uploader.removeContent()}" rendered="#{not DocumentManagerBean.contributiTab.uploader.removeContent}" 
							update="@form:idTabs_DMD:idTabsContributi_DMDT:pnlModificaContributo_DMDTC:pnlModificaContributoFile_DMDTC"/>
						<p:commandButton title="Download #{DocumentManagerBean.contributiTab.uploader.removeContent ? '' : DocumentManagerBean.contributiTab.uploader.contributo.filename}" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}"
							rendered="#{(DocumentManagerBean.contributiTab.uploader.contributo.guidContributo ne null and DocumentManagerBean.contributiTab.uploader.docPrincipale eq null) and not DocumentManagerBean.contributiTab.uploader.removeContent}">
					        <p:fileDownload value="#{DocumentManagerBean.contributiTab.uploader.download}"/>
					    </p:commandButton>
					</p:outputPanel>
				</div>
			</p:outputPanel>
		
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="ui-panelgrid-blank pnlgrid_noborder">
					<p:commandButton icon="fa fa-pencil" title="Registra" value="Registra" action="#{DocumentManagerBean.contributiTab.uploader.registra()}" styleClass="generic_width100"/>
					<p:commandButton icon="fa fa-times" title="Chiudi" value="Chiudi" onclick="PF('wdgModificaContributo').hide()" styleClass="generic_width100 uniqueCloseButton"/>
			</p:panelGrid>					
		</p:panel>
	</p:dialog>

</ui:composition>
