<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:dd="http://java.sun.com/jsf/composite/custom" 
	>
	
<p:importEnum type="it.ibm.red.business.enums.AccessoFunzionalitaEnum" var="permessiEnumGridMenu"/>

<div Class="ui-g generic_centra" >
	<div class="ui-g-6">
		 <p:selectBooleanCheckbox value="#{DocumentManagerBean.storicoNote.recuperaNoteCancellate}" itemLabel="Visualizza le note eliminate"
		  rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CANCELLAZIONE_NOTE)}" >
		  <p:ajax update="@namingcontainer:idTabStoricoNoteDatatable" listener="#{DocumentManagerBean.storicoNote.reloadDocument()}" />
	  </p:selectBooleanCheckbox>
	</div>
	<div class="ui-g-6 generic_textAlignRight">
		<p:commandButton value="Inserisci nota" icon="fa fa-save" oncomplete="PF('wdgInserisciNota_DMDTSN').show()" 
		action="#{DocumentManagerBean.storicoNote.openDlgInserisci()}" update="idInserisciNota_DMDTSN" />
	</div>
	<div class="ui-g-12">
		<p:dataTable id="idTabStoricoNoteDatatable" widgetVar="wdgIdTabStoricoNoteDatatable" var="row" value="#{DocumentManagerBean.storicoNote.notaList}" emptyMessage="Nessuno storico presente"
	 	 styleClass="generic_textAlignCenter" rowStyleClass="#{row.deleted ? 'generic_ghost' : ''}" >
		
			<p:column headerText="Ufficio" >
				<h:outputText value="#{DocumentManagerBean.getShortColumn(row.descrizioneNodoOwner, 30)}" rendered="#{row.pregressoStoricoNote}"/>
			</p:column>
			
			<p:column headerText="Utente" >
				<h:outputText value="#{DocumentManagerBean.getShortColumn(row.descrizioneUtenteOwner, 30)}" rendered="#{row.pregressoStoricoNote}"/>
			</p:column>
		
			<p:column headerText="Testo note" >
				<h:outputText value="#{DocumentManagerBean.getShortColumn(row.contentNota, 30)}" />	
			</p:column>
			
			<p:column headerText="Colore">
				<h:outputText styleClass="fa fa-flag #{row.colore.color}" title="#{row.colore.descrizione}" />
			</p:column>
			
			<p:column headerText="Data/Ora Registrazione">
				<h:outputText value="#{row.dataRegistrazioneNota}" rendered="#{row.dataRegistrazioneNota ne null}" >
	 	   			<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
	    		</h:outputText>
	    		<h:outputText value=" - " rendered="#{row.dataRegistrazioneNota eq null}" />
			</p:column>
			
			<p:column headerText="Origine">
				<h:outputText value="#{row.origine.descrOrigine}" />
			</p:column>
			
			<p:column headerText="Data/Ora ultima modifica">
				<h:outputText value="#{row.dataUltimaModificaNota}" rendered="#{row.dataUltimaModificaNota ne null}" >
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
				</h:outputText>
				<h:outputText value=" - " rendered="#{row.dataUltimaModificaNota eq null}" />
			</p:column>
		 
			<p:column headerText="Preassegnatario Interoperabilita">
				<h:outputText value="#{row.descrPreassegnatarioInterop}"/>
			</p:column>
		 
			<p:column headerText="Azioni" styleClass="generic_textAlignCenter">
				<p:outputPanel styleClass="buttonsDiv buttonsLayoutg">
					<p:commandButton icon="fa fa-info-circle" type="button" title="Visualizza nota" rendered="#{fn:length(row.contentNota) gt 30}" />
					<p:overlayPanel for="@previous" rendered="#{fn:length(row.contentNota) gt 30}"
					 hideEffect="fade" styleClass="generic_textAlignJustify infoBtn generic_width25" my="right bottom" at="right top">
				        <h:outputText value="#{row.contentNota}" />
				    </p:overlayPanel>
					
					<p:commandButton icon="fa fa-close" title="Elimina la nota" rendered="#{row.removable}"
					 action="#{DocumentManagerBean.storicoNote.elimina(row)}" update="@namingcontainer"/>
					 
					<h:outputText value=" - " rendered="#{not row.removable and fn:length(row.contentNota) le 30}" />
				</p:outputPanel>
			</p:column>
			
		</p:dataTable>
	</div>

</div>

<p:dialog widgetVar="wdgInserisciNota_DMDTSN"
 position="top"  onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgInserisciNota_DMDTSN')"
 styleClass="generic_maxwidth1200px"  closeOnEscape="false" showHeader="true" closable="true" appendTo="@form"
 resizable="false" header="Inserisci nota" >
	 <p:outputPanel id="idInserisciNota_DMDTSN">
	 	<dd:documentManagerDataTabNoteStoricoDlgInserisci bean="#{DocumentManagerBean.storicoNote.inserisciNota}" multiNota="true" showElimina="false"
	 	 updateDlg="@widgetVar(wdgIdTabStoricoNoteDatatable)" onCompleteAction="PF('wdgInserisciNota_DMDTSN').hide();" />
	 </p:outputPanel>
</p:dialog>

	
</ui:composition>