<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cc="http://java.sun.com/jsf/composite" 
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel styleClass="ui-g generic_centra" >
<!-- 				<ui:include src="../coda/pnlFaldona.xhtml" /> -->

		<div class="ui-g-12 generic_textAlignRight" >
			<p:commandButton action="#{DocumentManagerBean.openDlgFaldonatura}" value="Faldona" icon="fa fa-folder-open" oncomplete="PF('wdgFaldonaFascicolo_DMDTF').show()" 
				update="@parent"/>
			<p:dialog widgetVar="wdgFaldonaFascicolo_DMDTF" dynamic="true" id="idFaldonaFascicolo_FM" draggable="true"
				hideEffect="fade"  showEffect="fade" position="center" appendTo="@form" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgFaldonaFascicolo_DMDTF')"
				styleClass="generic_maxwidth1200px"  closeOnEscape="false" showHeader="true" closable="true" modal="true"
				resizable="false" header="Faldona fascicolo" rendered="#{DocumentManagerBean.dlgFaldonaturaRendered}">
				
				<dd:pnlFaldonaComponent faldonaCmp="#{DocumentManagerBean.faldonaCmp}"/>
				
				<div class="ui-g-12 generic_textAlignCenter">
					<p:commandButton icon="fa fa-pencil" title="Registra" value="Registra" action="#{DocumentManagerBean.faldona}" />
					<p:commandButton icon="fa fa-times" title="Chiudi" value="Chiudi" action="#{DocumentManagerBean.closeDlgFaldonatura}" ajax="true" styleClass="uniqueCloseButton"/>
				</div>

			</p:dialog>
		</div>
		<div class="ui-g-12">
			<p:dataTable var="fal" value="#{DocumentManagerBean.detail.faldoni}" paginatorAlwaysVisible="false" rowIndexVar="index" emptyMessage="Nessun faldone presente">
			    <p:column headerText="Numero"  styleClass="generic_textAlignCenter" rendered="false">
			        <p:outputLabel value="#{fal.name}"  />
			    </p:column>
			    <p:column headerText="Oggetto"  styleClass="generic_textAlignCenter generic-word-all-break" >
			    	<p:outputLabel value="#{fn:substring(fal.oggettoPadre, 0,40)}" title="#{fal.oggetto}" rendered="#{fal.oggettoPadre != null}"/>
					<p:outputLabel value="\" rendered="#{fal.oggettoPadre != null}" styleClass="dmd-distance" />
			        <p:outputLabel value="#{fn:substring(fal.oggetto, 0,40)}" title="#{fal.oggetto}"	/>
	        	</p:column>
			    <p:column headerText="Descrizione"  styleClass="generic_textAlignCenter generic-word-all-break">
			        <p:outputLabel value="#{fn:length(fal.descrizioneFaldone) gt 30?fn:substring(fal.descrizioneFaldone, 0,30).concat('...'):fal.descrizioneFaldone}" 
			        	title="#{fal.descrizioneFaldone}"	/>
			    </p:column>
			    <p:column headerText="Azioni"  styleClass="generic_textAlignCenter generic_width10" >
			        <p:commandButton ajax="true" action="#{DocumentManagerBean.eliminaFaldone(index)}" icon="fa fa-times" update="@this, @form:idTabs_DMD" />
			    </p:column>
			</p:dataTable>
		</div>
	
	
	</p:outputPanel>
	
</ui:composition>
