<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.ValueMetadatoVerificaFirmaEnum" var="ValoreVerificaFirmaEnum" allSuffix="ALL_ENUM_VALUES" />
	
	<red:pnlInfoFirmaComponent id="pnlInfoFirmaContributoEst" bean="#{DocumentManagerBean.contributiEsterniTab}" posizioneMy="right bottom" posizioneAt="left top"/>

	<p:outputPanel styleClass="ui-g generic_centra">
		<div class="ui-g-12">
			<div class="ui-g-3 generic_padding0">
				<p:commandButton value="Aggiungi contributo esterno" action="#{DocumentManagerBean.contributiEsterniTab.preparaMascheraAggiungiModifica}" 
					update="@form:outerPnlAggiungiModificaContributoEst" oncomplete="PF('dlgAggiungiModificaContributoEst').show()"/>
			</div>
		</div>
		<div class="ui-g-12">
			<p:dataTable var="c" value="#{DocumentManagerBean.contributiEsterniTab.contributoList}" paginatorAlwaysVisible="false" id="dtContributiEsterni_DMDTC" 
				emptyMessage="Nessun contributo esterno" selectionMode="single" rowKey="#{c.data.protocollo}">
				
				<p:ajax event="rowSelect" listener="#{DocumentManagerBean.contributiEsterniTab.onSelectMaster}" process="@this" ignoreAutoUpdate="true" 
					update="@form:idTabs_DMD:idTabsContributi_DMDT:pnlDtContributiEsterniDett_DMDTC"/>
				
   			    <p:column headerText="Mittente" styleClass="generic_textAlignCenter generic_width40">
			        <h:outputText title="#{c.data.mittente}" value="#{c.data.mittente}"/>
			    </p:column>
			    <p:column headerText="Data" styleClass="generic_textAlignCenter generic_width40">
			        <h:outputText title="#{fn:substring(c.data.dataContributo, 0, 10)}" value="#{fn:substring(c.data.dataContributo, 0, 10)}"/>
			    </p:column>
			    <p:column headerText="Azioni" styleClass="generic_textAlignCenter">
					<p:commandButton title="Elimina" action="#{DocumentManagerBean.contributiEsterniTab.eliminaContributiByDocumentoContributi(c)}" icon="fa fa-times" 
						update="@form:idTabs_DMD:idTabsContributi_DMDT:dtContributiEsterni_DMDTC, @form:idTabs_DMD:idTabsContributi_DMDT:pnlDtContributiEsterniDett_DMDTC"/>
			    </p:column>
			</p:dataTable>
		</div>
		
		<div class="ui-g-12">
			<p:outputPanel id="pnlDtContributiEsterniDett_DMDTC">
				<p:dataTable var="c" value="#{DocumentManagerBean.contributiEsterniTab.detailDocumentiContributoList}" paginatorAlwaysVisible="false" rowIndexVar="index"
					id="dtContributiEsterniDetail_DMDTC" rendered="#{not empty DocumentManagerBean.contributiEsterniTab.detailDocumentiContributoList}">
	   			    <p:column headerText="Mittente" styleClass="generic_textAlignCenter">
				        <h:outputText title="#{c.data.mittente}" value="#{c.data.mittente}"/>
				    </p:column>
				    <p:column headerText="Data" styleClass="generic_textAlignCenter generic_width14">
				        <h:outputText title="#{c.data.dataContributo}" value="#{c.data.dataContributo}"/>
				    </p:column>
				     <p:column headerText="Testo" styleClass="generic_textAlignCenter generic_width18">
				        <h:outputText title="#{c.data.nota}" value="#{c.data.nota}"/>
				    </p:column>
				     <p:column headerText="File" styleClass="generic_textAlignCenter generic_width18">
				        <h:outputText value="#{DocumentManagerBean.contributiEsterniTab.getShortColumn(c.data.filename, 25)}" 
				        	title="#{DocumentManagerBean.contributiEsterniTab.getColumnTooltip(c.data.filename, 25)}"/>
				    </p:column>
				     <p:column headerText="Azioni su File" styleClass="generic_textAlignCenter generic_width10">
				        <p:commandButton icon="generic_centra fa fa-expand" title="Visualizza documento" 
				        	process="@this" action="#{DocumentManagerBean.contributiEsterniTab.openVisualizzaDocContributo(c.data)}" 
					 		update="@form:pnlVisualizzaDocContributo" 
					 		oncomplete="PF('dlgVisualizzaDocContributo').show();PF('dlgVisualizzaDocContributo').toggleMaximize();"/>
						<p:commandButton rendered="#{c.data.visualizzaInfoVerificaFirma and c.data.valoreVerificaFirma ne ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
				        	styleClass="cambia-ufficio-button" icon="generic_centra fa fa-pencil-square-o icon-dimension-middle" 
				        	action="#{DocumentManagerBean.contributiEsterniTab.aggiornaVerificaFirma(c.data)}" 
				        	oncomplete="PF('pnlInfoFirma').show('#{component.clientId}')"
				        	update="@namingcontainer, @form:idTabs_DMD:idTabsContributi_DMDT:pnlInfoFirmaContributoEst:idPnlInfoFirma"/>
		        		 <h:outputLabel rendered="#{c.data.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_NON_PRESENTE}" 
		        		 	styleClass="generic_centra fa fa-pencil-square no-sign-found icon-dimension-middle generic_padding04" 
		        		 	title="Attenzione, sul file non sono presenti firme digitali."/>
				    </p:column>
				     <p:column headerText="Validità firma" styleClass="generic_textAlignCenter generic_width10">
				        <h:outputLabel rendered="#{c.data.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_OK}" 
								styleClass="generic_centra fa fa-check-circle check-green" title="firma valida"/>
						<h:outputLabel rendered="#{c.data.valoreVerificaFirma eq ValoreVerificaFirmaEnum.FIRMA_KO}" 
							styleClass="generic_centra fa fa-exclamation-circle check-red" title="firma non valida"/>
				    </p:column>
				    <p:column headerText="Modifica" styleClass="generic_textAlignCenter generic_width8perc">
						<p:outputPanel rendered="#{c.editable}">
					        <p:commandButton icon="fa fa-pencil" title="Modifica" 
					        	action="#{DocumentManagerBean.contributiEsterniTab.preparaMascheraAggiungiModifica(c.data)}" 
								update="@form:outerPnlAggiungiModificaContributoEst" oncomplete="PF('dlgAggiungiModificaContributoEst').show()"/>
				         </p:outputPanel>
				    </p:column>
				    <p:column headerText="Elimina" styleClass="generic_textAlignCenter generic_width8perc">
						<p:commandButton icon="fa fa-times" title="Elimina" action="#{DocumentManagerBean.contributiEsterniTab.elimina(c.data)}" 
							update="@form:idTabs_DMD:idTabsContributi_DMDT:pnlDtContributiEsterniDett_DMDTC"/>
				    </p:column>
				</p:dataTable>
			</p:outputPanel>
		</div>
	</p:outputPanel>
	
</ui:composition>
