<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:outputPanel rendered="#{DocumentManagerBean.approvazioniTab.stampigliabile}">
	
	<p:importEnum type="it.ibm.red.business.enums.StampigliaturaFirmaEnum" var="tipoStampigliaturaEnum"/>
	
	<div class="ui-g-12">
		<p:dataTable id="idTabbellaApprovazioni_DMDTA" var="app" value="#{DocumentManagerBean.approvazioniTab.detail.approvazioni}" rowIndexVar="index" styleClass="generic_table-maxHeight"
			rows="5" paginatorAlwaysVisible="false" paginator="true" paginatorPosition="bottom" emptyMessage="">
		    <p:column headerText="Ufficio" styleClass="generic_textAlignCenter">
		        <p:outputLabel value="#{app.descUfficio}"/>
		    </p:column>
		    
		    <p:column headerText="Utente" styleClass="generic_textAlignCenter">
		        <p:outputLabel value="#{app.descUtente}"/>
		    </p:column>
		    
		    <p:column headerText="Tipo approvazione" styleClass="generic_textAlignCenter">
		        <p:outputLabel value="#{app.descApprovazione}"/>
		    </p:column>
		    
		    <p:column headerText="Data" styleClass="generic_textAlignCenter">
		        <p:outputLabel value="#{app.dataApprovazione}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</p:outputLabel>
		    </p:column>
		    
		    <p:column headerText="Stampigliatura" styleClass="generic_textAlignCenter"  >
		        <p:selectOneMenu value="#{app.stampigliaturaFirma}" disabled="#{not DocumentManagerBean.approvazioniTab.stampigliaturaModificabile}" >
					<f:selectItem itemLabel="(nessuna)" itemValue="#{tipoStampigliaturaEnum.NESSUNA.value}" />
					<f:selectItem itemLabel="Nome Cognome" itemValue="#{tipoStampigliaturaEnum.NOME_COGNOME.value}" />
					<f:selectItem itemLabel="N.Cognome" itemValue="#{tipoStampigliaturaEnum.N_COGNOME.value}" />
					<f:selectItem itemLabel="Ruolo" itemValue="#{tipoStampigliaturaEnum.RUOLO.value}" />
				</p:selectOneMenu>
		    </p:column>
		    
		</p:dataTable>
	</div>
	
	<div class="ui-g-12 generic_textAlignRight">
		<p:commandButton ajax="false" value="Stampa approvazioni" process="idTabbellaApprovazioni_DMDTA" title="Stampa approvazioni" icon="fa fa-download">
			<p:fileDownload value="#{DocumentManagerBean.approvazioniTab.stampiglia}"/>
		</p:commandButton>
	</div>

</p:outputPanel>

</ui:composition>