<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	>
	
	
	<p:outputPanel id="idCreaContatto_DMDCC" >
		<p:panel id="panelContattiGruppoDMD">
			<red:dlgRubrica bean="#{DocumentManagerBean}" />
		</p:panel>
		
		<div class="ui-g-12">
			<div class="ui-g-2">
				<p:outputLabel value="Tipo Contatto" styleClass="generic_textBold" />  
			</div>
			<div class="ui-g-4">
				<p:selectOneMenu id="tipoPersona_creaContatto" value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona}" lazy="true" autoWidth="false" styleClass="textfield_dropdown">
					<f:selectItem itemLabel="Fisica" itemValue="F"  />
					<f:selectItem itemLabel="Giuridica" itemValue="G" />
					<p:ajax update="idCreaContatto_DMDCC" async="true"  process="idCreaContatto_DMDCC"  />
		        </p:selectOneMenu>
			</div>
			
			<p:outputPanel styleClass="ui-g-2" rendered="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null}">
				<p:outputLabel value="Titolo" styleClass="generic_textBold"/>  
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-4" rendered="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null}">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.titolo}" styleClass="textfield_input"/>
			</p:outputPanel> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Ragione Sociale / Nome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" />
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.nome}" styleClass="textfield_input obbligatorio" />
			</div>
			
			<p:outputPanel styleClass="ui-g-2" rendered="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null}">
				<p:outputLabel value="Cognome" styleClass="generic_textBold" />
				<p:outputLabel value="*" styleClass="generic_textBold generic_redStar" rendered="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null}"/>
			</p:outputPanel>
			<p:outputPanel styleClass="ui-g-4" rendered="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null}">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.cognome}" styleClass="#{(DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq 'F' or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.tipoPersona eq null)? 'textfield_input obbligatorio':'textfield_input' }"/>
			</p:outputPanel> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Descrizione / Alias" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.aliasContatto}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Indirizzo" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.indirizzo}" styleClass="textfield_input"/>
			</div> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="CAP" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.CAP}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Provincia" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.provinciaObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{DocumentManagerBean.loadProvince}" var="province" itemLabel="#{province.denominazione}" itemValue="#{province.idProvincia}" converter="provinciaConverter" forceSelection="true" id="provinciaInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{DocumentManagerBean.onSelectProvincia}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC"  />
					<p:ajax event="clear" listener="#{DocumentManagerBean.onSelectProvincia}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC" />
				</p:autoComplete>
			</div> 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Comune" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-4">
				<p:autoComplete disabled="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.provinciaObj eq null}" value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.comuneObj}" queryDelay="#{SessionBean.preferenze.autocompleteDelay}" completeMethod="#{DocumentManagerBean.loadComuni}" var="comuni" itemLabel="#{comuni.denominazione}" itemValue="#{comuni.idComune}"	converter="comuneConverter" forceSelection="true" id="comuneInsertAutocomplete_Rub" styleClass="textfield_input">
					<p:ajax event="itemSelect" listener="#{DocumentManagerBean.onSelectComune}" update="idCreaContatto_DMDCC" process="idCreaContatto_DMDCC" />
					<p:ajax event="clear" listener="#{DocumentManagerBean.onSelectComune}" update="idCreaContatto_DMDCC"  process="idCreaContatto_DMDCC" />
				</p:autoComplete>
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEO" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.mail}" styleClass="textfield_input"  />
			</div> 
		
		 
			<div class="ui-g-2">
				<p:outputLabel value="Mail PEC" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.mailPec}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2">
				<p:outputLabel value="Telefono" styleClass="generic_textBold"/> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.telefono}" styleClass="textfield_input"  />
			</div>
			 
		 
			<div class="ui-g-2">
				<p:outputLabel value="Cellulare" styleClass="generic_textBold" /> 
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.cellulare}" styleClass="textfield_input" />
			</div>
			
			<div class="ui-g-2" style="padding-left:0px;">
				<p:outputLabel for="addPreferiti" value="Aggiungi a Rubrica Ufficio" styleClass="generic_textBold generic_formPnl3" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}"/>
			</div>
			<div class="ui-g-4">
				<p:selectBooleanCheckbox id="addPreferiti" label="Aggiungi a Rubrica Ufficio" styleClass="generic_formPnl4"  value="#{DocumentManagerBean.documentManagerDTO.inserisciContattoItem.isPreferito}" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}"/>						
			</div>
		</div>
	 
		 
		<div class="ui-g-12">
			<div class="ui-g-2">
			</div>
			<div class="ui-g-4">
			</div>
			
		</div>

		<div class="buttonsDiv generic_textAlignCenter">
			<p:commandButton id="aggiungiBtn" icon="fa fa-plus" actionListener="#{DocumentManagerBean.validaEInserisciContatto}" value="Crea" process="idCreaContatto_DMDCC" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" />
			<p:commandButton id="richiediAggiungiBtn" icon="fa fa-plus" value="Richiedi Creazione" rendered="#{!DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichCreazioneVW').show()" />
			
			<p:commandButton id="modificaBtn" icon="fa fa-pencil" actionListener="#{DocumentManagerBean.modificaContatto}" disabled="#{!DocumentManagerBean.inModificaDaShortcut}" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" value="Modifica" process="idCreaContatto_DMDCC" update="idCreaContatto_DMDCC"/>
			<p:commandButton id="richiediModificaBtn" icon="fa fa-pencil" value="Richiedi Modifica" rendered="#{!DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichModificaWV').show()" disabled="#{!DocumentManagerBean.inModificaDaShortcut or DocumentManagerBean.documentManagerDTO.inserisciContattoItem.onTheFly eq 1}"/>
			
			<p:commandButton id="pulisciBtn" icon="fa fa-eraser" actionListener="#{DocumentManagerBean.pulisciUtente}" value="Pulisci" process="idCreaContatto_DMDCC" update="idCreaContatto_DMDCC"/>
		</div> 
		 
	</p:outputPanel>
	
	
	
</ui:composition>
