<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<p:importEnum type="it.ibm.red.business.enums.MezzoSpedizioneEnum" var="MezzoSpedizioneEnum" allSuffix="ALL_ENUM_VALUES"/>
	<p:importEnum type="it.ibm.red.business.enums.ModalitaDestinatarioEnum" var="ModalitaDestinatarioEnum" allSuffix="ALL_ENUM_VALUES"/>

	<p:outputPanel styleClass="generic_centra" id="tabMetadatiEstesiPnl_DMD">
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
		
			<c:forEach var="metadato" items="#{DocumentManagerBean.detail.metadatiEstesi}">
			
			 	<c:set var="mandatory" value="#{metadato.obligatoriness.code ne 'M'
			 		and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso) 
			 				and metadato.obligatoriness.code eq 'E')
						or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
							and metadato.obligatoriness.code eq 'U')
						or metadato.obligatoriness.code eq 'S')}"/>
			 	
			 	<c:set var="visible" value="#{metadato.visibility.code ne 'M' and metadato.metadatoValutaFlag ne true
			 		and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso)
			 				and metadato.visibility.code eq 'E')
						or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
							and metadato.visibility.code eq 'U')
						or metadato.visibility.code eq 'S')}"/>
				
				<c:set var="editable" value="#{metadato.editability.code ne 'M' 
					and DocumentManagerBean.detail.modificabile and not DocumentManagerBean.documentManagerDTO.detailMetadatiEstesiNonEditabili
					and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso)
							and metadato.editability.code eq 'E')
						or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
							and metadato.editability.code eq 'U')
						or metadato.editability.code eq 'S')}"/>
			 	
			 	<c:if test="#{visible}">
			 	
					<p:outputPanel styleClass="ui-panelgrid-cell">
						<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" value="#{metadato.displayNameView}" styleClass="generic_textBold"/>
						<p:outputLabel for="valoreMetadatoEstesoPnl_#{metadato.name}" value="*" styleClass="generic_redStar generic_textBold"
							rendered="#{mandatory}"/>
					</p:outputPanel>
					
					<p:outputPanel id="valoreMetadatoEstesoPnl_#{metadato.name}" styleClass="ui-panelgrid-cell">
						
						<p:inputText title="#{metadato.selectedValue}" rendered="#{metadato.type.code eq 'S'}" value="#{metadato.selectedValue}" readonly="#{not editable}"
							styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio-readonly' : '')} generic_input90"
							maxlength="#{metadato.dimension}"/>
						
						<p:inputNumber title="#{metadato.selectedValue}" rendered="#{metadato.type.code eq 'I'}" value="#{metadato.selectedValue}" readonly="#{not editable}" 
							padControl="false" thousandSeparator="" maxValue="#{DocumentManagerBean.getMaxValue(metadato.dimension)}" decimalPlaces="0"
							styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio-readonly' : '')} generic_input90"/>
						
						<p:inputNumber title="#{metadato.selectedValue}" rendered="#{metadato.type.code eq 'U'}" value="#{metadato.selectedValue}" readonly="#{not editable}"
							styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio-readonly' : '')} generic_input90"
							decimalSeparator="." thousandSeparator="" decimalPlaces="2"/>
				     	
				     	<p:calendar title="#{metadato.selectedValue}" rendered="#{metadato.type.code eq 'D'}" navigator="true" value="#{metadato.selectedValue}" disabled="#{not editable}" 
				     		readonly="#{facesContext.renderResponse}" onkeypress="return false;" styleClass="#{mandatory ? 'obbligatorio' : ''} generic_inputCalendar82" showOn="button" 
				     		pattern="dd/MM/yyyy"/>
						
						<red:lookupTableComponent title="#{metadato.lookupValueSelected.description}" rendered="#{metadato.type.code eq 'L'}" lookupDto="#{metadato}" disabled="#{not editable}"
							inputStyle="#{mandatory ? 'obbligatorio' : ''}"/>
						
						<red:anagraficaDipendentiComponent rendered="#{metadato.type.code eq 'P'}" anagDto="#{metadato}" disabled="#{not editable}"
							inputTextStyle="#{mandatory ? 'obbligatorio-readonly' : ''}"/>
						
						<red:capitoliComponent title="#{metadato.capitoloSelected}" rendered="#{metadato.type.code eq 'C'}" capDto="#{metadato}" disabled="#{not editable}"
							inputTextStyle="#{mandatory ? 'obbligatorio-readonly' : ''}" searchHeader="Selezionare un capitolo di spesa"/>
					</p:outputPanel>
			 	</c:if>
			</c:forEach>
		</p:panelGrid>
	</p:outputPanel>
	
	<p:outputPanel styleClass="generic_centra" id="metadatiValutaPnl_DMD">
		<p:panelGrid columns="6" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-1, ui-grid-col-3 ui-fluid, ui-grid-col-1, ui-grid-col-3 ui-fluid, ui-grid-col-1, ui-grid-col-3 ui-fluid">
			<c:forEach var="metadatoValuta" items="#{DocumentManagerBean.detail.metadatiValuta}">
				<c:forEach var="metadato" items="#{metadatoValuta.getSottoMetadatiValuta()}">
				
				 	<c:set var="mandatory" value="#{metadato.obligatoriness.code ne 'M'
				 		and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso) 
				 				and metadato.obligatoriness.code eq 'E')
							or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
								and metadato.obligatoriness.code eq 'U')
							or metadato.obligatoriness.code eq 'S')}"/>
				 	
				 	<c:set var="visible" value="#{metadato.visibility.code ne 'M' 
				 		and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso)
				 				and metadato.visibility.code eq 'E')
							or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
								and metadato.visibility.code eq 'U')
							or metadato.visibility.code eq 'S')}"/>
					
					<c:set var="editable" value="#{metadato.editability.code ne 'M' 
						and DocumentManagerBean.detail.modificabile and not DocumentManagerBean.documentManagerDTO.detailMetadatiEstesiNonEditabili
						and (((DocumentManagerBean.documentManagerDTO.inCreazioneIngresso or DocumentManagerBean.documentManagerDTO.inModificaIngresso)
								and metadato.editability.code eq 'E')
							or ((DocumentManagerBean.documentManagerDTO.inCreazioneUscita or DocumentManagerBean.documentManagerDTO.inModificaUscita)
								and metadato.editability.code eq 'U')
							or metadato.editability.code eq 'S')}"/>
				 	
				 	<c:if test="#{visible}">
				 	
						<p:outputPanel styleClass="ui-panelgrid-cell">
							<p:outputLabel for="valoreMetadatoValutaPnl_#{metadato.name}" value="#{metadato.displayNameView}" styleClass="generic_textBold"/>
							<p:outputLabel for="valoreMetadatoValutaPnl_#{metadato.name}" value="*" styleClass="generic_redStar generic_textBold"
								rendered="#{mandatory}"/>
						</p:outputPanel>
						
						<p:outputPanel id="valoreMetadatoValutaPnl_#{metadato.name}" styleClass="ui-panelgrid-cell">
							
							<red:lookupTableComponent title="#{metadato.lookupValueSelected.description}" rendered="#{metadato.type.code eq 'L'}" lookupDto="#{metadato}" disabled="#{not editable}"
								inputStyle="#{mandatory ? 'obbligatorio' : ''}" conversioneMap="#{DocumentManagerBean.detail.mapValutaCambio}" />
							
							<p:outputPanel styleClass="ui-inputgroup">
								<p:inputNumber id="doubleValuta_#{metadato.name}" title="#{metadato.selectedValue}" rendered="#{metadato.type.code eq 'U'}" value="#{metadato.selectedValue}" readonly="#{not editable}"
									styleClass="#{(mandatory and editable) ? 'obbligatorio' : ((mandatory and not editable) ? 'obbligatorio-readonly' : '')}"
									decimalSeparator="." thousandSeparator="" decimalPlaces="2"/>
									
								<p:commandButton id="cambioBtn_#{metadato.name}" icon="fa fa-exchange" title="Conversione in Euro" rendered="#{metadato eq metadatoValuta.importo}"
									action="#{DocumentManagerBean.eseguiCambioValuta(metadatoValuta)}" />
							</p:outputPanel>
						</p:outputPanel>
				 	</c:if>
				</c:forEach>
			</c:forEach>
		</p:panelGrid>
	</p:outputPanel>
</ui:composition>