<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:p="http://primefaces.org/ui">

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel styleClass="ui-g generic_centra" id="idTabFascicoliPanel_DMD" >

		<div class="ui-g-12">
			<p:dataTable var="fas" value="#{DocumentManagerBean.detail.fascicoli}" widgetVar="wdgTabFascicoliTable_DMD" id="idTabFascicoliTable_DMD"
				paginatorAlwaysVisible="false" emptyMessage="Nessun fascicolo presente">
			    <p:column headerText="Nome" styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.idFascicolo}"/>
 		        	<p:outputLabel value="*" title="Fascicolo Procedimentale" rendered="#{fas.idFascicolo eq DocumentManagerBean.detail.idFascicoloProcedimentale}"/>
			    </p:column>
			    <p:column headerText="Descrizione" styleClass="generic_textAlignCenter generic-word-all-break">
			        <p:outputLabel value="#{DocumentManagerBean.getShortColumn(fas.descrizione,110)}" title="#{fas.descrizione}"/>
			    </p:column>
			    <p:column headerText="Indice di classificazione" styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.indiceClassificazione}" title="#{fas.descrizioneTitolario}"/>
			    </p:column>
			    <p:column headerText="Data" styleClass="generic_textAlignCenter">
			        <p:outputLabel value="#{fas.dataCreazione}">
			        	<f:convertDateTime pattern="dd/MM/yyyy"/>
			        </p:outputLabel>
			    </p:column>
			    <p:column headerText="Faldone"  styleClass="generic_textAlignCenter">
			    	<ui:repeat rendered="#{fas.faldoni != null}" value="#{fas.faldoni}" var="fal">
			    		<div>
				    		<p:outputLabel value="#{fal.name}"/>
				        	
				        	<p:outputLabel title="#{fal.descrizioneFaldone}" value="#{fn:substring(fal.descrizioneFaldone, 0,20)}"/>
		        		</div>
			    	</ui:repeat>
			    </p:column>
			    <p:column headerText="Azioni"  styleClass="generic_textAlignCenter">
			    	<p:commandButton value="Inserisci documento" icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.apriInserisciDocumento(fas)}"
							oncomplete="PF('wdgInserisciDocDaDettaglio').show()" update="idDettagliEstesiForm:idTabs_DMD:idDialogInserisciDoc"  disabled="#{SessionBean.utente.gestioneApplicativa or fas.stato eq 'CHIUSO' or fas.stato eq null}" />
					<p:commandButton value="Dowload documenti" title="Download documenti" ajax="false" icon="fa fa-download" disabled="#{SessionBean.utente.gestioneApplicativa}">
							<p:fileDownload value="#{DocumentManagerBean.downloadZipAllDocument(fas)}" />
					</p:commandButton>
					
			    </p:column>
			</p:dataTable>
			<div class="buttonsDiv generic_textAlignRight">
				<red:fascicoloFepaComponent bean="#{FascicoloFepaBean}"/>
			</div>
		</div>
	
	</p:outputPanel>
	
<!-- 		DIALOG INSERISCI DOCUMENTO DA DETTAGLIO START  -->
	<p:dialog widgetVar="wdgInserisciDocDaDettaglio" dynamic="true" id="idDialogInserisciDoc" appendTo="@form"
		hideEffect="fade"  showEffect="fade" draggable="false" position="top left" modal="true"
		styleClass="generic_maxwidth1200px"  closeOnEscape="false" showHeader="true" closable="true"
		resizable="false" header="Inserisci documento" minHeight="400" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgInserisciDocDaDettaglio')" >
		
		<div class="ui-g">
			<div class="ui-g-12 generic_textAlignCenter">
				<p:outputLabel value="Fascicolo" styleClass="generic_grassetto generic_margin05"/>
				<p:outputLabel value="#{DocumentManagerBean.detailFasc.nomeFascicolo}" styleClass="generic_margin05"/>
				<p:outputLabel value="/" styleClass="dmd-distance " />
				<p:outputLabel value="#{DocumentManagerBean.detailFasc.anno}" styleClass="generic_marginRight"/>

				<p:outputLabel value="Descrizione" styleClass="generic_grassetto generic_marginRight"/>
				<p:outputLabel value="#{DocumentManagerBean.detailFasc.oggettoNoNumeroAnno}" styleClass="generic_marginRight"/>

				<p:outputLabel value="Stato" styleClass="generic_grassetto generic_marginRight"/>
				<p:outputLabel value="#{DocumentManagerBean.detailFasc.stato}" styleClass="generic_marginRight"/>
			</div>
			<div class="ui-g-12">
				<hr />
			</div>
		   	<div class="ui-g-2 ">
		   		<p:outputLabel styleClass="generic_grassetto" value="Tipologia documento"/>
		   		<p:outputLabel styleClass="generic_redStar" value="*"/>
		   	</div>
		   	<div class="ui-g-4 ui-fluid obbligatorio">
		   		<p:selectOneMenu id="idTipologiaDocumento_DDI" value="#{DocumentManagerBean.nuovoDocumentoInterno.idTipologiaDocumento}" 
		   			styleClass="campoObbligatorio">
					<f:selectItems value="#{DocumentManagerBean.comboTipologiaDocumento}"
						var="td" itemValue="#{td.idTipologiaDocumento}" itemLabel="#{td.descrizione}" />
				</p:selectOneMenu>
		   		
		   	</div>
		   	<div class="ui-g-2 generic_textAlignRight">
		   		<p:outputLabel styleClass="generic_grassetto" value="File"/>
		   		<p:outputLabel styleClass="generic_redStar" value="*"/>
		   	</div>
		   	<p:outputPanel styleClass="ui-g-4 ui-fluid" id="idNuovoDocPanel">
				<p:outputPanel styleClass="ui-inputgroup obbligatorio">
					<p:inputText readonly="true" update="idNuovoDocPanel" value="#{DocumentManagerBean.nuovoDocumentoInterno.nomeFile}" styleClass="obbligatorio-readonly"/>
			   		<p:fileUpload id="idDocumentoInternoFileUpload_DDI"
						fileUploadListener="#{DocumentManagerBean.handleDocInternoFileUpload}"
						value="#{DocumentManagerBean.docInterno}"
						auto="true" label="Sfoglia"
						mode="advanced" skinSimple="true"
						dragDropSupport="false"
						styleClass="dmd-fileUpload dmd-fileUpload3"
						rendered="#{DocumentManagerBean.nuovoDocumentoInterno.nomeFile == null}"
						update="idNuovoDocPanel"
						onstart="PF('statusDialog').show();"
						oncomplete="PF('statusDialog').hide();"
						/>
						<p:commandButton action="#{DocumentManagerBean.rimuoviFileCaricato}" icon="fa fa-close"
							rendered="#{DocumentManagerBean.nuovoDocumentoInterno.nomeFile != null}" 
							ajax="true" title="Rimuovi il documento" update="idNuovoDocPanel" />
			   	</p:outputPanel>
		   	</p:outputPanel>
		   	
		   	<div class="ui-g-12  ui-fluid obbligatorio">
		   		<p:outputLabel styleClass="generic_grassetto generic_marginBottom" value="Oggetto"/>
		   		<p:outputLabel styleClass="generic_redStar generic_marginBottom" value="*"/>
		   		<p:inputTextarea rows="4" styleClass="campoObbligatorio generic_displayBlock obbligatorio" value="#{DocumentManagerBean.nuovoDocumentoInterno.oggetto}" />
		   	</div>
		   	<div class="ui-g-12 generic_textAlignCenter">
		   	<!-- Eseguo l'update in java di tutto quello che ha la classe dettaglioFascicoloForUpdatePurpose ovvero i dettagli e la ricerca  -->
		   		<p:commandButton icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.inserisciDocumento}" value="Inserisci" title="Inserisci documento" update="@form:idTabs_FM:idDocumentiFasTable_DF"  />
		   		<p:commandButton icon="fa fa-times" type="button" value="Chiudi" title="Chiudi" onclick="PF('wdgInserisciDocDaDettaglio').hide()" styleClass="uniqueCloseButton" />
		   	</div>
		</div>
	</p:dialog>  
<!-- 		DIALOG INSERISCI DOCUMENTO END  -->		
	
</ui:composition>
