<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
<p:outputPanel id="idTabAssegnazioni_DMD" styleClass="ui-g">
	<p:outputPanel rendered="#{!DocumentManagerBean.documentManagerDTO.inModifica}" >
	
		<p:outputPanel class="ui-g-12 generic_padding0 generic_margin0" rendered="#{DocumentManagerBean.documentManagerDTO.assegnatarioPerCompetenzaVisible}">
			<p:outputPanel class="ui-g-2">
				<p:outputLabel for="idAssegnatarioPerComp_tabAssegnazioni" value="Assegnatario per competenza" styleClass="generic_textBold"/>
				<p:outputLabel for="idAssegnatarioPerComp_tabAssegnazioni" value="*" styleClass="generic_redStar generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-4 ui-fluid">
				<p:outputPanel styleClass="ui-inputgroup">
					<p:inputText id="idAssegnatarioPerComp_tabAssegnazioni" readonly="true" value="#{DocumentManagerBean.descrAssegnatarioPerCompetenza}" styleClass="obbligatorio-readonly"/>
	
					<p:commandButton id="idAssegnatarioPerCompBtn_tabAssegnazioni" icon="fa fa-sitemap" type="button" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}" styleClass=""/>
					<p:commandButton rendered="#{not empty DocumentManagerBean.assegnatarioDefault}" icon="fa fa-dot-circle-o" title="Imposta assegnatario di default per l'AOO" actionListener="#{DocumentManagerBean.setDefault}" update="idAssegnatarioPerComp_tabAssegnazioni" /> 
				</p:outputPanel>
				<p:overlayPanel widgetVar="wdgAssegnatarioPerComp_tabAssegnazioni" for="idAssegnatarioPerCompBtn_tabAssegnazioni" hideEffect="fade"  my="left bottom" at="right top" >
<!-- 					NB: a priori non si sa dove mette l'overlay panel, nel caso della creazione in pagina lo mette già in un form -->
<!-- 					e due form annidati sono un problema per jsf quindi devo mostrare solo l'albero, nel caso di  -->
<!-- 					PROTOCOLLAZIONE DA MAIL in cui la protocollazione avviene in un documento in ingresso in una dialog il form ci vuole -->
<!-- 					perché l'overlay viene scritto fuori dal form -->
<!-- 					Sse la creazione verrà spostata SEMPRE nella dialog il form che contiente l'albero va eliminato!!!!!!!!!!!!! -->
					<h:form id="idFormOverlayOrganigramma_tabAssegnazioni" >
						<p:scrollPanel mode="native" styleClass="generic-scrollpane-dimOrganigrammi">
							<p:tree value="#{DocumentManagerBean.rootAssegnazionePerCompetenza}" var="node" id="idAssegnatarioPerCompTree_tabAssegnazioni"
								selectionMode="single" styleClass="dmd-tree" dynamic="true">
								
								<p:ajax event="expand" update="idAssegnatarioPerCompTree_tabAssegnazioni" listener="#{DocumentManagerBean.onOrgAssPerCompetenzaNodeExpand}" />
						        <p:ajax event="select" update="@parent:@parent:@form:idTabs_DMD:idAssegnatarioPerComp_tabAssegnazioni,  @parent:@parent:@form:idTabs_DMD:idAssegnatarioPerComp_DMD" 
						        	listener="#{DocumentManagerBean.onOrgAssPerCompetenzaSelect}" oncomplete="PF('wdgAssegnatarioPerComp_tabAssegnazioni').hide()"/>
						        	
								<p:treeNode>
									<p:graphicImage rendered="#{node.idUtente eq null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
									<p:outputLabel rendered="#{node.idUtente eq null}" value=" #{node.descrizioneNodo}"/>
									
									<p:graphicImage rendered="#{node.idUtente ne null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.cognomeUtente}"/>
									<p:outputLabel rendered="#{node.idUtente ne null}" value=" #{node.nomeUtente}"/>
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
					</h:form>
					<iframe title="Frame tab assegnazioni" class="cover" src="about:blank"></iframe>
				</p:overlayPanel>
			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-g" id="pnlAssegnatarioReadOnly_DMD" rendered="#{DocumentManagerBean.documentManagerDTO.assegnatarioOrganigrammaVisible}" >
			<p:outputPanel class="ui-g-2 ">
					<p:outputLabel value="Assegnatario " for="idAssegnatarioIternMan_DMD_ReadOnly" styleClass="generic_textBold"/>
			</p:outputPanel>
			<p:outputPanel class="ui-g-10">
				<p:inputText id="idAssegnatarioIternMan_DMD_ReadOnly" styleClass="generic_width30" readonly="true" value="#{DocumentManagerBean.descrAssegnatarioIterManuale}"/>
			</p:outputPanel>
		</p:outputPanel>
	<!--	ASSEGNATARI PER CONOSCENZA START -->
			<div class="ui-g-2 ">
				<p:outputLabel value="Assegnatari per conoscenza " for="idTableAssPerConoscenza_DMD" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-9 ">
				<p:dataTable var="ac" value="#{DocumentManagerBean.assegnatariPerConoscenza}" rowIndexVar="index"
					id="idTableAssPerConoscenza_DMD" styleClass="generic_tableWidth100" 
					emptyMessage="Nessun Assegnatario" paginatorAlwaysVisible="false"
					scrollable="true" rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom"
					>
	
					<p:column headerText="Ufficio" >
						<p:outputLabel value="#{ac.ufficio.descrizione}" /> 
					</p:column>
					
					<p:column headerText="Utente" >
						<p:outputLabel value="#{ac.utente.nome} #{ac.utente.cognome}" /> 
					</p:column>
					
					<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width100px">
						<p:commandButton icon="fa fa-close" update="idTableAssPerConoscenza_DMD" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}"
							action="#{DocumentManagerBean.rimuoviAssegnatarioPerConoscenza(index)}" ajax="true" >
						</p:commandButton>
					</p:column>
	
				</p:dataTable>
			</div>
			<div class="ui-g-1 ">
				<p:commandButton id="idAssePerConoscenzaBtn_DMD" icon="fa fa-plus" ajax="true" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}"
					 update="idAssPerConoscenzaTree_DMD" type="button"/>
					
				<p:overlayPanel widgetVar="wdgAssegnatarioPerConoscenza_DMD" for="idAssePerConoscenzaBtn_DMD" 
								hideEffect="fade" showEffect="fade" my="right bottom" at="left top" appendToBody="true">
					<h:form id="idFormOverlayOrganigrammaPerCon_DMDTA">
						<p:scrollPanel mode="native" styleClass="generic-scrollpane-dimOrganigrammi">
							<p:tree value="#{DocumentManagerBean.rootOrganigrammaComune}" var="node" id="idAssPerConoscenzaTree_DMD"
								selectionMode="single" styleClass="dmd-tree " dynamic="true"  >
								
								<p:ajax event="expand" update="@this" listener="#{DocumentManagerBean.onOpenTreeComune}"  />
						        <p:ajax event="select" update="@parent:@parent:@form:idTabs_DMD:idTableAssPerConoscenza_DMD" 
						        	oncomplete="PF('wdgAssegnatarioPerConoscenza_DMD').hide()"
						        	listener="#{DocumentManagerBean.onSelectTreeAssPerConoscenza}" />
						        	
								<p:treeNode >
									<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio" />
									<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
									
									<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente"/>
									<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}" />
									<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}" />
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
					</h:form>
					<iframe class="cover" src="about:blank" title="Frame tab assegnazioni"></iframe>
				</p:overlayPanel>
			</div>
	<!-- 		ASSEGNATARI PER CONOSCENZA END -->
		
	<!-- 		ASSEGNATARI PER CONTRIBUTO START -->
			<div class="ui-g-2 ">
				<p:outputLabel value="Assegnatari per contributo " for="idTableAssPerContributo_DMD" styleClass="generic_textBold" />
			</div>
			<div class="ui-g-9 ">
				<p:dataTable var="ac" value="#{DocumentManagerBean.assegnatariPerContributo}" rowIndexVar="index"
					id="idTableAssPerContributo_DMD" styleClass="generic_tableWidth100" 
					emptyMessage="Nessun Assegnatario" paginatorAlwaysVisible="false"
					scrollable="true" rows="5" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom"
					>
		
					<p:column headerText="Ufficio" >
						<p:outputLabel value="#{ac.ufficio.descrizione}" /> 
					</p:column>
					
					<p:column headerText="Utente" >
						<p:outputLabel value="#{ac.utente.nome} #{ac.utente.cognome}" /> 
					</p:column>
					
					<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width100px">
						<p:commandButton icon="fa fa-close" update="idTableAssPerContributo_DMD" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}"
							action="#{DocumentManagerBean.rimuoviAssegnatarioPerContributo(index)}" ajax="true" >
						</p:commandButton>
					</p:column>
		
				</p:dataTable>
			</div>
			<div class="ui-g-1 ">
				<p:commandButton id="idAssePerContributoBtn_DMD" icon="fa fa-plus" ajax="true" disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}"
								type="button" update="idAssPerContributoTree_DMD" />
					
				<!--  p:dialog widgetVar="wdgAssegnatarioPerContributo_DMD" dynamic="true" id="wdgAssegnatarioPerContributo_DMD" 
					hideEffect="fade"  showEffect="fade" draggable="true" position="top left"
					styleClass="dmd-tree-panel"  closeOnEscape="true" showHeader="true" closable="true"
					resizable="false" header="Organigramma" rendered="false">
				</p:dialog>
					-->
				<p:overlayPanel widgetVar="wdgAssegnatarioPerContributo_DMD" for="idAssePerContributoBtn_DMD" hideEffect="fade" showEffect="fade" my="right bottom" at="left top">
								
					<h:form id="idFormOverlayOrganigrammaPerContri_DMDTA" >
						<p:scrollPanel mode="native" styleClass="generic-scrollpane-dimOrganigrammi">
							<p:tree value="#{DocumentManagerBean.rootOrganigrammaComune}" var="node" id="idAssPerContributoTree_DMD" selectionMode="single" styleClass="dmd-tree " dynamic="true">
								
								<p:ajax event="expand" update="@this" listener="#{DocumentManagerBean.onOpenTreeComune}"  />
						        <p:ajax event="select" update="@parent:@parent:@form:idTabs_DMD:idTableAssPerContributo_DMD" oncomplete="PF('wdgAssegnatarioPerContributo_DMD').hide()"
						        	listener="#{DocumentManagerBean.onSelectTreeAssPerContributo}" />
						        	
								<p:treeNode >
									<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
									<p:outputLabel rendered="#{node.idUtente == null}" value=" #{node.descrizioneNodo}" />
									
									<p:graphicImage rendered="#{node.idUtente != null}" url="/resources/images/tree-user.png" alt="icona utente" title="utente" />
									<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.cognomeUtente}" />
									<p:outputLabel rendered="#{node.idUtente != null}" value=" #{node.nomeUtente}" />
								</p:treeNode>
								
							</p:tree>
						</p:scrollPanel>
					</h:form>
					<iframe title="Frame tab assegnazioni" class="cover" src="about:blank"></iframe>
				</p:overlayPanel>
			</div>
	<!-- 		ASSEGNATARI PER CONTRIBUTO END -->
		<div class="ui-g-12 generic_padding0 generic_margin0" >
		
			<div class="ui-g-1">
				<p:outputLabel for="idInputTextAreaMotivoAssegnazione_DMDTA" value="Motivo assegnazione " styleClass="generic_textBold" />
			</div>
			<div class="ui-g-1">
				<p:commandButton icon="fa fa-pencil-square-o" styleClass="cmdbtn_floating_icon generic_floatRight" type="button" title="Copia nota dalla coda mail" 
				 rendered="#{DocumentManagerBean.documentManagerDTO.flagProtocollaMail and fn:length(DocumentManagerBean.detail.contentNoteDaMailProtocolla) > 0}" 
				 onclick="PF('wdgInputTextAreaMotivoAssegnazione_DMDTA').jq.val('#{DocumentManagerBean.detail.contentNoteDaMailProtocolla}')"  />
			</div>
			<div class="ui-g-10 ui-fluid">
				<p:inputTextarea id="idInputTextAreaMotivoAssegnazione_DMDTA" widgetVar="wdgInputTextAreaMotivoAssegnazione_DMDTA" value="#{DocumentManagerBean.detail.motivoAssegnazione}"
				 rows="3" cols="33"
				 disabled="#{DocumentManagerBean.documentManagerDTO.assegnazioneBtnDisabled}" />
			</div>
		
		</div>

	</p:outputPanel>
		

	<p:outputPanel rendered="#{DocumentManagerBean.documentManagerDTO.inModifica}" styleClass="ui-g-12">
		<dd:dettaglioDataDatatableAssegnazioni assegnazioni="#{DocumentManagerBean.detail.assegnazioni}" />
	</p:outputPanel>

</p:outputPanel>

</ui:composition>
