<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.business.enums.MezzoSpedizioneEnum" var="MezzoSpedizioneEnum" allSuffix="ALL_ENUM_VALUES" />
	<p:importEnum type="it.ibm.red.business.enums.ModalitaDestinatarioEnum" var="ModalitaDestinatarioEnum" allSuffix="ALL_ENUM_VALUES" />

	<!-- ==============MANAGER DOCUMENTO DATA START ================================================================-->
	<p:outputPanel styleClass="generic_centra" id="idTabSpedizioneContainer_DMD" >

		<p:panelGrid columns="4" columnClasses="ui-grid-col-1,ui-grid-col-5,ui-grid-col-1,ui-grid-col-5" styleClass = "ui-panelgrid-blank generic_width100">
			
			<p:outputPanel>
				<p:outputLabel value="Mittente" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>
	
			<p:outputPanel styleClass="obbligatorio">
				<p:selectOneMenu styleClass="generic_input60 campoObbligatorio" value="#{DocumentManagerBean.detail.mailSpedizione.mittente}"  rendered="#{DocumentManagerBean.detail.modificabile}">
					<p:ajax event="change" update="@this, @form:idDimensioneContent,@form:idTabs_DMD:sizeDocPrincipaleId" listener="#{DocumentManagerBean.onChangeMittente}"/>
					<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboCaselleSpedizione}" 
						var="e" itemValue="#{e.indirizzoEmail}" itemLabel="#{e.indirizzoEmail}" />
				</p:selectOneMenu>
				<p:inputText value="#{DocumentManagerBean.detail.mailSpedizione.mittente}" readonly="true" styleClass="generic_input60" style="opacity: 0.35;" rendered="#{!DocumentManagerBean.detail.modificabile}" />
			</p:outputPanel>
			
			<p:outputLabel value="Testo predefinito" styleClass="generic_textBold"/>
			
			<p:selectOneMenu styleClass="generic_input96" value="#{DocumentManagerBean.idTestoPredefinitoMail}" disabled="#{!DocumentManagerBean.detail.modificabile}" >
				<p:ajax update="@this idTabSpedizioneContainer_DMD" event="change" listener="#{DocumentManagerBean.onChangeTestoPredefinitoMail}"
				 process="idTabSpedizioneContainer_DMD, @this"	/>
				<f:selectItems value="#{DocumentManagerBean.documentManagerDTO.comboTestiPredefiniti}" 
					var="ct" itemValue="#{ct.idTestoPredefinito}" itemLabel="#{ct.descrizione}" />
			</p:selectOneMenu>
		</p:panelGrid>	
		<p:outputPanel styleClass="ui-g">
			<div class="ui-g-12">
				<p:commandButton icon="fa fa-search" value="Visualizza notifiche" actionListener="#{DocumentManagerBean.loadNotificheEmail()}"
					oncomplete="PF('datiDiTrasmissione_Doc_Dlg').show()" update="datiDiTrasmissione_Doc_Dlg_Id" styleClass="generic_floatRight"/>
			</div>
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-g" rendered="#{!DocumentManagerBean.renderAcordionDest}">
			<p:outputPanel styleClass="ui-g-1">
				<p:outputLabel value="Destinatari" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>


			<p:outputPanel styleClass="ui-g-11 obbligatorio">
				<p:inputText widgetVar="iTDestinatariSpedWV" value="#{DocumentManagerBean.listaDestinatariToAsString}" disabled="true" styleClass="generic_input99 generic_no_opacity campoObbligatorio" />
 			</p:outputPanel>
		</p:outputPanel>
		
		<p:outputPanel rendered="#{!DocumentManagerBean.renderAcordionDest}" styleClass="ui-g">
			<div class="ui-g-1">
				<p:outputLabel  value="Destinatari CC" styleClass="generic_textBold"/>
			</div>
			<div class="ui-g-11">
			 	<p:inputText rendered="#{fn:length(DocumentManagerBean.listaMailCC) eq 0}" value="#{DocumentManagerBean.listaDestinatariCCAsString}" disabled="true"
					styleClass="generic_input99 generic_no_opacity" />
  			</div>
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-g" rendered="#{DocumentManagerBean.renderAcordionDest}">
			<div class="ui-g-12">
				<p:remoteCommand rendered="#{DocumentManagerBean.renderAcordionDest}" name="calcolaNotifiche" actionListener="#{DocumentManagerBean.calcolaNotificheDestinatari}" update="idDettagliEstesiForm:idTabs_DMD:apCalcolaNotificheTO:dataTableDestinatariToConNotifiche_Id,idDettagliEstesiForm:idTabs_DMD:apCalcolaNotificheTO:dataTableDestinatariCCConNotifiche_Id" />
				<p:accordionPanel  activeIndex="#{DocumentManagerBean.indexAcordionDest}" rendered="#{DocumentManagerBean.renderAcordionDest}" id="apCalcolaNotificheTO" value="Destinatari" onTabChange="calcolaNotifiche();">
					<p:tab title="Destinatari">
						<p:dataTable id="dataTableDestinatariToConNotifiche_Id" value="#{DocumentManagerBean.listaMailTO}" var="notificheEmail" paginatorPosition="bottom" rows="5" paginator="true" paginatorAlwaysVisible="false"
							emptyMessage="Nessuna notifica trovata" styleClass="generic_width100" rowIndexVar="index">

							<f:facet name="header">
								<p:outputLabel value="Destinatari TO" />
							</f:facet>
							
							<p:column headerText="Indirizzo email" styleClass="generic_textAlignCenter">
								<p:outputLabel value="#{notificheEmail.mittente}" />
							</p:column>
							
							<p:column headerText="Stato" styleClass="generic_width20 generic_textAlignCenter">
								<p:outputLabel value="#{notificheEmail.statoNotifica}" alt="#{notificheEmail.statoNotifica}" />
							</p:column>
							
							<p:column headerText="Stato Notifiche" styleClass="generic_width10 generic_textAlignCenter">
								<p:graphicImage value="#{notificheEmail.imageMailEnum.path}" title="#{notificheEmail.statoNotifica}" alt="#{notificheEmail.statoNotifica}"></p:graphicImage>
							</p:column>
							
							<p:column headerText="Stato Spedizione" styleClass="generic_width10 generic_textAlignCenter">
								<p:graphicImage library="images" value="/resources/images/#{notificheEmail.iconaStato.filename}" alt="#{notificheEmail.iconaStato.altText}" title="#{notificheEmail.iconaStato.title}" />
							</p:column>
							
							<p:column headerText="Azioni" styleClass="generic_width20 generic_textAlignCenter">
								<p:commandButton value="Notifiche" actionListener="#{DocumentManagerBean.loadNotificheEmailFiltrate(notificheEmail.mittente)}" oncomplete="PF('datiDiTrasmissione_Doc_Dlg').show()" update="@form:idTabs_DMD:datiDiTrasmissione_Doc_Dlg_Id" />
								<p:commandButton value="Reinvia" disabled="#{not notificheEmail.reinvioMail or DocumentManagerBean.detail.wobNumberSelected eq null}" actionListener="#{DocumentManagerBean.preparaReinviaMailDialog(index,'TO')}" oncomplete="PF('newIndMailMail_Dlg').show()" update="@form:idTabs_DMD:newIndMailMail_Dlg_Id" />
							</p:column>
							
						</p:dataTable>

						<p:spacer />

						<p:dataTable id="dataTableDestinatariCCConNotifiche_Id" value="#{DocumentManagerBean.listaMailCC}" var="notificheEmail" paginatorPosition="bottom" rows="5" paginator="true"
							paginatorAlwaysVisible="false" emptyMessage="Nessuna notifica trovata" styleClass="generic_width100" rowIndexVar="index">
							<f:facet name="header">
								<p:outputLabel value="Destinatari CC" />
							</f:facet>
							
							<p:column headerText="Indirizzo email" styleClass="generic_textAlignCenter">
								<p:outputLabel value="#{notificheEmail.mittente}" />
							</p:column>
							
							<p:column headerText="Stato" styleClass="generic_width20 generic_textAlignCenter">
								<p:outputLabel value="#{notificheEmail.statoNotifica}" alt="#{notificheEmail.statoNotifica}" />
							</p:column>
							
							<p:column headerText="Stato Notifiche" styleClass="generic_width10 generic_textAlignCenter">
								<p:graphicImage value="#{notificheEmail.imageMailEnum.path}" title="#{notificheEmail.statoNotifica}" alt="#{notificheEmail.statoNotifica}"></p:graphicImage>
							</p:column>
							
							<p:column headerText="Stato Spedizione" styleClass="generic_width10 generic_textAlignCenter">
								<p:graphicImage library="images" value="/resources/images/#{notificheEmail.iconaStato.filename}" alt="#{notificheEmail.iconaStato.altText}" title="#{notificheEmail.iconaStato.title}" />
							</p:column>
							
							<p:column headerText="Azioni" styleClass="generic_width20 generic_textAlignCenter">
								<p:commandButton value="Notifiche" actionListener="#{DocumentManagerBean.loadNotificheEmailFiltrate(notificheEmail.mittente)}" oncomplete="PF('datiDiTrasmissione_Doc_Dlg').show()" update="@form:idTabs_DMD:datiDiTrasmissione_Doc_Dlg_Id" />
								<p:commandButton value="Reinvia" disabled="#{!notificheEmail.reinvioMail}" oncomplete="PF('newIndMailMail_Dlg').show()" actionListener="#{DocumentManagerBean.preparaReinviaMailDialog(index,'CC')}" update="@form:idTabs_DMD:newIndMailMail_Dlg_Id" />
							</p:column>
							
						</p:dataTable>
					</p:tab>
				</p:accordionPanel>
			</div>
		</p:outputPanel>

		<p:panelGrid columns="3" columnClasses="ui-grid-col-1,ui-grid-col-3 generic_textAlignRight, ui-grid-col-8" styleClass = "ui-panelgrid-blank generic_width100">
		
			<p:outputPanel>
				<p:outputLabel value="Oggetto" styleClass="generic_textBold"/>
				<p:outputLabel value="*" class="generic_redStar generic_textBold" />
			</p:outputPanel>
			
			<p:outputLabel value="#{DocumentManagerBean.documentManagerDTO.prefixOggettoMail}" styleClass="generic_grassetto generic_corsivo " />
			
			<p:inputTextarea widgetVar="wdgMailSpedOggetto_DMDTS" rows="1" styleClass="generic_input100 obbligatorio bk-lightYellowImp" value="#{DocumentManagerBean.detail.mailSpedizione.oggetto}" id="idMailSpedizioneOggetto_DTS" readonly="#{!DocumentManagerBean.detail.modificabile}" style="opacity=0.35"/>
			
		</p:panelGrid>
			
		<div class="ui-g">
			<p:outputLabel value="Testo" styleClass="generic_textBold"/>
			<p:outputLabel value="*" class="generic_redStar generic_textBold" />
		</div>
		
		
		<div class="ui-g obbligatorio">
			<p:inputTextarea rows="4" styleClass="generic_input99 campoObbligatorio" value="#{DocumentManagerBean.detail.mailSpedizione.testo}" disabled="#{!DocumentManagerBean.detail.modificabile}"/>
		</div>
		
	</p:outputPanel>
	
<!--========================================================== Btn Visualizza Notifiche start ==========================================================-->
	<p:dialog header="Dati di Trasmissione" widgetVar="datiDiTrasmissione_Doc_Dlg" modal="true" showEffect="fade" hideEffect="fade" resizable="false"
		closable="true" id="datiDiTrasmissione_Doc_Dlg_Id" dynamic="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('datiDiTrasmissione_Doc_Dlg')"
		styleClass="generic_padding0 generic_margin0" position="center" draggable="true" appendTo="@form">
			<!-- NOTIFICHE -->
		<p:outputPanel id="idPanelNotifiche" styleClass="generic_padding0 generic_margin0 generic_noborder">
			<p:dataTable id="idNotificheDT" value="#{DocumentManagerBean.listaNotificheFiltrate}" 
				var="notificheEmail"  rows="5" rowsPerPageTemplate="5,10,15" paginator="true" 
				paginatorPosition="bottom" paginatorAlwaysVisible="false" 
				emptyMessage="Nessuna notifica trovata" styleClass="generic_maxwidth60em">
			
				<f:facet name="header">
					<h:outputText value="Numero Protocollo: #{DocumentManagerBean.detail.numeroProtocollo ne null ? ''.concat(DocumentManagerBean.detail.numeroProtocollo).concat('/').concat(DocumentManagerBean.detail.annoProtocollo) : 'Non Presente'}"/>
				</f:facet>
			
				<p:column headerText="Data Ricezione" styleClass="generic_textAlignLeft">
					<p:outputLabel value="#{notificheEmail.dataRicezione}">
					  	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
					</p:outputLabel>
				</p:column>
				
				<p:column headerText="Tipo Notifica" styleClass="generic_textAlignLeft ellipsis">
					<p:commandLink oncomplete="PF('wdgNotificheTesto').show()" update="@namingcontainer:@namingcontainer:notificaSelectedId">
						<f:setPropertyActionListener value="#{notificheEmail.testo}" target="#{DocumentManagerBean.notificaSelectedTesto}" />
						<h:outputText value="#{notificheEmail.statoNotifica}" title="#{notificheEmail.statoNotifica}" />
					</p:commandLink> 
				</p:column>
				
				<p:column headerText="Mittente" styleClass="generic_textAlignLeft ellipsis">
					<p:outputLabel value="#{notificheEmail.mittente}" title="#{notificheEmail.mittente}" />
				</p:column>
				 
				 <p:column headerText="Oggetto" styleClass="generic_textAlignLeft ellipsis">
					<p:outputLabel value="#{notificheEmail.oggetto}" title="#{notificheEmail.oggetto}" />
				</p:column>
				
				<p:column headerText="Destinatario" styleClass="generic_textAlignLeft ellipsis">
					<p:outputLabel value="#{notificheEmail.destinatari}" title="#{notificheEmail.destinatari}" />
				</p:column>
		</p:dataTable>
		 
	 		<p:panelGrid columns="3" columnClasses="ui-g-4,ui-g-4,ui-g-4"  styleClass="ui-panelgrid-blank generic_noborder" layout="grid">
		 	 	<p:commandButton value="Scarica Report" title="Esporta Excel" styleClass="generic_width100" icon="fa fa-file-excel-o"
		 	 		ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotificheFiltrate)==0}">
					<p:dataExporter type="xls" target="idNotificheDT" fileName="#{DocumentManagerBean.nomeReportDatiDiTrasmissione}" />
				</p:commandButton>
			    <p:commandButton  value="Scarica Notifiche" styleClass="generic_width100" title="Scarica Notifiche"
			    	ajax="false" disabled="#{fn:length(DocumentManagerBean.listaNotificheFiltrate)==0}" icon="fa fa-file-text-o" >
			    	<p:fileDownload value="#{DocumentManagerBean.downloadDatiDiTrasmissioneZip()}" />
			    </p:commandButton>
			    <p:commandButton icon="fa fa-close" value="Chiudi" styleClass="generic_width100 uniqueCloseButton" 
			    	oncomplete="PF('datiDiTrasmissione_Doc_Dlg').hide()" />
			</p:panelGrid>

		</p:outputPanel>
	
		<p:dialog header="Dettaglio notifica" styleClass="generic_maxwidth600px" widgetVar="wdgNotificheTesto" 
			 dynamic="false" appendTo="@form" closable="true" >
			 <p:outputPanel styleClass="generic_textAlignCenter" id="notificaSelectedId">
				<h:outputText value="#{DocumentManagerBean.notificaSelectedTesto}" escape="false"/>
			 </p:outputPanel>
			 <p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton icon="fa fa-close" value="Chiudi" title="Chiudi" type="button" onclick="PF('wdgNotificheTesto').hide()" />
			</p:outputPanel>
		</p:dialog> 
	</p:dialog>
<!--========================================================== Btn Visualizza Notifiche end ============================================================-->

<!--========================================================== Rubrica Mail start ==========================================================-->
	<p:dialog header="Nuovo indirizzo email" widgetVar="newIndMailMail_Dlg"  modal="true" showEffect="fade" hideEffect="fade" resizable="false"
		closable="true" id="newIndMailMail_Dlg_Id"  dynamic="true" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('newIndMailMail_Dlg')"
		styleClass="generic_padding0 generic_margin0 generic_width20" position="center" draggable="true" appendTo="@form">
			<ui:include src="./reinviaMail.xhtml"></ui:include>
	</p:dialog>
<!--========================================================== Rubrica Mail end ============================================================-->
</ui:composition>