<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom"
	xmlns:redf="http://xmlns.jcp.org/jsf/composite/fepa"
	xmlns:infopanel="http://java.sun.com/jsf/composite/custom"
	>
	
	
				
	<p:outputPanel id="idRicercaContatto_DMDRC" styleClass="ui-g" >
				
		
		
<!-- 	SOLO RICERCA MEF START Ricerca Ufficio / Ricerca Personale -->
		<p:outputPanel styleClass="ui-g-12" 
			rendered="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaMEF and (!DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRED and !DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaIPA and !DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRubricaUfficio) and DocumentManager.documentManagerDTO.ricercaRubricaDTO.showUfficioOPersonale}">
			<p:outputLabel for="ufficioOPersonale" styleClass="generic_centra" />
       		<p:selectOneRadio id="ufficioOPersonale" value="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.isUfficio}" styleClass="generic_centra">
        		<p:ajax update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC"/>
           		<f:selectItem itemLabel="Ricerca Ufficio" itemValue="true" />
           		<f:selectItem itemLabel="Ricerca Personale" itemValue="false" />
   			</p:selectOneRadio>
		</p:outputPanel>
<!-- 	SOLO RICERCA MEF END Ricerca Ufficio / Ricerca Personale -->
		
		
		<p:outputPanel styleClass="ui-g-12 generic_marginTop15">
			<div class="ui-g-2">
				<p:outputLabel value="Ricerca" styleClass="generic_textBold"  />
			</div>
			<div class="ui-g-4">
				<p:inputText value="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.queryRicerca}" styleClass="textfield_input" />
			</div>
			<div class="ui-g-6">
				<p:outputLabel for="ricercaRED" value="Rubrica RED" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRED" value="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRED}" styleClass="generic_marginRight">
					<p:ajax listener="#{DocumentManagerBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaRED" />
					<p:ajax listener="#{DocumentManagerBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>
				<p:outputLabel for="ricercaIPA" value="Rubrica IPA" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaIPA" value="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaIPA}" styleClass="generic_marginRight">
					<p:ajax listener="#{DocumentManagerBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaIPA" />
					<p:ajax listener="#{DocumentManagerBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>

				<p:outputLabel for="ricercaRubricaUfficio" value="Rubrica Ufficio" styleClass="generic_marginRight05em" />
				<p:selectBooleanCheckbox id="ricercaRubricaUfficio" value="#{DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRubricaUfficio}" styleClass="generic_marginRight">
					<p:ajax listener="#{DocumentManagerBean.selezionaRubricaCheckBox}" update="idRicercaContatto_DMDRC" process="ricercaRubricaUfficio" />
					<p:ajax listener="#{DocumentManagerBean.resetCampiRubricaRicerca}" update="idRicercaContatto_DMDRC" process="idRicercaContatto_DMDRC" />
				</p:selectBooleanCheckbox>
			</div>

		</p:outputPanel>
<!-- 		SOLO RICERCA RED END -->

    
		<div class="buttonsDiv generic_textAlignCenter ui-g-12">
			<p:commandButton id="idCerca_DMDRC" icon="fa fa-search" actionListener="#{DocumentManagerBean.cercaContattoRubrica}" value="Cerca" 
				update="idDettagliEstesiForm:preferitoTabV, idResults_DMDRC, idRicercaContatto_DMDRC"  process="idDettagliEstesiForm:preferitoTabV, idResults_DMDRC, idRicercaContatto_DMDRC" disabled="#{not DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRubricaUfficio and not DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaIPA and
				not DocumentManagerBean.documentManagerDTO.ricercaRubricaDTO.ricercaRED}"  />
		</div>

		<p:outputPanel id="idResults_DMDRC" styleClass="ui-g-12" rendered="#{!DocumentManagerBean.hiddenTable}">
			<p:dataTable value="#{DocumentManagerBean.documentManagerDTO.resultRicercaContatti}" var="c" rowIndexVar="index" filteredValue="#{DocumentManagerBean.documentManagerDTO.resultRicercaContattiFiltered}" paginatorAlwaysVisible="false" emptyMessage="Nessun contatto preferito" widgetVar="wdgRicRubrica_DMDRC" id="idRicRubrica_DMDRC" rows="5" rowsPerPageTemplate="5,10,15" rendered="#{ DocumentManagerBean.documentManagerDTO.resultRicercaContatti != null}" paginatorTemplate="TOT : #{fn:length(DocumentManagerBean.documentManagerDTO.resultRicercaContatti)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" paginatorPosition="bottom">

				<p:column headerText="Azioni" styleClass="generic_width10 textAlignCenter">
					<p:outputPanel rendered="#{DocumentManagerBean.documentManagerDTO.destinatariVisible}">
						<p:commandButton id="menuRubricaRicDestBtn" type="button" icon="fa fa-ellipsis-v" />
						<p:menu overlay="true" trigger="menuRubricaRicDestBtn" my="left top" at="left bottom" style="width: 15%;">
							<p:submenu label="Azioni" styleClass="hiddenBackground">
								<p:separator></p:separator>
								<p:menuitem icon="fa fa-star" rendered="#{c.isPreferito and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{DocumentManagerBean.rimuoviPreferito}" title="Rimuovi da rubrica ufficio" value="Rimuovi da rubrica ufficio" update="@form:preferitoTabV:idResults_DMDRC, @form:preferitoTabV:contattiPreferitiTbl" />
								<p:menuitem icon="fa fa-star-o" rendered="#{(c.isPreferito eq null or !c.isPreferito) and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{DocumentManagerBean.aggiungiPreferito}" title="Aggiungi a rubrica ufficio" value="Aggiungi a rubrica ufficio" update="@form:preferitoTabV:idResults_DMDRC, @form:preferitoTabV:contattiPreferitiTbl" />
								<p:menuitem icon="fa fa-sitemap" disabled="#{c.tipoPersona eq 'AMM'}" rendered="#{c.tipoRubrica eq 'IPA'}" title="Gerarchia OU" value="Mostra alberatura IPA" actionListener="#{DocumentManagerBean.showAlberaturaContattoIPA}" onstart="PF('alberaturaIpaWV').hide();" oncomplete="PF('alberaturaIpaWV').show();" update="idDettagliEstesiForm:preferitoTabV:alberaturaIpaID" />
								<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addDestinatarioFromRicercaRubrica(index)}" title="Aggiungi" value="Aggiungi" rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita) and c.tipoRubrica ne 'GRUPPO'}" process="@this" disabled="#{c.disabilitaElemento}" update="@this, idDettagliEstesiForm:idDestinatari_DMD, idDettagliEstesiForm:idTabs_DMD, idDettagliEstesiForm:idTabs_DMD:idTabSpedizioneContainer_DMD,idDettagliEstesiForm:idDimensioneContent" />
								<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addContattiGruppo(c)}" title="Aggiungi Contatti Del Gruppo" value="Aggiungi contatti del gruppo" rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita) and c.tipoRubrica eq 'GRUPPO'}" process="@this" disabled="#{c.disabilitaElemento}" update="@this, idDettagliEstesiForm:idDestinatari_DMD, idDettagliEstesiForm:idTabs_DMD, idDettagliEstesiForm:idTabs_DMD:idTabSpedizioneContainer_DMD" />
								<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{DocumentManagerBean.addMittenteFromRicercaRubrica(index)}" title="Aggiungi" value="Aggiungi" rendered="#{DocumentManagerBean.documentManagerDTO.inModificaIngresso or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso}" update="@this, idDettagliEstesiForm:idMittenteAuto_DMD, idDettagliEstesiForm:mailOnTheFlyIT,idDettagliEstesiForm:idTipoEmail " process="@this" />
								<p:menuitem rendered="#{c.tipoRubrica eq 'RED' and (DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita)}" icon="fa fa-pencil" ajax="true" action="#{DocumentManagerBean.modificaDestinatario(c,3)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" update="@form:preferitoTabV" process="@this" />
								<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{DocumentManagerBean.modificaDestinatario(c,2)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{c.tipoRubrica eq 'RED' and (DocumentManagerBean.documentManagerDTO.inModificaIngresso or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso)}" update="@form:idOrlyPnlMittForm_DMD" process="@this" />
								<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{DocumentManagerBean.eliminaContatto(c,true)}" title="Elimina" value="Elimina" rendered="#{c.tipoRubrica eq 'RED' and DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" process="@this" update="idDettagliEstesiForm:preferitoTabV:idResults_DMDRC" />
								<p:menuitem icon="fa fa-trash" value="Richiedi Eliminazione" title="Richiedi Eliminazione" rendered="#{c.tipoRubrica eq 'RED' and !DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show();" actionListener="#{DocumentManagerBean.impostaContattoDaEliminare}" process="@this" update="idDettagliEstesiForm:preferitoTabV:panelContattiGruppoDMD" />
							</p:submenu>
						</p:menu>
					</p:outputPanel>
					
					<p:outputPanel rendered="#{DocumentManagerBean.documentManagerDTO.mittenteVisible}">
						<p:commandButton id="menuRubricaRicMittBtn" type="button" icon="fa fa-ellipsis-v" />
						<p:menu overlay="true" trigger="menuRubricaRicMittBtn" my="left top" at="left bottom" style="width: 15%;">
							<p:submenu label="Azioni" styleClass="hiddenBackground">
								<p:separator></p:separator>
								<p:menuitem icon="fa fa-star" rendered="#{c.isPreferito and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{DocumentManagerBean.rimuoviPreferito}" title="Rimuovi da rubrica ufficio" value="Rimuovi da rubrica ufficio" update="idDettagliEstesiForm:idMittentePrefTabs_DMD:idPreferitiMittenti_DMD, idDettagliEstesiForm:idMittentePrefTabs_DMD:idResults_DMDRC" process="@this" />
								<p:menuitem icon="fa fa-star-o" rendered="#{c.isPreferito eq null or !c.isPreferito and c.tipoRubrica ne 'GRUPPO'}" actionListener="#{DocumentManagerBean.aggiungiPreferito}" title="Aggiungi a rubrica ufficio" value="Aggiungi a rubrica ufficio" update="idDettagliEstesiForm:idMittentePrefTabs_DMD:idPreferitiMittenti_DMD, idDettagliEstesiForm:idMittentePrefTabs_DMD:idResults_DMDRC" process="@this" />
								<p:menuitem icon="fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA'}" disabled="#{(c.tipoPersona eq 'AMM' or c.tipoRubrica ne 'IPA')}" title="Gerarchia OU" value="Mostra alberatura IPA" actionListener="#{DocumentManagerBean.showAlberaturaContattoIPA}" onstart="PF('alberaturaIpaWV').hide();" oncomplete="PF('alberaturaIpaWV').show();" update="idDettagliEstesiForm:idMittentePrefTabs_DMD:alberaturaIpaID" process="@this" />
								<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addDestinatarioFromRicercaRubrica(index)}" title="Aggiungi" value="Aggiungi" rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita) and c.tipoRubrica ne 'GRUPPO'}" process="@this" disabled="#{c.disabilitaElemento}" update="@this, idDettagliEstesiForm:idDestinatari_DMD, idDettagliEstesiForm:idTabs_DMD, idDettagliEstesiForm:idTabs_DMD:idTabSpedizioneContainer_DMD" />
								<p:menuitem icon="fa fa-plus" ajax="true" action="#{DocumentManagerBean.addContattiGruppo(c)}" title="Aggiungi Contatti Del Gruppo" value="Aggiungi contatti del gruppo" rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita) and c.tipoRubrica eq 'GRUPPO'}" process="@this" disabled="#{c.disabilitaElemento}" update="@this, idDettagliEstesiForm:idDestinatari_DMD, idDettagliEstesiForm:idTabs_DMD, idDettagliEstesiForm:idTabs_DMD:idTabSpedizioneContainer_DMD" />
								<p:menuitem icon="fa fa-plus" ajax="true" actionListener="#{DocumentManagerBean.addMittenteFromRicercaRubrica(index)}" title="Aggiungi" value="Aggiungi" rendered="#{DocumentManagerBean.documentManagerDTO.inModificaIngresso or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso}" update="@this, idDettagliEstesiForm:idMittenteAuto_DMD, idDettagliEstesiForm:mailOnTheFlyIT,idDettagliEstesiForm:idTipoEmail ,idDettagliEstesiForm:gestContBtnID,idDettagliEstesiForm:creaOnTheFlyID" process="@this" oncomplete="PF('wdgCercaPreferitoMitt').hide();" />
								<p:menuitem rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaUscita or DocumentManagerBean.documentManagerDTO.inCreazioneUscita) and c.tipoRubrica ne 'RED'}" icon="fa fa-pencil" ajax="true" action="#{DocumentManagerBean.modificaDestinatario(c,3)}" value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" update="@form:preferitoTabV" process="@this" />
								<p:menuitem icon="fa fa-pencil" ajax="true" actionListener="#{DocumentManagerBean.modificaDestinatario(c,2)}" title="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" value="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica ? 'Modifica' : 'Richiedi Modifica'}" rendered="#{(DocumentManagerBean.documentManagerDTO.inModificaIngresso or DocumentManagerBean.documentManagerDTO.inCreazioneIngresso) and c.tipoRubrica eq 'RED'}" update="@form:idOrlyPnlMittForm_DMD" process="@this" />
								<p:menuitem icon="fa fa-trash" ajax="true" actionListener="#{DocumentManagerBean.eliminaContatto(c,true)}" value="Elimina" title="Elimina" rendered="#{DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica and c.tipoRubrica eq 'RED'}" process="@this" />
								<p:menuitem icon="fa fa-trash" title="Richiedi Eliminazione" value="Richiedi Eliminazione" rendered="#{c.tipoRubrica eq 'RED' and !DocumentManagerBean.permessoUtenteGestioneRichiesteRubrica}" oncomplete="PF('dialogRichEliminazioneVW').show();" actionListener="#{DocumentManagerBean.impostaContattoDaEliminare}" process="@this" update="idDettagliEstesiForm:idMittentePrefTabs_DMD:panelContattiGruppoDMD"/>
							</p:submenu>
						</p:menu>
					</p:outputPanel>
					
				</p:column>
				<p:column headerText="Tipo Elemento" filterBy="#{c.tipoRubrica}" filterMatchMode="contains" styleClass="generic_textAlignCenter" width="10%" sortBy="#{c.tipoRubrica}">

					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'RED'}" title="RED" />
					<h:outputText styleClass="generic_displayBlock fa fa-user" rendered="#{c.tipoRubrica eq 'MEF'}" title="MEF" />
					<h:outputText styleClass="generic_displayBlock fa fa-sitemap" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AMM'}" title="IPA - AMM" />
					<h:outputText styleClass="generic_displayBlock fa fa-bank" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'AOO'}" title="IPA - AOO" />
					<h:outputText styleClass="generic_displayBlock fa fa-building" rendered="#{c.tipoRubrica eq 'IPA' and c.tipoPersona eq 'OU'}" title="IPA - OU" />
					<h:outputText styleClass="generic_displayBlock fa fa-users" rendered="#{c.tipoRubrica eq 'GRUPPO'}" title="GRUPPO" />
				</p:column>

				<p:column headerText="Cognome Nome" filterBy="#{c.denominazione}" filterMatchMode="contains" styleClass="generic_width20" sortBy="#{c.denominazione}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.denominazione) gt 50?fn:substring(c.denominazione, 0, 50).concat('...'):c.denominazione} " title=" #{c.denominazione} " />
				</p:column>

				<p:column headerText="Alias" filterBy="#{c.aliasContatto}" filterMatchMode="contains" sortBy="#{c.aliasContatto}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.aliasContatto) gt 50?fn:substring(c.aliasContatto, 0, 50).concat('...'):c.aliasContatto} "	title=" #{c.aliasContatto} " />
				</p:column>
				<p:column headerText="Mail" filterBy="#{c.mail} #{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mail}">
					<h:outputText styleClass="generic_displayBlock" value="#{(fn:length(c.mail) gt 50)?fn:substring(c.mail,0,50).concat('...'):c.mail}" title="#{c.mail}" />
				</p:column>
				<p:column headerText="Mail PEC" filterBy="#{c.mailPec}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.mailPec}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.mailPec) gt 50?fn:substring(c.mailPec,0,50).concat('...'):c.mailPec}" title="#{c.mailPec}" />
				</p:column>
				<p:column headerText="Indirizzo" filterBy="#{c.indirizzo}, #{c.CAP}" filterMatchMode="contains" styleClass="generic_width15" sortBy="#{c.indirizzo}">
					<h:outputText styleClass="generic_displayBlock" value="#{fn:length(c.CAP) gt 0?c.indirizzo.concat(', ').concat(c.CAP):c.indirizzo}" title="#{c.indirizzo}, #{c.CAP}" />
				</p:column>

			</p:dataTable>

		</p:outputPanel>

	</p:outputPanel>
	
	<p:dialog  id="alberaturaIpaID" header="Alberatura IPA" closeOnEscape="true" widgetVar="alberaturaIpaWV" position="center" showEffect="fade" styleClass="dmd-tree-panel" hideEffect="fade" appendTo="@form" resizable="false" closable="true" dynamic="true" modal="false" >	
		<div class="dmd-tree-panel generic_textAlignLeft" >
			  <p:tree value="#{DocumentManagerBean.root}" var="nodo" dynamic="true" selectionMode="single" styleClass="dmd-tree">
				
					<p:treeNode type="AMM">
							<p:graphicImage url="/resources/images/tree-uff.png" alt="icona ufficio" title="ufficio"/>
							<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>
								
					<p:treeNode type="AOO">
							<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
							<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>
								
					<p:treeNode type="OU">
							<p:graphicImage url="/resources/images/tree-uff.png" alt="icona utente" title="utente" />
							<p:outputLabel value="#{nodo.aliasContatto}" />
					</p:treeNode>
						        	
			</p:tree>
		</div>
	</p:dialog>
	
</ui:composition>
