<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:dd="http://java.sun.com/jsf/composite/custom"
	>
	<p:importEnum type="it.ibm.red.web.enums.NavigationTokenEnum" var="navTokenEnum" allSuffix="ALL_ENUM_VALUES"/>
	
	<div class="ui-g generic_padding0 generic_margin0 generic_heigth95 generic_overflow">
	
	
		<div id="docMetadata" class="#{DocumentManagerBean.documentManagerDTO.inModifica or DocumentManagerBean.detail.protocollazioneMailGuid != null? 'ui-g-8 generic_margin0 generic_centra generic_overflow': 'ui-g-12 generic_margin0 generic_centra generic_overflow'}" >
<!-- ==============MANAGER DOCUMENTO START ================================================================ -->
			<ui:include src="documentManagerData.xhtml"></ui:include>
<!-- ==============MANAGER DOCUMENTO END ==================================================================		 -->
		</div>

		<p:outputPanel id="docPreview" rendered="#{DocumentManagerBean.documentManagerDTO.inModifica}" styleClass="#{DocumentManagerBean.documentManagerDTO.inModifica or DocumentManagerBean.detail.protocollazioneMailGuid != null? 'ui-g-4 generic_margin0 generic_centra' :'visibility:hidden' }">
<!-- ==============VISUALIZZATORE DOCUMENTO START ================================================================ -->
			<dd:dettaglioDocumentoTabPreview documentCmp="#{DocumentManagerBean.previewComponent}"  isDocumentoIngresso="#{DocumentManagerBean.detail.idCategoriaDocumento}" 
			idTipoAssegnazione="#{DocumentManagerBean.detail.tipoAssegnazioneEnum.id}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
<!-- ==============VISUALIZZATORE DOCUMENTO END ================================================================ -->
		</p:outputPanel>

		<!--  Tabs per l'anteprima del protocolla -->		
		<p:tabView id="previewTabs" rendered="#{not DocumentManagerBean.documentManagerDTO.inModifica and DocumentManagerBean.detail.protocollazioneMailGuid ne null}" styleClass="#{DocumentManagerBean.documentManagerDTO.inModifica or DocumentManagerBean.detail.protocollazioneMailGuid != null? 'ui-g-4 generic_margin0 generic_centra' :'visibility:hidden' }">
			<!--   -->
			<p:tab id="previewDocTab" title="Preview" >
				<dd:dettaglioDocumentoTabPreview documentCmp="#{DocumentManagerBean.previewComponent}" showAnnotation="#{SessionBean.activePageInfo eq navTokenEnum.LIBROFIRMA or SessionBean.activePageInfo eq navTokenEnum.DD_IN_FIRMA or SessionBean.activePageInfo eq navTokenEnum.LIBRO_FIRMA_DELEGATO}"/>
			</p:tab>
			<p:tab id="testoMailPreviewTab" title="Testo mail" rendered="#{DocumentManagerBean.detail.protocollazioneMailGuid ne null and MailBean.currentmail ne null}">
				<dd:dettaglioTestoMailComponent testoMail="#{MailBean.currentmail.testo}" />
			</p:tab>
		</p:tabView>
	
</div>
</ui:composition>
