<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<p:outputPanel id="outerPnlAggiungiModificaContributoEst">
	
		<red:dlgAggiungiModificaContributoEst
			id="cmpAggiungiModificaContributoEst" 
			rendered="#{DocumentManagerBean.contributiEsterniTab ne null}"
			component="#{DocumentManagerBean.contributiEsterniTab.aggiungiModificaComponent}" 
			registraUpdate="@form:idTabs_DMD:idTabsContributi_DMDT:dtContributiEsterni_DMDTC, @form:idTabs_DMD:idTabsContributi_DMDT:dtContributiEsterniDetail_DMDTC"/>
				
	</p:outputPanel>
	
</ui:composition>
