<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:panel id="reinviaMailPNL_Id" styleClass="generic_padding0 generic_margin0 generic_noborder ui-g">
		<div class="ui-g-4">
			<p:outputLabel value="Indirizzo email" styleClass="generic_textBold"/>
		</div>
		<div class="ui-g-8">
			<p:inputText value="#{DocumentManagerBean.indirizzoMailPerReinvia}" styleClass="textfield_input"/>
		</div>
	</p:panel>	
	<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6,ui-gri-col-6" styleClass="pnlgrid_noborder">
		<p:commandButton value="Registra" title="Registra" icon="fa fa-pencil" actionListener="#{DocumentManagerBean.reinviaMail}" oncomplete="PF('newIndMailMail_Dlg').hide()" styleClass="generic_width100" update="idDettagliEstesiForm:idTabs_DMD:apCalcolaNotificheTO:dataTableDestinatariToConNotifiche_Id,idDettagliEstesiForm:idTabs_DMD:apCalcolaNotificheTO:dataTableDestinatariCCConNotifiche_Id"/>
		<p:commandButton  type="button" value="Chiudi" icon="fa fa-times" title="Chiudi" onclick="PF('newIndMailMail_Dlg').hide()" styleClass="generic_width100 uniqueCloseButton"/>
	</p:panelGrid>	
</ui:composition>