<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	
	<p:outputPanel class="ui-g-2" rendered="#{SessionBean.utente.showAllaccioNps and SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO) or (DocumentManagerBean.documentManagerDTO.inModificaUscita and DocumentManagerBean.riferimentoProtNpsDTO ne null)}">
		<p:outputLabel for="idProtocolliRiferimentoNPS_DMD" value="Riferimento ai protocolli in entrata Nps" styleClass="generic_textBold" />
	</p:outputPanel>

	<p:outputPanel class="ui-g-10" rendered="#{SessionBean.utente.showAllaccioNps and SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO) or (DocumentManagerBean.documentManagerDTO.inModificaUscita and DocumentManagerBean.riferimentoProtNpsDTO ne null)}">
		<p:dataTable var="rifProtNps" value="#{DocumentManagerBean.riferimentoProtNpsDTO}" id="idProtocolliRiferimentoNPS_DMD" paginatorAlwaysVisible="false" emptyMessage="Nessun riferimento protocollo." rowIndexVar="index" styleClass="dmd-tabellaProtocolliRif">

			<p:column headerText="Anno" styleClass="generic_textAlignCenter generic_width30">
				<p:inputNumber value="#{rifProtNps.annoProtocolloNps}" maxValue="#{DocumentManagerBean.documentManagerDTO.maxAnno}" disabled="#{!DocumentManagerBean.detail.modificabile}" thousandSeparator="" padControl="false" rendered="#{not rifProtNps.verificato}" />
				<p:outputLabel rendered="#{rifProtNps.verificato}" value="#{rifProtNps.annoProtocolloNps}" />
			</p:column>

			<p:column headerText="Num. Prot. Nps" styleClass="generic_textAlignCenter generic_width30">
				<p:inputNumber value="#{rifProtNps.numeroProtocolloNps}" thousandSeparator="" padControl="false" disabled="#{!DocumentManagerBean.detail.modificabile}" rendered="#{rifProtNps.verificato == false}" />
				<p:outputLabel rendered="#{rifProtNps.verificato}" value="#{rifProtNps.numeroProtocolloNps}" />
			</p:column>

			<p:column headerText="Verificato" styleClass="generic_textAlignCenter generic_width20">
				<h:outputText rendered="#{rifProtNps.verificato}" styleClass="generic_centra fa fa-check" />
			</p:column>

			<p:column headerText="Azioni" styleClass="generic_textAlignCenter generic_width20">
				<p:commandButton ajax="true" action="#{DocumentManagerBean.verificaProtocolloDiRiferimentoNps(index)}" icon="fa fa-check" title="Verifica Documento" update="idProtocolliRiferimentoNPS_DMD @namingcontainer:@namingcontainer" rendered="#{not rifProtNps.verificato}" disabled="#{!DocumentManagerBean.detail.modificabile or !SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO)}"/>
				<p:commandButton ajax="true" action="#{DocumentManagerBean.ribaltaRiferimentoNps(index)}" icon="fa fa-paste" title="Ribalta Documento" update="idProtocolliRiferimentoNPS_DMD @namingcontainer:@namingcontainer idDettagliEstesiForm:oggetto_DMD" disabled="#{!DocumentManagerBean.detail.modificabile or !SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO)}"/>
				<p:commandButton ajax="true" action="#{DocumentManagerBean.removeProtocolloDiRiferimentoNps(index)}" icon="fa fa-close" title="Elimina Documento" update="idProtocolliRiferimentoNPS_DMD @namingcontainer:@namingcontainer" rendered="#{not rifProtNps.disabled}" disabled="#{!DocumentManagerBean.detail.modificabile or !SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO)}" />
			</p:column>
		</p:dataTable>

		<p:commandButton rendered="#{SessionBean.utente.showAllaccioNps and SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO) or (DocumentManagerBean.documentManagerDTO.inModificaUscita and DocumentManagerBean.riferimentoProtNpsDTO ne null)}"
			 ajax="true" icon="fa fa-plus" alt="Aggiungi protocollo Nps" styleClass="dmd-tabellaProtocolliRifBtnAdd" action="#{DocumentManagerBean.addProtocolloDiRiferimentoNPS}" update="idProtocolliRiferimentoNPS_DMD" disabled="#{!DocumentManagerBean.detail.modificabile or !SessionBean.haAccessoAllaFunzionalita(afe.RICERCAPROTOCOLLO)}" />
	</p:outputPanel>

</ui:composition>
