<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="centralSectionContent">
	
		<div class="ui-widget-content generic_noborder">
	
			<h3 class="textAlignCenter">Gestione Accordi di Servizio</h3>
 
			<p:fieldset legend="Generazione Template Accordo di Servizio" toggleable="true" toggleSpeed="500" style="margin-bottom: 10px;">
				<p:panelGrid columns="5" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" columnClasses="ui-grid-col-2 textAlignCenter,ui-grid-col-3,ui-grid-col-2 textAlignCenter,ui-grid-col-3,ui-grid-col-2">
	
					<p:outputLabel value="Tipo Documento"/>  
					<p:selectOneMenu value="#{AccordiServizioBean.idTipoDocumento}" style="width: 90%;">
						<p:ajax event="change" listener="#{AccordiServizioBean.onChangeTipologiaDocumento}" update="comboTipiProc"/>
						<f:selectItem itemLabel="Seleziona..." itemValue="#{null}" />
						<f:selectItems value="#{AccordiServizioBean.comboTipologieDocumento}" var="t" itemValue="#{t.value}" itemLabel="#{t.description}"/>
					</p:selectOneMenu>
					<p:outputLabel value="Tipo Procedimento"/>  
					<p:selectOneMenu id="comboTipiProc" value="#{AccordiServizioBean.idTipoProcedimento}" disabled="#{AccordiServizioBean.idTipoDocumento == null}" style="width: 90%;">
						<p:ajax event="change" update="btnDownloadSample"/>
						<f:selectItem itemLabel="Seleziona..." itemValue="#{null}" />
						<f:selectItems value="#{AccordiServizioBean.comboTipologieProcedimento}" var="t" itemValue="#{t.value}" itemLabel="#{t.description}"/>
					</p:selectOneMenu>
					
					<p:commandButton id="btnDownloadSample" icon="fa fa-download" value="Genera" ajax="false" disabled="#{AccordiServizioBean.idTipoProcedimento == null}" style="width: 100%;">
						<p:fileDownload value="#{AccordiServizioBean.scSample}"/>
					</p:commandButton>

				</p:panelGrid>
			</p:fieldset>

		</div>
		
	</ui:define>
</ui:composition>