<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<ui:define name="centralSectionContent">
		<div class="ui-widget-content generic_noborder">
			<div align="center">
				<h:outputText styleClass="generic_textBold" value="Assegnazioni automatiche per Tipi Documento/Attributi "/>
				<p:commandButton styleClass="assegnazioni-info-btn"  id="infoPanel" icon="fa fa-info" title="Informazioni aggiuntive sulle assegnazioni automatiche">
					<p:overlayPanel dismissable="true" for="infoPanel" hideEffect="fade" dynamic="true" modal="true" showCloseIcon="true" styleClass="assegnazioni-info-overlay">
       			 		<h:outputText styleClass="generic_textAlignJustify" value="Al primo match l'algoritmo si interrompe. Le regole di assegnazione sono ordinate dalla più vecchia alla più giovane."/>
       			 		<br/>
       			 		<p:separator />
				 		<p:dataTable  value="#{AssegnazioneMetadatiBean.regoleAssegnazioniInfo}" var="passo" type="ordered" styleClass="dtDescCol">
					 		<f:facet name="header">
       							Passi dell'algorimo
   							</f:facet>
				 			<p:column styleClass="textAlignCenter" headerText="Passo" style="width:100px;">
				 				<h:outputText value="#{passo.key}" />
				 			</p:column>
				 			<p:column styleClass="textAlignCenter" headerText="Attività">
				 				<h:outputText value="#{passo.value}" />
				 			</p:column>
				 		</p:dataTable>
	    			</p:overlayPanel>
				</p:commandButton>
			</div>
			
			<br/>
			<p:dataTable id="dtAssegnazioneMetadati" widgetVar="wdgDtAssegnazioneMetadati" var="assMeta" value="#{AssegnazioneMetadatiBean.assegnazioniDTH.masters}" rowKey="#{assMeta.id}" 
				styleClass="datatable" rowIndexVar="index" emptyMessage="Nessuna assegnazione metadati" sortMode="multiple" rows="15" rowsPerPageTemplate="15,30" 
				filterDelay="#{SessionBean.preferenze.autocompleteDelay}" filteredValue="#{AssegnazioneMetadatiBean.assegnazioniDTH.filteredMasters}"	
				paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
				paginatorTemplate="TOT : #{fn:length(AssegnazioneMetadatiBean.assegnazioniDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
				<p:ajax event="rowSelect" process="@this" ignoreAutoUpdate="true" update="@this"/>
				
				<p:column headerText="TIPO DOCUMENTO" styleClass="textAlignCenter" exportable="true" toggleable="false" width="15%" sortBy="#{assMeta.tipoDoc.descrizione}" filterBy="#{assMeta.tipoDoc.descrizione}">
					<h:outputText title="#{assMeta.tipoDoc.descrizione}" value="#{assMeta.tipoDoc.descrizione}"/>
				</p:column>
				
				<p:column headerText="TIPO PROCEDIMENTO" exportable="true" toggleable="false" styleClass="textAlignCenter" width="15%" sortBy="#{assMeta.tipoProc.descrizione}" filterBy="#{assMeta.tipoProc.descrizione}" >
					<h:outputText title="#{assMeta.tipoProc.descrizione}" value="#{(assMeta.tipoProc eq null or assMeta.tipoProc.descrizione eq '') ? '-' : assMeta.tipoProc.descrizione}"/>
				</p:column>
				
				<p:column headerText="ATTRIBUTO" exportable="true" toggleable="false" styleClass="textAlignCenter" sortBy="#{assMeta.metadato.name}" filterBy="#{assMeta.metadato.name}">
					<h:outputText title="#{assMeta.metadato.name}" value="#{(assMeta.metadato eq null or assMeta.metadato.name eq '') ? '-' : assMeta.metadato.name}"/>
				</p:column>
				
				<p:column headerText="VALORE" exportable="true" toggleable="false" styleClass="textAlignCenter" filterBy="#{assMeta.metadato.selectedValue}" sortBy="#{assMeta.metadato.selectedValue}" >
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'S'}" title="#{(assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '' : assMeta.metadato.selectedValue}" value="#{(assMeta.metadato eq null or assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '-' : assMeta.metadato.selectedValue}"/>
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'T'}" title="#{(assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '' : assMeta.metadato.selectedValue}" value="#{(assMeta.metadato eq null or assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '-' : assMeta.metadato.selectedValue}"/>
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'U'}" title="#{(assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '' : assMeta.metadato.selectedValue}" value="#{(assMeta.metadato eq null or assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '-' : assMeta.metadato.selectedValue}"/>
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'I'}" title="#{(assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '' : assMeta.metadato.selectedValue}" value="#{(assMeta.metadato eq null or assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '-' : assMeta.metadato.selectedValue}"/>
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'D'}" title="#{(assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '' : assMeta.metadato.selectedValue}" value="#{(assMeta.metadato eq null or assMeta.metadato.selectedValue eq null or assMeta.metadato.selectedValue eq '') ? '-' : assMeta.metadato.selectedValue}"> 
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'L'}" title="#{(assMeta.metadato.value4AttrExt eq '' or assMeta.metadato.value4AttrExt eq null) ? '' : assMeta.metadato.value4AttrExt}" value="#{(assMeta.metadato eq null or assMeta.metadato.value4AttrExt eq null or assMeta.metadato.value4AttrExt eq '') ? '-' : assMeta.metadato.value4AttrExt}"/>
					<h:outputText rendered="#{assMeta.metadato.type.code eq 'C'}" title="#{(assMeta.metadato.value4AttrExt eq '' or assMeta.metadato.value4AttrExt eq null) ? '' : assMeta.metadato.value4AttrExt}" value="#{(assMeta.metadato eq null or assMeta.metadato.value4AttrExt eq '' or assMeta.metadato.value4AttrExt eq null) ? '-' : assMeta.metadato.value4AttrExt}" />
					
					<p:outputPanel>
						<p:outputPanel rendered="#{assMeta.metadato.type.code eq 'P'}" >
							<h:outputLink rendered="#{not empty assMeta.metadato.selectedValues}" id="labelAnaValue" value="">
	        					<h:outputText value="info"/> 
	    					</h:outputLink> 
	    					<h:outputText rendered="#{empty assMeta.metadato.selectedValues}" value="-" />
	    					<p:tooltip id="tooltipPersone" for="labelAnaValue" value="Informazioni anagrafiche" position="bottom" styleClass="generic_textAlignCenter generic_width450px">
	    						<p:dataTable rendered="#{not empty assMeta.metadato.selectedValues}" value="#{assMeta.metadato.selectedValues}" var="ana">
									<p:column headerText="Nome" styleClass="textAlignCenter">
										<h:outputText title="#{ana.nome}" value="#{ana.nome}"/>
									</p:column>
									<p:column headerText="Cognome" styleClass="textAlignCenter">
										<h:outputText title="#{ana.cognome}" value="#{ana.cognome}"/>
									</p:column>
								</p:dataTable>
	    					</p:tooltip>
	    				</p:outputPanel>
					</p:outputPanel>
				</p:column>
				
				<p:column headerText="UFFICIO ASSEGNATARIO" styleClass="textAlignCenter" exportable="true" toggleable="false" width="15%" filterBy="#{assMeta.assegnatario.descrizioneUfficio}" sortBy="#{assMeta.assegnatario.descrizioneUfficio}">
					<h:outputText title="#{assMeta.assegnatario.descrizioneUfficio}" value="#{assMeta.assegnatario.descrizioneUfficio}"/>
				</p:column>
				
				<p:column headerText="UTENTE ASSEGNATARIO" styleClass="textAlignCenter" exportable="true" toggleable="false" width="15%" filterBy="#{assMeta.assegnatario.descrizioneUtente}" sortBy="#{assMeta.assegnatario.descrizioneUtente}" >
					<h:outputText title="#{assMeta.assegnatario.descrizioneUtente}" value="#{(assMeta.assegnatario.idUtente eq null or assMeta.assegnatario.idUtente eq 0) ? '-' : assMeta.assegnatario.descrizioneUtente}"/>
				</p:column>
				
				<p:column headerText="Azioni" styleClass="dtBtnCol" exportable="false" toggleable="false" width="7%">
					<p:commandButton actionListener="#{AssegnazioneMetadatiBean.eliminaAssegnazione}" icon="fa fa-close" title="Rimuovi" update="dtAssegnazioneMetadati">
						<p:confirm header="Conferma Eliminazione Assegnazione" message="Vuoi procedere con l'eliminazione?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			
			<p:outputPanel styleClass="buttonsDiv buttonsLayout">
				<p:commandButton value="Nuova" title="Nuova assegnazione" icon="fa fa-plus-square" oncomplete="PF('wdgNuovaAssegnazioneDlg').show()" actionListener="#{AssegnazioneMetadatiBean.preparaDialog}"/>
				<p:commandButton value="Elimina tutte" title="Elimina tutte le assegnazioni" icon="fa fa-remove" update="dtAssegnazioneMetadati" actionListener="#{AssegnazioneMetadatiBean.eliminaTutte}">
					<p:confirm header="Conferma Eliminazione" message="Vuoi procedere con l'eliminazione di tutte le assegnazioni?" icon="pi pi-exclamation-triangle" />
				</p:commandButton>
			</p:outputPanel>
		</div>

		<!-- DIALOG NUOVA ASSEGNAZIONE AUTOMATICA -->
		<p:dialog widgetVar="wdgNuovaAssegnazioneDlg" header="Nuova assegnazione" onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgNuovaAssegnazioneDlg');"
			resizable="false" closable="true" modal="true" fitViewport="true" showEffect="fade" hideEffect="fade" width="80%" dynamic="true"  styleClass="generic_padding0 generic_margin0 ddocumento-dlg" position="center">
			<p:outputPanel id="pnlDlgNuovaAssegnazione" styleClass="generic_noborder generic_no_background generic_padding5">
				
				<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid" style="margin-top:1%;margin-bottom:1%;">
					
					<p:outputPanel >
						<p:outputLabel title="Tipo Documento" value="Tipo Documento"/>
						<p:outputLabel value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					<p:selectOneMenu value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.tipoDoc.idTipologiaDocumento}" title="Seleziona la tipologia del documento">
						<f:selectItems value="#{AssegnazioneMetadatiBean.tipologieDocumenti}" var="tipoDoc" itemValue="#{tipoDoc.idTipologiaDocumento}" itemLabel="#{tipoDoc.descrizione}"/>
						<p:ajax event="change" listener="#{AssegnazioneMetadatiBean.loadTipologieProcedimenti}" update="idComboProc dtSelezioneMetadati pnlGridValoreMeta"/>
					</p:selectOneMenu>
					
					<p:outputLabel title="Tipo Procedimento" value="Tipo Procedimento"/>
					<p:selectOneMenu value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.tipoProc.tipoProcedimentoId}" title="Seleziona la tipologia del procedimento" id="idComboProc">
						<f:selectItems value="#{AssegnazioneMetadatiBean.tipologieProcedimenti}" var="tipoProc" itemValue="#{tipoProc.tipoProcedimentoId}" itemLabel="#{tipoProc.descrizione}"/>
						<p:ajax event="change" listener="#{AssegnazioneMetadatiBean.loadMetadati}" update="dtSelezioneMetadati pnlGridValoreMeta"/>
					</p:selectOneMenu>
				</p:panelGrid>
				
				<br/>
				
				<p:dataTable id="dtSelezioneMetadati" widgetVar="wdgDtSelezioneMetadati" var="met" value="#{AssegnazioneMetadatiBean.metadati}" rowKey="#{met.name}" 
					styleClass="datatable" rowIndexVar="index" emptyMessage="Nessun attributo selezionabile" sortMode="multiple" rows="15" rowsPerPageTemplate="15,30" 
					selectionMode="single" selection="AssegnazioneMetadatiBean.nuovaAssegnazione.metadato" 
					paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
					paginatorTemplate="TOT : #{fn:length(AssegnazioneMetadatiBean.metadati)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					
					<p:ajax event="rowSelect" listener="#{AssegnazioneMetadatiBean.rowSelector}" ignoreAutoUpdate="true" update="@this :centralSectionForm:pnlGridValoreMeta"/>
					
					<p:column headerText="NOME ATTRIBUTO" styleClass="textAlignCenter" exportable="true" toggleable="false">
						<h:outputText title="#{met.name}" value="#{met.name}"/>
					</p:column>
					
					<p:column headerText="TIPO" exportable="true" toggleable="false" styleClass="textAlignCenter">
						<h:outputText title="#{met.type}" value="#{met.type}"/>
					</p:column>
					
					<p:column headerText="DISPLAY NAME" exportable="true" toggleable="false" styleClass="textAlignCenter">
						<h:outputText title="#{met.displayName}" value="#{met.displayName}"/>
					</p:column>
					
					<p:column headerText="VISIBILITA'" styleClass="textAlignCenter" exportable="true" toggleable="false">
						<h:outputText title="#{met.visibility.description}" value="#{met.visibility.description}"/>
					</p:column>
					
					<p:column headerText="EDITABILITA'" styleClass="textAlignCenter" exportable="true" toggleable="false">
						<h:outputText title="#{met.editability.description}" value="#{met.editability.description}"/>
					</p:column>
					
					<p:column headerText="OBBLIGATORIETA'" styleClass="textAlignCenter" exportable="true" toggleable="false">
						<h:outputText title="#{met.obligatoriness.description}" value="#{met.obligatoriness.description}"/>
					</p:column>
				</p:dataTable>
				
				<br/>
				
				<p:panelGrid id="pnlGridValoreMeta" columns="4" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-3, ui-grid-col-1, ui-grid-col-2, ui-grid-col-6 ui-fluid" style="margin-top:1%;margin-bottom:1%;">
					<p:outputLabel value="Valorizzazione attributo" title="Abilita valorizzazione attributo" styleClass="generic_textBold generic_textAlignCenter"/>
					
					<p:selectBooleanCheckbox title="Abilita valorizzazione attributo" value="#{AssegnazioneMetadatiBean.checkValoreMetadato}" disabled="#{fn:length(AssegnazioneMetadatiBean.metadati) eq 0}">
						<p:ajax event="change" update="pnlGridValoreMeta" process="@this"/>
					</p:selectBooleanCheckbox>
					
					<p:outputLabel value="Valore attributo" title="Inserire valore attributo" styleClass="generic_textBold" rendered="#{not empty AssegnazioneMetadatiBean.metadati and AssegnazioneMetadatiBean.checkValoreMetadato}"/>
					
					<p:inputText rows="1" rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and (AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'T' or AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'S')}" value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.selectedValue}" maxlength="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.dimension}"/>
					
					<p:inputNumber rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and (AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'I')}" value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.selectedValue}" 
						padControl="false" thousandSeparator="" maxValue="#{AssegnazioneMetadatiBean.getMaxValue(AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.dimension)}" />
					
					<p:inputNumber rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and (AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'U')}" value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.selectedValue}" decimalSeparator="." thousandSeparator="" decimalPlaces="2"/>
					
					<p:calendar rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'D'}" navigator="true" value="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.selectedValue}"
						styleClass="generic_inputCalendar82" showOn="button" pattern="dd/MM/yyyy" disabled="#{empty AssegnazioneMetadatiBean.metadati or not AssegnazioneMetadatiBean.checkValoreMetadato}"/>
					
					<red:lookupTableComponent styleClass="generic_inputCalendar82" rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'L'}" lookupDto="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato}"/>
					
					<red:anagraficaDipendentiComponent rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'P'}" anagDto="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato}"/>
					
					<red:capitoliComponent rendered="#{AssegnazioneMetadatiBean.checkValoreMetadato and AssegnazioneMetadatiBean.nuovaAssegnazione.metadato.type.code eq 'C'}" capDto="#{AssegnazioneMetadatiBean.nuovaAssegnazione.metadato}" searchHeader="Selezionare un capitolo di spesa"/>
				</p:panelGrid>
				
				<br/>
				
				<red:assegnazioneOrganigrammaComponent 
					assegnazioneOrganigrammaCmp="#{AssegnazioneMetadatiBean.assCompetenzaOrganigrammaCmp}" labelSize="ui-g-3" inputPanelSize="ui-g-9"/>
				
				<p:outputPanel styleClass="buttonsDiv buttonsLayout" style="margin-top:1%;">
					<p:commandButton value="Registra" title="Registra" icon="fa fa-save" actionListener="#{AssegnazioneMetadatiBean.registra}" update="dtAssegnazioneMetadati" />
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" actionListener="#{AssegnazioneMetadatiBean.pulisciCampi}" onclick="PF('wdgNuovaAssegnazioneDlg').hide()" styleClass="uniqueCloseButton" update="pnlDlgNuovaAssegnazione"/>
				</p:outputPanel>
			</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>