<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" role="presentation" style="margin-top:20px">
		
		<p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{not SessionBean.utente.ucb}">
	    	<p:outputPanel styleClass="contatori-panel-title">
	        	<p:outputLabel value="Da Lavorare"/>
	        </p:outputPanel>
	        <p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
	        	<p:outputPanel>
	                <span class="fa fa-suitcase" style="margin-right: 5px;"/>
	            </p:outputPanel>
	            <p:outputLabel value="In coda"/>
	            <p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink action="#{SessionBean.gotoDaLavorare}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.daLavorare}"/>
                   	</p:commandLink>
	            </p:outputPanel>
	            <p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Da Lavorare"/>
	            </p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink disabled="#{SessionBean.countDocInScadenza.daLavorare le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.DA_LAVORARE)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.daLavorare}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.utente.ucb}">
	    	<p:outputPanel styleClass="contatori-panel-title">
	        	<p:outputLabel value="Da Lavorare"/>
	        </p:outputPanel>
	        <p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
	        	<p:outputPanel>
	                <span class="fa fa-suitcase" style="margin-right: 5px;"/>
	            </p:outputPanel>
	            <p:outputLabel value="In coda"/>
	            <p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink action="#{SessionBean.gotoDaLavorareUCB}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.daLavorareUCB}"/>
                   	</p:commandLink>
	            </p:outputPanel>
	            <p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Da Lavorare"/>
	            </p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink disabled="#{SessionBean.countDocInScadenza.daLavorareUCB le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.DA_LAVORARE_UCB)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.daLavorareUCB}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.utente.ucb}">
	    	<p:outputPanel styleClass="contatori-panel-title">
	        	<p:outputLabel value="In Lavorazione"/>
	        </p:outputPanel>
	        <p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
	        	<p:outputPanel>
	                <span class="fa fa-wrench" style="margin-right: 5px;"/>
	            </p:outputPanel>
	            <p:outputLabel value="In coda"/>
	            <p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink action="#{SessionBean.gotoInLavorazioneUCB}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.inLavorazioneUCB}"/>
                   	</p:commandLink>
	            </p:outputPanel>
	            <p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda In Lavorazione"/>
	            </p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink disabled="#{SessionBean.countDocInScadenza.inLavorazioneUCB le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.IN_LAVORAZIONE_UCB)}"  oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.inLavorazioneUCB}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
		</p:outputPanel>
	
	    <p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel">
	    	<p:outputPanel styleClass="contatori-panel-title">
	        	<p:outputLabel value="In Sospeso"/>
			</p:outputPanel>
	        <p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
	        	<p:outputPanel>
	            	<span class="fa fa-hourglass-half" style="margin-right: 5px;"/>
	            </p:outputPanel>
	           	<p:outputLabel value="In coda"/>
	           	<p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink action="#{SessionBean.gotoInSospeso}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                      		<h:outputText value="#{SessionBean.count.sospeso}"/>
					</p:commandLink>
	            </p:outputPanel>
	            <p:outputPanel>
	            	<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda In Sospeso"/>
				</p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.sospeso le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.SOSPESO)}" oncomplete="PF('statusDialog').show();">
		            	<h:outputText value="#{SessionBean.countDocInScadenza.sospeso}"/>
		            </p:commandLink>
	            </p:outputPanel>
			</p:panelGrid>    
		</p:outputPanel>
	
	    <p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel"  rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.LIBROFIRMA)}">
	    	<p:outputPanel styleClass="contatori-panel-title">
	        	<p:outputLabel value="Libro Firma"/>
			</p:outputPanel>
	        <p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
	        	<p:outputPanel>
	            	<span class="fa fa-pencil-square-o"  style="margin-right: 5px;"/>
	            </p:outputPanel>
	            <p:outputLabel value="In coda"/>
	            <p:outputPanel styleClass="generic_textAlignRight">
	            	<p:commandLink action="#{SessionBean.gotoLibroFirma}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.libroFirma}"/>
                   	</p:commandLink>
	            </p:outputPanel>
	            <p:outputPanel>
	                <span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Libro Firma"/>
	            </p:outputPanel>
	           	<p:outputLabel value="In scadenza"/>
	            <p:outputPanel styleClass="generic_textAlignRight">
		            <p:commandLink disabled="#{SessionBean.countDocInScadenza.libroFirma le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.NSD)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.libroFirma}"/>
		        	</p:commandLink>
				</p:outputPanel>
	        </p:panelGrid>    
	    </p:outputPanel>
	
	    <p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and not (SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta)}">
			<p:outputPanel styleClass="contatori-panel-title">
				<p:outputLabel value="Corriere"/>
			</p:outputPanel>
			<p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
				<p:outputPanel>
					<span class="fa fa-truck" style="margin-right: 5px;"/>
				</p:outputPanel>
				<p:outputLabel value="In coda"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink action="#{SessionBean.gotoCorriere}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corriere}"/>
					</p:commandLink>
				</p:outputPanel>
				<p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Corriere"/>
				</p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.corriere le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corriere}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
	    </p:outputPanel>
	    
	    <p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}">
			<p:outputPanel styleClass="contatori-panel-title">
				<p:outputLabel value="Corriere"/>
			</p:outputPanel>
			<p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
				<p:outputPanel>
					<span class="fa fa-truck" style="margin-right: 5px;"/>
				</p:outputPanel>
				<p:outputLabel value="In coda"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink action="#{SessionBean.gotoCorriereDiretto}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corrierediretto}"/>
					</p:commandLink>
				</p:outputPanel>
				<p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Corriere"/>
				</p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.corrierediretto le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE_DIRETTO)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corrierediretto}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
	    </p:outputPanel>
	    
	    <p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.CORRIERE) and SessionBean.utente.idUfficio eq SessionBean.utente.idNodoAssegnazioneIndiretta}">
			<p:outputPanel styleClass="contatori-panel-title">
				<p:outputLabel value="Da Assegnare"/>
			</p:outputPanel>
			<p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
				<p:outputPanel>
					<span class="fa fa-truck" style="margin-right: 5px;"/>
				</p:outputPanel>
				<p:outputLabel value="In coda"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink action="#{SessionBean.gotoCorriereIndiretto}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.corriereindiretto}"/>
					</p:commandLink>
				</p:outputPanel>
				<p:outputPanel>
					<span class="fa fa-clock-o" style="margin-right: 5px;" title="Documenti in scadenza nella coda Da Assegnare"/>
				</p:outputPanel>
				<p:outputLabel value="In scadenza"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink disabled="#{SessionBean.countDocInScadenza.corriereindiretto le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaDocInScadenza(DocumentQueueEnum.CORRIERE_INDIRETTO)}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.countDocInScadenza.corriereindiretto}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
	    </p:outputPanel>
	
		<p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel">
			<p:outputPanel styleClass="contatori-panel-title">
				<p:outputLabel value="Stornati"/>
			</p:outputPanel>
			<p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
				<p:outputPanel>
					<span class="fa fa-legal" style="margin-right: 5px;"/>
				</p:outputPanel>
				<p:outputLabel value="In coda"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink action="#{SessionBean.gotoStornati}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
               			<h:outputText value="#{SessionBean.count.stornati}"/>
					</p:commandLink>
				</p:outputPanel>
				<p:spacer/>
			</p:panelGrid>    
		</p:outputPanel>
		
		<p:outputPanel styleClass="ui-panelgrid-blank ui-widget-header contatori-panel" rendered="#{SessionBean.haAccessoAllaFunzionalita(permessiEnumGridMenu.SPEDIZIONE)}">
			<p:outputPanel styleClass="contatori-panel-title">
				<p:outputLabel value="In Spedizione"/>
			</p:outputPanel>
			<p:panelGrid columns="3" layout="grid" styleClass="ui-corner-all" columnClasses="ui-grid-col-2, ui-grid-col-10, ui-grid-col-3" role="presentation">
				<p:outputPanel>
					<span class="fa fa-road" style="margin-right: 5px;"/>
				</p:outputPanel>
				<p:outputLabel value="In coda"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink action="#{SessionBean.gotoInSpedizione}" styleClass="default_link" oncomplete="PF('statusDialog').show();">
                   		<h:outputText value="#{SessionBean.count.spedizione}"/>
					</p:commandLink>
				</p:outputPanel>
				<p:outputPanel>
					<span class="fa fa-warning" style="margin-right: 5px;" title="Documenti in errore nella coda In Spedizione"/>
				</p:outputPanel>
				<p:outputLabel value="In errore"/>
				<p:outputPanel styleClass="generic_textAlignRight">
					<p:commandLink disabled="#{SessionBean.count.spedizioneErrore le 0}" styleClass="default_link" action="#{CalendarioBean.goToCodaInSpedizioneDocInErrore}" oncomplete="PF('statusDialog').show();">
						<h:outputText value="#{SessionBean.count.spedizioneErrore}"/>
					</p:commandLink>
				</p:outputPanel>
			</p:panelGrid>    
	    </p:outputPanel>
		
	</p:panelGrid>  	

</ui:composition>