<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:importEnum type="it.ibm.red.business.enums.EventoCalendarioEnum" var="ece" allSuffix="ALL_ENUM_VALUES" />

	<p:dialog id="creationDialog" widgetVar="wdgCreationDialog"  header="Creazione Evento" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" onShow="onShowForClosableDlg('wdgCreationDialog')">
		<p:panelGrid id="idPnlGridPrincipale" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4">

			<p:outputPanel>
				<p:outputLabel value="Tipologia" styleClass="generic_textBold"/>
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
			<p:selectOneMenu id="idSelectTipoCreazione" value="#{CalendarioBean.eventoCreazione.tipologia}" effect="fade" styleClass="combobox obbligatorio"  style="width:127px" >
				<p:ajax event="change" update="idGridLinkEsterno, idGridContenuto"/>
				<f:selectItems value="#{CalendarioBean.eventiList}" var="item" itemLabel="#{item.description}" itemValue="#{item}" />
			</p:selectOneMenu>
			<p:outputPanel>
				<p:outputLabel value="Titolo" styleClass="generic_textBold" />
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
			<p:inputText id="idTitoloCreazione" title="Titolo" value="#{CalendarioBean.eventoCreazione.titolo}" styleClass="obbligatorio" maxlength="50"/>
			<p:outputPanel>
				<p:outputLabel value="Data inizio" styleClass="generic_textBold" />
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
			<p:calendar value="#{CalendarioBean.eventoCreazione.dataInizio}" showButtonPanel="true" pattern="dd/MM/yyyy" navigator="true" showOn="button"  styleClass="calendar-eventi obbligatorio"/>
			<p:outputPanel>
				<p:outputLabel value="Data fine" styleClass="generic_textBold"/>
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar"/>
			</p:outputPanel>
			<p:calendar value="#{CalendarioBean.eventoCreazione.dataScadenza}" showButtonPanel="true" pattern="dd/MM/yyyy" navigator="true" showOn="button" styleClass="calendar-eventi obbligatorio"/>
		</p:panelGrid>
		
		<p:panelGrid id="idGridLinkEsterno" columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12"  >
	 		<p:outputLabel value="Link Esterno" styleClass="generic_textBold" rendered="#{CalendarioBean.eventoCreazione.tipologia == ece.NEWS}"/>
			<p:inputText value="#{CalendarioBean.eventoCreazione.linkEsterno}" title="Link Esterno"  styleClass="link-esterno" rendered="#{CalendarioBean.eventoCreazione.tipologia == ece.NEWS}"/>
		</p:panelGrid>

		<p:panelGrid id="idPnlGridStruttura" columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12" rendered="#{CalendarioBean.adminFlag}" >
			
			<!-- Struttura -->
			<p:commandButton id="idStrutturaBtnCreazione" icon="fa fa-sitemap" onclick="PF('wdgStrutturaCreazioneDialog').show()" value="Struttura"  type="button" />
			<p:panel id="idAssStrutturaCreazione" >
				<p:repeat value="#{CalendarioBean.descrAssegnatarioPerCompetenza}" var="nodo">
					<p:commandButton value="#{nodo.descrizioneNodo}" process="@this" action="#{CalendarioBean.onOrgAssPerCompetenzaRemove(nodo)}" update="eastSectionForm:idAssStrutturaCreazione" icon="fa fa-times" iconPos="right"/>
				</p:repeat>
			</p:panel>
				
			<!-- Utenti -->
			<p:outputLabel value="Utenti" styleClass="generic_textBold" />
			<p:selectManyCheckbox effect="fade" filter="true" value="#{CalendarioBean.eventoCreazione.idRuoliCategoriaTarget}" filterMatchMode="contains"  styleClass="combobox" >
				<f:selectItems value="#{CalendarioBean.ruoliEvento}" var="item" itemLabel="#{item.descrizione}" itemValue="#{item.id}" />
			</p:selectManyCheckbox>
			
		</p:panelGrid>
		
		<!-- Dialog Struttura Creazione -->		
		<p:dialog for="eastSectionForm:idStrutturaBtnCreazione" hideEffect="fade" widgetVar="wdgStrutturaCreazioneDialog" closeOnEscape="true" showHeader="true" closable="true"
				  resizable="false" header="Organigramma" styleClass="dmd-tree-panel" draggable="true" dynamic="true">
			<p:tree value="#{CalendarioBean.rootAssegnazionePerCompetenza}" var="node" id="idAssCreazioneTree" selectionMode="single" dynamic="true">
				<p:ajax event="expand" update="idAssCreazioneTree" listener="#{CalendarioBean.onOrgAssPerCompetenzaNodeExpand}"/>
		        <p:ajax event="select" update="@form:idAssStrutturaCreazione" listener="#{CalendarioBean.onOrgAssPerCompetenzaSelect}" oncomplete="PF('wdgStrutturaCreazioneDialog').hide()" />
				<p:treeNode>
					<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="Ufficio" title="Ufficio" />
					<p:outputLabel rendered="#{node.idUtente == null}" value="#{node.descrizioneNodo}" />
				</p:treeNode>
			</p:tree>
		</p:dialog>

		<p:panelGrid id="idGridContenuto" columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
		
		 	<p:outputPanel>
		 		<p:outputLabel value="Contenuto" styleClass="generic_textBold"/>
		 		<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar" />
		 	</p:outputPanel>
			<p:selectOneMenu valueChangeListener="#{CalendarioBean.getSelectedTestoDefaultCreaazione}" value="#{CalendarioBean.idTestoDefault}" rendered="#{CalendarioBean.eventoCreazione.tipologia == ece.COMUNICAZIONE}" >
			    <p:ajax event="change" update="idTitoloCreazione, idContenutoCreazione" />
				<f:selectItem itemLabel="[Seleziona...]" itemValue=""/>
				<f:selectItems value="#{CalendarioBean.testiDefault}" var="testi" itemLabel="#{testi.nomeTesto}" itemValue="#{testi.idTesto}"/>
			</p:selectOneMenu>
			<p:inputTextarea id="idContenutoCreazione" title="Contenuto" value="#{CalendarioBean.eventoCreazione.contenuto}"  styleClass="contenuto-evento obbligatorio" maxlength="2000"/>
		</p:panelGrid>

		<p:panelGrid id="idPnlGridAllegato" columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12" rendered="#{CalendarioBean.adminFlag}" >
			<p:outputLabel value="Allegato" styleClass="generic_textBold"/>
			<p:outputPanel id="idPnlFileUploadCreazione" styleClass="ui-inputgroup">
				<p:inputText readonly="true" value="#{CalendarioBean.allegatoUploaded.fileName}" styleClass="textfield_input"/>
				<p:fileUpload  fileUploadListener="#{CalendarioBean.uploadAllegato}" auto="true" label="Sfoglia" mode="advanced" skinSimple="true" dragDropSupport="false" styleClass="dmd-fileUploadNew" style="height:15px;margin-top:-3px; margin-left:-4px;" 
							   update="idPnlFileUploadCreazione, idDownloadLinkCreazione" rendered="#{CalendarioBean.allegatoUploaded.fileName == null}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"  />
				<p:commandButton action="#{CalendarioBean.rimuoviFile}" update="idPnlFileUploadCreazione, idDownloadLinkCreazione" icon="fa fa-close" ajax="true" title="Rimuovi il documento" rendered="#{CalendarioBean.allegatoUploaded.fileName != null}" />
			</p:outputPanel>
<!-- 				UPLOAD ALLEGATI -->
		</p:panelGrid>
		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-10" rendered="#{CalendarioBean.adminFlag}" >
			<p:commandButton id="idDownloadLinkCreazione" title="Download #{CalendarioBean.allegatoUploaded.fileName}" icon="fa fa-download" value="Download Allegato"  ajax="false" disabled="#{CalendarioBean.allegatoUploaded.fileName == null}" >
				<p:fileDownload value="#{CalendarioBean.downloadFromCreazione()}" />
			</p:commandButton>
<!-- 				DOWNLOAD ALLEGATI -->
		</p:panelGrid>

		<div class="ui-fluid buttonsDiv">
			<p:panelGrid style="position: center;" columns="2" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10">
				<p:commandButton icon="fa fa-calendar-plus-o" value="Salva" action="#{CalendarioBean.createEvent}" />
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('wdgCreationDialog').hide();" type="button" styleClass="uniqueCloseButton"/>
			</p:panelGrid>
		</div>
	</p:dialog>
		

	<!-- Evento Utente/Comunicazione/News: dialog di lettura/modifica. -->		
	<p:dialog id="readUpdateDialog" widgetVar="comNewDialogWV" header="#{CalendarioBean.eventSelected.tipologia.description}"  modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" onShow="onShowForClosableDlg('comNewDialogWV')">
		<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4">

			<p:outputPanel>
				<p:outputLabel value="Tipologia" styleClass="generic_textBold calendarDialogAlign"/>
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar calendarDialogAlign"/>
			</p:outputPanel>
			<p:inputText title="Tipologia" value="#{CalendarioBean.eventSelected.tipologia}" readonly="true" styleClass="obbligatorio calendarDialogAlign"/>
			<p:outputPanel>
				<p:outputLabel value="Titolo" styleClass="generic_textBold calendarDialogAlign" />
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar calendarDialogAlign"/>
			</p:outputPanel>
			<p:inputText id="idTitolo" title="Titolo" value="#{CalendarioBean.eventSelected.titolo}" readonly="#{!CalendarioBean.modDlg}" styleClass="obbligatorio calendarDialogAlign" maxlength="50"/>
			<p:outputPanel>
				<p:outputLabel value="Data inizio" styleClass="generic_textBold calendarDialogAlign" />
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar calendarDialogAlign"/>
			</p:outputPanel>
			<p:calendar showButtonPanel="true" pattern="dd/MM/yyyy" navigator="true" showOn="button" value="#{CalendarioBean.eventSelected.dataInizio}" readonly="#{!CalendarioBean.modDlg}" disabled="#{!CalendarioBean.modDlg}" styleClass="calendar-eventi obbligatorio calendarDialogAlign" style="float:left!important"/>
			<p:outputPanel>
				<p:outputLabel value="Data fine" styleClass="generic_textBold calendarDialogAlign"/>
				<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar calendarDialogAlign"/>
			</p:outputPanel>
			<p:calendar showButtonPanel="true" pattern="dd/MM/yyyy" navigator="true" showOn="button" value="#{CalendarioBean.eventSelected.dataScadenza}" readonly="#{!CalendarioBean.modDlg}" disabled="#{!CalendarioBean.modDlg}" styleClass="calendar-eventi obbligatorio" style="float:left!important;"/>
			
		</p:panelGrid>
		
		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12" rendered="#{CalendarioBean.eventSelected.tipologia == ece.NEWS}">
	 		<p:outputLabel value="Link Esterno" styleClass="generic_textBold" rendered="#{CalendarioBean.eventSelected.tipologia == ece.NEWS and CalendarioBean.modDlg}"/>
			<p:inputText title="Link Esterno" value="#{CalendarioBean.eventSelected.linkEsterno}" rendered="#{CalendarioBean.eventSelected.tipologia == ece.NEWS and CalendarioBean.modDlg}" readonly="#{!CalendarioBean.modDlg}" styleClass="link-esterno"/>
			<p:link value="#{CalendarioBean.eventSelected.linkEsterno}" href="#{CalendarioBean.eventSelected.linkEsterno}" rendered="#{!CalendarioBean.modDlg}" target="_blank"></p:link>
		</p:panelGrid>

		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12" rendered="#{(CalendarioBean.eventSelected.tipologia == ece.NEWS or CalendarioBean.eventSelected.tipologia == ece.COMUNICAZIONE) and CalendarioBean.modDlg}">
			
			<!-- Struttura -->
			<p:commandButton id="idStrutturaBtn" icon="fa fa-sitemap" value="Struttura" onclick="PF('wdgStrutturaOverlay').show()" rendered="#{CalendarioBean.modDlg}" type="button" />
			<p:panel id="idAssStruttura" rendered="#{CalendarioBean.modDlg}">
				<p:repeat value="#{CalendarioBean.descrAssegnatarioPerCompetenza}" var="nodo">
					<p:commandButton value="#{nodo.descrizioneNodo}" process="@this" action="#{CalendarioBean.onOrgAssPerCompetenzaRemove(nodo)}" update="eastSectionForm:idAssStruttura" icon="fa fa-times" iconPos="right"/>
				</p:repeat>
			</p:panel>
				
			<!-- Utenti -->
			<p:outputLabel value="Utenti" styleClass="generic_textBold" />
			<p:selectManyCheckbox effect="fade" filter="true" value="#{CalendarioBean.eventSelected.idRuoliCategoriaTarget}" disabled="#{!CalendarioBean.modDlg}" filterMatchMode="contains"  styleClass="combobox" >
				<f:selectItems value="#{CalendarioBean.ruoliEvento}" var="item" itemLabel="#{item.descrizione}" itemValue="#{item.id}" />
			</p:selectManyCheckbox>
			
		</p:panelGrid>
		
		<!-- Overlay Struttura Modifica -->		
		<p:dialog for="eastSectionForm:idStrutturaBtn" hideEffect="fade" widgetVar="wdgStrutturaOverlay" closeOnEscape="true" showHeader="true" closable="true"
				  resizable="false" header="Organigramma" styleClass="dmd-tree-panel" draggable="true" dynamic="true">
			<p:tree value="#{CalendarioBean.rootAssegnazionePerCompetenza}" var="node" id="idAssegnatarioStrutturaTree" selectionMode="single" styleClass="dmd-tree " dynamic="true">
				<p:ajax event="expand" update="idAssegnatarioStrutturaTree" listener="#{CalendarioBean.onOrgAssPerCompetenzaNodeExpand}"/>
		        <p:ajax event="select" update="@form:idAssStruttura" listener="#{CalendarioBean.onOrgAssPerCompetenzaSelect}" oncomplete="PF('wdgStrutturaOverlay').hide()" />
				<p:treeNode>
					<p:graphicImage rendered="#{node.idUtente == null}" url="/resources/images/tree-uff.png" alt="Ufficio" title="Ufficio"/>
					<p:outputLabel rendered="#{node.flagSegreteria}" value="Segr. - " />
					<p:outputLabel rendered="#{node.idUtente == null}" value="#{node.descrizioneNodo}" />
				</p:treeNode>
			</p:tree>
		</p:dialog>
		
		

		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
		
		 	<p:outputPanel>
		 		<p:outputLabel value="Contenuto" styleClass="generic_textBold calendarDialogAlign"/>
		 		<p:outputLabel value=" *" styleClass="generic_textBold generic_redStar calendarDialogAlign" />
		 	</p:outputPanel>
			<p:selectOneMenu valueChangeListener="#{CalendarioBean.getSelectedTestoDefault}" value="#{CalendarioBean.idTestoDefault}" rendered="#{(CalendarioBean.eventSelected.tipologia == ece.COMUNICAZIONE and CalendarioBean.adminFlag )}"  disabled="#{!CalendarioBean.modDlg}">
				<f:selectItem itemLabel="[Seleziona...]" itemValue="" rendered="#{CalendarioBean.eventSelected.tipologia == ece.COMUNICAZIONE}"/>
				<f:selectItems value="#{CalendarioBean.testiDefault}" var="testi" itemLabel="#{testi.nomeTesto}" itemValue="#{testi.idTesto}"/>
			    <p:ajax event="change" update="idContenutoEvento, idTitolo"/>
			</p:selectOneMenu>
			<p:inputTextarea id="idContenutoEvento" title="Contenuto" value="#{CalendarioBean.eventSelected.contenuto}" readonly="#{!CalendarioBean.modDlg}" styleClass="contenuto-evento obbligatorio" maxlength="2000"/>
		</p:panelGrid>

		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12" rendered="#{(CalendarioBean.eventSelected.tipologia == ece.NEWS or CalendarioBean.eventSelected.tipologia == ece.COMUNICAZIONE) and CalendarioBean.modDlg}">
			<p:outputLabel value="Allegato" styleClass="generic_textBold"/>
			<p:outputPanel id="idPnlFileUpload" styleClass="ui-inputgroup">
				<p:inputText readonly="true" value="#{CalendarioBean.allegatoUploaded.fileName}" styleClass="textfield_input"/>
				<p:fileUpload id="idUploadAllegatoEvento" fileUploadListener="#{CalendarioBean.uploadAllegato}" auto="true" label="Sfoglia" mode="advanced" skinSimple="true" dragDropSupport="false" styleClass="dmd-fileUploadNew" style="height:15px;margin-top:-3px; margin-left:-4px;" 
							  update="idPnlFileUpload, downloadLink" rendered="#{CalendarioBean.allegatoUploaded.fileName == null}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"  />
				<p:commandButton action="#{CalendarioBean.rimuoviFile}" update="idPnlFileUpload" icon="fa fa-close" ajax="true" title="Rimuovi il documento" rendered="#{CalendarioBean.allegatoUploaded.fileName != null}" />
			</p:outputPanel>
<!-- 				UPLOAD ALLEGATI -->
		</p:panelGrid>

		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-10" rendered="#{(CalendarioBean.eventSelected.tipologia == ece.NEWS or CalendarioBean.eventSelected.tipologia == ece.COMUNICAZIONE)}">
			<p:commandButton id="downloadLink" icon="fa fa-download" value="Download #{CalendarioBean.allegatoUploaded.fileName}"  ajax="false" disabled="#{CalendarioBean.allegatoUploaded.fileName == null}" >
				<p:fileDownload value="#{CalendarioBean.downloadFromDetail()}" />
			</p:commandButton>
<!-- 				DOWNLOAD ALLEGATI -->
		</p:panelGrid>

		
		<div class="ui-fluid buttonsDiv">
			<p:panelGrid style="position: center;" columns="3" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10">
				<p:commandButton icon="fa fa-pencil" value="Modifica" action="#{CalendarioBean.modificaevento}" disabled="#{!CalendarioBean.modDlg}"/>
				<p:commandButton icon="fa fa-trash" value="Elimina" action="#{CalendarioBean.eliminaEvento}" disabled="#{!CalendarioBean.modDlg}"/>
				<p:commandButton icon="fa fa-times" value="Chiudi" onclick="PF('comNewDialogWV').hide();" type="button" styleClass="uniqueCloseButton"/>
			</p:panelGrid>
		</div>
		
	</p:dialog>
		
</ui:composition>