<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

		<p:accordionPanel id="filtriPanel" widgetVar="filtri" activeIndex="-1" styleClass="accordionSearch">
			<p:tab title="Filtri di Ricerca">
				<div class="ui-fluid">
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10"
						columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
						<p:outputLabel value="Data Inizio" />
						<p:calendar showButtonPanel="true" id="dataInizio" pattern="dd/MM/yyyy" navigator="true" showOn="button" styleClass="date" value="#{CalendarioBean.ricercaDTO.dataInizio}"/>
						<p:outputLabel value="Data Fine" />
						<p:calendar showButtonPanel="true" pattern="dd/MM/yyyy" navigator="true" showOn="button" styleClass="date" style="width: 100%" value="#{CalendarioBean.ricercaDTO.dataScadenza}"/>
						<p:outputLabel value="Titolo" />
						<p:inputText value="#{CalendarioBean.ricercaDTO.titolo}" />
						<p:outputLabel value="Tipologia" />
						<p:selectOneMenu effect="fade" filter="true" filterMatchMode="contains" value="#{CalendarioBean.ricercaDTO.tipologia}" style="width: 100%" >
							<f:selectItem itemLabel="[Seleziona...]" itemValue="" />
							<f:selectItems value="#{CalendarioBean.tipologieEvento}" var="item" itemLabel="#{item.description}" itemValue="#{item}" />
						</p:selectOneMenu>
					</p:panelGrid>
					<div class="ui-fluid buttonsDiv">
						<p:panelGrid columns="5" id="panelgrid" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10"
							columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
							<h:panelGroup />
							<p:commandButton icon="fa fa-search" value="Ricerca" action="#{CalendarioBean.ricercaEventi}" update="eastSectionForm:tabHomeEast:filtriPanel, eastSectionForm:tabHomeEast:eventi, eastSectionForm:tabHomeEast:detailEvento"/>
							<p:commandButton icon="fa fa-eraser" value="Cancella" action="#{CalendarioBean.clearFiltriEventi}" update="eastSectionForm:tabHomeEast:filtriPanel"/>
							<h:panelGroup />
						</p:panelGrid>
					</div>
				</div>
			</p:tab>
		</p:accordionPanel>        
        
		<p:dataTable id="eventi" paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10,20,30,40" sortMode="single"
			selection="#{CalendarioBean.eventiDTH.currentMaster}" paginatorAlwaysVisible="false" 
			paginatorTemplate="TOT : #{fn:length(CalendarioBean.eventiDTH.masters)} {FirstPageLink}  {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			emptyMessage="Nessun Evento Presente" widgetVar="eventiDT" selectionMode="single" rowIndexVar="index"
			var="evento" rowKey="#{evento.tipologia.value == 'D' ? evento.documentTitle : evento.idEvento}" value="#{CalendarioBean.eventiDTH.masters}">
			<p:ajax event="rowSelect" listener="#{CalendarioBean.eventiDTH.rowSelector}" update="eastSectionForm:tabHomeEast:detailEvento" oncomplete="$('#eastSectionForm\\:tabHomeEast\\:detailEvento').show();"/>
			<p:ajax event="filter" oncomplete="unselectDatatable('eventiDT', 'eastSectionForm:tabHomeEast:detailEvento');"/>
			<p:ajax event="sort" oncomplete="unselectDatatable('eventiDT', 'eastSectionForm:tabHomeEast:detailEvento');"/>
			

			<p:column sortBy="#{evento.tipologia.description}" headerText="TIPOLOGIA" filterBy="#{evento.tipologia.description}" filterMatchMode="contains">
				<h:outputText title="#{evento.tipologia.description}" value="#{evento.tipologia.description}" />
			</p:column>

			<p:column sortBy="#{evento.dataInizio}" headerText="DATA INIZIO" filterBy="#{evento.dataInizio}" filterMatchMode="contains">
				<h:outputText title="Data inizio" value="#{evento.dataInizio}" rendered="#{evento.tipologia.value != 'D'}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<p:column sortBy="#{evento.dataScadenza}" headerText="DATA SCADENZA" filterBy="#{evento.dataScadenza}" filterMatchMode="contains">
				<h:outputText title="Data inizio" value="#{evento.dataScadenza}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<p:column sortBy="#{evento.titolo}" headerText="TITOLO"	filterBy="#{evento.titolo}" filterMatchMode="contains">
				<h:outputText title="#{evento.titolo}" value="#{evento.titolo}" />
			</p:column>
		</p:dataTable>

       	<h:panelGroup id="detailEvento" cellpadding="10" styleClass="centeredPanel">
			<p:panel rendered="#{CalendarioBean.eventiDTH.renderDetail}">
				<p:panelGrid id="detailGrid" rendered="#{CalendarioBean.eventiDTH.renderDetail}" columns="4" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-3, ui-grid-col-3,ui-grid-col-3, ui-grid-col-3">
					
					<p:outputLabel value="TIPOLOGIA" style="font-weight: bold;" />
					<h:outputText title="Tipologia impegno" value="#{CalendarioBean.eventiDTH.currentDetail.tipologia.description}" />
					
					<p:spacer rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value != 'D'}" />
					<p:spacer rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value != 'D'}" />
					
					<p:outputLabel value="DATA INIZIO" style="font-weight: bold;" 
						rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value != 'D'}" />
					<h:outputText title="Data inizio" rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value != 'D'}" 
						value="#{CalendarioBean.eventiDTH.currentDetail.dataInizio}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					
					<p:outputLabel value="DATA SCADENZA" style="font-weight: bold;" />
					<h:outputText title="Data scadenza" value="#{CalendarioBean.eventiDTH.currentDetail.dataScadenza}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					
				</p:panelGrid>
				<p:panelGrid rendered="#{CalendarioBean.eventiDTH.renderDetail}" columns="1" layout="grid" styleClass="ui-panelgrid-blank centeredPanel" cellpadding="10" columnClasses="ui-grid-col-12">
					<p:outputLabel value="CONTENUTO" style="font-weight: bold;" rendered="#{CalendarioBean.eventiDTH.currentDetail.contenuto != null}"/>
					<p:outputLabel value="#{CalendarioBean.eventiDTH.currentDetail.contenuto}" title="Contenuto impegno"/>

					<p:outputLabel value="TITOLO" style="font-weight: bold;"/>
					<h:outputText title="Titolo impegno" value="#{CalendarioBean.eventiDTH.currentDetail.titolo}"/>				

				</p:panelGrid>


				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="10" columnClasses="ui-grid-col-6, ui-grid-col-6 generic_textAlignCenter">

						<p:commandButton actionListener="#{CalendarioBean.showQueueDocument}" value="Code" style="width: 100%;"
							icon="fa fa-th-list" title="Vai alla coda" id="idBtnGoToCoda" 
							rendered="#{CalendarioBean.eventiDTH.renderDetail and CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'D'}"
							oncomplete="PF('overlayQueueBtn').show('#{component.clientId}');" update="eastSectionForm:pnlQueueListCalendario"/>
						<p:commandButton process="@this" icon="fa fa-pencil-square" title="Visualizza Dettaglio Esteso" ajax="true"
							action="#{CalendarioBean.openDocumentPopup}"  value="Dettaglio"  style="width: 100%;"
							rendered="#{CalendarioBean.eventiDTH.renderDetail and CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'D'}"
							update="idDettagliEstesiForm:idPanelDocumentManager"/>

						<p:commandButton id="downloadLink" icon="fa fa-download" value="Download #{CalendarioBean.eventiDTH.currentDetail.nomeAllegato}"  ajax="false" disabled="#{CalendarioBean.eventiDTH.currentDetail.nomeAllegato == null}" style="width: 100%;"
							rendered="#{(CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'C' or CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'N')}">
							<p:fileDownload value="#{CalendarioBean.downloadFromDetail()}" />
						</p:commandButton>

						<h:outputLink target="_blank" value="#{CalendarioBean.checkLinkEsterno()}"  title="#{CalendarioBean.eventiDTH.currentDetail.linkEsterno}"  style="width: 100%;text-align:center"
										rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'N' and fn:length(CalendarioBean.eventiDTH.currentDetail.linkEsterno)>0}">
								<h:outputText value="Link Esterno"/>		
						</h:outputLink>

						<h:outputText value="Link Esterno Non Presente" rendered="#{CalendarioBean.eventiDTH.currentDetail.tipologia.value == 'N' and fn:length(CalendarioBean.eventiDTH.currentDetail.linkEsterno)==0}" style="text-align:center"/>		

				</p:panelGrid>

			</p:panel>
		</h:panelGroup>
		
</ui:composition>