<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="centralSectionContent">

		<div class="ui-widget-content generic_noborder">

			<h3 class="textAlignCenter" title="Assegnazioni automatiche"> Caricamento massivo liste utenti</h3>

			<p:outputPanel id="mainPage">
				<p:dataTable style="text-align:center;" id="dtCaricate" widgetVar="wdgDtCaricate" var="lookuptable" value="#{CaricamentoMassivoBean.lookupDTH.masters}" rowKey="#{lookuptable.idLookup}" styleClass="datatable" rowIndexVar="index" 
					emptyMessage="Nessuna lista utente caricata" sortMode="multiple" rows="15" rowsPerPageTemplate="15,30" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
					paginatorTemplate="TOT : #{fn:length(CaricamentoMassivoBean.lookupDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<p:column headerText="Selettore" styleClass="generic-break-word" sortBy="#{lookuptable.selettore}" filterBy="#{lookuptable.selettore}">
						<h:outputText value="#{lookuptable.selettore}" />
					</p:column>

					<p:column headerText="Display Name" styleClass="generic-break-word" sortBy="#{lookuptable.displayName}" filterBy="#{lookuptable.displayName}">
						<h:outputText value="#{lookuptable.displayName}" />
					</p:column>

					<p:column headerText="Value" styleClass="generic-break-word" sortBy="#{lookuptable.value}" filterBy="#{lookuptable.value}">
						<h:outputText value="#{lookuptable.value}" />
					</p:column>

					<p:column headerText="Data attivazione" styleClass="generic-break-word" sortBy="#{lookuptable.dataAttivazione}" filterBy="#{lookuptable.dataAttivazione}">
						<h:outputText value="#{lookuptable.dataAttivazione}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Data disattivazione" styleClass="generic-break-word" sortBy="#{lookuptable.dataDisattivazione}" filterBy="#{lookuptable.dataDisattivazione}">
						<h:outputText value="#{lookuptable.dataDisattivazione eq 'null' ? ' - ' : lookuptable.dataDisattivazione}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			
				<p:outputPanel styleClass="buttonsDiv buttonsLayout">

					<p:commandButton value="Carica" icon="fa fa-upload" title="Carica liste da file excel" onclick="PF('dialogCaricamento').show()" actionListener="#{CaricamentoMassivoBean.preparaMascheraCaricaAssegnazioniDaFile}" update="contentDialog" />
					<p:commandButton disabled="#{empty CaricamentoMassivoBean.lookupDTH.masters}" value="Salva" title="Salva liste utenti presenti nella tabella" icon="fa fa-save" actionListener="#{CaricamentoMassivoBean.salvaLookups}" update="mainPage" >
						<p:confirm header="Conferma salvataggio" message="Vuoi procedere con il salvataggio delle liste?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
					<p:commandButton disabled="#{empty CaricamentoMassivoBean.lookupDTH.masters}" update="mainPage" value="Elimina tutti" title="Elimina tutte le liste" icon="fa fa-times" actionListener="#{CaricamentoMassivoBean.rimuoviTutti}" > 
						<p:confirm header="Conferma Eliminazione liste" message="Vuoi procedere con l'eliminazione delle liste?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>

				</p:outputPanel>
			</p:outputPanel>
		</div>

		<p:dialog widgetVar="dialogCaricamento" header="Carica liste utenti da file" resizable="false" closable="true" modal="true" showEffect="fade" hideEffect="fade" style="min-width:700px; max-width:700px;">
			<f:ajax event="close" update="mainPage" ></f:ajax>
			<p:outputPanel id="contentDialog">
				<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-3, ui-grid-col-5 ui-fluid, ui-grid-col-1 ui-fluid, ui-grid-col-3 ui-fluid"  >
					<p:outputPanel>
						<p:outputLabel value="Nome file" />
						<p:outputLabel value="*" styleClass="generic_redStar" />
					</p:outputPanel>
					<p:outputPanel >
						<p:inputText id="labelNomeFile" readonly="true" styleClass="obbligatorio" value="#{CaricamentoMassivoBean.nomeFile}" />
					</p:outputPanel>
					<p:outputPanel>
						<h:outputLabel for="labelNomeFile" id="infoFileTooltip" class="fa fa-info-circle" title="Informazioni sulla compilazione del foglio Excel"/>
						<p:tooltip for="infoFileTooltip" position="bottom">
							<h:outputText styleClass="black" value="Il formato del foglio Excel deve essere come il seguente:"/>
							<br/>
							<p:graphicImage alt="Tracciato file Excel per importazione massiva delle liste utenti" url="/resources/images/formato_excel_carica_lookup.png"/>
							<br/>
							<h:outputText styleClass="generic_textBold red" value="N.B. La riga di intestazione è a solo scopo esplicativo e non deve essere inclusa nel foglio Excel."/>
						</p:tooltip>
					</p:outputPanel>
					<p:fileUpload fileUploadListener="#{CaricamentoMassivoBean.gestisciUploadFileCaricamentoLookupT}" auto="true" label="Sfoglia" mode="advanced" skinSimple="true" dragDropSupport="false" 
						styleClass="dmd-fileUploadNew" update="contentDialog"/>

				</p:panelGrid>
				<br/>
				<center>
					<p:commandButton value="#{(empty CaricamentoMassivoBean.lookupDTH.masters or empty CaricamentoMassivoBean.nomeFile) ? 'Chiudi' : 'Ok'}" onclick="PF('dialogCaricamento').hide()" update="mainPage" /> 
				</center>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
</ui:composition>