<ui:composition template="/views/template/template_dashboard.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="centralSectionContent"> 
	
	<div>
		<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-6 textAlignLeft,ui-grid-col-6 textAlignRight" styleClass="pnlgrid_noborder">
			<p:outputLabel value="Dashboard" styleClass="dashboard-title"/>
			<p:commandButton value="Configura Widget" title="Configura Widget" icon="fa fa-cogs" styleClass="dashboard-btn" type="button" onclick="PF('dlgWidget').show()"/>
		</p:panelGrid>
	 
		<p:outputPanel id="primaryBoard" class="widget-container">
			<c:forEach var="column" items="#{DashboardBean.wdgEnum}">
			   <div id="#{column.displayName}" class="widget widget-light #{column.cssClass}" style="width:#{column.width}">		
			       <div class="widget-header-light">
					   <div class="widget-title-light">
							#{column.header}
					   </div>
					   <div class="widget-icon-light">
						   <span class="fa #{column.icona}"></span>						
					   </div>
				   </div>
		
				   <div id="body_#{column.displayName}" class="widget-body-light ">
					  <ui:include src="#{column.url}" />
					</div>
				  
				   <div class="widget-footer-light">
					   <span class="fa fa-gear" />
				   </div>
				     
			  </div>	
			 
			</c:forEach>
			 
		 </p:outputPanel>
 	</div>

	<p:dialog header="Configurazione widget Dashboard" id="idDialogWidget" widgetVar="dlgWidget" modal="true" draggable="false" resizable="false" closable="false">
		<p:pickList id="pickListWdg" value="#{DashboardBean.widgets}" var="widget" itemLabel="#{widget.displayName}" itemValue="#{widget.pk}" itemDisabled="#{DashboardBean.widgetsEliminabili[widget]}">
	        
	        <f:facet name="sourceCaption">Disponibili</f:facet>
	        <f:facet name="targetCaption">Selezionati</f:facet>
 
			<p:column style="width:20%;text-align: center;">
				<span class="fa #{widget.icona}" title="#{widget.tooltip}"/>
			</p:column>
			<p:column style="width:80%; font-size:11px">
				<h:outputText value="#{widget.displayName}" />
			</p:column> 
			<p:column style="width:10%;">
				<h:outputText value="#{widget.width}" />
			</p:column> 
		</p:pickList>

		<div style="text-align:center;margin-top: 7px;">
			<p:commandButton value="Salva" action="#{DashboardBean.salva}" style="margin-right:5px;" icon="fa fa-save" oncomplete="PF('dlgWidget').hide()" update="centralSectionForm:primaryBoard"/>
			<p:commandButton value="Chiudi" type="button" onclick="PF('dlgWidget').hide()" icon="fa fa-times"/>
		</div>
	</p:dialog>
 
	</ui:define>
</ui:composition>