<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:p="http://primefaces.org/ui" lang="it">
	<head>
		<title>Error Page</title>
		<link rel="stylesheet" type="text/css" href="/resources/css/login.css"/>
		<link rel="shortcut icon" href="/resources/images/mini_logo_sogei.png"/>
		<meta http-equiv="X-UA-Compatible" content="IE=11"/>
	</head>
	<h:body>
		<div class="loginWrapper">
			<div class="appTitle">
				<h1>RedEvo</h1>
				<h2>Errore generico</h2>
				<h3>Si consiglia di contattare l'Amministratore del Sistema per ulteriori informazioni.</h3>
			</div>
		</div>
	</h:body>
</html>