<ui:composition template="/views/template/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="westSectionContent">
		<ui:include src="./template/verticalMenu.xhtml"/>
	</ui:define>
	
	<ui:define name="centralSectionContent">

		<p:commandButton value="Nuovo Evento" action="#{CalendarioBean.onCreateEvent}" oncomplete="PF('wdgCreationDialog').show()" update="eastSectionForm:idPnlGridStruttura, eastSectionForm:idPnlGridAllegato, eastSectionForm:idPnlGridPrincipale, eastSectionForm:idSelectTipoCreazione, eastSectionForm:idGridContenuto, eastSectionForm:idGridLinkEsterno" icon="fa fa-calendar-plus-o" title="Nuovo Evento" style="float: right;margin-left: 10px;"/>
        <p:schedule styleClass="my-schedule" id="myschedule" timeFormat=" " centerHeaderTemplate="title" rightHeaderTemplate=" " value="#{CalendarioBean.lazyEventModel}" clientTimeZone="local" slotEventOverlap="false" locale="it" draggable="false">
            <p:ajax event="dateSelect" listener="#{CalendarioBean.onDateSelect}" oncomplete="PF('filtri').unselect(-1);PF('wvTabHomeEast').select(1)" update=":eastSectionForm:tabHomeEast:eventi :eastSectionForm:tabHomeEast:detailEvento :eastSectionForm:tabHomeEast:filtriPanel"/>
            <p:ajax event="eventSelect" listener="#{CalendarioBean.onEventSelect}" oncomplete="PF('filtri').unselect(-1);PF('wvTabHomeEast').select(1)" update=":eastSectionForm:tabHomeEast:eventi :eastSectionForm:tabHomeEast:detailEvento :eastSectionForm:tabHomeEast:filtriPanel "/>
        </p:schedule>
        <p:accordionPanel dynamic="true" activeIndex="-1" styleClass="generic_marginTop" cache="true" rendered="#{SessionBean.haAccessoAllaFunzionalita(afe.SCADENZARIO)}">    
        	<p:ajax event="tabChange" listener="#{CalendarioBean.loadScadenzario()}" />
        	
            <p:tab title="Struttura scadenzario">
            	<p:outputPanel id="idScadenzarioOP" rendered="#{CalendarioBean.showScadenzario}">
                <ui:include src="./scadenziario/scadenziario.xhtml"/>
                </p:outputPanel>
            </p:tab>
        
        </p:accordionPanel>
        
	</ui:define>
	
	<ui:define name="eastSectionContent">
		
		<!-- Test overlay lista code -->
	    <p:overlayPanel widgetVar="overlayQueueBtn" showEffect="fade" hideEffect="fade" dismissable="true" showCloseIcon="false" style="width:200px">
	        <p:panel id="pnlQueueListCalendario" styleClass="ui-panelgrid-blank datatableActionButtons generic_noborder">
	            <p:repeat value="#{CalendarioBean.codeCount}" var="queue" emptyMessage="Nessuna coda trovata">
	                <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank generic_noborder" columnClasses="ui-grid-col-9,ui-grid-col-3">
	                    <p:panel styleClass="actionMenuText">
	                        <p:commandLink  disabled="#{queue.key.name eq 'Non_Censito_Servizio'}" ajax="false" oncomplete="PF('statusDialog').show();" onclick="PF('statusDialog').show();" value="#{queue.key.displayName}" action="#{CalendarioBean.goToCoda(queue.key)}"  icon="#{queue.key.displayIcon}" title="La coda contiene: #{queue.value} elemento/i" />
	                    </p:panel>
	                    <span class="fa fa-info-circle" style="#{queue.key.name eq 'Non_Censito_Servizio'?'display:none':''}" title="Il Documento selezionato è presente nella coda '#{queue.key.displayName}'  #{queue.value} volta/e"/>
	                    <span class="fa fa-warning" style="#{queue.key.name eq 'Non_Censito_Servizio'?'':'display:none'}" title="Il Documento selezionato non è presente in una coda conosciuta"/>
	                    <span class="fa fa-warning" style="#{queue.key.name eq 'Non_Censito_Servizio'?'':'display:none'}" title="Il Documento selezionato si trova in una o piu code non censite dall'applicazione  ( #{CalendarioBean.listaCodeNonCensite} )"/>
	                </p:panelGrid>
	            </p:repeat>        
	        </p:panel>
	        <iframe class="cover" src="about:blank" title="Frame homepage"></iframe>
	    </p:overlayPanel>
		
		<p:tabView id="tabHomeEast" widgetVar="wvTabHomeEast" >
	        <p:tab title="Contatori">
				<ui:include src="./calendarioContatori.xhtml"/>
	        </p:tab>
	        <p:tab title="Eventi">
				<ui:include src="./calendarioEventi.xhtml"/>
	        </p:tab>
		</p:tabView>
		
		<ui:include src="./calendarioDialog.xhtml"/>

	</ui:define>
	
	
</ui:composition>