<ui:composition 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">
	
	<!-- Button per la Chiusura/Apertura Vertical Menu -->
	<p:commandButton id="idCloseWestButton" onclick="toggleDiv('westSection')" icon="fa fa-angle-left" title="Chiudi Menù" type="button" styleClass="datatableButtons resize_westSection_button resize_button_close"  />
	<p:commandButton id="idOpenWestButton" onclick="toggleDiv('westSection')" icon="fa fa-angle-right" title="Apri Menù" type="button" styleClass="datatableButtons resize_westSection_button resize_button_open"  />

</ui:composition>