<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">       
	
 	<p:outputPanel>
		<p:graphicImage id="image" value="#{SessionBean.scStampaEtichette}" stream="false" cache="false"/>
	</p:outputPanel>

</ui:composition>
