<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="centralSectionContent">

		<p:panel style="border: none!important;">

			<p:outputPanel id="tipoDocData">
				<p:outputPanel id="inputsDocumento">
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-3, ui-grid-col-6 ui-fluid,ui-grid-col-3, ui-grid-col-6 ui-fluid">
						<p:outputPanel>
							<p:outputLabel value="Nome Tipo Documento"/>
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>

						<p:inputText value="#{WizardTipiDocumentoBean.newTipoDocumento.name}" styleClass="obbligatorio ui-inputfield"/>
						<p:outputLabel value="Tipo Acquisizione"/>
						<p:selectOneMenu widgetVar="ps" value="#{WizardTipiDocumentoBean.tipoCategoria}" onchange="PF('confirm').show()">
							<f:selectItems value="#{WizardTipiDocumentoBean.tipoDocumentoModeLight}" var="mode" itemValue="#{mode.description}" itemLabel="#{mode.description}"/>
						</p:selectOneMenu>
					</p:panelGrid>

					<p:confirmDialog widgetVar="confirm" message="Sei sicuro di voler cambiare tipo acquisizione? L'azione comporterà la cancellazione dei tipi procedimento selezionati attualmente" header="Conferma selezione" severity="alert">
						<center>
							<p:commandButton value="Prosegui" icon="fa fa-pencil" actionListener="#{WizardTipiDocumentoBean.loadTipiProcedimenti}" oncomplete="PF('confirm').hide()" update="dtProcedimenti"/>
							<p:commandButton value="Annulla" icon="fa fa-close" type="button" onclick="PF('ps').selectValue(PF('ps').preShowValue.val());PF('confirm').hide()"/>
						</center>
					</p:confirmDialog>

					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputPanel>
							<p:outputLabel value="Tipologia procedimento" for="autoCompleteProc" />
							<p:outputLabel value="*" styleClass="generic_redStar"/>
						</p:outputPanel>
						<p:autoComplete minQueryLength="1" id="autoCompleteProc" value="" completeMethod="#{WizardTipiDocumentoBean.completeText}" styleClass="obbligatorio">
							<p:ajax event="itemSelect" listener="#{WizardTipiDocumentoBean.onProcedimentoSelected}" update="dtProcedimenti" />
						</p:autoComplete>
					</p:panelGrid>
				</p:outputPanel>
				<br />
				<p:dataTable id="dtProcedimenti" var="procedimento" rows="5" selectionMode="single" emptyMessage="Nessun procedimento selezionato" paginator="true" rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="true"
					paginatorPosition="bottom" paginatorTemplate="TOT : #{fn:length(WizardTipiDocumentoBean.procedimentiDTH.masters)} {FirstPageLink} {PreviousPageLink}{NextPageLink} {LastPageLink}"
					value="#{WizardTipiDocumentoBean.procedimentiDTH.masters}" rowKey="#{procedimento.descrizione}" rowStyleClass="textAlignCenter">
					<f:facet name="header">
        				Procedimenti
    				</f:facet>
					<p:column headerText="Descrizione" filterBy="#{procedimento.descrizione}" sortBy="#{procedimento.descrizione}">
						<h:outputText value="#{procedimento.descrizione}" />
					</p:column>
					<p:column headerText="Gestione" filterBy="#{procedimento.tipoGestione}" sortBy="#{procedimento.tipoGestione}">
						<h:outputText value="#{procedimento.tipoGestione}" />
					</p:column>
					<p:column headerText="Controllo" filterBy="#{procedimento.tipoControllo.description}" sortBy="#{procedimento.tipoControllo.description}">
						<h:outputText value="#{procedimento.tipoControllo.description}" />
					</p:column>
					<p:column headerText="Azioni" style="width:64px;">
						<p:commandButton actionListener="#{WizardTipiDocumentoBean.editProcedimento}" icon="fa fa-edit" title="Modifica" update="centralSectionForm:dialogPanelProcedimenti" />
						<p:commandButton actionListener="#{WizardTipiDocumentoBean.removeProcedimento}" icon="fa fa-close" title="Rimuovi" update="dtProcedimenti">
							<p:confirm header="Conferma Eliminazione Procedimento" message="Vuoi procedere con l'eliminazione del procedimento?" icon="pi pi-exclamation-triangle" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<br />
				<center>
					<p:commandButton value="Salva Tipo Documento" title="Salva tipologia documento" icon="fa fa-save" action="#{WizardTipiDocumentoBean.saveTipoDocumento}" update="tipoDocData">
						<p:confirm header="Conferma salvataggio" message="Sei sicuro di voler salvare la nuova tipologia?" icon="pi pi-exclamation-triangle" />
						<p:resetInput target="inputsDocumento" />
					</p:commandButton>
					<p:commandButton value="Annulla Tipo Documento" title="Cancella i dati del tipo documento" icon="fa fa-times" action="#{WizardTipiDocumentoBean.resetTipoDocumento}" update="tipoDocData">
						<p:resetInput target="inputsDocumento" />
						<p:confirm header="Conferma eliminazione" message="Sei sicuro di voler eliminare tutti i metadati fin'ora costruiti?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</center>
			</p:outputPanel>

			<p:dialog widgetVar="wdgMetadatoDialog" header="Gestione Metadato" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="true" width="60%">

				<p:outputPanel styleClass="width-800" id="dialogPanel">

					<h3>Caratteristiche strutturali</h3>
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputPanel>
							<p:outputLabel value="Nome metadato" />
							<p:outputLabel value="*" styleClass="generic_redStar" />
						</p:outputPanel>
						<p:inputText title="Nome proprio del metadato" value="#{WizardTipiDocumentoBean.newMetadato.name}" styleClass="obbligatorio ui-inputfield" />
						<p:outputPanel>
							<p:outputLabel value="Display name" />
						</p:outputPanel>
						<p:inputText title="Nome da visualizzare per questo metadato" value="#{WizardTipiDocumentoBean.newMetadato.displayName}" styleClass="ui-inputfield" />
						
					</p:panelGrid>

					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputPanel>
							<p:outputLabel value="Tipo dato" />
							<p:outputLabel value="*" styleClass="generic_redStar" />
						</p:outputPanel>
						<p:selectOneMenu value="#{WizardTipiDocumentoBean.newMetadato.type}">
							<f:selectItem itemLabel="Seleziona un tipo..." itemValue="" />
							<f:selectItems value="#{WizardTipiDocumentoBean.tipoDato}" var="tipoDato" itemValue="#{tipoDato.value}" itemLabel="#{tipoDato.description}" />
							<p:ajax event="change" update="selSel, selRap, selDim, selMatch, redStarDimensione, flag_range_button, comboSelettore" />
						</p:selectOneMenu>
					</p:panelGrid>

					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputPanel id="comboSelettore" >
							<p:outputLabel value="Selettore" title="Nome selettore della lookup table" />
						<p:outputLabel value="*" styleClass="generic_redStar" rendered="#{WizardTipiDocumentoBean.newMetadato.type.code eq 'L'}" />
						</p:outputPanel>
						<p:selectOneMenu id="selSel" value="#{WizardTipiDocumentoBean.newMetadato.lookupTableSelector}" disabled="#{WizardTipiDocumentoBean.newMetadato.type.code ne 'L'}">
							<f:selectItem itemLabel="Seleziona un selettore..." itemValue="" />
							<f:selectItems value="#{WizardTipiDocumentoBean.selettoriLookupTable}" var="sel" itemValue="#{sel.value}" itemLabel="#{sel.description}" />
						</p:selectOneMenu>
						<p:outputLabel value="Rappresentazione" title="Tipo di rappresentazione della lookup table" />
						<p:selectOneButton unselectable="false" id="selRap" value="#{WizardTipiDocumentoBean.newMetadato.lookupTableMode}" disabled="#{WizardTipiDocumentoBean.newMetadato.type.code ne 'L'}">
							<f:selectItems value="#{WizardTipiDocumentoBean.lookupTablePresentatioMode}" var="sel" itemValue="#{sel.value}" itemLabel="#{sel.description}" />
						</p:selectOneButton>
					</p:panelGrid>

					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputPanel id="redStarDimensione">
							<p:outputLabel value="Dimensione" title="Massimo numero di caratteri o cifre" />
							<p:outputLabel value="*" styleClass="generic_redStar" rendered="#{WizardTipiDocumentoBean.newMetadato.type.code eq 'S' or WizardTipiDocumentoBean.newMetadato.type.code eq 'I'}" />
						</p:outputPanel>
						<p:inputNumber padControl="false" thousandSeparator="" id="selDim" styleClass="obbligatorio" value="#{WizardTipiDocumentoBean.newMetadato.dimension}" disabled="#{WizardTipiDocumentoBean.newMetadato.type.code ne 'S' and WizardTipiDocumentoBean.newMetadato.type.code ne 'I'}" />
						<p:outputLabel value="Tipo di match" title="Tipo di match da utilizzare in ricerca" />
						<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newMetadato.stringMatchMode}" disabled="#{WizardTipiDocumentoBean.newMetadato.type.code ne 'S'}" id="selMatch">
							<f:selectItems value="#{WizardTipiDocumentoBean.matchStringMode}" var="mode" itemLabel="#{mode.description}" itemValue="#{mode.value}" />
						</p:selectOneButton>
					</p:panelGrid>

					<h3>Caratteristiche comportamentali</h3>
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputLabel value="Visibilità" />
						<p:selectOneMenu value="#{WizardTipiDocumentoBean.newMetadato.visibility}">
							<f:selectItems value="#{WizardTipiDocumentoBean.tipoDocumentoMode}" var="mode" itemValue="#{mode.value}" itemLabel="#{mode.description}" />
						</p:selectOneMenu>
						<p:outputLabel value="Editabilità" />
						<p:selectOneMenu value="#{WizardTipiDocumentoBean.newMetadato.editability}">
							<f:selectItems value="#{WizardTipiDocumentoBean.tipoDocumentoMode}" var="mode" itemValue="#{mode.value}" itemLabel="#{mode.description}" />
						</p:selectOneMenu>
					</p:panelGrid>

					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<p:outputLabel value="Obbligatorietà" />
						<p:selectOneMenu value="#{WizardTipiDocumentoBean.newMetadato.obligatoriness}">
							<f:selectItems value="#{WizardTipiDocumentoBean.tipoDocumentoMode}" var="mode" itemValue="#{mode.value}" itemLabel="#{mode.description}" />
						</p:selectOneMenu>
					</p:panelGrid>

					<p:panelGrid id="flag_range_button" columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid, ui-grid-col-2, ui-grid-col-4 ui-fluid">
						<h:outputText value="Flag range" title="Il dato deve essere ricercabile per range?"/>
						<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newMetadato.flagRange}" disabled="#{WizardTipiDocumentoBean.newMetadato.type.code eq 'L' or WizardTipiDocumentoBean.newMetadato.type.code eq 'C' or WizardTipiDocumentoBean.newMetadato.type.code eq 'E' or WizardTipiDocumentoBean.newMetadato.type.code eq 'P' or WizardTipiDocumentoBean.newMetadato.type.code eq 'S'}">
							<f:selectItem itemLabel="SI" itemValue="true" />
							<f:selectItem itemLabel="NO" itemValue="false" />
						</p:selectOneButton>
						<h:outputText value="Flag output" />
						<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newMetadato.flagOut}">
							<f:selectItem itemLabel="SI" itemValue="true" />
							<f:selectItem itemLabel="NO" itemValue="false" />
						</p:selectOneButton>
					</p:panelGrid>
				</p:outputPanel>

				<p:separator />
				<p:outputPanel styleClass="buttonsDiv buttonsLayout">
					<p:commandButton value="Salva Metadato" title="Salva metadato" icon="fa fa-plus-square" action="#{WizardTipiDocumentoBean.addMetadato}" update="dtMetadati, dialogPanel" />
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('wdgMetadatoDialog').hide()" />
				</p:outputPanel>

			</p:dialog>
			<p:dialog header="Caratteristiche procedimento" widgetVar="editingProcedimento" style="max-height:650px;min-height:650px;" styleClass="generic_overflow" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

				<p:outputPanel id="dialogPanelProcedimenti">

					<p:outputPanel>
						<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2, ui-grid-col-4 ui-fluid,ui-grid-col-2, ui-grid-col-4 ui-fluid">
							<p:outputLabel value="Tipo categoria" />
							<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newProcedimento.tipoControllo}">
								<f:selectItems value="#{WizardTipiDocumentoBean.tipoControllo}" var="tipo" itemValue="#{tipo.value}" itemLabel="#{tipo.description}" />
								<p:ajax event="change" update="dtRegistri, metadatiDefault" />
							</p:selectOneButton>
							<p:outputLabel value="Tipo gestione" />
							<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newProcedimento.tipoGestione}">
								<f:selectItems value="#{WizardTipiDocumentoBean.tipoGestione}" var="tipo" itemValue="#{tipo.value}" itemLabel="#{tipo.description}" />
							</p:selectOneButton>
							<p:outputLabel value="Aggiungi metadati visto" />
							<p:selectOneButton id="metadatiDefault" unselectable="false" value="#{WizardTipiDocumentoBean.visto}" disabled="#{WizardTipiDocumentoBean.newProcedimento.tipoControllo.description ne 'PREVENTIVO'}">
								<f:selectItem itemLabel="NO" itemValue="false" />
								<f:selectItem itemLabel="SI" itemValue="true" />
								<p:ajax event="change" listener="#{WizardTipiDocumentoBean.addMetadatiForVisto}" update="dtRegistri, dtMetadati" />
							</p:selectOneButton>
							<p:outputPanel>
								<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.newProcedimento.flagContabile}">
									<f:selectItem itemLabel="CONTABILE" itemValue="true" />
									<f:selectItem itemLabel="NON CONTABILE" itemValue="false" />
								</p:selectOneButton>
							</p:outputPanel>
							<p:outputPanel>
								<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4 ui-fluid, ui-grid-col-8 ui-fluid">
									<p:outputPanel>
										<p:outputLabel title="Tempo di validità in coda sospesi" value="Scadenza" />
										<p:outputLabel value="*" styleClass="generic_redStar " />
									</p:outputPanel>
									<p:panelGrid id="idPanelScadenza" columns="2" layoud="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-8 ui-fluid, ui-grid-col-4 ui-fluid">
										<p:selectOneButton unselectable="false" value="#{WizardTipiDocumentoBean.scadenzaInGiorni}">
											<f:selectItem title="Tempo in giorni" itemLabel="Giorni" itemValue="true" />
											<f:selectItem title="Tempo in minuti" itemLabel="Minuti" itemValue="false"/>
											<f:ajax update="idPanelScadenza" />
										</p:selectOneButton>
										<p:inputNumber title="tempo di scadenza" styleClass="obbligatorio" value="#{WizardTipiDocumentoBean.tempoScadenza}" decimalPlaces="0" min="0" thousandSeparator="" padControl="false" />
									</p:panelGrid>
										
								</p:panelGrid>
							</p:outputPanel>
						</p:panelGrid>
					</p:outputPanel>
					<h3>Registri</h3>

					<p:dataTable var="registro" rows="5" id="dtRegistri" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" selection="#{WizardTipiDocumentoBean.registriDTH.selectedMasters}" emptyMessage="Nessun registro" paginator="true"
						rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="true" rowStyleClass="#{registro.idTipo == 1 and (WizardTipiDocumentoBean.newProcedimento.tipoControllo.code ne 'P' or !WizardTipiDocumentoBean.visto) ? 'disabled-row' : null}"
						disabledSelection="#{registro.idTipo == 1 and (WizardTipiDocumentoBean.newProcedimento.tipoControllo.code ne 'P'  or !WizardTipiDocumentoBean.visto)}" paginatorPosition="bottom"
						paginatorTemplate="TOT : #{fn:length(WizardTipiDocumentoBean.registriDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						value="#{WizardTipiDocumentoBean.registriDTH.masters}" rowKey="#{registro.id}" sortMode="multiple">

						<p:column selectionMode="multiple" style="width:16px" />
						<p:column headerText="Nome" sortBy="#{registro.nome}" filterBy="#{registro.nome}" filterMatchMode="contains">
							<h:outputText value="#{registro.nome}" />
						</p:column>
						<p:column headerText="Tipo" sortBy="#{registro.descrizioneTipo}" filterBy="#{registro.descrizioneTipo}" filterMatchMode="contains">
							<h:outputText value="#{registro.descrizioneTipo}" />
						</p:column>
					</p:dataTable>
					<h3>Attributi</h3>

					<p:dataTable id="dtMetadati" var="metadato" rows="10" filterDelay="#{SessionBean.preferenze.autocompleteDelay}" emptyMessage="Nessun metadato" paginator="true" rowsPerPageTemplate="15,25,50" paginatorAlwaysVisible="false"
						paginatorPosition="bottom" paginatorTemplate="TOT : #{fn:length(WizardTipiDocumentoBean.metadatiDTH.masters)} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						value="#{WizardTipiDocumentoBean.metadatiDTH.masters}" rowKey="#{metadato.name}" sortMode="multiple" rowStyleClass="textAlignCenter">

						<p:column headerText="Nome" filterBy="#{metadato.name}" sortBy="#{metadato.name}" >
							<h:outputText value="#{metadato.name}" />
						</p:column>
						<p:column headerText="Display Name" filterBy="#{metadato.displayName}" sortBy="#{metadato.displayName}">
							<h:outputText value="#{empty metadato.displayName ? '-' : metadato.displayName}" />
						</p:column>
						<p:column headerText="Tipo" filterBy="#{metadato.type.description}" sortBy="#{metadato.type.description}">
							<h:outputText value="#{metadato.type.description}" />
						</p:column>
						<p:column headerText="Visibilità" filterBy="#{metadato.visibility}" sortBy="#{metadato.visibility}">
							<h:outputText value="#{metadato.visibility}" />
						</p:column>
						<p:column headerText="Editabilità" filterBy="#{metadato.editability}" sortBy="#{metadato.editability}">
							<h:outputText value="#{metadato.editability}" />
						</p:column>
						<p:column headerText="Obbligatorietà" filterBy="#{metadato.obligatoriness}" sortBy="#{metadato.obligatoriness}">
							<h:outputText value="#{metadato.obligatoriness}" />
						</p:column>
						<p:column headerText="Flag Output" filterBy="#{metadato.flagOut}" sortBy="#{metadato.flagOut}">
							<h:outputText value="#{metadato.flagOut eq 'false' ? 'NO' : 'SI'}" />
						</p:column>
						<p:column headerText="Azioni" style="width:64px;">
							<p:commandButton disabled="#{metadato.name eq 'DATA_REGISTRO' or metadato.name eq 'NOME_REGISTRO' or metadato.name eq 'NUMERO_REGISTRO'}" icon="fa fa-edit" title="Modifica metadato"
								actionListener="#{WizardTipiDocumentoBean.editMetadato}" update="centralSectionForm:dialogPanel, dtMetadati">
								<p:confirm header="Conferma Modifica Metadato" message="Vuoi procedere con la modifica del metadato? (Il metadato attuale verrà rimosso.)" icon="pi pi-exclamation-triangle" />
							</p:commandButton>
							<p:commandButton disabled="#{metadato.name eq 'DATA_REGISTRO' or metadato.name eq 'NOME_REGISTRO' or metadato.name eq 'NUMERO_REGISTRO'}" icon="fa fa-times" title="Elimina metadato"
								actionListener="#{WizardTipiDocumentoBean.removeMetadato}" update="dtMetadati">
								<p:confirm header="Conferma Eliminazione Metadato" message="Vuoi procedere con l'eleminazione del metadato?" icon="pi pi-exclamation-triangle" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
					<p:separator style="visibility:hidden;" />
					<center>
						<p:commandButton value="Aggiungi metadato" title="Aggiungi metadato" icon="fa fa-plus-square" type="button" onclick="PF('wdgMetadatoDialog').show()" />
					</center>
					<p:separator />
					<p:outputPanel styleClass="buttonsDiv buttonsLayout">
						<p:commandButton value="Salva modifiche" action="#{WizardTipiDocumentoBean.addProcedimento}" icon="fa fa-save" update="dtProcedimenti" />
						<p:commandButton value="Annulla Modifiche" action="#{WizardTipiDocumentoBean.rollbackModifiche}" title="Annulla modifiche" icon="fa fa-arrow-circle-left" update="dtProcedimenti" oncomplete="PF('editingProcedimento').hide()">
							<p:confirm header="Annulla modifica" message="Vuoi procedere con l'annullamento delle modifiche?" icon="pi pi-exclamation-triangle" />
						</p:commandButton>
						<p:commandButton value="Elimina" action="#{WizardTipiDocumentoBean.rimuoviProcedimento}" icon="fa fa-close" update="dtProcedimenti" oncomplete="PF('editingProcedimento').hide()">
							<p:confirm header="Elimina procedimento" message="Vuoi procedere con l'eliminazione del procedimento?" icon="pi pi-exclamation-triangle" />
						</p:commandButton>
					</p:outputPanel>

				</p:outputPanel>
			</p:dialog>
		</p:panel>

	</ui:define>
</ui:composition>