<ui:composition template="/views/template/template1.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:red="http://xmlns.jcp.org/jsf/composite/custom">

	<ui:define name="centralSectionContent">
		<div class="ui-widget-content generic_noborder">
		
			<h3 class="textAlignCenter" title="Assegnazioni automatiche per Capitoli spesa">Assegnazioni automatiche per Capitoli spesa</h3>
			
			
			<p:panelGrid id="pnlDlgNuovaAssegnazioneAutomaticaOut" columns="2" layout="grid" styleClass="ui-panelgrid-blank centerInput" columnClasses="ui-grid-col-6 ui-fluid, ui-grid-col-6 ui-fluid" style="margin-top:2%;">
				
				<p:outputPanel id="capitoloSpesaAssAuto" class="ui-g">
					<p:outputPanel class="ui-g-3">
						<p:outputLabel value="Capitolo di spesa" styleClass="generic_textBold"/>
						<p:outputLabel value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					<red:capitoliComponent capDto="#{WizardAssegnazioniAutomaticheBean.capitoloSpesaSelected}" inputPanelStyle="ui-g-9" inputTextStyle="obbligatorio-readonly" searchHeader="Selezionare un capitolo di spesa per l'assegnazione automatica"/>
				</p:outputPanel>
				
				<red:assegnazioneOrganigrammaComponent assegnazioneOrganigrammaCmp="#{WizardAssegnazioniAutomaticheBean.assCompetenzaOrganigrammaCmp}" withForm="false" labelSize="ui-g-3" inputPanelSize="ui-g-9"/>
				
			</p:panelGrid>
			
			<p:outputPanel styleClass="buttonsDiv buttonsLayout" style="margin-bottom:2%;">
				<p:commandButton value="Registra" title="Registra" icon="fa fa-save" actionListener="#{WizardAssegnazioniAutomaticheBean.registraAssegnazione}" update="pnlDlgNuovaAssegnazioneAutomaticaOut idButtons" /> 
			</p:outputPanel>
			
			<p:dataTable id="dtAssAuto" widgetVar="wdgDtAssAuto" var="assAuto" value="#{WizardAssegnazioniAutomaticheBean.assegnazioniDTH.masters}" rowKey="#{assAuto.guid}" 
				styleClass="datatable" rowIndexVar="index" emptyMessage="Nessuna assegnazione automatica" sortMode="multiple" rows="15" rowsPerPageTemplate="15,30" 
				filterDelay="#{SessionBean.preferenze.autocompleteDelay}" filteredValue="#{WizardAssegnazioniAutomaticheBean.assegnazioniDTH.filteredMasters}"	
				paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
				paginatorTemplate="TOT : #{WizardAssegnazioniAutomaticheBean.totLabel} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
				<p:ajax event="rowSelect" process="@this" ignoreAutoUpdate="true" update="@this"/>
				
				<p:column headerText="ANNO" styleClass="textAlignCenter" exportable="true" toggleable="false" sortBy="#{assAuto.capitoloSpesa.anno}" width="10%"
					filterBy="#{assAuto.capitoloSpesa.anno}" filterMatchMode="contains">
					<h:outputText title="#{assAuto.capitoloSpesa.anno}" value="#{assAuto.capitoloSpesa.anno}"/>
				</p:column>
				
				<p:column headerText="CODICE" exportable="true" toggleable="false" styleClass="generic-break-word" sortBy="#{assAuto.capitoloSpesa.codice}"
					filterBy="#{assAuto.capitoloSpesa.codice}" filterMatchMode="contains" width="15%">
					<h:outputText title="#{assAuto.capitoloSpesa.codice}" value="#{assAuto.capitoloSpesa.codice}"/>
				</p:column>
				
				<p:column headerText="DESCRIZIONE" exportable="true" toggleable="false" styleClass="generic-break-word" sortBy="#{assAuto.capitoloSpesa.descrizione}"
					filterBy="#{assAuto.capitoloSpesa.descrizione}" filterMatchMode="contains">
					<h:outputText title="#{assAuto.capitoloSpesa.descrizione}" value="#{assAuto.capitoloSpesa.descrizione}"/>
				</p:column>
				
				<p:column headerText="UFFICIO COMPETENTE" exportable="true" toggleable="false" styleClass="generic-break-word" sortBy="#{assAuto.assegnatario.descrizioneUfficio}" 
					filterBy="#{assAuto.assegnatario.descrizioneUfficio}" filterMatchMode="contains" width="20%">
					<h:outputText title="#{assAuto.assegnatario.descrizioneUfficio}" value="#{assAuto.assegnatario.descrizioneUfficio}"/>
				</p:column>
				
				<p:column headerText="UTENTE COMPETENTE" exportable="true" toggleable="false" styleClass="generic-break-word" sortBy="#{assAuto.assegnatario.descrizioneUtente}" 
					filterBy="#{assAuto.assegnatario.descrizioneUtente}" filterMatchMode="contains" width="20%">
					<h:outputText title="#{assAuto.assegnatario.descrizioneUtente}" value="#{assAuto.assegnatario.descrizioneUtente}"/>
				</p:column>
				
				
				<p:column headerText="Azioni" styleClass="dtBtnCol" exportable="false" toggleable="false" width="7%">
					<p:commandButton title="Elimina assegnazione automatica" icon="fa fa-times" actionListener="#{WizardAssegnazioniAutomaticheBean.eliminaAssegnazione}" update="dtAssAuto" >
						<p:confirm header="Conferma eliminazione" message="Sei sicuro di voler rimuovere l'assegnazione?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</p:column>
				
			</p:dataTable>
	
			<p:outputPanel styleClass="buttonsDiv buttonsLayout" id="idButtons">
				<p:commandButton value="Carica" title="Carica assegnazioni automatiche" icon="fa fa-upload" update="pnlDlgCaricaAssegnazioniDaFile"
					actionListener="#{WizardAssegnazioniAutomaticheBean.preparaMascheraCaricaAssegnazioniDaFile}" oncomplete="PF('wdgCaricaAssegnazioniAutomaticheDlg').show()"/>
				
				<p:commandButton value="Elimina tutte" title="Elimina tutte le assegnazioni automatiche" icon="fa fa-times" process="@this" type="button" 
					onclick="PF('dlgConfirmEliminaTutteAssAuto').show()"
					disabled="#{empty WizardAssegnazioniAutomaticheBean.assegnazioniDTH.masters or not empty WizardAssegnazioniAutomaticheBean.assegnazioniDTH.filteredMasters}"/>
			</p:outputPanel>
		</div>	
		<!-- DIALOG NUOVA ASSEGNAZIONE AUTOMATICA -->
		
		<!-- DIALOG CARICAMENTO MASSIVO ASSEGNAZIONI AUTOMATICHE DA FILE -->
		<p:dialog widgetVar="wdgCaricaAssegnazioniAutomaticheDlg" header="Carica assegnazioni automatiche da file" resizable="false" closable="true" modal="true" dynamic="true"
			onShow="dlgOnShow(this.jqId);onShowForClosableDlg('wdgCaricaAssegnazioniAutomaticheDlg')" fitViewport="true" showEffect="fade" hideEffect="fade" width="80%">
			<p:outputPanel id="pnlDlgCaricaAssegnazioniDaFile" styleClass="generic_noborder generic_no_background generic_padding5">
				
				<p:outputPanel id="assAutoFile" styleClass="ui-g ui-fluid">
					<p:outputPanel styleClass="ui-g-2"></p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-1 textAlignRight">
						<p:outputLabel value="File" styleClass="generic_textBold"/>
						<p:outputLabel value="*" styleClass="generic_redStar"/>
					</p:outputPanel>
					
					<p:outputPanel styleClass="ui-g-7 ui-inputgroup">
						<p:inputText id="nomeFileAssegnazioni" readonly="true" styleClass="obbligatorio-readonly textfield_input" 
							value="#{WizardAssegnazioniAutomaticheBean.nomeFileNuoveAssegnazioni}"/>
					
						<p:fileUpload fileUploadListener="#{WizardAssegnazioniAutomaticheBean.gestisciUploadFileNuoveAssegnazioni}" auto="true" label="Sfoglia"
							mode="advanced" skinSimple="true" dragDropSupport="false" styleClass="dmd-fileUploadNew" 
							update="nomeFileAssegnazioni, pnlDtAssAutoFile, caricaAssegnazioniDaFileBtn" 
							onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" process="@this"/>
						
						<h:outputLabel for="nomeFileAssegnazioni" id="infoFileTooltip" class="fa fa-info-circle" title="Informazioni sulla compilazione del foglio Excel"/>
						<p:tooltip for="infoFileTooltip" position="bottom">
							<h:outputText styleClass="black" value="Le informazioni associate a capitoli già presenti saranno sovrascritte."/>
							<br/>
							<h:outputText styleClass="black" value="Le informazioni associate a capitoli attualmente non presenti saranno inserite."/>
							<br/>
							<h:outputText styleClass="black" value="Il formato del foglio Excel deve essere come il seguente:"/>
							<br/>
							<p:graphicImage alt="Tracciato file Excel per importazione massiva dei capitoli" url="/resources/images/formato_excel_carica_capitoli.png" width="700"/>
							<br/>
							<h:outputText styleClass="black" value="Il campo &quot;Sentenza associata&quot; può assumere i valori 0 o 1."/>
							<br/>
							<h:outputText styleClass="generic_textBold red" 
								value="N.B. La riga di intestazione è a solo scopo esplicativo e non deve essere inclusa nel foglio Excel."/>
						</p:tooltip>
					</p:outputPanel>
				</p:outputPanel>
				
				<p:outputPanel id="pnlDtAssAutoFile" styleClass="#{empty WizardAssegnazioniAutomaticheBean.assegnazioniFileDTH.masters ? 'hide' : ''}">
					<p:outputPanel styleClass="textAlignCenter generic_padding5">
						<h:outputText styleClass="generic_textBold" value="Assegnazioni automatiche presenti nel file"/>
					</p:outputPanel>
					
					<p:dataTable id="dtAssAutoFile" widgetVar="wdgDtAssAutoFile" var="assAutoFile" value="#{WizardAssegnazioniAutomaticheBean.assegnazioniFileDTH.masters}" 
						rowKey="#{assAutoFile.guid}" styleClass="datatable" rowIndexVar="index" emptyMessage="Nessuna assegnazione automatica presente nel file" 
						rowStyleClass="#{not assAutoFile.valida ? 'disabled-row' : null}"
						rows="10" rowsPerPageTemplate="10,20" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
												
						<p:column headerText="Codice capitolo" styleClass="generic-break-word" width="15%">
							<h:outputText title="#{assAutoFile.capitoloSpesa.codice}" value="#{assAutoFile.capitoloSpesa.codice}"/>
						</p:column>
						
						<p:column headerText="Descrizione capitolo" styleClass="generic-break-word">
							<h:outputText title="#{assAutoFile.capitoloSpesa.descrizione}" value="#{assAutoFile.capitoloSpesa.descrizione}"/>
						</p:column>
						
						<p:column headerText="Anno capitolo" styleClass="textAlignCenter" width="10%">
							<h:outputText title="#{assAutoFile.capitoloSpesa.anno}" value="#{assAutoFile.capitoloSpesa.anno}"/>
						</p:column>
						
						<p:column headerText="Sentenza associata" styleClass="textAlignCenter" width="10%">
							<h:outputText title="#{assAutoFile.capitoloSpesa.flagSentenza ? 'Sì' : 'No'}" value="#{assAutoFile.capitoloSpesa.flagSentenza ? 'Sì' : 'No'}"/>
						</p:column>
						
						<p:column headerText="Ufficio assegnatario" styleClass="generic-break-word" width="18%">
							<h:outputText title="#{assAutoFile.assegnatario.descrizioneUfficio}" value="#{assAutoFile.assegnatario.descrizioneUfficio}"/>
						</p:column>
						
						<p:column headerText="Utente assegnatario" styleClass="generic-break-word" width="18%">
							<h:outputText title="#{assAutoFile.assegnatario.idUtente}" value="#{assAutoFile.assegnatario.idUtente}"/>
						</p:column>
						
						<p:column headerText="Valida" styleClass="dtBtnCol" width="7%">
							<span class="fa #{assAutoFile.valida ? 'fa-check' : 'fa-times'}"></span>
						</p:column>
						
					</p:dataTable>
				</p:outputPanel>
				
				<p:outputPanel styleClass="buttonsDiv buttonsLayout">
					<p:commandButton id="caricaAssegnazioniDaFileBtn" value="Carica assegnazioni valide" title="Carica assegnazioni valide" icon="fa fa-save"
						disabled="#{empty WizardAssegnazioniAutomaticheBean.assegnazioniFileDTH.masters}"
						actionListener="#{WizardAssegnazioniAutomaticheBean.registraNuoveAssegnazioniDaFile}"/>
					<p:commandButton value="Chiudi" title="Chiudi" icon="fa fa-times" type="button" onclick="PF('wdgCaricaAssegnazioniAutomaticheDlg').hide()"
						styleClass="uniqueCloseButton"/>
				</p:outputPanel>
			</p:outputPanel>
			
		</p:dialog>
		
		<!-- DIALOG CONFERMA ELIMINAZIONE MASSIVA ASSEGNAZIONI AUTOMATICHE -->
		<p:dialog widgetVar="dlgConfirmEliminaTutteAssAuto" header="Conferma eliminazione massiva" draggable="false" resizable="false" closable="true" 
			modal="true" fitViewport="true" showEffect="fade" hideEffect="fade"	onShow="dlgOnShow(this.jqId);onShowForClosableDlg('dlgConfirmEliminaTutteAssAuto')">
			
			<red:popupConfirmComponent interfaceInstance="#{WizardAssegnazioniAutomaticheBean.popupEliminazioneMassivaAssegnazioni}" actionOnCancel="false"
				widgetVarDialog="dlgConfirmEliminaTutteAssAuto" updateOnConfirm="@form:dtAssAuto"
				message="Eliminare definitivamente tutte le assegnazioni automatiche?">
			</red:popupConfirmComponent>
				
		</p:dialog>
		
	</ui:define>
	
</ui:composition>